@charset "UTF-8";
a {
  outline: 0;
  outline: none;
}

.grid {
  *zoom: 1;
}

.grid:before, .grid:after {
  content: '';
  display: table;
}

.grid:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.effect-bounce-updown {
  -webkit-animation-name: effectBounceUpDown;
          animation-name: effectBounceUpDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.layer-dim, .layer-dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: #000;
  opacity: .8;
  overflow: hidden;
}

.layer-review {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10001;
  max-width: 840px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.layer-review .layer-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  top: -60px;
  z-index: 10002;
}

.layer-review .layer-close:before, .layer-review .layer-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 2px;
  margin-left: -15px;
  background-color: #fff;
}

.layer-review .layer-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.layer-review .layer-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.layer-review .layer-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.layer-review .layer-box {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.layer-review .layer-box iframe, .layer-review .layer-box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: inherit;
     object-fit: inherit;
}

.product-eco .motion-1 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-2 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-3 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-4 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-5 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-6 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-7 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-8 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-9 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-10 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-11 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-12 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-box-1 {
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-box-2 {
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-box-3 {
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-box-4 {
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-box-5 {
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-scale-y-1 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .motion-scale-y-2 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .motion-scale-y-3 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .motion-scale-y-4 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .motion-scale-y-5 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .motion-scale-y-6 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-1 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.product-eco .active .motion-2 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.product-eco .active .motion-3 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.product-eco .active .motion-4 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.product-eco .active .motion-5 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

.product-eco .active .motion-6 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
}

.product-eco .active .motion-7 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1.4s;
  transition-delay: 1.4s;
}

.product-eco .active .motion-8 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1.6s;
  transition-delay: 1.6s;
}

.product-eco .active .motion-9 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1.8s;
  transition-delay: 1.8s;
}

.product-eco .active .motion-10 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 2s;
  transition-delay: 2s;
}

.product-eco .active .motion-11 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 2.2s;
  transition-delay: 2.2s;
}

.product-eco .active .motion-12 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 2.4s;
  transition-delay: 2.4s;
}

.product-eco .active .motion-box-1 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.product-eco .active .motion-box-2 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.product-eco .active .motion-box-3 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.product-eco .active .motion-box-4 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.product-eco .active .motion-box-5 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.product-eco .active .motion-scale-y-1 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-scale-y-2 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-scale-y-3 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-scale-y-4 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-scale-y-5 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-scale-y-6 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco {
  overflow-x: hidden;
}

.product-eco * {
  line-height: normal;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.product-eco .container {
  position: relative;
}

.product-eco .container .item {
  position: relative;
}

.product-eco .wrap {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  width: 100%;
}

.product-eco .only-pc {
  display: none;
}

.product-eco .only-mobile {
  display: block;
}

.product-eco .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  content: '';
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-indent: -9999px;
  display: block;
  cursor: pointer;
  width: 1.40625rem;
  height: 2.21875rem;
  margin-top: -0.78125rem;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow {
    width: 45px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow {
    height: 71px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow {
    margin-top: -25px;
  }
}

.product-eco .slick-arrow.slick-prev {
  left: -2.5rem;
  background: url("https://img.eduwill.net/eduwill/img/2021/_105/product/210823/mobile/btn_prev.png") 0 0 no-repeat;
  background-size: cover;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev {
    left: -80px;
  }
}

.product-eco .slick-arrow.slick-next {
  right: -2.5rem;
  background: url("https://img.eduwill.net/eduwill/img/2021/_105/product/210823/mobile/btn_next.png") 0 0 no-repeat;
  background-size: cover;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next {
    right: -80px;
  }
}

.product-eco .onair-flag {
  position: fixed;
  bottom: 50px;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  width: 100%;
}

.product-eco .onair-flag a {
  position: relative;
  display: inline-block;
}

.product-eco .onair-flag a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  display: block;
  width: 1.03125rem;
  height: 1.34375rem;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounce;
          animation-name: pointerBounce;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .onair-flag a:after {
    width: 33px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .onair-flag a:after {
    height: 43px;
  }
}

@-webkit-keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@media screen and (min-width: 530px) {
  .product-eco .onair-flag a {
    position: relative;
    display: inline-block;
  }
  .product-eco .onair-flag a:after {
    content: '';
    position: absolute;
    top: 60%;
    right: 2%;
    z-index: 1;
    display: block;
    width: 1.5625rem;
    height: 1.875rem;
    background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
    background-size: 100% auto;
    -webkit-animation-name: pointerBounce;
            animation-name: pointerBounce;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-direction: normal;
            animation-direction: normal;
  }
}

@media screen and (min-width: 530px) and (min-width: 720px) {
  .product-eco .onair-flag a:after {
    width: 50px;
  }
}

@media screen and (min-width: 530px) and (min-width: 720px) {
  .product-eco .onair-flag a:after {
    height: 60px;
  }
}

@media screen and (min-width: 530px) {
  @-webkit-keyframes pointerBounce {
    0%, 100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    50% {
      -webkit-transform: translate(-10px, -10px);
      transform: translate(-10px, -10px);
    }
  }
  @keyframes pointerBounce {
    0%, 100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    50% {
      -webkit-transform: translate(-10px, -10px);
      transform: translate(-10px, -10px);
    }
  }
}

.product-eco .product-title {
  background-color: #ffffff;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_105/product/210823/mobile/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .product-price {
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, white), to(#f6f6f6));
  background: linear-gradient(to bottom, white 80%, #f6f6f6 100%);
}

.product-eco .product-price .price-list {
  position: absolute;
  top: 26.87919%;
  left: 52.77778%;
  width: 41.66667%;
  height: 36.91275%;
}

.product-eco .product-price .price-list div {
  font-size: 5.55556vw;
  color: #222222;
  font-weight: 500;
  margin-bottom: 65%;
}

@media screen and (min-width: 720px) {
  .product-eco .product-price .price-list div {
    font-size: 40px;
  }
}

.product-eco .product-price .discount {
  position: absolute;
  top: 67.63087%;
  left: 32.63889%;
  font-size: 5.55556vw;
  font-weight: 800;
  color: #ffffff;
}

@media screen and (min-width: 720px) {
  .product-eco .product-price .discount {
    font-size: 40px;
  }
}

.product-eco .product-price .price-box {
  width: 100%;
  position: absolute;
  top: 77.97763%;
}

.product-eco .product-price .price-box div {
  font-size: 9.72222vw;
  font-weight: 800;
  display: inline-block;
}

@media screen and (min-width: 720px) {
  .product-eco .product-price .price-box div {
    font-size: 70px;
  }
}

.product-eco .product-price .price-box div span {
  font-size: 8.33333vw;
}

@media screen and (min-width: 720px) {
  .product-eco .product-price .price-box div span {
    font-size: 60px;
  }
}

.product-eco .product-price .price-box div.before-price {
  color: #999999;
  margin-right: 3%;
}

.product-eco .product-price .price-box div.after-price {
  color: #f00000;
  margin-left: 5%;
}

.product-eco .product-plus {
  background-color: #5527a8;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_105/product/210823/mobile/bg_plus.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .product-plus .img-icon {
  position: absolute;
  width: 18.33333%;
  top: -3%;
  left: 40.97222%;
}

.product-eco .product-banner {
  background-color: #251b34;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_105/product/210823/mobile/bg_banner.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .product-teacher {
  padding-bottom: 3.75rem;
  background-color: #f6f6f6;
}

@media screen and (min-width: 720px) {
  .product-eco .product-teacher {
    padding-bottom: 120px;
  }
}

.product-eco .product-teacher .teacher-slider {
  width: 76.38889%;
  margin: 0 auto;
}

.product-eco .product-tab {
  z-index: 500;
  background: #222222;
}

.product-eco .product-tab .tab-list {
  width: 100%;
  display: table;
}

.product-eco .product-tab .tab-list li {
  position: relative;
  display: inline-block;
  width: 33%;
  padding: 1.25rem 0;
  vertical-align: middle;
  letter-spacing: -1.5px;
  font-size: 4.16667vw;
  font-weight: 600;
}

@media screen and (min-width: 720px) {
  .product-eco .product-tab .tab-list li {
    padding: 40px 0;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .product-tab .tab-list li {
    font-size: 30px;
  }
}

.product-eco .product-tab .tab-list li.on {
  color: #000000;
}

.product-eco .product-tab .tab-list li.on span {
  padding: 3% 10%;
  background: #ffffff;
  border-radius: 4.6875rem;
}

@media screen and (min-width: 720px) {
  .product-eco .product-tab .tab-list li.on span {
    border-radius: 150px;
  }
}

.product-eco .product-tab1-video .vidoe-box {
  width: 86.11111%;
  margin: 0 auto;
  position: relative;
}

.product-eco .product-tab1-video .vidoe-box .eduwill-video-play {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.product-eco .product-tab1-video .vidoe-box a {
  display: inline-block;
}

.product-eco .product-tab1-review {
  padding-bottom: 6.25rem;
  background-color: #ffffff;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_105/product/210823/mobile/bg_tab1_review.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

@media screen and (min-width: 720px) {
  .product-eco .product-tab1-review {
    padding-bottom: 200px;
  }
}

.product-eco .product-tab1-review .review-slider .slick-dots {
  position: relative;
  font-size: 0;
  text-align: center;
}

.product-eco .product-tab1-review .review-slider .slick-dots li {
  display: inline-block;
  margin: 0 0.1875rem;
}

@media screen and (min-width: 720px) {
  .product-eco .product-tab1-review .review-slider .slick-dots li {
    margin: 0 6px;
  }
}

.product-eco .product-tab1-review .review-slider .slick-dots li.slick-active button {
  width: 2.875rem;
  border-radius: 1.5625rem;
  background-color: #ffbe00;
}

@media screen and (min-width: 720px) {
  .product-eco .product-tab1-review .review-slider .slick-dots li.slick-active button {
    width: 92px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .product-tab1-review .review-slider .slick-dots li.slick-active button {
    border-radius: 50px;
  }
}

.product-eco .product-tab1-review .review-slider .slick-dots button {
  display: block;
  width: 1rem;
  height: 0.9375rem;
  color: transparent;
  border: none;
  border-radius: 50%;
  background-color: #bbb;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .product-eco .product-tab1-review .review-slider .slick-dots button {
    width: 32px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .product-tab1-review .review-slider .slick-dots button {
    height: 30px;
  }
}

.product-eco .product-tab1-curriculum {
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, white), to(#f6f6f6));
  background: linear-gradient(to bottom, white 80%, #f6f6f6 100%);
}

.product-eco .product-tab2-review {
  background: #9c835a;
}

.product-eco .product-tab2-curriculum {
  background: #f6f6f6;
}

.product-eco .product-tab3-review {
  background: #9c835a;
}

.product-eco .product-tab3-curriculum {
  background-color: #ffffff;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_105/product/210823/mobile/bg_tab3_curriculum.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .product-benefit-3 .benefit-slider {
  width: 86.11111%;
  margin: 0 auto;
  margin-bottom: 3.75rem;
}

@media screen and (min-width: 720px) {
  .product-eco .product-benefit-3 .benefit-slider {
    margin-bottom: 120px;
  }
}

.product-eco .product-benefit-3 .benefit-slider .slick-dots {
  position: relative;
  font-size: 0;
  text-align: center;
  margin-top: 5%;
}

.product-eco .product-benefit-3 .benefit-slider .slick-dots li {
  display: inline-block;
  margin: 0 0.1875rem;
}

@media screen and (min-width: 720px) {
  .product-eco .product-benefit-3 .benefit-slider .slick-dots li {
    margin: 0 6px;
  }
}

.product-eco .product-benefit-3 .benefit-slider .slick-dots li.slick-active button {
  width: 2.875rem;
  border-radius: 1.5625rem;
  background-color: #ffbe00;
}

@media screen and (min-width: 720px) {
  .product-eco .product-benefit-3 .benefit-slider .slick-dots li.slick-active button {
    width: 92px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .product-benefit-3 .benefit-slider .slick-dots li.slick-active button {
    border-radius: 50px;
  }
}

.product-eco .product-benefit-3 .benefit-slider .slick-dots button {
  display: block;
  width: 1rem;
  height: 0.9375rem;
  color: transparent;
  border: none;
  border-radius: 50%;
  background-color: #bbb;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .product-eco .product-benefit-3 .benefit-slider .slick-dots button {
    width: 32px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .product-benefit-3 .benefit-slider .slick-dots button {
    height: 30px;
  }
}

.product-eco .product-benefit-3 .benefit1 {
  position: relative;
}

.product-eco .product-benefit-3 .benefit1 .action {
  width: 72.22222%;
  position: absolute;
  top: 25.56818%;
  left: 13.75%;
}

.product-eco .product-benefit-3 .benefit2 {
  position: relative;
}

.product-eco .product-benefit-3 .benefit2 .action {
  width: 54.16667%;
  position: absolute;
  top: 33.69141%;
  left: 10.69444%;
}

.product-eco .product-certificate, .product-eco .product-gift {
  background: #f6f6f6;
}

.product-eco .product-banner-2 {
  background: #1a2553;
}

.product-eco .product-teacher-2 {
  background: #fffacf;
}

.product-eco .product-teacher-2 .link-btn {
  position: absolute;
  top: 82.2%;
  left: 29.16%;
  width: 42.08%;
}

.product-eco .product-success .slider-wrap {
  margin-bottom: 5.3125rem;
}

@media screen and (min-width: 720px) {
  .product-eco .product-success .slider-wrap {
    margin-bottom: 170px;
  }
}

.product-eco .product-success .slick-slide {
  margin: 0 0.625rem;
  padding: 0 0 1.25rem 0;
  opacity: .3;
  -webkit-filter: blur(0);
          filter: blur(0);
}

@media screen and (min-width: 720px) {
  .product-eco .product-success .slick-slide {
    margin: 0 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .product-success .slick-slide {
    padding: 0 0 40px 0;
  }
}

.product-eco .product-success .slick-slide.slick-active {
  opacity: .3;
  -webkit-filter: blur(0);
          filter: blur(0);
}

.product-eco .product-success .slick-slide.slick-center {
  opacity: 1;
  -webkit-filter: blur(1);
          filter: blur(1);
}

.product-eco .product-success .slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: -0.25rem;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .product-eco .product-success .slick-dots {
    bottom: -8px;
  }
}

.product-eco .product-success .slick-dots li {
  display: inline-block;
  margin: 0 0.1875rem;
}

@media screen and (min-width: 720px) {
  .product-eco .product-success .slick-dots li {
    margin: 0 6px;
  }
}

.product-eco .product-success .slick-dots li button {
  cursor: pointer;
  text-indent: -10000em;
  border: 0;
  border-radius: 50%;
  width: 0.625rem;
  height: 0.625rem;
  background-color: #b2b2b2;
}

@media screen and (min-width: 720px) {
  .product-eco .product-success .slick-dots li button {
    width: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .product-success .slick-dots li button {
    height: 20px;
  }
}

.product-eco .product-success .slick-dots li.slick-active button {
  width: 1.71875rem;
  border-radius: 50px;
  background-color: #1a2553;
}

@media screen and (min-width: 720px) {
  .product-eco .product-success .slick-dots li.slick-active button {
    width: 55px;
  }
}

.product-eco .product-network {
  background: #fffacf;
  padding-bottom: 20%;
}

.product-eco .product-network .slider {
  width: 86.11%;
  margin: 0 auto;
}

.product-eco .product-network .slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: -2.8125rem;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .product-eco .product-network .slick-dots {
    bottom: -90px;
  }
}

.product-eco .product-network .slick-dots li {
  display: inline-block;
  margin: 0 0.1875rem;
}

@media screen and (min-width: 720px) {
  .product-eco .product-network .slick-dots li {
    margin: 0 6px;
  }
}

.product-eco .product-network .slick-dots li button {
  cursor: pointer;
  text-indent: -10000em;
  border: 0;
  border-radius: 50%;
  width: 0.625rem;
  height: 0.625rem;
  background-color: #b2b2b2;
}

@media screen and (min-width: 720px) {
  .product-eco .product-network .slick-dots li button {
    width: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .product-network .slick-dots li button {
    height: 20px;
  }
}

.product-eco .product-network .slick-dots li.slick-active button {
  border-radius: 50px;
  background-color: #1a2553;
}

.product-eco .product-winner {
  background: #fffacf;
}

.product-eco .product-winner .action a {
  position: absolute;
  top: 78.22%;
  left: 6.94%;
  width: 86.11%;
}

.product-eco .product-price-contents .price-list {
  position: absolute;
  top: 37.12297%;
  left: 52.77778%;
  width: 41.66667%;
  height: 51.04408%;
}

.product-eco .product-price-contents .price-list div {
  font-size: 5.55556vw;
  color: #222222;
  font-weight: 500;
  margin-bottom: 78%;
}

@media screen and (min-width: 720px) {
  .product-eco .product-price-contents .price-list div {
    font-size: 40px;
  }
}

.onair-fixed-banner {
  position: fixed;
  z-index: 5001;
  background: rgba(0, 0, 0, 0.75);
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
}

.onair-fixed-banner a {
  position: relative;
  display: inline-block;
}

.onair-fixed-banner a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 2%;
  z-index: 1;
  display: block;
  width: 1.78125rem;
  height: 2.03125rem;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounce;
          animation-name: pointerBounce;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .onair-fixed-banner a:after {
    width: 57px;
  }
}

@media screen and (min-width: 720px) {
  .onair-fixed-banner a:after {
    height: 65px;
  }
}

@keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}
/*# sourceMappingURL=mobile.css.map */