@charset "UTF-8";
a {
  outline: 0;
  outline: none;
}

.grid {
  *zoom: 1;
}

.grid:before, .grid:after {
  content: '';
  display: table;
}

.grid:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.effect-bounce-updown {
  -webkit-animation-name: effectBounceUpDown;
          animation-name: effectBounceUpDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.layer-dim, .layer-dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: #000;
  opacity: .8;
  overflow: hidden;
}

.layer-review {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10001;
  max-width: 840px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.layer-review .layer-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  top: -60px;
  z-index: 10002;
}

.layer-review .layer-close:before, .layer-review .layer-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 2px;
  margin-left: -15px;
  background-color: #fff;
}

.layer-review .layer-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.layer-review .layer-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.layer-review .layer-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.layer-review .layer-box {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.layer-review .layer-box iframe, .layer-review .layer-box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: inherit;
     object-fit: inherit;
}

.product-eco .motion-1 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-2 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-3 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-4 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-5 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-6 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-7 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-8 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-9 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-10 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-11 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-12 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-box-1 {
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-box-2 {
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-box-3 {
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-box-4 {
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-box-5 {
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-scale-y-1 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .motion-scale-y-2 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .motion-scale-y-3 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .motion-scale-y-4 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .motion-scale-y-5 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .motion-scale-y-6 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-1 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.product-eco .active .motion-2 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.product-eco .active .motion-3 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.product-eco .active .motion-4 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.product-eco .active .motion-5 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

.product-eco .active .motion-6 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
}

.product-eco .active .motion-7 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1.4s;
  transition-delay: 1.4s;
}

.product-eco .active .motion-8 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1.6s;
  transition-delay: 1.6s;
}

.product-eco .active .motion-9 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1.8s;
  transition-delay: 1.8s;
}

.product-eco .active .motion-10 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 2s;
  transition-delay: 2s;
}

.product-eco .active .motion-11 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 2.2s;
  transition-delay: 2.2s;
}

.product-eco .active .motion-12 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 2.4s;
  transition-delay: 2.4s;
}

.product-eco .active .motion-box-1 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.product-eco .active .motion-box-2 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.product-eco .active .motion-box-3 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.product-eco .active .motion-box-4 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.product-eco .active .motion-box-5 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.product-eco .active .motion-scale-y-1 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-scale-y-2 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-scale-y-3 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-scale-y-4 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-scale-y-5 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-scale-y-6 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco {
  overflow-x: hidden;
}

.product-eco * {
  line-height: normal;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.product-eco .container {
  position: relative;
}

.product-eco .container .item {
  position: relative;
}

.product-eco .wrap {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap .product-full {
  width: 100%;
}

.product-eco .only-pc {
  display: block;
}

.product-eco .only-mobile {
  display: none;
}

.product-eco .slick-dots {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.product-eco .slick-dots li {
  display: inline-block;
  margin: 0 6px;
}

.product-eco .slick-dots li button {
  width: 20px;
  height: 20px;
  text-indent: -9999em;
  border: none;
  border-radius: 50%;
  background-color: #d8d8d8;
  outline: none;
  cursor: pointer;
}

.product-eco .slick-dots li.slick-active button {
  width: 20px;
  border-radius: 15px;
  background-color: #1a2553;
}

.product-eco .onair-flag {
  position: fixed;
  top: 20%;
  left: 3%;
  z-index: 100;
}

.product-eco .onair-flag a {
  position: relative;
  display: inline-block;
}

.product-eco .onair-flag a:after {
  content: '';
  position: absolute;
  top: 90%;
  right: 0;
  z-index: 1;
  display: block;
  width: 1.40625rem;
  height: 1.71875rem;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounce;
          animation-name: pointerBounce;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .onair-flag a:after {
    width: 45px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .onair-flag a:after {
    height: 55px;
  }
}

@-webkit-keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.product-eco .product-title {
  background-color: #ffffff;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_105/product/210823/pc/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .product-title .img-flag {
  position: absolute;
  top: 118px;
  right: -110px;
}

.product-eco .product-price {
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, white), to(#f6f6f6));
  background: linear-gradient(to bottom, white 80%, #f6f6f6 100%);
}

.product-eco .product-price .price-list {
  position: absolute;
  top: 504px;
  left: 120px;
  font-size: 34px;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  color: #222222;
}

.product-eco .product-price .price-list div {
  display: inline-block;
  margin-right: 220px;
}

.product-eco .product-price .price-list div.price3 {
  margin-right: 0;
}

.product-eco .product-price .price-box {
  position: absolute;
  top: 734px;
  left: 345px;
}

.product-eco .product-price .price-box div {
  font-size: 70px;
  font-weight: 800;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  display: inline-block;
}

.product-eco .product-price .price-box div span {
  font-size: 60px;
}

.product-eco .product-price .price-box div.before-price {
  color: #999999;
  margin-right: 60px;
}

.product-eco .product-price .price-box div.after-price {
  color: #f00000;
  margin-right: 65px;
}

.product-eco .product-price .discount {
  position: absolute;
  bottom: 176px;
  right: 168px;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 30px;
  font-weight: 800;
  color: #ffffff;
}

.product-eco .product-plus {
  background-color: #5527a8;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_105/product/210823/pc/bg_plus.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .product-plus .img-icon {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  top: -50px;
}

.product-eco .product-banner {
  background-color: #251b34;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_105/product/210823/pc/bg_banner.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .product-teacher {
  background: #f6f6f6;
}

.product-eco .product-tab {
  z-index: 500;
  padding-top: 10px;
  background: #222222;
}

.product-eco .product-tab .tab-list {
  display: table;
  width: 1205px;
  margin: 0 auto;
}

.product-eco .product-tab .tab-list li {
  position: relative;
  display: inline-block;
  width: 399px;
  padding: 15px 0;
  vertical-align: middle;
  letter-spacing: -1.5px;
  background-color: #dcdcdc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #999999;
  font-size: 20px;
  margin-right: 1px;
}

.product-eco .product-tab .tab-list li span {
  font-size: 24px;
  font-weight: 600;
}

.product-eco .product-tab .tab-list li:last-child {
  margin-right: 0;
}

.product-eco .product-tab .tab-list li.on {
  background: #ffffff;
  color: #000000;
}

.product-eco .product-tab1-video .vidoe-box {
  position: relative;
  width: 1000px;
  height: 560px;
  margin: 0 auto;
}

.product-eco .product-tab1-video .vidoe-box .eduwill-video-play {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.product-eco .product-tab1-video .vidoe-box a {
  display: inline-block;
}

.product-eco .product-tab1-review {
  background-color: #ffffff;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_105/product/210823/pc/bg_tab1_review.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .product-tab1-curriculum {
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, white), to(#f6f6f6));
  background: linear-gradient(to bottom, white 80%, #f6f6f6 100%);
}

.product-eco .product-tab2-teacher .img-teacher {
  position: absolute;
  bottom: -55px;
  left: 50px;
  z-index: 10;
}

.product-eco .product-tab2-review {
  background: #9c835a;
}

.product-eco .product-tab2-curriculum {
  background: #f6f6f6;
}

.product-eco .product-tab3-review {
  background: #9c835a;
}

.product-eco .product-tab3-curriculum {
  background-color: #ffffff;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_105/product/210823/pc/bg_tab3_curriculum.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .product-benefit-3 .benefit-slider .slick-dots {
  position: absolute;
  top: 10px;
  right: 25px;
  text-align: right;
}

.product-eco .product-benefit-3 .benefit-slider .slick-dots li {
  display: inline-block;
  margin: 0 6px;
}

.product-eco .product-benefit-3 .benefit-slider .slick-dots li button {
  width: 16px;
  height: 16px;
  text-indent: -9999em;
  border: none;
  border-radius: 50%;
  background-color: #feffff;
  outline: none;
  cursor: pointer;
}

.product-eco .product-benefit-3 .benefit-slider .slick-dots li.slick-active button {
  width: 50px;
  border-radius: 15px;
}

.product-eco .product-certificate, .product-eco .product-gift {
  background: #f6f6f6;
}

.product-eco .product-banner-2 {
  background: #1a2553;
}

.product-eco .product-banner-2 .wrap {
  width: 1100px;
}

.product-eco .product-brand-teacher {
  background: #fffacf;
}

.product-eco .product-brand-teacher .wrap {
  width: 1100px;
}

.product-eco .product-network {
  padding-bottom: 130px;
  background: #fffacf;
}

.product-eco .product-network .wrap {
  width: 1100px;
}

.product-eco .product-network .slider-wrap {
  margin: auto;
}

.product-eco .product-network .slick-slide {
  margin: 0 20px;
  padding: 0px 0 40px 0;
  opacity: .3;
  -webkit-filter: blur(0);
          filter: blur(0);
}

.product-eco .product-network .slick-slide.slick-active {
  opacity: .3;
  -webkit-filter: blur(0);
          filter: blur(0);
}

.product-eco .product-network .slick-slide.slick-center {
  opacity: 1;
  -webkit-filter: blur(1);
          filter: blur(1);
}

.product-eco .product-network .slick-slide p {
  overflow: hidden;
  -webkit-box-shadow: 10px 15px 20px 10px rgba(130, 130, 130, 0.4);
          box-shadow: 10px 15px 20px 10px rgba(130, 130, 130, 0.4);
}

.product-eco .product-network .slick-slide p img {
  width: 100%;
}

.product-eco .product-winner {
  background: #fffacf;
}

.product-eco .product-winner .wrap {
  width: 1100px;
}

.product-eco .product-winner .action {
  position: absolute;
  top: 1016px;
  left: 220px;
}

.product-eco .product-price-contents .price-list {
  position: absolute;
  top: 504px;
  left: 120px;
  font-size: 34px;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  color: #222222;
}

.product-eco .product-price-contents .price-list div {
  display: inline-block;
  margin-right: 220px;
}

.product-eco .product-price-contents .price-list div.price3 {
  margin-right: 0;
}

.product-eco .product-timer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.8);
}

.product-eco .product-timer .item {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 0;
  font-weight: 700;
  color: #fff;
}

.product-eco .product-timer .item.desc {
  display: inline-block;
  padding: 0 4px;
  font-size: 22px;
  color: #fff;
  vertical-align: middle;
  line-height: 1;
}

.product-eco .product-timer .item.desc span {
  color: #ffcf0e;
  font-weight: 700;
  display: inline-block;
}

.product-eco .product-timer .item.timer-wrap {
  margin: 0 10px;
  display: inline-block;
  margin: 0 5px;
  font-size: 20px;
  color: #fff;
}

.product-eco .product-timer .item.timer-wrap p {
  display: inline-block;
  margin: 0 5px;
  font-size: 36px;
  color: #000;
}

.product-eco .product-timer .item.timer-wrap span {
  display: inline-block;
  width: 44px;
  height: 60px;
  vertical-align: middle;
  line-height: 60px;
  font-size: 40px;
  margin-right: 4px;
  background: url("https://img.eduwill.net/eduwill/img/2021/_105/product/211204/pc/bg_timer.png") 0 0 no-repeat;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .product-timer .item.timer-wrap em {
  vertical-align: bottom;
}

.product-eco .product-timer .item.action {
  margin-top: 5px;
}

.product-eco .product-timer .item.action a {
  position: relative;
  display: inline-block;
}

.product-eco .product-timer .item.action a:after {
  content: '';
  position: absolute;
  top: 60%;
  right: -15%;
  z-index: 1;
  display: block;
  width: 2.0625rem;
  height: 2.28125rem;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_20.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounce;
          animation-name: pointerBounce;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .product-timer .item.action a:after {
    width: 66px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .product-timer .item.action a:after {
    height: 73px;
  }
}

@keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}
/*# sourceMappingURL=web.css.map */