// img path
// background: url(#{$img-path}/bg_title.jpg) no-repeat 50% 0;
$img-path: 'https://img.eduwill.net/Img2/Won2/Product/license/200427/pc';

// font-family:$noto;
$noto: 'Noto Sans KR', Sans-Serif; 
$montserrat: 'Montserrat', 'Noto Sans KR', Sans-Serif;

.product-eco{
    position: relative;text-align:center;min-width:1100px;overflow: hidden;font-family: $noto;letter-spacing: -1px;
    *, *:before, *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
    img{border:0;vertical-align:top;line-height:0;font-size:0;}   
    .clearfix:after{content:'';display:block;clear:both;}
    .wrap{position:relative;width:1100px;margin:0 auto;}
    a{display:inline-block;}

    strong{line-height:100%;}
    p{line-height:100%;margin:0;}
    .text{
		text-align: left;
        color:#999;font-size:13px;font-family:$noto;line-height:18px;
        span{padding-left:8px;}
    }

    .hidden {font-size:0;}

	.btn_action{
		position:relative;
		display:inline-block;width:193px;background-color:#ffffff;border:1px solid #c0c0c0;color:#878787;font-size:14px;padding:10px 0;
		&:after {
			content: '';
			display: inline-block;
			margin-left: 10px;
			width: 8px;
			height: 8px;
			position:relative;top: -1px;
			border-top: 1px solid #878787;
			border-right: 1px solid #878787;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}


	.bx-wrapper	{
		position: relative;
		width: 1000px;
		margin: 0 auto;
		.bx-viewport {
			left: 0;
			height: 157px !important;
			border: none;
			background: none;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
		.bx-controls-direction a {
			position: absolute;
			top: 0;
			z-index: 10;
			outline: 0;
			width: 50px;
			height: 157px;
			text-indent: -9999px;
			background-repeat: no-repeat;
			background-position: 0 0;
			&.bx-prev {
				left: 50%;
				margin-left: -550px;
				background-image: url('#{$img-path}/btn_prev.jpg');
			}
			&.bx-next {
				right: 50%;
				margin-right: -550px;
				background-image: url('#{$img-path}/btn_next.jpg');
			}
		}

		.bx-pager, 
		.bx-controls-auto {position:absolute; width:100%; height:20px; bottom:-50px; text-align:center; z-index:99; font-size:0; padding:0; }
		.bx-pager.bx-default-pager a {display:inline-block; width:14px; height:14px; margin:0 0 0 15px; background-color:#c2c2c2;border-radius:50%; }
		.bx-pager .bx-pager-item, 
		.bx-controls-auto .bx-controls-auto-item {margin:0 0 54px 0;display:inline-block;}
		.bx-pager .bx-pager-item:first-child, 
		.bx-controls-auto .bx-controls-auto-item:first-child {margin-left:0;}
		.bx-pager.bx-default-pager a.active { background-color:#202020; }
	}

    .floating{
        position:fixed;right:0;top:200px;z-index:3000;
        a{
            margin-bottom:2px;
            &:first-child{margin-bottom:10px;}
        }

    }
    .section{
		&-title{
			background: url(#{$img-path}/bg_title.jpg) no-repeat 50% 0;
			background-size:cover;
		}

		&-contents-1,
		&-contents-3,
		&-contents-5 {
			background-color: #f7f7f7;
		}
		&-contents-2 {
			padding-bottom: 100px;
			.text { margin-top: 80px; }
		}
		&-contents-3 {
			padding-bottom: 100px;
			.teacher_wrap { padding-bottom: 0; }
		}
	}

    /* layer(기존꺼 가져옴) */
    .dim { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 100000; background-color: rgba(0, 0, 0, .7); }
    .layer { display: none; position: fixed; top: 50%; left: 50%; z-index: 100001; width: 1000px; height: 715px; margin: -327px 0 0 -500px; background-color: #fff; }
    .dim.in,
    .layer.in { display: block; }
    .layer_detail_info .layer_body { width: 1000px; margin: 0 auto; }
    .layer_detail_info .bx-wrapper { width: 1000px; height: 550px; }
    .layer_detail_info .bx-wrapper .bx-viewport { left: 0; width: 1000px !important; height: 550px !important; border: 0; -webkit-box-shadow: none; box-shadow: none; }
    .gallery-thumbs-container { margin-top: 28px; padding: 0 75px; overflow: hidden; }
    .gallery-thumbs-container .bx-wrapper .bx-viewport { width: 100% !important; height: 110px !important; }
    .gallery-thumbs-container .academy_gallery_thumb { overflow: hidden; }
    .gallery-thumbs-container .academy_gallery_thumb .thumb-item { width: 200px !important; height: 110px !important; }
    .gallery-thumbs-container .academy_gallery_thumb .thumb-item img { width: 100%; }
    .gallery-thumbs-container .bx-controls-direction a { top: 0; width: 75px; height: 110px; margin-top: 0; background-color: transparent; background-repeat: no-repeat; background-position: 0 0 !important; }
    .gallery-thumbs-container .bx-wrapper .bx-prev { margin-left:0;left: -75px; background-image: url('https://img.eduwill.net/Img2/Won2/promotion/license/180503_01/btn_prev.png'); }
    .gallery-thumbs-container .bx-wrapper .bx-next { margin-right:0;right: -75px; background-image: url('https://img.eduwill.net/Img2/Won2/promotion/license/180503_01/btn_next.png'); }
    .close_layer { position: absolute; top: 0; right: -50px; display: block; width: 50px; height: 50px; background: url('https://img.eduwill.net/Img2/Won2/promotion/license/180503_01/layer_close.png') no-repeat center center; }
}
   