@{
    string viewPath = ((RazorView)ViewContext.View).ViewPath;
    viewPath = viewPath.Remove(viewPath.LastIndexOf('/') + 1);
}
@{
    String platform = ("W".Equals(ViewBag.PlatformCd)) ? "pc" : "mobile";
	String link1 = ("W".Equals(ViewBag.PlatformCd)) ? "https://guard.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MjkyNjI" : "https://brand.eduwill.net/sugang/view.will?mSeq=35331&progress=K";
	String link2 = ("W".Equals(ViewBag.PlatformCd)) ? "https://guard.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=NTY4NA&cMain=1" : "https://brand.eduwill.net/sugang/view.will?mSeq=35338&progress=K";
}

<div id="contents" class="promotion">
	<div class="sector-title">
		<div class="wrap">
			<div class="motion title-1"><img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/title_1.png" alt=""></div>
			<div class="motion title-2"><img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/title_2.png" alt=""></div>
			<div class="motion title-3"><img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/title_3.png" alt=""></div>
			<div class="motion trophy"><img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/trophy.png" alt=""></div>
			@if ("W".Equals(ViewBag.PlatformCd)){
				<div class="motion fire"><img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/fire.png" alt=""></div>
			}
		</div>
	</div>

	@if ("W".Equals(ViewBag.PlatformCd)){
	<div id="fixTab" class="sector-tab">
		<div class="wrap">
			<a href="#scrollContent1" class="on">
				<span>꿈을 현실로 <em>01</em></span>
				<strong>만점자 이야기</strong>
			</a>
			<a href="#scrollContent2">
				<span>꿈을 현실로 <em>02</em></span>
				<strong>합격팁 대공개</strong>
			</a>
			<a href="#scrollContent3">
				<span>꿈을 현실로 <em>03</em></span>
				<strong>에듀윌 활용법</strong>
			</a>
			<a href="#scrollContent4">
				<span>꿈을 현실로 <em>04</em></span>
				<strong>결론은 에듀윌</strong>
			</a>
		</div>
	</div>
	}

	<div id="scrollContent1" class="scroll-contents sector-content-1">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/content_title_1.png" alt="">
			<div class="interview-group">
				<div class="slide-col">
					<div class="winner-text">
						<span>2021년 23회 시험 만점자 유수빈</span>
						<strong>
							“<em class="highlight">진짜 1위 에듀윌을 선택</em>해서 @if ("M".Equals(ViewBag.PlatformCd)){ <br /> }  만점으로 합격할 수 있었습니다”
						</strong>
					</div>
					<div class="winner-video">
						<video id="player" controls="" playsinline="" poster="https://img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/thumb_1.jpg">
							<source src="https://pmp.eduwill.net/eduwillpmp/eduwill/flv/20220128/K_YSB_interview.mp4" type="video/mp4">
						</video>
						<a href="javascript:;" class="btn-video">
							<img src="https://img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/thumb_1.jpg" alt="합격생 유수빈">
						</a>
					</div>

					<div class="winner-toggle-con">
						<div class="action">
							<a href="javascript:;" class="btn-review in">만점자 후기</a>
							<a href="javascript:;" class="btn-score">성적확인</a>
						</div>

						<div class="toggle-cont in">
							<img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/winner_review_1.png" alt="">
						</div>

						<div class="toggle-cont">
							<img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/winner_score_1.png" alt="">
						</div>
					</div>
				</div>

				<div class="slide-col">
					<div class="winner-text">
						<span>2021년 23회 시험 만점자 김영환</span>
						<strong>
							“모두 <em class="highlight">에듀윌 강의와 기본서에서 @if ("M".Equals(ViewBag.PlatformCd)){ <br> }  출제</em> 되었습니다”
						</strong>
					</div>
					<div class="winner-video">
						<video id="player" controls="" playsinline="" poster="https://img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/thumb_1.jpg">
							<source src="https://pmp.eduwill.net/eduwillpmp/eduwill/flv/20220128/K_KYH_interview.mp4" type="video/mp4">
						</video>
						<a href="javascript:;" class="btn-video">
							<img src="https://img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/thumb_2.jpg" alt="합격생 김영환">
						</a>
					</div>

					<div class="winner-toggle-con">
						<div class="action">
							<a href="javascript:;" class="btn-review in">만점자 후기</a>
							<a href="javascript:;" class="btn-score">성적확인</a>
						</div>

						<div class="toggle-cont in">
							<img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/winner_review_2.png" alt="">
						</div>

						<div class="toggle-cont">
							<img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/winner_score_2.png" alt="">
						</div>
					</div>
				</div>

				<div class="slide-col">
					<div class="winner-text">
						<span>2021년 23회 시험 만점자 전원준</span>
						<strong>
							“이번 <em class="highlight">합격의 가장 큰 비결은 @if ("M".Equals(ViewBag.PlatformCd)){ <br> }  에듀윌 교수님</em>이라고 생각합니다”
						</strong>
					</div>
					<div class="winner-video">
						<video id="player" controls="" playsinline="" poster="https://img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/thumb_1.jpg">
							<source src="https://pmp.eduwill.net/eduwillpmp/eduwill/flv/20220128/K_JWJ_interview.mp4" type="video/mp4">
						</video>
						<a href="javascript:;" class="btn-video">
							<img src="https://img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/thumb_3.jpg" alt="합격생 전원준">
						</a>
					</div>

					<div class="winner-toggle-con">
						<div class="action">
							<a href="javascript:;" class="btn-review in">만점자 후기</a>
							<a href="javascript:;" class="btn-score">성적확인</a>
						</div>

						<div class="toggle-cont in">
							<img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/winner_review_3.png" alt="">
						</div>

						<div class="toggle-cont">
							<img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/winner_score_3.png" alt="">
						</div>
					</div>
				</div>
			</div>

			<div class="slider-multiple review-list" data-slide="review">
				<div class="col"><img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/review_etc_1.png" alt=""></div>
				<div class="col"><img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/review_etc_2.png" alt=""></div>
				<div class="col"><img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/review_etc_3.png" alt=""></div>
			</div>
		</div>
	</div>

	<div id="scrollContent2" class="scroll-contents sector-content-2">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/content_title_2.png" alt="">
			<div class="slider-multiple method-list" data-slide="method">
				<div class="col"><img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/method_1.png" alt=""></div>
				<div class="col"><img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/method_2.png" alt=""></div>
				<div class="col"><img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/method_3.png" alt=""></div>
				<div class="col"><img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/method_4.png" alt=""></div>
			</div>
		</div>
	</div>

	<div id="scrollContent3" class="scroll-contents sector-content-3">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/content_title_3.png" alt="">
			<div class="tab-box">
				<ul class="tab-list">
					<li class="in"><a href="javascript:;">활용백서 <strong>01</strong></a></li>
					<li><a href="javascript:;">활용백서 <strong>02</strong></a></li>
					<li><a href="javascript:;">활용백서 <strong>03</strong></a></li>
				</ul>
			</div>
			<div class="tab-view in">
				<img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/tab_cont_1.png" alt="">
			</div>
			<div class="tab-view">
				<img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/tab_cont_2.png" alt="">
			</div>
			<div class="tab-view">
				<img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/tab_cont_3.png" alt="">
			</div>

			<img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/tab_text.png" alt="">
		</div>
	</div>

	<div id="scrollContent4" class="scroll-contents sector-bar">
		<div class="wrap">
			<div class="bar-flag"><img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/bar_flag.png" alt=""></div>
			<img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/bar_1.png" alt="">
		</div>
	</div>

	<div class="sector-prize">
		<div class="wrap">
			<div class="btn-base">
				<a href="javascript:popupOpen('.dimmed', 'popupBase');">근거확인</a>
			</div>
			<img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/prize.png" alt="">
		</div>
	</div>

	<div class="sector-bar">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/bar_2.png" alt="">
		</div>
	</div>

	<div class="sector-banner">
		<div class="wrap">
			<div class="banner-list">
				<a href="@link1" target="_blank"><img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/banner_1.png" alt="평생패스"></a>
				<a href="@link2" target="_blank"><img src="//img.eduwill.net/eduwill/img/2022/K/event/220128/@platform/banner_2.png" alt="합격완성패스"></a>
			</div>
		</div>
	</div>

</div>
<!-- // promotion -->

<div class="dimmed"></div>
<!-- 근거확인 팝업 -->
<div class="popup popup-base" id="popupBase">
	<div class="popup-body">
		<div data-eduwill-eco-content="3841"></div>
	</div>
	<a class="popup-close" href="javascript:popupClose('.dimmed', 'popupBase');"><span class="sr-only">팝업 닫기</span> </a>
</div>
<!---// 근거확인 팝업-->
@* <script type="text/javascript" src="https://img.eduwill.net/eduwill/live/js/common/script.js"></script> *@
@* <script type="text/javascript" src="https://img.eduwill.net/resources/eduwill/dev/js/greensock/TweenMax.min.js"></script> *@

<script type="text/javascript" src="https://img.eduwill.net/eduwill/live/libs/scrollfix/scrollfix.js"></script>
<script type="text/javascript">
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
	var url = window.location.href;
	var str = 'event.eduwill.net';
	var checkUrl = url.indexOf(str);

	var userId = "@(UserSession.UserID)";

	$(function(){
		init();
	});

	function init() {
		titleEvent();
		addEvent();
		addSlide();
		lecturetabList();
	}

	function titleEvent(){
		var $title = $('.sector-title');

		TweenMax.fromTo( $title.find('.title-1'), .5, { opacity: 0, scale: 0}, { opacity: 1, scale: 1, delay: .2, ease: Power2.easeOut });
		TweenMax.fromTo( $title.find('.title-2'), .5, { opacity: 0, scaleX: 0}, { opacity: 1, scaleX: 1, delay: .4, ease: Back.easeOut.config(1) });
		TweenMax.fromTo( $title.find('.title-3'), .5, { opacity: 0, scaleX: 0}, { opacity: 1, scaleX: 1, delay: .6, ease: Back.easeOut.config(2) });
		TweenMax.fromTo( $title.find('.trophy'), .5, { opacity: 0, scale: 0}, { opacity: 1, scale: 1, delay: .6, transformOrigin: 'bottom bottom',  ease: Back.easeOut.config(2) });

		TweenMax.fromTo( $title.find('.fire'), .5, { opacity: 0, scale: 0}, { opacity: 1, scale: 1, delay: .8, transformOrigin: 'center center', ease: Back.easeOut.config(3) });
	}

	function addEvent(){
		pageMove('.page-move');

		$('.sector-tab').scrollFix();

		$(window).scroll(function () {
			var _scrollTop = $(window).scrollTop(),
					_section = $('[class^="sector-"]');
					_comm = $('.scroll-contents'),
					_scrollMenu = $('.sector-tab');

			if ("@(ViewBag.platformCd)" == "W") {
				_comm.each(function(e){
					if( _scrollTop >= _comm.eq(e).offset().top - 200){
						$('.sector-tab a').removeClass('on');
						$('.sector-tab a').eq(e).addClass('on');
					}
				});
			}
		});

		$('.sector-tab a').on('click', function(e){
			var _top = $($(this).attr('href'));
			var $target = _top.offset().top;

			e.preventDefault();
			$('html,body').animate({
				scrollTop: $target - 89
			}, 500);
			$('.sector-tab a').removeClass('on');
			$(this).addClass('on');
		});

		$('.interview-group').slick({
			infinite: true,
			arrows: true,
			dots:true,
			slidesToScroll: 1,
			speed: 500,
			slidesToShow: 1,
			pauseOnHover: false,
			pauseOnFocus: false,
		});

		var _player = $(".interview-group #player");
		var _poster = $(".interview-group .btn-video");

		$('.interview-group').on("afterChange", function(event,slick,direction){
			resetVideo();
		});

		function resetVideo(){
			_poster.show();
			$(".interview-group .slide-col").each(function(i){
				if(i>= 3) return;
				_player.get(i).pause();
				_player.get(i).currentTime = 0;
			});
		}

		$(".interview-group .btn-video").on('click',function(){
			resetVideo();

			$(this).hide();
			$(this).prev("#player").get(0).play();
		});

		$('.winner-toggle-con .action a').on('click', function(){
			var $this = $(this),
				idx = $this.closest('a').index();
				target = $this;
				actionControl(target, idx);
		});

		function actionControl(target, idx){
			var _actionList = target.parents('.action'),
				_actionView = target.parents().parents().children('.toggle-cont');

			_actionList.children().eq(idx).addClass('in').siblings().removeClass('in');
			_actionView.eq(idx).addClass('in').siblings().removeClass('in');
		}

	}


	function addSlide(){
		// multiple slider
		$('.slider-multiple').each(function(key, item) {
			var sliderIdName = 'multipleSlider' + key;
				this.id = sliderIdName;
			var sliderId = '#' + sliderIdName;
			var _arrow = false, _dot = true;
            var _data = $(sliderId).data('slide');

			if(_data == 'review'){
				_arrow = true,
				_dot = false;
			}

			$(sliderId).slick({
				autoplay: true,
				autoplaySpeed: 3000,
				speed: 1000,
				infinite: true,
				arrows: _arrow,
				dots: _dot,
				slidesToShow: 1,
				slidesToScroll: 1,
			});
		});
	}
	
	function lecturetabList(){
		$('.tab-list li a').on('click', function(){
			var $this = $(this),
				idx = $this.closest('li').index();
				target = $this;
			lecturetabControl(target, idx);
		});
	}

	function lecturetabControl(target, idx){
		var _tabList = target.parents('ul'),
			_tabView = target.parents().parents().children('.tab-view');

		_tabList.children().eq(idx).addClass('in').siblings().removeClass('in');
		_tabView.eq(idx).addClass('in').siblings().removeClass('in');
	}

</script>

