@charset "UTF-8";
.grid, .product-eco .wrap-tab .tab-list, .product-eco .sector-teacher .small-list {
  *zoom: 1;
}

.grid:before, .product-eco .wrap-tab .tab-list:before, .product-eco .sector-teacher .small-list:before, .grid:after, .product-eco .wrap-tab .tab-list:after, .product-eco .sector-teacher .small-list:after {
  content: '';
  display: table;
}

.grid:after, .product-eco .wrap-tab .tab-list:after, .product-eco .sector-teacher .small-list:after {
  clear: both;
}

.hidden,
.sr_only,
.sr-only,
.popup .popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid, .product-eco .wrap-tab .tab-list, .product-eco .sector-teacher .small-list {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col, .product-eco .wrap-tab .tab-list .col, .product-eco .wrap-tab .tab-list li, .product-eco .sector-teacher .small-list .col {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.table {
  display: table;
}

.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.product-eco .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  background: none;
  outline: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.effect-bounce-diagonal {
  -webkit-animation-name: effectBounceDiagonal;
          animation-name: effectBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  -webkit-animation-name: effectBounceUpDown;
          animation-name: effectBounceUpDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.effect-extend {
  -webkit-animation-name: effectExtend;
          animation-name: effectExtend;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

@keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

.effect-blink {
  -webkit-animation-name: effectBlink;
          animation-name: effectBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.promotion,
.product-eco,
.fullservice {
  text-align: center;
}

.promotion [class^="sector-"],
.product-eco [class^="sector-"],
.fullservice [class^="sector-"] {
  position: relative;
}

.promotion .wrap,
.product-eco .wrap,
.fullservice .wrap {
  position: relative;
  margin: 0 auto;
}

.promotion .wrap-full,
.product-eco .wrap-full,
.fullservice .wrap-full {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.popup-dim {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 200;
  display: none;
  width: 90%;
  max-width: 720px;
  letter-spacing: -1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 1100px) {
  .popup {
    max-width: 1000px;
  }
}

.popup * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.popup .popup-close {
  position: absolute;
  top: -40px;
  right: 0;
  cursor: pointer;
}

.popup .popup-body {
  padding: 3.47222vw;
  text-align: left;
  line-height: 1.4;
  font-size: 2.5vw;
  font-weight: 400;
  color: #222;
  border: 2px solid #000;
  background-color: #fff;
}

@media screen and (min-width: 720px) {
  .popup .popup-body {
    padding: 25px;
  }
}

@media screen and (min-width: 720px) {
  .popup .popup-body {
    font-size: 18px;
  }
}

.product-eco * {
  line-height: normal;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.product-eco .wrap {
  width: 1100px;
}

.product-eco .holder {
  position: relative;
}

.product-eco p {
  margin: 0;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(32, 32, 32, 0.6);
}

.product-eco p.notice {
  margin-top: 10px;
  font-size: 16px;
}

.product-eco .btn-fly {
  position: absolute;
  display: block;
  z-index: 1;
}

.product-eco .slider-contents {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.product-eco .slick-arrow {
  border-radius: 50%;
}

.product-eco .slick-arrow.slick-prev {
  left: -100px;
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev {
    height: 60px;
  }
}

.product-eco .slick-arrow.slick-prev:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.46875rem;
  height: 0.46875rem;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-bottom-width: 2px;
  border-left-width: 2px;
  -webkit-transform: translate(-25%, -50%) rotate(45deg);
  transform: translate(-25%, -50%) rotate(45deg);
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev:before {
    width: 15px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev:before {
    height: 15px;
  }
}

.product-eco .slick-arrow.slick-next {
  right: -100px;
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next {
    height: 60px;
  }
}

.product-eco .slick-arrow.slick-next:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.46875rem;
  height: 0.46875rem;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-top-width: 2px;
  border-right-width: 2px;
  -webkit-transform: translate(-75%, -50%) rotate(45deg);
  transform: translate(-75%, -50%) rotate(45deg);
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next:before {
    width: 15px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next:before {
    height: 15px;
  }
}

.product-eco .wrap-tab .tab-list a {
  display: block;
}

.product-eco .wrap-tab .tab-contents .item {
  position: relative;
  display: none;
}

.product-eco .wrap-tab .tab-contents .item.in {
  display: block;
}

.product-eco .wing {
  position: fixed;
  top: 270px;
  z-index: 10;
}

.product-eco .wing.left {
  left: 50%;
  margin-left: -800px;
}

.product-eco .wing.right {
  right: 50px;
}

.product-eco .wing .icon-hand {
  top: 80%;
  right: 0;
}

.product-eco .wing .wing-title {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: #6f6f6f;
  letter-spacing: -1px;
  line-height: 1;
}

.product-eco .wing .wing-price {
  position: absolute;
  top: 130px;
  left: 0;
  right: 0;
  text-align: center;
}

.product-eco .wing .wing-price .before-text .discount {
  display: inline-block;
  padding: 0 4px;
  line-height: 1.2;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  background: #e31414;
}

.product-eco .wing .wing-price .before-text strong {
  display: inline-block;
  margin-left: 5px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  color: #999;
  text-decoration: line-through;
}

.product-eco .wing .wing-price .after-text strong {
  line-height: 1.2;
  font-size: 30px;
  font-weight: 700;
  color: #e31414;
  letter-spacing: -1px;
}

.product-eco .icon-hand {
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-animation-name: moving;
          animation-name: moving;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes moving {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@keyframes moving {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

.product-eco .sector-top-banner {
  background-color: #ffe000;
}

.product-eco .sector-title {
  z-index: 1;
  background: #2a1514 url("//img.eduwill.net/eduwill/img/2022/G/product/220117/pc/bg_title.jpg") 50% 0 no-repeat;
  background-size: cover;
}

.product-eco .sector-winner .winner-contents {
  position: relative;
  padding: 0 90px;
  margin-bottom: 60px;
  background: #fff url("//img.eduwill.net/eduwill/img/2022/G/product/220117/pc/bg_winner.jpg") 50% 0 no-repeat;
}

.product-eco .sector-winner .winner-contents p {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  text-align: center;
  line-height: 2;
  font-size: 16px;
  color: #747474;
}

.product-eco .sector-winner .winner-interview {
  margin-bottom: 60px;
  padding: 0 50px;
}

.product-eco .sector-winner .winner-interview .col, .product-eco .sector-winner .winner-interview .wrap-tab .tab-list li, .product-eco .wrap-tab .tab-list .sector-winner .winner-interview li {
  width: 320px;
  margin-left: 20px;
}

.product-eco .sector-winner .winner-interview .col:first-child, .product-eco .sector-winner .winner-interview .wrap-tab .tab-list li:first-child, .product-eco .wrap-tab .tab-list .sector-winner .winner-interview li:first-child {
  margin-left: 0;
}

.product-eco .sector-winner .winner-interview .col .caption, .product-eco .sector-winner .winner-interview .wrap-tab .tab-list li .caption, .product-eco .wrap-tab .tab-list .sector-winner .winner-interview li .caption {
  margin-top: 24px;
  text-align: left;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.product-eco .sector-winner .btn-box a {
  position: relative;
  display: inline-block;
}

.product-eco .sector-winner .btn-box p {
  margin: 15px 0 0;
  padding: 0;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  color: #ccc;
}

.product-eco .sector-text {
  background: #341a19;
}

.product-eco .sector-curriculum {
  background: #f6f6f6;
}

.product-eco .sector-teacher {
  padding-bottom: 100px;
}

.product-eco .sector-teacher .slide-contents {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.product-eco .sector-teacher .slide-contents .col, .product-eco .sector-teacher .slide-contents .wrap-tab .tab-list li, .product-eco .wrap-tab .tab-list .sector-teacher .slide-contents li {
  position: relative;
  width: 190px;
}

.product-eco .sector-teacher .t-info {
  position: absolute;
  left: 2px;
  top: 303px;
  text-align: left;
}

.product-eco .sector-teacher .t-info .subject {
  font-size: 20px;
  font-weight: 400;
  color: #222;
  letter-spacing: -1px;
  line-height: 1;
}

.product-eco .sector-teacher .t-info .name {
  display: inline-block;
  padding-right: 27px;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 700;
  color: #222;
  letter-spacing: -1px;
  line-height: 1;
  /*background: url('https://img.eduwill.net/eduwill/img/2021/7/common/teacher/icon_home.png') right 0 no-repeat;*/
}

.product-eco .sector-teacher .small-list {
  width: 1000px;
  margin: 32px auto 0;
}

.product-eco .sector-teacher .small-list .wrap-tab .tab-list li, .product-eco .wrap-tab .tab-list .sector-teacher .small-list li, .product-eco .sector-teacher .small-list .col {
  position: relative;
  width: 156px;
  height: 227px;
  margin: 0 11px 11px 0;
}

.product-eco .sector-teacher .small-list .wrap-tab .tab-list li:nth-child(6n), .product-eco .wrap-tab .tab-list .sector-teacher .small-list li:nth-child(6n), .product-eco .sector-teacher .small-list .col:nth-child(6n) {
  margin-right: 0;
}

.product-eco .sector-teacher .small-list .wrap-tab .tab-list li .t-info, .product-eco .wrap-tab .tab-list .sector-teacher .small-list li .t-info, .product-eco .sector-teacher .small-list .col .t-info {
  top: 20px;
  left: 15px;
}

.product-eco .sector-teacher .small-list .wrap-tab .tab-list li .t-info .subject, .product-eco .wrap-tab .tab-list .sector-teacher .small-list li .t-info .subject, .product-eco .sector-teacher .small-list .col .t-info .subject {
  font-size: 16px;
  color: #e7e7e7;
}

.product-eco .sector-teacher .small-list .wrap-tab .tab-list li .t-info .name, .product-eco .wrap-tab .tab-list .sector-teacher .small-list li .t-info .name, .product-eco .sector-teacher .small-list .col .t-info .name {
  font-size: 16px;
  color: #e7e7e7;
  padding-right: 0;
  padding-bottom: 30px;
}

.product-eco .sector-teacher .grounds-text {
  text-align: right;
  font-weight: 400;
  padding-right: 50px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}

.product-eco .sector-acer {
  padding-bottom: 120px;
  background: #f6f6f6;
}

.product-eco .sector-acer .holder {
  width: 1000px;
  margin: 0 auto;
  background: #fff;
}

.product-eco .sector-acer .holder + .holder {
  margin-top: 60px;
}

.product-eco .sector-acer .holder.tab {
  padding-bottom: 80px;
}

.product-eco .sector-acer .btn-acer {
  position: absolute;
  top: 420px;
  left: 50px;
  text-align: left;
}

.product-eco .sector-acer .btn-acer a {
  display: inline-block;
  position: relative;
}

.product-eco .sector-acer .btn-acer a .icon-hand {
  right: -20px;
}

.product-eco .sector-acer .tab-list {
  position: relative;
  width: 902px;
  height: 83px;
  margin: 0 auto;
}

.product-eco .sector-acer .tab-list li {
  float: left;
  width: 25%;
  border-left: 2px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .sector-acer .tab-list li:first-child {
  border-left: 0;
}

.product-eco .sector-acer .tab-list li a {
  display: block;
  padding: 30px 0;
  background: #f6f6f6;
  color: #aaa;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .sector-acer .tab-list li.in a {
  color: #000;
  background: #f7cb6c;
}

.product-eco .sector-acer .tab-contents .item {
  display: none;
}

.product-eco .sector-acer .tab-contents .item.in {
  display: block;
}

.product-eco .sector-acer .notice {
  width: 902px;
  margin: 15px auto 0;
  text-align: left;
  font-size: 16px;
  color: rgba(34, 34, 34, 0.6);
  font-weight: 400;
  line-height: 1.5;
}

.product-eco .sector-academy {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left bottom, left top, from(#341a19), color-stop(50%, #341a19), color-stop(50%, #f6f6f6), to(#f6f6f6));
  background: linear-gradient(0deg, #341a19 0%, #341a19 50%, #f6f6f6 50%, #f6f6f6 100%);
}

.product-eco .sector-academy .slick-list {
  padding: 30px 0 !important;
}

.product-eco .sector-academy .slick-slide {
  height: 489px;
  -webkit-transform: scaleY(0.9);
  transform: scaleY(0.9);
}

.product-eco .sector-academy .slick-slide:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.product-eco .sector-academy .slick-slide img {
  width: 100%;
}

.product-eco .sector-academy .slick-slide.slick-current {
  z-index: 1;
  width: 1100px;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.product-eco .sector-academy .slick-slide.slick-current:before {
  display: none;
}

.product-eco .sector-academy .slick-arrow.slick-prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: white;
  left: 50%;
  margin-left: -580px;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-academy .slick-arrow.slick-prev {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-academy .slick-arrow.slick-prev {
    height: 60px;
  }
}

.product-eco .sector-academy .slick-arrow.slick-prev:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.46875rem;
  height: 0.46875rem;
  border-width: 0;
  border-style: solid;
  border-color: #000;
  border-bottom-width: 2px;
  border-left-width: 2px;
  -webkit-transform: translate(-25%, -50%) rotate(45deg);
  transform: translate(-25%, -50%) rotate(45deg);
}

@media screen and (min-width: 720px) {
  .product-eco .sector-academy .slick-arrow.slick-prev:before {
    width: 15px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-academy .slick-arrow.slick-prev:before {
    height: 15px;
  }
}

.product-eco .sector-academy .slick-arrow.slick-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: white;
  right: 50%;
  margin-right: -580px;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-academy .slick-arrow.slick-next {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-academy .slick-arrow.slick-next {
    height: 60px;
  }
}

.product-eco .sector-academy .slick-arrow.slick-next:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.46875rem;
  height: 0.46875rem;
  border-width: 0;
  border-style: solid;
  border-color: #000;
  border-top-width: 2px;
  border-right-width: 2px;
  -webkit-transform: translate(-75%, -50%) rotate(45deg);
  transform: translate(-75%, -50%) rotate(45deg);
}

@media screen and (min-width: 720px) {
  .product-eco .sector-academy .slick-arrow.slick-next:before {
    width: 15px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-academy .slick-arrow.slick-next:before {
    height: 15px;
  }
}
/*# sourceMappingURL=web.css.map */