@{
    String platform = ("W".Equals(ViewBag.PlatformCd))? "pc": "mobile";
}

<div id="contents" class="promotion">

	<div class="container promotion-title">
		<div class="wrap">
			<img src="https://img.eduwill.net/eduwill/Img/2022/0/event/220304/@platform/title.png" alt="평생교육바우처로 교육비 지원 받자!">
		</div>
	</div>

	@*
	<div class="container promotion-entitle">
		<div class="wrap">
			<img src="https://img.eduwill.net/eduwill/Img/2022/0/event/220304/@platform/entitle.jpg" alt="평생교육바우처 신청자격">

			<div class="infomation">
				<div class="main-text">
					<p class="subject">
							만 19세 이상 성인<em>(1999년 1월 1일 이전 출생자) 중</em> <br/>
						<span>기초생활수급자</span> 및 <span>법정차상위계층</span>
					</p>
					<p class="notice"> ※ [한부모가족지원법] 제5조에 따른 한부모가족지원대상자 포함</p>
				</div>
				<div class="sub-title">
					<p>평생교육 바우처 이용자 선정을 위한 <span>확인 자격 및 증명서</span></p>
				</div>
			</div>

			<table border="0" cellspacing="0" class="tbl_area">
				<colgroup>
					<col width="30%">
					<col width="40%">
					<col width="30%">
				</colgroup>
				<thead>
					<tr>
						<th class="tbl_first">구분</th>
						<th>자격명</th>
						<th>증명서</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="tbl_first">기초생활수급자</td>
						<td>기초생계급여수급자<br>
							기초의료급여수급자<br>
							기초주거급여수급자<br>
							기초교육급여수급자
						</td>
						<td>국민기초생활수급자증명서</td>
					</tr>
					<tr>
						<td rowspan="6" class="tbl_first">법정차상위계층</td>
						<td>차상위장애연금 대상자</td>
						<td>장애인연금수급자 확인서</td>
					</tr>
					<tr>
						<td>차상위장애수당 대상자</td>
						<td>장애수당수급자 확인서</td>
					</tr>
					<tr>
						<td>차상위 자활근로자 확인서 발급 대상자</td>
						<td>자활근로자 확인서</td>
					</tr>
					<tr>
						<td>차상위본인부담경감 대상자</td>
						<td>차상위본인부담경감대상자 증명서</td>
					</tr>
					<tr>
						<td>차상위계층확인서 발급 대상자</td>
						<td>차상위계층 확인서</td>
					</tr>
					<tr>
						<td>한부모가족지원법 지원 대상자</td>
						<td>한부모가족 증명서</td>
					</tr>
				</tbody>
			</table>

			<div class="notice">
				<ul>
					<li>장애인연금수급자의 경우, <strong>기초생활수급자 또는 법정차상위계층에 해당하는 경우</strong>에 한하여 신청이 가능합니다.</li>
					<li>한부모가족지원법 지원 대상자의 경우, 행정정보공동이용센터를 통하여 서류확인이 불가하므로 별도 증명서 제출이 필요합니다.</li>
					<li>평생교육바우처 사용기간에 <strong>한국장학재단 국가장학금 수혜자는 바우처 신청이 불가합니다.</strong></li>
				</ul>
			</div>

		</div>
	</div>

	<div class="container promotion-how">
		<div class="wrap">
			<img src="https://img.eduwill.net/eduwill/Img/2022/0/event/220304/@platform/how.jpg" alt="평생교육바우처 신청방법">
			<div class="action-wrap">
				<div class="action btn-how-1">
					<a href="https://www.lllcard.kr/" target="_blank">
						평생교육바우처 신청하러가기
					</a>
				</div>
				<div class="action btn-how-2">
					<a href="tel:1600-3005">
						평생교육바우처 상담문의 <span>1600-3005</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	*@

	<div class="container promotion-use">
		<div class="wrap">
			<img src="https://img.eduwill.net/eduwill/Img/2022/0/event/220304/@platform/use.jpg" alt="평생교육바우처 사용방법">

			<div class="card-apply">
				<dl>
					<dt>바우처 카드 신청</dt>
					<dd>
						<ul>
							<li>
								1. 선정된 이용자는 NH농협체크카드 발급 신청 필수
								<div class="notice">
									<ul>
										<li>카드발급을 위해서는 NH 농협은행 계좌를 필수로 개설해야 합니다. </li>	
									</ul>
								</div>
							</li>
							<li>
								2. 카드 발급 방법
								<div class="notice">
									<ul>
										<li>NH농협은행 지점 방문</li>
										<li>NH농협카드 홈페이지<a href="https://card.nonghyup.com" target="_blank">(https://card.nonghyup.com)</a>을 통해 온라인 신청</li>
									</ul>
								</div>
							</li>
						</ul>
					</dd>
				</dl>
			</div>

			<div class="how-pay">
				<div class="notice">
					<dl>
						<dt>수강료 결제 방법(필독)</dt>
						<dd>
							<p>평생교육바우처로 결제하실 경우 아래 내용을 꼭 확인해 주시기 바랍니다.</p>
							<ul>
								<li>평생교육희망카드 발급 이후 국가평생교육진흥원에서 공지하는 날 까지만 결제 가능</li>
								<li>강좌의 종강일이 2022년 12월 31일 이내인 경우만 평생교육바우처로 결제 가능</li>
								<li>강좌 수강료가 35만원을 넘을 경우, 초과 비용에 대해서는 본인부담</li>
								<li><strong> 강좌 수강료 사용이 원칙이되, 평생교육바우처 사용 강좌의 교재비에 한하여, 강좌와 함께 구매할 경우에만 사용 가능<span>(※ 평생교육바우처로 교재만 별도로 구매한 경우 취소 후 바우처가 아닌 신용카드, 계좌이체 등으로 재결제해야 함)</span></strong></li>
								<li>본인의 수강료만 결제 가능하며 타인(부모, 자녀 포함)의 수강료는 결제 불가</li>
								<li><strong>환급 상품에 대해서는 바우처로 결제 불가</strong></li>
							</ul>
						</dd>
					</dl>

					<a href="tel:16003005" class="btn-tel">
						<img src="https://img.eduwill.net/eduwill/Img/2022/0/event/220304/@platform/tel.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container promotion-product">
		<div class="wrap">
			<img src="https://img.eduwill.net/eduwill/Img/2022/0/event/220304/@platform/product.jpg" alt="평생교육바우처 구매가능 상품">
			<div class="infomation">
				<div class="main-text">
					<p class="subject">과정별 구매가능한 상품을 확인해주세요!</p>
					<p class="highlight">※표시 금액은 할인가로 구매 시점에 따라 변경될 수 있습니다.</p>
				</div>
			</div>
			<div class="product-section">
				@if ("W".Equals(ViewBag.PlatformCd))
				{
					<div class="item">
						<div class="product-title"><span>자격증</span></div>
						<div class="product-list">
							<ul>
								<li><a href="#sectionApply" onclick="setitemlist('L');" class="page-move active">공인중개사</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('J');" class="page-move">주택관리사</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('K');" class="page-move">경비지도사</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('101A');" class="page-move">국제무역사/무역영어</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('D');" class="page-move">도로교통사고 감정사</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('M');" class="page-move">물류관리사</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('S');" class="page-move">사회복지사1급</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('F');" class="page-move">유통관리사</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('V');" class="page-move">직업상담사</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('A');" class="page-move">행정사</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('Q');" class="page-move">전기기사</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('3');" class="page-move">전기기능사</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('Y');" class="page-move">소방시설관리사/소방설비기사</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('_108');" class="page-move">산업안전기사</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('_106');" class="page-move">건축기사</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('_107');" class="page-move">토목기사</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('_111');" class="page-move">위험물산업기사/위험물기능사</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('I');" class="page-move">IT 자격증</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('B');" class="page-move">검정고시</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('1');" class="page-move">매경TEST/한경TESAT</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('8');" class="page-move">KBS한국어/실용글쓰기</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('H');" class="page-move">한국사능력검정</a></li>
							</ul>
						</div>
					</div>
					<div class="item">
						<div class="product-title"><span>공무원</span></div>
						<div class="product-list">
							<ul>
								<li><a href="#sectionApply" onclick="setitemlist('G');" class="page-move">9급공무원</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('7');" class="page-move">7급공무원</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('C');" class="page-move">경찰공무원</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('_104');" class="page-move">소방공무원</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('T');" class="page-move">계리직공무원</a></li>
							</ul>
						</div>
					</div>
					<div class="item">
						<div class="product-title"><span>세무/회계</span></div>
						<div class="product-list">
							<ul>
								<li><a href="#sectionApply" onclick="setitemlist('_114');" class="page-move">세무사</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('X');" class="page-move">전산세무회계</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('U');" class="page-move">재경관리사</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('5');" class="page-move">ERP정보관리사</a></li>
							</ul>
						</div>
					</div>
					<div class="item">
						<div class="product-title"><span>취업/교육서비스</span></div>
						<div class="product-list">
							<ul>
								<li><a href="#sectionApply" onclick="setitemlist('Z');" class="page-move">취업</a></li>
								<li><a href="#sectionApply" onclick="setitemlist('_105');" class="page-move">부동산 아카데미</a></li>
							</ul>
						</div>
					</div>

				}
				else
				{

					<div class="item">
						<div class="product-title"><span>자격증</span></div>
						<div class="product-list">
							<div class="select arrow-color-change">
								<select name="slct" id="slct_0" onchange="setitemlist(this);">
									<option value="" selected>과정을 선택해주세요</option>
									<option value="L">공인중개사</option>
									<option value="J">주택관리사</option>
									<option value="K">경비지도사</option>
									<option value="101A">국제무역사/무역영어</option>
									<option value="D">도로교통사고 감정사</option>
									<option value="M">물류관리사</option>
									<option value="S">사회복지사1급</option>
									<option value="F">유통관리사</option>
									<option value="V">직업상담사</option>
									<option value="A">행정사</option>
									<option value="Q">전기기사</option>
									<option value="3">전기기능사</option>
									<option value="Y">소방시설관리사/소방설비기사</option>
									<option value="_108">산업안전기사</option>
									<option value="_106">건축기사</option>
									<option value="_107">토목기사</option>
									<option value="_111">위험물산업기사/위험물기능사</option>
									<option value="I">IT 자격증</option>
									<option value="B">검정고시</option>
									<option value="1">매경TEST/한경TESAT</option>
									<option value="8">KBS한국어/실용글쓰기</option>
									<option value="H">한국사능력검정</option>
								</select>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="product-title"><span>공무원</span></div>
						<div class="product-list">
							<div class="select">
								<select name="slct" id="slct_1" onchange="setitemlist(this);" disabled="">
									<option value="" selected>과정을 선택해주세요</option>
									<option value="G">9급공무원</option>
									<option value="7">7급공무원</option>
									<option value="C">경찰공무원</option>
									<option value="_104">소방공무원</option>
									<option value="T">계리직공무원</option>
								</select>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="product-title"><span>세무/회계</span></div>
						<div class="product-list">
							<div class="select">
								<select name="slct" id="slct_3" onchange="setitemlist(this);" disabled="">
									<option value="" selected>과정을 선택해주세요</option>
									<option value="_114">세무사</option>
									<option value="X">전산세무회계</option>
									<option value="U">재경관리사</option>
									<option value="5">ERP정보관리사</option>
								</select>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="product-title"><span>취업/교육서비스</span></div>
						<div class="product-list">
							<div class="select">
								<select name="slct" id="slct_2" onchange="setitemlist(this);" disabled="">
									<option value="" selected>과정을 선택해주세요</option>
									<option value="Z">취업</option>
									<option value="_105">부동산 아카데미</option>
								</select>
							</div>
						</div>
					</div>
				}

			</div>
		</div>
	</div>

	<div class="container promotion-apply" id="sectionApply">
		<div class="wrap">
			<div class="section-apply" id="itemmainlist">

				@*<div class="item">
					<div class="content">
						<div class="apply-title">
							<p class="title">2021 올스타클럽반</p>
							<div class="apply-notice">
								<p>458,000원으로 2021년 시험일가지 무한수강</p>
								<p class="remark">강의만 구매 가능, 교재 구매 불가</p>
							</div>
						</div>
						<div class="apply-price">
							<p>458,000 <span>원</span></p>
						</div>
					</div>
					<div class="apply-banner">
						<a href="javascript:;">
							<span>자세히보기</span>
						</a>
					</div>
				</div>

				<div class="item">
					<div class="content">
						<div class="apply-title">
							<p class="title">LIVE 합격예약특강</p>
							<div class="apply-notice">
								<p>핵심테마정복으로 빠른 합격완성</p>
							</div>
						</div>
						<div class="apply-price">
							<p>458,000 <span>원</span></p>
						</div>
					</div>
					<div class="apply-banner">
						<a href="javascript:;">
							<span>자세히보기</span>
						</a>
					</div>
				</div>

				<div class="item">
					<div class="content">
						<div class="apply-title">
							<p class="title">최대텍스트최대텍스트엘네글자</p>
							<div class="apply-notice">
								<p>	최대글자수최대글자수최대글자수최대글자수스물셋</p>
								<p class="remark">최대글자수 최대글자수 최대글자수최대글자스물둘</p>
							</div>
						</div>
						<div class="apply-price">
							<p>9,458,000 <span>원</span></p>
						</div>
					</div>
					<div class="apply-banner">
						<a href="javascript:;">
							<span>자세히보기</span>
						</a>
					</div>
				</div>*@

			</div>
		</div>
	</div>

	@if ("W".Equals(ViewBag.PlatformCd)){
	<div class="container promotion-why">
		<div class="wrap">
			<img src="https://img.eduwill.net/eduwill/Img/2022/0/event/220304/@platform/why.png" alt="">
		</div>
	</div>
  	}

</div>

<script type="text/javascript" src="https://img.eduwill.net/eduwill/live/js/common/eduf.js"></script>
<script type="text/javascript" src="https://img.eduwill.net/eduwill/live/js/common/script.js"></script>
<script type="text/javascript" src="//img.eduwill.net/resources/eduwill/dev/js/greensock/TweenMax.min.js"></script>
<script type="text/javascript">
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
    var str = 'event.eduwill.net';
    var checkUrl = url.indexOf(str);

	
    $(function(){
        init();
    });

    function init(){
		listUpEvents();
		productOn();
		lengthOfRemark();
		pageMove(".page-move");
    }


	// 모바일에서 id 값 주기 위한 함수
	function objectKeys(objects) {
		var rlt = [];
		for (var key in objects) {
			rlt.push(key);
		}
		return rlt;
	}

	//구매가능 리스트
	function listUpEvents(){

    var willRenderMarkup = null;

		if (isMobile) {

			$(document).on('touchstart', 'select', function(e) {

				var $sectionSelect = $('.product-list').find('select');
				//product-list에서 select를 찾아 클릭당한 this를 제외한 나머지는 disabled
				$sectionSelect.removeAttr('disabled');
				var willDisabledTargets = $sectionSelect.not(this);
				willDisabledTargets.prop('disabled', true);

				//.select에 .arrow-color-change 클래스 넣고 빼기 
				var arrowColorChange = $(this).parent();
				$('.select').removeClass("arrow-color-change");
				if ($(this).is(":disabled")) { 
					arrowColorChange.removeClass("arrow-color-change");
				}else{
					arrowColorChange.addClass("arrow-color-change");
				}

				// 옵션 체인지 있을때 스크롤 이동
				$sectionSelect.change(function(){
					var $target = $('#sectionApply').offset().top;

					$('html,body').animate({
						scrollTop: $target
					}, 500);
				});
				
			});

		} 

		// 첫번째 셀렉트 박스 disabled false 후 첫번째 옵션 '공인중개사' 선택
		$('#slct_0').prop('disabled', false);
		$('#slct_0 option:eq(1)').prop("selected", true);
		//첫번째 .select 에 .arrow-color-change 넣기
		$('.select').eq(0).addClass("arrow-color-change");
	}

	// 구매가능상품 리스트에 액티브 클래스 넣어주는 함수
	function productOn(){
		var idx = $(this).index();
		var productList = $('.product-list li a');
		productList.eq(0).addClass("active");
		productList.on('click',function(){
			productList.removeClass("active");
			$(this).eq(idx).addClass("active");
		})
	}
	//구매가능상품 .remark 글자길이 체크 + ... 추가
	function lengthOfRemark(){
	 	$('.promotion-apply .item .remark').each(function (index, item) {
			 var strLeng = $(this).text().length;
			 if(strLeng >= 24){
				$(this).text($(this).text()+"...");
				$(this).addClass('ellipsis')
			 }
		 });
	}
	

</script>
				