@{
    string platform = ("W".Equals(ViewBag.PlatformCd)) ? "pc" : "mobile";
}
@*
@if ("W".Equals(ViewBag.PlatformCd)){
}
*@

<link rel="stylesheet" href="//img.eduwill.net/eduwill/live/css/common/eduf.css">
<div id="contents" class="promotion">
    @if ("W".Equals(ViewBag.PlatformCd)){
        <div class="fix-right">
            <img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/@platform/fix_right_1.png" alt="" usemap="#mapRight">
            <map name="mapRight" id="mapRight">
                <area shape="rect" coords="36,102,179,133" href="#sectorPlan" alt="" class="page-move">
                <area shape="rect" coords="36,136,179,167" href="#sectorStudy" alt="" class="page-move">
                <area shape="rect" coords="36,170,179,201" href="#sectorAssessment" alt="" class="page-move">
            </map>
            <a href="#sectorRumor" class="page-move">
                <img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/@platform/fix_right_2.png" alt="">
            </a>
        </div>
    }

    <div class="sector-title">
        <div class="wrap-full">
            <p class="wave"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/pc/wave.png" alt=""></p>

            <p class="title-1"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/@platform/title_1.png" alt=""></p>
            <p class="title-2"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/@platform/title_2.png" alt=""></p>
            <p class="title-3"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/@platform/title_3.png" alt=""></p>
            <p class="title-4"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/@platform/title_4.png" alt=""></p>
            <p class="title-5"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/@platform/title_5.png" alt=""></p>

            <p class="light-1"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/pc/light.png" alt=""></p>
            <p class="light-2"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/pc/light.png" alt=""></p>
        </div>
    </div>

    <div class="sector-info-1">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/@platform/info_1.jpg" alt="">
        </div>
    </div>

    <div class="sector-info-2">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/@platform/info_2.jpg" alt="">
        </div>
    </div>

    <div class="sector-intro">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/@platform/intro.png" alt="">
            <div class="shape">
                <img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/@platform/shape.png" alt="">
            </div>
        </div>
    </div>

    <div class="sector-tab">
        <div class="wrap">
            <a href="#sectorPlan" class="page-move active"><span>독한 계획</span></a>
            <a href="#sectorStudy" class="page-move"><span>독한 학습</span></a>
            <a href="#sectorAssessment" class="page-move"><span>독한 평가</span></a>
        </div>
    </div>

    <div id="sectorPlan" class="sector-plan">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/@platform/plan.jpg" alt="">
        </div>
    </div>

    <div id="sectorStudy" class="sector-study">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/@platform/study.jpg" alt="">
            <div class="box-video">
                <video playsinline autoplay muted loop>
                    <source src="//pmp.eduwill.net/eduwillpmp/eduwill/flv/20220310/G2T20KO03H001.mp4" type="video/mp4">
                </video>
            </div>
            <div class="eco-1413" data-eduwill-eco-content="1413"></div>
            <div class="box-puri">
                <img src="//img.eduwill.net/eduwill/img/2021/0/event/211111/common/puri.gif" alt="">
            </div>
            <div class="box-life">
                <img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/pc/system_1_slide_3.gif" alt="">
            </div>

            <div class="study-list">
                <div><img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/pc/study_1.png" alt=""></div>
                <div><img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/pc/study_2.png" alt=""></div>
                <div><img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/pc/study_3.png" alt=""></div>
                <div><img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/pc/study_4.png" alt=""></div>
            </div>
        </div>
    </div>

    <div id="sectorAssessment" class="sector-assessment">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/@platform/assessment.jpg" alt="">
        </div>
    </div>

    <div class="sector-band">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/@platform/band.png" alt="">
        </div>
    </div>

    <div class="sector-acer-1">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/@platform/acer_1.jpg" alt="">
        </div>
    </div>

    <div class="sector-acer-2">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/@platform/acer_2.jpg" alt="">
        </div>
    </div>

    <div class="sector-acer-3">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/@platform/acer_3.jpg" alt="">
        </div>
    </div>

    <div class="sector-acer-4">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/@platform/acer_4.png" alt="">
        </div>
    </div>

    <div class="sector-product">
        <div class="wrap">
            <div class="title">
                에듀윌 평생패스 수강 시,<br>
                독한 합격시스템 <br class="only-mobile">아케르 무료 제공!
            </div>
            <div class="eco-3195" data-eduwill-eco-content="3195"></div>
        </div>
    </div>

    <div class="sector-brand">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/0/event/220310/@platform/brand.png" alt="">
        </div>
    </div>

    <div id="sectorRumor">
        @* 소문내기 이벤트는 여기에 적용 부탁드립니다. *@
    </div>
</div>

<script type="text/javascript">
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var agent = navigator.userAgent.toLowerCase();
    var trident = navigator.userAgent.match(/Trident\/(\d.\d)/i);
    var url = window.location.href;
    var str = 'event.eduwill.net';
    var checkUrl = url.indexOf(str);

    $(function(){
        frontInit();
    });

    function frontInit(){
        pageMove('.page-move');
        scrollEvent();
        tabEvent();
        titleEvent();
        if( isMobile ){
            mobileEvent();
        }
    }

    function titleEvent(){
        var promotionTitle = $('.sector-title');

        TweenMax.fromTo( promotionTitle.find('.wave'), 1, { opacity: 0 }, { opacity: 1, delay: .2, ease: Sine.easeOut, onComplete: function(){
            TweenMax.fromTo( promotionTitle.find('.wave'), 2, { scale: 1, skewX: -5 }, { scale: 1.05, skewX: 5, delay: .1, repeat: -1, yoyo: true, transformOrigin: 'center', ease: Sine.easeOut });
        }});

        TweenMax.fromTo( promotionTitle.find('.title-1'), .8, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: .4, ease: Power4.easeOut });
        TweenMax.fromTo( promotionTitle.find('.title-2'), .8, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: .6, ease: Power4.easeOut });
        TweenMax.fromTo( promotionTitle.find('.title-3'), .6, { opacity: 0, scale: 0 }, { opacity: 1, scale: 1, delay: .8, transformOrigin: 'center bottom', ease: Back.easeOut.config(1) });
        TweenMax.fromTo( promotionTitle.find('.title-4'), .8, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: 1.0, ease: Power4.easeOut });
        TweenMax.fromTo( promotionTitle.find('.title-5'), .8, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: 1.2, ease: Power4.easeOut });

        TweenMax.fromTo( promotionTitle.find('.light-1'), .8, { opacity: 0 }, { opacity: 1, delay: 1.4, ease: Circ.easeOut, onComplete: function(){
            TweenMax.fromTo( promotionTitle.find('.light-1'), 2, { opacity: 1 }, { opacity: .5, delay: .1, repeat: -1, yoyo: true, ease: Circ.easeOut });
        }});
        TweenMax.fromTo( promotionTitle.find('.light-2'), .8, { opacity: 0 }, { opacity: .5, delay: 1.4, ease: Circ.easeOut, onComplete: function(){
            TweenMax.fromTo( promotionTitle.find('.light-2'), 2, { opacity: .5 }, { opacity: 1, delay: .1, repeat: -1, yoyo: true, ease: Circ.easeOut });
        }});

        if( !isMobile ){
            TweenMax.fromTo( $('.fix-right'), .6, { opacity: 0, y: 100 }, { opacity: 1, y: 0, delay: 2.0, ease: Sine.easeOut });
        }
    }

    function scrollEvent(){
        $(window).on('scroll', function(){
            var wt = $(window).scrollTop();
            var section = $('[class^="sector-"]');

            section.each(function(i){
                if( i == 2 ){
                    if( wt >= $('.sector-intro').offset().top ){
                        $('.sector-intro').addClass('active');
                    }
                } else {
                    if( wt >= section.eq(i).offset().top - (section.height()/2) ){
                        $(this).addClass('active');
                    } else {
                        //$(this).removeClass('active');
                    }
                }
            });
        });
    }

    function tabEvent(){
        $(window).on('scroll', function () {
            var st = $(window).scrollTop();
            var _target = $('.sector-tab a');

            if ( st >= $('.sector-tab').offset().top ){
                $('.sector-tab').addClass('fixed');
            } else {
                $('.sector-tab').removeClass('fixed');
            }

            if ( st >= $('.sector-band').offset().top - 100 ){
                $('.sector-tab').fadeOut();
            } else {
                $('.sector-tab').fadeIn();
            }

            _target.each(function (i) {
                var _top = $($(this).attr('href'));
                var _parent = _top.offset().top;

                if (st >= _parent - 200) {
                    _target.eq(i).addClass('active').siblings().removeClass('active');
                } else {
                    _target.eq(i).removeClass('active');
                }
            });
        });
    }

    function mobileEvent(){
        $('.study-list').slick({
            autoplay: true,
            infinite: true,
            centerMode: true,
            variableWidth: true,
            arrows: false,
            dots: true
        });
    }
</script>
