@charset "UTF-8";
.grid, .product-eco .wrap-tab .tab-list {
  *zoom: 1;
}

.grid:before, .product-eco .wrap-tab .tab-list:before, .grid:after, .product-eco .wrap-tab .tab-list:after {
  content: '';
  display: table;
}

.grid:after, .product-eco .wrap-tab .tab-list:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid, .product-eco .wrap-tab .tab-list {
  box-sizing: border-box;
}

.grid .col, .product-eco .wrap-tab .tab-list .col, .product-eco .wrap-tab .tab-list li {
  float: left;
  box-sizing: border-box;
}

.banner-list-item .banner {
  background-color: #fff !important;
}

.eco-event {
  overflow-x: hidden;
  height: 83.9375rem;
}

@media screen and (min-width: 720px) {
  .eco-event {
    height: 1715px;
  }
}

.dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 10000;
  display: none;
  width: 90%;
  letter-spacing: -1px;
  transform: translateX(-50%);
  box-sizing: border-box;
}

.popup * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.popup-close a {
  position: absolute;
  top: 0;
  right: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 40px;
  height: 40px;
}

.popup-close a:before, .popup-close a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 1px;
  margin-left: -10px;
  background-color: #000;
}

.popup-close a:before {
  transform: rotate(45deg);
}

.popup-close a:after {
  transform: rotate(315deg);
}

.popup-close a span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup-curriculum {
  max-width: 536px;
}

.popup-benefit {
  max-width: 637px;
}

@media screen and (min-width: 1100px) {
  .popup-benefit {
    max-width: 924px;
  }
}

.popup-base {
  max-width: 720px;
}

.popup-base .popup-content {
  padding: 0.78125rem;
  text-align: left;
  font-size: 0;
  border: 2px solid #00233e;
  background-color: #fff;
}

@media screen and (min-width: 720px) {
  .popup-base .popup-content {
    padding: 25px;
  }
}

.popup-base p {
  margin: 0;
  line-height: 1.4;
  font-size: 2.77778vw;
  font-weight: 300;
  color: #00233e;
}

@media screen and (min-width: 720px) {
  .popup-base p {
    font-size: 20px;
  }
}

.popup-base p.only-bottom {
  display: none;
}

.popup-base p a {
  font-weight: 700;
  color: #00233e;
}

.popup-base .popup-close a {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 30px;
  height: 30px;
}

.popup-base .popup-close a:before, .popup-base .popup-close a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 15px;
  height: 1px;
  margin-left: -7.5px;
  background-color: #2b3236;
}

.popup-base .popup-close a:before {
  transform: rotate(45deg);
}

.popup-base .popup-close a:after {
  transform: rotate(315deg);
}

.popup-base .popup-close a span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

@media screen and (min-width: 720px) {
  .popup-base .popup-close a {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 40px;
    height: 40px;
  }
  .popup-base .popup-close a:before, .popup-base .popup-close a:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 20px;
    height: 1px;
    margin-left: -10px;
    background-color: #00233e;
  }
  .popup-base .popup-close a:before {
    transform: rotate(45deg);
  }
  .popup-base .popup-close a:after {
    transform: rotate(315deg);
  }
  .popup-base .popup-close a span {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 0px;
    height: 0px;
    margin: -1px;
    padding: 0;
    word-break: keep-all;
    white-space: nowrap;
    color: transparent;
    border: 0;
    text-indent: -9999px;
  }
}

.product-eco * {
  line-height: normal;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.product-eco .container {
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
}

.product-eco .wrap {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  width: 100%;
}

.product-eco .wrap.wide {
  width: 1200px;
}

.product-eco .holder {
  position: relative;
}

.product-eco p {
  margin: 0;
  text-align: left;
  font-size: 14px;
  color: #666;
}

.product-eco p.notice {
  margin-top: 10px;
}

.product-eco p.brand, .product-eco p.survey {
  position: absolute;
}

.product-eco .slider-contents {
  position: relative;
  margin: 0 auto;
}

.product-eco .slider-contents.dots {
  padding-bottom: 60px;
}

.product-eco .slider-contents .slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: -35px;
  text-align: center;
}

.product-eco .slider-contents .slick-dots li {
  display: inline-block;
  margin: 0 4px;
}

.product-eco .slider-contents .slick-dots li button {
  cursor: pointer;
  text-indent: -10000em;
  border: 0;
  outline: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #7c7c7c;
}

.product-eco .slider-contents .slick-dots li.slick-active button {
  width: 31px;
  border-radius: 50px;
  background-color: #ffc20e;
}

.product-eco .slider-contents .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.product-eco .slider-contents .slick-arrow.slick-prev {
  left: 20px;
}

.product-eco .slider-contents .slick-arrow.slick-prev:before {
  right: 0;
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border-width: 0;
  border-style: solid;
  border-color: #666;
  transform: rotate(45deg);
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.product-eco .slider-contents .slick-arrow.slick-next {
  right: 20px;
}

.product-eco .slider-contents .slick-arrow.slick-next:before {
  left: 0;
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border-width: 0;
  border-style: solid;
  border-color: #666;
  transform: rotate(45deg);
  border-top-width: 1px;
  border-right-width: 1px;
}

.product-eco .wrap-tab .tab-list a {
  display: block;
}

.product-eco .wrap-tab .tab-contents .item {
  position: relative;
  display: none;
}

.product-eco .wrap-tab .tab-contents .item.in {
  display: block;
}

.product-eco .banner-follow {
  position: fixed;
  top: 20%;
  left: 50%;
  z-index: 10;
  margin-left: 650px;
}

.product-eco .banner-follow > div {
  margin-top: 20px;
}

.product-eco .banner-follow > div:first-child {
  margin-top: 0;
}

.product-eco .action {
  position: absolute;
}

.product-eco .action:after {
  content: '';
  width: 45px;
  height: 52px;
  position: absolute;
  top: 50%;
  right: 10px;
  background: url(https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png) 0 0 no-repeat;
  background-size: 45px 52px;
  z-index: 1;
  animation: 0.4s slideUpY ease-in-out infinite alternate;
  -webkit-animation: 0.4s slideUpY ease-in-out infinite alternate;
}

.product-banner {
  background-color: #ffe000;
}

.product-top {
  background-color: #22223a;
}

.product-title {
  z-index: 1;
  background-color: #11236b;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_111/product/210210/pc/bg_title.jpg");
  background-size: cover;
}

.product-benefit {
  background-color: #eceef6;
}

.product-benefit .mark {
  position: absolute;
  color: #fff;
  background-color: #e80000;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  border-radius: 20px;
}

.product-benefit .mark-1 {
  top: 208px;
  left: 670px;
  width: 220px;
  height: 40px;
}

.product-benefit .mark-2 {
  top: 79px;
  left: 712px;
  width: 230px;
  height: 40px;
}

.product-benefit .mark-3 {
  top: 79px;
  left: 712px;
  width: 230px;
  height: 40px;
  animation: blink 3s step-start infinite;
}

.product-benefit .action {
  left: 0;
  top: 530px;
}

.product-apply-title {
  background-color: #142d90;
}

.product-apply-title a {
  display: inline-block;
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.eco-event {
  overflow-x: hidden;
}
/*# sourceMappingURL=web.css.map */