@{
    string platform = (string)ViewBag.platformCd == "W" ? "pc" : "mobile";
}	

	
	<div data-eduwill-eco-content="3285"></div>
	<div class="bottombanner">
		<div class="wrap">
			<a href="#productApply" class="pointer page-move">
				<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220113/@platform/bottom_banner.png" alt="부동산 고수익 실전 테마 특강">
			</a>
		</div>
	</div>
	<div class="sector sector-title">
		<div class="wrap-full">
			<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220113/@platform/title.png" alt="부동산 고수익 실전 테마 특강">
		</div>
	</div>
	<div class="sector sector-benefit">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220113/@platform/benefit.jpg" alt="">
		</div>
	</div>
	<div class="sector sector-plus">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220113/@platform/plus.png" alt="부동산 아카데미가 준비한 특별한 혜택">
			<div class="action">
				<a href="#curriCulum" class="pointer page-move"><img src="//img.eduwill.net/eduwill/img/2022/_105/event/220113/@platform/btn_01.png" alt="지금 바로 수강 신청하기"></a>
			</div>
		</div>
	</div>
	<div class="sector sector-worry">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220113/@platform/worry.jpg" alt="공인중개사 여러분, 혹시 이런 고민하고 계시나요?">
		</div>
	</div>
	<div class="sector sector-band type1">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220113/@platform/band_01.png" alt="여러분의 고민, 부동산 고수익 실전 테마 특강으로 해결하세요.">
		</div>
	</div>
	<div class="sector sector-compulsory">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220113/@platform/compulsory.jpg" alt="부동산 아카데미 드림팀이 준비한 중개, 투자 필수 강의">
		</div>
	</div>
	<div class="sector sector-contents">
		<div class="wrap">
				<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220113/@platform/contents_title.jpg" alt="에듀윌 회원만을 외한 특급혜택">
			<div class="contetn1">
					<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220113/@platform/contents_01.jpg" alt="MRT 부동산 종합 실무 마스터 196만원 할인">
			</div>
				<div class="contetn2">
					<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220113/@platform/contents_02.jpg" alt="황종화 실전경매 마스터 40%할인">
			</div>
				<div class="contetn3">
					<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220113/@platform/contents_03.jpg" alt="경매 사이트 2개월 무료 이용권">
			</div>
		</div>
	</div>
	<div class="sector sector-band type2">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220113/@platform/band_02.png" alt="고민은 성공을 늦출 뿐입니다. 부동산 고수익 실전 테마 특강, 지금 바로 시작하세요.">
		</div>
	</div>
	<div id="curriCulum" class="sector sector-curriculum">
		<div class="wrap">
			<strong>강의 구성</strong>
			<div class="table-wrap">
				<table class="table-col">
						<caption>강의 구성</caption>
						<colgroup>
						@if ("W".Equals(ViewBag.PlatformCd)){
							<col style="width: 20%">
							<col style="width: 40%">
							<col style="width: 20%">
							<col style="width: 20%">
						}
						else{
							<col style="width: 15%">
							<col style="width: 57%">
							<col style="width: 15%">
							<col style="width: 12%">
						}
						</colgroup>
						<thead>
							<tr>
								<th scope="col">분류</th>
								<th scope="col">과정</th>
								<th scope="col">교수명</th>
								<th scope="col">강의수</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td rowspan="3" class="title">부동산 중개</td>
								<td class="con">합격 후 취업 및  창업 준비 절차</td>
								<td>장석태</td>
								<td>3</td>
							</tr>
							<tr>
								<td class="con">계약서 작성 및 분쟁 사례</td>
								<td>최봉현</td>
								<td>3</td>
							</tr>
							<tr>
								<td class="con">부동산 고수들이 사용하는 유용한 부동산 플랫폼</td>
								<td>임선정</td>
								<td>3</td>
							</tr>
							<tr>
								<td rowspan="4" class="title">부동산 투자</td>
								<td class="con">경매 입문을 위한 경매 절차와 낙찰 방법</td>
								<td>장석태</td>
								<td>3</td>
							</tr>
							<tr>
								<td class="con">현 부동산 정책과 투자 흐름</td>
								<td>이종규</td>
								<td>2</td>
							</tr>
							<tr>
								<td class="con">1인 부동산이 답이다! 가장 효과적인 투자&절세 방법</td>
								<td>한영규</td>
								<td>3</td>
							</tr>
							<tr>
								<td class="con">재개발 재건축 반드시 알아야 할 세금과 세테크</td>
								<td>이재준</td>
								<td>3</td>
							</tr>
							
						</tbody>
				</table>
			</div>
		</div>
	</div>
	<div id="productApply" class="sector sector-apply">
		<div class="wrap">
			<div class="tab-con" style="display:block;">
				<div class="price-type price02">
					<div class="price-label label02">
							<span class="num">
								<em id="salePerView">부동산 고소득</em>
							</span>
							<br><span class="f1">실전 테마 특강</span>
					</div>
					<div class="price-group">
						<div class="before-price"><em></em><span id="priceView">400,000</span>원</div>
						<div class="last-price">
							<span id="salePriceView">320,000</span>원
						</div>
					</div>
					<div class="btn-apply">
						
						<a href="javascript:;" >
							@if ("W".Equals(ViewBag.PlatformCd)){
								<img src="//img.eduwill.net/Img2/Common/Product/applyCommon/btn_apply01.png" alt="수강신청">
							}else{
								<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220113/mobile/mo_btn.png" alt="수강신청">
							}
						</a>
						
					</div>
				</div>
				<table class="table-col">
					<caption>부동산 고소득 실전 태마 특강</caption>
					<colgroup>
						<col style="width: 20%">
						<col style="width: auto">
					</colgroup>
					<tbody>
						<tr>
							<th>수강기간</th>
							<td class="scope_left big">
								수강 시작일로부터  6개월(183일)동안 제공합니다.
							</td>
						</tr>
						<tr>
							<th>수강교재</th>
							<td class="scope_left">
								각 강의별 개별 교안 제공
							</td>
						</tr>
						<tr>
							<th>강좌구성</th>
							<td class="scope_left">
								부동산 중개(3) + 부동산 투자(4) 
							</td>
						</tr>
						<tr>
							<th>특별 혜택</th>
							<td class="scope_left">
								<dl>
									<dt>1. 부동산아카데미 초대</dt>
									<dd>교수님과의 질의응답, 수업 관련 공지사항 상시 안내</dd>
									<dd>수강신청 즉시 밴드 초대 문자가 발송됩니다.</dd>
								</dl>
								<dl>
									<dt>2. MRT 196만원 할인권</dt>
									<dd>정가(4,340,000원)에 할인권 적용</dd>
								</dl>
								<dl>
									<dt>3. 황종화 실전경매 마스터 40% 할인</dt>
									<dd>정가(1,150,00원)에 할인권 적용</dd>
								</dl>
								<dl>
									<dt>4. 경매 사이트 2개월 무료 이용권</dt>
									<dd>탱크옥션 사이트 회원가입 필요</dd>
									<dd>기존 혜택 받은 이력이 있는 경우 이용 불가</dd>
								</dl>
							</td>
						</tr>
						<tr>
							<th>무이자혜택</th>
							<td class="scope_left">
								신용카드 부분 무이자 할부 안내 	(5만원이상 결제 고객 대상)
							</td>
						</tr>
					
					</tbody>
				</table> 
			</div>
		
		</div>
	</div>
 

</div>





<script type="text/javaScript" src="https://img.eduwill.net/eduwill/live/js/common/script.js"></script>
<script type="text/javascript" src="https://img.eduwill.net/eduwill/live/js/common/eduf.js"></script>
<script type="text/javascript">
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
	var url = window.location.href;
	var str = 'event.eduwill.net';
	var checkUrl = url.indexOf(str);
	
	$(function(){
		init();
	});

	function init(){
		addEvent();
		addSlide();
		playVideo();
		resetVideo();
	}

	function playVideo(){
        var obj = {
            a: '//pmp.eduwill.net/eduwillpmp/eduwill/flv/20210610/interview_YDM.mp4',
            b: '//pmp.eduwill.net/eduwillpmp/eduwill/flv/20210610/interview_JJP.mp4',
			c: '//pmp.eduwill.net/eduwillpmp/eduwill/flv/sample/2021/_105/_105BP-KJH-SAMPLE.mp4',
			d: '//pmp.eduwill.net/eduwillpmp/eduwill/flv/sample/2020/_105/_105BS-YBJ-SAMPLE.mp4',
			e: '//pmp.eduwill.net/eduwillpmp/eduwill/flv/sample/2020/_105/_105BM-KYS-SAMPLE.mp4',
			f: '//pmp.eduwill.net/eduwillpmp//eduwill/flv/sample/2020/_105/_105BT-SAMPLE-LJJ.mp4',
			g: '//pmp.eduwill.net/eduwillpmp/eduwill/flv/sample/2020/_105/_105BU-ASS-SAMPLE.mp4',
			h: '//pmp.eduwill.net/eduwillpmp/eduwill/flv/sample/2020/_105/_105NL-LDH-SAMPLE.mp4',
			i: '//pmp.eduwill.net/eduwillpmp/eduwill/flv/sample/2020/_105/_105BO-SLJ-SAMPLE.mp4',
			j: '//pmp.eduwill.net/eduwillpmp/eduwill/flv/sample/2021/_105/_105BR-BDS-SAMPLE.mp4',
			k: '//pmp.eduwill.net/eduwillpmp/eduwill/flv/sample/2020/_105/_105BP-PSH-SAMPLE.mp4',
			l: '//pmp.eduwill.net/eduwillpmp/eduwill/flv/sample/2021/_105/_105BX-LJG-SAMPLE.mp4'
        };

        var playerSrc = [];
        for(var o in obj){
            playerSrc.push(obj[o]);
        };

        var videoOption = {
            playerSrc: playerSrc,
            preview: true,
            playerClass: 'eduwill-video-player',
            playerPlayClass: 'eduwill-video-play'
        };

        eduf.UI.Player(videoOption);
    }

	function addSlide(){

		$('.teacher-slide').slick({
			autoplay: false,
			arrows: true,
			dots: true,
			slidesToShow: 1,
			slidesToScroll: 1,
			cssEase: 'linear',
			infinite: false
		});

		$('.teacher-slide').on("afterChange", function(event,slick,direction){
			resetVideo();
			
		});

		/*$(".teacher-slide .eduwill-video-play").on('click',function(){
			resetVideo();
			$(this).hide();
			$(this).next(".eduwill-video-player")[0].play();
		});*/
		
		
		
		var layerSwiper = new Swiper('#photoSlide', {
            loop:true,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            initialSlide: 0
        });

		// 슬라이드 리스트 클릭시 팝업 설정
        $('.photo-list').each(function(num){
            $(this).find('li').on('click', function(){
			
                var idx = $(this).data('index');
                
                // 태그 복사 후 팝업에 추가한다.
                var tag = $('.photo-list').eq(num).find("li").clone();
                $('#photoSlide').find(".swiper-wrapper").prepend(tag);

                // layer open
                popupOpen('.dimmed', 'popup-photo');

                // 슬라이드 생성 및 팝업 바로가기 설정
                layerSwiper.destroy();
                layerSwiper = new Swiper('#photoSlide', {
                    loop: false,
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                    initialSlide:idx
                });
            });
        });

        // layer close
        $(".popup-close").on('click', function(){
            $('#photoSlide').children('.swiper-wrapper').empty();
            popupClose('.dimmed', 'popup-photo');
			popupClose('.dimmed', 'popupTime1');
			popupClose('.dimmed', 'popupTime2');
        });
	}

	function resetVideo(){
		$(".teacher-slide .eduwill-video-play").show();
		$(".teacher-slide .col").each(function(i){
			$(this).find(".eduwill-video-player")[0].pause();
		}); 
	}

	function addEvent(){
		pageMove('.page-move');

		$(".layer-close").on("click", function(){
			$(".layer-box").empty();
			popupClose('.layer-dimmed','layerVideo');
		});

		$('.btn-toggle').on("click",function(e){
			var $this = $(this);
			e.preventDefault();
			$this.parent().toggleClass('active').siblings().removeClass('active');
		});

		$('.tab .con a').on("click", function(){
			var tab_idx = $(this).parents('.con').index();

			$('.tab .con').removeClass('active');
			$(this).parents('.con').addClass('active');

			$('.tab-con').hide();
			$('.tab-con').eq(tab_idx).show();
		});
	}

	function checkResolution(e){
		if( isMobile || !checkUrl ){
			replaceImageLinks(e, 'pc', 'mobile');
			//console.log('mobile');
		} else {
			replaceImageLinks(e, 'mobile', 'pc');
			//console.log('pc');
		}
	}

	function replaceImageLinks(target, basic, change) {
		$(target + ' a').each(function(){
			var pcLink = $(this).data('pcLink');
			var mobileLink = $(this).data('mobileLink');
			$(this).attr('href', change == 'pc' ? pcLink : mobileLink);
		});
	}

	function tabControl($idx){
		_tabList.removeClass('active');
		_tabList.eq($idx).fadeIn(function(){
			$(this).addClass('active');
		});

		_tabView.hide();
		_tabView.eq($idx).fadeIn();
	}

	function layerVideo($url){
		$('.layer-box').empty();
		if ($url.indexOf('.mp4') != -1) {
			$('.layer-box').html('<video autoplay loop controls playsinline="" class="video-background" poster="https://img.eduwill.net/Img2/mobile/brand/item/main/common/video_poster.png"><source src="'+$url+'" type="video/mp4"></video>');
		}else{
			$('.layer-box').html('<iframe src="'+$url+'" frameborder="no" scrolling="no" marginwidth="0" marginheight="0" width="100%" height="100%" allowfullscreen></iframe><img src="https://img.eduwill.net/Img2/mobile/brand/item/main/land/naver.png" alt="">');
		}

		setTimeout(function(){
			popupOpen('.layer-dimmed', 'layerVideo');
		},500);
	}
</script>