@{
	string viewPath = ((RazorView)ViewContext.View).ViewPath;
	viewPath = viewPath.Remove(viewPath.LastIndexOf('/') + 1);
}

@{
	string cssUrl = ViewBag.IsLocal
		? "/Content/2022/_105/event/220113/css/web.css"	// local 경로
		: "//img.eduwill.net/eduwill/css/2022/_105/event/220113/web.css?v=1";	// ftp 경로
}

<link rel="stylesheet" type="text/css" href="@cssUrl" />

<div id="contents" class="promotion">

	<div class="wing">
		<img src="//img.eduwill.net/eduwill/img/2022/_105/event/220113/pc/flag1.png" alt="">
	</div>

	@Html.Partial(viewPath + "_Content.cshtml")