@charset "utf-8";

@import url('nanumgothic.css');
@import url('reset.css');

/* BASIC */
body, input, select, textarea, button { font-family:'나눔고딕', NanumGothic, 'Nanum Gothic', Dotum, '돋움', sans-serif}
body { font-size:14px; color:#666; line-height:1; -webkit-text-size-adjust:none}
input, select, textarea, button { font-size:13px; color:#666;}
select { /* border:1px solid #b0b0b0; padding:5px 5px 6px; +height:30px */}

a { color:#666; text-decoration:none;}
a:hover { color:#666; text-decoration:none;}
a:active { color:#666; text-decoration:none;}
.blind { position:absolute; top:0; left:-9999em; width:0; height:0; font-size:0; line-height:0}
.clearfix { clear: both}
.clearfix:after { content:""; display:block; clear:both;}
.hidden { position:absolute; z-index:-1; top:-10000em; height:0;}
.none_pad { padding:0 !important;}

.g_inner { position:relative; width:900px; margin:0 auto;}

/* Button Style Guide */
.btn_group { position:relative; overflow:hidden; text-align:center; margin:30px 0;}
a.g_btn_a { display:inline-block; width:250px; height:48px; line-height:48px; font-size:20px; text-align:center; color:#fff; font-weight:400; background-color:#3d3d3d; border:1px solid #3d3d3d;}
a.g_btn_b { display:inline-block; width:250px; height:48px; line-height:48px; font-size:20px; text-align:center; color:#888; font-weight:400; background-color:#fff; border:1px solid #adadad;}
a.g_btn_c { display:inline-block; padding:0 13px; font-size:12px; text-align:center; font-weight:600; height:30px; line-height:30px; color:#fff; background-color:#3d3d3d}
a.g_btn_d { display:inline-block; padding:0 14px; text-align:center; height:30px; background-color:#20409a;}
a.g_btn_d span { display:inline-block; padding-right:12px; font-size:12px; font-weight:600; line-height:30px; color:#fff; background:url('http://img.eduwill.net/Img2/Common/Join/new/bu_arrow02.png') right center no-repeat;}
a.g_btn_e { display:inline-block; padding:15px 0; text-align:center; font-size:20px; color:#fff; background-color:#4e63df;}
a.g_btn_e span { padding-right:35px; background:url('http://img.eduwill.net/books/web/membership/bu_arrow01.png') right 50% no-repeat;}
a.g_btn_e strong  { color:#ffed00;}
a.g_btn_f { display:inline-block; font-size:12px; text-align:center; height:22px; line-height:22px; color:#666; background:#fff; border:1px solid #cfcfcf; padding:0 15px; font-family: nanum_b, 'nanum_b';}

/* Form Style Guide */
input.g_input { height:28px; color:#000; line-height:28px; font-size:13px; vertical-align:middle; padding:0 5px; color:#666; border:1px solid #cecece;}
input.char_phone { width:55px; }
.g_radio { margin-right:45px; }
.g_tip { color:#7f7f7f; font-size:12px; margin-left:8px; }
.g_textarea { padding:10px; width:98%; resize:none; border:1px solid #cecece;}
.g_select { padding:5px 3px 6px 3px; border:1px solid #cecece;}
::-webkit-input-placeholder { color:#aaa;}
:-moz-placeholder { /* Firefox 18- */color:#aaa; }
::-moz-placeholder {  /* Firefox 19+ */color:#aaa; }
:-ms-input-placeholder { color:#aaa;}

/* Align */
.left_align { text-align:left !important;}
.center_align { text-align:center !important;}
.right_align { text-align:right !important;}


/* Text Style Guide */
.asterisk { text-indent:-1000em; display:inline-block; width:10px; height:10px; margin-right:3px; vertical-align:middle; background:url('http://img.eduwill.net/books/web/membership/bu_asterisk.png') 0 0 no-repeat;}
.atr_txt { margin-top:-10px; text-align:right; color:#ff0000; font-size:12px; font-family:'nanum_b';}
.g_point_a { color:#333; font-size:13px; letter-spacing:-1px;}
.g_point_b { color:#777; font-size:12px; letter-spacing:-1px;}

.g_msg_a { padding:20px 0 30px; font-size:13px; color:#666; line-height:21px;}

/* List Style Guide */
.list_type_a li { color:#333; line-height:1.5; letter-spacing:-1px;}

/*------------------------------------------ LAYOUT -------------------------------------------- */
/* Header */
#header { width:100%; background:#fff;}
.h_wrap { position:relative; width:600px; margin:0 auto;}
.h_wrap h1 { padding:80px 0 60px; text-align:center;}
.h_wrap h2 { padding:0 0 35px; text-align:center; color:#000; font-size:22px; font-weight:600; letter-spacing:-1px;}
#container { background:#fff;}
#content { position:relative;}
.g_content { position:relative; width:600px; margin:0 auto; min-height:400px; padding-bottom:100px; background:url('https://img.eduwill.net/Img2/Common/Join/new/bg_pattern.gif') 0 top repeat-x;}
.g_content.join { width:750px;}
.hd_spot { position:relative; width:100%; padding-bottom:42px;}
.hd_gnb { position:relative; margin:0 auto; text-align:center;}
.hd_gnb > li { display:inline-block; padding-left:15px; margin-right:15px; background:url('https://img.eduwill.net/Img2/Common/Join/new/bu_bar01.gif') left center no-repeat;}
.hd_gnb > li a { display:inline-block; text-align:center; color:#666; font-size:14px; }
.hd_gnb > li:first-child { background:none; padding-left:0;}
.hd_gnb > li a:hover,
.hd_gnb > li a.active { color:#222; font-family: nanum_b, 'nanum_b';}

.basic_info .g_tbl_row { margin-bottom:30px;}

.head_txt { padding:45px 0 30px; text-align:center; letter-spacing:-1px;}
.head_txt .mid_txt { line-height:22px; font-size:16px; color:#222;}

/* 로그인 */
.login_item fieldset { position:relative; padding:0 55px 35px 55px; margin-bottom:25px; overflow:hidden; border-bottom:1px solid #d7d7d7;}
.login_item fieldset .left_area { float:left; width:325px;}
.login_item fieldset .left_area input.g_input { padding:13px 23px; width:268px; height:22px; font-size:20px; color:#999; border:1px solid #c6c6c6;}
.login_item fieldset .left_area .input_box { margin-bottom:7px;}
.login_item fieldset .left_area .check_wrap { margin-top:15px;}
.login_item fieldset .left_area .check_wrap label { color:#333; font-size:13px;}
.login_item fieldset .btn_type_login { width:165px; height:107px; line-height:107px; text-align:center; font-size:24px; color:#fff; font-family: nanum_b, 'nanum_b'; border:none; background:#3b3b3b; cursor: pointer;}
.login_item fieldset .right_area { float:left; width:165px;}

/* 회원가입 */
/* term box */
.term_section { padding:0 24px;}
.term_section .agree_all { padding-bottom:18px; border-bottom:1px solid #cecece;}
.term_section .agree_all label { padding-left:9px; font-size:16px; font-weight:600; color:#000; letter-spacing:-1px;}
.term_section .agree_all input { float:right; margin-right:9px;}
.term_section .terms { position:relative; padding:0 9px;}
.term_section .terms .chk { margin:20px 0 12px; overflow:hidden;}
.term_section .terms .chk label { font-size:14px; letter-spacing:-1px;}
.term_section .terms .chk input { float:right;}
.term_section .term_box { padding:20px; border:1px solid #e6e6e6; height:90px; overflow-y:scroll; font-size:13px; line-height:20px; letter-spacing:-1px}
.term_box h5 { font-size:16px; padding-bottom:10px; color:#3c3c3c;}
.term_box strong{color:#3c3c3c; font-size:14px}
.term_box table { border-top:1px solid #e7e6e6;border-right:1px solid #e7e6e6}
.term_box table th {border-left:1px solid #e7e6e6}
.term_box table td {border-left:1px solid #e7e6e6; padding:7px 7px 9px; font-size:13px;}
.term_box dl dt { margin-top:10px; padding-bottom:10px; font-family: nanum_b, 'nanum_b'; color:#3c3c3c; font-size:16px}
.term_box dl dt:first-child { margin-top:0;}

.join_section { }
.join_section > p.msg_a { padding:45px 0 35px; text-align:center; font-size:15px; color:#222; line-height:1.5; font-weight:400; letter-spacing:-1px;}
.joins_step { width:567px; margin:0 auto 80px; overflow:hidden;}
.joins_step ol li { float:left; width:189px; overflow:hidden;}
.joins_step ol li .img { float:left; width:57px; height:65px;}
.joins_step ol li dl { float:left; width:132px;}
.joins_step ol li dl dt { padding:8px 0 5px 12px; color:#999; font-size:18px; font-weight:600; letter-spacing:-1px; border-bottom:1px solid #dadada;}
.joins_step ol li dl dd { padding:5px 0 0 12px; color:#999; font-size:14px; font-weight:400; letter-spacing:-1px;}
.joins_step ol li.current dt, .joins_step ol li.current dd { color:#3d3d3d; border-color:#3d3d3d;}
.join_section .msg_b { padding:0 0 18px 10px; font-size:16px; font-weight:600; color:#000; letter-spacing:-1px;}

.member_info { position:relative; padding-top:35px;}
.member_info .g_btn_d { position:absolute; top:0; right:0;}
.member_info h3 { margin-bottom:25px; font-size:22px; color:#000; font-weight:600; letter-spacing:-1px;}
.member_info .tbl_section { margin-bottom:30px; padding:15px 0 0; border-top:1px solid #cecece; border-bottom:1px solid #cecece; background:url('http://img.eduwill.net/Img2/Common/Join/new/bg_line.gif') 0 0 repeat-y;}
.member_info .tbl_section tbody tr.topb th, .member_info .tbl_section tbody tr.topb td { padding-top:20px; border-top:1px solid #cecece;}
.member_info .tbl_section tbody tr.botb th, .member_info .tbl_section tbody tr.botb td { padding-bottom:20px; border-bottom:1px solid #cecece;}
.member_info .tbl_section tbody th { padding:10px 0 0 10px; height:25px; text-align:left; color:#000; font-size:14px; letter-spacing:-1px; vertical-align:top;}
.member_info .tbl_section tbody td { padding:5px 25px; min-height:30px; text-align:left;}
.member_info .tbl_section tbody td .man_radio { float:left; overflow:hidden;}
.member_info .tbl_section tbody td .man_radio dl dt { float:left; padding:8px 35px 8px; border-right:1px solid #cecece; font-weight:600; font-size:14px; color:#000; letter-spacing:-1px;}
.member_info .tbl_section tbody td .man_radio dl dd { float:left; padding:8px 0 0 25px;}
.member_info .tbl_section tbody td p { margin:15px 0 5px 0; color:#000; letter-spacing:-1px; font-size:13px;}
.member_info .tbl_section tbody td .g_btn_c { padding:0; width:137px;}
.member_info .pwd_login { text-align:center;}
.member_info .pwd_login dl dt { margin-bottom:10px; text-align:center; font-size:14px; color:#000; letter-spacing:-1px; font-weight:600;}
.member_info .pwd_login dl dd { font-size:12px; color:#666;}
.member_info .pwd_login input { display:inline-block; margin:40px 0; text-align:center; width:438px;}

.join_final { text-align:center;}
.welcome_t01 { font-size:30px; color:#000; letter-spacing:-1px; font-weight:600;}
.welcome_t02 { padding:25px 0 40px; font-size:15px; color:#222; letter-spacing:-1px;}

.wish_radio { padding:25px 0 15px 25px; }
.gov_item { padding:20px 20px 20px 25px; overflow:hidden; background:#f4f4f4; border-top:1px solid #cecece;}
.lic_item { padding:15px 20px 15px 25px; overflow:hidden; background:#f4f4f4; border-top:1px solid #cecece;}
.lic_item li { margin:5px 25px 5px 0; min-width:20%;}
.gov_item label { font-size:13px;}
.gov_item .select01 { float:left; margin-right:30px;}
.gov_item .select02 { float:left; }
.gov_item .select01 select, .gov_item .select02 select { margin-left:5px; min-width:160px;}
.inp_radio { overflow:hidden;}
.inp_radio li { float:left; margin-right:25px; font-size:12px; letter-spacing:-1px;}
.inp_radio li label { padding-left:4px;}
.member_info .tbl_section tbody td.footagree {padding:30px 0; color:#000; font-size:13px; text-align:center; background:#f4f4f4;}
.member_info .tbl_section tbody td.footagree div.checks { margin:25px 0 0;}
.member_info .tbl_section tbody td.footagree div.checks label { padding-right:10px;}

/* 아이디 찾기 */
.find_section { position:relative; padding-top:40px;}
.find_tab { position:relative; margin-top:40px;}
.find_tab > li { float:left;}
.find_tab > li > a { position:absolute; left:300px; top:0; display:block; width:298px; height:38px; text-align:center; line-height:38px; font-size:13px; color:#777; font-size:13px; border:1px solid #c4c4c4; border-bottom:2px solid #777;}
.find_tab > li:first-child > a { left:0;}
.find_tab > li > .find_box { display:none; position:relative; margin-top:40px; padding:30px 20px; width:556px; border:2px solid #777; border-top:0 none;}
.find_tab > li.current .find_box { display:block;}
.find_tab > li.current > a { width:296px; height:37px; line-height:37px; color:#222; font-weight:800; border:2px solid #777; border-bottom-color:#fff;}

.find_box {}
.find_box .msg_a { padding:0 0 20px 12px; font-size:14px; color:#000; font-weight:600;}
.find_box .method_select01 { position:relative; padding:30px 10px 20px; border-top:1px solid #cecece;}
.find_box .method_select01.on .inp_form > label span { display:block;}
.find_box .method_select02.on .inp_form > label span { display:block;}
.find_box .method_select01.on ul, .find_box .method_select02.on ul { display:block;}
.find_box .method_select02 { position:relative; padding:30px 10px 0; border-top:1px solid #cecece;}
.find_box .inp_form > label { padding-left:5px; font-size:14px; color:#666; }
.find_box .inp_form > label em { display:inline-block; padding-left:15px;}
.find_box .inp_form > label span { display:none; margin-top:8px; padding-left:18px; font-size:12px; }
.find_box .inp_form ul { display:none; margin:20px 0 0;}
.find_box .inp_form ul li { overflow:hidden;}
.find_box .inp_form ul li .inpf_title { float:left; padding:5px 0 10px; width:105px; padding-left:20px; font-size:14px; color:#000;}
.find_box .inp_form ul li .inpf_form { float:left; padding-bottom:10px; width:410px;}
.find_box .inp_form ul li .inpf_form .form_phone { overflow:hidden;}
.find_box .inp_form ul li .inpf_form .form_phone input { display:inline-block; float:left; margin-right:10px;}
.find_box .inp_form ul li .inpf_form .form_phone a { float:left;}
.find_box .inp_form ul li .inpf_form .form_number { position:relative; margin-top:10px;}
.find_box .inp_form ul li .inpf_form .form_number span { padding-left:10px; font-size:12px; letter-spacing:-1px;}
.tip_msg { display:none; position:absolute; top:175px; left:467px; padding:5px 5px 0 20px; vertical-align:top; width:242px; height:72px; font-size:11px; line-height:1.5; background:url('http://img.eduwill.net/Img2/Common/Join/new/bg_tip.png') 0 0 no-repeat; z-index:10;}
.find_box .inp_form ul li .inpf_form .form_email { overflow:hidden;}
.find_box .inp_form ul li .inpf_form .form_email input { display:inline-block; float:left; margin-right:10px;}
.find_box .inp_form ul li .inpf_form .form_email span { display:inline-block; float:left; text-align:left; padding-right:8px; line-height:30px;}
.find_box .inp_form ul li .inpf_form .form_email a { float:left;}

.find_box .find_result { position:relative;}
.find_box .id_result { padding:30px 10px 15px; border-top:1px solid #cecece; border-bottom:1px solid #cecece;}
.find_box .id_result li { position:relative; margin-bottom:15px;}
.find_box .id_result li .user_id { padding-left:15px; font-size:13px; color:#222;}
.find_box .id_result li .user_data { position:absolute; left:275px; font-size:13px; color:#222;}
.find_box .find_result .msg_a p { margin-top:10px; font-size:12px; color:#666; font-weight:400;}
.find_box .pwd_result { padding:30px 0 0 52px; border-top:1px solid #cecece;}
.find_box .pwd_result p { margin-bottom:15px; font-weight:600; color:#222; font-size:13px;}
.find_box .pwd_result ul { width:450px;}
.find_box .pwd_result ul li { position:relative; height:30px; line-height:30px; color:#aaa; font-weight:400; font-size:13px; letter-spacing:-1px; margin-bottom:10px;}
.find_box .pwd_result ul li .g_btn_c { position:absolute; right:0;}

.find_pwd01 { padding:40px 0; text-align:center;}
.find_pwd01 input { width:435px; text-align:center; color:#666;}

.find_pwd02 { padding:40px 0; text-align:left;}
.find_pwd02 ul { margin-left:80px;}
.find_pwd02 ul li { position:relative; margin-top:25px;}
.find_pwd02 ul li:first-child { margin-top:0;}
.find_pwd02 ul li label { position:relative; display:inline-block; padding-left:10px; font-size:14px; color:#222;}
.find_pwd02 ul li label span { position:absolute; left:240px; top:0; width:auto; display:inline-block; font-size:12px; color:#222; white-space:nowrap;}
.rule_layer { display:none; position:absolute; top:55px; left:369px; width:450px; padding:45px 20px 15px; border:1px solid #cecece; background:#fff;}
.rule_layer dl dt { font-size:15px; color:#222; font-weight:600;}
.rule_layer dl dd { margin-top:20px; font-size:12px; line-height:1.5;}
.rule_layer .close_layer { position:absolute; top:0; left:0; width:480px; padding:3px 5px;text-align:right; background:#3d3d3d;}
.rule_layer .close_layer img { display:inline-block; padding:3px 5px;}

/* 탈퇴 */
.secede_con {  position:relative; padding-top:35px;}
.secede_con h3 { margin-bottom:25px; font-size:22px; color:#000; font-weight:600; letter-spacing:-1px;}
.secede_con .g_msg_f { padding:0 0 25px; line-height:1.5; letter-spacing:-1px; color:#333;}
.secede_con .g_msg_f strong span{ color:#283891;}
.secede_con .list_type_a { margin-bottom:25px;}
.secede_con .list_type_a strong { color:#283891; letter-spacing:0;}
.secede_con h4 { color:#000; margin-bottom:10px;}
.secede_con .pwd_login { padding:25px; background:#e9e9e9; border-top:1px dashed #ccc; border-bottom:1px dashed #ccc;}
.secede_con .pwd_login dl dt { color:#333; font-weight:bold; letter-spacing:-1px; line-height:1.5;}
.secede_con .pwd_login dl dd { margin-bottom:10px; line-height:1.5;}
.secede_con .pwd_login input { width:300px;}

/* FOOTER */
#globalFooter { position:relative; width:100%; padding-bottom:80px; border-top:4px solid #191919;}
.members_footer {}
.certification { background:#; border-bottom:1px solid #efefef;}
.certification ul { overflow:hidden; padding:12px 0;}
.certification ul li { float:left; margin-left:40px;}
.certification ul li a { display:block;}
.certification ul li:first-child { margin-left:20px;}
#globalFooter .g_inner { position:relative;}
.foot_logo { float:left; width:135px; padding-top:65px;}
.foot_info { float:right; width:765px; padding-top:25px;}
.foot_group { overflow:hidden; padding-bottom:25px;}
.foot_group li { float:left; margin-left:50px;}
.foot_group li:first-child { margin-left:0;}
.foot_link { overflow:hidden; margin-bottom:15px;}
.foot_link li { float:left;}
.foot_link li a { padding-left:10px; margin-left:9px; font-size:12px; color:#666; letter-spacing:-1px; font-weight:bold; font-family:'Nanum Gothic','맑은 고딕', Malgun gothic, 돋움, 'Dotum'; background:url('http://img.eduwill.net/Img2/globalMain/bu_bar02.gif') left center no-repeat;}
.foot_link li:first-child a { padding-left:0; margin-left:0; background:none;}
.foot_link li.blue a { color:#27358f;}

address { display:block; line-height:22px; font-size:12px; color:#888; letter-spacing:-1px; font-family:'Nanum Gothic','맑은 고딕', Malgun gothic, 돋움, 'Dotum';}
address span { display:inline-block; padding:0 5px;}
address p { margin-top:10px; font-weight:bold;}
address p .copy { letter-spacing:0;}

.partnership.family01 { position:absolute; top:65px; right:0;}
.partnership.family02 { position:absolute; top:90px; right:0;}
.partnership h4 { }
.partnership.family01 .alliance { display:none; position:absolute; top:-150px; right:0; width:930px; background:#f8f9ff; border:1px solid #ddd;}
.partnership.family01 .alliance dl { float:left; position:relative; padding:10px; width:165px; border-left:1px dashed #9da4c3;}
.partnership.family01 .alliance dl:first-child { border-left:0 none;}
.partnership.family01 .alliance dl dt { padding:3px 5px 5px 10px; font-weight:bold; color:#3f4b91; font-size:13px; font-family:'Nanum Gothic','맑은 고딕', Malgun gothic, 돋움, 'Dotum'; background:#fcfcfc; border:1px solid #afb6d5;}
.partnership.family01 .alliance dl dd { padding:5px; font-family:'Nanum Gothic','맑은 고딕', Malgun gothic, 돋움, 'Dotum';}
.partnership.family01 .alliance dl dd ul li a { line-height:24px; font-size:12px;}
.partnership.family01 .alliance dl dd ul li > img { padding-right:5px;}
.partnership .alliance .more { position:absolute; top:17px; right:17px;}
.partnership .close_layer { position:absolute; top:-21px; right:0; font-size:11px; display:inline-block; padding:4px 8px 5px; color:#fff; font-family:'Nanum Gothic','맑은 고딕', Malgun gothic, 돋움, 'Dotum'; font-size:12px; font-weight:bold; background:#636eaa;}

.partnership.family02 .alliance { display:none; position:absolute; top:-373px; right:0; width:630px; background:#f8f9ff; border:1px solid #ddd;}
.partnership.family02 .alliance dl { padding:10px; }
.partnership.family02 .family ul { float:left; width:200px;}
.partnership.family02 .family ul.last { width:380px;}
.partnership.family02 .family ul li { font-family:'Nanum Gothic','맑은 고딕', Malgun gothic, 돋움, 'Dotum';}
.partnership.family02 .family ul li a { line-height:24px;}
.partnership.family02 .family ul li >a { color:#636eaa; font-weight:bold; font-size:13px;}
.partnership.family02 .family ul li div { padding:5px 0 0;}
.partnership.family02 .family ul li div strong { display:block; margin-bottom:2px; color:#f26e2f; font-size:11px;}
.partnership.family02 .family ul li div p { margin-bottom:8px; font-size:11px;}
.partnership.family02 .family dt { padding:3px 5px 5px 10px; font-weight:bold; color:#3f4b91; font-size:13px; font-family:'Nanum Gothic','맑은 고딕', Malgun gothic, 돋움, 'Dotum'; background:#fcfcfc; border:1px solid #afb6d5;}
.partnership.family02 .family dd { padding:10px 10px; overflow:hidden;}


.txt_freeProduct {background:url('https://img.eduwill.net/Img2/Common/Join/new/bg_freeProduct.gif') left center no-repeat; width:630px; height:120px; margin:0 auto 40px;}
.txt_freeProduct p {font-family: 'nanum_b'; text-align:center; font-size:18px; color:#666; font-weight:bold; line-height:26px; padding-top:34px}
.txt_freeProduct p .t1 {color:#222;}
.txt_freeProduct p .t2 {color:#f05a1f}
.baaner_zone {font-size:0}
.baaner_zone a {display:inline-block; margin:0 0 4px 4px}
.baaner_zone a:first-child {margin-left:0}