@charset "utf-8";

// Core variables and mixins
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/extend";

/* 공통 */

.product-eco {
	.slick-dots {
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			button {
				width: 14px;
				height: 14px;
				margin-right: 10px;
				border-radius: 14px;
				text-indent: -9999px;
				background: #adadad;
				border: none;
				transition: all .3s ease;
			}
	
			&.slick-active {
	
				button {
					width: 38px;
					background: #ffc20e;
					border-radius: 20px;
				}
			}
	
		}
	}
	#edoContent2 {
		.ecoCont4 {
			display: none;
			background: linear-gradient(0deg, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 15%);
		}
	}

	#edoContent1 {
		.ecoCont1796 {
			display: none;
		}
	}

	.btn-reason {

		position: absolute;
		right: 8vw;
		border: 1px solid #e4e4e4;
		padding: 1vw 3.5vw 1vw 2vw ;
		font-size: 3vw;
		letter-spacing: -0.2vw;
		font-weight: 900;
		color: #939393;
		background: transparent;
	
		&::after {
			content: '';
			position: absolute;
			top:2.2vw;
			right: 1.6vw;
			width: 6px;
			height: 6px;
			border: 1px solid #939393;
			border-left: none;
			border-bottom: none;
			box-sizing: border-box;
			transform: rotate(45deg);
	
		}
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.wrap {
		max-width: 720px;
		width:100%;
		position:relative;
		box-sizing: border-box;
	}
	.btn-pointer {
		display: inline-block;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			right:-13px;
			bottom: -20px;
			width: 57px;
			height: 65px;
			background: url(https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png) no-repeat 50% 50%;
			background-size:100% auto;
			animation: 0.3s slideupY ease-in-out infinite alternate;
		}
		@keyframes slideupY {
			0% {
				transform: translateY(0);
			}
			100% {
				transform: translateY(10px);
			}
		}
	}

	@keyframes bounce {
		0%,100% {
			-webkit-transform: translateY(5px);
			transform: translateY(5px);
		}
		50% {
			-webkit-transform: translateY(5px);
			transform: translateY(-5px);
		}
	}

	@-webkit-keyframes bounce {
		0%, 100% {
			-webkit-transform: translateY(5px);
			transform: translateY(5px);
		}
		50% {
			-webkit-transform: translateY(5px);
			transform: translateY(-5px);
		}
	}
	.bounce {
		position: absolute;
		animation: bounce 2s infinite both;
	  
	  }
}


/* 컨텐츠 */
.product-eco {
	overflow: hidden;

	&[data-type="2738"]{
		
		.visual {
			z-index: 1;
			padding:0;
			background: #7a0cdf url('https://img.eduwill.net/eduwill/img/2021/Q/product/211224/mobile/2738/visual_bg.jpg') no-repeat 50% 50%;
			background-size: cover;
			// .btn-reason {
			// 	top: 220px;
			// 	right: 100px;
			// }

			.bounce {
				position: absolute;
				@include vw(width, 153px);
				@include vw(top, 380px);
				right: 10px;
			}
		}
	
		.cont1 {
			position: relative;
			background: #ffc20e;
			padding-bottom: 60px;
			z-index: 1;
			
			.text{
				font-family: $font-roboto;
				position: absolute;
				@include vw(top, 271px);
				@include vw(right, 230px);
				@include vw(font-size, 33px);
				font-weight: 900;
				color: #202020;
				line-height: 1;
				letter-spacing: -2px;
			}
			.content-benefit{
				@include vw(margin-top, -180px);
			}
		}
		
		.cont2 {
			position: relative;
			background: #2c036b;
			z-index:2;

			img {
				margin-top: -55px;
			}
		}
		
		.product-sentence {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #7706c7;
			color: #fff;
			font-weight: 900;
			height: 18.67vw;
			font-size: 7vw;
			letter-spacing: -1px;
			text-align: center;
			
			
		}
	}
	
	&[data-type="2738_1"]{
		
		.visual {
			z-index: 1;
			padding:0;
			background: #641ac9;

			.bounce {
				position: absolute;
				@include vw(width, 160px);
				@include vw(top, 340px);
				@include vw(right, 90px);
			}
		}
	
		.cont1 {
			background: #2f1056;
			
			.slide {
				.slick-dots {
					
					.slick-active {
						button {
							background: #ec39c7;
						}
						
					}
				}
			}
		}
		
		.cont2 {
			background: #472973;
			
		}
		
		.product-sentence {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #7706c7;
			color: #fff;
			font-weight: 900;
			height: 18.67vw;
			font-size: 7vw;
			letter-spacing: -1px;
			text-align: center;
			
			
		}
	}


	&[data-type="3435"]{
		.monthlyNumber1 {
			position: absolute;
			@include vw(left, 77px);
			@include vw(top, 1069px);
			@include vw(font-size, 30px);

			font-weight: 900;
			color: #222;
			letter-spacing: -1px;
			font-family: 'Roboto', 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif;;
		}
		.visual {
			background: #21128b;
			background-size:cover;

			.btn-reason {
				top: 57vw;
				color: #fff;
				&::after {
					border-color: #fff;
				}
			}

			.move-img {
				position:absolute;
				bottom: percent(200,765);
				left: percent(50,720);
				width: percent(165,720);
				animation:bounce 2s infinite both;
			}
			
		}
	
		.cont1 {
			// .btn-reason {
			// 	top: 35vw;
			// }
		}

		.cont2 {
			.wrap {
				img {
					@include vw(margin-top, -50px);
				}
			}
		}

		#edoContent2 {
			.ecoCont4 {
				display: block !important;
			}
		}

		.product-sentence {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #ffbf00;
			color: #000;
			font-weight: 900;
			height: 18.67vw;
			font-size: 7vw;
			letter-spacing: -1px;
			text-align: center;
			
			
		}
	
	}


	&[data-type="1796"]{
		.monthlyNumber1 {
			position: absolute;
			@include vw(right, 290px);
			@include vw(top, 709px);
			@include vw(font-size, 30px);

			font-weight: 900;
			color: #222;
			letter-spacing: -1px;
			font-family: 'Roboto', 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif;;

		}

		#edoContent1 {
			.ecoCont1796 {
				display: block !important;
			}
		}
		.visual {
			background: #21128b;
			background-size:cover;

			.btn-reason {
				top: 57vw;
				color: #fff;
				&::after {
					border-color: #fff;
				}
			}

			.move-img {
				position:absolute;
				bottom: percent(200,765);
				left: percent(50,720);
				width: percent(165,720);
				animation:bounce 2s infinite both;
			}
			
		}
	
		.cont1 {
			// .btn-reason {
			// 	top: 35vw;
			// }
		}

		.cont2 {
			.wrap {
				img {
					@include vw(margin-top, -50px);
				}
			}
		}

		.product-sentence {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #ffbf00;
			color: #000;
			font-weight: 900;
			height: 18.67vw;
			font-size: 7vw;
			letter-spacing: -1px;
			text-align: center;
			
			
		}
	
	}
	
	&[data-type="2912"],
	&[data-type="2911"],
	&[data-type="2908"] {
		#edoContent1 {
			.ecoCont0 {
				display: block !important;
			}
		}

		
	}
	&[data-type="2912"]{
		.visual {
			background: #790cdf;

			.btn-reason {
				background: #5400a2;
				color: #bb99da;
				top: 4vw;
				border: none;

				&::after {
					border-color: #bb99da;
				}
			}
		}
		.cont1 {
			img {
				@include vw(margin-top, -624px);
			}	
		}

		.product-sentence {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #3d1d5a;
			color: #fff;
			font-weight: 900;
			height: 18.67vw;
			font-size: 7vw;
			letter-spacing: -1px;
			text-align: center;
			
			
		}
	
	}
	&[data-type="2911"]{
		.visual {
			background: #245d00;

			.btn-reason {
				background: none;
				color: #a2bc80;
				border: 1px solid #a2bc80 !important;
				top: 38.5vw;
				border: none;

				&::after {
					border-color: #a2bc80;
				}
			}
		}
		.cont1 {
			img {
				@include vw(margin-top, -265px);
			}	
		}

		.product-sentence {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #034700;
			color: #fff;
			font-weight: 900;
			height: 18.67vw;
			font-size: 7vw;
			letter-spacing: -1px;
			text-align: center;
			
			
		}
	
	}

	&[data-type="2908"]{
		.visual {
			background: #3e0079;

			.btn-reason {
				background: none;
				color: #746eb4;
				border: 1px solid #746eb4 !important;
				top: 39vw;
				

				&::after {
					border-color: #746eb4;
				}
			}
		}
		.cont1 {
			img {
				@include vw(margin-top, -265px);
			}	
		}

		.product-sentence {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #3d1d5a;
			color: #fff;
			font-weight: 900;
			height: 18.67vw;
			font-size: 7vw;
			letter-spacing: -1px;
			text-align: center;
			
			
		}
	
	}


}


@import "module/popup";