@charset "UTF-8";
.grid, .product-price-zone .price-box, .product-price-zone .price-box .block-anchor, .product-price-zone .price-box .holder, .product-pass .wrap {
  *zoom: 1;
}

.grid:before, .product-price-zone .price-box:before, .product-price-zone .price-box .block-anchor:before, .product-price-zone .price-box .holder:before, .product-pass .wrap:before, .grid:after, .product-price-zone .price-box:after, .product-price-zone .price-box .block-anchor:after, .product-price-zone .price-box .holder:after, .product-pass .wrap:after {
  content: '';
  display: table;
}

.grid:after, .product-price-zone .price-box:after, .product-price-zone .price-box .block-anchor:after, .product-price-zone .price-box .holder:after, .product-pass .wrap:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid, .product-price-zone .price-box, .product-price-zone .price-box .block-anchor, .product-price-zone .price-box .holder {
  box-sizing: border-box;
}

.grid .col, .product-price-zone .price-box .col, .product-price-zone .price-box .box, .product-price-zone .price-box .title-list, .product-price-zone .price-box .price-list {
  float: left;
  box-sizing: border-box;
}

.grid .col-right, .product-price-zone .price-box .col-right {
  float: right;
}

.dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 300;
  display: none;
  width: 100%;
  max-width: 720px;
  text-align: left;
  letter-spacing: -1px;
  background-color: #fff;
  box-sizing: border-box;
  transform: translateX(-50%);
}

.popup * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

@media screen and (min-width: 720px) {
  .popup {
    width: 900px;
  }
}

.popup-body {
  padding: 15% 5%;
}

@media screen and (min-width: 720px) {
  .popup-body {
    padding: 40px;
  }
}

.popup-head {
  padding: 32px 20px;
  font-size: 30px;
  font-weight: 600;
  color: #000;
  background-color: #ececec;
}

.popup-desc {
  padding: 20px;
}

.popup-desc li {
  padding: 10px 0;
  line-height: 1.2;
  font-size: 20px;
  color: #000;
  border-bottom: 1px solid #ccc;
}

.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.popup-close:before, .popup-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #333;
}

.popup-close:before {
  transform: rotate(45deg);
}

.popup-close:after {
  transform: rotate(315deg);
}

.popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup-close-layer {
  position: absolute;
  top: 0;
  right: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.popup-close-layer:before, .popup-close-layer:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #333;
}

.popup-close-layer:before {
  transform: rotate(45deg);
}

.popup-close-layer:after {
  transform: rotate(315deg);
}

.popup-close-layer span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup.popup-base {
  border-radius: 10px;
}

.popup.popup-base p {
  line-height: 1.2;
  margin-bottom: 5px;
  font-size: 0.875rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-base p {
    font-size: 28px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-base p {
    font-size: 16px;
  }
}

.popup.popup-lecture .popup-body, .popup.popup-book .popup-body {
  padding: 0;
}

.popup.popup-lecture .popup-close, .popup.popup-book .popup-close {
  right: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
}

.popup.popup-lecture .popup-close:before, .popup.popup-lecture .popup-close:after, .popup.popup-book .popup-close:before, .popup.popup-book .popup-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #fff;
}

.popup.popup-lecture .popup-close:before, .popup.popup-book .popup-close:before {
  transform: rotate(45deg);
}

.popup.popup-lecture .popup-close:after, .popup.popup-book .popup-close:after {
  transform: rotate(315deg);
}

.popup.popup-lecture .popup-close span, .popup.popup-book .popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup.popup-lecture .tab-title, .popup.popup-book .tab-title {
  text-align: left;
  font-weight: 700;
  background: #333333;
  color: #fff;
  padding: 4%;
  letter-spacing: -1px;
  line-height: 1.4;
  font-size: 0.9375rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-lecture .tab-title, .popup.popup-book .tab-title {
    font-size: 30px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-lecture .tab-title, .popup.popup-book .tab-title {
    font-size: 30px;
  }
}

.popup.popup-lecture .tab-box, .popup.popup-book .tab-box {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: #333;
}

.popup.popup-lecture .tab-box .tab-list, .popup.popup-book .tab-box .tab-list {
  content: '';
  display: table;
  clear: both;
  width: 90%;
  margin: 0 auto;
  background: #333;
}

.popup.popup-lecture .tab-box .tab-list li, .popup.popup-book .tab-box .tab-list li {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  float: left;
  width: 50%;
  padding: 5px 0;
  background: #454545;
}

.popup.popup-lecture .tab-box .tab-list li.on, .popup.popup-book .tab-box .tab-list li.on {
  background: #fff;
}

.popup.popup-lecture .tab-box .tab-list li.on span, .popup.popup-book .tab-box .tab-list li.on span {
  color: #333;
}

.popup.popup-lecture .tab-box .tab-list li:after, .popup.popup-book .tab-box .tab-list li:after {
  content: '';
  display: block;
  clear: both;
}

@media screen and (min-width: 720px) {
  .popup.popup-lecture .tab-box .tab-list li, .popup.popup-book .tab-box .tab-list li {
    padding: 10px 0;
  }
}

.popup.popup-lecture .tab-box .tab-list li a, .popup.popup-book .tab-box .tab-list li a {
  display: table;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-weight: 700;
  font-size: 0.75rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-lecture .tab-box .tab-list li a, .popup.popup-book .tab-box .tab-list li a {
    font-size: 24px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-lecture .tab-box .tab-list li a, .popup.popup-book .tab-box .tab-list li a {
    font-size: 24px;
  }
}

.popup.popup-lecture .tab-box .tab-list li a span, .popup.popup-book .tab-box .tab-list li a span {
  color: #333;
  display: table-cell;
  vertical-align: middle;
}

.popup.popup-lecture .tab-box .tab-view, .popup.popup-book .tab-box .tab-view {
  display: none;
  position: relative;
  background: #fff;
  padding: 4%;
  height: 380px;
  overflow-y: auto;
}

@media screen and (min-width: 720px) {
  .popup.popup-lecture .tab-box .tab-view, .popup.popup-book .tab-box .tab-view {
    height: 500px;
    overflow-y: auto;
  }
}

.popup.popup-lecture .tab-box .tab-view ul li, .popup.popup-book .tab-box .tab-view ul li {
  line-height: 1.4;
  color: #333;
  font-size: 0.6875rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-lecture .tab-box .tab-view ul li, .popup.popup-book .tab-box .tab-view ul li {
    font-size: 22px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-lecture .tab-box .tab-view ul li, .popup.popup-book .tab-box .tab-view ul li {
    font-size: 18px;
  }
}

.popup.popup-lecture .tab-box .tab-view ul li.title, .popup.popup-book .tab-box .tab-view ul li.title {
  font-weight: 700;
  margin: 5px 0;
  font-size: 0.75rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-lecture .tab-box .tab-view ul li.title, .popup.popup-book .tab-box .tab-view ul li.title {
    font-size: 24px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-lecture .tab-box .tab-view ul li.title, .popup.popup-book .tab-box .tab-view ul li.title {
    font-size: 20px;
  }
}

.popup.popup-lecture .tab-box .tab-list + .tab-view, .popup.popup-book .tab-box .tab-list + .tab-view {
  display: block;
}

.popup.popup-book .tab-view {
  display: block !important;
}

.popup.popup-media .popup-close-layer {
  top: -60px !important;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
}

.popup.popup-media .popup-close-layer:before, .popup.popup-media .popup-close-layer:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #fff;
}

.popup.popup-media .popup-close-layer:before {
  transform: rotate(45deg);
}

.popup.popup-media .popup-close-layer:after {
  transform: rotate(315deg);
}

.popup.popup-media .popup-close-layer span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup.popup-media .layer-box {
  position: relative;
  max-width: 720px;
}

@media screen and (min-width: 720px) {
  .popup.popup-media .layer-box {
    width: 720px;
    height: 410px;
  }
}

.popup.popup-media .layer-box video {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: inherit;
}

#fixApply {
  display: none !important;
}

.product-eco {
  line-height: normal;
  letter-spacing: -1px;
}

.product-eco * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-eco p {
  line-height: inherit;
  font-size: inherit;
  color: inherit;
}

.product-eco .container {
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
}

.product-eco .wrap {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  width: 100%;
}

.product-eco .wrap .content {
  position: relative;
}

.product-eco .btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  box-sizing: border-box;
}

.product-eco .btn:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 66px;
  height: 73px;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_1.png") no-repeat 0 0;
  background-size: contain;
  animation-name: bounce2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}

@keyframes bounce2 {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 10px);
  }
}

.product-eco .flickeringly {
  position: relative;
  width: auto;
}

.product-eco .flickeringly span {
  display: block;
  width: 100%;
  animation: flickeringly 1s step-start infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes flickeringly {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.product-eco .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 17px;
  height: 35px;
  margin-top: -17.5px;
  border: none;
  font-size: 0;
  text-indent: -9999px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  outline: none;
  cursor: pointer;
}

.product-eco .slick-arrow.slick-prev {
  left: 0;
  background-image: url("https://img.eduwill.net/resources/img/public/product/201230/pc/btn_prev.png");
}

.product-eco .slick-arrow.slick-next {
  right: 0;
  background-image: url("https://img.eduwill.net/resources/img/public/product/201230/pc/btn_next.png");
}

.product-eco .circle-red {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 7;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  display: table;
  background: #eb3c28;
  box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.2);
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.product-eco .circle-red > span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.4;
}

.product-eco .bottom-banner {
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #010812;
  display: table;
  width: 100%;
}

.product-eco .bottom-banner .action a:after {
  top: 35%;
  right: 140px;
}

.product-eco .bottom-banner .wrap > div {
  display: table-cell;
  vertical-align: middle;
}

.product-eco .bottom-banner .wrap > div:nth-child(2) {
  padding: 0 20px;
}

.product-eco .bottom-banner .wrap > div:nth-child(3) {
  padding: 9px 0 11px 0;
}

.product-eco .bottom-banner .flag span {
  border: 2px solid #fff;
  border-radius: 30px;
  color: #fff;
  padding: 5px 13px;
  font-size: 19px;
  font-weight: 600;
}

.product-eco .bottom-banner .warn span {
  color: #fdd000;
  font-size: 18px;
  font-weight: 700;
}

.product-eco .bottom-banner .pass-timer {
  letter-spacing: 0;
}

.product-eco .bottom-banner .pass-timer > div {
  display: inline-block;
  line-height: 1;
}

.product-eco .bottom-banner .pass-timer > div em {
  padding: 0;
  vertical-align: middle;
  color: #fff;
  font-weight: 500;
  font-size: 35px;
  line-height: 1;
}

.product-eco .bottom-banner .pass-timer > div span {
  background: url("https://img.eduwill.net/resources/img/public/product/201230/pc/bg_num.png") no-repeat 50% 0;
  background-size: cover;
  box-sizing: border-box;
  width: 115px;
  height: 70px;
  line-height: 65px;
  padding: 0 !important;
  letter-spacing: 17px;
  text-align: center;
  background-size: 100% 100%;
  color: #fff;
  font-weight: 600;
  font-size: 55px;
  text-indent: 16px;
  vertical-align: middle;
  display: inline-block;
}

.product-eco .bottom-banner .action a:after {
  right: 180px;
}

.product-eco .right-banner {
  position: fixed;
  top: 20%;
  left: 50%;
  z-index: 10;
  margin-left: 550px;
}

.product-eco .notice {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  text-align: right;
}

.product-title {
  background-color: #006edb;
  background-image: url("https://img.eduwill.net/resources/img/public/product/201230/pc/bg_title.jpg");
  background-size: cover;
}

.product-title a.baselayer {
  position: absolute;
  top: 205px;
  right: 50px;
}

.product-title .early-coupon {
  position: absolute;
  top: 631px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.product-title .early-coupon .circle-dday {
  position: absolute;
  top: -30px;
  right: -20px;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  display: table;
  background: #64f9ff;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.product-title .early-coupon .circle-dday > span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #000;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.4;
}

.product-title .slider-box {
  position: absolute;
  top: 400px;
  left: 50%;
  margin-left: 75px;
  background: url("https://img.eduwill.net/resources/img/public/product/201230/pc/bg_wreath.png") no-repeat 50% 0;
  width: 348px;
  height: 119px;
}

.product-title .slider-box em {
  line-height: 1;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  padding: 29px 0 7px 0;
}

.product-title .slider-box .slick-slide {
  color: #ffd543;
  font-weight: 500;
  font-size: 22px;
  overflow: hidden;
}

.product-title .action {
  position: absolute;
  top: 1211px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.product-benefit1 .circle-red {
  top: 129px;
  left: auto;
  right: 49px;
  margin: -75px auto 0;
}

.product-benefit1 .flickeringly {
  position: absolute;
  width: 130px;
  height: 33px;
  top: 129px;
  left: 50px;
  border-radius: 50px;
  background: #0e6edf;
}

.product-benefit1 .flickeringly span {
  font-size: 20px;
  color: #fff;
}

.product-benefit2 {
  padding-bottom: 123px;
}

.product-benefit2 .list-title {
  position: relative;
  display: inline-block;
  margin: 40px 0;
}

.product-benefit2 .list-title span {
  font-size: 42px;
  color: #222;
  font-weight: bold;
  letter-spacing: -2px;
  z-index: 1;
}

.product-benefit2 .list-title:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: auto;
  height: 21px;
  background: #ffd543;
  z-index: -1;
}

.product-benefit2 .lecture-list {
  box-sizing: border-box;
  overflow-y: auto;
  width: 820px;
  height: 380px;
  margin: 0 auto;
  border: 10px solid #f1f1f1;
}

.product-benefit2 .lecture-list ul {
  margin: 5px 10px;
}

.product-benefit2 .lecture-list ul li {
  box-sizing: border-box;
  padding: 10px 0;
  text-align: left;
  font-size: 20px;
  color: #222;
  letter-spacing: -1px;
  border-bottom: 2px solid #f1f1f1;
}

.product-benefit2 .lecture-list ul li em {
  position: relative;
  width: 15%;
  text-align: center;
  display: inline-block;
}

.product-benefit2 .lecture-list ul li em:after {
  content: '';
  position: absolute;
  top: 2px;
  right: 0;
  width: 2px;
  height: 26px;
  background: #333;
  vertical-align: middle;
}

.product-benefit2 .lecture-list ul li span {
  box-sizing: border-box;
  width: 80%;
  padding-left: 20px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  vertical-align: top;
}

.product-benefit2 .notice {
  width: 820px;
  margin: 10px auto 50px auto;
}

.product-benefit2 .action {
  position: relative;
}

.product-bridge {
  background: #102c59;
}

.product-bridge .wrap:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -51px;
  background: url("https://img.eduwill.net/resources/img/public/product/201230/pc/bg_text_banner.png") no-repeat 50% 0;
  background-size: cover;
  width: 141px;
  height: 51px;
  z-index: 7;
}

.product-price-zone {
  background: #f7f7f7 url("https://img.eduwill.net/resources/img/public/product/201230/pc/bg_pricezone.png") no-repeat 50% bottom !important;
  background-size: cover;
  padding-top: 115px;
  padding-bottom: 300px;
}

.product-price-zone.second {
  padding-bottom: 200px;
  background: #f7f7f7;
}

.product-price-zone .price-box {
  margin: 0 auto;
  padding: 0 50px;
}

.product-price-zone .price-box .block-anchor {
  display: block;
  position: relative;
}

.product-price-zone .price-box .box {
  text-align: left;
  width: 100%;
  padding: 43px 0 0 43px;
  position: relative;
  background-color: #fff;
  box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.2);
}

.product-price-zone .price-box .box-1 {
  border: 5px solid #006ee0;
  margin-bottom: 39px;
}

.product-price-zone .price-box .box-1 .price-list .price-after {
  color: #006ee0;
}

.product-price-zone .price-box .box-2 {
  border: 5px solid #0099e0;
  margin-bottom: 39px;
}

.product-price-zone .price-box .box-2 .price-list .price-after {
  color: #0099e0;
}

.product-price-zone .price-box .holder {
  position: relative;
  width: 640px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.product-price-zone .price-box .title-list {
  line-height: 1;
  width: 60%;
  font-size: 26px;
  font-weight: 500;
  color: #000;
  text-align: left;
}

.product-price-zone .price-box .title-list strong {
  font-size: 45px;
  display: inline-block;
  padding-bottom: 18px;
  letter-spacing: -3px;
}

.product-price-zone .price-box .price-list {
  width: 40%;
  line-height: 1;
  text-align: right;
  margin-top: 35px;
}

.product-price-zone .price-box .price-list .price-before strong {
  position: relative;
  display: block;
  font-size: 30px;
  font-weight: 400;
  color: #828282;
}

.product-price-zone .price-box .price-list .price-before strong em {
  font-size: 40px;
  font-family: 'Roboto';
}

.product-price-zone .price-box .price-list .price-before strong:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 207px;
  height: 21px;
  background: url("https://img.eduwill.net/resources/img/public/product/201230/pc/icon_arrow.png") no-repeat 0 0;
}

.product-price-zone .price-box .price-list .price-after {
  font-size: 40px;
  font-weight: 700;
  color: #006ee0;
}

.product-price-zone .price-box .price-list .price-after em {
  font-size: 60px;
  line-height: 1;
  font-family: 'Roboto';
}

.product-price-zone .price-box .price-etc {
  position: absolute;
  bottom: 8px;
  right: 0;
  font-size: 17px;
  color: #838383;
}

.product-price-zone .price-box .action {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  bottom: 0;
  width: 305px;
  height: 100%;
  display: table;
}

.product-price-zone .price-box .action span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 34px;
}

.product-price-zone .price-box .action span em {
  color: #ffde00;
}

.product-price-zone .price-box .action span:after {
  top: 70%;
  right: 0;
}

.product-pass {
  padding: 30px 0 60px 0;
  background: #fdd000 url("https://img.eduwill.net/resources/img/public/product/201230//pc/bg_logoslide.jpg") no-repeat 50% 0;
  background-size: cover;
}

.product-pass .slider-box {
  float: left;
  box-sizing: border-box;
  width: 800px;
  height: 560px;
}

.product-pass .slider-box:before, .product-pass .slider-box:after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 150px;
  background: transparent;
}

.product-pass .slider-box:before {
  top: 0;
  background: linear-gradient(0deg, rgba(253, 208, 0, 0.1) 0%, #fdd000 100%);
}

.product-pass .slider-box:after {
  bottom: 0;
  background: linear-gradient(0deg, #fdd000 0%, rgba(253, 208, 0, 0.1) 100%);
}

.product-pass .slider-box .slider-logo {
  height: 100%;
}

.product-pass .slider-box .slick-list {
  height: 100% !important;
}

.product-pass .slider-box .slick-list .logo {
  display: table;
  height: 80px;
}

.product-pass .slider-box .slick-list p {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  font-size: 17px;
}

.product-pass .slider-box .slick-list p:nth-child(2) {
  padding-left: 15px;
  min-width: 200px;
}

.product-pass .slider-box .slick-list p:nth-child(3) {
  padding-left: 20px;
}

.product-pass .slider-box .slick-list p:nth-child(4) {
  padding-left: 15px;
  min-width: 200px;
}

.product-pass .text-box {
  position: absolute;
  top: 200px;
  right: 0;
  font-size: 45px;
  color: #222;
  font-weight: 700;
  text-align: left;
  letter-spacing: -3px;
}

.product-media .baselayer {
  position: absolute;
  top: 84px;
  right: 49px;
}

.product-media .media-box > div {
  display: inline-block;
  margin: 0 9px;
}

.product-book {
  background: #fff;
}

.product-book .circle-red {
  top: 358px;
  left: auto;
  right: 140px;
}

.product-service {
  background: #f7f7f7;
}

.product-service .slider-box {
  width: 388px;
  height: 399px;
  position: absolute;
  top: 0;
  left: 126px;
}

.product-benefit {
  background: #005fdf;
  padding-bottom: 120px;
}

.product-benefit .baselayer {
  position: absolute;
  top: 222px;
  right: 49px;
}
/*# sourceMappingURL=web.css.map */