@charset "UTF-8";
.grid, .product-price-zone .price-box {
  *zoom: 1;
}

.grid:before, .product-price-zone .price-box:before, .grid:after, .product-price-zone .price-box:after {
  content: '';
  display: table;
}

.grid:after, .product-price-zone .price-box:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid, .product-price-zone .price-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col, .product-price-zone .price-box .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col-right, .product-price-zone .price-box .col-right {
  float: right;
}

button {
  overflow: visible;
  border-radius: 0;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  width: auto;
  outline: 0;
  cursor: pointer;
  font-family: inherit;
}

.dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 300;
  display: none;
  width: 100%;
  max-width: 720px;
  text-align: left;
  letter-spacing: -1px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

@media screen and (min-width: 720px) {
  .popup {
    width: 900px;
  }
}

.popup-body {
  padding: 15% 5%;
}

@media screen and (min-width: 720px) {
  .popup-body {
    padding: 40px;
  }
}

.popup-head {
  padding: 32px 20px;
  font-size: 30px;
  font-weight: 600;
  color: #000;
  background-color: #ececec;
}

.popup-desc {
  padding: 20px;
}

.popup-desc li {
  padding: 10px 0;
  line-height: 1.2;
  font-size: 20px;
  color: #000;
  border-bottom: 1px solid #ccc;
}

.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.popup-close:before, .popup-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #333;
}

.popup-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup-close-layer {
  position: absolute;
  top: 0;
  right: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.popup-close-layer:before, .popup-close-layer:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #333;
}

.popup-close-layer:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close-layer:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup-close-layer span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup.popup-base {
  border-radius: 10px;
}

.popup.popup-base p {
  line-height: 1.2;
  margin-bottom: 5px;
  font-size: 3.88889vw;
}

@media screen and (min-width: 720px) {
  .popup.popup-base p {
    font-size: 28px;
  }
}

.popup.popup-list .popup-body {
  padding: 0;
}

.popup.popup-list .popup-close {
  right: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
}

.popup.popup-list .popup-close:before, .popup.popup-list .popup-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #fff;
}

.popup.popup-list .popup-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup.popup-list .popup-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup.popup-list .popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup.popup-list .list-title {
  text-align: left;
  background: #333333;
  color: #fff;
  padding: 4%;
  letter-spacing: -1px;
  line-height: 1.4;
  font-weight: 400;
  font-size: 2.5vw;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title {
    font-size: 18px;
  }
}

.popup.popup-list .list-title strong {
  display: block;
  font-size: 4.16667vw;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title strong {
    font-size: 30px;
  }
}

.popup.popup-list .list-view {
  position: relative;
  background: #fff;
  padding: 4%;
  height: 380px;
  overflow-y: auto;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-view {
    height: 500px;
    overflow-y: auto;
  }
}

.popup.popup-list .list-view ul li {
  line-height: 1.4;
  color: #333;
  font-size: 3.05556vw;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-view ul li {
    font-size: 22px;
  }
}

.popup.popup-benefit .popup-body {
  padding: 0;
}

.popup.popup-benefit .popup-body img {
  width: 100%;
}

#fixApply {
  display: none !important;
}

.product-eco {
  overflow: hidden;
  line-height: normal;
  letter-spacing: -1px;
}

.product-eco * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-eco p {
  line-height: inherit;
  font-size: inherit;
  color: inherit;
}

.product-eco .container {
  position: relative;
}

.product-eco .wrap {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  text-align: left;
}

.product-eco .wrap-full {
  width: 100%;
}

.product-eco .wrap .content {
  position: relative;
}

.product-eco .blind {
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  width: 1px;
  height: 1px;
}

.product-eco .btn-hlink {
  display: inline-block;
  position: relative;
}

.product-eco .btn-hlink::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -30px;
  width: 110px;
  height: 107px;
  background: url("//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_20.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: moving;
          animation-name: moving;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes moving {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
}

@keyframes moving {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
}

.product-eco .bottom-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #d8ff00;
}

.product-eco .bottom-banner .floating-img1 {
  position: absolute;
  bottom: 0;
  left: 29px;
}

.product-eco .bottom-banner .floating-img2 {
  position: absolute;
  top: -20px;
  left: 191px;
}

.product-eco .bottom-banner .btn-hlink {
  display: block;
}

.product-eco .bottom-banner .btn-hlink::after {
  right: 50px;
  bottom: -10px;
  width: 80px;
  height: 78px;
}

.product-eco .left-banner {
  position: fixed;
  top: 30%;
  left: 50%;
  z-index: 100;
  margin-left: -750px;
}

.product-eco .left-banner a {
  display: block;
}

.product-eco .left-banner.discount {
  top: 205px;
}

.product-eco .left-banner.discount + .left-banner {
  top: 465px;
}

.product-eco .left-banner.discount .text {
  position: absolute;
  left: 50%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: left;
  line-height: 1.3;
  word-break: keep-all;
  font-weight: 500;
  color: #000;
  padding: 0 20px;
}

.product-eco .left-banner.discount .text.text-1 {
  top: 8px;
  font-size: 17px;
  color: #fff;
  text-align: center;
  -webkit-animation-name: btnChange;
          animation-name: btnChange;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes btnChange {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

@keyframes btnChange {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

.product-eco .left-banner.discount .text.text-2 {
  text-align: center;
  top: 64px;
  font-size: 17px;
}

.product-eco .left-banner.discount .text.text-3 {
  top: 105px;
  line-height: 1.2;
  font-size: 20px;
}

.product-eco .left-banner.discount .text.text-4 {
  bottom: 30px;
  line-height: 1.1;
  font-weight: 600;
  font-family: 'Roboto';
  letter-spacing: -2px;
}

.product-eco .left-banner.discount .text.text-4 .before-txt {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 0 35px 0 0;
  font-size: 18px;
  font-weight: 600;
  color: #9b9a9a;
}

.product-eco .left-banner.discount .text.text-4 .before-txt .unit {
  margin-left: 2px;
  font-size: 19px;
}

.product-eco .left-banner.discount .text.text-4 .before-txt:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  width: 100%;
  height: 14px;
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/210527/pc/icon_arrow.png") no-repeat 0 0;
  background-size: contain;
}

.product-eco .left-banner.discount .text.text-4 .after-txt {
  font-size: 26px;
  color: #f93014;
}

.product-eco .left-banner.discount .text.text-4 .after-txt .unit {
  margin-left: 3px;
  font-size: 25px;
}

.product-eco .left-banner.discount .text .point {
  color: #f93014;
  font-weight: 600;
  font-size: 24px;
}

.product-eco .right-banner {
  position: fixed;
  top: 30%;
  left: 50%;
  z-index: 100;
  margin-left: 590px;
}

.product-eco .right-banner a {
  display: block;
}

.product-title .box1 {
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/210527/pc/bg_title.jpg") no-repeat 50% 0;
  background-size: cover;
}

.product-title .box1 .wrap {
  height: 1214px;
}

.product-title .box1 .floating-img {
  position: absolute;
}

.product-title .box1 .floating-img.img1 {
  bottom: -303px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-left: 10px;
  z-index: 1;
}

.product-title .box1 .floating-img.img2 {
  top: 542px;
  left: -122px;
}

.product-title .box1 .floating-img.img3 {
  top: 893px;
  right: -248px;
}

.product-title .box1 .floating-motion {
  position: absolute;
  opacity: 0;
}

.product-title .box1 .floating-motion.motion1 {
  top: 166px;
  left: 48px;
}

.product-title .box1 .floating-motion.motion2 {
  top: 243px;
  left: 48px;
}

.product-title .box1 .floating-motion.motion3 {
  top: 243px;
  left: 653px;
  z-index: 5;
}

.product-title .box1 .floating-motion.motion3 .pop-layer {
  display: none;
  position: absolute;
  top: 50%;
  left: 37px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  white-space: nowrap;
}

.product-title .box1 .floating-motion.motion3 .pop-layer::before, .product-title .box1 .floating-motion.motion3 .pop-layer::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  width: 0;
  height: 0;
  margin-right: -1px;
  border: solid transparent;
}

.product-title .box1 .floating-motion.motion3 .pop-layer::before {
  border-color: rgba(182, 182, 182, 0);
  border-right-color: #b6b6b6;
  border-width: 11px;
  margin-top: -11px;
}

.product-title .box1 .floating-motion.motion3 .pop-layer::after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 10px;
  margin-top: -10px;
}

.product-title .box1 .floating-motion.motion3 .pop-layer .box {
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #b6b6b6;
}

.product-title .box1 .floating-motion.motion3 .pop-layer .title {
  display: block;
  padding: 8px 15px;
  font-size: 15px;
  color: #222;
  border-bottom: 1px solid #ebebeb;
  background-color: #f7f7f7;
}

.product-title .box1 .floating-motion.motion3 .pop-layer .desc {
  padding: 8px 15px;
  font-size: 13px;
  color: #222;
  background-color: #fff;
}

.product-title .box1 .floating-motion.motion3 .pop-layer .desc p {
  margin: 0;
}

.product-title .box1 .floating-motion.motion4 {
  top: 184px;
  right: 13px;
}

.product-title .box2 {
  background-color: #4558c1;
}

.product-title .box2 .wrap {
  padding-top: 332px;
  text-align: center;
}

.product-title .box2 .title-slider {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.product-title .box2 .title-slider::before {
  content: '';
  display: block;
  position: absolute;
  top: -132px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
  width: 240px;
  height: 239px;
  margin-left: 9px;
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/210527/pc/ico_plus.png") no-repeat 50% 0;
}

.product-title .box2 .title-slider .slick-list {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-box-shadow: 3px 10px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 10px 10px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.product-title .box2 .title-slider .slick-dots {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}

.product-title .box2 .title-slider .slick-dots li {
  display: inline-block;
  margin: 0 2px;
}

.product-title .box2 .title-slider .slick-dots li button {
  width: 21px;
  height: 21px;
  text-indent: -10000em;
  border: 0;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.product-title .box2 .title-slider .slick-dots li.slick-active button {
  width: 42px;
  border-radius: 50px;
  background-color: #16c0e1;
}

.product-title .box2 .btn-hlink {
  margin: 50px auto 65px;
}

.product-price-zone {
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/210527/pc/bg_price_box.png") no-repeat 50% 100%;
  padding: 0 0 85px;
}

.product-price-zone.type2 {
  padding: 90px 0 140px;
}

.product-price-zone .title {
  position: relative;
  left: 50px;
  margin-bottom: 50px;
  text-align: left;
  line-height: 1.2;
  font-size: 45px;
  font-weight: 600;
  color: #000;
}

.product-price-zone .title .point {
  color: #e3492b;
}

.product-price-zone .action {
  position: absolute;
  right: 53px;
  bottom: 5px;
  text-align: right;
  font-size: 0;
}

.product-price-zone .action a:not(:first-child) {
  margin-left: 12px;
}

.product-price-zone .action .arrow {
  display: inline-block;
  padding: 4px 22px;
  font-size: 25px;
  font-weight: 500;
  color: #3d3d3d;
  border-radius: 30px;
  background-color: #ddd;
}

.product-price-zone .action .arrow::after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-left: 10px;
  vertical-align: 6px;
  border-top: 2px solid #3d3d3d;
  border-right: 2px solid #3d3d3d;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.product-price-zone .price-box {
  position: relative;
  margin: 100px auto 0;
  padding: 0 50px;
}

.product-price-zone .price-box .block-anchor {
  display: block;
  position: static;
}

.product-price-zone .price-box .btn-hlink::after {
  top: 60%;
  right: 33px;
  bottom: auto;
}

.product-price-zone .price-box .box {
  width: 100%;
  padding: 70px 0 0 25px;
  text-align: left;
  border-radius: 40px;
  background-color: #fff;
  -webkit-box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-price-zone .price-box .box-1 {
  border: 5px solid #d8ff00;
}

.product-price-zone .price-box .box-1 .txt {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background: #0bddf2;
  background: linear-gradient(150deg, #fa3f6c 0%, #994699 33%, #4564c4 66%, #0bddf2 100%);
}

.product-price-zone .price-box .holder {
  position: relative;
  width: 646px;
  padding-bottom: 70px;
  font-size: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-price-zone .price-box .title-label {
  position: absolute;
  top: -38px;
  left: 80px;
  padding: 7px 35px;
  color: #3d3d3d;
  font-size: 35px;
  font-weight: 600;
  border-radius: 30px;
  background-color: #d8ff00;
}

.product-price-zone .price-box .title-list {
  padding-left: 30px;
  text-align: left;
  line-height: 1.1;
  font-size: 30px;
  font-weight: 500;
  color: #b1b1b1;
  letter-spacing: -1.5px;
}

.product-price-zone .price-box .title-list .desc {
  display: block;
  padding-bottom: 10px;
  font-size: 45px;
  color: #3d3d3d;
  letter-spacing: -2px;
}

.product-price-zone .price-box .title-list .desc strong {
  font-weight: 400;
}

.product-price-zone .price-box .title-list .desc strong span {
  font-weight: 600;
}

.product-price-zone .price-box .title-list .sub-desc {
  display: block;
  color: #3d3d3d;
}

.product-price-zone .price-box .price-list {
  position: absolute;
  right: 17px;
  bottom: 28px;
  line-height: 1;
}

.product-price-zone .price-box .price-list .price-before {
  text-align: right;
}

.product-price-zone .price-box .price-list .price-before strong {
  display: block;
  position: absolute;
  right: 0;
  font-size: 30px;
  font-weight: 700;
  color: #828282;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.product-price-zone .price-box .price-list .price-before strong em {
  font-size: 40px;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-price-zone .price-box .price-list .price-after {
  padding-top: 50px;
  text-align: right;
  font-size: 60px;
  font-weight: 700;
  color: #f93014;
}

.product-price-zone .price-box .price-list .price-after em {
  font-size: 60px;
  line-height: 1;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-price-zone .price-box .txt {
  display: table;
  position: absolute;
  top: 0;
  right: 50px;
  bottom: 0;
  left: auto;
  width: 288px;
  height: 100%;
  border: 5px solid #d8ff00;
  border-left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-price-zone .price-box .txt span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  color: #fff;
  line-height: 1.3;
}

.product-price-zone .price-box .txt span em {
  color: #ffe03a;
}

.product-price-zone .price-box .txt span::after {
  content: '';
  display: block;
  width: 38px;
  height: 45px;
  margin: 20px auto 0;
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/210527/pc/bg_price_txt.png") no-repeat 0 0;
  -webkit-animation-name: moving2;
          animation-name: moving2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes moving2 {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@keyframes moving2 {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

.product-info2 {
  background-color: #f1f2f4;
}

.product-info2 .video-box {
  position: absolute;
  top: 289px;
  left: 50px;
  width: 700px;
}

.product-info2 .video-box .btn-play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-info2 .slider-box {
  position: absolute;
  top: 289px;
  right: 0;
  width: 350px;
  height: 400px;
}

.product-info2 .slider-box::before, .product-info2 .slider-box::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100px;
  background: transparent;
}

.product-info2 .slider-box::before {
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(241, 242, 244, 0.1)), to(#f1f2f4));
  background: linear-gradient(0deg, rgba(241, 242, 244, 0.1) 0%, #f1f2f4 100%);
}

.product-info2 .slider-box::after {
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#f1f2f4), to(rgba(241, 242, 244, 0.1)));
  background: linear-gradient(0deg, #f1f2f4 0%, rgba(241, 242, 244, 0.1) 100%);
}

.product-info2 .slider-box .slider-logo {
  height: 100%;
}

.product-info2 .slider-box .slick-list {
  height: 100% !important;
}

.product-info2 .slider-box .slick-list .logo {
  display: table;
  height: 70px;
}

.product-info2 .slider-box .slick-list .logo img {
  margin: 0 auto;
}

.product-info2 .slider-box .slick-list p {
  display: table-cell;
  vertical-align: middle;
  font-size: 17px;
  width: 200px;
  margin: 0 auto;
}

.product-info2 .slider-box .slick-list p:nth-child(2) {
  width: auto;
  text-align: left;
}

.product-bar {
  background-color: #4558c1;
}

.product-benefit {
  background-color: #4558c1;
}

.product-best {
  background-color: #f1f2f4;
}

.product-best .wrap {
  padding-bottom: 160px;
}

.product-best .list {
  text-align: center;
  font-size: 0;
}

.product-best .list li {
  display: inline-block;
  width: 494px;
  margin: 0 6px;
}

.product-best .list li .btn-hlink::after {
  right: 30px;
  bottom: 10px;
  width: 84px;
  height: 82px;
}

.product-best.type2 li {
  width: auto;
}
/*# sourceMappingURL=web.css.map */