@charset "UTF-8";
.grid, .product-package {
  *zoom: 1;
}

.grid:before, .product-package:before, .grid:after, .product-package:after {
  content: '';
  display: table;
}

.grid:after, .product-package:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col-right {
  float: right;
}

.effect-bounce-diagonal {
  -webkit-animation-name: effectBounceDiagonal;
          animation-name: effectBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  -webkit-animation-name: effectBounceUpDown;
          animation-name: effectBounceUpDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.effect-extend {
  -webkit-animation-name: effectExtend;
          animation-name: effectExtend;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

@keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

.effect-blink {
  -webkit-animation-name: effectBlink;
          animation-name: effectBlink;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.product-eco .slick-dots button {
  text-indent: -9999px;
  font-size: 0;
  color: transparent;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 300;
  display: none;
  width: 100%;
  max-width: 720px;
  text-align: left;
  letter-spacing: -1px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

@media screen and (min-width: 720px) {
  .popup {
    width: 900px;
  }
}

.popup-body {
  padding: 15% 5%;
  line-height: 1.4;
  color: #333;
  font-size: 0.6875rem;
}

@media screen and (min-width: 720px) {
  .popup-body {
    padding: 40px;
  }
}

@media screen and (min-width: 720px) {
  .popup-body {
    font-size: 22px;
  }
}

@media screen and (min-width: 720px) {
  .popup-body {
    font-size: 18px;
  }
}

.popup-head {
  padding: 32px 20px;
  font-size: 30px;
  font-weight: 600;
  color: #000;
  background-color: #ececec;
}

.popup-desc {
  padding: 20px;
}

.popup-desc li {
  padding: 10px 0;
  line-height: 1.2;
  font-size: 20px;
  color: #000;
  border-bottom: 1px solid #ccc;
}

.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.popup-close:before, .popup-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #333;
}

.popup-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup-close-layer {
  position: absolute;
  top: 0;
  right: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.popup-close-layer:before, .popup-close-layer:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #333;
}

.popup-close-layer:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close-layer:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup-close-layer span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup.popup-base {
  border-radius: 10px;
}

.popup.popup-base p {
  line-height: 1.2;
  margin-bottom: 5px;
  font-size: 0.875rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-base p {
    font-size: 28px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-base p {
    font-size: 16px;
  }
}

.popup.popup-list .popup-body {
  padding: 0;
}

.popup.popup-list .popup-close {
  right: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
}

.popup.popup-list .popup-close:before, .popup.popup-list .popup-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #fff;
}

.popup.popup-list .popup-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup.popup-list .popup-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup.popup-list .popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup.popup-list .list-title {
  text-align: left;
  background: #333333;
  color: #fff;
  padding: 4%;
  letter-spacing: -1px;
  line-height: 1.4;
  font-weight: 400;
  font-size: 0.5625rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title {
    font-size: 18px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title {
    font-size: 18px;
  }
}

.popup.popup-list .list-title strong {
  display: block;
  font-size: 0.9375rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title strong {
    font-size: 30px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title strong {
    font-size: 30px;
  }
}

.popup.popup-list .list-view {
  position: relative;
  background: #fff;
  padding: 4%;
  height: 380px;
  overflow-y: auto;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-view {
    height: 500px;
    overflow-y: auto;
  }
}

.popup.popup-list .list-view .tab-list {
  margin-bottom: 35px;
}

.popup.popup-list .list-view .tab-list::after {
  content: '';
  display: block;
  clear: both;
}

.popup.popup-list .list-view .tab-list .tab-view {
  display: none;
}

.popup.popup-list .list-view .tab-list .tab-view:first-child {
  display: block;
}

.popup.popup-list .list-view .tab-list li {
  float: left;
  width: 50%;
  text-align: center;
  background-color: #e5e5e5;
  padding: 3% 0;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.popup.popup-list .list-view .tab-list li a {
  font-size: 0.6875rem;
  font-weight: 700;
  line-height: 1.2;
  color: #b0b0b0;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-view .tab-list li a {
    font-size: 22px;
  }
}

.popup.popup-list .list-view .tab-list li.on {
  background-color: #ffd200;
}

.popup.popup-list .list-view .tab-list li.on a {
  color: #000;
}

.popup.popup-list .list-view ul li {
  line-height: 1.4;
  color: #333;
  font-size: 0.6875rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-view ul li {
    font-size: 22px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-view ul li {
    font-size: 18px;
  }
}

.popup.popup-list .list-view .tab-view {
  display: none;
}

.popup.popup-list .list-view .tab-view.tab-view1 {
  display: block;
}

.popup.popup-benefit .popup-close:before, .popup.popup-benefit .popup-close:after {
  background-color: #fff;
}

.popup.popup-benefit .popup-body {
  padding: 0;
}

.popup.popup-benefit .popup-body img {
  width: 100%;
}

/* popup */
.popup-style {
  font-family: "Noto Sans KR", Sans-Serif;
  display: none;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 2001;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  max-width: 720px;
  height: auto;
  background-color: #fff;
  line-height: 1;
  letter-spacing: -1px;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.popup-style .pop-close {
  display: inline-block;
  position: absolute;
  right: 4.86vw;
  top: 4.17vw;
  width: 4.17vw;
}

@media screen and (min-width: 720px) {
  .popup-style .pop-close {
    right: 35px;
    top: 30px;
    width: 30px;
  }
}

.popup-style .popup-cont dl dt {
  padding: 0 0.625rem;
  text-align: left;
  font-size: 0.625rem;
  color: #222;
  font-weight: 400;
  line-height: 40px;
  background: #f1f1f1;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

@media screen and (min-width: 720px) {
  .popup-style .popup-cont dl dt {
    padding: 0 20px;
  }
}

@media screen and (min-width: 720px) {
  .popup-style .popup-cont dl dt {
    font-size: 20px;
  }
}

.popup-style .popup-cont dl dd {
  text-align: left;
  padding: 0.625rem;
  font-size: 0.5rem;
  color: #222;
  line-height: 1.7;
}

@media screen and (min-width: 720px) {
  .popup-style .popup-cont dl dd {
    padding: 20px;
  }
}

@media screen and (min-width: 720px) {
  .popup-style .popup-cont dl dd {
    font-size: 16px;
  }
}

.popup-style .popup-cont .lecture-list dl dt {
  font-weight: 600;
  padding: 0 4.167%;
}

.popup-style .popup-cont .lecture-list dl dd {
  padding: 0;
}

.popup-style .popup-cont .lecture-list ul li {
  padding: 1.39% 4.167%;
  border-bottom: 1px solid #e1e1e1;
  color: #999;
  line-height: inherit;
}

.popup-style .popup-cont .books-list, .popup-style .popup-cont .lecture-list, .popup-style .popup-cont .refund-list {
  position: relative;
  width: 100%;
  height: 550px;
  overflow: auto;
}

.bottom_fix_btn {
  display: none !important;
}

.product-eco {
  line-height: normal;
  letter-spacing: -1px;
}

.product-eco * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-eco p {
  line-height: inherit;
  font-size: inherit;
  color: inherit;
}

.product-eco .container {
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
}

.product-eco .wrap {
  position: relative;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  width: 100%;
}

.product-eco .wrap .content {
  position: relative;
}

.product-eco .btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 18.75rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .product-eco .btn {
    width: 600px;
  }
}

.product-eco .btn:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: -1.875rem;
  width: 3.4375rem;
  height: 3.34375rem;
  background: url("//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_20.png") no-repeat 0 0;
  background-size: contain;
  -webkit-animation-name: bounce2;
          animation-name: bounce2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .btn:after {
    right: -60px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .btn:after {
    width: 110px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .btn:after {
    height: 107px;
  }
}

@-webkit-keyframes bounce2 {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
}

@keyframes bounce2 {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
}

.product-eco .btn-arrow {
  position: absolute;
  top: 4.16667vw;
  right: 4.16667vw;
  display: block;
  width: 22.22222vw;
  padding: 0.69444vw 0;
  text-align: center;
  font-size: 2.77778vw;
  font-weight: 500;
  color: #000;
  border: 1px solid #000;
}

@media screen and (min-width: 720px) {
  .product-eco .btn-arrow {
    top: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .btn-arrow {
    right: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .btn-arrow {
    width: 160px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .btn-arrow {
    padding: 5px 0;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .btn-arrow {
    font-size: 20px;
  }
}

.product-eco .btn-arrow::after {
  content: '';
  display: inline-block;
  width: 1.11111vw;
  height: 1.11111vw;
  margin-left: 0.55556vw;
  vertical-align: 0.55556vw;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (min-width: 720px) {
  .product-eco .btn-arrow::after {
    width: 8px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .btn-arrow::after {
    height: 8px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .btn-arrow::after {
    margin-left: 4px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .btn-arrow::after {
    vertical-align: 4px;
  }
}

.product-eco .btn-arrow:last-child {
  float: right;
}

.product-eco .circle-red {
  position: absolute;
  top: 50%;
  left: auto;
  right: 5.833%;
  z-index: 7;
  margin: -2.34375rem auto 0;
  width: 4.6875rem;
  height: 4.6875rem;
  border-radius: 4.6875rem;
  display: table;
  background: #eb3c28;
  -webkit-box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.2);
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .circle-red {
    margin: -75px auto 0;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .circle-red {
    width: 150px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .circle-red {
    height: 150px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .circle-red {
    border-radius: 150px;
  }
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

.product-eco .circle-red > span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 900;
  line-height: 1.4;
}

@media screen and (min-width: 720px) {
  .product-eco .circle-red > span {
    font-size: 26px;
  }
}

.product-eco .bottom-banner {
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  background: #222;
}

.product-eco .ico_plus:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 4.375rem;
  height: 4.375rem;
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/211221/mobile/ico_plus.png") 0 0 no-repeat;
  background-size: cover;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 720px) {
  .product-eco .ico_plus:before {
    width: 140px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .ico_plus:before {
    height: 140px;
  }
}

.product-eco .ico_plus2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 4.65625rem;
  height: 4.65625rem;
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/211221/mobile/ico_plus2.png") 0 0 no-repeat;
  background-size: cover;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 720px) {
  .product-eco .ico_plus2:before {
    width: 149px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .ico_plus2:before {
    height: 149px;
  }
}

.product-eco .ico_next:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1;
  width: 5.84375rem;
  height: 5.75rem;
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/211221/mobile/ico_next.png") 0 0 no-repeat;
  background-size: cover;
  -webkit-transform: translate(-50%, 55%);
  transform: translate(-50%, 55%);
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .ico_next:after {
    width: 187px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .ico_next:after {
    height: 184px;
  }
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: translate(-50%, 55%);
    transform: translate(-50%, 55%);
  }
  50% {
    -webkit-transform: translate(-50%, 45%);
    transform: translate(-50%, 45%);
  }
}

.product-eco .bg-gray {
  background-color: #f7f7f7;
}

.product-eco .motion {
  opacity: 0;
}

.product-eco .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 8.33333vw;
  height: 8.33333vw;
  margin-top: -4.16667vw;
  font-size: 0;
  text-indent: -9999px;
  color: transparent;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow {
    height: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow {
    margin-top: -30px;
  }
}

.product-eco .slick-arrow.slick-prev {
  left: 4.16667vw;
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/211221/mobile/btn_prev.png") no-repeat 50% 0;
  background-size: contain;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev {
    left: 30px;
  }
}

.product-eco .slick-arrow.slick-next {
  right: 4.16667vw;
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/211221/mobile/btn_next.png") no-repeat 50% 0;
  background-size: contain;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next {
    right: 30px;
  }
}

.product-eco .slick-dots {
  position: absolute;
  bottom: -1.38889vw;
  width: 100%;
  text-align: center;
  z-index: 1;
  font-size: 0;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots {
    bottom: -10px;
  }
}

.product-eco .slick-dots li {
  display: inline-block;
  margin-left: 0.83333vw;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li {
    margin-left: 6px;
  }
}

.product-eco .slick-dots li:first-child {
  margin-left: 0;
}

.product-eco .slick-dots li.slick-active button {
  background: #000;
}

.product-eco .slick-dots button {
  width: 2.08333vw;
  height: 2.08333vw;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #000;
  border-width: 0.27778vw;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots button {
    width: 15px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots button {
    height: 15px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots button {
    border-width: 2px;
  }
}

.product-title {
  background: #011051 url("//img.eduwill.net/eduwill/img/2021/Z/product/211221/mobile/bg_title.jpg") no-repeat center/cover;
}

.product-title .effect-img {
  position: absolute;
  top: 141.38889vw;
  left: 8.33333vw;
  width: 83.33333vw;
  z-index: 1;
}

@media screen and (min-width: 720px) {
  .product-title .effect-img {
    top: 1018px;
  }
}

@media screen and (min-width: 720px) {
  .product-title .effect-img {
    left: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-title .effect-img {
    width: 600px;
  }
}

.product-title .effect-img.img1 {
  top: 141.38889vw;
}

@media screen and (min-width: 720px) {
  .product-title .effect-img.img1 {
    top: 1018px;
  }
}

.product-title .effect-img.img2 {
  top: 170.69444vw;
}

@media screen and (min-width: 720px) {
  .product-title .effect-img.img2 {
    top: 1229px;
  }
}

.product-title .effect-img.img3 {
  top: 200.13889vw;
}

@media screen and (min-width: 720px) {
  .product-title .effect-img.img3 {
    top: 1441px;
  }
}

.product-title.modify-220225 {
  padding-bottom: 18.05556vw;
}

@media screen and (min-width: 720px) {
  .product-title.modify-220225 {
    padding-bottom: 130px;
  }
}

.product-title-2 {
  background: #00124e;
}

.product-title-2 .effect-img.img1 {
  top: 45.83333vw;
}

@media screen and (min-width: 720px) {
  .product-title-2 .effect-img.img1 {
    top: 330px;
  }
}

.product-title-2 .effect-img.img2 {
  top: 75.27778vw;
}

@media screen and (min-width: 720px) {
  .product-title-2 .effect-img.img2 {
    top: 542px;
  }
}

.product-title-2 .effect-img.img3 {
  top: 104.86111vw;
}

@media screen and (min-width: 720px) {
  .product-title-2 .effect-img.img3 {
    top: 755px;
  }
}

.product-title-2.modify-220225 {
  padding-bottom: 8.33333vw;
}

@media screen and (min-width: 720px) {
  .product-title-2.modify-220225 {
    padding-bottom: 60px;
  }
}

.product-benefit {
  background: #fff url("//img.eduwill.net/eduwill/img/2021/Z/product/211221/mobile/bg_benefit.jpg") no-repeat center/cover;
  padding-bottom: 15.27778vw;
}

@media screen and (min-width: 720px) {
  .product-benefit {
    padding-bottom: 110px;
  }
}

.product-benefit .blink {
  position: absolute;
  width: 20.13889vw;
  top: 12.22222vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media screen and (min-width: 720px) {
  .product-benefit .blink {
    width: 145px;
  }
}

@media screen and (min-width: 720px) {
  .product-benefit .blink {
    top: 88px;
  }
}

.product-benefit-2 {
  padding-bottom: 0;
}

.product-bar {
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/211221/mobile/bg_bar.png"), -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(50%, #fff), color-stop(50%, #00124e), to(#00124e));
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/211221/mobile/bg_bar.png"), linear-gradient(to top, #fff 0%, #fff 50%, #00124e 50%, #00124e 100%);
}

.product-bar.container {
  background-position: center bottom;
  background-size: contain;
  padding-top: 2.77778vw;
}

@media screen and (min-width: 720px) {
  .product-bar.container {
    padding-top: 20px;
  }
}

.product-bar-1.container {
  background: #fff url("//img.eduwill.net/eduwill/img/2021/Z/product/211221/mobile/bg_bar_220225.jpg") no-repeat center/cover;
  padding-top: 0px;
}

.product-bar-2.active .motion1 {
  -webkit-animation: motion1 0.5s ease-out 0.2s forwards;
          animation: motion1 0.5s ease-out 0.2s forwards;
}

@-webkit-keyframes motion1 {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes motion1 {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.product-bar-2.active .motion2 {
  -webkit-animation: motion2 0.5s ease-out 0.8s forwards;
          animation: motion2 0.5s ease-out 0.8s forwards;
}

@-webkit-keyframes motion2 {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes motion2 {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.product-bar-3 {
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/211221/mobile/bg_bar.png"), -webkit-gradient(linear, left bottom, left top, from(#eaf7ff), color-stop(50%, #eaf7ff), color-stop(50%, #00124e), to(#00124e));
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/211221/mobile/bg_bar.png"), linear-gradient(to top, #eaf7ff 0%, #eaf7ff 50%, #00124e 50%, #00124e 100%);
}

.product-tuition {
  padding-bottom: 15.27778vw;
}

@media screen and (min-width: 720px) {
  .product-tuition {
    padding-bottom: 110px;
  }
}

.product-tuition .btn-arrow {
  top: 22.5vw;
  right: 9.02778vw;
  z-index: 2;
}

@media screen and (min-width: 720px) {
  .product-tuition .btn-arrow {
    top: 162px;
  }
}

@media screen and (min-width: 720px) {
  .product-tuition .btn-arrow {
    right: 65px;
  }
}

.product-tuition .btn:after {
  top: 85%;
  right: 0;
}

.product-tuition-1 {
  background: linear-gradient(115deg, #66ef43 0%, #3ee199 100%);
}

.product-tuition-2 {
  padding-bottom: 0;
}

.product-tuition-2 .btn-arrow {
  top: 14.30556vw;
}

@media screen and (min-width: 720px) {
  .product-tuition-2 .btn-arrow {
    top: 103px;
  }
}

.product-off {
  max-width: 100vw;
  overflow: hidden;
}

.product-off .motion {
  position: absolute;
  top: 33.47222vw;
  left: 8.33333vw;
}

@media screen and (min-width: 720px) {
  .product-off .motion {
    top: 241px;
  }
}

@media screen and (min-width: 720px) {
  .product-off .motion {
    left: 60px;
  }
}

.product-off .motion1 {
  width: 6.11111vw;
  top: 59.02778vw;
  left: 9.02778vw;
}

@media screen and (min-width: 720px) {
  .product-off .motion1 {
    width: 44px;
  }
}

@media screen and (min-width: 720px) {
  .product-off .motion1 {
    top: 425px;
  }
}

@media screen and (min-width: 720px) {
  .product-off .motion1 {
    left: 65px;
  }
}

.product-off .motion2 {
  width: 6.11111vw;
  top: 59.02778vw;
  left: 64.58333vw;
}

@media screen and (min-width: 720px) {
  .product-off .motion2 {
    width: 44px;
  }
}

@media screen and (min-width: 720px) {
  .product-off .motion2 {
    top: 425px;
  }
}

@media screen and (min-width: 720px) {
  .product-off .motion2 {
    left: 465px;
  }
}

.product-off .motion3 {
  width: 83.33333vw;
  height: 55.55556vw;
}

@media screen and (min-width: 720px) {
  .product-off .motion3 {
    width: 600px;
  }
}

@media screen and (min-width: 720px) {
  .product-off .motion3 {
    height: 400px;
  }
}

.product-off .motion4,
.product-off .motion5 {
  width: 52.77778vw;
  top: 40.27778vw;
  left: 24.30556vw;
}

@media screen and (min-width: 720px) {
  .product-off .motion4,
  .product-off .motion5 {
    width: 380px;
  }
}

@media screen and (min-width: 720px) {
  .product-off .motion4,
  .product-off .motion5 {
    top: 290px;
  }
}

@media screen and (min-width: 720px) {
  .product-off .motion4,
  .product-off .motion5 {
    left: 175px;
  }
}

.product-off.active .motion1 {
  -webkit-animation: motion-off 0s ease-out 0.3s forwards;
          animation: motion-off 0s ease-out 0.3s forwards;
}

.product-off.active .motion2 {
  -webkit-animation: motion-off 0s ease-out 0.6s forwards;
          animation: motion-off 0s ease-out 0.6s forwards;
}

.product-off.active .motion3 {
  -webkit-animation: motion-off 0.4s ease-out 0.9s forwards;
          animation: motion-off 0.4s ease-out 0.9s forwards;
}

@-webkit-keyframes motion-off {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes motion-off {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.product-off.active .motion4 {
  -webkit-animation: motion-y 0.2s ease-out 1.2s forwards;
          animation: motion-y 0.2s ease-out 1.2s forwards;
}

.product-off.active .motion5 {
  -webkit-animation: motion-y 0.2s ease-out 1.5s forwards;
          animation: motion-y 0.2s ease-out 1.5s forwards;
}

@-webkit-keyframes motion-y {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes motion-y {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.product-package {
  background-color: #eafff9;
}

.product-package .package-list {
  border: 5px solid #000;
  border-width: 0.69444vw;
  border-bottom: none;
  width: 83.33333vw;
  background-color: #fff;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

@media screen and (min-width: 720px) {
  .product-package .package-list {
    border-width: 5px;
  }
}

@media screen and (min-width: 720px) {
  .product-package .package-list {
    width: 600px;
  }
}

.product-package .package-list li {
  position: relative;
  height: 38.88889vw;
  padding-top: 15.27778vw;
  padding-left: 4.16667vw;
  border-bottom: 5px solid #000;
  border-width: 0.69444vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}

@media screen and (min-width: 720px) {
  .product-package .package-list li {
    height: 280px;
  }
}

@media screen and (min-width: 720px) {
  .product-package .package-list li {
    padding-top: 110px;
  }
}

@media screen and (min-width: 720px) {
  .product-package .package-list li {
    padding-left: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-package .package-list li {
    border-width: 5px;
  }
}

.product-package .package-list li img {
  height: 8.33333vw;
  margin-top: 0.97222vw;
}

@media screen and (min-width: 720px) {
  .product-package .package-list li img {
    height: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-package .package-list li img {
    margin-top: 7px;
  }
}

.product-package .package-list li input {
  position: absolute;
  top: 4.44444vw;
  left: 4.44444vw;
  width: 4.16667vw;
  height: 4.16667vw;
  margin: 0;
  -webkit-box-shadow: 0 0px 5px 5px white;
  box-shadow: 0 0px 5px 5px white;
}

@media screen and (min-width: 720px) {
  .product-package .package-list li input {
    top: 32px;
  }
}

@media screen and (min-width: 720px) {
  .product-package .package-list li input {
    left: 32px;
  }
}

@media screen and (min-width: 720px) {
  .product-package .package-list li input {
    width: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-package .package-list li input {
    height: 30px;
  }
}

.product-package .package-list li .title {
  cursor: pointer;
  position: absolute;
  top: 4.16667vw;
  left: 9.72222vw;
  font-size: 4.16667vw;
  font-weight: 600;
  letter-spacing: -2px;
  text-align: left;
  line-height: 1;
}

@media screen and (min-width: 720px) {
  .product-package .package-list li .title {
    top: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-package .package-list li .title {
    left: 70px;
  }
}

@media screen and (min-width: 720px) {
  .product-package .package-list li .title {
    font-size: 30px;
  }
}

.product-package .package-list li .title span {
  font-size: 2.5vw;
  font-weight: 400;
}

@media screen and (min-width: 720px) {
  .product-package .package-list li .title span {
    font-size: 18px;
  }
}

.product-package .package-list li .price {
  position: absolute;
  bottom: 4.86111vw;
  right: 4.86111vw;
  line-height: 1;
  text-align: right;
}

@media screen and (min-width: 720px) {
  .product-package .package-list li .price {
    bottom: 35px;
  }
}

@media screen and (min-width: 720px) {
  .product-package .package-list li .price {
    right: 35px;
  }
}

.product-package .package-list li .price .price-before {
  display: block;
  font-size: 4.58333vw;
  font-weight: 900;
  letter-spacing: -2px;
  color: #999;
  text-decoration: line-through;
}

@media screen and (min-width: 720px) {
  .product-package .package-list li .price .price-before {
    font-size: 33px;
  }
}

.product-package .package-list li .price .price-before em {
  font-weight: 900;
}

.product-package .package-list li .price .price-after {
  font-size: 6.52778vw;
  font-weight: 900;
  letter-spacing: -3px;
  color: #eb1616;
}

@media screen and (min-width: 720px) {
  .product-package .package-list li .price .price-after {
    font-size: 47px;
  }
}

.product-package .package-list li .price .price-after em {
  font-weight: 900;
}

.product-package .btn {
  margin: 6.94444vw auto 18.05556vw;
}

@media screen and (min-width: 720px) {
  .product-package .btn {
    margin: 50px auto 130px;
  }
}

.product-info1 {
  background-color: #eaf7ff;
}

.product-info1 .slider {
  position: absolute;
  bottom: 18.05556vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .product-info1 .slider {
    bottom: 130px;
  }
}

.product-info1 .slider .slick-slide {
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  opacity: 0.2;
}

.product-info1 .slider .slick-slide img {
  display: block;
  height: 75vw;
  margin: 0 auto;
}

@media screen and (min-width: 720px) {
  .product-info1 .slider .slick-slide img {
    height: 540px;
  }
}

.product-info1 .slider .slick-slide.slick-current {
  opacity: 1;
}

.product-info1 .slider .slick-dots {
  bottom: -4.16667vw;
}

@media screen and (min-width: 720px) {
  .product-info1 .slider .slick-dots {
    bottom: -30px;
  }
}

.product-info3 {
  background-color: #eaf7ff;
}

.product-info4 {
  background-color: #eaf7ff;
}

.product-info4 .slider {
  position: absolute;
  bottom: 18.05556vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .product-info4 .slider {
    bottom: 130px;
  }
}

.product-info4 .slider .slick-slide {
  opacity: 0.2;
}

.product-info4 .slider .slick-slide.slick-current {
  opacity: 1;
}

.product-medal {
  overflow: hidden;
  background-color: #f1f1f1;
}

.product-medal .successful-motion {
  position: absolute;
  right: 29.44444vw;
  bottom: 43.19444vw;
  width: 21.38889vw;
  height: 0.69444vw;
  overflow: hidden;
}

@media screen and (min-width: 720px) {
  .product-medal .successful-motion {
    right: 212px;
  }
}

@media screen and (min-width: 720px) {
  .product-medal .successful-motion {
    bottom: 311px;
  }
}

@media screen and (min-width: 720px) {
  .product-medal .successful-motion {
    width: 154px;
  }
}

@media screen and (min-width: 720px) {
  .product-medal .successful-motion {
    height: 5px;
  }
}

.product-medal .successful-motion img {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 21.38889vw;
  height: 56.52778vw;
}

@media screen and (min-width: 720px) {
  .product-medal .successful-motion img {
    width: 154px;
  }
}

@media screen and (min-width: 720px) {
  .product-medal .successful-motion img {
    height: 407px;
  }
}

.product-medal.active .successful-motion {
  height: 56.52778vw;
  -webkit-transition-duration: .8s;
          transition-duration: .8s;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

@media screen and (min-width: 720px) {
  .product-medal.active .successful-motion {
    height: 407px;
  }
}

.product-medal .btn-base {
  position: absolute;
  top: 30.00vw;
  right: 4.72vw;
  width: 15.28vw;
  z-index: 1;
}

@media screen and (min-width: 720px) {
  .product-medal .btn-base {
    top: 216px;
    right: 34px;
    width: 110px;
  }
}

.product-medal .winner-contents {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin: 0 auto;
  text-align: center;
}

.product-medal .winner-contents:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(40%, transparent), to(#f1f1f1));
  background: linear-gradient(to top, transparent 40%, #f1f1f1 100%);
}

.product-medal .winner-contents:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), to(#f1f1f1));
  background: linear-gradient(to bottom, transparent 40%, #f1f1f1 100%);
}

.product-medal .winner-contents .winner-list p {
  width: 16.66% !important;
  float: left;
  text-align: center;
  font-size: 2.77778vw;
  font-weight: 300;
  line-height: 50px;
  color: #818181;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (min-width: 720px) {
  .product-medal .winner-contents .winner-list p {
    font-size: 20px;
  }
}

.product-medal .winner-contents .winner-list .slick-list {
  height: 100% !important;
}
/*# sourceMappingURL=mobile.css.map */