
.dim {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100000;
	background-color: rgba(0, 0, 0, 0.7);
  }
  
  .layer {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100001;
	width: 1000px;
	height: 715px;
	margin: -327px 0 0 -500px;
	background-color: #fff;
  }
  
  .dim.in,
  .layer.in {
	display: block;
  }
  
  .layer_detail_info .layer_body {
	width: 1000px;
	margin: 0 auto;
  }
  
  .layer_detail_info .bx-wrapper {
	width: 1000px;
	height: 550px;
  }
  
  .layer_detail_info .bx-wrapper .bx-viewport {
	left: 0;
	width: 1000px !important;
	height: 550px !important;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
  }
  
  .gallery-thumbs-container {
	margin-top: 28px;
	padding: 0 75px;
	overflow: hidden;
  }
  
  .gallery-thumbs-container .bx-wrapper .bx-viewport {
	width: 100% !important;
	height: 110px !important;
  }
  
  .gallery-thumbs-container .academy_gallery_thumb {
	overflow: hidden;
  }
  
  .gallery-thumbs-container .academy_gallery_thumb .thumb-item {
	width: 200px !important;
	height: 110px !important;
  }
  
  .gallery-thumbs-container .academy_gallery_thumb .thumb-item img {
	width: 100%;
  }
  
  .gallery-thumbs-container .bx-controls-direction a {
	top: 0;
	width: 75px;
	height: 110px;
	margin-top: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0 !important;
  }
  
  .gallery-thumbs-container .bx-wrapper .bx-prev {
	margin-left: 0;
	left: -75px;
	background-image: url("https://img.eduwill.net/Img2/Won2/promotion/license/180503_01/btn_prev.png");
  }
  
  .gallery-thumbs-container .bx-wrapper .bx-next {
	margin-right: 0;
	right: -75px;
	background-image: url("https://img.eduwill.net/Img2/Won2/promotion/license/180503_01/btn_next.png");
  }
  
  .close_layer {
	position: absolute;
	top: 0;
	right: -50px;
	display: block;
	width: 50px;
	height: 50px;
	background: url("https://img.eduwill.net/Img2/Won2/promotion/license/180503_01/layer_close.png") no-repeat center center;
  }