@charset "utf-8";

@import url('nanumgothic.css');
@import url('reset.css');
@import url('common.css');

/* board_ page style */
.char_count { padding-left:8px; font-size:12px;}

.notice_item,
.sisa_item,
.event_item,
.data_item { margin-top:23px;}
.notice_item .list_section table .left_td { padding-left:5px;}
.notice_item .list_section table .top .left_td > a { font-family:'nanum_b';}

.faq_item .list_section table { margin-top:0;}
.faq_tab { border-top:1px solid #d1d1d1;}
.faq_tab ul { overflow:hidden;}
.faq_tab ul li { float:left; padding:11px 26px; font-size:13px; background:url('https://img.eduwill.net/pds/books/web/common/bu_bar01.gif') left center no-repeat;}
.faq_tab ul li a { text-decoration:none;}
.faq_tab ul li.current a { color:#000; font-family:'nanum_b';}
.faq_tab ul li:first-child { background:none;}

.faq_item .g_box_c { margin-top:60px;}

/* g_view_a */
.g_view_a { }
.list_a { margin-bottom:50px;}
.list_a .thum { height:165px;}
.list_a .thum .w_btn_xs { margin-top:9px; padding:5px 0; width:193px; text-align:center;}

.book_roll { position:relative; margin:10px 0 50px 0; padding-top:30px; border-top:1px solid #aeaeae;}
.book_roll .rolling_control { position:absolute; top:80px;}
.book_roll .rolling_control.prev { left:0;}
.book_roll .rolling_control.next { right:0;}
.book_roll .rolling { position:relative; margin-left:36px; width:620px; overflow:hidden;}
.book_roll .rolling ul { overflow:hidden; width:9999em;}
.book_roll .rolling li { float:left; width:110px; margin:0 8px; text-align:center;}
.book_roll .rolling li img { border:1px solid #c1c1c1;}
.book_roll .rolling li .title { width:100%; margin-top:12px;}
.book_roll .rolling li .title a { font-size:12px; color:#555; line-height:17px;}

.detail_cont { position:relative; margin:10px 0 50px 0; padding-top:30px; border-top:1px solid #aeaeae;}
.detail_cont p { /*margin-bottom:18px; font-size:12px;*/ color:#777; line-height:18px;}
.detail_cont p.t01 { color:#333;}
.detail_cont .center_align { margin-top:30px;}

/* sisa */
.banner_area { margin-bottom:33px;}
.sisa_item01 .blist_body { border-top:1px solid #d1d1d1;}
.sisa_item02 .g_box_a { margin-bottom:50px;}
.sisa_item02 .g_box_a .big_t { margin-bottom:10px;}
.sisa_item02 .g_box_a .mid_t { margin-bottom:30px; font-size:15px; color:#777;}
.sisa_item02 .btn { margin-top:10px;}
.sisa_item03 .center_align { margin-top:30px;}
.sisa_item03 .list_type_a li { font-size:12px; color:#777;}

/* event */
.event_item01 .faq_tab { border-top:none; border-bottom:1px solid #d1d1d1;}
.event_item01 .list_a { margin-bottom:0;}
.event_item01 .list_a li { margin-top:0; padding:25px 0; border-top:none; border-bottom:1px solid #d1d1d1;}
.event_item01 .list_a li .thum { width:250px; height:110px;}
.event_item01 .list_a li .thum img { width:248px; height:108px; border:1px solid #c1c1c1;}
.event_item01 .list_a li .cont { width:424px; min-height:110px;}
.event_item01 .list_a dl dt { margin-top:7px;}
.event_item01 .list_a dl dt img { vertical-align:middle; margin-right:8px;}
.event_item01 .list_a dl dt a { font-size:16px;}
.event_item01 .list_a dl dd { padding-bottom:0; font-size:13px;}
.event_item01 .list_a dl dd.date { margin-top:6px; font-size:12px;}

.g_reply { margin-top:30px;}
.g_reply .right_align { font-size:12px; margin-bottom:7px;}
.write_area { position:relative; overflow:hidden;}
.write_area textarea { float:left; width:572px; height:73px; border-right:none;}
.write_area .reply_btn { float:left; display:block; padding:37px 0;width:107px; text-align:center; background:#3649b8; color:#fff; font-family:'nanum_b'; font-size:20px;}
.g_reply table td { padding:20px 0; color:#000; font-size:13px; line-height:19px; border-bottom:1px dashed #d1d1d1; word-break:break-all;}
.g_reply table td.writer,
.g_reply table td.date { text-align:center; color: #777;}
.g_reply table td .btn { margin-top:8px;}

.event_item01 .g_page_2 { padding:30px 0;}

.event_item03 .g_box_a { margin:15px 0;}
.event_item03 .g_box_a strong { color:#000; font-size:13px; padding-right:10px;}
.event_item03 .list_type_a li { font-size:12px; color:#777;}
.event_item03 .center_align { margin:30px 0 70px;}
.event_item03 .big_t { color:#3c3c3c; font-family:'nanum_b';}
.event_item03 .sel_list { width:608px; margin:30px auto 0; padding:25px 0 0 17px; text-align:left; border-top:1px solid #e3e3e3;}
.event_item03 .sel_list p { margin-bottom:10px; font-size:15px; color:#000; font-family:'nanum_b';}
.event_item03 .sel_list ul li { margin-bottom:8px;}
.event_item03 .sel_list ul li label { font-size:13px; padding-left:5px;}
.event_item03 .sel_list ul li.checked label { font-family:'nanum_b'; color:#000;}

/* book data */
.list_section .g_tbl_col.type2 td { padding:15px 0;}
.list_section .g_tbl_col.type2 td.books_title { padding-left:15px; text-align:left; font-size:15px; color:#000; vertical-align:middle;}
.list_section .g_tbl_col.type2 td.books_title a { font-size:15px; font-family:'nanum_b'; color:#000;}
.list_section .g_tbl_col.type2 td.books_title span { display: block; font-size:12px; color:#777;}

.data_item .down_tr { display:none;}
.data_item .down_tr td { padding:0 !important; border-top:0 !important; background:#f7f7f7;}
.down_list { position:relative; width:615px; margin-left:85px; text-align:left;}
.down_list ul { padding:10px 0; border-top:1px dashed #d1d1d1; }
.down_list ul li { position:relative; margin-top:3px;}
.down_list ul li:first-child { margin-top:0;}
.down_list ul li label { padding-left:8px; color:#000;}
.data_item .g_tbl_col.type2 .down_list a.g_btn_xs { position:absolute; top:0; right:38px; padding:0 14px; font-size:12px; color:#777; font-family:'nanum_b';}
.close_down { position:absolute; top:10px; right:10px;}

.one_select { margin-bottom:15px;}
.data_item .list_a { margin-bottom:0;}
.data_item .list_a > li { margin-top:0; padding:30px 0 25px; border-top:none; border-bottom:1px solid #d1d1d1; position:relative}
.data_item .list_a > li:first-child { border-top:1px solid #d1d1d1;}
.data_item .list_a .thum { width:202px;}
.data_item .list_a > li .thum img { width:200px; height:205px;}
.data_item .list_a > li .cont { width:473px;}
.data_item .list_a .thum .r_btn_xs { margin-top:10px; padding:5px 0 7px; font-size:11px; width:100%; text-align:center;}
.data_item .list_a .thum .g_btn_xs { margin-top:10px; padding:5px 0 7px; font-size:11px; width:100%; text-align:center; color:#fff; background:#939393;}
.data_item .list_a dl { padding-bottom:30px;}
.data_item .list_a dl dd { padding-bottom:0; font-size:12px;}
.data_item .list_a dl dd ul { margin-top:10px;}
.data_item .list_a dl dd ul li { margin-bottom:5px; font-size:13px; color:#000;}
.data_item .list_a dl dd ul li .b_btn_xxs { margin-left:10px;}
.data_item .list_a .like_hand { font-size:13px;}
.data_item .list_a .like_hand .hit { padding-left:30px;}
.data_item .list_a .coupon {position:absolute; top:10px; right:0;}
.data_item .list_a .coupon a.btn {display:inline-block; height:27px; line-height:28px; text-align:center; font-size:12px; font-family:'Dotum'; padding:0 10px;}
.data_item .list_a .coupon a.btn.open {background:#f3f3f3; color:#7f7f7f;}
.data_item .list_a .coupon a.btn.open span {background:url('https://img.eduwill.net/pds/books/web/book/coupon/icon_key_open.png') no-repeat 0 50%; padding-left:15px;}
.data_item .list_a .coupon a.btn.close {border:solid 1px #d2d2d2; background:#fff; color:#8c8c8c; height:25px; line-height:26px;}
.data_item .list_a .coupon a.btn.close span {background:url('https://img.eduwill.net/pds/books/web/book/coupon/icon_key_close.png') no-repeat 0 50%; padding-left:15px;}
.data_item .list_a .coupon .layer_coupon {position:absolute; top:33px; right:0; background:#fff; z-index:5; border:solid 1px #a7a7a7}
.data_item .list_a .coupon .layer_coupon .tit {background:#a7a7a7; padding:8px 17px}
.data_item .list_a .coupon .layer_coupon .inn {padding:32px 30px}
.data_item .list_a .coupon .layer_coupon .inn dl {padding-bottom:22px;}
.data_item .list_a .coupon .layer_coupon .inn dl dd {padding-top:8px}
.data_item .list_a .coupon .layer_coupon .inn .push {font-size:0}
.data_item .list_a .coupon .layer_coupon .inn .push input {border:solid 1px #a7a7a7; height:27px; line-height:28px; width:161px; margin:0 10px; text-indent:10px}

.data_item .g_list_b .list_a > li dl dt { font-size:23px}
.data_item .g_list_b .list_a > li { padding:0; border-top:none; border-bottom:none;}
.data_item .g_list_b td.left_td { padding-left:30px;}
.movie_teacher { margin-bottom:30px;}

.best_list { position:relative; margin:50px 0 70px; overflow:hidden;}
.best_list .bbs_title { position:relative; padding-bottom:15px; font-size:22px; color:#3c3c3c; font-family:'nanum_b'; letter-spacing:-1px; border-bottom:2px solid #d1d1d1;}
.best_list .total { float:right; padding-top:5px; font-size:15px; color:#3c3c3c;}
.best_list .total strong { color:#4b58c8;}
.best_list .list { padding-top:15px;}
.best_list .list ul > li { float:left; width:220px; margin-left:20px; text-align:center;}
.best_list .list ul > li:first-child { margin-left:0;}
.best_list .list ul > li > a { display:block;}
.best_list .list ul > li > a > img { width:220px; height:150px; margin-bottom:15px;}
.best_list .list ul > li > a strong { font-size:16px; color:#3c3c3c; letter-spacing:-1px;}

.item_tab { overflow:hidden; border-top:3px solid #3f4788;}
.item_tab ul li { float:left; width:139px; height:43px; border:1px solid #dcdcdc; border-top:0 none; border-left:0 none;}
.item_tab ul li.first { border-left:1px solid #dcdcdc; width:138px;}
.item_tab ul li.on { background:#3f4788; border-color:#3f4788;}
.item_tab ul li.on a { color:#fff;}
.item_tab ul li a { display:block; padding-top:13px; text-align:center; color:#676767; font-size:15px; font-family:'nanum_b'; letter-spacing:-1px;}


/* customer */
.customer_item { margin-top:10px;}
.customer_item p.sub_title { padding-left:3px; margin-bottom:20px;}
.customer_item .g_box_a .g_btn_small { margin-left:8px; padding:0; width:78px !important;}

.customer_item01 .g_tbl_row { margin-bottom:30px;}
.customer_item01 .g_box_a { margin:23px 0 30px;}
.customer_item02 { margin-top:23px;}
.customer_item02 .dot_list { width:608px; min-height:97px; margin:30px auto 0; padding:20px 0 0 17px; text-align:left; border-top:1px solid #e3e3e3; background:url('https://img.eduwill.net/pds/books/web/content/bg_booktest.jpg') 434px 16px no-repeat;}
.customer_item02 .dot_list li { margin-top:10px;}

.appraisal_sec { border-top:2px solid #000;}
.appraisal_sec ol > li { position:relative; overflow:hidden; padding:27px 20px; border-top:1px dashed #d4d4d4;}
.appraisal_sec ol > li:first-child { border-top:none;}
.appraisal_sec ol > li > p { color:#000; font-size:18px; margin-bottom:16px; font-family:'nanum_b';}
.appraisal_sec ol > li > p span { font-size:13px;}
.appraisal_sec ol > li > ul { overflow:hidden; width:635px; margin-left:20px;}
.appraisal_sec ol > li > ul li { float:left; width:50%; line-height:25px; font-size:13px; color:#777;}
.appraisal_sec ol > li > ul li label { padding-left:5px; font-size:13px;}
.appraisal_sec ol > li > table { width:632px;}
.appraisal_sec ol > li > table,
.appraisal_sec ol > li > textarea { margin-left:20px;}

/* ÇÑÁÙ¸®ºä */
.g_review { margin-top:60px;}
.rw_title { padding-bottom:10px; font-size:18px; font-weight:bold; color:#5764bc; border-bottom:2px solid #000;}
.rw_evt { padding:25px 0 0; height:133px; background:url('https://img.eduwill.net/pds/books/web/content/bbs_review/img_evt.jpg') right top no-repeat;}
.rw_evt p { margin-bottom:15px; font-size:14px; color:#181818; line-height:20px; letter-spacing:-0.5px}
.rw_form { margin-bottom:35px; padding:29px; border:1px solid #d3d3d3;}
.rw_radio { margin-bottom:35px; padding:25px 20px 10px; background:#eff1fc;}
.rw_radio dl dt { margin-bottom:15px; font-weight:bold; color:#181818; font-size:14px;}
.rw_radio dl dd ul { overflow:hidden;}
.rw_radio dl dd ul li { float:left; width:25%; margin-bottom:10px;}
.rw_radio dl dd ul li label { display:inline-block; padding-left:5px; font-size:14px; color:#181818; letter-spacing:-0.5px;}
.rw_star { margin-bottom:8px;}
.rw_star label { display:inline-block; padding-right:10px; line-height:27px; font-weight:bold; color:#181818; font-size:14px; letter-spacing:-0.5px; vertical-align:top;}
.rw_form .write_area textarea { width:512px;}
.rw_form .write_area .txtbyte { position:absolute; bottom:8px; right:112px; color:#a3a3a3; font-size:12px; letter-spacing:-0.5px;}
.rw_form .write_area .txtbyte span { color:#ff2e3a;}
.rw_form .write_area .reply_btn { padding:0; font-size:15px; height:95px; line-height:95px;}
.rw_form .list_group { margin-top:55px; padding-top:35px; border-top:1px solid #d8d8d8;}
.rw_form .list_group .list_count { margin-bottom:12px; font-size:15px; font-weight:bold; color:#000; letter-spacing:-0.5px;}
.rw_form .list_group .list_count span { color:#fe323f;}
.rw_form .list_group .list { padding:0 22px 25px; background:#fbfbfb;}
.rw_form .list_group .list ul li { position:relative; padding:28px 0 25px; border-bottom:1px solid #e2e2e2;}
.rw_form .list_group .list ul li .info { margin-bottom:10px; overflow:hidden;}
.rw_form .list_group .list ul li .info > div { padding:0 8px 0 9px; float:left; font-size:13px; letter-spacing:-0.5px; background:url('https://img.eduwill.net/pds/books/web/content/bbs_review/bar.gif') 0 center no-repeat;}
.rw_form .list_group .list ul li .info .writer { padding-left:0; background-image:none; font-weight:bold; color:#666;}
.rw_form .list_group .list ul li .info .date { color:#bababa;}
.rw_form .list_group .list ul li .contxt { font-size:13px; color:#666; line-height:20px; letter-spacing:-0.5px;}
.rw_form .list_group .list ul li .btn_delete { display:block; position:absolute; top:24px; right:0; padding:2px 2px 2px 15px; background:url('https://img.eduwill.net/pds/books/web/content/bbs_review/ico_trash.png') 1px center no-repeat;}
.rw_form .list_group .list ul li .btn_delete span { color:#666; font-size:13px;}