/* Nanum Gothic (Korean) */

@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 400;
	src: url('https://contents.eduwill.net/font/NanumGothic-Regular.eot');
	src: url('https://contents.eduwill.net/font/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'), url('https://contents.eduwill.net/font/NanumGothic-Regular.woff2') format('woff2'), url('https://contents.eduwill.net/font/NanumGothic-Regular.woff') format('woff'), url('https://contents.eduwill.net/font/NanumGothic-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 700;
	src: url('https://contents.eduwill.net/font/NanumGothic-Bold.eot');
	src: url('https://contents.eduwill.net/font/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'), url('https://contents.eduwill.net/font/NanumGothic-Bold.woff2') format('woff2'), url('https://contents.eduwill.net/font/NanumGothic-Bold.woff') format('woff'), url('https://contents.eduwill.net/font/NanumGothic-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 800;
	src: url('https://contents.eduwill.net/font/NanumGothic-ExtraBold.eot');
	src: url('https://contents.eduwill.net/font/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'), url('https://contents.eduwill.net/font/NanumGothic-ExtraBold.woff2') format('woff2'), url('https://contents.eduwill.net/font/NanumGothic-ExtraBold.woff') format('woff'), url('https://contents.eduwill.net/font/NanumGothic-ExtraBold.ttf') format('truetype');
}


/* Noto Sans */

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url('https://contents.eduwill.net/font/NotoSansKR-Thin.woff2') format('woff2'), url('https://contents.eduwill.net/font/NotoSansKR-Thin.woff') format('woff');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url('https://contents.eduwill.net/font/NotoSansKR-Light.woff2') format('woff2'), url('https://contents.eduwill.net/font/NotoSansKR-Light.woff') format('woff');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url('https://contents.eduwill.net/font/NotoSansKR-Regular.woff2') format('woff2'), url('https://contents.eduwill.net/font/NotoSansKR-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url('https://contents.eduwill.net/font/NotoSansKR-Medium.woff2') format('woff2'), url('https://contents.eduwill.net/font/NotoSansKR-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url('https://contents.eduwill.net/font/NotoSansKR-Bold.woff2') format('woff2'), url('https://contents.eduwill.net/font/NotoSansKR-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: url('https://contents.eduwill.net/font/NotoSansKR-Black.woff2') format('woff2'), url('https://contents.eduwill.net/font/NotoSansKR-Black.woff') format('woff');
}