@{
    String platform = ("W".Equals(ViewBag.PlatformCd)) ? "pc" : "mobile";
}

<div id="contents" class="promotion">
	@if ("W".Equals(ViewBag.PlatformCd))
	{ 
		<div data-eduwill-eco-content="3967"></div>	
	}
	
	<div class="container section-title">
		@if ("W".Equals(ViewBag.PlatformCd))
		{
			<div class="wrap">
				<p class="title-1"><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220103/pc/main_title1.png" alt="" /></p>
				<p class="title-2">
					<span class="sun"><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220103/pc/sun.png" alt="" /></span>
					<strong class="academy-name">에듀윌 경영아카데미</strong>
					<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220103/pc/main_title2.png" alt="" />
				</p>
				<div class="arrow-left"><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220103/pc/arrow_left.png" alt="" /></div>
				<div class="arrow-right"><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220103/pc/arrow_right.png" alt="" /></div>
				<div class="text-box">
					<p>
						@* <span>3월 대개강 맞이 특별 이벤트!</span><br> *@
						<span>인증만 하면 누구나</span> <strong><span data-eduwill-eco-content="3874" class="eco-3874"></span> 추가 할인!</strong>
					</p>
				</div>
			</div>
			<div class="train"><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220103/pc/train.png" alt="" /></div>
		} else {
			<div class="wrap">
				<div class="academy-name">
					<strong>에듀윌 경영아카데미</strong>
				</div>
				<img src="https://img.eduwill.net/eduwill/img/2022/_114/event/220103/mobile/title.png" alt="">
				<div class="text-box">
					<div class="certification">인증만 하면 <span data-eduwill-eco-content="3874" class="eco-3874"></span> 추가 할인!</div>
				</div>
			</div>
		}
	</div>

	<div class="container section-examinee">
		<div class="wrap">
			<img src="https://img.eduwill.net/eduwill/img/2022/_114/event/220103/@platform/img_examinee.jpg" Lalt="" />
		</div>
	</div>


	<div class="container section-event">
		<div class="wrap">
			@if ("W".Equals(ViewBag.PlatformCd)) {
				<div class="event-box">
					<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220103/pc/tit_event.jpg" alt="" />
					<div class="title-set">
						합격으로 가는 가장 빠른 역, 에듀윌로 환승하고
						<strong><span data-eduwill-eco-content="3874" class="eco-3874"></span> 수강료 추가로 할인 받기</strong>
						<p class="noti">
							세무사 시험을 준비하고 경험했다면 인증해주세요.<br>
							세무사 응시 수험표 · 학원/온라인 수강증 · 세무/회계 관련 학원/온라인 수강증 모두 가능합니다.
						</p>
					</div>
				</div>
				<div class="train-box">
					<div class="train-mini"><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220103/pc/train_mini.png" alt="" /></div>
					<div class="train-line"><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220103/pc/bg_train.png" alt="" /></div>
					<div class="step-box">
						<div class="step1">
							<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220103/pc/train1_off.png" alt="" />
						</div>
						<div class="step2"><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220103/pc/train2_off.png" alt="" /></div>
						<div class="step3"><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220103/pc/train3_211201_off.png" alt="" /></div>
					</div>
				</div>
				<div class="flash">
					<div class="inside">
						<div class="text">
							<strong><div data-eduwill-eco-content="3874"></div></strong>
							<span>수강료 할인</span>
							<em>*추가할인</em>
						</div>
					</div>
					<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220103/pc/flash_on.png" alt="" />
				</div>
			} else {
				<img src="https://img.eduwill.net/eduwill/img/2022/_114/event/220103/mobile/step_title_211201.jpg" alt="합격으로 가는 가장 빠른 역, 에듀윌로 환승하고 20% 수강료 할인 받기">
				<div class="holder">
					@* <div class="tel">
						<strong>☎ 02-6328-0600</strong>
					</div> *@
					<img src="https://img.eduwill.net/eduwill/img/2022/_114/event/220103/mobile/step_box_211201.gif" alt="">
				</div>
				<div class="holder">
					<div class="flag"><span data-eduwill-eco-content="3874" class="eco-3874"></span></div>
					<div class="discount-text">
						<em data-eduwill-eco-content="3874" class="eco-3874"></em> 수강료 할인
						<span>* 추가할인</span>
					</div>
					<img src="https://img.eduwill.net/eduwill/img/2022/_114/event/220103/mobile/step_discount.jpg" alt="">
				</div>
			}
			<div class="action">
				<button onclick="GetPopup();" class="icon-pointer">재시생/타사 환승 인증하고 <strong><span data-eduwill-eco-content="3874" class="eco-3874"></span> 추가 할인받기</strong></button>
			</div>
			<div class="notice-box">
				<div data-eduwill-eco-content="3875"></div>
			</div>
		</div>
	</div>

	<div class="container section-teacher">
		<div class="wrap wrap-2">
			<img src="https://img.eduwill.net/eduwill/img/2022/_114/event/220103/@platform/teacher_title.jpg" alt="">
			<div class="action base">
				<a href="javascript:popupOpen('.rationale-dimmed', 'popupTeacher');">
					<img alt="" src="//img.eduwill.net/eduwill/img/2022/_114/product/220104/pc/btn_teacher_base.png" />
				</a>
			</div>
			<div class="eco-teacher-3649" data-eduwill-eco-content="3649"></div>
		</div>
		<div class="wrap-full">
			<div class="teacher-slide">
				<div clas="slick-track"><img alt="" src="//img.eduwill.net/eduwill/img/2022/_114/event/220103/@platform/teacher_review_1.png" /></div>
				<div clas="slick-track"><img alt="" src="//img.eduwill.net/eduwill/img/2022/_114/event/220103/@platform/teacher_review_2.png" /></div>
				<div clas="slick-track"><img alt="" src="//img.eduwill.net/eduwill/img/2022/_114/event/220103/@platform/teacher_review_3.png" /></div>
				<div clas="slick-track"><img alt="" src="//img.eduwill.net/eduwill/img/2022/_114/event/220103/@platform/teacher_review_4.png" /></div>
				<div clas="slick-track"><img alt="" src="//img.eduwill.net/eduwill/img/2022/_114/event/220103/@platform/teacher_review_5.png" /></div>
				<div clas="slick-track"><img alt="" src="//img.eduwill.net/eduwill/img/2022/_114/event/220103/@platform/teacher_review_6.png" /></div>
				<div clas="slick-track"><img alt="" src="//img.eduwill.net/eduwill/img/2022/_114/event/220103/@platform/teacher_review_6.png" /></div>
			</div>
		</div>
		<div class="wrap">
			<div class="action teacher">
				<a href="https://cpta.eduwill.net/prof" target="_blank" >
					<img alt="" src="//img.eduwill.net/eduwill/img/2022/_114/event/220103/@platform/btn_teacher.png" />
				</a>
			</div>
		</div>
	</div>

	@if ("W".Equals(ViewBag.PlatformCd))
	{
		<div data-eduwill-eco-content="4099"></div>	
	} else {
		<div class="container promotion-curriculum">
			<div class="wrap">
				<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220103/mobile/curriculum.jpg" alt="">
			</div>
		</div>
	}

	<div class="container section-live">
		<div class="wrap wrap-2">
			<img alt="" src="//img.eduwill.net/eduwill/img/2022/_114/event/220103/@platform/live.jpg" />
			<div class="gif">
				<img alt="" src="//img.eduwill.net/eduwill/img/2022/_114/event/220103/pc/live_gif.gif" />
			</div>
			<div class="action">
				<a href="//www.youtube.com/watch?v=qocWG2rOXvQ" target="_blank">
					<img alt="" src="//img.eduwill.net/eduwill/img/2022/_114/event/220103/@platform/btn_live.png" />
				</a>
			</div>
		</div>
	</div>
	
	<!-- 1:1 코칭 시스템 -->
	@if ("W".Equals(ViewBag.PlatformCd))
	{
		<div data-eduwill-eco-content="4100"></div>	
	} else {
		<div data-eduwill-eco-content="4101"></div>	
	}

	<!-- 문제풀이 제공 -->
	@if ("W".Equals(ViewBag.PlatformCd))
	{
		<div data-eduwill-eco-content="4102"></div>	
	} else {
		<div data-eduwill-eco-content="4103"></div>	
	}

	<!-- 모의고사 -->
	@if ("W".Equals(ViewBag.PlatformCd))
	{
		<div data-eduwill-eco-content="4104"></div>	
	} else {
		<div data-eduwill-eco-content="4105"></div>	
	}

	<div class="container section-awards">
		<div class="wrap wrap-2">
			<img src="https://img.eduwill.net/eduwill/img/2022/_114/event/220103/@platform/awards.jpg" />
		</div>
	</div>


	@if ("W".Equals(ViewBag.PlatformCd))
	{
		<div class="eco-2181" data-eduwill-eco-content="2181"></div>
	}
	else
	{
		<div class="eco-2182" data-eduwill-eco-content="2182"></div>
	}

	
	<div class="container section-banner">
		<div data-eduwill-eco-content="3650"></div>
	</div>
</div>

<div class="layer-dimmed"></div>
<div class="popup" id="popup-post">
	<div class="popup-close">
		<a href="javascript:popupClose('.layer-dimmed', 'popup-post');"><span class="sr-only">팝업 닫기</span></a>
	</div>

	<div class="popup-title">
		<p><strong>재시생/타사환승 인증하기</strong></p>
	</div>

	<div class="popup-cont">
		<div class="cont-box">
			<div class="form">
				<div class="form-title">1. 인증 유형을 선택해 주세요.</div>
				<div class="type-check">
					<input type="radio" name="type" id="type-1" value="재시생">
					<label for="type-1">재시생</label>
					<input type="radio" name="type" id="type-2" value="타사환승생">
					<label for="type-2">타사환승생</label>
				</div>
			</div>
			<div class="form image">
				<div class="form-title">2. 세무사 수험표 또는 강의구매 내역 이미지(캡쳐본)를 업로드 해주세요.</div>
				<div class="file-upload">
					<div class="filebox">
						<input class="upload-name" id="fileName" value="" readonly="readonly">
						<label for="fileUpload">파일첨부</label> 
						<input type="file" id="fileUpload" name="ticketImg" class="upload-hidden">
					</div>
				</div>
			</div>
			<div class="tip-note">Ex) 타사 결제내역 타사 홈페이지 수강이력, 시험원서 결제내역, 수험표 등등</div>

			<!-- 개인정보 수집내용 -->
			<div class="comment-privacy">
				<div class="wrap">
					<div class="agree_check">
						<input type="checkbox" name="personalYn2" id="personalYn2" value="Y">
						<label for="personalYn2">개인정보 수집 및 이용에 동의 (필수)</label>
					</div>
					<div class="scroll_box">
						<strong>(주)에듀윌은 본 이벤트를 위해 다음과 같이 참여자의 개인정보를 수집 및 이용합니다.</strong>
						1. 수집 및 이용 목적 : 참여자 정보 확인, 할인쿠폰 제공<br>
						2. 개인정보 수집 항목 : 이름, 휴대폰 번호<br>
						3. 개인정보 보유/이용 기간 : <em>이벤트 종료 후 60일</em><br>
						<strong class="highlight">4. 수험표 이미지 등록 시 이름, 수험번호 외 개인정보(사진, 생년월일 등)는 불필요하게 노출되지 않도록 주의 부탁드립니다.</strong>
						5. 이벤트 신청 회원은 개인정보 수집 및 이용을 거부할 수 있습니다. 단, 거부할 경우 본 이벤트 신청이 제한됩니다.
					</div>
				</div>
			</div>

			<div class="popup-btn">
				<a href="javascript:SetUserInfo();"><span>인증 완료하고 할인쿠폰 받기</span></a>
			</div>
		</div>
	</div>
</div>

<link href="https://img.eduwill.net/eduwill/live/css/common/template.css" rel="stylesheet" />
<!--교수님 근거 문구 -->
<div class="rationale-popup" id="popupTeacher">
	<div class="rationale-title"><strong>근거문구</strong></div>
	<div class="rationale-cont">
		<div data-eduwill-eco-content="4106"></div>
	</div>
	<a class="rationale-close" href="javascript:popupClose('.rationale-dimmed', 'popupTeacher');"><span class="sr-only">팝업 닫기</span> </a>
</div>
<!-- //팝업  -->


<script type="text/javascript" src="https://img.eduwill.net/eduwill/live/libs/scrollfix/scrollfix.js"></script>
<script type="text/javascript" src="//img.eduwill.net/eduwill/live/js/common/eduf.js"></script>
<script type="text/javascript" src="//img.eduwill.net/eduwill/live/js/common/script.js"></script>
<script>
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
    var str = 'event.eduwill.net';
    var checkUrl = url.indexOf(str);
    var userId = "@(UserSession.UserID)";

	$(function () {
		$(window).on('load', function () {
			init();
		});
	});

	function stepReset() {
		$(".step-box").children("div").each(function () {
			$(this).children("img").attr('src', $(this).children('img').attr('src').replace('_on', '_off'));
		});
	}

	function onComplete() {
		TweenMax.fromTo($(".arrow-left"), 3, { x: -50, opacity: 0 }, { x: 0, opacity: 1, repeat: -1, ease: Power4.eaesOut });
		TweenMax.fromTo($(".arrow-right"), 3, { x: 50, opacity: 0 }, { x: 0, opacity: 1, delay: 0.5, repeat: -1, ease: Power4.eaesOut });

		TweenMax.fromTo($(".train"), 10, { x: 0, opacity: 1 }, { x: $(window).width() + 987, opacity: 1, repeat: -1, ease: Power4.eaesInOut });

		var _tweenMotion = TweenMax.fromTo($(".train-mini"), 1, { x: -200, opacity: 0 }, {
			x: 25, opacity: 1, ease: Power4.eaesInOut, onComplete: function () {
				stepReset();
				$(".step1").children('img').attr('src', $(".step1").children('img').attr('src').replace('_off', '_on'));
				TweenMax.fromTo($(".train-mini"), 1, { x: 25 }, {
					x: 315, opacity: 1, delay: 0.5, ease: Power4.eaesInOut, onComplete: function () {
						stepReset();
						$(".step2").children('img').attr('src', $(".step2").children('img').attr('src').replace('_off', '_on'));

						TweenMax.fromTo($(".train-mini"), 1, { x: 315 }, {
							x: 610, opacity: 1, delay: 0.5, ease: Power4.eaesInOut, onComplete: function () {
								stepReset();
								$(".step3").children('img').attr('src', $(".step3").children('img').attr('src').replace('_off', '_on'));
								setTimeout(function(){
									$(".step3").children('img').attr('src', $(".step3").children('img').attr('src').replace('_on', '_off'));
								},500);
								setTimeout(function(){
									$(".step3").children('img').attr('src', $(".step3").children('img').attr('src').replace('_off', '_on'));
								},1000);

								setTimeout(function(){
									TweenMax.fromTo($(".train-mini"), 1, { x: 610 }, {
										x: 910, opacity: 1, delay: 0.5, ease: Power4.eaesInOut, onComplete: function () {
											stepReset();
											$(".flash").addClass("active");
											TweenMax.fromTo($(".train-mini"), 1, { x: 910 }, {
												x: 1000, opacity: 1, delay: 0.5, ease: Power4.eaesInOut, onComplete: function () {
													$(".flash").removeClass("active");
													_tweenMotion.restart();
												}
											});
										}
									});
								},1100);
							}
						});
					}
				});
			}
		});
	}

	function init() {
		pageMove('.page-move');

		$('.popup_close ').on("click", function(){
			popupClose('.dimmed', 'popup_open');
		});

		$('.teacher-slide').slick({
			autoplay: true,
			autoplaySpeed: 3000,
			speed: 1000,
			infinite: true,
			arrows:false,
			dots: true,
			centerMode: true,
			variableWidth: true
		});

		
		var fileTarget = $('.filebox .upload-hidden');
		fileTarget.on('change', function(){
			if(window.FileReader){
				var filename = $(this)[0].files[0].name;
			} else {
				var filename = $(this).val().split('/').pop().split('\\').pop();
			}
			$(this).siblings('.upload-name').val(filename);
		});

		if(isMobile){
			$('.notice-box .btn-toggle').on('click', function(){
				if($(this).hasClass('close')){
					$(this).removeClass('close');
					$(this).text('펼처보기');
					$('.notice-box .notice').hide();
				}else{
					$(this).addClass('close');
					$(this).text('닫기');
					$('.notice-box .notice').show();
				}
			});
		}else{
			onComplete();
		}
	}
</script>