@charset "UTF-8";
.grid, .promotion .sector-title .title-info .date .row, .promotion .sector-event .comment-box .comment-form .form-item {
  *zoom: 1;
}

.grid:before, .promotion .sector-title .title-info .date .row:before, .promotion .sector-event .comment-box .comment-form .form-item:before, .grid:after, .promotion .sector-title .title-info .date .row:after, .promotion .sector-event .comment-box .comment-form .form-item:after {
  content: '';
  display: table;
}

.grid:after, .promotion .sector-title .title-info .date .row:after, .promotion .sector-event .comment-box .comment-form .form-item:after {
  clear: both;
}

.promotion .sector-event .comment-box .comment-list .list-item > div.item-user {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.hidden,
.sr_only,
.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid, .promotion .sector-title .title-info .date .row {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col, .promotion .sector-title .title-info .date .row .col, .promotion .sector-title .title-info .date .grid .row > div, .promotion .sector-title .title-info .date .row > div {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.table {
  display: table;
}

.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.promotion .sector-event .event-list li {
  position: relative;
  padding-left: 1.38889vw;
  text-align: left;
}

@media screen and (min-width: 720px) {
  .promotion .sector-event .event-list li {
    padding-left: 10px;
  }
}

.promotion .sector-event .event-list li:before {
  content: '·';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  line-height: inherit;
}

.promotion .sector-event .comment-box .comment-notice li {
  position: relative;
  padding-left: 2.77778vw;
  text-align: left;
}

@media screen and (min-width: 720px) {
  .promotion .sector-event .comment-box .comment-notice li {
    padding-left: 20px;
  }
}

.promotion .sector-event .comment-box .comment-notice li:before {
  content: '※';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  line-height: inherit;
}

.effect-bounce-diagonal {
  -webkit-animation-name: effectBounceDiagonal;
          animation-name: effectBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  -webkit-animation-name: effectBounceUpDown;
          animation-name: effectBounceUpDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.effect-extend {
  -webkit-animation-name: effectExtend;
          animation-name: effectExtend;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

@keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

.effect-blink {
  -webkit-animation-name: effectBlink;
          animation-name: effectBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.promotion,
.product,
.product-eco,
.fullservice {
  text-align: center;
}

.promotion [class^="sector-"],
.product [class^="sector-"],
.product-eco [class^="sector-"],
.fullservice [class^="sector-"] {
  position: relative;
}

.promotion .wrap,
.product .wrap,
.product-eco .wrap,
.fullservice .wrap {
  position: relative;
  margin: 0 auto;
}

.promotion .wrap-full,
.product .wrap-full,
.product-eco .wrap-full,
.fullservice .wrap-full {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.promotion .only-pc,
.product .only-pc,
.product-eco .only-pc,
.fullservice .only-pc {
  display: none;
}

@media screen and (min-width: 1100px) {
  .promotion .only-pc,
  .product .only-pc,
  .product-eco .only-pc,
  .fullservice .only-pc {
    display: inline-block;
  }
}

.promotion .only-mobile,
.product .only-mobile,
.product-eco .only-mobile,
.fullservice .only-mobile {
  display: inline-block;
}

@media screen and (min-width: 1100px) {
  .promotion .only-mobile,
  .product .only-mobile,
  .product-eco .only-mobile,
  .fullservice .only-mobile {
    display: none;
  }
}

.promotion {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
  text-align: center;
}

.promotion p {
  margin: 0;
}

.promotion button {
  padding: 0;
  background: transparent;
  border: 0;
}

.promotion .wrap {
  width: 1200px;
}

.promotion .icon-pointer {
  position: relative;
  display: inline-block;
}

.promotion .icon-pointer:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 2%;
  z-index: 1;
  display: block;
  width: 2.5rem;
  height: 2.75rem;
  background: url("//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_1.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .promotion .icon-pointer:after {
    width: 80px;
  }
}

@media screen and (min-width: 720px) {
  .promotion .icon-pointer:after {
    height: 88px;
  }
}

@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.promotion .slick-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  content: "";
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-indent: -9999px;
  display: block;
  width: 8.33333vw;
  height: 8.47222vw;
  margin-top: -30px;
}

@media screen and (min-width: 720px) {
  .promotion .slick-arrow {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .promotion .slick-arrow {
    height: 61px;
  }
}

.promotion .slick-arrow.slick-prev {
  margin-left: -540px;
  background: url("//img.eduwill.net/eduwill/img/2022/C/exam/220222/pc/btn_prev.png");
  background-size: cover;
}

.promotion .slick-arrow.slick-next {
  margin-left: 480px;
  background: url("//img.eduwill.net/eduwill/img/2022/C/exam/220222/pc/btn_next.png");
  background-size: cover;
}

.promotion .wing {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 13;
}

.promotion .wing a {
  display: block;
}

.promotion .wing a img {
  width: 100%;
}

.promotion .sector-fixed {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.8);
}

.promotion .sector-fixed a:after {
  right: 10%;
}

.promotion .highlight {
  color: #fe4f21;
}

.promotion .table-group {
  width: 1100px;
  margin: 0 auto;
  border-top: 1px solid #212121;
  border-bottom: 1px solid #212121;
}

.promotion .table-group table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.promotion .table-group table thead th {
  padding: 15px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  line-height: 1.3;
  letter-spacing: -1px;
  background: #eadef9;
  border-left: 1px solid #c3bdcb;
}

.promotion .table-group table thead th:first-child {
  border-left: 0;
}

.promotion .table-group table tbody td {
  padding: 15px 0;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #212121;
  line-height: 1.3;
  background: #fff;
  border-left: 1px solid #c3bdcb;
  border-top: 1px solid #c3bdcb;
}

.promotion .table-group table tbody td:first-child {
  border-left: 0;
}

.promotion .table-group.table-row table tbody th {
  padding: 20px 0;
  font-size: 24px;
  color: #000;
  font-weight: 400;
  border-top: 1px solid #c3bdcb;
  background: #f7f3fe;
}

.promotion .table-group.table-row table tbody td {
  padding: 20px 0 20px 55px;
  text-align: left;
}

.promotion .table-group.table-row table tbody td .small {
  display: inline-block;
  margin-left: 5px;
  font-size: 18px;
  color: #a2a2a2;
}

.promotion .table-group.table-row table tbody td .icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.promotion .table-group.table-row table tbody tr:first-child th, .promotion .table-group.table-row table tbody tr:first-child td {
  border-top: 0;
}

.promotion .sector-title {
  z-index: 12;
  height: 1600px;
  background-color: #1a1816;
  background-image: url("//img.eduwill.net/eduwill/img/2022/C/exam/220222/pc/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.promotion .sector-title .motion {
  position: absolute;
  opacity: 0;
}

.promotion .sector-title .motion.laurel-list {
  top: 90px;
  left: 0;
  right: 0;
  text-align: center;
}

.promotion .sector-title .motion.laurel-list .eco-3496 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.promotion .sector-title .motion.laurel-list .eco-3496 p {
  display: none;
}

.promotion .sector-title .motion.laurel-list .eco-3496 p.brand2 {
  display: inline-block;
  font-size: 14px;
  letter-spacing: -1.5px;
  color: #c5b9d5;
}

.promotion .sector-title .motion.title-1 {
  top: 334px;
  left: 50px;
  opacity: 1;
  text-align: left;
  font-size: 38px;
  color: #000;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: -2px;
}

.promotion .sector-title .motion.title-1 strong {
  font-weight: 900;
  letter-spacing: -2px;
}

.promotion .sector-title .motion.title-2 {
  top: 456px;
  left: 50px;
}

.promotion .sector-title .motion.title-3 {
  top: 588px;
  left: 0;
}

.promotion .sector-title .motion.title-4 {
  top: 760px;
  left: 50px;
}

.promotion .sector-title .motion.title-5 {
  top: 924px;
  left: 50px;
}

.promotion .sector-title .motion.teacher {
  top: 300px;
  left: 516px;
  z-index: 2;
}

.promotion .sector-title .motion.tag {
  top: 401px;
  right: -90px;
  z-index: 3;
}

.promotion .sector-title .title-info {
  position: absolute;
  top: 1068px;
  left: 0;
  right: 0;
  width: 100%;
}

.promotion .sector-title .title-info p.info {
  font-size: 50px;
  font-weight: 900;
  color: #212121;
  letter-spacing: -3px;
  line-height: 1;
}

.promotion .sector-title .title-info p.info strong {
  padding-right: 5px;
  font-weight: 900;
  letter-spacing: -3px;
  line-height: 1;
  background: -webkit-gradient(linear, left top, right top, from(#4d1585), to(#f2593e));
  background: linear-gradient(to right, #4d1585, #f2593e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.promotion .sector-title .title-info p.hashtag {
  margin-top: 10px;
  line-height: 1;
  font-size: 24px;
  color: #ff5528;
  font-weight: 700;
  letter-spacing: -2px;
}

.promotion .sector-title .title-info .date {
  position: relative;
  margin: 33px auto 0;
  width: 1100px;
  border: 1px solid #c3bdcb;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.promotion .sector-title .title-info .date .flag {
  position: absolute;
  top: -28px;
  left: 0;
  z-index: 1;
}

.promotion .sector-title .title-info .date .action {
  position: absolute;
  top: 160px;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.promotion .sector-title .title-info .date .row {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px 270px 90px;
}

.promotion .sector-title .title-info .date .row > div {
  font-size: 26px;
  color: #000;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1;
}

.promotion .sector-title .title-info .date .row > div.peroid {
  width: 64%;
  text-align: left;
}

.promotion .sector-title .title-info .date .row > div.peroid:after {
  content: ':';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  color: #6d6b6e;
  font-weight: 400;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.promotion .sector-title .title-info .date .row > div.peroid-text {
  float: right;
  width: 35%;
  text-align: right;
}

.promotion .sector-title .title-info .date .row.highlight {
  padding: 25px 271px;
  background: #eadef9;
  border-bottom: 1px solid #c3bdcb;
}

.promotion .sector-info {
  background: #441d69;
}

.promotion .sector-text {
  background: #ec5c44;
}

.promotion .sector-graph {
  background-color: #441d69;
  background-image: url("//img.eduwill.net/eduwill/img/2022/C/exam/220222/pc/bg_graph.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.promotion .sector-point-1 {
  background: #f7f3fe;
}

.promotion .sector-point-2 {
  background: #f7f3fe;
  background: linear-gradient(to bottom, #f7f3fe 1127px, #eadef9 1127px);
}

.promotion .sector-point-3 {
  background: #f7f3fe;
}

.promotion .sector-point-3 .info-pager {
  width: 1102px;
  margin: 0 auto;
}

.promotion .sector-point-3 .info-pager.slick-slider .slick-track,
.promotion .sector-point-3 .info-pager.slick-slider .slick-list {
  left: 0 !important;
}

.promotion .sector-point-3 .info-pager .slick-slide {
  padding: 20px 10px 60px;
}

.promotion .sector-point-3 .info-pager .slick-slide .col, .promotion .sector-point-3 .info-pager .slick-slide .sector-title .title-info .date .row > div, .promotion .sector-title .title-info .date .sector-point-3 .info-pager .slick-slide .row > div {
  padding: 60px 0;
  font-size: 26px;
  color: #000;
  line-height: 1.4;
  letter-spacing: -2px;
  font-weight: 400;
  border-radius: 60px;
  background: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.promotion .sector-point-3 .info-pager .slick-slide.slick-current {
  padding: 0 10px 80px;
}

.promotion .sector-point-3 .info-pager .slick-slide.slick-current .col, .promotion .sector-point-3 .info-pager .slick-slide.slick-current .sector-title .title-info .date .row > div, .promotion .sector-title .title-info .date .sector-point-3 .info-pager .slick-slide.slick-current .row > div {
  color: #fff;
  background: #ff5528 url("//img.eduwill.net/eduwill/img/2022/C/exam/220222/pc/icon_tab_arrow.png") 50% 85% no-repeat;
}

.promotion .sector-point-3 .info-slider {
  width: 100%;
}

.promotion .sector-point-3 .info-slider .col, .promotion .sector-point-3 .info-slider .sector-title .title-info .date .row > div, .promotion .sector-title .title-info .date .sector-point-3 .info-slider .row > div {
  padding-bottom: 160px;
  text-align: center;
}

.promotion .sector-point-3 .info-slider .col img, .promotion .sector-point-3 .info-slider .sector-title .title-info .date .row > div img, .promotion .sector-title .title-info .date .sector-point-3 .info-slider .row > div img {
  display: inline-block;
  border-radius: 46px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
}

.promotion .sector-place {
  padding-bottom: 110px;
  background: #7331c6;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #7331c6), color-stop(50%, #fff));
  background: linear-gradient(to bottom, #7331c6 50%, #fff 50%);
}

.promotion .sector-place:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -7.08333vw;
  width: 19.44444vw;
  height: 11.38889vw;
  background-image: url("//img.eduwill.net/eduwill/img/2022/C/exam/220222/pc/icon_plus.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

@media screen and (min-width: 720px) {
  .promotion .sector-place:before {
    top: -51px;
  }
}

@media screen and (min-width: 720px) {
  .promotion .sector-place:before {
    width: 140px;
  }
}

@media screen and (min-width: 720px) {
  .promotion .sector-place:before {
    height: 82px;
  }
}

.promotion .sector-place .slick-list {
  padding: 30px 0 !important;
}

.promotion .sector-place .slick-list .slick-slide {
  height: 489px;
  -webkit-transform: scaleY(0.9);
  transform: scaleY(0.9);
}

.promotion .sector-place .slick-list .slick-slide:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.promotion .sector-place .slick-list .slick-slide img {
  width: 100%;
}

.promotion .sector-place .slick-list .slick-slide.slick-current {
  z-index: 1;
  width: 1100px;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.promotion .sector-place .slick-list .slick-slide.slick-current:before {
  display: none;
}

.promotion .sector-place .notice {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -1px;
  color: rgba(34, 34, 34, 0.5);
}

.promotion .sector-apply {
  padding: 110px 0 80px;
  background: #eadef9;
}

.promotion .sector-apply .apply-title {
  padding-bottom: 58px;
  font-size: 50px;
  color: #212121;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 1.3;
}

.promotion .sector-apply .apply-title strong {
  letter-spacing: -2px;
  line-height: 1.3;
}

.promotion .sector-apply .apply-title span {
  display: block;
  font-size: 34px;
  font-weight: 700;
  color: #212121;
  letter-spacing: -1px;
}

.promotion .sector-apply .table-title {
  position: relative;
  width: 1100px;
  margin: 0 auto 20px;
  text-align: left;
  color: #7331c6;
  font-size: 33px;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 1.3;
}

.promotion .sector-apply .table-title .notice {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 18px;
  letter-spacing: -1px;
  font-weight: 400;
  color: rgba(34, 34, 34, 0.6);
}

.promotion .sector-apply .btn-apply {
  margin-top: 30px;
}

.promotion .sector-bar {
  padding: 65px 0;
  background: #ec5c44;
}

.promotion .sector-bar .event-title {
  font-size: 54px;
  color: #fff;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: -3px;
}

.promotion .sector-bar .event-title span {
  display: inline-block;
  margin-top: 14px;
  font-size: 18px;
  letter-spacing: -1px;
  font-weight: 700;
}

.promotion .sector-bar .event-title span:before {
  content: '·';
  display: inline-block;
  margin-right: 10px;
}

.promotion .sector-bar .event-title span + span {
  margin-left: 20px;
}

.promotion .sector-bar:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -7.5vw;
  width: 44.16667vw;
  height: 7.63889vw;
  background-image: url("//img.eduwill.net/eduwill/img/2022/C/exam/220222/pc/icon_arrow.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

@media screen and (min-width: 720px) {
  .promotion .sector-bar:after {
    bottom: -54px;
  }
}

@media screen and (min-width: 720px) {
  .promotion .sector-bar:after {
    width: 318px;
  }
}

@media screen and (min-width: 720px) {
  .promotion .sector-bar:after {
    height: 55px;
  }
}

.promotion .sector-event.event-2 {
  padding-bottom: 100px;
}

.promotion .sector-event.event-2 .action {
  margin-top: 80px;
}

.promotion .sector-event .event-list {
  position: absolute;
  top: 398px;
  left: 150px;
}

.promotion .sector-event .event-list li {
  line-height: 1.5;
  font-size: 18px;
  color: #414141;
}

.promotion .sector-event .form-box {
  width: 900px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.promotion .sector-event .form-box .form-input .col, .promotion .sector-event .form-box .form-input .sector-title .title-info .date .row > div, .promotion .sector-title .title-info .date .sector-event .form-box .form-input .row > div {
  position: relative;
  float: none;
  width: 100%;
  margin-top: 17px;
  text-align: left;
}

.promotion .sector-event .form-box .form-input .col:first-child, .promotion .sector-event .form-box .form-input .sector-title .title-info .date .row > div:first-child, .promotion .sector-title .title-info .date .sector-event .form-box .form-input .row > div:first-child {
  margin-top: 0;
}

.promotion .sector-event .form-box .form-input .col label, .promotion .sector-event .form-box .form-input .sector-title .title-info .date .row > div label, .promotion .sector-title .title-info .date .sector-event .form-box .form-input .row > div label {
  display: inline-block;
  width: 132px;
  line-height: 60px;
  font-size: 20px;
  color: #343434;
  letter-spacing: -1px;
}

.promotion .sector-event .form-box .form-input .col .text, .promotion .sector-event .form-box .form-input .sector-title .title-info .date .row > div .text, .promotion .sector-title .title-info .date .sector-event .form-box .form-input .row > div .text {
  padding: 10px;
  width: 568px;
  font-size: 16px;
  font-weight: 400;
  color: #999;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #000;
  height: 60px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.promotion .sector-event .form-box .form-input .col select.text, .promotion .sector-event .form-box .form-input .sector-title .title-info .date .row > div select.text, .promotion .sector-title .title-info .date .sector-event .form-box .form-input .row > div select.text {
  width: 268px;
}

.promotion .sector-event .form-box .form-input .col .full-input, .promotion .sector-event .form-box .form-input .sector-title .title-info .date .row > div .full-input, .promotion .sector-title .title-info .date .sector-event .form-box .form-input .row > div .full-input {
  margin-top: 17px;
  padding-left: 134px;
}

.promotion .sector-event .form-box .form-input .col .full-input .text, .promotion .sector-event .form-box .form-input .sector-title .title-info .date .row > div .full-input .text, .promotion .sector-title .title-info .date .sector-event .form-box .form-input .row > div .full-input .text {
  width: 744px;
}

.promotion .sector-event .form-box .form-input .col .btn-form, .promotion .sector-event .form-box .form-input .sector-title .title-info .date .row > div .btn-form, .promotion .sector-title .title-info .date .sector-event .form-box .form-input .row > div .btn-form {
  display: inline-block;
  margin-left: 7px;
  width: 168px;
  height: 60px;
  vertical-align: top;
  text-align: center;
  line-height: 60px;
  font-size: 18px;
  font-weight: 500;
  color: #222;
  border-radius: 5px;
  background: #c9a55e;
}

.promotion .sector-event .form-box .form-input .col .form-select, .promotion .sector-event .form-box .form-input .sector-title .title-info .date .row > div .form-select, .promotion .sector-title .title-info .date .sector-event .form-box .form-input .row > div .form-select {
  margin-left: 140px;
  height: auto;
}

.promotion .sector-event .form-box .form-input .col .form-select label, .promotion .sector-event .form-box .form-input .sector-title .title-info .date .row > div .form-select label, .promotion .sector-title .title-info .date .sector-event .form-box .form-input .row > div .form-select label {
  vertical-align: middle;
  line-height: 40px;
  font-size: 18px;
  color: #666;
}

.promotion .sector-event .form-box .form-input .col .form-select label .radio, .promotion .sector-event .form-box .form-input .sector-title .title-info .date .row > div .form-select label .radio, .promotion .sector-title .title-info .date .sector-event .form-box .form-input .row > div .form-select label .radio {
  margin-top: 0;
}

.promotion .sector-event .form-box .form-input .col.full .text, .promotion .sector-event .form-box .form-input .sector-title .title-info .date .row > div.full .text, .promotion .sector-title .title-info .date .sector-event .form-box .form-input .row > div.full .text {
  width: 744px;
}

.promotion .sector-event .form-box .form-input .col.other, .promotion .sector-event .form-box .form-input .sector-title .title-info .date .row > div.other, .promotion .sector-title .title-info .date .sector-event .form-box .form-input .row > div.other {
  margin-top: 60px;
  text-align: left;
}

.promotion .sector-event .form-box .form-input .col.other .other-2, .promotion .sector-event .form-box .form-input .sector-title .title-info .date .row > div.other .other-2, .promotion .sector-title .title-info .date .sector-event .form-box .form-input .row > div.other .other-2 {
  margin-top: 10px;
}

.promotion .sector-event .form-box .form-input .col.other .other-2 label, .promotion .sector-event .form-box .form-input .sector-title .title-info .date .row > div.other .other-2 label, .promotion .sector-title .title-info .date .sector-event .form-box .form-input .row > div.other .other-2 label {
  font-size: 25px;
}

.promotion .sector-event .form-box .form-input .col.other .label-title, .promotion .sector-event .form-box .form-input .sector-title .title-info .date .row > div.other .label-title, .promotion .sector-title .title-info .date .sector-event .form-box .form-input .row > div.other .label-title {
  margin-bottom: 20px;
  font-size: 26px;
  color: #343434;
  font-weight: 700;
  line-height: 1.5;
}

.promotion .sector-event .form-box .form-input .col.other .label-title .highlight, .promotion .sector-event .form-box .form-input .sector-title .title-info .date .row > div.other .label-title .highlight, .promotion .sector-title .title-info .date .sector-event .form-box .form-input .row > div.other .label-title .highlight {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.promotion .sector-event .form-box .form-input .col.other .label-title .highlight:before, .promotion .sector-event .form-box .form-input .sector-title .title-info .date .row > div.other .label-title .highlight:before, .promotion .sector-title .title-info .date .sector-event .form-box .form-input .row > div.other .label-title .highlight:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  background: #f9ea85;
  z-index: -1;
}

.promotion .sector-event .form-box .form-input .col.other label, .promotion .sector-event .form-box .form-input .sector-title .title-info .date .row > div.other label, .promotion .sector-title .title-info .date .sector-event .form-box .form-input .row > div.other label {
  display: block;
  width: 100%;
}

.promotion .sector-event .form-box .form-input .col.other .full-input, .promotion .sector-event .form-box .form-input .sector-title .title-info .date .row > div.other .full-input, .promotion .sector-title .title-info .date .sector-event .form-box .form-input .row > div.other .full-input {
  margin-top: 0;
  padding-left: 0;
}

.promotion .sector-event .form-box .form-input .col.other .full-input .text, .promotion .sector-event .form-box .form-input .sector-title .title-info .date .row > div.other .full-input .text, .promotion .sector-title .title-info .date .sector-event .form-box .form-input .row > div.other .full-input .text {
  width: 100%;
}

.promotion .sector-event .form-box .form-input .col.other .full-input select, .promotion .sector-event .form-box .form-input .sector-title .title-info .date .row > div.other .full-input select, .promotion .sector-title .title-info .date .sector-event .form-box .form-input .row > div.other .full-input select {
  min-width: 310px;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #000;
  height: 45px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.promotion .sector-event .form-box .form-input .col.other .text, .promotion .sector-event .form-box .form-input .sector-title .title-info .date .row > div.other .text, .promotion .sector-title .title-info .date .sector-event .form-box .form-input .row > div.other .text {
  height: 164px;
  resize: none;
}

.promotion .sector-event .form-box .form-input .col.certification .timer, .promotion .sector-event .form-box .form-input .sector-title .title-info .date .row > div.certification .timer, .promotion .sector-title .title-info .date .sector-event .form-box .form-input .row > div.certification .timer {
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: 207px;
  color: #f05273;
  z-index: 1;
}

.promotion .sector-event .form-box .all-check {
  margin-top: 60px;
  text-align: left;
}

.promotion .sector-event .form-box .all-check label {
  display: inline-block;
  margin-left: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  vertical-align: -2px;
}

.promotion .sector-event .form-box .all-check input {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.promotion .sector-event .form-box .agree-box {
  text-align: left;
}

.promotion .sector-event .form-box .agree-box .all-check {
  margin-bottom: 15px;
}

.promotion .sector-event .form-box .agree-box .all-check input {
  width: 22px;
  height: 22px;
  vertical-align: middle;
}

.promotion .sector-event .form-box .agree-box .all-check label {
  vertical-align: middle;
  display: inline-block;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #222;
}

.promotion .sector-event .form-box .agree-box .check-box {
  margin-bottom: 40px;
}

.promotion .sector-event .form-box .agree-box .check-box .col, .promotion .sector-event .form-box .agree-box .check-box .sector-title .title-info .date .row > div, .promotion .sector-title .title-info .date .sector-event .form-box .agree-box .check-box .row > div {
  width: 50%;
  padding-left: 40px;
}

.promotion .sector-event .form-box .agree-box .check-box .col:first-child, .promotion .sector-event .form-box .agree-box .check-box .sector-title .title-info .date .row > div:first-child, .promotion .sector-title .title-info .date .sector-event .form-box .agree-box .check-box .row > div:first-child {
  padding-left: 0;
  padding-right: 40px;
}

.promotion .sector-event .form-box .agree-box .check-box .col .check, .promotion .sector-event .form-box .agree-box .check-box .sector-title .title-info .date .row > div .check, .promotion .sector-title .title-info .date .sector-event .form-box .agree-box .check-box .row > div .check {
  margin-bottom: 15px;
}

.promotion .sector-event .form-box .agree-box .check-box .col .check input, .promotion .sector-event .form-box .agree-box .check-box .sector-title .title-info .date .row > div .check input, .promotion .sector-title .title-info .date .sector-event .form-box .agree-box .check-box .row > div .check input {
  width: 22px;
  height: 22px;
  vertical-align: middle;
}

.promotion .sector-event .form-box .agree-box .check-box .col .check label, .promotion .sector-event .form-box .agree-box .check-box .sector-title .title-info .date .row > div .check label, .promotion .sector-title .title-info .date .sector-event .form-box .agree-box .check-box .row > div .check label {
  vertical-align: middle;
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.promotion .sector-event .form-box .agree-box .check-box .col .check label span, .promotion .sector-event .form-box .agree-box .check-box .sector-title .title-info .date .row > div .check label span, .promotion .sector-title .title-info .date .sector-event .form-box .agree-box .check-box .row > div .check label span {
  color: #e30c24;
}

.promotion .sector-event .form-box .agree-box .check-box .col .scroll-box, .promotion .sector-event .form-box .agree-box .check-box .sector-title .title-info .date .row > div .scroll-box, .promotion .sector-title .title-info .date .sector-event .form-box .agree-box .check-box .row > div .scroll-box {
  padding: 15px 30px;
  width: 100%;
  height: 150px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  overflow-y: scroll;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.promotion .sector-event .form-box .agree-box .check-box .col .scroll-box .scroll-title, .promotion .sector-event .form-box .agree-box .check-box .sector-title .title-info .date .row > div .scroll-box .scroll-title, .promotion .sector-title .title-info .date .sector-event .form-box .agree-box .check-box .row > div .scroll-box .scroll-title {
  margin-bottom: 10px;
  font-weight: 500;
  color: black;
}

.promotion .sector-event .form-box .agree-box .check-box .col .scroll-box strong, .promotion .sector-event .form-box .agree-box .check-box .sector-title .title-info .date .row > div .scroll-box strong, .promotion .sector-title .title-info .date .sector-event .form-box .agree-box .check-box .row > div .scroll-box strong {
  font-size: 15px;
  color: black;
}

.promotion .sector-event .form-box .agree-box .action {
  text-align: center;
}

.promotion .sector-event .form-box .agree-box .action a {
  position: relative;
  display: inline-block;
  padding: 0 44px;
  width: 526px;
  height: 108px;
  line-height: 96px;
  text-align: center;
  background: url("//img.eduwill.net/eduwill/img/2022/C/exam/220222/pc/button3.png") no-repeat center/cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.promotion .sector-event .form-box .agree-box .action a.btn-complete {
  cursor: default;
  pointer-events: none;
  background-color: #666;
}

.promotion .sector-event .form-box .agree-box .action a.btn-complete:after {
  display: none;
}

.promotion .sector-event .form-box .agree-box .action a strong {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  letter-spacing: -2px;
}

.promotion .sector-event .form-box .agree-box .action a strong:after {
  content: '>';
  display: inline-block;
  margin-left: 10px;
}

.promotion .sector-event .comment-box {
  width: 1000px;
  margin: 0 auto;
}

.promotion .sector-event .comment-box .comment-form .item-desc {
  float: left;
  width: 820px;
  height: 60px;
  border: 1px solid #000;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.promotion .sector-event .comment-box .comment-form .item-desc .text-box {
  width: 100%;
  padding: 15px 20px;
  font-size: 18px;
  color: #000;
  border: none;
  background: none;
  resize: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.promotion .sector-event .comment-box .comment-form .item-action {
  float: right;
  width: 168px;
  height: 60px;
  border-radius: 10px;
  background: #7600d4;
}

.promotion .sector-event .comment-box .comment-form .item-action a {
  display: block;
  text-align: center;
  line-height: 60px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.promotion .sector-event .comment-box .comment-notice {
  margin-top: 24px;
  font-size: 14px;
  color: #aaa;
}

.promotion .sector-event .comment-box .comment-list {
  margin-top: 60px;
  border-bottom: 1px solid #010101;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.promotion .sector-event .comment-box .comment-list .list-item {
  font-size: 0;
  border-top: 1px solid #ccc;
}

.promotion .sector-event .comment-box .comment-list .list-item:first-child {
  border-top-color: #010101;
}

.promotion .sector-event .comment-box .comment-list .list-item > div {
  display: inline-block;
  padding: 20px 0;
  vertical-align: top;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  color: #555;
}

.promotion .sector-event .comment-box .comment-list .list-item > div.item-user {
  width: 20%;
}

.promotion .sector-event .comment-box .comment-list .list-item > div.item-desc {
  width: 80%;
  text-align: left;
  letter-spacing: -.5px;
  word-break: break-all;
}

.promotion .sector-event .comment-box .comment-list .list-item > div:only-child {
  padding: 50px 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.promotion .sector-event .comment-box .comment-list .list-item.nodata .col, .promotion .sector-event .comment-box .comment-list .list-item.nodata .sector-title .title-info .date .row > div, .promotion .sector-title .title-info .date .sector-event .comment-box .comment-list .list-item.nodata .row > div {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.promotion .sector-event .comment-box .list-paging {
  display: block;
  margin-top: 30px;
  text-align: center;
}

.promotion .sector-event .comment-box .list-paging a {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 24px;
  margin: 0 10px;
  text-align: center;
  line-height: 22px;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 500;
  color: #555;
}

.promotion .sector-event .comment-box .list-paging a.control {
  margin: 0;
  width: 22px;
  height: 22px;
  text-align: center;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.promotion .sector-event .comment-box .list-paging a.control:before {
  content: " ";
  position: relative;
  top: -4px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-width: 0;
  border-style: solid;
  border-color: #777;
  background-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.promotion .sector-event .comment-box .list-paging a.control-prev {
  margin-right: 10px;
}

.promotion .sector-event .comment-box .list-paging a.control-prev:before {
  margin-left: 2px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.promotion .sector-event .comment-box .list-paging a.control-next {
  margin-left: 10px;
}

.promotion .sector-event .comment-box .list-paging a.control-next:before {
  margin-right: 2px;
  border-top-width: 1px;
  border-right-width: 1px;
}

.promotion .sector-event .comment-box .list-paging a.active {
  color: #333;
  border-bottom: 2px solid #333;
}

.promotion .sector-event .action .btn-event {
  position: relative;
  z-index: 1;
  min-width: 660px;
  padding: 35px 40px;
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  letter-spacing: -2px;
  border-radius: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  background: #481378;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #481378), color-stop(50%, #6922ad), to(#fa5c37));
  background: linear-gradient(to right, #481378 0, #6922ad 50%, #fa5c37 100%);
}

.promotion .sector-event .action .btn-event:before {
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 0.46875rem;
  height: 0.46875rem;
  margin-top: -0.23438rem;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-width: 3px;
  border-right-width: 3px;
  right: 30px;
}

@media screen and (min-width: 720px) {
  .promotion .sector-event .action .btn-event:before {
    width: 15px;
  }
}

@media screen and (min-width: 720px) {
  .promotion .sector-event .action .btn-event:before {
    height: 15px;
  }
}

@media screen and (min-width: 720px) {
  .promotion .sector-event .action .btn-event:before {
    margin-top: -7.5px;
  }
}
/*# sourceMappingURL=web.css.map */