@charset "UTF-8";
.grid, .product-curriculum .list {
  *zoom: 1;
}

.grid:before, .product-curriculum .list:before, .grid:after, .product-curriculum .list:after {
  content: '';
  display: table;
}

.grid:after, .product-curriculum .list:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid, .product-curriculum .list {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col, .product-curriculum .list .col, .product-curriculum .list li {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.banner-list-item .banner {
  background-color: #fff !important;
}

.eco-event {
  overflow: hidden;
  height: 85.8375rem;
}

@media screen and (min-width: 720px) {
  .eco-event {
    height: 1715px;
  }
}

.dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1001;
  width: 100%;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup-body {
  position: relative;
}

.popup-body p {
  font-size: 3.33333vw;
  font-weight: 700;
}

@media screen and (min-width: 720px) {
  .popup-body p {
    font-size: 24px;
  }
}

@media screen and (min-width: 1100px) {
  .popup-body p {
    font-size: 18px;
  }
}

.popup-body p + p,
.popup-body p + ul {
  margin-top: 0.3125rem;
}

@media screen and (min-width: 720px) {
  .popup-body p + p,
  .popup-body p + ul {
    margin-top: 10px;
  }
}

.popup-body ul {
  margin-top: 0.3125rem;
  font-size: 3.05556vw;
}

@media screen and (min-width: 720px) {
  .popup-body ul {
    margin-top: 10px;
  }
}

@media screen and (min-width: 720px) {
  .popup-body ul {
    font-size: 22px;
  }
}

@media screen and (min-width: 1100px) {
  .popup-body ul {
    font-size: 16px;
  }
}

.popup-body ul li {
  margin-top: 0.15625rem;
}

@media screen and (min-width: 720px) {
  .popup-body ul li {
    margin-top: 5px;
  }
}

.popup-body ul li:first-child {
  margin-top: 0;
}

.popup-body ul + p {
  margin-top: 0.3125rem;
}

@media screen and (min-width: 720px) {
  .popup-body ul + p {
    margin-top: 10px;
  }
}

.popup-close {
  position: absolute;
  top: -40px;
  right: 0;
}

.popup-close a {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 40px;
  height: 40px;
}

.popup-close a:before, .popup-close a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 1px;
  margin-left: -10px;
  background-color: #fff;
}

.popup-close a:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close a:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup-close a span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup-video {
  max-width: 640px;
}

@media screen and (min-width: 720px) {
  .popup-video {
    max-width: 1000px;
  }
}

.popup-video .video-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-video .video-box video {
  width: 100%;
  height: 100%;
}

.popup-base {
  max-width: 640px;
}

@media screen and (min-width: 720px) {
  .popup-base {
    max-width: 720px;
  }
}

.popup-base .popup-body {
  padding: 1.875rem 1.25rem;
}

@media screen and (min-width: 720px) {
  .popup-base .popup-body {
    padding: 60px 40px;
  }
}

.product-eco * {
  line-height: normal;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.product-eco .container {
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
}

.product-eco .wrap {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  width: 100%;
}

.product-eco .holder {
  position: relative;
}

.product-eco p {
  line-height: 100%;
  margin: 0;
  text-align: left;
  font-size: 14px;
  color: #666;
}

.product-eco p.notice {
  margin-top: 10px;
}

.product-eco p.brand, .product-eco p.survey {
  position: absolute;
}

.product-eco .fixbanner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #75fffc;
  z-index: 777;
}

.product-eco .fixbanner .pointer {
  position: absolute;
  top: 50px;
  right: 20px;
}

.product-eco .fixbanner .pointer img {
  width: 70%;
  -webkit-animation: 0.6s slideUpY ease-in-out infinite alternate;
          animation: 0.6s slideUpY ease-in-out infinite alternate;
}

.product-eco .floatbanner {
  position: fixed;
  top: 300px;
  left: 50%;
  margin-left: 620px;
  z-index: 99999;
  width: 133px;
}

.product-eco .slider-contents {
  position: relative;
  margin: 60px auto 0 auto;
}

.product-eco .slider-contents img {
  margin: auto;
}

.product-eco .slider-contents .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.product-eco .slider-contents .slick-arrow.slick-prev {
  left: -40px;
}

.product-eco .slider-contents .slick-arrow.slick-prev:before {
  right: 0;
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  border-width: 0;
  border-style: solid;
  border-color: #797979;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom-width: 3px;
  border-left-width: 3px;
}

.product-eco .slider-contents .slick-arrow.slick-next {
  right: -40px;
}

.product-eco .slider-contents .slick-arrow.slick-next:before {
  left: 0;
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  border-width: 0;
  border-style: solid;
  border-color: #797979;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-width: 3px;
  border-right-width: 3px;
}

.product-eco .slider-contents .slick-dots {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.product-eco .slider-contents .slick-dots li {
  display: inline-block;
  margin: 0 6px;
}

.product-eco .slider-contents .slick-dots li button {
  width: 20px;
  height: 20px;
  text-indent: -9999em;
  border: none;
  border-radius: 50%;
  background-color: #b2b2b2;
  outline: none;
  cursor: pointer;
}

.product-eco .slider-contents .slick-dots li.slick-active button {
  width: 70px;
  border-radius: 15px;
  background-color: #ffc20e;
}

.product-eco .right-banner {
  position: fixed;
  top: 290px;
  right: 0%;
  z-index: 10;
}

.product-eco .right-banner a {
  display: block;
}

.product-eco .right-banner a:not(:first-child) {
  margin-top: 6px;
}

.product-eco .banner-follow {
  position: fixed;
  top: 20%;
  left: 50%;
  z-index: 10;
  margin-left: 650px;
}

.product-eco .banner-follow > div {
  margin-top: 20px;
}

.product-eco .banner-follow > div:first-child {
  margin-top: 0;
}

.product-eco .winner-wrap {
  position: relative;
  padding: 0px 30px;
  -webkit-perspective: 670px;
          perspective: 670px;
  height: 238px;
}

.product-eco .winner-wrap .winner-list {
  -webkit-transform: rotateX(40deg);
          transform: rotateX(40deg);
}

.product-eco .winner-wrap .winner-list p {
  line-height: 2;
  font-size: 18px;
  font-weight: 400;
  color: #222;
  text-align: center;
}

.product-eco .winner-wrap .winner-list {
  width: 1040px;
  height: 260px;
}

.product-eco .action a {
  position: relative;
  display: inline-block;
}

.product-eco .pointer:after {
  content: '';
  position: absolute;
  top: 65px;
  right: 10px;
  display: block;
  width: 80px;
  height: 80px;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_20.png") no-repeat 0 0;
  background-size: contain;
  -webkit-animation-name: pointerBounce;
          animation-name: pointerBounce;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
}

@keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
}

.product-eco .btm-banner {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 16, 82, 0.8);
}

.product-eco .btm-banner .pointer:after {
  top: 30px;
  right: 80px;
}

.product-top {
  background-color: #22223a;
}

.product-top .brand {
  top: 42px;
  left: 50%;
  margin-left: 150px;
  color: rgba(255, 255, 255, 0.8);
}

.product-title {
  z-index: 1;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_108/product/210416/pc/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.product-title .action {
  position: absolute;
  top: 30px;
  right: 0;
}

.product-title .ico-cp {
  position: absolute;
  top: 263px;
  right: -110px;
}

.product-benefit {
  background: #faf776;
  padding-bottom: 120px;
  position: relative;
}

.product-benefit .content-benefit {
  margin-top: -225px;
  margin-left: -17px;
}

.product-benefit .text {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  position: absolute;
  top: -108px;
  font-size: 30px;
  font-weight: 900;
  color: #202020;
  left: 453px;
  letter-spacing: -2px;
}

.product-search {
  background-color: #f0f0f0;
}

.product-search .typing {
  position: absolute;
  left: 58px;
  top: 405px;
  color: #022222;
  font-weight: 900;
  font-size: 40px;
  letter-spacing: -2px;
}

.product-search .typing:after {
  content: '';
  position: relative;
  top: -5px;
  display: inline-block;
  -webkit-animation-name: cursor;
          animation-name: cursor;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  width: 2px;
  height: 40px;
  background-color: #fff;
  vertical-align: middle;
}

@-webkit-keyframes cursor {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #022222;
  }
  100% {
    background-color: #fff;
  }
}

@keyframes cursor {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #022222;
  }
  100% {
    background-color: #fff;
  }
}

.product-search .notice {
  position: absolute;
  right: 103px;
  bottom: 178px;
}

.product-winner .slider-contents .slick-slide {
  margin: 0 10px;
}

.product-winner .slider-contents .slick-slide img {
  width: 100%;
}

.product-discount {
  background-color: #faf776;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_108/product/210416/pc/arrow_y.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding: 0 0 180px;
}

.product-discount .discount-flag {
  margin-bottom: 20px;
}

.product-discount .discount-flag span {
  display: inline-block;
  background: #191533;
  border-radius: 50px;
  padding: 10px 65px;
  color: #fff;
  text-align: left;
  font-size: 30px;
  font-weight: 700;
}

.product-discount .discount-flag span em {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-discount .discount-flag .highlight {
  color: #ffbf00;
}

.product-discount .item {
  border-radius: 45px;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: 1em 1em 3em rgba(0, 0, 0, 0.3);
          box-shadow: 1em 1em 3em rgba(0, 0, 0, 0.3);
}

.product-discount .item .sale-price {
  position: absolute;
  width: 416px;
  left: 615px;
  top: 52px;
}

.product-discount .item .sale-price .product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-discount .item .sale-price .product-price .before-price {
  text-align: left;
}

.product-discount .item .sale-price .product-price .before-price span {
  position: relative;
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  color: #666666;
}

.product-discount .item .sale-price .product-price .before-price span:before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  margin: 0 auto;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  margin-top: -1px;
  right: 0;
  background: #666666;
}

.product-discount .item .sale-price .product-price .after-price {
  text-align: right;
  position: relative;
}

.product-discount .item .sale-price .product-price .after-price strong {
  line-height: 1;
  font-size: 64px;
  color: #e80000;
  white-space: nowrap;
  letter-spacing: -4px;
}

.product-discount .item .sale-price .product-price .after-price strong span {
  font-size: 42px;
}

.product-discount .item .action {
  position: absolute;
  left: 615px;
  bottom: 50px;
}

.product-discount .item .action .icon-coupon {
  position: absolute;
  top: 58px;
  left: 20px;
  -webkit-animation-name: couponBounce;
          animation-name: couponBounce;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes couponBounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@keyframes couponBounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}

.product-review {
  padding-bottom: 130px;
  background-color: #f0f0f0;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_108/product/210416/pc/arrow_g.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.product-review .review-wrap {
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_108/product/210416/pc/bg_review.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.product-review .review-wrap .review-list {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: perspective(640px) rotateX(40deg);
  transform: perspective(640px) rotateX(40deg);
}

.product-review .review-wrap .review-list:after {
  content: '';
  width: 60%;
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(240, 240, 240, 0.65)), color-stop(1%, rgba(240, 240, 240, 0.64)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(240, 240, 240, 0.65) 0%, rgba(240, 240, 240, 0.64) 1%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.product-review .review-wrap .review-list .slide-item, .product-review .review-wrap .review-list li {
  line-height: 2;
  font-size: 18px;
  font-weight: 400;
  color: #222;
  text-align: center;
}

.product-review .review-wrap .review-list .slide-item span, .product-review .review-wrap .review-list li span {
  display: inline-block;
}

.product-review .review-wrap .review-list .slide-item span:not(:first-child), .product-review .review-wrap .review-list li span:not(:first-child) {
  margin-left: 10px;
  color: #aaa;
}

.product-review .review-wrap .review-list .slick-track, .product-review .review-wrap .review-list .slick-list {
  -webkit-transform: translate(0) !important;
  transform: translate(0) !important;
  color: red;
}

.product-graph {
  padding-bottom: 130px;
  background-color: #7b30c1;
}

.product-graph .item {
  position: relative;
}

.product-graph .item .action {
  position: absolute;
  left: 50%;
  bottom: 85px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.product-graph .item:after {
  content: '';
  position: absolute;
  width: 240px;
  height: 210px;
  top: 390px;
  right: -30px;
  background: url("https://img.eduwill.net/eduwill/img/2021/_108/product/210416/pc/graph_flag.png") 0 0 no-repeat;
}

.product-graph .slider-contents .slick-dots li button {
  background-color: #562287;
}

.product-teacher {
  position: relative;
  padding-bottom: 130px;
}

.product-teacher .slider-contents {
  margin: 50px auto 0;
}

.product-book {
  padding-bottom: 130px;
}

.product-book .text {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  position: absolute;
  top: -13px;
  font-size: 39px;
  font-weight: 900;
  color: #000;
  left: 0px;
  letter-spacing: -4px;
}

.product-curriculum .wrap-tab {
  width: 1000px;
}

.product-curriculum .tab-list li {
  width: 50%;
  padding-left: 10px;
}

.product-curriculum .tab-list li:first-child {
  padding-right: 10px;
  padding-left: 0;
}

.product-curriculum .tab-list li.in a {
  font-weight: 700;
  color: #fff;
  background-color: #1d3dd0;
}

.product-curriculum .tab-list li a {
  padding: 15px 0;
  font-size: 30px;
  color: #202020;
  border-radius: 10px;
  background-color: #eee;
}

.product-curriculum .list {
  text-align: left;
  color: #202020;
}

.product-curriculum .list + .list {
  padding-bottom: 50px;
}

.product-curriculum .list .title {
  margin-top: 50px;
  font-size: 30px;
  font-weight: 700;
  color: #202020;
}

.product-curriculum .list .title span {
  display: inline-block;
  border-bottom: 2px solid #000;
}

.product-curriculum .list ul {
  margin-top: 20px;
}

.product-curriculum .list li {
  position: relative;
  width: 155px;
  height: 170px;
  margin-left: 14px;
  padding: 20px;
  border: 2px solid #ddd;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 30px;
}

.product-curriculum .list li:first-child {
  margin-left: 0;
}

.product-curriculum .list li.highlight {
  border-color: #fcfbcd;
  background: #fcfbcd;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfbcd), to(#fcee9f));
  background: linear-gradient(to bottom, #fcfbcd 0%, #fcee9f 100%);
}

.product-curriculum .list li.highlight:after {
  content: '';
  position: absolute;
  top: -20px;
  right: -13px;
  display: block;
  width: 54px;
  height: 54px;
  background: url("https://img.eduwill.net/eduwill/img/2021/_108/product/210416/pc/icon_strengthen.png") no-repeat 0 0;
  -webkit-animation-name: flagChange;
          animation-name: flagChange;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes flagChange {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes flagChange {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.product-curriculum .list li strong {
  display: block;
  font-size: 20px;
}

.product-curriculum .list li span {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  word-break: keep-all;
}

.product-system {
  background-color: #fdfcdc;
  padding-bottom: 130px;
}

.product-license {
  padding-bottom: 130px;
  background-color: #fdfcdc;
}

.product-license .license-flag {
  position: absolute;
  top: 115px;
  left: 470px;
}

.product-license .license-flag .flagChange {
  position: absolute;
  -webkit-animation-name: flagChange;
          animation-name: flagChange;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@keyframes flagChange {
  0%, 100% {
    opacity: 1;
    color: #fff;
  }
  50% {
    opacity: 0;
  }
}

.product-license .license-box {
  position: relative;
  margin-top: 30px;
}

.product-license .license-box.box-1 {
  margin-top: 0;
}

.product-license .license-box .list {
  position: absolute;
  top: 50px;
  text-align: left;
}

.product-license .license-box .list.list-1 {
  left: 450px;
}

.product-license .license-box .list.list-2 {
  left: 785px;
}

.product-license .license-box .list dl dt {
  margin-bottom: 15px;
  font-size: 23px;
  color: #222;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.2;
}

.product-license .license-box .list dl dd {
  font-size: 20px;
  color: #222;
  line-height: 1.5;
  font-weight: 400;
}

.product-sentence {
  background-color: #293bc5;
}

#popupBase {
  background-color: rgba(0, 0, 0, 0.5);
  width: 1100px;
  font-size: 16px;
}

#popupBase .popup-body {
  padding: 5%;
  color: #fff;
  text-align: left;
}
/*# sourceMappingURL=web.css.map */