@charset "UTF-8";
/* 컨텐츠 */
.product-eco[data-device="pc"] #edoContent1 #eduf-paragraph {
  margin-bottom: 0;
}

.product-eco[data-device="pc"] #edoContent1 .ecoContVisual {
  background: url("https://img.eduwill.net/eduwill/img/2021/_106/product/211220/pc/eco4002/ecoContVisual_bg.jpg") no-repeat 50% 50%;
  background-size: cover;
  padding-bottom: 200px;
}

.product-eco[data-device="pc"] #edoContent1 .ecoContVisual .btn-reason {
  top: 60px;
  right: 10px;
  background: #fffecc;
}

.product-eco[data-device="pc"] #edoContent1 .ecoContVisual .winner-contents {
  width: 900px;
  margin: 0 auto;
}

.product-eco[data-device="pc"] #edoContent1 .ecoContVisual .winner-contents .winner-list {
  -webkit-transform: perspective(240px) rotateX(35deg);
          transform: perspective(240px) rotateX(35deg);
}

.product-eco[data-device="pc"] #edoContent1 .ecoContVisual .winner-contents .winner-list p {
  margin: 5px 0;
  color: #222;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont1 {
  background: #f3f3f3 -webkit-gradient(linear, left bottom, left top, from(#f3f3f3), color-stop(13%, white));
  background: #f3f3f3 -webkit-linear-gradient(bottom, #f3f3f3 0%, white 13%);
  background: #f3f3f3 -o-linear-gradient(bottom, #f3f3f3 0%, white 13%);
  background: #f3f3f3 linear-gradient(0deg, #f3f3f3 0%, white 13%);
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont1 .wrap {
  margin-top: 100px;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont1 .wrap .item > a:nth-child(2) {
  margin: 0 20px 0 23px;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont2 {
  padding-bottom: 70px;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont3 {
  padding-bottom: 130px;
  background: url("https://img.eduwill.net/eduwill/img/2021/_111/product/211213/pc/eco3960/ecoCont3_bg.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont4 {
  background: #f3f3f3 -webkit-gradient(linear, left bottom, left top, from(#f3f3f3), color-stop(13%, white));
  background: #f3f3f3 -webkit-linear-gradient(bottom, #f3f3f3 0%, white 13%);
  background: #f3f3f3 -o-linear-gradient(bottom, #f3f3f3 0%, white 13%);
  background: #f3f3f3 linear-gradient(0deg, #f3f3f3 0%, white 13%);
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont5 {
  background: #f3f3f3 -webkit-gradient(linear, left bottom, left top, from(#f3f3f3), color-stop(13%, white));
  background: #f3f3f3 -webkit-linear-gradient(bottom, #f3f3f3 0%, white 13%);
  background: #f3f3f3 -o-linear-gradient(bottom, #f3f3f3 0%, white 13%);
  background: #f3f3f3 linear-gradient(0deg, #f3f3f3 0%, white 13%);
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont5 .btn-refunds {
  position: absolute;
  bottom: 137px;
  right: 150px;
}

.product-eco[data-device="mo"] #edoContent1 #eduf-paragraph {
  margin-bottom: 0 !important;
}

.product-eco[data-device="mo"] #edoContent1 .ecoContVisual {
  background: url("https://img.eduwill.net/eduwill/img/2021/_106/product/211220/mobile/eco4010/ecoContVisual_bg.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.product-eco[data-device="mo"] #edoContent1 .ecoContVisual .btn-reason {
  top: 7.5vw;
  right: 5vw;
  background: #fffecc;
}

.product-eco[data-device="mo"] #edoContent1 .ecoContVisual .btn {
  position: absolute;
  top: 6.94444vw;
  right: 0;
  width: 32.5vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoContVisual .btn {
    top: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoContVisual .btn {
    width: 234px;
  }
}

.product-eco[data-device="mo"] #edoContent1 .ecoContVisual .winner-contents {
  overflow: hidden;
  position: absolute;
  bottom: -37vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 36.11111vw;
  padding-bottom: 51.38889vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoContVisual .winner-contents {
    height: 260px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoContVisual .winner-contents {
    padding-bottom: 370px;
  }
}

.product-eco[data-device="mo"] #edoContent1 .ecoContVisual .winner-contents .winner-list {
  -webkit-transform: perspective(150px) rotateX(25deg);
          transform: perspective(150px) rotateX(25deg);
}

.product-eco[data-device="mo"] #edoContent1 .ecoContVisual .winner-contents .winner-list .slick-track {
  -webkit-transform: translate(0) !important;
      -ms-transform: translate(0) !important;
          transform: translate(0) !important;
}

.product-eco[data-device="mo"] #edoContent1 .ecoContVisual .winner-contents p {
  color: #3e3e3e;
  font-size: 2.5vw;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoContVisual .winner-contents p {
    font-size: 18px;
  }
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont1 {
  background: #f3f3f3 -webkit-gradient(linear, left bottom, left top, from(#f3f3f3), color-stop(13%, white));
  background: #f3f3f3 -webkit-linear-gradient(bottom, #f3f3f3 0%, white 13%);
  background: #f3f3f3 -o-linear-gradient(bottom, #f3f3f3 0%, white 13%);
  background: #f3f3f3 linear-gradient(0deg, #f3f3f3 0%, white 13%);
  padding-bottom: 13.88889vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoCont1 {
    padding-bottom: 100px;
  }
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont1 .wrap {
  padding-top: 50px;
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont1 .wrap .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 20px;
  padding: 0 6.94444vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoCont1 .wrap .item {
    padding: 0 50px;
  }
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont1 .wrap .item > a {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 5.55556vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoCont1 .wrap .item > a {
    margin-bottom: 40px;
  }
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont1 .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont1 .slick-dots li button {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  border-radius: 14px;
  text-indent: -9999px;
  background: #adadad;
  border: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont1 .slick-dots li.slick-active button {
  width: 38px;
  background: #ffc20e;
  border-radius: 20px;
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont3 {
  padding-bottom: 18vw;
  background: #f3f3f3 -webkit-gradient(linear, left bottom, left top, from(#f3f3f3), color-stop(13%, white));
  background: #f3f3f3 -webkit-linear-gradient(bottom, #f3f3f3 0%, white 13%);
  background: #f3f3f3 -o-linear-gradient(bottom, #f3f3f3 0%, white 13%);
  background: #f3f3f3 linear-gradient(0deg, #f3f3f3 0%, white 13%);
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont5 {
  background: #f9f9f9;
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont5 .btn-refunds {
  position: absolute;
  bottom: 11vw;
  left: 0;
  right: 0;
}
/*# sourceMappingURL=module_contents1.css.map */