@{
    String platform = ("W".Equals(ViewBag.PlatformCd)) ? "pc" : "mobile";
}
<div id="contents" class="promotion">

	@if ("W".Equals(ViewBag.PlatformCd))
	{
	<div class="banner-timer">
		<div class="wrap">
			<div class="timer-text">
				기간한정판매<br><span>1.3(월)~1.11(화)</span>
			</div>
			<div class="timer-pass">
				<div class="day"><span>00</span></div>
				<div><em>일</em></div>
				<div class="hour"><span>00</span></div>
				<div><em>:</em></div>
				<div class="min"><span>00</span></div>
				<div><em>:</em></div>
				<div class="sec"><span>00</span></div>
				<div><em>:</em></div>
				<div class="msec"><span>00</span></div>
			</div>
			<div class="timer-text">
				단 9일만! 집으로 배송받는<br><span>2022년 패키지 모의고사</span>
			</div>
			<div class="timer-action">
				<a class="page-move" href="#examApply">
					<img src="//img.eduwill.net/eduwill/img/2022/J/event/220103/pc/btn_timer.png" />
				</a>
			</div>
		</div>
	</div>
	}
	else{
	<div class="fixed-banner">
		<div class="wrap">
			<a class="page-move" href="#examApply">
				<img src="//img.eduwill.net/eduwill/img/2022/J/event/220103/mobile/img_fixedbanner.png" />
			</a>
		</div>
	</div>
	}

    <div class="sector-title">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/J/event/220103/@platform/title.png" alt="주택관리사 봉투모의고사">
			<div class="clock effect-bounce-updown">
				<span class="num effect-blink-color">1.3(월)~1.11(화) <br><em>기간한정</em></span>
			</div>
			<div class="date">
				<span class="num">1.3(월)~1.11(화) <em>기간한정</em></span>
			</div>
        </div>
    </div>

	@if ("W".Equals(ViewBag.PlatformCd))
	{
	<div class="sector-benefit">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/J/event/220103/@platform/img_benefit.jpg" alt="단9일! 기간한정 제공되는 특급혜택">
		</div>
	</div>
	}

	<div class="sector-review">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/J/event/220103/@platform/img_review.png" alt="주택관리사 봉투모의고사">
		</div>
		<div class="slide-box">
			<div class="slide-list">
				<div><img src="//img.eduwill.net/eduwill/img/2022/J/event/220103/@platform/01.png" alt="후기"></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/J/event/220103/@platform/02.png" alt="후기"></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/J/event/220103/@platform/03.png" alt="후기"></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/J/event/220103/@platform/04.png" alt="후기"></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/J/event/220103/@platform/05.png" alt="후기"></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/J/event/220103/@platform/06.png" alt="후기"></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/J/event/220103/@platform/07.png" alt="후기"></div>
			</div>
		</div>
	</div>

    <div class="sector-contents">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/J/event/220103/@platform/artice_title.jpg" alt="">
        </div>
        <div class="article article1">
            <div class="wrap">
                <img src="//img.eduwill.net/eduwill/img/2022/J/event/220103/@platform/article1.jpg" alt="">
                <div class="notice">
                    * 실제 이미지와 다를 수 있습니다.
                </div>
            </div>
        </div>
        <div class="article article2">
            <div class="wrap">
                <img src="//img.eduwill.net/eduwill/img/2022/J/event/220103/@platform/article2.jpg" alt="">
            </div>
        </div>
        <div class="article article3">
            <div class="wrap">
                <img src="//img.eduwill.net/eduwill/img/2022/J/event/220103/@platform/article3.jpg" alt="">
                <div class="notice">
					* 신청하신 모의고사에 따라<br>
					각 회차별 오픈 일정에 맞춰 나의 강의실에 제공됩니다.
                </div>
            </div>
        </div>
    </div>

    <div class="sector-sale">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/J/event/220103/@platform/img_sale.png" alt="">
			<div class="clock effect-bounce-updown">
				<span class="num effect-blink-color">1.3(월)~1.11(화) <br><em>기간한정</em></span>
			</div>
        </div>
    </div>

	<!-- 신청하기 영역 -->
	<div id="examApply" class="sector-apply">
		<div class="apply-title">
			<div class="wrap">
				<div class="pc-only"><em>이제 집에서도 실전을 경험할 수 있습니다</em></div>
				<div class="mo-only"><em>이제 집에서도 실전을<br>경험할 수 있습니다</em></div>
			</div>
		</div>
		
		<div class="tab-list">
			<ul>
				<li class="on">
					@if ("W".Equals(ViewBag.PlatformCd))
					{
						<em class="flag effect-blink">기간한정 판매</em>
						<span>2022 한정판 패키지 신청하기</span>
					}
					else{
						<em class="flag effect-blink">기간한정</em>
						<span>2022 패키지 신청</span>
					}
				</li>
				<li>
					@if ("W".Equals(ViewBag.PlatformCd))
					{
						<span>2022 제1회 신청하기</span>
					}
					else{
						<span>2022 제1회 신청</span>
					}
				</li>
			</ul>
		</div>

		<div class="apply-contents">
			<div class="wrap">

				<div class="tab-view">
					<div class="lerture-price grid">
						<div class="col">
							<a href="javascript:;">
								<u>1차 봉투모의고사 패키지</u>
								<dl>
									<dt class="before">
										69,000<span class="won">원</span>
									</dt>
									<dd class="after">
										55,000<span class="won">원</span>
									</dd>
								</dl>
								<div class="apply" onclick="javascript:popupOpen('.dimmed', 'popupAlert');">신청하기</div>
							</a>
						</div>

						<div class="col">
							<a href="javascript:;">
								<u>2차 봉투모의고사 패키지</u>
								<dl>
									<dt class="before">
										68,000<span class="won">원</span>
									</dt>
									<dd class="after">
										54,000<span class="won">원</span>
									</dd>
								</dl>
								<div class="complete">신청완료</div>
							</a>
						</div>

						<div class="col">
							<a href="javascript:;">
								<u>1+2차 봉투모의고사 패키지</u>
								<dl>
									<dt class="before">
										122,000<span class="won">원</span>
									</dt>
									<dd class="after">
										85,000<span class="won">원</span>
									</dd>
								</dl>
								<div class="end">신청마감</div> 
							</a>
						</div>
					</div>
					<div class="table-group">
						<table>
							<caption>모의고사 안내</caption>
							<colgroup>
								<col style="width: 18%;">
								<col style="width: 82%;">
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">신청기간</th>
									<td><span class="point bold">2022/1/3(월)~2022/1/11(화)</span></td>
								</tr>
								<tr>
									<th scope="row">구성</th>
									<td>
										<dl>
											<dd>1차 패키지: 총6회분 봉투모의고사(시험지+해설지+OMR카드+해설강의)</dd>
											<dd>2차 패키지: 총8회분 봉투모의고사(시험지+해설지+OMR카드+해설강의)</dd>
											<dd>1+2차 패키지: 1차 6회분+2차 8회분 봉투모의고사(시험지+해설지+OMR카드+해설강의)+기초용어집</dd>
										</dl>
									</td>
								</tr>
								<tr>
									<th scope="row" class="bbnone">유의사항</th>
									<td class="bbnone">
										<dl>
											<dt>&lt;봉투모의고사 구매 전&gt;</dt>
											<dd class="point">봉투모의고사 패키지 상품은 전국실전모의고사와 동일한 문항으로 구성되어있습니다.</dd>
											<dd>봉투모의고사 패키지 상품 가격은 배송비 포함 가격입니다.</dd>
											<dd>장바구니에서 결제되지 않은 상품은 마감일(1/11)을 기준으로 삭제됩니다.</dd>
											<dd>봉투모의고사 패키지 상품은 카드결제 및 계좌이체로만 결제 가능합니다.</dd>
											<dd>사전예약 할인상품으로 별도 추가 할인 혜택은 중복 적용되지 않습니다.</dd>
											<dd>사전예약 패키지 할인상품으로 신청기간 종료 후에는 신청이 불가합니다.</dd>
											<dd>봉투모의고사 패키지 상품은  타 상품과 결합하여 결제가 불가합니다.</dd>
										</dl>
									
										<dl>
											<dt>&lt;봉투모의고사 구매 후&gt;</dt>
											<dd>봉투모의고사는 매월 전국 실전모의고사 일정에 맞춰 택배로 발송됩니다.</dd>
											<dd>봉투모의고사는 결제 시 입력된 배송지 주소로 발송되며, 잘못된 주소로 인한 오배송 시 재발송되지 않으므로 주소 변경 시 사전 연락(1600-6700) 꼭 부탁드립니다.</dd>
											<dd>이미 발송된 모의고사는 취소 및 환불이 불가하며, 발송 전 모의고사에 한하여 부분 환불 가능합니다. <br>단, 할인 전 회차별 금액 차감 후 환불됩니다.</dd>
											<dd>신청하신 패키지는 2023년 봉투모의고사로 기간 이월되지 않습니다.</dd>
											<dd>배송현황은 마이페이지 > 교재/배송정보 > 배송조회에서 확인하실 수 있습니다.</dd>
										</dl>
										<br>
										※ 기타 자세한 문의는 고객센터(1600-6700)로 문의 부탁드립니다.
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="tab-view">
					<div class="lerture-price grid">
						<div class="col">
							<a href="javascript:;">
								<u>1차 봉투모의고사</u>
								<dl>
									@*<dt class="before">
										69,000<span class="won">원</span>
									</dt>*@
									<dd class="after">
										11,500<span class="won">원</span>
									</dd>
								</dl>
								<div class="apply" onclick="javascript:popupOpen('.dimmed', 'popupAlert');">신청하기</div>
							</a>
						</div>

						<div class="col">
							<a href="javascript:;">
								<u>2차 봉투모의고사</u>
								<dl>
									@* <dt class="before">
										69,000<span class="won">원</span>
									</dt> *@
									<dd class="after">
										8,500<span class="won">원</span>
									</dd>
								</dl>
								<div class="complete">신청완료</div>
							</a>
						</div>

						<div class="col">
							<a href="javascript:;">
								<u>1+2차 봉투모의고사</u>
								<dl>
									@*<dt class="before">
										122,000<span class="won">원</span>
									</dt>*@
									<dd class="after">
										17,500<span class="won">원</span>
									</dd>
								</dl>
								<div class="end">신청마감</div> 
							</a>
						</div>
					</div>
					<div class="table-group">
						<table>
							<caption>모의고사 안내</caption>
							<colgroup>
								<col style="width: 18%;">
								<col style="width: 82%;">
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">신청기간</th>
									<td><span class="point bold">2022/1/3(월)~2022/1/11(화)</span></td>
								</tr>
								<tr>
									<th scope="row">구성</th>
									<td>
										시험지+해설지+OMR카드 +*해설강의<br>
										<span class="notice">* 전문 교수진 1회 해설강의 무료 제공</span>
									</td>
								</tr>
								<tr>
									<th scope="row" class="bbnone">유의사항</th>
									<td class="bbnone">									
										<dl>
											<dd class="point">제1회 봉투모의고사는 제1회 전국실전모의고사와 동일한 문항으로 구성되어있습니다.</dd>
											<dd>봉투모의고사 가격은 배송비 포함 가격입니다.</dd>
											<dd>장바구니에서 결제되지 않은 봉투모의고사는 마감일을 기준으로 삭제됩니다.</dd>
											<dd>봉투모의고사 상품은 카드결제 및 계좌이체로만 결제 가능합니다.</dd>
											<dd>기간 한정 상품으로 신청기간 종료 후에는 신청이 불가합니다.</dd>
											<dd>제1회 봉투모의고사는 1/21(금) 택배로 발송됩니다.</dd>
											<dd>배송현황은 마이페이지 > 교재/배송정보 > 프리북/봉투모의고사에서 확인하실 수 있습니다.</dd>
										</dl>
										<br>
										※ 기타 자세한 문의는 고객센터(1600-6700)로 문의 부탁드립니다.
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- // 신청하기 영역 -->

</div>


<div class="dimmed"></div>
@* popupAlert *@
<div class="popup" id="popupAlert">
	<a class="popup-close" onclick="javascript:popupClose('.dimmed', 'popupAlert');"><span>팝업 닫기</span></a>
	<div class="popup-body">
		<p class="main-title">
			2022 에듀윌 봉투모의고사 패키지 상품을 구입하시겠습니까?
			@* 2022 에듀윌 봉투모의고사 1회 상품을 구입하시겠습니까? *@
		</p>

		<p class="sub-title">※ 봉투모의고사는 온라인으로 진행되는 전국실전모의고사와<br>동일한 문항으로 구성되어 있습니다.</p>
		<div class="input-box">
			<input type="checkbox" id="persnalYes" name="personalYn" value="Y"> <label for="persnalYes">확인하였습니다.</label>
		</div>
		<div class="action-box">
			<a class="type1"><span>확인</span></a>
			<a class="type2" onclick="javascript:popupClose('.dimmed', 'popupAlert');"><span>취소</span></a>
		</div>
	</div>
</div>
@* popupAlert *@

<script type="text/javascript">
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
    var str = 'event.eduwill.net';
    var checkUrl = url.indexOf(str);

	$(function(){
		frontinit();
		tabControl(0);
	});

	function frontinit(){
		getTimerNew('.banner-timer','Jan 11,2022,00:00');
		create();
		addEvent();
	}

	var _w;
	var _tabList;
	var _tabView;

	function create(){
		_w = $(window);
		_tabList = $(".tab-list").find("li");
		_tabView = $(".tab-view");
	}

	function addEvent(){
		pageMove('.page-move');
		
		var _boolean;
		var _arrow;
		var _dot;

        if( !isMobile && checkUrl ){
			//pc
			_arrow = false;
			_dot = true;
            _boolean = true;
			
        } else {
			//mo
			_arrow = false;
			_dot = true;
            _boolean = false;
        }
        $('.slide-list').slick({
            autoplay: true,
            autoplaySpeed: 3000,
            infinite: true,
            arrows: _arrow,
			dots:_dot,
            arrows: false,
			dots:true,
            slidesToScroll: 1,
            speed: 2000,
            centerMode: true,
            variableWidth: _boolean,
            centerMode: true
        });


		_tabList.on("click", function(){
			var idx = $(this).index();
			tabControl(idx);
		});
	}

	function tabControl($idx){
		_tabList.removeClass("on");
		_tabList.eq($idx).addClass("on");

		_tabView.hide();
		_tabView.eq($idx).show();
	}
</script>