@charset "utf-8";
html { -webkit-text-size-adjust:none;}
body { background:#313131;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,img,div { margin:0; padding:0}
img,fieldset { border:0}
ul,ol { list-style:none}
img,input,select { vertical-align:middle}
em,address { font-style:normal}
table { border-collapse:collapse; border-spacing:0px; empty-cells:show; table-layout:fixed}
legend,caption { visibility:hidden; width:0; height:0; margin:0; padding:0; font-size:0; line-height:0}
input, select, textarea, body { font-size:14px; font-family:'돋움', Dotum, '굴림', Gulim, Apple Gothic, sans-serif; overflow-x:hidden; color:#fff; letter-spacing:-1px; -webkit-text-size-adjust:none}
img { max-width:100%}
a { text-decoration:none; -webkit-text-size-adjust:none;}
a:link, a:visited { color:#fff;}
a:hover { color:#fff;}
a:active { color:#fff;}
input[type="text"],input[type="password"], textarea { -webkit-border-radius:0; -webkit-appearance:none}
input[type="submit"], input[type="rest"], input[type="button"] { -webkit-appearance:none; border-radius:0}

.tts { position:absolute; top:0; left:-9999em; width:0; height:0; font-size:0; line-height:0}
.clearfix { clear: both}
.clearfix:after { content:""; display:block; clear:both}
.dnone { display:none}
.en { font-family:verdana}

.fleft { float:left;}
.fright { float:right;}

/* skip navigation */
#skip_nav a { position:absolute; top:-500px}
#skip_nav a:focus, #skip_nav a:active { top:1px; z-index:99999; display:block; width:100%; height:40px; line-height:40px; font-weight:600; color:#fff; text-align:center; background-color:#015293}

/* highlight */
.g_point_a { color:#f26522 !important;}
.g_point_b { color:#adadad !important;}
.g_point_c { color:#5796ff !important;}
.g_point_d { color:#999 !important}

/* align */
.align_l { text-align:left !important;}
.align_c { text-align:center !important;}
.align_r { text-align:right !important;}

/* width*/
.full { width:100% !important;}
.half { width:50% !important;}
.short { width:30% !important;}

/* form */
:-moz-placeholder { color:#b0b0b0;}
::-webkit-input-placeholder { color:#b0b0b0;}
input[type="text"], input[type="password"] { box-sizing:border-box; -webkit-appearance:none; margin-top:10px; height:40px; color:#333; line-height:40px; vertical-align:middle; padding:0 10px; border:solid #dcdcdc; border-width:1px}
input[disabled="disabled"] { color:#333; opacity:1 !important; background-color:#eee !important;}
input[disabled="disabled"]:checked + label:before { background:#eee !important; color:#f7a691 !important; border-color:#dcdcdc !important;}
input[disabled="disabled"] + label:before { background:#eee !important; color:#f7a691 !important; border-color:#dcdcdc !important;}
input[type="checkbox"], input[type="radio"] { display:none; }
input[type="checkbox"]+ label, input[type="radio"] + label { display: inline-block; cursor: pointer; position: relative; padding-left:25px;}
input[type="radio"] + label { padding-left:20px !important;}
input[type="checkbox"]+ label:before { content:""; display: inline-block; width:18px; height:18px; position:absolute; left:0; top:50%; margin-top:-9px; background-color:#fff; border-radius:0; border:1px solid #dcdcdc;}
input[type="checkbox"]:checked + label:before { content: "\2713";  /* 체크모양 */  font-size: 20px; color: #f26522; font-weight:bold; background:#fff; text-align: center; line-height:18px; border:1px solid #dcdcdc;}
input[type="radio"]+ label:before { content:""; display: inline-block; width:14px; height:14px; position:absolute; left:0; top:50%; margin-top:-7px; background-color:#fff; border-radius:20px; border:1px solid #dcdcdc;}
input[type="radio"]:checked + label:before { content: "\2713";  /* 체크모양 */  font-size: 16px; color: #f26522; font-weight:bold; background:#fff; text-align: center; line-height:18px; border:1px solid #dcdcdc;}

select { border:1px solid #dcdcdc;  padding:0 34px 5px 10px; height:40px; line-height:36px; box-sizing:border-box; border-radius:0; color:#333; background:url('http://img.eduwill.net/Img2/mobile2/univAsp/common/ico_select.png') no-repeat right center #fff; background-size:22px; -webkit-appearance:none}
textarea { width:100%; box-sizing:border-box; -webkit-appearance:none; padding:10px; border:solid #b0b0b0; border-width:1px; margin-top:10px; resize:none;}
.form_input { position:relative;}

/* button */
.btn_group a { display:inline-block; float:left;}
.btn_group_a { padding:10px 0; text-align:center;}
.btn_group_c { margin-bottom:15px;}
[class^='g_btn_'], [class^='g_btn_'] input, input[class^='g_btn_'] { border:0; display:inline-block; vertical-align:middle;}
a.g_btn_a { padding:10px 0; font-size:13px; text-align:center; font-weight:bold; color:#fff; background-color:#f26522;}
a.g_btn_b { padding:10px 0; font-size:13px; text-align:center; font-weight:bold; color:#fff; background:#9a9a9a; letter-spacing:-1px;}
a.g_btn_c { padding:10px 15px; text-align:center; color:#222; font-weight:bold; background:#e3e3e3;}
a.g_btn_c span:first-child { padding-left:24px; font-weight:bold; font-size:18px; letter-spacing:-1px; background:url('http://img.eduwill.net/Img2/mobile2/univAsp/common/ico_btn_down.png') left center no-repeat; background-size:16px;}
a.g_btn_c span.page { font-size:18px; color:#aaa;}
a.g_btn_d { margin-bottom:3px; font-size:12px; letter-spacing:-1px;}
a.g_btn_d span { padding-right:9px; background:url('http://img.eduwill.net/Img2/mobile2/univAsp/content/ico_arrow_right02.png') right center no-repeat; background-size:5px;}
a.g_btn_e { padding:0 17px; height:38px; line-height:37px; text-align:center; font-size:14px; color:#fff; background:#f26522;}
a.g_btn_f { padding:0 17px; height:38px; line-height:37px; text-align:center; font-size:14px; color:#fff; background:#8a8a8a;}
a.g_btn_g { box-sizing:border-box; border:1px solid #f26522; height:43px; line-height:41px; text-align:center; color:#fff; font-weight:bold;  background:#f26522;}
a.g_btn_h { box-sizing:border-box; border:1px solid #f26522; height:43px; line-height:41px; text-align:center; color:#f26522; font-weight:bold;  background:#fff;}
a.g_btn_i { padding:7px 0; color:#fff; font-weight:bold; font-size:13px; text-align:center; background:#adadad;}
a.g_btn_j { padding:5px 6px; color:#fff; font-size:11px; font-weight:bold; background:#f26522;}

/* tab */
.g_tab_a { overflow:hidden;}
.g_tab_a li { float:left; width:50%; height:45px;}
.g_tab_a li a { display:block; box-sizing:border-box; width:100%; height:100%; text-align:center; color:#aeaeae; line-height:45px; font-size:14px; border-bottom:2px solid #c9c9c9;}
.g_tab_a li.on a { color:#f26522; font-weight:bold; border-color:#f26522;}

/* table */
[class^='g_table_'] th.left, [class^='g_table_'] td.left { text-align:left; padding-left:10px}
[class^='g_table_'] th.center, [class^='g_table_'] td.center { text-align:center; padding-left:0; padding-right:0}
[class^='g_table_'] th.line, [class^='g_table_'] td.line { border-left:1px solid #e7e6e6 !important}
[class^='g_table_'] th.line_r ,[class^='g_table_'] td.line_r { border-right:1px solid #e7e6e6 !important}

.g_table_a { margin-top:10px; width:100%; border-top:1px solid #000;}
.g_table_a th, .g_table_a td { padding:7px 5px 9px; line-height:20px; letter-spacing:-1px}
.g_table_a th { text-align:center; font-weight:bold; font-weight:bold; color:#333; border-bottom:1px solid #cecece; background-color:#ececed;}
.g_table_a td { text-align:center; color:#666; border-bottom:1px solid #cecece; background:#fff;}
.g_table_a td .td_style01 { font-size:11px; color:#666;}
.g_table_a td .td_style02 { font-size:11px; color:#f26522;}
.g_table_a td a { color:#666;}

.g_table_b { width:100%;}
.g_table_b th { padding:9px 0; text-align:center; background:#dcdcdc;}
.g_table_b td { padding:10px 7px; text-align:center; color:#666; border-top:1px solid #dcdcdc;}

.g_table_c { width:100%;}
.g_table_c th { padding:12px 0; border-bottom:1px solid #f26522;}
.g_table_c td { padding:14px 0; vertical-align:middle; border-bottom:1px solid #dcdcdc;}
.g_table_c td label:before { top:2px;}
.g_table_c td.align_c { color:#999;}
.g_table_c tr:last-child td { border-bottom:0 none;}

/* header */
#header { position:relative; height:50px; text-align:center; border-bottom:1px solid #4c4c4c;}
#header h1 { padding-top:12px; vertical-align:top;}
#header h1 img { width:58px; vertical-align:top;}
#header h1 span { position:relative; top:4px; padding-left:5px; font-size:16px; vertical-align:top; font-weight:normal;}
#header .btn_logout { position:absolute; top:14px; right:15px; }
#header .btn_logout img { width:23px;}

/* footer */
#footer { border-top:1px solid #4b4b4b;}
#footer .copyright { padding:15px 0; text-align:center; opacity:0.5;}