@{
    String platform = ("W".Equals(ViewBag.PlatformCd))? "pc": "mobile";
}

<div id="contents" class="promotion">

    <div class="sector-top">
        <div class="wrap">
			<div class="text-box">

				@if ("W".Equals(ViewBag.PlatformCd)) {
				<h3>
					<span class="point">에듀윌 토익 AI 앱</span><br>
					정식 버전 사용 후기 작성 페이지
				</h3>
				<h4>
					에듀윌 토익 AI에 관심을 가져 주셔서 감사합니다.<br/>
					아래 질문에 따라 후기를 성실하게 작성해주시면 올리브영 2만원 상품권을 쏩니다!
				</h4>
				}
				else{
				<h3>
					<span class="point">에듀윌 토익 AI 앱</span><br>
					정식 버전 사용 후기 <br>작성 페이지
				</h3>
				<h4>
					에듀윌 토익 AI에 관심을 가져 주셔서 감사합니다.<br/>
					아래 질문에 따라 후기를 성실하게 작성해주시면<br/>
					올리브영 2만원 상품권을 쏩니다!
				</h4>
				}
				<span class="notice">
					*하단 이벤트 당첨 유의사항 참고
				</span>
			</div>

        </div>
    </div>

    <div class="sector-test-info">
        <div class="wrap">
			<div class="info-login">
				<p class="member">
					해당 이벤트는 회원만 참여 가능합니다.<br/>로그인 후 후기를 작성해 주세요.
				</p>
				<a href="javascript:;" class="btn-login">로그인하기</a>
			</div>
        </div>
    </div>

    <div class="sector-test-review">
        <div class="wrap">
			<div class="info-title">후기 작성 </div>

            <div class="review-list">
				<div class="form-control">
					<div class="question">
						<span class="num">1.</span>
						<span class="quest">
							토익 초보자들에게 에듀윌 토익 AI 앱 정식 버전을 추천하십니까?<span class="required">*</span>
						</span>
					</div>
					<div class="answer">
						<label class="fake-radio"><input type="radio" name="quest1"><span class="fake"></span><span class="label">예</span></label>
						<label class="fake-radio"><input type="radio" name="quest1"><span class="fake"></span><span class="label">아니오</span></label>
					</div>
				</div>
		
				<div class="form-control">
					<div class="question">
						<span class="num">1-1.</span>
						<span class="quest">
							위와 같이 답변하신 이유를 기재해 주세요. [서술형]
						</span>
					</div>
					<div class="answer">
						<input type="text" class="text">
					</div>
				</div>
		
				<div class="form-control">
					<div class="question">
						<span class="num">2.</span>
						<span class="quest">
						토익 점수 향상에 이 앱이 도움이 될 것 같습니까?<span class="required">*</span>
						</span>
					</div>

					<div class="answer">
						<label class="fake-radio"><input type="radio" name="quest2"><span class="fake"></span><span class="label">예</span></label>
						<label class="fake-radio"><input type="radio" name="quest2"><span class="fake"></span><span class="label">아니오</span></label>
					</div>
				</div>
		
				<div class="form-control">
					<div class="question">
						<span class="num">2-1.</span>
						<span class="quest">
							위와 같이 답변하신 이유를 기재해 주세요. [서술형]
						</span>
					</div>

					<div class="answer">
						<input type="text" class="text">
					</div>
				</div>

				<div class="form-control">
					<div class="question">
						<span class="num">3.</span>
						<span class="quest">
							에듀윌 토익 AI 앱 정식버전 후기를 자유롭게 서술해주세요.<span class="required">*</span>(100자 이상의 후기만 인정됩니다.)
						</span>
					</div>
					<div class="answer">
						<textarea class="textarea" name="" id=""></textarea>
					</div>
				</div>

				<div class="form-control">
					<div class="question">
						<span class="num">4.</span>
						<span class="quest">
							에듀윌 토익 AI 앱 정식 버전에 개선이 필요한 점, 추가되길 바라는 기능을 자유롭게 서술해 주세요.<span class="required">*</span>
						</span>
					</div>
					<div class="answer">
						<textarea class="textarea" name="" id=""></textarea>
					</div>
				</div>

				<div class="form-control">
					<div class="question">
						<span class="num">5.</span>
						<span class="quest">
							수강하고 싶은 강좌 1종을 선택해주세요. 베타 버전 후기와 정식 버전 후기를 모두 제출하신 분들께 선택하신 강좌를 지급해드립니다.<span class="required">*</span>
						</span>
					</div>

					<div class="answer wide">
						<label class="fake-radio"><input type="radio" name="quest3"><span class="fake"></span><span class="label">셀린 - 에듀윌 토익 베이직 LC</span></label>
						<label class="fake-radio"><input type="radio" name="quest3"><span class="fake"></span><span class="label">최영준 - 에듀윌 토익 베이직 RC</span></label>
						<label class="fake-radio"><input type="radio" name="quest3"><span class="fake"></span><span class="label">구원 - 에듀윌 토익 실전 LC</span></label>
						<label class="fake-radio"><input type="radio" name="quest3"><span class="fake"></span><span class="label">구원 - 에듀윌 토익 실전 RC</span></label>
					</div>
				</div>

				<div class="notice-box">
					<strong>※ 필수 확인 사항</strong>
					<ul>
						<li>
							베타 버전과 정식 버전 후기를 모두 제출하신 분에 한하여 선택하신 강좌 (40일 수강 가능) 를 지급해드립니다.
						</li>
						<li>
							베타 버전과 정식 버전 후기를 모두 제출하신 분은 3월 14일부터 순차적으로 선택하신 강좌를 지급 받으실 수 있습니다.
						</li>
						<li>
							우수 후기를 작성하신 분 중 10분에게 올리브영 2만원 상품권을 드립니다. 당첨 여부는 이벤트 종료 후 5월 초에 개별 문자로 안내 드리며, 경품은 SMS 수신 동의가 되어 있는 분에게만 발송됩니다.
						</li>
						<li>
							토익앱 사용후기는 공개를 전제로 작성하는 것으로 회사의 홍보 및 마케팅을 위한 온/오프라인 제작물에 활용될 수 있으며,개인정보는 노출 방지를 위해 안전하게 마스킹(*) 처리됩니다.
						</li>
					</ul>
				</div>

				<hr class="line">
				<div class="action">
					<a href="javascript:;" class="btn">후기 제출하고 올리브영 2만원 상품권 받기</a>
				</div>
            </div>

        </div>
    </div>

</div>

<script>
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
    var str = 'event.eduwill.net';
    var checkUrl = url.indexOf(str);
    var userId = "@(UserSession.UserID)";

    $(function () {
        promotionInit();
    });

    function promotionInit() {
		addEvent();
    }

    function addEvent(){
		pageMove('.page-move');
    }
</script>