
@{
	String platform = ("W".Equals(ViewBag.PlatformCd)) ? "pc" : "mobile";
}

<div class="social-event" id="socialEvent">
	<div class="title">
		<div class="wrap">
			<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220314_4/@platform/img_share_starbucks_s.png" alt="소문내기 이미지">

				<p>※ 상품은 매월 말일에 일괄 지급됩니다.</p>
			
		</div>
	</div>
	<div class="sns">
		<div class="wrap">
			<div class="grid steps wide">
				<ul>
					<li class="col step1">
						@if("W".Equals(ViewBag.platformCd)) {
							<h3>STEP 01</h3>
							<div class="conts">
								<p>URL 복사하기 버튼을 눌러 URL을 복사해주세요.</p>
								<div class="btn-wrap">
									<a href="javascript:;">URL 복사하기</a>
								</div>
							</div>
						} else {
							<div class="wrap">
								<h3>STEP 01</h3>
								<div class="conts">
									<p>URL 복사하기 버튼을 눌러 URL을 복사해주세요.</p>
									<div class="btn-wrap">
										<a href="javascript:;">URL 복사하기</a>
									</div>
								</div>
							</div>
						}
					</li>
					<li class="col step2">
						@if("W".Equals(ViewBag.platformCd)) {
							<h3>STEP 02</h3>
							<div>
								<p>복사한 URL을 아래 버튼을 클릭하여 카톡방에 공유해주세요. <span>(50인 이상 오픈 채팅방에 50회 이상 공유해야만 인정)</span></p>
								<div class="step-link">
									<div>
										<a href="javascript:edufLayerOpen('#popupKakao')">토익 키워드</a>
									</div>
									<div>
										<a href="javascript:;">공기업 키워드</a>
									</div>
									<div>
										<a href="javascript:;">대기업 키워드</a>
									</div>
									<div>
										<a href="javascript:;">취업준비 키워드</a>
									</div>
									<div>
										<a href="javascript:;">토스 키워드</a>
									</div>
									<div>
										<a href="javascript:;">오픽 키워드</a>
									</div>
									<div>
										<a href="javascript:;">취업 키워드</a>
									</div>
								</div>
							</div>
						} else {
							<div class="wrap">
								<h3>STEP 02</h3>
								<div>
									<p>복사한 URL을 아래 버튼을 클릭하여<br />카톡방에 공유해주세요. <span>(50인 이상 오픈 채팅방에 50회 이상 공유해야만 인정)</span></p>
									<div class="step-link">
										<div>
											<a href="javascript:edufLayerOpen('#popupKakao')">토익 키워드</a>
										</div>
										<div>
											<a href="javascript:;">공기업 키워드</a>
										</div>
										<div>
											<a href="javascript:;">대기업 키워드</a>
										</div>
										<div>
											<a href="javascript:;">취업준비 키워드</a>
										</div>
										<div>
											<a href="javascript:;">토스 키워드</a>
										</div>
										<div>
											<a href="javascript:;">오픽 키워드</a>
										</div>
										<div>
											<a href="javascript:;">취업 키워드</a>
										</div>
									</div>
								</div>
							</div>
						}
					</li>
					<li class="col step3">
						@if("W".Equals(ViewBag.platformCd)) {
							<h3>STEP 03</h3>
							<div class="conts">
								<p>공유한 채팅방을 캡쳐해서 이미지를 첨부해주세요. <span>(이미지는 최대 5MB까지 가능)</span></p>
								<div class="btn-wrap">
									<a href="javascript:edufLayerOpen('#popupImage');">이미지 등록하기</a>
									<a href="javascript:edufLayerOpen('#popupCheck')" class="ex">참여 횟수 확인</a>
								</div>
							</div>
						} else {
							<div class="wrap">
								<h3>STEP 03</h3>
								<div class="conts">
									<p>공유한 채팅방을 캡쳐해서 이미지를 첨부해주세요. <span>(이미지는 최대 5MB까지 가능)</span></p>
									<div class="btn-wrap">
										<a href="javascript:edufLayerOpen('#popupImage');">이미지 등록하기</a>
										<a href="javascript:edufLayerOpen('#popupCheck')" class="ex">참여 횟수 확인</a>
									</div>
								</div>
							</div>
						}
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="caution"><div class="wrap"><h3>[이벤트 유의사항 안내]</h3> <div class="content-title">■ 런칭 1위 감사, 전 강좌 무료 이벤트</div> <ul><li>1. 수강 강좌</li> <li>에듀윌 토익 교재의 입문~실전 인강 전 강좌 무료 제공 (2022년 최신 강좌 기준/109강)</li> <li>2. 수강 방법</li> <li>이벤트 참여 후 [나의 강의실]에서 수강 가능합니다.</li> <li>3. 수강 기간</li> <li>이벤트 참여일 ~ 2022. 04. 17 (일)</li> <li>4. 기타</li> <li>- 강의에서 활용된 에듀윌 토익 교재는 별도로 제공되지 않습니다.</li> <li>- 유의사항을 읽지 않고 발생한 모든 사항에 대해는 책임지지 않습니다.</li> <li>- 당사의 사정에 따라 혜택은 변경될 수 있습니다.</li></ul> <div class="content-title">■ 소문내기 이벤트</div> <ul><li>1. 카톡 공유가 확인되지 않는 이미지 업로드 시 당첨에서 제외됩니다.</li> <li>2. 50인 미만의 채팅방 공유 시, 당첨에서 제외됩니다.</li> <li>3. 5회 미만 공유 시, 당첨에서 제외됩니다.</li> <li>4. 이미지 조작/부정행위 발견 시, 당첨에서 제외됩니다.</li> <li>5. 상품은 개별 안내 후 발송됩니다.</li> <li>6. 유의사항을 읽지 않고 발생한 모든 사항에 대해는 책임지지 않습니다.</li> <li>7. 사전 고지 없이 중도 종료될 수 있습니다.</li> <li>8. 당첨 여부는 이벤트 종료 후 개별 문자로 안내드리며, 상품은 SMS 수신 동의가 되어 있는 분에게만 발송됩니다.</li> <li>9. 회원정보에 등록된 휴대전화 번호로 발송되며, 회원정보 오류로 인한 오발송 시 재발송되지 않으니, 이벤트 종료 전에 회원정보를 꼭! 확인해 주세요.</li> <li>10. 이벤트 참여 이후 번호 변경, 문자 삭제 등 개인 사유로 인한 재발송은 불가능합니다.</li></ul></div></div>
</div>

<!-- 이미지 인증하기 팝업 -->
<div class="eduf-layer" id="popupImage">
	<div class="eduf-layer-wrap">
		<div class="popup-header">
			<h3>소문내기 인증하기</h3>
			<a href="javascript:edufLayerClose('#popupImage');"  class="eduf-layer-close"></a>
		</div>
		<div class="popup-body eduf-layer-content">
			<h3>카톡방 소문내기 인증 이미지를 등록해주세요.</h3>
			<div class="input-wrap">
				<input class="upload" placeholder="파일을 등록해주세요." readonly>
				<label for="input-file">파일 첨부</label>
				<input type="file" id="input-file" class="hidden">
			</div>
			<div class="guide">
				<span>이미지 등록은 총 5MB 이하만 가능합니다.</span>
				<span>카톡방 참여인원이 50명 이상인 점이 명확히 드러나는 이미지를 등록해주셔야 이벤트 참여로 인정됩니다.</span>
			</div>
			<div class="image-wrap">
				<h3>총 <span>00</span>개 이미지</h3>
				<div class="wrapper">
					<ul>
						<li>
							<a href="javascript:;"></a>
							<img src="https://img.eduwill.net/eduwill/img/2022/_115/social/common/img_file.png">
						</li>
						<li>
							<a href="javascript:;"></a>
							<img src="https://img.eduwill.net/eduwill/img/2022/_115/social/common/img_file.png">
						</li>
						<li>
							<a href="javascript:;"></a>
							<img src="https://img.eduwill.net/eduwill/img/2022/_115/social/common/img_file.png">
						</li>
						<li>
							<a href="javascript:;"></a>
							<img src="https://img.eduwill.net/eduwill/img/2022/_115/social/common/img_file.png">
						</li>
						<li>
							<a href="javascript:;"></a>
							<img src="https://img.eduwill.net/eduwill/img/2022/_115/social/common/img_file.png">
						</li>
						<li>
							<a href="javascript:;"></a>
							<img src="https://img.eduwill.net/eduwill/img/2022/_115/social/common/img_file.png">
						</li>
						@if ("W".Equals(ViewBag.PlatformCd)) {
							<li>
								<a href="javascript:;"></a>
								<img src="https://img.eduwill.net/eduwill/img/2022/_115/social/common/img_file.png">
							</li>
							<li>
								<a href="javascript:;"></a>
								<img src="https://img.eduwill.net/eduwill/img/2022/_115/social/common/img_file.png">
							</li>
							<li>
								<a href="javascript:;"></a>
								<img src="https://img.eduwill.net/eduwill/img/2022/_115/social/common/img_file.png">
							</li>
							<li>
								<a href="javascript:;"></a>
								<img src="https://img.eduwill.net/eduwill/img/2022/_115/social/common/img_file.png">
							</li>
						}
					</ul>
				</div>
			</div>
			<div class="caution">
				<label>
					<input type="checkbox">
					<p>개인정보 수집 및 이용에 동의합니다. (필수)</p>
				</label>
				<div class="cont">
					<h5>개인정보 수집 및 이용에 대한 동의 (필수)</h5>
					<p>(주)에듀윌은 본 이벤트를 위해 다음과 같이 참여자의 개인정보를 수집 및 이용합니다.</p>
					<ul>
						<li>수집 및 이용 목적 : 참여자 정보확인, 안내 문자 발송, (추첨)사은품 발송</li>
						<li>수집항목 : 이름, 휴대폰번호</li>
						<li>보유 및 이용 기간 : <span>이벤트 종료 후 1년</span></li>
						<p>귀하는 개인정보 수집 및 이용에 동의하지 않으실 수 있으나, 동의하지 않으실 경우 참여가 제한됩니다.</p>
					</ul>
				</div>
			</div>
			<div class="btn-wrap">
				<a href="javascript:;">제출하기</a>
			</div>
		</div>
	</div>
</div>

<!-- 참여횟수 팝업 -->
<div class="eduf-layer" id="popupCheck">
	<div class="eduf-layer-wrap">
		<div class="popup-header">
			<h3>내 참여횟수 확인</h3>
			<a href="javascript:edufLayerClose('#popupCheck');" class="eduf-layer-close"></a>
		</div>
		<div class="popup-body eduf-layer-content">
			<div class="check">
				<img src="https://img.eduwill.net/eduwill/img/2022/_115/social/common/img_popup_coffee.png">
				<h3>내 참여 횟수는 <b>총 <span>12</span>번</b> 입니다.</h3>
			</div>
			<div class="check-caution">
				<h3>카톡방 소문내기 인증 이미지를 등록해주세요.</h3>
				<div class="guide">
					<span>이미지 등록은 총 5MB 이하만 가능합니다.</span>
					<span>카톡방 참여인원이 50명 이상인 점이 명확히 드러나는 이미지를 등록해주셔야 이벤트 참여로 인정됩니다.</span>
				</div>
				<div class="btn-wrap">
					<a href="javascript: edufLayerClose('#popupCheck'); edufLayerOpen('#popupImage');">이미지 인증하기</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 카카오톡 소문내기 팝업 -->
<div class="eduf-layer" id="popupKakao">
	<div class="eduf-layer-wrap">
		<div class="popup-header">
			<h3>카카오톡 소문내기 이벤트</h3>
			<a href="javascript:edufLayerClose('#popupKakao')" class="eduf-layer-close"></a>
		</div>
		<div class="popup-body eduf-layer-content pd">
			<div class="social kakao">
				<div class="search">
					<div class="input-wrap">
						<input type="text">
						<button></button>
					</div>
					<a href="javascript:edufLayerClose('#popupKakao');">취소</a>
				</div>
				<div class="tab-links">
					<ul>
						<li class="active">
							<a href="javascript:;">그룹채팅</a>
						</li>
					</ul>
				</div>
				<div class="filter">
					<ul>
						<li>
							<a href="javascript:;">추천</a>
						</li>
						<li>
							<a href="javascript:;">최신</a>
						</li>
						<li>
							<a href="javascript:;">좋아요</a>
						</li>
					</ul>
					<label>
						<input type="checkbox">
						<div class="marker"></div>
						<span>참여코드 채팅방 제외</span>
					</label>
				</div>

				<div class="list">
					<ul>
						<li>
							<a href="javascript:;">
								<div class="conts">
									<h3>토익 문제 공유방(토익커 다 오세요)</h3>
									<p class="hash">#자기전에문제풀기 #파트5를집중적으로 #모르는문제</p>
									<div class="stat">
										<div class="icon">
											<img src="//img.eduwill.net/eduwill/img/2022/_115/social/common/icon_profile01.png" alt="카카오톡프로필아이콘">
										</div>
										<em>711명</em>
										<span>1시간 전</span>
									</div>
								</div>
								<div class="thumb">
									<img src="https://open.kakaocdn.net/dn/dt3Xkx/wmyfjpsrw7/2CFnizKkrymxl3DsVc8lDK/img.jpg" alt="카카오톡공유하기이미지_에듀윌">
									<div class="like">
										<p>♥ <span>999</span></p>
									</div>
								</div>
							</a>
						</li>

						<li>
							<a href="javascript:;">
								<div class="conts">
									<h3>토익 문제 공유방(토익커 다 오세요)</h3>
									<p class="hash">#자기전에문제풀기 #파트5를집중적으로 #모르는문제</p>
									<div class="stat">
										<div class="icon">
											<img src="//img.eduwill.net/eduwill/img/2022/_115/social/common/icon_profile01.png" alt="카카오톡프로필아이콘">
										</div>
										<em>711명</em>
										<span>1시간 전</span>
									</div>
								</div>
								<div class="thumb">
									<img src="//img.eduwill.net/eduwill/img/2022/_115/social/common/share_thumb.png" alt="카카오톡공유하기이미지_에듀윌">
									<div class="like">
										<p>♥ <span>999</span></p>
									</div>
								</div>
							</a>
						</li>

						<li>
							<a href="javascript:;">
								<div class="conts">
									<h3>토익 문제 공유방(토익커 다 오세요)</h3>
									<p class="hash">#자기전에문제풀기 #파트5를집중적으로 #모르는문제</p>
									<div class="stat">
										<div class="icon">
											<img src="//img.eduwill.net/eduwill/img/2022/_115/social/common/icon_profile01.png" alt="카카오톡프로필아이콘">
										</div>
										<em>711명</em>
										<span>1시간 전</span>
									</div>
								</div>
								<div class="thumb">
									<img src="//img.eduwill.net/eduwill/img/2022/_115/social/common/share_thumb.png" alt="카카오톡공유하기이미지_에듀윌">
									<div class="like">
										<p>♥ <span>999</span></p>
									</div>
								</div>
							</a>
						</li>

						<li>
							<a href="javascript:;">
								<div class="conts">
									<h3>토익 문제 공유방(토익커 다 오세요)</h3>
									<p class="hash">#자기전에문제풀기 #파트5를집중적으로 #모르는문제</p>
									<div class="stat">
										<div class="icon">
											<img src="//img.eduwill.net/eduwill/img/2022/_115/social/common/icon_profile01.png" alt="카카오톡프로필아이콘">
										</div>
										<em>711명</em>
										<span>1시간 전</span>
									</div>
								</div>
								<div class="thumb">
									<img src="//img.eduwill.net/eduwill/img/2022/_115/social/common/share_thumb.png" alt="카카오톡공유하기이미지_에듀윌">
									<div class="like">
										<p>♥ <span>999</span></p>
									</div>
								</div>
							</a>
						</li>

						<li>
							<a href="javascript:;">
								<div class="conts">
									<h3>토익 문제 공유방(토익커 다 오세요)</h3>
									<p class="hash">#자기전에문제풀기 #파트5를집중적으로 #모르는문제</p>
									<div class="stat">
										<div class="icon">
											<img src="//img.eduwill.net/eduwill/img/2022/_115/social/common/icon_profile01.png" alt="카카오톡프로필아이콘">
										</div>
										<em>711명</em>
										<span>1시간 전</span>
									</div>
								</div>
								<div class="thumb">
									<img src="//img.eduwill.net/eduwill/img/2022/_115/social/common/share_thumb.png" alt="카카오톡공유하기이미지_에듀윌">
									<div class="like">
										<p>♥ <span>999</span></p>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div> 
		</div>
	</div>
</div>


@* <div class="eduf-layer" id="popupMessage">
	<div class="eduf-layer-wrap">
		<div class="popup-header">
			<h3>개인정보 수집 및 이용 동의</h3>
			<a href="javascript:edufLayerClose('#popupMessage')" class="eduf-layer-close"></a>
		</div>

		<div class="popup-body">
			<div class="check-wrap">
				<label>
					<input type="checkbox" name="checkAll" id="checkAll">
					<p>전체 동의</p>
				</label>
			</div>
			<div class="caution-wrapper">
				<div class="caution">
					<h3>■ 개인정보 수집 및 이용에 대한 동의 (필수)</h3>
					<div class="cont">
						<p>(주)에듀윌은 본 이벤트를 위해 다음과 같이 참여자의 개인정보를 수집 및 이용합니다.</p>
						<ul>
							<li>수집 이용 목적 : 이벤트 참여자 확인, 본 이벤트 참여에 따른 혜택 발송</li>
							<li>수집항목 : 휴대폰번호</li>
							<li>보유 및 이용 기간 : <span style="font-size: 1.2em;">이벤트 종료 후 1년</span></li>
							<li>
								이벤트 신청 회원은 개인정보 수집 및 이용을 거부할 수 있습니다.<br>
								단, 거부할 경우 본 이벤트 참여가 제한됩니다.
							</li>
						</ul>
					</div>
					
					<div class="check-wrap">
						<h5>위 내용을 충분히 이해하였으며, 개인정보 수집 및 이용에 동의합니다. (필수)</h5>
						<label>
							<input type="checkbox" id="personalYn" name="personalYn">
							<p>동의합니다.</p>
						</label>
					</div>
				</div>

				<div class="caution">
					<h3>■ 개인정보 마케팅 활용에 대한 동의 (선택)</h3>
					<div class="cont">
						<p>(주)에듀윌은 본 이벤트에 한정하여 다음과 같이 참여자의 개인정보를 마케팅에 활용할 수 있습니다.</p>
						<ul>
							<li>수집 및 이용 목적 : <span>상품 및 이벤트 안내, 최신 정보 안내</span> </li>
							<li>수집항목 : 휴대폰번호</li>
							<li>보유 및 이용 기간 : <span>이벤트 종료 후 1년</span></li>
						</ul>
						<p>귀하는 개인정보 수집 및 이용에 동의하지 않으실 수 있으나, <span style="font-size: 1.2em; font-weight: bold; ">동의하지 않더라도 이벤트 참여는 가능합니다.</span></p>
					</div>
					<div class="check-wrap">
						<h5>위 내용을 충분히 이해하였으며, 개인정보 마케팅 활용에 동의합니다. (선택)</h5>
						<label>
							<input type="checkbox" id="marketingYn" name="marketingYn">
							<p>동의합니다.</p>
						</label>
					</div>
				</div>
			</div>
			<div class="btn-wrap full">
				<a href="javascript:submitMainEventForm();" class="pointer">네, 동의합니다.</a>
			</div>
		</div>
	</div>
</div> *@

<script>
//edufLayerOpen('#popupCheck');
//	edufLayerOpen('#popupKakao');
//	edufLayerOpen('#popupImage');

//edufLayerOpen('#popupMessage');
</script>