@{
	string viewPath = ((RazorView)ViewContext.View).ViewPath;
	viewPath = viewPath.Remove(viewPath.LastIndexOf('/') + 1);
}

@{
	string cssUrl = ViewBag.IsLocal
		? "/Content/2022/_115/event/220314_4/css/mobile.css"	// local 경로
		: "//img.eduwill.net/eduwill/css/2022/_115/event/220314_4/mobile.css";	// ftp 경로
}
<link rel="stylesheet" type="text/css" href="//img.eduwill.net/eduwill/live/css/common/socialEvent/mobile.css">
<link rel="stylesheet" type="text/css" href="@cssUrl" />
<div id="contents" class="promotion">


	@* 220312 *@
	<div data-eduwill-eco-content="4329"></div>
	@* 220312 *@
	<div class="sector" id="section1">
		<div class="wrap">
			<div class="intro-video">
			<!-- 0312 영상경로수정 -->
				<video muted autoplay loop playsinline>
					<source src="//pmp.eduwill.net/eduwillpmp/eduwill/flv/20220314/0314_4/grandopen_mo_v2.mp4" type="video/mp4">
				</video>
			</div>
		</div>
	</div>
	<div class="sector sector-intro" id="section2">
		<div class="wrap">
			<div class="tit scroll-animate motion-up-1">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/img_tit_01.png" alt="에듀윌 토익 타이틀" />
			</div>
			<div class="video-wrap">
				<a href="javascript:edufLayerVideoOpen('//pmp.eduwill.net/eduwillpmp/eduwill/flv/20220314/0314_4/grandopen.mp4', 'autoplay muted')">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/img_video_play_01.png" alt="에듀윌 토익 상단 영상 썸네일" />
				</a>
			</div>
		</div>
	</div>

	<div class="sector sector-free" id="section3">
		<div class="wrap">
			<div class="tit">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/img_tit_02.png" alt="전 강좌 무료 타이틀" />
			</div>
			<div class="item">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/img_free_conts.png" alt="전 강좌 무료 선생님 & 책 이미지" />
			</div>
			<div class="txt">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/img_free_txt.png" alt="100% 무료 문구" />
			</div>
			<div class="sub">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/img_free_sub.png" alt="100% 무료 근거 문구" />
			</div>
		</div>
	</div>

	<div class="sector" id="section4">
		<div class="section4-bg"></div>
		<div class="section4-object section4-object1">
			<div class="title-1 scroll-animate motion-up-1">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section4_title1_1.png" alt="더 많은 공부?" />
			</div>
			<div class="title-2 scroll-animate motion-up-1">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section4_title1_2.png" alt="빡세多" />
			</div>
			<div class="line scroll-animate motion-up-1">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section4_line.png" alt="선" />
			</div>
		</div>
		
		<div class="section4-object section4-object2">
			<div class="title-1 scroll-animate motion-up1">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section4_title2_1.png" alt="시간만 버리니까" />
			</div>
			<div class="title-2 scroll-animate motion-up-1">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section4_title2_2.png" alt="힘들多" />
			</div>
			<div class="line scroll-animate motion-up-1">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section4_line.png" alt="선" />
			</div>
		</div>
		
		<div class="section4-object section4-object3">
			<div class="title-1 scroll-animate motion-up-1">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section4_title3_1.png" alt="빡센 토익과" />
			</div>
			<div class="title-2 scroll-animate motion-up-1">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section4_title3_2.png" alt="이별하는" />
			</div>
		</div>

		<div class="section4-object section4-object4">
			<div class="paint paint-1">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section4_paint1.png" alt="페인트1" />
			</div>
			<div class="paint paint-2">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section4_paint2.png" alt="페인트2" />
			</div>
			<div class="paint paint-3">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section4_paint3.png" alt="페인트3" />
			</div>
			<div class="paint paint-4">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section4_paint4.png" alt="페인트4" />
			</div>

			<div class="text text-1">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section4_txt1.png" alt="쉬운 토익 공식" />
			</div>
			<div class="text text-2">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section4_txt2.png" alt="에듀윌 토익" />
			</div>
			<div class="text text-3">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section4_txt3.png" alt="줄이고 - 더해서 - 불가능을 가능하게 - 혁신하다" />
			</div>
		</div>
		
	</div>


	<div class="sector" id="section5">
		<div class="wrap">
			<div class="title">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section5_title.png" alt="쉬운 토익 공식 줄이고" />
			</div>
			<div class="line">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section5_book_list_01.png" alt="voca" />
						</div>
						<div class="swiper-slide">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section5_book_list_02.png" alt="베이직" />
						</div>
						<div class="swiper-slide">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section5_book_list_03.png" alt="RC" />
						</div>
						<div class="swiper-slide">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section5_book_list_04.png" alt="LC" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="details">
			<div class="wrap">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="thumb">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section5_slide_01.png" alt="토익 보카" />
							</div>
							<div class="item">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section5_slide_01_item.png" alt="토익 보카 상세" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="thumb">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section5_slide_02.png" alt="토익 보카" />
							</div>
							<div class="item">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section5_slide_02_item.png" alt="토익 보카 상세" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="thumb">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section5_slide_03.png" alt="토익 보카" />
							</div>
							<div class="item">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section5_slide_03_item.png" alt="토익 보카 상세" />
							</div>
						</div>
					</div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
		</div>
	</div> 
	
	<div class="sector" id="section6">
		<div class="wrap">
			<div class="title">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section6_title.png" alt="쉬운 토익 공식 더해서" />
			</div>
			<div class="teachers">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section6_teacher.png" alt="섹션 6 선생님 이미지" />
			</div>
		</div>
		<div class="teacher-info">
			<div class="wrap">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="name">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/sellin_name.png" alt="셀린 T 성함 라벨" />
							</div>
							<div class="teacher">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/sellin_teacher.png" alt="셀린 T 이미지" />
							</div>
							<div class="desc">
								<p>누구보다 Light 하게 점수 Light 켜 줄게!<br />그 동안 어려웠던 토익,<br />셀린쌤만 믿고 따라오면 쉬워집니다</p>
							</div>
							<div class="subject">
								<h3>토포자들을 구원할<br />한 줄기 빛</h3>
							</div>
							<a href="https://p-toeic.eduwill.net/evt/teacher/Celine_Intro" class="anchor">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section6_anchor.png" alt="페이지 이동 앵커" />
							</a>
						</div>
						<div class="swiper-slide">
							<div class="name">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/choiyoungjun_name.png" alt="최영준 T 성함 라벨" />
							</div>
							<div class="teacher">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/choiyoungjun_teacher.png" alt="최영준 T 이미지" />
							</div>
							<div class="desc">
								<p>알파벳만 알아도 OK<br />영포자도 문제풀이 <span>1</span>초컷<br />영준 쌤만 따라오면 토익의 신세계가 펼쳐집니다</p>
							</div>
							<div class="subject">
								<h3><span>0</span>점도 <span>990</span>점으로<br />끝내 줄게</h3>
							</div>
							<a href="https://p-toeic.eduwill.net/evt/teacher/Celine_Intro" class="anchor">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section6_anchor.png" alt="페이지 이동 앵커" />
							</a>
						</div>
						<div class="swiper-slide">
							<div class="name">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/guwon_name.png" alt="구원 T 성함 라벨" />
							</div>
							<div class="teacher">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/guwon_teacher.png" alt="구원 T 이미지" />
							</div>
							<div class="desc">
								<p>
									토익 <span>50</span>회 이상 <span>990</span>점 만점, 기출 분석 라이브 <span>10</span>년<br />
									내공으로 쌓아 올린 고득점 신화<br />
									따라가기만 하면 점수는 오른다!
								</p>
							</div>
							<div class="subject">
								<h3>
									해석 없는<br/>
									<span>990</span>점 구원 공식
								</h3>
							</div>
							<a href="https://p-toeic.eduwill.net/evt/teacher/Celine_Intro" class="anchor">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section6_anchor.png" alt="페이지 이동 앵커" />
							</a>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="sector" id="section7">
		<div class="wrap">
			<div class="title">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section7_title.png" alt="쉬운 토익 공식 불가능을 가능하게" />
			</div>
			<div class="phone"> 
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section7_phone.png" alt="구원 T 모바일 이미지" />
			</div>
		</div>
	</div>

	<div class="sector" id="section8">
		<div class="wrap">
			<div class="fullservice-title">
				<div class="step">STEP 1</div>
				<div class="subject">시험 직전 구원 특강</div>
				<div class="desc">딱 나올 최신 경향 문제만 모아<br />단 <span>10</span>분이면 실전 대비 끝</div>
			</div>
			<div class="fullservice-container">
				<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section10_slide1.gif" alt=""  /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section8_slide2.png" alt="step2" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section8_slide3.png" alt="step3" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section8_slide4.png" alt="step4" /></div>
			</div>
			<div class="fullservice-phone">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section8_phone.png" alt="풀서비스 휴대폰 이미지"  />
			</div>
		</div>
	</div>

	<div class="sector" id="section10">
		<div class="wrap">
			<div class="title">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section10_title.png" alt="점수가 안오르는 뻔-한 토익 AI 앱" />
			</div>
			<div class="sub">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section10_sub.png" alt="근거문구"  />
			</div>
			
			<div class="talk-wrap">
				<div class="talk-list">
					<div class="talk_left scroll-animate motion-up-1">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section10_talk1.png" alt="문제도 뻔하고" />
					</div>
					<div class="talk_left scroll-animate motion-up-1">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section10_talk2.png" alt="정확도 낮으니까" />
					</div>
					<div class="talk_left scroll-animate motion-up-1">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section10_talk3.png" alt="점수는 그대로" />
					</div>
					<div class="talk_left scroll-animate motion-up-1">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section10_talk4.png" alt="새로운 거 없어?" />
					</div>
					<div class="talk_right scroll-animate motion-up-1">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section10_talk5.png" alt="에듀윌 토익 AI" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="sector" id="section11">
		<div class="wrap">
			<div class="title">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section11_title.png" alt="쉬운 토익 공식 혁신하다"  />
			</div>
			@* <div class="app-phone">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section11_phone.png" alt="토익 앱 모바일 화면"/>
			</div> *@
			<div class="app-container">
				<div>
					<div class="label">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/app_logo.gif" alt="토익 앱 모바일 gif"/>
					</div>
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section11_slide1_220314.png" alt="토익 앱 모바일 01"/>
				</div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section11_slide2_220314.png" alt="토익 앱 모바일 02"/></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section11_slide3_220314.png" alt="토익 앱 모바일 03"/></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section11_slide4_220314.png" alt="토익 앱 모바일 04"/></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section11_slide5_220314.png" alt="토익 앱 모바일 05"/></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section11_slide6_220314.png" alt="토익 앱 모바일 06"/></div>
			</div>
		</div>
	</div>

	<div class="sector" id="section12">
		<div class="wrap">
			<!-- <div class="title-wrap">
				<div class="label">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section12_label.png" alt="런칭 즉시 검색량 1위" />
				</div>
				<div class="title">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section12_title.png" alt="런칭 즉시 검색량 1위" />
				</div>
				<div class="txt">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section12_txt.png" alt="런칭 즉시 검색량 1위" />
				</div>
				<div class="sub">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section12_sub.png" alt="런칭 즉시 검색량 1위" />
				</div>
			</div>
			<div class="trophy">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section12_trophy.png" alt="런칭 즉시 검색량 1위" />
			</div> -->
			<div class="content">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section12_txt.png" alt="업계최고" />
			</div>
		</div>
	</div>

	<div class="sector" id="section13">
		<div class="wrap">
			<video autoplay="" loop="" muted="" playsinline="" class="video-background" poster="//img.eduwill.net/Img2/mobile/brand/item/main/common/video_poster.png">
				<source src="//pmp.eduwill.net/eduwillpmp/eduwill/flv/20201230/mo_global_main2.mp4" type="video/mp4">
			</video>
			<div class="object object1">
				<div class="title-1">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section13_title1_1.png" alt="업계최고" />
				</div>
				<div class="title-2">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section13_title1_2.png" alt="런칭 즉시 1위" />
				</div>
				<div class="title-3">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section13_title1_3.png" alt="에듀윌 토익 런칭 직후부터 변함없는 브랜드 검색량 1위" />
				</div>
			</div>

			<div class="object object2">
				<div class="title-1">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section13_title2_1.png" alt="역대최초" />
				</div>
				<div class="title-2">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section13_title2_2.png" alt="100% 무료" />
				</div>
				<div class="title-3">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section13_title2_3.png" alt="최고 퀄리티 에듀윌 토익 인강 전국 토익커 100% 무료 제공" />
				</div>
			</div>
			<div class="sub">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section13_sub.png" alt="근거문구" />
			</div>
		</div>
	</div>

	<div class="sector" id="section14">
		<div class="wrap">
			<div class="free-title">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section14_title.png" alt="런칭 즉시 1위 에듀윌 토익 여러분이 만들어주셨습니다" />
			</div>
			<!-- 0313 앵커추가 -->
			<div class="free-contents" id="section14-anchor">
				<div class="teacher">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/img_free_conts.png" alt="무료제공 선생님 & 책 이미지" />
				</div>
				<div class="title">
					<!-- 비로그인 시 -->
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section14_txt1.png" alt="감사합니다!" />
					<!-- 로그인 시 -->
					<!-- <img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section14_txt2.png" alt="100% 무료" /> -->
				</div>
				<div class="point">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section14_point.png" alt="466,000원 상당" />
				</div>
				<div class="btn-wrap">
					<!-- 비로그인 시 -->
					<a href="javascript:;" class="btn free">지금 바로 무료 받기</a>
					<!-- 로그인 시 -->
					<div class="btn review">
						<span class="cursorItem"></span>
						<input type="text" placeholder="기대평 쓰고 전 강좌 즉시 무료 받기">
						<a href="javascript:;">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section14_icon.png" alt="퀵 아이콘" />
						</a>
					</div>
				</div>
				<div class="sub"> 
					<!-- 비로그인 시 -->
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section14_sub1.png" alt="근거문구" />
					<!-- 로그인 시 -->
					<!-- <img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section14_sub2.png" alt="근거문구" /> -->
				</div>
			</div>
		</div>
	</div>

	<div class="sector" id="section15">
		<div class="wrap">
			<div class="title">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section15_title.png" alt="에듀윌 토익, 여러분의 한 마디로 쉬운 토익의 역사를 써 내려갑니다." />
			</div>
			<div class="review-list-wrap">
				<div class="review-container">
					<div class="review-list"><p class="text">무료 서비스가 진짜 많다</p> <p class="name">김 * 은</p></div>
					<div class="review-list"><p class="text">이 많은 강의가 다 무료라고?</p> <p class="name">박 * 영</p></div>
					<div class="review-list"><p class="text">강의 받고 취뽀 가보자고! 제발 제발</p> <p class="name">장 * 희</p></div>
					<div class="review-list"><p class="text">강의력 상상이상이다</p> <p class="name">강 * 원</p></div>
					<div class="review-list"><p class="text">진짜 쉬웠으면 좋겠다!! 나 토익만 2년째...</p> <p class="name">천 * 진</p></div>
					<div class="review-list"><p class="text">교재가 이렇게 쉽다니</p> <p class="name">이 * 슬</p></div>
					<div class="review-list"><p class="text">에듀윌 자격증만 있는 줄 알았는데<br />드디어 토익도 하는구나</p> <p class="name">이 * 진</p></div>
					<div class="review-list"><p class="text">무료 서비스가 진짜 많다</p> <p class="name">김 * 은</p></div>
					<div class="review-list"><p class="text">이 많은 강의가 다 무료라고?</p> <p class="name">박 * 영</p></div>
					<div class="review-list"><p class="text">강의 받고 취뽀 가보자고! 제발 제발</p> <p class="name">장 * 희</p></div>
					<div class="review-list"><p class="text">강의력 상상이상이다</p> <p class="name">강 * 원</p></div>
					<div class="review-list"><p class="text">진짜 쉬웠으면 좋겠다!! 나 토익만 2년째...</p> <p class="name">천 * 진</p></div>
					<div class="review-list"><p class="text">교재가 이렇게 쉽다니</p> <p class="name">이 * 슬</p></div>
					<div class="review-list"><p class="text">에듀윌 자격증만 있는 줄 알았는데<br />드디어 토익도 하는구나</p> <p class="name">이 * 진</p></div>
				</div>
			</div>
		</div>
	</div>

	<div class="sector" id="section16">
		<div class="wrap">
			<div class="service-wrap">
				<div class="service-title">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/section16_title.png" alt="누구나 빠르고 쉽게 토익 끝내줄 에듀윌 토익 무료 학습 서비스" />
				</div>
				<div class="service-list">
					<ul>
						<li>
							<a href="https://toeic.eduwill.net/toeic/voca" target="_blank">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/service_list1.png" alt="기출 보카 시험지" />
							</a>
						</li>
						<li>
							<a href="https://toeic.eduwill.net/toeic/leveltest/" target="_blank">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/service_list2.png" alt="1분 레벨테스트" />
							</a>
						</li>
						<li>
							<a href="https://toeic.eduwill.net/toeic/placetest" target="_blank">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/service_list3.png" alt="무료 배치고사" />
							</a>
						</li>
						<li>
							<a href="https://toeic.eduwill.net/toeic/mocktest" target="_blank">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/service_list4.png" alt="무료 실전 모의고사" />
							</a>
						</li>
						<li>
							<a href="https://toeic.eduwill.net/toeic/calculator" target="_blank">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/service_list5.png" alt="토익 점수 계산기" />
							</a>
						</li>
						<li>
							<a href="https://toeic.eduwill.net/toeic/everyday" target="_blank">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/service_list6.png" alt="매일 LCRC 풀기" />
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="sector sector-promotion" id="section17">
		@Html.Partial(viewPath + "_SocialEvent.cshtml")
	</div>
	
@* 
	<div class="sector-floating ">
        <div class="wrap">
            <a href="#section14-anchor" class="page-move">
                토익 전 강좌
                <span><em>466,000</em>원</span>
                <em>0</em>원 받기
            </a>
        </div>
    </div> *@

	<div class="sector-floating2">
		<div class="wrap">
			<a href="#section14-anchor" class="page-move">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/mobile/floating_banner.png" alt="" />
			</a>
		</div>
	</div>

	<!-- <div class="sector sector-footer" id="section8" >
		<div data-eduwill-eco-content="647"></div>
		<div data-eduwill-eco-content="9"></div>
	</div> -->
</div>

@Html.Partial(viewPath + "_ContentM.cshtml")
