@{
	string viewPath = ((RazorView)ViewContext.View).ViewPath;
	viewPath = viewPath.Remove(viewPath.LastIndexOf('/') + 1);
}

@{
	string cssUrl = ViewBag.IsLocal
		? "/Content/2022/_115/event/220314_4/css/web.css"	// local 경로
		: "//img.eduwill.net/eduwill/css/2022/_115/event/220314_4/web.css";	// ftp 경로
}

<link rel="stylesheet" type="text/css" href="//img.eduwill.net/eduwill/live/css/common/socialEvent/web.css">
<link rel="stylesheet" type="text/css" href="@cssUrl" />

<div id="contents" class="promotion">
	<div class="sector-header">
		<div class="wrap">
			<h1 class="logo"><a href="javascript:;">에듀윌 토익</a></h1>
			<div class="gnb">
				<ul>
					<li><a href="javascript:;">스타강사</a></li>
					<li><a href="javascript:;">토익정답</a></li>
					<li><a href="javascript:;">토익교재</a></li>
				</ul>
				<div class="mypage">
					<a href="javascript:;" class="login">로그인</a>
					<a href="javascript:;" class="logout" style="display:none;">로그아웃</a>
				</div>

			</div>
		</div>
	</div>

	<div class="floating-1">
		<a href="javascript:showMoveSection(14);"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/floating_1.png" alt="" /></a>
	</div>

	<div class="pagination">
		<ul>
			<li ><a href="javascript:showMoveSection(1);"><span>에듀윌 토익</span><em></em></a></li>
			<li ><a href="javascript:showMoveSection(3);"><span>업계 최대 혜택</span><em></em></a></li>
			<li><a href="javascript:showMoveSection(4);"><span>쉬운 토익 공식</span><em></em></a></li>
			<li><a href="javascript:showMoveSection(5);"><span>공부는 줄이고</span><em></em></a></li>
			<li><a href="javascript:showMoveSection(7);"><span>점수는 더해서</span><em></em></a></li>
			<li><a href="javascript:showMoveSection(9);"><span>불가능을 가능으로</span><em></em></a></li>
			<li><a href="javascript:showMoveSection(11);"><span>토익을 혁신하다</span><em></em></a></li>
			<li><a href="javascript:showMoveSection(13);"><span>1위 에듀윌 토익</span><em></em></a></li>
			<li><a href="javascript:showMoveSection(14);"><span>전 강좌 무료</span><em></em></a></li>
			<li><a href="javascript:showMoveSection(16);"><span>무료 학습 서비스</span><em></em></a></li>
		</ul>
	</div>

	<div class="sector" id="section1">
		@* <div class="bg-video"></div> *@

		<div class="rolling-list">
			<div class="rolling" >
			</div>
		</div>

		<div class="wrap">
			<div class="motion title-1"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section1_title1.png" alt="" /></div>
			<div class="motion title-2"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section1_title2.png" alt="" /></div>
			<div class="motion title-3"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section1_title3.png" alt="" /></div>
		</div>
	
		<div class="btn-scroll"><a href="javascript:showMoveSection(2);"><span></span></a></div>


		<div class="floating-2">
			<a href="javascript:showMoveSection(14);"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/floating_2.png" alt="" /></a>
		</div>
	</div>

	<div class="sector" id="section2">
		<div class="bg-video"></div>
		<div class="btn-scroll"><a href="javascript:showMoveSection(3);"><span></span></a></div>
		<a href="javascript:;" class="btn-mute "></a>
	</div>

	<div class="sector" id="section3">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section3_content2.png" alt="" />
			<div class="btn-price">
				<a href="javascript:;">
					<span class="before-price effect-blink ">466,000원</span>
					<span class="after-price effect-blink ">0원 받기</span>
				</a>
			</div>
		</div>
		<div class="cover"></div>
	</div>


	<div class="sector" id="section4">
		<div class="section4-bg">
			<div class="bg-1"></div>
			<div class="bg-2"></div>
			<div class="bg-3"></div>
			<div class="bg-4"></div>
		</div>
		<!-- 0314 추가 -->
		<div class="section4-dimmed"></div>
		<div class="section4-object section4-obj1 active">
			<div class="title-1"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section4_title1_1.png" alt="" /></div>
			<div class="title-2"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section4_title1_2.png" alt="" /></div>
			<div class="title-line"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section4_line.png" alt="" /></div>
			<div class="title-end"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section4_end.png" alt="" /></div>
		</div>

		<div class="section4-object section4-obj2">
			<div class="title-1"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section4_title2_1.png" alt="" /></div>
			<div class="title-2"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section4_title2_2.png" alt="" /></div>
			<div class="title-line"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section4_line.png" alt="" /></div>
			<div class="title-end"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section4_end.png" alt="" /></div>
		</div>

		<div class="section4-object section4-obj3">
			<div class="section4-title1"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section4_title3_1.png" alt="" /></div>
			<div class="section4-title2"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section4_title3_2.png" alt="" /></div>
		</div>

		<div class="section4-object section4-obj4">
			<div class="paint-1"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section4_paint1.png" alt="" /></div>
			<div class="paint-2"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section4_paint2.png" alt="" /></div>
			<div class="paint-3"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section4_paint3.png" alt="" /></div>

			<div class="section4-text1"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section4_text1.png" alt="" /></div>
			<div class="section4-text2"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section4_text2.png" alt="" /></div>
			<div class="section4-text3"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section4_text3.png" alt="" /></div>

		</div>
	</div> 
	
	<div class="sector" id="section5">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section5_title.png" alt="" />
			<div class="book-list-wrap">
				<div class="book-list1"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section5_book4.png" alt="" /></div>
				<div class="book-list2"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section5_book1.png" alt="" /></div>
				<div class="book-list3"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section5_book2.png" alt="" /></div>
				<div class="book-list4"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section5_book3.png" alt="" /></div>
			</div>
		</div>

	</div> 

	<div class="sector" id="section6">
		<div class="wrap">
			<div class="book-list-wrap">
				<ul class="book-list">
					<li><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section6_book1_off.jpg" alt=""  /></li>
					<li><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section6_book2_off.jpg" alt=""  /></li>
					<li><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section6_book3_off.jpg" alt=""  /></li>
					<li><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section6_book4_off.jpg" alt=""  /></li>
				</ul>
				<div class="book-view book-view1">
					<div class="book-title">
						<div class="subject">토익 최신 기출 경향이 반영된 핵심 어휘 엄선</div>
						<div class="desc">실제 토익 시험에 출제된 최빈출 순으로 핵심 단어를 수록하여<br/>꼭 필요한 단어만 암기할 수 있도록 효율적인 어휘 암기 방법을 제공합니다.</div>
					</div>
					<div class="book-paper">
						<div class="paper-container">
							<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/book_slide1_1.png" alt=""  /></div>
							<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/book_slide1_2.png" alt=""  /></div>
							<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/book_slide1_3.png" alt=""  /></div>
						</div>
					</div>
				</div>
				<div class="book-view book-view2">
					<div class="book-title">
						<div class="subject">토익 리스닝에 필요한 기초 학습 내용 제공</div>
						<div class="desc">시제와 태 익히기, 유사 발음 구별 등 리스닝에 필요한 기초 학습 내용을 파트별로 구성하여<br/>토익 입문자들이 리스닝의 기본기를 쌓을 수 있도록 합니다.</div>
					</div>
					
					<div class="book-paper">
						<div class="paper-container">
							<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/book_slide2_1.png" alt=""  /></div>
							<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/book_slide2_2.png" alt=""  /></div>
							<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/book_slide2_3.png" alt=""  /></div>
						</div>
					</div>

				</div>
				<div class="book-view book-view3">
					<div class="book-title">
						<div class="subject">복잡한 문법 개념도 간단한 예문으로 쉽게 정리</div>
						<div class="desc">구구절절한 설명이 아닌 단순한 예문으로 복잡한 문법 개념을 쉽게 정리하고<br/>기출 변형 문제로 학습한 내용을 적용하는 연습을 합니다.</div>
					</div>
					<div class="book-paper">
						<div class="paper-container">
							<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/book_slide3_1.png" alt=""  /></div>
							<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/book_slide3_2.png" alt=""  /></div>
							<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/book_slide3_3.png" alt=""  /></div>
						</div>
					</div>
				</div>
				<div class="book-view book-view4">
					<div class="book-title">
						<div class="subject">최신 기출 경향 100%반영 실전 모의고사</div>
						<div class="desc">실제 토익 시험과 동일한 구성과 난이도로 최신 기출 경향을 반영한 실전 모의고사로<br/>시험 직전 최종 점검을 할 수 있도록 문제집과 해설집을 한 권으로 모두 제공합니다.</div>
					</div>
					<div class="book-paper">
						<div class="paper-container">
							<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/book_slide4_1.png" alt=""  /></div>
							<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/book_slide4_2.png" alt=""  /></div>
							<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/book_slide4_3.png" alt=""  /></div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="sector" id="section7">
		<div class="bg-1"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section7_bg1.png" alt="" /></div>
		<div class="bg-2"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section7_bg2.png" alt="" /></div>
		<div class="wrap">
			<div class="title"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section7_title.png" alt="" /></div>
			<div class="content"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section7_teacher.png" alt="" /></div>
		</div>
	</div>

	<div class="sector" id="section8">
		<div class="section8-bg">
			<div class="bg-1"></div>
			<div class="bg-2"></div>
			<div class="bg-3"></div>
		</div>
		<div class="section8-object section8-obj1 active">
			<div class="teacher-name">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/sellin_name.png" alt="" />
			</div>
			<div class="wrap">
				<div class="teacher-left"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/guwon_small.png" alt="" /></div>
				<div class="teacher-right"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/choeyeongjun_small.png" alt="" /></div>
				<div class="teacher-main"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/sellin_teacher_s.png" alt="" /></div>
				<div class="teacher-text">
					<p class="desc">
						누구보다 Light하게 점수 Light 켜 줄게!<br/>
						그동안의 어려웠던 토익,<br/>
						셀린쌤만 믿고 따라오면 쉬워집니다
					</p>
					<p class="subject">
						토포자들을 구원할<br/>
						한 줄기 빛
					</p>
				</div>
				<a href="javascript:;" class="icon-home"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/icon_home.png" alt="" /></a>
			</div>
		</div>
		<div class="section8-object section8-obj2">
			<div class="teacher-name">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/choeyeongjun_name.png" alt="" />
			</div>
			<div class="wrap">
				<div class="teacher-left"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/sellin_small.png" alt="" /></div>
				<div class="teacher-right"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/guwon_small.png" alt="" /></div>
				<div class="teacher-main"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/choeyeongjun_teacher_s.png" alt="" /></div>
				<div class="teacher-text">
					<p class="desc">
						알파벳만 알아도 OK<br/>
						영포자도 문제풀이 1초 컷<br/>
						영준쌤만 따라오면 토익의 신세계가 펼쳐집니다
					</p>
					<p class="subject">
						0점도 990점으로<br/>
						끝내 줄게
					</p>
				</div>
				<a href="javascript:;" class="icon-home"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/icon_home.png" alt="" /></a>
			</div>
		</div>

		<div class="section8-object section8-obj3">
			<div class="teacher-name">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/guwon_name.png" alt="" />
			</div>
			<div class="wrap">
				<div class="teacher-left"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/choeyeongjun_small.png" alt="" /></div>
				<div class="teacher-right"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/sellin_small.png" alt="" /></div>
				<div class="teacher-main"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/guwon_teacher_s.png" alt="" /></div>
				<div class="teacher-text">
					<p class="desc">
						토익 50회 이상 990점 만점, 기출 분석 라이브 10년<br/>
						내공으로 쌓아 올린 고득점 신화<br/>
						따라가기만 하면 점수는 오른다!
					</p>
					<p class="subject">
						해석 없는<br/>
						990점 구원 공식
					</p>
				</div>
				<a href="javascript:;" class="icon-home"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/icon_home.png" alt="" /></a>
			</div>
		</div>
	</div>
	<div class="sector" id="section9">
		<div class="wrap">
			<div class="title"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section9_title.png" alt="" /></div>
			<div class="phone"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section9_phone.png" alt="" /></div>
		</div>
	</div>

	<div class="sector" id="section10">
		<div class="wrap">
			<div class="fullservice-left">
				<div class="fullservice-title"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section10_title.png" alt="" /></div>

				<div class="fullservice-text">
					<div class="step">STEP1</div>
					<div class="subject">시험 직전 구원 특강 </div>
					<div class="desc">딱 나올 최신 경향 문제만 모아<br/>단 10분이면 실전 대비 끝!</div>
					<div class="action">
						<a href="javascript:;" ><span class="effect-blink">3/27 시험대비 인강 무료</span></a>
					</div>
				</div>
			</div>

			<div class="fullservice-right">
				<div class="fullservice-container">
					<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section10_slide4.png" alt=""  /></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section10_slide1.gif" alt=""  /></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section10_slide2.png" alt=""  /></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section10_slide3.png" alt=""  /></div>
				</div>
				<div class="fullservice-phone"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section10_phone.png" alt=""  /></div>
			</div>
		</div>
	</div>

	<div class="sector" id="section11">
		<div class="wrap">
			<div class="talk-wrap">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section11_phone.png" alt="" />
				<div class="talk-list">
					<div class="talk-left"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section11_talk1.png" alt="" /></div>
					<div class="talk-left"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section11_talk2.png" alt="" /></div>
					<div class="talk-left"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section11_talk3.png" alt="" /></div>
					<div class="talk-left"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section11_talk4.png" alt="" /></div>
					<div class="talk-right"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section11_talk5.png" alt="" /></div>
				</div>
			</div>
			<div class="title"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section11_title.png" alt="" /></div>
		</div>
	</div>

	<div class="sector" id="section12">
		<div class="wrap">
			<div class="app-left">
				<div class="app-title"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section12_title.png" alt="" /></div>
				<div class="app-container">
					<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section12_slide1.png" alt=""  /></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section12_slide2.png" alt=""  /></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section12_slide3.png" alt=""  /></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section12_slide4.png" alt=""  /></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section12_slide5.png" alt=""  /></div>
				</div>
			</div>
			<div class="app-right">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section12_phone.png" alt="" />
				<div class="app-logo">	<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/app_logo.gif" alt="" /></div>
			</div>
			
		</div>
	</div>

	<div class="sector" id="section13">
		<div class="section13-video">
			<video class="video" autoplay="" muted="" loop="" playsinline="" controlslist="nodownload"><source src="https://pmp.eduwill.net/eduwillpmp/eduwill/flv/20201230/pc_global_main2.mp4" type="video/mp4"></video>
		</div>
		<div class="section13-bg">
			<div class="bg-1"></div>
			<div class="bg-2"></div>
			<div class="bg-3"></div>
			<div class="bg-4"></div>
		</div>

		<div class="section13-object section13-obj1 active">
			<div class="wrap">
				<div class="title-wrap">
					<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section13_title1_1.png" alt="" /></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section13_title1_2.png" alt="" /></div>
				</div>
			</div>
		</div>
		<div class="section13-object section13-obj2">
			<div class="wrap">
				<div class="title-wrap">
					<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section13_title2_1.png" alt="" /></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section13_title2_2.png" alt="" /></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section13_title2_3.png" alt="" /></div>
				</div>
				<div class="notice">*주요 5개 토익업체 간의 네이버 검색어 트렌드 검색량 비교 결과(2022.02.28 기준, 에듀윌 82vs타사 8~71)</div>
			</div>
		</div>
		<div class="section13-object section13-obj3">
			<div class="wrap">
				<div class="title-wrap">
					<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section13_title3_1.png" alt="" /></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section13_title3_2.png" alt="" /></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section13_title3_3.png" alt="" /></div>
				</div>
				<div class="notice">*에듀윌 토익 교재의 입문~실전 인강 전 강좌 무료 제공 (2022년 최신 강좌 기준/109강)</div>
			</div>
		</div>
		<div class="section13-object section13-obj4">
			<div class="wrap">
				<div class="title-wrap">
					<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section13_title4_1.png" alt="" /></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section13_title4_2.png" alt="" /></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section13_title4_3.png" alt="" /></div>
				</div>
			</div>
		</div>
	</div>

	<div class="sector" id="section14">
		@* 로그인전 *@
		<div class="wrap logout" style="display:none;">
			<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section14_logout2.png" alt="" />
			<p class="notice">*466,000원 상당</p>
			<div class="action">
				<a href="javascript:;">
					<span  class="effect-blink">지금 바로 무료 받기</span>
				</a>
			</div>
			<div class="desc">
				*에듀윌 토익 교재의 입문~실전 인강 전 강좌 무료 제공 (2022년 최신 강좌 기준/109강)<br/>
				*주요 5개 토익 업체 간의 네이버 검색어 트렌드 검색량 비교 결과(2022.02.28 기준, 에듀윌 82vs타사 8~71)
			</div>
		</div>
		

		@* 로그인후 *@
		<div class="wrap login"  >
			<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/section14_login2.png" alt="" />
			<p class="notice">*466,000원 상당</p>
			<div class="action">
				<a href="javascript:;">
					<span>교재 보러 가기</span>
				</a>
			</div>
			<div class="form-control">
				<div class="form-title">에듀윌 토익,</div>
				<div class="form-input">
					<span class="cursorItem effect-blink "></span>
					<input type="text" class="ipt" autofocue placeholder="기대평 쓰고 전 강좌 즉시 무료 받기" />
					<a href="javascript:alert('기대평등록!');" class="btn-input"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/btn_input.png" alt="" /></a>
				</div>
				<div class="form-notice">
					※ 비방, 욕설, 주제와 관련 없는 글은 관리자에 의해 규제될 수 있습니다.<br/>
					*에듀윌 토익 교재의 입문~실전 인강 전 강좌 무료 제공 (2022년 최신 강좌 기준/109강)<br/>
					*주요 5개 토익 업체 간의 네이버 검색어 트렌드 검색량 비교 결과(2022.02.28 기준, 에듀윌 82vs타사 8~71)
				</div>
			</div>
		</div>
	</div>
	
	<div class="sector" id="section15">
		<div class="wrap">
			<div class="review-wrap">
				<div class="review-title">
					에듀윌 토익, 여러분의 한 마디로<br/>
					쉬운 토익의 역사를 써 내려갑니다.
				</div>
				<div class="review-list-wrap">
					<div class="review-container">
						<div class="review-list"><p class="text">무료 서비스가 진짜 많다</p> <p class="name">김 * 은</p></div>
						<div class="review-list"><p class="text">강의 받고 취뽀 가보자고! 제발 제발</p> <p class="name">박 * 영</p></div>
						<div class="review-list"><p class="text">강의력 상상이상이다 </p> <p class="name">장 * 희</p></div>
						<div class="review-list"><p class="text">진짜 쉬웠으면 좋겠다!! 나 토익만 2년째... </p> <p class="name">강 * 원</p></div>
						<div class="review-list"><p class="text">교재가 이렇게 쉽다니 </p> <p class="name">천 * 진</p></div>
						<div class="review-list"><p class="text">에듀윌 자격증만 있는 줄 알았는데 드디어 토익도 하는구나 </p> <p class="name">이 * 슬</p></div>
						<div class="review-list"><p class="text">무료 서비스가 진짜 많다</p> <p class="name">이 * 진</p></div>
						<div class="review-list"><p class="text">무료 서비스가 진짜 많다</p> <p class="name">김 * 은</p></div>
						<div class="review-list"><p class="text">강의 받고 취뽀 가보자고! 제발 제발</p> <p class="name">박 * 영</p></div>
						<div class="review-list"><p class="text">강의력 상상이상이다 </p> <p class="name">장 * 희</p></div>
						<div class="review-list"><p class="text">진짜 쉬웠으면 좋겠다!! 나 토익만 2년째... </p> <p class="name">강 * 원</p></div>
						<div class="review-list"><p class="text">교재가 이렇게 쉽다니 </p> <p class="name">천 * 진</p></div>
						<div class="review-list"><p class="text">에듀윌 자격증만 있는 줄 알았는데 드디어 토익도 하는구나 </p> <p class="name">이 * 슬</p></div>
						<div class="review-list"><p class="text">무료 서비스가 진짜 많다</p> <p class="name">이 * 진</p></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="sector" id="section16">
		<div class="wrap">
			<div class="service-wrap">
				<div class="service-title"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/service_title.png" alt="" /></div>
				<div class="service-list">
					<ul>
						<li>
							<a href="https://toeic.eduwill.net/toeic/voca" target="_blank">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/service_list1.png" alt="" />
								<div class="over">
									<div class="over-bg"></div>
									<div class="over-text">
										<p>
											최신 기출 어휘 반영<br/>
											데일리 보카 테스트로<br/>
											저절로 단어 암기
										</p>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="https://toeic.eduwill.net/toeic/leveltest/" target="_blank">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/service_list2.png" alt="" />
								<div class="over">
									<div class="over-bg"></div>
									<div class="over-text">
										<p>
											딱 1분 테스트로<br/>
											토익 맞춤 공부법을<br/>
											제안해드려요
										</p>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="https://toeic.eduwill.net/toeic/placetest" target="_blank">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/service_list3.png" alt="" />
								<div class="over">
									<div class="over-bg"></div>
									<div class="over-text">
										<p>
											1:1 성적 분석으로<br/>
											토익 취약점과 공부법을<br/>
											파악할 수 있어요
										</p>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="https://toeic.eduwill.net/toeic/mocktest" target="_blank">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/service_list4.png" alt="" />
								<div class="over">
									<div class="over-bg"></div>
									<div class="over-text">
										<p>
											최신 기출 유형 반영<br/>
											무료 모의고사로<br/>
											막판 시험 대비
										</p>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="https://toeic.eduwill.net/toeic/calculator" target="_blank">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/service_list5.png" alt="" />
								<div class="over">
									<div class="over-bg"></div>
									<div class="over-text">
										<p>
											맞힌/틀린 문제 개수로<br/>
											내 토익 점수를<br/>
											예측 해드려요
										</p>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="https://toeic.eduwill.net/toeic/everyday" target="_blank">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/service_list6.png" alt="" />
								<div class="over">
									<div class="over-bg"></div>
									<div class="over-text">
										<p>
											시험에 나올 문제로<br/>
											딱 필요한 만큼만<br/>
											데일리로 공부해요
										</p>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="sector sector-promotion" id="section17">
		@Html.Partial(viewPath + "_SocialEvent.cshtml")
	</div>

	<div class="sector sector-footer" id="section18" >
		<div data-eduwill-eco-content="647"></div>
		<div data-eduwill-eco-content="9"></div>
	</div>
</div>

@Html.Partial(viewPath + "_ContentW.cshtml")