@charset "UTF-8";
.grid, .product-lecture .tab-list {
  *zoom: 1;
}

.grid:before, .product-lecture .tab-list:before, .grid:after, .product-lecture .tab-list:after {
  content: '';
  display: table;
}

.grid:after, .product-lecture .tab-list:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid, .product-lecture .tab-list {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col, .product-lecture .tab-list .col, .product-lecture .tab-list a {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.table {
  display: table;
  width: 100%;
}

.table .table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.product-eco .product-slide .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  font-size: 0;
  color: transparent;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

button {
  overflow: visible;
  border-radius: 0;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  width: auto;
  outline: 0;
  cursor: pointer;
}

.dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1001;
  width: 90%;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  margin: 0;
  padding: 0;
}

.popup .popup-body {
  padding: 0.78125rem;
  text-align: left;
  line-height: 1.4;
  font-size: 2.5vw;
  font-weight: 400;
  color: #222;
  border: 2px solid #f44747;
  background-color: #fff;
}

@media screen and (min-width: 720px) {
  .popup .popup-body {
    padding: 25px;
  }
}

@media screen and (min-width: 720px) {
  .popup .popup-body {
    font-size: 18px;
  }
}

.popup .popup-body > div {
  margin-top: 20px;
}

.popup .popup-body > div:first-child {
  margin-top: 0;
}

.popup .popup-close {
  position: absolute;
  top: -40px;
  right: 0;
}

.popup .popup-close button {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 40px;
  height: 40px;
}

.popup .popup-close button:before, .popup .popup-close button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 1px;
  margin-left: -10px;
  background-color: #fff;
}

.popup .popup-close button:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup .popup-close button:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup .popup-close button span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup.popup-video {
  max-width: 640px;
}

@media screen and (min-width: 720px) {
  .popup.popup-video {
    max-width: 1000px;
  }
}

.popup.popup-video .video-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup.popup-base, .popup.popup-teacher1, .popup.popup-teacher2 {
  max-width: 1000px;
}

@media screen and (min-width: 720px) {
  .popup.popup-base, .popup.popup-teacher1, .popup.popup-teacher2 {
    max-width: 1000px;
  }
}

.popup.popup-base .popup-body, .popup.popup-teacher1 .popup-body, .popup.popup-teacher2 .popup-body {
  padding: 0.625rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-base .popup-body, .popup.popup-teacher1 .popup-body, .popup.popup-teacher2 .popup-body {
    padding: 20px;
  }
}

.popup.popup-base .popup-body .eco-base > *, .popup.popup-teacher1 .popup-body .eco-base > *, .popup.popup-teacher2 .popup-body .eco-base > * {
  display: none;
}

.popup.popup-base .popup-body .eco-base .survey1, .popup.popup-base .popup-body .eco-base .book, .popup.popup-base .popup-body .eco-base .curriculum, .popup.popup-base .popup-body .eco-base .source5, .popup.popup-base .popup-body .eco-base .source6, .popup.popup-teacher1 .popup-body .eco-base .survey1, .popup.popup-teacher1 .popup-body .eco-base .book, .popup.popup-teacher1 .popup-body .eco-base .curriculum, .popup.popup-teacher1 .popup-body .eco-base .source5, .popup.popup-teacher1 .popup-body .eco-base .source6, .popup.popup-teacher2 .popup-body .eco-base .survey1, .popup.popup-teacher2 .popup-body .eco-base .book, .popup.popup-teacher2 .popup-body .eco-base .curriculum, .popup.popup-teacher2 .popup-body .eco-base .source5, .popup.popup-teacher2 .popup-body .eco-base .source6 {
  display: block;
}

.popup.popup-base .popup-body .eco-base > p, .popup.popup-teacher1 .popup-body .eco-base > p, .popup.popup-teacher2 .popup-body .eco-base > p {
  padding-left: 0.46875rem;
  text-indent: -0.46875rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-base .popup-body .eco-base > p, .popup.popup-teacher1 .popup-body .eco-base > p, .popup.popup-teacher2 .popup-body .eco-base > p {
    padding-left: 15px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-base .popup-body .eco-base > p, .popup.popup-teacher1 .popup-body .eco-base > p, .popup.popup-teacher2 .popup-body .eco-base > p {
    text-indent: -15px;
  }
}

.product-eco {
  overflow-x: hidden;
}

.product-eco * {
  line-height: normal;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.product-eco .container {
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
}

.product-eco .wrap {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  width: 100%;
}

.product-eco .holder {
  position: relative;
}

.product-eco p {
  margin: 0;
  font-size: 2.77778vw;
}

@media screen and (min-width: 720px) {
  .product-eco p {
    font-size: 20px;
  }
}

.product-eco .text.text-1 p,
.product-eco .text.text-2 p {
  color: #222 !important;
}

.product-eco .box .box-inner {
  padding: 3.125rem 1.5625rem;
}

@media screen and (min-width: 720px) {
  .product-eco .box .box-inner {
    padding: 100px 50px;
  }
}

.product-eco .box .box-inner img + img {
  margin-top: 1.25rem;
}

@media screen and (min-width: 720px) {
  .product-eco .box .box-inner img + img {
    margin-top: 40px;
  }
}

.product-eco .box-shadow, .product-eco .box, .product-eco .product-reason1 .product-slide, .product-reason1 .product-eco .product-slide, .product-eco .product-lecture .lecture-tab-list, .product-lecture .product-eco .lecture-tab-list, .product-eco .product-reason5 .wrap, .product-reason5 .product-eco .wrap {
  position: relative;
}

.product-eco .box-shadow:after, .product-eco .box:after, .product-eco .product-reason1 .product-slide:after, .product-reason1 .product-eco .product-slide:after, .product-eco .product-lecture .lecture-tab-list:after, .product-lecture .product-eco .lecture-tab-list:after, .product-eco .product-reason5 .wrap:after, .product-reason5 .product-eco .wrap:after {
  z-index: 1;
  content: '';
  position: absolute;
  top: 100%;
  right: 5%;
  left: 5%;
  width: 90%;
  height: 0.8125rem;
  background: url("https://img.eduwill.net/eduwill/img/2021/5/product/211008/mobile/bg_shadow.jpg") no-repeat center 0;
  background-size: 100% 100%;
}

@media screen and (min-width: 720px) {
  .product-eco .box-shadow:after, .product-eco .box:after, .product-eco .product-reason1 .product-slide:after, .product-reason1 .product-eco .product-slide:after, .product-eco .product-lecture .lecture-tab-list:after, .product-lecture .product-eco .lecture-tab-list:after, .product-eco .product-reason5 .wrap:after, .product-reason5 .product-eco .wrap:after {
    height: 26px;
  }
}

.product-eco .eco-base > * {
  display: none;
}

.product-eco .tab-view {
  position: relative;
  display: none;
}

.product-eco .tab-view.active {
  display: block;
}

.product-eco .product-slide .slick-slide {
  height: auto;
}

.product-eco .product-slide .slick-arrow {
  width: 1.5625rem;
  height: 1.5625rem;
  margin-top: -0.78125rem;
}

@media screen and (min-width: 720px) {
  .product-eco .product-slide .slick-arrow {
    width: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .product-slide .slick-arrow {
    height: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .product-slide .slick-arrow {
    margin-top: -25px;
  }
}

.product-eco .product-slide .slick-arrow.slick-prev {
  left: 10px;
}

.product-eco .product-slide .slick-arrow.slick-prev:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-width: 0;
  border-style: solid;
  border-color: #132054;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top: none;
  border-right: none;
}

.product-eco .product-slide .slick-arrow.slick-next {
  right: 10px;
}

.product-eco .product-slide .slick-arrow.slick-next:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-width: 0;
  border-style: solid;
  border-color: #132054;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom: none;
  border-left: none;
}

.product-eco .product-slide .slick-dots {
  font-size: 0;
}

.product-eco .product-slide .slick-dots li {
  display: inline-block;
  margin: 0 0.21875rem;
}

@media screen and (min-width: 720px) {
  .product-eco .product-slide .slick-dots li {
    margin: 0 7px;
  }
}

.product-eco .product-slide .slick-dots li button {
  width: 0.9375rem;
  height: 0.9375rem;
  font-size: 0;
  text-indent: -9999px;
  border: none;
  border-radius: 0.9375rem;
  background-color: #bbb;
}

@media screen and (min-width: 720px) {
  .product-eco .product-slide .slick-dots li button {
    width: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .product-slide .slick-dots li button {
    height: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .product-slide .slick-dots li button {
    border-radius: 30px;
  }
}

.product-eco .product-slide .slick-dots li.slick-active button {
  width: 2.8125rem;
  background-color: #ffbe00;
}

@media screen and (min-width: 720px) {
  .product-eco .product-slide .slick-dots li.slick-active button {
    width: 90px;
  }
}

.product-top-banner {
  background-color: #ffdc40 !important;
}

.product-title {
  background-color: #e94444;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/5/product/211008/mobile/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-bottom: 5.55556vw;
}

@media screen and (min-width: 720px) {
  .product-title {
    padding-bottom: 40px;
  }
}

.product-title .base-popup-btn {
  position: absolute;
  top: 0.625rem;
  right: 1.5625rem;
  width: 4.1875rem;
}

@media screen and (min-width: 720px) {
  .product-title .base-popup-btn {
    top: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-title .base-popup-btn {
    right: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-title .base-popup-btn {
    width: 134px;
  }
}

.product-title .pop-btn {
  text-align: right;
  width: 12.36111vw;
  position: absolute;
  right: 6.94444vw;
}

@media screen and (min-width: 720px) {
  .product-title .pop-btn {
    width: 89px;
  }
}

@media screen and (min-width: 720px) {
  .product-title .pop-btn {
    right: 50px;
  }
}

.product-title .item.benefit {
  position: relative;
}

.product-title .item.apply {
  position: relative;
  z-index: 1;
}

.product-title .item.apply .title {
  position: absolute;
  top: 9.7479%;
  right: 0;
  left: 0;
  text-align: center;
  font-weight: 700;
  color: #fff;
}

.product-title .item.apply .flag {
  display: inline-block;
  padding: 0.3125rem 0.9375rem;
  font-size: 3.88889vw;
  border-radius: 50px;
  -webkit-animation-name: flagChange;
          animation-name: flagChange;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-title .item.apply .flag {
    padding: 10px 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-title .item.apply .flag {
    font-size: 28px;
  }
}

@-webkit-keyframes flagChange {
  0%, 100% {
    background-color: #ea1d00;
  }
  50% {
    background-color: #1e285d;
  }
}

@keyframes flagChange {
  0%, 100% {
    background-color: #ea1d00;
  }
  50% {
    background-color: #1e285d;
  }
}

.product-title .item.apply .price-box {
  position: absolute;
  top: 37.81513%;
  right: 13.88889%;
  left: 13.88889%;
  text-align: right;
}

.product-title .item.apply .price-discount {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 62px;
  height: 59px;
  text-align: center;
  background: url("https://img.eduwill.net/eduwill/img/2021/5/product/211008/mobile/icon_arrow.png") no-repeat 0 0;
  background-size: 100% auto;
}

@media (min-width: 400px) {
  .product-title .item.apply .price-discount {
    width: 72px;
    height: 69px;
  }
}

@media (min-width: 500px) {
  .product-title .item.apply .price-discount {
    width: 82px;
    height: 79px;
  }
}

@media (min-width: 600px) {
  .product-title .item.apply .price-discount {
    width: 92px;
    height: 89px;
  }
}

@media (min-width: 700px) {
  .product-title .item.apply .price-discount {
    width: 124px;
    height: 118px;
  }
}

.product-title .item.apply .price-discount strong {
  display: block;
  margin-top: 0.3125rem;
  line-height: 1.2;
  font-size: 4.16667vw;
  font-weight: 700;
  color: #fff;
}

@media screen and (min-width: 720px) {
  .product-title .item.apply .price-discount strong {
    margin-top: 10px;
  }
}

@media screen and (min-width: 720px) {
  .product-title .item.apply .price-discount strong {
    font-size: 30px;
  }
}

.product-title .item.apply .price-discount + .price-list .price-after {
  text-align: right !important;
}

.product-title .item.apply .price-before {
  font-size: 4.16667vw;
  font-weight: 500;
  color: #bbb;
  text-decoration: line-through;
}

@media screen and (min-width: 720px) {
  .product-title .item.apply .price-before {
    font-size: 30px;
  }
}

.product-title .item.apply .price-before strong {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-title .item.apply .price-after {
  line-height: 1;
  font-size: 10.83333vw;
  font-weight: 700;
  color: #f4280c;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .product-title .item.apply .price-after {
    font-size: 78px;
  }
}

.product-title .item.apply .price-after strong {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-weight: 900;
}

.product-title .item.apply .action {
  margin-top: 0.625rem;
}

@media screen and (min-width: 720px) {
  .product-title .item.apply .action {
    margin-top: 20px;
  }
}

.product-title .item.apply .action a {
  position: relative;
  display: inline-block;
}

.product-title .item.apply .action a:after {
  content: '';
  position: absolute;
  top: 80%;
  right: 0;
  z-index: 1;
  display: block;
  width: 1.875rem;
  height: 2.0625rem;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounce;
          animation-name: pointerBounce;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-title .item.apply .action a:after {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-title .item.apply .action a:after {
    height: 66px;
  }
}

@-webkit-keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.product-title .item.apply .notice {
  margin-top: 0.625rem;
  text-align: left;
  font-size: 2.77778vw;
  color: #999;
}

@media screen and (min-width: 720px) {
  .product-title .item.apply .notice {
    margin-top: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-title .item.apply .notice {
    font-size: 20px;
  }
}

.product-master {
  background-color: #f4f4f4;
}

.product-spec {
  padding-bottom: 3.625rem;
  background-color: #1e285d;
}

@media screen and (min-width: 720px) {
  .product-spec {
    padding-bottom: 116px;
  }
}

.product-spec .item {
  position: relative;
}

.product-spec .item .eco-base {
  position: absolute;
  top: 28.40237%;
  right: 6.94444%;
  left: 6.94444%;
}

.product-spec .item .eco-base p.source2 {
  display: block;
  color: #a8abba;
  text-align: center;
}

.product-master2 {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left bottom, left top, from(#f6f6f6), color-stop(33%, white), to(white));
  background: linear-gradient(0deg, #f6f6f6 0%, white 33%, white 100%);
}

.product-recommend {
  background-color: #f4f4f4;
  padding-bottom: 13.88889vw;
}

@media screen and (min-width: 720px) {
  .product-recommend {
    padding-bottom: 100px;
  }
}

.product-line {
  background-color: #f54748;
}

.product-line.line2 .eco-base {
  top: 75.5287%;
}

.product-line .wrap:after {
  z-index: 1;
  content: '';
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: block;
  width: 111px;
  height: 26px;
  background: url("https://img.eduwill.net/eduwill/img/2021/5/product/211008/mobile/bg_after.png") repeat-x 0 100%;
  background-size: 100%;
}

.product-brand2 {
  background: url("https://img.eduwill.net/eduwill/img/2021/5/product/211008/mobile/bg_brand2.jpg") no-repeat 0 0;
  background-size: cover;
  position: relative;
}

.product-brand2 .action {
  width: 12.36111vw;
  position: absolute;
  right: 6.94444vw;
  bottom: 6.94444vw;
}

@media screen and (min-width: 720px) {
  .product-brand2 .action {
    width: 89px;
  }
}

@media screen and (min-width: 720px) {
  .product-brand2 .action {
    right: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-brand2 .action {
    bottom: 50px;
  }
}

.product-increase .eco-base {
  position: absolute;
  top: 86.06965%;
  right: 0;
  left: 0;
  text-align: center;
}

.product-increase .eco-base p.rate {
  display: block;
  font-weight: 300;
}

.product-winner {
  background: #f2f2f2;
  background-size: cover;
  padding-bottom: 4.6875rem;
}

@media screen and (min-width: 720px) {
  .product-winner {
    padding-bottom: 150px;
  }
}

.product-winner .product-slide {
  margin: 0 6.94444%;
  margin: 8.33333vw 0px 0px;
  -webkit-box-shadow: 0 2px 0 #f2f2f2;
  box-shadow: 0 2px 0 #f2f2f2;
}

@media screen and (min-width: 720px) {
  .product-winner .product-slide {
    margin: 60px 0px 0px;
  }
}

.product-winner .product-slide .slick-arrow.slick-prev:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-width: 0;
  border-style: solid;
  border-color: #010101;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top: none;
  border-right: none;
}

.product-winner .product-slide .slick-arrow.slick-next:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-width: 0;
  border-style: solid;
  border-color: #010101;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom: none;
  border-left: none;
}

.product-winner .video-list {
  margin: 0 6.94444%;
  margin-top: 1.25rem;
}

@media screen and (min-width: 720px) {
  .product-winner .video-list {
    margin-top: 40px;
  }
}

.product-winner .video-list .video {
  position: relative;
  margin-top: 1.5625rem;
}

@media screen and (min-width: 720px) {
  .product-winner .video-list .video {
    margin-top: 50px;
  }
}

.product-winner .video-list .video:first-child {
  margin-top: 0;
}

.product-winner .video-list .video a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.product-winner .video-list .video a img {
  width: 100%;
}

.product-winner .action {
  text-align: right;
  margin-top: 15px;
  margin-right: 1.5625rem;
}

@media screen and (min-width: 720px) {
  .product-winner .action {
    margin-right: 50px;
  }
}

.product-winner .action img {
  width: 60%;
}

.product-prize {
  background: url("https://img.eduwill.net/eduwill/img/2021/5/product/211008/mobile/bg_prize.jpg") no-repeat 0 0;
  background-size: cover;
}

.product-prize .action {
  position: absolute;
  top: 86.10635%;
  right: 38.26389%;
  left: 38.26389%;
}

.product-only {
  padding-bottom: 3.75rem;
}

@media screen and (min-width: 720px) {
  .product-only {
    padding-bottom: 120px;
  }
}

.product-only .title {
  position: relative;
}

.product-only .title .action {
  width: 3.53125rem;
  position: absolute;
  top: 30.11292%;
  left: 4.16667vw;
}

@media screen and (min-width: 720px) {
  .product-only .title .action {
    width: 113px;
  }
}

@media screen and (min-width: 720px) {
  .product-only .title .action {
    left: 30px;
  }
}

.product-only .title .action a {
  font-size: 1.80556vw;
  color: #999;
}

@media screen and (min-width: 720px) {
  .product-only .title .action a {
    font-size: 13px;
  }
}

.product-only .only-list {
  overflow: hidden;
  -webkit-transform: perspective(570px) rotateX(45deg);
  transform: perspective(570px) rotateX(45deg);
}

.product-only .only-list:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.product-only .only-list:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.product-only .only-list .slick-track {
  -webkit-transform: translate(0) !important;
  transform: translate(0) !important;
}

.product-only .only-list .slick-slide {
  margin-top: 0.9375rem;
}

@media screen and (min-width: 720px) {
  .product-only .only-list .slick-slide {
    margin-top: 30px;
  }
}

.product-only .only-list .slick-slide img {
  display: inline-block;
}

.product-reason1 {
  position: relative;
}

.product-reason1 .product-slide:after {
  display: none;
}

.product-reason1 .product-slide .slick-list {
  border: 1px solid #ddd;
  margin: 5.55556vw;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  box-shadow: 10px 5px 12px 0px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 10px 5px 12px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 10px 5px 12px 0px rgba(0, 0, 0, 0.07);
}

@media screen and (min-width: 720px) {
  .product-reason1 .product-slide .slick-list {
    margin: 40px;
  }
}

.product-reason1 .slick-slide {
  position: relative;
}

.product-reason1 .action {
  width: 12.36111vw;
  position: absolute;
  right: 5.55556vw;
  top: 52.77778vw;
}

@media screen and (min-width: 720px) {
  .product-reason1 .action {
    width: 89px;
  }
}

@media screen and (min-width: 720px) {
  .product-reason1 .action {
    right: 40px;
  }
}

@media screen and (min-width: 720px) {
  .product-reason1 .action {
    top: 380px;
  }
}

.product-reason2 {
  margin: 5.55556vw 0 13.88889vw;
}

@media screen and (min-width: 720px) {
  .product-reason2 {
    margin: 40px 0 100px;
  }
}

.product-reason2 .product-slide:after {
  display: none;
}

.product-book-slide {
  background-color: #f4f4f4;
  padding: 1.875rem 1.25rem;
}

@media screen and (min-width: 720px) {
  .product-book-slide {
    padding: 60px 40px;
  }
}

.product-book-slide .product-slide:after {
  display: none;
  padding-top: 1.5625rem;
}

@media screen and (min-width: 720px) {
  .product-book-slide .product-slide:after {
    padding-top: 50px;
  }
}

.product-book-slide .product-slide:after .slick-list {
  margin: 0 4.16667vw;
}

@media screen and (min-width: 720px) {
  .product-book-slide .product-slide:after .slick-list {
    margin: 0 30px;
  }
}

.product-reason3 .gif {
  margin: 0 6.94444vw;
}

@media screen and (min-width: 720px) {
  .product-reason3 .gif {
    margin: 0 50px;
  }
}

.product-lecture {
  padding-bottom: 3.125rem;
  background: #f4f4f4;
}

@media screen and (min-width: 720px) {
  .product-lecture {
    padding-bottom: 100px;
  }
}

.product-lecture .lecture-tab-list:after {
  display: none;
}

.product-lecture .lecture-tab-list {
  padding: 1.5625rem;
  background-color: #f4f4f4;
}

@media screen and (min-width: 720px) {
  .product-lecture .lecture-tab-list {
    padding: 50px;
  }
}

.product-lecture .tab-list {
  z-index: 1;
  margin-bottom: -0.625rem;
  overflow: hidden;
}

@media screen and (min-width: 720px) {
  .product-lecture .tab-list {
    margin-bottom: -20px;
  }
}

.product-lecture .tab-list a {
  width: 25%;
}

.product-lecture .tab-list a.active:before {
  display: none;
}

.product-lecture .tab-list a:before {
  content: '';
  position: absolute;
  top: 0;
  right: 2%;
  bottom: 29.36508%;
  left: 2%;
  width: auto;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.product-lecture .video {
  position: absolute;
  top: 20.47782%;
  right: 6.94444%;
  left: 6.94444%;
}

.product-lecture .video a,
.product-lecture .video video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.product-lecture .video a {
  z-index: 1;
}

.product-group .action {
  width: 12.36111vw;
  position: absolute;
  left: 6.94444vw;
  top: 27.77778vw;
}

@media screen and (min-width: 720px) {
  .product-group .action {
    width: 89px;
  }
}

@media screen and (min-width: 720px) {
  .product-group .action {
    left: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-group .action {
    top: 200px;
  }
}

.product-reason5 {
  padding-bottom: 1.5625rem;
}

@media screen and (min-width: 720px) {
  .product-reason5 {
    padding-bottom: 50px;
  }
}

.product-benefit {
  position: relative;
  background: url("https://img.eduwill.net/eduwill/img/2021/5/product/211008/mobile/bg_benefit2.jpg") no-repeat 0 0;
  background-size: cover;
  padding-bottom: 1.5625rem;
}

@media screen and (min-width: 720px) {
  .product-benefit {
    padding-bottom: 50px;
  }
}

.product-benefit .item.benefit {
  position: relative;
}

.product-benefit .item.benefit .pop-btn {
  width: 12.36111vw;
  position: absolute;
  right: 6.94444vw;
}

@media screen and (min-width: 720px) {
  .product-benefit .item.benefit .pop-btn {
    width: 89px;
  }
}

@media screen and (min-width: 720px) {
  .product-benefit .item.benefit .pop-btn {
    right: 50px;
  }
}

.product-benefit .item.apply {
  position: relative;
  z-index: 1;
}

.product-benefit .item.apply .title {
  position: absolute;
  top: 9.7479%;
  right: 0;
  left: 0;
  text-align: center;
  font-weight: 700;
  color: #fff;
}

.product-benefit .item.apply .flag {
  display: inline-block;
  padding: 0.3125rem 0.9375rem;
  font-size: 3.88889vw;
  border-radius: 50px;
  -webkit-animation-name: flagChange;
          animation-name: flagChange;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-benefit .item.apply .flag {
    padding: 10px 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-benefit .item.apply .flag {
    font-size: 28px;
  }
}

@-webkit-keyframes flagChange {
  0%, 100% {
    background-color: #ea1d00;
  }
  50% {
    background-color: #1e285d;
  }
}

@keyframes flagChange {
  0%, 100% {
    background-color: #ea1d00;
  }
  50% {
    background-color: #1e285d;
  }
}

.product-benefit .item.apply .price-box {
  position: absolute;
  top: 37.81513%;
  right: 13.88889%;
  left: 13.88889%;
  text-align: right;
}

.product-benefit .item.apply .price-discount {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 62px;
  height: 59px;
  text-align: center;
  background: url("https://img.eduwill.net/eduwill/img/2021/5/product/211008/mobile/icon_arrow.png") no-repeat 0 0;
  background-size: 100% auto;
}

@media (min-width: 400px) {
  .product-benefit .item.apply .price-discount {
    width: 72px;
    height: 69px;
  }
}

@media (min-width: 500px) {
  .product-benefit .item.apply .price-discount {
    width: 82px;
    height: 79px;
  }
}

@media (min-width: 600px) {
  .product-benefit .item.apply .price-discount {
    width: 92px;
    height: 89px;
  }
}

@media (min-width: 700px) {
  .product-benefit .item.apply .price-discount {
    width: 124px;
    height: 118px;
  }
}

.product-benefit .item.apply .price-discount strong {
  display: block;
  margin-top: 0.3125rem;
  line-height: 1.2;
  font-size: 4.16667vw;
  font-weight: 700;
  color: #fff;
}

@media screen and (min-width: 720px) {
  .product-benefit .item.apply .price-discount strong {
    margin-top: 10px;
  }
}

@media screen and (min-width: 720px) {
  .product-benefit .item.apply .price-discount strong {
    font-size: 30px;
  }
}

.product-benefit .item.apply .price-discount + .price-list .price-after {
  text-align: right !important;
}

.product-benefit .item.apply .price-before {
  font-size: 4.16667vw;
  font-weight: 500;
  color: #bbb;
  text-decoration: line-through;
}

@media screen and (min-width: 720px) {
  .product-benefit .item.apply .price-before {
    font-size: 30px;
  }
}

.product-benefit .item.apply .price-before strong {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-benefit .item.apply .price-after {
  line-height: 1;
  font-size: 10.83333vw;
  font-weight: 700;
  color: #f4280c;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .product-benefit .item.apply .price-after {
    font-size: 78px;
  }
}

.product-benefit .item.apply .price-after strong {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-weight: 900;
}

.product-benefit .item.apply .action {
  margin-top: 0.625rem;
}

@media screen and (min-width: 720px) {
  .product-benefit .item.apply .action {
    margin-top: 20px;
  }
}

.product-benefit .item.apply .action a {
  position: relative;
  display: inline-block;
}

.product-benefit .item.apply .action a:after {
  content: '';
  position: absolute;
  top: 80%;
  right: 0;
  z-index: 1;
  display: block;
  width: 1.875rem;
  height: 2.0625rem;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounce;
          animation-name: pointerBounce;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-benefit .item.apply .action a:after {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-benefit .item.apply .action a:after {
    height: 66px;
  }
}

@-webkit-keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.product-benefit .item.apply .notice {
  margin-top: 0.625rem;
  text-align: left;
  font-size: 2.77778vw;
  color: #999;
}

@media screen and (min-width: 720px) {
  .product-benefit .item.apply .notice {
    margin-top: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-benefit .item.apply .notice {
    font-size: 20px;
  }
}

.popup-base .source5, .popup-base .source6 {
  display: none !important;
}

.popup-base .popup-body p strong {
  display: inline-block;
  padding-top: 0.625rem;
}

@media screen and (min-width: 720px) {
  .popup-base .popup-body p strong {
    padding-top: 20px;
  }
}

.popup-close::after, .popup-close::before {
  opacity: 0;
}
/*# sourceMappingURL=mobile.css.map */