<div class="input-wrap" id="display1203">
	<div class="row">
		<div class="col subject">
			<strong>불면증을 극복하기 위한 전략으로 옳지 않은 것은?</strong>
			<p class="hint">
				<span>힌트</span>
				에듀윌 공기업 NCS 통합 기본서 48p를 펼쳐보세요
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col checks-wrap full">
			<div class="checks">
				<input type="radio" id="rd2_1_01" name="rd2_1" value="침대에서는 잠만잔다." checked> 
				<label for="rd2_1_01">침대에서는 잠만잔다.</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_1_02" name="rd2_1" value="같은 시각에 깨는 습관을 들인다."> 
				<label for="rd2_1_02">같은 시각에 깨는 습관을 들인다.</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_1_03" name="rd2_1" value="알코올을 섭취한다."> 
				<label for="rd2_1_03">알코올을 섭취한다.</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_1_04" name="rd2_1" value="잠을 안자려고 노력한다."> 
				<label for="rd2_1_04">잠을 안자려고 노력한다.</label> 
			</div>
		</div>
	</div>
</div>

<div class="input-wrap" id="display1205">
	<div class="row">
		<div class="col subject">
			<strong>‘시분할 시스템’의 기초 이론을 발표한 릭라이더 박사의 출생연도는?</strong>
			<p class="hint">
				<span>힌트</span>
				에듀윌 공기업 NCS 통합 기본서 49p를 펼쳐보세요
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col checks-wrap">
			<div class="checks">
				<input type="radio" id="rd2_2_01" name="rd2_2" value="1915년" checked> 
				<label for="rd2_2_01">1915년</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_2_02" name="rd2_2" value="1592년"> 
				<label for="rd2_2_02">1592년</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_2_03" name="rd2_2" value="2020년"> 
				<label for="rd2_2_03">2020년</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_2_04" name="rd2_2" value="1995년"> 
				<label for="rd2_2_04">1995년</label> 
			</div>
		</div>
	</div>
</div>

<div class="input-wrap" id="display1207">
	<div class="row">
		<div class="col subject">
			<strong>건강보험 지역 전체 가입자수는 몇세대인가요?</strong>
			<p class="hint">
				<span>힌트</span>
				에듀윌 공기업 NCS 통합 기본서 50p를 펼쳐보세요
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col checks-wrap">
			<div class="checks">
				<input type="radio" id="rd2_3_01" name="rd2_3" value="771만 세대" checked> 
				<label for="rd2_3_01">771만 세대</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_3_02" name="rd2_3" value="5,000만 세대"> 
				<label for="rd2_3_02">5,000만 세대</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_3_03" name="rd2_3" value="700만 세대"> 
				<label for="rd2_3_03">700만 세대</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_3_04" name="rd2_3" value="32만 세대"> 
				<label for="rd2_3_04">32만 세대</label> 
			</div>
		</div>
	</div>
</div>

<div class="input-wrap" id="display1210">
	<div class="row">
		<div class="col subject">
			<strong>정철의 머리를 구하라 구절중 해당하지 않는 문구는?</strong>
			<p class="hint">
				<span>힌트</span>
				에듀윌 공기업 NCS 통합 기본서 68p를 펼쳐보세요
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col checks-wrap">
			<div class="checks">
				<input type="radio" id="rd2_4_01" name="rd2_4" value="꿈" checked> 
				<label for="rd2_4_01">꿈</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_4_02" name="rd2_4" value="희망"> 
				<label for="rd2_4_02">희망</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_4_03" name="rd2_4" value="가능성"> 
				<label for="rd2_4_03">가능성</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_4_04" name="rd2_4" value="잘될거야"> 
				<label for="rd2_4_04">잘될거야</label> 
			</div>
		</div>
	</div>
</div>

<div class="input-wrap" id="display1212">
	<div class="row">
		<div class="col subject">
			<strong>홍콩에서 가장 점유율이 높은 인스턴트 커피 타입은?</strong>
			<p class="hint">
				<span>힌트</span>
				에듀윌 공기업 NCS 통합 기본서 250p를 펼쳐보세요
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col checks-wrap">
			<div class="checks">
				<input type="radio" id="rd2_5_01" name="rd2_5" value="3-in-1" checked> 
				<label for="rd2_5_01">3-in-1</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_5_02" name="rd2_5" value="고급 이탈리안커피"> 
				<label for="rd2_5_02">고급 이탈리안커피</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_5_03" name="rd2_5" value="표준 인스턴트커피"> 
				<label for="rd2_5_03">표준 인스턴트커피</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_5_04" name="rd2_5" value="원두커피"> 
				<label for="rd2_5_04">원두커피</label> 
			</div>
		</div>
	</div>
</div>

<div class="input-wrap" id="display1214">
	<div class="row">
		<div class="col subject">
			<strong>SWOT 분석을 통한 WO 전략이란 무엇인가요?</strong>
			<p class="hint">
				<span>힌트</span>
				에듀윌 공기업 NCS 통합 기본서 251p를 펼쳐보세요
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col checks-wrap full">
			<div class="checks">
				<input type="radio" id="rd2_6_01" name="rd2_6" value="시장의 기회를 활용하기 위해 강점을 사용하는 전략" checked> 
				<label for="rd2_6_01">시장의 기회를 활용하기 위해 강점을 사용하는 전략</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_6_02" name="rd2_6" value="시장의 위협을 회피하기 위해 강점을 사용하는 전략"> 
				<label for="rd2_6_02">시장의 위협을 회피하기 위해 강점을 사용하는 전략</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_6_03" name="rd2_6" value="약점을 극복함으로써 시장의 기회를 활용하는 전략"> 
				<label for="rd2_6_03">약점을 극복함으로써 시장의 기회를 활용하는 전략</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_6_04" name="rd2_6" value="시장의 위협을 회피하고 약점을 최소화 하는 전략"> 
				<label for="rd2_6_04">시장의 위협을 회피하고 약점을 최소화 하는 전략</label> 
			</div>
		</div>
	</div>
</div>

<div class="input-wrap" id="display1217">
	<div class="row">
		<div class="col subject">
			<strong>조해리의 창 모델에서 나오지 않은 영역을 고르시오</strong>
			<p class="hint">
				<span>힌트</span>
				에듀윌 공기업 NCS 통합 기본서 328p를 펼쳐보세요
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col checks-wrap">
			<div class="checks">
				<input type="radio" id="rd2_7_01" name="rd2_7" value="OPEN" checked> 
				<label for="rd2_7_01">OPEN</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_7_02" name="rd2_7" value="BLIND"> 
				<label for="rd2_7_02">BLIND</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_7_03" name="rd2_7" value="HIDDEN"> 
				<label for="rd2_7_03">HIDDEN</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_7_04" name="rd2_7" value="UNDEFINED"> 
				<label for="rd2_7_04">UNDEFINED</label> 
			</div>
		</div>
	</div>
</div>

<div class="input-wrap" id="display1219">
	<div class="row">
		<div class="col subject">
			<strong>자기관리의 5단계 중 5단계는?</strong>
			<p class="hint">
				<span>힌트</span>
				에듀윌 공기업 NCS 통합 기본서 330p를 펼쳐보세요
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col checks-wrap">
			<div class="checks">
				<input type="radio" id="rd2_8_01" name="rd2_8" value="자기 혐오" checked> 
				<label for="rd2_8_01">자기 혐오</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_8_02" name="rd2_8" value="현타"> 
				<label for="rd2_8_02">현타</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_8_03" name="rd2_8" value="반성 및 피드백"> 
				<label for="rd2_8_03">반성 및 피드백</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_8_04" name="rd2_8" value="질타"> 
				<label for="rd2_8_04">질타</label> 
			</div>
		</div>
	</div>
</div>

<div class="input-wrap" id="display1221">
	<div class="row">
		<div class="col subject">
			<strong>김대리가 사용하고 있는 보일러의 열량 소비량은?</strong>
			<p class="hint">
				<span>힌트</span>
				에듀윌 공기업 NCS 통합 기본서 359p를 펼쳐보세요
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col checks-wrap">
			<div class="checks">
				<input type="radio" id="rd2_9_01" name="rd2_9" value="월 3,000MJ" checked> 
				<label for="rd2_9_01">월 3,000MJ</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_9_02" name="rd2_9" value="일 100JD"> 
				<label for="rd2_9_02">일 100JD</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_9_03" name="rd2_9" value="일 3,000DK"> 
				<label for="rd2_9_03">일 3,000DK</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_9_04" name="rd2_9" value="월 220JM"> 
				<label for="rd2_9_04">월 220JM</label> 
			</div>
		</div>
	</div>
</div>

<div class="input-wrap" id="display1224">
	<div class="row">
		<div class="col subject">
			<strong>로버트 켈리의 팔로워쉽 유형중 해당되지 않는 것은?</strong>
			<p class="hint">
				<span>힌트</span>
				에듀윌 공기업 NCS 통합 기본서 422p를 펼쳐보세요
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col checks-wrap">
			<div class="checks">
				<input type="radio" id="rd2_10_01" name="rd2_10" value="소외형" checked> 
				<label for="rd2_10_01">소외형</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_10_02" name="rd2_10" value="모범형"> 
				<label for="rd2_10_02">모범형</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_10_03" name="rd2_10" value="수동형"> 
				<label for="rd2_10_03">수동형</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_10_04" name="rd2_10" value="능동형"> 
				<label for="rd2_10_04">능동형</label> 
			</div>
		</div>
	</div>
</div>

<div class="input-wrap" id="display1226">
	<div class="row">
		<div class="col subject">
			<strong>‘내적 동기를 자극할 수 있는 방법’ 소재 문제,<br>
			어느 회사에 출제된 문제일까요?</strong>
			<p class="hint">
				<span>힌트</span>
				에듀윌 공기업 NCS 통합 기본서 424p를 펼쳐보세요
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col checks-wrap">
			<div class="checks">
				<input type="radio" id="rd2_11_01" name="rd2_11" value="서울교통공사" checked> 
				<label for="rd2_11_01">서울교통공사</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_11_02" name="rd2_11" value="부산교통공사"> 
				<label for="rd2_11_02">부산교통공사</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_11_03" name="rd2_11" value="대구교통공사"> 
				<label for="rd2_11_03">대구교통공사</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_11_04" name="rd2_11" value="경기교통공사"> 
				<label for="rd2_11_04">경기교통공사</label> 
			</div>
		</div>
	</div>
</div>

<div class="input-wrap" id="display1228">
	<div class="row">
		<div class="col subject">
			<strong>다음은 갈등 진행과정에 대한 설명이다. 틀린 과정을 고르시오</strong>
			<p class="hint">
				<span>힌트</span>
				에듀윌 공기업 NCS 통합 기본서 425p를 펼쳐보세요
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col checks-wrap full">
			<div class="checks">
				<input type="radio" id="rd2_12_01" name="rd2_12" value="의견불일치 – 문제에 대한 생각, 시념, 성격이 다르다는 점에서 출발" checked> 
				<label for="rd2_12_01">의견불일치 – 문제에 대한 생각, 시념, 성격이 다르다는 점에서 출발</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_12_02" name="rd2_12" value="대결 국면 – 서로의 입장을 고수하려는 강도가 높아지면서 이성적으로 대응"> 
				<label for="rd2_12_02">대결 국면 – 서로의 입장을 고수하려는 강도가 높아지면서 이성적으로 대응</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_12_03" name="rd2_12" value="격화 국면 – 상대방에 대해 적대적 현상으로 발전, 설득보다는 강압적, 위협적인 방법"> 
				<label for="rd2_12_03">격화 국면 – 상대방에 대해 적대적 현상으로 발전, 설득보다는 강압적, 위협적인 방법</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_12_04" name="rd2_12" value="진정 국면 – 시간이 지나면서 점차 갈등 해소"> 
				<label for="rd2_12_04">진정 국면 – 시간이 지나면서 점차 갈등 해소</label> 
			</div>
		</div>
	</div>
</div>

<div class="input-wrap" id="display1231">
	<div class="row">
		<div class="col subject">
			<strong>다음 엑셀 함수 결과값을 고르시오</strong>
			<p class="hint">
				<span>힌트</span>
				에듀윌 공기업 NCS 통합 기본서 453p를 펼쳐보세요
			</p>
			<div class="box">
				mid(A1,2,3)<br>
				* A1의 값은 안녕하세요
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col checks-wrap">
			<div class="checks">
				<input type="radio" id="rd2_13_01" name="rd2_13" value="안녕하" checked> 
				<label for="rd2_13_01">안녕하</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_13_02" name="rd2_13" value="하세요"> 
				<label for="rd2_13_02">하세요</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_13_03" name="rd2_13" value="녕하세"> 
				<label for="rd2_13_03">녕하세</label> 
			</div>
			<div class="checks">
				<input type="radio" id="rd2_13_04" name="rd2_13" value="안녕세"> 
				<label for="rd2_13_04">안녕세</label> 
			</div>
		</div>
	</div>
</div>