.comment-privacy{
	background:transparent;
	@include rem(margin-top, 60px);
	@include rem(padding-bottom , 80px);
	.wrap{
		@include rem(padding, 0 45px);
		@include boxSizing(border-box);
		@include breakpoint(minDesktop){
			padding: 0;
			width: 1000px;
			margin: 0 auto;
		}
	}
	.agree_check{
		font-weight: bold;
		text-align: left;
		color:#000;
		@include vw(30px);
		@include rem(padding-bottom , 35px);
		@include breakpoint(minDesktop){
			font-size: 18px;
			padding-bottom:18px;
		}
		input{
			vertical-align: middle;
			@include rem(width, 42px);
			@include rem(height, 42px);
			@include breakpoint(minDesktop){
				width: 26px;
				height:26px;
			}
		}
		label{
			vertical-align: middle;
			font-weight:bold;
			@include rem(padding-left, 13px);
			@include breakpoint(minDesktop){
				padding-left: 7px;
			}
		}
	}
	.scroll_box{
		text-align: left;
		background: #fff;
		border:1px solid #ccc;
		color:#333;
		line-height:1.6;
		height: 160px;
		overflow-y: scroll;
		@include vw(26px);
		@include rem(padding, 34px);
		@include breakpoint(minDesktop){
			line-height:2;
			font-size:14px;
			padding: 22px;
		}
		strong{
			display:block;
			color:#000;
			font-weight:bold;
			@include vw(32px);
			@include rem(margin-bottom , 34px);
			@include breakpoint(minDesktop){
				font-size:16px;
				margin-bottom: 17px;
			}
		}
		span{
			display: block;
			line-height: 1.5;
			@include rem(padding, 10px 0 10px 13px);
			//@include rem(padding-bottom, 18px);
			@include breakpoint(minDesktop){
				line-height: 1.5;
				padding-left: 7px;
				padding-bottom: 10px;
			}
		}
		em{
			color:#000;
			font-weight:bold;
			@include vw(32px);
			@include breakpoint(minDesktop){
				font-size:18px;
			}
		}
		.highlight {
			margin: 0;
			@include vw(24px);
			font-weight: 700;
			color: #000;
			background: transparent;
			padding: 0;
			&:before { display: none;}
			@include breakpoint(maxMobile) {
				font-size: 14px;
			}
		}
	}
}