@{
    string viewPath = ((RazorView)ViewContext.View).ViewPath;
    viewPath = viewPath.Remove(viewPath.LastIndexOf('/') + 1);
}

@* @Html.Partial(viewPath + "_Service.cshtml") *@

@{
    string cssUrl = ViewBag.IsLocal
        ? "/Content/2022/X/event/220310/css/web.css" // local 경로
        : "//img.eduwill.net/eduwill/css/2022/X/event/220310/web.css"; // ftp 경로
}


<link rel="stylesheet" type="text/css" href="@cssUrl" />

<div id="contents" class="promotion">
	<!--소구점-->
	<div data-eduwill-eco-content="4297"></div>
	<!--//소구점-->
	<div class="sector-wing">
		<a href="javascript:;" onclick="$('#popupQuiz,.quiz-dimmed').show();">
			<img src="//img.eduwill.net/eduwill/img/2022/X/event/220310/pc/wing1.png" alt="퀴즈풀고 백화점상품권 GET!" />
		</a>
		<a href="https://math.eduwill.net/ProductAuto/SimplePageX?pid=ZeroPass210705 " target="_blank">
			<img src="//img.eduwill.net/eduwill/img/2022/X/event/220310/pc/wing2.png" alt="0원 합격반" />
		</a>
		<a href="https://event.eduwill.net/freebook/X/Freebook_210326" target="_blank">
			<img src="//img.eduwill.net/eduwill/img/2022/X/event/220310/pc/wing3.png" alt="합격필독서 100%무료" />
		</a>
	</div>
    <div class="sector-title" id="sectorTitle">
        <div class="wrap">
			<div class="title-0"><img src="//img.eduwill.net/eduwill/img/2022/X/event/220310/pc/title_0.png" alt="" /></div>
            <p class="title-1">
				<span class="title-color">
					<span><img src="//img.eduwill.net/eduwill/img/2022/X/event/220310/pc/title_y.png" alt="" /></span>
					<span><img src="//img.eduwill.net/eduwill/img/2022/X/event/220310/pc/title_pk.png" alt="" /></span>
					<span><img src="//img.eduwill.net/eduwill/img/2022/X/event/220310/pc/title_p.png" alt="" /></span>
					<span><img src="//img.eduwill.net/eduwill/img/2022/X/event/220310/pc/title_g.png" alt="" /></span>
					<span><img src="//img.eduwill.net/eduwill/img/2022/X/event/220310/pc/title_b.png" alt="" /></span>
				</span>
			</p>
		
            <p class="title-2"><img src="//img.eduwill.net/eduwill/img/2022/X/event/220310/pc/title_1.png" alt="" /></p>
           
        </div>
    </div>
	<div class="sector sector-contents1" id="sectorContents1">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/X/event/220310/pc/contents1.png" alt="01.대표 포털 사이트 네이버와 구글에서 전산세무회계 브랜드별 검색량 확인" />
        </div>
		<div class="blind">
				<div class="nav type2">
					<ul>
						<li class="active"><a href="#sectorContents1" class="page-move">자격증 인강 사이트 검색 1위</a></li>
						<li><a href="#sectorContents2" class="page-move">전산세무회계 교육&amp;세무회계 교육 1위</a></li>
						<li ><a href="#sectorContents3" class="page-move">SNS 채널 합격후기 조회수 1위</a></li>
						<li><a href="#sectorContents4" class="page-move">난이도에 상관없는 완벽한 컨텐츠 제공</a></li>
						<li><a href="#sectorContents5" class="page-move">폭발적 성장! 수험생의 선택은 에듀윌</a></li>
						<li><a href="#contents" class="page-move">TOP ▲</a></li>
					</ul>
				</div>
			</div>
    </div>
	<div class="sector sector-contents2" id="sectorContents2">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/X/event/220310/pc/contents2.png" alt="02.대한민국 브랜드 만족도 1위 업계유일 4년 연속 수상,세무회계분야 1위 인정" />
        </div>
		<div class="blind">
				<div class="nav">
					<ul>
						<li><a href="#sectorContents1" class="page-move">자격증 인강 사이트 검색 1위</a></li>
						<li class="active"><a href="#sectorContents2" class="page-move">전산세무회계 교육&amp;세무회계 교육 1위</a></li>
						<li ><a href="#sectorContents3" class="page-move">SNS 채널 합격후기 조회수 1위</a></li>
						<li><a href="#sectorContents4" class="page-move">난이도에 상관없는 완벽한 컨텐츠 제공</a></li>
						<li><a href="#sectorContents5" class="page-move">폭발적 성장! 수험생의 선택은 에듀윌</a></li>
						<li><a href="#contents" class="page-move">TOP ▲</a></li>
					</ul>
				</div>
			</div>
    </div>
	<div class="sector sector-contents3" id="sectorContents3">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/X/event/220310/pc/contents3.png" alt="03.수험생들의 강의 선택에 많은 영향을 주는 SNS 채널의 합격후기 영상의 조회수를 확인" />
        </div>
		<div class="blind">
				<div class="nav">
					<ul>
						<li><a href="#sectorContents1" class="page-move">자격증 인강 사이트 검색 1위</a></li>
						<li><a href="#sectorContents2" class="page-move">전산세무회계 교육&amp;세무회계 교육 1위</a></li>
						<li class="active"><a href="#sectorContents3" class="page-move">SNS 채널 합격후기 조회수 1위</a></li>
						<li><a href="#sectorContents4" class="page-move">난이도에 상관없는 완벽한 컨텐츠 제공</a></li>
						<li><a href="#sectorContents5" class="page-move">폭발적 성장! 수험생의 선택은 에듀윌</a></li>
						<li><a href="#contents" class="page-move">TOP ▲</a></li>
					</ul>
				</div>
			</div>
    </div>
	<div class="sector sector-contents4" id="sectorContents4">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/X/event/220310/pc/contents4.png" alt="04.수 많은 전산세무회계 수험생들의 선택으로 만들어진 폭발적인 성장" />
        </div>
		<div class="blind">
				<div class="nav type2">
					<ul>
						<li><a href="#sectorContents1" class="page-move">자격증 인강 사이트 검색 1위</a></li>
						<li><a href="#sectorContents2" class="page-move">전산세무회계 교육&amp;세무회계 교육 1위</a></li>
						<li ><a href="#sectorContents3" class="page-move">SNS 채널 합격후기 조회수 1위</a></li>
						<li class="active"><a href="#sectorContents4" class="page-move">난이도에 상관없는 완벽한 컨텐츠 제공</a></li>
						<li><a href="#sectorContents5" class="page-move">폭발적 성장! 수험생의 선택은 에듀윌</a></li>
						<li><a href="#contents" class="page-move">TOP ▲</a></li>
					</ul>
				</div>
			</div>
    </div>
	<div class="sector sector-contents5" id="sectorContents5">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/X/event/220310/pc/contents5.png" alt="05.전급수 이론/실무 가답안을 제공하는 곳은 오직 에듀윌뿐" />
			<div class="action">			
				<a href="javascript:edufLayerOpen('#edufLayerBase');" class="btn-text type2">근거보기</a>
			</div>
        </div>
		<div class="blind">
				<div class="nav">
					<ul>
						<li><a href="#sectorContents1" class="page-move">자격증 인강 사이트 검색 1위</a></li>
						<li><a href="#sectorContents2" class="page-move">전산세무회계 교육&amp;세무회계 교육 1위</a></li>
						<li><a href="#sectorContents3" class="page-move">SNS 채널 합격후기 조회수 1위</a></li>
						<li><a href="#sectorContents4" class="page-move">난이도에 상관없는 완벽한 컨텐츠 제공</a></li>
						<li class="active"><a href="#sectorContents5" class="page-move">폭발적 성장! 수험생의 선택은 에듀윌</a></li>
						<li><a href="#contents" class="page-move">TOP ▲</a></li>
					</ul>
				</div>
			</div>
    </div>
	<div class="sector sector-yes">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/X/event/220310/pc/yes.png" alt="" />
		</div>
	</div>
	<div class="sector sector-first-rank">
		<div class="wrap">
			<div class="content-sub-title">
				전산세무회계 대표브랜드,에듀윌<br/>
				에듀윌에서 시작해야 <span class="point-color">단기합격</span> 가능합니다.
			</div>
			<img src="//img.eduwill.net/eduwill/img/2022/X/common/pc/first_rank.png" alt="전산세무회계1위" />
			<div class="review-list slider-single" data-slick='{"arrows": true}'>
				<div><img src="//img.eduwill.net/eduwill/img/2022/X/event/220310/pc/first_rank_slide_01.png" alt="slide1"></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/X/event/220310/pc/first_rank_slide_02.png" alt="slide2"></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/X/event/220310/pc/first_rank_slide_03.png" alt="slide3"></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/X/event/220310/pc/first_rank_slide_04.png" alt="slide4"></div>
			</div>
			<div class="action ">
				<a href="javascript:edufLayerOpen('#edufLayerBase');" class="btn-text">근거보기</a>
			</div>
		</div>
	</div>
	<div class="sector-link-move">
		<div class="wrap">
			<a href="https://math.eduwill.net/ProductAuto/SimplePageX?pid=ZeroPass210705" target="_blank" class="pointer">
				<img src="//img.eduwill.net/eduwill/img/2022/X/event/220310/pc/fixed.png" alt="0원 합격반">
			</a>
		</div>
	</div>

</div>
<!--// promotion end -->
@Html.Partial(viewPath + "_Content.cshtml")
