@{
    string progressCd = (string)ViewBag.ProgressCd;
    string platformDir = (string)ViewBag.platformCd == "W" ? "pc" : "mobile";
    String platform = ("W".Equals(ViewBag.PlatformCd))? "pc": "mobile";
}
<div id="contents" class="promotion promotion-@progressCd">
    
    <!-- 소구점 -->
    <div data-eduwill-eco-content="2754"></div>
    <!-- // 소구점 -->

	<div class="sector-title">
		 <div class="wrap">
			<button type="button" class="btn-base" onclick="popupOpen('.popup-dim', 'popupBase');">
			<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/btn_white.png" alt="근거보기">
			</button>
		@if ("W".Equals(ViewBag.PlatformCd)){
			<p class="title-1">
				<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/pc/title_220127.png" alt="이제 더 이상의 환승은 NO 1위 에듀윌로 정착하고 단기합격 YES" />
			</p>
			<div class="text-box">
				<a href="#eventMove" class="pointer page-move">
					<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/pc/btn_half.png" alt="지금 50% 할인받고 에듀윌로 환승하기" />
				</a>
			</div>
			}else{
				<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/mobile/title_220127.png" alt="이제 더 이상의 환승은 NO 1위 에듀윌로 정착하고 단기합격 YES">
				<div class="text-box">
					<a href="#eventMove" class="pointer page-move">
						<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/mobile/btn_half.png" alt="지금 50% 할인받고 에듀윌로 환승하기" />
					</a>
				</div>
			}
			</div>
			<div class="train">	<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/pc/train.png" alt="기차" /></div>
    </div>
	<div class="sector-transfer">
		<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/transfer.jpg" alt=" 이 중 하나라도 해당된다면 지금 바로 에듀윌로 환승하세요!">
	</div>
	<div class="sector-coupon">
		<div class="wrap-full">
			<span class='flag'>기간한정</span>
			<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/coupon.png" alt=" 지금 에듀윌로 환승하면 오직 에듀윌만 있는 세무회계 평생 프리패스">
		</div>
	</div>	
	<div class="sector-benefit">
		<div class="wrap-full">
			<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/benefit_220127.jpg" alt=" 에듀윌 세무회게 평생 프리패스로 환승하고 세무 회계 자격증 스펙 완성하자">
			<button type="button" class="btn-base" onclick="popupOpen('.popup-dim', 'popupBase');">
				<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/btn_gray.png" alt="근거보기">
			</button>
			<div class="action">
				@if ("W".Equals(ViewBag.PlatformCd))
				{
					<a class="pointer" href="https://math.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MTQzMjU=" target="_blank" >
						<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/btn_freepass.png" alt="세무회계 평생 프리패스 자세히보기">
					</a>
				}else{
						<a class="pointer" href="https://brand.eduwill.net/sugang/view.will?mSeq=33357&progress=X" target="_blank" >
						<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/btn_freepass.png" alt="세무회계 평생 프리패스 자세히보기">
					</a>
				}
			</div>
		</div>
	</div>
	<div class="sector-event" id="eventMove">
		<div class="train-area">
				<div class="wrap">
					<div class="event-box">
						<div class="event-title">
								<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/event_title.png" alt=" 3초면 끝! 에듀윌로 환승하고 합격하는 방법">
						</div>
					</div>
					<div class="train-box">
						<div class="train-mini only-pc">
							<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/pc/train_mini.png" alt="기차" />
						</div>
						<div class="train-line only-pc">
							<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/pc/bg_train.png" alt="레일" />
						</div>
						<div class="step-box">
							<div class=" step step1">
								<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/train1_off.png" alt="" />
								<div class="step-text">
									타사 수강이력<br><b>인증 화면 캡쳐하기</b>
								</div>
							</div>
							<div class=" step step2">
								<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/train2_off.png" alt="" />
								<div class="step-text">
								캡처한 이미지<br><b>업로드하기</b>
								</div>
							</div>
							<div class=" step step3">
								<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/train3_off.png" alt="" />
								<div class="step-text">
									50% 할인쿠폰 받고<br><b>할인 결제하기</b><br>
									<small>*업로드 후, 24시간 이내 지급(주말의 경우 48시간 이내)</small>
								</div>
							</div>
						</div>
					</div>
					<div class="action">
						<button type="button" class="pointer" onClick="javascript:popupOpen('.layer-dimmed', 'popup-post');" >
							<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/btn_half.png" alt="지금 50% 할인받고 에듀윌로 환승하기" />
						</button>
					</div>
					<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/event_220127.png" alt=" " class="notice-img">
				</div>
		</div>
	
    </div>
    <div class="sector-band">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/band.png" alt="다른 곳에서는 못합니다. 오직 에듀윌만의 압도적인 차이를 확인하세요">
        </div>
    </div>
	<!--공통-->
	<div class="sector-brand">
		<div class="wrap">
			<img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/X/@platform/brand_title.png"  alt="4년 연속 1위 한국사능력검정 대표 브랜드,에듀윌"/>
			<img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/X/@platform/brand.png"  alt=""/>
			<button type="button" class="btn-base" onclick="popupOpen('.popup-dim', 'popupBase');">
				<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/btn_gray.png" alt="근거보기">
			</button>
		</div>
	</div>
    <div class="sector-short">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/short.jpg" alt="단기합격 = 에듀윌, 에듀윌 합격생 97% 2개월 내 합격!">
        </div>
    </div>
	<div class="sector-video">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/video_title.jpg" alt="비전공자도 한 방에 동시 합격! 워킹맘도 한 달이면 합격!">
				@if ("W".Equals(ViewBag.PlatformCd))
			{
            <div class="tab-box">
                <div class="tab-contents">
                    <div class="item in">
                        <a href="javascript:;" class="eduwill-video-play">
                            <img src="https://img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/big_thumb01.png" alt="염혜미 합격생">
                        </a>
                        <video width="100%" height="100%" controls poster="" class="eduwill-video-player">
                            <source src="" type="video/mp4">
                        </video>
                    </div>
                    <div class="item">
                        <a href="javascript:;" class="eduwill-video-play">
                            <img src="https://img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/big_thumb02.png" alt="서경주 합격생">
                        </a>
                        <video width="100%" height="100%" controls poster="" class="eduwill-video-player">
                            <source src="" type="video/mp4">
                        </video>
                    </div>
                    <div class="item">
                        <a href="javascript:;" class="eduwill-video-play">
                            <img src="https://img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/big_thumb03.png" alt="안미리내 합격생">
                        </a>
                        <video width="100%" height="100%" controls poster="" class="eduwill-video-player">
                            <source src="" type="video/mp4">
                        </video>
                    </div>
                </div>
                <ul class="tab-list">
                    <li class="eduwill-video-tab in"><a href="javascript:;"><img src="https://img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/thumb01.png" alt="염혜미 합격생"></a></li>
                    <li class="eduwill-video-tab"><a href="javascript:;"><img src="https://img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/thumb02.png" alt="서경주 합격생"></a></li>
                    <li class="eduwill-video-tab"><a href="javascript:;"><img src="https://img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/thumb03.png" alt="안미리내 합격생"></a></li>
                </ul>
            </div>
			}
			else
			{
			<div class="video-list">
                <div class="video">
                    <img src="https://img.eduwill.net/eduwill/img/2021/X/product/210818/mobile/blank_video.png" alt="">
                    <a href="javascript:;" class="eduwill-video-play">
                        <img src="https://img.eduwill.net/eduwill/img/2021/X/product/210705/mobile/thumb01.png" alt="염혜미 합격생">
                    </a>
                    <video width="100%" height="100%" controls poster="" class="eduwill-video-player">
                        <source src="" type="video/mp4">
                    </video>
                </div>
                <div class="video">
                    <img src="https://img.eduwill.net/eduwill/img/2021/X/product/210818/mobile/blank_video.png" alt="">
                    <a href="javascript:;" class="eduwill-video-play">
                        <img src="https://img.eduwill.net/eduwill/img/2021/X/product/210705/mobile/thumb02.png" alt="염혜서경주미 합격생">
                    </a>
                    <video width="100%" height="100%" controls poster="" class="eduwill-video-player">
                        <source src="" type="video/mp4">
                    </video>
                </div>
                <div class="video">
                    <img src="https://img.eduwill.net/eduwill/img/2021/X/product/210818/mobile/blank_video.png" alt="">
                    <a href="javascript:;" class="eduwill-video-play">
                        <img src="https://img.eduwill.net/eduwill/img/2021/X/product/210705/mobile/thumb03.png" alt="안미리내 합격생">
                    </a>
                    <video width="100%" height="100%" controls poster="" class="eduwill-video-player">
                        <source src="" type="video/mp4">
                    </video>
                </div>
            </div>
			}

            <div class="video-review slider-single" data-slide="video" data-slick='{"arrows": true}'>
                <div><img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/video_review01.png" alt="1"></div>
                <div><img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/video_review02.png" alt="2"></div>
            </div>
            <div class="action">
                <a href="//event.eduwill.net/VictoryStory/X/Accounting_License" target="_blank">
                    <img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/btn_review.png" alt="실시간 업데이트 중! 합격수기 더 보기" />
                </a>
            </div>
        </div>
    </div>
    <div class="sector-growth">
        <div class="wrap">
			<img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/X/@platform/grow_title_x.png"  alt="1위의 신화는 계속됩니다. 합격자 수 170% 폭발적"/>
			<img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/X/@platform/grow_green.png"  alt=""/>
        </div>
    </div>
	<div class="sector-exam">
		@if ("W".Equals(ViewBag.PlatformCd))
		{
			<div class="eco-4059" data-eduwill-eco-content="4059"></div>
		}
		else
		{
			<div class="eco-4060" data-eduwill-eco-content="4060"></div>
		}
	</div>
    <div class="sector-teachers">
        <div class="wrap">
			<button type="button" class="btn-base" onclick="popupOpen('.popup-dim', 'popupBase');">
				<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/btn_gray.png" alt="근거보기">
			</button>
            <img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/teacher_220127.jpg" alt="단기 합격을 만든 만족도 100% 세무회계 자격증 전문 1위 교수진">
             @if ("W".Equals(ViewBag.PlatformCd))
            {
                @* <img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/pc/teachers.jpg" alt="교수님들"> *@
				<ul>
					<li>
						<a href="https://math.eduwill.net/Xat/Teacher/Teacher/Teacher_Detail_Review.asp?TCode=BA00&amp;Subj=BA&amp;classCode=111100100101 " target="_blank" title="김성수 교수님 홈페이지">김성수</a>
					</li>
					<li>
						 <a href="https://math.eduwill.net/XAT/Teacher/Teacher/Teacher_Detail_review.asp?TCode=BS04&amp;Subj=TS&amp;classCode=111100100107	" target="_blank" title="박진혁 교수님 홈페이지">박진혁</a>
					</li>
					<li>
						 <a href="https://math.eduwill.net/XAT/Teacher/Teacher/Teacher_Detail_review.asp?TCode=TS12&amp;Subj=TS&amp;classCode=111100100116	" target="_blank" title="김희연 교수님 홈페이지">김희연</a>
					 </li>
					<li>
						<a href="https://math.eduwill.net/XAT/Teacher/Teacher/Teacher_Detail_review.asp?TCode=BF02&Subj=BF" target="_blank" title="유슬기 교수님 홈페이지">유슬기</a>
					</li>
					<li>
						 <a href="https://account.eduwill.net/Uaccount/Teacher/Teacher/Teacher_Detail_review.asp?TCode=FA07&Subj=FA&_gl=1*1tlm591*_ga*MTA4MTg5NTI5OS4xNjM3MTMxNzYy*_ga_C07Q38FFTL*MTY0MzExMzU5MC4yMjEuMS4xNjQzMTE0NTIyLjYw	" target="_blank" title="이원주 교수님 홈페이지">이원주</a>
					 </li>
					 <li>
						 <a href="https://account.eduwill.net/Uaccount/Teacher/Teacher/Teacher_Detail_review.asp?TCode=TA05&Subj=TA&_gl=1*1a31z4a*_ga*MTA4MTg5NTI5OS4xNjM3MTMxNzYy*_ga_C07Q38FFTL*MTY0MzExMzU5MC4yMjEuMS4xNjQzMTE0NTM1LjQ3" target="_blank" title="양소이 교수님 홈페이지">양소이</a>
					 </li>
					 <li>
						 <a href="https://account.eduwill.net/Uaccount/Teacher/Teacher/Teacher_Detail_review.asp?TCode=AP18&Subj=AP&_gl=1*1u50yiu*_ga*MTA4MTg5NTI5OS4xNjM3MTMxNzYy*_ga_C07Q38FFTL*MTY0MzExMzU5MC4yMjEuMS4xNjQzMTE0NTUwLjMy	" target="_blank" title="김용호교수님 홈페이지">김용호</a>
					 </li>
				</ul>
            }
        </div>
    </div>
	<div class="sector-book">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/book_220127.jpg" alt="수강생 10명중 9명이 만족! 합격 전략만을 담은 전 급수 베스트셀러 1위 교재">
			<button type="button" class="btn-base" onclick="popupOpen('.popup-dim', 'popupBase');">
				<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/btn_gray.png" alt="근거보기">
			</button>
        </div>
    </div>
	<div class="sector-marke">
		@if ("W".Equals(ViewBag.PlatformCd))
		{
			<div class="eco-3788" data-eduwill-eco-content="3788"></div>
		}
		else
		{
			<div class="tit-area">
				<div class="wrap">
					<strong class="big-title">합격자가 인증한<br />
					에듀윌 대세의 이유*<br />
					실제 시험과 지문,<br />
					예시까지 유사한 강의 제공 </strong>
					<p class="info">*에듀윌 전산세무회계 97/98/99회 합격생 제보 내용 기준</p>
				</div>
			</div>
			<div class="eco-3789" data-eduwill-eco-content="3789"></div>
		}
	</div>
	<div class="sector-optimization">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/optimization.jpg" alt="합격을 위해 최적화 된 학습 환경 제공">
        </div>
    </div>
   	<div class="sector sector-prize">
			<div class="wrap">	
				@if ("W".Equals(ViewBag.PlatformCd)){
				<div class="title">
					<div class="left">
						<div class="eco-4198" data-eduwill-eco-content="4198"></div>
					</div>
					<div class="right">
						<strong class="point-color">업계최초</strong>
					</div>
				</div>
				<img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/X/@platform/prize_x_2022.png"  alt="단기합겨곧,고득점도 검증된곳에서 "/>
				}
				else{
					<div class="title">
						<div class="left">
							<div class="eco-4198" data-eduwill-eco-content="4198"></div>
						</div>
					</div>
					<div class="title type2">
						<div class="right">
							<strong class="point-color">업계최초</strong>
						</div>
					</div>
						<img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/X/@platform/prize_x_2022.png"  alt="단기합겨곧,고득점도 검증된곳에서 "/>
				}
			</div>
	</div>
	<div class="sector-only">
		@if ("W".Equals(ViewBag.PlatformCd))
		{
			<div class="eco-2181" data-eduwill-eco-content="2181"></div>
		}
		else
		{
			<div class="eco-2182" data-eduwill-eco-content="2182"></div>
		}
	</div>
	<!--공통-->
	<div class="sector-brand2">
		<div class="wrap">
			<img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/X/@platform/brand_type2.png"  alt=""/>
			<button type="button" class="btn-base" onclick="popupOpen('.popup-dim', 'popupBrand');">
				<img src="//img.eduwill.net/eduwill/img/2021/X/event/211202/@platformDir/btn_white2.png" alt="근거보기">
			</button>
		</div>
	</div>
    <div>
        @* 소문내기 영역 *@
        <link rel="stylesheet" type="text/css" href="//img.eduwill.net/eduwill/live/css/common/privacy_multi.css" />
        <script type="text/javascript" src="//img.eduwill.net/resources/event/live/js/common/download.js"></script>
        <script type="text/javascript" src="//img.eduwill.net/resources/common/web/js/vue/vue.js"></script>
        <div id="SomunDiv" style="display:none;">
            <somun-component :mode="mode"
                             :url_yn="url_yn"
                             :url_pc="url_pc"
                             :url_mo="url_mo"
                             :hashtag="hashtag"
                             :step1="step1"
                             :step2="step2"
                             :hash_yn="hash_yn"
                             :downimg_yn="downimg_yn"
                             :notice="notice"
                             :somunlist="somunlist"
                             :pages="pages"
                             :grlist="grlist"
                             :reply_yn="reply_yn"
                             :page="page"
                             :totalcount="totalcount"
                             :mainimg_path_pc="mainimg_path_pc"
                             :mainimg_path_mo="mainimg_path_mo"
                             :guide="guide"
                             :pagesize="pagesize"
                             :pagercount="pagercount"
                             :downimg_path="downimg_path"
                             :main_bg_color="main_bg_color"
                             :bg_color="bg_color"
                             :btn_text_color="btn_text_color"
                             :btn_color="btn_color"
                             :btn_border="btn_border"></somun-component>
        </div>
        <script src="~/js/somun/Somun.js"></script>
        <script>
			var platform_cd = "@(ViewBag.PlatformCd)"
			_somunidx = 20;
            if (platform_cd == "M")
            {
                $(window).load(function () {
                    _popTop = "27800px";
                });
            }
            somuninit();
        </script>

    </div>
   
</div>
@* 근거보기팝업 *@
<div class="popup-dim"></div>
<div id="popupBase" class="popup popup-base">
   	<div class="popup-body">
			<div class="base-10">
				<strong>[4년 연속 전산세무회계 1위]</strong>
				<div class="eco-1718" ></div>
				<!-- brand2019, brand2020, brand -->
			</div>
			<div class="base-12">
				<strong>[세무회계교육 1위]</strong>
				<div class="eco-1718" ></div>
			<!-- datalab-3 -->
			</div>
			<!-- <div class="base-11">
				<strong>[전산세무1급 검색량 1위]</strong>
				<div class="eco-1718" ></div>
			datalab-3
			</div> -->
			<!--<div class="base-1">
				<strong>[검색량 1위]</strong>
				<div class="eco-1718" ></div>
			datalab-2
			</div>
			<div class="base-2">
				<strong>[전산세무회계 1위]</strong>
				<div class="eco-1718" ></div>
				brand
			</div>
			-->
			<div class="base-3">
				<strong>[베스트셀러 1위]</strong>
				<div class="eco-1718" ></div>
				<!-- book 1~5 -->
			</div>
			<div class="base-8">
				<strong>[추천도/만족도]</strong>
				<div class="eco-1718" ></div>
				<!-- survey-3 -->
			</div>
			<div class="base-4">
				<strong>[1위 더블교수진]</strong>
				<div class="eco-1718" ></div>
				<!-- teacher 1~9 -->
			</div>
			<div class="base-5">
				<strong>[합격자 증가]</strong>
				<div class="eco-1718" ></div>
				<!-- compare-2 -->
			</div>
			<div class="base-6">
				<strong>[가답안 정확도]</strong>
				<div class="eco-1718" ></div>
				<!-- service-2 -->
			</div>
			<div class="base-9">
				<strong>[선택 1위]</strong>
				<div class="eco-1718" ></div>
				<!-- product -->
			</div>
			<div class="base-7">
				<strong>[검증된 교육기관]</strong>
				<div class="eco-1718" ></div>
				<!-- prize-2 -->
			</div>
		</div>
    <a href="javascript:;" class="popup-close" onclick="popupClose('.popup-dim', 'popupBase');"><span class="sr-only">닫기</span></a>
</div>
<div id="popupBrand" class="popup popup-base">
   	<div class="popup-body">
			<div class="eco-4200" data-eduwill-eco-content="4200"></div>
	</div>
    <a href="javascript:;" class="popup-close" onclick="popupClose('.popup-dim', 'popupBrand');"><span class="sr-only">닫기</span></a>
</div>
@* 재시생/타사환승인증팝업 *@
<div class="layer-dimmed"></div>
<div class="popup2" id="popup-post">
    <div class="popup-close2 ">
        <a href="javascript:popupClose('.layer-dimmed', 'popup-post');"><span class="sr-only">팝업 닫기</span></a>
    </div>
    <div class="popup-title">
        <p><strong>재시생/타사환승 인증하기</strong></p>
    </div>
    <div class="popup-cont">
        <div class="cont-box">
            <div class="form">
                <div class="form-title">1. 인증 유형을 선택해 주세요.</div>
                <div class="type-check">
                    <input type="radio" name="type" id="type-1" value="재시생">
                    <label for="type-1">재시생</label>
                    <input type="radio" name="type" id="type-2" value="타사환승생">
                    <label for="type-2">타사환승생</label>
                </div>
            </div>
            <div class="form image">
                <div class="form-title">2. 타사 강의구매 내역 이미지(캡처본)을 업로드 해주세요.</div>
                <div class="file-upload">
                    <div class="filebox">
                        <input class="upload-name" id="fileName" value="" readonly="readonly">
                        <label for="fileUpload">파일첨부</label> 
                        <input type="file" id="fileUpload" name="ticketImg" class="upload-hidden">
                    </div>
                </div>
            </div>
            <div class="tip-note">*타사 세무·회계 자격증 과목 온라인/오프라인/국비지원무료교육 수강증, 나의강의실/교재 이미지 등등</div>

            <!-- 개인정보 수집내용 -->
            <div class="comment-privacy">
                <div class="wrap">
                    <div class="agree_check">
                        <input type="checkbox" name="personalYn2" id="personalYn2" value="Y">
                        <label for="personalYn2">개인정보 수집 및 이용에 동의 (필수)</label>
                    </div>
                    <div class="scroll_box">
                        <strong>(주)에듀윌은 본 이벤트를 위해 다음과 같이 참여자의 개인정보를 수집 및 이용합니다.</strong>
                        1. 수집 및 이용 목적 : 참여자 정보 확인, 50% 할인쿠폰 제공<br>
                        2. 개인정보 수집 항목 : 이름, 휴대폰 번호<br>
                        3. 개인정보 보유/이용 기간 : <em>이벤트 종료 후 60일</em><br>
                        <strong class="highlight">4. 수험표 이미지 등록 시 이름, 수험번호 외 개인정보(사진, 생년월일 등)는 불필요하게 노출되지 않도록 주의 부탁드립니다.</strong>
                        5. 이벤트 신청 회원은 개인정보 수집 및 이용을 거부할 수 있습니다. 단, 거부할 경우 본 이벤트 신청이 제한됩니다.
                    </div>
                </div>
            </div>

            <div class="popup-btn">
                <a href="javascript:SetUserInfo();"><span>인증 완료하고 할인쿠폰 받기</span></a>
            </div>
        </div>
    </div>
</div>



<script src="https://img.eduwill.net/eduwill/live/js/common/script.js"></script>
<script type="text/javascript" src="//img.eduwill.net/resources/eduwill/dev/js/greensock/TweenMax.min.js"></script>
<script type="text/javascript">
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
    var str = 'event.eduwill.net';
    var checkUrl = url.indexOf(str);
	var fileTarget = $('.filebox .upload-hidden');
        fileTarget.on('change', function(){
            if(window.FileReader){
                var filename = $(this)[0].files[0].name;
            } else {
                var filename = $(this).val().split('/').pop().split('\\').pop();
            }
            $(this).siblings('.upload-name').val(filename);
        });

        if(isMobile){
            $('.notice-box .btn-toggle').on('click', function(){
                if($(this).hasClass('close')){
                    $(this).removeClass('close');
                    $(this).text('펼처보기');
                    $('.notice-box .notice').hide();
                }else{
                    $(this).addClass('close');
                    $(this).text('닫기');
                    $('.notice-box .notice').show();
                }
            });
            stepList();
        }else{
            onComplete();
        }

    $(function () {
        $(window).on('load', function () {
            frontInit();
        });
    });

    function frontInit() {
		checkResolution('.sector-sale');
    	pageMove('.page-move');
        addSlide();
		addEvent();
		 tabList();
        playVideo();
		$('.page_move').on('click', function (e) {
            e.preventDefault();

            var _top = $($(this).attr('href'));
            var $target = _top.offset().top;

            $('html,body').animate({
                scrollTop: $target
            }, 500);
        });
		function checkResolution(e) {
       		if (isMobile || !checkUrl) {
            replaceImageLinks(e, 'pc', 'mobile');
            //console.log('mobile');
       		} else {
            replaceImageLinks(e, 'mobile', 'pc');
            //console.log('pc');
       		}
    	}
	}	
    function replaceImageLinks(target, basic, change) {
        $(target + ' a').each(function () {
            var pcLink = $(this).data("pcLink");
            var mobileLink = $(this).data("mobileLink");
            $(this).attr("href", change == "pc" ? pcLink : mobileLink);
        });
    }

    function addSlide() {
        $('.slider-multiple').each(function () {
            if (isMobile) {
                _show = 1;
                _center = true;
            } else {
                _show = 3;
                _center = false;
            }
            $(this).slick({
                autoplay: true,
                autoplaySpeed: 3000,
                speed: 1000,
                infinite: true,
                arrows: false,
                dots: true,
                mobileFirst: true,
                centerMode: _center,
                slidesToShow: _show,
                slidesToScroll: 1
            });
        });
		  $('.slider-single').each(function(key, item) {
            var sliderIdName = 'singleSlider' + key;
                this.id = sliderIdName;
            var sliderId = '#' + sliderIdName;

            $(sliderId).slick({
                autoplay: true,
                autoplaySpeed: 3000,
                speed: 1000,
                infinite: true,
                arrows: false,
                dots: false
            });
        });
	}
	function addEvent(){
       
       	/* 팝업 */
		$(document).on('click', '.btn-popup', function(){
			var pop = $(this).attr('pop-name');
			setTimeout(function(){
				popupOpen('.dimmed', pop);
			}, 100);
		});

	} 
    
    function stepList(){
        var _listIdx = 1;
        var _listLength = $('.step-box > div').length;
        _list = setInterval(function(){
            if( _listIdx > _listLength) { _listIdx = 1; }

            var $step = $('.step-box > div');
            $step.each(function(){
                $(this).removeClass('on');
                $(this).find('img').attr('src', $(this).find('img').attr('src').replace('_on','_off'));	
            });
            $step.eq(_listIdx-1).addClass('on').find('img').attr('src', $step.eq(_listIdx-1).find('img').attr('src').replace('_off','_on'));

            _listIdx ++;
        }, 1500);
    }

    function stepReset() {
        $(".step-box").children("div").each(function () {
            $(this).children("img").attr('src', $(this).children('img').attr('src').replace('_on', '_off'));
        });
    }

    function onComplete() {
   
        TweenMax.fromTo($(".train"), 10, { x: 0, opacity: 1 }, { x: $(window).width() + 987, opacity: 1, repeat: -1, ease: Power4.eaesInOut });

        var _tweenMotion = TweenMax.fromTo($(".train-mini"), 1, { x: -200, opacity: 0 }, {
            x: 100, opacity: 1, ease: Power4.eaesInOut, onComplete: function () {
                stepReset();
                $(".step1").children('img').attr('src', $(".step1").children('img').attr('src').replace('_off', '_on'));
                $(".step1").addClass('on').siblings().removeClass('on');

                TweenMax.fromTo($(".train-mini"), 1, { x: 100 }, {
                    x: 500, opacity: 1, delay: 0.5, ease: Power4.eaesInOut, onComplete: function () {
                        stepReset();
                        $(".step2").children('img').attr('src', $(".step2").children('img').attr('src').replace('_off', '_on'));
                        $(".step2").addClass('on').siblings().removeClass('on');

                        TweenMax.fromTo($(".train-mini"), 1, { x: 500 }, {
                            x: 910, opacity: 1, delay: 0.5, ease: Power4.eaesInOut, onComplete: function () {
                                stepReset();
                                $(".step3").children('img').attr('src', $(".step3").children('img').attr('src').replace('_off', '_on'));
                                $(".step3").addClass('on').siblings().removeClass('on');

								setTimeout(function(){
                                    TweenMax.fromTo($(".train-mini"), 1, { x: 910 }, {
                                        x: 910, opacity: 1, delay: 0., ease: Power4.eaesInOut, onComplete: function () {
                                            stepReset();
                                            $(".flash").addClass("active");

                                            TweenMax.fromTo($(".train-mini"), 1, { x: 910 }, {
                                                x: 1300, opacity: 1, delay: 0.5, ease: Power4.eaesInOut, onComplete: function () {
                                                    $(".flash").removeClass("active");
                                                    _tweenMotion.restart();
                                                }
                                            });
                                        }
                                    });
                                },1100);
								
                            }
                        });
                    }
                });
            }
        });
    }
	 // tab
    function tabList(){
        $('.tab-list li a ').on('click', function(){
            var $this = $(this),
                idx = $this.closest('li').index();
                target = $this;
            tabControl(target, idx);
        });
    }
    function tabControl(target, idx){
        var _tabList = target.parents('ul'),
            _tabView = _tabList.siblings().children();
        	_tabList.children().eq(idx).addClass('in').siblings().removeClass('in');
        	_tabList.children().find('img').each(function(){
            $(this).attr('src', $(this).attr('src').replace('_on', '_off'));
        });
        	_tabList.children().eq(idx).find('img').each(function(){
            $(this).attr('src', $(this).attr('src').replace('_off', '_on'));
        });

        	_tabView.eq(idx).addClass('in').siblings().removeClass('in');

        //모든 동영상 멈춤
        $('.tab-contents .item .eduwill-video-play').show();
        $('.tab-contents .item').children('video')[0].pause();
        $('.tab-contents .item').children('video')[0].currentTime = 0;
		$('.tab-contents .item').children('video')[1].pause();
        $('.tab-contents .item').children('video')[1].currentTime = 0;
		$('.tab-contents .item').children('video')[2].pause();
        $('.tab-contents .item').children('video')[2].currentTime = 0;
	
    }
    // eduf.js video
    function playVideo(){
        var videoList = {
            a: 'https://pmp.eduwill.net/eduwillpmp/eduwill/flv/20190524_xat/XAT_UMHEYMI.mp4',
            b: 'https://pmp.eduwill.net/eduwillpmp/eduwill/flv/20210526/X_Seokyungju.mp4',
            c: 'https://pmp.eduwill.net/eduwillpmp/eduwill/flv/20210526/X_Anmirinae.mp4'
        };

        var playerSrc = [];
        for(var o in videoList){
            playerSrc.push(videoList[o]);
        }
    
        var tabOnlyPreviewOption = {
            playerSrc: playerSrc,
            preview: true,
            playerClass: 'eduwill-video-player',
            playerPlayClass: 'eduwill-video-play'
        }
    
        eduf.UI.Player(tabOnlyPreviewOption);
    }

</script>