@charset "UTF-8";
a {
  outline: 0;
  outline: none;
}

.grid {
  *zoom: 1;
}

.grid:before, .grid:after {
  content: '';
  display: table;
}

.grid:after {
  clear: both;
}

.hidden,
.sr_only,
.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.table {
  display: table;
}

.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.effect-bounce-diagonal {
  -webkit-animation-name: effectBounceDiagonal;
          animation-name: effectBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  -webkit-animation-name: effectBounceUpDown;
          animation-name: effectBounceUpDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.effect-extend {
  -webkit-animation-name: effectExtend;
          animation-name: effectExtend;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

@keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

.effect-blink {
  -webkit-animation-name: effectBlink;
          animation-name: effectBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.promotion,
.product-eco,
.fullservice {
  text-align: center;
}

.promotion [class^="sector-"],
.product-eco [class^="sector-"],
.fullservice [class^="sector-"] {
  position: relative;
}

.promotion .wrap,
.product-eco .wrap,
.fullservice .wrap {
  position: relative;
  margin: 0 auto;
}

.promotion .wrap-full,
.product-eco .wrap-full,
.fullservice .wrap-full {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.promotion button,
.product-eco button,
.fullservice button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  text-decoration: none;
  border: none;
  background: transparent;
  outline: 0;
  cursor: pointer;
}

.product-eco * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-eco .wrap {
  width: 1200px;
}

.product-eco .sector-title {
  background-color: #fff;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/G/product/211104/pc/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .sector-title:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/G/product/211104/pc/bg_title2.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .sector-title .flag {
  position: absolute;
  top: 589px;
  right: 0;
  left: 0;
}

.product-eco .sector-title .flag span {
  display: inline-block;
  padding: 8px 40px;
  line-height: normal;
  font-size: 32px;
  font-weight: 700;
  color: #ffcb01;
  border-radius: 64px;
  background-color: #382914;
  -webkit-box-shadow: -1px -2px 0 #564a38, 1px 2px 0 #302311;
  box-shadow: -1px -2px 0 #564a38, 1px 2px 0 #302311;
}

.product-eco .sector-benefit {
  padding-bottom: 100px;
  background-color: #ffcb01;
}

.product-eco .sector-benefit .benefit {
  position: relative;
  top: -77px;
}

.product-eco .sector-benefit .action a {
  position: relative;
  display: inline-block;
}

.product-eco .sector-benefit .action a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10%;
  z-index: 1;
  display: block;
  width: 2.125rem;
  height: 2.375rem;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_1.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-benefit .action a:after {
    width: 68px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-benefit .action a:after {
    height: 76px;
  }
}

@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.product-eco .sector-benefit .notice {
  margin: 30px 0 0 140px;
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
}

.product-eco .sector-intro {
  background-image: url("https://img.eduwill.net/eduwill/img/2021/G/product/211104/pc/bgx_intro.jpg");
  background-repeat: repeat-x;
  background-position: center top;
  background-size: auto;
}

.product-eco .sector-slide {
  padding-bottom: 100px;
}

.product-eco .sector-slide .slide-box {
  margin: 0 50px;
}

.product-eco .sector-slide .slide-box .slide-menu {
  margin: 0 -2px;
}

.product-eco .sector-slide .slide-box .slide-menu .slick-slide {
  margin: 0 2px;
  padding: 15px;
  line-height: normal;
  font-size: 20px;
  font-weight: 700;
  color: #b9b9b9;
  background-color: #e5e5e5;
  cursor: pointer;
}

.product-eco .sector-slide .slide-box .slide-menu .slick-slide.slick-current {
  color: #fff;
  background-color: #382914;
}

.product-eco .sector-slide .slide-box .slide-list {
  border: 4px solid #382914;
}

.product-eco .sector-slide .slide-box .slick-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 70px;
  height: 70px;
  line-height: 1;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.product-eco .sector-slide .slide-box .slick-arrow.slick-prev {
  margin-left: -580px;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/G/product/211104/pc/btn_prev.png");
}

.product-eco .sector-slide .slide-box .slick-arrow.slick-next {
  margin-left: 500px;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/G/product/211104/pc/btn_next.png");
}

.product-eco .sector-slide .action {
  margin-top: 120px;
}

.product-eco .sector-system {
  background-color: #f7f6f6;
}

.product-eco .sector-consult {
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(45%, #fff), color-stop(45%, #ffcb01), color-stop(83%, #ffcb01), color-stop(83%, #fff));
  background: linear-gradient(to bottom, #fff 0%, #fff 45%, #ffcb01 45%, #ffcb01 83%, #fff 83% #fff 100%);
}

.product-eco .sector-band {
  margin-bottom: 77px;
  background-color: #382914;
}

.product-eco .sector-band img {
  margin-bottom: -77px;
}
/*# sourceMappingURL=web.css.map */