/*@charset "euc-kr";*/

@import url('reset.css');

/* layout.css */
/*
.top_ban { width:100%; height:55px; background:#122448;}
.banner_area { position:relative; width:960px; margin:0 auto;}
*/
.top_ban { width:100%; height:67px; background:#122448 url('http://www.eduwill.net/Img2/Common/Event/freebook/btn_slide_new.png') 50% 0 no-repeat;}
.banner_area { position:relative; width:960px; margin:0 auto;}
.banner_area a { display:block; width:100%; height:67px;}


.h_slider { display:none; height:396px;}
.main .h_slider { display:block; }
.h_slider .bx-wrapper .bx-viewport { -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; border:none; left:0; height:396px !important; background:none;}
.h_slider .bx-wrapper { margin:0 auto !important;}
.h_slider .bx-wrapper img { display:inline;}
.h_slider .bx-wrapper .bx-controls-direction { }
.h_slider { width:100%; height:396px;}
.h_slider li { position:relative; height:396px;}
.h_slider li .b_ezone { display:block; position:absolute; left:0; top:0; width:100%; height:396px;}
.h_slider li .b_ezone a { display:block; position:absolute; left:50%; top:0; width:960px; height:396px; margin-left:-480px;}

.h_slider .b_roll01 { background:#14141b url('../img/main/bg_slide01.jpg') 50% 0 no-repeat;}
.h_slider .b_roll02 { background:#14141b url('../img/main/bg_slide02.jpg') 50% 0 no-repeat;}

.h_slider .bx-pager	{ display:none; position:absolute; width:960px; left:50%; top:480px; margin-left:-480px; text-align:right;}
.h_slider .bx-pager a { display:inline-block; width:19px; height:19px; margin-left:6px;}
.h_slider .bx-pager a span { display:inline-block; width:19px; height:19px;}
.h_slider .bx-pager span { background:url(/new2/img/slider_page_off.png) no-repeat left top; }
.h_slider .bx-pager .active span { background:url(/new2/img/slider_page_on.png) no-repeat left top; }

.h_slider .bx-wrapper .bx-controls-direction { position:absolute; top:50%; left:50%; margin:-31px 0 0 -480px; width:960px;}
.h_slider .bx-wrapper .bx-controls-direction a { width:28px; height:63px;}
.h_slider .bx-wrapper .bx-prev,
.h_slider .bx-wrapper .bx-prev:hover { left:-47px; background:url('../img/main/btn_prev.png') 0 0 no-repeat;}
.h_slider .bx-wrapper .bx-next,
.h_slider .bx-wrapper .bx-next:hover { right:-47px; background:url('../img/main/btn_next.png') 0 0 no-repeat;}

.main #content { position:relative; width:100%; background:#d3d8de;}
.g_content { position:relative; width:960px; margin:0 auto; padding-top:30px;}
.bottom_link { position:relative; width:100%; background:#f8f9fa;}
.quick_link { position:relative; width:960px; height:57px; margin:0 auto; overflow:hidden;}
.quick_link h3 { float:left; padding-top:20px;}
.quick_link:first-child { border-bottom:1px solid #d2d7dd;}
.bx_logo { float:right; width:750px; padding-right:30px;}
.bx_logo .bx-wrapper .bx-viewport { -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; border:none; left:0; height:57px !important; background:none;}
.bx_logo .bx-wrapper { width:793px; margin:0 auto !important;}
.bx_logo .bx-wrapper li { text-align:center;}
.bx_logo .bx-wrapper img { display:inline; padding:10px 14px 0;}
.bx_logo .bx-wrapper .bx-pager { display:none;}
.bx_logo .bx-wrapper .bx-controls-direction { position:absolute; width:18px; height:57px; right:0; top:0;}
.bx_logo .bx-wrapper .bx-controls-direction a { width:18px; height:16px;}
.bx_logo .bx-wrapper .bx-controls-direction a.bx-prev { top:13px; margin-top:0; left:30px; background:url('../img/main/btn_up.png') 0 0 no-repeat;}
.bx_logo .bx-wrapper .bx-controls-direction a.bx-next { top:29px; margin-top:0; right:-30px; height:17px; background:url('../img/main/btn_down.png') 0 0 no-repeat;}

.qs_layer { position:absolute; top:240px; left:50%; margin-left:-298px; width:596px; height:346px; background:url('../img/common/bg_login.png') 0 0 no-repeat;}
.qs_layer dl { padding:48px 60px;}
.qs_layer dl dt { margin-bottom:25px;}
.qs_layer dl dd strong { display:block; margin-bottom:15px; color:#444;}
.qs_layer dl dd { color:#888; line-height:18px; letter-spacing:-1px;}
.qs_layer dl dd.btn { margin-top:40px; text-align:center;}
.qs_layer .close_btn { position:absolute; right:25px; top:20px;}

/* main contents */
.g_content { }
.gc_item01 { overflow:hidden;}
.gc_item01 a { display:block; float:left;}

.gc_item02 { position:relative; width:100%; height:285px; overflow:hidden; background:#fff;}
.gc_subcon01 h2 { position:absolute; top:45px; left:35px;}
.gc_subcon01 ul.g_tab_a { position:absolute; top:45px; right:35px;}
.gc_subcon01 ul.g_tab_a li { float:left; width:63px; height:41px;}
.gc_subcon01 ul.g_tab_a li.gc_t6 { width:62px;}

.gc_subcon01 ul.g_tab_a li a { display:block; width:63px; height:41px; text-indent:-1000em; background:url('../img/main/bg_teacher_tab.png') 0 0 no-repeat;}
.gc_subcon01 ul.g_tab_a li.gc_t1 a { background-position:0 0;}
.gc_subcon01 ul.g_tab_a li.gc_t2 a { background-position:-63px 0;}
.gc_subcon01 ul.g_tab_a li.gc_t3 a { background-position:-126px 0;}
.gc_subcon01 ul.g_tab_a li.gc_t4 a { background-position:-189px 0;}
.gc_subcon01 ul.g_tab_a li.gc_t5 a { background-position:-252px 0;}
.gc_subcon01 ul.g_tab_a li.gc_t6 a { width:62px; background-position:-315px 0;}
.gc_subcon01 ul.g_tab_a li.gc_t7 a { background-position:-377px 0;}

.gc_subcon01 ul.g_tab_a li.gc_t1 a:hover,
.gc_subcon01 ul.g_tab_a li.gc_t1 a.active { background-position:0 -50px;}
.gc_subcon01 ul.g_tab_a li.gc_t2 a:hover,
.gc_subcon01 ul.g_tab_a li.gc_t2 a.active { background-position:-63px -50px;}
.gc_subcon01 ul.g_tab_a li.gc_t3 a:hover,
.gc_subcon01 ul.g_tab_a li.gc_t3 a.active  { background-position:-126px -50px;}
.gc_subcon01 ul.g_tab_a li.gc_t4 a:hover,
.gc_subcon01 ul.g_tab_a li.gc_t4 a.active { background-position:-189px -50px;}
.gc_subcon01 ul.g_tab_a li.gc_t5 a:hover,
.gc_subcon01 ul.g_tab_a li.gc_t5 a:active { background-position:-252px -50px;}
.gc_subcon01 ul.g_tab_a li.gc_t6 a:hover,
.gc_subcon01 ul.g_tab_a li.gc_t6 a.active { background-position:-315px -50px;}
.gc_subcon01 ul.g_tab_a li.gc_t7 a:hover,
.gc_subcon01 ul.g_tab_a li.gc_t7 a.active { background-position:-377px -50px;}

.gc_subcon01 .gc_tabcon { display:none; width:100%; height:285px;}
.gc_subcon01 .gc_tabcon01 { display:block; background:url('../img/main/teacher_img01.jpg') 0 0 no-repeat;}
.gc_subcon01 .gc_tabcon02 { background:url('../img/main/teacher_img02.jpg') 0 0 no-repeat;}
.gc_subcon01 .gc_tabcon03 { background:url('../img/main/teacher_img03.jpg') 0 0 no-repeat;}
.gc_subcon01 .gc_tabcon04 { background:url('../img/main/teacher_img04.jpg') 0 0 no-repeat;}
.gc_subcon01 .gc_tabcon05 { background:url('../img/main/teacher_img05.jpg') 0 0 no-repeat;}
.gc_subcon01 .gc_tabcon06 { background:url('../img/main/teacher_img06.jpg') 0 0 no-repeat;}
.gc_subcon01 .gc_tabcon07 { background:url('../img/main/teacher_img07.jpg') 0 0 no-repeat;}

.gc_subcon02 { position:relative; float:left; width:50%; height:285px; background:#ebeff4;} 
.gc_subcon02.pass_review { background:#f1f4f7;}
.gc_subcon02 h2 { padding:44px 0 25px 35px;}
.gc_subcon02 .more_btn { position:absolute; top:50px; right:43px;}
.gc_subcon02 ul { padding-left:35px;}
.gc_subcon02 ul li { position:relative; width:408px;}
.gc_subcon02 ul li a { display:inline-block; width:330px; line-height:28px; color:#555; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.gc_subcon02 ul li span { position:absolute; right:0; top:7px; font-size:11px; font-family:verdana; color:#9a9a9a;}

.gc_cf { float:left; width:50%;}
.gc_customer { float:left; width:50%;}

.gc_item03 { position:relative; width:100%; height:285px; overflow:hidden; margin-bottom:20px;}
.gc_item04 { position:relative; width:100%; height:145px; overflow:hidden; margin-bottom:75px;}
.gc_item04 > div { position:relative; width:50%; float:left; height:145px;}
.gc_item04 > div.dday_afpk { background:url('../img/main/bg_afpk_dday.gif') 0 0 no-repeat;}
.gc_item04 > div.dday_cfp { background:url('../img/main/bg_cfp_dday.gif') 0 0 no-repeat;}
.gc_item04 > div > .date { position:absolute; top:85px; left:90px; font-family:tahoma; font-size:16px; color:#2c3749;}
.gc_item04 > div.dday_cfp > .date { left:96px;}
.gc_item04 > div > .day { position:absolute; top:82px; left:227px;}
.gc_item04 > div.dday_cfp > .day { left:232px;}
.gc_item04 > div > .detail_btn { position:absolute; top:21px; right:47px; width:104px; height:104px; text-indent:-1000em;}