@charset "utf-8";

@import url('nanumgothic.css');
@import url('reset.css');

#container_mem { background:#fcfcfc;}
#content_mem { position:relative; width:605px; margin:0 auto;}

a { color:#666; text-decoration:none;}
a:hover { color:#666; text-decoration:none;}
a:active { color:#666; text-decoration:none;}
.blind { position:absolute; top:0; left:-9999em; width:0; height:0; font-size:0; line-height:0}
.clearfix { clear: both}
.clearfix:after { content:""; display:block; clear:both;}
.hidden { position:absolute; z-index:-1; top:-10000em; height:0;}
.none_pad { padding:0 !important;}

.hidden { position:absolute; z-index:-1; top:-10000em; height:0;}

.g_content { position:relative; width:100%; overflow:hidden; min-height:400px; padding-bottom:100px;}

/* Tab Style Guide */
.g_tab_a { height:47px; border-bottom:2px solid #3649b8;}
.g_tab_a:after { content:" "; display:block; clear:both; height:0; visibility:hidden; }
.g_tab_a li { float:left; border-left:1px solid #d4d4d4; border-right:1px solid #d4d4d4;}
.g_tab_a li a { display:block; width:301px;text-align:center; height:47px; line-height:47px; color:#606060; font-size:15px; background-color:#f3f3f3; }
.g_tab_a li:first-child { border-right:none;}
.g_tab_a li.current { height:47px; font-family: nanum_b, 'nanum_b'; border-left:1px solid #3649b8;}
.g_tab_a li.current a { font-weight:bold; padding:0; color:#fff; line-height:47px; background:#3649b8;}

/* 회원가입 */
.member_type { position:relative; width:494px; margin:0 auto;}
.member_type a { display:block; width:100%; margin-bottom:10px;}
.join_process { position:relative; width:100%; overflow:hidden; height:50px; background:url('/new2/member_new/img/bg_join_process.png') 0 0 no-repeat;}
.join_process li { display:inline; line-height:50px;}
.join_process li span { display:block; position:absolute; top:0; padding-left:20px; color:#aaa; font-size:15px; line-height:50px;}
.join_process li span.current { padding-left:45px; color:#fff; font-family: nanum_b, 'nanum_b';}
.join_process li.join_p01 span { padding-left:25px; width:135px; left:0;}
.join_process li.join_p02 span { width:131px; left:160px;}
.join_process li.join_p03 span { width:130px; left:311px;}
.join_process li.join_p04 span { width:122px; left:461px;}
.join_process li.join_p01 span.current { padding-left:25px; background:url('/new2/member_new/img/bg_join_process01_on.png') 0 0 no-repeat;}
.join_process li.join_p02 span.current  { width:131px; left:134px; background:url('/new2/member_new/img/bg_join_process02_on.png') 0 0 no-repeat;}
.join_process li.join_p03 span.current  { width:131px; left:285px; background:url('/new2/member_new/img/bg_join_process03_on.png') 0 0 no-repeat;}
.join_process li.join_p04 span.current  { width:124px; left:436px; background:url('/new2/member_new/img/bg_join_process04_on.png') 0 0 no-repeat;}

.join_item .list_type_a li { font-size:13px; line-height:21px;}
.join_item .join_head { padding:24px 0 20px;}

.join_item ul.form_list_b li { padding:13px 0 13px 20px; border-top:1px dashed #c5c5c5;}
.join_item ul.form_list_b li:first-child { border-top:none;}
.join_item ul.form_list_b dl { overflow:hidden;}
.join_item ul.form_list_b dl dt { float:left; width:83px; color:#000;}
.join_item ul.form_list_b dl dd { float:left; padding-left:15px; width:360px;}
.join_item ul.form_list_b.none_float .g_radio { margin-top:15px;}

.join_item .g_radio.job label { margin-right:30px;}

/* 탈퇴 */
.secede_item .g_msg_f { padding:30px 0 20px;}
.secede_item .g_msg_f strong { color:#000;}
.secede_item .list_type_a { margin-bottom:40px;}
.secede_item .list_type_a strong { color:#3649b8; letter-spacing:0;}
.secede_item .secede_reason { margin-bottom:45px; padding:15px 0; border-top:1px solid #929292; border-bottom:1px solid #e1e1e1;}
.secede_item .secede_reason ul { overflow:hidden;}
.secede_item .secede_reason ul li { float:left; width:33%; line-height:25px; font-size:13px;}
.secede_item .head_txt { padding-bottom:0;}

/* 아이디 찾기 */
.find_result { margin-top:30px;}
.find_id { font-size:17px; color:#000;}

/* Text Style Guide */
.asterisk { text-indent:-1000em; display:inline-block; width:10px; height:10px; margin-right:3px; vertical-align:middle; background:url(/new2/member_new/img/bu_asterisk.png) 0 0 no-repeat;}
.atr_txt { margin-top:-10px; text-align:right; color:#ff0000; font-size:12px; font-family:'nanum_b';}
.g_point_a { color:#333; font-size:13px; letter-spacing:-1px;}
.g_point_b { color:#777; font-size:12px; letter-spacing:-1px;}

.g_msg_a { padding:20px 0 30px; font-size:13px; color:#666; line-height:21px;}
.g_msg_a.pad1 { padding:5px 0;}
.g_msg_b { padding:20px 0 10px; font-size:15px; line-height:23px; letter-spacing:-1px;}
.g_msg_c { display:block; margin-top:5px; padding-left:9px; line-height:18px; font-size:12px; color:#777; letter-spacing:-1px; background:url(http://img.eduwill.net/books/web/common/bu_dot01.gif) 0 10px no-repeat;}
.g_msg_d { font-size:12px; color:#3649b8; letter-spacing:-1px;}
.g_msg_e { font-size:20px; color:#000; font-family:'nanum_b'; text-align:center; letter-spacing:-1px;}
.g_msg_f { padding:20px 0 35px; font-size:15px; color:#777; letter-spacing:-1px; line-height:24px;}

/* term box */
.term_wrap h4 {margin:30px 0 10px; position:relative; font-family: nanum_b, 'nanum_b'; font-size: 20px; color: #000; letter-spacing:-1px;}
.term_wrap .term_box {padding:20px; border:1px solid #e6e6e6; height:90px; overflow:auto; font-size:13px; line-height:20px; letter-spacing:-1px}
.term_box h5 { font-size:16px; padding-bottom:10px; color:#3c3c3c;}
.term_box strong{color:#3c3c3c; font-size:14px}
.term_box table {border-right:1px solid #e7e6e6}
.term_box table th {border-left:1px solid #e7e6e6}
.term_box table td {border-left:1px solid #e7e6e6; padding:7px 7px 9px; font-size:13px;}
.term_box dl dt { padding-bottom:10px; font-family: nanum_b, 'nanum_b'; color:#3c3c3c; font-size:16px}
.term_wrap .g_radio {margin:10px 0 30px; text-align:right; font-size:13px;}
.term_wrap .g_radio input { margin-left:20px;}
.term_wrap.personal .term_box{height:105px}
.term_wrap.personal .right_align { margin-top:-22px; margin-bottom:10px;}

.head_txt { padding:45px 0 30px; text-align:center; letter-spacing:-1px;}
.head_txt .big_txt { margin-bottom:17px; font-size:33px; color:#000; line-height:40px; font-family: nanum_b, 'nanum_b';}
.head_txt .mid_txt { line-height:22px;}

/* Button Style Guide */
.btn_group { position:relative; overflow:hidden; text-align:center; margin:30px 0;}
a.g_btn_a { display:inline-block; padding:0 55px; min-width:70px; font-size:18px; text-align:center; height:50px; line-height:50px; color:#666; background-color:#e4e4e4;}
a.g_btn_b { display:inline-block; padding:0 55px; min-width:70px; font-family: nanum_b, 'nanum_b'; font-size:18px; text-align:center; height:50px; line-height:50px; color:#fff; background-color:#4e63df;}
a.g_btn_c { display:inline-block; padding:0 20px; font-size:12px; text-align:center; height:25px; line-height:25px; color:#606060; background-color:#e6e6e6}
a.g_btn_d { display:inline-block; padding:0 20px; font-family: nanum_b, 'nanum_b'; font-size:12px; text-align:center; height:25px; line-height:25px; color:#fff; background-color:#4e63df;}
a.g_btn_e { display:inline-block; padding:15px 0; text-align:center; font-size:20px; color:#fff; background-color:#4e63df;}
a.g_btn_e span { padding-right:35px; background:url('http://img.eduwill.net/books/web/membership/bu_arrow01.png') right 50% no-repeat;}
a.g_btn_e strong  { color:#ffed00;}
a.g_btn_f { display:inline-block; font-size:12px; text-align:center; height:22px; line-height:22px; color:#666; background:#fff; border:1px solid #cfcfcf; padding:0 15px; font-family: nanum_b, 'nanum_b';}

/* Table Style Guide */
.g_tbl_col { margin-top:10px; width:100%; border-top:1px solid #333;}
.g_tbl_col th { text-align:center; font-family: nanum_b, 'nanum_b'; font-size:13px; color:#000; padding:2px 0 2px 0; line-height:30px; border-bottom:1px solid #d1d1d1; background:#f7f7f7; }
.g_tbl_col td { line-height:21px; color:#777; font-size:13px; padding:10px 0; text-align:center; border-bottom:1px solid #d1d1d1;}

.g_tbl_row { margin-top:10px; width:100%; border-top:1px solid #929292;}
.g_tbl_row th { font-size:13px; color:#000; text-align:left; padding:2px 0 2px 14px; line-height:30px; border-bottom:1px solid #d1d1d1; background:#f7f7f7; }
.g_tbl_row td { line-height:21px; color:#000; font-size:13px; text-align:left; padding:10px 0 10px 20px; border-bottom:1px solid #d1d1d1; }

/* Form Style Guide */
input.g_input { height:23px; color:#000; line-height:23px; font-size:13px; vertical-align:middle; padding:0 5px; color:#666; border-top:1px solid #c9c9c9; border-left:1px solid #c9c9c9; border-bottom:1px solid #ebebeb; border-right:1px solid #ebebeb; }
input.char_phone { width:55px; }
.g_radio { margin-right:45px; }
.g_tip { color:#7f7f7f; font-size:12px; margin-left:8px; }
.g_textarea { padding:10px; width:98%; resize:none; border-top:1px solid #c9c9c9; border-left:1px solid #c9c9c9; border-bottom:1px solid #ebebeb; border-right:1px solid #ebebeb; }
.g_select { padding:3px 3px 4px 3px; border-top:1px solid #c9c9c9; border-left:1px solid #c9c9c9; border-bottom:1px solid #ebebeb; border-right:1px solid #ebebeb;}