// disabled
.disabled,
[disabled] {
	cursor: not-allowed;
	pointer-events: none;
}

input::-ms-input-placeholder { color: $color_base_medium; }
input::-webkit-input-placeholder { color: $color_base_medium; } 
input::-moz-placeholder { color: $color_base_medium; }

select {
	padding: 0 13px;
	height: 36px;
	border: 1px solid $border_color_1;
}

input[type=text] {
	padding: 0 13px;
	height: 36px;
	border: 1px solid $border_color_1;
}

// margin
.mg {
	&t10 { margin-top: 10px !important;}
	&t20 { margin-top: 20px !important;}
	&t30 { margin-top: 30px !important;}
	&t40 { margin-top: 40px !important;}
	&t50 { margin-top: 50px !important;}
	&t60 { margin-top: 60px !important;}
	&b10 { margin-bottom: 10px !important;}
	&b20 { margin-bottom: 20px !important;}
	&b30 { margin-bottom: 30px !important;}
	&b40 { margin-bottom: 40px !important;}
	&b50 { margin-bottom: 50px !important;}
	&b60 { margin-bottom: 60px !important;}
	&b80 { margin-bottom: 80px !important;}
}

// color
.color {
	&_black {
		color: $color_black;
	}
}

// Grid System
.grid {
	position: relative;
	@extend %clearfix;
	.col {
		position: relative;
		float: left;
		@include boxSizing(border-box);
		&_right {
			float: right;
		}
	}
}

// lnb
.lnb {
	float: left;
	width: 209px;
	li {
		margin-top: 11px;
		height: 36px;
		&:first-child {
			margin-top: 0;
		}
		a {
			position: relative;
			display: table;
			width: 100%;
			height: 100%;
			border-radius: 50px;
			//@include boxShadow(0 1px 2px 0 rgba(0,0,0, .1));
			@include boxSizing(border-box);
			background: $bg_color_1;
			border: 1px solid $border_color_1;
			span {
				display: table-cell;
				vertical-align: middle;
				padding-left: 20px;
				text-align: left;
				color: $color_base_dark;
				font-weight: 400;
				font-size: 15px;
			}
			&:hover {
				border: 0;
				background: $bg_color_5;
				span {
					color: $color_white;
				}
				&:after {
					content: '';
					position: absolute;
					top: 50%;
					right: 16px;
					display: block;
					margin-top: -3px;
					@include arrow(right, 6px, 6px, 1px, $bg_color_1);
				}
			}
		}
		&.in {
			a {
				border: 0;
				background: $bg_color_5;
				span {
					color: $color_white;
				}
				&:after {
					content: '';
					position: absolute;
					top: 50%;
					right: 16px;
					display: block;
					margin-top: -3px;
					@include arrow(right, 6px, 6px, 1px, $bg_color_1);
				}
			}
		}
		&.depth {
			.depth_title {
				position: relative;
				margin: 24px 0 15px;
				padding-left: 22px;
				font-size: 15px;
				font-weight: 700;
				color: $color_primary;
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 4px;
					left: 8px;
					width: 3px;
					height: 14px;
					background: $bg_color_5;
				}
			}
		}
	}
}

.bx-wrapper {
	margin: 0 auto !important; 
	.bx-viewport { 
		background: none;
		box-shadow: none;
		border: 0;
		left: 0;
	}
	.bx-wrapper img {
		display: inline;
	}
}

// tab
.tab_list {
	position: relative;
	z-index: 1;
	clear: both;
	*zoom: 1;
	&:before,
	&:after {
		content: '';
		display: table; 
	}
	&:after {
		clear: both;
	}
	li {
		float: left;
		a {
			display: block;
			margin-left: -1px;
		}
		&:first-child {
			a {
				margin-left: 0;
			}
		}
		&.in {
			span {
				z-index: 2;
				color: $color_base_dark; 
			}
		}
		&:hover {
			span {
				font-weight: 500;
				z-index: 2;
				color: $color_base_dark; 
			}
			a,
			span {
				text-decoration: none;
			}
		}
	}
	span {
		position: relative;
		z-index: 1;
		display: block;
		padding: 0 20px;
		color: $color_base_light;
		-webkit-transition: all .1s;
		transition: all .1s; 
	}

	&.tab_a {
		display: table;
		table-layout: fixed;
		width: 100%;
		height: 46px;
		li {
			display: table-cell;
			width: 100%;
			height: 100%;
			float: none;
			text-align: center;
			vertical-align: middle; 
			height: 45px;
			span {
				height: 45px;
				line-height: 45px;
				font-size: 15px;
				border-style: solid;
				border-width: 1px;
				border-color: $border_color_1;
				border-bottom-width: 1px;
				border-bottom-color: $border_color_active;
				background-color: $bg_color_1;
				z-index: 1;
			}
			&.in {
				span {
					font-weight: 500;
					border-color: $border_color_active;
					border-bottom-color: $bg_color_1;
					z-index: 10;
				}
			}
		}
	}

	+ .tab_contents {
		.bbs_list { margin-top: 55px;}
	}
}

.tab_contents {
	position: relative;
	.item {
		display: none;
		&.in {
			display: block;
		}
	}
}


.bbs_list {
	position: relative;
	margin-top: 0;
	.total_post {
		position: absolute;
		top: 13px;
		left: 0;
		color: $color_black;
		font-weight: 400;
		font-size: 13px;
		strong {
			font-family: $roboto;
			color: $color_primary;
			font-weight: 700;
			font-size: 13px;
		}
	}

	.search_form {
		position: relative;
		margin-bottom: 10px;
		text-align: right;
		height: 36px;
		select {
			width: 100px;
			color: $color_base_light;
			font-size: 13px;
			&:focus {
				outline:none;
			}
		}
		input {
			padding-right: 40px;
			width: 270px;
			&:focus {
				outline:none;
			}
		}
		button { 
			position: absolute;
			width: 17px;
			height: 17px;
			top: 50%;
			right: 12px;
			margin-top: -8px;
			border: 0;
			background: url('#{$img_path}/btn_search.png') 50% 50% no-repeat;
			background-size: 17px;
		}
	}

	.table_wrap {
		margin-bottom: 52px;
		.bbs_col {
			width: 100%;
			border-collapse: collapse;
			table-layout: fixed;
			border-top: 1px solid $border_color_active;
			tr.top {
				th,
				td {
					background: $bg_color_2;
					&.subject {
						a {
							display: inline-block;
							max-width: 540px;
							word-break: break-all;
							color: $color_black;
						}
					}
				}
			}
			th,
			td {
				border: 0;
				border-bottom: 1px solid $border_color_1;
			}
			th {
				padding: 10px 0;
				font-size: 13px;
				font-weight: 500;
				color: $color_base;
				text-align: center;
				vertical-align: middle;
			}
			td {
				text-align: center;
				height: 50px;
				font-size: 13px;
				font-family: $roboto;
				color: $color_base;
				vertical-align: middle;
				&:first-child {
					font-size: 11px;
				}
				&.category { color: $color_primary_medium;}
				&.subject {
					text-align: left;
					a {
						padding-left: 15px;
						@extend %textEllipsis;
						&:hover {
							text-decoration: underline;
						}
					}
				}
				&.date {
					letter-spacing: -.5px;
					color: $color_base_light;
				}
				.icon_new {
					display: inline-block;
					margin-left: 5px;
					width: 15px;
					height: 15px;
					text-align: center;
					line-height: 15px;
					background: $color_warning;
					&:after {
						content:'N';
						color: $color_white;
						font-family: $roboto;
						font-size: 10px;
						font-weight: 700;
						vertical-align: top;
					}
				}
			}
			.label {
				display: inline-block;
				padding: 2px 8px;
				height: 19px;
				line-height: 1;
				font-size: 11px;
				font-weight: 700;
				color: $color_warning;
				border: 1px solid $border_color_2;
				border-radius: 3px;
				@include boxSizing(border-box);
				@media screen and (-webkit-min-device-pixel-ratio:0) {
					line-height: 1.2;
				}
			}
		}
	}

	.list_wrap {
		ul {
			@extend %clearfix;
			li {
				float: left;
				position: relative;
				margin-right: 30px;
				margin-bottom: 30px;
				width: 240px;
				height: 205px;
				border: 1px solid $border_color_1;
				@include boxSizing(border-box);
				a {
					display: block;
					width: 100%;
					height: 100%;
					padding: 10px;
					@include boxSizing(border-box);
					.img {
						display: inline-block;
						max-height: 110px;
						overflow: hidden;
						img { width: 100%;}
					}
					.caption {
						margin-top: 20px;
						padding: 0 5px;
						font-size: 15px;
						color: $color_base_dark;
						font-weight: 400;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 2; /* 라인수 */
						-webkit-box-orient: vertical;
						word-wrap:break-word;
						line-height: 1.4em;
						height: 2.8em;
						@media screen and (min-width:0\0){
							.caption {
								position: relative;
								&:before {
									content: '\2026';
									background: #fff;
									bottom: 0;
									position: absolute;
									right: 0;
									float: right;
									margin-left: -3rem;
									width: 3rem;
								}
								&:after {
									content: '';
									background: #fff;
									position: absolute;
									height: 50px;
									width: 100%;
									z-index: 1;
								  }
							}
						}
					}
				}
				&:nth-child(3n) { margin-right: 0;}
			}
		}
	}

	.pager_control {
		position: relative;
		text-align: center;
		a {
			display: inline-block;
			line-height: 24px;
			margin: 0 9px;
			font-size: 13px;
			font-family: $roboto;
			font-weight: 400;
			color: $color_base_light;
			&.in {
				color: $color_black;
				font-weight: 700;
			}
			&.pager {
				margin: 0;
				height: 22px;
				line-height: 22px;
				border: 1px solid $border_color_1;
			}
			&.prev {
				margin-right: 10px;
			}
			&.next {
				margin-left: 10px;
			}
			&:hover {
				color: $color_base_dark;
			}
		}
	}
}

.bbs_view {
	.btn_list {
		position: relative;
		display: table;
		width: 72px;
		height: 32px;
		@include boxSizing(border-box);
		border: 1px solid $border_color_1;
		span {
			display: table-cell;
			vertical-align: middle;
			padding: 0 6px;
			font-size: 12px;
			color: $color_base;
			font-weight: 400;
			letter-spacing: -.5px;
			&:before {
				content:'';
				display: inline-block;
				position: relative;
				top: -1px;
				margin-right: 4px;
				margin-left: 3px;
				@include arrow(left, 6px, 6px, 1px, $border_color_3);
			}
		}
	}

	.view { 
		margin: 15px 0;
		border-top: 1px solid $border_color_active;
		.title {
			padding: 16px 25px 15px 15px;
			text-align: left;
			font-size: 18px;
			color: $color_black;
			font-weight: 400;
			@include boxSizing(border-box);
			border-bottom: 1px solid $border_color_4;
		}
		.download {
			position: relative;
			padding: 15px;
			min-height: 18px;
			background: $bg_color_2;
			border-bottom: 1px solid $border_color_4;
			.file {
				position: relative;
				padding-left: 20px;
				text-align: left;
				background: url('#{$img_path}/sub/icon_download.png') 0 0 no-repeat;
				&:before {
					position: absolute;
					top: 0;
					content: '첨부파일';
					display: inline-block;
					margin-right: 24px;
					font-size: 12px;
					color: $color_base;
					font-weight: 400;
				}
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 5px;
					left: 74px;
					width: 1px;
					height: 8px;
					background: $bg_color_6;
				}
				a {
					display: block;
					padding-left: 64px;
					font-size: 12px;
					color: $color_base_light;
					letter-spacing: -0.5px;
					line-height: 1.5;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.date {
				position: absolute;
				top: 15px;
				right: 17px;
				font-size: 12px;
				color: $color_base_light;
				letter-spacing: -0.5px;
			}
		}
		.view_text {
			padding: 17px 21px;
			text-align: left;
			font-size: 13px;
			color: $color_base;
			border-bottom: 1px solid $border_color_active;
		}
	}
}