@{
	String platform = ("W".Equals(ViewBag.PlatformCd))? "pc": "mobile";
	String link1 = ("W".Equals(ViewBag.PlatformCd)) ? "//nrc.eduwill.net/ProductAuto/Index?masterSeq=MzI2MjQ=" : "//brand.eduwill.net/academy/sugang/view.will?code=NRC&progress=W&mSeq=32624";
	String link2 = ("W".Equals(ViewBag.PlatformCd)) ? "//nrc.eduwill.net/ProductAuto/Index?masterSeq=MzI2MjU=" : "//brand.eduwill.net/academy/sugang/view.will?code=NRC&progress=W&mSeq=32625&code=NRC";
}

<div class="promotion">

	<div class="sector-title">
		<div class="wrap-full">
			<p class="title-1"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220118/@platform/title_text1.png" alt="경찰 공무원 2022년 시험과목 한눈에보기"></p>
			<p class="title-2"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220118/@platform/title_text2.png" alt="2022년 시행 예정인 과목개편, 미리 대응해야 남들보다 앞서갈 수 있습니다."></p>
			<p class="title-3"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220118/@platform/title_step1.png" alt="STEP1 필기시험 (50%)"></p>
			<p class="title-4"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220118/@platform/title_step2.png" alt="STEP2 체력시험 (25%)"></p>
			<p class="title-5"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220118/@platform/title_step3.png" alt="STEP3 면접 + 가산점 (20%+5%)"></p>
		</div>
	</div>

	<div class="sector-info">
		<div class="wrap">
			<div class="info-1">
				<img src="//img.eduwill.net/eduwill/img/2022/C/event/220118/@platform/info_1.jpg" alt="">
			</div>
			<div class="info-2">
				<img src="//img.eduwill.net/eduwill/img/2022/C/event/220118/@platform/info_2.jpg" alt="">
			</div>
			<div class="info-3">
				<img src="//img.eduwill.net/eduwill/img/2022/C/event/220118/@platform/info_3.png" alt="">
				<div class="go_action">
					<a href="javascript:;" data-popup-open="rules" class="arrow">자세히보기</a>
				</div>
			</div>
		</div>
	</div>

	<div class="sector-apply">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/C/event/220118/@platform/apply.jpg" alt="">
			<div class="apply-list">
				<div class="list">
					<a href="@link1" target="_blank">
						<div class="box">
							<div class="desc">
								<strong><span>2023</span> 평생패스</strong>
							</div>
							<div class="detail">
								<div class="go_action">
									<span class="arrow">자세히보기</span>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="list">
					<a href="@link2" target="_blank">
						<div class="box">
							<div class="desc">
								<strong><span>2023</span> 단기패스</strong>
							</div>
							<div class="detail">
								<div class="go_action">
									<span class="arrow">자세히보기</span>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	
</div>

<div class="dimmed"></div>
<div class="popup popup-rules popup-list" id="popupRules">
	<div class="popup-body">
		<div class="list-title">
			<strong>체력시험 기준표</strong>
		</div>
		<div class="list-view">
			@if ("W".Equals(ViewBag.PlatformCd)){
				@*  공무원 합격전략 연구소 페이지 내용 복사 https://govlab.eduwill.net/exam/interview *@
				<div class="desc">
					<div class="desc_title">남자</div>

					<div class="table_wrap">
						<table class="table_col narrow sm">
							<caption>경찰공무원 체력시험 남자 기준 안내</caption>
							<colgroup>
								<col style="width: 14%">
								<col span="10" style="width: 8.4%">
							</colgroup>
							<thead>
								<tr>
									<th scope="col">구분</th>
									<th scope="col">10점</th>
									<th scope="col">9점</th>
									<th scope="col">8점</th>
									<th scope="col">7점</th>
									<th scope="col">6점</th>
									<th scope="col">5점</th>
									<th scope="col">4점</th>
									<th scope="col">3점</th>
									<th scope="col">2점</th>
									<th scope="col">1점</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="scope_left">100m 달리기(초)</td>
									<td>13.0이내</td>
									<td>13.1∼13.5</td>
									<td>13.6∼14.0</td>
									<td>14.1∼14.5</td>
									<td>14.6∼15.0</td>
									<td>15.1∼15.5</td>
									<td>15.6∼16.0</td>
									<td>16.1∼16.5</td>
									<td>16.6∼16.9</td>
									<td>17.0이후</td>
								</tr>
								<tr>
									<td class="scope_left">1,000m 달리기(초)</td>
									<td>230이내</td>
									<td>231∼236</td>
									<td>237∼242</td>
									<td>243∼248</td>
									<td>249∼254</td>
									<td>255∼260</td>
									<td>261∼266</td>
									<td>267∼272</td>
									<td>273∼279</td>
									<td>280이후</td>
								</tr>
								<tr>
									<td class="scope_left">윗몸일으키기(회/1분)</td>
									<td>58이상</td>
									<td>57∼55</td>
									<td>54∼51</td>
									<td>50∼46</td>
									<td>45∼40</td>
									<td>39∼36</td>
									<td>35∼31</td>
									<td>30∼25</td>
									<td>24∼22</td>
									<td>21이하</td>
								</tr>
								<tr>
									<td class="scope_left">좌우 악력(kg)</td>
									<td>61이상</td>
									<td>60∼59</td>
									<td>58∼56</td>
									<td>55∼54</td>
									<td>53∼51</td>
									<td>50∼48</td>
									<td>47∼45</td>
									<td>44∼42</td>
									<td>41∼38</td>
									<td>37이하</td>
								</tr>
								<tr>
									<td class="scope_left">팔굽혀펴기(회/1분)</td>
									<td>58이상</td>
									<td>57∼52</td>
									<td>51∼46</td>
									<td>45∼40</td>
									<td>39∼34</td>
									<td>33∼28</td>
									<td>27∼23</td>
									<td>22∼18</td>
									<td>17∼13</td>
									<td>12이하</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="desc_title mgt20">여자</div>

					<div class="table_wrap">
						<table class="table_col narrow sm">
							<caption>경찰공무원 체력시험 여자 기준 안내</caption>
							<colgroup>
								<col style="width: 14%">
								<col span="10" style="width: 8.4%">
							</colgroup>
							<thead>
								<tr>
									<th scope="col">구분</th>
									<th scope="col">10점</th>
									<th scope="col">9점</th>
									<th scope="col">8점</th>
									<th scope="col">7점</th>
									<th scope="col">6점</th>
									<th scope="col">5점</th>
									<th scope="col">4점</th>
									<th scope="col">3점</th>
									<th scope="col">2점</th>
									<th scope="col">1점</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="scope_left">100m 달리기(초)</td>
									<td>15.5이내</td>
									<td>15.6∼16.3</td>
									<td>16.4∼17.1</td>
									<td>17.2∼17.9</td>
									<td>18.0∼18.7</td>
									<td>18.8∼19.4</td>
									<td>19.5∼20.1</td>
									<td>20.2∼20.8</td>
									<td>20.9∼21.5</td>
									<td>21.6이후</td>
								</tr>
								<tr>
									<td class="scope_left">1,000m 달리기(초)</td>
									<td>290이내</td>
									<td>291∼297</td>
									<td>298∼304</td>
									<td>305∼311</td>
									<td>312∼318</td>
									<td>319∼325</td>
									<td>326∼332</td>
									<td>333∼339</td>
									<td>340∼347</td>
									<td>348이후</td>
								</tr>
								<tr>
									<td class="scope_left">윗몸일으키기(회/1분)</td>
									<td>55이상</td>
									<td>54∼50</td>
									<td>49∼45</td>
									<td>44∼40</td>
									<td>39∼35</td>
									<td>34∼30</td>
									<td>29∼25</td>
									<td>24∼19</td>
									<td>18∼13</td>
									<td>12이하</td>
								</tr>
								<tr>
									<td class="scope_left">좌우악력(kg)</td>
									<td>40이상</td>
									<td>39∼38</td>
									<td>37∼36</td>
									<td>35∼34</td>
									<td>33∼31</td>
									<td>30∼29</td>
									<td>28∼27</td>
									<td>26∼25</td>
									<td>24∼22</td>
									<td>21이하</td>
								</tr>
								<tr>
									<td class="scope_left">팔굽혀펴기(회/1분)</td>
									<td>50이상</td>
									<td>49∼45</td>
									<td>44∼40</td>
									<td>39∼35</td>
									<td>34∼30</td>
									<td>29∼26</td>
									<td>25∼21</td>
									<td>20∼16</td>
									<td>15∼11</td>
									<td>10이하</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="info_box">
						<ul>
							<li>체력검사의 평가종목 중 1종목 이상 1점을 받은 경우에는 불합격으로 한다.</li>
							<li>체력검사의 평가종목에 대한 구체적인 측정방법은 경찰청장이 정한다.</li>
							<li>100미터달리기의경우에는측정된수치중소수점둘째자리이하는버리고,1,000미터달리기의경우에는소수점첫째자리 이하는 버리며, 좌우 악력의 경우에는 소수점 첫째자리에서 반올림한다.</li>
						</ul>
					</div>
				</div>
			} else {
				<div class="item">
					<div class="padder">
						<div class="desc">
							<div class="sub_subject">남자</div>

							<table class="table table_col">
								<caption>남자 체력 시험 안내</caption>
								<colgroup>
									<col style="width:auto">
									<col span="2" style="width:40%">
								</colgroup>
								<thead>
									<tr>
										<th scope="col">구분</th>
										<th scope="col">100m 달리기(초)</th>
										<th scope="col">1,000m 달리기(초)</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>10점</td>
										<td>13.0이내</td>
										<td>230이내</td>
									</tr>
									<tr>
										<td>9점</td>
										<td>13.1∼13.5</td>
										<td>231∼236</td>
									</tr>
									<tr>
										<td>8점</td>
										<td>13.6∼14.0</td>
										<td>237∼242</td>
									</tr>
									<tr>
										<td>7점</td>
										<td>14.1∼14.5</td>
										<td>243∼248</td>
									</tr>
									<tr>
										<td>6점</td>
										<td>14.6∼15.0</td>
										<td>249∼254</td>
									</tr>
									<tr>
										<td>5점</td>
										<td>15.1∼15.5</td>
										<td>255∼260</td>
									</tr>
									<tr>
										<td>4점</td>
										<td>15.6∼16.0</td>
										<td>261∼266</td>
									</tr>
									<tr>
										<td>3점</td>
										<td>16.1∼16.5</td>
										<td>267∼272</td>
									</tr>
									<tr>
										<td>2점</td>
										<td>16.6∼16.9</td>
										<td>273∼279</td>
									</tr>
									<tr>
										<td>1점</td>
										<td>17.0이후</td>
										<td>280이후</td>
									</tr>
								</tbody>
							</table>

							<table class="table table_col">
								<caption>남자 체력 시험 안내</caption>
								<colgroup>
									<col style="width:auto">
									<col span="3" style="width:28%">
								</colgroup>
								<thead>
									<tr>
										<th scope="col">구분</th>
										<th scope="col">윗몸일으키기<br>
											(회/1분)</th>
										<th scope="col">좌우 악력<br>
											(kg)</th>
										<th scope="col">팔굽혀펴기<br>
											(회/1분)</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>10점</td>
										<td>58이상</td>
										<td>61이상</td>
										<td>58이상</td>
									</tr>
									<tr>
										<td>9점</td>
										<td>57∼55</td>
										<td>60∼59</td>
										<td>57∼52</td>
									</tr>
									<tr>
										<td>8점</td>
										<td>54∼51</td>
										<td>58∼56</td>
										<td>51∼46</td>
									</tr>
									<tr>
										<td>7점</td>
										<td>50∼46</td>
										<td>55∼54</td>
										<td>45∼40</td>
									</tr>
									<tr>
										<td>6점</td>
										<td>45∼40</td>
										<td>53∼51</td>
										<td>39∼34</td>
									</tr>
									<tr>
										<td>5점</td>
										<td>39∼36</td>
										<td>50∼48</td>
										<td>33∼28</td>
									</tr>
									<tr>
										<td>4점</td>
										<td>35∼31</td>
										<td>47∼45</td>
										<td>27∼23</td>
									</tr>
									<tr>
										<td>3점</td>
										<td>30∼25</td>
										<td>44∼42</td>
										<td>22∼18</td>
									</tr>
									<tr>
										<td>2점</td>
										<td>24∼22</td>
										<td>41∼38</td>
										<td>17∼13</td>
									</tr>
									<tr>
										<td>1점</td>
										<td>21이하</td>
										<td>37이하</td>
										<td>12이하</td>
									</tr>
								</tbody>
							</table>

							<div class="sub_subject">여자</div>

							<table class="table table_col">
								<caption>여자 체력 시험 안내</caption>
								<colgroup>
									<col style="width:auto">
									<col span="2" style="width:40%">
								</colgroup>
								<thead>
									<tr>
										<th scope="col">구분</th>
										<th scope="col">100m 달리기(초)</th>
										<th scope="col">1,000m 달리기(초)</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>10점</td>
										<td>15.5이내</td>
										<td>290이내</td>
									</tr>
									<tr>
										<td>9점</td>
										<td>15.6∼16.3</td>
										<td>291∼297</td>
									</tr>
									<tr>
										<td>8점</td>
										<td>16.4∼17.1</td>
										<td>298∼304</td>
									</tr>
									<tr>
										<td>7점</td>
										<td>17.2∼17.9</td>
										<td>305∼311</td>
									</tr>
									<tr>
										<td>6점</td>
										<td>18.0∼18.7</td>
										<td>312∼318</td>
									</tr>
									<tr>
										<td>5점</td>
										<td>18.8∼19.4</td>
										<td>319∼325</td>
									</tr>
									<tr>
										<td>4점</td>
										<td>19.5∼20.1</td>
										<td>326∼332</td>
									</tr>
									<tr>
										<td>3점</td>
										<td>20.2∼20.8</td>
										<td>333∼339</td>
									</tr>
									<tr>
										<td>2점</td>
										<td>20.9∼21.5</td>
										<td>340∼347</td>
									</tr>
									<tr>
										<td>1점</td>
										<td>21.6이후</td>
										<td>348이후</td>
									</tr>
								</tbody>
							</table>

							<table class="table table_col">
								<caption>여자 체력 시험 안내</caption>
								<colgroup>
									<col style="width:auto">
									<col span="3" style="width:28%">
								</colgroup>
								<thead>
									<tr>
										<th scope="col">구분</th>
										<th scope="col">윗몸일으키기<br>
											(회/1분)</th>
										<th scope="col">좌우 악력<br>
											(kg)</th>
										<th scope="col">팔굽혀펴기<br>
											(회/1분)</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>10점</td>
										<td>55이상</td>
										<td>40이상</td>
										<td>50이상</td>
									</tr>
									<tr>
										<td>9점</td>
										<td>54∼50</td>
										<td>39∼38</td>
										<td>49∼45</td>
									</tr>
									<tr>
										<td>8점</td>
										<td>49∼45</td>
										<td>37∼36</td>
										<td>44∼40</td>
									</tr>
									<tr>
										<td>7점</td>
										<td>44∼40</td>
										<td>35∼34</td>
										<td>39∼35</td>
									</tr>
									<tr>
										<td>6점</td>
										<td>39∼35</td>
										<td>33∼31</td>
										<td>34∼30</td>
									</tr>
									<tr>
										<td>5점</td>
										<td>34∼30</td>
										<td>30∼29</td>
										<td>29∼26</td>
									</tr>
									<tr>
										<td>4점</td>
										<td>29∼25</td>
										<td>28∼27</td>
										<td>25∼21</td>
									</tr>
									<tr>
										<td>3점</td>
										<td>24∼19</td>
										<td>26∼25</td>
										<td>20∼16</td>
									</tr>
									<tr>
										<td>2점</td>
										<td>18∼13</td>
										<td>24∼22</td>
										<td>15∼11</td>
									</tr>
									<tr>
										<td>1점</td>
										<td>12이하</td>
										<td>21이하</td>
										<td>10이하</td>
									</tr>
								</tbody>
							</table>

							<div class="tip_group">
								<ul>
									<li>체력검사의 평가종목 중 1종목 이상 1점을 받은 경우에는 불합격으로 한다.</li>
									<li>체력검사의 평가종목에 대한 구체적인 측정방법은 경찰청장이 정한다.</li>
									<li>100미터달리기의경우에는측정된수치중소수점둘째자리이하는버리고,1,000미터달리기의경우에는소수점첫째자리 이하는 버리며, 좌우 악력의 경우에는 소수점 첫째자리에서
										반올림한다.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
	<a class="popup-close" data-popup-close="rules" href="javascript:;"><span>팝업 닫기</span></a>
</div>

<script type="text/javascript">
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
	var url = window.location.href;
	var str = 'event.eduwill.net';
	var checkUrl = url.indexOf(str);
	//f( isMobile ){}
	$(function(){
		frontInit();
	});

	function frontInit(){
		titleEvent();
		addEvent();
	}

	function titleEvent(){
		var promotionTitle = $('.sector-title');
		TweenMax.fromTo( promotionTitle.find('.title-1'), .5, { opacity: 0, x: 50 }, { opacity: 1, x: 0, delay: .3, ease: Power2.easeOut });
		TweenMax.fromTo( promotionTitle.find('.title-2'), .5, { opacity: 0, x: 50 }, { opacity: 1, x: 0, delay: .5, ease: Power2.easeOut });
		TweenMax.fromTo( promotionTitle.find('.title-3'), 1, { opacity: 0, x: 0, y: 50 }, { opacity: 1, x: 0, y: 0, delay: .7, ease: Back.easeOut.config(1) });
		TweenMax.fromTo( promotionTitle.find('.title-4'), 1, { opacity: 0, x: 0, y: 50 }, { opacity: 1, x: 0, y: 0, delay: .9, ease: Back.easeOut.config(1) });
		TweenMax.fromTo( promotionTitle.find('.title-5'), 1, { opacity: 0, x: 0, y: 50 }, { opacity: 1, x: 0, y: 0, delay: 1.1, ease: Back.easeOut.config(1) });
	}

	function addEvent(){
		pageMove('.page-move');

		$('[data-popup-open]').on('click', function () {
			var _data = $(this).data('popupOpen');
			if (_data == 'rules') {
				popupOpen('.dimmed', 'popupRules');
			}
		});
		$('[data-popup-close]').on('click', function () {
			var _data = $(this).data('popupClose');
			if (_data == 'rules') {
				popupClose('.dimmed', 'popupRules');
			}
		});

	}
</script>
