@{
	string viewPath = ((RazorView)ViewContext.View).ViewPath;
	viewPath = viewPath.Remove(viewPath.LastIndexOf('/') + 1);
}

@{
    String platform = ("W".Equals(ViewBag.PlatformCd))? "pc": "mobile";
}

<div id="contents" class="promotion">
	<div class="sector-visual">
		<div class="wrap">
			<div class="sub">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_visual_sub.png" alt="런칭 즉시 1위* 에듀윌 토익의 "업계 최초 인공 지능 토익 공식 앱"">
			</div>
			<div class="item">
				<div class="tit">
					<div class="tit-small">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_visual_tit_01.png" alt="공식, 알면 오르니까 쉬운 토익 공식">
					</div>
					<div class="tit-big">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_visual_tit_02.png" alt="에듀윌 토익 AI">
					</div>
					@if("W".Equals(ViewBag.platformCd)) {
						<a href="#download" class="download page-move">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_visual_btn.png" alt="앱 무료 다운로든">
						</a>
					}
				</diV>
			</div>
			<div class="phone">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_visual_phone.gif" alt="비쥬얼 휴대폰 gif">
			</div>
			@if("M".Equals(ViewBag.platformCd)) {
				<a href="#download" class="download page-move">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_visual_btn.png" alt="앱 무료 다운로든">
				</a>
			}
			<div class="small">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_visual_small.png" alt="에듀윌 토익 AI 앱 GIF">
			</div>
		</div>
	</div>

	<div class="sector-intro" id="event">
		<div class="intro-cont-1">
			<div class="wrap">
				<div class="intro-tit scroll-animate motion-up-1">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_intro_tit_01.png" alt="토익의 판도를 바꿀 역작, 에듀윌 토익 AI 앱을 소개합니다.">
				</div>
				<div class="intro-items">
					<div class="item tablet scroll-animate motion-up-1">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/common/img_introduce.gif" alt="토익앱 GIF">
					</div>
					<div class="item phone scroll-animate motion-up-3">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_intro_phone.png" alt="토익앱 우측 휴대폰 이미지">
						<div class="app-logo"><img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220314_4/pc/app_logo.gif" alt="" /></div>
					</div>
				</div>
			</div>
		</div>

		<div class="intro-cont-2">
			<div class="wrap">
				<div class="intro-tit scroll-animate motion-up-1">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_intro_tit_02.png" alt="토익커 10명중 9명이 인정*한 점수상승 비법, 토익공식">
				</div>
				<div class="phone-wrap">
					<div class="phone">
						<div class="base scroll-animate motion-up-1">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_intro_phone_02.png" alt="토익 공식 이미지">
						</div>
						<div class="point point-fir scroll-animate motion-up-1">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_intro_point_01.png" alt="공식: 조동사(may) 뒤 빈칸은 동사원형 이미지">
						</div>
						@* <div class="point point-sec motion-fade-1">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_intro_point_02.png" alt="may____ 이미지">
						</div>
						<div class="point point-thi motion-fade-2">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_intro_point_03.png" alt="D send 동사원형 이미지">
						</div> *@
						
					</div>
					<div class="list scroll-animate motion-up-3">
						<ul>
							<li>
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_point_text_01.png" alt="공식만 알면">
							</li>
							<li class="scroll-animate motion-fade-1">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_point_text_02.png" alt="해석 없어도">
							</li>
							<li class="scroll-animate motion-fade-2">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_point_text_03.png" alt="정답까지 1초컷">
							</li>
						</ul>
					</div>
				</div>
				<div class="txt scroll-animate motion-up-1">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_intro_txt_02.png" alt="점수상승비법 근거문구">
				</div>
			</div>
		</div>

		<div class="intro-cont-3">
			<div class="wrap">
				<div class="intro-tit scroll-animate motion-up-1">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_intro_tit_03.png" alt="에듀윌 토익 AI가 추천하는 "토익공식"으로 토익은 쉽게, 점수 상승은 빠르게">
				</div>
				<div class="intro-point scroll-animate motion-up-3">
					<div class="phone">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_intro_phone_03.png" alt="손 모양 이미지">
					</div>
					<div class="label">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_intro_label.png" alt="토익공식 월계수">
					</div>
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="img">
									<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_intro_slide_01.png" alt="업계유일">
								</div>
							</div>
							<div class="swiper-slide">
								<div class="img">
									<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_intro_slide_02.png" alt="업계유일">
								</div>
							</div>
							<div class="swiper-slide">
								<div class="img">
									<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_intro_slide_03.png" alt="업계유일">
								</div>
							</div>
							<div class="swiper-slide">
								<div class="img">
									<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_intro_slide_04.png" alt="업계유일">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="intro-cont-4">
			<div class="wrap">
				<div class="intro-tit scroll-animate motion-up-1">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_intro_tit_04.png" alt="에듀윌 토익 AI 앱 0원으로 무제한 학습">
				</div>
				<div class="swiper-container scroll-animate motion-up-3">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_intro_free_01.png" alt="최신 인강 100% 무료">
						</div>
						<div class="swiper-slide">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_intro_free_02.png" alt="토익 공식 100% 무료">
						</div>
						<div class="swiper-slide">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_intro_free_03.png" alt="최신 문제 100% 무료">
						</div>
						<div class="swiper-slide">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_intro_free_04.png" alt="오답 노트 100% 무료">
						</div>
						<div class="swiper-slide">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_intro_free_05.png" alt="기출 단어 100% 무료">
						</div>
					</div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
				<div class="swiper-pagination scroll-animate motion-up-3"></div>
			</div>
		</div>

		<div class="intro-cont-5">
			<div class="wrap">
				<div class="tit scroll-animate motion-up-1">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_free_tit.png" alt="100% 무료">
				</div>
				<div class="phone-list">
					<div class="phone phone01">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_free_phone_01.png" alt="에듀윌 토익 최신 문제">
					</div>
					<div class="phone phone02">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_free_phone_02.png" alt="에듀윌 토익 공식">
					</div>
					<div class="phone phone03">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_free_phone_03.png" alt="에듀윌 토익 최신 인강">
					</div>
					<div class="phone phone04">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_free_phone_04.png" alt="에듀윌 토익 오답노트">
					</div>
					<div class="phone phone05">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_free_phone_05.png" alt="에듀윌 토익 기출 단어">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="sector-belt">
		<div class="wrap">
			<div class="txt scroll-animate motion-up-1">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_belt_txt.png" alt="브랜드 선호도 1위 에듀윌이 마침내, 토익을 혁신하다.">
			</div>
		</div>
	</div>

	<div class="sector-steps">
		<div class="wrap">
			<div class="step step01">
				<div class="tit scroll-animate motion-up-1">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_step_01_tit.png" alt="에토 AI의 혁신1">
				</div>
				@if ("W".Equals(ViewBag.platformCd)) {
					<div class="items">
						<div class="item item01 scroll-animate motion-up-1">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_step_01_01.png" alt="AI 진단 테스트">
						</div>
						<div class="item item02 scroll-animate motion-up-1">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_step_01_02.png" alt="AI 진단 결과">
						</div>
					</div>
				} else {
					<div class="swiper-container scroll-animate motion-up-3">
						<div class="swiper-wrapper">
							<div class="swiper-slide item item01">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_step_01_01.png" alt="AI 진단 테스트">
							</div>
							<div class="swiper-slide item item02">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_step_01_02.png" alt="AI 진단 결과">
							</div>
						</div>
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>
				}
			</div>

			<div class="step step02">
				<div class="tit scroll-animate motion-up-1">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_step_02_tit.png" alt="에토 AI의 혁신2">
				</div>
				<div class="items">
					<div class="item item01 scroll-animate motion-up-1">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_step_02.png" alt="오늘의 학습">
					</div>
				</div>
			</div>

			<div class="step step03">
				<div class="tit scroll-animate motion-up-1">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_step_03_tit.png" alt="에토 AI의 혁신3">
				</div>
				<div class="items">
					<div class="item item01 scroll-animate motion-up-1">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_step_03.png" alt="토익 공식">
					</div>
				</div>
			</div>

			<div class="step step04">
				<div class="tit scroll-animate motion-up-1">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_step_04_tit.png" alt="에토 AI의 혁신4">
				</div>
				<div class="items">
					<div class="item item01 scroll-animate motion-up-1">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_step_04.png" alt="최신 토익 기출 단어">
					</div>
				</div>
			</div>
			<div class="step step05">
				<div class="tit scroll-animate motion-up-1">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_step_05_tit.png" alt="에토 AI의 혁신5">
				</div>
				<div class="items teachers">
					<div class="item teacher01 scroll-animate motion-up-1">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_step_teacher_01.png" alt="에듀윌 토익 최영준">
					</div>
					<div class="item teacher02 scroll-animate motion-up-3">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_step_teacher_02.png" alt="에듀윌 토익 셀린">
					</div>
					<div class="item teacher03 scroll-animate motion-up-5">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_step_teacher_03.png" alt="에듀윌 토익 구원">
					</div>
				</div>
			</div>
			<div class="txt">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_step_txt.png" alt="한국리서치 설문 결과">
			</div>
		</div>
	</div>

	<div class="sector-intro">
		<div class="intro-cont-6">
			<div class="intro-tit scroll-animate motion-up-1">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_review_tit.png" alt="에토 AI의 혁신5">
			</div>
			<div class="review-llst swiper-container scroll-animate motion-up-3">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<a href="javascript:;">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_review_list_01.png" alt="리뷰">
						</a>
					</div>
					<div class="swiper-slide">
						<a href="javascript:;">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_review_list_02.png" alt="리뷰">
						</a>
					</div>
					<div class="swiper-slide">
						<a href="javascript:;">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_review_list_03.png" alt="리뷰">
						</a>
					</div>
					<div class="swiper-slide">
						<a href="javascript:;">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_review_list_04.png" alt="리뷰">
						</a>
					</div>
					<div class="swiper-slide">
						<a href="javascript:;">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_review_list_05.png" alt="리뷰">
						</a>
					</div>
					<div class="swiper-slide">
						<a href="javascript:;">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_review_list_06.png" alt="리뷰">
						</a>
					</div>
					<div class="swiper-slide">
						<a href="javascript:;">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_review_list_07.png" alt="리뷰">
						</a>
					</div>
					<div class="swiper-slide">
						<a href="javascript:;">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_review_list_08.png" alt="리뷰">
						</a>
					</div>
					<div class="swiper-slide">
						<a href="javascript:;">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_review_list_09.png" alt="리뷰">
						</a>
					</div>
				</div>
			</div>
			<div class="swiper-pagination scroll-animate motion-up-3"></div>
		</div>

		<div class="intro-cont-7" id="download">
			<div class="wrap">
				<div class="intro-tit scroll-animate motion-up-1">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_down_tit.png" alt="다운로드 타이틀">
				</div>
				@if ("W".Equals(ViewBag.platformCd)) {
					<div class="download scroll-animate motion-up-3">
						<div class="message">
							<div class="tit">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_down_txt.png" alt="에듀윌 토익 AI 다운로드 링크 문자로 받기">
							</div>
							<!-- 0318 인증 폼 추가 -->
							<div class="form-control">
								<div class="forms">
									<p>전화번호</p>
									<label>
										<input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
										<button>인증하기</button>
									</label>
								</div>
								<div class="forms">
									<p>인증번호 입력</p>
									<label>
										<input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
										<span>05:00</span>
										<button>확인</button>
									</label>
								</div>
							</div>
							<div class="form-control">
								<div class="check">
									<label>
										<input type="checkbox">
										<p>다운로드 주소 발송을 위해 휴대폰번호를 수집하며, 개인정보 수집 동의 내역 관리를 위해<br />휴대폰번호를 수집일로부터 3개월간 보관합니다. 이용에 동의하지 않으시면 서비스 이용이 불가합니다.</p>
									</label>
								</div>
							</div>
							<a href="javascript">문자받기</a>
						</div>
						<div class="qr-wrap">
							<div class="tit">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_down_qr_txt.png" alt="지금 다운로드">
							</div>
							<div class="qr">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_down_qr.png" alt="QR이미지">
							</div>
							<div class="txt">
								<p>IOS / AOS</p>
							</div>
						</div>
					</div>
				} else {
					<div class="btn-wrap scroll-animate motion-up-3">
						<a href="javascript:">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/btn_app_down.png" alt="앱스토어 다운로드">
						</a>
						<a href="javascript:">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/btn_google_down.png" alt="구글 다운로드">
						</a>
					</div>
				}
			</div>
		</div>
	</div>

	<div class="sector-floating">
		<div class="floating-item">
			@if("W".Equals(ViewBag.platformCd)) {
				<a href="#download" class="page-move">
					<p>앱 무료 다운</p>
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_floating_qr.png" alt="토익 앱 다운로드 QR">
				</a>
			} else {
				<a href="#download" class="page-move">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_5/@platform/img_floating_btn.png" alt="토익 앱 다운로드 버튼">
				</a>
			}
		</div>
	</div>
	

	<!-- 프로모션 영역 -->
	<div class="promotion-event">
		@Html.Partial(viewPath + "_SocialEvent.cshtml")
	</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

<script>

    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
	var str = 'event.eduwill.net';
	var checkUrl = url.indexOf(str);

    init();

	var _w;
	var _breakpoint = 720;
	var _wid;
	var _hei;

	var _appList;
	var _appView;
	var _appPaging;

    function init() {
		create();
		addEvent();
		slide();
    }

	function create() {
		_w = $(window);
		_wid = _w.width();
		_hei = _w.height();
	}

	<!-- 슬라이드 -->
	function slide() {
		<!-- 페이드 슬라이드 -->
		var swiper = new Swiper(".sector-intro .intro-point .swiper-container", {
			effect: 'fade',
			autoplay: {
				delay: 1000,
			},
			loop: true,
		});

		<!-- 무제한 학습 슬라이드 -->
		var freeSwiper = new Swiper(".intro-cont-4 .swiper-container", {
			autoplay: {
				delay: 3000,
			},
			loop: true,
			pagination: {
				el: ".intro-cont-4 .swiper-pagination",
				clickable: true,
			},
			navigation: {
				nextEl: ".intro-cont-4 .swiper-button-next",
				prevEl: ".intro-cont-4 .swiper-button-prev",
			},
		});


		if(isMobile) {
			<!-- 리뷰 슬라이드 -->
			var reviewSwiper = new Swiper('.intro-cont-6 .swiper-container', {
				slidesPerView: 1.5,
				spaceBetween: 30,
				autoplay: {
					delay: 3000,
				},
				initialSlide: 0,
				loop: true,
				centeredSlides: true,
				pagination: {
					el: '.intro-cont-6 .swiper-pagination',
					clickable: true,
				}
			});

			<!-- 모바일 혁신1 슬라이드 -->
			<!-- 0311 수정 -->
			var mobSlide = new Swiper('.sector-steps .step01 .swiper-container', {
				slidesPerView: 1,
				loop: true,
				navigation: {
					prevEl: '.sector-steps .step01 .swiper-button-prev',
					nextEl: '.sector-steps .step01 .swiper-button-next',
				},
				autoplay: {
					delay: 2000
				}
			});
		} else {
			var reviewSwiper = new Swiper('.intro-cont-6 .swiper-container', {
				slidesPerView: 3.5,
				spaceBetween: 30,
				autoplay: {
					delay: 3000,
				},
				initialSlide: 0,
				loop: true,
				centeredSlides: true,
				pagination: {
					el: '.intro-cont-6 .swiper-pagination',
					clickable: true,
				}
			});
		}
	}

	<!-- 스크롤 시 하단 고정 -->
	var visualHeight = $('.sector-visual').innerHeight();
	$(window).scroll(function() {
		var scroll = $(this).scrollTop();
		if(visualHeight <= scroll) {
			$('.sector-floating').addClass('show');
		} else {
			$('.sector-floating').removeClass('show');
		}
	});

	$('.page-move').on('click', function(e) {
		e.preventDefault();
		$('html, body').animate({
			scrollTop: $(this.hash).offset().top
		}, 500);
		return false;
	});



	<!--  -->
	function addEvent() {
		_w.on('scroll',scrollEvent);
		_w.on('scroll',isToeicMax);
		scrollEvent();
		isToeicMax();
	}
	// scrollEvent
	function scrollEvent() {
		var $scrollEl = $('.scroll-animate');
		var _sct = $(this).scrollTop();
		var _winHeight = $(this).height();
		$scrollEl.each(function (i) {
			var tg = $(this);
			var offset = tg.offset().top - _winHeight;

			if (offset < _sct) {
				$scrollEl.eq(i).addClass('active');
			} else {
				$scrollEl.eq(i).removeClass('active');
			}
		});

		if($('.phone-wrap .list .motion-fade-1').hasClass('active')) {
			setTimeout(function() {
				$('.phone-wrap .point.motion-fade-1').addClass('active');
			}, 1500);
		} else {
			$('.phone-wrap .point.motion-fade-1').removeClass('active');
		}

		if($('.phone-wrap .list .motion-fade-2').hasClass('active')) {
			setTimeout(function() {
				$('.phone-wrap .point.motion-fade-2').addClass('active');
			}, 3000);
		} else {
			$('.phone-wrap .point.motion-fade-2').removeClass('active');
		}
	}

	var _isToeicDefault = false;
	function isToeicMax(){
			var $contPhoneList = $(".intro-cont-5 .phone-list > div");
			var $contPhone1 = $(".intro-cont-5 .phone01");
			var $contPhone2 = $(".intro-cont-5 .phone02");
			var $contPhone3 = $(".intro-cont-5 .phone03");
			var $contPhone4 = $(".intro-cont-5 .phone04");
			var $contPhone5 = $(".intro-cont-5 .phone05");

			var scrollTop = $(window).scrollTop();
			var offsetTop = $(".intro-cont-5").offset().top;

			if(scrollTop > offsetTop-600){
				if(_isToeicDefault == true) return;
					
					if(isMobile) {
						TweenMax.fromTo( $contPhoneList, 0.5, {x: 0, y: 0, xPercent: 0, yPercent:100, opacity:0} ,{ x:0, y: 60, left:50 + '%', xPercent: -50, yPercent: 100, opacity:1, ease:Sine.easeInOut,  onComplete:function(){
							TweenMax.to( $contPhone1, 0.35, {x: 0, y:-60, left: 0, xPercent:0, yPercent: 75, ease:Sine.easeInOut });
							TweenMax.to( $contPhone2, 0.35, {x: 0, y:-60, left: 25+'%', xPercent:-25, yPercent: 65, ease:Sine.easeInOut });
							TweenMax.to( $contPhone3, 0.35, {x: 0, y:-60, left: 50+'%', xPercent:-50, yPercent: 55, ease:Sine.easeInOut });
							TweenMax.to( $contPhone4, 0.35, {x: 0, y:-60, left: 75+'%', xPercent:-75, yPercent: 45, ease:Sine.easeInOut });
							TweenMax.to( $contPhone5, 0.35, {x: 0, y:-60, left: 100+'%', xPercent:-100, yPercent: 35, ease:Sine.easeInOut });
						}});
					}else {
						TweenMax.fromTo( $contPhoneList, 0.5, {x:454, y:400, opacity:0} ,{ x :454, y: 116, opacity:1, ease:Sine.easeInOut,  onComplete:function(){
							TweenMax.to( $contPhone1, 0.35, {x:0, y: 216, ease:Sine.easeInOut });
							TweenMax.to( $contPhone2, 0.35, {x:229, y: 160, ease:Sine.easeInOut });
							TweenMax.to( $contPhone3, 0.35, {x:454, ease:Sine.easeInOut });
							TweenMax.to( $contPhone4, 0.35, {x:682, y: 160, ease:Sine.easeInOut });
							TweenMax.to( $contPhone5, 0.35, {x:908, y: 216, ease:Sine.easeInOut });
						}});
					}

				_isToeicDefault = true;
			}else{
				if(_isToeicDefault == false) return;
										
				TweenMax.fromTo( $contPhoneList, 0.5, {x:454, y:400, opacity:0} ,{ x :454, y: 116, opacity:1, ease:Sine.easeInOut});
		
				_isToeicDefault = false;
			}
	}
	
	
</script>