@{
	string platform = (string)ViewBag.platformCd == "W" ? "pc" : "mobile";
	String link1 = ("W".Equals(ViewBag.PlatformCd)) ? "//event.eduwill.net/Brief/0/Academy_Public_Brief" : "//mevent.eduwill.net/Brief/0/Academy_Public_Brief"; //2022 공기업 취업 합격전략 설명회 링크
}

<div class="promotion">
	<div data-eduwill-eco-content="2684"></div>

	@if("W".Equals(ViewBag.PlatformCd)){
		@* <div class="right-banner">
			<img src="//img.eduwill.net/eduwill/img/2021/Z/event/211104_2/@platform/right_banner.png" alt="" />
			<div class="btn-wrap">
				<a href="#targetCurriculum1" class="page-move"><span class="sr-only">1월 종합반 최대 20%할인</span></a>
				<a href="https://event.eduwill.net/Brief/0/Academy_Public_Brief" target="blank"><span class="sr-only">공기업 합격전략 설명회 신청하기</span></a>
				<a href="https://gnp.eduwill.net/Promotion/Consult"  target="blank"><span class="sr-only">공기업 취업 1:1 상담 신청하기</span></a>
			</div>
		</div> *@
	}

	<div class="container promotion-title active" id="targetTitle">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/title.png" alt="공기업 취업에 필요한 모든 것을 담았다!" />
			<div class="motion motion1"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/title_motion1.png" alt="" /></div>
			<div class="motion motion2"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/title_motion2.png" alt="" /></div>
			<div class="motion motion3"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/title_motion3.png" alt="꼭" /></div>
			<div class="motion motion4"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/title_motion4.png" alt="취" /></div>
			<div class="motion motion5"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/title_motion5.png" alt="업" /></div>
			<div class="motion motion6"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/title_motion6.png" alt="하" /></div>
			<div class="motion motion7"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/title_motion7.png" alt="자" /></div>
			<div class="motion motion8"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/title_motion8.png" alt="!" /></div>
		</div>
	</div>

	<div class="container promotion-brand">
		<div class="wrap">
			@if("M".Equals(ViewBag.PlatformCd)){
				<div class="motion motion1"><img src="//img.eduwill.net/eduwill/img/2021/Z/event/210810/@platform/title_motion1.png" alt="4년 연속 취업 교육 1위 에듀윌 취업" /></div>
			}
			<div class="motion motion2"><img src="//img.eduwill.net/eduwill/img/2021/Z/event/210810/@platform/title_motion2.png" alt="1위" /></div>
			<div class="motion txt-wrap">
				<div class="motion motion3"><img src="//img.eduwill.net/eduwill/img/2021/Z/event/210810/@platform/title_motion3.png" alt="에듀윌 합격자 10명 중 8명 단기 최종합격" /></div>
				<div class="motion motion4"><img src="//img.eduwill.net/eduwill/img/2021/Z/event/210810/@platform/title_motion4.png" alt="에듀윌과 함께 취업 성공 2,557% 폭발적 증가" /></div>
			</div>
			<div class="motion motion5"><img src="//img.eduwill.net/eduwill/img/2021/Z/event/210810/@platform/title_motion5.png" alt="" /></div>
			<div class="motion motion6"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/title_motion6_211111.png" alt="" /></div>
			<div class="motion motion7"><img src="//img.eduwill.net/eduwill/img/2021/Z/event/210810/@platform/title_motion7.png" alt="" /></div>
			@if("M".Equals(ViewBag.PlatformCd)){
				<a href="#popupBase" data-popup-open="popupBase" class="btn-base">근거보기</a>
			}
			<div class="winner-contents">
				<img src="//img.eduwill.net/eduwill/img/2021/Z/event/210810/@platform/tit_winner.png" alt="" />
				<div class="winner-list"></div>
			</div>
		</div>
		
		<div class="motion motion8"><img src="//img.eduwill.net/eduwill/img/2021/Z/event/210810/@platform/bg_title_bottom.png" alt="" /></div>
	</div>

	<div class="container promotion-review">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2021/Z/event/210810/@platform/review_title.jpg" alt="" />
			<div class="video-list">
				<a href="javascript:;" class="btn-play-popup" pop-name="videoPop" video-url="https://www.youtube.com/embed/Ke0cjFcgNhg?amp;autoplay=1&playlist=Ke0cjFcgNhg&loop=1">
					<img src="//img.eduwill.net/eduwill/img/2021/Z/event/210810/pc/thumb1.png" alt="코레일 사무영업 최종합격" />
				</a>
				<a href="javascript:;" class="btn-play-popup" pop-name="videoPop" video-url="https://pmp.eduwill.net/eduwillpmp//eduwill/flv/20210129/HGS_Interview.mp4">
					<img src="//img.eduwill.net/eduwill/img/2021/Z/event/210810/pc/thumb2.png" alt="코레일 최종합격" />
				</a>
			</div>
			<div class="slider" data-slide="review">
				<div><img src="//img.eduwill.net/eduwill/img/2021/Z/event/210810/@platform/slide_review1.png" alt="" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2021/Z/event/210810/@platform/slide_review2.png" alt="" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2021/Z/event/210810/@platform/slide_review3.png" alt="" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2021/Z/event/210810/@platform/slide_review4.png" alt="" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2021/Z/event/210810/@platform/slide_review5.png" alt="" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2021/Z/event/210810/@platform/slide_review6.png" alt="" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2021/Z/event/210810/@platform/slide_review7.png" alt="" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2021/Z/event/210810/@platform/slide_review8.png" alt="" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2021/Z/event/210810/@platform/slide_review9.png" alt="" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2021/Z/event/210810/@platform/slide_review10.png" alt="" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2021/Z/event/210810/@platform/slide_review11.png" alt="" /></div>
			</div>
			<div class="action">
				<a href="https://event.eduwill.net/VictoryStory/Z/Public_Enterprise" target="_blank" class="pointer"><img src="//img.eduwill.net/eduwill/img/2021/Z/event/210810/@platform/btn_review.png" alt="압도적인 합격 수기 더 보기" /></a>
			</div>
		</div>
	</div>

	<div class="container promotion-analysis">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/analysis.jpg" alt="" />
		</div>
	</div>

	<div class="container promotion-bar">
		<div class="wrap">
			@if("W".Equals(ViewBag.PlatformCd)){
			<h1>2022 에.취.아 공기업 취업<br>BEST 강의 한눈에 보기</h1>
			}else{
			<h1>2022 에.취.아<br>공기업 취업 BEST 강의<br>한눈에 보기</h1>
			}
		</div>
	</div>

	<div class="container promotion-process process01">
		<div class="wrap process-wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/process_1_title.jpg" alt="">
			<div class='pass-price'>
				<div class='pass-price-item item01'>
					<img class="content" src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/process_1_1.png" alt="">

					@* 페이지번호 : 35653 *@
					<div class='price-wrap'>
						<div class='price-tag'><b>20%<br>할인</b></div>
						<span class="before-price">
							<i>정가</i> <strong>3,243,750</strong><em>원</em>
						</span>
						<span class="after-price">
							<i>할인가</i><strong>2,595,000</strong><em>원</em>
						</span>
					</div>

					<a href="#targetCurriculum1" class="page-move btn pointer">
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/btn_pass1.png" alt="자세히 보기">
					</a>
				</div>
				<div class='pass-price-item item02'>
					<img class="content" src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/process_1_2.png" alt="">

					@* 페이지번호 : 35657 *@
					<div class='price-wrap'>
						<div class='price-tag'><b>20%<br>할인</b></div>
						<span class="before-price">
							<i>정가</i> <strong>2,468,750</strong><em>원</em>
						</span>
						<span class="after-price">
							<i>할인가</i><strong>1,975,000</strong><em>원</em>
						</span>
					</div>

					<a href="#targetCurriculum2" class="page-move btn pointer">
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/btn_pass2.png" alt="자세히 보기">
					</a>
				</div>
				<div class='pass-price-item item03'>
					<img class="content" src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/process_1_3.png" alt="">

					@* 페이지번호 : 35661 *@
					<div class='price-wrap'>
						<div class='price-tag'><b>20%<br>할인</b></div>
						<span class="before-price">
							<i>정가</i> <strong>2,468,750</strong><em>원</em>
						</span>
						<span class="after-price">
							<i>할인가</i><strong>1,975,000</strong><em>원</em>
						</span>
					</div>

					<a href="#targetCurriculum3" class="page-move btn pointer">
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/btn_pass1.png" alt="자세히 보기">
					</a>
				</div>
				<div class='pass-price-item item04 tag'>
					<img class="content" src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/process_1_4.png" alt="">

					@* 페이지번호 : 35665 *@
					<div class='price-wrap'>
						<div class='price-tag'><b>20%<br>할인</b></div>
						<span class="before-price">
							<i>정가</i> <strong>3,243,750</strong><em>원</em>
						</span>
						<span class="after-price">
							<i>할인가</i><strong>2,595,000</strong><em>원</em>
						</span>
					</div>

					<a href="#targetCurriculum4" class="page-move btn pointer">
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/btn_pass2.png" alt="자세히 보기">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container promotion-bar">
		<div class="wrap">
			@if("W".Equals(ViewBag.PlatformCd)){
			<h1>2022 에.취.아 공기업 취업<br>BEST 강의 한눈에 보기</h1>
			}else{
			<h1>2022 에.취.아<br>공기업 취업 BEST 강의<br>한눈에 보기</h1>
			}
		</div>
	</div>

	<div class="container promotion-process process02">
		<div class="wrap process-wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/process_2_1_title.jpg" alt="">
			<div class='pass-price'>
				<div class='pass-price-item item01 tag'>
					<img class="content" src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/process_2_1.png" alt="">

					@* 페이지번호 : 35198 *@
					<div class='price-wrap'>
						<div class='price-tag'><b>19%<br>할인</b></div>
						<span class="before-price">
							<i>정가</i> <strong>800,000</strong><em>원</em>
						</span>
						<span class="after-price">
							<i>할인가</i><strong>650,000</strong><em>원</em>
						</span>
					</div>

					<a href="#targetCurriculum5" class="page-move btn pointer">
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/btn_pass1.png" alt="자세히 보기">
					</a>
				</div>
				<div class='pass-price-item item02 tag'>
					<img class="content" src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/process_2_2.png" alt="">

					@* 페이지번호 : 35199 *@
					<div class='price-wrap'>
						<div class='price-tag'><b>19%<br>할인</b></div>
						<span class="before-price">
							<i>정가</i> <strong>800,000</strong><em>원</em>
						</span>
						<span class="after-price">
							<i>할인가</i><strong>650,000</strong><em>원</em>
						</span>
					</div>

					<a href="#targetCurriculum6" class="page-move btn pointer">
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/btn_pass2.png" alt="자세히 보기">
					</a>
				</div>
			</div>
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/process_2_2_title.jpg" alt="">
			<div class='pass-price'>
				<div class='pass-price-item item01'>
					<img class="content" src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/process_2_3.png" alt="">

					@* 페이지번호 : 35666 *@
					<div class='price-wrap'>
						<div class='price-tag'><b>18%<br>할인</b></div>
						<span class="before-price">
							<i>정가</i> <strong>400,000</strong><em>원</em>
						</span>
						<span class="after-price">
							<i>할인가</i><strong>325,000</strong><em>원</em>
						</span>
					</div>

					<a href="#targetCurriculum6_2" class="page-move btn pointer">
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/btn_pass1.png" alt="자세히 보기">
					</a>
				</div>
				<div class='pass-price-item item02 tag'>
					<img class="content" src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/process_2_4.png" alt="">

					@* 페이지번호 : 35667 *@
					<div class='price-wrap'>
						<div class='price-tag'><b>18%<br>할인</b></div>
						<span class="before-price">
							<i>정가</i> <strong>400,000</strong><em>원</em>
						</span>
						<span class="after-price">
							<i>할인가</i><strong>325,000</strong><em>원</em>
						</span>
					</div>

					<a href="#targetCurriculum6_3" class="page-move btn pointer">
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/btn_pass2.png" alt="자세히 보기">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container promotion-curriculum curriculum-1" id="targetCurriculum1">
		<div class="wrap">
			<div class="badge">
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/curriculum_badge.png" alt="공기업 베스트 강좌 안내">
			</div>
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/curriculum1_1.jpg" alt="">
			<div class="flag">
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/curriculum_flag_1.png" alt="" />
				<div>3월<br>신규개설반</div>
			</div>
		</div>
	</div>
	<div class="container promotion-class class-1" id="targetClass1">
		<div class="wrap">
			<div class="sub-wrap">
				<div class="signup-box">
					<div class="teacher-list">
						<div class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/teacher1_1_1.png" alt=""></div>
						<div class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/teacher1_1_2.png" alt=""></div>
						<div class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/teacher1_1_3.png" alt=""></div>
					</div>
					
					@* 페이지번호 : 35653 *@
					<div class="classWrap">
						<div class="contents bg1 full">
							@if("M".Equals(ViewBag.PlatformCd)){
								<div class="flag">
									<div>조기마감주의</div>
								</div>
							}
							<button type="button" class="block-anchor">
								<div class="lecture-title">[G34A] 4개월 주 4일 오전반(월화수금)</div>
								<div class="con">
									<div class="lecture-info">
										@if("W".Equals(ViewBag.PlatformCd)){
											<div class="flag">
												<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/curriculum_flag_2.png" alt="" />
												<div>마감주의!</div>
											</div>
											<div class="flag">
												<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/curriculum_flag_3.png" alt="" />
												<p>얼리버드<br>선착순<br>한정혜택</p>
												<p>역대급<br>혜택제공</p>
											</div>
										}
										<div class="list">
											<div class="subject">수강기간</div>
											<div class="desc">
												<span>NCS 이론</span>
												<span>4/3(토)~4/25(일)</span>
												<span>NCS+자소서/면접</span>
												<span>5/3(월)~6/26(금)</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">강좌구성</div>
											<div class="desc">
												<span>NCS 기본 이론 강의 (2주)</span>
												<span>NCS 자료해석 이론 (2주)</span>
												<span>자소서/면접(2개월)</span>
												<span>NCS PAST 기출(2개월)</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">강의시간</div>
											<div class="desc">
												<span>4월[토,일] 10:00~17:00</span>
												<span>5월[월,화,수,금] 19:00~22:00</span>
												<span>6월[월,화,수,금] 19:00~22:00</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">수강교재</div>
											<div class="desc">
												<span>[2021] 에듀윌 작업기초능력 평가 BASIC</span>
												<span>[2021] 에듀윌 PAST형 NCS자료해석</span>
												<span>[2021] 에듀윌 면접관이 말하는 자소서와 면접</span>
												<span>[2021] 에듀윌 6대 기출PACK</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">교수소개</div>
											<div class="desc">
												<span>이시한, 박지웅, 윤장섭</span>
												<span>김창진, 전응구</span>
											</div>
										</div>
									</div>

									<div class="price-box">
										<div class="price-info">
											<div class="item item-1">
												<p class="disc">20% 할인</p>
											</div>
											<div class="item item-2">
												<p class="cost">1,950,000원</p>
												<p class="sale">1,560,000<span>원</span></p>
											</div>
										</div>
										<div class="signup">
											@if("M".Equals(ViewBag.PlatformCd)){
												<div class="flag">
													<p>얼리버드 선착순 한정혜택</p>
													<p>역대급 혜택제공</p>
												</div>
											}
											<div class="btn-signup">
												할인받고<br />수강신청하기
											</div>
										</div>
									</div>
								</div>
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="container promotion-curriculum curriculum-2" id="targetCurriculum2">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/curriculum1_2.jpg" alt="">
			<div class="flag">
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/curriculum_flag_1.png" alt="" />
				<div>3월<br>신규개설반</div>
			</div>
		</div>
	</div>
	<div class="container promotion-class class-2" id="targetClass2">
		<div class="wrap">
			<div class="sub-wrap">
				<div class="signup-box">
					<div class="teacher-list">
						<div class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/teacher1_2_1.png" alt=""></div>
						<div class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/teacher1_2_2.png" alt=""></div>
						<div class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/teacher1_2_3.png" alt=""></div>
					</div>
					
					@* 페이지번호 : 35657 *@
					<div class="classWrap">
						<div class="contents bg1 full">
							@if("M".Equals(ViewBag.PlatformCd)){
								<div class="flag">
									<div>조기마감주의</div>
								</div>
							}
							<button type="button" class="block-anchor">
								<div class="lecture-title">[G34B] 4개월 주3일 저녁반(화목금)</div>
								<div class="con">
									<div class="lecture-info">
										@if("W".Equals(ViewBag.PlatformCd)){
											<div class="flag">
												<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/curriculum_flag_2.png" alt="" />
												<div>마감주의!</div>
											</div>
											<div class="flag">
												<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/curriculum_flag_3.png" alt="" />
												<p>얼리버드<br>선착순<br>한정혜택</p>
												<p>역대급<br>혜택제공</p>
											</div>
										}
										<div class="list">
											<div class="subject">수강기간</div>
											<div class="desc">
												<span>NCS 이론</span>
												<span>4/3(토)~4/25(일)</span>
												<span>NCS+자소서/면접</span>
												<span>5/3(월)~6/26(금)</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">강좌구성</div>
											<div class="desc">
												<span>NCS 기본 이론 강의 (2주)</span>
												<span>NCS 자료해석 이론 (2주)</span>
												<span>자소서/면접(2개월)</span>
												<span>NCS PAST 기출(2개월)</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">강의시간</div>
											<div class="desc">
												<span>4월[토,일] 10:00~17:00</span>
												<span>5월[월,화,수,금] 19:00~22:00</span>
												<span>6월[월,화,수,금] 19:00~22:00</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">수강교재</div>
											<div class="desc">
												<span>[2021] 에듀윌 작업기초능력 평가 BASIC</span>
												<span>[2021] 에듀윌 PAST형 NCS자료해석</span>
												<span>[2021] 에듀윌 면접관이 말하는 자소서와 면접</span>
												<span>[2021] 에듀윌 6대 기출PACK</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">교수소개</div>
											<div class="desc">
												<span>이시한, 박지웅, 윤장섭</span>
												<span>김창진, 전응구</span>
											</div>
										</div>
									</div>

									<div class="price-box">
										<div class="price-info">
											<div class="item item-1">
												<p class="disc">20% 할인</p>
											</div>
											<div class="item item-2">
												<p class="cost">1,950,000원</p>
												<p class="sale">1,560,000<span>원</span></p>
											</div>
										</div>
										<div class="signup">
											@if("M".Equals(ViewBag.PlatformCd)){
												<div class="flag">
													<p>얼리버드 선착순 한정혜택</p>
													<p>역대급 혜택제공</p>
												</div>
											}
											<div class="btn-signup">
												할인받고<br />수강신청하기
											</div>
										</div>
									</div>
								</div>
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="container promotion-curriculum curriculum-3" id="targetCurriculum3">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/curriculum1_3.jpg" alt="">
			<div class="flag">
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/curriculum_flag_1.png" alt="" />
				<div>3월<br>신규개설반</div>
			</div>
		</div>
	</div>
	<div class="container promotion-class class-3" id="targetClass3">
		<div class="wrap">
			<div class="sub-wrap">
				<div class="signup-box">
					<div class="teacher-list">
						<div class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/teacher1_3_1.png" alt=""></div>
						<div class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/teacher1_3_2.png" alt=""></div>
						<div class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/teacher1_3_3.png" alt=""></div>
					</div>
					
					@* 페이지번호 : 35661 *@
					<div class="classWrap">
						<div class="contents bg1 full">
							@if("M".Equals(ViewBag.PlatformCd)){
								<div class="flag">
									<div>조기마감주의</div>
								</div>
							}
							<button type="button" class="block-anchor">
								<div class="lecture-title">[G34C] 4개월 주2일 주말반(금토)</div>
								<div class="con">
									<div class="lecture-info">
										@if("W".Equals(ViewBag.PlatformCd)){
											<div class="flag">
												<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/curriculum_flag_2.png" alt="" />
												<div>마감주의!</div>
											</div>
											<div class="flag">
												<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/curriculum_flag_3.png" alt="" />
												<p>얼리버드<br>선착순<br>한정혜택</p>
												<p>역대급<br>혜택제공</p>
											</div>
										}
										<div class="list">
											<div class="subject">수강기간</div>
											<div class="desc">
												<span>NCS 이론</span>
												<span>4/3(토)~4/25(일)</span>
												<span>NCS+자소서/면접</span>
												<span>5/3(월)~6/26(금)</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">강좌구성</div>
											<div class="desc">
												<span>NCS 기본 이론 강의 (2주)</span>
												<span>NCS 자료해석 이론 (2주)</span>
												<span>자소서/면접(2개월)</span>
												<span>NCS PAST 기출(2개월)</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">강의시간</div>
											<div class="desc">
												<span>4월[토,일] 10:00~17:00</span>
												<span>5월[월,화,수,금] 19:00~22:00</span>
												<span>6월[월,화,수,금] 19:00~22:00</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">수강교재</div>
											<div class="desc">
												<span>[2021] 에듀윌 작업기초능력 평가 BASIC</span>
												<span>[2021] 에듀윌 PAST형 NCS자료해석</span>
												<span>[2021] 에듀윌 면접관이 말하는 자소서와 면접</span>
												<span>[2021] 에듀윌 6대 기출PACK</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">교수소개</div>
											<div class="desc">
												<span>이시한, 박지웅, 윤장섭</span>
												<span>김창진, 전응구</span>
											</div>
										</div>
									</div>

									<div class="price-box">
										<div class="price-info">
											<div class="item item-1">
												<p class="disc">20% 할인</p>
											</div>
											<div class="item item-2">
												<p class="cost">1,950,000원</p>
												<p class="sale">1,560,000<span>원</span></p>
											</div>
										</div>
										<div class="signup">
											@if("M".Equals(ViewBag.PlatformCd)){
												<div class="flag">
													<p>얼리버드 선착순 한정혜택</p>
													<p>역대급 혜택제공</p>
												</div>
											}
											<div class="btn-signup">
												할인받고<br />수강신청하기
											</div>
										</div>
									</div>
								</div>
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="container promotion-curriculum curriculum-4" id="targetCurriculum4">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/curriculum1_4.jpg" alt="">
			<div class="flag">
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/curriculum_flag_1.png" alt="" />
				<div>상위권반</div>
			</div>
		</div>
	</div>
	<div class="container promotion-class class-4" id="targetClass4">
		<div class="wrap">
			<div class="sub-wrap">
				<div class="signup-box">
					<div class="teacher-list">
						<div class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/teacher1_4_1.png" alt=""></div>
						<div class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/teacher1_4_2.png" alt=""></div>
						<div class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/teacher1_4_3.png" alt=""></div>
					</div>
					
					@* 페이지번호 : 35665 *@
					<div class="classWrap">
						<div class="contents bg1 full">
							@if("M".Equals(ViewBag.PlatformCd)){
								<div class="flag">
									<div>조기마감주의</div>
								</div>
							}
							<button type="button" class="block-anchor">
								<div class="lecture-title">[G34A] 4개월 주 4일 오전반(월화수금)</div>
								<div class="con">
									<div class="lecture-info">
										@if("W".Equals(ViewBag.PlatformCd)){
											<div class="flag">
												<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/curriculum_flag_2.png" alt="" />
												<div>마감주의!</div>
											</div>
											<div class="flag">
												<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/curriculum_flag_3.png" alt="" />
												<p>얼리버드<br>선착순<br>한정혜택</p>
												<p>역대급<br>혜택제공</p>
											</div>
										}
										<div class="list">
											<div class="subject">수강기간</div>
											<div class="desc">
												<span>NCS 이론</span>
												<span>4/3(토)~4/25(일)</span>
												<span>NCS+자소서/면접</span>
												<span>5/3(월)~6/26(금)</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">강좌구성</div>
											<div class="desc">
												<span>NCS 기본 이론 강의 (2주)</span>
												<span>NCS 자료해석 이론 (2주)</span>
												<span>자소서/면접(2개월)</span>
												<span>NCS PAST 기출(2개월)</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">강의시간</div>
											<div class="desc">
												<span>4월[토,일] 10:00~17:00</span>
												<span>5월[월,화,수,금] 19:00~22:00</span>
												<span>6월[월,화,수,금] 19:00~22:00</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">수강교재</div>
											<div class="desc">
												<span>[2021] 에듀윌 작업기초능력 평가 BASIC</span>
												<span>[2021] 에듀윌 PAST형 NCS자료해석</span>
												<span>[2021] 에듀윌 면접관이 말하는 자소서와 면접</span>
												<span>[2021] 에듀윌 6대 기출PACK</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">교수소개</div>
											<div class="desc">
												<span>이시한, 박지웅, 윤장섭</span>
												<span>김창진, 전응구</span>
											</div>
										</div>
									</div>

									<div class="price-box">
										<div class="price-info">
											<div class="item item-1">
												<p class="disc">20% 할인</p>
											</div>
											<div class="item item-2">
												<p class="cost">1,950,000원</p>
												<p class="sale">1,560,000<span>원</span></p>
											</div>
										</div>
										<div class="signup">
											@if("M".Equals(ViewBag.PlatformCd)){
												<div class="flag">
													<p>얼리버드 선착순 한정혜택</p>
													<p>역대급 혜택제공</p>
												</div>
											}
											<div class="btn-signup">
												할인받고<br />수강신청하기
											</div>
										</div>
									</div>
								</div>
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="container promotion-curriculum curriculum-5" id="targetCurriculum5">
		<div class="wrap">
			<div class="badge">
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/curriculum_badge2.png" alt="대기업 베스트 강좌 안내">
			</div>
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/curriculum2_1.jpg" alt="">
		</div>
	</div>
	<div class="container promotion-class class-5" id="targetClass5">
		<div class="wrap">
			<div class="sub-wrap">
				<div class="signup-box">
					<div class="teacher-list">
						<div class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/teacher2_1_1.png" alt=""></div>
						<div class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/teacher2_1_2.png" alt=""></div>
					</div>

					@* 페이지번호 : 35198 *@
					<div class="classWrap">
						<div class="contents bg1 full">
							@if("M".Equals(ViewBag.PlatformCd)){
								<div class="flag">
									<div>선착순 10명! 인적성 추가 신청</div>
								</div>
							}
							<button type="button" class="block-anchor">
								<div class="lecture-title">대기업 문과직무 소수정에 2개월 관리반</div>
								<div class="con">
									<div class="lecture-info">
										@if("W".Equals(ViewBag.PlatformCd)){
											<div class="flag">
												<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/curriculum_flag_2.png" alt="" />
												<div>선착순<br>10명</div>
											</div>
											<div class="flag">
												<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/curriculum_flag_3.png" alt="" />
												<p>인적성<br>추가<br>신청</p>
												<p>인적성<br>추가<br>신청</p>
											</div>
										}
										<div class="list">
											<div class="subject">수강기간</div>
											<div class="desc">
												<span>NCS 이론</span>
												<span>4/3(토)~4/25(일)</span>
												<span>NCS+자소서/면접</span>
												<span>5/3(월)~6/26(금)</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">강좌구성</div>
											<div class="desc">
												<span>NCS 기본 이론 강의 (2주)</span>
												<span>NCS 자료해석 이론 (2주)</span>
												<span>자소서/면접(2개월)</span>
												<span>NCS PAST 기출(2개월)</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">강의시간</div>
											<div class="desc">
												<span>4월[토,일] 10:00~17:00</span>
												<span>5월[월,화,수,금] 19:00~22:00</span>
												<span>6월[월,화,수,금] 19:00~22:00</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">수강교재</div>
											<div class="desc">
												<span>[2021] 에듀윌 작업기초능력 평가 BASIC</span>
												<span>[2021] 에듀윌 PAST형 NCS자료해석</span>
												<span>[2021] 에듀윌 면접관이 말하는 자소서와 면접</span>
												<span>[2021] 에듀윌 6대 기출PACK</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">교수소개</div>
											<div class="desc">
												<span>이시한, 박지웅, 윤장섭</span>
												<span>김창진, 전응구</span>
											</div>
										</div>
									</div>

									<div class="price-box">
										<div class="price-info">
											<div class="item item-1">
												<p class="disc">20% 할인</p>
											</div>
											<div class="item item-2">
												<p class="cost">1,950,000원</p>
												<p class="sale">1,560,000<span>원</span></p>
											</div>
										</div>
										<div class="signup">
											@if("M".Equals(ViewBag.PlatformCd)){
												<div class="flag">
													<p>얼리버드 선착순 한정혜택</p>
													<p>역대급 혜택제공</p>
												</div>
											}
											<div class="btn-signup">
												할인받고<br />수강신청하기
											</div>
										</div>
									</div>
								</div>
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="container promotion-curriculum curriculum-6" id="targetCurriculum6">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/curriculum2_2.jpg" alt="">
		</div>
	</div>
	<div class="container promotion-class class-6" id="targetClass6">
		<div class="wrap">
			<div class="sub-wrap">
				<div class="signup-box">

					<div class="teacher-list" id="targetCurriculum6_1">
						<div class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/teacher2_2_1.png" alt=""></div>
						<div class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/teacher2_2_2.png" alt=""></div>
					</div>
					@* 페이지번호 : 35199 *@
					<div class="classWrap">
						<div class="contents bg1 full">
							@if("M".Equals(ViewBag.PlatformCd)){
								<div class="flag">
									<div>선착순 10명! 인적성 추가 신청</div>
								</div>
							}
							<button type="button" class="block-anchor">
								<div class="lecture-title">이과직무&반도체 소수정예 2개월 관리반</div>
								<div class="con">
									<div class="lecture-info">
										@if("W".Equals(ViewBag.PlatformCd)){
											<div class="flag">
												<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/curriculum_flag_2.png" alt="" />
												<div>선착순<br>10명</div>
											</div>
											<div class="flag">
												<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/curriculum_flag_3.png" alt="" />
												<p>인적성<br>추가<br>신청</p>
												<p>인적성<br>추가<br>신청</p>
											</div>
										}
										<div class="list">
											<div class="subject">수강기간</div>
											<div class="desc">
												<span>NCS 이론</span>
												<span>4/3(토)~4/25(일)</span>
												<span>NCS+자소서/면접</span>
												<span>5/3(월)~6/26(금)</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">강좌구성</div>
											<div class="desc">
												<span>NCS 기본 이론 강의 (2주)</span>
												<span>NCS 자료해석 이론 (2주)</span>
												<span>자소서/면접(2개월)</span>
												<span>NCS PAST 기출(2개월)</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">강의시간</div>
											<div class="desc">
												<span>4월[토,일] 10:00~17:00</span>
												<span>5월[월,화,수,금] 19:00~22:00</span>
												<span>6월[월,화,수,금] 19:00~22:00</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">수강교재</div>
											<div class="desc">
												<span>[2021] 에듀윌 작업기초능력 평가 BASIC</span>
												<span>[2021] 에듀윌 PAST형 NCS자료해석</span>
												<span>[2021] 에듀윌 면접관이 말하는 자소서와 면접</span>
												<span>[2021] 에듀윌 6대 기출PACK</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">교수소개</div>
											<div class="desc">
												<span>이시한, 박지웅, 윤장섭</span>
												<span>김창진, 전응구</span>
											</div>
										</div>
									</div>

									<div class="price-box">
										<div class="price-info">
											<div class="item item-1">
												<p class="disc">20% 할인</p>
											</div>
											<div class="item item-2">
												<p class="cost">1,950,000원</p>
												<p class="sale">1,560,000<span>원</span></p>
											</div>
										</div>
										<div class="signup">
											@if("M".Equals(ViewBag.PlatformCd)){
												<div class="flag">
													<p>얼리버드 선착순 한정혜택</p>
													<p>역대급 혜택제공</p>
												</div>
											}
											<div class="btn-signup">
												할인받고<br />수강신청하기
											</div>
										</div>
									</div>
								</div>
							</button>
						</div>
					</div>

					<div class="teacher-list" id="targetCurriculum6_2">
						<div class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/teacher2_2_3.png" alt=""></div>
					</div>
					@* 페이지번호 : 35666 *@
					<div class="classWrap">
						<div class="contents bg1 full">
							@if("M".Equals(ViewBag.PlatformCd)){
								<div class="flag">
									<div>선착순 10명! 인적성 추가 신청</div>
								</div>
							}
							<button type="button" class="block-anchor">
								<div class="lecture-title">대기업 인적성(GSAT) 1개월 완성반</div>
								<div class="con">
									<div class="lecture-info">
										@if("W".Equals(ViewBag.PlatformCd)){
											<div class="flag">
												<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/curriculum_flag_2.png" alt="" />
												<div>선착순<br>10명</div>
											</div>
											<div class="flag">
												<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/curriculum_flag_3.png" alt="" />
												<p>인적성<br>추가<br>신청</p>
												<p>인적성<br>추가<br>신청</p>
											</div>
										}
										<div class="list">
											<div class="subject">수강기간</div>
											<div class="desc">
												<span>NCS 이론</span>
												<span>4/3(토)~4/25(일)</span>
												<span>NCS+자소서/면접</span>
												<span>5/3(월)~6/26(금)</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">강좌구성</div>
											<div class="desc">
												<span>NCS 기본 이론 강의 (2주)</span>
												<span>NCS 자료해석 이론 (2주)</span>
												<span>자소서/면접(2개월)</span>
												<span>NCS PAST 기출(2개월)</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">강의시간</div>
											<div class="desc">
												<span>4월[토,일] 10:00~17:00</span>
												<span>5월[월,화,수,금] 19:00~22:00</span>
												<span>6월[월,화,수,금] 19:00~22:00</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">수강교재</div>
											<div class="desc">
												<span>[2021] 에듀윌 작업기초능력 평가 BASIC</span>
												<span>[2021] 에듀윌 PAST형 NCS자료해석</span>
												<span>[2021] 에듀윌 면접관이 말하는 자소서와 면접</span>
												<span>[2021] 에듀윌 6대 기출PACK</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">교수소개</div>
											<div class="desc">
												<span>이시한, 박지웅, 윤장섭</span>
												<span>김창진, 전응구</span>
											</div>
										</div>
									</div>

									<div class="price-box">
										<div class="price-info">
											<div class="item item-1">
												<p class="disc">20% 할인</p>
											</div>
											<div class="item item-2">
												<p class="cost">1,950,000원</p>
												<p class="sale">1,560,000<span>원</span></p>
											</div>
										</div>
										<div class="signup">
											@if("M".Equals(ViewBag.PlatformCd)){
												<div class="flag">
													<p>얼리버드 선착순 한정혜택</p>
													<p>역대급 혜택제공</p>
												</div>
											}
											<div class="btn-signup">
												할인받고<br />수강신청하기
											</div>
										</div>
									</div>
								</div>
							</button>
						</div>
					</div>

					<div class="teacher-list" id="targetCurriculum6_3">
						<div class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/teacher2_2_4.png" alt=""></div>
					</div>
					@* 페이지번호 : 35667 *@
					<div class="classWrap">
						<div class="contents bg1 full">
							@if("M".Equals(ViewBag.PlatformCd)){
								<div class="flag">
									<div>소수정예 선착순 마감임박!</div>
								</div>
							}
							<button type="button" class="block-anchor">
								<div class="lecture-title">대기업 자소서/면접 1개월 완성반</div>
								<div class="con">
									<div class="lecture-info">
										@if("W".Equals(ViewBag.PlatformCd)){
											<div class="flag">
												<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/curriculum_flag_2.png" alt="" />
												<div>선착순<br>10명</div>
											</div>
											<div class="flag">
												<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/curriculum_flag_3.png" alt="" />
												<p>인적성<br>추가<br>신청</p>
												<p>인적성<br>추가<br>신청</p>
											</div>
										}
										<div class="list">
											<div class="subject">수강기간</div>
											<div class="desc">
												<span>NCS 이론</span>
												<span>4/3(토)~4/25(일)</span>
												<span>NCS+자소서/면접</span>
												<span>5/3(월)~6/26(금)</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">강좌구성</div>
											<div class="desc">
												<span>NCS 기본 이론 강의 (2주)</span>
												<span>NCS 자료해석 이론 (2주)</span>
												<span>자소서/면접(2개월)</span>
												<span>NCS PAST 기출(2개월)</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">강의시간</div>
											<div class="desc">
												<span>4월[토,일] 10:00~17:00</span>
												<span>5월[월,화,수,금] 19:00~22:00</span>
												<span>6월[월,화,수,금] 19:00~22:00</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">수강교재</div>
											<div class="desc">
												<span>[2021] 에듀윌 작업기초능력 평가 BASIC</span>
												<span>[2021] 에듀윌 PAST형 NCS자료해석</span>
												<span>[2021] 에듀윌 면접관이 말하는 자소서와 면접</span>
												<span>[2021] 에듀윌 6대 기출PACK</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">교수소개</div>
											<div class="desc">
												<span>이시한, 박지웅, 윤장섭</span>
												<span>김창진, 전응구</span>
											</div>
										</div>
									</div>

									<div class="price-box">
										<div class="price-info">
											<div class="item item-1">
												<p class="disc">20% 할인</p>
											</div>
											<div class="item item-2">
												<p class="cost">1,950,000원</p>
												<p class="sale">1,560,000<span>원</span></p>
											</div>
										</div>
										<div class="signup">
											@if("M".Equals(ViewBag.PlatformCd)){
												<div class="flag">
													<p>얼리버드 선착순 한정혜택</p>
													<p>역대급 혜택제공</p>
												</div>
											}
											<div class="btn-signup">
												할인받고<br />수강신청하기
											</div>
										</div>
									</div>
								</div>
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="container promotion-deadline">
		<div class="wrap">
			<h1 class="title">
				에.취.아 2022년 3월도 <div class="point"><span class="blink">마감 주의!</span></div>
			</h1>
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/deadline.jpg" alt="전강좌 마감!" />
		</div>
	</div>

	<div class="container promotion-info">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/info.png" alt="합격 최적화 시스템" />
		</div>
	</div>

	<div class="container promotion-teacher">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/teacher.png" alt="취업 명품 교수진" />
			<a href="#popupBase" data-popup-open="popupBase" class="btn-base">근거보기</a>
		</div>
	</div>

	<div class="container promotion-place">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/title_place.jpg" alt="업계 유일 호텔급 시설 & 밀착케어로 2022 취업 한번에 합격!">
			<div class="slide-contents">
				<div class="slider" data-slide="place">
					<div>
						@* <div class="label"><strong>스터디카페</strong></div> *@
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/place_slide_01.jpg" alt="">
					</div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/place_slide_02.jpg" alt=""></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/place_slide_03.jpg" alt=""></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/place_slide_04.jpg" alt=""></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/place_slide_05.jpg" alt=""></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/place_slide_06.jpg" alt=""></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/place_slide_07.jpg" alt=""></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/pc/place_slide_08.jpg" alt=""></div>
				</div>
			</div>
		</div>
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/place.jpg" alt="직접 경험한 수강생들이 인정한 밀착 케어">
			@if("M".Equals(ViewBag.PlatformCd)){
				<div class="place-slider2">
					<div><img src="//img.eduwill.net/eduwill/img/2021/Z/event/211007/@platform/info2_slide2_1.png" alt="" /></div>
					<div><img src="//img.eduwill.net/eduwill/img/2021/Z/event/211007/@platform/info2_slide2_2.png" alt="" /></div>
					<div><img src="//img.eduwill.net/eduwill/img/2021/Z/event/211007/@platform/info2_slide2_3.png" alt="" /></div>
				</div>
			}
		</div>
	</div>

	<div class="container promotion-banner">
		<div class="wrap">
			<img alt="공기업 취린이를 위한 합격전략 간담회" src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/title_banner.jpg">
			<ul class="list">
				<li>
					<a class="pointer" href="@link1" target="_blank" title="새창열기"><img alt="2022 공기업 취업 합격전략 설명회" src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/banner1.jpg"></a>
				</li>
			</ul>
		</div>
	</div>

	<div class="container promotion-map">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220204/@platform/map.jpg" alt="에듀윌 강남 취업아카데미 주소 : 서울 강남구 테헤란로 8길 37 한동빌딩(강남역 1,3,4번 출구 5분 이내), 상담 및 문의 : 02-6486-0600" />
		</div>
	</div>

</div>

<div class="dimmed"></div>
<div id="videoPop" class="popup video-popup">
	<button type="button" class="btn-close popClose">팝업 닫기</button>
	<div class="video-cont"></div>
</div>
<div id="popupBase" class="popup popup-open">
	<button type="button" class="btn-close popClose" data-popup-close="popupBase">팝업 닫기</button>
    <div class="popup-body">
		<div data-eduwill-eco-content="3652"></div>
    </div>
</div>
<div id="popupYear5" class="popup popup-base">
    <div class="popup-body">
        <div data-eduwill-eco-content="3652"></div>
    </div>
    <a href="javascript:;" class="popup-close" data-popup-close="popupYear5"><span class="sr-only">닫기</span></a>
</div>

<script type="text/javascript" src="//img.eduwill.net/eduwill/live/libs/greensock/TweenMax.min.js"></script>
<script>
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
	var url = window.location.href;
	var str = 'event.eduwill.net';
	var checkUrl = url.indexOf(str);

	$(function () {
		promotionEvent();
		addEvent();
		addSlider();
		winnerList();
	});

	function promotionEvent(){

		var flag;
		if(!isMobile && checkUrl != -1){
			flag = true;
		}else{
			flag = false;

			$('.place-slider2').slick({
				autoplay: true,
				autoplaySpeed: 5000,
				infinite: true,
				arrows: false,
				dots: true,
			});
		}

	}

	function addEvent(){
		if($(window).scrollTop() == 0){
			setTimeout(function(){
				$('.promotion-title').addClass('active')
			}, 1000);
		}
		// scroll 이동
		pageMove('.page-move');

		// popup
        $('[data-popup-open]').on('click', function(e){
			e.preventDefault();
            var _data = $(this).data('popupOpen');
			popupOpen('.dimmed', _data);
        });

        $('[data-popup-close]').on('click', function(){
            var _data = $(this).data('popupClose');
			popupClose('.dimmed', _data);
        });

		//영상
		$(".btn-play").on("click",function(){
			var len = $(this).attr("id").length-1;
			var idx = $(this).attr("id").substr(len, 1);
			
			if($(".video-box.playing").length > 0){
				$(".video-box.playing").children("video")[0].pause();
				$(".video-box.playing").children("video")[0].currentTime = 0;
				$(".video-box.playing").removeClass("playing");
			}
			$(".video"+ idx).parents(".video-box").addClass("playing");
			$(".video"+ idx).children("video")[0].play();
		});

		//영상 팝업
		$(document).on('click', '.btn-play-popup', function(e){
			e.preventDefault();
			if($(".video.playing").length > 0){
				$(".video.playing").children("video")[0].pause();
			}

			var path = $(this).attr('video-url');
				var youtube = path.indexOf('youtube');
				if(youtube > 0){
					$('.video-cont').html('<iframe src="' + path + '" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="video"></iframe>');
				}else{
					$('.video-cont').html('<video autoplay loop muted controls poster class="video"><source src="' + path + '" type="video/mp4"></video>');
				}
				var pop = $(this).attr('pop-name');

				popupOpen('.dimmed', pop);
		});

		$(document).on('click', '.popClose', function(){
			$('.video-cont').html('');
			var pop = $(this).closest('.popup').attr('id');
			popupClose('.dimmed', pop);
		});
    }
	
	function addSlider(){
		$('.slider').each(function(key, item) {
            var sliderIdName = 'slider' + key;
                this.id = sliderIdName;
            var sliderId = '#' + sliderIdName;

            var _data = $(this).data('slide');
            var _arrows = true;
			var _slidesToShow = 1;
			var _slidesToScroll = 1;
			var _fade = false;
			var _dots = false;

            if( _data == 'review' ){
                _arrows = false;
				if(isMobile){
				_slidesToShow = 1;
				}else{
				_slidesToShow = 3;
				}
            } else if( _data == 'place' ){
				_slidesToScroll = 1;
			}

            $(sliderId).slick({
                fade: _fade,
                autoplay: true,
                autoplaySpeed: 3000,
                infinite: true,
                arrows: _arrows,
                slidesToShow: _slidesToShow,
				slidesToScroll: _slidesToScroll,
				dots: _dots
            });
        });
    }

	/* 합격자명단 */
	function winnerList() {
		var options = {
			jsonFileNm: 'Z202108_WINNER.min',
		};

		var _row;
		var _show;

		if ("@(ViewBag.platformCd)" == "M") {
			_row = 3;
			_show = 6;
		} else {
			_row = 4;
			_show = 7;
		}
		var slickOptions = {
			speed: 1000,
			slidesPerRow: _row,
			slidesToShow: _show,
		};

		eduf.UI.Winner('.winner-list', options, slickOptions);
	}

	$(window).on('scroll', function(){
		activeArea();
	});

	function activeArea(){
		var winTop = $(window).scrollTop();
		var winH = $(window).height();
		$('.container').each(function(index){
			var hei = $('.container').eq(index).outerHeight();
			var top = $('.container').eq(index).offset().top;
			if(winTop + winH > top){
				if(winTop > top + hei){
					$('.container').eq(index).removeClass('active');
				}else{
					if(winTop + winH > top + hei/2){
						$('.container').eq(index).addClass('active');
					}
				}
			}else{
				$('.container').eq(index).removeClass('active');
			}
		});
	}
</script>