@charset "UTF-8";
.grid, .product-price-zone .price-box, .product-price-zone .price-box .holder, .product-pass .wrap {
  *zoom: 1;
}

.grid:before, .product-price-zone .price-box:before, .product-price-zone .price-box .holder:before, .product-pass .wrap:before, .grid:after, .product-price-zone .price-box:after, .product-price-zone .price-box .holder:after, .product-pass .wrap:after {
  content: '';
  display: table;
}

.grid:after, .product-price-zone .price-box:after, .product-price-zone .price-box .holder:after, .product-pass .wrap:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid, .product-price-zone .price-box, .product-price-zone .price-box .holder {
  box-sizing: border-box;
}

.grid .col, .product-price-zone .price-box .col, .product-price-zone .price-box .box, .product-price-zone .price-box .title-list, .product-price-zone .price-box .price-list {
  float: left;
  box-sizing: border-box;
}

.grid .col-right, .product-price-zone .price-box .col-right {
  float: right;
}

.dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 300;
  display: none;
  width: 100%;
  max-width: 720px;
  text-align: left;
  letter-spacing: -1px;
  background-color: #fff;
  box-sizing: border-box;
  transform: translateX(-50%);
}

.popup * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

@media screen and (min-width: 720px) {
  .popup {
    width: 900px;
  }
}

.popup-body {
  padding: 15% 5%;
}

@media screen and (min-width: 720px) {
  .popup-body {
    padding: 40px;
  }
}

.popup-head {
  padding: 32px 20px;
  font-size: 30px;
  font-weight: 600;
  color: #000;
  background-color: #ececec;
}

.popup-desc {
  padding: 20px;
}

.popup-desc li {
  padding: 10px 0;
  line-height: 1.2;
  font-size: 20px;
  color: #000;
  border-bottom: 1px solid #ccc;
}

.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.popup-close:before, .popup-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #333;
}

.popup-close:before {
  transform: rotate(45deg);
}

.popup-close:after {
  transform: rotate(315deg);
}

.popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup-close-layer {
  position: absolute;
  top: 0;
  right: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.popup-close-layer:before, .popup-close-layer:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #333;
}

.popup-close-layer:before {
  transform: rotate(45deg);
}

.popup-close-layer:after {
  transform: rotate(315deg);
}

.popup-close-layer span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup.popup-base {
  border-radius: 10px;
}

.popup.popup-base p {
  line-height: 1.2;
  margin-bottom: 5px;
  font-size: 0.875rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-base p {
    font-size: 28px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-base p {
    font-size: 16px;
  }
}

.popup.popup-list .popup-body {
  padding: 0;
}

.popup.popup-list .popup-close {
  right: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
}

.popup.popup-list .popup-close:before, .popup.popup-list .popup-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #fff;
}

.popup.popup-list .popup-close:before {
  transform: rotate(45deg);
}

.popup.popup-list .popup-close:after {
  transform: rotate(315deg);
}

.popup.popup-list .popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup.popup-list .list-title {
  text-align: left;
  background: #333333;
  color: #fff;
  padding: 4%;
  letter-spacing: -1px;
  line-height: 1.4;
  font-weight: 400;
  font-size: 0.5625rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title {
    font-size: 18px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title {
    font-size: 18px;
  }
}

.popup.popup-list .list-title strong {
  display: block;
  font-size: 0.9375rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title strong {
    font-size: 30px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title strong {
    font-size: 30px;
  }
}

.popup.popup-list .list-view {
  position: relative;
  background: #fff;
  padding: 4%;
  height: 380px;
  overflow-y: auto;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-view {
    height: 500px;
    overflow-y: auto;
  }
}

.popup.popup-list .list-view ul li {
  line-height: 1.4;
  color: #333;
  font-size: 0.6875rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-view ul li {
    font-size: 22px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-view ul li {
    font-size: 18px;
  }
}

.popup.popup-benefit .popup-body {
  padding: 0;
}

.popup.popup-benefit .popup-body img {
  width: 100%;
}

#fixApply {
  display: none !important;
}

.product-eco {
  line-height: normal;
  letter-spacing: -1px;
}

.product-eco * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-eco p {
  line-height: inherit;
  font-size: inherit;
  color: inherit;
}

.product-eco .container {
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
}

.product-eco .wrap {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  width: 100%;
}

.product-eco .wrap .content {
  position: relative;
}

.product-eco .btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  box-sizing: border-box;
}

.product-eco .btn:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 66px;
  height: 73px;
  background: url("//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_1.png") no-repeat 0 0;
  background-size: contain;
  animation-name: bounce2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}

@keyframes bounce2 {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 10px);
  }
}

.product-eco .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 17px;
  height: 35px;
  margin-top: -17.5px;
  border: none;
  font-size: 0;
  text-indent: -9999px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  outline: none;
  cursor: pointer;
}

.product-eco .slick-arrow.slick-prev {
  left: 0;
  background-image: url("https://img.eduwill.net/resources/img/public/product/201215/pc/btn_prev.png");
}

.product-eco .slick-arrow.slick-next {
  right: 0;
  background-image: url("https://img.eduwill.net/resources/img/public/product/201215/pc/btn_next.png");
}

.product-eco .circle-red {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 7;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  display: table;
  background: #eb3c28;
  box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.2);
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.product-eco .circle-red > span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.4;
}

.product-eco .bottom-banner {
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  background: #292e33;
}

.product-eco .bottom-banner .wrap .logo {
  position: absolute;
  bottom: 10px;
  left: 49px;
}

.product-eco .bottom-banner .wrap .action {
  top: 17px;
  right: 48px;
}

.product-eco .bottom-banner .flag span {
  border: 2px solid #fff;
  border-radius: 30px;
  color: #fff;
  padding: 5px 13px;
  font-size: 19px;
  font-weight: 600;
}

.product-eco .bottom-banner .warn span {
  color: #fdd000;
  font-size: 18px;
  font-weight: 700;
}

.product-eco .bottom-banner .action {
  position: absolute;
  top: 9px;
  right: 0;
}

.product-eco .bottom-banner .action a:after {
  top: 20%;
  right: -10%;
}

.product-eco .left-banner {
  position: fixed;
  top: 340px;
  left: 50%;
  z-index: 10;
  margin-left: -755px;
}

.product-eco .right-banner {
  position: fixed;
  top: 20%;
  left: 50%;
  z-index: 10;
  margin-left: 550px;
}

.product-title {
  background-color: #dfefff;
  background-image: url("https://img.eduwill.net/resources/img/public/product/201215/pc/bg_title.jpg");
  background-size: cover;
}

.product-title a.baselayer {
  position: absolute;
  top: 207px;
  right: 50px;
}

.product-title .action {
  position: absolute;
  top: 1139px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.product-text-banner {
  background: #102c59;
}

.product-text-banner .wrap:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -51px;
  background: url("https://img.eduwill.net/resources/img/public/product/201215/pc/bg_text_banner.png") no-repeat 50% 0;
  background-size: cover;
  width: 141px;
  height: 51px;
  z-index: 7;
}

.product-price-zone {
  background: #f7f7f7 url("https://img.eduwill.net/resources/img/public/product/201215/pc/bg_pricezone.png") no-repeat 50% 0;
  background-size: cover;
  padding-top: 98px;
  padding-bottom: 200px;
}

.product-price-zone.second {
  background: #f7f7f7;
}

.product-price-zone .action {
  position: relative;
  right: 50px;
  text-align: right;
  margin-bottom: 14px;
}

.product-price-zone .action a:first-child {
  margin-right: 5px;
}

.product-price-zone .price-box {
  margin: 0 auto;
  padding: 0 50px;
}

.product-price-zone .price-box .box {
  text-align: left;
  width: 100%;
  padding: 43px 0 0 43px;
  position: relative;
  background-color: #fff;
  box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.2);
}

.product-price-zone .price-box .box-1 {
  border: 5px solid #102c59;
  border-right: none;
}

.product-price-zone .price-box .box-1 .action {
  background: #102c59;
}

.product-price-zone .price-box .holder {
  width: 680px;
  padding-bottom: 35px;
  box-sizing: border-box;
}

.product-price-zone .price-box .title-label {
  position: absolute;
  top: -28px;
  left: 20px;
  padding: 4px 20px;
  background: #ffde00;
  color: #000;
  font-size: 24px;
  font-weight: 600;
  border-radius: 20px;
}

.product-price-zone .price-box .title-list {
  line-height: 1;
  width: 55%;
  font-size: 26px;
  font-weight: 500;
  color: #000;
  letter-spacing: -3px;
  text-align: left;
}

.product-price-zone .price-box .title-list strong {
  font-size: 50px;
  display: inline-block;
  padding-bottom: 18px;
}

.product-price-zone .price-box .price-list {
  width: 45%;
  line-height: 1;
  text-align: left;
}

.product-price-zone .price-box .price-list .price-before strong {
  position: relative;
  display: block;
  font-size: 30px;
  font-weight: 400;
  color: #828282;
}

.product-price-zone .price-box .price-list .price-before strong em {
  font-size: 40px;
  font-family: 'Roboto';
}

.product-price-zone .price-box .price-list .price-before strong:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 213px;
  height: 21px;
  background: url("https://img.eduwill.net/resources/img/public/product/201215/pc/icon_arrow.png") no-repeat 0 0;
}

.product-price-zone .price-box .price-list .price-after {
  font-size: 40px;
  font-weight: 700;
  color: #eb3c28;
  padding-top: 20px;
}

.product-price-zone .price-box .price-list .price-after em {
  font-size: 60px;
  line-height: 1;
  font-family: 'Roboto';
}

.product-price-zone .price-box .action {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  bottom: 0;
  width: 272px;
  height: 100%;
  display: table;
}

.product-price-zone .price-box .action a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 34px;
}

.product-price-zone .price-box .action a em {
  color: #ffde00;
}

.product-price-zone .price-box .action a:after {
  right: -10%;
}

.product-pass {
  padding: 30px 0 60px 0;
  background: #fdd000 url("https://img.eduwill.net/resources/img/public/product/201215//pc/bg_logoslide.jpg") no-repeat 50% 0;
  background-size: cover;
}

.product-pass .slider-box {
  float: left;
  box-sizing: border-box;
  width: 800px;
  height: 560px;
}

.product-pass .slider-box:before, .product-pass .slider-box:after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 150px;
  background: transparent;
}

.product-pass .slider-box:before {
  top: 0;
  background: linear-gradient(0deg, rgba(253, 208, 0, 0.1) 0%, #fdd000 100%);
}

.product-pass .slider-box:after {
  bottom: 0;
  background: linear-gradient(0deg, #fdd000 0%, rgba(253, 208, 0, 0.1) 100%);
}

.product-pass .slider-box .slider-logo {
  height: 100%;
}

.product-pass .slider-box .slick-list {
  height: 100% !important;
}

.product-pass .slider-box .slick-list .logo {
  display: table;
  height: 80px;
}

.product-pass .slider-box .slick-list p {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  font-size: 17px;
}

.product-pass .slider-box .slick-list p:nth-child(2) {
  padding-left: 15px;
  min-width: 200px;
}

.product-pass .slider-box .slick-list p:nth-child(3) {
  padding-left: 20px;
}

.product-pass .slider-box .slick-list p:nth-child(4) {
  padding-left: 15px;
  min-width: 200px;
}

.product-pass .text-box {
  position: absolute;
  top: 200px;
  right: 0;
  font-size: 45px;
  color: #222;
  font-weight: 700;
  text-align: left;
  letter-spacing: -3px;
}

.product-service .carousel-box {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.product-service .carousel-box .carousel-slide {
  width: 100%;
  height: 725px;
}

.product-book {
  background: #fff;
}

.product-book .circle-red {
  top: 174px;
}

.product-book .circle-red.first {
  left: 312px;
  right: auto;
}

.product-book .circle-red.second {
  right: 75px;
  left: auto;
}

.product-benefit {
  background: #e6f2ff;
}

.product-benefit .baselayer {
  position: absolute;
  top: 222px;
  right: 4px;
}
/*# sourceMappingURL=web.css.map */