@{
    string viewPath = ((RazorView)ViewContext.View).ViewPath;
    viewPath = viewPath.Remove(viewPath.LastIndexOf('/') + 1);
}

@{
    string platform = ("W".Equals(ViewBag.PlatformCd)) ? "pc" : "mobile";
    if ("W".Equals(ViewBag.PlatformCd)) { } else { }
}

<div id="contents" class="promotion">
    @if ("W".Equals(ViewBag.PlatformCd))
    {
        <div class="wing-banner">
            <div>
                <a href="#sectorEvent" class="page-move">
                    <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/pc/wing1.png" alt="">
                </a>
            </div>
        </div>
    }

    <div class="sector-title">
		@if ("W".Equals(ViewBag.PlatformCd))
		{
		<div class="wrap-full">
			<p class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/pc/title_teacher.png" alt=""></p>
			<div class="laurel-list">
				<p class="laurel-1"><img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/pc/laurel_1.png" alt=""></p>
			</div>
			<p class="title-1"><img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/pc/title_1.png" alt=""></p>
			<p class="title-2"><img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/pc/title_2.png" alt=""></p>
			<p class="title-3"><img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/pc/title_3.png" alt=""></p>
			<div class="action">
				<a href="#sectorEvent" class="page-move btn-title">
					<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/pc/title_btn.png" alt="">
				</a>
			</div>
			<a class="btn-home" href="//fire.eduwill.net/Prof/FL04/FL" target="_blank">
				<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/pc/home.png" alt="">
			</a>
		</div>
		}
		else{
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/mobile/title.png" alt="">
			<div class="action">
				<a href="#sectorEvent" class="page-move btn-title">
					<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/mobile/title_btn.png" alt="">
				</a>
			</div>
			<a class="btn-home" href="//fire.eduwill.net/Prof/FL04/FL" target="_blank">
				<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/mobile/home.png" alt="">
			</a>
		</div>
		}
    </div>

    <div class="sector-intro">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/@platform/intro.jpg" alt="">
        </div>
    </div>

	<div class="sector-require">
        <div class="wrap">
			@if ("W".Equals(ViewBag.PlatformCd))
			{
            <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/pc/require.jpg" alt="">
			}
			else{
				<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/mobile/require.jpg" alt="">
				<div class="require-list">
					<div><img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/mobile/slide1.png" alt=""></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/mobile/slide2.png" alt=""></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/mobile/slide3.png" alt=""></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/mobile/slide4.png" alt=""></div>
				</div>
			}
        </div>
    </div>

    <div class="sector-detail">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/@platform/img_detail.jpg" alt="">
			<div class="video-section">
				<div class="video-box">
					<a href="javascript:;" class="eduwill-video-play">
						<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/@platform/thumb.png" alt="">
					</a>
					<video width="100%" height="100%" controls poster="" class="eduwill-video-player">
						<source src="" type="video/mp4">
					</video>
				</div>
			</div>
			@if ("M".Equals(ViewBag.PlatformCd)){
				<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/mobile/img_detail2.jpg" alt="">
			}
        </div>
    </div>

    <div class="sector-teacher">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/@platform/img_teacher.jpg" alt="">
			@if ("W".Equals(ViewBag.PlatformCd)){
            <div class="box teacher-box">
                <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/pc/teacher.png" alt="">
            </div>
			}
            <div class="box action-box">
                <a class="btn-home" href="//fire.eduwill.net/Prof/FL04/FL" target="_blank">
                    <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/@platform/teacher_btn.png" alt="">
                </a>
            </div>
        </div>
    </div>

    <div class="sector-review">
        <div class="wrap-full">
            <div class="review-list">
                <div><img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/@platform/review_1.png" alt="review1"></div>
                <div><img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/@platform/review_2.png" alt="review2"></div>
                <div><img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/@platform/review_3.png" alt="review3"></div>
                <div><img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/@platform/review_4.png" alt="review4"></div>
                <div><img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/@platform/review_5.png" alt="review5"></div>
                <div><img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/@platform/review_6.png" alt="review6"></div>
            </div>
        </div>
    </div>

    <div id="sectorEvent" class="sector-event">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/@platform/img_event.jpg" alt="기간 한정 이벤트">
			<div class="event-info">
				<div class="action">
					<button class="btn-event" onclick="">
						<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/@platform/event_btn.png" alt="지금 바로 받기">
					</button>
				</div>
			</div>
		</div>
    </div>

    <div class="sector-notice">
        <div class="wrap">
            <div class="notice-box">
                <p class="notice-title">유의사항</p>
                <ul class="notice-list">
					<li>본 이벤트는 아이디당 1회만 신청 가능합니다.</li>
					<li>수강 기간은 신청일로부터 7일입니다.</li>
					<li>무료로 제공하는 강의는 일시적으로 정지 및 연장이 불가합니다.</li>
					<li>본 강의는 유료 강의 중 일부를 발췌하여 제공합니다</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="sector-join">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/@platform/img_join.jpg" alt="">
			<div class="action">
				<button class="btn-join" onclick="">
					<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220104/@platform/join_btn.png" alt="지금 바로 받기">
				</button>
			</div>
		</div>
    </div>

	<h1 style="font-size:3vw;padding:5vw 0;background:#f4f4f4;">소문내기 영역</h1>

</div>

<script type="text/javascript">
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
    var str = 'event.eduwill.net';
    var checkUrl = url.indexOf(str);
    var userId = "@(UserSession.UserID)";

    $(function () {
        frontInit();
    });

    function frontInit() {
        pageMove('.page-move');
        slideEvent();
		playVideo();
		if( !isMobile ){
            titleEvent();
        } else {
        }
    }

    function titleEvent(){
        var promotionTitle = $('.sector-title');
        TweenMax.fromTo( promotionTitle.find('.teacher'), 1.0, { opacity: 0, x: 150, y: 0 }, { opacity: 1, x: 0, y: 0, delay: 1.4, ease: 'elastic.out(1, 0.3)' });
        TweenMax.fromTo( promotionTitle.find('.laurel-1'), .5, { opacity: 0, scale: 0 }, { opacity: 1, scale: 1, delay: .2, ease: Back.easeOut.config(1) });
        TweenMax.fromTo( promotionTitle.find('.title-1'), .6, { opacity: 0, x: -100 }, { opacity: 1, x: 0, delay: .8, ease: Back.easeOut.config(1) });
        TweenMax.fromTo( promotionTitle.find('.title-2'), .6, { opacity: 0, x: -100 }, { opacity: 1, x: 0, delay: 1.0, ease: Back.easeOut.config(1) });
        TweenMax.fromTo( promotionTitle.find('.title-3'), .6, { opacity: 0, x: -100 }, { opacity: 1, x: 0, delay: 1.2, ease: Back.easeOut.config(1) });
        TweenMax.fromTo( promotionTitle.find('.btn-home'), .5, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: 2.0, ease: Back.easeOut.config(1) });
        TweenMax.fromTo( promotionTitle.find('.action'), .5, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: 2.1, ease: Back.easeOut.config(1) });
        TweenMax.fromTo( $('.wing-banner'), .8, { opacity: 0, y: 100 }, { opacity: 1, y: 0, delay: 2.2, ease: Sine.easeOut });
    }

    function playVideo(){
        var obj = {
            a: 'https://pmp.eduwill.net/eduwillpmp/eduwill/flv/20220104/_104FL-N-SAMPLE-LMJ.mp4'
        }

        var playerSrc = [];
        for(var o in obj){
            playerSrc.push(obj[o]);
        }

        var tabOnlyPreviewOption = {
            playerSrc: playerSrc,
            preview: true,
            playerClass: 'eduwill-video-player',
            playerPlayClass: 'eduwill-video-play'
        }

        eduf.UI.Player(tabOnlyPreviewOption);
    }

    function slideEvent(){
        $('.review-list').slick({
            autoplay: true,
            autoplaySpeed: 3000,
            speed: 1000,
            infinite: true,
            centerMode: true,
            variableWidth: true
        });

        $('.require-list').slick({
            autoplay: true,
            autoplaySpeed: 3000,
            speed: 1000,
            infinite: true,
			arrows:false,
			dots:true,
			slidesToShow: 1
        });

    }
</script>
