@charset "UTF-8";
.grid, .product-price-zone .price-box .holder {
  *zoom: 1;
}

.grid:before, .product-price-zone .price-box .holder:before, .grid:after, .product-price-zone .price-box .holder:after {
  content: '';
  display: table;
}

.grid:after, .product-price-zone .price-box .holder:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid, .product-price-zone .price-box .holder {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col, .product-price-zone .price-box .holder .col, .grid .product-price-zone .price-box .title-list, .product-price-zone .price-box .grid .title-list, .product-price-zone .price-box .holder .title-list, .grid .product-price-zone .price-box .price-list, .product-price-zone .price-box .grid .price-list, .product-price-zone .price-box .holder .price-list {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col-right, .product-price-zone .price-box .holder .col-right {
  float: right;
}

.dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 300;
  display: none;
  width: 100%;
  max-width: 720px;
  text-align: left;
  letter-spacing: -1px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

@media screen and (min-width: 720px) {
  .popup {
    width: 900px;
  }
}

.popup-body {
  padding: 15% 5%;
}

@media screen and (min-width: 720px) {
  .popup-body {
    padding: 40px;
  }
}

.popup-head {
  padding: 32px 20px;
  font-size: 30px;
  font-weight: 600;
  color: #000;
  background-color: #ececec;
}

.popup-desc {
  padding: 20px;
}

.popup-desc li {
  padding: 10px 0;
  line-height: 1.2;
  font-size: 20px;
  color: #000;
  border-bottom: 1px solid #ccc;
}

.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.popup-close:before, .popup-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #333;
}

.popup-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup-close-layer {
  position: absolute;
  top: 0;
  right: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.popup-close-layer:before, .popup-close-layer:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #333;
}

.popup-close-layer:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close-layer:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup-close-layer span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup.popup-base {
  border-radius: 10px;
}

.popup.popup-base p {
  line-height: 1.2;
  margin-bottom: 5px;
  font-size: 0.875rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-base p {
    font-size: 28px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-base p {
    font-size: 16px;
  }
}

.popup.popup-list .popup-body {
  padding: 0;
}

.popup.popup-list .popup-close {
  right: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
}

.popup.popup-list .popup-close:before, .popup.popup-list .popup-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #fff;
}

.popup.popup-list .popup-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup.popup-list .popup-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup.popup-list .popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup.popup-list .list-title {
  text-align: left;
  background: #333333;
  color: #fff;
  padding: 4%;
  letter-spacing: -1px;
  line-height: 1.4;
  font-weight: 400;
  font-size: 0.5625rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title {
    font-size: 18px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title {
    font-size: 18px;
  }
}

.popup.popup-list .list-title strong {
  display: block;
  font-size: 0.9375rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title strong {
    font-size: 30px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title strong {
    font-size: 30px;
  }
}

.popup.popup-list .list-view {
  position: relative;
  background: #fff;
  padding: 4%;
  height: 380px;
  overflow-y: auto;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-view {
    height: 500px;
    overflow-y: auto;
  }
}

.popup.popup-list .list-view ul li {
  line-height: 1.4;
  color: #333;
  font-size: 0.6875rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-view ul li {
    font-size: 22px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-view ul li {
    font-size: 18px;
  }
}

.popup.popup-benefit .popup-body {
  padding: 0;
}

.popup.popup-benefit .popup-body img {
  width: 100%;
}

.product-eco {
  line-height: normal;
  letter-spacing: -1px;
}

.product-eco * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-eco p {
  line-height: inherit;
  font-size: inherit;
  color: inherit;
}

.product-eco .container {
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
}

.product-eco .wrap {
  position: relative;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  width: 100%;
}

.product-eco .wrap .content {
  position: relative;
}

.product-eco .btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .btn:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 2.0625rem;
  height: 2.28125rem;
  background: url("//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_1.png") no-repeat 0 0;
  background-size: contain;
  -webkit-animation-name: bounce2;
          animation-name: bounce2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .btn:after {
    width: 66px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .btn:after {
    height: 73px;
  }
}

@-webkit-keyframes bounce2 {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
}

@keyframes bounce2 {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
}

.product-eco .circle-red {
  position: absolute;
  top: 50%;
  left: auto;
  right: 5.833%;
  z-index: 7;
  margin: -2.34375rem auto 0;
  width: 4.6875rem;
  height: 4.6875rem;
  border-radius: 4.6875rem;
  display: table;
  background: #eb3c28;
  -webkit-box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.2);
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .circle-red {
    margin: -75px auto 0;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .circle-red {
    width: 150px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .circle-red {
    height: 150px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .circle-red {
    border-radius: 150px;
  }
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

.product-eco .circle-red > span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 900;
  line-height: 1.4;
}

@media screen and (min-width: 720px) {
  .product-eco .circle-red > span {
    font-size: 26px;
  }
}

.product-eco .bottom-banner {
  position: fixed;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  width: 100%;
  z-index: 1500;
  background: #000;
}

.product-eco .bottom-banner .wrap .logo {
  position: absolute;
  top: -20%;
  left: 4%;
  width: 13.88%;
}

.product-eco .bottom-banner .wrap .action {
  position: absolute;
  top: 20%;
  right: 5%;
  width: 19.444%;
}

.product-eco .bottom-banner .wrap .action .btn:after {
  right: -10%;
}

.product-title {
  background-color: #fff9e5;
  background-image: url("//img.eduwill.net/eduwill/img/2021/Z/product/210111/mobile/bg_title.jpg");
  background-size: cover;
}

.product-title .baselayer {
  position: absolute;
  width: 14%;
  top: 15.5%;
  right: 4%;
}

.product-title .left-banner {
  display: table;
  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: 18%;
  z-index: 10;
}

.product-title .left-banner .banner {
  display: table-cell;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  color: #000;
  font-weight: 700;
  line-height: 1.5;
  width: 6.25rem;
  height: 6.25rem;
  font-size: 0.9375rem;
  border-radius: 4.6875rem;
  background-color: #ffdc00;
  -webkit-box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 720px) {
  .product-title .left-banner .banner {
    width: 200px;
  }
}

@media screen and (min-width: 720px) {
  .product-title .left-banner .banner {
    height: 200px;
  }
}

@media screen and (min-width: 720px) {
  .product-title .left-banner .banner {
    font-size: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-title .left-banner .banner {
    border-radius: 150px;
  }
}

.product-title .left-banner .banner > span {
  -webkit-animation-name: btnChange;
          animation-name: btnChange;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes btnChange {
  0%, 100% {
    color: #e75156;
  }
  50% {
    color: #fac518;
  }
}

@keyframes btnChange {
  0%, 100% {
    color: #e75156;
  }
  50% {
    color: #fac518;
  }
}

.product-title .left-banner .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.6875rem;
}

@media screen and (min-width: 720px) {
  .product-title .left-banner .close {
    width: 22px;
  }
}

.product-title .action {
  position: absolute;
  width: 90.416%;
  top: 84.5%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.product-benefit3 {
  padding-bottom: 3.90625rem;
}

@media screen and (min-width: 720px) {
  .product-benefit3 {
    padding-bottom: 125px;
  }
}

.product-benefit3 .lecture-list {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  width: 88.888%;
  height: 11.875rem;
  margin: 0 auto;
  border: 5px solid #f1f1f1;
}

@media screen and (min-width: 720px) {
  .product-benefit3 .lecture-list {
    height: 380px;
  }
}

.product-benefit3 .lecture-list ul {
  margin: 0.15625rem;
}

@media screen and (min-width: 720px) {
  .product-benefit3 .lecture-list ul {
    margin: 5px;
  }
}

.product-benefit3 .lecture-list ul li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.3125rem;
  text-align: left;
  font-size: 0.625rem;
  color: #222;
  letter-spacing: -1px;
  border-bottom: 1px solid #f1f1f1;
}

@media screen and (min-width: 720px) {
  .product-benefit3 .lecture-list ul li {
    padding: 10px;
  }
}

@media screen and (min-width: 720px) {
  .product-benefit3 .lecture-list ul li {
    font-size: 20px;
  }
}

.product-benefit3 .lecture-list ul li em {
  position: relative;
  width: 15%;
  text-align: center;
  display: inline-block;
}

.product-benefit3 .lecture-list ul li span {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  vertical-align: top;
}

.product-benefit3 .action {
  position: relative;
  width: 90.416%;
  margin: 0 auto;
}

.product-price-zone {
  color: #000;
  background-color: #f7f7f7;
  background-image: url("//img.eduwill.net/eduwill/img/2021/Z/product/210111/mobile/bg_pricezone.png");
  background-position: 50% 50%;
  background-size: cover;
  padding: 3.75rem 0;
}

.product-price-zone.second {
  background-image: none;
}

@media screen and (min-width: 720px) {
  .product-price-zone {
    padding: 120px 0;
  }
}

.product-price-zone .title {
  position: relative;
  left: 1.25rem;
  margin-bottom: 2.6875rem;
  text-align: left;
  line-height: 1.2;
  font-size: 1.40625rem;
  font-weight: 600;
}

@media screen and (min-width: 720px) {
  .product-price-zone .title {
    left: 40px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .title {
    margin-bottom: 86px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .title {
    font-size: 45px;
  }
}

.product-price-zone .action {
  position: relative;
}

.product-price-zone .action a {
  width: 43.055%;
  margin-top: 1.34375rem;
  display: inline-block;
}

@media screen and (min-width: 720px) {
  .product-price-zone .action a {
    margin-top: 43px;
  }
}

.product-price-zone .action a:first-child {
  margin-right: 0.5625rem;
}

@media screen and (min-width: 720px) {
  .product-price-zone .action a:first-child {
    margin-right: 18px;
  }
}

.product-price-zone .price-box {
  margin: 0 auto;
  padding: 0 5.555%;
}

.product-price-zone .price-box .box {
  text-align: center;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.2);
}

.product-price-zone .price-box .box-1 {
  border: 3px solid #dd1f3e;
}

.product-price-zone .price-box .box-1 .action {
  background: #dd1f3e;
}

.product-price-zone .price-box .holder {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.5625rem 1.25rem;
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .holder {
    padding: 50px 40px;
  }
}

.product-price-zone .price-box .title-label {
  position: absolute;
  top: -0.875rem;
  left: 0.625rem;
  padding: 0.3125rem 0.9375rem;
  background: #fdd000;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 0.78125rem;
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .title-label {
    top: -28px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .title-label {
    left: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .title-label {
    padding: 10px 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .title-label {
    font-size: 24px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .title-label {
    border-radius: 25px;
  }
}

.product-price-zone .price-box .title-label:after {
  content: '';
  position: absolute;
  bottom: -0.6875rem;
  left: 50%;
  margin-left: -0.375rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.375rem;
  border-color: #fdd000 transparent transparent transparent;
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .title-label:after {
    bottom: -22px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .title-label:after {
    margin-left: -12px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .title-label:after {
    border-width: 12px;
  }
}

.product-price-zone .price-box .title-list {
  line-height: 1.2;
  width: 50%;
  font-size: 1.25rem;
  font-weight: 500;
  color: #000;
  letter-spacing: -1px;
  text-align: left;
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .title-list {
    font-size: 40px;
  }
}

.product-price-zone .price-box .title-list .desc {
  display: block;
  font-weight: 400;
  padding-bottom: 0.375rem;
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .title-list .desc {
    padding-bottom: 12px;
  }
}

.product-price-zone .price-box .price-list {
  width: 50%;
  line-height: 1;
  text-align: right;
}

.product-price-zone .price-box .price-list .price-desc {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.2;
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .price-list .price-desc {
    font-size: 24px;
  }
}

.product-price-zone .price-box .price-list .price-after {
  font-size: 1.25rem;
  font-weight: 700;
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .price-list .price-after {
    font-size: 40px;
  }
}

.product-price-zone .price-box .price-list .price-after em {
  font-size: 1.875rem;
  line-height: 1;
  font-family: 'Roboto';
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .price-list .price-after em {
    font-size: 60px;
  }
}

.product-price-zone .price-box .action {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
}

.product-price-zone .price-box .action a {
  width: 100%;
  padding: 0.9375rem 0;
  line-height: 1;
  display: block;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 1.0625rem;
  margin-top: 0;
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .action a {
    padding: 30px 0;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .action a {
    font-size: 34px;
  }
}

.product-price-zone .price-box .action a em {
  color: #ffde00;
}

.product-price-zone .price-box .action a:after {
  right: 0;
}

.product-pass {
  padding-bottom: 1.3125rem;
  background: #fdd000 url("//img.eduwill.net/eduwill/img/2021/Z/product/210111/mobile/bg_logoslide.jpg") no-repeat 50% 0;
  background-size: cover;
}

@media screen and (min-width: 720px) {
  .product-pass {
    padding-bottom: 42px;
  }
}

.product-pass .slider-box {
  height: 11.96875rem;
  padding-top: 7.03125rem;
}

@media screen and (min-width: 720px) {
  .product-pass .slider-box {
    height: 383px;
  }
}

@media screen and (min-width: 720px) {
  .product-pass .slider-box {
    padding-top: 225px;
  }
}

.product-pass .slider-box:before, .product-pass .slider-box:after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 4.6875rem;
  background: transparent;
}

@media screen and (min-width: 720px) {
  .product-pass .slider-box:before, .product-pass .slider-box:after {
    height: 150px;
  }
}

.product-pass .slider-box:before {
  top: 30%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(253, 208, 0, 0.1)), to(#fdd000));
  background: linear-gradient(0deg, rgba(253, 208, 0, 0.1) 0%, #fdd000 100%);
}

.product-pass .slider-box:after {
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#fdd000), to(rgba(253, 208, 0, 0.1)));
  background: linear-gradient(0deg, #fdd000 0%, rgba(253, 208, 0, 0.1) 100%);
}

.product-pass .slider-box .slider-logo {
  height: 100%;
}

.product-pass .slider-box .slick-list {
  width: 96%;
  height: 100% !important;
  margin: 0 auto;
}

.product-pass .slider-box .slick-list .logo {
  display: table;
  table-layout: fixed;
}

.product-pass .slider-box .slick-list p {
  display: table-cell;
  width: 22%;
  vertical-align: middle;
  text-align: left;
  font-size: 0.53125rem;
}

@media screen and (min-width: 720px) {
  .product-pass .slider-box .slick-list p {
    font-size: 17px;
  }
}

.product-pass .slider-box .slick-list p:nth-child(2n) {
  width: 28%;
}

.product-pass .text-box {
  position: absolute;
  font-weight: bold;
  font-size: 1.34375rem;
  letter-spacing: -2px;
  top: 10%;
  left: 5.555%;
  line-height: 1.4;
  text-align: left;
}

@media screen and (min-width: 720px) {
  .product-pass .text-box {
    font-size: 43px;
  }
}

.product-media .baselayer {
  position: absolute;
  width: 14%;
  top: 0;
  right: 0;
}

.product-media .media-box > div {
  display: inline-block;
  margin: 0 9px;
}

.product-book {
  background: #fff;
}

.product-book .circle-red.first {
  top: 24%;
  right: 5%;
  left: auto;
}

.product-book .circle-red.second {
  top: 60%;
  right: 10%;
  left: auto;
}

.product-service {
  background: #fff;
}

.product-service .bg {
  text-align: center;
  background: #fff url("//img.eduwill.net/eduwill/img/2021/Z/product/210111/mobile/product_service_bg.png") no-repeat 50% 0;
  background-size: cover;
}

@media screen and (min-width: 720px) {
  .product-service .bg {
    background-size: auto;
  }
}

.product-service .slider-box {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.product-service .slick-arrow.slick-next {
  right: 5%;
}

.product-service .slick-arrow.slick-prev {
  left: 5%;
}

.product-service .carousel-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.product-service .carousel-box .carousel-slide {
  width: 100%;
  height: 22.5rem;
}

@media screen and (min-width: 720px) {
  .product-service .carousel-box .carousel-slide {
    height: 720px;
  }
}

.product-benefit {
  background: #ffdc00;
}

.product-benefit .baselayer {
  position: absolute;
  width: 14%;
  top: 15%;
  right: 10.138%;
}
/*# sourceMappingURL=mobile.css.map */