@charset "UTF-8";
a, *:hover, *:active, *:focus, a img, object, embed {
  outline: none;
  -moz-outline-style: none;
}

.product-eco div,
.product-eco a,
.product-eco span,
.product-eco ul,
.product-eco li,
.product-eco dl,
.product-eco dt,
.product-eco dd,
.product-eco em,
.product-eco button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  line-height: 1.5;
}

.product-eco a {
  text-decoration: none;
}

.product-eco button {
  padding: 0;
  border: 0;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
}

.product-eco .container {
  position: relative;
}

.product-eco .wrap {
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.grid {
  *zoom: 1;
}

.grid:before, .grid:after {
  content: '';
  display: table;
}

.grid:after {
  clear: both;
}

.hidden,
.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.banner-list-item .banner {
  background-color: #fff !important;
}

.product-eco {
  overflow: hidden;
}

.product-eco .section {
  position: relative;
  padding: 0;
  margin: 0;
  border-bottom: 0;
}

.product-eco .wrap {
  width: 100%;
  max-width: 720px;
}

.product-eco .section-slide .swiper-container {
  width: 100%;
  height: 100%;
  padding: 10% 0 12%;
}

.product-eco .section-slide .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: auto;
  top: 0;
  left: 31%;
  color: #999;
  font-size: 3.33333vw;
}

@media screen and (min-width: 720px) {
  .product-eco .section-slide .swiper-container-horizontal > .swiper-pagination-bullets {
    font-size: 24px;
  }
}

.product-eco .section-slide .swiper-container-horizontal .swiper-pagination-fraction {
  bottom: auto;
  top: 0;
  left: 31%;
  color: #999;
  font-size: 3.33333vw;
}

@media screen and (min-width: 720px) {
  .product-eco .section-slide .swiper-container-horizontal .swiper-pagination-fraction {
    font-size: 24px;
  }
}

.product-eco .section-slide .swiper-container-horizontal .swiper-pagination-fraction .swiper-pagination-current {
  color: #222;
}

.product-eco .section-slide .swiper-container-horizontal .swiper-pagination-fraction .swiper-pagination-custom {
  bottom: auto;
  top: 0;
  left: 31%;
  color: #999;
  font-size: 3.33333vw;
}

@media screen and (min-width: 720px) {
  .product-eco .section-slide .swiper-container-horizontal .swiper-pagination-fraction .swiper-pagination-custom {
    font-size: 24px;
  }
}

.product-eco .section-slide .swiper-slide {
  width: 62.5vw;
  margin-left: 5%;
  border-radius: 15px;
  background-color: #fff;
  -webkit-box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (min-width: 720px) {
  .product-eco .section-slide .swiper-slide {
    width: 450px;
  }
}

.product-eco .section-slide .swiper-slide.swiper-slide-active {
  background-color: #ffd471;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product-eco .section-slide .swiper-slide .lecture-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.product-eco .section-title {
  background: url("https://img.eduwill.net/eduwill/img/2021/L/lecture/210729/mobile/bg_title.jpg") no-repeat 50% 100%;
  background-size: cover;
}

.product-eco .section-item2 {
  background-color: #f2f2f2;
}

.product-eco .section-item3 {
  background-size: cover;
}

.product-eco .section-item3 .btn-view {
  position: absolute;
  left: 50%;
  bottom: 22%;
  display: block;
  width: 55.55%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
}

.product-eco .section-item3 .notice {
  position: absolute;
  top: 84%;
  z-index: 7;
}

.product-eco .section-movie {
  position: relative;
  overflow: hidden;
}

.product-eco .section-movie video {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 0;
}

.product-eco .section-movie img {
  position: relative;
  z-index: 1;
}

.product-eco .section-apply-title .title-banner {
  padding: 3.125rem 1.5625rem;
  font-size: 6.94444vw;
  letter-spacing: -1.5px;
  line-height: 1.4;
  font-weight: bold;
  text-align: left;
  color: #333;
}

@media screen and (min-width: 720px) {
  .product-eco .section-apply-title .title-banner {
    padding: 100px 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .section-apply-title .title-banner {
    font-size: 50px;
  }
}

.product-eco .notice {
  padding: 0 1.5625rem;
  font-size: 2.5vw;
  text-align: left;
  color: #999;
}

@media screen and (min-width: 720px) {
  .product-eco .notice {
    padding: 0 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .notice {
    font-size: 18px;
  }
}

.dimmed {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup {
  display: none;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 40000;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 594px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #393939;
  background-color: #fff;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

@media screen and (max-width: 768px) {
  .popup {
    width: 88.88889%;
  }
}

.popup .popup_close {
  position: absolute;
  top: 0;
  right: 0;
  width: 56px;
  height: 56px;
}

.popup .popup_close a {
  display: block;
  width: 100%;
  height: 100%;
}

.popup .popup_close a:before, .popup .popup_close a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #aaa;
}

.popup .popup_close a:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup .popup_close a:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup .popup_title {
  padding: 28px 0;
  font-weight: 400;
  text-align: center;
  color: #fff;
  letter-spacing: -1px;
  line-height: 1.2;
  background-color: #393939;
}

@media screen and (max-width: 720px) {
  .popup .popup_title {
    letter-spacing: 0;
    padding: 14px 0;
  }
}

.popup .popup_title strong {
  display: block;
  letter-spacing: -2px;
  font-weight: 700;
}

@media screen and (min-width: 720px) {
  .popup .popup_title strong {
    font-size: 32px;
  }
}

@media screen and (max-width: 719px) {
  .popup .popup_title strong {
    font-size: 4.44444vw;
  }
}

@media screen and (max-width: 720px) {
  .popup .popup_title strong {
    display: block;
    letter-spacing: 0;
  }
}

.popup .popup_title strong em {
  display: block;
  color: #ffd800;
}

.popup .popup_cont {
  padding: 5% 3% 0;
}
/*# sourceMappingURL=mobile.css.map */