@{
    string viewPath = ((RazorView)ViewContext.View).ViewPath;
    viewPath = viewPath.Remove(viewPath.LastIndexOf('/') + 1);
	String link1 = ("W".Equals(ViewBag.PlatformCd))? "https://cpta.eduwill.net/Book/bookInfo?cateIdx=&bookIdx=9105&productCode=22_114E0100B": "https://brand.eduwill.net/book/info.will?progress=_114&cateIdx=&bookIdx=9105&productCode=22_114E0100B"; // 교재구매 바로가기 링크 
}

@{
    string platform = ("W".Equals(ViewBag.PlatformCd)) ? "pc" : "mobile";
    if ( "W".Equals(ViewBag.PlatformCd) ){} else {}
}

<div id="contents" class="promotion">
	<div class="fix-bottom">
		<div class="wrap">
			<div class="action">
				<a href="#sectorApply" class="page-move">
					<img class="img-band" src="//img.eduwill.net/eduwill/img/2022/_114/event/220214/@platform/bottombanner.png" alt="">
				</a>
			</div>
		</div>
	</div>

    <div class="sector-title">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220214/@platform/title.png" alt="">
			<!--수상생 성장 에코-->
			<div class="eco-4168" data-eduwill-eco-content="4168"></div>
			<div class="flag">
				<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220214/@platform/flag.png" alt="">
				<div class="date">
					<span>기간한정 무료</span>
					~3/13(일)까지
				</div>
			</div>
			<div class="action base">
				<a href="javascript:popupOpen('.rationale-dimmed', 'popupBase');">
					<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220214/pc/btn_base.png" />
				</a>
			</div>
        </div>
    </div>

	<div class="sector-graph">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220214/@platform/graph.jpg" alt="">
			<div class="graph-timer">
				<div class="itmer"><em class="day-text">D-</em><span class="day">00</span></div>
				<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220214/@platform/count.png" alt="">
			</div>
        </div>
    </div>

	<div class="sector-review">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220214/@platform/review_title.jpg" alt="">
			<div class="water-slider">
				<div><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220214/@platform/review_1.png" alt=""></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220214/@platform/review_2.png" alt=""></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220214/@platform/review_3.png" alt=""></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220214/@platform/review_4.png" alt=""></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220214/@platform/review_5.png" alt=""></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220214/@platform/review_6.png" alt=""></div>
            </div>
        </div>
    </div>

	<div class="sector-banner-1">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220214/@platform/banner_1.png" alt="">
		</div>
	</div>

	<div class="sector-key-1">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220214/@platform/key_1_title.jpg" alt="">
			<div class="teacher-list">
				<div><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220214/@platform/key_slide_1.png" alt=""></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220214/@platform/key_slide_2.png" alt=""></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220214/@platform/key_slide_3.png" alt=""></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220214/@platform/key_slide_4.png" alt=""></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220214/@platform/key_slide_5.png" alt=""></div>
			</div>
		</div>
	</div>

	<div class="sector-key-2">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220214/@platform/key_2.jpg" alt="">
		</div>
		<div class="wrap-full">
            <video playsinline autoplay muted loop>
                <source src="//pmp.eduwill.net/eduwillpmp/eduwill/flv/20220214/freebook_c_@(platform).mp4" type="video/mp4">
            </video>
        </div>
	</div>

	@*  *@
	<div class="sector-reason">
        <div class="wrap">
			<img src="https://img.eduwill.net/eduwill/img/2022/_114/event/220111/@platform/reason.png" alt="">
			<div class="action">
				<a href="javascript:;" class="btn-text" onclick="javascript:popupOpen('.rationale-dimmed', 'popupBase');">
					<img src="https://img.eduwill.net/eduwill/img/2022/_114/event/220111/pc/btn_reason.png" alt="">
				</a>
			</div>
        </div>
    </div>

	@if ("W".Equals(ViewBag.PlatformCd)) { 
		<div id="numBer1" data-eduwill-eco-content="4078"></div>
	} else {
		<div data-eduwill-eco-content="4079"></div>
	}

	<div class="sector-graph-2">
        <div class="wrap">
			<img src="https://img.eduwill.net/eduwill/img/2022/_114/event/220111/@platform/graph.png" alt="">
        </div>
    </div>

	<div class="sector-teacher">
		<div class="wrap num">
			<img src="https://img.eduwill.net/eduwill/img/2022/_114/event/220111/@platform/teacher_title.png" />
			<div class="action base">
				<a href="javascript:popupOpen('.rationale-dimmed', 'popupTeacher');">
					<img src="https://img.eduwill.net/eduwill/img/2022/_114/event/220111/@platform/btn_teacher_base.png" />
				</a>
			</div>
			<div class="eco-teacher-3649" data-eduwill-eco-content="3649"></div>
		</div>
		<div class="wrap-full">
			<div class="teacher-slide">
				<div clas="slick-track"><img src="https://img.eduwill.net/eduwill/img/2022/_114/event/220111/@platform/teacher_review_1.png" /></div>
				<div clas="slick-track"><img src="https://img.eduwill.net/eduwill/img/2022/_114/event/220111/@platform/teacher_review_2.png" /></div>
				<div clas="slick-track"><img src="https://img.eduwill.net/eduwill/img/2022/_114/event/220111/@platform/teacher_review_3.png" /></div>
				<div clas="slick-track"><img src="https://img.eduwill.net/eduwill/img/2022/_114/event/220111/@platform/teacher_review_4.png" /></div>
				<div clas="slick-track"><img src="https://img.eduwill.net/eduwill/img/2022/_114/event/220111/@platform/teacher_review_5.png" /></div>
				<div clas="slick-track"><img src="https://img.eduwill.net/eduwill/img/2022/_114/event/220111/@platform/teacher_review_6.png" /></div>
			</div>
		</div>
		<div class="wrap">
			<div class="action teacher">
				<a href="https://cpta.eduwill.net/prof" target="_blank" >
					<img src="https://img.eduwill.net/eduwill/img/2022/_114/event/220111/@platform/btn_teacher.png" />
				</a>
			</div>
		</div>
	</div>

	<div class="sector-winner">
        <div class="wrap">
			<img class="img" src="//img.eduwill.net/eduwill/img/2021/G/product/210512/@platform/awards.jpg" alt="">
        </div>
    </div>

	<div data-eduwill-eco-content="2181"></div>
	@*  *@

	<div class="sector-banner-2">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220214/@platform/banner_2.png" alt="">
		</div>
	</div>

	<div id="sectorApply" class="sector-apply">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220214/@platform/apply.jpg" />
			<div class="action">
				<button href="">
					<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220214/@platform/btn_apply.png" />
				</button>
			</div>
			<div class="notice">
				<div class="title">
					이벤트 이용 안내
				</div>
				<div class="list">
					<ul>
						<li>&middot; 대상: 에듀윌 세무사 회원이라면 누구나</li>
						<li>&middot; 수강기간은 7일 입니다.</li>
						<li>&middot; 무료로 제공 된 강의는 수강중지 또는 수강연장이 불가능합니다.</li>
					</ul>
					<table>
						<tr>
							<td></td>
							<td>1탄</td>
							<td>2탄</td>
							<td>3탄</td>
						</tr>
						<tr>
							<td>과목</td>
							<td>회계학 + 선택법</td>
							<td>재정학</td>
							<td>세법</td>
						</tr>
						<tr>
							<td>기간</td>
							<td>2/14(월) ~ 3/13(일)</td>
							<td>3/14(월) ~ 4/11(일)</td>
							<td>4/12(월) ~ 5/15(일)</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div data-eduwill-eco-content="3650"></div>
</div>

<!-- 팝업  -->	
<!-- 타이틀 근거 문구 -->
<div class="rationale-popup" id="popupBase">
	<div class="rationale-title"><strong>근거문구</strong></div>
	<div class="rationale-cont">
		<div data-eduwill-eco-content="4106"></div>
	</div>
	<a class="rationale-close" href="javascript:popupClose('.rationale-dimmed', 'popupBase');"><span class="sr-only">팝업 닫기</span> </a>
</div>

<!--교수님 근거 문구 -->
<div class="rationale-popup" id="popupTeacher">
	<div class="rationale-title"><strong>근거문구</strong></div>
	<div class="rationale-cont">
		<p>
			1) 재무회계 1위: 에듀윌 경영아카데미 단과 매출 1위
		</p>
		<br>
		<p>
			2) 강의추천도 1위, 3) 강의만족도 1위: 세무사 기본이론 수강생 설문조사 결과
		</p>
	</div>
	<a class="rationale-close" href="javascript:popupClose('.rationale-dimmed', 'popupTeacher');"><span class="sr-only">팝업 닫기</span> </a>
</div>

<!-- 증명 -->
<div class="rationale-popup" id="popupProof">
	<div class="rationale-title"><strong>근거문구</strong></div>
	<div class="rationale-cont">
		<div data-eduwill-eco-content="4106"></div>
	</div>
	<a class="rationale-close" href="javascript:popupClose('.rationale-dimmed', 'popupProof');"><span class="sr-only">팝업 닫기</span> </a>
</div>
<!-- //팝업  -->

<script src="https://www.youtube.com/iframe_api"></script>
<script src="https://img.eduwill.net/eduwill/live/libs/waterwheelCarousel/jquery.waterwheelCarousel.min.js"></script>
<script type="text/javascript">
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
    var str = 'event.eduwill.net';
    var checkUrl = url.indexOf(str);
    var userId = "@(UserSession.UserID)";

    $(function () {
        frontInit();
    });

    function frontInit() {
        pageMove('.page-move');
		titleEvent();
        slideEvent();
		getTimer('.graph-timer', 'May 28, 2022, 23:59');
    }

	function titleEvent(){
        var promotionTitle = $('.sector-title');
		TweenMax.fromTo( promotionTitle.find('.flag'), .6, { opacity: 0, x: -100 }, { opacity: 1, x: 0, delay: 0.2, ease: Back.easeOut.config(1) });
    }

    function slideEvent(){
		$('.teacher-list').slick({
            infinite: true,
            autoplay: true,
            autoplaySpeed: 3000,
            speed: 1000,
            arrows: true
        });

		$('.teacher-slide').slick({
			autoplay: true,
			autoplaySpeed: 3000,
			speed: 1000,
			infinite: true,
			arrows:false,
			dots: true,
			centerMode: true,
			variableWidth: true
		});

		if(isMobile == true){
			$('.water-slider').slick({
				infinite: true,
				autoplay: true,
				autoplaySpeed: 3000,
				speed: 1000,
				arrows: false,
				centerMode: true
			});
		}else{
			$('.water-slider').each(function(){
				$(this).waterwheelCarousel({
					orientation: 'vertical',
					flankingItems: 1,
					separation: 50, // 주변 슬라이드 너비/높이
					sizeMultiplier: 0.95, // 사이즈 비율
					opacityMultiplier: 0.5, // 투명도
					autoPlay: 3000
				});
			});
		}
    }
</script>
