@{
    String platform = ("W".Equals(ViewBag.PlatformCd))? "pc": "mobile";
    String linkAcer = ("W".Equals(ViewBag.PlatformCd)) ? "//nrg.eduwill.net/Acer" : "//brand.eduwill.net/academy/acer.will?code=nrg";
}

@*
@if ("W".Equals(ViewBag.PlatformCd)){}
*@

<div class="promotion">@* 2차 open class : promotion-second *@
    @if ("W".Equals(ViewBag.PlatformCd)){
        <div class="fix-right">
            <a href="#sectorEvent2" class="page-move"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/right_1.png" alt=""></a>
            <a href="#sectorEvent1" class="page-move"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/right_2.png" alt=""></a>
            <a href="https://pf.kakao.com/_aTxcxaK" target="_blank"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/right_3.png" alt=""></a>
            <a href="#sectorRumor" class="page-move"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/right_4.png" alt=""></a>
        </div>
    }

    <div class="sector-title">
        <div class="wrap-full">
            <p class="laurel"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/laurel.png" alt="공무원 학원 1위"></p>
            <p class="title-1"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/title_1.png" alt="법원,검찰직도 에듀윌이 하면 다릅니다"></p>
            <p class="title-2"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/title_2.png" alt="2022년 3월"></p>
            <p class="title-3"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/title_3.png" alt="법원,검찰직"></p>
            <p class="title-4"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/title_4.png" alt="GRAND OPEN"></p>
            <p class="title-5"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/title_5.png" alt="독한 에듀윌 공무원 노량진학원"></p>

            <p class="gift"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/gift.png" alt="혜택"></p>

            @* 2차 open : 영상 적용 *@
                @* <p class="gift gift-2"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/gift_2.png" alt="혜택"></p> *@

                @* 영상이 youtube일 때 *@
                @*
                <div class="video-box">
                    <a class="eduwill-iframe-play" href="javascript:void(0);">
                        <img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/thumb.jpg" alt="">
                    </a>
                    <div id="videoPlayer"></div>
                </div>
                *@
                @* // 영상이 youtube일 때 *@

                @* 영상이 mp4일 때 *@
                @*
                <div class="video-box">
                    <a href="javascript:;" class="eduwill-video-play">
                        <img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/thumb.jpg" alt="">
                    </a>
                    <video width="100%" height="100%" controls poster="" class="eduwill-video-player">
                        <source src="" type="video/mp4">
                    </video>
                </div>
                *@
                @* // 영상이 mp4일 때 *@
            @* // 2차 open : 영상 적용 *@

            <p class="illust-1"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/illust_1.png" alt=""></p>
            <p class="illust-2"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/illust_2.png" alt=""></p>

            <div class="action">
                <a href="#sectorEvent2" class="btn-title page-move icon-pointer"><span>오픈 알림 신청하고 역대급 혜택 받기</span></a>
            </div>
        </div>
    </div>

    <div class="sector-band band-1">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/band_1.png" alt="똑독한 합격자신감!">
        </div>
    </div>

    <div class="sector-confidence confidence-1">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/confidence_1.png" alt="합격자신감1">
        </div>
    </div>

    <div class="sector-plus">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/confidence_plus.png" alt="공통과목 1타 합격 교수진">
        </div>
    </div>

    <div class="sector-free">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/free.png" alt="법원, 검찰직 라인업 완성 기념 이벤트">

            <div class="free-box">
                <strong>강의도 듣고 할인도 받자!</strong><br>
                특강 참석하면 수강할인 5만원<br class="only-mobile"> + 당일 등록 5만원 추가 할인
                <div class="free-flag">선착순<strong><span>50</span>명</strong></div>
            </div>

            <div class="action">
                <button type="button" onclick="popupOpen('.popup-dim', 'popupLecture');" class="btn-free icon-pointer"><span>100% 무료특강 신청하기</span></a>
            </div>
            <p class="notice">※ 무료특강 일정 및 과목은 학원 사정에 따라 사전 고지 없이 변경 될 수 있습니다.</p>
        </div>
    </div>

    <div class="sector-confidence confidence-2">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/confidence_2_title.png" alt="합격자신감2">

            <div class="review-box">
                <div class="review-list slide-list" data-slide="review">
                    <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/review_1.png" alt=""></div>
                    <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/review_2.png" alt=""></div>
                    <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/review_3.png" alt=""></div>
                </div>
            </div>

            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/confidence_2_text.png" alt="에듀윌 수강생은 아케르를 통해 앞서가고 있습니다. 이제 노량진학원에서 압도적인 시스템의 차이를 느껴보세요!">

            <div class="action">
                <a href="@linkAcer" target="_blank" class="btn-confidence icon-pointer"><span>아케르 자세히 보기</span></a>
            </div>
        </div>
    </div>

    <div class="sector-confidence confidence-3">
        <div class="wrap-full">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/confidence_3_title.jpg" alt="합격자신감3">

            <div class="academy-box">
                <div class="academy-list slide-list" data-slide="academy">
                    <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/academy_1.jpg" alt=""></div>
                    <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/academy_2.jpg" alt=""></div>
                    <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/academy_3.jpg" alt=""></div>
                    <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/academy_4.jpg" alt=""></div>
                    <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/academy_5.jpg" alt=""></div>
                    <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/academy_6.jpg" alt=""></div>
                </div>

                <div class="academy-list-info">1/6</div>
            </div>

            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/confidence_3_text.jpg" alt="">
        </div>
    </div>

    <div class="sector-band band-2">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/band_2.png" alt="독한 에듀윌 공무원 노량진학원 법원,검찰직 론칭기념 역대급 혜택!">
        </div>
    </div>

    <div class="sector-benefit">
        <div class="wrap-full">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/benefit.png" alt="1위 다운 역대급 혜택!">
        </div>
    </div>

    <div id="sectorEvent1" class="sector-event event-1">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/event_1.jpg" alt="이벤트1">

            <div class="action">
                <button type="button" onclick="popupOpen('.popup-dim', 'popupConsult');" class="btn-event icon-pointer"><span>1:1 프리미엄 특별 상담 신청하기</span></a>
            </div>
            <p class="notice">※ 상담 시 수강할인 5만원 + 당일 등록 5만원 추가 할인</p>
        </div>
    </div>

    <div id="sectorEvent2" class="sector-event event-2">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220121/@platform/event_2.jpg" alt="이벤트2">

            <ul class="event-list">
                <li>참여기간 : ~2/10(목)</li>
            </ul>

            <div class="form-box">
                <div class="grid form-input">
                    <div class="col full">
                        <label for="userName">이름</label>
                        <input type="text" id="userName" class="text">
                    </div>
                    <div class="col">
                        <label for="userTel">전화번호</label>
                        <input type="text" id="userTel" class="text">
                        <a href="javascript:;" class="btn-form">인증하기</a>
                    </div>
                    <div class="col certification">
                        <label for="userTelNum">인증번호 입력</label>
                        <input type="text" id="userTelNum" class="text" placeholder="5분이내에 입력">
                        <a href="javascript:;" class="btn-form">확인</a>
                        <div class="timer" id="timer">05:00</div>
                    </div>
                    <div class="col full">
                        <label for="userComment">기대평</label>
                        <input type="text" id="userComment" class="text" placeholder="에듀윌에서 법검까지! 벌써 기대 됩니다.">
                        <div class="form-select">
                            <label><input type="radio" class="radio"> 자동입력</label>
                            <label><input type="radio" class="radio"> 직접입력</label>
                        </div>
                    </div>
                </div>
                <div class="agree-box">
                    <div class="privacy-list">
                        <div class="all-check">
                            <input type="checkbox" name="agreeAllY" id="agreeAllY">
                            <label for="agreeAllY">모두 동의합니다.</label>
                        </div>
                        <div class="check-box grid">
                            <div class="col">
                                <div class="check">
                                    <input type="checkbox" name="personalYn" id="personalYn">
                                    <label for="personalYn">개인정보 수집 및 이용에 동의합니다. <span>(필수)</span></label>
                                </div>
                                <div class="scroll-box">
                                    <p class="scroll-title">개인정보 수집 및 이용 동의</p>
                                    <p>(주)에듀윌은 본 이벤트를 위해 다음과 같이 회원님의 개인정보를 수집 및 이용합니다.</p>
                                    <ul>
                                        <li>- 개인정보 수집 및 이용목적 : 참가자 정보 확인, SMS 문자 발송</li>
                                        <li>- 수집항목 : 이름, 휴대전화번호</li>
                                        <li>- 보유 및 이용기간 : <strong>이벤트 종료 후 60일간</strong></li>
                                        <li>- 귀하는 개인정보 수집 및 이용에 동의하지 않으실 수 있으나, 동의하지 않으실 경우 참여가 제한됩니다.</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col">
                                <div class="check">
                                    <input type="checkbox" name="marketingYn" id="marketingYn">
                                    <label for="marketingYn">마케팅 및 개인정보 활용에 동의합니다. (선택)</label>
                                </div>
                                <div class="scroll-box">
                                    <p class="scroll-title">마케팅 및 개인정보 활용 동의</p>
                                    <p>(주)에듀윌은 본 이벤트를 위해 다음과 같이 회원님의 개인정보를 수집 및 이용합니다.</p>
                                    <ul>
                                        <li>- 개인정보 수집 및 이용목적 : 홍보성 문자 발송</li>
                                        <li>- 수집항목 : 이름, 휴대전화번호</li>
                                        <li>- 보유 및 이용기간 : <strong>이벤트 종료 후 60일간</strong></li>
                                        <li>- 귀하는 개인정보 수집 및 이용에 동의하지 않으실 수 있으나, 동의하지 않으실 경우 참여가 제한됩니다.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="action">
                <button type="button" class="btn-event icon-pointer">알림 신청하고 <span class="only-pc">누구보다 빠르게 </span>합격에 다가가기!</a>
            </div>

            <div class="comment-box">
                <div class="comment-list">
                    <div class="list-item">
                        <div class="item-user">daw******</div>
                        <div class="item-desc">한글기준 100자까지 작성 가능.한글기준 100자까지 작성 가능.한글기준 100자까지 작성 가능.한글기준 100자까지 작성 가능.한글기준 100자까지 작성 가능.한글기준 100자.</div>
                    </div>
                    <div class="list-item">
                        <div class="item-user">daw******</div>
                        <div class="item-desc">한글기준 100자까지 작성 가능.</div>
                    </div>
                    <div class="list-item list-nodata">
                        <div class="item-desc">
                            등록된 기대평이 없습니다.
                        </div>
                    </div>
                </div>

                @if ("W".Equals(ViewBag.PlatformCd)){
                    <div class="list-paging">
                        <a href="javascript:;" class="control control-prev"><span class="sr-only">이전 페이지</span></a>
                        <a href="javascript:;" class="active"><span>1</span></a>
                        <a href="javascript:;"><span>2</span></a>
                        <a href="javascript:;"><span>3</span></a>
                        <a href="javascript:;"><span>4</span></a>
                        <a href="javascript:;"><span>5</span></a>
                        <a href="javascript:;"><span>6</span></a>
                        <a href="javascript:;"><span>7</span></a>
                        <a href="javascript:;"><span>8</span></a>
                        <a href="javascript:;"><span>9</span></a>
                        <a href="javascript:;"><span>10</span></a>
                        <a href="javascript:;" class="control control-next"><span class="sr-only">다음 페이지</span></a>
                    </div>
                } else {
                    <div class="list-action">
                        <a href="javascript:;"><span>더보기</span></a>
                    </div>
                }
            </div>
        </div>
    </div>

    <div id="sectorRumor">
        @* 소문내기 이벤트는 여기에 적용 부탁드립니다. *@
    </div>
</div>


<div class="popup-dim"></div>
@* 특강 팝업 *@
<div class="popup" id="popupLecture">
    <div class="popup-close">
        <a href="javascript:;" onclick="popupClose('.popup-dim', 'popupLecture');"><span class="hidden">팝업 닫기</span></a>
    </div>

    <div class="popup-title"><strong><span>기초입문 무료특강</span><br>신청하기</strong></div>
    <div class="popup-cont">
        <form id="">
            <div class="form-box">
                <dl class="form-list">
                    <dt class="form-title"><label for="userName1">이름</label></dt>
                    <dd class="form-control">
                        <input type="text" id="userName1" name="userNm" value="" maxlength="20" class="ipt" />
                    </dd>
                </dl>

                <dl class="form-list">
                    <dt class="form-title"><label for="userTel1">연락처</label></dt>
                    <dd class="form-control">
                        <input type="tel" id="userTel1" name="userHp" value="" maxlength="11" class="ipt" />
                    </dd>
                </dl>
            </div>

            <div class="check-box">
                <div class="check-agree check-all">
                    <label><input type="checkbox" class="check"> 모두 동의합니다.</label>
                </div>
                <div class="check-agree">
                    <label><input type="checkbox" class="check"> 개인정보 수집 및 이용에 동의합니다. (필수)</label>
                </div>
                <div class="scroll-box">
                    <p>
                        ㈜에듀윌은 본 특강을 위해 다음과 같이 회원님의 개인정보를 수집 및 이용합니다.<br>
                        - 개인정보 수집 및 이용목적 : 참가자 정보 확인, 문자 발송<br>
                        - 수집항목 : 이름, 휴대전화번호<br>
                        - 보유 및 이용기간 : <em>특강 종료 후 60일간</em><br>
                        개인정보 수집 및 이용에 동의하지 않으실 수 있으나, 동의하지 않으실 경우 참여가 제한됩니다.
                    </p>
                </div>
                <div class="check-agree">
                    <label><input type="checkbox" class="check"> 마케팅을 위한 개인정보 활용에 동의합니다. (선택)</label>
                </div>
                <div class="scroll-box">
                    <p>
                        ㈜에듀윌은 본 특강을 위해 다음과 같이 회원님의 개인정보를 수집 및 이용합니다.<br>
                        - 개인정보 수집 및 이용목적 : 홍보성 문자 발송<br>
                        - 수집항목 : 이름, 휴대전화번호<br>
                        - 보유 및 이용기간 : <em>특강 종료 후 60일간</em><br>
                        - 귀하는 개인정보 수집 및 이용에 동의하지 않으실 수 있습니다.
                    </p>
                </div>
            </div>
        </form>
    </div>
    <div class="popup-btn">
        <button type="button" class="btn-apply"><span>무료특강 신청하기</span></button>
    </div>
</div>
@* // 특강 팝업 *@

@* 상담 팝업 *@
<div class="popup" id="popupConsult">
    <div class="popup-close">
        <a href="javascript:;" onclick="popupClose('.popup-dim', 'popupConsult');"><span class="hidden">팝업 닫기</span></a>
    </div>

    <div class="popup-title"><strong><span>1:1 프리미엄 특별 상담</span><br>신청하기</strong></div>
    <div class="popup-cont">
        <form id="">
            <div class="form-box">
                <dl class="form-list">
                    <dt class="form-title"><label for="userName2">이름</label></dt>
                    <dd class="form-control">
                        <input type="text" id="userName2" name="userNm" value="" maxlength="20" class="ipt" />
                    </dd>
                </dl>

                <dl class="form-list">
                    <dt class="form-title"><label for="userTel2">연락처</label></dt>
                    <dd class="form-control">
                        <input type="tel" id="userTel2" name="userHp" value="" maxlength="11" class="ipt" />
                    </dd>
                </dl>
            </div>

            <div class="check-box">
                <div class="check-agree check-all">
                    <label><input type="checkbox" class="check"> 모두 동의합니다.</label>
                </div>
                <div class="check-agree">
                    <label><input type="checkbox" class="check"> 개인정보 수집 및 이용에 동의합니다. (필수)</label>
                </div>
                <div class="scroll-box">
                    <p>
                        ㈜에듀윌은 본 특강을 위해 다음과 같이 회원님의 개인정보를 수집 및 이용합니다.<br>
                        - 개인정보 수집 및 이용목적 : 참가자 정보 확인, 문자 발송<br>
                        - 수집항목 : 이름, 휴대전화번호<br>
                        - 보유 및 이용기간 : <em>상담 종료 후 60일간</em><br>
                        개인정보 수집 및 이용에 동의하지 않으실 수 있으나, 동의하지 않으실 경우 참여가 제한됩니다.
                    </p>
                </div>
                <div class="check-agree">
                    <label><input type="checkbox" class="check"> 마케팅을 위한 개인정보 활용에 동의합니다. (선택)</label>
                </div>
                <div class="scroll-box">
                    <p>
                        ㈜에듀윌은 본 특강을 위해 다음과 같이 회원님의 개인정보를 수집 및 이용합니다.<br>
                        - 개인정보 수집 및 이용목적 : 홍보성 문자 발송<br>
                        - 수집항목 : 이름, 휴대전화번호<br>
                        - 보유 및 이용기간 : <em>상담 종료 후 60일간</em><br>
                        - 귀하는 개인정보 수집 및 이용에 동의하지 않으실 수 있습니다.
                    </p>
                </div>
            </div>
        </form>
    </div>
    <div class="popup-btn">
        <button type="button" class="btn-apply"><span>1:1 프리미엄 상담 신청하기</span></button>
    </div>
</div>
@* // 상담 팝업 *@

<script src="//www.youtube.com/iframe_api"></script>
<script type="text/javascript">
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
    var str = 'event.eduwill.net';
    var checkUrl = url.indexOf(str);

    $(function(){
        frontInit();
    });

    function frontInit(){
        pageMove('.page-move');
        titleEvent();
        // playYoutubeVideo(); // 영상이 youtube일 때
        // playVideo(); // 영상이 mp4일 때
        slideEvent();
    }

    function titleEvent(){
        var promotionTitle = $('.sector-title');

        TweenMax.fromTo( promotionTitle.find('.laurel'), .6, { opacity: 0, scale: 0 }, { opacity: 1, scale: 1, delay: .2, ease: Back.easeOut.config(1) });
        TweenMax.fromTo( promotionTitle.find('.title-1'), .6, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: .4, ease: Power3.easeOut });
        TweenMax.fromTo( promotionTitle.find('.title-2'), .6, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: .6, ease: Power3.easeOut });

        TweenMax.fromTo( promotionTitle.find('.illust-1'), .6, { opacity: 0, y: -10 }, { opacity: 1, y: 0, delay: .8, ease: Sine.easeOut });
        TweenMax.fromTo( promotionTitle.find('.title-3'), .6, { opacity: 0, scale: 0, y: -50 }, { opacity: 1, scale: 1, y: 0, delay: .8, trasnformOrigin: 'center top', ease: Back.easeOut.config(1) });
        TweenMax.fromTo( promotionTitle.find('.title-4'), .6, { opacity: 0, scale: 0, y: -50 }, { opacity: 1, scale: 1, y: 0, delay: 1.0, trasnformOrigin: 'center top', ease: Back.easeOut.config(2) });
        TweenMax.fromTo( promotionTitle.find('.title-5'), .6, { opacity: 0, scale: 1.2 }, { opacity: 1, scale: 1, delay: 1.2, ease: Back.easeOut.config(1) });

        TweenMax.fromTo( promotionTitle.find('.gift'), .5, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: 1.6, ease: Back.easeOut.config(1) });
        TweenMax.fromTo( promotionTitle.find('.video-box'), .5, { opacity: 0 }, { opacity: 1, delay: 1.6, ease: Back.easeOut.config(1) });

        TweenMax.fromTo( promotionTitle.find('.illust-2'), .5, { opacity: 0, scale: 0 }, { opacity: 1, scale: 1, delay: 1.6, ease: Back.easeOut.config(1) });

        TweenMax.fromTo( promotionTitle.find('.action'), .6, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: 1.8, ease: Sine.easeOut });

        TweenMax.fromTo( $('.promotion .fix-right'), .5, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: 2.0, ease: Sine.easeOut });
    }

    function slideEvent(){
        if( isMobile ){
            $('.review-list').slick({
                autoplay: true,
                autoplaySpeed: 3000,
                speed: 1000,
                infinite: true,
                centerMode: true,
                variableWidth: true
            });
        }

         $('.academy-list').slick({
            infinite: true,
            autoplay: true,
            autoplaySpeed: 3000,
            speed: 1000,
            centerMode: true,
            variableWidth: true,
            pauseOnHover: true
        });

        $('.academy-list').on('init reInit afterChange', function (event, slick, currentSlide, nextSlide){
            //currentSlide is undefined on init -- set it to 0 in this case (currentSlide is 0 based)
            var i = (currentSlide ? currentSlide : 0) + 1;
            $('.academy-list-info').text(i + '/' + slick.slideCount);
        });
    }

    function playVideo(){
        var obj = {
            a: '//pmp.eduwill.net/eduwillpmp/eduwill/flv/20220121/nrg_teaser.mp4', // video src
        };

        var playerSrc = [];
        for(var o in obj){
            playerSrc.push(obj[o]);
        };

        var videoOption = {
            playerSrc: playerSrc,
            preview: true,
            playerClass: 'eduwill-video-player',
            playerPlayClass: 'eduwill-video-play'
        };

        eduf.UI.Player(videoOption);
    }

    function playYoutubeVideo(){
        $('.eduwill-iframe-play').on('click', function(){
            $(this).hide();
            playYoutube(player1);
        });
    }

    var player1;
    function onYouTubeIframeAPIReady() { // https://www.youtube.com/iframe_api
        player1 = new YT.Player('videoPlayer', {
            height: '100%',
            width: '100%',
            videoId: '0VZXvGaIhmg', // youtuve video id
            playerVars:{
                'playsinline':1
            }
        });
    }

    function playYoutube(param) {
        // autoplay(not working mobile)
        param.playVideo();
    }

    function stopYoutube(param) {
        param.seekTo(0, true); // time 0
        param.stopVideo();
    }
</script>
