// clearfix
%clearfix {
	*zoom: 1;
	&:before,
	&:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
}

// text ellipsis
%textEllipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.bounce{
	position: absolute;
	@include animation(bounce, 1s, $iteration: infinite){
		0%, 100% { @include translateY(0); }
		50% { @include translateY(10px); }
	}
}
.slideY {
	position:absolute;
	animation: 0.4s slideUpY ease-in-out infinite alternate;
}
@keyframes slideUpY {
	0% {
		transform: translate(0, 5px);
	}
	100% {
		transform: translate(-5px, 0);
	}
}

.sr-only {
	position: absolute;
	display: inline-block;
	overflow: hidden;
	clip: rect(0 0 0 0);
	width: 0px;
	height: 0px;
	margin: -1px;
	padding: 0;
	word-break: keep-all;
	white-space: nowrap;
	color: transparent;
	border: 0;
	text-indent: -9999px;
}


.grid {
	@extend %clearfix;
	@include boxSizing(border-box);
	.col {
		float: left;
		@include boxSizing(border-box);
	}
}