@charset "UTF-8";
.grid, .product-goals .tab-box .tab-list {
  *zoom: 1;
}

.grid:before, .product-goals .tab-box .tab-list:before, .grid:after, .product-goals .tab-box .tab-list:after {
  content: '';
  display: table;
}

.grid:after, .product-goals .tab-box .tab-list:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.table {
  display: table;
  width: 100%;
}

.table .table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.product-eco .review-slide .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  font-size: 0;
  color: transparent;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

button {
  overflow: visible;
  border-radius: 0;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  width: auto;
  outline: 0;
  cursor: pointer;
}

.dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1001;
  width: 90%;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  margin: 0;
  padding: 0;
}

.popup-body {
  position: relative;
  text-align: left;
}

.popup-body p {
  font-size: 3.33333vw;
}

@media screen and (min-width: 720px) {
  .popup-body p {
    font-size: 24px;
  }
}

@media screen and (min-width: 1100px) {
  .popup-body p {
    font-size: 18px;
  }
}

.popup-body p + p,
.popup-body p + ul {
  margin-top: 0.3125rem;
}

@media screen and (min-width: 720px) {
  .popup-body p + p,
  .popup-body p + ul {
    margin-top: 10px;
  }
}

.popup-body ul {
  margin-top: 0.3125rem;
  font-size: 3.05556vw;
}

@media screen and (min-width: 720px) {
  .popup-body ul {
    margin-top: 10px;
  }
}

@media screen and (min-width: 720px) {
  .popup-body ul {
    font-size: 22px;
  }
}

@media screen and (min-width: 1100px) {
  .popup-body ul {
    font-size: 16px;
  }
}

.popup-body ul li {
  margin-top: 0.15625rem;
}

@media screen and (min-width: 720px) {
  .popup-body ul li {
    margin-top: 5px;
  }
}

.popup-body ul li:first-child {
  margin-top: 0;
}

.popup-body ul + p {
  margin-top: 0.3125rem;
}

@media screen and (min-width: 720px) {
  .popup-body ul + p {
    margin-top: 10px;
  }
}

.popup-close {
  position: absolute;
  top: -40px;
  right: 0;
}

.popup-close button {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 40px;
  height: 40px;
}

.popup-close button:before, .popup-close button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 1px;
  margin-left: -10px;
  background-color: #fff;
}

.popup-close button:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close button:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup-close button span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup-video {
  max-width: 640px;
}

@media screen and (min-width: 720px) {
  .popup-video {
    max-width: 1000px;
  }
}

.popup-video .video-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-base, .popup-bestseller {
  max-width: 1000px;
}

@media screen and (min-width: 720px) {
  .popup-base, .popup-bestseller {
    max-width: 1000px;
  }
}

.popup-base .popup-body, .popup-bestseller .popup-body {
  padding: 0.625rem;
}

@media screen and (min-width: 720px) {
  .popup-base .popup-body, .popup-bestseller .popup-body {
    padding: 20px;
  }
}

.popup-base .popup-body .eco-base > p, .popup-bestseller .popup-body .eco-base > p {
  padding-left: 0.46875rem;
  text-indent: -0.46875rem;
}

@media screen and (min-width: 720px) {
  .popup-base .popup-body .eco-base > p, .popup-bestseller .popup-body .eco-base > p {
    padding-left: 15px;
  }
}

@media screen and (min-width: 720px) {
  .popup-base .popup-body .eco-base > p, .popup-bestseller .popup-body .eco-base > p {
    text-indent: -15px;
  }
}

.product-eco * {
  line-height: normal;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.product-eco .wrap {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  width: 100%;
}

.product-eco .holder {
  position: relative;
}

.product-eco p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.product-eco .pointer {
  position: relative;
  display: inline-block;
}

.product-eco .pointer:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  display: block;
  width: 1.875rem;
  height: 2.0625rem;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounce;
          animation-name: pointerBounce;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .pointer:after {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .pointer:after {
    height: 66px;
  }
}

@-webkit-keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.product-eco .review-slide .slick-dots {
  text-align: center;
  margin-top: 0px;
}

.product-eco .review-slide .slick-dots li {
  margin: 0 5px;
  background: #d3d3d3;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
}

.product-eco .review-slide .slick-dots li button {
  opacity: 0;
}

.product-eco .review-slide .slick-dots li.slick-active {
  background: #7e5eff;
}

.product-eco .review-slide .slick-arrow {
  width: 75px;
  height: 100px;
  margin-top: -50px;
  opacity: .4;
}

.product-eco .review-slide .slick-arrow.slick-prev {
  left: -60px;
}

.product-eco .review-slide .slick-arrow.slick-prev:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border-width: 0;
  border-style: solid;
  border-color: #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top: none;
  border-right: none;
}

.product-eco .review-slide .slick-arrow.slick-next {
  right: -60px;
}

.product-eco .review-slide .slick-arrow.slick-next:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border-width: 0;
  border-style: solid;
  border-color: #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom: none;
  border-left: none;
}

.product-eco h3, .product-eco h4 {
  margin: 0;
  padding: 0;
  line-height: 1;
  background: none;
  letter-spacing: -3px;
  text-align: left;
  font-weight: 700;
}

.product-eco h3.title {
  font-size: 60px;
  color: #222;
}

.product-eco h4.title {
  font-size: 50px;
  color: #795afe;
}

.product-eco .date {
  font-size: 35px;
  color: #222;
  font-weight: 800;
  line-height: 1;
  text-align: left;
}

.product-eco .date span {
  vertical-align: middle;
  display: inline-block;
}

.product-eco .date span.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #cdcdcc;
  margin: 0 9px;
}

.product-eco .noti {
  font-size: 18px;
  color: #222;
  opacity: .5;
  text-align: left;
}

.product-eco .banner-apply {
  position: fixed;
  top: 200px;
  left: 0;
  z-index: 20;
  margin-left: 70px;
}

.product-topbanner {
  background: #22223a;
}

.product-title {
  z-index: 1;
  background-color: #006ce2;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_105/product/210504/pc/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-title .date {
  position: absolute;
  top: 580px;
  left: 110px;
  font-weight: 700;
  line-height: 1;
  font-size: 30px;
  letter-spacing: -2px;
  z-index: 7;
}

.product-title .limit {
  position: absolute;
  top: 635px;
  right: 105px;
  display: table;
  z-index: 7;
}

.product-title .limit span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  letter-spacing: -2px;
  background: #fff001;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  line-height: 1.2;
  color: #000;
  font-size: 30px;
  font-weight: bold;
}

.product-applybox .apply-box {
  width: 1000px;
  position: absolute;
  z-index: 7;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -170px;
  background: #7a5bff;
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}

.product-applybox .apply-box strong {
  color: #fff;
  font-size: 60px;
  letter-spacing: -3px;
  font-weight: 700;
  line-height: 1.4;
  display: inline-block;
  padding-top: 70px;
}

.product-applybox .apply-box span.info {
  color: #fff;
  font-size: 35px;
  font-weight: 500;
  line-height: 1;
  display: block;
  padding-top: 20px;
  padding-bottom: 60px;
}

.product-applybox .apply-box a {
  background: #fff001;
  position: relative;
  padding: 25px 0;
  display: block;
}

.product-applybox .apply-box a span {
  display: inline-block;
  position: relative;
  color: #000;
  font-size: 50px;
  font-weight: 600;
  line-height: 1;
  color: #000;
}

.product-applybox .apply-box a span:after {
  left: 50%;
  margin-left: 300px;
}

.product-applybox.bottom .apply-box {
  width: 1000px;
  position: absolute;
  z-index: 7;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -253px;
}

.product-review {
  margin-top: 243px;
  padding-bottom: 100px;
}

.product-review .slide1 {
  width: 1044px;
  margin: 0 auto;
}

.product-news {
  background: #f8f8f8;
}

.product-teacher {
  background: #fff;
}

.product-qna {
  background: #7a5bff;
}

.product-process {
  background: #fff;
}

.product-goals {
  padding: 100px 0;
  background-color: #f7f7f7;
}

.product-goals h3.title {
  padding-left: 50px;
}

.product-goals .tab-box {
  margin-top: 70px;
}

.product-goals .tab-box {
  width: 1000px;
  margin: 0 auto;
}

.product-goals .tab-box .tab-list {
  width: 100%;
  margin-top: 70px;
  background: #f7f7f7;
}

.product-goals .tab-box .tab-list a {
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_105/product/210504/pc/bg_tablist.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
  text-align: left;
  float: left;
  width: 187px;
  height: 77px;
  margin-left: -25px;
}

.product-goals .tab-box .tab-list a:first-child {
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_105/product/210504/pc/bg_tablist_first.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  margin-left: 0;
}

.product-goals .tab-box .tab-list a span {
  display: inline-block;
  line-height: 1.2;
  padding-left: 30px;
  padding-top: 16px;
  letter-spacing: -1px;
  color: #949494;
  font-size: 18px;
  font-weight: 700;
}

.product-goals .tab-box .tab-list a.active {
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_105/product/210504/pc/bg_tablist_active.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-goals .tab-box .tab-list a.active span {
  color: #000;
}

.product-goals .tab-box .tab-view {
  -webkit-box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  display: none;
  z-index: 2;
}

.product-goals .tab-box .tab-view.active {
  display: block;
}

.product-step {
  background: #7a5bff;
}

.product-step .btn-curri {
  position: absolute;
  top: 150px;
  right: 294px;
  width: 230px;
  height: 56px;
}

.product-report {
  padding-bottom: 100px;
}

.product-report .slide2 {
  width: 1000px;
  margin: 0 auto;
}

.product-report .slide2 .slick-list {
  padding: 0 !important;
}

.product-report .slide2 .slick-slide img {
  width: 100%;
}

.product-report .slide3 {
  margin-top: 100px;
}

.product-report .slide3 .slick-list {
  width: 1000px;
  margin: 0 auto;
  padding: 0 !important;
}

.product-report .slide3 .slick-slide {
  z-index: 3;
  margin: 0 -100px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: .4;
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
}

.product-report .slide3 .slick-slide.slick-current {
  z-index: 7;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}

.product-report .slide3 .slick-slide img {
  width: 100%;
}

.product-report .btn-pdf {
  position: relative;
  display: inline-block;
  margin-top: 50px;
}

.product-benefit {
  background: #7a5bff;
}

.product-curriculum {
  padding-top: 100px;
  padding-bottom: 300px;
}

.product-curriculum h3.title {
  padding-left: 50px;
}

.product-curriculum h4.title {
  padding-top: 80px;
  padding-left: 50px;
}

.product-curriculum .date {
  padding-top: 70px;
  padding-left: 50px;
}

.product-curriculum .noti {
  padding-top: 10px;
  padding-left: 50px;
}

.product-curriculum .curri-img {
  margin-top: 40px;
}

.product-special {
  background-color: #006ce2;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_105/product/210504/pc/bg_special.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
/*# sourceMappingURL=web.css.map */