@charset "utf-8";
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/extend";
@import "module/popup";
@import "module/motion";


.product {
	&-eco {
		overflow-x: hidden;
		* {
			line-height: normal;
			font-family: $font-roboto;
			letter-spacing: -1px;
		}
		.container {
			position: relative;
			.item {
				position: relative;
			}
		}

		.eco-puri {
			display: inline-block;
		}

		.wrap {
			position: relative;
			width: 100%;
			max-width: 720px;
			margin: 0 auto;
			text-align: center;
			&-full {
				width: 100%;
			}
		}
		
		.only-pc { display: none;}
		.only-mobile { display: block;}

		p {
			margin: 0;
			text-align: left;
			color: #666;
			@include vw(28px);
			&.notice { @include rem(margin-top, 10px); }
			&.fly { position: absolute; }
			@include breakpoint(maxMobileFold) {
				font-size: 16px;
			}
		}

		.grounds-text {
			color: #999;
			@include rem(letter-spacing, -1px);
			@include vw(22px);
			@include breakpoint(maxMobileFold) {
				font-size: 14px;
			}
		}
		.asterisk {
			display: inline-block;
			font-weight: 300;
			color: rgba(255,255,255, .6);
			@include vw(24px);
			@include breakpoint(maxMobileFold) {
				font-size: 16px;
			}
		}
		.point-1 { color: #ff3c3c;}
		.highlight {
			position:relative;
			position: relative;
			font-weight: 900;
			line-height: 1;
			z-index: 1;
			@include rem(padding, 0 5px);
			&:after{
				content:'';
				position:absolute;
				left:0;
				bottom: 0;
				display:inline-block;
				background-color:#fff;
				@include rem(height, 18px);
				width:100%;
				z-index:-1;
			}
		}

		.slider-contents {
			position: relative;
			width: percent(620);
			margin: 0 auto;
			/*.slick-arrow {
				position: absolute;
				top: 50%;
				z-index: 1;
				width: 40px;
				height: 40px;
				margin-top: -20px;
				font-size: 0;
				border: none;
				background: none;
				outline: none;
				cursor: pointer;
				&.slick-prev {
					left: 20px;
					&:before { right: 0; @include arrow(left, 20px, 20px, 1px, #666); }
				}
				&.slick-next {
					right: 20px;
					&:before { left: 0; @include arrow(right, 20px, 20px, 1px, #666); }
				}
			}*/
		}

		.slick-arrow {
			position: absolute;
			top: 50%;
			z-index: 10;
			content: '';
			padding: 0;
			margin:0;
			border: none;
			outline: none;
			text-indent: -9999px;
			display: block; 
			cursor:pointer;
			@include rem(width, 50px);
			@include rem(height, 50px);
			@include rem(margin-top, -25px);
			&.slick-prev {
				@include rem(left, -30px);
				background: url('https://img.eduwill.net/eduwill/img/2021/7/product/210430/pc/btn_prev.png') 0 0 no-repeat; background-size: cover;
			}
			&.slick-next {
				@include rem(right, -30px);
				background: url('https://img.eduwill.net/eduwill/img/2021/7/product/210430/pc/btn_next.png') 0 0 no-repeat; background-size: cover;
			}
		}

		.slick-dots {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			font-size: 0;
			text-align: right;
			padding-right: percent(60);
			li {
				display: inline-block;
				@include rem(margin, 0 5px);
				&.slick-active button {
					@include rem(width, 72px);
					@include rem(border-radius, 50px);
					background-color: #ffd300;
				}
			}
			button {
				display: block;
				@include rem(width, 26px);
				@include rem(height, 26px);
				color: transparent;
				border: none;
				border-radius: 50%;
				background-color: #bbb;
				outline: none;
				cursor: pointer;
			}
		}

		.action {
			a {
				display: inline-block;
				border: 1px solid #858585;
				@include rem(padding, 0 35px 0 60px);
				@include rem(height, 80px);
				@include rem(border-radius, 100px);
				@include transition(all, .3s, ease-in);
				@include boxSizing(border-box);
				@include pointer(50%, 0, 57px, 65px, 12, bounce);
				span {
					display: inline-block;
					font-weight: 700;
					color: #222;
					@include rem(padding-right, 38px);
					@include vw(30px);
					@include rem(line-height, 78px);
					@include rem(letter-spacing, -2px);
					@include bg($url: '#{$img-path}/mobile/icon_arrow.png', $position: right center, $size: 9px auto);
				}
				&:hover,
				&:active {
					background: #ffd844;
					border-color: #ffd844;
					/*@include linear-gradient(to bottom, #ffdd48 0%, #ffb320 100%);*/
				}
				@include breakpoint(maxMobileFold){
					padding: 0 35px 0 60px;
					height: 75px;
					span {
						padding-right: 38px;
						line-height: 73px;
						font-size: 28px;
						background-size: 18px auto;
					}
				}
			}

			&.type-2 {
				a {
					width: percent(450);
					background: #fff;
					border: 1px solid #e2e2e2;
					@include rem(border-radius, 100px);
					@include boxShadow(0 4px 0 0 rgba(0, 0, 0, .1));
					@include boxSizing(border-box);
					&:after {
						display: none;
					}
					span {
						@include arrow(right, 8px, 8px, 2px, #000);
						@include rem(padding-right, 30px);
						@include vw(28px);
						@include rem(letter-spacing, -1.5px);
						display: flex;
						align-items: center;
						justify-content: center;
						text-align: center;
						font-weight: 700;
						color: #222;
						background: none;
						&:after {
							position: absolute;
							top: 50%;
							right: percent(30, 450);
							@include rem(margin-top, -6px);
							
						}
						@include breakpoint(maxMobileFold){
							@include arrow(right, 18px, 18px, 2px, #000);
							display: flex;
							align-items: center;
							justify-content: center;
							&:after {
								position: absolute;
								top: 50%;
								right: percent(30, 450);
								@include rem(margin-top, -9px);
								
							}
						}
					}
				}
			}

			&.type-3 {
				a {
					position: relative;
					width: 100%;
					padding: 0;
					border: 0;
					@include rem(border-radius, 10px);
					@include rem(height, 84px);
					@include linear-gradient(to right, #fa5a00 0, #ea1d00 100%);
					span {
						display: block;
						width: 100%;
						text-align: center;
						padding-right: 0;
						font-weight: 900;
						color: #fff;
						background: none;
						@include vw(40px);
						@include rem(letter-spacing, -2px);
						@include rem(padding-left, 30px);
						@include rem(line-height, 84px);
						@include boxSizing(border-box);
						@include arrow(right, 10px, 10px, 2px, #fff);
						@include rem(right, 30px);
					}
					&:hover {
						@include linear-gradient(to right, #fa5a00 0, #ea1d00 100%);
						border: 0;
					}
					@include breakpoint(maxMobileFold){
						height: 70px;
						span {
							line-height: 70px;
						}
					}
				}
			}

			&.gov {
				display: block;
			}
			&.cop,
			&.fire,
			&.post,
			&.seven {
				display: none; 
			}
		}

		.comm-title {
			@include rem(margin-bottom, 45px);
			@include rem(letter-spacing, -2px);
			@include vw(50px);
			margin-left: percent(50);
			text-align: left;
			font-weight: 900;
			line-height: 1.4;
			color: #000;
		}

		.comm-sub-title {
			@include rem(padding-left, 28px);
			@include rem(letter-spacing, -2px);
			@include vw(40px);
			margin-left: percent(50);
			position: relative;
			text-align: left;
			font-weight: 900;
			color: #000;
			line-height: 1;
			border-left: 1px solid #c1c1c1;
			.highlight {
				@include rem(padding, 0 5px);
				@include vw(40px);
				display: inline-block;
				position: relative;
				z-index: 1;
				font-weight: 900;
				line-height: 1;
				&:before {
					content: '';
					display: inline-block;
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					@include rem(height, 15px);
					background: #f9c400;
					z-index: -1;
				}
			}
			em {
				position: relative;
				color: #222;
				vertical-align: bottom;
				@include rem(top, 5px);
				@include vw(22px);
			}
			.sub-title {
				@include rem(margin-top,16px);
				@include rem(letter-spacing, -2px);
				@include vw(30px);
				font-weight: 300;
				line-height: 1.4;
				color: #000;
			}
			.grounds-text {
				@include rem(margin-top,20px);
				font-weight: 400;
				color: #afafaf;
			}
		}

		.section-title {
			position: relative;
			text-align: left;
			font-weight: 900;
			color: #000;
			line-height: 1.4;
			margin-left: percent(50);
			@include vw(50px);
			@include rem(letter-spacing, -2px);
			em {
				position: relative;
				color: #222;
				vertical-align: top;
				@include rem(top, 5px);
				@include vw(30px);
			}
			.sub-title {
				@include rem(margin-top, 16px);
				@include vw(30px);
				@include rem(letter-spacing, -2px);
				font-weight: 300;
				line-height: 1.4;
				color: #000;
			}
			.grounds-text {
				@include rem(margin-top, 20px);
				word-break: keep-all;
				font-weight: 400;
				color: #afafaf;
			}

			&.type-2 {
				em {
					@include vw(20px);
					color: #707070;
					@include breakpoint(maxMobileFold) {
						font-size: 16px;
					}
				}
			}
		}

		.info-title {
			font-weight: 900;
			color: #000;
			line-height: 1.3;
			@include vw(54px);
			@include rem(letter-spacing, -3px);
			strong {
				font-weight: 900;
				line-height: 1.3;
				color: #ff9700;
				@include rem(letter-spacing, -3px);
			}
			em {
				display: inline-block;
				color: #000;
				vertical-align: top;
				@include vw(20px);
			}
			.sub-title {
				text-align: center;
				@include rem(margin-bottom, 10px);
				@include vw(30px);
				@include rem(letter-spacing, -2px);
				color: #000;
			}
		}

		.product-timer {
			background: #020202;
			text-align: center;
			@include rem(padding, 30px 0);
			@include boxSizing(border-box);
			.col {
				float: none;
				display: inline-block;
			}
			.timer-title {
				@include rem(padding-right, 20px);
				@include rem(font-size, 20px);
				text-align: left;
				color: #fff;
				font-weight: 700;
				line-height: 1.3;
				@include boxSizing(border-box);
				span {
					display: inline-block;
					@include rem(margin-bottom, 4px);
					@include rem(padding, 4px 10px);
					@include rem(font-size, 24px);
					@include rem(border-radius, 10px);
					color: #000;
					background: #ffe000;
				}
			}
			.count-box {
				.banner-timer {
					position: relative;
					@include rem(top, 10px);
					@extend %clearfix;
					@include boxSizing(border-box);
					p {
						float: left;
						@include rem(margin-left, 8px);
						&:first-child { margin-left: 0;}
						span {
							display: inline-block;
							line-height: 1;
							@include rem(min-width, 66px);
							@include rem(letter-spacing, 6px);
							@include rem(font-size, 48px);
							text-align: center;
							color: rgba(255, 255, 255, .6);
							font-weight: 900;
							font-family: $font-roboto;
							@include boxSizing(border-box);
						}
						em {
							display: inline-block;
							@include rem(margin-left, 10px);
							@include rem(font-size, 24px);
							@include rem(line-height,64px);
							color: #fff;
							font-weight: 700;
							&.day-text {
								margin-left: 0;
								font-weight: 400;
								vertical-align: bottom;
								color: #fff;
								@include rem(font-size, 22px);
								@include rem(line-height,40px);
							}
						}
					}
				}
			}
			
		}

		.product-title {
			@include bg($color: #fff, $url: '#{$img-path}/mobile/bg_title.jpg', $size: cover);
		}
		
		.product-benefit {
			@include rem(padding-bottom, 120px);
			background: #fff;
			.benefit-title {
				@include rem(padding, 100px 0 40px);
				@include vw(50px);
				@include rem(letter-spacing, -3px);
				color: #000;
				line-height: 1.3;
				font-weight: 900;
				strong {
					color: #dd3935;
					font-weight: 900;
					line-height: 1.3;
					@include rem(letter-spacing, -3px);
				}
				em {
					display: inline-block;
					color: #dd3935;
					@include rem(margin-right, 10px);
				}
			}
			.benefit-box {
				width: percent(620);
				margin: 0 auto;
				.list {
					.col {
						position: relative;
						overflow: hidden;
						margin: 0 2% 5% 0;
						width: 49%;
						border-top: 1px solid #e6e6e6;
						@include rem(border-radius, 0 30px 0 30px);
						@include boxShadow(0 5px 20px 0 rgba(0, 0, 0, .2));
						&:nth-child(2n) { margin-right: 0;}
						.subject {
							position: absolute;
							top: percent(22,334);
							left: percent(25,273);
							text-align: left;
							@include rem(padding-top, 10px);
							@include vw(26px);
							@include rem(letter-spacing, -1.5px);
							font-weight: 900;
							color: #222;
							line-height: 1.3;
							@include breakpoint(maxMobileFold){
								font-size: 24px;
							}
							span { font-weight: 900;}
							em {
								position: relative;
								display: inline-block;
								vertical-align: top;
								font-weight: 500;
								color: #707070;
								@include vw(20px);
								@include rem(margin-left, 4px);
								@include breakpoint(maxMobileFold){
									font-size: 16px;
								}
							}
							.badge {
								display: inline-block;
								@include rem(padding, 10px 20px);
								@include rem(margin-bottom, 6px);
								@include rem(border-radius, 50px);
								@include vw(24px);
								width: auto;
								height: auto;
								color: #fff;
								font-weight: 900;
								letter-spacing: -1px;
								line-height: 1;
								vertical-align: top;
								background: #ea1d00;
								@include breakpoint(maxMobileFold){
									font-size: 15px;
								}
							}
						}
					}
				}
			}
			.grounds-text {
				width: percent(620);
				margin: 0 auto;
				@include rem(padding, 10px 0 0 0);
				text-align: left;
				color: #9a9a9a;
				line-height: 1.6;
			}
		}
	
		.product-benefit-plus {
			@include rem(padding, 110px 0 50px);
			background: #de4a38;
			.benefit-title {
				span {
					display: inline-block;
					color: #fff;
					font-weight: 400;
					line-height: 1;
					@include vw(30px);
					@include rem(letter-spacing, -2px);
				}
				p {
					@include rem(margin-top, 15px);
					@include vw(55px);
					@include rem(letter-spacing, -3px);
					text-align: center;
					font-weight: 900;
					color: #fff;
					line-height: 1.3;
				}
			}
			.grounds-text {
				padding-left: percent(50);
				padding-right: percent(50);
				word-break: keep-all;
				text-align: left;
				color: rgba(255,255,255, .4);
				@include boxSizing(border-box);
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				z-index: 1;
				@include rem(top, -55px);
				@include translateX(-50%);
				@include rem(width, 132px);
				@include rem(height, 132px);
				@include bg($url: '#{$img-path}/pc/icon_plus.png', $size: cover);
			}
		}

		.product-item {
			@include rem(padding-bottom, 60px);
			@include linear-gradient(to bottom, #de4a38 50%, #fff 50%);
			.item-group {
				position: relative;
				width: percent(620);
				margin: 0 auto;
				text-align: left;
				background: #fff;
				@include rem(padding, 60px 50px);
				@include rem(border-radius, 30px);
				@include boxShadow(0 10px 15px 0 rgba(0, 0, 0, .3));
				@include boxSizing(border-box);
				.item-subject {
					font-weight: 900;
					color: #222;
					line-height: 1.2;
					@include rem(margin-bottom, 30px);
					@include rem(letter-spacing, -3px);
					@include vw(60px);
					strong {
						display: inline-block;
						font-weight: 900;
						color: #ea1d00;
						vertical-align: top;
						@include vw(40px);
					}
				}
				.discount-emb {
					position: absolute;
					top: 0;
					right: 5%;
					background: url('#{$img-path}/pc/bg_arrow.png') 0 0 no-repeat;
					background-size: cover;
					@include rem(width, 185px);
					@include rem(height, 167px);
					.emb-in {
						@include rem(padding-top, 30px);
						@include rem(font-size, 24px);
						width: 92%;
						text-align: center;
						color: #fff;
						font-weight: 900;
						line-height: 1.3;
						letter-spacing: -1px;
						strong {
							display: block;
							line-height: 1;
							font-weight: 900;
							@include rem(font-size, 40px);
							@include rem(letter-spacing, -2px);
						}
					}
				}
				.benefit-list {
					text-align: center;
					.benefit {
						@include rem(margin-top, 20px);
						@include boxSizing(border-box);
						.benefit-title {
							@include vw(30px);
							color: #bbb;
							font-weight: 900;
						}
						.origin-price {
							strong {
								position: relative;
								display: inline-block;
								width: percent(308,620);
								font-weight: 900;
								color: #bbb;
								@include vw(45px);
								&:after {
									content: '';
									display: block;
									position: absolute;
									top: 50%;
									left: 0;
									right: 0;
									width: 100%;
									z-index: 1;
									@include rem(height, 13px);
									@include rem(margin-top, -6px);
									@include bg($url: '#{$img-path}/mobile/icon_arrow_2.png', $size: 100% auto);
								}
							}
						}

						&.benefit-2 {
							opacity: .6;
						}
					}
				}
				.item-price {
					position: relative;
					@include rem(padding-top, 36px);
					.before-price {
						display: inline-block;
						width: 45%;
						text-align: left;
						@include rem(line-height, 60px);
						span {
							display: inline-block;
							font-weight: 900;
							color: #bbb;
							vertical-align: top;
							text-decoration: line-through;
							@include vw(35px);
							@include rem(line-height, 60px);
						}
						strong {
							display: inline-block;
							font-weight: 900;
							color: #ea1d00;
							vertical-align: top;
							@include vw(30px);
							@include rem(line-height, 60px);
						}
					}
					.discount-label {
						display: inline-block;
						width: 50%;
						color: #fff;
						text-align: center;
						font-weight: 500;
						line-height: 1;
						background: #222;
						@include rem(font-size, 26px);
						@include rem(border-radius, 6px);
						@include rem(height, 60px);
						@include rem(line-height, 60px);
						span {
							color: #ffd900;
							@include animation(flas, .8s, $iteration: infinite){
								0%, 100% { opacity: 0;}
								50% { opacity: 1;}
							}
						}
					}
					.after-price {
						@include rem(margin, 10px 0 20px);
						@include rem(letter-spacing, -5px);
						@include vw(60px);
						text-align: center;
						color: #ea1d00;
						font-weight: 900;
						line-height: 1;
						strong {
							@include vw(100px);
							@include rem(letter-spacing, -6px);
							font-weight: 900;
							line-height: 1;
							font-family: $font-roboto;
						}
					}
					.btn-apply {
						@include pointer(60%, 0, 57px, 65px, 12, bounce);
					}
					.price-text {
						text-align: center;
						font-weight: 900;
						color: #fff;
						@include rem(margin-top, 20px);
						@include rem(font-size, 40px);
						@include rem(letter-spcaing, -2px);
						@include rem(border-radius, 10px);
						@include rem(line-height, 84px);
						@include linear-gradient(to right, #fa5a00 0, #ea1d00 100%);
					}
				}
			}
		}

		.product-info {
			@include rem(padding, 60px 0);
			background: #fff;
			.info-title {
				line-height: 1.4;
			}
			.grounds-text {
				padding-right: percent(30);
				line-height: 1.5;
				text-align: right;
				@include rem(letter-spacing, -2px);
				@include vw(22px);
				+ .info-title {
					@include rem(margin-top, 100px);
				}
			}
			.item-slider {
				position: relative;
				padding-left: percent(30);
				padding-right: percent(30);
				@include rem(padding-top, 80px);
				&:after { 
					content: ''; display: block; position: absolute; bottom: 0; left: 0; width: 100%; height: 50%;
					background: -moz-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
					background: -webkit-linear-gradient(bottom, #fff 0%,rgba(255,255,255,0) 100%);
					background: linear-gradient(to top, #fff 0%,rgba(255,255,255,0) 100%);
				}
				.slick-slide {
					@include rem(padding-bottom, 8px);
				}
				.col {
					display: inline-block;
					width: 30%;
					color: #000;
					text-align: center;
					background: #fff;
					border: 1px solid #ddd;
					@include rem(border-radius, 50px);
					@include rem(height, 80px);
					@include boxShadow(0 8px 8px 0 rgba(0, 0, 0, .1));
					strong {
						@include rem(line-height, 78px);
						@include rem(letter-spacing, -2px);
						font-weight: 900;
						vertical-align: top;
					}
					@include breakpoint(maxMobileFold){
						height: 60px;
						line-height: 58px;
						border-radius: 50px;
						strong { line-height: 58px;}
					}
					&.point-1 {
						@include vw(26px);
					}
					&.point-2 {
						@include vw(24px);
						strong { font-weight: 700;}
					}
					&.point-3 {
						@include vw(24px);
						strong {
							font-weight: 500;
							color: #555;
						}
					}
				}
			}
			.action {
				@include rem(margin-top, 30px);
				a {
					border-radius: 0;
					@include rem(height, 60px);
					span {
						@include vw(24px);
						@include rem(line-height, 58px);
					}
					&:after { display: none;}
				}
			}
		}

		.product-info-text {
			@include bg($color: #fff, $url: '#{$img-path}/mobile/bg_info_text.jpg', $size: contain);
		}

		.product-compare {
			@include rem(padding, 100px 0 0);
		}
	
		.product-winner {
			overflow: hidden;
			@include bg($color: #ffbf00, $url: '#{$img-path}/mobile/bg_winner.jpg', $size: cover);
			.winner-title {
				position: relative;
				z-index: 2;
				.fly {
					position: absolute;
					top: percent(100, 734);
					left: 0;
					right: 0;
					line-height: 1.3;
					text-align: center;
				}
				@include vw(42px);
				font-weight: 900;
				color: #2c3047;
				line-height: 1.2;
				em {
					@include vw(26px);
					font-weight: 400;
					color: #2c3047;
					vertical-align: top;
				}
				.grounds-text {
					@include rem(margin-top, 20px);
					text-align: center;
					font-weight: 400;
					color: rgba(44,48,71, .7);
				}
			}
			.winner-contents {
				@include rem(margin-top,-150px);
				.winner-list {
					-webkit-transform: perspective(150px) rotateX(45deg);
					-ms-transform: perspective(150px) rotateX(45deg);
					transform: perspective(150px) rotateX(45deg);
					.slick-track {
						-webkit-transform: translate(0) !important;
						-ms-transform: translate(0) !important;
						transform: translate(0) !important;
					}
				}
				p {
					font-family: $font-noto;
					text-align: center;
					line-height: 1.5;
					font-weight: 500;
					color: #222;
					@include vw(24px);
				}
			}
			.rolling {
				@include rem(margin-top,-150px);
				overflow: hidden;
				height: 240px;
				transform: perspective(150px) rotateX(45deg);
				@include breakpoint(maxMobile){
					margin-top: -40px;
				}
				ul{
					li {
						overflow:hidden;
						float:left;
						color:#000;
						height:20px;
						line-height:21px;
						text-align:center;
						span{
							display:inline-block;
							text-align:center;
							letter-spacing:-1.5px;
							color:#000;
							font-size:11px;
							font-weight:700;
							@include breakpoint(maxMobileFold) { font-size:14px;}
							@include breakpoint(maxMobile) { font-size:16px;}
						}
					}
				}
			}
		}

		.product-review {
			@include rem(padding, 60px 0 110px);
			.section-title {
				margin: 0;
				text-align: center;
			}
			.item {
				a {
					display: block;
					position: absolute;
					top: percent(50, 505);
					left: 50%;
					z-index: 1;
					width: percent(620);
					height: percent(358,505);
					@include translateX(-50%);
				}
			}
			.slider-contents {
				width: 100%;
				+ .slider-contents { @include rem(margin-top, 60px);}
			}
		}

		.product-bar-1 {
			@include bg($color: #0d1c33, $url: '#{$img-path}/mobile/bg_bar_1.jpg', $size: cover);
		}

		.product-teacher {
			@include rem(padding, 100px 0);
			.slider-contents { @include rem(margin-top, 60px);}
			.update-wrap {
				width: percent(620);
				margin: 0 auto;
				@include rem(margin-top, 20px);
				@include rem(margin-bottom, 30px);
				border: 2px solid #ffbf00;
				@include rem(border-radius, 20px);
				background-color: #fff;
				@include boxShadow(10px 10px 10px 0 rgba(0, 0, 0, .2));
				.update-list { @include rem(margin, 20px 40px); }
				p {
					@extend .grid;
					@include rem(padding, 20px 10px);
					@include vw(22px);
					color: #222;
					border-bottom: 1px solid #e1e1e1;
					@include boxSizing(border-box);
					span {
						@extend .col;
						width: 70%;
						text-align: left;
						&.user {
							width: 30%;
							text-align: right;
							color: #edb200;
						}
					}
				}
			}
		}

		.product-curriculum {
			@include rem(padding, 100px 0);
			.grounds-text {
				@include rem(margin-top, 20px);
				@include vw(20px);
				@include rem(letter-spacing, -2px);
				padding-left: percent(30);
				padding-right: percent(30);
			}
			.action {
				@include rem(margin-top, 30px);
			}
		}

		.product-book {
			@include rem(padding, 100px 0);
			@include bg($color:#ebecef ,$url: '#{$img-path}/mobile/bg_book.jpg', $size: cover);
			.flag {
				position: absolute;
				top: 0;
				right: 0;
				width: percent(103);
				@include animation(moving, 1s, $iteration: infinite){
					0%, 100% { @include translateY(0); }
					50% { @include translateY(10px); }
				}
			}
		}

		.product-system {
			border-style: solid;
			border-color:#ececef;
			border-width: 0;
			@include rem(padding, 100px 0 115px);
			@include rem(border-top-width, 20px);
			.grounds-text {
				@include rem(margin-top, 15px);
				margin-left: percent(50);
				text-align: left;
				color: #afafaf;
				line-height: 1.4;
				font-weight: 400;
			}
			.action {
				@include rem(margin-top, 48px);
			}
		}

		.product-life {
			@include rem(padding-bottom, 115px);
			.slider-contents {
				.life-col {
					position: relative;
					.caption {
						position: absolute;
						top: percent(672,806);
						left: 0;
						right: 0;
						font-weight: 700;
						text-align: center;
						line-height: 1.5;
						color: #222;
						@include rem(letter-spacing, -2px);
						@include vw(30px);
					}
				}
			}
		}

		.product-puri {
			@include rem(padding-bottom, 115px);
			.action {
				@include rem(margin-top, 48px);
			}
		}
		
		.product-king {
			@include rem(padding-bottom, 100px);
			.slider-contents {
				position: absolute;
				top: percent(110, 567);
				left: percent(59);
				width: percent(600);
				height: percent(227, 567);
				overflow: hidden;
				z-index: 1;
				.slick-slide {
					.col {
						padding: 0;
						margin: 0;
						vertical-align: top;
						border-bottom: 1px solid #b2b2b2;
						@extend .grid;
						strong {
							@extend .col;
							text-align: center;
							font-weight: 700;
							color: #000;
							border: 0;
							vertical-align: top;
							@include rem(padding, 10px 0);
							@include vw(22px);
							@include rem(letter-spacing, -1.5px);
							&.num {
								width: 16%;
							}
							&.desc {
								width: 84%;
								text-align: left;
								font-weight: 500;
								vertical-align: middle;
								@include rem(padding-left, 10px);
								@include boxSizing(border-box);
								.ea {
									display: inline-block;
									vertical-align: middle;
									@include vw(20px);
									@include rem(margin-left, 5px);
									color: #ffa300;
								}
							}
							@include breakpoint(maxMobileFold) {
								padding: 10px 0;
							}
						}
					}
				}

				
			}
		}

		.product-care {
			border-style: solid;
			border-color:#ececef;
			border-width: 0;
			@include rem(padding-bottom, 115px);
			@include rem(border-bottom-width, 20px);
			.comm-sub-title {
				word-break: keep-all;
				line-height: 1.4;
				padding-right: percent(200);
			}
			.care-list {
				@extend .grid;
				@include rem(margin, 45px auto 0);
				width: percent(616);
				.col {
					@extend .col;
					@include rem(padding, 25px);
					@include rem(margin-bottom, 12px);
					width: 49%;
					margin-right: 2%;
					text-align: left;
					border: 1px solid #9b9b9b;
					@include rem(border-radius, 20px);
					@include boxSizing(border-box);
					dl {
						dt {
							@include rem(margin-bottom, 20px);
							@include vw(26px);
							@include rem(letter-spacing, -2px);
							font-weight: 900;
							line-height: 1.4;
							color: #222;
						}
						dd {
							@include vw(22px);
							@include rem(letter-spacing, -2px);
							font-weight: 400;
							color: #7e7e7e;
							line-height: 1.4;
						}
					}
					&:nth-child(2n) { margin-right: 0;}
				}
			}
		}

		.product-awards {
			border-style: solid;
			border-color:#ececef;
			border-width: 0;
			@include rem(border-top-width, 20px);
		}

		.product-brand {
			@include linear-gradient(to bottom, #ffd200 0%, #ffae00 100%);
		}
	}
}