@{
    string viewPath = ((RazorView)ViewContext.View).ViewPath;
    viewPath = viewPath.Remove(viewPath.LastIndexOf('/') + 1);
}

@{
	String platform = ("W".Equals(ViewBag.PlatformCd)) ? "pc" : "mobile";
}

@* 부평 *@
<div class="sector-teacher">
	<div class="wrap">
		<img src="//img.eduwill.net/eduwill/img/2022/J/event/220302/pc/img_teacher_title.png" alt="여러분의 시간은 소중하니까! 모든 문제를 풀지는 마세요." />
		<div class="content">
			<img src="//img.eduwill.net/eduwill/img/2022/J/event/220302/pc/img_teacher_bp.png" alt="부평" />
			<div class="link-box">
				<a href="/Teacher/Detail?tCode=PL21&Subj=PL" target="_blank"><span class="sr-only">신의영</span></a>
				<a href="/Teacher/Detail?TCode=AP15&Subj=AP" target="_blank"><span class="sr-only">윤재옥</span></a>
				<a href="/Teacher/Detail?tCode=II07&Subj=II" target="_blank"><span class="sr-only">이강일</span></a>
			</div>
		</div>
	</div>
</div>

<div class="sector-bar">
	<div class="wrap">
		<strong>정확한 기출 분석과 방향 제시로 합격을 이끕니다.</strong>
	</div>
</div>

<div id="sectorApplyBar" class="sector-apply-bar">
	<div class="wrap">
		<span class="txt">
			1차 기출분석 특강 수강신청
		</span>
		<span class="tel">
			부평학원 수강문의
			<em>
				032-512-0600
			</em>
		</span>
	</div>
</div>