@charset "UTF-8";
.grid, .product-price-zone .action {
  *zoom: 1;
}

.grid:before, .product-price-zone .action:before, .grid:after, .product-price-zone .action:after {
  content: '';
  display: table;
}

.grid:after, .product-price-zone .action:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col-right {
  float: right;
}

button {
  overflow: visible;
  border-radius: 0;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  width: auto;
  outline: 0;
  cursor: pointer;
  font-family: inherit;
}

.dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 300;
  display: none;
  width: 100%;
  max-width: 720px;
  text-align: left;
  letter-spacing: -1px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

@media screen and (min-width: 720px) {
  .popup {
    width: 900px;
  }
}

.popup-body {
  padding: 15% 5%;
}

@media screen and (min-width: 720px) {
  .popup-body {
    padding: 40px;
  }
}

.popup-head {
  padding: 32px 20px;
  font-size: 30px;
  font-weight: 600;
  color: #000;
  background-color: #ececec;
}

.popup-desc {
  padding: 20px;
}

.popup-desc li {
  padding: 10px 0;
  line-height: 1.2;
  font-size: 20px;
  color: #000;
  border-bottom: 1px solid #ccc;
}

.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.popup-close:before, .popup-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #333;
}

.popup-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup-close-layer {
  position: absolute;
  top: 0;
  right: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.popup-close-layer:before, .popup-close-layer:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #333;
}

.popup-close-layer:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close-layer:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup-close-layer span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup.popup-base {
  border-radius: 10px;
}

.popup.popup-base p {
  line-height: 1.2;
  margin-bottom: 5px;
  font-size: 3.88889vw;
}

@media screen and (min-width: 720px) {
  .popup.popup-base p {
    font-size: 28px;
  }
}

.popup.popup-list .popup-body {
  padding: 0;
}

.popup.popup-list .popup-close {
  right: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
}

.popup.popup-list .popup-close:before, .popup.popup-list .popup-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #fff;
}

.popup.popup-list .popup-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup.popup-list .popup-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup.popup-list .popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup.popup-list .list-title {
  text-align: left;
  background: #333333;
  color: #fff;
  padding: 4%;
  letter-spacing: -1px;
  line-height: 1.4;
  font-weight: 400;
  font-size: 2.5vw;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title {
    font-size: 18px;
  }
}

.popup.popup-list .list-title strong {
  display: block;
  font-size: 4.16667vw;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title strong {
    font-size: 30px;
  }
}

.popup.popup-list .list-view {
  position: relative;
  background: #fff;
  padding: 4%;
  height: 380px;
  overflow-y: auto;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-view {
    height: 500px;
    overflow-y: auto;
  }
}

.popup.popup-list .list-view ul li {
  line-height: 1.4;
  color: #333;
  font-size: 3.05556vw;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-view ul li {
    font-size: 22px;
  }
}

.popup.popup-benefit .popup-body {
  padding: 0;
}

.popup.popup-benefit .popup-body img {
  width: 100%;
}

.bottom_fix_btn {
  display: none !important;
}

.product-eco {
  line-height: normal;
  letter-spacing: -1px;
}

.product-eco * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-eco p {
  line-height: inherit;
  font-size: inherit;
  color: inherit;
}

.product-eco .container {
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
}

.product-eco .wrap {
  position: relative;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  width: 100%;
}

.product-eco .wrap .content {
  position: relative;
}

.product-eco .btn-hlink {
  display: inline-block;
  position: relative;
}

.product-eco .btn-hlink::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -4.16667vw;
  width: 9.16667vw;
  height: 10.13889vw;
  background: url("//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_1.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: moving;
          animation-name: moving;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .btn-hlink::after {
    bottom: -30px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .btn-hlink::after {
    width: 66px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .btn-hlink::after {
    height: 73px;
  }
}

@-webkit-keyframes moving {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
}

@keyframes moving {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
}

.product-eco .floating-banner1 {
  position: fixed;
  top: 20%;
  right: 5%;
  z-index: 10;
  border-radius: 100%;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(39, 41, 44, 0.3);
          box-shadow: 0px 10px 20px 0px rgba(39, 41, 44, 0.3);
}

.product-eco .floating-banner1 .banner {
  display: block;
  position: relative;
  width: 22.22222vw;
  height: 22.22222vw;
  background-color: transparent;
}

@media screen and (min-width: 720px) {
  .product-eco .floating-banner1 .banner {
    width: 160px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .floating-banner1 .banner {
    height: 160px;
  }
}

.product-eco .floating-banner1 .banner .a-img {
  position: absolute;
  top: 0;
  right: 0;
}

.product-eco .floating-banner1 .banner .img1 {
  z-index: 1;
  -webkit-animation-name: flagChange;
          animation-name: flagChange;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes flagChange {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes flagChange {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.product-eco .floating-banner1 .close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 3.05556vw;
}

@media screen and (min-width: 720px) {
  .product-eco .floating-banner1 .close {
    width: 22px;
  }
}

.product-eco .bottom-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.product-eco .bottom-banner .block-anchor {
  display: block;
}

.product-eco .bottom-banner .banner-logo {
  position: absolute;
  bottom: 0;
  left: 4.86111vw;
  width: 15.27778vw;
}

@media screen and (min-width: 720px) {
  .product-eco .bottom-banner .banner-logo {
    left: 35px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .bottom-banner .banner-logo {
    width: 110px;
  }
}

.product-eco .bottom-banner .desc {
  padding: 2.77778vw 0 2.77778vw 21.94444vw;
  text-align: left;
  font-size: 4.86111vw;
  font-weight: 600;
  color: #fff;
}

@media screen and (min-width: 720px) {
  .product-eco .bottom-banner .desc {
    padding: 20px 0 20px 158px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .bottom-banner .desc {
    font-size: 35px;
  }
}

.product-eco .bottom-banner .btn-hlink {
  position: absolute;
  top: 50%;
  right: 5.55556vw;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 19.44444vw;
}

@media screen and (min-width: 720px) {
  .product-eco .bottom-banner .btn-hlink {
    right: 40px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .bottom-banner .btn-hlink {
    width: 140px;
  }
}

.product-eco .bottom-banner .btn-hlink::after {
  bottom: -1.38889vw;
  width: 5.55556vw;
  height: 6.11111vw;
}

@media screen and (min-width: 720px) {
  .product-eco .bottom-banner .btn-hlink::after {
    bottom: -10px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .bottom-banner .btn-hlink::after {
    width: 40px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .bottom-banner .btn-hlink::after {
    height: 44px;
  }
}

.product-title {
  background: #013fde url("//img.eduwill.net/eduwill/img/2021/Z/product/210517/mobile/bg_title.jpg") no-repeat 50% 0;
  background-size: cover;
}

.product-title::before {
  content: '';
  position: absolute;
  top: 27.77778vw;
  left: 0;
  width: 100%;
  height: 22.36111vw;
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/210517/mobile/bg_title_bar.png") repeat-x 0 0;
  background-size: contain;
}

@media screen and (min-width: 720px) {
  .product-title::before {
    top: 200px;
  }
}

@media screen and (min-width: 720px) {
  .product-title::before {
    height: 161px;
  }
}

.product-title .wrap {
  z-index: 1;
}

.product-title .wrap::before, .product-title .wrap::after {
  content: '';
  position: absolute;
  top: 33.61111vw;
  width: 7.77778vw;
  height: 5.27778vw;
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/210517/mobile/bg_title_arrow.png") no-repeat 0 0;
  background-size: cover;
}

@media screen and (min-width: 720px) {
  .product-title .wrap::before, .product-title .wrap::after {
    top: 242px;
  }
}

@media screen and (min-width: 720px) {
  .product-title .wrap::before, .product-title .wrap::after {
    width: 56px;
  }
}

@media screen and (min-width: 720px) {
  .product-title .wrap::before, .product-title .wrap::after {
    height: 38px;
  }
}

.product-title .wrap::before {
  left: -6.52778vw;
  -webkit-animation-name: arrowOpacity1;
          animation-name: arrowOpacity1;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-title .wrap::before {
    left: -47px;
  }
}

@-webkit-keyframes arrowOpacity1 {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes arrowOpacity1 {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.product-title .wrap::after {
  right: -6.52778vw;
  -webkit-animation-name: arrowOpacity2;
          animation-name: arrowOpacity2;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-title .wrap::after {
    right: -47px;
  }
}

@-webkit-keyframes arrowOpacity2 {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes arrowOpacity2 {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.product-title .btn-hlink {
  position: absolute;
  bottom: 21.25vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 93.47222vw;
  margin-left: 0.69444vw;
}

@media screen and (min-width: 720px) {
  .product-title .btn-hlink {
    bottom: 153px;
  }
}

@media screen and (min-width: 720px) {
  .product-title .btn-hlink {
    width: 673px;
  }
}

@media screen and (min-width: 720px) {
  .product-title .btn-hlink {
    margin-left: 5px;
  }
}

.product-info1 {
  background-color: #edf8ff;
}

.product-price-zone {
  padding: 0 0 13.88889vw;
  background-color: #edf8ff;
}

@media screen and (min-width: 720px) {
  .product-price-zone {
    padding: 0 0 100px;
  }
}

.product-price-zone.type2 {
  padding: 15.27778vw 0 17.36111vw;
  background-color: #fff;
}

@media screen and (min-width: 720px) {
  .product-price-zone.type2 {
    padding: 110px 0 125px;
  }
}

.product-price-zone .wrap {
  padding: 0 4.16667vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .product-price-zone .wrap {
    padding: 0 30px;
  }
}

.product-price-zone .title {
  position: relative;
  left: 5.55556vw;
  margin-bottom: 8.33333vw;
  text-align: left;
  font-size: 6.25vw;
  font-weight: 600;
  line-height: 1.2;
}

@media screen and (min-width: 720px) {
  .product-price-zone .title {
    left: 40px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .title {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .title {
    font-size: 45px;
  }
}

.product-price-zone .action {
  position: relative;
  margin-top: 5.97222vw;
  text-align: left;
}

@media screen and (min-width: 720px) {
  .product-price-zone .action {
    margin-top: 43px;
  }
}

.product-price-zone .action a {
  display: inline-block;
  width: 48%;
  text-align: center;
}

.product-price-zone .action a:last-child {
  float: right;
}

.product-price-zone .action .arrow {
  display: inline-block;
  padding: 1.38889vw 0;
  font-size: 3.33333vw;
  font-weight: 500;
  color: #000;
  border-width: 0.27778vw;
  border-style: solid;
  border-color: #000;
  background-color: #fff;
}

@media screen and (min-width: 720px) {
  .product-price-zone .action .arrow {
    padding: 10px 0;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .action .arrow {
    font-size: 24px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .action .arrow {
    border-width: 2px;
  }
}

.product-price-zone .action .arrow::after {
  content: '';
  display: inline-block;
  width: 0.97222vw;
  height: 0.97222vw;
  margin-left: 0.41667vw;
  vertical-align: 0.55556vw;
  border-width: 0.27778vw 0.27778vw 0 0;
  border-style: solid;
  border-color: #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (min-width: 720px) {
  .product-price-zone .action .arrow::after {
    width: 7px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .action .arrow::after {
    height: 7px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .action .arrow::after {
    margin-left: 3px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .action .arrow::after {
    vertical-align: 4px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .action .arrow::after {
    border-width: 2px 2px 0 0;
  }
}

.product-price-zone .price-box {
  margin: 0 auto;
}

.product-price-zone .price-box .block-anchor {
  display: block;
  position: static;
}

.product-price-zone .price-box .block-anchor:after {
  right: 2.08333vw;
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .block-anchor:after {
    right: 15px;
  }
}

.product-price-zone .price-box .box {
  margin: 0 auto;
  padding-bottom: 12.77778vw;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .box {
    padding-bottom: 92px;
  }
}

.product-price-zone .price-box .box-1 {
  border-width: 0.69444vw;
  border-style: solid;
  border-color: #1333c1;
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .box-1 {
    border-width: 5px;
  }
}

.product-price-zone .price-box .box-1 .txt {
  background: #1333c1;
}

.product-price-zone .price-box .holder {
  position: relative;
  padding: 4.16667vw 5.55556vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .holder {
    padding: 30px 40px;
  }
}

.product-price-zone .price-box .title-label {
  position: absolute;
  top: -8.33333vw;
  left: 0;
  height: 8.33333vw;
  padding: 0 6.25vw;
  line-height: 8.33333vw;
  font-size: 4.16667vw;
  font-weight: 500;
  color: #fff;
  border-radius: 4.16667vw 4.16667vw 0 0;
  background-color: #1333c1;
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .title-label {
    top: -60px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .title-label {
    height: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .title-label {
    padding: 0 45px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .title-label {
    line-height: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .title-label {
    font-size: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .title-label {
    border-radius: 30px 30px 0 0;
  }
}

.product-price-zone .price-box .title-list {
  width: 69%;
  text-align: left;
  line-height: 1.2;
  font-size: 5.55556vw;
  font-weight: 500;
  color: #000;
  letter-spacing: -2px;
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .title-list {
    font-size: 40px;
  }
}

.product-price-zone .price-box .title-list .desc {
  display: block;
  font-weight: 400;
}

.product-price-zone .price-box .title-list .sub-desc {
  display: block;
  padding-top: 1.11111vw;
  font-size: 3.61111vw;
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .title-list .sub-desc {
    padding-top: 8px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .title-list .sub-desc {
    font-size: 26px;
  }
}

.product-price-zone .price-box .price-list {
  position: relative;
  width: 46%;
  text-align: left;
  line-height: 1;
  letter-spacing: -2px;
  margin-top: 2.08333vw;
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .price-list {
    margin-top: 15px;
  }
}

.product-price-zone .price-box .price-list .price-desc {
  font-size: 3.33333vw;
  font-weight: 700;
  line-height: 1.2;
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .price-list .price-desc {
    font-size: 24px;
  }
}

.product-price-zone .price-box .price-list .price-before strong {
  position: absolute;
  display: block;
  font-size: 4.16667vw;
  top: 2.36111vw;
  font-weight: 700;
  color: #939393;
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .price-list .price-before strong {
    font-size: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .price-list .price-before strong {
    top: 17px;
  }
}

.product-price-zone .price-box .price-list .price-before strong em {
  font-size: 5.55556vw;
  font-family: 'Roboto';
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .price-list .price-before strong em {
    font-size: 40px;
  }
}

.product-price-zone .price-box .price-list .price-before strong:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 29.58333vw;
  height: 2.91667vw;
  margin-left: -12%;
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/210517/mobile/icon_arrow.png") no-repeat 0 0;
  background-size: contain;
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .price-list .price-before strong:after {
    width: 213px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .price-list .price-before strong:after {
    height: 21px;
  }
}

.product-price-zone .price-box .price-list .price-before + .price-after {
  padding-top: 8.33333vw;
  padding-left: 5.13889vw;
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .price-list .price-before + .price-after {
    padding-top: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .price-list .price-before + .price-after {
    padding-left: 37px;
  }
}

.product-price-zone .price-box .price-list .price-after {
  padding-top: 6.25vw;
  font-size: 5.55556vw;
  font-weight: 700;
  color: #1333c1;
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .price-list .price-after {
    padding-top: 45px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .price-list .price-after {
    font-size: 40px;
  }
}

.product-price-zone .price-box .price-list .price-after em {
  font-size: 8.33333vw;
  line-height: 1;
  font-family: 'Roboto';
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .price-list .price-after em {
    font-size: 60px;
  }
}

.product-price-zone .price-box .floating-banner {
  position: absolute;
  top: 2.08333vw;
  right: 3.05556vw;
  width: 37.91667vw;
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .floating-banner {
    top: 15px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .floating-banner {
    right: 22px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .floating-banner {
    width: 273px;
  }
}

.product-price-zone .price-box .txt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.product-price-zone .price-box .txt span {
  display: block;
  width: 100%;
  margin-top: 0;
  padding: 3.75vw 0;
  line-height: 1.2;
  text-align: center;
  font-size: 4.16667vw;
  font-weight: 500;
  color: #fff;
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .txt span {
    padding: 27px 0;
  }
}

@media screen and (min-width: 720px) {
  .product-price-zone .price-box .txt span {
    font-size: 30px;
  }
}

.product-price-zone .price-box .txt span em {
  color: #ffe105;
}

.product-info2 .video-box {
  position: relative;
  width: 91.66667vw;
  margin: 0 auto;
}

@media screen and (min-width: 720px) {
  .product-info2 .video-box {
    width: 660px;
  }
}

.product-info2 .video-box .btn-play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-info2 .slider-box {
  position: relative;
  width: 91.66667vw;
  height: 55.55556vw;
  margin: 6.94444vw auto 13.88889vw;
}

@media screen and (min-width: 720px) {
  .product-info2 .slider-box {
    width: 660px;
  }
}

@media screen and (min-width: 720px) {
  .product-info2 .slider-box {
    height: 400px;
  }
}

@media screen and (min-width: 720px) {
  .product-info2 .slider-box {
    margin: 50px auto 100px;
  }
}

.product-info2 .slider-box::before, .product-info2 .slider-box::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 13.88889vw;
  background: transparent;
}

@media screen and (min-width: 720px) {
  .product-info2 .slider-box::before, .product-info2 .slider-box::after {
    height: 100px;
  }
}

.product-info2 .slider-box::before {
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.1)), to(white));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, white 100%);
}

.product-info2 .slider-box::after {
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0.1) 100%);
}

.product-info2 .slider-box .slider-logo {
  height: 100%;
}

.product-info2 .slider-box .slick-list {
  height: 100% !important;
}

.product-info2 .slider-box .slick-list .logo {
  display: table !important;
  table-layout: fixed;
  height: 11.11111vw;
}

@media screen and (min-width: 720px) {
  .product-info2 .slider-box .slick-list .logo {
    height: 80px;
  }
}

.product-info2 .slider-box .slick-list .logo img {
  margin: 0 auto;
  height: 6.94444vw;
}

@media screen and (min-width: 720px) {
  .product-info2 .slider-box .slick-list .logo img {
    height: 50px;
  }
}

.product-info2 .slider-box .slick-list p {
  display: table-cell;
  vertical-align: middle;
  font-size: 2.22222vw;
  width: 25%;
  margin: 0 auto;
}

@media screen and (min-width: 720px) {
  .product-info2 .slider-box .slick-list p {
    font-size: 16px;
  }
}

.product-info2 .slider-box .slick-list p:nth-child(even) {
  text-align: left;
}

.product-bar {
  background-color: #013fde;
}

.product-bar .wrap::after {
  content: '';
  position: absolute;
  bottom: -7.08333vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
  width: 20.83333vw;
  height: 7.08333vw;
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/210517/mobile/bg_bar_arrow.png") no-repeat 0 0;
  background-size: cover;
}

@media screen and (min-width: 720px) {
  .product-bar .wrap::after {
    bottom: -51px;
  }
}

@media screen and (min-width: 720px) {
  .product-bar .wrap::after {
    width: 150px;
  }
}

@media screen and (min-width: 720px) {
  .product-bar .wrap::after {
    height: 51px;
  }
}

.product-benefit {
  background-color: #013fde;
}
/*# sourceMappingURL=mobile.css.map */