@{
	string platform = (string)ViewBag.platformCd == "W" ? "pc" : "mobile";
}

<div class="promotion">
	<div data-eduwill-eco-content="2684"></div>

	@* @if("W".Equals(ViewBag.PlatformCd)){
		<div class="right-banner">
			<img src="//img.eduwill.net/eduwill/img/2021/Z/event/211104_2/@platform/right_banner.png" alt="" />
			<div class="btn-wrap">
				<a href="#targetCurriculum1" class="page-move"><span class="sr-only">1월 종합반 최대 20%할인</span></a>
				<a href="https://event.eduwill.net/Brief/0/Academy_Public_Brief" target="blank"><span class="sr-only">대기업 합격전략 설명회 신청하기</span></a>
				<a href="https://gnp.eduwill.net/Promotion/Consult"  target="blank"><span class="sr-only">대기업 취업 1:1 상담 신청하기</span></a>
			</div>
		</div>
	} *@

	<div class="container promotion-title active" id="targetTitle">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/@platform/title.png" alt="" />
			<div class="motion motion1"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/pc/title_motion1.png" alt="2022 취업 다짐, 대기업 취업 합격 에.취.아가 함께할게요!" /></div>
			<div class="motion motion2"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/pc/title_motion2.png" alt="단 1시간, 대기업 합격의 모든것!" /></div>
			<div class="motion motion3"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/pc/title_motion3.png" alt="2022 대기업" /></div>
			<div class="motion motion4"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/pc/title_motion4.png" alt="취업 전략 설명회" /></div>
			<div class="motion motion5"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/pc/title_motion5.png" alt="" /></div>
			<div class="motion motion6"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/pc/title_motion6.png" alt="" /></div>
			<div class="motion motion7"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/pc/title_motion7.png" alt="" /></div>
			<div class="motion motion8">
				<div class="period-list">
					<p>2/8(화) 오후 1시 30분</p>
					<p>2/22(화) 오후 1시 30분</p>
				</div>
			</div>
			<a href="#targetApply1" class="page-move btn pointer">
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/@platform/bg_btn.png" alt="">
					<strong>100% 무료신청</strong>
			</a>
		</div>
	</div>

	<div class="container promotion-intro promotion-intro-1">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/@platform/intro.jpg" alt="" />
		</div>
	</div>
	<div class="container promotion-intro promotion-intro-2">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/@platform/intro2.jpg" alt="" />
		</div>
	</div>
	<div class="container promotion-intro promotion-intro-3">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/@platform/intro3.jpg" alt="" />
		</div>
	</div>

	<div class="container promotion-schedule">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/@platform/schedule.jpg" alt="" />
		</div>
	</div>

	<div class="container promotion-apply" id="targetApply1">
		<div class="apply-wrap apply01">
			<a href="#popup1_open" data-popup-open="popup1_open" class="page-move btn pointer">
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/@platform/bg_btn2.png" alt="">
				<strong><em>2/8 (화)</em> 설명회 무료 신청</strong>
			</a>
			<a href="#popup1_open" data-popup-open="popup1_open" class="page-move btn pointer">
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/@platform/bg_btn2.png" alt="">
				<strong><em>2/22 (화)</em> 설명회 무료 신청</strong>
			</a>
		</div>
	</div>

	<div class="container promotion-bar">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/@platform/bar.jpg" alt="" />
		</div>
	</div>

	<div class="container promotion-tactic promotion-tactic-1">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/@platform/tactic1.jpg" alt="" />
			@if("M".Equals(ViewBag.PlatformCd)){
				<div class="slider-tactic" id="">
					<div class="">
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/@platform/tactic1_1.png" alt="" />
					</div>
					<div class="">
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/@platform/tactic1_2.png" alt="" />
					</div>
					<div class="">
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/@platform/tactic1_3.png" alt="" />
					</div>
				</div>
			}
		</div>
	</div>
	<div class="container promotion-tactic promotion-tactic-2">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/@platform/tactic2.jpg" alt="" />
		</div>
	</div>
	<div class="container promotion-tactic promotion-tactic-3">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/@platform/tactic3.jpg" alt="" />
		</div>
	</div>
	<div class="container promotion-tactic promotion-tactic-4">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/@platform/tactic4.jpg" alt="" />
			@if("M".Equals(ViewBag.PlatformCd)){
				<div class="slider-tactic" id="">
					<div class="">
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/@platform/tactic4_1.png" alt="" />
					</div>
					<div class="">
						<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/@platform/tactic4_2.png" alt="" />
					</div>
				</div>
			}
		</div>
	</div>

	<div class="container promotion-curriculum curriculum-1" id="targetCurriculum1">
		<div class="wrap">
			<div class="badge">
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/pc/curriculum_badge.png" alt="에.취.아 대기업 베스트 강좌">
			</div>
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/@platform/curriculum1.jpg" alt="1. 2022 상반기 대기업 문과 직무 직무역량강화 소수정예 2개월 완성반">
		</div>
	</div>
	<div class="container promotion-class class-1" id="targetClass1">
		<div class="wrap">
			<div class="sub-wrap">
				<div class="signup-box">
					<div class="teacher-list">
						<div class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/pc/teacher1_1.png" alt="윤성훈"></div>
						<div class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/pc/teacher1_2.png" alt="박지웅"></div>
					</div>
					
					@* 페이지번호 : 35198 *@
					<div class="classWrap">
						<div class="contents bg1 full">
							<button type="button" class="block-anchor">
								<div class="lecture-title">대기업 문과직무 소수정예 2개월 관리반</div>
								<div class="con">
									<div class="lecture-info">
										<div class="flag">
											<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/pc/curriculum_flag.png" alt="" />
											<div>인적성<br>1개월 완성반<br>3월 개강</div>
										</div>
										<div class="list">
											<div class="subject">수강기간</div>
											<div class="desc">
												<span>NCS 이론</span>
												<span>4/3(토)~4/25(일)</span>
												<span>NCS+자소서/면접</span>
												<span>5/3(월)~6/26(금)</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">강좌구성</div>
											<div class="desc">
												<span>NCS 기본 이론 강의 (2주)</span>
												<span>NCS 자료해석 이론 (2주)</span>
												<span>자소서/면접(2개월)</span>
												<span>NCS PAST 기출(2개월)</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">강의시간</div>
											<div class="desc">
												<span>4월[토,일] 10:00~17:00</span>
												<span>5월[월,화,수,금] 19:00~22:00</span>
												<span>6월[월,화,수,금] 19:00~22:00</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">교수소개</div>
											<div class="desc">
												<span>이시한, 박지웅, 윤장섭</span>
												<span>김창진, 전응구</span>
											</div>
										</div>
									</div>

									<div class="price-box">
										<div class="price-info">
											<div class="item item-1">
												<p class="disc">20% 할인</p>
											</div>
											<div class="item item-2">
												<p class="cost">1,950,000원</p>
												<p class="sale">1,560,000<span>원</span></p>
											</div>
										</div>
										<div class="signup">
											@* @if("M".Equals(ViewBag.PlatformCd)){
												<div class="flag">
													<p>얼리버드 선착순 한정혜택</p>
													<p>역대급 혜택제공</p>
												</div>
											} *@
											<div class="btn-signup">
												할인받고<br />수강신청하기
											</div>
										</div>
									</div>
								</div>
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="container promotion-curriculum curriculum-2" id="targetCurriculum2">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/@platform/curriculum2.jpg" alt="2. 2022 상반기 대기업 이과직무 & 반도체 직무역량강화 소수정예 2개월 완성반">
		</div>
	</div>
	<div class="container promotion-class class-2" id="targetClass2">
		<div class="wrap">
			<div class="sub-wrap">
				<div class="signup-box">
					<div class="teacher-list">
						<div class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/pc/teacher2_1.png" alt="김경상"></div>
						<div class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/pc/teacher2_2.png" alt="박지웅"></div>
					</div>
					
					@* 페이지번호 : 35199 *@
					<div class="classWrap">
						<div class="contents bg1 full">
							<button type="button" class="block-anchor">
								<div class="lecture-title">이과직무&반도체 소수정예 2개월 관리반</div>
								<div class="con">
									<div class="lecture-info">
										<div class="flag">
											<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/pc/curriculum_flag.png" alt="" />
											<div>인적성<br>1개월 완성반<br>3월 개강</div>
										</div>
										<div class="list">
											<div class="subject">수강기간</div>
											<div class="desc">
												<span>NCS 이론</span>
												<span>4/3(토)~4/25(일)</span>
												<span>NCS+자소서/면접</span>
												<span>5/3(월)~6/26(금)</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">강좌구성</div>
											<div class="desc">
												<span>NCS 기본 이론 강의 (2주)</span>
												<span>NCS 자료해석 이론 (2주)</span>
												<span>자소서/면접(2개월)</span>
												<span>NCS PAST 기출(2개월)</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">강의시간</div>
											<div class="desc">
												<span>4월[토,일] 10:00~17:00</span>
												<span>5월[월,화,수,금] 19:00~22:00</span>
												<span>6월[월,화,수,금] 19:00~22:00</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">교수소개</div>
											<div class="desc">
												<span>이시한, 박지웅, 윤장섭</span>
												<span>김창진, 전응구</span>
											</div>
										</div>
									</div>

									<div class="price-box">
										<div class="price-info">
											<div class="item item-1">
												<p class="disc">20% 할인</p>
											</div>
											<div class="item item-2">
												<p class="cost">1,950,000원</p>
												<p class="sale">1,560,000<span>원</span></p>
											</div>
										</div>
										<div class="signup">
											<div class="btn-signup">
												할인받고<br />수강신청하기
											</div>
										</div>
									</div>
								</div>
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="container promotion-curriculum curriculum-3" id="targetCurriculum3">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/@platform/curriculum3.jpg" alt="3. 2022 상반기 대·중소기업 자소서+면접 소수정예 1개월 완성반">
		</div>
	</div>
	<div class="container promotion-class class-3" id="targetClass3">
		<div class="wrap">
			<div class="sub-wrap">
				<div class="signup-box">
					<div class="teacher-list">
						<div class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/pc/teacher3_1.png" alt="김치성"></div>
						<div class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/pc/teacher3_2.png" alt="박지웅"></div>
					</div>
					
					@* 페이지번호 : 35314 *@
					<div class="classWrap">
						<div class="contents bg1 full">
							<button type="button" class="block-anchor">
								<div class="lecture-title">대·중소기업 자소서+면접 소수정예 1개월 완성반</div>
								<div class="con">
									<div class="lecture-info">
										<div class="flag">
											<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/pc/curriculum_flag.png" alt="" />
											<div>인적성<br>1개월 완성반<br>3월 개강</div>
										</div>
										<div class="list">
											<div class="subject">수강기간</div>
											<div class="desc">
												<span>NCS 이론</span>
												<span>4/3(토)~4/25(일)</span>
												<span>NCS+자소서/면접</span>
												<span>5/3(월)~6/26(금)</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">강좌구성</div>
											<div class="desc">
												<span>NCS 기본 이론 강의 (2주)</span>
												<span>NCS 자료해석 이론 (2주)</span>
												<span>자소서/면접(2개월)</span>
												<span>NCS PAST 기출(2개월)</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">강의시간</div>
											<div class="desc">
												<span>4월[토,일] 10:00~17:00</span>
												<span>5월[월,화,수,금] 19:00~22:00</span>
												<span>6월[월,화,수,금] 19:00~22:00</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">교수소개</div>
											<div class="desc">
												<span>이시한, 박지웅, 윤장섭</span>
												<span>김창진, 전응구</span>
											</div>
										</div>
									</div>

									<div class="price-box">
										<div class="price-info">
											<div class="item item-1">
												<p class="disc">20% 할인</p>
											</div>
											<div class="item item-2">
												<p class="cost">1,950,000원</p>
												<p class="sale">1,560,000<span>원</span></p>
											</div>
										</div>
										<div class="signup">
											<div class="btn-signup">
												할인받고<br />수강신청하기
											</div>
										</div>
									</div>
								</div>
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="container promotion-curriculum curriculum-4" id="targetCurriculum4">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/@platform/curriculum4.jpg" alt="">
			<ul class="list">
				<li>
					<a href="javascript:;" onclick="layerVideo('https://www.youtube.com/embed/0f4RPheoieg')">
						<img src="https://img.eduwill.net/eduwill/img/2021/Z/product/210521/@platform/info2_1_video1.png" alt="수리영역 시간 단축 스킬">
					</a>
				</li>
				<li>
					<a href="javascript:;" onclick="layerVideo('https://www.youtube.com/embed/b4h9v8nnt6o')">
						<img src="https://img.eduwill.net/eduwill/img/2021/Z/product/210521/@platform/info2_1_video2.png" alt="수리, 자료해석 필수개념 : 가평균">
					</a>
				</li>
				<li>
					<a href="javascript:;" onclick="layerVideo('https://www.youtube.com/embed/Ch693b3zyKY')">
						<img src="https://img.eduwill.net/eduwill/img/2021/Z/product/210521/@platform/info2_1_video3.png" alt="수리 배수 문제 10초 컷 풀이 꿀팁">
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="container promotion-class class-4" id="targetClass4">
		<div class="wrap">
			<div class="sub-wrap">
				<div class="signup-box">
					<div class="teacher-list">
						<div class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/pc/teacher4_1.png" alt=""></div>
					</div>
					
					@* 페이지번호 : 35314 *@
					<div class="classWrap">
						<div class="contents bg1 full">
							<button type="button" class="block-anchor">
								<div class="lecture-title">대·중소기업 자소서+면접 소수정예 1개월 완성반</div>
								<div class="con">
									<div class="lecture-info">
										<div class="flag">
											<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/pc/curriculum_flag.png" alt="" />
											<div>인적성<br>1개월 완성반<br>3월 개강</div>
										</div>
										<div class="list">
											<div class="subject">수강기간</div>
											<div class="desc">
												<span>NCS 이론</span>
												<span>4/3(토)~4/25(일)</span>
												<span>NCS+자소서/면접</span>
												<span>5/3(월)~6/26(금)</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">강좌구성</div>
											<div class="desc">
												<span>NCS 기본 이론 강의 (2주)</span>
												<span>NCS 자료해석 이론 (2주)</span>
												<span>자소서/면접(2개월)</span>
												<span>NCS PAST 기출(2개월)</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">강의시간</div>
											<div class="desc">
												<span>4월[토,일] 10:00~17:00</span>
												<span>5월[월,화,수,금] 19:00~22:00</span>
												<span>6월[월,화,수,금] 19:00~22:00</span>
											</div>
										</div>
										<div class="list">
											<div class="subject">교수소개</div>
											<div class="desc">
												<span>이시한, 박지웅, 윤장섭</span>
												<span>김창진, 전응구</span>
											</div>
										</div>
									</div>

									<div class="price-box">
										<div class="price-info">
											<div class="item item-1">
												<p class="disc">20% 할인</p>
											</div>
											<div class="item item-2">
												<p class="cost">1,950,000원</p>
												<p class="sale">1,560,000<span>원</span></p>
											</div>
										</div>
										<div class="signup">
											<div class="btn-signup">
												할인받고<br />수강신청하기
											</div>
										</div>
									</div>
								</div>
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="container promotion-successful">
		<div class="wrap">
			<img alt="" src="https://img.eduwill.net/eduwill//img/2022/Z/event/220127/@platform/successful.jpg" />
			<div class="successful-motion">
				<img alt="" src="https://img.eduwill.net/eduwill/img/2022/Z/event/220127/pc/successful_motion.jpg" />
			</div>
		</div>
	</div>

	<div class="container promotion-pass">
		<div class="wrap">
			<img alt="꽃가루" src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/pc/firecracker.png" class="firecracker" />
			<div class="text-box">
				에듀윌 취업과 함께 하면<br>
				<b>다음 합격의 주인공은 여러분입니다.</b>
			</div>
			<div class="slider-box">
				<div class="slider-logo">
					<div class="logo">
						<p>
							<img alt="삼성" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성SDI 합격<br /> 손*주
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성" src="//img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성카드 합격<br /> 이*영
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성바이오로직스 합격<br /> 전*성
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성중공업 합격<br /> 임*환
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성생명 합격<br /> 김*규
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성물산 합격<br /> 강*호
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전기 합격<br /> 김*은
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 한*은
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 이*롬
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성엔지니어링 합격<br /> 조*진
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성디스플레이 합격<br /> 안*한
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 황*아
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 안*진
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 박*연
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성바이오로직스 합격<br /> 권*정
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 황*연
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 김*영
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 이*아
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 이*국
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 김*렙
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 남*정
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 이*재
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 이*순
						</p>
					</div>
					<div class="logo">
						<p>
							<img alt="삼성" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_samsung.png" />
						</p>
						<p>
							삼성전자 합격<br /> 박*웅
						</p>
					</div>
				</div>
				<div class="slider-logo">
					<div class="logo">
						<p><img alt="SK" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_sk.png" />
						</p>
						<p>SK이노베이션<br />
							합격 rns****</p>
					</div>
					<div class="logo">
						<p><img alt="SK" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_sk.png" />
						</p>
						<p>SK브로드밴드<br />
							합격 dlthgus****</p>
					</div>
					<div class="logo">
						<p><img alt="SK" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_sk.png" />
						</p>
						<p>SK하이닉스<br />
							합격 dbstjrdn****</p>
					</div>
					<div class="logo">
						<p><img alt="SK" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_sk.png" />
						</p>
						<p>SK하이닉스<br />
							합격 rt****</p>
					</div>
					<div class="logo">
						<p><img alt="SK" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_sk.png" />
						</p>
						<p>SK하이닉스<br />
							합격 ju****</p>
					</div>
					<div class="logo">
						<p><img alt="SK" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_sk.png" />
						</p>
						<p>SK매직<br />
							합격 hyc****</p>
					</div>
					<div class="logo">
						<p><img alt="SK" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_sk.png" />
						</p>
						<p>SK매직<br />
							합격 bmk****</p>
					</div>
					<div class="logo">
						<p><img alt="SK" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_sk.png" />
						</p>
						<p>SK텔레콤<br />
							합격 insu****</p>
					</div>
					<div class="logo">
						<p><img alt="SK" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_sk.png" />
						</p>
						<p>SK브로드밴드<br />
							합격 wndms****</p>
					</div>
					<div class="logo">
						<p><img alt="SK" src="https://img.eduwill.net/resources/img/public/event/branding/logo/logo_sk.png" />
						</p>
						<p>SK브로드밴드<br />
							합격 panda****</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container promotion-map">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/@platform/map.jpg" alt="에듀윌 강남 취업아카데미 주소 : 서울 강남구 테헤란로 8길 37 한동빌딩(강남역 1,3,4번 출구 5분 이내), 상담 및 문의 : 02-6486-0600" />
		</div>
	</div>

	<div class="container promotion-apply" id="targetApply2">
		<div class="apply-wrap apply02">
			<a href="#popup1_open" data-popup-open="popup1_open" class="page-move btn pointer">
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/@platform/bg_btn2.png" alt="">
				<strong><em>2/8 (화)</em> 설명회 무료 신청</strong>
			</a>
			<a href="#popup1_open" data-popup-open="popup1_open" class="page-move btn pointer">
				<img src="//img.eduwill.net/eduwill/img/2022/Z/event/220127/@platform/bg_btn2.png" alt="">
				<strong><em>2/22 (화)</em> 설명회 무료 신청</strong>
			</a>
		</div>
	</div>

</div>

<div class="dimmed"></div>
<div id="popup1_open" class="popup">
	<div class="popupClose" data-popup-close="popup1_open">
		<a href="javascript:;"><span class="hidden">팝업 닫기</span></a>
	</div>
	<div class="popup_title"><strong><em>2022 대기업 취업 합격전략 설명회</em> 신청하기</strong></div>
	<form id="mainEventForm">
		<input type="hidden" id="eventIdx" name="eventIdx" value="" />
		<input type="hidden" id="strTag" name="strTag" value="" />
		<div class="popup_cont">
			@if ("".Equals(UserSession.UserID))
			{
				<text>
					<p class="text_box nomember">에듀윌 회원이신가요?<a href="@(ViewBag.EaLoginUrl)">로그인</a></p>
				</text>}
			else
			{
				<text>
					<p class="text_box nomember">회원 정보 수정이 필요하신가요?<a href="@(ViewBag.EaChangeUrl)">회원정보수정</a></p>
				</text>
			}
			<div class="input_box">
				<dl>
					<dt class="label">이름</dt>
					<dd>
						@if ("".Equals(UserSession.UserID))
						{
						<input type="text" name="userNm" id="userNm" maxlength="20" value="" placeholder="이름을 입력해 주세요." class="ipt" />
						}
						else
						{
							<input type="text" name="userNm" id="userNm" maxlength="20" value="@(UserSession.UserName)" placeholder="이름을 입력해 주세요."  class="ipt" disabled />
						}
					</dd>
				</dl>
				<dl>
					<dt class="label">연락처</dt>
					<dd>
						@if ("".Equals(UserSession.UserID))
						{
							<input type="tel" name="userHp" id="userHp" class="ipt" value=""  maxlength="11" placeholder="휴대전화 (-)없이 숫자만 입력" />
						}
						else
						{
							<input type="tel" name="userHp" id="userHp" class="ipt" value="@(ViewBag.UserHp)"  maxlength="11"  placeholder="휴대전화 (-)없이 숫자만 입력" disabled />
						}

					</dd>
				</dl>
				<dl>
					<dt class="label">동반참석</dt>
					<dd>
						<select name="withPerson" id="withPerson">
							<option value="">동반 참석 인원 선택</option>
							<option value="없음">없음</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
					</dd>
				</dl>
			</div>
			<p class="info">
				※ 동반 참석 인원 선택하지 않아도 설명회 신청 가능합니다.
			</p>

			<div class="check_box">
				<p class="label">개인정보 수집 및 이용에 대한 동의 <span class="highlight">(필수)</span></p>
				<div class="scroll_box">
					<p>
						㈜에듀윌은 본 이벤트를 위해 다음과 같이 참여자의 개인정보를 수집 및 이용합니다.<br />
						<br />
						- 개인정보 수집 및 이용목적 : 참가자 정보 확인, 특강 안내 SMS 문자 발송<br />
						- 수집항목 : 이름, 휴대폰번호<br />
						- 보유 및 이용 기간 : <em>설명회 종료 후 60일 간</em>
						<br />
						귀하는 개인정보 수집 및 이용에 동의하지 않으실 수 있으나, 동의하지 않으실 경우 참여가 제한됩니다.
					</p>
				</div>
				<div class="agree_check">
					<input type="checkbox" name="personalYn" id="personalYn" value="Y">
					<label for="personalYn">위 내용을 충분히 이해하였으며, 개인정보 수집 및 이용에 동의합니다.(필수)</label>
				</div>
				<p class="label">개인정보 마케팅 활용 동의 <span class="highlight">(선택)</span></p>
				<div class="scroll_box">
					<p>
						㈜에듀윌은 상품 및 이벤트 안내 등을 위하여 참여자의 개인정보를 마케팅에 활용 할 수 있습니다.<br />
						<br />
						- 이용목적 : 이벤트 참여 기회 제공, 광고·홍보 SMS 문자 발송, 고객상담 및 AS 관리<br />
						- 수집항목 : 이름, 휴대폰번호<br />
						<em>- 보유 및 이용기간 : 설명회 종료 후 1년 간</em>
					</p>
				</div>
				<div class="agree_check">
					<input type="checkbox" name="marketingYn" id="marketingYn" value="Y">
					<label for="marketingYn">위 내용을 충분히 이해하였으며, 마케팅 및 광고성 정보 수신에 동의합니다.(선택)</label>
				</div>
			</div>
		</div>
	</form>
	<div class="popup_btn">
		<a href="javascript:submitMainEventForm();" class="btn_apply" id="btn-briefing"><span>신청하기</span></a>
		<a href="javascript:;" class="btn_cancle btn_close popupClose" data-popup-close="popup1_open"><span>취소하기</span></a>
	</div>
</div>
<div id="popupBase" class="popup popup-open">
	<button type="button" class="btn-close popClose" data-popup-close="popupBase">팝업 닫기</button>
	<div class="popup-body">
		<div data-eduwill-eco-content="3652"></div>
	</div>
</div>
<div id="popupYear5" class="popup popup-base">
	<div class="popup-body">
		<div data-eduwill-eco-content="3652"></div>
	</div>
	<a href="javascript:;" class="popup-close" data-popup-close="popupYear5"><span class="sr-only">닫기</span></a>
</div>
<div id="popupMedia" class="popup popup-media">
	<div class="layer-box"></div>
	<a href="javascript:;" class="popup-close-layer" data-popup-close="media">
		<span>팝업 닫기</span>
	</a>
</div>

<script>
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
	var url = window.location.href;
	var str = 'event.eduwill.net';
	var checkUrl = url.indexOf(str);

	$(function () {
		addEvent();
	});

	function addEvent(){
		if($(window).scrollTop() == 0){
			setTimeout(function(){
				$('.promotion-title').addClass('active')
			}, 1000);
		}

		// scroll 이동
		pageMove('.page-move');

		// popup
		$('[data-popup-open]').on('click', function(e){
			e.preventDefault();
			var _data = $(this).data('popupOpen');
			popupOpen('.dimmed', _data);
		});

		$('[data-popup-close]').on('click', function(){
			var _data = $(this).data('popupClose');
			popupClose('.dimmed', _data);
			if(_data == 'media'){
				popupClose('.dimmed', 'popupMedia');
				$('#popupMedia .layer-box').empty();
			}
		});

		$(document).on('click', '.popClose', function(){
			$('.video-cont').html('');
			var pop = $(this).closest('.popup').attr('id');
			popupClose('.dimmed', pop);
		});

		$('.slider-logo').slick({
			autoplay: true,
			autoplaySpeed: 0,
			infinite: true,
			cssEase: 'linear',
			arrows: false,
			slidesToScroll: 1,
			speed: 1500,
			slidesToShow: 2,
			vertical: true,
		});

		if(isMobile){
			$('.slider-tactic').slick({
				autoplay: true,
				autoplaySpeed: 4000,
				infinite: true,
				arrows: true,
				dots: false,
				variableWidth: true,
				centerMode: true,
			});
		}

	}

	$(window).on('scroll', function(){
		activeArea();
	});
	function activeArea(){
		var winTop = $(window).scrollTop();
		var winH = $(window).height();
		$('.container').each(function(index){
			var hei = $('.container').eq(index).outerHeight();
			var top = $('.container').eq(index).offset().top;
			if(winTop + winH > top){
				if(winTop > top + hei){
					$('.container').eq(index).removeClass('active');
				}else{
					if(winTop + winH > top + hei/2){
						$('.container').eq(index).addClass('active');
					}
				}
			}else{
				$('.container').eq(index).removeClass('active');
			}
		});
	}

	function layerVideo($url){
		$('#popupMedia .layer-box').empty();
		if ($url.indexOf('.mp4') != -1) {
			$('#popupMedia .layer-box').html('<video autoplay loop controls playsinline="" class="video-background" poster="//img.eduwill.net/Img2/mobile/brand/item/main/common/video_poster.png"><source src="'+$url+'" type="video/mp4"></video>');
		}else{
			$('#popupMedia .layer-box').html('<iframe src="'+$url+'" frameborder="no" scrolling="no" marginwidth="0" marginheight="0" width="100%" height="100%" allowfullscreen></iframe><img src="//img.eduwill.net/Img2/mobile/brand/item/main/land/naver.png" alt="">');
		}
		setTimeout(function(){
			popupOpen('.dimmed', 'popupMedia');
		},500);
	}

</script>