@{
    string viewPath = ((RazorView)ViewContext.View).ViewPath;
    viewPath = viewPath.Remove(viewPath.LastIndexOf('/') + 1);

}

@{
    string cssUrl = ViewBag.IsLocal
        ? "/Content/2020/0/eventboard/css/mobile.css"    // local 경로
        : "//img.eduwill.net/resources/eduwill/" + ViewBag.ServerMode + "/css/eventboard/mobile.css";   // ftp 경로
}

<link rel="stylesheet" type="text/css" href="@cssUrl" />

<div id="container">
    <div id="eventBoard" class="event-board">
        <hr class="space">
        <div class="wrap">
            <h3>진행중 이벤트</h3>
            <ul id="eventList" class="event-list">
                <li>
                    <a href="https://mevent.eduwill.net/Lecture/L/BasicLecture" target="_blank">
                        <div class="thumb">
                            <img src="//pds.eduwill.net/EPM/event/EventBoard/basiclecture_thumbnail.jpg" alt="썸네일" />
                        </div>
                        <div class="info-box">
                            <div class="subject">
                                <strong>[무료] 2022 기초강의 0원</strong>
                                <span>에듀윌 1등 교수진의 탄탄한 기초 완성!</span>
                            </div>
                            <div class="align">
                                <div class="flag">
                                    <span class="rec">추천</span>
                                    <span class="new">신규오픈</span>
                                    <span class="end">마감임박</span>
                                </div>
                                <div class="date">
                                    <span>상시</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- nolist -->
            <div class="no-list">
                <div>진행중인 이벤트가 없습니다</div>
            </div>
            <!-- nolist -->
        </div>
    </div>
</div>