@charset "utf-8";

// Core variables and mixins
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/extend";

@import "module/popup";
$main-color : #ffbf00;
$sub-color : #fff3cf;

.product {
    &-eco {
        * {
            line-height: normal;
            font-family: $font-noto;
            letter-spacing: -1px;
        }
        .container {
            position: relative;
            background-repeat: no-repeat;
            background-position: center top;
        }
        .wrap {
            position: relative;
            width: 100%;
            max-width: 720px;
            margin: 0 auto;
            text-align: center;
            &-full {
                width: 100%;
            }
        }
        .holder { position: relative; }
        p {
            margin: 0;
            @include vw(20px);
            color: #666;
        }
        .product-slide {
            .slick-slide { height: auto; }
            .slick-arrow {
                @extend %slick-arrow;
                @include rem(width, 50px);
                @include rem(height, 50px);
                @include rem(margin-top, -25px);
                &.slick-prev {
                    left: 10px;
                    &:before { @include arrow(left, 20px, 20px, 1px, #132054); }
                }
                &.slick-next {
                    right: 10px;
                    &:before { @include arrow(right, 20px, 20px, 1px, #132054); }
                }
            }
            .slick-dots {
                font-size: 0;
                li {
                    display: inline-block;
                    @include rem(margin, 0 7px);
                    button {
                        @include rem(width, 30px);
                        @include rem(height, 30px);
                        font-size: 0;
                        text-indent: -9999px;
                        border: none;
                        @include rem(border-radius, 30px);
                        background-color: #bbb;
                    }
                    &.slick-active {
                        button {
                            @include rem(width, 90px);
                            background-color: #ffbe00;
                        }
                    }
                }
            }
        }
        
        .player-wrap{
            box-sizing: border-box;
            position: relative;
            margin: 0 auto;
            padding-top:56%;
            @include rem(margin-top, 30px);
            &.playing{
                .btn-play{
                    display: none;
                }
            }
            .btn-play{
                z-index: 10;
                top:0;
                left:0;
                position: absolute;
                width:100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            iframe{
                position: absolute;
                width: 100%;
                height: 100%;
                top:0;
                left:0;
            }
        }
    }
    &-top { background-color: #132053;}
    &-title {
        @include bg($color: #006ce2, $url: '#{$img-path}/mobile/bg_title.jpg', $size: 100% 100%);

        .item {
            &.benefit {
                position: relative;
                .text {
                    position: absolute;
                    top: percent(555, 1408);
                    left: percent(400);
                    @include vw(36px);
                    font-weight: 800;
                    letter-spacing: -2px;
                    line-height: 1.2;
                    text-align: left;
                    color: #222;
                }
                .btn-base {
                    position: absolute;
                    bottom: percent(50, 1408);
                    right: percent(50);
                    width: 15.6%;
                    a { display: inline-block; }
                }
            }
        }
    }
    &-benefit{
        background-color: #0c1d61;
        .wrap{
            .ico{
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                display: block;
                width: percent(120);
                transform: translate(-50%,-50%);
            }
        }
        
        .item.apply {
            position:absolute;
            top: percent(1270,1583);
            left: percent(50);
            right: percent(50);
            z-index: 1;
            box-sizing: border-box;
            box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.45);
            @include rem(padding, 60px 40px);
            border-radius: 50px 50px 50px 0;
            background-color: #fff;
            .flag {
                display: inline-block;
                @include rem(padding, 10px 30px);
                @include vw(28px);
                border-radius: 50px;
                @include animation(flagChange, .8s, $iteration: infinite, $timing: step-start){
                    0%, 100% { background-color: #ea1d00; }
                    50% { background-color: #1e285d; }
                }
            }
            .name{
                display: block;
                margin-bottom: 35px;
                @include vw(50px);
                color:#222;
                line-height: 1;
                letter-spacing: -1.5px;
                font-weight: 300;
                strong{
                    font-weight: 800;
                }
            }
            .price-box {
                position: relative;
                text-align: right;
            }
            .price-discount {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 62px;
                height: 59px;
                text-align: center;
                background: url('#{$img-path}/mobile/icon_arrow.png') no-repeat 0 0;
                background-size: 100% auto;
                @include rwdWidth(400){
                    width: 72px;
                    height: 69px;
                }
                @include rwdWidth(500){
                    width: 82px;
                    height: 79px;
                }
                @include rwdWidth(600){
                    width: 92px;
                    height: 89px;
                }
                @include rwdWidth(700){
                    width: 124px;
                    height: 118px;
                }
                strong {
                    display: block;
                    @include rem(margin-top, 10px);
                    line-height: 1.2;
                    @include vw(30px);
                    font-weight: 700;
                    color: #fff;
                }
                & + .price-list .price-after{
                    text-align: right !important;
                }
            }
            .price-before {
                @include vw(30px);
                font-weight: 500;
                color: #bbb;
                text-decoration: line-through;
                strong { font-family: $font-roboto; }
            }
            .price-after {
                line-height: 1;
                @include vw(78px);
                font-weight: 700;
                color: #f4280c;
                text-align: center;
                strong {
                    font-family: $font-roboto;
                    font-weight: 900;
                }
            }
            .action {
                @include rem(margin-top, 20px);
                a { @include pointer(80%, 0, 60px, 66px, 12, bounce); }
            }
            .notice {
                @include rem(margin-top, 20px);
                text-align: left;
                @include vw(20px);
                color: #999;
            }
        }
        &.bottom{
            box-sizing: border-box;
            @include rem(padding-bottom,100px);
            .item.apply{
                position: static;
                margin-top: percent(-820,1890);
                margin-left: percent(50);
                margin-right: percent(50);
            }
        }
    }
    &-line {
        background-color: #ffc20e;
        .ico{
            z-index: 10;
            position: absolute;
            top: 100%;
            left: 50%;
            display: block;
            width: 42%;
            transform: translate(-50%,0);
        }
    }
    &-curriculum{
        background-color: #f0f0f0;
        
        .slick-dots{
            position: absolute;
            left: 0;
            width: 100%;
            bottom: percent(130, 678);
        }
    }
    &-reason{
        .btn-prize {
            position: absolute;
            bottom: percent(610, 2747);
            right: percent(50);
            width: 26.1%;
            a { display: inline-block; }
        }
    }
    &-interview{
        @include rem(padding-bottom, 130px);
        background-color: #0c1d61;
        .item{
            width:percent(620);
            margin: 0 auto;
            
        }
    }
    &-strategy1{
        .item{
            position: relative;
        }
        .inner{
            position: absolute;
            bottom:0;
            left: 50%;
            width:percent(620);
            transform: translateX(-50%);
        }
        .slick-dots{
        @include rem(margin, 50px 0);
        }
    }
    

    &-strategy2{
        .best{
            position: absolute;
            top: percent(142, 836);
            left: percent(311);
            @include vw(40px);
            line-height: 1;
            font-weight: 800;
            letter-spacing: -3px;
            color: #222;
        }
        .btn-bestseller{
            position: absolute;
            top: percent(670, 836);
            right: percent(50);
            width: percent(288);
            a { display: inline-block; }
        }
    }

    &-strategy3{
        .text-box{
            position: absolute;
            top:percent(330,1006);
            left:percent(80);
            width: percent(220);
            color:#222;
            text-align: center;
            > *{
                letter-spacing: -3px;
                opacity: .7;
            }
        }
        .text1{
            @include vw(33px);
            font-weight: 700;
            line-height: 1;
            opacity: .8;
        }
        .text2{
            @include vw(40px);
            font-weight: 800;
            opacity: .8;
        }
        .text3{
            @include vw(26px);
            text-align: left;
            > li{
                border-bottom: 1px solid #b7b7b7;
                @include rem(padding,10px 0);
                line-height: 1.2;
                span{
                    display: block;
                }
                ul{
                    @include rem(margin-top,15px);
                    li{
                        padding:0;
                         @include vw(24px);
                    }
                }
                &:last-child{
                    border-bottom:0;
                }
            }
        }
        .text4{
            position: absolute;
            top:percent(370,1006);
            left:percent(430);
            color:#2320c9;
            @include vw(30px);
            font-weight: 800;
            line-height:1;
            letter-spacing: -2.5px;

        }
        .text5{
            position:absolute;
            top:percent(700,1006);
            left:percent(410);
            color:#fff;
            @include vw(30px);
            font-weight: 600;
            span{
                display: block;
                @include vw(42px);
                font-weight: 800;
            }
        }
    }

    &-strategy5{
        @include rem(padding, 0 0 100px);
        .video-wrap {
            margin: 0 percent(50);
            .video {
                position: relative;
                @include rem(margin-top, 30px);
                background-color:#000;
                button,
                video {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                }
                button { z-index: 1; }
            }
        }
        .text{
            @include vw(40px);
            font-weight: 800;
            color:#222;
            @include rem(padding, 20px 0 40px);
            line-height: 1;
        }
    }
}
