@charset "UTF-8";
.grid {
  *zoom: 1;
}

.grid:before, .grid:after {
  content: '';
  display: table;
}

.grid:after {
  clear: both;
}

.hidden,
.sr_only,
.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.table {
  display: table;
}

.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.product-eco .slick-dots button {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  display: none;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 10001;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  max-width: 620px;
  width: 100%;
  height: auto;
  background-color: #fff;
  line-height: 1;
  letter-spacing: -1px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 1100px) {
  .popup {
    max-width: 1000px;
  }
}

.popup-close {
  cursor: pointer;
  display: inline-block;
  width: 56px;
  height: 56px;
  position: absolute;
  top: -0;
  right: -0;
  z-index: 2002;
}

.popup-close:before, .popup-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #000;
}

.popup-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.popup-body {
  padding: 0;
}

@media screen and (min-width: 1100px) {
  .popup-body {
    padding: 0.625rem;
  }
}

@media screen and (min-width: 1100px) and (min-width: 720px) {
  .popup-body {
    padding: 20px;
  }
}

.popup-body p {
  font-size: 3.33333vw;
}

@media screen and (min-width: 720px) {
  .popup-body p {
    font-size: 24px;
  }
}

@media screen and (min-width: 1100px) {
  .popup-body p {
    font-size: 18px;
  }
}

.popup-body .table-box table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-top: 3px solid #ccc;
  margin-top: 50px;
}

.popup-body .table-box table p {
  line-height: 1.4;
  padding: 0;
  margin: 0;
  text-align: center;
}

.popup-body .table-box table thead th {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-weight: 800;
}

.popup-body .table-box table thead th strong {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 2.77778vw;
}

@media screen and (min-width: 720px) {
  .popup-body .table-box table thead th strong {
    font-size: 20px;
  }
}

.popup-body .table-box table tbody tr td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.popup-body .table-box table tbody tr td:last-child {
  border-right: none;
}

.popup-body .table-box table tbody tr td:nth-child(1), .popup-body .table-box table tbody tr td:nth-child(2) {
  text-align: center;
}

.popup-body .table-box table tbody tr td:nth-child(1) p, .popup-body .table-box table tbody tr td:nth-child(2) p {
  text-align: center;
}

.popup-body .table-box table tbody tr td:nth-child(3), .popup-body .table-box table tbody tr td:nth-child(4) {
  text-align: left;
}

.popup-body .table-box table tbody tr td:nth-child(3) p, .popup-body .table-box table tbody tr td:nth-child(4) p {
  text-align: left;
}

.popup-body .table-box table tbody tr td strong {
  font-weight: normal;
}

.popup-body .table-box table tbody tr td p {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 2.5vw;
  font-weight: normal;
}

@media screen and (min-width: 720px) {
  .popup-body .table-box table tbody tr td p {
    font-size: 18px;
  }
}

.product-eco * {
  line-height: normal;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.product-eco .wrap {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .holder {
  position: relative;
}

.product-eco .pointer {
  position: relative;
  display: inline-block;
}

.product-eco .pointer:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  display: block;
  width: 60px;
  height: 66px;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounce;
          animation-name: pointerBounce;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.product-eco .slick-dots {
  text-align: center;
  margin-top: 0px;
}

.product-eco .slick-dots li {
  margin: 0 5px;
  background: #d3d3d3;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
}

.product-eco .slick-dots li button {
  opacity: 0;
}

.product-eco .slick-dots li.slick-active {
  background: #7e5eff;
}

.product-title {
  z-index: 1;
  background-color: #eeeeee;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_105/product/210608/pc/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-rightbanner.pointer {
  position: relative;
  display: inline-block;
}

.product-rightbanner.pointer:after {
  content: '';
  position: absolute;
  top: 86%;
  right: 0;
  z-index: 1;
  display: block;
  width: 60px;
  height: 66px;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounce;
          animation-name: pointerBounce;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.product-textbanner {
  background: #333c4b;
  padding: 20px 0;
}

.product-textbanner .open-date {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
  color: #fff;
  font-weight: bold;
  font-size: 55px;
  line-height: 1.4;
}

.product-applybox {
  padding: 100px 0;
}

.product-applybox .apply-box {
  position: relative;
  width: 1000px;
  height: 587px;
  margin: 0 auto;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_105/product/210608/pc/bg_applybox.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}

.product-applybox .apply-box > span {
  display: inline-block;
  text-align: center;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  line-height: 1.3;
}

.product-applybox .apply-box span.main {
  width: 90%;
  border-bottom: 1px solid #6a71ff;
  color: #6a71ff;
  font-size: 65px;
  letter-spacing: -3px;
  font-weight: bold;
  padding-top: 60px;
  padding-bottom: 30px;
}

.product-applybox .apply-box span.info {
  color: #333c4b;
  font-weight: 500;
  font-size: 34px;
  padding-top: 30px;
}

.product-applybox .apply-box span.noti {
  color: #333c4b;
  font-size: 24px;
  padding-top: 30px;
  display: block;
}

.product-applybox .apply-box a {
  background: #6a71ff;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 25px 0;
  display: block;
}

.product-applybox .apply-box a span {
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
}

.product-applybox .apply-box a span:after {
  left: 50%;
  margin-left: 300px;
}

.product-applybox.bottom .apply-box {
  width: 1000px;
  position: absolute;
  z-index: 7;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -253px;
}

.product-benefit {
  background: #6a71ff;
}

.product-check {
  background: #333c4b;
}

.product-instance {
  background: #fff;
}

.product-teacher {
  background: #fff;
}

.product-care {
  background: #f0f0f0;
}

.product-training {
  background: #fff;
}

.product-curriculum {
  background: #333c4b;
}

.product-curriculum a {
  position: absolute;
  z-index: 7;
  top: 820px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.product-report {
  background: #f0f0f0;
  padding-bottom: 70px;
}

.product-report .wrap {
  width: 100%;
}

.product-report .report-slide {
  max-width: 1400px;
  margin: 0 auto;
}

.product-report .report-slide .slick-list {
  width: 100%;
  margin: 0 auto;
  padding: 0 !important;
}

.product-report .report-slide .slick-slide {
  z-index: 3;
  opacity: .4;
  margin: 0 -20px;
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
}

.product-report .report-slide .slick-slide.slick-current {
  z-index: 7;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}

.product-report .report-slide .slick-slide img {
  width: 100%;
}

.product-reason {
  background: #f0f0f0;
  padding-bottom: 100px;
}

.product-reason .wrap {
  width: 100%;
}

.product-reason .reason-slide {
  margin: 0 auto;
}

.product-reason .reason-slide .slick-slide {
  margin: 0 10px;
  padding-bottom: 50px;
  opacity: .3;
  -webkit-filter: blur(0);
  filter: blur(0);
}

.product-reason .reason-slide .slick-slide img {
  width: 100%;
}

.product-reason .reason-slide .slick-slide.slick-active {
  opacity: .3;
  -webkit-filter: blur(0);
  filter: blur(0);
}

.product-reason .reason-slide .slick-slide.slick-center {
  opacity: 1;
  -webkit-filter: blur(1);
  filter: blur(1);
}

.product-reason .reason-slide .slick-slide p {
  overflow: hidden;
  -webkit-box-shadow: 10px 15px 20px 10px rgba(130, 130, 130, 0.4);
  box-shadow: 10px 15px 20px 10px rgba(130, 130, 130, 0.4);
}
/*# sourceMappingURL=web.css.map */