@{
    string progressCd = (string)ViewBag.ProgressCd;
    string platformDir = (string)ViewBag.platformCd == "W" ? "pc" : "mobile";
    String platform = ("W".Equals(ViewBag.PlatformCd))? "pc": "mobile";
}
<div id="contents" class="promotion promotion-@progressCd">
    
    <!-- 소구점 -->
    <div data-eduwill-eco-content="3199"></div>
    <!-- // 소구점 -->

	<div class="promotion-title type2">
		 <div class="wrap">
			<button type="button" class="btn-base type2" onclick="popupOpen('.popup-dim', 'popupBase');">
			<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/btn_white.png" alt="근거보기">
			</button>
		@if ("W".Equals(ViewBag.PlatformCd)){
			<p class="title-1">
				<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/pc/title_220114.png" alt="이제 더 이상의 환승은 NO 1위 에듀윌로 정착하고 단기합격 YES" />
			</p>
			<div class="text-box">
				<a href="#eventMove" class="pointer page-move">
					<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/pc/btn_half.png" alt="지금 50% 할인받고 에듀윌로 환승하기" />
				</a>
			</div>
			}else{
				<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/mobile/title_220114.png" alt="이제 더 이상의 환승은 NO 1위 에듀윌로 정착하고 단기합격 YES">
				<div class="text-box">
					<a href="#eventMove" class="pointer page-move">
						<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/mobile/btn_half.png" alt="지금 50% 할인받고 에듀윌로 환승하기" />
					</a>
				</div>
			}
			</div>
			<div class="train">	<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/pc/train.png" alt="기차" /></div>
    </div>
	<div class="promotion-transfer">
		<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/transfer.jpg" alt=" 이 중 하나라도 해당된다면 지금 바로 에듀윌로 환승하세요!">
	</div>
	<div class="promotion-coupon">
		<div class="wrap-full">
			<span class='flag'>기간한정</span>
			<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/coupon_220114.png" alt=" 지금 에듀윌로 환승하면 오직 에듀윌만 있는 세무회계 평생 프리패스">
		</div>
	</div>	
	<div class="promotion-benefit">
		<div class="wrap-full">
			<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/benefit_220114.jpg" alt=" 에듀윌 세무회게 평생 프리패스로 환승하고 세무 회계 자격증 스펙 완성하자">
			<button type="button" class="btn-base" onclick="popupOpen('.popup-dim', 'popupBase');">
				<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/btn_gray.png" alt="근거보기">
			</button>
			<div class="action">
				@if ("W".Equals(ViewBag.PlatformCd))
				{
					<a class="pointer" href="https://account.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MTg5Mjc=" target="_blank" >
						<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/btn_freepass_220114.png" alt="세무회계 평생 프리패스 자세히보기">
					</a>
				}else{
						<a class="pointer" href="https://brand.eduwill.net/sugang/view.will?mSeq=35053&progress=U" target="_blank" >
						<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/btn_freepass_220114.png" alt="세무회계 평생 프리패스 자세히보기">
					</a>
				}
			</div>
		</div>
	</div>
	<div class="promotion-event type2 " id="eventMove">
		<div class="train-area type2">
				<div class="wrap">
					<div class="event-box">
						<div class="event-title">
								<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/event_title.png" alt=" 3초면 끝! 에듀윌로 환승하고 합격하는 방법">
						</div>
					</div>
					<div class="train-box">
						<div class="train-mini only-pc">
							<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/pc/train_mini.png" alt="기차" />
						</div>
						<div class="train-line only-pc">
							<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/pc/bg_train.png" alt="레일" />
						</div>
						<div class="step-box">
							<div class=" step step1">
								<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/train1_off.png" alt="" />
								<div class="step-text">
									타사 수강이력<br><b>인증 화면 캡쳐하기</b>
								</div>
							</div>
							<div class=" step step2">
								<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/train2_off.png" alt="" />
								<div class="step-text">
								캡처한 이미지<br><b>업로드하기</b>
								</div>
							</div>
							<div class=" step step3">
								<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/train3_off.png" alt="" />
								<div class="step-text">
									50% 할인쿠폰 받고<br><b>할인 결제하기</b><br>
									<small>*업로드 후, 24시간 이내 지급(주말의 경우 48시간 이내)</small>
								</div>
							</div>
						</div>
					</div>
					<div class="action">
						<button type="button" class="pointer" onClick="javascript:popupOpen('.layer-dimmed', 'popup-post');" >
							<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/btn_half.png" alt="지금 50% 할인받고 에듀윌로 환승하기" />
						</button>
					</div>
				</div>
				<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/notice.png" alt="">
		</div>
    </div>
    <div class="promotion-band">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/band.png" alt="다른 곳에서는 못합니다. 오직 에듀윌만의 압도적인 차이를 확인하세요">
        </div>
    </div>
	<div class="promotion-brand">
		<div class="wrap">
			 <img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/brand_220114.png" alt="4년 연속 1위 재경관리사 대표 브랜드, 에듀윌!">
			<button type="button" class="btn-base" onclick="popupOpen('.popup-dim', 'popupBase');">
				<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/btn_gray.png" alt="근거보기">
			</button>
		</div>
	</div>
    <div class="promotion-winner">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/winner_title.png" alt="앞도적 1위 에듀윌 왕초보 10명중 10명 한 방에 합격">
            <div class="winner-wrap">
                <div class="winner-list"></div>
            </div>
        </div>
    </div>
	<div class="promotion-review">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/review_title.png" alt="비전공자도 에듀윌에서 1개월 합격! 직장과 학업을 병행해도 2개월이면 합격!">
            <div class="video-box video-1">
                <div class="video">
                    <a class="eduwill-video-play" href="javascript:;">
                        <img alt="" src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/thumb_1.png">
                    </a>
                    <video class="eduwill-video-player" controls="" height="100%" poster="" width="100%"><source src="" type="video/mp4"></video>
                </div>
            </div>
            <div class="video-box video-2">
                <div class="video">
                    <a class="eduwill-video-play" href="javascript:;">
                        <img alt="" src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/thumb_2.png">
                    </a>
                    <video class="eduwill-video-player" controls="" height="100%" poster="" width="100%"><source src="" type="video/mp4"></video>
                </div>
            </div>
            <div class="review-contents">
				@if ("W".Equals(ViewBag.PlatformCd))
				{
					<div class="slider-multiple">
						<div>
							<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/pc/review_slide1.png" alt="리뷰1">
						</div>
						<div>
							<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/pc/review_slide2.png" alt="리뷰2">
						</div>
						<div>
							<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/pc/review_slide3.png" alt="리뷰3">
						</div>
						<div>
							<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/pc/review_slide4.png" alt="리뷰4">
						</div>
						<div>
							<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/pc/review_slide5.png" alt="리뷰5">
						</div>
						<div>
							<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/pc/review_slide6.png" alt="리뷰6">
						</div>
					</div>
				}else{
					<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/mobile/review.png" alt="리뷰">
				}
                <div class="btn">
                    <a href="https://event.eduwill.net/VictoryStory/U/Finance_Economy?_gl=1" target="_blank" class="action">
                          <img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/btn_review.png" alt="실시간업데이트중! 합격수기더보기">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="promotion-growth">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/growth_220114.jpg" alt="1위의 신화는 계속됩니다.">
        </div>
    </div>
	<div class="promotion-content1">
		<div class="wrap">
			    @if ("W".Equals(ViewBag.PlatformCd))
            {
				<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/pc/content_01.jpg" alt="교수님들">
				<div class="action">
					<a href="https://event.eduwill.net/Event/2021/U/NewLineUp" target="_blank"><img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/pc/content_01_btn.jpg" alt="교수님자세히보기"></a>
				</div>
			}
			else{
				<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/mobile/content_01.jpg" alt="교수님들">
				<div class="action">
					<a href="https://event.eduwill.net/Event/2021/U/NewLineUp" target="_blank"><img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/pc/content_01_btn.jpg" alt="교수님자세히보기"></a>
				</div>
				<div class="slider">
					<div><img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/mobile/content_01_slide1.jpg" alt="교수님들"></div>
					<div><img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/mobile/content_01_slide2.jpg" alt="교수님들"></div>
				</div>

			}
		</div>
	</div>
	<div class="promotion-content2">
		<div class="wrap">
				<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/content_02.jpg" alt="">
			</div>
	</div>
	<div class="promotion-content3">
			<div class="wrap">
				<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/content_03.jpg" alt="">
			</div>
	</div>

	<div class="promotion-content4">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/content_04.jpg" alt="">
			<button type="button" class="btn-base" onclick="popupOpen('.popup-dim', 'popupBase');">
				<img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/content_04_btn.jpg" alt="근거보기">
			</button>
		</div>
	</div>
	

	<div class="promotion-optimization">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/optimization.jpg" alt="합격을 위해 최적화 된 학습 환경 제공">
        </div>
    </div>
    <div class="promotion-prize">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2021/U/event/211118/@platformDir/prize_220114.jpg" alt="한방에 합격도 단기 합격도 검증된 곳에서 제대로 해야 가능합니다.">
        </div>
    </div>
	<div class="promotion-only">
		@if ("W".Equals(ViewBag.PlatformCd))
		{
			<div class="eco-2181" data-eduwill-eco-content="2181"></div>
		}
		else
		{
			<div class="eco-2182" data-eduwill-eco-content="2182"></div>
		}
	</div>
    <div>
        @* 소문내기 영역 *@
        <link rel="stylesheet" type="text/css" href="//img.eduwill.net/eduwill/live/css/common/privacy_multi.css" />
        <script type="text/javascript" src="//img.eduwill.net/resources/event/live/js/common/download.js"></script>
        <script type="text/javascript" src="//img.eduwill.net/resources/common/web/js/vue/vue.js"></script>
        <div id="SomunDiv" style="display:none;">
            <somun-component :mode="mode"
                             :url_yn="url_yn"
                             :url_pc="url_pc"
                             :url_mo="url_mo"
                             :hashtag="hashtag"
                             :step1="step1"
                             :step2="step2"
                             :hash_yn="hash_yn"
                             :downimg_yn="downimg_yn"
                             :notice="notice"
                             :somunlist="somunlist"
                             :pages="pages"
                             :grlist="grlist"
                             :reply_yn="reply_yn"
                             :page="page"
                             :totalcount="totalcount"
                             :mainimg_path_pc="mainimg_path_pc"
                             :mainimg_path_mo="mainimg_path_mo"
                             :guide="guide"
                             :pagesize="pagesize"
                             :pagercount="pagercount"
                             :downimg_path="downimg_path"
                             :main_bg_color="main_bg_color"
                             :bg_color="bg_color"
                             :btn_text_color="btn_text_color"
                             :btn_color="btn_color"
                             :btn_border="btn_border"></somun-component>
        </div>
        <script src="~/js/somun/Somun.js"></script>
        <script>
			var platform_cd = "@(ViewBag.PlatformCd)"
			_somunidx = 29;
            if (platform_cd == "M")
            {
                $(window).load(function () {
                    _popTop = $('.promotion-sns-event .form-box').offset().top;
                });
            }
            somuninit();
        </script>

    </div>
   
</div>
@* 근거보기팝업 *@
<div class="popup-dim"></div>
<div id="popupBase" class="popup popup-base">
    <div class="popup-body">
         <strong>[4년 연속 재경관리사 1위]</strong>
* 2019 한국브랜드만족지수 재경관리사 교육 1위<br>
* 2020 한국브랜드만족지수 재경관리사 교육 1위<br>
* 2022 대한민국 브랜드만족도 재경관리사 교육 1위<br>
* 2022 대한민국 브랜드만족도 재경관리사 교육 1위<br>

 <strong>[삼일회계법인 최우수기관 인증]</strong>
* 2021년 12월 삼일회계법인 최우수기관 인증<

 <strong>[세무회계 교육 1위]</strong>
* 2022 대한민국 브랜드만족도 세무회계 교육 1위<

 <strong>[추천도/만족도]</strong>
* 에듀윌 재경관리사 83회(회계관리1급 88회) 환급자 설문조사 결과(2021.05)<
 <strong>[합격자 증가]</strong>
* 에듀윌 재경관리사 제66회,회계관리 제71회 시험/재경관리사 제81회,회계관리 86회 시험 응시 에듀윌 수강생 중 합격자 수 비교<

 <strong>[업계최초 맞춤 커리큘럼 제공]</strong>
* 업계최초 재경관리사 맞춤 커리큘럼 제공(*주요 재경관리사 인강업체 조사 결과)<

 <strong>[검증된 교육기관]</strong>
* 업계최초 대통령상 3관왕 및 정부기관상 17관왕 달성<

 <strong>[모의고사 만족도 100%]</strong>
* 에듀윌 재경관리사 11월 가채점 서비스 설문조사 결과(2021.11)<

    </div>
    <a href="javascript:;" class="popup-close" onclick="popupClose('.popup-dim', 'popupBase');"><span class="sr-only">닫기</span></a>
</div>
@* 재시생/타사환승인증팝업 *@
<div class="layer-dimmed"></div>
<div class="popup2" id="popup-post">
    <div class="popup-close2 ">
        <a href="javascript:popupClose('.layer-dimmed', 'popup-post');"><span class="sr-only">팝업 닫기</span></a>
    </div>
    <div class="popup-title">
        <p><strong>재시생/타사환승 인증하기</strong></p>
    </div>
    <div class="popup-cont">
        <div class="cont-box">
            <div class="form">
                <div class="form-title">1. 인증 유형을 선택해 주세요.</div>
                <div class="type-check">
                    <input type="radio" name="type" id="type-1" value="재시생">
                    <label for="type-1">재시생</label>
                    <input type="radio" name="type" id="type-2" value="타사환승생">
                    <label for="type-2">타사환승생</label>
                </div>
            </div>
            <div class="form image">
                <div class="form-title">2. 타사 강의구매 내역 이미지(캡처본)을 업로드 해주세요.</div>
                <div class="file-upload">
                    <div class="filebox">
                        <input class="upload-name" id="fileName" value="" readonly="readonly">
                        <label for="fileUpload">파일첨부</label> 
                        <input type="file" id="fileUpload" name="ticketImg" class="upload-hidden">
                    </div>
                </div>
            </div>
            <div class="tip-note">*타사 세무·회계 자격증 과목 온라인/오프라인/국비지원무료교육 수강증, 나의강의실/교재 이미지 등등</div>

            <!-- 개인정보 수집내용 -->
            <div class="comment-privacy">
                <div class="wrap">
                    <div class="agree_check">
                        <input type="checkbox" name="personalYn2" id="personalYn2" value="Y">
                        <label for="personalYn2">개인정보 수집 및 이용에 동의 (필수)</label>
                    </div>
                    <div class="scroll_box">
                        <strong>(주)에듀윌은 본 이벤트를 위해 다음과 같이 참여자의 개인정보를 수집 및 이용합니다.</strong>
                        1. 수집 및 이용 목적 : 참여자 정보 확인, 50% 할인쿠폰 제공<br>
                        2. 개인정보 수집 항목 : 이름, 휴대폰 번호<br>
                        3. 개인정보 보유/이용 기간 : <em>이벤트 종료 후 60일</em><br>
                        <strong class="highlight">4. 수험표 이미지 등록 시 이름, 수험번호 외 개인정보(사진, 생년월일 등)는 불필요하게 노출되지 않도록 주의 부탁드립니다.</strong>
                        5. 이벤트 신청 회원은 개인정보 수집 및 이용을 거부할 수 있습니다. 단, 거부할 경우 본 이벤트 신청이 제한됩니다.
                    </div>
                </div>
            </div>

            <div class="popup-btn">
                <a href="javascript:SetUserInfo();"><span>인증 완료하고 할인쿠폰 받기</span></a>
            </div>
        </div>
    </div>
</div>



<script src="https://img.eduwill.net/eduwill/live/js/common/script.js"></script>
<script src="https://img.eduwill.net/eduwill/live/js/common/eduf.js"></script>
<script type="text/javascript" src="//img.eduwill.net/resources/eduwill/dev/js/greensock/TweenMax.min.js"></script>
<script type="text/javascript">
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
    var str = 'event.eduwill.net';
    var checkUrl = url.indexOf(str);

    $(function () {
        $(window).on('load', function () {
            frontInit();
        });
    });

    function frontInit() {
		checkResolution('.promotion-sale');
    	pageMove('.page-move');
    	winnerList();
        addSlide();
		addEvent();

		$('.page_move').on('click', function (e) {
            e.preventDefault();

            var _top = $($(this).attr('href'));
            var $target = _top.offset().top;

            $('html,body').animate({
                scrollTop: $target
            }, 500);
        });
		    function checkResolution(e) {
        if (isMobile || !checkUrl) {
            replaceImageLinks(e, 'pc', 'mobile');
            //console.log('mobile');
        } else {
            replaceImageLinks(e, 'mobile', 'pc');
            //console.log('pc');
        }
    }

    function replaceImageLinks(target, basic, change) {
        $(target + ' a').each(function () {
            var pcLink = $(this).data("pcLink");
            var mobileLink = $(this).data("mobileLink");
            $(this).attr("href", change == "pc" ? pcLink : mobileLink);
        });
    }

    function addSlide() {
        $('.slider-multiple').each(function () {
            if (isMobile) {
                _show = 1;
                _center = true;
            } else {
                _show = 3;
                _center = false;
            }
            $(this).slick({
                autoplay: true,
                autoplaySpeed: 3000,
                speed: 1000,
                infinite: true,
                arrows: false,
                dots: true,
                mobileFirst: true,
                centerMode: _center,
                slidesToShow: _show,
                slidesToScroll: 1
            });
        });
	}
    function winnerList() {
        var options = {
            jsonFileNm: "U202000_WINNER.min",
        };

        var _row;
        var _show;
        if (isMobile && checkUrl != -1) {
            _row = 3;
            _show = 5;
        } else {
            _row = 5;
            _show = 8;
        }

        var slickOptions = {
            speed: 1000,
            slidesPerRow: _row,
            slidesToShow: _show,
        };

        eduf.UI.Winner(".winner-list", options, slickOptions);
    }
	function addEvent(){

        $('.slider').slick({
            arrows:false,
            dots: true,
            infinite: true,
            speed: 500,
            autoplay: true,
            autoplaySpeed: 2000,
        });

		// 신청하기 영역 이동
		$('.page-move').on('click', function(e) {
			e.preventDefault();

			var _top = $($(this).attr('href'));
			var $target = _top.offset().top-0;

			$('html,body').animate({
				scrollTop: $target
			}, 500);
		});

       	//$(".btn_click").on("click",function(){
        //    rotation();
        //});

       	/* 팝업 */
		$(document).on('click', '.btn-popup', function(){
			var pop = $(this).attr('pop-name');
			setTimeout(function(){
				popupOpen('.dimmed', pop);
			}, 100);
		});

		$(document).on('click', '.popClose', function(){
			$('.video-cont').html('');
			var pop = $(this).closest('.popup').attr('id');
			popupClose('.dimmed', pop);
		});

		var thumbList = $('#thumbList').slick({
			infinite: true,
			slidesToShow: 3,
			slidesToScroll: 3,
			dots: false,
			arrows: true,
			speed: 500
		});

		$("#thumbList .btn-preview").on("click", function () {
			var $this = $(this);
			var index = $("#thumbList .btn-preview").index(this);
			var el = $(this).attr('href');
			var $target = $(el);

			//다른 영상 모두 정지
			$(".video-box .video").each(function () {
				$(this).find('video').remove();
			});

			$('#thumbList .btn-preview').parent('.col').removeClass('in');
			$this.parent('.col').addClass('in');

			//video-box 제어
			$('.video-box').hide();

			//내꺼만 보이기
			$target.show();
			$('.video-box .btn-play').show();
			return false;
		});

		/* 영상 재생 */
		$(document).on('click', '.eduwill-video-play', function(){
			var videoSrc = [
				"https://pmp.eduwill.net/eduwillpmp/eduwill/flv/20210604_2/interview_video4_1.mp4",
				"https://pmp.eduwill.net/eduwillpmp/eduwill/flv/20210604_2/interview_video1_1.mp4"
			];
			var $video = $(this).closest('.video-box');
			var idx = $video.index() - 1;

			$('.video-box').find('.video video').remove();
			$('.eduwill-video-play').show();

			$video.find('.video').append('<video autoplay muted loop controls><source src="' + videoSrc[idx] + '" type="video/mp4"></video>');
			$(this).fadeOut();
		});
	}
        
        var fileTarget = $('.filebox .upload-hidden');
        fileTarget.on('change', function(){
            if(window.FileReader){
                var filename = $(this)[0].files[0].name;
            } else {
                var filename = $(this).val().split('/').pop().split('\\').pop();
            }
            $(this).siblings('.upload-name').val(filename);
        });

        if(isMobile){
            $('.notice-box .btn-toggle').on('click', function(){
                if($(this).hasClass('close')){
                    $(this).removeClass('close');
                    $(this).text('펼처보기');
                    $('.notice-box .notice').hide();
                }else{
                    $(this).addClass('close');
                    $(this).text('닫기');
                    $('.notice-box .notice').show();
                }
            });
            stepList();
        }else{
            onComplete();
        }
    }

    function stepList(){
        var _listIdx = 1;
        var _listLength = $('.step-box > div').length;
        _list = setInterval(function(){
            if( _listIdx > _listLength) { _listIdx = 1; }

            var $step = $('.step-box > div');
            $step.each(function(){
                $(this).removeClass('on');
                $(this).find('img').attr('src', $(this).find('img').attr('src').replace('_on','_off'));	
            });
            $step.eq(_listIdx-1).addClass('on').find('img').attr('src', $step.eq(_listIdx-1).find('img').attr('src').replace('_off','_on'));

            _listIdx ++;
        }, 1500);
    }

    function stepReset() {
        $(".step-box").children("div").each(function () {
            $(this).children("img").attr('src', $(this).children('img').attr('src').replace('_on', '_off'));
        });
    }

    function onComplete() {
   
        TweenMax.fromTo($(".train"), 10, { x: 0, opacity: 1 }, { x: $(window).width() + 987, opacity: 1, repeat: -1, ease: Power4.eaesInOut });

        var _tweenMotion = TweenMax.fromTo($(".train-mini"), 1, { x: -200, opacity: 0 }, {
            x: 100, opacity: 1, ease: Power4.eaesInOut, onComplete: function () {
                stepReset();
                $(".step1").children('img').attr('src', $(".step1").children('img').attr('src').replace('_off', '_on'));
                $(".step1").addClass('on').siblings().removeClass('on');

                TweenMax.fromTo($(".train-mini"), 1, { x: 100 }, {
                    x: 500, opacity: 1, delay: 0.5, ease: Power4.eaesInOut, onComplete: function () {
                        stepReset();
                        $(".step2").children('img').attr('src', $(".step2").children('img').attr('src').replace('_off', '_on'));
                        $(".step2").addClass('on').siblings().removeClass('on');

                        TweenMax.fromTo($(".train-mini"), 1, { x: 500 }, {
                            x: 910, opacity: 1, delay: 0.5, ease: Power4.eaesInOut, onComplete: function () {
                                stepReset();
                                $(".step3").children('img').attr('src', $(".step3").children('img').attr('src').replace('_off', '_on'));
                                $(".step3").addClass('on').siblings().removeClass('on');

								setTimeout(function(){
                                    TweenMax.fromTo($(".train-mini"), 1, { x: 910 }, {
                                        x: 910, opacity: 1, delay: 0., ease: Power4.eaesInOut, onComplete: function () {
                                            stepReset();
                                            $(".flash").addClass("active");

                                            TweenMax.fromTo($(".train-mini"), 1, { x: 910 }, {
                                                x: 1300, opacity: 1, delay: 0.5, ease: Power4.eaesInOut, onComplete: function () {
                                                    $(".flash").removeClass("active");
                                                    _tweenMotion.restart();
                                                }
                                            });
                                        }
                                    });
                                },1100);
								
                            }
                        });
                    }
                });
            }
        });
    }
</script>