@{
	String platform = ("W".Equals(ViewBag.PlatformCd))? "pc": "mobile";
}

@*
@if ("W".Equals(ViewBag.PlatformCd)){}
*@

<div class="promotion">

	<div class="sector-title">
		<div class="wrap">
			@* <img src="//img.eduwill.net/eduwill/img/2022/G/event/220331/@platform/title.jpg" alt=""> *@
			<p class="text-1"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220331/pc/text_1.png" alt=""></p>
			<p class="text-2"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220331/pc/text_2.png" alt=""></p>
			<p class="text-3">
				기간 : 3/10(목) ~ 3/29(화)<br>
				상품 : 3만원 중복할인권(100% 당첨), <br class="only-mobilebr">버거킹 와퍼세트(추첨 20명)
			</p>
			<p class="title-1"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220331/pc/title_1.png" alt=""></p>
			<p class="title-2"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220331/pc/title_2.png" alt=""></p>
			<p class="title-3"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220331/pc/title_3.png" alt=""></p>
			<p class="title-4"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220331/pc/title_4.png" alt=""></p>
		</div>
	</div>

	<div class="sector-bar">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/G/event/220331/@platform/bar.jpg" alt="">
		</div>
	</div>

	@* 테스트 *@
	<div id="sectorTest" class="sector-test">
		<div class="wrap">
			<div class="test-box">

				<ul class="number-list tab-list">
					<li class="active">Step 01. <span>목표 시험 설정</span></li>
					<li>Step 02. <span>내 스타일 확인</span></li>
					<li>Step 03. <span>취약과목 확인</span></li>
					<li>Step 04. <span>결과발표</span></li>
				</ul>

				<div class="tab-view tab-view-1">
					<p class="question">시험 직렬을 선택하세요</strong></p>
					<div class="answer">
						<select id="" class="answer-select" name="test1">
							<option value="직렬선택">직렬선택</option>
							<option value="일반행정">일반행정</option>
							<option value="교육행정">교육행정</option>
							<option value="사회복지">사회복지</option>
							<option value="세무 관세">세무 관세</option>
							<option value="군무원(행정직)">군무원(행정직)</option>
							<option value="군무원(군수직)">군무원(군수직)</option>
							<option value="법원 검찰 교정">법원 검찰 교정</option>
							<option value="간호보건">간호보건</option>
							<option value="운전">운전</option>
							<option value="토목">토목</option>
							<option value="건축">건축</option>
						</select>
					</div>
					<div class="action">
						<button class="btn" onclick="tabControl(1)"><span>START</span></button>
					</div>
				</div>
				<div class="tab-view tab-view-2">
					<p class="question">내 스타일을 골라 주세요</p>
					<div class="answer">
						@* input id = label for *@
						<div class="fake-select">
							<input type="radio" class="radio" name="test2" id="radio1A">
							<label for="radio1A" class="answer-a">
								<strong>합격생 선택 1위</strong>
								<span>안정형</span>
							</label>
						</div>
						<div class="fake-select">
							<input type="radio" class="radio" name="test2" id="radio1B">
							<label for="radio1B" class="answer-b">
								<strong>재미있고 쉬운 강의</strong>
								<span>초시생/노베이스</span>
							</label>
						</div>
						<div class="fake-select">
							<input type="radio" class="radio" name="test2" id="radio1C">
							<label for="radio1C" class="answer-c">
								<strong>공부시간 단축</strong>
								<span>컴팩트한 강의</span>
							</label>
						</div>
					</div>
					<div class="action">
						@* 버튼 활성화 시 class삭제 > disable *@
						<button class="btn disable" onclick="tabControl(2)"><span>다음</span></button>
					</div>
				</div>
				<div class="tab-view tab-view-3">
					<p class="question">취약과목은 무엇인가요?</p>
					<div class="answer">
						@* input id = label for *@
						<div class="fake-select">
							<input type="radio" class="radio" name="test3" id="radio2A">
							<label for="radio2A" class="answer-a">
								<strong>국어</strong>
							</label>
						</div>
						<div class="fake-select">
							<input type="radio" class="radio" name="test3" id="radio2B">
							<label for="radio2B" class="answer-b">
								<strong>영어</strong>
							</label>
						</div>
						<div class="fake-select">
							<input type="radio" class="radio" name="test3" id="radio2C">
							<label for="radio2C" class="answer-c">
								<strong>한국사</strong>
							</label>
						</div>
						<div class="fake-select">
							<input type="radio" class="radio" name="test3" id="radio2D">
							<label for="radio2D" class="answer-d">
								<strong>전공과목</strong>
							</label>
						</div>
						<div class="fake-select">
							<input type="radio" class="radio" name="test3" id="radio2E">
							<label for="radio2E" class="answer-e">
								<strong>없음/모르겠음</strong>
							</label>
						</div>
					</div>
					<div class="action">
						@* 버튼 활성화 시 class삭제 > disable *@
						<button class="btn disable" onclick="tabControl(3)"><span>결과보기</span></button>
					</div>
				</div>

				@* 결과 *@
				<div class="tab-view tab-view-4" id="">
					<p class="question">
						<strong><span>에듀윌</span>님</strong>에게 딱 맞는 <br class="only-mobilebr">
						<strong>합격교수진을 추천</strong>드립니다.<br>
						선배들이 직접 작성한 <br class="only-mobilebr">
						추천이유를 확인해 보세요!
					</p>

					<div class="result-list">
						@* https://ngene.eduwill.net/content/teacherPageManageExt/selectTeacherPageExtList.action *@

						<div class="result">
							<button onclick="window.open('//gov.eduwill.net/Prof/KO33/KO')" >
								@if ("W".Equals(ViewBag.PlatformCd)){
									@* 웹 이미지 : 교수인덱스 *@
									<img class='teacher-img' src="//img.eduwill.net/eduwill/img/2022/G/event/220331/pc/teacher/sample.png" alt="">
									@*  교수메인카피 *@
									<p class="copy">30만 수험생의 선택<br /><span>탐나는 공무원  국어</span></p>
								} else {
									@* 모바일 이미지 : 메뉴 사진 (웹) *@
									<img class='teacher-img' src="//img.eduwill.net/eduwill/img/2022/G/event/220331/mobile/teacher/sample.png" alt="">
								}
								<div class="title">
									<p class="subject">자동차구조원리</p>
									<p class="name">
										<span>이윤승</span>
										<img class="home" src="//img.eduwill.net/eduwill/img/2022/G/event/220331/pc/home.png" alt="">
									</p>
								</div>
								<div class="review">
									<div class="text">
										교수님께서 판서로 수업하시고 법 내용을 정리해주시기 때문에 저는 정말 너무너무 좋고 이해가 잘돼요!! 어려운 단어들도 알아듣기 쉽게 설명해주세요.
										교수님께서 판서로 수업하시고 법 내용을 정리해주시기 때문에 저는 정말 너무너무 좋고 이해가 잘돼요!! 어려운 단어들도 알아듣기 쉽게 설명해주세요.
										교수님께서 판서로 수업하시고 법 내용을 정리해주시기 때문에 저는 정말 너무너무 좋고 이해가 잘돼요!! 어려운 단어들도 알아듣기 쉽게 설명해주세요.
									</div>
									<p class="student">합격생 이O현</p>
								</div>
							</button>
						</div>
						<div class="result">
							<button onclick="window.open('//gov.eduwill.net/Prof/KO33/KO')" >
								@if ("W".Equals(ViewBag.PlatformCd)){
									@* 웹 이미지 : 교수인덱스 *@
									<img class='teacher-img' src="//img.eduwill.net/eduwill/img/2022/G/event/220331/pc/teacher/sample.png" alt="">
									@*  교수메인카피 *@
									<p class="copy">30만 수험생의 선택<br /><span>탐나는 공무원  국어</span></p>
								} else {
									@* 모바일 이미지 : 메뉴 사진 (웹) *@
									<img class='teacher-img' src="//img.eduwill.net/eduwill/img/2022/G/event/220331/mobile/teacher/sample.png" alt="">
								}
								<div class="title">
									<p class="subject">국어</p>
									<p class="name">
										<span>배영표</span>
										<img class="home" src="//img.eduwill.net/eduwill/img/2022/G/event/220331/pc/home.png" alt="">
									</p>
								</div>
								<div class="review">
									<div class="text">교수님께서 판서로 수업하시고 법 내용을 정리해주시기 때문에 저는 정말 너무너무 좋고 이해가 잘돼요!! 어려운 단어들도 알아듣기 쉽게 설명해주세요.</div>
									<p class="student">합격생 이O현</p>
								</div>
							</button>
						</div>
						<div class="result">
							<button onclick="window.open('//gov.eduwill.net/Prof/KO33/KO')" >
								@if ("W".Equals(ViewBag.PlatformCd)){
									@* 웹 이미지 : 교수인덱스 *@
									<img class='teacher-img' src="//img.eduwill.net/eduwill/img/2022/G/event/220331/pc/teacher/sample.png" alt="">
									@*  교수메인카피 *@
									<p class="copy">30만 수험생의 선택<br /><span>탐나는 공무원  국어</span></p>
								} else {
									@* 모바일 이미지 : 메뉴 사진 (웹) *@
									<img class='teacher-img' src="//img.eduwill.net/eduwill/img/2022/G/event/220331/mobile/teacher/sample.png" alt="">
								}
								<div class="title">
									<p class="subject">국어</p>
									<p class="name">
										<span>배영표</span>
										<img class="home" src="//img.eduwill.net/eduwill/img/2022/G/event/220331/pc/home.png" alt="">
									</p>
								</div>
								<div class="review">
									<div class="text">교수님께서 판서로 수업하시고 법 내용을 정리해주시기 때문에 저는 정말 너무너무 좋고 이해가 잘돼요!! 어려운 단어들도 알아듣기 쉽게 설명해주세요.</div>
									<p class="student">합격생 이O현</p>
								</div>
							</button>
						</div>
						<div class="result">
							<button onclick="window.open('//gov.eduwill.net/Prof/KO33/KO')" >
								@if ("W".Equals(ViewBag.PlatformCd)){
									@* 웹 이미지 : 교수인덱스 *@
									<img class='teacher-img' src="//img.eduwill.net/eduwill/img/2022/G/event/220331/pc/teacher/sample.png" alt="">
									@*  교수메인카피 *@
									<p class="copy">30만 수험생의 선택<br /><span>탐나는 공무원  국어</span></p>
								} else {
									@* 모바일 이미지 : 메뉴 사진 (웹) *@
									<img class='teacher-img' src="//img.eduwill.net/eduwill/img/2022/G/event/220331/mobile/teacher/sample.png" alt="">
								}
								<div class="title">
									<p class="subject">국어</p>
									<p class="name">
										<span>배영표</span>
										<img class="home" src="//img.eduwill.net/eduwill/img/2022/G/event/220331/pc/home.png" alt="">
									</p>
								</div>
								<div class="review">
									<div class="text">교수님께서 판서로 수업하시고 법 내용을 정리해주시기 때문에 저는 정말 너무너무 좋고 이해가 잘돼요!! 어려운 단어들도 알아듣기 쉽게 설명해주세요.</div>
									<p class="student">합격생 이O현</p>
								</div>
							</button>
						</div>
						<div class="result">
							<button onclick="window.open('//gov.eduwill.net/Prof/KO33/KO')" >
								@if ("W".Equals(ViewBag.PlatformCd)){
									@* 웹 이미지 : 교수인덱스 *@
									<img class='teacher-img' src="//img.eduwill.net/eduwill/img/2022/G/event/220331/pc/teacher/sample.png" alt="">
									@*  교수메인카피 *@
									<p class="copy">30만 수험생의 선택<br /><span>탐나는 공무원  국어</span></p>
								} else {
									@* 모바일 이미지 : 메뉴 사진 (웹) *@
									<img class='teacher-img' src="//img.eduwill.net/eduwill/img/2022/G/event/220331/mobile/teacher/sample.png" alt="">
								}
								<div class="title">
									<p class="subject">국어</p>
									<p class="name">
										<span>배영표</span>
										<img class="home" src="//img.eduwill.net/eduwill/img/2022/G/event/220331/pc/home.png" alt="">
									</p>
								</div>
								<div class="review">
									<div class="text">교수님께서 판서로 수업하시고 법 내용을 정리해주시기 때문에 저는 정말 너무너무 좋고 이해가 잘돼요!! 어려운 단어들도 알아듣기 쉽게 설명해주세요.</div>
									<p class="student">합격생 이O현</p>
								</div>
							</button>
						</div>
					</div>

					<div class="action">
						@* 버튼 활성화 시 class삭제 > disable *@
						<button class="btn btn1 disable" onclick="tabControl(0)"><span>다시하기</span></button>
						<button class="btn btn2" onclick="popupOpen('.dimmed', 'popup-complete');"><strong>추천교수 확인완료!</strong>&nbsp; <span>100% 선물받기</span></button>
						@* <button class="btn btn2 disable" onclick="alert('이미 참여하셨습니다.')"><strong>추천교수 확인완료!</strong>&nbsp; <span>100% 선물받기</span></button> *@
					</div>
				</div>
				@* // 결과 *@

			</div>
		</div>
	</div>
	@* // 테스트 *@

	<div class="sector-banner">
		<div class="wrap">
			<div class="banner-title">공무원 합격<br><strong>에듀윌과 함께 하면<br class="only-mobilebr"> 현실이 됩니다.</strong></div>
			<div data-eduwill-eco-content="3195"></div>
		</div>
	</div>
	
	<div class="sector-branding">
		<div class="wrap">
			<div class="branding-text-group">
				<div class="branding-title">
					4년 연속 1위<em>*</em><br>
					에듀윌 공무원
				</div>
				<div class="branding-list">
					<p>6개월 만에 100% 전원 합격권 진입!</p>
					<p>9급·7급 수석 합격자 배출 교수진!</p>
					<p>합격자 수 1,800%증가!</p>
					<p><strong data-eduwill-eco-content="3223"></strong>개월  베스트셀러 1위 에듀윌 교재!</p>
				</div>
				<div class="grounds-text">* 2022/2021 대한민국 브랜드만족도, 2020/2019 한국브랜드만족지수 공무원 교육 1위</div>
			</div>
		</div>
	</div>

</div>

<div class="dimmed"></div>
<div class="popup" id="popup-complete">
	<div class="popup-close">
		<a href="javascript:popupClose('.dimmed', 'popup-complete');"><span class="sr-only">팝업 닫기</span></a>
	</div>
	<div class="popup-content">
		<img src="//img.eduwill.net/eduwill/img/2022/G/event/220331/pc/layer_title.jpg" alt="" />
	</div>
	<div class="popup-benefit">
		<div class="grid">
			<div class="col benefit-title">상품안내</div>
			<div class="col benefit-list">
				<dl class="grid">
					<dt class="col">전원증정 : &nbsp;</dt>
					<dd class="col">
						에듀윌 3만원 중복할인권(마이페이지&lt;할인권에서 확인)
					</dd>
				</dl>
				<dl class="grid">
					<dt class="col">추첨증정 : &nbsp;</dt>
					<dd class="col">
						버거킹 와퍼세트(4/8 내 추첨하여 당첨자 개별 연락)
					</dd>
				</dl>
			</div>
			<div class="col benefit-title">유의사항</div>
			<div class="col benefit-list">
				<dl class="grid">
					<dd class="col">
						아래의 상품에 중복 할인 가능하며, 쿠폰 유효기간은 발급 후 7일 이내입니다.<br>
						300% 환급 평생패스(행정/기술), 300%환급 9·7급 전직렬 평생패스, 24개월 0원 패스(행정/기술), 직렬별 평생패스(일행,교행,사복,세무관세,토목,건축,전산,고용노동)
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
	var url = window.location.href;
	var str = 'event.eduwill.net';
	var checkUrl = url.indexOf(str);

	$(function(){
		frontInit();
	});

	function frontInit(){
		//pageMove('.page-move');
		testEvent();
		loadEvent();
		tabEvent();
		tabControl(0);
	}

	function loadEvent(){
		$(window).on('load', function(){
			var _top = (isMobile) ? $('.sector-title').offset().top - 50 : $('.sector-title').offset().top ;

			$('html, body').animate({
				scrollTop: _top
			}, 500);

			setTimeout(function(){
				titleEvent();
			}, 550);
		});
	}

	function titleEvent(){
		var promotionTitle = $('.sector-title');
		TweenMax.fromTo( promotionTitle.find('.text-1'), .5, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: 0.1, ease: Power0.easeOut });
		TweenMax.fromTo( promotionTitle.find('.text-2'), 1, { opacity: 0, scale: 0 }, { opacity: 1, scale: 1, delay: 0.2, ease: Back.easeOut.config(1.5) });
		TweenMax.fromTo( promotionTitle.find('.text-3'), 1, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: 0.3, ease: Power0.easeOut });
		TweenMax.fromTo( promotionTitle.find('.title-1'), .8, { opacity: 0, scale: 1.5 }, { opacity: 1, scale: 1, delay: 0.5, ease: Back.easeOut.config(1) });
		TweenMax.fromTo( promotionTitle.find('.title-2'), .8, { opacity: 0, scale: 0 }, { opacity: 1, scale: 1, delay: 0.7, ease: Back.easeOut.config(2) });
		TweenMax.fromTo( promotionTitle.find('.title-3'), .8, { opacity: 0, scale: 0 }, { opacity: 1, scale: 1, delay: 0.9, ease: Back.easeOut.config(2) });
		TweenMax.fromTo( promotionTitle.find('.title-4'), 1, { opacity: 0, y: 50, }, { opacity: 1, y: 0, delay: 1, ease: Sine.easeOut });
	}

	function tabEvent(){
		_tabList = $('.tab-list').find('li');
		_tabView = $('.tab-view');

		_tabList.on('click', function(e){
			var idx = $(this).index();
			e.preventDefault();
			//tabControl(idx);

		});
	}

	function tabControl($idx){
		_tabList.removeClass('active');
		_tabList.eq($idx).addClass('active');

		_tabView.removeClass('active');
		_tabView.eq($idx).addClass('active');
	}

	function testEvent(){

		var $number = $('.test-box .number-list li'),
			_idx = $number.index();

		$('.test-box input[type="radio"]').each(function(){
			$(this).on('click', function(){
				$(this).parents('.tab-view').find('.btn').removeClass('disable');
			});
		});

	}

</script>
