// Core variables and mixins
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/extend";
@import "module/popup";
@import "module/motion";

.bottom_fix_btn{ display: none !important;}

.product-eco{
	position: relative;
	font-family: $font-noto;
	letter-spacing: -1px;

	.only-pc { display: none !important; }
	.only-mobile { position: relative; display: block; }

	.wrap {
		position: relative;
		width: 100%;
		max-width: 720px;
		margin: 0 auto;
		text-align: center;
		@extend %clearfix;
		@include boxSizing(border-box);
	}

	.bottombanner {
		position: fixed;
		right:0;
		bottom:0;
		left:0;
		z-index: 150;
		@include vw(height,100px);
		background-color:rgba(0,0,0,.8);
	}
	.pointer {
		@include pointer(50%, 0, 60px, 66px, 12, bounce);
	}
	.sector{
		&-title {
			background: url('#{$img-path}/mobile/bg_title.jpg') no-repeat center 0 / cover;
		}
		&-plus{
			position: relative;
			background: url('#{$img-path}/mobile/bg_plus.jpg') no-repeat center 0 / cover;
			&:before{
				content: "";
				@include vw(width,130px);
				@include vw(height,92px);
				display: inline-block;
				background: url('#{$img-common}/plus_yellow.png') no-repeat 50% 0 / cover;
				position: absolute;
				@include vw(top,-54px);
				left:0;
				right:0;
				margin:0 auto;
				z-index: 99;
			}
			.action{
				position: absolute;
				left:0;
				right:0;
				margin:0 auto;
				@include vw(bottom,118px);
				@include vw(width,501px);

			}
		}
		&-worry{
			background-color: #f1f1f1;
		}
		&-band{
			&.type1{
				background: url('#{$img-path}/mobile/bg_band_01.jpg') no-repeat center 0;
				background-size:100%;
			}
			&.type2{
				background: url('#{$img-path}/mobile/bg_band_02.jpg') no-repeat center 0;
				background-size:100%;
			}
		}
		&-contents{
			.content1{position: relative;}
			.content2{position: relative;}
			.action{
				position: absolute;
				left:0;
				right:0;
				@include vw(bottom,120px);
				@include vw(width,301px);
				margin:0 auto
			}
		}
		&-curriculum {
			@include vw(padding,115px 50px 0);
			
			strong{
				display: block;
				text-align: left;
				@include vw(font-size,54px);
				@include vw(margin-bottom,20px);
				font-weight: 900;
			}
			.table-wrap {
				.table-col {
					width: 100%;
					table-layout: fixed;
					border-collapse: collapse;
					margin-bottom: 60px;
					thead {
						tr {
							background: #f7f7f7;
							border-bottom: 1px solid #dddddd;
							th {
								@include vw(font-size,22px);
								color: #222222;
								font-weight: 600;
								@include vw(padding, 30px 0);
								border-right: 1px solid #dddddd;
								
								&:last-child {
									border-right: 0;
								} 
							}
						}
					}
					td {
						@include vw(padding, 20px);
						text-align: center;
						background: #ffffff;
						border-right: 1px solid #dddddd;
						border-bottom: 1px solid #dddddd;
						color:#2b2b2b;
						@include vw(font-size,22px);
						font-weight: 400;
						word-break: keep-all;
						&.title {
							font-weight: 700;
						}
						&:last-child {
							border-right: 0;
						}
						&.con{text-align: left !important;}
					}
				}
			}
		}
		&-apply{
			.tab-con{
				padding-top:30px;
				display: none;
				.price-type{
					.btn-apply{
						margin-top:20px;
						a{
							display: inline-block;
							width:percent(620);	
						}
					}
					.price-group {
						margin-left: 35px;
						display: inline-block;
						>div{
							display: inline-block;
						}
						.last-price{
							display: inline-block;
							position: relative;
							text-align: right;
							@include vw(font-size,40px);
							color: #ec0d0d;
							.flag{
								position: absolute;
								top: -25px;
								right: 0;
								display: inline-block;
								width: 140px;
								padding: 2px 0 3px;
								text-align: center;
								@include vw(font-size,14px);
								font-weight: bold;
								color: #e61515;
								border: 1px solid #e61515;
								@media screen and (min-width:720px) {
									width: 210px;
								}
							}
							span{
								vertical-align: -2px;
								@include vw(font-size,40px);
								font-weight: bold;
								letter-spacing: -2px;
							}
						}
						.before-price{
							position: relative;
							margin-right: 30px;
							text-align: center;
							@include vw(font-size,25px);
							color: #afafaf;
							em{
								display: block;
								position: absolute;
								top: 50%;
								left: 50%;
								width: 84px;
								height: 2px;
								transform: translate(-50%, -50%);
								background-color: #ec0d0d;
								margin: 0;
								&:after{
									content: '';
									position: absolute;
									top: -4.5px;
									right: 1.5px;
									display: block;
									width: 10px;
									height: 10px;
									border-top: 2px solid #ec0d0d;
									-webkit-transform: rotate(45deg);
									-ms-transform: rotate(45deg);
									transform: rotate(45deg);
								}
								@media screen and (min-width:720px) {
									width: 149px;
								}
							}
						}
					}
					.price-label {
						display: inline-block;
						position: relative;
						width: 90px;
						height: 77px;
						padding-top: 2%;
						text-align: center;
						vertical-align: top;
						line-height: 1;
						color: #fff;
						background: url('//img.eduwill.net/Img2/Common/Product/applyCommon/bg_label_blk02.png') 0 0 no-repeat;
						background-size:100%;
						-webkit-box-sizing: border-box;
						box-sizing: border-box;
						.f1{
							font-size: 12px;
							font-weight: 500;
							line-height: 120%;
						}
						.num{
							font-size: 12px;
							font-weight: 400;
							em{
								display: inline-block;
								margin-bottom: 3px;
								font-size: 16px;
								font-weight: bold;
							}
						}
						@media screen and (min-width:720px) {
							width: 144px;
							height: 108px;
							.f1{
								font-size: 22px;
							}
							.num{
								font-size: 22px;
								font-weight: normal;
								em{
									font-size: 32px;
								}
							}
						}
					}
					&.general {
						width: 100%;
						margin: 0 auto;
						position: relative;
						border: 1px solid transparent;
						.btn-apply {
							margin-top: 15%;
						}
						.price-group {
							position: absolute;
							right: percent(50,660);
							top: -6%;
						}
						.price-label {
							position: absolute;
							left: percent(50,660);
							top: 0;
							background: #1c1f26;
							width: auto;
							height: 20%;
							padding: 1.5% 2.5% 0 2.5%;
							@include vw(font-size,20px);
							text-align: center;
						}
					}
				}
				table{
					width:100%;
					margin-top:30px;
					border-top: 2px solid #1c1f26;
					border-bottom: 2px solid #1c1f26;
					th,td{
						border-bottom: solid 1px #d6d6d6;
					}
					th{
						@include vw(padding, 14px 0 );
						text-align: center;
						@include vw(font-size,16px);
						font-weight: bold;
						color: #333;
						background: #f5f5f5;
					}
					td{
						@include vw(padding, 15px 0 15px 22px);
						text-align: left;
						@include vw(line-height,30px);
						@include vw(font-size,18px);
						color: #333;
						.highlight{
							color:#ec0d0d;
						}
						&.big{
							@include vw(font-size,23px);
						}
					
					}
				}
			}
		}
	}

}

