@{
    String platform = ("W".Equals(ViewBag.PlatformCd))? "pc": "mobile";
}

@*
@if ("W".Equals(ViewBag.PlatformCd)){}
*@

<div class="promotion">
    <div class="sector-title">
        <div class="wrap-full">
            <p class="laurel"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220120/@platform/laurel.png" alt=""></p>
            <p class="title-teacher"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220120/@platform/title_teacher.png" alt="임지혜"></p>
            <p class="title-1"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220120/@platform/title_1.png" alt=""></p>
            <p class="illust"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220120/@platform/illust.png" alt=""></p>
            <p class="title-2"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220120/@platform/title_2.png" alt=""></p>
            <p class="light"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220120/@platform/light.png" alt=""></p>
            <p class="title-3"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220120/@platform/title_3.png" alt=""></p>
            <p class="action-1">
                <a href="//gov.eduwill.net/Prof/KO51/KO" target="_blank">
                    <img src="//img.eduwill.net/eduwill/img/2022/G/event/220120/@platform/btn_home.png" alt="">
                </a>
            </p>
            <p class="action-2">
                <a href="#sectorEvent1" class="page-move pointer">
                    <img src="//img.eduwill.net/eduwill/img/2022/G/event/220120/@platform/btn_title.png" alt="">
                </a>
            </p>
            <p class="base">
                1) 에듀윌 공무원 국어 모의고사 특강/단과강의 매출액 (2022.01)<br>
                2) 에듀윌 공무원 국어 온라인 강의 만족도 기준 (2021.09 ~ 2021.12)<br>
                3) 2021.08/2022.12 9급 공무원 과정 국어 임지혜 온라인 수강시간 비교
            </p>
        </div>
    </div>

    <div class="sector-apply">
        <div class="wrap">
            <div class="apply-title">기적의 모의고사 시리즈<br class="only-mobile">1월 전격런칭!</div>
            <div class="apply-list">
                <div class="list">
                    <a href="#sectorEvent2" class="page-move">
                        <div class="box">
                            <div class="desc">
                                <strong class="flag">기적의 모의고사 1단계</strong>
                                <strong>20일 요약하는 모의고사</strong>
                            </div>
                            <div class="detail">
                                <div class="detail-apply">바로 수강신청</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="list">
                    <a href="#sectorEvent2" class="page-move">
                        <div class="box">
                            <div class="desc">
                                <strong class="flag">기적의 모의고사 2단계</strong>
                                <strong>15일 단원별 모의고사</strong>
                            </div>
                            <div class="detail">
                                <div class="detail-apply">바로 수강신청</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="list list-soon">@* list-soon : 개강 예정 *@
                    <a href="javascript:void(0);">
                        <div class="box">
                            <div class="desc">
                                <strong class="flag">기적의 모의고사 3단계</strong>
                                <strong>30일 기적의 모의고사</strong>
                            </div>
                            <div class="detail">
                                <div class="detail-apply">Coming soon</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="apply-text">
                <img src="//img.eduwill.net/eduwill/img/2022/G/event/220120/@platform/apply_text.png" alt="역시 지혜답다는 소문이 폴폴~ 임지혜 교수님 특강 소문내고 모의고사 + 수강할인 받자! 국어만점 학습법 지혜로운 소문의 정체는?">
            </div>
        </div>
    </div>

    <div class="sector-info info-1">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220120/@platform/info_1.jpg" alt="첫번째 지혜">
        </div>
    </div>

    <div class="sector-info info-2">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220120/@platform/info_2.jpg" alt="두번째 지혜">
        </div>
    </div>

    <div class="sector-info info-3">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220120/@platform/info_3.jpg" alt="세번째 지혜">
        </div>
    </div>

    <div id="sectorEvent1" class="sector-event event-1">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220120/@platform/event1_title.png" alt="event1">

            <div class="apply-list">
                <div class="list">
                    <button type="button">
                        <div class="box">
                            <div class="desc">
                                <strong><span>임지혜 기적의 모의고사</span>체험하기</strong>
                            </div>
                            <div class="detail">
                                <div class="detail-apply">지금 바로 신청하기<br><span>go</span></div>
                            </div>
                            <div class="notice">*제공되는 체험서비스는 7일간 수강 가능합니다.</div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="sectorEvent2" class="sector-event event-2">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220120/@platform/event2_title.png" alt="event2">

            <div class="apply-list">
                <div class="list">
                    <button type="button">
                        <div class="box">
                            <div class="desc">
                                <strong><span>[기적의 모의고사 1단계]</span>20일 요약하는 모의고사</strong>
                            </div>
                            <div class="detail">
                                <div class="detail-price"><strong class="after-price">85,000<span>원</span></strong></div>
                                <div class="detail-apply">구매하기 <span>go</span></div>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="list">
                    <button type="button">
                        <div class="box">
                            <div class="desc">
                                <strong><span>[기적의 모의고사 2단계]</span>15일 단원별 모의고사</strong>
                            </div>
                            <div class="detail">
                                <div class="detail-price"><strong class="after-price">70,000<span>원</span></strong></div>
                                <div class="detail-apply">구매하기 <span>go</span></div>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="list list-soon">
                    <button type="button">
                        <div class="box">
                            <div class="desc">
                                <strong><span>[기적의 모의고사 3단계]</span>30일 기적의 모의고사</strong>
                            </div>
                            <div class="detail">
                                <div class="detail-apply">Coming soon</div>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="list list-event">
                    <button type="button">
                        <div class="box">
                            <div class="desc">
                                <strong><span>[기적의 모의고사 <em>패키지 추가 할인</em>]</span>런칭 기념 1~2단계 패키지</strong>
                            </div>
                            <div class="detail">
                                <div class="detail-price"><strong class="before-price">155,000<span>원</span></strong><strong class="after-price">140,000<span>원</span></strong></div>
                                <div class="detail-apply">구매하기 <span>go</span></div>
                            </div>
                        </div>
                    </button>
                    <div class="badge">
                        <img src="//img.eduwill.net/eduwill/img/2022/G/event/220120/@platform/flag_discount.png" alt="할인 이벤트">
                    </div>
                </div>
                <div class="list list-plus">
                    <button type="button">
                        <div class="box">
                            <div class="desc">
                                <strong><span>패키지 구매자 <em>선착순 50명</em></span>기적의 모의고사 교재 무료 제공!</strong>
                            </div>
                            <div class="detail">
                        <img src="//img.eduwill.net/eduwill/img/2022/G/event/220120/@platform/apply_book.png" alt="">
                            </div>
                        </div>
                    </button>
                    <div class="badge">
                        <img src="//img.eduwill.net/eduwill/img/2022/G/event/220120/@platform/flag_lineup.png" alt="선착순 이벤트">
                    </div>
                </div>
            </div>
            <ul class="notice-list">
                <li>단계별 특강은 신청일로부터 60일 제공됩니다. <br class="only-mobile">(단. 구매 시점에 개강하지 않은 강의는 개강 이후부터 60일 감소)</li>
                <li>선착순 교재 무료 제공 이벤트는 재고 소진시 종료됩니다.</li>
                <li>3단계에 사용되는 기적의 모의고사 교재는 22.03월 출간/출고 예정입니다.</li>
                <li>수강 도중 구매를 취소할 경우 교재는 배송되지 않습니다.</li>
            </ul>
        </div>
    </div>
</div>


<script type="text/javascript">
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
    var str = 'event.eduwill.net';
    var checkUrl = url.indexOf(str);

    $(function(){
        $(window).on('load', function(){
            frontInit();
        });
    });

    function frontInit(){
        pageMove('.page-move');
        titleEvent();
    }

    function titleEvent(){
        var promotionTitle = $('.sector-title');

        TweenMax.fromTo( promotionTitle.find('.title-teacher'), .3, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: .2, ease: Sine.easeOut });
        TweenMax.fromTo( promotionTitle.find('.laurel'), .4, { opacity: 0, y: -50 }, { opacity: 1, y: 0, delay: .4, ease: Sine.easeOut });
        TweenMax.fromTo( promotionTitle.find('.title-1'), .4, { opacity: 0, x: -50 }, { opacity: 1, x: 0, delay: .6, ease: Sine.easeOut });
        TweenMax.fromTo( promotionTitle.find('.illust'), .6, { opacity: 0, width: 0 }, { opacity: 1, width: $('.illust > img').width(), trasnformOrigin: '0 0', delay: .8, ease: Power0.easeOut, onComplete: function(){
            TweenMax.fromTo( promotionTitle.find('.title-2'), .5, { opacity: 0, y: 20 }, { opacity: 1, y: 0, delay: .1, trasnformOrigin: '0 100%', ease: Power3.easeOut });
            TweenMax.fromTo( promotionTitle.find('.title-3'), .5, { opacity: 0, y: -20 }, { opacity: 1, y: 0, delay: .4, trasnformOrigin: '0 0', ease: Power3.easeOut });

            TweenMax.fromTo( promotionTitle.find('.light'), .8, { opacity: 0, scale: 0 }, { opacity: 1, scale: 1, delay: .6, ease: Back.easeInOut.config(1), onComplete: function(){
                TweenMax.fromTo( promotionTitle.find('.light'), 2, { rotation: 0 }, { rotation: 360, delay: .1, repeat: -1, ease: Expo.easeInOut });
            }});
        }});

        TweenMax.fromTo( promotionTitle.find('.action-1'), .6, { opacity: 0 }, { opacity: 1, delay: 1.6, ease: Sine.easeOut });
        TweenMax.fromTo( promotionTitle.find('.action-2'), .6, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: 1.8, ease: Sine.easeOut });
        TweenMax.fromTo( promotionTitle.find('.base'), .6, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: 2.0, ease: Sine.easeOut });
    }
</script>
