$font-noto: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif;
$font-montserrat: 'Montserrat', 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif;
$font-lato: 'lato', 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif;
$font-roboto: 'Roboto', 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif;
$font-verdana: Verdana, Geneva, Tahoma, sans-serif;

// @import url("#{$css-path}/webfont.css");
$css-path: "//img.eduwill.net/eduwill/live/css/common";
$css-libs-path: "//img.eduwill.net/eduwill/live/libs";

// background-image: url('#{$img-path}/bg_title.jpg');
$img-path: "//img.eduwill.net/resources/ibm/front/live/img";
$img-pointer-path: "//img.eduwill.net/Img2/Common/icon/pointer";

$max-mobile: 640;

// z-index
// z-index: map-get($z-index, close);
$z-index: (
    close: 400,
    video: 350,
    layer: 300,
    control: 350,
    floating: 100,
    toast: 200,
    bottom: 100,
    base: 0,
    wings: -1
);