@{
    String platform = ("W".Equals(ViewBag.PlatformCd))? "pc": "mobile";
}

<div id="contents" class="promotion">

	<div class="wing-contents">
		<div class="wing-list">
			<a href="#eventReview" class="page-move teacher">
				<p><em>전 강좌</em>무료 받기</p>
			</a>
			<a href="#eventShare" class="page-move coffee">
				<p><em>스타벅스</em>무료 받기</p>
			</a>
		</div>
		<div class="top">
			<a href="javascript:;">TOP▲</a>
		</div>
	</div>

	<div class="sector-intro">
		<video autoplay loop muted playsinline>
			<source src="//pmp.eduwill.net/eduwillpmp/eduwill/flv/20220314/0314_7/teacher_opening.mp4" type="video/mp4">
		</video>

		<div class="btn-scroll">
			<a href="javascript:showMoveSection(2);">
				<span></span>
			</a>
		</div>
	</div>

	<div class="sector-visual" id="section2">
		<div class="wrap">
			<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220314_7/@platform/img_visual_tit.png" alt="구원T" class="title">
		</div>
	</div>
	<div class="sector-introduce">
		<div class="wrap">
			<div class="tit">
				<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220314_7/@platform/img_intro_tit.png" alt="구원T소개타이틀">
			</div>
			<div class="tabWrapper">
				<ul class="tabs">
					<li class="on" data-tab="teacher">구원쌤 소개</li>
					<li data-tab="highlight">하이라이트 강의</li>
				</ul>
				<div class="tabContents">
					<div class="content on" id="teacher">
						<div class="video-inner">
							<a href="javascript:;" class="eduwill-video-play">
								<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220314_7/@platform/thumbnail.jpg" alt="구원T소개영상썸네일">
							</a>
							<video width="100%" height="100%" controls poster="" class="eduwill-video-player">
								<source src="" type="video/mp4">
							</video>
						</div>
					</div>
					<div class="content" id="highlight">
						<div class="video-inner">
							<a javascript:; class="eduwill-video-play">
								<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220314_7/@platform/highlight_thumbnail.jpg">
							</a>
							<video width="100%" height="100%" controls poster="" class="eduwill-video-player">
								<source src="" type="video/mp4">
							</video>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="sector-lecture">

		<div class="sector-lecture-conts">
			<div class="wrap">
				<div class="content">
					@if ("W".Equals(ViewBag.platformCd)) {
					<div class="tit">
						<p>마치 출제 위원에게 과외 받는 느낌이랄까요?</p>
						<!-- 0302 span 추가 -->
						<h3>수강생들이 극찬하는<br /><span>990</span>점 구원 강의</h3>
					</div>
					}
					<div class="teacher">
						<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220314_7/@platform/img_cont2_teacher.png" alt="">
					</div>
					
					@if ("W".Equals(ViewBag.platformCd)) {
					<div class="swiper swiper-container sliderW">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220314_7/pc/img_cont2_slide_01.png" alt="">
							</div>
							<div class="swiper-slide">
								<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220314_7/pc/img_cont2_slide_02.png" alt="">
							</div>
							<div class="swiper-slide">
								<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220314_7/pc/img_cont2_slide_03.png" alt="">
							</div>
						</div> 
					</div>
					}
					else{
					<div class="swiper swiper-container sliderM">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220314_7/mobile/img_cont2_slide_01.png" alt="">
							</div>
							<div class="swiper-slide">
								<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220314_7/mobile/img_cont2_slide_02.png" alt="">
							</div>
							<div class="swiper-slide">
								<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220314_7/mobile/img_cont2_slide_03.png" alt="">
							</div>
						</div>
						<div class="pagination"></div>
					</div>
					}
				</div>
			</div>
		</div>

		<div class="sector-steps">
			<div class="wrap">
				<div class="tit">
					<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220314_7/@platform/img_cont3_tit.png" alt="단시간에 고득점 받는 고효율 핵심 압축 강의!">
				</div>
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220314_7/@platform/img_cont3_slide_01.png" alt="토익에 자주 나오는 패턴 공식화한 빈출 싹–쓰리 기법">
						</div>
						<div class="swiper-slide">
							<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220314_7/@platform/img_cont3_slide_02.png" alt="시간 잡아먹는 복습 OUT, 취약점 없애는 싹-쓰리 기법">
						</div>
						<div class="swiper-slide">
							<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220314_7/@platform/img_cont3_slide_03.png" alt="문제풀이 시간을 줄여주는 고득점 스킬 싹-쓰리 기법">
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>	
			</div>
		</div>

		<div class="sector-free">
			<div class="wrap">
				<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220314_7/@platform/img_cont4_item.png" alt="에듀윌 토익 교재 인강 100% 무료, 토익은 구원썜만 믿고 따라오세요">
			</div>
		</div>

		<div class="sector-follow">
			<div class="wrap">
				@if ("W".Equals(ViewBag.platformCd)) {
					<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220314_7/@platform/img_cont5_item.png" alt="에듀윌 토익 교재 인강 100% 무료, 토익은 구원썜만 믿고 따라오세요">
				}
				else{
					<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220314_7/@platform/img_cont5_item.jpg" alt="에듀윌 토익 교재 인강 100% 무료, 토익은 구원썜만 믿고 따라오세요">
				}
			</div>
		</div>

		<div class="sector-event">
			<div class="sector-event-review" id="eventReview">
				<div class="wrap">
					<div class="grab">
						<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220314_7/@platform/img_event01_tit.png" alt="수강 후기 쓰고 에어팟 받자! + 최신 토익인강 전원 제공">
						<div class="info">
							<ul>
								<li>
									<p>이벤트 기간</p>
									<span><em>2022</em>년 <em>3</em>월 <em>14</em>일(월) ~ <em>4</em>월 <em>15</em>일(금)</span>
								</li>
								<li>
									<p>이벤트 대상</p>
									<span>에듀윌 토익 회원이면 누구나 참여 가능</span>
								</li>
								<li>
									<p>이벤트 혜택</p>
								</li>
							</ul>
						</div>
					</div>
					<img class="img-gift" src="https://img.eduwill.net/eduwill/img/2022/_115/event/220314_7/@platform/img_event_gift.png" alt="이벤트혜택">

					<div class="form-wrapper">
						<form>
							<div class="cols">
								<label>
									<p>선생님</p>
									<div class="default">구원</div>
								</label>
								<label>
									<p>강의만족도</p>
									<select>
										<option value="1">★</option>
										<option value="2">★★</option>
										<option value="3">★★★</option>
										<option value="4">★★★★</option>
										<option value="5" selected>★★★★★</option>
									</select>
								</label>
							</div>
							<div class="col">
								<label>
									<p>작성자</p>
									<div class="default">이*지</div>
								</label>
							</div>
							<div class="col">
								<label>
									<p>글 제목</p>
									<input type="text" placeholder="제목을 입력하세요.">
								</label>
							</div>
							<div class="col base">
								<label>
									<p>글 내용</p>
									<textarea placeholder="에듀윌 토익과 선생님 이름을 포함해 작성해주세요.&#13;&#10;수강후기는 반드시 100자 이상 작성해야 합니다."></textarea>
								</label>
							</div>

							<div class="check">
								<label>
									<input type="checkbox">
									<h3>개인정보 수집 및 이용에 동의</h3>
								</label>
								<div class="text-wrap">
									<h3>개인정보 수집 및 이용에 대한 동의 (필수)</h3>
									<p>(주)에듀윌은 본 이벤트를 위해 다음과 같이 참여자의 개인정보를 수집 및 이용합니다.</p>
									<ul>
										<li>수집 및 이용 목적 : 참여자 정보확인, 안내 문자 발송, (추첨)사은품 발송</li>
										<li>수집항목 : 이름, 휴대폰번호</li>
										<li>보유 및 이용 기간 : <b>이벤트 종료 후 <span>1</span>년</b></li>
									</ul>
									<p>귀하는 개인정보 수집 및 이용에 동의하지 않으실 수 있으나, 동의하지 않으실 경우 참여가 제한됩니다.</p>
								</div>
							</div>
						</form>
						<div class="btn-wrap">
							<a href="javascaript:;" class="btn btn-orange">확인</a>
							<a href="javascaript:;" class="btn btn-grey">취소</a>
						</div>
					</div>
				</div>
			</div>

			@* 소문내기 *@
			<div class="sector-event-share" id="eventShare">
				<div class="wrap">
					
				</div>
			</div>
			@* 소문내기 *@

		</div>
	</div>
</div>

<script>
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
	var str = 'event.eduwill.net';
	var checkUrl = url.indexOf(str);

	var _tween;

	$(function(){
		frontinit();
	});

	function frontinit() {

		stepSlider();
		videoEvent();
		addEvent();
		if(isMobile){
			pageMove('.page-move' , -48);
			sliderM();
		}
		else{
			pageMove('.page-move');
			sliderW();
		}
	}

	$(window).on('scroll', function() {
		if(!isMobile) {
			if (this.scrollY > $('.sector-intro').height()) {
				$('.wing-contents').fadeIn();
			} else {
				$('.wing-contents').fadeOut();
			}
		}
	});

	function sliderW() {
		$('.sector-lecture-conts .sliderW').each(function(){
			var lectureSlider = new Swiper('.sector-lecture-conts .sliderW', {
				direction: 'vertical',
				calculateHeight: true,
				centeredSlides: true,
				slidesPerView: 'auto',
				spaceBetween: 50,
				arrow: false,
				pagination: false,
				draggable: false,
				loop: true,
				autoplay: {
					delay: 5000,
				},
				autoplayDisableOnInteraction : false,
				breakpoints: {
					721: {
						slidesPerView: 3,
						spaceBetween: 50,
						direction: 'vertical',
					}
				}
			})
		});
	}
	function sliderM() {
		$('.sector-lecture-conts .sliderM').each(function(){
			var lectureSlider = new Swiper('.sector-lecture-conts .sliderM', {
				direction: 'horizontal',
				calculateHeight: true,
				centeredSlides: true,
				slidesPerView: 1.2,
				spaceBetween: 10,
				arrow: false,
				pagination: {
					el: ".sector-lecture-conts .pagination",
					clickable: true,
				},
				draggable: false,
				loop: true,
				autoplay: {
					delay: 5000,
				},
				autoplayDisableOnInteraction : false,
				breakpoints: {
					720: {
						slidesPerView: 1.5,
						spaceBetween: 10
					},
				}
			})
		});
	}

	function stepSlider() {
		var stepSwiper = new Swiper ('.sector-steps .swiper-container', {
			slidesPerView: 'auto',
			autoResize: false,
			centeredSlides: true,
			autoplay: {
				delay: 5000
			},
			loop: true,
			pagination: {
				el: ".swiper-pagination",
				type: "bullets",
				clickable: true,
			},
			breakpoints: {
				280: {
					slidesPerView: 1,
					spaceBetween: 30,
				},
				761: {
					slidesPerView: 'auto',
					spaceBetween: 20
				},
			}
		})
	} 

	function addEvent(){
		$('.sector-introduce .tabs li') .on('click', function() {
			var tabCont = $(this).attr('data-tab');
			$('.sector-introduce .tabs li').removeClass('on');
			$('.sector-introduce .tabContents .content').removeClass('on');

			$(this).addClass('on');
			$("#"+tabCont).addClass('on');
		});

		$('.wing-contents .top').on('click', function() {
			$('html, body').animate({
				scrollTop: 0
			}, 500);
			return false;
		});
	}

	function showMoveSection(val) {
		_tween =  TweenMax.to($( "html, body" ), 0.5,{scrollTop:$("#section" + val).offset().top, ease:Power0.easeNone });
	}

	function videoEvent() {
		 var obj = {
            a: '//pmp.eduwill.net/eduwillpmp/eduwill/flv/20220314/0314_7/teacher.mp4',
			b: '//pmp.eduwill.net/eduwillpmp/eduwill/flv/20220314/0314_7/highlight.mp4'
        };

        var playerSrc = [];
        for(var o in obj){
            playerSrc.push(obj[o]);
        };

        var videoOption = {
            playerSrc: playerSrc,
            preview: true,
            playerClass: 'eduwill-video-player',
            playerPlayClass: 'eduwill-video-play'
        };

        eduf.UI.Player(videoOption);
	}
</script>