@charset "UTF-8";
.grid {
  *zoom: 1;
}

.grid:before, .grid:after {
  content: '';
  display: table;
}

.grid:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col-right {
  float: right;
}

.dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 300;
  display: none;
  width: 96%;
  max-width: 720px;
  text-align: left;
  letter-spacing: -1px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

@media screen and (min-width: 720px) {
  .popup {
    width: 900px;
  }
}

.popup-body {
  padding: 5.55556vw;
}

@media screen and (min-width: 720px) {
  .popup-body {
    padding: 40px;
  }
}

.popup-head {
  padding: 4.44444vw 2.77778vw;
  font-size: 4.16667vw;
  font-weight: 600;
  color: #000;
  background-color: #ececec;
}

@media screen and (min-width: 720px) {
  .popup-head {
    padding: 32px 20px;
  }
}

@media screen and (min-width: 720px) {
  .popup-head {
    font-size: 30px;
  }
}

.popup-desc {
  padding: 20px;
}

.popup-desc li {
  padding: 1.38889vw 0;
  font-size: 2.77778vw;
  line-height: 1.2;
  color: #000;
  border-bottom: 1px solid #ccc;
}

@media screen and (min-width: 720px) {
  .popup-desc li {
    padding: 10px 0;
  }
}

@media screen and (min-width: 720px) {
  .popup-desc li {
    font-size: 20px;
  }
}

.popup-close {
  position: absolute;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
  top: -60px;
  right: 0;
}

.popup-close:before, .popup-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #fff;
}

.popup-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup.popup-base {
  border-radius: 10px;
}

.popup.popup-base p {
  line-height: 1.5;
  margin-bottom: 0.69444vw;
  font-size: 3.61111vw;
}

@media screen and (min-width: 720px) {
  .popup.popup-base p {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-base p {
    font-size: 26px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-base p {
    font-size: 18px;
  }
}

.popup.popup-base .txt-ind {
  text-indent: -2.77778vw;
  padding-left: 1.38889vw;
}

@media screen and (min-width: 720px) {
  .popup.popup-base .txt-ind {
    text-indent: -20px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-base .txt-ind {
    padding-left: 10px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-base .txt-ind {
    text-indent: -19px;
    padding-left: 10px;
  }
}

.popup.popup-list .popup-body {
  padding: 0;
}

.popup.popup-list .popup-close {
  right: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 55px;
  height: 55px;
}

.popup.popup-list .popup-close:before, .popup.popup-list .popup-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 27.5px;
  height: 1px;
  margin-left: -13.75px;
  background-color: #fff;
}

.popup.popup-list .popup-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup.popup-list .popup-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup.popup-list .popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup.popup-list .list-title {
  text-align: left;
  background: #333333;
  color: #fff;
  padding: 4%;
  letter-spacing: -1px;
  line-height: 1.4;
  font-weight: 400;
  font-size: 2.5vw;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title {
    font-size: 18px;
  }
}

.popup.popup-list .list-title strong {
  display: block;
  font-size: 4.16667vw;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title strong {
    font-size: 30px;
  }
}

.popup.popup-list .list {
  position: relative;
  background: #fff;
  padding: 4%;
  height: 52.77778vw;
  overflow-y: auto;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list {
    height: 380px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list {
    height: 500px;
    overflow-y: auto;
  }
}

.popup.popup-list .list ul li {
  line-height: 1.4;
  color: #333;
  font-size: 3.05556vw;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list ul li {
    font-size: 22px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list ul li {
    font-size: 18px;
  }
}

.popup.popup-benefit .popup-body {
  padding: 0;
}

.popup.popup-benefit .popup-body img {
  width: 100%;
}

#fixApply {
  display: none !important;
}

.product-eco {
  line-height: normal;
  letter-spacing: -1px;
}

.product-eco * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-eco p {
  line-height: inherit;
  font-size: inherit;
  color: inherit;
}

.product-eco .wrap {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  width: 100%;
}

.product-eco .wrap .content {
  position: relative;
}

.product-eco .slick-arrow {
  position: absolute;
  top: calc(50% - 21px);
  z-index: 1;
  display: block;
  width: 42px;
  height: 42px;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.product-eco .slick-arrow.slick-prev {
  left: -40px;
}

.product-eco .slick-arrow.slick-prev:after {
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 25px;
  height: 25px;
  margin-top: -12.5px;
  border-width: 0;
  border-style: solid;
  border-color: #9a9a9a;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom-width: 3px;
  border-left-width: 3px;
  left: 30%;
}

.product-eco .slick-arrow.slick-next {
  right: -40px;
}

.product-eco .slick-arrow.slick-next:after {
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 25px;
  height: 25px;
  margin-top: -12.5px;
  border-width: 0;
  border-style: solid;
  border-color: #9a9a9a;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-width: 3px;
  border-right-width: 3px;
}

.product-eco .pointer {
  display: block;
}

.product-eco .pointer::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  background: url("//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  width: 53px;
  height: 60px;
  -webkit-animation-name: moving;
          animation-name: moving;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes moving {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
}

@keyframes moving {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
}

.product-eco .pointer.none::after {
  display: none;
}

.product-eco .bottom-banner {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.product-eco .bottom-banner .pointer::after {
  top: 35%;
  right: 160px;
}

.product-eco .right-banner {
  position: fixed;
  top: 25%;
  left: 50%;
  z-index: 100;
  margin-left: 550px;
}

.product-eco .right-banner a {
  display: block;
}

.product-eco img {
  vertical-align: top;
  line-height: 0;
  font-size: 0;
}

.product-eco section {
  position: relative;
}

.product-eco .section-title {
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/210407/pc/bg_title.jpg") no-repeat 50% top;
  background-size: cover;
  height: 811px;
}

.product-eco .section-title .btn {
  display: block;
  position: absolute;
  top: 273px;
  right: 133px;
}

.product-eco .section-benefit {
  background: #a51b37;
}

.product-eco .section-benefit img {
  margin-top: -323px;
  z-index: 1;
}

.product-eco .section-price {
  background: #a51b37;
  padding: 0 0 140px 0;
}

.product-eco .section-price:nth-last-child(1) {
  padding: 135px 0 140px;
}

.product-eco .section-price .action {
  position: absolute;
  bottom: 37px;
  right: 90px;
}

.product-eco .section-price .text {
  padding: 0;
  margin: 0;
  line-height: 1;
  position: absolute;
  letter-spacing: -2.5px;
  font-weight: 700;
}

.product-eco .section-price .text1 {
  font-size: 30px;
  color: #fff;
  top: 17px;
  left: 73px;
}

.product-eco .section-price .text1 em {
  color: #fcd320;
  margin-left: 8px;
}

.product-eco .section-price .text2 {
  font-size: 40px;
  color: #cc0e34;
  top: 150px;
  left: 440px;
}

.product-eco .section-price .text2 em {
  font-size: 70px;
  font-family: 'Roboto';
  letter-spacing: -4px;
  font-weight: bold;
  margin-right: 5px;
}

.product-eco .section-medal {
  overflow: hidden;
  background-color: #f5f5f5;
}

.product-eco .section-medal .winner-contents {
  position: absolute;
  top: 124px;
  left: 50%;
  width: 80%;
  height: 855px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin: 0 auto;
  text-align: center;
}

.product-eco .section-medal .winner-contents::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(40%, transparent), to(#f5f5f5));
  background: linear-gradient(to top, transparent 40%, #f5f5f5 100%);
}

.product-eco .section-medal .winner-contents::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), to(#f5f5f5));
  background: linear-gradient(to bottom, transparent 40%, #f5f5f5 100%);
}

.product-eco .section-medal .winner-contents .winner-list p {
  width: 16.66% !important;
  float: left;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  line-height: 55px;
  color: #818181;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-eco .section-medal .btn-base {
  position: absolute;
  top: 336px;
  right: 53px;
  z-index: 1;
}

.product-eco .section-banner {
  background-color: #c62042;
}

.product-eco .section-banner::after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -21px;
  width: 25px;
  height: 21px;
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/210407/pc/bg_section_banner.png") no-repeat center top;
  z-index: 2;
}

.product-eco .section-process .process04 {
  position: relative;
}

.product-eco .section-process .process04 .process-slider {
  position: absolute;
  top: 274px;
  left: 130px;
  width: 320px;
  height: 398px;
}

.product-eco .section-support {
  background-color: #b82a4c;
}

.product-eco .section-support .btn-base {
  position: absolute;
  top: 200px;
  right: 50px;
  z-index: 1;
}
/*# sourceMappingURL=web.css.map */