@charset "UTF-8";
.grid {
  *zoom: 1;
}

.grid:before, .grid:after {
  content: '';
  display: table;
}

.grid:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.banner-list-item .banner {
  background-color: #fff !important;
}

.eco-event {
  overflow: hidden;
  height: 85.8375rem;
}

@media screen and (min-width: 720px) {
  .eco-event {
    height: 1715px;
  }
}

.dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000 !important;
  background-color: rgba(0, 0, 0, 0.7);
}

.dim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.7);
}

.layer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100001;
  width: 1000px;
  height: 715px;
  margin: -327px 0 0 -500px;
  background-color: #fff;
}

.dim.in,
.layer.in {
  display: block;
}

.layer_detail_info .layer_body {
  width: 1000px;
  margin: 0 auto;
}

.layer_detail_info .bx-wrapper {
  width: 1000px;
  height: 550px;
}

.layer_detail_info .bx-wrapper .bx-viewport {
  left: 0;
  width: 1000px !important;
  height: 550px !important;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.gallery-thumbs-container {
  margin-top: 28px;
  padding: 0 75px;
  overflow: hidden;
}

.gallery-thumbs-container .bx-wrapper .bx-viewport {
  width: 100% !important;
  height: 110px !important;
}

.gallery-thumbs-container .academy_gallery_thumb {
  overflow: hidden;
}

.gallery-thumbs-container .academy_gallery_thumb .thumb-item {
  width: 200px !important;
  height: 110px !important;
}

.gallery-thumbs-container .academy_gallery_thumb .thumb-item img {
  width: 100%;
}

.gallery-thumbs-container .bx-controls-direction a {
  top: 0;
  width: 75px;
  height: 110px;
  margin-top: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0 !important;
}

.gallery-thumbs-container .bx-wrapper .bx-prev {
  margin-left: 0;
  left: -75px;
  background-image: url("https://img.eduwill.net/Img2/Won2/promotion/license/180503_01/btn_prev.png");
}

.gallery-thumbs-container .bx-wrapper .bx-next {
  margin-right: 0;
  right: -75px;
  background-image: url("https://img.eduwill.net/Img2/Won2/promotion/license/180503_01/btn_next.png");
}

.close_layer {
  position: absolute;
  top: 0;
  right: -50px;
  display: block;
  width: 50px;
  height: 50px;
  background: url("https://img.eduwill.net/Img2/Won2/promotion/license/180503_01/layer_close.png") no-repeat center center;
}

.popup {
  z-index: 1001 !important;
  display: none;
  position: absolute;
  top: 0;
  left: 50% !important;
  width: 100%;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  border-radius: 0 !important;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup-body {
  position: relative;
}

.popup-body p {
  font-size: 3.33333vw;
  font-weight: 700;
}

@media screen and (min-width: 720px) {
  .popup-body p {
    font-size: 24px;
  }
}

@media screen and (min-width: 1100px) {
  .popup-body p {
    font-size: 18px;
  }
}

.popup-body p + p,
.popup-body p + ul {
  margin-top: 1.38889vw;
}

@media screen and (min-width: 720px) {
  .popup-body p + p,
  .popup-body p + ul {
    margin-top: 10px;
  }
}

.popup-body ul {
  margin-top: 1.38889vw;
  font-size: 3.05556vw;
}

@media screen and (min-width: 720px) {
  .popup-body ul {
    margin-top: 10px;
  }
}

@media screen and (min-width: 720px) {
  .popup-body ul {
    font-size: 22px;
  }
}

@media screen and (min-width: 1100px) {
  .popup-body ul {
    font-size: 16px;
  }
}

.popup-body ul li {
  margin-top: 0.69444vw;
}

@media screen and (min-width: 720px) {
  .popup-body ul li {
    margin-top: 5px;
  }
}

.popup-body ul li:first-child {
  margin-top: 0;
}

.popup-body ul + p {
  margin-top: 1.38889vw;
}

@media screen and (min-width: 720px) {
  .popup-body ul + p {
    margin-top: 10px;
  }
}

.popup-close {
  position: absolute;
  top: -60px !important;
  right: 0 !important;
}

.popup-close a {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 40px;
  height: 40px;
}

.popup-close a:before, .popup-close a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 1px;
  margin-left: -10px;
  background-color: #fff;
}

.popup-close a:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close a:after {
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup-close a span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup-close a:before, .popup-close a::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 1px;
  margin-left: -10px;
  background-color: #fff;
}

.popup-close a::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup-close a::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup-video {
  max-width: 640px;
}

@media screen and (min-width: 720px) {
  .popup-video {
    max-width: 1000px;
  }
}

.popup-video .video-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-video .video-box video {
  width: 100%;
  height: 100%;
}

.popup-base {
  max-width: 640px;
}

@media screen and (min-width: 720px) {
  .popup-base {
    max-width: 720px;
  }
}

.popup-base .popup-body {
  padding: 8.33333vw 5.55556vw;
}

@media screen and (min-width: 720px) {
  .popup-base .popup-body {
    padding: 60px 40px;
  }
}

.popup-base .popup-body ul {
  padding-left: 2.77778vw;
  text-indent: -2.77778vw;
}

@media screen and (min-width: 720px) {
  .popup-base .popup-body ul {
    padding-left: 20px;
  }
}

@media screen and (min-width: 720px) {
  .popup-base .popup-body ul {
    text-indent: -20px;
  }
}

.product-eco {
  background-color: #fff;
}

.product-eco * {
  line-height: normal;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.product-eco .container {
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
}

.product-eco .wrap {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  width: 100%;
}

.product-eco .holder {
  position: relative;
}

.product-eco p {
  line-height: 100%;
  margin: 0;
  text-align: left;
  font-size: 2.77778vw;
  color: #666;
}

@media screen and (min-width: 720px) {
  .product-eco p {
    font-size: 20px;
  }
}

.product-eco p.notice {
  margin-top: 0.3125rem;
}

@media screen and (min-width: 720px) {
  .product-eco p.notice {
    margin-top: 10px;
  }
}

.product-eco p.brand, .product-eco p.survey {
  position: absolute;
}

.product-eco .fixbanner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #75fffc;
  z-index: 777;
}

.product-eco .fixbanner .pointer {
  position: absolute;
  top: 50px;
  right: 20px;
}

.product-eco .fixbanner .pointer img {
  width: 70%;
  -webkit-animation: 0.6s slideUpY ease-in-out infinite alternate;
          animation: 0.6s slideUpY ease-in-out infinite alternate;
}

.product-eco .winner-wrap {
  position: relative;
  padding: 0 1.5625rem 0;
  -webkit-perspective: 670px;
          perspective: 670px;
}

@media screen and (min-width: 720px) {
  .product-eco .winner-wrap {
    padding: 0 50px 0;
  }
}

.product-eco .winner-wrap .img {
  width: 80%;
}

.product-eco .winner-wrap .winner-list {
  -webkit-transform: rotateX(40deg);
          transform: rotateX(40deg);
}

.product-eco .winner-wrap .winner-list p {
  text-align: center;
  line-height: 2;
  font-size: 2.77778vw;
  font-weight: 400;
  color: #222;
}

@media screen and (min-width: 720px) {
  .product-eco .winner-wrap .winner-list p {
    font-size: 20px;
  }
}

.product-eco .slick-dots {
  width: 100%;
  margin-top: 0.9375rem;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots {
    margin-top: 30px;
  }
}

.product-eco .slick-dots li {
  display: inline-block;
  margin: 0 0.1875rem;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li {
    margin: 0 6px;
  }
}

.product-eco .slick-dots li button {
  width: 0.625rem;
  height: 0.625rem;
  text-indent: -9999em;
  border: none;
  border-radius: 50%;
  background-color: #b2b2b2;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li button {
    width: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li button {
    height: 20px;
  }
}

.product-eco .slick-dots li.slick-active button {
  width: 1.71875rem;
  border-radius: 0.46875rem;
  background-color: #ffc20e;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li.slick-active button {
    width: 55px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li.slick-active button {
    border-radius: 15px;
  }
}

.product-eco .slider-contents {
  position: relative;
  margin: 1.875rem 1.5625rem auto 1.5625rem;
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents {
    margin: 60px 50px auto 50px;
  }
}

.product-eco .slider-contents .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 1.25rem;
  width: 1.25rem;
  margin-top: -0.625rem;
  font-size: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow {
    width: 40px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow {
    width: 40px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow {
    margin-top: -20px;
  }
}

.product-eco .slider-contents .slick-arrow.slick-prev {
  left: 0.625rem;
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow.slick-prev {
    left: 20px;
  }
}

.product-eco .slider-contents .slick-arrow.slick-prev:before {
  right: 0;
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border-width: 0;
  border-style: solid;
  border-color: #666;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom-width: 1px;
  border-left-width: 1px;
  margin-top: 0px;
}

.product-eco .slider-contents .slick-arrow.slick-next {
  right: 0.625rem;
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow.slick-next {
    right: 20px;
  }
}

.product-eco .slider-contents .slick-arrow.slick-next:before {
  left: 0;
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border-width: 0;
  border-style: solid;
  border-color: #666;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-width: 1px;
  border-right-width: 1px;
  margin-top: 0px;
}

.product-eco .action a {
  position: relative;
  display: inline-block;
}

.product-eco .pointer:after {
  content: '';
  position: absolute;
  top: 40%;
  right: 0%;
  display: block;
  width: 3.125rem;
  height: 3.125rem;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_20.png") no-repeat 0 0;
  background-size: contain;
  -webkit-animation-name: pointerBounce;
          animation-name: pointerBounce;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .pointer:after {
    width: 100px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .pointer:after {
    height: 100px;
  }
}

@-webkit-keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 10px);
    -ms-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
}

@keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 10px);
    -ms-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
}

.product-top {
  background-color: #ffd701;
}

.product-title {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(37%, #3616af), color-stop(37%, #3616af), color-stop(59%, #557e87), to(#f0f14b));
  background: -webkit-linear-gradient(top, #3616af 37%, #3616af 37%, #557e87 59%, #f0f14b 100%);
  background: -o-linear-gradient(top, #3616af 37%, #3616af 37%, #557e87 59%, #f0f14b 100%);
  background: linear-gradient(to bottom, #3616af 37%, #3616af 37%, #557e87 59%, #f0f14b 100%);
}

.product-title .action {
  position: absolute;
  top: 1.7%;
  right: 7%;
  width: 4.21875rem;
}

@media screen and (min-width: 720px) {
  .product-title .action {
    width: 135px;
  }
}

.product-raise {
  background-color: #f3f3f3;
}

.product-winner {
  background-color: #f3f3f3;
}

.product-winner img {
  width: 80%;
}

.product-winner .slider-wrap .slick-slide {
  margin: 0 0.3125rem;
}

@media screen and (min-width: 720px) {
  .product-winner .slider-wrap .slick-slide {
    margin: 0 10px;
  }
}

.product-winner .slider-wrap .slick-slide img {
  width: 100%;
}

.product-pass {
  background-color: #f3f3f3;
  padding-top: 1.875rem;
  padding-bottom: 3.90625rem;
}

@media screen and (min-width: 720px) {
  .product-pass {
    padding-top: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-pass {
    padding-bottom: 125px;
  }
}

.product-pass .slider-wrap {
  margin: 0 5.55556%;
}

.product-pass .slider-wrap .slick-slide {
  margin: 0 0.3125rem;
}

@media screen and (min-width: 720px) {
  .product-pass .slider-wrap .slick-slide {
    margin: 0 10px;
  }
}

.product-pass .slider-wrap .slick-slide img {
  width: 100%;
}

.product-pass .slider-contents {
  margin-top: 0;
}

.product-win-slider {
  padding-bottom: 4.0625rem;
}

@media screen and (min-width: 720px) {
  .product-win-slider {
    padding-bottom: 130px;
  }
}

.product-teacher {
  padding-bottom: 3.90625rem;
}

@media screen and (min-width: 720px) {
  .product-teacher {
    padding-bottom: 125px;
  }
}

.product-teacher .teacher-list-box .col a .t-info .t-subject {
  font-size: 2.5vw;
}

.product-apply {
  background: #ffd900;
}

.product-place {
  padding-top: 2.77778vw;
}

@media screen and (min-width: 720px) {
  .product-place {
    padding-top: 20px;
  }
}

.product-time {
  padding-top: 13.88889vw;
}

@media screen and (min-width: 720px) {
  .product-time {
    padding-top: 100px;
  }
}

#popupBase {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 85%;
  max-width: 720px;
}

#popupBase .popup-body {
  font-size: 3.61111vw;
  padding: 5% 5%;
  word-break: keep-all;
}

@media screen and (min-width: 720px) {
  #popupBase .popup-body {
    font-size: 26px;
  }
}
/*# sourceMappingURL=mobile.css.map */