@charset "utf-8";

// Core variables and mixins
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/extend";
@import "module/popup";

#fixApply{
	display:none !important;
}
.product {
    &-eco {
        line-height: normal;
        letter-spacing: -1px;
        * { font-family: $font-noto; }
        p {
            line-height: inherit;
            font-size: inherit;
            color: inherit;
        }
        .container {
            position: relative;
            background-repeat: no-repeat;
            background-position: center top;
        }
        .wrap {
            position: relative;
            width: 1100px;
            margin: 0 auto;
            text-align: center;
            &-full {
                width: 100%;
			}
			.content{
				position: relative;
			}
		}
        .btn {
            position: relative;
            z-index: 1;
            display: inline-block;
            @include boxSizing(border-box);
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                right: 0;
                width: 66px;
                height: 73px;
				background: url('#{$img-common-path}/icon/pointer/icon_pointer_1.png') no-repeat 0 0;
				background-size:contain;
                @include animation(bounce2, 1s, $iteration: infinite){
					0%, 100% { @include translateXY(0, 0); }
					50% { @include translateXY(10px, 10px); }
                }
            }
		}
		.circle-red{
			position: absolute;
			top:0;
			right:0;
			z-index:7;
			width:150px;
			height:150px;
			border-radius:75px;
			display:table;
			background:#dd1f3e;
			box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.2);
			@include animation(bounce, 1s, $iteration: infinite){
				0%, 100% { @include translateY(0); }
				50% { @include translateY(10px); }
			}
			> span{
				display:table-cell;
				vertical-align: middle;
				text-align: center;
				color:#fff;
				font-size: 26px;
				font-weight:900;
				line-height:1.4;
			}
		}

		.left-banner{
			position: fixed;  top: 340px;  left: 50%;  z-index: 10;  margin-left: -755px;
			.text{
				position: absolute;
				left:50%;
				width:100%;
				-webkit-transform: translate(-50%, 0);          
				transform: translate(-50%, 0); 
				word-break: keep-all;
				text-align: center;
				color: #000;
				line-height:1.3;
				&-1{
				    top: 155px;
					left: 51%;
					transform: translate(-50%,0);
					font-size: 25.28px;
					font-weight: 500;
					color: #fff;
					letter-spacing: -3px;
				}
			}
			a.close-btn{
				display: block;
				position: absolute;
				top: -14px;
				right: 0;
				font-size: 45px;
				color: #000;
				z-index: 7;
			}
		}

        .bottom-banner{
			position: fixed;
			top:auto;
			bottom:0;
			left:0;
			right:0;
			z-index:10;
			background:#000;
			display:table;
			width:100%;
			.wrap > div {
				display:table-cell;
				vertical-align: middle;
				&:nth-child(2){
					padding:0 22px;
				}
				&:nth-child(3){
					padding:9px 0 11px 0;
				}
			}
			.flag{
				span{
					border:2px solid #fff;
					border-radius:30px;
					color:#fff;
					padding:5px 40px;
					font-size:19px;
					font-weight:600;
				}
			}
			.warn{
				span{
					color:#afff5e;
					font-size: 18px;
					font-weight:700;
				}
			}
			.pass-timer{
				padding: 15px 0 15px 28px;
				letter-spacing: 0;
				> div {
					display: inline-block;
					line-height:1;
					em{
						padding-left: 5px;
						vertical-align: middle;
						color: #fff;
						font-weight:600;
						font-size: 35px;
						line-height: 1;
					}
					span{
						background: url('#{$img-path}/pc/bg_num.png') no-repeat 50% 0;
						background-size:cover;
						box-sizing:border-box;
						width:115px;
						height:70px;
						line-height:65px;
						padding:0 !important;
						letter-spacing: 25px;
						text-align: center;
						background-size:100% 100%;
						color:#fff;
						font-weight:600;
						font-size: 55px;
						text-indent:13px;
						vertical-align: middle;
						display: inline-block;
						word-break: normal;
					}
				}
			}
			.action{
				position: absolute;
				top:9px;
				right:0;
				a{
					&:after{
						top:15%;
						right:-20%;
					}
				}
			}
		}
        .right-banner {
            position: fixed;
            top: 290px;
            left: 50%;
            z-index: 10;
			margin-left: 580px;
			a {
				display: block;
			}
			.btn{
				&:after {
					top: auto;
					bottom: -15px;
					width: 41px;
					height: 43px;
					background: url('#{$img-common-path}/icon/pointer/icon_pointer_12.png') no-repeat 0 0;
					background-size: 100%;
				}
			}
        }
        .ico_plus:before {
			content:'';
			position: absolute;
			top: 0;
			left: 50%;
			width: 100px;
			height: 100px;
			background: url('#{$img-path}/pc/ico_plus.png') 0 0 no-repeat;
			@include translateXY(-50%, -50%);
		}
	}

    &-title {
		background: #1f388c url('#{$img-path}/pc/bg_title.jpg') no-repeat 50% 0;
		background-size: cover
    }

    &-sub {
        background-color: #afff5e;
        background-repeat: repeat-x !important;
    }

    &-slide {
        background-color: #253d8b;
        .swiper-area {
			position: absolute;
			top: 270px;
			left: 50%;
			@include translateX(-50%);
			z-index: 1;
			width: 1000px;
			.swiper-slide {
				opacity: .6;
				@include transform(scale(0.8));
			}
			.swiper-slide {
				display: -webkit-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				-webkit-align-items: center;
				align-items: center;
				width: 40%;
			}
			.swiper-slide.swiper-slide-active {
				opacity: 1 !important;
				@include transform(scale(1));
				z-index: 100;
			}
			.swiper-button-next:after, .swiper-button-prev:after {
				display: none;
			}
			.swiper-button-prev {
				left: -5%;
				width: 19px;
				height: 27px;
				background: url('#{$img-path}/pc/btn_prev.png') no-repeat 50% top;
			}
			.swiper-button-next {
				right: -5%;
				width: 19px;
				height: 27px;
				background: url('#{$img-path}/pc/btn_next.png') no-repeat 50% top;
			}
		}
	}

    
    &-tuition {
        padding: 0 0 135px;
		background-color: #fff;
		.action {
			position: absolute;
			right: 25px;
			top: 160px;
		}
		.tuition-wrap{
			.block-anchor {
				display: inline-block;
			}
			.tuition-box{
				position: relative;
				.flash-txt {
					position: absolute;
					display: table;
					top: 48px;
					left: 58px;
					padding: 0 20px;
					height: 50px;
					border-radius: 50px;
					background: #262100;
					span {
						display: table-cell;
						vertical-align: middle;
						color: #fff;
						font-weight: 700;
						font-size: 24px;
						letter-spacing: 0;
						@include animation(colorChange, 1s, $iteration: infinite, $timing: ease-in-out){
							0%, 100% { opacity: 1; }
							50% { opacity: 0.2; }
						}
						em{
							color: #97ce58;
						}
					}
				}
				.price-box {
					position: absolute;
					top: 245px;
					left: 67px;
					text-align: left;
				}
				.each-price {
					display: inline-block;
					padding: 15px 20px;
					font-size: 20px;
					font-weight: 500;
					color: #3d3d3d;
					border-radius: 10px;
					background-color: #e6e6e6;
				}
				.tuition-price{
					color: #939393;
					.before-price{
						position: relative;
						font-size: 40px;
						display: inline-block;
						color: #939393;
						margin: 0 20px;
						font-family: $font-roboto;
						&:after{
							content: '';
							position: absolute;
							top: 50%;
							left: 50%;
							@include translateXY(-50%,-50%);
							width: 210px;
							height: 10px;
							background: url('#{$img-path}/pc/arrow.png') no-repeat 50% 0;
						}
					}
					.after-price{
						display: inline-block;
						font-size: 60px;
						font-weight: 700;
						letter-spacing: -4px;
						color: #4215e6;
						em{
							font-size: 70px;
							font-family: $font-roboto;
						}
					}
				}
			}
		}
		.btn:after {
			right: 130px;
		}
		.notice{
			font-size: 18px;
			color: #878787;
			margin: 15px 35px 0;
			text-align: right;
		}
	}
	
	&-pass {
        padding: 110px 0 30px 0;
		background: #e8e1ff;
        .wrap { @extend %clearfix; }
        .slider-box {
			position: absolute;
			top: 250px;
			right: 100px;
            @include boxSizing(border-box);
            width: 370px;
			height: 400px;
            &:before,
            &:after {
                content: '';
                position: absolute;
                right: 0;
                left: 0;
                z-index: 1;
                display: block;
                width: 100%;
                height: 150px;
                background: transparent;
            }
            &:before { top: 0; background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgb(255, 255, 255) 100%); }
            &:after { bottom: 0; background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.1) 100%); }
            .slider-logo { height: 100%; }
            .slick-list {
                height: 100% !important;
                .logo {
                    display: table;
                    height: 80px;
                }
                p {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: left;
                    font-size: 17px;
					&:nth-child(2){ padding-left: 15px; min-width:200px; }
					&:nth-child(3){ padding-left: 20px; }
                    &:nth-child(4){ padding-left: 15px; min-width:200px; }
                }
            }
        }
	}

	&-practice{
		background-color: #e8e1ff;
		padding-bottom: 115px;
	}
	
	&-bridge{
		background-color: #4214e8;
	}

	&-curri {
		background-color: #e9e9e9;
	}
	&-customize {
		background-color: #e9e9e9;
	}
	&-compress {
		background-color: #e9e9e9;
	}
	&-teacher {
		background-color: #e9e9e9;
	}
	&-video {
		background-color: #afff5e;
		padding-bottom: 53px;
        .ico_plus {
			&::before{
				left: 50px;
				@include translateXY(0, -50%);
			}
		}
		.video-box{
			width: 1000px;
			height: 562px;
			a{
				display: block;
			}
			iframe{
				width: 100%;
				height: 100%;
			}
		}
	}

	&-freepass {
		background-color: #e9e9e9;
	}

	&-suggest {
        padding: 0px 0 135px;
        background-color: #fff;
        .best {
            position: relative;
            &:first-child {
                margin-top: 0;
            }
            .btn {
                &:after{
					top: 74%;
    				right: 460px;
				}
            }
        }
	}
}












