@charset "utf-8";
html { scrollbar-arrow-color: #efefef;
scrollbar-Track-Color: #efefef; 
scrollbar-base-color: #c1c9d2;
scrollbar-Face-Color: #c1c9d2;
scrollbar-3dLight-Color: #c1c9d2;
scrollbar-DarkShadow-Color: #c1c9d2;
scrollbar-Highlight-Color: #c1c9d2;
scrollbar-Shadow-Color: #c1c9d2;
}
/* Chrome, Safari용 스크롤 바 */
::-webkit-scrollbar {width:6px; height: 6px; }
::-webkit-scrollbar-button:start:decrement, 
::-webkit-scrollbar-button:end:increment {display: block; width:6px;height:6px; background-color:#efefef;}
::-webkit-scrollbar-track {     background-color:#efefef; }
::-webkit-scrollbar-thumb {  background-color:#c1c9d2; border-radius:5px; }
#aside nav ul li a:active, #aside nav ul li.menu-open, #aside nav ul li.always-open, #aside nav>ul>li>a:hover, #aside nav>ul>li>a:focus, #aside nav ul li.active, body.min #aside ul.nav>li>ul li, body.min #aside ul.nav li.menu-open,
body { -webkit-print-color-adjust: exact;}
body.min #aside ul.nav>li:hover>ul, #aside nav ul li a.dashboard, body.min #asidesize, #aside, #asidebg { background-color: #24303e;}
body.min #aside ul.nav>li:hover:before { border-right-color: #5a6667;}
@media only screen and (min-width: 768px) { 
	body.min #aside ul.nav>li:hover>a span { background-color: #5a6667;}
}

/* 로그인 */
.login-box h1 { text-align:center; }
.login-box h1 img { width:172px;}
.login-box h1 span { position:relative; top:13px; padding-left:10px; font-size:40px; color:#f26522; font-weight:600; vertical-align:top;}
.login-box footer { border-top:0 none;}
.login-box footer .forgot-password { margin:0; width:100%;}
.login-box footer .forgot-password a { display:inline-block; width:48%;}
.login-box footer .btn { margin:20px 0; width:100%;}
.login-box  .sky-form section, .sky-form .section { margin-bottom:10px;}

#header { }
#header .logo { padding-top:3px;}
#header .logo img { width:82px;}
#header .logo span { display:inline-block; position:relative; top:5px; margin-left:8px; font-size:18px; font-weight:600; color:#666; vertical-align:top;}
#header .user {line-height:50px; color:#888; padding-right:65px;}
#header .user span {padding-right:5px; font-weight:500; color:#333; font-weight:600; font-size:15px;}
#header .user a {position:absolute; right:0; top:0; height:50px; text-align:center; background-color:#999;}
#header .user a i {display:inline-block; width:50px; height:50px;}
#header .user a i:before {
	display:block;
	content:"";
	width:50px;
	height:50px;
	background:url('//img.eduwill.net/resources/recruit/dev/manage/images/btn_logout.png') no-repeat;
}


#page-header h1 { font-weight:600; color:#000;}
#page-header .sub-title { display:inline-block; padding-left:20px; font-size:16px; color:#000;}
#page-header .sub-title u { text-decoration:none; font-weight:600; color:#1253b5; padding-left:10px;}
#page-header .top-search .fancy-form { top:-2px;}
.nav-title {display:none; padding:18px 10px; height:52px; line-height:52px; overflow:hidden;}
.nav-title i.main-icon { float:left; font-size:18px;width:50px; height:52px;line-height:52px;text-align:center;margin:-18px 10px -18px -10px; color:#f0ad4e;}
.nav-title span { display:inline-block; float:left; width:150px; color:#f0ad4e; font-weight:600; font-size:18px; vertical-align:top; margin:-17px 0 -17px 0;}

.btn-primary { border-color:#4b5354;}
.btn-primary,.alert-theme-color,.panel-primary>.panel-heading {background-color: #4b5354 !important;}
.panel-primary,.panel-primary>.panel-heading {border-color: #4b5354 !important;}

.post_count { padding-top:15px;font-size:16px;}
.post_count strong { font-weight:600;}

/* seach-type */
.panel.panel-search .panel-body { padding:15px;}
.panel.panel-search .panel-body > div { padding:0; overflow:hidden;}
.panel.panel-search .panel-body > div input { display:inline-block;}
.panel.panel-search .panel-body > div.dpset input { float:left; width:47%;}
.panel.panel-search .panel-body > div.dpset span { float:left; display:inline-block; text-align:center; width:4%; line-height:40px;}
.panel.panel-search .panel-body > div.selectb select { width:98%;}
.panel.panel-search .panel-body > div.selectxt select { float:left; width:25%; margin-right:2%;}
.panel.panel-search .panel-body > div.selectxt input { float:left; width:73%;}
.panel.panel-search .panel-body > div.btn a { width:100%;}

/* search-box */
.search-box { overflow:hidden;}
.search-box >div { float:left; padding-left:10px; box-sizing:border-box;}
.search-box >div:first-child { padding-left:0;}
.search-box >div input, .search-box >div select { display:inline-block;}
.search-box >div.search-btn a { width:100%;}
.search-box .dpset label { float:left; line-height:40px; width:80px; margin:0; color:#333; font-weight:600; font-size:15px;}
.search-box .dpset .input-group { overflow:hidden; float:left; width:250px;}
.search-box .dpset .input-group input { float:left; width:47%; border-radius:3px;}
.search-box .dpset .input-group span { float:left; width:6%; text-align:center; line-height:40px;}
.search-box .chk { line-height:40px;}
.search-box .chk label { padding-top:3px; padding-left:23px; font-size:13px; line-height:20px; color:#31708f;}
.search-box .chk label u { color:#ff0000;}
.search-box .labeltxt { line-height:40px; font-weight:600; text-align:center;}

/* table */
.list-table table { margin-bottom:0;}
.list-table table thead tr th { padding:13px 0; color:#1e1e1e; text-align:center; vertical-align:middle; font-size:15px; font-weight:600; background-color:#eee;}
.list-table table tbody tr td { padding:12px 0; text-align:center; vertical-align:middle; line-height:1.5; color:#555;}
.list-table table tbody tr td:hover { background-color:#f9f9f9;}
.list-table table tbody tr td.left { text-align:left; padding-left:15px;}
.list-table table tbody tr td.left a { color:#555;}
.list-table table .btn-xs { margin:0; padding:2px 10px 1px;}
.list-table table tbody tr.reply td.left i { padding-right:10px; color:#000; font-size:15px;}
.list-table table tbody tr.reply td.left a { font-weight:500;}

/* regist form */
.regist-form .panel .panel-heading { position:relative; padding:15px; font-size:16px;}
.regist-form .panel .panel-heading .fly-text { position:absolute; right:15px; top:18px; padding:0; margin:0; z-index:10; font-size:13px;}
.regist-form .panel .panel-body .form-group > div { padding:0; margin:0;}
.regist-form .panel .panel-body .form-group { overflow:hidden; margin-top:10px; padding:0 30px 0 0;}
.regist-form .panel .panel-body label { margin-bottom:0;padding-left:30px; line-height:40px; font-size:15px; color:#000; font-weight:600;}
.regist-form.regist-view .panel .panel-body .row { margin:0;}
.regist-form.regist-view .panel .panel-body > div { margin:0; line-height:40px;}
.regist-form.regist-view .panel .panel-body div input.colorpicker { padding-right:0; border:0 none;}
.regist-form.regist-view .panel .panel-body div input.colorpicker + .sp-replacer { right:0;}
.regist-form.regist-view .panel .panel-body .row >  .form-group { margin-bottom:10px; padding-top:10px; border-top:1px dashed #ccc;}
.regist-form.regist-view .panel .panel-body .row > div:first-child { padding-top:0; margin-top:0; border-top:0 none;}
.regist-form.regist-view .panel .panel-body .row + .row { padding-top:10px; margin-top:50px; border-top:2px solid #eee;}
p.inputtip { padding:0 10px 0 0; margin:0; font-size:12px; color:blue; text-align:left;}

.dig-set { margin:0; padding:0;}
.dig-set li { overflow:hidden; list-style:none; padding:10px 0; margin:0; border-top:1px dotted #ddd;}
.dig-set li:first-child { padding-top:0; border-top:0 none;}
.dig-set li.radio-chk { padding:5px 0;}
.dig-set li .radio-box { line-height:1.5 !important; float:left; width:30%;}
.dig-set li .radio-box label input + i:after { top:3px; left:3px;}
.dig-set li div label { padding-left:20px !important; font-size:14px !important; font-weight:500 !important; color:#666 !important;}
.dig-set li div label i { top:14px;}
.dig-set li.radio-chk > div { float:left; width:50%; line-height:1.5 !important;}
.dig-set li .dpset { float:left; width:70%;}
.dig-set li .dpset .input-group { overflow:hidden;}
.dig-set li .dpset .input-group input { float:left; width:47%; border-radius:3px;}
.dig-set li .dpset .input-group span { float:left; width:6%; text-align:center; line-height:40px;}

/* tab */
div.tabs.recruit-tabs div.tab-content { padding-top:10px;}

/* tooltip */
.tooltip-box { display:none; position:absolute; z-index:10; text-align:left; line-height:1.5 !important;}
.tooltip-box > i { font-size:24px; color:#000; padding:0; margin:0;}
.tooltip-box > .tooltip-content { position:relative; top:-11px; padding:13px; width:270px;margin:0; font-size:13px; background-color:#fff; border:1px solid #000;  color:#000; line-height:1.5 !important;}
.tooltip-box > .tooltip-content > strong { font-size:15px; display:inline-block; margin-bottom:5px;}

/* 지원자리스트 */
.list-btn-group { margin:10px 0 5px; overflow:hidden;}
.list-count-txt { padding:15px 0 10px; color:#000; font-size:15px;}
.list-count-txt span { color:#ff0000;}

.recruit-table table thead tr th a { margin-left:5px;}
.recruit-table table tbody tr td { font-size:13px;}
.recruit-table table tbody tr td span.label { font-size:13px;}

/*채용공고 접수상태*/
.recruit-table table tbody tr td span.label_status_SC001 {background-color: #f0ad4e;}
.recruit-table table tbody tr td span.label_status_SC002 {background-color: #1265A8;}
.recruit-table table tbody tr td span.label_status_SC003 {background-color: #bbb;}

.tooltip-01 { top:30px; left:90px;}

.effect-text-group { overflow:hidden;}
.effect-text-group input { display:inline-block; float:left; width:40%; height:40px; margin-left:2%; box-sizing:border-box; border-radius:5px; cursor:pointer; background-color:#fff !important; border:1px solid #ddd  !important;}
.effect-text-group input[type=color].colorpicker { padding:3px 5px !important;}
.effect-text-group input.boldtype { display:inline-block;  text-align:center; font-weight:600; color:#000;}

.recruit-wrap { overflow:hidden; width:100%;}
.recruit-wrap > div { box-sizing:border-box;}
#divMngApplyList {position: relative; float: left; width: 39%;}
.list-scroll { width:100%;}
.srcoll-table-header { position:relative; padding:0 10px; height:53px; background-color:#ddd; border:1px solid #ddd; border-bottom:3px solid #ddd; box-sizing:border-box;}
.srcoll-table-header .allchecking { position:absolute; top:0; left:10px;}
.srcoll-table-header .change-position { position:absolute; top:8px; left:40px;}
.srcoll-table-header .align-btn { position:absolute; top:0; right:10px; line-height:50px;}
.srcoll-table-header .align-btn a { color:#999; font-weight:400; font-size:14px; display:inline-block; margin-left:10px;}
.srcoll-table-header .align-btn a i { color:#999;}
.srcoll-table-header .align-btn a.on, .srcoll-table-header .align-btn a.on i { color:#24303e;}

.scroll-table-body { position:relative; height:100%; overflow-y:auto; background-color:#fff;}
.scroll-table-body table {width:100%;}
.scroll-table-body table td { padding:12px; overflow:hidden; border-bottom:1px solid #ddd;}
.scroll-table-body table tr:hover td { background-color:#d9edf7;}
.scroll-table-body table tr.selectcell td { background-color:#f2f2cd;}
.scroll-table-body table tr.hited td { background-color:#f5f5f5;}
.scroll-table-body table td .chk-btn { float:left; width:5%; max-width:20px; text-align:center;}
.scroll-table-body table td .chk-btn label { height:15px;}

.scroll-table-body table td .chk-btn .bookmark { margin-top:3px; text-align:left;}
.scroll-table-body table td .chk-btn .bookmark a { color:#666;}
.scroll-table-body table td .chk-btn .bookmark a i { font-size:16px;}
.scroll-table-body table td .chk-btn .bookmark a.on { color:#f0ad4e;}
.scroll-table-body table td .chk-btn .scrap { padding-left:2px;}
.scroll-table-body table td .chk-btn .scrap i { color:#666; font-size:14px;}
.scroll-table-body table td .chk-btn .scrap.on i { color:#1693A5;}
.scroll-table-body table td .media { float:right; width:93%; margin:0;}
.scroll-table-body table td .media .media-left { text-align:center;}
.scroll-table-body table td .media .media-left .txtpot { color:#ff0000; font-size:12px;}
.scroll-table-body table td .media .media-left .txtpot2 { color:blue; font-size:12px;}
.scroll-table-body table td .alertxt { font-size:11px; color:#000; font-weight:600;}
.data-none { padding:40px 0; text-align:center; border-bottom:1px solid #ddd;}
.media-left .media-object { width:70px; height:85px; overflow:hidden; background-color:#fff;}
.media-body { display:table-cell; vertical-align:middle;}
.media-body .media-title { font-weight:600; color:#000; font-size:15px;}
.media-body .media-sub { padding-top:5px; color:#666; line-height:1.5;}


/* 지원자정보 */
#divMngApplyInfo { position:relative; float:right; width:60%;}
.list-info { width:100%; border:1px solid #ddd; border-left:0 none; background-color:#fff;}
.list-info .info-title { position:relative; height:50px; text-align:center; background-color:#245580 !important;}
.list-info .info-title h2 { line-height:50px; color:#fff; font-weight:600; font-size:18px;}
.list-info .info-title .regist-date { position:absolute; top:17px; left:15px; color:#f2f2f2; font-size:13px;}
.list-info .info-title .print-btn { position:absolute; right:8px; top:8px;}
.info-scroll-body {position:relative; padding:18px; height:100%; overflow-y:scroll; box-sizing:border-box;}
.info-scroll-body > div {font-size:16px; font-weight:600; color:#444; padding-bottom:0;}
.list-info h3 { margin:30px 0 8px; font-size:22px; color:#000; font-weight:600;}
.list-info h4 { margin-bottom:10px; font-size:14px; color:#666; font-weight:600;}
.list-info h4 i { padding-right:5px;}

.personality-test { position:relative; margin:0 0 10px; background-color:#fae6d5; overflow:hidden; border:1px solid #ddccbd; box-sizing:border-box;}
.personality-test .ps-title { float:left; width:20%; height:52px; line-height:52px; font-size:16px; font-weight:600; color:#41352a; text-align:center; background-color:#ddccbd; box-sizing:border-box;}
.personality-test .ps-type { float:left; width:80%; padding:10px 0 5px; box-sizing:border-box; line-height:32px;}
.personality-test .ps-type .form-control { display:inline;margin-right:10px; width:30%; height:32px; line-height:32px; font-size:13px;}
.personality-test .ps-type label { margin-bottom:0; font-size:13px; color:#5f5145;}
.personality-test .ps-type .type-title { text-align:center; padding:0 15px; display:inline-block;}
.personality-test .ps-type .radio input + i:after { left:3px; top:3px;}

.option-box { position:relative; padding:10px 0; margin:0 0 10px; background-color:#f2f2cd; overflow:hidden; border:1px solid #e4e4c8; box-sizing:border-box;}
.option-box ul li { overflow:hidden; box-sizing:border-box; line-height:32px; margin-top:5px;}
.option-box ul li:first-child { margin-top:0;}
.option-box ul li label, .option-box ul li input, .option-box ul li .btn { float:left;}
.option-box ul li label { width:25%; padding-left:22px; margin:0; font-size:13px; line-height:32px;}
.option-box ul li label i { top:8px;}
.option-box ul li input { width:60%; margin-left:1%; padding:3px 10px; height:32px; margin-top:0;}
.option-box ul li .btn { width:12%; margin-left:1%;}
.interviewee-table table { margin-bottom:0; border-top:1px solid #aaa;}
.interviewee-table table thead th.table-title { padding:12px 0; font-size:24px; font-weight:700; color:#222;}
.interviewee-table table tr td.state-area { padding:15px 15px 15px 0; text-align:right;}
.interviewee-table table tr td.state-area span { padding-left:30px; font-size:16px; font-weight:700;}
.interviewee-table table tr td.pic_area { vertical-align:top; text-align:center;}
.interviewee-table .picture { position:relative; width:140px; margin:0 auto;}
.interviewee-table .picture > .pic_thum { padding:3px; width:140px; height:180px; overflow:hidden; border:1px solid #e5e5e5;}
.interviewee-table .picture .history-btn { position:absolute; top:0; left:0; padding:5px; font-size:12px; color:#fff; background-color:#d71010;}
.interviewee-table table tr td.pic_area .label { display:inline-block; padding:4px 10px; font-size:13px; border-radius:0;}
.interviewee-table table tr td.pic_area .label-style01, .interviewee-table table tr td.pic_area .label-style-SC002 { background-color:#0068b7;}
.interviewee-table table tr td.pic_area .label-style02, .interviewee-table table tr td.pic_area .label-style-SC003 { background-color:#eb6100;}
.interviewee-table table tr td.pic_area .label-style03, .interviewee-table table tr td.pic_area .label-style-SC004 { background-color:#601986;}
.interviewee-table table tr td.pic_area .label-style04,.interviewee-table table tr td.pic_area .label-style-SC005  { background-color:#009944;}
.interviewee-table table tr td.pic_area .label-style05, .interviewee-table table tr td.pic_area .label-style-SC006 { background-color:#a40000;}
.history-tooltip { display:none; position:absolute; top:20px; left:0; z-index:10; text-align:left;}
.history-tooltip > i { font-size:24px; color:#000; padding:0; margin:0;}
.history-tooltip > .history-content { position:relative; top:-10px; padding:13px; width:270px;margin:0; font-size:13px; background-color:#fff; border:1px solid #000;  color:#000;}
.history-tooltip > .history-content > strong { font-size:15px; display:inline-block; margin-bottom:5px;}
.interviewee-table table tr th { text-align:center; font-weight:600; font-size:13px; vertical-align:middle; color:#333; background-color:#e9e9e9 !important; border-color:#ccc;}
.interviewee-table table tr td { color:#444; vertical-align:middle; font-size:13px;}
.interviewee-table table tr td.bg-point1 { background-color:#ffe1ae !important;}
.feature-group { overflow:hidden; border-bottom:1px solid #ddd;}
.feature-group ul, .feature-group ul li dl { margin:0; padding:0;}
.feature-group ul li { padding:15px; float:left; width:33.3%; min-height:95px; list-style:none; margin:0; box-sizing:border-box; border-left:1px solid #ddd;}
.feature-group ul li:first-child { width:33.4%;}
.feature-group ul li:last-child { border-right:1px solid #ddd;}
.feature-group ul li dl dt { padding:0; margin:0; color:#000; font-weight:600;}
.feature-group ul li dl dd { padding:15px 0 0; margin:0; text-align:center; font-size:14px;}
.feature-group ul li dl dd .label { font-size:12px; padding:3px 8px 2px;}
.feature-group ul li:last-child dl dd { padding:5px 0 0;}
.interviewee-table table.align-center tr td { text-align:center;}
.interviewee-table table.align-center tr td.left { text-align:left;}
.self-introduce { margin-top:20px;}
.self-introduce .introduce-txt { padding:20px; min-height:250px; border:1px solid #ddd;}
.self-introduce .sign-area { padding:30px 0; text-align:center; font-size:16px; color:#000; font-weight:600;}
.self-introduce .sign-area .fromto { padding-top:10px; font-size:14px; color:#000;}

@media print {
	#page-print { }
	.history-btn { display:none;}
	h3 { font-size:15pt !important;}
	.interviewee-table table tr th { background-color:#ddd !important;border-color:#aaa !important;}
	.interviewee-table table tr td { border-color:#aaa !important;}
	.feature-group{ display:none;}
	table tr th,
	table tr td { font-size:8pt !important; border-color:#aaa !important;}
	table tr td .btn { color:#fff !important; font-size:8pt !important; width:30px !important; overflow:hidden;}
	table tr td.state-area span { font-size:9pt !important;}
	.interviewee-table table thead th.table-title { font-size:18pt !important; }
}

/* sms */
.sms-wrapper { overflow:hidden;}
.phone-form { float:left; width:270px; height:570px; padding:80px 25px 0 25px; box-sizing:border-box; background:url('http://img.eduwill.net/resources/recruit/dev/manage/images/phone.png') 0 0 no-repeat; background-size:270px 566px;}
.phone-form ul li { margin-bottom:10px;}
.phone-form ul li.inline-input label { width:25%;}
.phone-form ul li.inline-input span { width:30%;}
.phone-form ul li.inline-input input { display:inline !important; width:40%;}
.phone-btn { margin:20px 0 0; text-align:center;}
.sms-list { float:right; padding-top:20px; width:570px; height:570px; box-sizing:border-box;}
.sms-list .list-title { position:relative; padding-bottom:15px; font-size:18px; color:#444; text-align:left; font-weight:600;}
.sms-list .list-title .list-count { position:absolute; right:0; top:5px; font-size:14px;}
.sms-list .list-title .list-count span { color:#ff0000;}
.sms-list .list-table { width:100%; height:510px; overflow-y:scroll; box-sizing:border-box;}
.sms-list .list-table table thead tr th { padding:6px 0; font-size:13px;}
.sms-list .list-table table tbody tr td { font-size:12px;}

/* 면접평가결과표 */
.interview-result .list-table table thead tr th { padding:6px 0; font-size:13px;}
.interview-result .list-table table tbody tr td { font-size:12px;}
.interview-result .file-upload { padding:0 15px; text-align:left;}
.interview-result .file-upload ul li { margin:5px 0 0;}
.interview-result .file-upload ul li .btn { display:inline-block; margin-left:5px !important;}

/* 이력서스크랩 모달 */
.scrap-memo p { text-align:left; padding:0; margin:0 0 15px; font-weight:500; font-size:14px; color:#000;}

/* 불합격통지 */
.txt-danger { color:#b20d0d;}
.txt-foam { margin:20px 0 30px; padding:20px; background-color:#f8f8f8; border:1px solid #eee;}

/* 인쇄영역 */
@media print {
	h3 { margin:20px 0 10px; font-size:14px; color:#000; font-weight:600;}
	h4 { margin-bottom:10px; font-size:13px; color:#666;}
	h4 i { padding-right:5px;}

	th { font-size:13px;}
	td { font-size:12px; vertical-align:middle;}
}

/* Simple Color Picker */
div.color-picker { border-left: 1px solid #000; border-top: 1px solid #000; position: absolute; left: 0px; top: 0px; padding: 0px; }
div.color-picker ul { list-style: none; padding: 0px; margin: 0px; float: left; }
div.color-picker ul li { display: block; width: 15px; height: 15px; border-right: 1px solid #000; border-bottom: 1px solid #000; margin: 0px; float: left; cursor: pointer; }

.loading-wrap { height:200px;}