//.pointer4>img{animation: 0.4s slideUpY ease-in-out infinite alternate;}
@-webkit-keyframes slideUp{
    0% {
        -webkit-transform: translate(0,10px);
        transform: translate(0, 10px);
    }
    100% {
        -webkit-transform: translate(-10px, 0);
        transform: translate(-10px, 0);
    }
 }

@keyframes slideUp{
    0% {
        -webkit-transform: translate(0,10px);
        transform: translate(0, 10px);
    }
    100% {
        -webkit-transform: translate(-10px, 0);
        transform: translate(-10px, 0);
    }
 }

.bounce{animation:bounce 2s infinite both;-webkit-animation:bounce 2s infinite both;}
@-webkit-keyframes bounce {
    0%,100% { -webkit-transform: translateY(10px); transform: translateY(10px); } 
    50% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
}

@keyframes bounce {
    0%,100% { -webkit-transform: translateY(10px); transform: translateY(10px); }
    50% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
}

//  animation: bgColorChange 1s step-start infinite;
@-webkit-keyframes bgChange {
	0%, 100% {
		background-color: #fff;
	}
	50% {
		background: #fff9d0;
		background: -moz-linear-gradient(top,  #fff9d0 0%, #ffe86a 100%); 
		background: -webkit-linear-gradient(top,  #fff9d0 0%,#ffe86a 100%); 
		background: linear-gradient(to bottom,  #fff9d0 0%,#ffe86a 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff9d0', endColorstr='#ffe86a',GradientType=0 );
	}
}

@keyframes bgColorChange {
	0%, 100% {
		background-color: #fff;
	}
	50% {
		background: #fff9d0;
		background: -moz-linear-gradient(top,  #fff9d0 0%, #ffe86a 100%); 
		background: -webkit-linear-gradient(top,  #fff9d0 0%,#ffe86a 100%); 
		background: linear-gradient(to bottom,  #fff9d0 0%,#ffe86a 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff9d0', endColorstr='#ffe86a',GradientType=0 );
	}
}
 

