@charset "utf-8";

/* 컨텐츠 */
.product-eco {
	//PC
	&[data-device="pc"]{
		// content moudule
		#edoContent1 {
			#eduf-paragraph {
				margin-bottom: 0;
			}
			.ecoCont1 {
				background: #e6e6e9 linear-gradient(132deg, rgba(235,236,239,1) 0%, rgba(218,219,220,1) 100%);

				.btn-reason {
					top: 33px;
					right: 100px;
					background: #fff;
					border-color: #e0e0e0;
					color: #777778;
					&::after {
						border-color: #7a7a7a;
					}

				}
			}

			.ecoCont2 {
				padding-bottom: 70px;
				.book-list {
					width: 1100px;
					margin: 0 auto;
					position: relative;

					.slick-arrow {
						position: absolute;
						top: 235px;
						z-index: 10;
						width: 26px;
						height: 26px;
						border: 5px solid #000;
						border-left: none;
						border-bottom: none;
						text-indent: -9999px;

						&.slick-prev {
							left: -12px;	
							transform: rotate(225deg);
						}

						&.slick-next {
							
							right: -12px;
							transform: rotate(45deg);
						}
					}
					
				}
			}

			.ecoCont3 {
				padding-bottom:130px;
				background:url('https://img.eduwill.net/eduwill/img/2021/_111/product/211213/pc/eco3960/ecoCont3_bg.jpg') no-repeat 50% 50%;
				background-size: cover;
			}

			.ecoCont4 {
			}

			.ecoCont5 {
				background: #f9f9f9;

				.btn-refunds {
					position: absolute;
					bottom: 137px;
					right: 51px;
				}
			}

			.ecoCont6 {
			
			}

		}

	}

	//MOBILE
	&[data-device="mo"]{
		// content moudule
		#edoContent1 {
			#eduf-paragraph {
				margin-bottom: 0 !important;
			}
			.ecoCont1 {
				background: #eaeaef;

				.btn-reason {
					top: 7vw;
				}
			}

			.ecoCont2 {
			}

			.ecoCont3 {
				padding-bottom: 18vw;
				background: #f3f3f3 url('https://img.eduwill.net/eduwill/img/2021/_111/product/211213/mobile/eco3962/ecoCont3_bg.jpg') no-repeat 92% top;
				background-size: cover;
			}

			.ecoCont4 {
			}

			.ecoCont5 {
				background: #f9f9f9;

				.btn-refunds {
					// display: flex;
					position: absolute;
					bottom: 14vw;
					left: 0;
					right: 0;
				}
			}

			.ecoCont6 {
			}
		}
	}
}