@charset "utf-8";

// Core variables and mixins
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/extend";

// @import "module/comment";
@import "module/popup";
#popupBase,
#Popup01 {
    background-color: rgba(0, 0, 0, 0.5);
	width: 1100px;
	font-size: 16px;
	.popup-body{
		padding: 5%;
		color: #fff;
		text-align: left;
	}
}

.product {
    &-eco {
		overflow: hidden;
        * {
            line-height: normal;
            font-family: $font-noto;
            letter-spacing: -1px;
        }
        .container {
            position: relative;
            background-repeat: no-repeat;
            background-position: center top;
        }
        .wrap {
            position: relative;
            width: 1100px;
            margin: 0 auto;
            text-align: center;
            &-full {
                width: 100%;
            }
        }
       
	}

}

.product-eco { position:relative;background-color:#fff;font-family: 'Noto Sans KR';}
.product-eco img {border:0;vertical-align:top;line-height:0;font-size:0;}
.product-eco *,.product-eco *:before,.product-eco *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.product-eco table, .product-eco td, .product-eco tr, .product-eco p{line-height:100%;margin:0;}
.product-eco .wrap{position:relative;width:1100px;margin:0 auto; text-align: center;}
.clearfix:after{content:'';display:block;clear:both;}

.section1 { background: url('https://img.eduwill.net/Img2/Won2/Product/energy/200413/bg_img01.jpg') 50% 0 no-repeat; background-size: cover;}
.section2 { }
.section3 { background: #fff;}
.section4 { background: #f4f4f4;}
.section5 { background: #fff;}

.section7 { 
	background: #000;
	.wrap { 
		padding: 22px 0; 
		line-height: 1.2; 
		color: #fff; 
		font-weight: 300; 
		font-size: 36px; 
		letter-spacing: -2px;

		strong {
			font-weight: 900; 
			color: #fff; 
			font-size: 46px; 
			letter-spacing: -3px;
			
			span {
				color: #f0f14b;
			}
		}
	}
}

.section8 {	
	background:url(https://img.eduwill.net/eduwill/img/2021/Q/product/210804/pc/cont4_bg.jpg) no-repeat 50% 50%;
	background-size:cover;
	padding-bottom: 600px;
	.btn {
		position:absolute;
		top: 60px;
		left: 1060px;
	}
	.winner-contents {
		width: 1100px;
		position: absolute;
		left: 50%;
		bottom: -365px;
		transform: translateX(-50%);
		.winner-list {
			transform: perspective(300px) rotateX(45deg);
			p {
				margin: 10px 0;
				color: #222;
				font-size: 16px;
				font-weight: 700;
				text-align: center;
			}
			}
	}
}


.land{
	&-content{
		.item-group-box{
			width:100%;
			.item-benefit{
				margin-bottom:25px;
				&.grid-4 .col{width:23%;}
			}

			.notice{color:#767575;}
		}
	}

	&-title{
		background: url('https://img.eduwill.net/eduwill/img/2021/L/product/210818_2/pc/bg_title.jpg') no-repeat 50% 0;
		background-size:cover;
	}

	&-academy-review2{
		padding-top:250px;
		padding-bottom:100px;
		background-color:#e3efff;
	}

	&-benefit{
		.title {opacity:1;}
		.notice{position:absolute;left:33px;bottom:100px;}
	}

	&-provide{
		.title {opacity:1;}
	}

	&-provide{padding-bottom:100px;}

	&-uland{
		background: url('https://img.eduwill.net/eduwill/img/2021/L/product/210818_2/pc/bg_uland.jpg') no-repeat 50% 0;
		background-size:cover;
		.floating-uland{position:absolute;left:50%;top:100px;margin-left:450px;}
	}

	&-lecture{
		background: url('https://img.eduwill.net/eduwill/img/2021/L/product/210818_2/pc/bg_lecture.jpg') no-repeat 50% 0;
		background-size:cover;
	}

	&-price{
		.item-group{
			bottom:-250px;
		}
	}

	&-winner-list{
		padding-top:200px;
	}

	&-reason-networkbook{
		margin-top:-3px;
	}

	&-prize{border-top:1px solid #e6e6e6;}

	&-reason-title{
		.title{
			padding-top:100px;
		}
	}
	&-teacher{
		padding-bottom:100px;
	}



	&-agency{
		.btn-text {
			position:absolute;
			right:0px;
			top:210px;
			display: inline-block;
			padding: 5px 20px 5px 10px;
			font-size: 14px;
			letter-spacing: -1px;
			border: 1px solid #222;
			color: #222;
			background: #fff;

			&::after {
				
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				display: block;
				width: 5px;
				height: 5px;
				margin-top: -2.5px;
				margin-left: -2.5px;
				border-width: 0;
				border-style: solid;
				border-color: #222;
				transform: rotate(45deg);
				border-top-width: 1px;
				border-right-width: 1px;
				border-bottom: none;
				border-left: none;
				margin-left: 0;
				left: auto;
				right: 7px;
			}
		}
	}

	&-service{
		background-color:#fefdee;

	}

	&-bouns{display:none;}

	&-service2{
		position:relative;
		&:after{
			content:'';position:absolute;left:0;bottom:0;width:100%;z-index:1;
			background-color:#f9f9f9;
		}

		img{position:relative;z-index:2;}
	}


}