@charset "UTF-8";
.grid, .product-eco .section-apply-tab {
  *zoom: 1;
}

.grid:before, .product-eco .section-apply-tab:before, .grid:after, .product-eco .section-apply-tab:after {
  content: '';
  display: table;
}

.grid:after, .product-eco .section-apply-tab:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-keyframes flagChange {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes flagChange {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes slideUpY {
  0% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
  }
}

@keyframes slideUpY {
  0% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
  }
}

.product-eco {
  position: relative;
  text-align: center;
  min-width: 1100px;
  overflow: hidden;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.product-eco *, .product-eco *:before, .product-eco *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco img {
  border: 0;
  vertical-align: top;
  line-height: 0;
  font-size: 0;
}

.product-eco .wrap {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}

.product-eco a {
  display: inline-block;
  outline: none;
}

.product-eco .content {
  position: relative;
}

.product-eco .pointer {
  position: relative;
  display: inline-block;
}

.product-eco .pointer:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10%;
  width: 66px;
  height: 73px;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_1.png") no-repeat 0 0;
  -webkit-animation: .4s slideUpY ease-in-out infinite alternate;
  animation: .4s slideUpY ease-in-out infinite alternate;
  z-index: 1;
}

.product-eco .slick-slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  border: none;
  font-size: 0;
  text-indent: -9999px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  outline: none;
  cursor: pointer;
}

.product-eco .slick-slider .slick-arrow.slick-prev {
  left: -40px;
  background-image: url("https://img.eduwill.net/resources/img/house/product/201204/pc/btn_prev.png");
}

.product-eco .slick-slider .slick-arrow.slick-next {
  right: -40px;
  background-image: url("https://img.eduwill.net/resources/img/house/product/201204/pc/btn_next.png");
}

.product-eco .section-title {
  position: relative;
  background: #fceddc url("https://img.eduwill.net/eduwill/img/2021/J/product/210309/pc/bg_title.jpg") no-repeat 50% 0;
  background-size: cover;
}

.product-eco .section-banner {
  background: #fff;
}

.product-eco .section-info1 {
  position: relative;
  background: #fceddc url("https://img.eduwill.net/eduwill/img/2021/J/product/210309/pc/bg_info1.jpg") no-repeat 50% 0;
  background-size: cover;
}

.product-eco .section-info2, .product-eco .section-info4 {
  background: #fff;
}

.product-eco .section-info5 {
  background: #f7f7f7;
}

.product-eco .section-info3 {
  background: #ff7c48;
}

.product-eco .section-banner2 {
  background: #ff7c48;
}

.product-eco .section-apply-tab {
  width: 1100px;
  margin: 0 auto;
  margin-top: 110px;
}

.product-eco .section-apply-tab .apply-tab a {
  display: block;
  float: left;
  height: 70px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fceee1;
  color: #000;
  text-align: center;
  font-size: 30px;
  width: calc((100% - 40px)/3);
}

.product-eco .section-apply-tab .apply-tab a:nth-child(2) {
  margin: 0 20px;
}

.product-eco .section-apply-tab .apply-tab a span {
  line-height: 70px;
  font-weight: normal;
}

.product-eco .section-apply-tab .apply-tab a.active {
  background: #ff7c48;
  color: #fff;
}

.product-eco .section-apply-tab .apply-tab a.active span {
  font-weight: bold;
}
/*# sourceMappingURL=web.css.map */