@{
    String platform = ("W".Equals(ViewBag.PlatformCd))? "pc": "mobile";
    String linkAcer = ("W".Equals(ViewBag.PlatformCd)) ? "//nrg.eduwill.net/Acer" : "//brand.eduwill.net/academy/acer.will?code=nrg";
}

@*
@if ("W".Equals(ViewBag.PlatformCd)){}
*@

<div class="promotion">
    @if ("W".Equals(ViewBag.PlatformCd)){
        <div class="fix-right">
            <a href="#sectorLineup" class="page-move"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/right_1.png" alt=""></a>
            <a href="#sectorApply" class="page-move"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/right_2.png" alt=""></a>
            <a href="#sectorRumor" class="page-move"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/right_3.png" alt=""></a>
            <a href="//event.eduwill.net/Lecture/G/AcademyFreeLecture?academyCd=NRG#sectorLecture" target="_blank"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/right_4.png" alt=""></a>
        </div>
    }

    <div class="fix-bottom">
        <div class="wrap">
            <a href="#sectorApply" class="page-move icon-pointer">
                <div class="bottom-inner">
                    <div class="text">
                        <p class="only-pc">라인업 기념 <strong>초시생 맞춤 입문특강 + 자료집</strong></p><br class="only-pc">
                        오늘 무료배포 종료까지 <br class="only-mobile">
                        <div class="day-box">
                            <p><span class="hour">00</span><em>:</em></p>
                            <p><span class="min">00</span><em>:</em></p>
                            <p><span class="sec">00</span><em>:</em></p>
                            <p><span class="msec">00</span></p>
                        </div>
                    </div>
                    <div class="action">
                        <img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/btn_bottom.png" alt="">
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="sector-title">
        <div class="wrap-full">
            <p class="laurel"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/laurel.png" alt=""></p>

            <p class="teacher-1"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/title_teacher_1.png" alt=""></p>
            <p class="teacher-2"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/title_teacher_2.png" alt=""></p>

            <p class="title-1"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/title_1.png" alt=""></p>
            <p class="title-2"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/title_2.png" alt=""></p>

            <p class="linear"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/title_linear.png" alt=""></p>
            <p class="title-3"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/title_3.png" alt=""></p>
            <p class="title-4"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/title_4.png" alt=""></p>

            <p class="action">
                <a href="#sectorApply" class="page-move icon-pointer">
                    <img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/btn_title.png" alt="">
                </a>
            </p>

            <p class="base">2) 에듀윌 평생패스 수강인원 만족도 기준(배영표/성정혜/신형철/홍형철 2021.06~2021.12)</p>
        </div>
    </div>

    <div class="sector-intro">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/intro_title.png" alt="">

            <div class="video-box">
                <a class="eduwill-iframe-play" href="javascript:;">
                    <img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/intro_thumb.jpg" alt="">
                </a>
                <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="eduwill-iframe-player" frameborder="0" height="100%" src="" width="100%"></iframe>
            </div>

            <div class="base">
                1) 2022 대한민국 브랜드만족도 9급공무원 교육 1위 (한경비즈니스)<br>
                2) 2021 검찰직 7급 수석 합격생 배출
            </div>
        </div>
    </div>

    <div class="sector-teacher">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/teacher_title.png" alt="">

            <div class="teacher-box">
                <div class="teacher-list">
                   <div class="teacher-1 teacher-active">@* teacher-active : 활성화클래스 *@
                       <img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/teacher_1.png" alt="">
                       <div class="text-box">
                            <p class="subject">초시생도<br>한번에 이해</p>
                            <p class="name">형소법 홍형철 교수</p>
                       </div>
                    </div>
                   <div class="teacher-2 teacher-active">@* teacher-active : 활성화클래스 *@
                       <img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/teacher_2.png" alt="">
                       <div class="text-box">
                            <p class="subject">현직 변호사의<br>강의</p>
                            <p class="name">민법, 민소법 이나경 교수</p>
                       </div>
                    </div>
                   <div class="teacher-3">
                       <img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/teacher_3.png" alt="">
                       <div class="text-box">
                            <p class="subject">30만<sup>2)</sup> 수험생의<br>선택</p>
                            <p class="name">국어 배영표 교수</p>
                       </div>
                    </div>
                   <div class="teacher-4">
                       <img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/teacher_4.png" alt="">
                       <div class="text-box">
                            <p class="subject">핵심만<br>콕콕</p>
                            <p class="name">한국사 신형철 교수</p>
                       </div>
                    </div>
                   <div class="teacher-5">
                       <img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/teacher_5.png" alt="">
                       <div class="text-box">
                            <p class="subject">따라만 가도<br>합격</p>
                            <p class="name">영어 성정혜 교수</p>
                       </div>
                    </div>
                </div>
            </div>

            <div class="base">
                1) 에듀윌 평생패스 수강인원 만족도 기준(배영표/성정혜/신형철/홍형철 2021.06~2021.12)<br>
                2) 에듀윌 배영표 교수 강의 누적 수강생 수 기준 (19.07~21.10)
            </div>
        </div>
    </div>

    <div class="sector-plus">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/plus.png" alt="">
        </div>
    </div>

    <div class="sector-curriculum">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/curriculum.jpg" alt="">
        </div>
    </div>

    <div id="sectorLineup" class="sector-lineup">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/lineup_title.jpg" alt="">
        </div>
        <div class="wrap-full">
            <div class="lineup-box">
                <div class="tab-list">
                    <a href="javascript:void(0);" class="tab-1 active">@* active : 활성화클래스 *@
                        <p class="subject">Real <br class="only-mobile">형소법</p>
                        <p class="name">홍형철 교수</p>
                    </a>
                    <a href="javascript:void(0);" class="tab-2">
                        <p class="subject">Key 민법,<br class="only-mobile">민소법</p>
                        <p class="name">이나경 교수</p>
                    </a>
                    <a href="javascript:void(0);" class="tab-3">
                        <p class="subject">헌법</p>
                        <p class="name">WHO IS NEXT?</p>
                    </a>
                    <a href="javascript:void(0);" class="tab-4">
                        <p class="subject">형법</p>
                        <p class="name">WHO IS NEXT?</p>
                    </a>
                </div>

                <div class="tab-view tab-view-1 active">@* active : 활성화클래스 *@
                    <div class="title">
                        <img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/HS13_title.png" alt="">
                    </div>
                    <div class="video-box">
                        <a class="eduwill-iframe-play" href="javascript:;">
                            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/HS13_thumb.jpg" alt="">
                        </a>
                        <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="eduwill-iframe-player" frameborder="0" height="100%" src="" width="100%"></iframe>
                    </div>
                    <div class="teacher">
                        <img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/HS13_teacher.png" alt="">
                        <a href="https://gov.eduwill.net/Prof/HS13/HS" target="_blank" class="btn-home">
                            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/HS13_home.png" alt="">
                        </a>
                    </div>
                    <div class="text-list">
                        <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/HS13_text_1.png" alt=""></div>
                        <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/HS13_text_2.png" alt=""></div>
                        <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/HS13_text_3.png" alt=""></div>
                    </div>
                </div>
                <div class="tab-view tab-view-2">
                    <div class="title">
                        <img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/CC03_title.png" alt="">
                    </div>
                    <div class="video-box">
                        <a class="eduwill-iframe-play" href="javascript:;">
                            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/CC03_thumb.jpg" alt="">
                        </a>
                        <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="eduwill-iframe-player" frameborder="0" height="100%" src="" width="100%"></iframe>
                    </div>
                    <div class="teacher">
                        <img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/CC03_teacher.png" alt="">
                        <a href="https://gov.eduwill.net/Prof/CC03/CC" target="_blank" class="btn-home">
                            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/CC03_home.png" alt="">
                        </a>
                    </div>
                    <div class="text-list">
                        <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/CC03_text_1.png" alt=""></div>
                        <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/CC03_text_2.png" alt=""></div>
                        <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/CC03_text_3.png" alt=""></div>
                    </div>
                </div>
                <div class="tab-view tab-view-3"></div>
                <div class="tab-view tab-view-4"></div>
            </div>
        </div>
    </div>

    <div class="sector-review">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/review_title.png" alt="">

            <div class="review-box">
                <div class="review-list">
                   <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/review_1.png" alt=""></div>
                   <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/review_2.png" alt=""></div>
                   <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/review_3.png" alt=""></div>
                   <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/review_4.png" alt=""></div>
                   <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/review_5.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>

    @if ("W".Equals(ViewBag.PlatformCd)){
        <div class="sector-band">
            <div class="wrap">
                <img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/band.jpg" alt="">
            </div>
        </div>
    }

    <div id="sectorApply" class="sector-apply">
        <div class="wrap-full">
            <div class="apply-img">
                <img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/apply.png" alt="">
            </div>

            <div class="action">
                <button type="button" class="icon-pointer">
                    <img src="//img.eduwill.net/eduwill/img/2022/G/event/220215/@platform/btn_apply.png" alt="">
                </button>
            </div>

            <div class="notice-box">
                <div class="notice-title">유의사항</div>
                <ul class="notice-list">
                    <li>이벤트 기간 : 02/15(화) ~ 03/11(금)</li>
                    <li>이벤트 상품은 신청 즉시 나의강의실로 입과됩니다.</li>
                    <li>해당 자료집은 PDF로 제공됩니다.</li>
                    <li>해당 특강은  03/03(목) 이후 수강 가능합니다.</li>
                    <li>
                        신청일로부터 7일간 수강/다운로드 가능합니다.
                        <p>* 단, 03/02 전 신청자는 03/03 이후부터 7일간 확인 가능</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="sectorRumor">
        @* 소문내기 이벤트는 여기에 적용 부탁드립니다. *@
    </div>
</div>

 <script src="//www.youtube.com/iframe_api"></script>
<script type="text/javascript">
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
    var str = 'event.eduwill.net';
    var checkUrl = url.indexOf(str);

    $(function(){
        frontInit();
    });

    function frontInit(){
        getTimer('.day-box', 'Feb 11, 2022, 23:59'); 
        pageMove('.page-move');
        slideEvent();
        tabEvent();
        tabControl(0);
        playVideo();
        loadEvent();
    }

    function loadEvent(){
        $(window).on('load', function(){
            var _top = (isMobile) ? $('.sector-title').offset().top - 50 : $('.sector-title').offset().top;

            $('html, body').animate({
                scrollTop: _top
            }, 500);

            setTimeout(function(){
                titleEvent();
            }, 550);
        });
    }

    function titleEvent(){
        var promotionTitle = $('.sector-title');

        TweenMax.fromTo( promotionTitle.find('.linear'), .6, { opacity: 0, scaleY: 0 }, { opacity: 1, scaleY: 1, delay: .2, transformOrigin: 'center center', ease: Sine.easeOut, onComplete: function(){
            TweenMax.fromTo( promotionTitle.find('.title-1'), .7, { opacity: 0, x: -100 }, { opacity: 1, x: 0, delay: .1, ease: Power2.easeOut });
            TweenMax.fromTo( promotionTitle.find('.title-2'), .8, { opacity: 0, x: 100 }, { opacity: 1, x: 0, delay: .5, ease: Power2.easeOut, onComplete: function(){

                TweenMax.fromTo( promotionTitle.find('.laurel'), .6, { opacity: 0, y: -50 }, { opacity: 1, y: 0, delay: .2, ease: Power4.easeOut });

                TweenMax.fromTo( promotionTitle.find('.teacher-1'), .6, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: .6, transformOrigin: 'center bottom', ease: Back.easeOut.config(2) });
                TweenMax.fromTo( promotionTitle.find('.teacher-2'), .6, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: .4, transformOrigin: 'center bottom', ease: Back.easeOut.config(2) });

                TweenMax.fromTo( promotionTitle.find('.title-3'), .6, { opacity: 0, scale: 0, y: -50 }, { opacity: 1, scale: 1, y: 0, delay: .8, transformOrigin: 'center bottom', ease: Back.easeOut.config(1) });
                TweenMax.fromTo( promotionTitle.find('.title-4'), .6, { opacity: 0, scale: 0, y: -50 }, { opacity: 1, scale: 1, y: 0, delay: 1.0, transformOrigin: 'center bottom', ease: Back.easeOut.config(1) });
                TweenMax.fromTo( promotionTitle.find('.action'), .6, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: 1.2, ease: Sine.easeOut });
                TweenMax.fromTo( promotionTitle.find('.base'), .6, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: 1.4, ease: Sine.easeOut });

                TweenMax.fromTo( $('.fix-right'), .6, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: 1.6, ease: Sine.easeOut });
                TweenMax.fromTo( $('.fix-bottom'), .6, { opacity: 0, y: 100 }, { opacity: 1, y: 0, delay: 1.6, ease: Sine.easeOut });
            }});
        }});
    }

    function slideEvent(){
        $('.review-list').slick({
            autoplay: true,
            autoplaySpeed: 3000,
            speed: 1000,
            infinite: true
        });

        if( isMobile ){
            $('.text-list').each(function(key, item) {
                var sliderIdName = 'slider' + key;
                    this.id = sliderIdName;
                var sliderId = '#' + sliderIdName;

                $(sliderId).slick({
                    autoplay: true,
                    autoplaySpeed: 3000,
                    speed: 1000,
                    infinite: true,
                    arrows: false,
                    dots: true
                });
            });
        }
    }

    function tabEvent(){
        _tabList = $('.tab-list').find('a');
        _tabView = $('.tab-view');

        _tabList.on('click', function(e){
            var idx = $(this).index();
            e.preventDefault();
            tabControl(idx);

            if( isMobile ){
                $('.text-list').slick('setPosition');
            }

            if( idx == '2' || idx == '3'){
                alert('Coming Soon!');
                tabControl(0);
            }
        });
    }

    function tabControl($idx){
        _tabList.removeClass('active');
        _tabList.eq($idx).addClass('active');

        _tabView.removeClass('active');
        _tabView.eq($idx).addClass('active');
    }

    function playVideo(){
        var obj = {
            a: '//www.youtube.com/embed/FWZh-6SKp0c?autoplay=1&mute=1&playsinline=1',
            b: '//www.youtube.com/embed/R-3_adjBQ1w?autoplay=1&mute=1&playsinline=1',
            c: '//www.youtube.com/embed/1XaMlw8J43E?autoplay=1&mute=1&playsinline=1'
        };

        var playerSrc = [];
        for(var o in obj){
            playerSrc.push(obj[o]);
        };

        var iframeOption = {
            playerSrc: playerSrc,
            preview: true,
            playerClass: 'eduwill-iframe-player',
            playerPlayClass: 'eduwill-iframe-play'
        };

        eduf.UI.Player(iframeOption);
    }
</script>
