@charset "UTF-8";
.grid {
  *zoom: 1;
}

.grid:before, .grid:after {
  content: '';
  display: table;
}

.grid:after {
  clear: both;
}

.sr_only,
.sr-only,
.layer-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.promotion {
  position: relative;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.promotion .container {
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
}

.promotion .wrap {
  position: relative;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.promotion .section-topbanner {
  background: #ffdb00;
}

.promotion .section-title {
  background-color: #130c76;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_109/event/210528/mobile/title_bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.promotion .section-title .benefit {
  position: absolute;
  left: 0;
  bottom: -48.38%;
  z-index: 20;
}

.promotion .section-content01 {
  background: #fffae6;
}

.promotion .section-content02 {
  background-color: #130c76;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_109/event/210528/mobile/content02_bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.promotion .section-content05 {
  background-color: #130c76;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_109/event/210528/mobile/content05_bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.promotion .section-content06 {
  background-color: #130c76;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_109/event/210528/mobile/content06_bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.promotion .section-content06 .action {
  width: 69.02%;
  position: absolute;
  top: 62.79%;
  left: 15.55%;
}

.promotion .section-content06 .action a {
  margin-bottom: 0.5625rem;
  position: relative;
  display: inline-block;
}

@media screen and (min-width: 720px) {
  .promotion .section-content06 .action a {
    margin-bottom: 18px;
  }
}

.promotion .section-content06 .action a:after {
  content: '';
  position: absolute;
  top: 60%;
  right: 0;
  z-index: 1;
  display: block;
  width: 28.5px;
  height: 32.5px;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounce;
          animation-name: pointerBounce;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .promotion .section-content06 .action a:after {
    width: 57px;
    height: 65px;
  }
}

@-webkit-keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.promotion .section-bottom-banner {
  background: #ffd000;
}

.layer-dimmed {
  display: none;
  position: absolute;
  top: 0;
  right: 0px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10001;
  background: #000;
  opacity: .8;
  overflow: hidden;
}

.layer-video {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10002;
  max-width: 768px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.layer-video .layer-video-box {
  position: relative;
}

.layer-video .layer-video-box iframe, .layer-video .layer-video-box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: inherit;
     object-fit: inherit;
}

.layer-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  top: -60px;
  z-index: 10003;
}

.layer-close:before, .layer-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 2px;
  margin-left: -15px;
  background-color: #fff;
}

.layer-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.layer-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.layer-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}
/*# sourceMappingURL=mobile.css.map */