@charset "utf-8";

// Core variables and mixins
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/extend";
@import "module/popup";

.sr-only { position: absolute; z-index: -1; clip: rect(0 0 0 0); display: inline-block; width: 1px; height: 1px; *height: 0; margin: -1px; padding: 0; overflow: hidden; word-break: keep-all; white-space: nowrap; color: transparent; border: 0; text-indent: -9999px; }

.product {
    &-eco {
        line-height: normal;
        letter-spacing: -1px;
        * { font-family: $font-noto; }
        p {
            line-height: inherit;
            font-size: inherit;
            color: inherit;
        }
        .container {
            position: relative;
            background-repeat: no-repeat;
            background-position: center top;
        }
        .wrap {
            position: relative;
            max-width: 720px;
            margin: 0 auto;
            text-align: center;
            &-full {
                width: 100%;
			}
			.content{
				position: relative;
			}
		}
        .btn {
            position: relative;
            z-index: 1;
            display: inline-block;
            @include boxSizing(border-box);
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                right: 0;
				@include rem(width, 66px);
				@include rem(height, 73px);
				background: url('#{$img-common-path}/icon/pointer/icon_pointer_1.png') no-repeat 0 0;
				background-size:contain;
                @include animation(bounce2, 1s, $iteration: infinite){
					0%, 100% { @include translateXY(0, 0); }
					50% { @include translateXY(10px, 10px); }
                }
            }
		}
		.slide_box{
			position: relative;
			@include rem(margin ,0 50px);
			.slick-arrow {
				position: absolute;
				top: 50%;
				transform: translate(0,-50%);
				z-index: 1;
				display: block;
				@include rem(width, 20px);
				@include rem(height, 20px);
				margin: 0;
				padding: 0;
				text-indent: -9999px;
				border: none;
				background: none;
				outline: none;
				cursor: pointer;
				&.slick-prev {
					@include rem(left, 20px);
					&:after { @include arrow(left, 10px, 10px, 3px, #b2b2b2); }
				}
				&.slick-next {
					@include rem(right, 20px);
					&:after { @include arrow(right, 10px, 10px, 3px, #b2b2b2); }
				}
			}
		}
	}

    &-title {
		background: #143292 url('#{$img-path}/mobile/bg_title.jpg') no-repeat 50% 0;
		background-size: cover;
	}
	
	&-teacher{
		background-color: #f0f0f0;
	}

	&-book{
		background-color: #f0f0f0;
	}
	
	&-curriculum {
		background-color: #f0f0f0;
        margin: auto;
        .wrap{

            @include rem(padding, 0 50px);
        }
        .item{
			max-width: 622px;
			margin: 0 auto;
            border-top: 1px solid #dddddd;
            border-left: 1px solid #dddddd;
            border-right: 1px solid #dddddd;
            background-color: #fff;
            .list {
                @include rem(padding, 0 0 0 40px );
                // margin: 0 6.944% 0 11.111%;
                text-align: left;
                color: #202020;
                & + .list { @include rem(padding-bottom, 50px); }
                .title {
                    @include rem(margin-top, 60px);
                    @include vw(34px);
                    font-weight: 700;
                    color: #202020;
                    span {
                        display: inline-block;
                    }
                }
                ul { @include rem(margin-top, 10px); }
                li {
                    position: relative;
                    @include rem(padding, 10px 0);
                    @include vw(30px);
                    @include boxSizing(border-box);
                    &.highlight {
                        &:after {
                            content: '';
                            display: inline-block;
                            @include rem(width, 54px);
                            @include rem(height, 54px);
                            @include rem(margin-left, 10px);
                            vertical-align: middle;
                            background: url('#{$img-path}/pc/icon_strengthen.png') no-repeat 0 0;
                            background-size: 100% auto;
                            @include animation(flagChange, 1s, $iteration: infinite, $timing: step-start){
                                0%, 100% { opacity: 1; }
                                50% { opacity: 0; }
                            }
                        }
                    }
                    span {
                        display: inline-block;
                        @include rem(margin-left, 10px);
                    }
                    .con{
                        display: inline-block;
                    }
                }
            }
        }
		.notice{
			@include rem(margin-top, 10px);
			@include rem(font-size, 20px);
			color: #858585;
			text-align: left;
			@media screen and (min-width: 720px){
				padding: 0 50px;
			}
		}
	}

	&-management{
		background-color: #f0f0f0;
	}
	&-bar {
		background: #a6ffc7;
		@include rem(padding-bottom, 115px);
		.winner-wrap { 
			background: #fff;
			z-index: 1;
			@include rem(margin, 0 50px 30px);
			@include rem(padding, 50px 0);
			border-radius: 10px;
			.slick-slide {
				p {
					@include vw(22px);
					@include rem(height, 30px);
					color: #000;
				}
			}
		}
	}

	&-mockup {
		background-color: #1d3794;
		.slick-list,
		.slick-track {
			-webkit-transform: translate3d(0, 0, 0) !important;
			-ms-transform: translate3d(0, 0, 0) !important;
			transform: translate3d(0, 0, 0) !important;
		}

		.mock-list {
			@include rem(padding, 0 50px);
			a {
				width: 100%;
				@include rem(margin-bottom, 16px);
				@include rem(line-height, 40px);
				@include rem(font-size, 30px);
				text-align: left;
				font-weight: 400;
				color: #999;
				outline: none;
				em {
					position: relative;
					display: inline-block;
					@include rem(width, 40px);
					@include rem(height, 40px);
					@include rem(top, 5px);
					@include rem(margin-right, 5px);
					@include rem(font-size, 24px);
					vertical-align: top;
					text-align: center;
					font-weight: 500;
					border-radius: 50%;
					background: #fff;
					border: 1px solid #999;
				}
			}
			.slick-current {
				a {
					color: #222;
					font-weight: 700;
					em {
						color: #fff;
						border-color: #222;
						background-color: #222;
					}
				}
			}
		}

		.bg-wrap {
			position: relative;
			.mock-contents {
				position: absolute;
				top: 18.3%;
				left: 48.7%;
				transform: translate(-50%,0);
				width: 54.22%;
				z-index: 1;
			}
		}
		.slider-contents {
			@include rem(margin-top, 20px);
			.slick-slide{ background: #fff;}
		}

		.mock-flag{
			position: absolute;
			z-index: 5;
			top: 10%;
			right: 18%;
			@include rem(width, 96px);
		}
	}

	&-free-lecture{
		background-color: #1d3794;
	}

	&-coupon{
		background-color: #1d3794;
		@include rem(padding-bottom, 120px);
		.list-desc {
			background: #fff;
			@include rem(margin, 0 50px 0 50px);
			@include rem(padding, 40px);
			dl {
				text-align: left;
				dt {
					@include rem(margin-bottom, 16px);
					@include rem(font-size, 24px);
					font-weight: 700;
					color: #202020;
					line-height: 1.3;
					p + p { @include rem(margin-top, 20px);}
					span {
						display: inline-block;
						@include rem(margin-left, 20px);
						font-weight: 400;
						color: #888;
						font-family: $font-roboto;
					}
				}
				dd {
					li {
						position: relative;
						@include rem(padding-left, 12px);
						@include rem(font-size, 24px);
						@include rem(text-indent, -9px);
						font-weight: 400;
						line-height: 1.5;
						word-break: keep-all;
						color: #888;
						&:after{
							content: '·';
							position: absolute;
							left: 0;
							top: 0;
						}
					}
				}
			}
		}
	}

}