@{
    string viewPath = ((RazorView)ViewContext.View).ViewPath;
    viewPath = viewPath.Remove(viewPath.LastIndexOf('/') + 1);
}

@{
    string cssUrl = ViewBag.IsLocal
        ? "/Content/2022/L/event/220119/css/mobile.css"    // local 경로
        : "//img.eduwill.net/eduwill/css/2022/L/event/220119/mobile.css";   // ftp 경로
}
<link rel="stylesheet" type="text/css" href="https://img.eduwill.net/eduwill/css/2021/L/common/210329/mobile.css" />
<link rel="stylesheet" type="text/css" href="@cssUrl" />
<link rel="stylesheet" href="//img.eduwill.net/eduwill/dev/css/common/eduf.css">

<div id="contents" class="promotion">
	@Html.Partial(viewPath + "_Content.cshtml")
	<div data-eduwill-eco-content="3546"></div>
    <div data-eduwill-eco-content="2924"></div>
	<div data-eduwill-eco-content="3251"></div>
    <div data-eduwill-eco-content="2916"></div>
    <div data-eduwill-eco-content="2917"></div>
    <div data-eduwill-eco-content="2918"></div>
    <div data-eduwill-eco-content="2919"></div>
    <div data-eduwill-eco-content="2920"></div>
    <div data-eduwill-eco-content="2921"></div>
    <div data-eduwill-eco-content="2922"></div>
    <div data-eduwill-eco-content="2923"></div>
    <div data-eduwill-eco-content="2925"></div>
	<div data-eduwill-eco-content="2018"></div>
    <div data-eduwill-eco-content="2021"></div>
</div>