@{
    String platform = ("W".Equals(ViewBag.PlatformCd))? "pc": "mobile";
}

<div id="contents" class="promotion">

	<div class="fix-banner">
		<div class="wrap">
			<a href="#sectorApplyInfo" class="page-move">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220215/@platform/fix_banner.jpg" alt="">
			</a>
		</div>
	</div>

    <div class="sector-title">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220215/@platform/title.png" alt="">
			<div class="text-box">
				<h4>
					12년간 베스트셀러 1위* 신화 에듀윌의 학습 노하우를 담은<br>
					에듀윌 토익 앱을 가장 먼저 만날 기회!
				</h4>
				<h3>
					<span class="point">에듀윌 토익 AI 앱 1.0</span><br>
					베타 테스터 선착순 모집
				</h3>
				
				<div class="period">
					<dl>
						<dt>모집 기간 </dt><dd>2/14~ 3/14</dd>
					</dl>
					<dl>
						<dt>체험 기간</dt><dd>2/14 ~ 4/25</dd>
					</dl>
				</div>

				<div class="action">
					<a href="#sectorApplyInfo" class="btn page-move">베타 테스터 신청하고, 에듀윌 토익 인강 받기</a>
				</div>

				@if ("W".Equals(ViewBag.PlatformCd)) {
				<div class="notice">
					*12년간 베스트셀러 1위: YES24 공인중개사 베스트셀러 1위 2011년 11월 2주, 2011년 12월, 2012년 1월, <br>
					12월, 2013년 1월~5월, 8월~12월, 2014년 1월~5월, 7월~8월, 12월, 2015년 2월~4월, 2016년 2월, 4월, 6월,<br> 
					2016년 12월~2022년 1월(연속) ※ 매 월별 1위는 교재별로 다름
				</div>
				}
				else{
				<div class="notice">
					*12년간 베스트셀러 1위: YES24 공인중개사 베스트셀러 1위 2011년 11월 2주, 2011년 12월, 2012년 1월,
					12월, 2013년 1월~5월, 8월~12월, 2014년 1월~5월, 7월~8월, 12월, 2015년 2월~4월, 2016년 2월, 4월, 6월,
					2016년 12월~2022년 1월(연속) ※ 매 월별 1위는 교재별로 다름
				</div>	
				}

			</div>

        </div>
    </div>

    <div class="sector-tester">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220215/@platform/img_tester.jpg" alt="">
			<a href="#sectorDownload" class="btn page-move">
				<span class="sr-only">에듀윌 토익 AI 설치하기</span>
			</a>
		</div>
	</div>

    <div id="sectorApplyInfo" class="sector-apply-info">
        <div class="wrap">
			@if ("W".Equals(ViewBag.PlatformCd)) {
			<div class="info-title">딱 1초만에 신청하고 토익 인강 무료받기!</div>
			}
			else{
			<div class="info-title">딱 1초만에 신청하고<br>토익 인강 무료받기!</div>
			}
			<div class="info-login">
				<p class="nomember">에듀윌 회원이신가요?<a href="javascript:;">로그인하기</a></p> 
			</div>

            <div class="info-list">
                <div class="list">
                    <div class="list-item form-control">
                        <div class="subject"><label for="userName">이름</label></div>
                        <div class="forms">
                            <input type="text" id="userName" name="userName" placeholder="이름입력" class="text" maxlength=""  value="">
                        </div>
                    </div>
                </div>
                <div class="list">
                    <div class="list-item form-control">
                        <div class="subject"><label for="userTel">핸드폰 번호</label></div>
                        <div class="forms">
                            <input type="tel" id="userTel" name="userTel" placeholder="핸드폰번호 입력 (01012341234)" class="text" maxlength="" value="">
							<a href="javascript:;" class="btn btn-yellow"><span>인증번호 전송</span></a>
                        </div>
                    </div>
                </div>
				<div class="list">
                    <div class="list-item form-control">
                        <div class="subject"><label for="">인증번호</label></div>
                        <div class="forms">
                            <input type="tel" id="" name="" placeholder="5분안에 입력해 주세요." class="text" maxlength="" value="">
							<a href="javascript:;" class="btn btn-gray"><span>확인</span></a>
							<div class="timer" id="timer">05:00</div>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <div class="list-item form-control">
                        <div class="subject"><label for="userEmail">이메일 주소</label></div>
                        <div class="forms">
                            <input type="text" id="userEmail" name="userEmail" placeholder="이메일주소 입력 (kimeto@eduwill.net)" class="text" value="">
                        </div>
                    </div>
                </div>
            </div>

			<div class="agree-list">
				<div class="subject">동의</div>
				<hr class="line">
				
				<div class="form-control">

					<div class="agree-btn">
						<label class="fake-check"><input type="checkbox" name=""><span class="fake"></span><span class="label">모두동의</span></label>
					</div>

					<div class="agree-btn">
						<label class="fake-check">
							<input type="checkbox" name=""><span class="fake"></span><span class="label">에듀윌 토익 AI 베타테스트 안내사항을 확인했습니다. (필수)</span>
						</label>
						<a href="javascript:;" class="toggle-btn"><span>자세히보기</span></a>
					</div>
					<div class="agree-detail">
						<ul class="agree-box">
							<li>무의미한 내용, 성의 없는 내용 등 퀄리티가 현저하게 낮은 후기는 인정되지 않습니다.</li>
							<li>이벤트 종료 후 상품 수령 대상자에게는 이벤트 참여 시 기재한 이메일로 상품 지급 시기와 방법 등에 관한 안내가 진행됩니다.</li>
							<li>신청 완료 후 안내에 따라 모든 활동을 완료해야 인강이 지급됩니다.</li>
							<li>본 이벤트는 내부 사정에 의해 변경/종료될 수 있습니다.</li>
							<li>신청 시에 기입한 정보와 후기 작성시 기입한 정보가 상이할 경우 참여 대상에서 제외되니 정확한 정보를 입력해주시길 바랍니다.</li>
						</ul>
					</div>

					<div class="agree-btn">
						<label class="fake-check">
							<input type="checkbox" name=""><span class="fake"></span><span class="label">개인정보의 수집/이용에 동의합니다. (필수)</span>
						</label>
						<a href="javascript:;" class="toggle-btn"><span>자세히보기</span></a>
					</div>
					<div class="agree-detail">
						<p>
							(주)에듀윌은 본 이벤트를 위해 다음과 같이 참여자의 개인정보를 수집 및 이용합니다.
						</p>
						<div class="agree-table">
 							<table cellpadding="0" cellspacing="0">
								<colgroup>
									<col style="width: 30%;" />
									<col style="width: auto;" />
								</colgroup>
								<tbody>
									<tr>
										<th>수집 및 이용 목적</th>
										<td>참가자 정보 확인, SMS 문자/이메일 안내 발송, 후기작성 관리, 사은품 발송</td>
									</tr>
									<tr>
										<th>수집항목</th>
										<td>이름, 휴대폰 번호, 이메일 주소</td>
									</tr>
									<tr>
										<th>보유 및 이용기간</th>
										<td><strong>이벤트 종료 후 1년</strong></td>
									</tr>
									<tr>
										<th>동의거부권 및 불이익</th>
										<td>귀하는 개인정보 수집 및 이용에 동의하지 않으실 수 있으나, 동의하지 않으실 경우 참여가 제한됩니다.</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="agree-btn">
						<label class="fake-check">
							<input type="checkbox" name=""><span class="fake"></span><span class="label">개인정보 마케팅 활용에 대한 동의 (선택)</span>
						</label>
						<a href="javascript:;" class="toggle-btn"><span>자세히보기</span></a>
					</div>
					<div class="agree-detail">
						<p>
							(주)에듀윌은 본 이벤트에 한정하여 다음과 같이 참여자의 개인정보를 마케팅에 활용할 수 있습니다.
						</p>
						<div class="agree-table">
							<table cellpadding="0" cellspacing="0">
								<colgroup>
									<col style="width: 30%;" />
									<col style="width: auto;" />
								</colgroup>
								<tbody>
									<tr>
										<th>수집 및 이용 목적</th>
										<td><strong>상품 및 이벤트 안내</strong></td>
									</tr>
									<tr>
										<th>수집항목</th>
										<td>이름, 휴대폰 번호</td>
									</tr>
									<tr>
										<th>보유 및 이용기간</th>
										<td><strong>이벤트 종료 후 1년</strong></td>
									</tr>
									<tr>
										<th>동의거부권 및 불이익</th>
										<td>귀하는 개인정보 수집 및 이용에 동의하지 않으실 수 있으며, <strong>동의하지 않더라도 이벤트 참여는 가능합니다.</strong></td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>



				</div>
				<hr class="line">
			</div>

			<div class="action">
				<a href="javascript:;" class="btn">베타 테스터 신청하고, 에듀윌 토익 인강 받기</a>
			</div>

			<ul class="notice-box">
				<li><strong>이벤트 당첨 유의사항</strong></li>
				<li>참여자 전원 제공: 에듀윌 토익 강좌<br>
				여러 강좌 중 선택한 강좌에 대한 전체 강의 제공 예정이며 3월부터 수강하실 수 있습니다.<br>
				강좌 정보는 정식 버전 후기 작성을 완료한 자에 한하여, 추후 문자를 통해 안내 드립니다.</li>

				<li>우수 참여자 10명: 올리브영 기프트카드 2만원 권 10명<br>
				우수 참여자 선정 기준: 베타 테스터 활동 내용을 모두 완수하고, 가장 성의 있는 후기를 작성한 분 10명<br>
				선정 (베타버전 설치 및 후기 작성, 정식버전 설치 및 후기 작성)</li>

				<li>당첨자 발표: 5월 초에 개별적으로 당첨 안내 예정입니다.</li>
			</ul>

        </div>
    </div>

    <div id="sectorDownload" class="sector-download">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220215/@platform/img_download.jpg" alt="">
			<a href="https://apps.apple.com/app/id1600206084" class="btn-1">
				<span class="sr-only">앱스토어다운로드</span>
			</a>
			<a href="https://play.google.com/store/apps/details?id=net.eduwill.toeic" class="btn-2">
				<span class="sr-only">앱스토어다운로드</span>
			</a>
		</div>
	</div>

</div>

<script>
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
    var str = 'event.eduwill.net';
    var checkUrl = url.indexOf(str);
    var userId = "@(UserSession.UserID)";

    $(function () {
        promotionInit();
    });

    function promotionInit() {
		addEvent();
    }

    function addEvent(){
		pageMove('.page-move');
		
		$(".toggle-btn").click(function(){
			$(this).parent().next().toggleClass("active");
			$(this).toggleClass("active");
		});
    }
</script>