@charset "UTF-8";
a {
  outline: 0;
  outline: none;
}

.grid, .product-eco .sector-price .price-group .price-head, .product-eco .sector-price .price-group .price-head .price-won strong, .product-eco .sector-price .price-group .price-benefit .grid-list, .product-eco .sector-system-1 .tab-list, .product-eco .sector-teacher .small-list {
  *zoom: 1;
}

.grid:before, .product-eco .sector-price .price-group .price-head:before, .product-eco .sector-price .price-group .price-head .price-won strong:before, .product-eco .sector-price .price-group .price-benefit .grid-list:before, .product-eco .sector-system-1 .tab-list:before, .product-eco .sector-teacher .small-list:before, .grid:after, .product-eco .sector-price .price-group .price-head:after, .product-eco .sector-price .price-group .price-head .price-won strong:after, .product-eco .sector-price .price-group .price-benefit .grid-list:after, .product-eco .sector-system-1 .tab-list:after, .product-eco .sector-teacher .small-list:after {
  content: '';
  display: table;
}

.grid:after, .product-eco .sector-price .price-group .price-head:after, .product-eco .sector-price .price-group .price-head .price-won strong:after, .product-eco .sector-price .price-group .price-benefit .grid-list:after, .product-eco .sector-system-1 .tab-list:after, .product-eco .sector-teacher .small-list:after {
  clear: both;
}

.hidden,
.sr_only,
.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid, .product-eco .sector-price .price-group .price-head, .product-eco .sector-price .price-group .price-head .price-won strong, .product-eco .sector-price .price-group .price-benefit .grid-list, .product-eco .sector-system-1 .tab-list, .product-eco .sector-teacher .small-list {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col, .product-eco .sector-price .price-group .price-head .col, .product-eco .sector-price .price-group .price-head .price-won strong .col, .product-eco .sector-system-1 .tab-list .col, .product-eco .sector-teacher .small-list .col, .product-eco .sector-price .price-group .price-head .price-info, .product-eco .sector-price .price-group .price-head .price-won strong .price-info, .product-eco .sector-price .price-group .price-head .price-won, .product-eco .sector-price .price-group .price-head .price-won strong .price-won, .product-eco .sector-price .price-group .price-benefit .grid-list .col, .product-eco .sector-price .price-group .price-head .sector-system-1 .tab-list li, .product-eco .sector-system-1 .tab-list .sector-price .price-group .price-head li, .product-eco .sector-price .price-group .price-benefit .grid-list .sector-system-1 .tab-list li, .product-eco .sector-system-1 .tab-list .sector-price .price-group .price-benefit .grid-list li, .product-eco .sector-system-1 .tab-list li {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.table {
  display: table;
}

.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.product-eco .slick-arrow, .product-eco .sector-place .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  background: none;
  outline: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.effect-bounce-diagonal {
  -webkit-animation-name: effectBounceDiagonal;
          animation-name: effectBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  -webkit-animation-name: effectBounceUpDown;
          animation-name: effectBounceUpDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.effect-extend {
  -webkit-animation-name: effectExtend;
          animation-name: effectExtend;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

@keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

.effect-blink {
  -webkit-animation-name: effectBlink;
          animation-name: effectBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.layer-dim {
  display: none;
  position: fixed;
  top: 0;
  right: 0px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: #000;
  opacity: .8;
  overflow: hidden;
}

.layer-review {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10001;
  max-width: 768px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.layer-review .layer-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 8.33333vw;
  height: 8.33333vw;
  top: -60px;
  z-index: 10002;
}

@media screen and (min-width: 720px) {
  .layer-review .layer-close {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .layer-review .layer-close {
    height: 60px;
  }
}

.layer-review .layer-close:before, .layer-review .layer-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 2px;
  margin-left: -15px;
  background-color: #fff;
}

.layer-review .layer-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.layer-review .layer-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.layer-review .layer-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.layer-review .layer-box {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.layer-review .layer-box iframe, .layer-review .layer-box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: inherit;
     object-fit: inherit;
}

.product-eco {
  min-width: 1200px;
  overflow: hidden;
}

.product-eco *, .product-eco *:before, .product-eco *:after {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.product-eco li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-eco img {
  border: 0;
  vertical-align: top;
}

.product-eco [class^="sector-"] {
  position: relative;
}

.product-eco .wrap {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  width: 100%;
}

.product-eco .holder {
  position: relative;
}

.product-eco .wing-right {
  position: fixed;
  top: 250px;
  right: 10px;
  width: 200px;
  border-radius: 0 0 30px 0;
  overflow: hidden;
  z-index: 10;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.product-eco .action {
  position: relative;
}

.product-eco .action a {
  display: block;
  width: 100%;
  padding: 45px 0;
  font-weight: 900;
  letter-spacing: -2px;
  font-size: 34px;
  line-height: 1;
  background: #080d0a;
  color: #fff;
}

.product-eco .action a {
  position: relative;
  display: inline-block;
}

.product-eco .action a:before {
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 1.38889vw;
  height: 1.38889vw;
  margin-top: -0.69444vw;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 2.77778vw;
  border-top-width: 3px;
  border-right-width: 3px;
}

@media screen and (min-width: 720px) {
  .product-eco .action a:before {
    width: 10px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .action a:before {
    height: 10px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .action a:before {
    margin-top: -5px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .action a:before {
    right: 20px;
  }
}

.product-eco .action a:before {
  right: 40px;
}

.product-eco .icon-pointer {
  position: relative;
  display: inline-block;
}

.product-eco .icon-pointer:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  display: block;
  width: 11.11111vw;
  height: 12.22222vw;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_1.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .icon-pointer:after {
    width: 80px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .icon-pointer:after {
    height: 88px;
  }
}

@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.product-eco .slick-arrow {
  top: 50%;
  border-radius: 50%;
  left: 50% !important;
  z-index: 112;
}

.product-eco .slick-arrow.slick-prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 6.94444vw;
  height: 6.94444vw;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  margin-left: -628px;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev {
    width: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev {
    height: 50px;
  }
}

.product-eco .slick-arrow.slick-prev:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 1.73611vw;
  height: 1.73611vw;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-bottom-width: 3px;
  border-left-width: 3px;
  -webkit-transform: translate(-25%, -50%) rotate(45deg);
  transform: translate(-25%, -50%) rotate(45deg);
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev:before {
    width: 12.5px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev:before {
    height: 12.5px;
  }
}

.product-eco .slick-arrow.slick-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 6.94444vw;
  height: 6.94444vw;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  margin-left: 560px;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next {
    width: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next {
    height: 50px;
  }
}

.product-eco .slick-arrow.slick-next:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 1.73611vw;
  height: 1.73611vw;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-top-width: 3px;
  border-right-width: 3px;
  -webkit-transform: translate(-75%, -50%) rotate(45deg);
  transform: translate(-75%, -50%) rotate(45deg);
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next:before {
    width: 12.5px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next:before {
    height: 12.5px;
  }
}

.product-eco .notice {
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -1px;
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.5;
}

.product-eco .sector-title {
  background: url("https://img.eduwill.net/eduwill/img/2022/G/product/220318_2/pc/bg_repeat.jpg") 0 0 repeat-x;
}

.product-eco .sector-title .wrap {
  width: 1300px;
}

.product-eco .sector-title .bg-wrap {
  background: url("https://img.eduwill.net/eduwill/img/2022/G/product/220318_2/pc/bg_title.jpg") 50% 0 no-repeat;
  background-size: auto auto;
}

.product-eco .sector-benefit {
  background: #f3f3f3;
}

.product-eco .sector-special {
  background: #305f3f;
}

.product-eco .sector-special:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -7.36111vw;
  width: 17.08333vw;
  height: 17.22222vw;
  background: url("https://img.eduwill.net/eduwill/img/2022/G/product/220318_2/pc/icon_plus.png") 50% 0 no-repeat;
  background-size: cover;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-special:before {
    top: -53px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-special:before {
    width: 123px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-special:before {
    height: 124px;
  }
}

.product-eco .sector-price {
  padding-bottom: 120px;
  background: #fff;
}

.product-eco .sector-price .price-group {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0 30px 0 30px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.product-eco .sector-price .price-group .price-tag {
  position: absolute;
  top: 0;
  left: 83px;
  width: 78px;
  height: 60px;
  background: #ff6600;
  z-index: 1;
}

.product-eco .sector-price .price-group .price-tag strong {
  display: inline-block;
  padding-top: 9px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.product-eco .sector-price .price-group .price-tag:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 100%;
  width: 0px;
  height: 0px;
  border-top: 20px solid #ff6600;
  border-left: 39px solid transparent;
  border-right: 39px solid transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.product-eco .sector-price .price-group .price-head {
  position: relative;
  padding: 57px 80px 82px 85px;
  background: #d6f3e1;
  background: -webkit-gradient(linear, left top, left bottom, from(#d6f3e1), to(#fdebd7));
  background: linear-gradient(to bottom, #d6f3e1 0%, #fdebd7 100%);
}

.product-eco .sector-price .price-group .price-head .price-info {
  padding-top: 65px;
  width: 50%;
  text-align: left;
}

.product-eco .sector-price .price-group .price-head .price-info p {
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: 500;
  color: #080d0a;
  letter-spacing: -1px;
  line-height: 1;
}

.product-eco .sector-price .price-group .price-head .price-info strong {
  font-weight: 900;
  color: #080d0a;
  font-size: 42px;
  letter-spacing: -2px;
  line-height: 1;
}

.product-eco .sector-price .price-group .price-head .price-won {
  float: right;
  width: 365px;
  text-align: right;
}

.product-eco .sector-price .price-group .price-head .price-won strong {
  display: block;
  font-size: 20px;
  font-weight: 700;
}

.product-eco .sector-price .price-group .price-head .price-won strong em {
  float: left;
  vertical-align: middle;
  line-height: 45px;
}

.product-eco .sector-price .price-group .price-head .price-won strong span {
  font-size: 42px;
  letter-spacing: -2px;
  line-height: 1;
}

.product-eco .sector-price .price-group .price-head .price-won strong + strong {
  margin-top: 15px;
}

.product-eco .sector-price .price-group .price-head .price-won strong.before-won {
  color: #abbbae;
}

.product-eco .sector-price .price-group .price-head .price-won strong.before-won em {
  line-height: 35px;
}

.product-eco .sector-price .price-group .price-head .price-won strong.before-won span {
  text-decoration: line-through;
  font-size: 30px;
}

.product-eco .sector-price .price-group .price-head .price-won strong.after-won {
  color: #ff6600;
}

.product-eco .sector-price .price-group .price-head .price-won strong.refund-won {
  color: #080d0a;
}

.product-eco .sector-price .price-group .price-head .price-won .notice {
  margin-top: 20px;
  color: #080d0a;
  font-weight: 500;
  font-size: 16px;
}

.product-eco .sector-price .price-group .price-body {
  position: relative;
  padding: 45px 70px;
  top: -30px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 0 30px 0 30px;
  border: 3px solid #080d0a;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.product-eco .sector-price .price-group .price-body .text {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -1.5px;
  line-height: 44px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .sector-price .price-group .price-body .text.text-1 {
  text-align: left;
  padding-right: 40px;
  width: 46%;
  color: #2b7041;
}

.product-eco .sector-price .price-group .price-body .text.text-1:after {
  content: '+';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  width: 40px;
  height: 40px;
  color: #fff;
  line-height: 40px;
  border-radius: 50%;
  background: #080d0a;
}

.product-eco .sector-price .price-group .price-body .text.text-2 {
  text-align: right;
  width: 53%;
  color: #ff6600;
}

.product-eco .sector-price .price-group .price-body .text.text-2 strong {
  position: relative;
  top: -5px;
  font-size: 60px;
  vertical-align: top;
}

.product-eco .sector-price .price-group .price-benefit {
  padding: 0 80px 60px;
}

.product-eco .sector-price .price-group .price-benefit .grid-list {
  margin-bottom: 50px;
}

.product-eco .sector-price .price-group .price-benefit .grid-list .price-head .price-info, .product-eco .sector-price .price-group .price-head .price-benefit .grid-list .price-info, .product-eco .sector-price .price-group .price-benefit .grid-list .price-head .price-won, .product-eco .sector-price .price-group .price-head .price-benefit .grid-list .price-won, .product-eco .sector-price .price-group .price-benefit .grid-list .col, .product-eco .sector-price .price-group .price-benefit .grid-list .sector-system-1 .tab-list li, .product-eco .sector-system-1 .tab-list .sector-price .price-group .price-benefit .grid-list li {
  width: 35%;
}

.product-eco .sector-price .price-group .price-benefit .grid-list .price-head .price-info li, .product-eco .sector-price .price-group .price-head .price-benefit .grid-list .price-info li, .product-eco .sector-price .price-group .price-benefit .grid-list .price-head .price-won li, .product-eco .sector-price .price-group .price-head .price-benefit .grid-list .price-won li, .product-eco .sector-price .price-group .price-benefit .grid-list .col li, .product-eco .sector-price .price-group .price-benefit .grid-list .sector-system-1 .tab-list li li, .product-eco .sector-system-1 .tab-list .sector-price .price-group .price-benefit .grid-list li li {
  position: relative;
  padding-left: 14px;
  font-size: 18px;
  color: #535353;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 10px;
  text-align: left;
}

.product-eco .sector-price .price-group .price-benefit .grid-list .price-head .price-info li:first-child, .product-eco .sector-price .price-group .price-head .price-benefit .grid-list .price-info li:first-child, .product-eco .sector-price .price-group .price-benefit .grid-list .price-head .price-won li:first-child, .product-eco .sector-price .price-group .price-head .price-benefit .grid-list .price-won li:first-child, .product-eco .sector-price .price-group .price-benefit .grid-list .col li:first-child, .product-eco .sector-price .price-group .price-benefit .grid-list .sector-system-1 .tab-list li li:first-child, .product-eco .sector-system-1 .tab-list .sector-price .price-group .price-benefit .grid-list li li:first-child {
  margin-top: 0;
}

.product-eco .sector-price .price-group .price-benefit .grid-list .price-head .price-info li:before, .product-eco .sector-price .price-group .price-head .price-benefit .grid-list .price-info li:before, .product-eco .sector-price .price-group .price-benefit .grid-list .price-head .price-won li:before, .product-eco .sector-price .price-group .price-head .price-benefit .grid-list .price-won li:before, .product-eco .sector-price .price-group .price-benefit .grid-list .col li:before, .product-eco .sector-price .price-group .price-benefit .grid-list .sector-system-1 .tab-list li li:before, .product-eco .sector-system-1 .tab-list .sector-price .price-group .price-benefit .grid-list li li:before {
  content: '·';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 900;
  color: #ff6600;
}

.product-eco .sector-price .price-group .price-benefit .grid-list .price-head .list-1.price-info li:before, .product-eco .sector-price .price-group .price-head .price-benefit .grid-list .list-1.price-info li:before, .product-eco .sector-price .price-group .price-benefit .grid-list .price-head .list-1.price-won li:before, .product-eco .sector-price .price-group .price-head .price-benefit .grid-list .list-1.price-won li:before, .product-eco .sector-price .price-group .price-benefit .grid-list .list-1.col li:before, .product-eco .sector-price .price-group .price-benefit .grid-list .sector-system-1 .tab-list li.list-1 li:before, .product-eco .sector-system-1 .tab-list .sector-price .price-group .price-benefit .grid-list li.list-1 li:before {
  color: #93cf00;
}

.product-eco .sector-price .price-group .price-benefit .grid-list .price-head .list-3.price-info, .product-eco .sector-price .price-group .price-head .price-benefit .grid-list .list-3.price-info, .product-eco .sector-price .price-group .price-benefit .grid-list .price-head .list-3.price-won, .product-eco .sector-price .price-group .price-head .price-benefit .grid-list .list-3.price-won, .product-eco .sector-price .price-group .price-benefit .grid-list .list-3.col, .product-eco .sector-price .price-group .price-benefit .grid-list .sector-system-1 .tab-list li.list-3, .product-eco .sector-system-1 .tab-list .sector-price .price-group .price-benefit .grid-list li.list-3 {
  width: 30%;
}

.product-eco .sector-bar.bar-1 {
  background: #fd720a;
}

.product-eco .sector-bar.bar-1:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 41.38889vw;
  height: 7.63889vw;
  background: url("https://img.eduwill.net/eduwill/img/2022/G/product/220318_2/pc/icon_arrow.png") 50% 0 no-repeat;
  background-size: cover;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-bar.bar-1:after {
    width: 298px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-bar.bar-1:after {
    height: 55px;
  }
}

.product-eco .sector-bar.bar-2 {
  background: #305f3f;
}

.product-eco .sector-info-1 {
  background: #f3f3f3;
}

.product-eco .sector-system-1 .tab-list {
  width: 1100px;
  margin: 0 auto;
}

.product-eco .sector-system-1 .tab-list li {
  width: 364px;
}

.product-eco .sector-system-1 .tab-list li:not(:first-child) {
  margin-left: 4px;
}

.product-eco .sector-system-1 .wrap-full .wrap {
  width: 1400px;
}

.product-eco .sector-system-1 .wrap-full .tab-contents {
  display: none;
}

.product-eco .sector-system-1 .wrap-full .tab-contents .btn-sample {
  display: block;
  position: absolute;
  width: 350px;
  height: 196px;
  top: 534px;
  left: 50%;
  margin-left: 95px;
  z-index: 1;
}

.product-eco .sector-system-1 .wrap-full .tab-contents.active {
  display: block;
}

.product-eco .sector-system-1 .wrap-full .tab-contents.tab-1 {
  background: #ffebd6;
}

.product-eco .sector-system-1 .wrap-full .tab-contents.tab-2 {
  background: #d6e6db;
}

.product-eco .sector-system-1 .wrap-full .tab-contents.tab-3 {
  background: #cbe6e9;
}

.product-eco .sector-teacher {
  padding: 100px 0;
}

.product-eco .sector-teacher .slide-contents {
  width: 1138px;
  margin: 0 auto;
  padding-left: 38px;
}

.product-eco .sector-teacher .teacher-major {
  text-align: center;
  margin-bottom: 40px;
}

.product-eco .sector-teacher .teacher-major .col, .product-eco .sector-teacher .teacher-major .sector-price .price-group .price-head .price-info, .product-eco .sector-price .price-group .price-head .sector-teacher .teacher-major .price-info, .product-eco .sector-teacher .teacher-major .sector-price .price-group .price-head .price-won, .product-eco .sector-price .price-group .price-head .sector-teacher .teacher-major .price-won, .product-eco .sector-teacher .teacher-major .sector-price .price-group .price-benefit .grid-list .col, .product-eco .sector-price .price-group .price-benefit .grid-list .sector-teacher .teacher-major .col, .product-eco .sector-teacher .teacher-major .sector-system-1 .tab-list li, .product-eco .sector-system-1 .tab-list .sector-teacher .teacher-major li {
  position: relative;
  display: block;
  width: 20%;
}

.product-eco .sector-teacher .teacher-major .col img, .product-eco .sector-teacher .teacher-major .sector-price .price-group .price-head .price-info img, .product-eco .sector-price .price-group .price-head .sector-teacher .teacher-major .price-info img, .product-eco .sector-teacher .teacher-major .sector-price .price-group .price-head .price-won img, .product-eco .sector-price .price-group .price-head .sector-teacher .teacher-major .price-won img, .product-eco .sector-teacher .teacher-major .sector-price .price-group .price-benefit .grid-list .col img, .product-eco .sector-price .price-group .price-benefit .grid-list .sector-teacher .teacher-major .col img, .product-eco .sector-teacher .teacher-major .sector-system-1 .tab-list li img, .product-eco .sector-system-1 .tab-list .sector-teacher .teacher-major li img {
  width: 190px;
}

.product-eco .sector-teacher .teacher-major .col .t-info, .product-eco .sector-teacher .teacher-major .sector-price .price-group .price-head .price-info .t-info, .product-eco .sector-price .price-group .price-head .sector-teacher .teacher-major .price-info .t-info, .product-eco .sector-teacher .teacher-major .sector-price .price-group .price-head .price-won .t-info, .product-eco .sector-price .price-group .price-head .sector-teacher .teacher-major .price-won .t-info, .product-eco .sector-teacher .teacher-major .sector-price .price-group .price-benefit .grid-list .col .t-info, .product-eco .sector-price .price-group .price-benefit .grid-list .sector-teacher .teacher-major .col .t-info, .product-eco .sector-teacher .teacher-major .sector-system-1 .tab-list li .t-info, .product-eco .sector-system-1 .tab-list .sector-teacher .teacher-major li .t-info {
  position: absolute;
  bottom: 6px;
  left: 2px;
  color: #222;
  font-size: 20px;
  text-align: left;
  line-height: 1;
  letter-spacing: -1px;
}

.product-eco .sector-teacher .teacher-major .col .t-info .name, .product-eco .sector-teacher .teacher-major .sector-price .price-group .price-head .price-info .t-info .name, .product-eco .sector-price .price-group .price-head .sector-teacher .teacher-major .price-info .t-info .name, .product-eco .sector-teacher .teacher-major .sector-price .price-group .price-head .price-won .t-info .name, .product-eco .sector-price .price-group .price-head .sector-teacher .teacher-major .price-won .t-info .name, .product-eco .sector-teacher .teacher-major .sector-system-1 .tab-list li .t-info .name, .product-eco .sector-system-1 .tab-list .sector-teacher .teacher-major li .t-info .name {
  display: inline-block;
  padding-right: 27px;
  font-weight: 700;
  line-height: 1;
}

.product-eco .sector-teacher .teacher-major .slick-arrow.slick-prev {
  margin-left: -638px;
}

.product-eco .sector-teacher .teacher-major .slick-arrow.slick-next {
  margin-left: 552px;
}

.product-eco .sector-teacher .small-list {
  width: 100%;
}

.product-eco .sector-teacher .teacher-list {
  overflow: hidden;
  width: 1134px;
  margin: 0 auto;
}

.product-eco .sector-teacher .teacher-list .col, .product-eco .sector-teacher .teacher-list .sector-price .price-group .price-head .price-info, .product-eco .sector-price .price-group .price-head .sector-teacher .teacher-list .price-info, .product-eco .sector-teacher .teacher-list .sector-price .price-group .price-head .price-won, .product-eco .sector-price .price-group .price-head .sector-teacher .teacher-list .price-won, .product-eco .sector-teacher .teacher-list .sector-price .price-group .price-benefit .grid-list .col, .product-eco .sector-price .price-group .price-benefit .grid-list .sector-teacher .teacher-list .col, .product-eco .sector-teacher .teacher-list .sector-system-1 .tab-list li, .product-eco .sector-system-1 .tab-list .sector-teacher .teacher-list li {
  position: relative;
  float: left;
  width: 16.6666%;
  padding: 10px 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product-eco .sector-teacher .teacher-list .col img, .product-eco .sector-teacher .teacher-list .sector-price .price-group .price-head .price-info img, .product-eco .sector-price .price-group .price-head .sector-teacher .teacher-list .price-info img, .product-eco .sector-teacher .teacher-list .sector-price .price-group .price-head .price-won img, .product-eco .sector-price .price-group .price-head .sector-teacher .teacher-list .price-won img, .product-eco .sector-teacher .teacher-list .sector-price .price-group .price-benefit .grid-list .col img, .product-eco .sector-price .price-group .price-benefit .grid-list .sector-teacher .teacher-list .col img, .product-eco .sector-teacher .teacher-list .sector-system-1 .tab-list li img, .product-eco .sector-system-1 .tab-list .sector-teacher .teacher-list li img {
  width: 100%;
}

.product-eco .sector-teacher .teacher-list .col .t-info, .product-eco .sector-teacher .teacher-list .sector-price .price-group .price-head .price-info .t-info, .product-eco .sector-price .price-group .price-head .sector-teacher .teacher-list .price-info .t-info, .product-eco .sector-teacher .teacher-list .sector-price .price-group .price-head .price-won .t-info, .product-eco .sector-price .price-group .price-head .sector-teacher .teacher-list .price-won .t-info, .product-eco .sector-teacher .teacher-list .sector-price .price-group .price-benefit .grid-list .col .t-info, .product-eco .sector-price .price-group .price-benefit .grid-list .sector-teacher .teacher-list .col .t-info, .product-eco .sector-teacher .teacher-list .sector-system-1 .tab-list li .t-info, .product-eco .sector-system-1 .tab-list .sector-teacher .teacher-list li .t-info {
  position: absolute;
  top: 33px;
  left: 32px;
  text-align: left;
}

.product-eco .sector-teacher .teacher-list .col .t-info .subject, .product-eco .sector-teacher .teacher-list .sector-price .price-group .price-head .price-info .t-info .subject, .product-eco .sector-price .price-group .price-head .sector-teacher .teacher-list .price-info .t-info .subject, .product-eco .sector-teacher .teacher-list .sector-price .price-group .price-head .price-won .t-info .subject, .product-eco .sector-price .price-group .price-head .sector-teacher .teacher-list .price-won .t-info .subject, .product-eco .sector-teacher .teacher-list .sector-system-1 .tab-list li .t-info .subject, .product-eco .sector-system-1 .tab-list .sector-teacher .teacher-list li .t-info .subject {
  color: #e7e7e7;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -1px;
}

.product-eco .sector-teacher .teacher-list .col .t-info .name, .product-eco .sector-teacher .teacher-list .sector-price .price-group .price-head .price-info .t-info .name, .product-eco .sector-price .price-group .price-head .sector-teacher .teacher-list .price-info .t-info .name, .product-eco .sector-teacher .teacher-list .sector-price .price-group .price-head .price-won .t-info .name, .product-eco .sector-price .price-group .price-head .sector-teacher .teacher-list .price-won .t-info .name, .product-eco .sector-teacher .teacher-list .sector-system-1 .tab-list li .t-info .name, .product-eco .sector-system-1 .tab-list .sector-teacher .teacher-list li .t-info .name {
  display: inline-block;
  padding-bottom: 30px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 700;
  color: #e7e7e7;
  letter-spacing: -1px;
  line-height: 1;
}

.product-eco .sector-system-3 {
  padding-bottom: 65pt;
  background: #f3f3f3;
}

.product-eco .sector-system-3 .acer {
  width: 1100px;
  margin: 0 auto;
}

.product-eco .sector-system-3 .acer + .acer {
  margin-top: 20px;
}

.product-eco .sector-winner {
  overflow: hidden;
  padding-bottom: 222px;
  background-color: #ffbf00;
  background-image: url("https://img.eduwill.net/eduwill/img/2022/G/product/220318_2/pc/bg_winner.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .sector-winner .winner-contents {
  position: relative;
  margin-top: -50px;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}

.product-eco .sector-winner .winner-contents .winner-list {
  -webkit-transform: perspective(400px) rotateX(40deg);
  transform: perspective(400px) rotateX(40deg);
}

.product-eco .sector-winner .winner-contents .winner-list .slick-track {
  -webkit-transform: translate(0) !important;
  transform: translate(0) !important;
}

.product-eco .sector-winner .winner-contents p {
  padding: 0 !important;
  margin: 0 !important;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  text-align: center;
  line-height: 2;
  font-weight: 500;
  font-size: 20px;
  color: #222;
}

.product-eco .sector-winner .winner-contents .winner-flag {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.product-eco .sector-interview {
  position: relative;
  margin-top: -135px;
  padding-bottom: 110px;
}

.product-eco .sector-interview .winner-interview {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}

.product-eco .sector-interview .winner-interview .col, .product-eco .sector-interview .winner-interview .sector-price .price-group .price-head .price-info, .product-eco .sector-price .price-group .price-head .sector-interview .winner-interview .price-info, .product-eco .sector-interview .winner-interview .sector-price .price-group .price-head .price-won, .product-eco .sector-price .price-group .price-head .sector-interview .winner-interview .price-won, .product-eco .sector-interview .winner-interview .sector-price .price-group .price-benefit .grid-list .col, .product-eco .sector-price .price-group .price-benefit .grid-list .sector-interview .winner-interview .col, .product-eco .sector-interview .winner-interview .sector-system-1 .tab-list li, .product-eco .sector-system-1 .tab-list .sector-interview .winner-interview li {
  width: 354px;
}

.product-eco .sector-interview .winner-interview .col:not(:first-child), .product-eco .sector-interview .winner-interview .sector-price .price-group .price-head .price-info:not(:first-child), .product-eco .sector-price .price-group .price-head .sector-interview .winner-interview .price-info:not(:first-child), .product-eco .sector-interview .winner-interview .sector-price .price-group .price-head .price-won:not(:first-child), .product-eco .sector-price .price-group .price-head .sector-interview .winner-interview .price-won:not(:first-child), .product-eco .sector-interview .winner-interview .sector-price .price-group .price-benefit .grid-list .col:not(:first-child), .product-eco .sector-price .price-group .price-benefit .grid-list .sector-interview .winner-interview .col:not(:first-child), .product-eco .sector-interview .winner-interview .sector-system-1 .tab-list li:not(:first-child), .product-eco .sector-system-1 .tab-list .sector-interview .winner-interview li:not(:first-child) {
  margin-left: 19px;
}

.product-eco .sector-interview .winner-interview .col .caption, .product-eco .sector-interview .winner-interview .sector-price .price-group .price-head .price-info .caption, .product-eco .sector-price .price-group .price-head .sector-interview .winner-interview .price-info .caption, .product-eco .sector-interview .winner-interview .sector-price .price-group .price-head .price-won .caption, .product-eco .sector-price .price-group .price-head .sector-interview .winner-interview .price-won .caption, .product-eco .sector-interview .winner-interview .sector-price .price-group .price-benefit .grid-list .col .caption, .product-eco .sector-price .price-group .price-benefit .grid-list .sector-interview .winner-interview .col .caption, .product-eco .sector-interview .winner-interview .sector-system-1 .tab-list li .caption, .product-eco .sector-system-1 .tab-list .sector-interview .winner-interview li .caption {
  margin-top: 19px;
  text-align: left;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

.product-eco .sector-timetable {
  background: #f3f3f3;
}

.product-eco .sector-curriculum {
  background: #d6e6db;
}

.product-eco .sector-place {
  padding: 100px 0;
}

.product-eco .sector-place .slick-arrow {
  top: 50%;
  border-radius: 50%;
  left: 50% !important;
  z-index: 112;
}

.product-eco .sector-place .slick-arrow.slick-prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 8.33333vw;
  height: 8.33333vw;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-left: -520px;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-place .slick-arrow.slick-prev {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-place .slick-arrow.slick-prev {
    height: 60px;
  }
}

.product-eco .sector-place .slick-arrow.slick-prev:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 2.08333vw;
  height: 2.08333vw;
  border-width: 0;
  border-style: solid;
  border-color: #222;
  border-bottom-width: 3px;
  border-left-width: 3px;
  -webkit-transform: translate(-25%, -50%) rotate(45deg);
  transform: translate(-25%, -50%) rotate(45deg);
}

@media screen and (min-width: 720px) {
  .product-eco .sector-place .slick-arrow.slick-prev:before {
    width: 15px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-place .slick-arrow.slick-prev:before {
    height: 15px;
  }
}

.product-eco .sector-place .slick-arrow.slick-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 8.33333vw;
  height: 8.33333vw;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-left: 460px;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-place .slick-arrow.slick-next {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-place .slick-arrow.slick-next {
    height: 60px;
  }
}

.product-eco .sector-place .slick-arrow.slick-next:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 2.08333vw;
  height: 2.08333vw;
  border-width: 0;
  border-style: solid;
  border-color: #222;
  border-top-width: 3px;
  border-right-width: 3px;
  -webkit-transform: translate(-75%, -50%) rotate(45deg);
  transform: translate(-75%, -50%) rotate(45deg);
}

@media screen and (min-width: 720px) {
  .product-eco .sector-place .slick-arrow.slick-next:before {
    width: 15px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-place .slick-arrow.slick-next:before {
    height: 15px;
  }
}

.product-eco .sector-place .slick-slide {
  position: relative;
  margin: 0 10px;
  height: 539px !important;
  font-size: 0;
  vertical-align: top;
}

.product-eco .sector-place .slick-slide:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.product-eco .sector-place .slick-slide.slick-current:after {
  display: none;
}

.product-eco .sector-place .slick-slide .label {
  position: absolute;
  top: 28px;
  right: 30px;
  display: inline-block;
  min-width: 140px;
  padding-top: 2px;
  text-align: center;
  border-radius: 50px;
  background: #fff;
  z-index: 10;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.product-eco .sector-place .slick-slide .label strong {
  line-height: 40px;
  font-size: 19px;
  vertical-align: top;
  color: #181818;
  font-weight: 700;
  letter-spacing: -1px;
}

.product-eco .sector-place .slick-counter {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 18px;
  width: 95px;
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  color: #5e5d5d;
  text-align: center;
  line-height: 40px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.7);
}

.product-eco .sector-place .slick-counter strong {
  display: inline-block;
  margin-right: 5px;
  font-weight: 700;
  color: #000;
}

.product-eco .sector-brand {
  background-color: #ffbf00;
  background-image: url("https://img.eduwill.net/eduwill/img/2022/G/product/220318_2/pc/bg_brand.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
/*# sourceMappingURL=web.css.map */