@{
    String platform = ("W".Equals(ViewBag.PlatformCd))? "pc": "mobile";
}

<div id="contents" class="promotion">
	<div class="sector-visual">
		<div class="wrap">
			<div class="title">
				<div class="text scroll-animate motion-up-1">
					<p>공식 , 알면 오르니까</p>
					<h1>쉬운 토익 공식<br />에듀윌 토익 AI</h1>
				</div>
				@if ("W".Equals(ViewBag.platformCd)) {
					<div class="download scroll-animate motion-up-1">
						<a class="app-download page-move" href="#sectionFoot">
							<span>앱 무료 다운로드 GO</span>
						</a>
					</div>
				}
			</div>
			@if ("W".Equals(ViewBag.platformCd)) {
				<div class="screen scroll-animate motion-up-3">
					<img alt="인트로 휴대폰 이미지" src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/pc/img_visual.gif" />
				</div>
			} else {
				<div class="download scroll-animate motion-up-2">
					<a href="https://apps.apple.com/app/id1600206084" target="_blank">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/@platform/btn_down_apple.png" alt="애플다운로드버튼" />
					</a>
					<a href="https://play.google.com/store/apps/details?id=net.eduwill.toeic" target="_blank">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/@platform/btn_down_google.png" alt="구글다운로드버튼" />
					</a>
				</div>
				<div class="screen">
					<div class="scroll-animate motion-up-2">
						<img alt="인트로 휴대폰 이미지" src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/mobile/img_visual_01.png" />
					</div>
					<div class="scroll-animate motion-up-3">
						<img alt="인트로 휴대폰 이미지" src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/mobile/img_visual_02.png" />
					</div>
				</div>
			}
		</div>
	</div>
		
	<div class="sector-list">
		<div class="wrap">
		<!-- 0318 웹 모바일 분리 -->
			@if ("W".Equals(ViewBag.platformCd)) {
				<ul class="grid">
					<li class="col scroll-animate motion-up-1">
						<a class="page-move" href="#ancher1">
							<div class="icon">
								<svg xmlns="http://www.w3.org/2000/svg" width="42" height="38" viewBox="0 0 42 38" fill="none">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M42 2.78043C42 1.24484 40.8294 0 39.3854 0C37.9414 0 36.7708 1.24484 36.7708 2.78043V35.2188C36.7708 36.7544 37.9414 37.9992 39.3854 37.9992C40.8294 37.9992 42 36.7544 42 35.2188V2.78043ZM18.0293 1.83633C17.6641 0.760772 16.717 0.0326112 15.6421 0.00106543C14.5672 -0.0304804 13.5838 0.641022 13.1634 1.69353L0.208064 34.1319C-0.134915 34.9907 -0.0499906 35.9751 0.434192 36.7532C0.918374 37.5313 1.73726 37.9992 2.61463 37.9992H15.57C17.014 37.9992 18.1846 36.7544 18.1846 35.2188C18.1846 33.6832 17.014 32.4384 15.57 32.4384H6.56576L15.3726 10.3874L24.1227 36.1629C24.6131 37.6073 26.1116 38.3555 27.4698 37.834C28.8281 37.3126 29.5316 35.7191 29.0413 34.2747L18.0293 1.83633Z" fill="#FFBF00"/>
								</svg>
							</div>
							<div class="text">
								<h3>무료 AI 진단 테스트 및 결과</h3>
								<p><span>3</span>분만에 단 <span>10</span>문제로<br />내 토익 실력 확인</p>
							</div>
						</a>
					</li>
					<li class="col scroll-animate motion-up-4">
						<a class="page-move" href="#ancher2">
							<div class="icon">
								<svg xmlns="http://www.w3.org/2000/svg" width="38" height="48" viewBox="0 0 38 48" fill="none">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M9.84067 3.00002C9.84067 1.71136 10.8848 0.666687 12.1728 0.666687H26.1655C27.4535 0.666687 28.4976 1.71136 28.4976 3.00002H33.1618C35.7378 3.00002 37.826 5.08936 37.826 7.66669V42.6667C37.826 45.244 35.7378 47.3334 33.1618 47.3334H5.17644C2.60046 47.3334 0.512207 45.244 0.512207 42.6667V7.66669C0.512207 5.08936 2.60045 3.00002 5.17644 3.00002H9.84067ZM9.84067 7.66669H5.17644V42.6667H33.1618V7.66669H28.4976V10C28.4976 11.2887 27.4535 12.3334 26.1655 12.3334H12.1728C10.8848 12.3334 9.84067 11.2887 9.84067 10V7.66669ZM23.8334 5.33336H14.5049V7.66669H23.8334V5.33336ZM27.8145 21.1834C28.7253 22.0947 28.7253 23.5721 27.8145 24.4833L18.4861 33.8166C17.5753 34.7278 16.0987 34.7278 15.188 33.8166L10.5237 29.15C9.61298 28.2387 9.61298 26.7613 10.5237 25.8501C11.4345 24.9389 12.9111 24.9389 13.8218 25.8501L16.837 28.8669L24.5164 21.1834C25.4272 20.2722 26.9038 20.2722 27.8145 21.1834Z" fill="#FFBF00"/>
								</svg>
							</div>
							<div class="text">
								<h3>최신 문제 <span>100</span>% 무료</h3>
								<p>AI가 진단 결과 분석해<br />매일 <span>1:1</span> 맞춤 토익문제 추천</p>
							</div>
						</a>
					</li>
					<li class="col scroll-animate motion-up-7">
						<a class="page-move" href="#ancher3">
							<div class="icon">
								<svg xmlns="http://www.w3.org/2000/svg" width="39" height="28" viewBox="0 0 39 28" fill="none">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M0.561035 2.33333C0.561035 1.04467 1.63118 0 2.95128 0H5.34152C6.66162 0 7.73177 1.04467 7.73177 2.33333C7.73177 3.622 6.66162 4.66667 5.34152 4.66667H2.95128C1.63118 4.66667 0.561035 3.622 0.561035 2.33333ZM12.5123 2.33333C12.5123 1.04467 13.5824 0 14.9025 0H36.4147C37.7348 0 38.8049 1.04467 38.8049 2.33333C38.8049 3.622 37.7348 4.66667 36.4147 4.66667H14.9025C13.5824 4.66667 12.5123 3.622 12.5123 2.33333ZM0.561035 14C0.561035 12.7113 1.63118 11.6667 2.95128 11.6667H5.34152C6.66162 11.6667 7.73177 12.7113 7.73177 14C7.73177 15.2887 6.66162 16.3333 5.34152 16.3333H2.95128C1.63118 16.3333 0.561035 15.2887 0.561035 14ZM12.5123 14C12.5123 12.7113 13.5824 11.6667 14.9025 11.6667H36.4147C37.7348 11.6667 38.8049 12.7113 38.8049 14C38.8049 15.2887 37.7348 16.3333 36.4147 16.3333H14.9025C13.5824 16.3333 12.5123 15.2887 12.5123 14ZM0.561035 25.6667C0.561035 24.378 1.63118 23.3333 2.95128 23.3333H5.34152C6.66162 23.3333 7.73177 24.378 7.73177 25.6667C7.73177 26.9553 6.66162 28 5.34152 28H2.95128C1.63118 28 0.561035 26.9553 0.561035 25.6667ZM12.5123 25.6667C12.5123 24.378 13.5824 23.3333 14.9025 23.3333H36.4147C37.7348 23.3333 38.8049 24.378 38.8049 25.6667C38.8049 26.9553 37.7348 28 36.4147 28H14.9025C13.5824 28 12.5123 26.9553 12.5123 25.6667Z" fill="#FFBF00"/>
								</svg>
							</div>
							<div class="text">
								<h3>토익 공식 <span>100</span>% 무료</h3> 
								<p>AI가 추천하는 토익 공식 보고<br />토익 정답 찾기 <span>1</span>초 컷 완성</p>
							</div>
						</a>
					</li>
					<li class="col scroll-animate motion-up-1">
						<a class="page-move" href="#ancher3">
							<div class="icon">
								<svg xmlns="http://www.w3.org/2000/svg" width="38" height="48" viewBox="0 0 38 48" fill="none">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M0.333252 5.33335C0.333252 2.75603 2.42259 0.666687 4.99992 0.666687H23.6666C24.2854 0.666687 24.8789 0.91252 25.3165 1.3501L36.9832 13.0168C37.4207 13.4544 37.6666 14.0478 37.6666 14.6667V42.6667C37.6666 45.244 35.5772 47.3334 32.9999 47.3334H4.99992C2.42259 47.3334 0.333252 45.244 0.333252 42.6667V5.33335ZM32.0334 14.6667H23.6666V6.29985L32.0334 14.6667ZM18.9999 5.33335V17C18.9999 18.2887 20.0446 19.3334 21.3332 19.3334H32.9999V42.6667H4.99992V5.33335L18.9999 5.33335ZM9.66658 26.3334C9.66658 25.0447 10.7113 24 11.9999 24H25.9999C27.2886 24 28.3332 25.0447 28.3332 26.3334C28.3332 27.622 27.2886 28.6667 25.9999 28.6667H11.9999C10.7113 28.6667 9.66658 27.622 9.66658 26.3334ZM9.66658 35.6667C9.66658 34.378 10.7113 33.3334 11.9999 33.3334H25.9999C27.2886 33.3334 28.3332 34.378 28.3332 35.6667C28.3332 36.9554 27.2886 38 25.9999 38H11.9999C10.7113 38 9.66658 36.9554 9.66658 35.6667Z" fill="#FFBF00"/>
								</svg>
							</div>
							<div class="text">
								<h3>오답노트 <span>100</span>% 무료</h3>
								<p>틀린 문제, 헷갈리는 문제<br />복습하고 패턴 암기</p>
							</div>
						</a>
					</li>
					<li class="col scroll-animate motion-up-4">
						<a class="page-move" href="#ancher4">
							<div class="icon">
								<svg xmlns="http://www.w3.org/2000/svg" width="42" height="48" viewBox="0 0 42 48" fill="none">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M0 12.3334V7.66669H4.66667V12.3334H0ZM4.66667 21.6667V12.3334H9.33333V7.66669H4.66667V5.33335C4.66667 4.09568 5.15833 2.90869 6.0335 2.03352C6.90867 1.15835 8.09566 0.666687 9.33333 0.666687H22.1667H23.3333H35H36.1667H37.3333C39.7833 0.666687 42 2.88335 42 5.33335V42.6667C42 45.1167 39.7833 47.3334 37.3333 47.3334H9.33333C6.88333 47.3334 4.66667 45.1167 4.66667 42.6667V40.3334H9.33333V35.6667H4.66667V26.3334H9.33333V21.6667H4.66667ZM4.66667 21.6667H0V26.3334H4.66667V21.6667ZM4.66667 35.6667H0V40.3334H4.66667V35.6667ZM30.7806 17L28.7558 26.5104L26.2945 17H22.6813L20.2564 26.5104L18.2315 17H14L17.7587 32.1667H22.1599L24.4757 23.5209L26.8401 32.1667H31.2535L35 17H30.7806Z" fill="#FFBF00"/>
								</svg>
							</div>
							<div class="text">
								<h3>토익 최신 기출 단어 <span>100</span>% 무료</h3>
								<p>내 손안에<br />실제 토익 시험 기출 단어책</p>
							</div>
						</a>
					</li>
					<li class="col scroll-animate motion-up-7">
						<a class="page-move" href="#teacher">
							<div class="icon">
								<svg xmlns="http://www.w3.org/2000/svg" width="58" height="56" viewBox="0 0 58 56" fill="none">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M4.78345 11.6667C4.78345 9.08934 6.92502 7 9.56678 7H47.8335C50.4752 7 52.6168 9.08934 52.6168 11.6667V37.3333C52.6168 39.9107 50.4752 42 47.8335 42H9.56678C6.92502 42 4.78345 39.9107 4.78345 37.3333V11.6667ZM47.8335 11.6667H9.56678V37.3333H47.8335V11.6667Z" fill="#FFBF00"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M52.6168 46.6667C52.6168 47.9553 51.546 49 50.2251 49H7.17511C5.85423 49 4.78345 47.9553 4.78345 46.6667C4.78345 45.378 5.85423 44.3333 7.17511 44.3333L50.2251 44.3333C51.546 44.3333 52.6168 45.378 52.6168 46.6667Z" fill="#FFBF00"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M22.1399 19.0066C22.1399 17.3061 24.0388 16.2466 25.5508 17.1034L35.7746 22.8969C37.275 23.7471 37.275 25.8529 35.7746 26.7031L25.5508 32.4965C24.0388 33.3533 22.1399 32.2939 22.1399 30.5934V19.0066Z" fill="#FFBF00"/>
								</svg>
							</div>
							<div class="text">
								<h3>최신 토익 인강 <span>100</span>% 무료</h3>
								<p>전문 연구진이 엄선한 문제와<br />토익 전문 강사진의 상세 해설강의</p>
							</div>
						</a>
					</li>
				</ul>
			} else {
				<ul class="grid">
					<li class="col scroll-animate motion-up-1">
						<a class="page-move" href="#ancher1">
							<div class="icon">
								<svg xmlns="http://www.w3.org/2000/svg" width="42" height="38" viewBox="0 0 42 38" fill="none">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M42 2.78043C42 1.24484 40.8294 0 39.3854 0C37.9414 0 36.7708 1.24484 36.7708 2.78043V35.2188C36.7708 36.7544 37.9414 37.9992 39.3854 37.9992C40.8294 37.9992 42 36.7544 42 35.2188V2.78043ZM18.0293 1.83633C17.6641 0.760772 16.717 0.0326112 15.6421 0.00106543C14.5672 -0.0304804 13.5838 0.641022 13.1634 1.69353L0.208064 34.1319C-0.134915 34.9907 -0.0499906 35.9751 0.434192 36.7532C0.918374 37.5313 1.73726 37.9992 2.61463 37.9992H15.57C17.014 37.9992 18.1846 36.7544 18.1846 35.2188C18.1846 33.6832 17.014 32.4384 15.57 32.4384H6.56576L15.3726 10.3874L24.1227 36.1629C24.6131 37.6073 26.1116 38.3555 27.4698 37.834C28.8281 37.3126 29.5316 35.7191 29.0413 34.2747L18.0293 1.83633Z" fill="#FFBF00"/>
								</svg>
							</div>
							<div class="text">
								<h3>무료 AI 진단<br /> 테스트 및 결과</h3>
								<p><span>3</span>분만에 단 <span>10</span>문제로<br />내 토익 실력 확인</p>
							</div>
						</a>
					</li>
					<li class="col scroll-animate motion-up-3">
						<a class="page-move" href="#ancher2">
							<div class="icon">
								<svg xmlns="http://www.w3.org/2000/svg" width="38" height="48" viewBox="0 0 38 48" fill="none">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M9.84067 3.00002C9.84067 1.71136 10.8848 0.666687 12.1728 0.666687H26.1655C27.4535 0.666687 28.4976 1.71136 28.4976 3.00002H33.1618C35.7378 3.00002 37.826 5.08936 37.826 7.66669V42.6667C37.826 45.244 35.7378 47.3334 33.1618 47.3334H5.17644C2.60046 47.3334 0.512207 45.244 0.512207 42.6667V7.66669C0.512207 5.08936 2.60045 3.00002 5.17644 3.00002H9.84067ZM9.84067 7.66669H5.17644V42.6667H33.1618V7.66669H28.4976V10C28.4976 11.2887 27.4535 12.3334 26.1655 12.3334H12.1728C10.8848 12.3334 9.84067 11.2887 9.84067 10V7.66669ZM23.8334 5.33336H14.5049V7.66669H23.8334V5.33336ZM27.8145 21.1834C28.7253 22.0947 28.7253 23.5721 27.8145 24.4833L18.4861 33.8166C17.5753 34.7278 16.0987 34.7278 15.188 33.8166L10.5237 29.15C9.61298 28.2387 9.61298 26.7613 10.5237 25.8501C11.4345 24.9389 12.9111 24.9389 13.8218 25.8501L16.837 28.8669L24.5164 21.1834C25.4272 20.2722 26.9038 20.2722 27.8145 21.1834Z" fill="#FFBF00"/>
								</svg>
							</div>
							<div class="text">
								<h3>최신 문제<br /> <span>100</span>% 무료</h3>
								<p>AI가 진단 결과 분석해<br />매일 <span>1:1</span> 맞춤 토익문제 추천</p>
							</div>
						</a>
					</li>
					<li class="col scroll-animate motion-up-1">
						<a class="page-move" href="#ancher3">
							<div class="icon">
								<svg xmlns="http://www.w3.org/2000/svg" width="39" height="28" viewBox="0 0 39 28" fill="none">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M0.561035 2.33333C0.561035 1.04467 1.63118 0 2.95128 0H5.34152C6.66162 0 7.73177 1.04467 7.73177 2.33333C7.73177 3.622 6.66162 4.66667 5.34152 4.66667H2.95128C1.63118 4.66667 0.561035 3.622 0.561035 2.33333ZM12.5123 2.33333C12.5123 1.04467 13.5824 0 14.9025 0H36.4147C37.7348 0 38.8049 1.04467 38.8049 2.33333C38.8049 3.622 37.7348 4.66667 36.4147 4.66667H14.9025C13.5824 4.66667 12.5123 3.622 12.5123 2.33333ZM0.561035 14C0.561035 12.7113 1.63118 11.6667 2.95128 11.6667H5.34152C6.66162 11.6667 7.73177 12.7113 7.73177 14C7.73177 15.2887 6.66162 16.3333 5.34152 16.3333H2.95128C1.63118 16.3333 0.561035 15.2887 0.561035 14ZM12.5123 14C12.5123 12.7113 13.5824 11.6667 14.9025 11.6667H36.4147C37.7348 11.6667 38.8049 12.7113 38.8049 14C38.8049 15.2887 37.7348 16.3333 36.4147 16.3333H14.9025C13.5824 16.3333 12.5123 15.2887 12.5123 14ZM0.561035 25.6667C0.561035 24.378 1.63118 23.3333 2.95128 23.3333H5.34152C6.66162 23.3333 7.73177 24.378 7.73177 25.6667C7.73177 26.9553 6.66162 28 5.34152 28H2.95128C1.63118 28 0.561035 26.9553 0.561035 25.6667ZM12.5123 25.6667C12.5123 24.378 13.5824 23.3333 14.9025 23.3333H36.4147C37.7348 23.3333 38.8049 24.378 38.8049 25.6667C38.8049 26.9553 37.7348 28 36.4147 28H14.9025C13.5824 28 12.5123 26.9553 12.5123 25.6667Z" fill="#FFBF00"/>
								</svg>
							</div>
							<div class="text">
								<h3>토익 공식<br /> <span>100</span>% 무료</h3> 
								<p>AI가 추천하는 토익 공식 보고<br />토익 정답 찾기 <span>1</span>초 컷 완성</p>
							</div>
						</a>
					</li>
					<li class="col scroll-animate motion-up-3">
						<a class="page-move" href="#ancher3">
							<div class="icon">
								<svg xmlns="http://www.w3.org/2000/svg" width="38" height="48" viewBox="0 0 38 48" fill="none">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M0.333252 5.33335C0.333252 2.75603 2.42259 0.666687 4.99992 0.666687H23.6666C24.2854 0.666687 24.8789 0.91252 25.3165 1.3501L36.9832 13.0168C37.4207 13.4544 37.6666 14.0478 37.6666 14.6667V42.6667C37.6666 45.244 35.5772 47.3334 32.9999 47.3334H4.99992C2.42259 47.3334 0.333252 45.244 0.333252 42.6667V5.33335ZM32.0334 14.6667H23.6666V6.29985L32.0334 14.6667ZM18.9999 5.33335V17C18.9999 18.2887 20.0446 19.3334 21.3332 19.3334H32.9999V42.6667H4.99992V5.33335L18.9999 5.33335ZM9.66658 26.3334C9.66658 25.0447 10.7113 24 11.9999 24H25.9999C27.2886 24 28.3332 25.0447 28.3332 26.3334C28.3332 27.622 27.2886 28.6667 25.9999 28.6667H11.9999C10.7113 28.6667 9.66658 27.622 9.66658 26.3334ZM9.66658 35.6667C9.66658 34.378 10.7113 33.3334 11.9999 33.3334H25.9999C27.2886 33.3334 28.3332 34.378 28.3332 35.6667C28.3332 36.9554 27.2886 38 25.9999 38H11.9999C10.7113 38 9.66658 36.9554 9.66658 35.6667Z" fill="#FFBF00"/>
								</svg>
							</div>
							<div class="text">
								<h3>오답노트<br /> <span>100</span>% 무료</h3>
								<p>틀린 문제, 헷갈리는 문제<br />복습하고 패턴 암기</p>
							</div>
						</a>
					</li>
					<li class="col scroll-animate motion-up-1">
						<a class="page-move" href="#ancher4">
							<div class="icon">
								<svg xmlns="http://www.w3.org/2000/svg" width="42" height="48" viewBox="0 0 42 48" fill="none">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M0 12.3334V7.66669H4.66667V12.3334H0ZM4.66667 21.6667V12.3334H9.33333V7.66669H4.66667V5.33335C4.66667 4.09568 5.15833 2.90869 6.0335 2.03352C6.90867 1.15835 8.09566 0.666687 9.33333 0.666687H22.1667H23.3333H35H36.1667H37.3333C39.7833 0.666687 42 2.88335 42 5.33335V42.6667C42 45.1167 39.7833 47.3334 37.3333 47.3334H9.33333C6.88333 47.3334 4.66667 45.1167 4.66667 42.6667V40.3334H9.33333V35.6667H4.66667V26.3334H9.33333V21.6667H4.66667ZM4.66667 21.6667H0V26.3334H4.66667V21.6667ZM4.66667 35.6667H0V40.3334H4.66667V35.6667ZM30.7806 17L28.7558 26.5104L26.2945 17H22.6813L20.2564 26.5104L18.2315 17H14L17.7587 32.1667H22.1599L24.4757 23.5209L26.8401 32.1667H31.2535L35 17H30.7806Z" fill="#FFBF00"/>
								</svg>
							</div>
							<div class="text">
								<h3>토익 최신 기출 단어<br /> <span>100</span>% 무료</h3>
								<p>내 손안에<br />실제 토익 시험 기출 단어책</p>
							</div>
						</a>
					</li>
					<li class="col scroll-animate motion-up-3">
						<a class="page-move" href="#teacher">
							<div class="icon">
								<svg xmlns="http://www.w3.org/2000/svg" width="58" height="56" viewBox="0 0 58 56" fill="none">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M4.78345 11.6667C4.78345 9.08934 6.92502 7 9.56678 7H47.8335C50.4752 7 52.6168 9.08934 52.6168 11.6667V37.3333C52.6168 39.9107 50.4752 42 47.8335 42H9.56678C6.92502 42 4.78345 39.9107 4.78345 37.3333V11.6667ZM47.8335 11.6667H9.56678V37.3333H47.8335V11.6667Z" fill="#FFBF00"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M52.6168 46.6667C52.6168 47.9553 51.546 49 50.2251 49H7.17511C5.85423 49 4.78345 47.9553 4.78345 46.6667C4.78345 45.378 5.85423 44.3333 7.17511 44.3333L50.2251 44.3333C51.546 44.3333 52.6168 45.378 52.6168 46.6667Z" fill="#FFBF00"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M22.1399 19.0066C22.1399 17.3061 24.0388 16.2466 25.5508 17.1034L35.7746 22.8969C37.275 23.7471 37.275 25.8529 35.7746 26.7031L25.5508 32.4965C24.0388 33.3533 22.1399 32.2939 22.1399 30.5934V19.0066Z" fill="#FFBF00"/>
								</svg>
							</div>
							<div class="text">
								<h3>최신 토익 인강<br /> <span>100</span>% 무료</h3>
								<p>전문 연구진이 엄선한 문제와<br />토익 전문 강사진의 상세 해설강의</p>
							</div>
						</a>
					</li>
				</ul>
			}
		</div>
	</div>

	<div class="sector-slide slider" id="ancher1">
		<div class="wrap">
			@if ("W".Equals(ViewBag.platformCd)) {
				<div class="text scroll-animate motion-up-3">
					<div class="icon">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/icon_slide_01.png" alt="무료 진단 AI 테스트 및 결과 아이콘" />
					</div>
					<h3>무료 AI 진단<br />테스트 및 결과</h3>
					<p>단 <span>3</span>분만에 AI가 내 취약 유형을 분석하고<br />점수 올리기 유리한 문법 공식 추천</p>
					<div class="swiper-pagination"></div>
				</div>
			} else {
				<div class="text-wrap">
					<div class="text scroll-animate motion-up-3">
						<div class="icon">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/icon_slide_01.png" alt="무료 진단 AI 테스트 및 결과 아이콘" />
						</div>
						<h3>무료 AI 진단<br />테스트 및 결과</h3>
						<p>단 <span>3</span>분만에 AI가 내 취약 유형을 분석하고<br />점수 올리기 유리한 문법 공식 추천</p>
					</div>
					<div class="swiper-pagination scroll-animate motion-up-3"></div>
				</div>
			}
			<div class="swiper-container scroll-animate motion-up-4">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/img_slide_ai_01.png" alt="AI 진단 테스트 / AI 중간 테스트" />
					</div>
					<div class="swiper-slide">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/img_slide_ai_02.png" alt="AI 진단 결과" />
					</div>
				</div>

				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
			
		</div>
	</div>
	<div class="sector-slide slider" id="ancher2">
		<div class="wrap">
			@if ("W".Equals(ViewBag.platformCd)) {
				<div class="text scroll-animate motion-up-4">
					<div class="icon">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/icon_slide_02.png" alt="오늘의 학습" />
					</div>
					<h3>오늘의 학습</h3>
					<p>매일 내게 꼭 맞는 공식 강의와 문제 찾아주니까<br />오늘의 학습만 보면 하루 토익 공부 끝!</p>
					<div class="swiper-pagination"></div>
				</div>
			} else {
				<div class="text-wrap">
					<div class="text scroll-animate motion-up-4">
						<div class="icon">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/icon_slide_02.png" alt="오늘의 학습" />
						</div>
						<h3>오늘의 학습</h3>
						<p>매일 내게 꼭 맞는 공식 강의와 문제 찾아주니까<br />오늘의 학습만 보면 하루 토익 공부 끝!</p>
					</div>
					<div class="swiper-pagination scroll-animate motion-up-4"></div>
				</div>
			}
			<div class="swiper-container scroll-animate motion-up-3">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/img_slide_study_01.png" alt="오늘의 학습" />
					</div>
					<div class="swiper-slide">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/img_slide_study_02.png" alt="오늘의 공식" />
					</div>
					<div class="swiper-slide">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/img_slide_study_03.png" alt="오늘의 공식 문제" />
					</div>
				</div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>

		</div>
	</div>
	<div class="sector-slide slider" id="ancher3">
		<div class="wrap">
			@if ("W".Equals(ViewBag.platformCd)) {
				<div class="text scroll-animate motion-up-3">
					<div class="icon">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/icon_slide_03.png" alt="토익 공식 및 복습" />
					</div>
					<h3>토익 공식 및 복습</h3>
					<p>이미 학습한 공식 강의 모아서 듣고<br />틀린 문제, 헷갈린 문제 반복 학습</p>
					<div class="swiper-pagination"></div>
				</div>
			} else {
				<div class="text-wrap">
					<div class="text scroll-animate motion-up-3">
						<div class="icon">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/icon_slide_03.png" alt="토익 공식 및 복습" />
						</div>
						<h3>토익 공식 및 복습</h3>
						<p>이미 학습한 공식 강의 모아서 듣고<br />틀린 문제, 헷갈린 문제 반복 학습</p>
					</div>
					<div class="swiper-pagination scroll-animate motion-up-3"></div>
				</div>
			}
			<div class="swiper-container scroll-animate motion-up-4">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/img_slide_official_01.png" alt="토익 공식" />
					</div>
					<div class="swiper-slide">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/img_slide_official_02.png" alt="복습" />
					</div>
					<div class="swiper-slide">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/img_slide_official_03.png" alt="맞은 문제 / 틀린 문제 모아 풀기" />
					</div>
					<div class="swiper-slide">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/img_slide_official_04.png" alt="한번에 풀기" />
					</div>
				</div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
	</div>
	<div class="sector-slide slider" id="ancher4">
		<div class="wrap">
			@if ("W".Equals(ViewBag.platformCd)) {
				<div class="text scroll-animate motion-up-4">
					<div class="icon">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/icon_slide_04.png" alt="최신 토익 기출 단어" />
					</div>
					<h3>최신 토익 기출 단어</h3>
					<p>기출을 알아야 토익이 쉽다<br />최신 기출 단어를 에토 하나로 완성!</p>
					<div class="swiper-pagination"></div>
				</div>
			} else {
				<div class="text-wrap">
					<div class="text scroll-animate motion-up-4">
						<div class="icon">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/icon_slide_04.png" alt="최신 토익 기출 단어" />
						</div>
						<h3>최신 토익 기출 단어</h3>
						<p>기출을 알아야 토익이 쉽다<br />최신 기출 단어를 에토 하나로 완성!</p>
					</div>
					<div class="swiper-pagination scroll-animate motion-up-4"></div>
				</div>
			}
			<div class="swiper-container scroll-animate motion-up-3">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/img_slide_word_01.png" alt="최신 토익 기출 단어" />
					</div>
					<div class="swiper-slide">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/img_slide_word_02.png" alt="단어 가리기" />
					</div>
					<div class="swiper-slide">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/img_slide_word_03.png" alt="뜻 가리기" />
					</div>
				</div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
	</div>

	<div class="sector-teacher" id="teacher">
		<div class="wrap">
			<div class="teacher scroll-animate motion-up-2">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/@platform/img_teacher.png" alt="선생님들" />
			</div>
			<div class="text scroll-animate motion-up-3">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/@platform/img_teacher_text.png" alt="최신 토익 강의 & 최신 토익 문제" />
			</div>
		</div>
	</div>

	@if ("W".Equals(ViewBag.platformCd)) {
		<div class="sector-download">
			<div class="wrap">
				<div class="download"> 
					<div class="tit scroll-animate motion-up-2">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/@platform/img_down_tit.png" alt="내 손 안에 맞춤 토익 공식 앱 에듀윌 토익 AI 무료 다운 받기!" />
					</div>
					<div class="share-conts">
						<div class="cont scroll-animate motion-up-2">
							<h3>SMS</h3>
							<div class="item message">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/icon_share.png" alt="다운로드 주소 문자로 받기" />
								<a href="javascript:popupOpen('.layer-dimmed', 'popupMessage')">다운로드 주소 문자로 받기</a>
							</div>
						</div>
						<div class="cont scroll-animate motion-up-4">
							<h3>스토어</h3>
							<div class="item download">
								<a href="https://play.google.com/store/apps/details?id=net.eduwill.toeic" target="_blank">
									<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/btn_down_google.png" alt="구글플레이 다운로드" />
								</a>
								<a href="https://apps.apple.com/app/id1600206084" target="_blank">
									<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/btn_down_apple.png" alt="애플 앱스토어 다운로드" />
								</a>
							</div>
						</div>
						<div class="cont scroll-animate motion-up-6">
							<h3>QR코드</h3>
							<div class="item">
								<div class="qr-wrap">
									<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/qr_ios.png" alt="안드로이드 토익앱다운로드">
								</div>
							</div>
						</div>
					</div>
					<div class="text scroll-animate motion-up-2">
						<ul>
							<li>안드로이드 OS 6.0 / IOS OS 14.0 이상의 단말기에서 이용 가능하며,<br /> 임의로 개조한 OS, 탈옥 루팅 기기에서는 서비스 이용이 제한됩니다.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	}
	<div class="sector-faq">
		<div class="wrap">
			<div class="faq-wrapper scroll-animate motion-up-2">
				<div class="faq-tit">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/img_faq_tit.png" alt="faq 타이틀" />
				</div>
				<div class="faq-list">
					<div class="faq-title active">
						<p><span>Q1.</span> 에듀윌 토익 교재 인강은 어디서 볼 수 있나요?</p>
					</div>
					<div class="faq-answer" style="display: block;">
						<p>
							에듀윌 토익 교재 인강은 에듀윌 합격 앱 또는 토익 사이트 나의 강의실에서 볼 수 있습니다.<br />
							*인강 수강 경로<br/>
							<span>1</span>) [에듀윌 합격앱] 다운로드 > 나의 강의실<br />
							<span>2</span>) [에듀윌 토익 AI 앱] 마이에토 > 나의 강의실 클릭 시 에듀윌 합격앱으로 이동<br />
							<span>3</span>) 에듀윌 토익 사이트 접속 > 나의 강의실
						</p>
					</div>
				</div>
				<div class="faq-list">
					<div class="faq-title">
						<p><span>Q2.</span> 강의 재생 중 자꾸 끊기고 버퍼링이 걸립니다.</p>
					</div>
					<div class="faq-answer">
						<p>
							네트워크 속도가 느릴 경우 재생 중에 잦은 버퍼링과 로딩바가 발생할 수 있습니다.<br />
							LTE 및 와이파이 네트워크 속도를 체크하시어,<br />
							앱 이용 권장속도(5Mbps 이상)에 미치지 못할 경우에는 아래 방법에 따라 조치 후 이용해주시기 바랍니다.<br />
							*네트워크 속도 측정 방법<br />
							<span>1</span>) http://fast.kr 접속<br />
							<span>2</span>) 인터넷 연결 속도 체크<br />
							<span>3</span>) 5Mbps 이하일 경우<br />
							LTE 환경일 때, 통신사에 문의하여 데이터 네트워크 환경 확인<br />
							권장속도 이상인데도 동일한 현상이 지속적으로 발생 시에는 고객센터를 통해 문의해주시기 바랍니다.
						</p>
					</div>
				</div>
				<div class="faq-list">
					<div class="faq-title">
						<p><span>Q3.</span> AI 중간 테스트는 언제 볼 수 있나요?</p>
					</div>
					<div class="faq-answer">
						<p>
							<span>5</span>일간 모든 강의와 문제를 완벽하게 학습한 경우, 중간 실력 테스트를 하실 수 있습니다.
						</p>
					</div>
				</div>
				<div class="faq-list">
					<div class="faq-title">
						<p><span>Q4.</span> 이미 학습한 강의와 문제는 어떤 메뉴에서 볼 수 있나요?</p>
					</div>
					<div class="faq-answer">
						<p>
							이미 학습한 강의는 [토익 공식] 에서, 이미 학습한 문제는 [복습] 에서 확인하실 수 있습니다.
						</p>
					</div>
				</div>
				<div class="faq-list">
					<div class="faq-title">
						<p><span>Q5.</span> AI 진단 결과는 어떻게 볼 수 있나요?</p>
					</div>
					<div class="faq-answer">
						<p>
							AI 진단테스트 응시 후 로그인 시 AI 진단 결과를 확인하실 수 있습니다.<br />
							이미 에듀윌 회원이신 경우 에듀윌 아이디로 로그인, 에듀윌 회원이 아닌신 경우 회원 가입 후 로그인 부탁드립니다.
						</p>
					</div>
				</div>
				<div class="faq-list">
					<div class="faq-title">
						<p><span>Q6.</span> 오늘의 학습에서 다 보지 않은 강의가 없어졌어요.</p>
					</div>
					<div class="faq-answer">
						<p>
							한 번이라도 학습한 강의는 오늘의 학습 페이지 하단 "완료된 학습" 에 노출됩니다.<br />
							복습은 필요하신 경우 "토익 공식" 메뉴에서 확인해주세요.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	@if ("M".Equals(ViewBag.platformCd)) {
		<div class="sector-download">
			<div class="wrap">
				<div class="share-icon">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/mobile/icon_share.png" alt="공유하기 아이콘" />
				</div>
				<div class="tit">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/mobile/img_down_tit.png" alt="다운로드 타이틀" />
				</div>
				<div class="download">
					<a href="https://apps.apple.com/app/id1600206084" target="_blank">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/btn_down_apple.png" alt="애플다운로드" />
					</a>
					<a href="https://play.google.com/store/apps/details?id=net.eduwill.toeic" target="_blank">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/btn_down_google.png" alt="구글다운로드" />
					</a>
				</div>
			</div>
		</div>
	}
</div>

@if ("W".Equals(ViewBag.platformCd)) {
	<div class="layer-dimmed"></div>
	<div class="popup popup_download" id="popupMessage">
		<div class="popup-header">
			<h3>앱 다운로드 주소 SMS로 받기</h3>
			<a href="javascript:popupClose('.layer-dimmed', 'popupMessage')"></a>
		</div>

		<div class="popup-body">
			<div class="holder holder_1">
				<p class="desc">휴대폰 번호를 입력하신 후 전송 버튼을 누르면,<br><span>앱 다운로드 주소가 SMS로 전송</span>됩니다.</p>
				<div class="form-control">
				<!-- 0318 인증 폼 추가 -->
					<div class="info">
						<p>전화번호</p>
						<label>
							<input type="number">
						</label>
						<span class="action"><button id="">인증하기</button></span>
					</div>
					<div class="info">
						<p>인증번호 입력</p>
						<label>
							<input type="number">
							<span>05:00</span>
						</label>
						<span class="action"><button id="">확인</button></span>
					</div>
					<a href="javascript:;">문자받기</a>
					<div class="agree">
						<input type="checkbox" id="userAgree" class="checkbox"><!-- label for = input id -->
						<span></span>
						<label for="userAgree">
							다운로드 주소 발송을 위해 휴대폰번호를 수집하며, 개인정보 수집 동의 내역<br>
							관리를 위해 휴대폰번호를 <strong>수집일로부터 3개월간 보관합니다. </strong><br>
							이용에 동의하지 않으시면 서비스 이용이 불가합니다.
						</label>
					</div>
				</div>
			</div>
			<div class="holder holder_2">
				<div class="grid down_list">
					<div class="col aos">
						<p class="subject">안드로이드 앱 설치</p>
						<a href="https://ref.ad-brix.com/v1/referrallink?ak=51728947&amp;ck=4749471"><img src="//img.eduwill.net/Img2/Common/promotion/mobile_dokhan/btn_down01.png" alt="Google Play down"></a>
						<div class="qrcode"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/qr_aos.jpg" alt="QR코드"></div>
					</div>
					<div class="col ios">
						<p class="subject">아이폰 앱 설치</p>
						<a href="https://ref.ad-brix.com/v1/referrallink?ak=51728947&amp;ck=4749471"><img src="//img.eduwill.net/Img2/Common/promotion/mobile_dokhan/btn_down02.png" alt="App Store down"></a>
						<div class="qrcode"><img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_8/common/qr_ios.jpg" alt="QR코드"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

<script>

    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
	var str = 'event.eduwill.net';
	var checkUrl = url.indexOf(str);

    init();

	var _w;
	var _breakpoint = 720;
	var _wid;
	var _hei;

	var _appList;
	var _appView;
	var _appPaging;

    function init() {
		create();
		addEvent();
    }

	function create() {
		_w = $(window);
		_wid = _w.width();
		_hei = _w.height();
	}
	
	$('.page-move').on('click', function(e) {
		e.preventDefault();
		$('html, body').animate({
			scrollTop: $(this.hash).offset().top
		}, 500);
		return false;
	});
<!-- 0318 menu 수정 -->
	$('.slider').each(function(idx, ele){
		var $this = $(this);
		$this.addClass('slider-0' + (idx + 1));

		var menu = [
			['AI 진단 테스트 / AI 중간 테스트', 'AI 진단 결과'],
			['오늘의 학습', '오늘의 공식 강의', '오늘의 공식 문제'],
			['토익 공식', '복습', '문제 모아 풀기', '한번에 풀기'],
			['최신 토익 기출 단어', '단어 가리기', '뜻 가리기']
		]

		var swiper = new Swiper(".slider-0" + (idx + 1) + " .swiper-container", {
			slidesPerView: 1,
			autoplay: {
				delay: 4000,
				autoplayDisableOnInteraction: false,
			},
			loop: true,
			navigation: {
				nextEl: ".slider-0" + (idx + 1) + " .swiper-button-next",
				prevEl: ".slider-0" + (idx + 1) + " .swiper-button-prev",
			},
			pagination: {
				el: '.slider-0' + (idx + 1) + ' .swiper-pagination',
				clickable: true,
				renderBullet: function (index, className) {
					return '<p class="' + className + '"">' + ((menu[idx])[index]) + '</p>';
				},
			},
		});
	});



	// eventAdd
	function addEvent() {
		_w.on('scroll',scrollEvent);
		scrollEvent();
	}
	

	// scrollEvent
	function scrollEvent() {
		var $scrollEl = $('.scroll-animate');
		var _sct = $(this).scrollTop();
		var _winHeight = $(this).height();
		$scrollEl.each(function (i) {
			var tg = $(this);
			var offset = tg.offset().top - _winHeight;

			if (offset < _sct) {
				$scrollEl.eq(i).addClass('active');
			} else {
				$scrollEl.eq(i).removeClass('active');
			}
		});
	}

	var acc = document.getElementsByClassName("faq-title");
	var i;

	for (i = 0; i < acc.length; i++) {
		acc[i].addEventListener("click", function () {
			this.classList.toggle("active");
			var panel = $(this).next();
			if ($(this).hasClass('active')) {
				$(panel).slideDown();
			} else {
				$(panel).slideUp();
			}
		});
	}


	
</script>