@{
    string progressCd = (string)ViewBag.ProgressCd;
    string platformDir = (string)ViewBag.platformCd == "W" ? "pc" : "mobile";
    String platform = ("W".Equals(ViewBag.PlatformCd)) ? "pc" : "mobile";
}

<div id="contents" class="promotion">

    <!-- 소구점 -->
    <div data-eduwill-eco-content="3235"></div>
    <!-- // 소구점 -->
    @if ("W".Equals(ViewBag.PlatformCd))
    {
<div class="right-banner">
    <div class="update"><img alt="" src="https://img.eduwill.net/eduwill/img/2022/1/event/220127/@platform/pc_loading.gif" /></div>
    <img alt="" src="https://img.eduwill.net/eduwill/img/2022/1/event/220127/@platform/wing.png" />
    <a href="#con5" class="page-move btn1">업계유일 기출핵심특강 확인하기</a>
    <a href="#somunEvent" class="page-move btn2">업계유일 기출핵심특강 확인하기</a>
</div>}
    <div class="bottom-banner">
        <a href="#event01" class="pointer page-move"><img alt="" src="https://img.eduwill.net/eduwill/img/2022/1/event/220127/@platform/bottom_banner.png" /></a>
    </div>
    <div class="sector sector-title">
        <div class="wrap">
            <div class="action">
                <a href="javascript: popupOpen('.popup-dim', 'popupBase');" class="btn-text">근거확인</a>
            </div>
            <div class="loading">
                <span><img alt="" src="https://img.eduwill.net/eduwill/img/2022/1/event/220127/@platform/mo_loading.gif" /></span>
            </div>
            <img alt="한경 타이틀" src="https://img.eduwill.net/eduwill/img/2022/1/event/220127/@platform/title.png" />
        </div>
    </div>
    <div class="sector sector-content01">
        <div class="wrap">
            <img alt="" src="https://img.eduwill.net/eduwill/img/2022/1/event/220127/@platform/content_01.jpg" />
        </div>
    </div>
    <div class="sector sector-content02">
        <div class="wrap">
            <img alt="" src="https://img.eduwill.net/eduwill/img/2022/1/event/220127/@platform/content_02.jpg" />
        </div>
    </div>
    <div class="sector sector-content03">
        <div class="wrap">
            <img alt="" src="https://img.eduwill.net/eduwill/img/2022/1/event/220127/@platform/content_03.jpg" />
        </div>
    </div>
    <div class="sector sector-content04">
        <div class="wrap">
            <img alt="" src="https://img.eduwill.net/eduwill/img/2022/1/event/220127/@platform/content_04.jpg" />
        </div>
    </div>
    <div class="sector sector-content05" id="con5">
        <div class="wrap" id="event01">
            <img alt="" src="https://img.eduwill.net/eduwill/img/2022/1/event/220127/@platform/content_05.png" />
            <div class="action ">
                <a href="javascript:goBenefit();" class="pointer">	<img alt="" src="https://img.eduwill.net/eduwill/img/2022/1/event/220127/@platform/content_05_btn.png" /></a>
            </div>
        </div>
    </div>
    <div class="sector sector-band">
        <div class="wrap">
            <strong>
                목표는 오로지 단기 고득점 달성!<br />
                <span>매경TEST 1위*</span> 에듀윌에서 가능합니다!
            </strong>
            <span class="notice">*2022 대한민국 브랜드만족도 한경TEsAT 교육 1위</span>
        </div>
    </div>
    <!--공통-->
    <div class="sector sector-winner">
        <div class="wrap">
            <div class="title">
                <img alt="합격자명단" src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/1/pc/winner_title.png" />
                <div class="txt"><strong class="point-color">고득점 단기합격 가능!</strong></div>
            </div>
            <div class="winner-wrap">
                <div class="winner-list"></div>
            </div>
        </div>
    </div>
    <!--공통-->
    <div class="sector sector-brand">
        <div class="wrap">
            <img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/1/@platform/brand_title_w.png" alt="4년 연속 1위 수험생이 가장 많이 찾는 브랜드, 에듀윌!" />
            <img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/1/@platform/brand_hg.png" alt="" />
            <div class="action right-bottom">
                <a href="javascript: popupOpen('.popup-dim', 'popupBase');" class="btn-text type2">근거확인</a>
            </div>

        </div>
    </div>
    <div class="sector sector-book bg-gra">
        <div class="wrap">
            <img src="https://img.eduwill.net/eduwill/img/2022/1/event/220127/@platform/book.png" alt="왕초보도 비전공자도 쉽게 합격하는 비결! 6년간 베스트셀러 1위 교재" />
            <div class="action">
                <a href="javascript: popupOpen('.popup-dim', 'popupBase');" class="btn-text type2">근거확인</a>
            </div>
            <img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/1/@platform/book_hg.png" alt="교재" class="book-mg" />
        </div>
    </div>
    <div class="sector sector-teacher bg-gra">
        <div class="wrap">
            <div class="action">
                <a href="javascript: popupOpen('.popup-dim', 'popupBase');" class="btn-text type2">근거확인</a>
            </div>
            <img src="https://img.eduwill.net/eduwill/img/2022/1/event/220127/@platform/teacher.png" alt="교수." />
        </div>
    </div>
    <div class="sector sector-review">
        <div class="wrap">
            <img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/1/pc/review_title.png" alt="끝없이 쏟아지는 수강 후기 에듀윌에서는 합격이 쉽다는 것을 증명합니다." />
            <div class="slider-multiple">
                <div class="list"> <img alt="합격후기1" src="https://img.eduwill.net/eduwill/img/2022/1/event/220127/@platform/review_01.png" /></div>
                <div class="list"> <img alt="합격후기1" src="https://img.eduwill.net/eduwill/img/2022/1/event/220127/@platform/review_02.png" /></div>
                <div class="list"> <img alt="합격후기1" src="https://img.eduwill.net/eduwill/img/2022/1/event/220127/@platform/review_03.png" /></div>
                <div class="list"> <img alt="합격후기1" src="https://img.eduwill.net/eduwill/img/2022/1/event/220127/@platform/review_04.png" /></div>
                <div class="list"> <img alt="합격후기1" src="https://img.eduwill.net/eduwill/img/2022/1/event/220127/@platform/review_05.png" /></div>
            </div>
            <div class="action">
                <a href="http://invest.eduwill.net/1nvest/community/study/pass_list_190531.asp?M_idx=14" target="_blank">
                    <img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/btn/review_link_btn.png" alt="실시간 업데이트 중! 합격수기 더보기" />
                </a>
            </div>
        </div>
    </div>
    <!--공통-->
    <div class="sector sector-grow bg-gra">
        <div class="wrap">
            <img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/1/@platform/grow_title_hg.png" alt="1위 신화는 계속됩니다. 수강생수2722폭발적성장" />
            <img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/1/@platform/grow_b.png" alt="1위 신화는 계속됩니다. 수강생수2722폭발적성장" />
        </div>
    </div>
    <!--공통-->
    <div class="sector sector-prize">
        <div class="wrap">
            @if ("W".Equals(ViewBag.PlatformCd))
            {
		<div class="title">
			<div class="left">
					<div class="eco-4198" data-eduwill-eco-content="4198"></div>
				<strong>한경TEAST 교육 1위</strong>
			</div>
			<div class="right">
				<strong class="point-color">업계최초</strong>
			</div>
		</div>
                <img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/1/pc/prize.png" alt="단기합겨곧,고득점도 검증된곳에서 " /> }
            else
            {
		<div class="title">
			<div class="left">
				<div class="eco-4198" data-eduwill-eco-content="4198"></div>
				<strong>한경TEAST 교육 1위</strong>
			</div>
		</div>
                <div class="title type2">
                    <div class="right">
                        <strong class="point-color">업계최초</strong>
                    </div>
                </div>
                                <img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/1/mobile/prize.png" alt="단기합겨곧,고득점도 검증된곳에서 " />}
        </div>
    </div>


    <div class="sector sector-only">
        <div class="wrap">
            @if ("W".Equals(ViewBag.PlatformCd))
            {
<div class="eco-2181" data-eduwill-eco-content="2181"></div> }
else
{
<div class="eco-2182" data-eduwill-eco-content="2182"></div>}
        </div>
    </div>


    @* 소문내기영역 *@
<div id="somunEvent" class="somun-event">
    <link rel="stylesheet" type="text/css" href="//img.eduwill.net/eduwill/live/css/common/privacy_multi.css" />
    <script type="text/javascript" src="//img.eduwill.net/resources/event/live/js/common/download.js"></script>
    <script type="text/javascript" src="//img.eduwill.net/resources/common/web/js/vue/vue.js"></script>
    <div id="SomunDiv" style="display:none;">
        <somun-component :mode="mode"
                         :url_yn="url_yn"
                         :url_pc="url_pc"
                         :url_mo="url_mo"
                         :hashtag="hashtag"
                         :step1="step1"
                         :step2="step2"
                         :hash_yn="hash_yn"
                         :downimg_yn="downimg_yn"
                         :notice="notice"
                         :somunlist="somunlist"
                         :pages="pages"
                         :grlist="grlist"
                         :reply_yn="reply_yn"
                         :page="page"
                         :totalcount="totalcount"
                         :mainimg_path_pc="mainimg_path_pc"
                         :mainimg_path_mo="mainimg_path_mo"
                         :guide="guide"
                         :pagesize="pagesize"
                         :pagercount="pagercount"
                         :downimg_path="downimg_path"
                         :main_bg_color="main_bg_color"
                         :bg_color="bg_color"
                         :btn_text_color="btn_text_color"
                         :btn_color="btn_color"
                         :btn_border="btn_border"></somun-component>
    </div>
    <script src="~/js/somun/Somun.js"></script>
    <script>

 			var platform_cd = "@(ViewBag.PlatformCd)"
        _somunidx = 221;

            if (platform_cd == "M")
            {
				_popTop = "22000px";
            }
            somuninit();
    </script>

</div>


</div>

<div class="popup-dim"></div>


<div id="popupBase" class="popup popup-base">
    <div class="popup-body">
	<strong>[한경TESAT 1위]</strong>
	* 2022 대한민국 브랜드만족도 한경TESAT 교육 1위<br/>
		<strong>[베스트셀러 1위]</strong>
	* YES24 수험서 자격증 TESAT 경제이해력검증시험 베스트셀러 1위 (2017년 3월~7월,12월, 2018년 8~10월, 2019년 1~12월,2020년1,3~5, 7~12월, 2021년 1~11월 월별 베스트) <br/>
		<br/>
		<strong>[1위 교수진]</strong>
	* 수강생 만족도 1위(한경 이종학) : 2020 에듀윌 한경TESAT 수강생 만족도 조사결과
		<br/>
		<strong>[수강생 증가]</strong>
		* 에듀윌 한경TESAT/매경TEST 수강생 증가율(2017.11~2021.08)<br/>
		<br/>
		<strong>[검증된 교육기관]</strong>
		* 업계최초 대통령상 3관왕 및 정부기관상 17관왕 달성<br/>
		<strong>[검색량 1위]</strong>
		* 네이버 DataLab 검색어 트렌드 조회결과(2021.4.1~2021.4.30 기준) 주제어 : 브랜드명+한경TESAT/브랜드명+한경테셋/브랜드명+테셋 3개 업체 비교<br/>
   


    </div>
    <a href="javascript:;" class="popup-close" onclick="popupClose('.popup-dim', 'popupBase');"><span class="sr-only">닫기</span></a>
</div>

<div id="popupBaseTeacher" class="popup popup-base">
    <div class="popup-body">
        <div class="base-4">
            <strong>[1위 교수진]</strong>
            <div class="eco-3475" data-eduwill-eco-content="3475"></div>
        </div>
    </div>
    <a href="javascript:;" class="popup-close" onclick="popupClose('.popup-dim', 'popupBaseTeacher');"><span class="sr-only">닫기</span></a>
</div>

<div id="popupBaseBook" class="popup popup-base">
    <div class="popup-body">
        <div class="base-3">
            <strong>[베스트셀러 1위]</strong>
            <div class="eco-3475" data-eduwill-eco-content="3475"></div>
        </div>
    </div>
    <a href="javascript:;" class="popup-close" onclick="popupClose('.popup-dim', 'popupBaseBook');"><span class="sr-only">닫기</span></a>
</div>

<div id="popupBaseOnly" class="popup popup-base">
    <div class="popup-body">
        <div class="eco-3514" data-eduwill-eco-content="3514"></div>
    </div>
    <a href="javascript:;" class="popup-close" onclick="popupClose('.popup-dim', 'popupBaseOnly');"><span class="sr-only">닫기</span></a>
</div>

<div class="dimmed"></div>
<div id="popupApply" class="popup-apply">
    <a href="javascript:;" class="popup-close" onclick="popupClose('.dimmed', 'popupApply');"><span class="sr-only">닫기</span></a>
	<div class="popup-title"><strong>한경TESAT 단체 접수신청 코드 받기</strong></div>
	<div class="popup-cont">

		<div class="input-box">
			<dl>
				<dt class="label">&middot; 이름</dt>
				<dd>
					<input type="text" id="form_name" name="userNm" value="@(ViewBag.UserNm)" maxlength="20" class="ipt" />
				</dd>
			</dl>
			<dl>
				<dt class="label">&middot; 휴대폰번호</dt>
				<dd>
					<input type="tel" id="form_phone" name="userHp" value="@(ViewBag.UserHp)" maxlength="11" class="ipt" />
					<a href="javascript:;" class="btn btn_receive">회원정보 수정</a>
				</dd>
			</dl>

		</div>

		<div class="check-box">

			<p class="label">&middot; 개인정보 수집 및 이용에 대한 동의 <span class="highlight">(필수)</span></p>

			<div class="table-box">
				<p class="text">㈜에듀윌은 본 이벤트를 위해 다음과 같이 참여자의 개인정보를 수집 및 이용, 처리위탁합니다.</p>
				<table>
					<colgroup>
						<col style="width:33.3333%" />
						<col style="width:auto" />
						<col style="width:33.3333%" />
					</colgroup>
					<tr>
						<th>수집 및 이용 목적</th>
						<th>수집항목</th>
						<th>보유 및 이용 기간</th>
					</tr>
					<tr>
						<td>
							참여자 정보확인,
							시험접수 단체코드 발송
						</td>
						<td>이름, 휴대폰번호</td>
						<td><strong>이벤트 종료 후 60일</strong></td>
					</tr>
				</table>

				<p class="text">귀하는 개인정보 수집 및 이용에 동의하지 않으실 수 있으나, <br/>동의하지 않으실 경우 참여가 제한됩니다.</p>
			</div>
			
			<p class="text">위 내용을 충분히 이해하였으며, 개인정보 수집 및 이용에 동의합니다.</p>
			<div class="agree-check">
				<input type="radio" name="" id="" value="Y">
				<label for="">동의합니다.</label>

				<input type="radio" name="" id="" value="N">
				<label for="">동의하지 않습니다.</label>
			</div>

		</div>
	</div>

	<div class="popup-btn">
		<a href="javascript:submitMainEventForm();" class="btn_apply"><span>시험 접수 코드 받기</span></a>
	</div>
</div>


<script type="text/javascript" src="//img.eduwill.net/eduwill/live/js/common/eduf.js"></script>
<script src="//img.eduwill.net/eduwill/live/js/common/script.js"></script>
<script type="text/javascript">
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
    var str = 'event.eduwill.net';
    var checkUrl = url.indexOf(str);

    $(function(){
        init();
    });

    function init(){
        pageMove('.page-move');
        winnerList();
        addSlide();
	
    };

    function checkResolution(e){
        if( isMobile || !checkUrl ){
            replaceImageLinks(e, 'pc', 'mobile');
            //console.log('mobile');
        } else {
            replaceImageLinks(e, 'mobile', 'pc');
            //console.log('pc');
        }
    }

    function replaceImageLinks(target, basic, change) {
        $(target + ' a').each(function(){
            var pcLink = $(this).data("pcLink");
            var mobileLink = $(this).data("mobileLink");
            $(this).attr("href", change == "pc" ? pcLink : mobileLink);
        });
    }

    function addSlide(){
		$('.slider-contents.slider').each(function(key, item) {
            var sliderIdName = 'productSlider' + key;
                this.id = sliderIdName;
            var sliderId = '#' + sliderIdName;

            $(sliderId).slick({
                autoplay: true,
                autoplaySpeed: 2000,
                speed: 1000,
                infinite: true,
                arrows: true,
                dots: true
            });
        });
		$('.slider-fade').slick({
			autoplay: true,
			autoplaySpeed: 2000,
			speed: 0,
			infinite: true,
			arrows: false,
			dots: false
		});
		
        $('.slider-multiple').each(function(){
            if ( isMobile ){
                _show = 1;
				_center = true;
            } else {
                _show = 3;
				_center = false;
            }
            $(this).slick({
                autoplay: true,
                autoplaySpeed: 3000,
                speed: 1000,
                infinite: true,
                arrows: false,
                dots: true,
                mobileFirst: true,
                centerMode: false,
				centerMode: _center,
                slidesToShow: _show,
                slidesToScroll: 1
            });
        });
        $('.slider-single').each(function(key, item) {
            var sliderIdName = 'singleSlider' + key;
                this.id = sliderIdName;
            var sliderId = '#' + sliderIdName;
            var _arrow = false, _dot = true;
            var _data = $(sliderId).data('slide');

            if(_data == 'teacher'){
                _arrow = true,
                _dot = false;
            }

            $(sliderId).slick({
                autoplay: true,
                autoplaySpeed: 3000,
                speed: 1000,
                infinite: true,
                arrows: _arrow,
                dots: _dot
            });
        });
    }

    function winnerList(){
        var options = {
           	jsonFileNm: '1202106_WINNER.min',
        };

        var _row;
        var _show;
        if( isMobile && checkUrl != -1 ){
            _row = 3;
            _show = 5;
        } else {
            _row = 5;
            _show = 8;
        }

        var slickOptions = {
            speed: 1000,
            slidesPerRow: _row,
            slidesToShow: _show,
        };

        eduf.UI.Winner(".winner-list", options, slickOptions);
    }
   

</script>





