@charset "UTF-8";
.grid {
  *zoom: 1;
}

.grid:before, .grid:after {
  content: '';
  display: table;
}

.grid:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 300;
  display: none;
  width: 96%;
  max-width: 720px;
  text-align: left;
  letter-spacing: -1px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

@media screen and (min-width: 720px) {
  .popup {
    width: 900px;
  }
}

.popup-body {
  padding: 5.55556vw;
}

@media screen and (min-width: 720px) {
  .popup-body {
    padding: 40px;
  }
}

.popup-head {
  padding: 4.44444vw 2.77778vw;
  font-size: 4.16667vw;
  font-weight: 600;
  color: #000;
  background-color: #ececec;
}

@media screen and (min-width: 720px) {
  .popup-head {
    padding: 32px 20px;
  }
}

@media screen and (min-width: 720px) {
  .popup-head {
    font-size: 30px;
  }
}

.popup-desc {
  padding: 20px;
}

.popup-desc li {
  padding: 1.38889vw 0;
  font-size: 2.77778vw;
  line-height: 1.2;
  color: #000;
  border-bottom: 1px solid #ccc;
}

@media screen and (min-width: 720px) {
  .popup-desc li {
    padding: 10px 0;
  }
}

@media screen and (min-width: 720px) {
  .popup-desc li {
    font-size: 20px;
  }
}

.popup-close {
  position: absolute;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  top: 0;
  right: 0;
}

.popup-close:before, .popup-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 15px;
  height: 1px;
  margin-left: -7.5px;
  background-color: #000;
}

.popup-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup-close a {
  display: block;
  width: 100%;
  height: 100%;
}

.popup.popup-base {
  border-radius: 10px;
}

.popup.popup-base p {
  line-height: 1.5;
  margin-bottom: 0.69444vw;
  font-size: 3.61111vw;
}

@media screen and (min-width: 720px) {
  .popup.popup-base p {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-base p {
    font-size: 26px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-base p {
    font-size: 18px;
  }
}

.popup.popup-base .txt-ind {
  text-indent: -1.38889vw;
  padding-left: 1.38889vw;
}

@media screen and (min-width: 720px) {
  .popup.popup-base .txt-ind {
    text-indent: -10px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-base .txt-ind {
    padding-left: 10px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-base .txt-ind {
    text-indent: -10px;
    padding-left: 10px;
  }
}

.popup.popup-list .popup-body {
  padding: 0;
}

.popup.popup-list .popup-close {
  right: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 55px;
  height: 55px;
}

.popup.popup-list .popup-close:before, .popup.popup-list .popup-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 27.5px;
  height: 1px;
  margin-left: -13.75px;
  background-color: #fff;
}

.popup.popup-list .popup-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup.popup-list .popup-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup.popup-list .popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup.popup-list .list-title {
  text-align: left;
  background: #333333;
  color: #fff;
  padding: 4%;
  letter-spacing: -1px;
  line-height: 1.4;
  font-weight: 400;
  font-size: 2.5vw;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title {
    font-size: 18px;
  }
}

.popup.popup-list .list-title strong {
  display: block;
  font-size: 4.16667vw;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title strong {
    font-size: 30px;
  }
}

.popup.popup-list .list {
  position: relative;
  background: #fff;
  padding: 4%;
  height: 52.77778vw;
  overflow-y: auto;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list {
    height: 380px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list {
    height: 500px;
    overflow-y: auto;
  }
}

.popup.popup-list .list ul li {
  line-height: 1.4;
  color: #333;
  font-size: 3.05556vw;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list ul li {
    font-size: 22px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list ul li {
    font-size: 18px;
  }
}

.popup.popup-benefit .popup-body {
  padding: 0;
}

.popup.popup-benefit .popup-body img {
  width: 100%;
}

.product-eco {
  position: relative;
  background-color: #f1f0ec;
}

.product-eco * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.product-eco .container {
  *zoom: 1;
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product-eco .container::before, .product-eco .container::after {
  content: '';
  display: table;
}

.product-eco .container::after {
  clear: both;
}

.product-eco .wrap {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .product-title {
  background-color: #3e8bbf;
  background-image: url("//img.eduwill.net/eduwill/img/2021/C/product/210615/pc/title_bg.jpg");
  background-size: cover;
}

.product-eco .product-title .eco-year {
  position: absolute;
  top: 720px;
  left: 50px;
  font-family: "Montserrat", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}

.product-eco .product-benefit {
  z-index: 1;
}

.product-eco .product-benefit img {
  margin-top: -138px;
}

.product-eco .product-benefit .benefit {
  position: relative;
}

.product-eco .product-benefit .flag span {
  display: inline-block;
  padding: 9px 37px;
  line-height: normal;
  font-size: 40px;
  font-weight: 700;
  border-radius: 50px;
  -webkit-animation: colorChange .8s step-start infinite;
          animation: colorChange .8s step-start infinite;
}

.product-eco .product-winner {
  background-color: #fff;
  padding-bottom: 130px;
  padding-top: 158px;
}

.product-eco .product-winner .interview-wrap {
  margin: 0 50px;
}

.product-eco .product-winner .interview-list {
  margin-left: -20px;
}

.product-eco .product-winner .interview-list li {
  width: 25%;
  padding-left: 20px;
  margin-top: 100px;
  font-size: 0;
}

.product-eco .product-winner .interview-list li img {
  width: 100%;
}

.product-eco .product-winner .interview-list li:first-child {
  float: none;
  width: 100%;
  margin-top: 0;
}

.product-eco .product-winner .interview-list li:first-child a:before {
  content: '';
  position: absolute;
  bottom: -50px;
  left: -160px;
  z-index: -1;
  display: block;
  width: 981px;
  height: 127px;
  background: url("//img.eduwill.net/eduwill/img/2021/C/product/210615/pc/shadow_interview.png") no-repeat 0 0;
}

.product-eco .product-winner .interview-list .text {
  display: inline-block;
}

.product-eco .product-winner .interview-list a {
  position: relative;
  z-index: 0;
  display: inline-block;
}

.product-eco .product-winner .action {
  margin-top: 40px;
}

.product-eco .product-winner .winner-slide-wrap {
  position: relative;
  margin: 100px 50px 0 100px;
}

.product-eco .product-winner .winner-list {
  position: relative;
  overflow: hidden;
}

.product-eco .product-winner .winner-list::before, .product-eco .product-winner .winner-list::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 40px;
}

.product-eco .product-winner .winner-list::before {
  top: 0;
  background: transparent;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#fff));
  background: linear-gradient(0deg, transparent 0%, #fff 100%);
}

.product-eco .product-winner .winner-list::after {
  bottom: 0;
  background: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(transparent));
  background: linear-gradient(0deg, #fff 0%, transparent 100%);
}

.product-eco .product-winner .winner-list p {
  text-align: left;
  line-height: 2;
  font-size: 24px;
  font-weight: 400;
  color: #222b34;
}

.product-eco .product-text-title {
  background-color: #0080bb;
}

.product-eco .product-program .item:not(:first-of-type) {
  margin-top: 20px;
}

.product-eco .product-curriculum,
.product-eco .product-info {
  background-color: #fff;
}

.product-eco .product-academy {
  background: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(50%, #fff), color-stop(50%, #f1f0ec), to(#f1f0ec));
  background: linear-gradient(0deg, #fff 0%, #fff 50%, #f1f0ec 50%, #f1f0ec 100%);
  overflow: hidden;
}

.product-eco .product-academy .slick-list {
  padding: 30px 0 !important;
}

.product-eco .product-academy .slick-slide {
  height: 489px;
  -webkit-transform: scaleY(0.9);
          transform: scaleY(0.9);
}

.product-eco .product-academy .slick-slide::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.product-eco .product-academy .slick-slide img {
  width: 100%;
  margin-top: -13px;
}

.product-eco .product-academy .slick-slide.slick-current {
  z-index: 1;
  width: 1100px;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-box-shadow: 0 0 20px #000;
          box-shadow: 0 0 20px #000;
}

.product-eco .product-academy .slick-slide.slick-current::before {
  display: none;
}

.product-eco .product-academy .slick-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  background: none;
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  outline: none;
}

.product-eco .product-academy .slick-prev {
  margin-left: -540px;
  background-image: url("//img.eduwill.net/eduwill/img/2021/C/product/210615/pc/btn_prev.png");
}

.product-eco .product-academy .slick-next {
  margin-left: 480px;
  background-image: url("//img.eduwill.net/eduwill/img/2021/C/product/210615/pc/btn_next.png");
}

.product-eco .product-free {
  background-color: #fff;
}

.product-eco .product-free .flag {
  position: absolute;
  top: 330px;
  left: 50%;
  display: inline-block;
  margin-left: 300px;
  padding: 8px 18px;
  line-height: 1;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  border-radius: 40px;
  background-color: #dd0000;
}

.product-eco .product-free .flag span {
  -webkit-animation: opacityChange 1.5s step-start infinite;
          animation: opacityChange 1.5s step-start infinite;
}

.product-eco .product-price .apply-list {
  position: relative;
  width: 1100px;
  height: 300px;
  margin: 0 auto -158px;
  border-radius: 50px;
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.product-eco .product-price .apply-list .list {
  position: absolute;
  width: 100%;
  padding: 50px 75px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product-eco .product-price .apply-list .list .title {
  font-size: 55px;
  color: #222;
  float: left;
  text-align: left;
  width: 50%;
  margin-top: 38px;
  font-weight: 700;
  line-height: 1.2;
}

.product-eco .product-price .apply-list .list .title span {
  display: block;
  font-size: 35px;
  color: #dd0000;
}

.product-eco .product-price .apply-list .list .txt-flag {
  display: block;
  float: right;
  text-align: right;
  width: 50%;
  -webkit-animation: opacityChange .8s step-start infinite;
          animation: opacityChange .8s step-start infinite;
}

.product-eco .product-price .apply-list .list .txt-flag span {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  background-color: #222;
  border-radius: 10px;
  line-height: 40px;
  padding: 0 10px;
}

.product-eco .product-price .apply-list .list .txt-flag em {
  color: #ffd800;
  padding: 0 5px;
}

.product-eco .product-price .apply-list .list .price {
  display: block;
  float: right;
  text-align: right;
  width: 50%;
  font-size: 45px;
  font-weight: 700;
  color: #dd0000;
  line-height: 90px;
}

.product-eco .product-price .apply-list .list .price em {
  font-size: 60px;
}

.product-eco .product-price .apply-list .list .action {
  display: block;
  float: right;
  text-align: right;
  width: 50%;
}

.layer-video {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  max-width: 768px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.layer-video .layer-video-box {
  position: relative;
}

.layer-video .layer-video-box iframe,
.layer-video .layer-video-box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: inherit;
     object-fit: inherit;
}

.layer-video .layer-video-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  top: -60px;
  z-index: 1000;
}

.layer-video .layer-video-close::before, .layer-video .layer-video-close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 2px;
  margin-left: -15px;
  background-color: #fff;
}

.layer-video .layer-video-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.layer-video .layer-video-close::after {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.layer-video .layer-video-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

@-webkit-keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
}

@-webkit-keyframes opacityChange {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes colorChange {
  0%, 100% {
    color: #fff;
    background-color: #0080bb;
  }
  50% {
    color: #0080bb;
    background-color: #fff;
  }
}

@keyframes colorChange {
  0%, 100% {
    color: #fff;
    background-color: #0080bb;
  }
  50% {
    color: #0080bb;
    background-color: #fff;
  }
}
/*# sourceMappingURL=web.css.map */