@{
    string progressCd = (string)ViewBag.ProgressCd;
    string platformDir = (string)ViewBag.platformCd == "W" ? "pc" : "mobile";
    String platform = ("W".Equals(ViewBag.PlatformCd)) ? "pc" : "mobile";
}
@*
    *** 작업 사항 ***
    - @progressCd 로 전산(X), 재경(U), ERP(5), 한경매경(1) 관리.
    - 그중 기본이 되는것은 전산(X)이며, 모든 이미지 파일과 CSS파일도 FTP에서 전산(X) 경로에서 하나의 소스로 관리하게 작업함.

    - 경로
        전산(X):
            Publish\Event\2021\X\211201\_Content.cshtml
        재경(U):
            Publish\Event\2021\U\211201\_Content.cshtml
        ERP(5):
            Publish\Event\2021\5\211201\_Content.cshtml
        한경매경(1):
            Publish\Event\2021\1\211201\_Content.cshtml
*@

<div id="contents" class="promotion promotion-@progressCd">
    <div class="sector-timer-black">
        <div class="wrap">
            @if ("W".Equals(ViewBag.PlatformCd))
            {
                <div class="item desc">마감까지</div>
            }
            else
            {
                <div class="item desc">마감 시간까지</div>
            }
            <div id="promotionTimer" class="item grid timer-wrap">
                <div class="col">
                    <!-- 일 -->
                    <em class="day bg-count" id="day">00</em><em>일</em>
                </div>
                <div class="col">
                    <!-- 시 -->
                    <em class="hour bg-count" id="hour">00</em><em>:</em>
                </div>
                <div class="col">
                    <!-- 분 -->
                    <em class="min bg-count" id="min">00</em><em>:</em>
                </div>
                <div class="col">
                    <!-- 초 -->
                    <em class="sec bg-count" id="sec">00</em><em>:</em>
                </div>
                <div class="col">
                    <!-- 밀리 초 -->
                    <em class="msec bg-count" id="msec">00</em>
                </div>
            </div>
            @if ("W".Equals(ViewBag.PlatformCd))
            {
                <div class="item">
                    <a href="#promotionSale" class="btn-apply page-move"><img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/timer_button.png" alt=" "></a>
                </div>
            }
        </div>
    </div>

    <!-- 소구점 -->
    <div data-eduwill-eco-content="3235"></div>
    <!-- // 소구점 -->

	<div class="sector-title">
        <div class="wrap">
			<div class="t-laurel">
				<img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/laurel_@(progressCd).png" alt="월계관">
			</div>
			
			 <div class="action">
                <a href="javascript: popupOpen('.popup-dim', 'popupBase');" class="btn-text">근거확인</a>
            </div>
			
			<div class="t-title">
				<img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/title.png" alt="에듀윌은 합격을 싣고">
				<div class="sale">
					<img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/sale30_new.png" alt="23SALE">
				</div>
			</div>
				<div class="sub-title">
				<p>* 2022 대한민국 브랜드만족도 한경TESAT/매경TEST 교육 1위</p>
			</div>
			<div class="center">
				<p class="period" id="period2">
					<span>2022.02.03 – 2022.02.10</span>
					<strong>단, 5일간의 기회!</strong>
				</p>
			</div>
        </div>
    </div>

    <div class="sector-sale" id="promotionSale">
        <div class="wrap">
            <h3>
                1위* 에듀윌<span class="only-pc">&nbsp;한경TESAT/매경TEST</span>의 특별지원<br>
                <em>30% 할인</em> 받고 합격하기
            </h3>
            <small>* 2022 대한민국 브랜드만족도 한경TESAT/매경TEST 교육 1위</small>          

            <h4>한경TESAT</h4>
            <div class="grid product-list">
                <div class="col product">
                    <div class="table product-head">
                        <div class="table-cell">
                            <p class="subject">
                                <strong>22년 5월 대비</strong> 200%환급반
                            </p>
                            <p class="desc">2급이상 달성 시 환급 + 미달성 시 무료 연장</p>
                        </div>
                    </div>
                    <div class="product-body">
                        <div class="flag"><span><strong>30</strong>%</span></div>
                        <div class="core">
                            <p class="price price-before"><span><strong>215,000</strong>원</span></p>
                            <p class="price price-after"><span><strong>150,000</strong>원</span></p>
                        </div>
                        <div class="action">
                            <a href="https://invest.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MjYxNTU=" data-pc-link="https://invest.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MjYxNTU=" data-mobile-link="https://brand.eduwill.net/sugang/view.will?progress=1&mSeq=27492" target="_blank" class="btn btn-detail"><span>자세히보기</span></a>
                            <a href="javascript:;" class="btn btn-apply"><span>할인받고 수강하기</span></a>
                        </div>
                    </div>
                </div>

                <div class="col product">
                    <div class="table product-head">
                        <div class="table-cell">
                            <p class="subject">
                                <strong>22년 3월 대비</strong> 200%환급반
                            </p>
                            <p class="desc">2급이상 달성 시 환급 + 미달성 시 무료 연장</p>
                        </div>
                    </div>
                    <div class="product-body">
                       <div class="flag"><span><strong>30</strong>%</span></div>
                        <div class="core">
                            <p class="price price-before"><span><strong>210,000</strong>원</span></p>
                            <p class="price price-after"><span><strong>147,000</strong>원</span></p>
                        </div>
                        <div class="action">
                            <a href="https://invest.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MjYxNTU=" data-pc-link="https://invest.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MjYxNTU=" data-mobile-link="https://brand.eduwill.net/sugang/view.will?progress=1&mSeq=27492" target="_blank" class="btn btn-detail"><span>자세히보기</span></a>
                            <a href="javascript:;" class="btn btn-apply"><span>할인받고 수강하기</span></a>
                        </div>
                    </div>
                </div>

            </div>

            <h4>매경TEST</h4>
            <div class="grid product-list">
                <div class="col product">
                    <div class="table product-head">
                        <div class="table-cell">
                            <p class="subject">
                                <strong>22년 5월 대비</strong> 200%환급반
                            </p>
                            <p class="desc">우수이상 달성 시 환급 + 미달성 시 무료 연장</p>
                        </div>
                    </div>
                    <div class="product-body">
                       <div class="flag"><span><strong>30</strong>%</span></div>
                        <div class="core">
                            <p class="price price-before"><span><strong>220,000</strong>원</span></p>
                            <p class="price price-after"><span><strong>154,000</strong>원</span></p>
                        </div>
                        <div class="action">
                            <a href="https://invest.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MjEwNzM=" data-pc-link="https://invest.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MjEwNzM=" data-mobile-link="https://brand.eduwill.net/sugang/view.will?mSeq=27494&progress=1 " target="_blank" class="btn btn-detail"><span>자세히보기</span></a>
                            <a href="javascript:;" class="btn btn-apply"><span>할인받고 수강하기</span></a>
                        </div>
                    </div>
                </div>

                <div class="col product">
                    <div class="table product-head">
                        <div class="table-cell">
                            <p class="subject">
                                <strong>22년 4월 대비</strong> 200%환급반
                            </p>
                            <p class="desc">우수이상 달성 시 환급 + 미달성 시 무료 연장</p>
                        </div>
                    </div>
                    <div class="product-body">
                         <div class="flag"><span><strong>30</strong>%</span></div>
                        <div class="core">
                            <p class="price price-before"><span><strong>200,000</strong>원</span></p>
                            <p class="price price-after"><span><strong>140,000</strong>원</span></p>
                        </div>
                        <div class="action">
                            <a href="https://invest.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MjEwNzM=" data-pc-link="https://invest.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MjEwNzM=" data-mobile-link="https://brand.eduwill.net/sugang/view.will?mSeq=27494&progress=1" target="_blank" class="btn btn-detail"><span>자세히보기</span></a>
                            <a href="javascript:;" class="btn btn-apply"><span>할인받고 수강하기</span></a>
                        </div>
                    </div>
                </div>

            </div>
            <p class="notice">
                * 합격 시, 제세공과금 및 교재 판매가(교재 정가의 10%할인가), 제외 후 환급<br>
                * 불합격 후 수험표 제출 시, 다음회차까지 연장
            </p>
        </div>
    </div>
    <div class="sector sector-band ">
        <div class="wrap">
			@if ("W".Equals(ViewBag.PlatformCd))
    		{
            <strong>
                다른 곳에서는 못합니다<br />
                <span>오직 에듀윌만의 압도적인 차이를 확인하세요</span> 
            </strong>
			}
			else{
		 	<strong>
                다른 곳에서는 못합니다<br />
                <span>오직 에듀윌만의 압도적인 차이</span> 
            </strong>
			}
        </div>
    </div>
<!--공통-->
    <div class="sector sector-winner">
        <div class="wrap">
            <div class="title">
				@if ("W".Equals(ViewBag.PlatformCd))
				{
                <img alt="합격자명단" src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/1/pc/winner_title.png" />
				}
				else{
				<img alt="합격자명단" src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/1/mobile/winner_title2.png" />
				}
                <div class="txt"><strong class="point-color">고득점 단기합격 가능!</strong></div>
            </div>
            <div class="winner-wrap">
                <div class="winner-list"></div>
            </div>
        </div>
    </div>
	<!--공통-->
    <div class="sector sector-brand">
        <div class="wrap">
            <img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/1/@platformDir/brand_title_w.png" alt="4년 연속 1위 수험생이 가장 많이 찾는 브랜드, 에듀윌!" />
            <img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/1/@platformDir/brand_mg.png" alt="" />
            <div class="action right-bottom">
                <a href="javascript: popupOpen('.popup-dim', 'popupBase');" class="btn-text type3 border">근거확인</a>
            </div>

        </div>
    </div>
    <div class="sector-review">
        <div class="wrap">
            <div class="title">
                <img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/review_title_@(progressCd).png" alt="">
            </div>
            <div class="slider-multiple">
                <div><img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/review1_1_@(progressCd).png" alt="review1"></div>
                <div><img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/review1_2_@(progressCd).png" alt="review2"></div>
                <div><img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/review1_3_@(progressCd).png" alt="review3"></div>
                <div><img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/review1_4_@(progressCd).png" alt="review4"></div>
                <div><img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/review1_5_@(progressCd).png" alt="review5"></div>
                <div><img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/review1_6_@(progressCd).png" alt="review6"></div>
            </div>
        </div>
    </div>
    <div class="sector-growth">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/growth_@(progressCd).jpg" alt="">
        </div>
    </div>

    <div class="sector-teacher">
        <div class="wrap">
            <div class="title">
                <img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/teacher_title_@(progressCd).jpg" alt="교수진">
                <a href="javascript:;" class="btn-base" onclick="popupOpen('.popup-dim', 'popupBase');">
                    <img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/only_btn.jpg" alt="근거보기">
                </a>
            </div>
			 @if ("W".Equals(ViewBag.PlatformCd))
            {
            <div class="teacher-list slider-single-arrow" data-slide="teacher">
                <div><img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/teacher_1_@(progressCd).jpg" alt=""></div>
                <div><img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/teacher_2_@(progressCd).jpg" alt=""></div>
                <div><img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/teacher_3_@(progressCd).jpg" alt=""></div>
            </div>
            <div class="review-list">
                <img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/teacher_review.jpg" alt="리뷰 모음">
            </div>
            }
			else{
				<div class="teacher-list slider-single" data-slide="teacher">
                <div><img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/teacher_1_@(progressCd).jpg" alt=""></div>
                <div><img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/teacher_2_@(progressCd).jpg" alt=""></div>
                <div><img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/teacher_3_@(progressCd).jpg" alt=""></div>
            </div>
			}
        </div>
    </div>

    <div class="sector-book">
        <div class="wrap">
			@if ("W".Equals(ViewBag.PlatformCd))
            {
            <img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/book_title.jpg" alt="10명 중 9명이 만족*하는 바로 그 교재! 6년 역대 베스트셀러 1위 교재">
            <div class="book-list slider-single" data-slide="book">
                <div><img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/book01.jpg" alt="book1"></div>
                <div><img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/book02.jpg" alt="book2"></div>
            </div>
			}
			else {
				<img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/book_1.jpg" alt="10명 중 9명이 만족*하는 바로 그 교재! 6년 역대 베스트셀러 1위 교재">
			}
            <a href="javascript:;" class="btn-base" onclick="popupOpen('.popup-dim', 'popupBase');">
                <img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/only_btn.jpg" alt="근거보기">
            </a>
        </div>
    </div>

   <div class="sector sector-prize ">
		<div class="wrap">	
				@if ("W".Equals(ViewBag.PlatformCd)){
				<div class="title">
					<div class="left">
						<div class="eco-4198" data-eduwill-eco-content="4198"></div>
					</div>
					<div class="right">
						<strong class="point-color">업계최초</strong>
					</div>
				</div>
				<img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/1/@platform/prize_2.png"  alt="단기합겨곧,고득점도 검증된곳에서 "/>
				}
				else{
					<div class="title">
						<div class="left">
							<div class="eco-4198" data-eduwill-eco-content="4198"></div>
						</div>
					</div>
					<div class="title type2">
						<div class="right">
							<strong class="point-color">업계최초</strong>
						</div>
					</div>
						<img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/1/@platform/prize_2.png"  alt="단기합겨곧,고득점도 검증된곳에서 "/>
				}
			</div>
	</div>
	<div class="sector sector-only">
		@* 210720 추가 *@
		@if ("W".Equals(ViewBag.PlatformCd))
		{
			<div class="eco-2181" data-eduwill-eco-content="2181"></div>
		}
		else
		{
			<div class="eco-2182" data-eduwill-eco-content="2182"></div>
		}
	</div>
    <div class="sector sector-band-bottom">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/X/event/220203/@platformDir/band2.png" alt="">
				<div class="eco-3475" data-eduwill-eco-content="3475"></div>
        </div>
    </div>

    <div class="sector-notice">
        <div class="wrap">
            <p class="title">※ 꼭 읽어 주세요</p>
            <ul class="notice-list">
                <li>할인된 금액으로의 구매는 이벤트 페이지를 통해서만 가능합니다</li>
                <li>장바구니에 담겨진 할인 적용 상품은 7일 이내에 반드시 결제해야 하며, 기간 경과 혹은 장바구니에서 삭제 시 재신청이 불가합니다.</li>
                <li>본 이벤트 할인 적용 시 친구추천 이벤트(리워드) 대상에서 제외됩니다.</li>
                <li>수강료 정가에서 할인된 가격으로 진행되는 이벤트 입니다.</li>
            </ul>
        </div>
    </div>
</div>

<div class="popup-dim"></div>
<div id="popupBase" class="popup popup-base">
    <div class="popup-body">
        <div class="base-1">
            <strong>[한경TESAT 1위]</strong>
            <div class="eco-3475" data-eduwill-eco-content="3475"></div>
            @* brand1 *@
        </div>
        <div class="base-2">
            <strong>[매경TEST 1위]</strong>
            <div class="eco-3475" data-eduwill-eco-content="3475"></div>
            @* brand2 *@
        </div>
        <div class="base-3">
            <strong>[베스트셀러 1위]</strong>
            <div class="eco-3475" data-eduwill-eco-content="3475"></div>
            @* book1~2 *@
        </div>
        <div class="base-4">
            <strong>[1위 교수진]</strong>
            <div class="eco-3475" data-eduwill-eco-content="3475"></div>
            @* sks1~2, jph1~2, ljh1 *@
        </div>
        <div class="base-5">
            <strong>[수강생 증가]</strong>
            <div class="eco-3475" data-eduwill-eco-content="3475"></div>
            @* rate1 *@
        </div>
        <div class="base-6">
            <strong>[검증된 교육기관]</strong>
            <div class="eco-3475" data-eduwill-eco-content="3475"></div>
            @* prize1 *@
        </div>

    </div>
    <a href="javascript:;" class="popup-close" onclick="popupClose('.popup-dim', 'popupBase');"><span class="sr-only">닫기</span></a>
</div>

<script src="//img.eduwill.net/eduwill/live/js/common/script.js"></script>
<script type="text/javascript">
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
    var str = 'event.eduwill.net';
    var checkUrl = url.indexOf(str);

    $(function () {
        frontInit();
    });

    function frontInit() {
        getTimer('#promotionTimer', 'March 9,2021,00:00');
        checkResolution('.promotion-sale');
        pageMove('.page-move');
        winnerList();
        addTyping();
        addSlide();
   		titleEvent();
		
    };
	  function titleEvent(){
        TweenMax.fromTo($('.sector-title .sale'), 1, { y: 0 }, { y: -10, repeat: -1, yoyo: true, ease: Bounce.eaesInOut });
    }

    function checkResolution(e) {
        if (isMobile || !checkUrl) {
            replaceImageLinks(e, 'pc', 'mobile');
            //console.log('mobile');
        } else {
            replaceImageLinks(e, 'mobile', 'pc');
            //console.log('pc');
        }
    }

    function replaceImageLinks(target, basic, change) {
        $(target + ' a').each(function () {
            var pcLink = $(this).data("pcLink");
            var mobileLink = $(this).data("mobileLink");
            $(this).attr("href", change == "pc" ? pcLink : mobileLink);
        });
    }

    function addSlide() {
        $('.slider-multiple').each(function () {
            if (isMobile) {
                _show = 2;
            } else {
                _show = 3;
            }
            $(this).slick({
                autoplay: true,
                autoplaySpeed: 3000,
                speed: 1000,
                infinite: true,
                arrows: false,
                dots: true,
                mobileFirst: true,
                centerMode: false,
                slidesToShow: _show,
                slidesToScroll: 1
            });
        });

        $('.slider-single').each(function(key, item) {
            var sliderIdName = 'singleSlider' + key;
                this.id = sliderIdName;
            var sliderId = '#' + sliderIdName;
            var _arrow = false, _dot = true;
            var _data = $(sliderId).data('slide');

            if(_data == 'teacher'){
                _arrow = false,
                _dot = true;
            }

            $(sliderId).slick({
                autoplay: true,
                autoplaySpeed: 3000,
                speed: 1000,
                infinite: true,
                arrows: _arrow,
                dots: _dot
            });
        });
		$('.slider-single-arrow').slick({
            autoplay: true,
            autoplaySpeed: 3000,
            speed: 1000,
            infinite: true,
            arrows: true,
            dots: false,
            mobileFirst: true,
            slidesToScroll: 1
        });

    
    }

    function winnerList() {
        var options = {
            jsonFileNm: "1202106_WINNER.min",
        };

        var _row;
        var _show;
        if (isMobile && checkUrl != -1) {
            _row = 3;
            _show = 5;
        } else {
            _row = 5;
            _show = 8;
        }

        var slickOptions = {
            speed: 1000,
            slidesPerRow: _row,
            slidesToShow: _show,
        };

        eduf.UI.Winner(".winner-list", options, slickOptions);
    }

    function addTyping() {
        var typingBool = false;
        var typingIdx = 0;
        var typingTxt = "에듀윌 ";
        typingTxt = typingTxt.split("");
        if (typingBool == false) {
            typingBool = true;
            var tyInt = setInterval(typing, 500);
        }

        function typing() {
            if (typingIdx < typingTxt.length) {
                $(".typing").append(typingTxt[typingIdx]);
                typingIdx++;

                if (typingIdx > (typingTxt.length - 1)) {
                    typingIdx = 0;
                    $(".typing").empty();
                }
            } else {
                clearInterval(tyInt);
            }
        }
    }
</script>