@charset "UTF-8";
.grid, .product-eco .wrap-tab .tab-list, .product-curriculum .item .list, .product-exam.item .mock-wrap {
  *zoom: 1;
}

.grid:before, .product-eco .wrap-tab .tab-list:before, .product-curriculum .item .list:before, .product-exam.item .mock-wrap:before, .grid:after, .product-eco .wrap-tab .tab-list:after, .product-curriculum .item .list:after, .product-exam.item .mock-wrap:after {
  content: '';
  display: table;
}

.grid:after, .product-eco .wrap-tab .tab-list:after, .product-curriculum .item .list:after, .product-exam.item .mock-wrap:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid, .product-eco .wrap-tab .tab-list, .product-curriculum .item .list, .product-exam.item .mock-wrap {
  box-sizing: border-box;
}

.grid .col, .product-eco .wrap-tab .tab-list .col, .product-curriculum .item .list .col, .product-exam.item .mock-wrap .col, .product-eco .wrap-tab .tab-list li, .product-curriculum .item .list li, .grid .product-exam.item .mock-list, .product-exam.item .grid .mock-list, .product-eco .wrap-tab .tab-list .product-exam.item .mock-list, .product-exam.item .product-eco .wrap-tab .tab-list .mock-list, .product-curriculum .product-exam.item .list .mock-list, .product-exam.item .mock-wrap .mock-list, .grid .product-exam.item .mock-contents, .product-exam.item .grid .mock-contents, .product-eco .wrap-tab .tab-list .product-exam.item .mock-contents, .product-exam.item .product-eco .wrap-tab .tab-list .mock-contents, .product-curriculum .product-exam.item .list .mock-contents, .product-exam.item .mock-wrap .mock-contents {
  float: left;
  box-sizing: border-box;
}

.banner-list-item .banner {
  background-color: #fff !important;
}

.eco-event {
  overflow: hidden;
  height: 85.8375rem;
}

@media screen and (min-width: 720px) {
  .eco-event {
    height: 1715px;
  }
}

.dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 10000;
  display: none;
  width: 90%;
  letter-spacing: -1px;
  transform: translateX(-50%);
  box-sizing: border-box;
}

.popup * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.popup-close a {
  position: absolute;
  top: 0;
  right: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 40px;
  height: 40px;
}

.popup-close a:before, .popup-close a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 1px;
  margin-left: -10px;
  background-color: #000;
}

.popup-close a:before {
  transform: rotate(45deg);
}

.popup-close a:after {
  transform: rotate(315deg);
}

.popup-close a span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup-curriculum {
  max-width: 536px;
}

.popup-benefit {
  max-width: 637px;
}

@media screen and (min-width: 1100px) {
  .popup-benefit {
    max-width: 924px;
  }
}

.popup-base {
  max-width: 720px;
}

.popup-base .popup-content {
  padding: 0.78125rem;
  text-align: left;
  font-size: 0;
  border: 2px solid #00233e;
  background-color: #fff;
}

@media screen and (min-width: 720px) {
  .popup-base .popup-content {
    padding: 25px;
  }
}

.popup-base p {
  margin: 0;
  line-height: 1.4;
  font-size: 2.77778vw;
  font-weight: 300;
  color: #00233e;
}

@media screen and (min-width: 720px) {
  .popup-base p {
    font-size: 20px;
  }
}

.popup-base p.only-bottom {
  display: none;
}

.popup-base p a {
  font-weight: 700;
  color: #00233e;
}

.popup-base .popup-close a {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 30px;
  height: 30px;
}

.popup-base .popup-close a:before, .popup-base .popup-close a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 15px;
  height: 1px;
  margin-left: -7.5px;
  background-color: #2b3236;
}

.popup-base .popup-close a:before {
  transform: rotate(45deg);
}

.popup-base .popup-close a:after {
  transform: rotate(315deg);
}

.popup-base .popup-close a span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

@media screen and (min-width: 720px) {
  .popup-base .popup-close a {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 40px;
    height: 40px;
  }
  .popup-base .popup-close a:before, .popup-base .popup-close a:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 20px;
    height: 1px;
    margin-left: -10px;
    background-color: #00233e;
  }
  .popup-base .popup-close a:before {
    transform: rotate(45deg);
  }
  .popup-base .popup-close a:after {
    transform: rotate(315deg);
  }
  .popup-base .popup-close a span {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 0px;
    height: 0px;
    margin: -1px;
    padding: 0;
    word-break: keep-all;
    white-space: nowrap;
    color: transparent;
    border: 0;
    text-indent: -9999px;
  }
}

.product-eco * {
  line-height: normal;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.product-eco .container {
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
}

.product-eco .wrap {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  width: 100%;
}

.product-eco .holder {
  position: relative;
}

.product-eco p {
  margin: 0;
  text-align: left;
  font-size: 14px;
  color: #666;
}

.product-eco p.notice {
  margin-top: 10px;
}

.product-eco p.brand, .product-eco p.survey {
  position: absolute;
}

.product-eco .fixbanner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #75fffc;
  z-index: 777;
}

.product-eco .fixbanner .pointer {
  position: absolute;
  top: 50px;
  right: 20px;
}

.product-eco .fixbanner .pointer img {
  width: 70%;
  animation: 0.6s slideUpY ease-in-out infinite alternate;
}

.product-eco .floatbanner {
  position: fixed;
  top: 300px;
  left: 50%;
  margin-left: 620px;
  z-index: 99999;
  width: 133px;
}

.product-eco .icon_plus:after {
  content: '';
  width: 120px;
  height: 120px;
  background-image: url("https://img.eduwill.net/Img2/arch/product/201210/pc/ico_plus.png");
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: -50px;
  z-index: 10;
}

.product-eco .slider-contents {
  position: relative;
  margin: 20px auto 0 auto;
}

.product-eco .slider-contents .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.product-eco .slider-contents .slick-arrow.slick-prev {
  left: 20px;
}

.product-eco .slider-contents .slick-arrow.slick-prev:before {
  right: 0;
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border-width: 0;
  border-style: solid;
  border-color: #666;
  transform: rotate(45deg);
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.product-eco .slider-contents .slick-arrow.slick-next {
  right: 20px;
}

.product-eco .slider-contents .slick-arrow.slick-next:before {
  left: 0;
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border-width: 0;
  border-style: solid;
  border-color: #666;
  transform: rotate(45deg);
  border-top-width: 1px;
  border-right-width: 1px;
}

.product-eco .wrap-tab .tab-list a {
  display: block;
}

.product-eco .wrap-tab .tab-contents .item {
  position: relative;
  display: none;
}

.product-eco .wrap-tab .tab-contents .item.in {
  display: block;
}

.product-eco .banner-follow {
  position: fixed;
  top: 20%;
  left: 50%;
  z-index: 10;
  margin-left: 650px;
}

.product-eco .banner-follow > div {
  margin-top: 20px;
}

.product-eco .banner-follow > div:first-child {
  margin-top: 0;
}

.product-top {
  background-color: #22223a;
}

.product-top .brand {
  top: 42px;
  left: 50%;
  margin-left: 150px;
  color: rgba(255, 255, 255, 0.8);
}

.product-title {
  z-index: 1;
  background-color: #11236b;
  background-image: url("https://img.eduwill.net/Img2/arch/product/201210/pc/bg_title.jpg");
  background-size: cover;
}

.product-title .wrap {
  width: 1200px;
}

.product-title + .product-price {
  padding: 100px 0;
  background: #f5f5f5;
}

.product-benefit {
  background: #a0e3f2;
}

.product-price .price {
  position: relative;
}

.product-price p {
  position: absolute;
}

.product-price p.text {
  font-weight: 700;
}

.product-price p.text-1 {
  top: 45px;
  left: 170px;
  font-size: 36px;
  color: #f84d4e;
}

.product-price p.text-2 {
  top: 200px;
  left: 50px;
  font-family: "Montserrat", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 40px;
  color: #999;
}

.product-price p.text-3 {
  top: 210px;
  left: 320px;
  font-family: "Montserrat", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 20px;
  font-weight: 400;
  color: #585858;
}

.product-price p.text-4 {
  top: 200px;
  left: 520px;
  font-family: "Montserrat", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 40px;
  color: #f84d4e;
}

.product-price p.action {
  top: 180px;
  right: 50px;
}

.product-price p.action:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 66px;
  height: 73px;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_1.png") no-repeat 0 0;
  animation-name: pointerBounce;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}

@keyframes pointerBounce {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 10px);
  }
}

.product-winner {
  padding-bottom: 150px;
  background-color: #fff;
}

.product-winner .brand {
  top: 300px;
  left: 0;
}

.product-winner .winner-contents {
  position: relative;
  width: 1100px;
  background: #fff;
  margin: 0 auto;
  padding: 40px 0;
}

.product-winner .winner-contents:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: transparent;
  background: linear-gradient(0deg, #fff 0%, transparent 100%);
}

.product-winner .winner-contents p {
  text-align: center;
  line-height: 2;
  font-size: 18px;
  color: #000;
}

.product-winner .outline {
  border: 1px solid #ddd;
  position: relative;
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

.product-winner .video_box {
  padding-top: 60px;
  margin-bottom: 20px;
}

.product-winner .video_box::after {
  content: '';
  display: table;
  clear: both;
}

.product-winner .video_box::before {
  content: '';
  display: table;
  clear: both;
}

.product-winner .video_box > div {
  float: left;
}

.product-winner .video_box > div:first-child {
  margin-right: 22px;
}

.product-winner .video_box .video {
  position: relative;
  width: 539px;
  height: 320px;
}

.product-winner .video_box .video a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.product-winner .video_box .video a img {
  width: 539px;
}

.product-winner .video_box .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.product-review {
  padding-bottom: 150px;
  background: #eceefa;
}

.product-review .thumb-list .slick-slide a {
  outline: none;
}

.product-review .thumb-list .slick-arrow {
  position: absolute;
  top: 0;
  margin-top: 0;
  width: 72px;
  height: 220px;
  border: 0;
  outline: none;
  cursor: pointer;
  text-indent: -10000em;
  z-index: 100;
}

.product-review .thumb-list .slick-arrow.slick-prev {
  left: -72px;
  background: url("https://img.eduwill.net/Img2/arch/product/201210/pc/slick_prev.png") 50% 0 no-repeat;
}

.product-review .thumb-list .slick-arrow.slick-next {
  right: -72px;
  background: url("https://img.eduwill.net/Img2/arch/product/201210/pc/slick_next.png") 50% 0 no-repeat;
}

.product-review .thumb-list .slick-arrow.slick-disabled {
  opacity: .3;
}

.product-review .thumb-list .slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: -35px;
  text-align: center;
}

.product-review .thumb-list .slick-dots li {
  display: inline-block;
  margin: 0 4px;
}

.product-review .thumb-list .slick-dots li button {
  cursor: pointer;
  text-indent: -10000em;
  border: 0;
  outline: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #bbc8bf;
}

.product-review .thumb-list .slick-dots li.slick-active button {
  width: 31px;
  border-radius: 50px;
  background-color: #ffc20e;
}

.product-review .video-box {
  display: none;
  margin-top: 70px;
  /* padding: 45px 50px 0; */
  height: 620px;
  overflow: hidden;
  box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.product-review .video-box .video {
  position: relative;
  width: 100%;
  height: 560px;
}

.product-review .video-box .video .btn-play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.product-review .video-box .video video {
  width: 100%;
  height: 100%;
}

.product-review .slider-contents {
  width: 1100px;
}

.product-review .action {
  margin-top: 30px;
}

.product-compare {
  background-color: #f9f9f9;
}

.product-compare .price-title {
  position: absolute;
  top: 165px;
  left: 229px;
  font-size: 30px;
  color: #222222;
}

.product-compare .price-title .eco-junsaday {
  font-weight: 700;
  letter-spacing: -2.5px;
}

.product-compare .move {
  box-sizing: border-box;
  animation-name: arrowBounce;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}

@keyframes arrowBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.product-compare .price p {
  position: absolute;
}

.product-compare .price p.text {
  text-align: center;
  font-family: "Montserrat", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 46px;
  font-weight: 700;
}

.product-compare .price p.text-1 {
  top: 445px;
  right: 45%;
  left: 0;
  color: #bbbbbb;
  letter-spacing: -4.5px;
}

.product-compare .price p.text-2 {
  top: 410px;
  right: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color: #142e93;
  line-height: 1.2;
}

.product-compare .price p.text-2 .disc {
  position: relative;
  display: block;
  font-size: 26px;
  width: 30%;
  margin: auto;
  color: rgba(32, 32, 32, 0.6);
  background: url("https://img.eduwill.net/Img2/arch/product/201210/pc/icon_arrow2.png") no-repeat 50% 45%;
}

.product-compare .price p.text-3 {
  color: #fff;
  top: 290px;
  right: 55px;
  width: 130px;
  height: 130px;
  padding-top: 10px;
  line-height: 1.2;
  font-size: 26px;
  background: url("https://img.eduwill.net/Img2/arch/product/201210/pc/icon_arrow.png") no-repeat 0 0;
  box-sizing: border-box;
}

.product-compare .price p.notice {
  top: 560px;
  left: 50px;
}

.product-compare .action {
  position: absolute;
  left: 50%;
  bottom: 250px;
  transform: translate(-50%, 0);
}

.product-compare .action:after {
  content: '';
  width: 66px;
  height: 75px;
  position: absolute;
  top: 50%;
  right: 0;
  background: url(https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_1.png) 0 0 no-repeat;
  z-index: 1;
  animation: 0.4s slideUpY ease-in-out infinite alternate;
  -webkit-animation: 0.4s slideUpY ease-in-out infinite alternate;
}

.product-teacher {
  padding-bottom: 100px;
  background: #f8f8f8;
}

.product-teacher .brand {
  top: 300px;
  left: 0;
}

.product-teacher .survey {
  top: 520px;
  left: 50px;
}

.product-curriculum {
  background: #f8f8f8;
  padding-bottom: 100px;
}

.product-curriculum .wrap-tab {
  width: 1000px;
}

.product-curriculum .tab-list li {
  width: 50%;
  padding-left: 10px;
}

.product-curriculum .tab-list li:first-child {
  padding-right: 10px;
  padding-left: 0;
}

.product-curriculum .tab-list li.in a {
  font-weight: 700;
  color: #fff;
  background-color: #1d3dd0;
}

.product-curriculum .tab-list li a {
  padding: 15px 0;
  font-size: 30px;
  color: #202020;
  border-radius: 10px;
  background-color: #eee;
}

.product-curriculum .item {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  background-color: #fff;
}

.product-curriculum .item .list {
  padding-left: 50px;
  text-align: left;
  color: #202020;
}

.product-curriculum .item .list + .list {
  padding-bottom: 50px;
}

.product-curriculum .item .list .title {
  margin-top: 40px;
  font-size: 26px;
  font-weight: 700;
  color: #202020;
}

.product-curriculum .item .list .title span {
  display: inline-block;
}

.product-curriculum .item .list ul {
  margin-top: 5px;
}

.product-curriculum .item .list li {
  display: table;
  text-align: center;
  position: relative;
  width: 155px;
  height: 170px;
  margin-left: 10px;
  padding: 20px;
  background-color: #eeeeee;
  box-sizing: border-box;
}

.product-curriculum .item .list li:after {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #eeeeee;
  right: -13%;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}

.product-curriculum .item .list li:first-child {
  margin-left: 0;
}

.product-curriculum .item .list li.highlight {
  background: #cdf0f8;
  background: linear-gradient(to bottom, #cdf0f8 0%, #8ad6f2 100%);
}

.product-curriculum .item .list li.highlight:before {
  content: '';
  position: absolute;
  top: -20px;
  right: -13px;
  display: block;
  width: 54px;
  height: 54px;
  z-index: 10;
  background: url("https://img.eduwill.net/Img2/arch/product/201210/pc/icon_strengthen.png") no-repeat 0 0;
  background-size: contain;
  animation-name: flagChange;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: step-start;
  animation-direction: normal;
}

@keyframes flagChange {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.product-curriculum .item .list li.highlight:after {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #ace3f5;
  right: -13%;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}

.product-curriculum .item .list li strong {
  display: block;
  font-size: 20px;
}

.product-curriculum .item .list li span {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  word-break: keep-all;
}

.product-curriculum .item .list li .con {
  display: table-cell;
  vertical-align: middle;
}

.product-curriculum .item .list-1 .lecture-6:after {
  display: none;
}

.product-curriculum .item .list-2 .lecture-2:after {
  display: none;
}

.product-future {
  background-color: #f4f4f4;
}

.product-book {
  padding-bottom: 120px;
}

.product-exam {
  background: #f8f8f8;
}

.product-exam .survey {
  top: 220px;
  left: 50px;
}

.product-exam .wrap-review .slider-contents {
  margin-top: 0 !important;
}

.product-exam.item .slick-list,
.product-exam.item .slick-track {
  transform: translate3d(0, 0, 0) !important;
}

.product-exam.item .mock-wrap {
  padding: 0 50px;
  height: 430px;
  background: url("https://img.eduwill.net/Img2/arch/product/201210/pc/bg_monitor.jpg") 0 0 no-repeat;
}

.product-exam.item .mock-list {
  width: 427px;
}

.product-exam.item .mock-list a {
  display: block;
  width: 100%;
  margin-top: 30px;
  text-align: left;
  line-height: 30px;
  font-size: 24px;
  font-weight: 400;
  color: #999;
  outline: none;
}

.product-exam.item .mock-list a em {
  position: relative;
  top: 5px;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  vertical-align: top;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #999;
}

.product-exam.item .mock-list .slick-current a {
  color: #222;
  font-weight: 700;
}

.product-exam.item .mock-list .slick-current a em {
  color: #fff;
  border-color: #222;
  background-color: #222;
}

.product-exam.item .mock-contents {
  margin-top: 18px;
  width: 521px;
  height: 324px;
}

.product-exam.item .cbt-text {
  margin: 0 auto;
  padding: 0;
  width: 1000px;
  height: 70px;
  line-height: 70px;
  font-size: 34px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  letter-spacing: -2px;
  background: #0f2172;
}

.product-exam.item .slider-contents {
  margin-top: 20px;
}

.product-service .brand {
  top: 220px;
  left: 50px;
}

.product-event .event-box {
  background: #fff;
}

.product-event .event-box .list-desc {
  width: 80%;
  margin: 0 auto;
}

.product-event .event-box .list-desc dl {
  text-align: left;
}

.product-event .event-box .list-desc dl dt {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #202020;
  line-height: 1.3;
}

.product-event .event-box .list-desc dl dt p + p {
  margin-top: 20px;
}

.product-event .event-box .list-desc dl dt span {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  color: #888;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-event .event-box .list-desc dl dd li {
  position: relative;
  padding-left: 11px;
  text-indent: -9px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  color: #888;
}

.product-event .event-box.event1 {
  margin-top: 0;
}

.product-event .event-box.event1 .list-apply {
  width: 940px;
  margin: 0 auto;
}

.product-event .event-box.event1 .list-apply .grid, .product-event .event-box.event1 .list-apply .product-eco .wrap-tab .tab-list, .product-eco .wrap-tab .product-event .event-box.event1 .list-apply .tab-list, .product-event .event-box.event1 .list-apply .product-curriculum .item .list, .product-curriculum .item .product-event .event-box.event1 .list-apply .list, .product-event .event-box.event1 .list-apply .product-exam.item .mock-wrap, .product-exam.item .product-event .event-box.event1 .list-apply .mock-wrap {
  position: relative;
  z-index: 1;
  display: table;
  width: 100%;
  border-top: 1px solid #ccc;
  background-color: #fff;
}

.product-event .event-box.event1 .list-apply .grid:first-child, .product-event .event-box.event1 .list-apply .product-eco .wrap-tab .tab-list:first-child, .product-eco .wrap-tab .product-event .event-box.event1 .list-apply .tab-list:first-child, .product-event .event-box.event1 .list-apply .product-curriculum .item .list:first-child, .product-curriculum .item .product-event .event-box.event1 .list-apply .list:first-child, .product-event .event-box.event1 .list-apply .product-exam.item .mock-wrap:first-child, .product-exam.item .product-event .event-box.event1 .list-apply .mock-wrap:first-child {
  border-top-width: 2px;
  border-top-color: #202020;
}

.product-event .event-box.event1 .list-apply .grid:last-child, .product-event .event-box.event1 .list-apply .product-eco .wrap-tab .tab-list:last-child, .product-eco .wrap-tab .product-event .event-box.event1 .list-apply .tab-list:last-child, .product-event .event-box.event1 .list-apply .product-curriculum .item .list:last-child, .product-curriculum .item .product-event .event-box.event1 .list-apply .list:last-child, .product-event .event-box.event1 .list-apply .product-exam.item .mock-wrap:last-child, .product-exam.item .product-event .event-box.event1 .list-apply .mock-wrap:last-child {
  border-bottom: 2px solid #202020;
}

.product-event .event-box.event1 .list-apply .col, .product-event .event-box.event1 .list-apply .product-eco .wrap-tab .tab-list li, .product-eco .wrap-tab .tab-list .product-event .event-box.event1 .list-apply li, .product-event .event-box.event1 .list-apply .product-curriculum .item .list li, .product-curriculum .item .list .product-event .event-box.event1 .list-apply li, .product-event .event-box.event1 .list-apply .product-exam.item .mock-list, .product-exam.item .product-event .event-box.event1 .list-apply .mock-list, .product-event .event-box.event1 .list-apply .product-exam.item .mock-contents, .product-exam.item .product-event .event-box.event1 .list-apply .mock-contents {
  float: none;
  display: table-cell;
  vertical-align: middle;
  font-size: 22px;
}

.product-event .event-box.event1 .list-apply .subject {
  width: 25%;
  color: #202020;
  font-weight: 700;
  letter-spacing: -2px;
  background: #fff;
}

.product-event .event-box.event1 .list-apply .desc {
  position: relative;
  width: 75%;
  padding: 20px 30px;
  text-align: left;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -1.5px;
  color: #202020;
  background-color: transparent;
}

.product-event .event-box.event2 {
  margin-bottom: 140px;
  position: relative;
}

.product-event .event-box.event2 .action {
  display: block;
  position: absolute;
  top: 620px;
  width: 240px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -1px;
  border-radius: 10px;
  background: #2a3462;
  z-index: 1;
}

.product-event .event-box.event2 .action:after {
  content: '';
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  transform: rotate(45deg);
  border-top-width: 2px;
  border-right-width: 2px;
  display: inline-block;
  margin-left: 10px;
  position: static;
  top: -2px;
}

.product-event .event-box.event2 .action.btn-benefit1 {
  left: 89px;
}

.product-event .event-box.event2 .action.btn-benefit2 {
  left: 429px;
}

.product-event .event-box.event2 .action.btn-benefit3 {
  left: 772px;
}

.product-event .event-box.event2 .action .icon-hand {
  right: 0;
  width: 38px;
}

.product-event .event-box.event2 .action .icon-hand img {
  width: 100%;
}

.product-event .event-box.event3 .list-desc {
  width: 60%;
}

.product-event .event-box.event3 .list-desc dt p {
  font-size: 16px;
  color: #202020;
}

.product-event .event-box.event3 .list-desc dd ul li {
  position: relative;
  padding-left: 10px;
}

.product-event .event-box.event3 .list-desc dd ul li:after {
  content: '-';
  position: absolute;
  left: 0;
  top: 0;
}

.product-event .event-box.event3 .action {
  position: relative;
  width: 440px;
  height: 80px;
  margin: 40px auto 0;
}

.product-event .event-box.event3 .action a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 80px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1px;
  border-radius: 10px;
  background: #2a3462;
}

.product-event .event-box.event3 .action a:after {
  content: '';
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  transform: rotate(45deg);
  border-top-width: 3px;
  border-right-width: 3px;
  display: inline-block;
  margin-left: 10px;
  position: static;
}

.product-event2 {
  background: #a0e3f2;
  padding-top: 120px;
  padding-bottom: 180px;
}

.product-event2 .wrap {
  width: 1000px;
}

.product-event2 .event-box {
  padding-bottom: 80px;
}

.product-apply-title {
  background-color: #2419ae;
}
/*# sourceMappingURL=web.css.map */