@{
    String platform = ("W".Equals(ViewBag.PlatformCd))? "pc": "mobile";
}

<div id="contents" class="promotion">
	<div class="sector-visual">
		<div class="wrap">
			<div class="sub">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_9/@platform/img_visual_sub.png" alt="런칭 즉시 1위* 에듀윌 토익의 "업계 최초 인공 지능 토익 공식 앱"">
			</div>
			<div class="item">
				<div class="tit">
				</diV>
				<div class="phone">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_9/@platform/img_visual_phone.gif" alt="에듀윌 토익 AI 앱 GIF">
				</div>
			</div>
		</div>
	</div>

	<div class="sector-event" id="event">
		<div class="sector-event-top">
			<div class="wrap">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_event_top.png" alt="런칭 즉시 1위 감사 이벤트 더 쉽게 점수 올릴 수 있도록 에듀윌 토익이 보답합니다." class="scroll-animate motion-up-2">
			</div>
		</div>
		<div class="wrap">
			<div class="sector-event-contents">
				<div class="sector-event-contents-tit scroll-animate motion-up-2">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_event_contents_tit.png" alt="46만원 상당 에듀윌 토익 교재 전 강좌 지금만 무료 수강 신청 중!">
				</div>
				<div class="sector-event-contents-list">
					<div class="content-item scroll-animate motion-left-2">
						<div class="label">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_event_content_label_01.png" alt="첫 토익부터 700+ 한달이면 끝!">
						</div>

						<div class="conts">
							<div class="cont">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_event_content_01_01.png" alt="에듀윌 토익 베이직 LC">
								<a href="javascript:;"></a>
							</div>
							<div class="cont">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_event_content_01_02.png" alt="에듀윌 토익 베이직 RC">
								<a href="javascript:;"></a>
							</div>
						</div>
					</div>
					<div class="content-item scroll-animate motion-right-2">
						<div class="label">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_event_content_label_02.png" alt="토익 실전 대비 900+ 전략 스킬 완성!">
						</div>

						<div class="conts">
							<div class="cont">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_event_content_02_01.png" alt="에듀윌 토익 실전 LC">
								<a href="javascript:;"></a>
							</div>
							<div class="cont">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_event_content_02_02.png" alt="에듀윌 토익 실전 RC">
								<a href="javascript:;"></a>
							</div>
						</div>
					</div>
					<div class="content-item scroll-animate motion-left-2">
						<div class="label">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_event_content_label_03.png" alt="토익 입문 ~ 실전 한권으로 목표 점수 달성!">
						</div>

						<div class="conts">
							<div class="cont">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_event_content_03.png" alt="에듀윌 토익 교재 라인업">
								<a href="javascript:;"></a>
								<div class="check">
									<label>
										<input type="checkbox">
										<span>에듀윌 토익 베이직 LC</span>
									</label>
									<label>
										<input type="checkbox">
										<span>에듀윌 토익 베이직 RC</span>
									</label>
									<label>
										<input type="checkbox">
										<span>에듀윌 토익 실전 LC + RC</span>
									</label>
									<label>
										<input type="checkbox">
										<span>에듀윌 토익 기출 VOCA</span>
									</label>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="sector-scroll" id="scroll">
		<div class="sector-scroll-01"></div>
		<div class="sector-scroll-02"></div>
	</div>

	<div class="sector-steps">
		<div class="step step-01">
			<div class="wrap">
				<div class="step-title scroll-animate motion-up-1">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_steps_title_01.png" alt="쉬운 토익 공식 01, 듣기만 해도 정답이 보이는 토익 고득점 콜렉터, 선생님 별 정답 공략 팁">
				</div>
				<div class="teacher teacher-01 scroll-animate motion-left-1"> 
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_teacher_01.png" alt="최영준T">
				</div>
				<div class="teacher teacher-02 scroll-animate motion-left-2"> 
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_teacher_02.png" alt="셀린T">
				</div>
				<div class="teacher teacher-03 scroll-animate motion-right-3"> 
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_teacher_03.png" alt="구원T">
				</div>
			</div>
			
			<div class="introduce-wrap">
				<div class="intro intro-01">
					<div class="intro-tit">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_intro_tit_01.png" alt="토익 0부터 시작해서 990까지 올려주는 토익 RC 두려움 제로, 최영준">
					</div>
					<div class="intro-content">
						<div class="video-wrap">
							<a href="javascript:;">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_video_thumb.png" alt="비디오 영역 썸네일">
							</a>
						</div>
						<div class="intro-slider">
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_intro_01_slide_01.png" alt="최영준T 롤링 슬라이드 01">
									</div>
									<div class="swiper-slide">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_intro_01_slide_02.png" alt="최영준T 롤링 슬라이드 02">
									</div>
									<div class="swiper-slide">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_intro_01_slide_03.png" alt="최영준T 롤링 슬라이드 03">
									</div>
								</div>
							</div>
							<div class="swiper-btn swiper-prev"></div>
							<div class="swiper-btn swiper-next"></div>
						</div>
					</div>
				</div>
				<div class="intro intro-02">
					<div class="intro-tit">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_intro_tit_02.png" alt="Light하게 토익점수 Light를 켜주는 토익 LC 극복의 빛, 셀린">
					</div>
					<div class="intro-content">
						<div class="video-wrap">
							<a href="javascript:;">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_video_thumb.png" alt="비디오 영역 썸네일">
							</a>
						</div>
						<div class="intro-slider">
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_intro_02_slide_01.png" alt="셀린T 롤링 슬라이드 01">
									</div>
									<div class="swiper-slide">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_intro_02_slide_02.png" alt="셀린T 롤링 슬라이드 02">
									</div>
									<div class="swiper-slide">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_intro_02_slide_03.png" alt="셀린T 롤링 슬라이드 03">
									</div>
								</div>
							</div>
							<div class="swiper-btn swiper-prev"></div>
							<div class="swiper-btn swiper-next"></div>
						</div>
					</div>
				</div>
				<div class="intro intro-03">
					<div class="intro-tit">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_intro_tit_03.png" alt="공식으로 토익 정체기 구원하는 토익 990점의 구원 공식, 구원">
					</div>
					<div class="intro-content">
						<div class="video-wrap">
							<a href="javascript:;">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_video_thumb.png" alt="비디오 영역 썸네일">
							</a>
						</div>
						<div class="intro-slider">
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_intro_03_slide_01.png" alt="구원T 롤링 슬라이드 01">
									</div>
									<div class="swiper-slide">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_intro_03_slide_02.png" alt="구원T 롤링 슬라이드 02">
									</div>
									<div class="swiper-slide">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_intro_03_slide_03.png" alt="구원T 롤링 슬라이드 03">
									</div>
								</div>
							</div>
							<div class="swiper-btn swiper-prev"></div>
							<div class="swiper-btn swiper-next"></div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<!-- 2번째 영역 -->
		<div class="step step-02">
			<div class="wrap">
				<div class="step-title scroll-animate motion-up-1">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_steps_title_02.png" alt="쉽게 이해하고 실전력으로 점수 올리는 필요한 문제로만 딱, 에듀윌 토익 교재 라인업">
				</div>
			</div>
			<div class="step-02-books scroll-animate motion-up-1">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step_books.png" alt="쉬운공식 02 책 이미지">
			</div>
			<div class="tabs-contents scroll-animate motion-up-1">
				<div class="tab-list">
					<ul>
						<li class="active">
							<a href="javascript:;">
								<div class="on">
									<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step2_tab_on_01.png" alt="토익 입문 베이직 LC">
								</div>
								<div class="off">
									<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step2_tab_off_01.png" alt="토익 입문 베이직 LC">
								</div>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<div class="on">
									<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step2_tab_on_02.png" alt="토익 입문 베이직 RC">
								</div>
								<div class="off">
									<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step2_tab_off_02.png" alt="토익 입문 베이직 RC">
								</div>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<div class="on">
									<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step2_tab_on_03.png" alt="토익 실전 LC + RC">
								</div>
								<div class="off">
									<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step2_tab_off_03.png" alt="토익 실전 LC + RC">
								</div>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<div class="on">
									<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step2_tab_on_04.png" alt="토익 기출 VOCA">
								</div>
								<div class="off">
									<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step2_tab_off_04.png" alt="토익 기출 VOCA">
								</div>
							</a>
						</li>
					</ul>
					@if ("M".Equals(ViewBag.platformCd)) {
						<ul>
							<li class="active">
								<a href="javascript:"></a>
							</li>
							<li>
								<a href="javascript:"></a>
							</li>
							<li>
								<a href="javascript:"></a>
							</li>
							<li>
								<a href="javascript:"></a>
							</li>
						</ul>
					}
				</div>
				<div class="tab-items">
					<div class="tab on">
						<div class="slider" id="tabSlider1">
							<div>
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_book_lc_01.png" alt="쉬운공식 02 책 이미지">
							</div>
							<div>
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_book_lc_02.png" alt="쉬운공식 02 책 이미지">
							</div>
							<div>
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_book_lc_03.png" alt="쉬운공식 02 책 이미지">
							</div>
						</div>
					</div>
					<div class="tab">
						<div class="slider" id="tabSlider2">
							<div>
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_book_rc_01.png" alt="쉬운공식 02 책 이미지">
							</div>
							<div>
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_book_rc_02.png" alt="쉬운공식 02 책 이미지">
							</div>
							<div>
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_book_rc_03.png" alt="쉬운공식 02 책 이미지">
							</div>
						</div>
					</div>
					<div class="tab">
						<div class="slider" id="tabSlider3">
							<div>
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_book_lcrc_01.png" alt="쉬운공식 02 책 이미지">
							</div>
							<div>
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_book_lcrc_02.png" alt="쉬운공식 02 책 이미지">
							</div>
							<div>
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_book_lcrc_03.png" alt="쉬운공식 02 책 이미지">
							</div>
						</div>
					</div>
					<div class="tab">
						<div class="slider" id="tabSlider4">
							<div>
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_book_voca_01.png" alt="쉬운공식 02 책 이미지">
							</div>
							<div>
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_book_voca_02.png" alt="쉬운공식 02 책 이미지">
							</div>
							<div>
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_book_voca_03.png" alt="쉬운공식 02 책 이미지">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 3번째 영역 -->
		<div class="step step-03">
			<div class="wrap">
				<div class="step-title scroll-animate motion-up-1">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_steps_title_03.png" alt="쉬운 토익 공식 01, 듣기만 해도 정답이 보이는 토익 고득점 콜렉터, 선생님 별 정답 공략 팁">
				</div>
				<div class="step-03-apps">
					@if ("W".Equals(ViewBag.platformCd)) {
						<div class="app-list">
							<ul>
								<li class="in scroll-animate motion-left-1">
									<div class="off">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step3_off_01.png" alt="무료 AI 진단 테스트 off">
									</div>
									<div class="on">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step3_on_01.png" alt="무료 AI 진단 테스트 on">
									</div>
								</li>
								<li class="scroll-animate motion-left-3">
									<div class="off">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step3_off_02.png" alt="오늘의 학습 off">
									</div>
									<div class="on">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step3_on_02.png" alt="오늘의 학습 on">
									</div>
								</li>
								<li class="scroll-animate motion-right-2">
									<div class="off">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step3_off_03.png" alt="복습 학습 off">
									</div>
									<div class="on">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step3_on_03.png" alt="복습 학습 on">
									</div>
								</li>
								<li class="scroll-animate motion-right-4">
									<div class="off">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step3_off_04.png" alt="최신 토익 기출 단어 off">
									</div>
									<div class="on">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step3_on_04.png" alt="최신 토익 기출 단어 on">
									</div>
								</li>
								
							</ul>
						</div>
					}
					<div class="app-view-wrap scroll-animate motion-up-4">
						<div class="app-view">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step3_01.png" alt="쉬운 토익 공식 01, 듣기만 해도 정답이 보이는 토익 고득점 콜렉터, 선생님 별 정답 공략 팁">
						</div>
						<div class="app-view">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step3_02.png" alt="쉬운 토익 공식 01, 듣기만 해도 정답이 보이는 토익 고득점 콜렉터, 선생님 별 정답 공략 팁">
						</div>
						<div class="app-view">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step3_03.png" alt="쉬운 토익 공식 01, 듣기만 해도 정답이 보이는 토익 고득점 콜렉터, 선생님 별 정답 공략 팁">
						</div>
						<div class="app-view">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step3_04.png" alt="쉬운 토익 공식 01, 듣기만 해도 정답이 보이는 토익 고득점 콜렉터, 선생님 별 정답 공략 팁">
						</div>
					</div>

					@if ("M".Equals(ViewBag.platformCd)) {
						<div class="app-pagination">
							<ul>
								<li class="active"></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
					}
				</div>
			</div>
		</div>

		<!-- 4번째 영역 -->
		<div class="step step-04">
			<div class="wrap">
				<div class="step-title scroll-animate motion-up-1">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_steps_title_04.png" alt="쉬운 토익 공식 01, 듣기만 해도 정답이 보이는 토익 고득점 콜렉터, 선생님 별 정답 공략 팁">
				</div>
				<div class="step-list">
					<ul>
						<li class="scroll-animate motion-up-3 on">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step4_01.png" alt="초간단 채점 절차 이미지 01">
							<span class="point">STEP 1</span>
						</li>
						<li class="scroll-animate motion-up-5">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step4_02.png" alt="초간단 채점 절차 이미지 02">
							<span class="point">STEP 2</span>
						</li>
						<li class="scroll-animate motion-up-7">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step4_03.png" alt="초간단 채점 절차 이미지 03">
							<span class="point">STEP 3</span>
						</li>
						<li class="scroll-animate motion-up-9">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step4_04.png" alt="초간단 채점 절차 이미지 04">
							<span class="point">STEP 4</span>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- 5번째 영역 -->
		<div class="step step-05">
			<div class="wrap">
				<div class="step-title scroll-animate motion-up-1">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_steps_title_05.png" alt="쉬운 토익 공식 01, 듣기만 해도 정답이 보이는 토익 고득점 콜렉터, 선생님 별 정답 공략 팁">
				</div>
				<div class="step-diagram scroll-animate motion-up-1">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_step5_diagram.png" alt="다이어그램이미지">
				</div>
			</div>
		</div>
	</div>

	<div class="sector-trophy">
		<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_trophy.png" alt="런칭 즉시 1위 감사 이벤트 더 쉽게 점수 올릴 수 있도록 에듀윌 토익이 보답합니다." class="scroll-animate motion-up-2">	
	</div>

	<div class="sector-event">
		<div class="sector-event-top">
			<div class="wrap">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_event_top.png" alt="런칭 즉시 1위 감사 이벤트 더 쉽게 점수 올릴 수 있도록 에듀윌 토익이 보답합니다." class="scroll-animate motion-up-2">
			</div>
		</div>
		<div class="wrap">
			<div class="sector-event-contents">
				<div class="sector-event-contents-tit scroll-animate motion-up-2">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_event_contents_tit.png" alt="46만원 상당 에듀윌 토익 교재 전 강좌 지금만 무료 수강 신청 중!">
				</div>
				<div class="sector-event-contents-list">
					<div class="content-item scroll-animate motion-left-2">
						<div class="label">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_event_content_label_01.png" alt="첫 토익부터 700+ 한달이면 끝!">
						</div>

						<div class="conts">
							<div class="cont">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_event_content_01_01.png" alt="에듀윌 토익 베이직 LC">
								<a href="javascript:;"></a>
							</div>
							<div class="cont">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_event_content_01_02.png" alt="에듀윌 토익 베이직 RC">
								<a href="javascript:;"></a>
							</div>
						</div>
					</div>
					<div class="content-item scroll-animate motion-right-2">
						<div class="label">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_event_content_label_02.png" alt="토익 실전 대비 900+ 전략 스킬 완성!">
						</div>

						<div class="conts">
							<div class="cont">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_event_content_02_01.png" alt="에듀윌 토익 실전 LC">
								<a href="javascript:;"></a>
							</div>
							<div class="cont">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_event_content_02_02.png" alt="에듀윌 토익 실전 RC">
								<a href="javascript:;"></a>
							</div>
						</div>
					</div>
					<div class="content-item scroll-animate motion-left-2">
						<div class="label">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_event_content_label_03.png" alt="토익 입문 ~ 실전 한권으로 목표 점수 달성!">
						</div>

						<div class="conts">
							<div class="cont">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_event_content_03.png" alt="에듀윌 토익 교재 라인업">
								<a href="javascript:;"></a>
								<div class="check">
									<label>
										<input type="checkbox">
										<span>에듀윌 토익 베이직 LC</span>
									</label>
									<label>
										<input type="checkbox">
										<span>에듀윌 토익 베이직 RC</span>
									</label>
									<label>
										<input type="checkbox">
										<span>에듀윌 토익 실전 LC + RC</span>
									</label>
									<label>
										<input type="checkbox">
										<span>에듀윌 토익 기출 VOCA</span>
									</label>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="sector-floating">
		<div class="wrap">
			<a href="#event" class="page-move">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_floating_01.png" alt="입문 ~ 실전 토익 전 강좌 0원으로 토익 졸업">
				@if("M".Equals(ViewBag.platformCd)) {
					<span class="flag">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_floating_01_point.png" alt="1위 감사 이벤트">
					</span>
				}
			</a>
			<a href="#scroll" class="page-move">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220314_3/@platform/img_floating_02.png" alt="한 권으로 끝내는 토익 교재 확인">
			</a>
		</div>
	</div>
	

</div>


<script src="https://img.eduwill.net/eduwill/live/js/common/eduf.js"></script>
<script src="https://img.eduwill.net/eduwill/live/js/common/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

<script>

    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
	var str = 'event.eduwill.net';
	var checkUrl = url.indexOf(str);

    init();

	var _w;
	var _breakpoint = 720;
	var _wid;
	var _hei;

	var _appList;
	var _appView;
	var _appPaging;

    function init() {
		create();
		addEvent();
		bookSlider();
    }

	function create() {
		_w = $(window);
		_wid = _w.width();
		_hei = _w.height();
	}

	$('.intro').each(function(index, ele){
		var $this = $(this);
		$this.addClass('intro-0' + (index + 1));

		var swiper = new Swiper(".intro-0" + (index + 1) + " .swiper-container", {
			slidesPerView: 1,
			autoplay: {
				delay: 4000,
				autoplayDisableOnInteraction: false,
			},
			loop: true,
			navigation: {
				nextEl: '.intro-0' + (index + 1) + ' .swiper-next',
				prevEl: '.intro-0' + (index + 1) + ' .swiper-prev'
			}
		});
	});

	<!-- 스크롤 시 하단 고정 -->
	var visualHeight = $('.sector-visual-teacher').innerHeight();
	var eventTopHeight = $('.sector-event-top').innerHeight();
	$(window).scroll(function() {
		var scroll = $(this).scrollTop();
		if((visualHeight + eventTopHeight) <= scroll) {
			$('.sector-floating').addClass('show');
		} else {
			$('.sector-floating').removeClass('show');
		}
	});

	$('.page-move').on('click', function(e) {
		e.preventDefault();
		$('html, body').animate({
			scrollTop: $(this.hash).offset().top
		}, 500);
		return false;
	});



	// eventAdd
	function addEvent() {
		_w.on('scroll',scrollEvent);
		scrollEvent();

		_bookList = $('.tabs-contents .tab-list').find('li');
		_bookView = $('.tabs-contents .tab-items .tab');
		_bookViewItem = $('.tabs-contents .tab-items .tab .slider');
		_bookList.on('click', function(e) {
			e.preventDefault();
			var bookIdx = $(this).index();
			
			bookTabControl(bookIdx);
			return false;
		});

		_appList = $('.app-list').find('li');
		_appView = $('.app-view');
		_appPaging = $('.app-pagination').find('li');

		_appView.first().show();

		if(isMobile) {
			_appPaging.on('click', function(e) {
				var idx = $(this).index();
				e.preventDefault();
				tabControl(idx);
			});
		} else {
			_appList.on('click',function(e) {
				var idx = $(this).index();
				e.preventDefault();
				tabControl(idx);
			});
		}

		
		var appAuto = setInterval(function() {
			if(isMobile) {
				if(_appPaging.last().hasClass('active')) {
					_appView.first().show();
					_appPaging.removeClass('active');
					_appPaging.first().click();
				} else {
					$('.app-pagination li.active').next('li').click();
				}
			} else {
				if(_appList.last().hasClass('in')) {
					_appView.first().show();
					_appList.removeClass('in');
					_appList.first().click()
				} else {
					$('.app-list li.in').next('li').click();
				}
			}
		}, 4000);

		setInterval(function() {
			stepsHighlight();
		}, 4000);
	}

	function tabControl($idx) {
		if(isMobile) {
			_appPaging.removeClass('active');
			_appPaging.eq($idx).fadeIn(function() {
				$(this).addClass('active');
			});
			_appView.hide();
			_appView.eq($idx).fadeIn(1000);
		}else {
			_appList.removeClass('in');
			_appList.eq($idx).fadeIn(function() {
				$(this).addClass('in');
			});
			_appView.hide();
			_appView.eq($idx).fadeIn(1000);
		}
	}

	function bookSlider() {
		_bookViewItem.each(function(key, item) {
			var bookName = 'bookView' + key;
				this.id = bookName;
			var bookId = '#' + bookName;
			if(isMobile){
				var arrow = false;
				var dots = true;
			}else{
				var arrow = true;
				var dots = false;
			}
			$(bookId).slick({
				arrow: true,
				dots: dots,
			})
		})
	}

	function bookTabControl($bookIdx) {
		var prevArrow = $('.prev');
		var nextArrow = $('.next');
		_bookList.removeClass('active');
		_bookList.eq($bookIdx).addClass('active');

		_bookView.removeClass('on');
		_bookView.eq($bookIdx).addClass('on');
		
		_bookViewItem.slick('setPosition');
	}

	// scrollEvent
	function scrollEvent() {
		var $scrollEl = $('.scroll-animate');
		var _sct = $(this).scrollTop();
		var _winHeight = $(this).height();
		$scrollEl.each(function (i) {
			var tg = $(this);
			var offset = tg.offset().top - _winHeight;

			if (offset < _sct) {
				$scrollEl.eq(i).addClass('active');
			} else {
				$scrollEl.eq(i).removeClass('active');
			}
		});
	}

	function stepsHighlight() {
		var delay = 1000;
		$('.step-04 .step-list li').each(function(i, e) {
			setTimeout(function() {
				$('.step-04 .step-list li').removeClass('on');
				$(e).toggleClass('on');
			}, i * delay);
		});
	}

	
</script>