@charset "UTF-8";
.grid, .product-teacher .small-list, .product-timer .count-box .banner-timer {
  *zoom: 1;
}

.grid:before, .product-teacher .small-list:before, .product-timer .count-box .banner-timer:before, .grid:after, .product-teacher .small-list:after, .product-timer .count-box .banner-timer:after {
  content: '';
  display: table;
}

.grid:after, .product-teacher .small-list:after, .product-timer .count-box .banner-timer:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid, .product-teacher .small-list {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col, .product-teacher .small-list .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.layer-dim {
  display: none;
  position: fixed;
  top: 0;
  right: 0px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: #000;
  opacity: .8;
  overflow: hidden;
}

.layer-review {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10001;
  max-width: 768px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.layer-review .layer-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  top: -60px;
  z-index: 10002;
}

.layer-review .layer-close:before, .layer-review .layer-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 2px;
  margin-left: -15px;
  background-color: #fff;
}

.layer-review .layer-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.layer-review .layer-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.layer-review .layer-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.layer-review .layer-box {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.layer-review .layer-box iframe, .layer-review .layer-box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: inherit;
     object-fit: inherit;
}

.product-eco * {
  line-height: normal;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.product-eco .container {
  position: relative;
}

.product-eco .wrap {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  width: 100%;
}

.product-eco .holder {
  position: relative;
}

.product-eco p {
  margin: 0;
  text-align: left;
  font-size: 2.77778vw;
  color: #666;
}

@media screen and (min-width: 720px) {
  .product-eco p {
    font-size: 20px;
  }
}

.product-eco p.notice {
  margin-top: 0.3125rem;
}

@media screen and (min-width: 720px) {
  .product-eco p.notice {
    margin-top: 10px;
  }
}

.product-eco .btn-fly {
  position: absolute;
  display: block;
  z-index: 1;
}

.product-eco .slider-contents {
  position: relative;
}

.product-eco .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  padding: 0;
  font-size: 0;
  color: transparent;
  background-color: transparent;
  text-indent: -9999px;
  border: none;
  cursor: pointer;
  outline: none;
  width: 1.5625rem;
  height: 1.5625rem;
  margin-top: -0.78125rem;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow {
    width: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow {
    height: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow {
    margin-top: -25px;
  }
}

.product-eco .slick-arrow.slick-prev {
  left: 2%;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/G/product/210726/pc/btn_prev.png");
  background-size: cover;
}

.product-eco .slick-arrow.slick-next {
  left: auto;
  right: 2%;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/G/product/210726/pc/btn_next.png");
  background-size: cover;
}

.product-eco .slick-dots {
  position: absolute;
  bottom: 8%;
  right: 0;
  left: 0;
  font-size: 0;
  z-index: 1;
}

.product-eco .slick-dots li {
  display: inline-block;
  margin: 0 0.1875rem;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li {
    margin: 0 6px;
  }
}

.product-eco .slick-dots li.slick-active button {
  background-color: #ffc20e;
}

.product-eco .slick-dots button {
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  color: transparent;
  border: none;
  border-radius: 50%;
  background-color: #ddd;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots button {
    width: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots button {
    height: 20px;
  }
}

.product-eco .slick-slide {
  outline: none;
}

.product-eco .slick-slide a {
  outline: none;
}

.product-eco .icon-hand {
  position: absolute;
  top: 50%;
  right: 5%;
  width: 6.94444%;
  -webkit-animation-name: moving;
          animation-name: moving;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

.product-eco .icon-hand img {
  max-width: 100%;
}

@-webkit-keyframes moving {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@keyframes moving {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

.product-eco .slide-wrap .bx-wrapper .bx-viewport {
  left: 0;
  border: 0 none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.product-eco .notice {
  text-align: right;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.5;
  font-size: 3.05556vw;
  letter-spacing: -0.04688rem;
}

@media screen and (min-width: 720px) {
  .product-eco .notice {
    font-size: 22px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .notice {
    letter-spacing: -1.5px;
  }
}

.product-eco .flag {
  position: absolute;
  z-index: 1;
}

.product-eco .flag span {
  position: absolute;
  top: 39.32584%;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.0625rem;
  font-size: 3.33333vw;
}

@media screen and (min-width: 720px) {
  .product-eco .flag span {
    letter-spacing: -2px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .flag span {
    font-size: 24px;
  }
}

.product-eco .flag span strong {
  line-height: 1.2;
}

.product-eco .flag.flag-1 {
  left: 36.66667%;
  top: 62.17071%;
  width: 24.16667%;
}

.product-eco .flag.flag-2 {
  right: 1.51515%;
  top: 4.37158%;
  width: 26.36364%;
}

.product-top-banner {
  background-color: #ffe000;
}

.product-timer {
  background: #020202;
  text-align: center;
  padding: 0.9375rem 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .product-timer {
    padding: 30px 0;
  }
}

.product-timer .col, .product-timer .product-teacher .small-list .col, .product-teacher .small-list .product-timer .col {
  float: none;
  display: inline-block;
}

.product-timer .timer-title {
  padding-right: 0.625rem;
  font-size: 0.625rem;
  text-align: left;
  color: #fff;
  font-weight: 700;
  line-height: 1.3;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .product-timer .timer-title {
    padding-right: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-timer .timer-title {
    font-size: 20px;
  }
}

.product-timer .timer-title span {
  display: inline-block;
  margin-bottom: 0.125rem;
  padding: 0.125rem 0.3125rem;
  font-size: 0.75rem;
  border-radius: 0.3125rem;
  color: #000;
  background: #ffe000;
}

@media screen and (min-width: 720px) {
  .product-timer .timer-title span {
    margin-bottom: 4px;
  }
}

@media screen and (min-width: 720px) {
  .product-timer .timer-title span {
    padding: 4px 10px;
  }
}

@media screen and (min-width: 720px) {
  .product-timer .timer-title span {
    font-size: 24px;
  }
}

@media screen and (min-width: 720px) {
  .product-timer .timer-title span {
    border-radius: 10px;
  }
}

.product-timer .count-box .banner-timer {
  position: relative;
  top: 0.3125rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .product-timer .count-box .banner-timer {
    top: 10px;
  }
}

.product-timer .count-box .banner-timer p {
  float: left;
  margin-left: 0.25rem;
}

@media screen and (min-width: 720px) {
  .product-timer .count-box .banner-timer p {
    margin-left: 8px;
  }
}

.product-timer .count-box .banner-timer p:first-child {
  margin-left: 0;
}

.product-timer .count-box .banner-timer p span {
  display: inline-block;
  line-height: 1;
  min-width: 2.0625rem;
  letter-spacing: 0.1875rem;
  font-size: 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 900;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .product-timer .count-box .banner-timer p span {
    min-width: 66px;
  }
}

@media screen and (min-width: 720px) {
  .product-timer .count-box .banner-timer p span {
    letter-spacing: 6px;
  }
}

@media screen and (min-width: 720px) {
  .product-timer .count-box .banner-timer p span {
    font-size: 48px;
  }
}

.product-timer .count-box .banner-timer p em {
  display: inline-block;
  margin-left: 0.3125rem;
  font-size: 0.75rem;
  line-height: 2rem;
  color: #fff;
  font-weight: 700;
}

@media screen and (min-width: 720px) {
  .product-timer .count-box .banner-timer p em {
    margin-left: 10px;
  }
}

@media screen and (min-width: 720px) {
  .product-timer .count-box .banner-timer p em {
    font-size: 24px;
  }
}

@media screen and (min-width: 720px) {
  .product-timer .count-box .banner-timer p em {
    line-height: 64px;
  }
}

.product-timer .count-box .banner-timer p em.day-text {
  margin-left: 0;
  font-weight: 400;
  vertical-align: bottom;
  color: #fff;
  font-size: 0.6875rem;
  line-height: 1.25rem;
}

@media screen and (min-width: 720px) {
  .product-timer .count-box .banner-timer p em.day-text {
    font-size: 22px;
  }
}

@media screen and (min-width: 720px) {
  .product-timer .count-box .banner-timer p em.day-text {
    line-height: 40px;
  }
}

.product-title {
  background: #d8e3f2 url("https://img.eduwill.net/eduwill/img/2021/G/product/210726/mobile/bg_title.jpg") 50% 0 no-repeat;
}

.product-title .title-teacher {
  position: absolute;
  left: 50%;
  right: 0;
  width: 100%;
  bottom: -1px;
  z-index: 1;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.product-title .title-teacher.aca-swg {
  width: 107.08333%;
  -webkit-transform: translateX(-45%);
  transform: translateX(-45%);
}

.product-title .title-teacher.aca-smg {
  width: 109.16667%;
}

.product-benefit {
  background: #ffebac;
}

.product-benefit .eco-puri {
  position: absolute;
  top: 70.58824%;
  left: 9.44444%;
  font-weight: 700;
  color: #444;
  line-height: 1;
  z-index: 1;
  letter-spacing: -0.0625rem;
  font-size: 4.86111vw;
}

@media screen and (min-width: 720px) {
  .product-benefit .eco-puri {
    letter-spacing: -2px;
  }
}

@media screen and (min-width: 720px) {
  .product-benefit .eco-puri {
    font-size: 35px;
  }
}

.product-winner {
  padding-bottom: 3.3125rem;
}

@media screen and (min-width: 720px) {
  .product-winner {
    padding-bottom: 106px;
  }
}

.product-winner .winner-contents {
  position: relative;
  margin-bottom: 1.875rem;
  background-color: #fff;
}

@media screen and (min-width: 720px) {
  .product-winner .winner-contents {
    margin-bottom: 60px;
  }
}

.product-winner .winner-contents p {
  text-align: center;
  line-height: 2;
  font-size: 3.05556vw;
  color: #666;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
}

@media screen and (min-width: 720px) {
  .product-winner .winner-contents p {
    font-size: 22px;
  }
}

.product-winner .winner-interview {
  width: 86.11111%;
  margin: 0 auto;
}

.product-winner .winner-interview .col {
  float: none;
  width: 100%;
  margin-bottom: 1.71875rem;
}

@media screen and (min-width: 720px) {
  .product-winner .winner-interview .col {
    margin-bottom: 55px;
  }
}

.product-winner .winner-interview .col img {
  display: inline;
}

.product-winner .winner-interview .col .caption {
  margin: 0.625rem auto 0;
  font-size: 0.875rem;
  max-width: 350px;
  text-align: left;
  color: #000;
  font-weight: 500;
  line-height: 1.3;
}

@media screen and (min-width: 720px) {
  .product-winner .winner-interview .col .caption {
    margin: 20px auto 0;
  }
}

@media screen and (min-width: 720px) {
  .product-winner .winner-interview .col .caption {
    font-size: 28px;
  }
}

.product-winner .winner-interview .slick-arrow {
  margin-top: -2.8125rem;
}

@media screen and (min-width: 720px) {
  .product-winner .winner-interview .slick-arrow {
    margin-top: -90px;
  }
}

.product-winner .winner-interview .slick-arrow.slick-prev {
  left: -0.9375rem;
}

@media screen and (min-width: 720px) {
  .product-winner .winner-interview .slick-arrow.slick-prev {
    left: -30px;
  }
}

.product-winner .winner-interview .slick-arrow.slick-next {
  right: -0.9375rem;
}

@media screen and (min-width: 720px) {
  .product-winner .winner-interview .slick-arrow.slick-next {
    right: -30px;
  }
}

.product-winner .btn-box a {
  position: relative;
  display: block;
  margin: 0 auto;
}

.product-winner .btn-box a .icon-hand {
  right: 24%;
}

.product-winner .btn-box p {
  margin: 0.4375rem 0 0;
  font-size: 3.33333vw;
  padding: 0;
  text-align: center;
  font-weight: 400;
  color: #aaa;
}

@media screen and (min-width: 720px) {
  .product-winner .btn-box p {
    margin: 14px 0 0;
  }
}

@media screen and (min-width: 720px) {
  .product-winner .btn-box p {
    font-size: 24px;
  }
}

.product-text {
  background: #4760f1;
}

.product-review {
  padding-bottom: 2.90625rem;
}

@media screen and (min-width: 720px) {
  .product-review {
    padding-bottom: 93px;
  }
}

.product-review .notice {
  padding-right: 4.16667%;
  margin-top: 0.3125rem;
  font-weight: 500;
}

@media screen and (min-width: 720px) {
  .product-review .notice {
    margin-top: 10px;
  }
}

.product-teacher {
  padding-bottom: 2.8125rem;
}

@media screen and (min-width: 720px) {
  .product-teacher {
    padding-bottom: 90px;
  }
}

.product-teacher .slide-contents {
  position: relative;
  width: 86.11111%;
  margin: 0 auto;
}

.product-teacher .slide-contents .slick-slide {
  padding: 0 0.25rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .product-teacher .slide-contents .slick-slide {
    padding: 0 8px;
  }
}

.product-teacher .slide-contents .slick-arrow.slick-prev {
  left: -0.9375rem;
}

@media screen and (min-width: 720px) {
  .product-teacher .slide-contents .slick-arrow.slick-prev {
    left: -30px;
  }
}

.product-teacher .slide-contents .slick-arrow.slick-next {
  right: -0.9375rem;
}

@media screen and (min-width: 720px) {
  .product-teacher .slide-contents .slick-arrow.slick-next {
    right: -30px;
  }
}

.product-teacher .t-info {
  position: absolute;
  text-align: left;
  line-height: 1;
  left: 0.125rem;
}

@media screen and (min-width: 720px) {
  .product-teacher .t-info {
    left: 4px;
  }
}

.product-teacher .t-info .subject {
  font-size: 3.33333vw;
  letter-spacing: -0.0625rem;
  font-weight: 400;
  color: #222;
  line-height: 1;
}

@media screen and (min-width: 720px) {
  .product-teacher .t-info .subject {
    font-size: 24px;
  }
}

@media screen and (min-width: 720px) {
  .product-teacher .t-info .subject {
    letter-spacing: -2px;
  }
}

.product-teacher .t-info .name {
  display: inline-block;
  padding-right: 1.1875rem;
  font-size: 3.33333vw;
  letter-spacing: -0.0625rem;
  font-weight: 700;
  color: #222;
  line-height: 1;
}

@media screen and (min-width: 720px) {
  .product-teacher .t-info .name {
    padding-right: 38px;
  }
}

@media screen and (min-width: 720px) {
  .product-teacher .t-info .name {
    font-size: 24px;
  }
}

@media screen and (min-width: 720px) {
  .product-teacher .t-info .name {
    letter-spacing: -2px;
  }
}

.product-teacher .big-list .col {
  position: relative;
}

.product-teacher .big-list .col a {
  display: inline-block;
  padding: 0 0.15625rem;
}

@media screen and (min-width: 720px) {
  .product-teacher .big-list .col a {
    padding: 0 5px;
  }
}

.product-teacher .big-list .col .t-info {
  bottom: 0;
  z-index: 1;
}

.product-teacher .small-list {
  margin: 0.9375rem auto 0;
  width: 86.11111%;
}

@media screen and (min-width: 720px) {
  .product-teacher .small-list {
    margin: 30px auto 0;
  }
}

.product-teacher .small-list .col {
  position: relative;
  width: 32%;
  margin: 0 2% 2% 0;
}

.product-teacher .small-list .col .t-info {
  top: 10%;
  left: 9%;
}

.product-teacher .small-list .col .t-info .subject {
  font-size: 0.6875rem;
  color: #e7e7e7;
}

@media screen and (min-width: 720px) {
  .product-teacher .small-list .col .t-info .subject {
    font-size: 22px;
  }
}

.product-teacher .small-list .col .t-info .name {
  color: #e7e7e7;
  padding-right: 0;
  font-size: 0.6875rem;
}

@media screen and (min-width: 720px) {
  .product-teacher .small-list .col .t-info .name {
    font-size: 22px;
  }
}

.product-teacher .small-list .col:nth-child(3n) {
  margin-right: 0;
}

.product-teacher .grounds-text {
  text-align: left;
  padding-left: 6.94444%;
  font-size: 3.33333vw;
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 720px) {
  .product-teacher .grounds-text {
    font-size: 24px;
  }
}

.product-acer {
  padding-bottom: 3.75rem;
  background: #fff;
}

@media screen and (min-width: 720px) {
  .product-acer {
    padding-bottom: 120px;
  }
}

.product-acer .btn-acer {
  margin-bottom: 1.875rem;
  text-align: left;
}

@media screen and (min-width: 720px) {
  .product-acer .btn-acer {
    margin-bottom: 60px;
  }
}

.product-acer .btn-acer a {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.product-acer .btn-acer a .icon-hand {
  right: 40%;
}

.product-acer .item {
  position: relative;
}

.product-acer .item .teacher-img {
  position: absolute;
  top: 15.67755%;
  width: 91.66667%;
  left: 50%;
  z-index: 1;
  overflow: hidden;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.product-acer .wrap-tab {
  padding-bottom: 3.125rem;
}

@media screen and (min-width: 720px) {
  .product-acer .wrap-tab {
    padding-bottom: 100px;
  }
}

.product-acer .tab-list {
  width: 91.66667%;
  margin: 0 auto;
}

.product-acer .tab-list li {
  position: relative;
  float: left;
  width: 25%;
  border-left: 3px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-acer .tab-list li:first-child {
  border-left: 0;
}

.product-acer .tab-list li a {
  display: block;
  color: #838383;
  font-weight: 700;
  background: #bcbcbc;
  padding: 0.4375rem 0;
  font-size: 3.33333vw;
  letter-spacing: -0.0625rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .product-acer .tab-list li a {
    padding: 14px 0;
  }
}

@media screen and (min-width: 720px) {
  .product-acer .tab-list li a {
    font-size: 24px;
  }
}

@media screen and (min-width: 720px) {
  .product-acer .tab-list li a {
    letter-spacing: -2px;
  }
}

.product-acer .tab-list li.in a {
  color: #66fd97;
  background: #363636;
}

.product-acer .tab-list li.in:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  width: 0.71875rem;
  height: 0.46875rem;
  bottom: -0.46875rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url("https://img.eduwill.net/eduwill/img/2021/G/product/210726/pc/tab_arrow.png") 50% 0 no-repeat;
  background-size: cover;
  z-index: 1;
}

@media screen and (min-width: 720px) {
  .product-acer .tab-list li.in:after {
    width: 23px;
  }
}

@media screen and (min-width: 720px) {
  .product-acer .tab-list li.in:after {
    height: 15px;
  }
}

@media screen and (min-width: 720px) {
  .product-acer .tab-list li.in:after {
    bottom: -15px;
  }
}

.product-acer .tab-contents {
  width: 91.66667%;
  margin: 0 auto;
  border: 1px solid #e1e1e1;
}

.product-acer .tab-contents .item {
  display: none;
}

.product-acer .tab-contents .item.in {
  display: block;
}

.product-acer .slick-list,
.product-acer .slick-track {
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.product-acer .info-list {
  position: relative;
  width: 91.66667%;
  margin: 0 auto;
  z-index: 2;
}

.product-acer .info-list .slick-slide {
  outline: none;
}

.product-acer .info-list .slick-slide .col {
  position: relative;
  border-left: 3px solid #fff;
  padding-bottom: 0.46875rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .product-acer .info-list .slick-slide .col {
    padding-bottom: 15px;
  }
}

.product-acer .info-list .slick-slide .col a {
  position: relative;
  display: block;
  color: #838383;
  font-weight: 700;
  background: #bcbcbc;
  padding: 0.75rem 0;
  font-size: 3.33333vw;
  letter-spacing: -0.0625rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .product-acer .info-list .slick-slide .col a {
    padding: 24px 0;
  }
}

@media screen and (min-width: 720px) {
  .product-acer .info-list .slick-slide .col a {
    font-size: 24px;
  }
}

@media screen and (min-width: 720px) {
  .product-acer .info-list .slick-slide .col a {
    letter-spacing: -2px;
  }
}

.product-acer .info-list .slick-slide .col.list-1 {
  border-left: 0;
}

.product-acer .info-list .slick-slide.slick-current .col a {
  color: #c8d0ff;
  background: #363636;
}

.product-acer .info-list .slick-slide.slick-current .col a:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  width: 0.625rem;
  height: 0.375rem;
  bottom: -0.375rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url("https://img.eduwill.net/eduwill/img/2021/G/product/210726/pc/tab_arrow.png") 50% 0 no-repeat;
  background-size: cover;
  z-index: 1000;
}

@media screen and (min-width: 720px) {
  .product-acer .info-list .slick-slide.slick-current .col a:after {
    width: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-acer .info-list .slick-slide.slick-current .col a:after {
    height: 12px;
  }
}

@media screen and (min-width: 720px) {
  .product-acer .info-list .slick-slide.slick-current .col a:after {
    bottom: -12px;
  }
}

.product-acer .info-contents {
  position: relative;
  top: -0.46875rem;
  width: 91.66667%;
  margin: 0 auto;
  border: 1px solid #e1e1e1;
  border-top: 0;
}

@media screen and (min-width: 720px) {
  .product-acer .info-contents {
    top: -15px;
  }
}

.product-acer .notice {
  margin-top: 0.625rem;
  padding-right: 4.16667%;
  font-weight: 500;
}

@media screen and (min-width: 720px) {
  .product-acer .notice {
    margin-top: 20px;
  }
}

.product-acer .slider {
  width: 91.66667%;
  margin: 0 auto;
}

.product-acer .slider .slick-slide div {
  position: relative;
}

.product-acer .slider .slick-slide div .label {
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem;
  width: 25.83333%;
  height: 14.92537%;
  display: table;
  text-align: center;
  border-radius: 50px;
  background: #fff;
  border: 2px solid #4f6af3;
  z-index: 10;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 720px) {
  .product-acer .slider .slick-slide div .label {
    top: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-acer .slider .slick-slide div .label {
    right: 30px;
  }
}

.product-acer .slider .slick-slide div .label strong {
  display: table-cell;
  vertical-align: middle;
  color: #181818;
  font-weight: 700;
  font-size: 3.33333vw;
  letter-spacing: -0.0625rem;
}

@media screen and (min-width: 720px) {
  .product-acer .slider .slick-slide div .label strong {
    font-size: 24px;
  }
}

@media screen and (min-width: 720px) {
  .product-acer .slider .slick-slide div .label strong {
    letter-spacing: -2px;
  }
}

.product-curriculum {
  background: #fff;
}

.product-support {
  padding-bottom: 3.75rem;
}

@media screen and (min-width: 720px) {
  .product-support {
    padding-bottom: 120px;
  }
}

.product-support .total-price {
  padding-right: 4.16667%;
  text-align: right;
  padding-bottom: 1.5625rem;
}

@media screen and (min-width: 720px) {
  .product-support .total-price {
    padding-bottom: 50px;
  }
}

.product-support .total-price strong {
  font-size: 6.94444vw;
  font-weight: 700;
  color: #000;
  line-height: 1;
}

@media screen and (min-width: 720px) {
  .product-support .total-price strong {
    font-size: 50px;
  }
}

.product-support .total-price strong span {
  line-height: 1;
  font-size: 13.88889vw;
  letter-spacing: -0.125rem;
}

@media screen and (min-width: 720px) {
  .product-support .total-price strong span {
    font-size: 100px;
  }
}

@media screen and (min-width: 720px) {
  .product-support .total-price strong span {
    letter-spacing: -4px;
  }
}

.product-support .total-price .notice {
  margin-top: 0.46875rem;
  font-weight: 500;
}

@media screen and (min-width: 720px) {
  .product-support .total-price .notice {
    margin-top: 15px;
  }
}

.product-price-box {
  background: #6079f4;
}

.product-price-box .price-box {
  position: absolute;
  top: 83.5249%;
  left: 25.97222%;
  width: 73.61111%;
  z-index: 1;
}

.product-price-box .price-box .box {
  float: left;
  margin-left: 0.5%;
  width: 43.962%;
}

.product-price-box .price-box .box:first-child {
  margin-left: 0;
}

.product-price-box .price-box .box.box-2 {
  width: 55.47%;
}

.product-price-box .price-box .box .discount {
  display: none;
  margin-bottom: 0.15625rem;
  letter-spacing: -0.03125rem;
  font-size: 3.33333vw;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  background: #313131;
}

@media screen and (min-width: 720px) {
  .product-price-box .price-box .box .discount {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-box .price-box .box .discount {
    letter-spacing: -1px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-box .price-box .box .discount {
    font-size: 24px;
  }
}

.product-price-box .price-box .box .discount strong {
  color: #b9efff;
}

.product-price-box .price-box .box .before-price {
  display: none;
  text-align: center;
  color: #838383;
  font-weight: 500;
  line-height: 1.2;
  font-size: 3.33333vw;
}

@media screen and (min-width: 720px) {
  .product-price-box .price-box .box .before-price {
    font-size: 24px;
  }
}

.product-price-box .price-box .box .before-price span {
  line-height: 1.2;
  text-decoration: line-through;
}

.product-price-box .price-box .box .after-price {
  font-size: 4.16667vw;
  color: #000;
  line-height: 1;
  font-weight: 700;
}

@media screen and (min-width: 720px) {
  .product-price-box .price-box .box .after-price {
    font-size: 30px;
  }
}

.product-price-box .price-box .box .after-price span {
  line-height: 1.2;
  font-size: 5.27778vw;
  letter-spacing: -0.0625rem;
}

@media screen and (min-width: 720px) {
  .product-price-box .price-box .box .after-price span {
    font-size: 38px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-box .price-box .box .after-price span {
    letter-spacing: -2px;
  }
}

.product-price-box .price-box .box.box-2 .after-price {
  color: #0027ff;
}

.product-price-box .price-box.before {
  top: 76.62835%;
  font-size: 3.61111vw;
  color: #000;
  line-height: 1;
  font-weight: 500;
}

@media screen and (min-width: 720px) {
  .product-price-box .price-box.before {
    font-size: 26px;
  }
}

.product-price-box .price-box.before span {
  line-height: 1.2;
  font-size: 3.88889vw;
  letter-spacing: -0.0625rem;
}

@media screen and (min-width: 720px) {
  .product-price-box .price-box.before span {
    font-size: 28px;
  }
}

@media screen and (min-width: 720px) {
  .product-price-box .price-box.before span {
    letter-spacing: -2px;
  }
}
/*# sourceMappingURL=mobile.css.map */