<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>에듀윌</title>
<link rel="stylesheet" href="https://www.eduwill.net/eduwill/live/libs/bxslider/jquery.bxslider.css" />
<link rel="stylesheet" href="https://img.eduwill.net/eduwill/live/css/common/webfont.css" />
<link rel="stylesheet" href="https://img.eduwill.net/eduwill/live/css/common/reset.css" />
<link rel="stylesheet" href="https://img.eduwill.net/eduwill/live/css/common/common.css" />
<script src="https://img.eduwill.net/eduwill/live/libs/jquery/jquery-2.1.4.min.js"></script>
<script src="https://img.eduwill.net/eduwill/live/libs/bxslider/jquery.bxslider.min.js"></script>
<script src="https://img.eduwill.net/eduwill/live/libs/greensock/TweenMax.min.js"></script>
</head>
<body>
<!--
    컨텐츠 감싸는 부모 : product-eco
    하단 수강신청 영역 : product-apply
    하단 수강신청 영역 내 탭 : product-tab
    하단 수강신청 영역 내 가격 : product-price
    하단 수강신청 영역 내 정보 : product-table
    따라다니는 수강신청 버튼 영역 : fix-apply
-->
<!-- 여기부터 에코등록 -->
<link rel="stylesheet" type="text/css" href="https://img.eduwill.net/resources/eduwill/live/css/product/과정명/날짜/web.css" />
<div class="product-eco"> 
    에코에등록될상품내용
</div>
<script>
    $(function() {
        $(window).on('load', function(){
            
        });
    });
</script>
<!--// 여기까지 에코등록 -->
</body>
</html>