@{
	string viewPath = ((RazorView)ViewContext.View).ViewPath;
	viewPath = viewPath.Remove(viewPath.LastIndexOf('/') + 1);
}

@{
	string platform = ("W".Equals(ViewBag.PlatformCd)) ? "pc" : "mobile";
	if ( "W".Equals(ViewBag.PlatformCd) ){} else {}
}

<div id="contents" class="promotion">
	@if ( "W".Equals(ViewBag.PlatformCd) ){
		<div class="fix-action fix-right">
			<a href="#promotionCenter1" class="page-move top link-1">
				<img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/fix_right_1.png" alt="">
			</a>
			<a href="#promotionCenter2" class="page-move top link-2">
				<img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/fix_right_2.png" alt="">
			</a>
			<a href="#promotionCenter3" class="page-move top link-3">
				<img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/fix_right_3.png" alt="">
			</a>
		</div>
	}

	<div class="sector-title">
		<div class="wrap-full">
			<div class="laurel-list">
				<p class="laurel-1"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/laurel_1.png" alt="수강생 증가 472%"></p>
				<p class="laurel-2"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/laurel_2.png" alt="강의만족도 99%"></p>
			</div>
			<p class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/title_teacher.png" alt="하성우"></p>
			<p class="book"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/title_book.png" alt="하성우 헌법 개념압축노트"></p>

			<p class="title-1"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/title_1.png" alt="노베이스 탈출부스터"></p>
			<p class="title-2"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/title_2.png" alt="하성우 헌법"></p>
			<p class="title-3"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/title_3.png" alt="개념압축노트"></p>
			<p class="title-4"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/title_4.png" alt="무료배포"></p>
			<p class="title-5"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/title_5.png" alt="중요한 것만 심플하게! 대한민국 헌법의 중심, 하성우"></p>

			<p class="period">기한 : <strong>~2/2(수)까지</strong></p>
			<div class="action">
				<a href="#promotionCenter3" class="page-move btn-title">
					<img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/title_btn.png" alt="하성우 개념압축노트받고 노베이스 탈출하기">
				</a>
				<p class="base"></p>
			</div>
		</div>
	</div>

	<div class="sector-teacher" id="promotionCenter1">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/teacher_title.png" alt="대한민국 헌법의 중심, 하성우 합격으로 강의력을 증명합니다">
			<div class="box talk-box">
				<div class="talk talk-1 motion-1"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/teacher_talk_1.png" alt=""></div>
				<div class="talk talk-2 motion-2"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/teacher_talk_2.png" alt=""></div>
				<div class="talk talk-3 motion-3"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/teacher_talk_3.png" alt=""></div>
				<div class="talk talk-4 motion-4"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/teacher_talk_4.png" alt=""></div>
			</div>
			<div class="box action-box motion-1">
				<a href="https://cop.eduwill.net/Prof/CL13/CL" target="_blank">
					<img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/teacher_btn.png" alt="헌법 하성우">
				</a>
			</div>
			<div class="box teacher-box">
				<img class="teacher-pic" src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/teacher.png" alt="하성우">
			</div>

			@if ( "M".Equals(ViewBag.PlatformCd) ){
				<div class="teacher-list">
					<div>
						<img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/teacher_slide_1.png" alt="">
						<div class="box gif-box">
							<img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/pc/teacher.gif" alt="">
						</div>
					</div>
					<div>
						<img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/teacher_slide_2.png" alt="">
					</div>
					<div>
						<img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/teacher_slide_3.png" alt="">
					</div>
				</div>
			} else {
				<div class="box gif-box">
					<img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/pc/teacher.gif" alt="">
				</div>
			}
		</div>
	</div>

	<div class="sector-book" id="promotionCenter2">
		<div class="wrap-full">
			<img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/book_title.png" alt="초스피드 합격을 위한 단 하나의 솔루션">
			<div class="book-list">
				<div><img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/pc/book_1.png" alt="book1">
					<div class="slider-nav"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/nav_1.jpg" alt="nav1"></div>
				</div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/pc/book_2.png" alt="book2">
					<div class="slider-nav"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/nav_2.jpg" alt="nav2"></div>
				</div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/pc/book_3.png" alt="book3">
					<div class="slider-nav"><img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/nav_3.jpg" alt="nav3"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="sector-event" id="promotionCenter3">
		<div class="event-inner">
			<div class="wrap">
				<img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/event.png" alt="기간 한정 이벤트">
				<div class="flag">
					<img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/pc/flag.png" alt="">
					<div class="period">
						기간<br>한정
					</div>
				</div>

				<div class="event-info">
					<div class="action">
						<button class="btn-event" onclick="javascript:alert();">
							<img src="//img.eduwill.net/eduwill/img/2022/C/event/220117/@platform/event_btn.png" alt="노베이스 탈출하기">
						</button>
					</div>
					<ul class="period">
						<li>
							<div class="desc">남은시간</div>
							<div class="pass-timer">
								&nbsp;
								<div><span class="day">00</span><em>일</em></div>
								&nbsp;
								<div><span class="hour">00</span><em>:</em></div>
								<div><span class="min">00</span><em>:</em></div>
								<div><span class="sec">00</span></div>
								@* <div><span class="msec">00</span></div> *@
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="sector-notice" id="promotionCenter4">
		<div class="wrap">
			<div class="notice-box">
				<p class="notice-title">유의사항</p>
				<ul class="notice-list">
					<li>이벤트는 아이디 당 1회만 신청가능합니다.</li>
					<li>해당 자료는 신청 즉시 PDF 파일로 제공됩니다.</li>
				</ul>
			</div>
		</div>
	</div>

	<div id="sectorRumor">
		@* 소문내기 이벤트는 여기에 적용 부탁드립니다. *@
	</div>

</div>

<script src="https://www.youtube.com/iframe_api"></script>
<script type="text/javascript">
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
	var url = window.location.href;
	var str = 'event.eduwill.net';
	var checkUrl = url.indexOf(str);
	var userId = "@(UserSession.UserID)";

	$(function () {
		frontInit();
		pageMove('.page-move');
		getTimer('.pass-timer' , 'Feb 2, 2022,23:59:59'); @* 퍼블 ui 확인용 *@
		//getTimer('.pass-timer', '@ViewBag.EventEndDt'.stringToDate("yyyy-MM-dd HH:mm:ss"));
	});

	function frontInit() {
		$('.promotion .base').html('1) 21.07(입성)/21.09 헌법 수강인원비교<br>2) 21.07~11 헌법 하성우 전커리큘럼 강의만족도 조사결과');
		titleEvent();
		slideEvent();
		onComplete();
	}

	function titleEvent(){
		var promotionTitle = $('.sector-title');
		var _teacherX, _teacherY, _title5X;
		if( !isMobile ){
			_teacherX = 150, _teacherY = 0, _title5X = -100;
		} else {
			_teacherX = 0, _teacherY = 100, _title5X = 100;
		}

		TweenMax.fromTo( promotionTitle.find('.teacher'), 1.0, { opacity: 0, x: _teacherX, y: _teacherY }, { opacity: 1, x: 0, y: 0, delay: 1.4, ease: 'elastic.out(1, 0.3)' });
		TweenMax.fromTo( promotionTitle.find('.book'), 1.0, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: 2.0, ease: 'elastic.out(1, 0.3)' });

		TweenMax.fromTo( promotionTitle.find('.laurel-1'), .5, { opacity: 0, scale: 0 }, { opacity: 1, scale: 1, delay: .2, ease: Back.easeOut.config(1) });
		TweenMax.fromTo( promotionTitle.find('.laurel-2'), .5, { opacity: 0, scale: 0 }, { opacity: 1, scale: 1, delay: .4, ease: Back.easeOut.config(1) });
		TweenMax.fromTo( promotionTitle.find('.laurel-3'), .5, { opacity: 0, scale: 0 }, { opacity: 1, scale: 1, delay: .6, ease: Back.easeOut.config(1) });

		TweenMax.fromTo( promotionTitle.find('.title-1'), .6, { opacity: 0, x: -100 }, { opacity: 1, x: 0, delay: .8, ease: Back.easeOut.config(1) });
		TweenMax.fromTo( promotionTitle.find('.title-2'), .6, { opacity: 0, x: -100 }, { opacity: 1, x: 0, delay: 1.0, ease: Back.easeOut.config(1) });
		TweenMax.fromTo( promotionTitle.find('.title-3'), .6, { opacity: 0, x: -100 }, { opacity: 1, x: 0, delay: 1.2, ease: Back.easeOut.config(1) });
		TweenMax.fromTo( promotionTitle.find('.title-4'), .6, { opacity: 0, x: -100 }, { opacity: 1, x: 0, delay: 1.4, ease: Back.easeOut.config(1) });
		TweenMax.fromTo( promotionTitle.find('.title-5'), 1.0, { opacity: 0, x: _title5X }, { opacity: 1, x: 0, delay: 0.6, ease: 'elastic.out(1, 0.3)' });

		TweenMax.fromTo( promotionTitle.find('.period'), .5, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: 2.0, ease: Back.easeOut.config(1) });
		TweenMax.fromTo( promotionTitle.find('.action'), .5, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: 2.1, ease: Back.easeOut.config(1) });

	}

	function slideEvent(){
		var _center = true, _variable = true, _arrow = true;
		if( !isMobile ){
			_center = true, _variable = true, _arrow = true;
		} else {
			$('.teacher-list').slick({
				infinite: true,
				autoplay: true,
				variableWidth: true,
				speed: 500,
				centerMode: true,
				arrows: false,
				dots: true
			});
		}
		$('.book-list').slick({
			infinite: true,
			autoplay: true,
			speed: 500,
			centerMode: _center,
			variableWidth: _variable,
			arrows: _arrow,
			dots: true,
			customPaging : function(slider, i) {
				var thumb = $(slider.$slides[i]).find('.slider-nav');
				return thumb;
			}
		});
	}

	function onComplete(){
		$(window).on('scroll', function(){
			var st = $(window).scrollTop();

			//우측 퀵배너
			var _target = $('.fix-right a');
			var _target_top = $('#promotionCenter1').offset().top - 600;
			var _target_bottom = $('#promotionCenter4').offset().top;
			//console.log(_target_top, _target_bottom, st);
			if  ( (st >= _target_bottom) || (st <= _target_top) ){
				_target.addClass('top').removeClass('active');
			} else if( st >= _target_top ){ 
				_target.each(function(i){
					var _top = $($(this).attr('href'));
					var _parent = _top.offset().top;
					if( st >= _parent - 600){
						_target.eq(i).addClass('active').siblings().removeClass('active top');
					} else {
						_target.eq(i).removeClass('active top');
					}
				});
			}

			//모션
			var section = $('.promotion > div');
			section.each(function(i){
				if( st >= section.eq(i).offset().top - 600){
					$(this).addClass('active');
				}
				//else {
					//$(this).removeClass('active');
				//}
			});

		});
	}

</script>
