@charset "utf-8";

@import url('nanumgothic.css');	
@import url('reset.css');	
@import url('common.css');
@import url('selectric.css'); /* jQuery plugin to customize HTML selects */


/* book.css */
.blist_wrap { margin-top:33px; }
.blist_head { position:relative; height:25px; line-height:25px; padding:5px 0 5px 0; border-top:1px solid #d1d1d1; border-bottom:1px solid #d1d1d1; background:#f7f7f7; }
.blist_head ul.blist_align	{ float:left; *zoom:1; }
.blist_head ul.blist_align:after	{ content:" "; display:block; clear:both; height:0; visibility:hidden; }
.blist_head ul.blist_align li { float:left; background:url(../img/book/gap_category.gif) no-repeat right 50%; }
.blist_head ul.blist_align li.endline { background:none; }
.blist_head ul.blist_align li a { display:inline-block; height:25px; line-height:25px; font-size:13px; color:#010101; padding:0 16px 0 16px; }
.blist_head ul.blist_align li a.active { font-family:'nanum_b'; }

.blist_head .blist_number { position:absolute; right:10px; top:4px; /*float:right; height:23px; text-align:right; margin-right:10px;*/}

.blist_body { position:relative;}

.blist_all { position:relative; height:24px; line-height:24px; padding:10px 0 11px 0; border-bottom:1px solid #d1d1d1; }
.blist_select { position:absolute; left:15px; top:10px; width:450px; height:24px; line-height:24px; color:#010101; font-size:12px; }
.blist_select input { margin-right:6px; }
.blist_select a { margin-right:2px; }
.blist_select a.btn_buy { color:#fff; font-family:'nanum_b'; margin-left:10px; background:#939393; }
.blist_select a.active { background:#ec0d5c !important;}
.blist_all .g_page { text-align:right; padding:3px 10px 3px 0; }
.blist_select.one_line { position:relative; margin-bottom:10px;}

.tbl_blist { width:100%; }
.tbl_blist td { vertical-align:top; padding-top:30px; padding-bottom:30px; border-bottom:1px solid #d1d1d1; }
.tbl_blist td.goods_check	{ padding-left:15px; }
.tbl_blist td.goods_info { }
.tbl_blist td.goods_info .gi_wrap	{ padding-right:29px; border-right:1px solid #d1d1d1; }
.tbl_blist td.goods_info dl	{ position:relative; width:364px; min-height:128px; padding-left:118px; }
.tbl_blist td.goods_info dt	{ position:absolute; left:0; top:0; width:93px; height:128px; }
.tbl_blist td.goods_info dt img.gi_thumb	{ width:91px; height:126px; border:1px solid #c1c1c1; }
.tbl_blist td.goods_info dt span	{ display:block; position:absolute; left:67px; top:-7px; width:37px; height:37px; z-index:1; }

.tbl_blist td.goods_info dd.gi_title{ line-height:22px; color:#000; font-family:'nanum_b'; font-size:16px; }
.tbl_blist td.goods_info dd.gi_title img	{ vertical-align:middle; }
.tbl_blist td.goods_info dd.gi_basic{ line-height:17px; color:#999; font-size:12px; margin-top:5px; }
.tbl_blist td.goods_info dd.gi_basic span	{ display:inline-block; padding:0 6px 0 0; margin:0 4px 0 0; background:url(../img/book/gap_title.gif) no-repeat right 50%; }
.tbl_blist td.goods_info dd.gi_basic span.endline	{ background:none; }
.tbl_blist td.goods_info dd.gi_price { line-height:22px; color:#0473f0; font-size:15px; margin-top:12px; }
.tbl_blist td.goods_info dd.gi_price > img { vertical-align:top;}
.tbl_blist td.goods_info dd.gi_price span { display:inline-block; padding:7px 0 0 3px;}
.tbl_blist td.goods_info dd.gi_price strong	{ font-family:tahoma; font-weight:700; font-size:19px; }
.tbl_blist td.goods_info dd.gi_price em		{ font-family: 'Nanum Gothic Extra Bold'; font-size:17px; }
.tbl_blist td.goods_info .gi_origin	{ color:#010101; text-decoration:line-through; margin-right:8px; }
.tbl_blist td.goods_info dd.gi_preview { position:absolute; bottom:0;}
.tbl_blist td.goods_info dd.gi_preview a { display:inline-block; width:91px; height:22px; line-height:22px; color:#6c6c6c; font-family:'nanum_b'; font-size:11px; text-align:center; margin-top:7px; border:1px solid #d1d1d1;}

.tbl_blist td.goods_info .gi_brief { line-height:20px; font-size:12px; padding-top:16px; margin-top:25px; border-top:1px dashed #d1d1d1;}
.tbl_blist td.goods_info .gi_brief strong { display:block; margin-bottom:8px; color:#222; font-size:13px;}

.tbl_blist td.goods_num {  }
.tbl_blist td.goods_num .gn_wrap	{ padding-left:30px; }
.tbl_blist td.goods_num .gn_wrap .text_label		{ display:inline-block; line-height:22px; color:#010101; font-family:'nanum_b'; font-size:13px; margin-right:7px; }
.tbl_blist td.goods_num .gn_wrap .g_count			{ top:-2px; width:72px; height:22px; }
.tbl_blist td.goods_num .gn_wrap .gn_btn			{ padding-top:7px; }
.tbl_blist td.goods_num .gn_wrap .gn_btn a			{ margin-top:6px; }
.tbl_blist td.goods_num .gn_wrap .gn_btn a.btn_buy	{ color:#fff; background:#ec0d5c; }
.tbl_blist td.goods_num .gn_wrap .gn_btn a.btn_empty{ width:106px; height:28px; line-height:28px; border:1px solid #d1d1d1; background:#fff; }

.book_title { margin:23px 0 0 0; }
.book_view .bu_new	{ padding:0 0 0 68px; background:url(../img/book/icon_new.png) no-repeat left top; }
.book_view .bu_ebs	{ padding:0 0 0 68px; background:url(../img/book/icon_ebs.png) no-repeat left top; }
.book_title	dt		{ line-height:35px; color:#3c3c3c; font-family:'nanum_b'; font-size:30px; letter-spacing:-2px; }
.book_title	dd		{ line-height:22px; color:#888; font-size:13px; }
.book_title	dd span	{ display:inline-block; padding:0 6px 0 0; margin:0 4px 0 0; background:url(../img/book/gap_title.gif) no-repeat right 50%; }
.book_title	dd span.endline	{ background:none; }

.book_detail		{ padding:0 0 0 0; margin:21px 0 0 0; *zoom:1; }
.book_detail:after	{ content:" "; display:block; clear:both; height:0; visibility:hidden; }
.book_detail .book_img		{ float:left; width:247px; }
.book_detail .book_text		{ float:right; width:413px; }

.book_img p			{ margin:10px 0 0 0; }
.book_img p a		{ display:inline-block; width:116px; height:22px; line-height:22px; color:#6c6c6c; font-family:'nanum_b'; font-size:11px; text-align:center; text-decoration:none; border:1px solid #d1d1d1; margin-right:2px; }

.book_text ul		{ border-top:1px solid #d1d1d1; }
.book_text li		{ position:relative; line-height:30px; color:#010101; font-size:12px; padding:14px 0 14px 115px; }
.book_text li.text_price	{ font-size:14px; padding:14px 0 0 115px; }
.book_text li.text_sale		{ color:#0473f0; padding:0 0 14px 115px; border-bottom:1px dotted #d1d1d1; }
.book_text li.text_sale strong		{ font-family:tahoma; font-weight:700; font-size:26px; }
.book_text li.text_sale em			{ font-family: 'Nanum Gothic Extra Bold'; font-size:20px; margin-right:6px; }
.book_text li.text_card		{ padding:19px 0 19px 115px; border-bottom:1px dotted #d1d1d1; }
.book_text li.text_card	a	{ display:inline-block; width:55px; height:16px; line-height:16px; color:#6c6c6c; font-size:10px; text-align:center; text-decoration:none; border:1px solid #d1d1d1; margin-left:4px; }
.book_text li.text_ship		{ border-bottom:1px dotted #d1d1d1; }
.book_text li.text_num		{ padding:19px 0 19px 115px; }

.book_text .text_label		{ display:block; position:absolute; left:34px; top:14px; width:81px; height:30px; color:#010101; line-height:30px; font-family:'nanum_b'; font-size:13px; }
.book_text li.text_sale .text_label { top:0; }
.book_text li p		{ position:relative; line-height:21px; }
.book_text li p span		{ display:block; }

.book_btn { margin:12px 0 0 0; }
.book_btn a { margin-right:1px; }
.book_btn a.btn_buy { color:#fff; background:#ec0d5c; }
.book_btn a.btn_cart{ color:#fff; background:#3649b8; }


.book_item { margin:50px 0 0 0; }
.book_item ul.g_tab_a { margin:0 0 0 0; }
.book_item ul.g_tab_a li a	{ width:113px; }
.book_item ul.g_tab_a li:first-child a	{ width:114px; }
.book_item .item_body { line-height:19px; color:#7a7a7a; font-size:12px; padding:30px 0 0 0; }

.book_item .item_body .ib_title { line-height:20px; color:#000; font-family:'nanum_b'; font-size:18px; }
.book_item .item_body .tbl_col { width:100%; margin-top:9px; border-top:1px solid #d1d1d1; }
.book_item .item_body .tbl_col th { height:27px; line-height:27px; color:#7a7a7a; font-family:'nanum_b'; text-align:center; border-bottom:1px solid #d1d1d1; background:#f7f7f7; }
.book_item .item_body .tbl_col td { line-height:17px; text-align:center; padding:6px 0 6px 0; border-bottom:1px solid #d1d1d1; }
.book_item .item_body .tbl_col td.ib_name { text-align:left; }
.book_item .item_body .tbl_col td.ib_download a { display:inline-block; width:13px; height:13px; vertical-align:middle; background:url(../img/book/icon_download.png) no-repeat left 50%; }
.book_item .item_body .ib_button { text-align:right; margin-top:13px; }
.book_item .item_body .ib_button a { display:inline-block; width:121px; height:34px; line-height:34px; color:#606060; font-family:'nanum_b'; font-size:13px; text-align:center; text-decoration:none; border:1px solid #b2b2b2; margin-left:2px; }

.book_item .item_body .ib_delivery { }
.book_item .item_body .ib_delivery span { display:block; }
.book_item .item_body .ib_delivery p { color:#ff0000; font-family:'nanum_b'; margin-top:8px; }

.book_item .item_body .ib_notice { }
.book_item .item_body .ib_notice dt { line-height:19px; color:#333; font-family:'nanum_b';}
.book_item .item_body .ib_notice dd { line-height:19px; padding-bottom:8px; }
.book_item .item_body .ib_notice dd span { display:block; }

/* best no.5 */
.blist_best { position:relative; width:100%; overflow:hidden;}
.blist_best ul { margin:20px 0 40px; overflow:hidden;}
.blist_best ul li { position:relative; float:left; width:128px; margin-right:12px;}
.blist_best ul li .label_lank { position:absolute; left:0; top:0;}
.blist_best ul li dl { margin-top:15px; text-align:center;}
.blist_best ul li dt { margin-bottom:5px;}
.blist_best ul li dt span { display:inline-block; padding-left:5px; font-family:'Nanum Gothic Extra Bold'; font-size:13px; color:#000;}
.blist_best ul li dt span strong { font-size:15px; font-family:Tahoma; font-weight:700;}
.blist_best ul li dd { color:#000;}

.thum { margin-right:15px;}
.blist_bottom { position:absolute; bottom:0}