@charset "UTF-8";
.grid, .product-eco .tab-box .tab-list {
  *zoom: 1;
}

.grid:before, .product-eco .tab-box .tab-list:before, .grid:after, .product-eco .tab-box .tab-list:after {
  content: '';
  display: table;
}

.grid:after, .product-eco .tab-box .tab-list:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  position: relative;
  box-sizing: border-box;
}

.grid .col {
  position: relative;
  float: left;
  box-sizing: border-box;
}

.table {
  display: table;
  width: 100%;
}

.table .table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.product-eco .review-slide .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  font-size: 0;
  color: transparent;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

button {
  overflow: visible;
  border-radius: 0;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  width: auto;
  outline: 0;
  cursor: pointer;
}

.dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1001;
  width: 90%;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  background-color: #fff;
  transform: translateX(-50%);
}

.popup * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  margin: 0;
  padding: 0;
}

.popup-body {
  position: relative;
  text-align: left;
}

.popup-body p {
  font-size: 3.33333vw;
}

@media screen and (min-width: 720px) {
  .popup-body p {
    font-size: 24px;
  }
}

@media screen and (min-width: 1100px) {
  .popup-body p {
    font-size: 18px;
  }
}

.popup-body p + p,
.popup-body p + ul {
  margin-top: 0.3125rem;
}

@media screen and (min-width: 720px) {
  .popup-body p + p,
  .popup-body p + ul {
    margin-top: 10px;
  }
}

.popup-body ul {
  margin-top: 0.3125rem;
  font-size: 3.05556vw;
}

@media screen and (min-width: 720px) {
  .popup-body ul {
    margin-top: 10px;
  }
}

@media screen and (min-width: 720px) {
  .popup-body ul {
    font-size: 22px;
  }
}

@media screen and (min-width: 1100px) {
  .popup-body ul {
    font-size: 16px;
  }
}

.popup-body ul li {
  margin-top: 0.15625rem;
}

@media screen and (min-width: 720px) {
  .popup-body ul li {
    margin-top: 5px;
  }
}

.popup-body ul li:first-child {
  margin-top: 0;
}

.popup-body ul + p {
  margin-top: 0.3125rem;
}

@media screen and (min-width: 720px) {
  .popup-body ul + p {
    margin-top: 10px;
  }
}

.popup-close {
  position: absolute;
  top: -40px;
  right: 0;
}

.popup-close button {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 40px;
  height: 40px;
}

.popup-close button:before, .popup-close button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 1px;
  margin-left: -10px;
  background-color: #fff;
}

.popup-close button:before {
  transform: rotate(45deg);
}

.popup-close button:after {
  transform: rotate(315deg);
}

.popup-close button span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup-video {
  max-width: 640px;
}

@media screen and (min-width: 720px) {
  .popup-video {
    max-width: 1000px;
  }
}

.popup-video .video-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-base, .popup-bestseller {
  max-width: 1000px;
}

@media screen and (min-width: 720px) {
  .popup-base, .popup-bestseller {
    max-width: 1000px;
  }
}

.popup-base .popup-body, .popup-bestseller .popup-body {
  padding: 0.625rem;
}

@media screen and (min-width: 720px) {
  .popup-base .popup-body, .popup-bestseller .popup-body {
    padding: 20px;
  }
}

.popup-base .popup-body .eco-base > p, .popup-bestseller .popup-body .eco-base > p {
  padding-left: 0.46875rem;
  text-indent: -0.46875rem;
}

@media screen and (min-width: 720px) {
  .popup-base .popup-body .eco-base > p, .popup-bestseller .popup-body .eco-base > p {
    padding-left: 15px;
  }
}

@media screen and (min-width: 720px) {
  .popup-base .popup-body .eco-base > p, .popup-bestseller .popup-body .eco-base > p {
    text-indent: -15px;
  }
}

.product-eco * {
  line-height: normal;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.product-eco .container {
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
}

.product-eco .wrap {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  width: 100%;
}

.product-eco .holder {
  position: relative;
}

.product-eco p {
  margin: 0;
  font-size: 2.77778vw;
  color: #666;
}

@media screen and (min-width: 720px) {
  .product-eco p {
    font-size: 20px;
  }
}

.product-eco .pointer {
  position: relative;
  display: inline-block;
}

.product-eco .pointer:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  display: block;
  width: 1.875rem;
  height: 2.0625rem;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  animation-name: pointerBounce;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .pointer:after {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .pointer:after {
    height: 66px;
  }
}

@keyframes pointerBounce {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}

.product-eco .review-slide .slick-slide {
  height: auto;
}

.product-eco .review-slide .slick-dots {
  text-align: center;
  margin-top: 0px;
}

.product-eco .review-slide .slick-dots li {
  margin: 0 0.25rem;
  background: #d3d3d3;
  width: 0.65625rem;
  height: 0.65625rem;
  border-radius: 50%;
  display: inline-block;
}

@media screen and (min-width: 720px) {
  .product-eco .review-slide .slick-dots li {
    margin: 0 8px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .review-slide .slick-dots li {
    width: 21px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .review-slide .slick-dots li {
    height: 21px;
  }
}

.product-eco .review-slide .slick-dots li button {
  opacity: 0;
}

.product-eco .review-slide .slick-dots li.slick-active {
  background: #7e5eff;
}

.product-eco .review-slide .slick-arrow {
  width: 1.5625rem;
  height: 1.5625rem;
  margin-top: -0.78125rem;
}

@media screen and (min-width: 720px) {
  .product-eco .review-slide .slick-arrow {
    width: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .review-slide .slick-arrow {
    height: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .review-slide .slick-arrow {
    margin-top: -25px;
  }
}

.product-eco .review-slide .slick-arrow.slick-prev {
  left: -1.6%;
}

.product-eco .review-slide .slick-arrow.slick-prev:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-width: 0;
  border-style: solid;
  border-color: #333;
  transform: rotate(45deg);
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top: none;
  border-right: none;
}

.product-eco .review-slide .slick-arrow.slick-next {
  right: 1%;
}

.product-eco .review-slide .slick-arrow.slick-next:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-width: 0;
  border-style: solid;
  border-color: #333;
  transform: rotate(45deg);
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom: none;
  border-left: none;
}

.product-eco .tab-box {
  margin: 0 6.9444%;
}

.product-eco .tab-box .tab-list {
  width: 100%;
  box-sizing: border-box;
}

.product-eco .tab-box .tab-list a {
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_105/product/210504/mobile/bg_tablist.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
  text-align: center;
  float: left;
  width: calc(100%/3);
  height: 11.806vw;
  background: #d7d7d7;
  display: table;
  border: 1px solid #fff;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .product-eco .tab-box .tab-list a {
    height: 100px;
  }
}

.product-eco .tab-box .tab-list a span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  letter-spacing: -2px;
  color: #949494;
  font-size: 3.33333vw;
  font-weight: 700;
}

@media screen and (min-width: 720px) {
  .product-eco .tab-box .tab-list a span {
    font-size: 24px;
  }
}

.product-eco .tab-box .tab-list a.active {
  background: #fff;
}

.product-eco .tab-box .tab-list a.active span {
  color: #000;
}

.product-eco .tab-box .tab-view {
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  display: none;
  z-index: 2;
}

.product-eco .tab-box .tab-view.active {
  display: block;
}

.product-eco h3, .product-eco h4 {
  margin: 0;
  padding: 0;
  line-height: 1;
  background: none;
  letter-spacing: -3px;
  text-align: left;
  font-weight: 700;
}

.product-eco h3.title {
  font-size: 8.33333vw;
  color: #222;
  letter-spacing: -4px;
}

@media screen and (min-width: 720px) {
  .product-eco h3.title {
    font-size: 60px;
  }
}

.product-eco h4.title {
  font-size: 6.94444vw;
  color: #795afe;
}

@media screen and (min-width: 720px) {
  .product-eco h4.title {
    font-size: 50px;
  }
}

.product-eco .date {
  font-size: 4.86111vw;
  color: #222;
  font-weight: 800;
  line-height: 1;
  text-align: left;
}

@media screen and (min-width: 720px) {
  .product-eco .date {
    font-size: 35px;
  }
}

.product-eco .date span {
  vertical-align: middle;
  display: inline-block;
}

.product-eco .date span.dot {
  display: inline-block;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 0.15625rem;
  background: #cdcdcc;
  margin: 0 0.28125rem;
}

@media screen and (min-width: 720px) {
  .product-eco .date span.dot {
    width: 10px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .date span.dot {
    height: 10px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .date span.dot {
    border-radius: 5px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .date span.dot {
    margin: 0 9px;
  }
}

.product-eco .noti {
  font-size: 2.5vw;
  color: #222;
  opacity: .5;
  text-align: left;
}

@media screen and (min-width: 720px) {
  .product-eco .noti {
    font-size: 18px;
  }
}

.product-topbanner {
  background: #22223a;
}

.product-title {
  z-index: 1;
  background-color: #006ce2;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_105/product/210504/pc/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-title .date {
  position: absolute;
  top: 41.5%;
  left: 12%;
  font-weight: 700;
  line-height: 1;
  font-size: 4.16667vw;
  letter-spacing: -2px;
  z-index: 7;
}

@media screen and (min-width: 720px) {
  .product-title .date {
    font-size: 30px;
  }
}

.product-title .limit {
  position: absolute;
  top: 46%;
  right: 9%;
  display: table;
  z-index: 7;
}

.product-title .limit span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  letter-spacing: -2px;
  background: #fff001;
  width: 12.500vw;
  height: 12.500vw;
  border-radius: 50%;
  line-height: 1.2;
  color: #000;
  font-size: 4.16667vw;
  font-weight: bold;
}

@media screen and (min-width: 720px) {
  .product-title .limit span {
    font-size: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-title .limit span {
    width: 91px;
    height: 91px;
    font-size: 30px;
  }
}

.product-applybox .apply-box {
  margin: 0 6.9444%;
  position: absolute;
  z-index: 7;
  left: 0;
  right: 0;
  top: auto;
  bottom: -170px;
  bottom: -5.9375rem;
  background: #7a5bff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
  letter-spacing: -2px;
}

@media screen and (min-width: 720px) {
  .product-applybox .apply-box {
    bottom: -190px;
  }
}

.product-applybox .apply-box strong {
  color: #fff;
  font-size: 6.25vw;
  letter-spacing: -3px;
  font-weight: 700;
  line-height: 1.4;
  display: inline-block;
  padding-top: 1.875rem;
}

@media screen and (min-width: 720px) {
  .product-applybox .apply-box strong {
    font-size: 45px;
  }
}

@media screen and (min-width: 720px) {
  .product-applybox .apply-box strong {
    padding-top: 60px;
  }
}

.product-applybox .apply-box span.info {
  color: #fff;
  font-size: 4.16667vw;
  font-weight: 500;
  line-height: 1;
  display: block;
  padding-top: 0.625rem;
  padding-bottom: 1.875rem;
}

@media screen and (min-width: 720px) {
  .product-applybox .apply-box span.info {
    font-size: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-applybox .apply-box span.info {
    padding-top: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-applybox .apply-box span.info {
    padding-bottom: 60px;
  }
}

.product-applybox .apply-box a {
  background: #fff001;
  position: relative;
  padding: 0.78125rem 0;
  display: block;
}

@media screen and (min-width: 720px) {
  .product-applybox .apply-box a {
    padding: 25px 0;
  }
}

.product-applybox .apply-box a span {
  display: inline-block;
  position: relative;
  color: #000;
  font-size: 5.55556vw;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -2px;
}

@media screen and (min-width: 720px) {
  .product-applybox .apply-box a span {
    font-size: 40px;
  }
}

.product-applybox .apply-box a span:after {
  right: -20%;
}

.product-review {
  padding-bottom: 4.375rem;
}

@media screen and (min-width: 720px) {
  .product-review {
    padding-bottom: 140px;
  }
}

.product-review .slide1 {
  margin: 0 0.21875rem 0.9375rem 0.875rem;
}

@media screen and (min-width: 720px) {
  .product-review .slide1 {
    margin: 0 7px 30px 28px;
  }
}

.product-news {
  background: #f8f8f8;
}

.product-teacher {
  background: #fff;
}

.product-qna {
  background: #7a5bff;
}

.product-process {
  background: #fff;
}

.product-goals {
  padding-bottom: 3.125rem;
  background-color: #f7f7f7;
}

@media screen and (min-width: 720px) {
  .product-goals {
    padding-bottom: 100px;
  }
}

.product-goals .tab-box {
  margin: 0 1.5625rem;
}

@media screen and (min-width: 720px) {
  .product-goals .tab-box {
    margin: 0 50px;
  }
}

.product-step {
  background: #7a5bff;
}

.product-step .btn-curri {
  position: absolute;
  top: 11%;
  left: 6.9444%;
  width: 7.1875rem;
  height: 1.75rem;
}

@media screen and (min-width: 720px) {
  .product-step .btn-curri {
    width: 230px;
  }
}

@media screen and (min-width: 720px) {
  .product-step .btn-curri {
    height: 56px;
  }
}

.product-report {
  padding-bottom: 3.125rem;
}

@media screen and (min-width: 720px) {
  .product-report {
    padding-bottom: 100px;
  }
}

.product-report .slide2 {
  margin: 0 6.9444%;
}

.product-report .slide2 .slick-list {
  padding: 0 !important;
}

.product-report .slide2 .slick-slide img {
  width: 100%;
}

.product-report .slide2 .slick-arrow.slick-prev {
  left: -5%;
}

.product-report .slide2 .slick-arrow.slick-next {
  right: -5%;
}

.product-report .slide3 {
  margin: 0 6.9444%;
  margin-top: 3.125rem;
}

@media screen and (min-width: 720px) {
  .product-report .slide3 {
    margin-top: 100px;
  }
}

.product-report .slide3 .slick-list {
  margin: 0 auto;
  padding: 0 !important;
}

.product-report .slide3 .slick-slide {
  z-index: 3;
  margin: 0 -4.6875rem;
  transform: scale(0.8);
  opacity: .4;
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
}

@media screen and (min-width: 720px) {
  .product-report .slide3 .slick-slide {
    margin: 0 -150px;
  }
}

.product-report .slide3 .slick-slide.slick-current {
  z-index: 7;
  transform: scale(1);
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}

.product-report .slide3 .slick-slide img {
  width: 100%;
}

.product-report .btn-pdf {
  width: 63.888%;
  position: relative;
  display: inline-block;
  margin-top: 1.5625rem;
}

@media screen and (min-width: 720px) {
  .product-report .btn-pdf {
    margin-top: 50px;
  }
}

.product-benefit {
  background: #7a5bff;
}

.product-curriculum {
  padding: 3.125rem 0 9.84375rem 0;
  margin: 0 6.9444%;
}

@media screen and (min-width: 720px) {
  .product-curriculum {
    padding: 100px 0 315px 0;
  }
}

.product-curriculum h3.title {
  line-height: 1.4;
  letter-spacing: -6px;
}

.product-curriculum .date span {
  letter-spacing: -2px;
}

.product-curriculum h4.title {
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
  letter-spacing: -5px;
}

@media screen and (min-width: 720px) {
  .product-curriculum h4.title {
    padding-top: 80px;
  }
}

@media screen and (min-width: 720px) {
  .product-curriculum h4.title {
    padding-bottom: 40px;
  }
}

.product-curriculum .date {
  padding-top: 2.1875rem;
}

@media screen and (min-width: 720px) {
  .product-curriculum .date {
    padding-top: 70px;
  }
}

.product-curriculum .noti {
  padding-top: 0.3125rem;
}

@media screen and (min-width: 720px) {
  .product-curriculum .noti {
    padding-top: 10px;
  }
}

.product-curriculum .holder {
  max-width: 620px;
  margin: 0 auto;
}

.product-curriculum .item {
  margin-top: 1.25rem;
  position: relative;
}

@media screen and (min-width: 720px) {
  .product-curriculum .item {
    margin-top: 40px;
  }
}

.product-curriculum .item .core {
  display: none;
}

.product-curriculum .item .btn-toggle {
  display: block;
}

.product-curriculum .item .btn-toggle span {
  position: relative;
  display: block;
}

.product-curriculum .item .btn-toggle span:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 7%;
  display: block;
  border-top-style: solid;
  border-right-style: solid;
  transform: rotate(-45deg);
  width: 2.5vw;
  height: 2.5vw;
  margin-top: -3px;
  border-top-color: #212121;
  border-right-color: #212121;
  border-width: medium;
}

@media screen and (min-width: 720px) {
  .product-curriculum .item .btn-toggle span:after {
    width: 24px;
    height: 24px;
    margin-top: -9px;
  }
}

.product-curriculum .item.active .core {
  display: block;
}

.product-curriculum .item.active .btn-toggle span:after {
  transform: rotate(-225deg);
  margin-top: -10px;
}

.product-special {
  background-color: #006ce2;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_105/product/210504/mobile/bg_special.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
/*# sourceMappingURL=mobile.css.map */