@charset "UTF-8";

.product-eco { position:relative;}
.product-eco * { font-family: 'Noto Sans KR', ' ', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '', 'Gulim', '', 'ü', Sans-Serif; font-weight:400; letter-spacing:-.5px; line-height: normal;}
.product-eco .wrap{ position:relative;max-width:720px;margin:0 auto;}
.product-eco .sr-only{position: absolute;overflow:hidden;width:1px; height: 1px; padding:0; margin:-1px; border:0;clip:rect(0,0,0,0);}
.product-eco .clearfix:after{ content: ''; display: table; clear: both;}
.product-eco img { vertical-align: top;margin:0 auto;}
.product-eco .pointer > img{ animation: 0.4s slideUpY ease-in-out infinite alternate;}
.product-eco p{ margin:0;padding:0;line-height:1;}

.product-eco .section-title{ background:#fff url('https://img.eduwill.net/eduwill/img/2021/_105/product/210312/mobile/bg_title_210709.jpg') no-repeat 50% 0; background-size:cover;}
.product-eco .section-title .date{ position:absolute;top:45.7%;left:0;right:0;display:inline-block;margin:0 auto;width:40%;}
.product-eco .section-title .date > div { line-height:2.5;background:#b8291d;border-radius:40px;text-align:center;font-size:3.73333vw;font-weight:700;color:#fff;}
@media screen and (min-width:720px) {
	.product-eco .section-title .date > div{font-size:28px;}
}
.product-eco .section-title .open-date { position: absolute; top: 4.89%; left: 28.11%; transform: rotate( -3deg); }
.product-eco .section-title .open-date strong { font-size: 5.44vw; font-weight: 800; color: #5ff6ff; }
.product-eco .section-title .open-date strong span { color: #fff; font-weight: 800; }
@media screen and (min-width:720px) {
	.product-eco .section-title .open-date strong { font-size: 38px; font-weight: 800; color: #5ff6ff; }
}

.product-eco .section-benefit1{background:#2b3151 url('https://img.eduwill.net/eduwill/img/2021/_105/product/210312/pc/bg_benefit.jpg') no-repeat 50% 0; background-size:cover;}
.product-eco .section-benefit2{background:#f3f6fb;}
.product-eco .section-bridge{background:#2f3555}
.product-eco .section-teacher{background: #272d4d;}

.product-eco .section-table {padding-bottom: 20%;}
@media screen and (min-width:720px) {
	.product-eco .section-table {padding-bottom: 100px;}
}
.product-eco .holder .item{margin-top:20px}
.product-eco .holder .item:first-child{margin-top:0}
.product-eco .holder .item .core{display:none}

.product-eco .holder .btn-toggle{display:block;text-align:left;font-size:4.722vw;color:#222;border-radius:3px;background-color:#fff;}
.product-eco .holder .btn-toggle span{position:relative;display:block;}
.product-eco .holder .btn-toggle span:after{content:'';position:absolute;top:50%;right:5%;display:block;border-top-style:solid;border-right-style:solid;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);width:2.5vw;height:2.5vw;margin-top:-3px;border-top-color:#212121;border-right-color:#212121;border-width:medium}
.product-eco .holder .item.active .btn-toggle span:after{-webkit-transform:rotate(-225deg);-ms-transform:rotate(-225deg);transform:rotate(-225deg);margin-top:-10px;}
.product-eco .holder .item.active .core{display:block;}
@media only screen and (min-width: 720px) {
	.product-eco .holder .item{margin-top:40px;}
	.product-eco .holder .btn-toggle{font-size:34px;border-radius:6px;}
	.product-eco .holder .btn-toggle span:after{width:1.5vw;height:1.5vw;}
}

.product-eco .section-notice{ text-align:left;padding:5%;font-size: 3.47vw;}
@media screen and (min-width:720px) {
	.product-eco .section-notice{font-size: 24px;}
}

.product-eco .section-course .course .red{ color:#f00 !important;}
.product-eco .section-course .course{text-align:left;letter-spacing:-1px;}
.product-eco .section-course .course li{border-bottom:1rem solid #efefef; padding:13% 4% 0;}
.product-eco .section-course .course li:first-child{padding:11% 4% 0;}
.product-eco .section-course .course li:not(:first-child){padding:7% 4% 0;}
.product-eco .section-course .course li .row{ border-bottom:1px solid #e1e1e1; }
.product-eco .section-course .course .highlight{color:#ff4227;}
.product-eco .section-course .cell-1{font-size:6.1111111111111vw;padding-left:3%;}
.product-eco .section-course .cell-1 em,.product-eco .section-course .cell-1 strong{display:block;}
.product-eco .section-course .cell-1 em{margin-bottom:7%;}
.product-eco .section-course .cell-1 strong{position:relative;font-size:4.4444444444444vw;font-weight:500;margin-bottom:5%;}
.product-eco .section-course .cell-1 strong:after{
	content:'';position:absolute;top:50%;right:5%;width:1.5277777777778vw;height:1.5277777777778vw;margin-top:-1%;border-top:2px solid #444e61;border-right:2px solid #444e61;
	-webkit-transform:rotate(45deg);transform:rotate(45deg);
}
.product-eco .section-course .cell-2{font-size:4.4444444444444vw;font-weight:500;background:#f7f7f7;padding:3% 3.5%;line-height:145%;border-radius:5%;word-break:keep-all;}
.product-eco .section-course .cell-3{text-align:right;padding:7% 5% 5%;}
.product-eco .section-course .cell-3 dl{display:table;width:100%;font-weight:600;}
.product-eco .section-course .cell-3 dl:not(:last-child){margin-bottom:3%;}
.product-eco .section-course .cell-3 dt,.product-eco .section-course .cell-3 dd{display:table-cell;}
.product-eco .section-course .cell-3 dd{width:37%;}
.product-eco .section-course .cell-3 dt{font-size:4.4444444444444vw;}
.product-eco .section-course .cell-3 dd{font-size:5vw;}
@media screen and (min-width:720px) {
	.product-eco .section-course .cell-1{font-size:44px;}
	.product-eco .section-course .cell-1 strong{font-size:32px;}
	.product-eco .section-course .cell-1 strong:after{width:15px;height:15px;}
	.product-eco .section-course .cell-2{font-size:32px;padding:25px 30px;letter-spacing:-2.5px;}
	.product-eco .section-course .cell-3 dt{font-size:32px;}
	.product-eco .section-course .cell-3 dd{font-size:36px;}
}

.product-eco .promotion-map { background:#fff;}
.product-eco .promotion-map {letter-spacing:-1px;}
.product-eco .promotion-map .grab {text-align: left; padding:16% 4% 15%;}
.product-eco .promotion-map .map-title{display: block; font-size:6.11vw;  margin-bottom:5%;}
.product-eco .promotion-map .map-sub-title{font-size:5.55vw; margin-top: 5%;}
.product-eco .promotion-map dl { padding: 7% 0;}
.product-eco .promotion-map dl:nth-of-type(1){border-bottom: 1px solid #e1e1e1;}
.product-eco .promotion-map dl dt{font-size:4.444444444444445vw; font-weight: 600; margin-bottom: 2%;}
.product-eco .promotion-map dl dd{font-size:4.444444444444445vw; font-weight: 400;}
.product-eco .promotion-map dl dd:not(:last-child){margin-bottom: 1%;}
.product-eco .promotion-map dl dd span{display: block;}
.product-eco .promotion-map dl dd ul li:not(:last-child){margin-bottom: 1%;}
.product-eco .promotion-map .notice{font-size: 3.47vw;}
@media screen and (min-width:720px) {
	.product-eco .promotion-map .map-title{font-size:44px}
	.product-eco .promotion-map .map-sub-title{font-size:40px}
	.product-eco .promotion-map dl dt{font-size: 32px;}
	.product-eco .promotion-map dl dd{font-size: 32px;}
	.product-eco .promotion-map .notice{font-size: 25px;}
}

/* ????? */
.product-eco .section-table { background:#fff; padding: 0 4.16% 10.25% 4.16%; }
.product-eco .section-table .table-title strong { font-size: 6.38vw; font-weight: 700; color: #000;  }
.product-eco .section-table .tablecurri { margin-top: 5%; padding-bottom: 0; }
.product-eco .section-table .tablecurri .table {  table-layout: fixed; width:100%;background:none;margin-bottom: 0; border-top: none; }
.product-eco .section-table .tablecurri .table th, 
.product-eco .section-table .tablecurri .table td{ line-height:1.5; color:#202020; font-family:'Noto Sans KR', Sans-Serif; letter-spacing: -2px; font-size: 2.917vw !important; padding:7px !important; }
.product-eco .section-table .tablecurri .table th:not(:last-child),.product-eco .section-table .tablecurri .table td:not(:last-child){ border-right: 1px solid #e0e0e0; }
.product-eco .section-table .tablecurri .table th { border-bottom: 1px solid #e0e0e0; background:#efefef; }
.product-eco .section-table .tablecurri .table td{ border-bottom: 1px solid #e0e0e0; }
.product-eco .section-table .tablecurri .table th:first-child { border-left: 0; }
.product-eco .section-table.time-table .tablecurri .table th{ font-weight: bold; background: #2a3250; color: #fff; }
.product-eco .section-table.time-table .tablecurri .table .blnone td { background: #efefef; font-weight: 600; }
.product-eco .section-table .notice { letter-spacing: -1px; text-align: left; font-size: 2.44vw; font-weight: 400; color: #aaaaaa; margin-top: 2%; }
@media only screen and (min-width: 720px) {
	.product-eco .section-table .table-title strong { font-size: 46px; }
	.product-eco .notice { font-size: 18px; }
	.product-eco .section-table .notice { font-size: 18px; }
	.product-eco .section-table .tablecurri .table th, .product-eco .section-table .tablecurri .table td{ font-size: 21px !important; padding: 8px !important; }
}

/* animation */
@-webkit-keyframes slideUpY {
	0%{-webkit-transform:translate(0,10px);transform:translate(0,10px)}
	100%{-webkit-transform:translate(-10px,0);transform:translate(-10px,0)}
}
@keyframes slideUpY {
	0%{-webkit-transform:translate(0,10px);transform:translate(0,10px)}
	100%{-webkit-transform:translate(-10px,0);transform:translate(-10px,0)}
}
@-webkit-keyframes bounce {
	0%,100%{-webkit-transform:translateY(10px);transform:translateY(10px)}
	50%{-webkit-transform:translateY(-10px);transform:translateY(-10px)}
}
@keyframes bounce {
	0%,100%{-webkit-transform:translateY(10px);transform:translateY(10px)}
	50%{-webkit-transform:translateY(-10px);transform:translateY(-10px)}
}