@charset "UTF-8";
.grid, .product-eco .sector-benefit .list-group ul, .product-eco .guard-teacher .teacher-main {
  *zoom: 1;
}

.grid:before, .product-eco .sector-benefit .list-group ul:before, .product-eco .guard-teacher .teacher-main:before, .grid:after, .product-eco .sector-benefit .list-group ul:after, .product-eco .guard-teacher .teacher-main:after {
  content: '';
  display: table;
}

.grid:after, .product-eco .sector-benefit .list-group ul:after, .product-eco .guard-teacher .teacher-main:after {
  clear: both;
}

.hidden,
.sr_only,
.sr-only,
.popup.popup-base .popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.table {
  display: table;
}

.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.effect-bounce-diagonal {
  -webkit-animation-name: effectBounceDiagonal;
          animation-name: effectBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  -webkit-animation-name: effectBounceUpDown;
          animation-name: effectBounceUpDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.effect-extend {
  -webkit-animation-name: effectExtend;
          animation-name: effectExtend;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

@keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

.effect-blink {
  -webkit-animation-name: effectBlink;
          animation-name: effectBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
  }
}

.bounce {
  animation: bounce 2s infinite both;
  -webkit-animation: bounce 2s infinite both;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@-webkit-keyframes bgChange {
  0%, 100% {
    background-color: #fff;
  }
  50% {
    background: #fff9d0;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff9d0), to(#ffe86a));
    background: linear-gradient(to bottom, #fff9d0 0%, #ffe86a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff9d0', endColorstr='#ffe86a',GradientType=0 );
  }
}

@-webkit-keyframes bgColorChange {
  0%, 100% {
    background-color: #fff;
  }
  50% {
    background: #fff9d0;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff9d0), to(#ffe86a));
    background: linear-gradient(to bottom, #fff9d0 0%, #ffe86a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff9d0', endColorstr='#ffe86a',GradientType=0 );
  }
}

@keyframes bgColorChange {
  0%, 100% {
    background-color: #fff;
  }
  50% {
    background: #fff9d0;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff9d0), to(#ffe86a));
    background: linear-gradient(to bottom, #fff9d0 0%, #ffe86a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff9d0', endColorstr='#ffe86a',GradientType=0 );
  }
}

.product-eco {
  position: relative;
  text-align: center;
  background-color: #fff;
  margin: 0;
  letter-spacing: -1px;
  /* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
  /* input type number 에서 화살표 제거 */
  /* Select box 스타일 초기화 */
  /* IE 에서 Select box 화살표 제거 */
}

.product-eco *, .product-eco *:before, .product-eco *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif !important;
}

.product-eco img {
  border: 0;
  vertical-align: top;
  line-height: 0;
  font-size: 0;
}

.product-eco input::-ms-clear {
  display: none;
}

.product-eco input[type=number]::-webkit-inner-spin-button,
.product-eco input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.product-eco select {
  border-radius: 0;
  /* 아이폰 사파리 보더 없애기 */
  -webkit-appearance: none;
  /* 화살표 없애기 for chrome*/
  -moz-appearance: none;
  /* 화살표 없애기 for firefox*/
  appearance: none;
}

.product-eco select::-ms-expand {
  display: none;
}

.product-eco .slick-dots {
  width: 100%;
  margin-top: 2.77778vw;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots {
    margin-top: 20px;
  }
}

.product-eco .slick-dots li {
  display: inline-block;
  margin: 0 0.83333vw;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li {
    margin: 0 6px;
  }
}

.product-eco .slick-dots li button {
  cursor: pointer;
  text-indent: -10000em;
  border: 0;
  border-radius: 50%;
  width: 2.77778vw;
  height: 2.77778vw;
  background: #adadad;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li button {
    width: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li button {
    height: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li button {
    width: 2.08333vw;
    height: 2.08333vw;
  }
}

@media screen and (min-width: 720px) and (min-width: 720px) {
  .product-eco .slick-dots li button {
    width: 15px;
  }
}

@media screen and (min-width: 720px) and (min-width: 720px) {
  .product-eco .slick-dots li button {
    height: 15px;
  }
}

.product-eco .slick-dots li.slick-active button {
  width: 5.27778vw;
  border-radius: 15px;
  background: #ffc20e;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li.slick-active button {
    width: 38px;
  }
}

.product-eco .slick-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  display: block;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  font-size: 0;
  color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: -1.25rem;
  width: 2.5rem;
  height: 2.5rem;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow {
    margin-top: -40px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow {
    width: 80px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow {
    height: 80px;
  }
}

.product-eco .slick-arrow.slick-prev {
  margin-left: -600px;
  background: url("https://img.eduwill.net/eduwill/img/2022/K/product/220111/pc/btn_prev.png") right top no-repeat;
  background-size: cover;
}

.product-eco .slick-arrow.slick-next {
  margin-left: 520px;
  background: url("https://img.eduwill.net/eduwill/img/2022/K/product/220111/pc/btn_next.png") right top no-repeat;
  background-size: cover;
}

.product-eco .text-light {
  color: #fff !important;
}

.product-eco .text-left {
  text-align: left !important;
}

.product-eco .text-center {
  text-align: center !important;
}

.product-eco .highlight {
  color: #ff9700 !important;
}

.promotion,
.product,
.product-eco,
.fullservice {
  text-align: center;
}

.promotion [class^="sector-"],
.product [class^="sector-"],
.product-eco [class^="sector-"],
.fullservice [class^="sector-"] {
  position: relative;
}

.promotion .wrap,
.product .wrap,
.product-eco .wrap,
.fullservice .wrap {
  position: relative;
  margin: 0 auto;
}

.promotion .wrap-full,
.product .wrap-full,
.product-eco .wrap-full,
.fullservice .wrap-full {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.dimmed {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 300;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  display: none;
  position: absolute;
  left: 50%;
  width: 90%;
  max-width: 720px;
  margin: 0 auto;
  z-index: 300;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 1100px) {
  .popup {
    max-width: 1000px;
  }
}

.popup * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.popup.popup-base {
  border-radius: 0;
}

.popup.popup-base .popup-body {
  /*@include vw(max-height, 600px);
            overflow-y: auto;*/
  padding: 3.47222vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  line-height: 1.4;
  font-size: 3.33333vw;
  letter-spacing: -0.13889vw;
  font-weight: 400;
  color: #666;
  border: 2px solid #000;
  background-color: #fff;
}

@media screen and (min-width: 720px) {
  .popup.popup-base .popup-body {
    padding: 25px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-base .popup-body {
    font-size: 24px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-base .popup-body {
    letter-spacing: -1px;
  }
}

.popup.popup-base .popup-body p {
  margin: 0;
  color: #666;
  line-height: 1.4;
  font-size: 2.22222vw;
  letter-spacing: -0.13889vw;
}

@media screen and (min-width: 720px) {
  .popup.popup-base .popup-body p {
    font-size: 16px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-base .popup-body p {
    letter-spacing: -1px;
  }
}

.popup.popup-base .popup-body .base-title {
  margin-top: 2.77778vw;
}

@media screen and (min-width: 720px) {
  .popup.popup-base .popup-body .base-title {
    margin-top: 20px;
  }
}

.popup.popup-base .popup-body .base-title:first-child {
  margin-top: 0;
}

.popup.popup-base .popup-body strong {
  display: block;
  color: #000;
  font-size: 3.88889vw;
  margin: 1.94444vw 0 1.11111vw;
}

@media screen and (min-width: 720px) {
  .popup.popup-base .popup-body strong {
    font-size: 28px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-base .popup-body strong {
    margin: 14px 0 8px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-base .popup-body {
    font-size: 16px;
  }
  .popup.popup-base .popup-body p {
    font-size: 16px;
  }
  .popup.popup-base .popup-body strong {
    font-size: 18px;
  }
}

.popup.popup-base .popup-close {
  position: absolute;
  top: -40px;
  right: 0;
  background-color: #000;
  cursor: pointer;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.popup.popup-base .popup-close {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 10px;
  cursor: pointer;
}

.popup.popup-base .popup-close:before, .popup.popup-base .popup-close:after {
  content: '';
  display: block;
  width: 140%;
  height: 2px;
  background: #fff;
}

.popup.popup-base .popup-close:before {
  margin-top: -0.5px;
  margin-left: 1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.popup.popup-base .popup-close:after {
  margin-left: -41%;
  margin-top: -2px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.popup.popup-base .popup-close:before, .popup.popup-base .popup-close:after {
  position: static;
}

.product-eco * {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -.5px;
}

.product-eco .wrap {
  max-width: 720px;
}

.product-eco .icon-pointer {
  position: relative;
  display: inline-block;
}

.product-eco .icon-pointer:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  display: block;
  width: 1.78125rem;
  height: 2.03125rem;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .icon-pointer:after {
    width: 57px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .icon-pointer:after {
    height: 65px;
  }
}

@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.product-eco .item {
  position: relative;
}

.product-eco .blink {
  -webkit-animation: bgChange 1s step-start infinite;
  animation: bgChange 1s step-start infinite;
}

.product-eco .btn {
  position: relative;
  display: inline-block;
  border: 1px solid #bbb;
  padding: 5px 20px 5px 10px;
  color: #999;
  font-size: 2.77778vw;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .product-eco .btn {
    font-size: 20px;
  }
}

.product-eco .btn:after {
  content: '';
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 0.15625rem;
  height: 0.15625rem;
  margin-top: -0.07812rem;
  border-width: 0;
  border-style: solid;
  border-color: #999;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-width: 1px;
  border-right-width: 1px;
  margin-left: 0;
  left: auto;
  right: 2.36111vw;
}

@media screen and (min-width: 720px) {
  .product-eco .btn:after {
    width: 5px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .btn:after {
    height: 5px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .btn:after {
    margin-top: -2.5px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .btn:after {
    right: 17px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .btn:after {
    right: 10px;
  }
}

.product-eco .btn-text {
  border-color: #222;
  color: #222;
  background-color: #fff;
}

.product-eco .btn-text:after {
  border-color: #222;
}

.product-eco .subtitle {
  padding: 0 0 0 6.94444vw;
}

@media screen and (min-width: 720px) {
  .product-eco .subtitle {
    padding: 0 0 0 50px;
  }
}

.product-eco .subtitle > div {
  color: #222;
  line-height: 1;
  text-align: left;
}

.product-eco .subtitle > div.sub {
  font-size: 3.33333vw;
  font-weight: 500;
  line-height: 1.3;
}

@media screen and (min-width: 720px) {
  .product-eco .subtitle > div.sub {
    font-size: 24px;
  }
}

.product-eco .subtitle > div.sub strong {
  font-weight: 700;
}

.product-eco .subtitle > div.main {
  font-size: 5.55556vw;
  margin-top: 1.38889vw;
  line-height: 1.3;
  font-weight: 900;
}

@media screen and (min-width: 720px) {
  .product-eco .subtitle > div.main {
    font-size: 40px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .subtitle > div.main {
    margin-top: 10px;
  }
}

.product-eco .subtitle > div.main strong {
  font-weight: 900;
}

.product-eco .subtitle > div.notice {
  margin-top: 4.16667vw;
  color: #999;
  font-size: 2.77778vw;
  line-height: 1.3;
}

@media screen and (min-width: 720px) {
  .product-eco .subtitle > div.notice {
    margin-top: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .subtitle > div.notice {
    font-size: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .subtitle > div.notice {
    font-size: 14px;
  }
}

.product-eco .subtitle.fly {
  position: absolute;
  left: 6.94444vw;
  top: 13.88889vw;
  width: 86.11111vw;
  z-index: 7;
  padding: 0;
}

@media screen and (min-width: 720px) {
  .product-eco .subtitle.fly {
    left: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .subtitle.fly {
    top: 100px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .subtitle.fly {
    width: 620px;
  }
}

.product-eco .subtitle.fly > div:first-child {
  margin-top: 0;
}

.product-eco .sector-title {
  background: url("https://img.eduwill.net/eduwill/img/2022/K/product/220111/mobile/bg_title.jpg") 50% 0 no-repeat;
  background-size: cover;
}

.product-eco .sector-title:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 6.38889vw;
  z-index: 1;
  background: url("https://img.eduwill.net/eduwill/img/2022/K/product/220111/mobile/bg_arrow.png") right top no-repeat;
  background-size: cover;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-title:after {
    height: 46px;
  }
}

.product-eco .sector-benefit {
  padding-bottom: 18.05556vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-benefit {
    padding-bottom: 130px;
  }
}

.product-eco .sector-benefit .benefit-title {
  padding-top: 12.5vw;
  font-size: 8.33333vw;
  letter-spacing: -0.41667vw;
  font-weight: 900;
  color: #000;
  line-height: 1.2;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-benefit .benefit-title {
    padding-top: 90px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-benefit .benefit-title {
    font-size: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-benefit .benefit-title {
    letter-spacing: -3px;
  }
}

.product-eco .sector-benefit .benefit-title strong {
  font-weight: 900;
  color: #1c51cc;
  line-height: 1.2;
  letter-spacing: -0.41667vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-benefit .benefit-title strong {
    letter-spacing: -3px;
  }
}

.product-eco .sector-benefit .list-group {
  width: 86.11111%;
  margin: 8.33333vw auto 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-benefit .list-group {
    margin: 60px auto 0;
  }
}

.product-eco .sector-benefit .list-group ul {
  text-align: center;
}

.product-eco .sector-benefit .list-group ul li {
  float: left;
  position: relative;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  width: 48.3871%;
  margin-left: 3.22581%;
  margin-bottom: 2.77778vw;
  border-radius: 0 4.16667vw 0 4.16667vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 14px 14px 30px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 14px 14px 30px 0px rgba(0, 0, 0, 0.18);
}

@media screen and (min-width: 720px) {
  .product-eco .sector-benefit .list-group ul li {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-benefit .list-group ul li {
    border-radius: 0 30px 0 30px;
  }
}

.product-eco .sector-benefit .list-group ul li.half {
  width: 100%;
  margin-left: 0;
}

.product-eco .sector-benefit .list-group ul li:nth-child(2n) {
  margin-left: 0;
}

.product-eco .sector-benefit .list-box {
  position: absolute;
  top: 5.55556vw;
  left: 4.44444vw;
  text-align: left;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-benefit .list-box {
    top: 40px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-benefit .list-box {
    left: 32px;
  }
}

.product-eco .sector-benefit .list-title {
  color: #222;
  font-size: 4.16667vw;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: -1px;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-benefit .list-title {
    font-size: 30px;
  }
}

.product-eco .sector-benefit .list-title strong {
  letter-spacing: -1px;
  font-weight: 900;
  color: #1c51cc;
  line-height: 1.3;
}

.product-eco .sector-benefit-plus {
  background: #1832a3;
  background: -webkit-gradient(linear, left top, left bottom, from(#1832a3), to(#1a2f8a));
  background: linear-gradient(to bottom, #1832a3 0%, #1a2f8a 100%);
}

.product-eco .sector-benefit-plus .wrap > img {
  position: relative;
  top: -8.19444vw;
  z-index: 1;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-benefit-plus .wrap > img {
    top: -59px;
  }
}

.product-eco .sector-bar {
  background: url("https://img.eduwill.net/eduwill/img/2022/K/product/220111/mobile/bg_bar.jpg") 50% 0 no-repeat;
  background-size: cover;
}

.product-eco .sector-bar.arrow:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  width: 35.69444vw;
  height: 10.27778vw;
  bottom: -10.13889vw;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url("https://img.eduwill.net/eduwill/img/2022/K/product/220111/pc/bar_arrow.png") 50% 0 no-repeat;
  background-size: cover;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-bar.arrow:after {
    width: 257px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-bar.arrow:after {
    height: 74px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-bar.arrow:after {
    bottom: -73px;
  }
}

.product-eco .sector-bar.apply-title:after {
  display: none;
}

.product-eco .sector-bar-3 {
  background: url("https://img.eduwill.net/eduwill/img/2022/K/product/220111/mobile/bg_bar_3.jpg") 50% 0 no-repeat;
  background-size: cover;
}

.product-eco .sector-bar-3:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 6.38889vw;
  z-index: 1;
  background: url("https://img.eduwill.net/eduwill/img/2022/K/product/220111/mobile/bg_arrow.png") right top no-repeat;
  background-size: cover;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-bar-3:after {
    height: 46px;
  }
}

.product-eco .sector-perfect {
  background: #ffbf00;
  background: -webkit-gradient(linear, left top, right top, from(#ffbf00), to(#ffea00));
  background: linear-gradient(to right, #ffbf00 0%, #ffea00 100%);
}

.product-eco .sector-perfect .slick-arrow.slick-prev {
  margin-left: 0;
  left: 2%;
}

.product-eco .sector-perfect .slick-arrow.slick-next {
  margin-left: 0;
  left: auto;
  right: 2%;
}

.product-eco .sector-review {
  padding-bottom: 8.33333vw;
  background: #ffbf00;
  background: -webkit-gradient(linear, left top, right top, from(#ffbf00), to(#ffea00));
  background: linear-gradient(to right, #ffbf00 0%, #ffea00 100%);
}

@media screen and (min-width: 720px) {
  .product-eco .sector-review {
    padding-bottom: 60px;
  }
}

.product-eco .sector-review .review-list {
  padding-top: 4.16667vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-review .review-list {
    padding-top: 30px;
  }
}

.product-eco .sector-review .review-list .slick-slide {
  margin: 0 -2.77778vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-review .review-list .slick-slide {
    margin: 0 -20px;
  }
}

.product-eco .sector-winner {
  padding-bottom: 8.33333vw;
  overflow: hidden;
  background: url("https://img.eduwill.net/eduwill/img/2022/K/product/220111/mobile/bg_winner.jpg") 50% 0 no-repeat;
  background-size: cover;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-winner {
    padding-bottom: 60px;
  }
}

.product-eco .sector-winner .winner-contents {
  position: relative;
  top: -2.77778vw;
  margin: 0;
  width: 100%;
  z-index: 100;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-winner .winner-contents {
    top: -20px;
  }
}

.product-eco .sector-winner .winner-contents .winner-list {
  -webkit-transform: perspective(300px) rotateX(30deg);
  transform: perspective(300px) rotateX(30deg);
}

.product-eco .sector-winner .winner-contents .winner-list .slick-track {
  -webkit-transform: translate(0) !important;
  transform: translate(0) !important;
}

.product-eco .sector-winner .winner-contents .winner-list a {
  display: block;
}

.product-eco .sector-winner .winner-contents .winner-list p {
  color: #000;
  font-size: 4.16667vw;
  margin: 0.69444vw 0;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-winner .winner-contents .winner-list p {
    font-size: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-winner .winner-contents .winner-list p {
    margin: 5px 0;
  }
}

.product-eco [class^="sector-reason-"] {
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #fff), color-stop(90%, #f4f4f4));
  background: linear-gradient(to bottom, #fff 60%, #f4f4f4 90%);
}

.product-eco .sector-reason-4 .typing {
  position: absolute;
  left: 11.94444vw;
  top: 47.5vw;
  font-size: 5.27778vw;
  letter-spacing: -0.27778vw;
  line-height: 10.27778vw;
  color: #022222;
  font-weight: 900;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-reason-4 .typing {
    left: 86px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-reason-4 .typing {
    top: 342px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-reason-4 .typing {
    font-size: 38px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-reason-4 .typing {
    letter-spacing: -2px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-reason-4 .typing {
    line-height: 74px;
  }
}

.product-eco .sector-reason-4 .typing:after {
  content: '';
  position: relative;
  top: -2px;
  display: inline-block;
  -webkit-animation-name: cursor;
          animation-name: cursor;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  width: 2px;
  height: 20px;
  background-color: #fff;
  vertical-align: middle;
}

@-webkit-keyframes cursor {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #022222;
  }
  100% {
    background-color: #fff;
  }
}

@keyframes cursor {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #022222;
  }
  100% {
    background-color: #fff;
  }
}

.product-eco .guard-prize .col {
  position: relative;
}

.product-eco .sector-unbreakable {
  background: #f8f7f0 !important;
}

.product-eco .sector-unbreakable .unbreakable-list:before {
  background: #f8f7f0;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f7f0), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #f8f7f0 0%, rgba(255, 255, 255, 0) 100%);
}

.product-eco .sector-unbreakable .unbreakable-list:after {
  background: #f8f7f0;
  background: -webkit-gradient(linear, left bottom, left top, from(#f8f7f0), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, #f8f7f0 0%, rgba(255, 255, 255, 0) 100%);
}

.product-eco .guard-book .btn-base {
  position: absolute;
  z-index: 1;
  top: 29.72222vw;
  right: 6.94444vw;
}

@media screen and (min-width: 720px) {
  .product-eco .guard-book .btn-base {
    top: 214px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .guard-book .btn-base {
    right: 50px;
  }
}

.product-eco .guard-teacher {
  padding-bottom: 13.88889vw;
}

@media screen and (min-width: 720px) {
  .product-eco .guard-teacher {
    padding-bottom: 100px;
  }
}

.product-eco .guard-teacher .teacher-main {
  width: 86.11111%;
  margin: 8.33333vw auto 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .product-eco .guard-teacher .teacher-main {
    margin: 60px auto 0;
  }
}

.product-eco .guard-teacher .teacher-main a {
  position: relative;
  float: left;
  width: 48.3871%;
  margin-left: 3.22581%;
  margin-bottom: 5.55556vw;
}

@media screen and (min-width: 720px) {
  .product-eco .guard-teacher .teacher-main a {
    margin-bottom: 40px;
  }
}

.product-eco .guard-teacher .teacher-main a:nth-child(odd) {
  margin-left: 0;
}

.product-eco .guard-lecture {
  padding-bottom: 13.88889vw;
}

@media screen and (min-width: 720px) {
  .product-eco .guard-lecture {
    padding-bottom: 100px;
  }
}

.product-eco .sector-service {
  background: #fcf8eb;
}

.product-eco .sector-service .wrap > img {
  position: relative;
  top: -7.77778vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-service .wrap > img {
    top: -56px;
  }
}
/*# sourceMappingURL=mobile.css.map */