@charset "utf-8";

// Core variables and mixins
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/extend";

// @import "module/comment";
@import "module/popup";

body {
	overflow-x: hidden;
}
@keyframes bounce {
	0%,100% {
		transform: translateY(10px);
	}
	50% {
		transform: translateY(-10px);
	}
}
.tit-area {
	position:relative;
	&:before {
		content:'';
		position:absolute;
		bottom:-75px;
		left:50%;
		z-index:5;
		transform:translateX(-50%);
		width:309px;
		height:76px;
		background:url(https://img.eduwill.net/eduwill/img/2021/Q/product/210804/pc/tit_bg_arr.png) no-repeat 50% 50%;
	}
}

[class^=slider] {
	.slide-item {
		text-align:center;
		img {
			display:inline-block;
		}
	}
	.slick-dots {
		text-align:center;
		font-size:0;
		li {
			display:inline-block;
			padding:0 5px;
			button {
				width:14px;
				height:14px;
				border-radius:7px;
				background-color:#b2b2b2;
				font-size:0;
				text-indent:-99999px;
				line-height:0;
			}
			&.slick-active {
				button {
					width:38px;
					background-color:#ffc20e;
					transition:all .3s;
				}
			}
		}
	}
}
.product {
	
	&-visual {
		background:url(https://img.eduwill.net/eduwill/img/2021/Q/product/210804/pc/visual_bg_2.jpg) no-repeat 50% 50%;
		background-size:cover;
		height:1031px;
		.deco{
			position:absolute;
			bottom: -58px;
			left: 55%;
			//margin-left:82px;
			
		}
		.btn-popup {
			position: absolute;
			top: 72px;
			right: 56px;
		}
		.motion-group{
			position: absolute;
			left: 0;
			top: 112px;
			width: 100%;
			text-align: center;
			.motion{
				&.motion-2{
					
					margin-top:80px;
					span{
						opacity: 0;
					}
				}
				&.motion-3{
					
					margin-top:30px;
					span{
						opacity: 0;
					}
				}
				&.motion-4{
					
					margin-top:60px;
					span{
						opacity: 0;
					}
				}
			}
			
		}
	}

	&-cont1 {
		.price-area {
            position:relative;
			.num {
				font-family:$font-roboto;
			}
			.price {
				position:absolute;
				font-weight:700;
				text-align:left;
				line-height:1.1;
				letter-spacing:-1px;
                top:215px;
				.before {
					margin-left:7px;
					color:#bbb;
					font-size:30px;
					text-decoration:line-through;
				}
				.after {
					color:#eb2200;
					font-size:40px;
					.num {
						font-size:60px;
					}
				}
                &.price1{
				    left: 90px;
                }
                &.price2{
                    left: 465px;
                }
                &.price3{
				    left: 845px;
                }
			}
			.btn-area {
                .btn{
                    position:absolute;
                    left:0;
                    bottom:160px;   
                    &.btn1{
                        left:75px;
                    }
                    &.btn2{
                        left:450px;
                    }
                    &.btn3{
                        left:825px;
                    }
                }
				.btn-link {
					position:absolute;
					bottom:-27px;
					left:50%;
					transform:translateX(-50%);
					width:200px;
					height:36px;
					text-indent:-99999px;
				}
			}
		}
	}
	&-cont2 {
		position: relative;
		.text{
			font-family: $font-noto;
			font-size: 22px;
			position: absolute;
			bottom: 730px;
			left: 57px;
			font-weight: 900;
			color: #202020;
		}
		.btn1{
			position:absolute;
			right: 10px;
			top:233px;

		}
	}

	&-cont3 {
		position: relative;
		background:#1832a3;
		background:linear-gradient(0deg, rgba(25,47,135,1) 0%, rgba(25,49,151,1) 50%, rgba(24,50,163,1) 100%);
		&:before {
			content:'';
			position:absolute;
			top:-55px;
			left:50%;
			transform:translateX(-50%);
			width:132px;
			height:132px;
			background:url(https://img.eduwill.net/eduwill/img/2021/Q/product/210804/pc/cont3_plus.png) no-repeat 50% 50%;
		}

		[class^=tag] {
			position:absolute;
			top:366px;
			animation:bounce 2s infinite both;
		}
		.tag1 {
			left:482px;
		}
		.tag2 {
			left:1062px;
		}
	}

	&-cont5 .tit-area {
		background:url(https://img.eduwill.net/eduwill/img/2021/Q/product/210804/pc/cont5_tit_bg.jpg) no-repeat 50% 50%;
		background-size:cover;
	}

	&-cont8 .tit-area {
		background:url(https://img.eduwill.net/eduwill/img/2021/Q/product/210804/pc/cont8_tit_bg.jpg) no-repeat 50% 50%;
		background-size:cover;
	}
	&-cont10 .tit-area {
		background:url(https://img.eduwill.net/eduwill/img/2021/Q/product/210804/pc/cont10_tit_bg.jpg) no-repeat 50% 50%;
		background-size:cover;
	}

    &-eco {
		overflow-x: hidden;
        * {
            line-height: normal;
            font-family: $font-noto;
            letter-spacing: -1px;
        }
        .container {
            position: relative;
            background-repeat: no-repeat;
            background-position: center top;
        }
        .wrap {
            position: relative;
            width: 1200px;
            margin: 0 auto;
            text-align: center;
            &-full {
                width: 100%;
            }
        }
        .holder { position: relative; }
        p {
			line-height:100%;
            margin: 0;
            text-align: left;
            font-size: 14px;
            color: #666;
            &.notice { margin-top: 10px; }
            &.brand,
            &.survey { position: absolute; }
        }
        .fixbanner {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            background: #75fffc;
            z-index: 777;
            .pointer{
                position: absolute;
                top: 50px;
                right: 20px;
                img {
                    width: 70%;
                    animation: 0.6s slideUpY ease-in-out infinite alternate;    
                }
            }
        }
        .floatbanner{
            position: fixed;
            top: 300px;
            left: 50%;
            margin-left: 620px;
            z-index: 99999;
            width: 133px;
        }

        .slider-contents {
            position: relative;
            padding: 60px 0;
			img{
				margin: auto;
			}
            .slick-arrow {
                position: absolute;
                top: 50%;
                z-index: 1;
                width: 40px;
                height: 40px;
                margin-top: -20px;
                font-size: 0;
                border: none;
                background: none;
                outline: none;
                cursor: pointer;
                &.slick-prev {
                    left: -40px;
                    &:before { right: 0; @include arrow(left, 30px, 30px, 3px, #797979); }
                }
                &.slick-next {
                    right: -40px;
                    &:before { left: 0; @include arrow(right, 30px, 30px, 3px, #797979); }
                }
			}
			.slick-dots {
				width: 100%;
				margin-top: 30px;
				text-align: center;
				li {
					display: inline-block;
					margin: 0 6px;
					button {
						width: 20px;
						height: 20px;
						text-indent: -9999em;
						border: none;
						border-radius: 50%;
						background-color: #b2b2b2;
						outline: none;
						cursor: pointer;
					}
					&.slick-active {
						button {
							width: 70px;
							border-radius: 15px;
							background-color: #ffc20e;
						}
					}
				}
			}
		}

		.right-banner {
            position: fixed;
            top: 290px;
            right: 0%;
            z-index: 10;
			a {
				display: block;
				&:not(:first-child){
					margin-top: 6px;
				}
			}
        }

		.banner-follow {
            position: fixed;
            top: 20%;
            left: 50%;
            z-index: 10;
            margin-left: 650px;
            & > div {
                margin-top: 20px;
                &:first-child { margin-top: 0; }
            }
		}
		
		.winner-wrap {
			position: relative;
			padding: 0px 30px;
			perspective: 670px;
			height: 238px;
			
			.winner-list{
				transform: rotateX(40deg);
				p {
					line-height: 2;
					font-size: 18px;
					font-weight: 400;
					color: #222;
					text-align: center;
				}
			}
			.winner-list {
				width: 1040px;
				height: 260px;
			}
		}
    
		.action{
			a{
				position: relative;
				display: inline-block;
			}
		}
		.pointer {
			&:after {
				content: '';
				position: absolute;
				top:65px; 
				right:10px; 
				display: block;
				width: 80px;
				height: 80px;
				background: url('#{$img-common-path}/icon/pointer/icon_pointer_20.png') no-repeat 0 0;
				background-size: contain;
				@include animation(pointerBounce, .8s, $iteration: infinite){
					0%, 100% { @include translateXY(0, 0); }
					50% { @include translateXY(10px, 10px); }
				}
			}
		}
	}


    &-top {
        background-color: #22223a;
        .brand {
            top: 42px;
            left: 50%;
            margin-left: 150px;
            color: rgba(255, 255, 255, .8);
        }
    }

    &-title {
        z-index: 1;
        background-color: #060606;
        background-image: url('#{$img-path}/pc/bg_title.jpg');
		background-repeat: no-repeat;
		background-position: 50% 50%;
        background-size: cover;
		.action{
			position: absolute;
			top: 30px;
			right: 0;
		}
    }

    &-benefit {
		background-color: #f3f3f3;
        background: #ffc20e;
		padding-bottom: 120px;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			right: 0;
			top: -94px;
			width: 550px;
			height: 95px;
			background: url('#{$img-path}/pc/line_yellow.png') 0 0 no-repeat;
		}
		.content-benefit{
			margin-top: -160px;
			margin-left: -17px;
		}
		.text{
			font-family: $font-roboto;
			position: absolute;
			top: -108px;
			font-size: 30px;
			font-weight: 900;
			color: #202020;
			left: 453px;
			letter-spacing: -2px;
		}
    }

	
	&-raise{
		background-color: #f3f3f3;
	}

	&-cont4 {
		background:url(https://img.eduwill.net/eduwill/img/2021/Q/product/210804/pc/cont4_bg.jpg) no-repeat 50% 50%;
		background-size:cover;
        padding-bottom: 600px;
		.btn {
			position:absolute;
            top: 60px;
            left: 1060px;
		}
		.winner-contents {
			width: 1100px;
			position: absolute;
			left: 50%;
			bottom: -365px;
			transform: translateX(-50%);
			.winner-list {
				transform: perspective(300px) rotateX(45deg);
				p {
					margin: 10px 0;
					color: #222;
					font-size: 16px;
					font-weight: 700;
					text-align: center;
				}
			 }
		}
	}

	&-cont5 {
		background:#f4f4f4;
		background: linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 20%);

		.btn {
			position:absolute;
			top:20px;
			right:50px;
		}

		.typing {
			position:absolute;
			top:434px;
			left:83px;
			color:#022222;
			font-size:40px;
			font-weight:900;
			line-height:1;
			letter-spacing: -1px;
			&:after {
				content: '';
				display: inline-block;
				position: relative;
				top: -5px;
				margin-left:8px;
				animation-name: cursor;
				animation-duration: 0.3s;
				animation-iteration-count: infinite;
				width: 2px;
				height: 40px;
				background-color: #fff;
				vertical-align: middle;
			}
			@keyframes cursor {
				0% {
				  background-color: #fff;
				}
				50% {
				  background-color: #022222;
				}
				100% {
				  background-color: #fff;
				}
			  }
		}
	}

	&-cont6 {
		background:#f4f4f4;
		background: linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 20%);

		
	}


	&-cont8 {
		padding-bottom:130px;
		.ico {
			position:absolute;
			top:260px;
			right:-66px;
			animation:bounce 2s infinite both;
		}
		.slider-wrap {
			position:relative;
			height:600px;
			.slider-video {
				position:absolute;
				top:50%;
				left:50%;
				transform:translate(-50%,-50%);
				width:1800px;
				.slick-list {
					padding:25px 0 !important;
				}
				.slick-slide {
					position:relative;
					width:640px;
					height:450px;
					.slide-item {
						position:absolute;
						top:50%;
						left:50%;
						transform:translate(-50%,-50%);
						width:550px !important;
						border-radius:30px;
						overflow: hidden;
						box-shadow:0 0 25px 0 rgba(0, 0, 0, 0.2);
						&:before {
							content:'';
							position:absolute;
							top:50%;
							left:50%;
							transform:translate(-50%,-50%);
							width:550px;
							height:309px;
							border-radius:30px;
							background-color:rgba(0,0,0,.4);
						}
						img {
							width:100%;
						}
					}
					&.slick-center {
						z-index:5;
						.slide-item {
							width:800px !important;
							padding:0;
							transition:width .3s;
							&:before {
								display:none;
							}
						}
					}
				}
				.slick-arrow {
					position:absolute;
					top:50%;
					z-index:10;
					width:80px;
					height:80px;
					background:url(https://img.eduwill.net/eduwill/img/2021/Q/product/210804/pc/btn_slider_arr.png) no-repeat 50% 50%;
					font-size:0;
					text-indent:-99999px;
					line-height:0;
				}
				.slick-prev {
					left:460px;
					transform:translateY(-50%);
				}
				.slick-next {
					right:460px;
					transform:translateY(-50%) rotate(180deg);
				}
				.slick-dots {
					position:absolute;
					bottom:-20px;
					left:50%;
					transform:translateX(-50%);
				}
			}
		}

		.btn {
			margin-top:10px;
            &.btn1{
                position:absolute;
                left: 1067px;
                top: 10px;
            }
		}
	}


	&-cont9 {
		background:url(https://img.eduwill.net/eduwill/img/2021/Q/product/210804/pc/cont9_bg.jpg) no-repeat 50% 50%;
		background-size:cover;
		padding-bottom:130px;
		.slider1 {
			width:2160px;
			transform:translateX(-480px);
			.slick-slide {
				padding:25px 20px;
				opacity:.3;
				&.slick-current + .slick-slide {
					opacity:1;
					transition:opacity .3s;
				}
			}
			.slide-item {
				overflow:hidden;
				border-radius: 30px;
				box-shadow: 0 0 25px 0 rgba(0,0,0,0.2);
			}
			.slick-dots {
				padding-top:5px;
			}
		}
	}

	&-cont10 {
		padding-bottom:30px;
		.teacher-wrap {
			width:1100px;
			margin:0 auto;
			.teacher-list-box .col {
				
				
				&.t-pyb {
					margin-right:0;
				}
				&:last-child {
					display:none !important;
					margin-right:0;
					margin-left:10px;
				}
			}
		}

		.slider2 {
			margin-top:30px;
			.slick-dots {
				margin-top:28px;
			}
		}
	}
	&-cont11 {
		padding-bottom:30px;
		.btn {
			position:absolute;
			top:965px;
			right:32px;
			animation:bounce 2s infinite both;
		}
		.slider2 {
			.slick-dots {
				margin-top:30px;
			}
		}
		.book-img{
			.text{
				font-family: $font-noto;
				font-size: 52px;
				position: absolute;
				top: 105px;
				left: 48px;
				font-weight: 900;
				color: #202020;
			}
		}
	}

	&-cont12 {
		padding-bottom:30px;
		.slider2 {
            margin-top:60px;
			.slick-dots {
				margin-top:28px;
			}
		}
        
		
	}

	&-winner{
		background-color: #f3f3f3;
		.slider-contents {
			.slick-slide {
				margin: 0 10px;
				img { width: 100%; }
			}
		}
	}

    &-pass {
		background-color: #f3f3f3;
		padding-bottom: 130px;
		.slider-contents{
			.slick-slide {
				margin: 0 10px;
				img { 
					width: 100%; 
				}
			}
		}
	} 
	
	&-win-slider{
		padding-bottom: 130px;
	}


    &-sentence{ 
		background-color: #510091; 
		font-size: 44px;
		font-weight: 900;
		text-align: center;
		color: #fff;
		padding: 17.5px 0;

		.wrap {
			line-height: 50px;
		}

	}
}


.land{
	&-content{
		.item-group-box{
			width:100%;
			.item-benefit{
				margin-bottom:25px;
				&.grid-4 .col{width:23%;}
			}

			.notice{color:#767575;}
		}
	}

	&-title{
		background: url('https://img.eduwill.net/eduwill/img/2021/L/product/210818_2/pc/bg_title.jpg') no-repeat 50% 0;
		background-size:cover;
	}

	&-academy-review2{
		padding-top:250px;
		padding-bottom:100px;
		background-color:#e3efff;
	}

	&-benefit{
		.title {opacity:1;}
		.notice{position:absolute;left:33px;bottom:100px;}
	}

	&-provide{
		.title {opacity:1;}
	}

	&-provide{padding-bottom:100px;}

	&-uland{
		background: url('https://img.eduwill.net/eduwill/img/2021/L/product/210818_2/pc/bg_uland.jpg') no-repeat 50% 0;
		background-size:cover;
		.floating-uland{position:absolute;left:50%;top:100px;margin-left:450px;}
	}

	&-lecture{
		background: url('https://img.eduwill.net/eduwill/img/2021/L/product/210818_2/pc/bg_lecture.jpg') no-repeat 50% 0;
		background-size:cover;
	}

	&-price{
		 .item-group{
			bottom:-250px;
		}
	}

	&-winner-list{
		padding-top:200px;
	}

	&-reason-networkbook{
		margin-top:-3px;
	}

	&-prize{border-top:1px solid #e6e6e6;}

	&-reason-title{
		.title{
			padding-top:100px;
		}
	}
	&-teacher{
		padding-bottom:100px;
	}



	&-agency{
		.btn-text {
			position:absolute;
			right: 50px;
			top:210px;
			display: inline-block;
			padding: 5px 20px 5px 10px;
			font-size: 14px;
			letter-spacing: -1px;
			border: 1px solid #222;
			color: #222;
			background: #fff;

			&::after {
				
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				display: block;
				width: 5px;
				height: 5px;
				margin-top: -2.5px;
				margin-left: -2.5px;
				border-width: 0;
				border-style: solid;
				border-color: #222;
				transform: rotate(45deg);
				border-top-width: 1px;
				border-right-width: 1px;
				border-bottom: none;
				border-left: none;
				margin-left: 0;
				left: auto;
				right: 7px;
			}
		}
	}

	&-service{
		background-color:#fefdee;

	}

	&-bouns{display:none;}

	&-service2{
		position:relative;
		&:after{
			content:'';position:absolute;left:0;bottom:0;width:100%;z-index:1;
			background-color:#f9f9f9;
		}

		img{position:relative;z-index:2;}
	}


}

#popupBase,
#Popup01 {
    background-color: rgba(0, 0, 0, 0.5);
	width: 1100px;
	font-size: 16px;
	.popup-body{
		padding: 5%;
		color: #fff;
		text-align: left;
	}
}



#videoPop{
	width: 94%;
    z-index: 10001;
    max-width: 1000px;
    margin: 0 auto;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    .video-cont {
		position: relative;
		padding-bottom: 56.65%;
		height: 0;
	}
    iframe, video{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-o-object-fit: inherit;
		object-fit: inherit;
    }
    .btn-close{
        position: absolute;
		top: -41px !important;
        right: -5px !important;
        font-size:0;
		@include close(40px, 40px, 1px, #fff);
        &:before, &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 20px;
            height: 1px;
            margin-left: -10px;
            background-color: #fff;
        }
        &:before{
            -webkit-transform: rotate(
                45deg
                );
                    transform: rotate(
                45deg
                );
        }
        &:after{
            -webkit-transform: rotate(
                315deg
                );
                    transform: rotate(
                315deg
                );
        }
    }
}


.year {
	.product-visual {
		background: url(https://img.eduwill.net/eduwill/img/2021/Q/product/211019/pc/year/visual_bg_2.jpg) no-repeat 50% 50%;
	}

	.product-sentence {
		background: #007b02;
	}

	.product-cont3 {
		background:#007b02;

		&::before {
			background: url(https://img.eduwill.net/eduwill/img/2021/Q/product/211019/pc/year/cont3_plus.png) no-repeat 50% 50%
		}
	}
}

.speed {
	.product-visual {
		background: #7a0cdf url(https://img.eduwill.net/eduwill/img/2021/Q/product/211019/pc/speed/bg_title.jpg) no-repeat 50% 50%;
		background-size: 160%;

		.motion-group {
			.motion.motion-2 {
				margin-top: 33px;
			}
			.motion.motion-3 {
				margin-top: 0px;
			}
			.motion.motion-4 {
				margin-top: -40px;
			}
			.motion.motion-5 {
				margin-top: -20px;
			}
		}
	}
	
}