.product-eco {
  position: relative;
  text-align: center;
  min-width: 1100px;
  overflow: hidden;
  font-family: "Noto Sans KR", Sans-Serif;
  letter-spacing: -1px;
}

.product-eco *, .product-eco *:before, .product-eco *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco img {
  border: 0;
  vertical-align: top;
  line-height: 0;
  font-size: 0;
}

.product-eco .clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.product-eco .wrap {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}

.product-eco a {
  display: inline-block;
}

.product-eco table {
  border-collapse: collapse;
  border-spacing: 0;
}

.product-eco strong {
  line-height: 100%;
}

.product-eco p {
  line-height: 100%;
  margin: 0;
}

.product-eco .text {
  color: #999999;
  font-size: 13px;
  font-family: "Noto Sans KR", Sans-Serif;
  line-height: 18px;
}

.product-eco .text span {
  padding-left: 8px;
}

.product-eco .btn_action {
  position: relative;
  display: inline-block;
  width: 193px;
  background-color: #ffffff;
  border: 1px solid #c0c0c0;
  color: #878787;
  font-size: 14px;
  padding: 10px 0;
}

.product-eco .btn_action:after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  width: 8px;
  height: 8px;
  position: relative;
  top: -1px;
  border-top: 1px solid #878787;
  border-right: 1px solid #878787;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.product-eco .bx-wrapper {
  width: 850px;
  margin: 0 auto;
}

.product-eco .bx-wrapper .bx-viewport {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  left: 0;
  background: none;
}

.product-eco .bx-wrapper .bx-prev {
  left: 50%;
  margin-left: -550px;
  background: url(https://img.eduwill.net/Img2/Doro/Product/event_new/200123/pc/btn_prev.png) no-repeat 0 0;
}

.product-eco .bx-wrapper .bx-next {
  right: 50%;
  margin-right: -550px;
  background: url(https://img.eduwill.net/Img2/Doro/Product/event_new/200123/pc/btn_next.png) no-repeat 0 0;
}

.product-eco .bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 87px;
  outline: 0;
  width: 68px;
  height: 68px;
  text-indent: -9999px;
  z-index: 9999;
  margin-top: 0;
}

.product-eco .g_fix_apply .gf_apply {
  width: 1100px;
}

.product-eco .floating {
  position: fixed;
  right: 0;
  top: 200px;
  z-index: 3000;
  width: 153px;
}

.product-eco .floating a {
  margin-bottom: 2px;
}

.product-eco .floating a:first-child {
  margin-bottom: 10px;
}

.product-eco .section-title {
  position: relative;
  background: url(https://img.eduwill.net/Img2/Doro/Product/event_new/200123/pc/bg_title.jpg) no-repeat 50% 0;
  background-size: cover;
  height: 1047px;
}

.product-eco .section-title .tween1 {
  position: absolute;
  left: 50%;
  top: 138px;
  margin-left: -607px;
  opacity: 0;
}

.product-eco .section-title .tween2 {
  position: absolute;
  left: 50%;
  top: 138px;
  margin-left: 457px;
  opacity: 0;
}

.product-eco .section-title .tween3 {
  position: absolute;
  left: 50%;
  top: 120px;
  margin-left: -440px;
  opacity: 0;
}

.product-eco .section-title .doro_box {
  position: absolute;
  left: 50%;
  top: 520px;
  width: 1920px;
  margin-left: -960px;
  padding-top: 70px;
  overflow: hidden;
}

.product-eco .section-title .doro_box .car1 {
  position: absolute;
  left: 50%;
  top: 93px;
  margin-left: -760px;
  z-index: 2;
}

.product-eco .section-title .doro_box .car2 {
  position: absolute;
  left: 50%;
  top: 53px;
  margin-left: -560px;
  z-index: 2;
}

.product-eco .section-title .doro_box .pass {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: 670px;
  z-index: 1;
}

.product-eco .section-title .character {
  position: absolute;
  left: 50%;
  bottom: 80px;
  margin-left: -530px;
}

.product-eco .section-price {
  background-color: #1446a3;
  padding: 70px 0;
}

.product-eco .section-price .discount_box .box:nth-child(2) .price:before {
  top: 16px;
}

.product-eco .section-price .discount_box .box.info .price {
  margin: 0;
  margin-top: 10px;
}

.product-eco .section-intro1 {
  background: url(https://img.eduwill.net/Img2/Doro/Product/event_new/200123/pc/bg_intro1.jpg) no-repeat 50% 0;
  background-size: cover;
}

.product-eco .section-intro2 {
  background-color: #ecf6ff;
}

.product-eco .section-winner {
  background: #ecf6ff url(https://img.eduwill.net/Img2/Doro/Product/event_new/200123/pc/bg_shadow.png) no-repeat 50% 90%;
  padding-bottom: 117px;
}

.product-eco .section-winner .bxslide_box {
  width: 1100px;
  height: 273px;
  margin: 0 auto;
  overflow: hidden;
}

.product-eco .section-reason-title {
  background-color: #353f52;
}

.product-eco .section-reason1 {
  background-color: #f7f7f7;
}

.product-eco .section-reason2 {
  background-color: #fff;
}

.product-eco .section-reason2 .tab_box {
  text-align: center;
}

.product-eco .section-reason2 .tab_box .tab_list {
  font-size: 0;
  width: 1100px;
  margin: 0 auto;
}

.product-eco .section-reason2 .tab_box .tab_list li {
  display: inline-block;
  cursor: pointer;
  color: #000;
  width: 50%;
  height: 75px;
}

.product-eco .section-reason2 .tab_box .tab_list li p {
  font-family: "Noto Sans KR", Sans-Serif;
  font-size: 30px;
  color: #e7e7e7;
  background-color: #ababab;
  height: 75px;
  line-height: 75px;
  font-weight: 700;
  border: 2px solid #ababab;
  border-bottom: none;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.product-eco .section-reason2 .tab_box .tab_list li.on p {
  color: #202020;
  background-color: #ffffff;
  border: 2px solid #ababab;
  border-bottom: none;
}

.product-eco .section-reason2 .tab_box .tab_view {
  display: none;
  position: relative;
  height: 769px;
  margin-top: 80px;
}

.product-eco .section-reason2 .tab_box .tab_view .video_box {
  position: absolute;
  left: 50%;
  top: 0;
  text-align: left;
}

.product-eco .section-reason2 .tab_box .tab_view .video_box p {
  font-family: "Noto Sans KR", Sans-Serif;
  font-size: 30px;
  color: #202020;
  line-height: 130%;
}

.product-eco .section-reason2 .tab_box .tab_view .video_box p span {
  color: #1c55bf;
  font-weight: 700;
}

.product-eco .section-reason2 .tab_box .tab_view .video_box p strong {
  display: block;
  margin-top: 20px;
  color: #202020;
  font-size: 40px;
}

.product-eco .section-reason2 .tab_box .tab_view .video_box .video {
  margin-top: 35px;
  width: 554px;
  height: 312px;
}

.product-eco .section-reason2 .tab_box .tab_view .video_box .flowplayer {
  width: 100%;
  height: 100%;
}

.product-eco .section-reason2 .tab_box .tab_view .video_box #player1 {
  background: url(https://img.eduwill.net/Img2/Doro/Product/event_new/200123/pc/img_video1.jpg) no-repeat 0 0;
}

.product-eco .section-reason2 .tab_box .tab_view .video_box #player2 {
  background: url(https://img.eduwill.net/Img2/Doro/Product/event_new/200123/pc/img_video2.jpg) no-repeat 0 0;
}

.product-eco .section-reason2 .tab_box .tab_view.tab_view1 {
  display: block;
  background: url(https://img.eduwill.net/Img2/Doro/Product/event_new/200123/pc/tab1_view.jpg) no-repeat 50% 0;
}

.product-eco .section-reason2 .tab_box .tab_view.tab_view2 {
  background: url(https://img.eduwill.net/Img2/Doro/Product/event_new/200123/pc/tab2_view.jpg) no-repeat 50% 0;
}

.product-eco .section-reason3 {
  background-color: #f7f7f7;
}

.product-eco .section-reason4 {
  background-color: #fff;
}

.product-eco .section-reason5 {
  background: url(https://img.eduwill.net/Img2/Doro/Product/event_new/200123/pc/bg_reason5.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.product-eco .section-apply-title {
  background-color: #353f52;
}
/*# sourceMappingURL=web.css.map */