@charset "UTF-8";
a {
  outline: 0;
  outline: none;
}

.grid {
  *zoom: 1;
}

.grid:before, .grid:after {
  content: '';
  display: table;
}

.grid:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.layer-dim, .layer-dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: #000;
  opacity: .8;
  overflow: hidden;
}

.layer-review {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10001;
  max-width: 768px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.layer-review .layer-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  top: -60px;
  z-index: 10002;
}

@media screen and (min-width: 720px) {
  .layer-review .layer-close {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .layer-review .layer-close {
    height: 60px;
  }
}

.layer-review .layer-close:before, .layer-review .layer-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 2px;
  margin-left: -15px;
  background-color: #fff;
}

.layer-review .layer-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.layer-review .layer-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.layer-review .layer-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.layer-review .layer-box {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.layer-review .layer-box iframe, .layer-review .layer-box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: inherit;
     object-fit: inherit;
}

.product-eco .motion-1 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-2 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-3 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-4 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-5 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-6 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-7 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-8 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-9 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-10 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-11 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-12 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-box-1 {
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-box-2 {
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-box-3 {
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-box-4 {
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-box-5 {
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-scale-y-1 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .motion-scale-y-2 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .motion-scale-y-3 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .motion-scale-y-4 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .motion-scale-y-5 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .motion-scale-y-6 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-1 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.product-eco .active .motion-2 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.product-eco .active .motion-3 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.product-eco .active .motion-4 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.product-eco .active .motion-5 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

.product-eco .active .motion-6 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
}

.product-eco .active .motion-7 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1.4s;
  transition-delay: 1.4s;
}

.product-eco .active .motion-8 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1.6s;
  transition-delay: 1.6s;
}

.product-eco .active .motion-9 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1.8s;
  transition-delay: 1.8s;
}

.product-eco .active .motion-10 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 2s;
  transition-delay: 2s;
}

.product-eco .active .motion-11 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 2.2s;
  transition-delay: 2.2s;
}

.product-eco .active .motion-12 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 2.4s;
  transition-delay: 2.4s;
}

.product-eco .active .motion-box-1 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.product-eco .active .motion-box-2 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.product-eco .active .motion-box-3 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.product-eco .active .motion-box-4 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.product-eco .active .motion-box-5 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.product-eco .active .motion-scale-y-1 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-scale-y-2 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-scale-y-3 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-scale-y-4 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-scale-y-5 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-scale-y-6 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

#fixApply.fix-apply {
  display: none !important;
}

.product-eco {
  overflow-x: hidden;
}

.product-eco * {
  line-height: normal;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.product-eco .container {
  position: relative;
}

.product-eco .container .item {
  position: relative;
}

.product-eco .eco-puri {
  display: inline-block;
}

.product-eco .wrap {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap .product-full {
  width: 100%;
}

.product-eco .only-pc {
  display: block;
}

.product-eco .only-mobile {
  display: none;
}

.product-eco .fix-top {
  background-color: #ffc01a !important;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_114/product/210902_2/pc/top_banner_bg_211102.jpg") !important;
}

.product-eco .fix-topbanner {
  background: #00b1ff;
  background: -webkit-gradient(linear, left top, right top, from(#00b1ff), color-stop(50%, #1989fb), to(#00fcc3));
  background: linear-gradient(to right, #00b1ff 0%, #1989fb 50%, #00fcc3 100%);
}

.product-eco .fix-topbanner .end-date {
  position: absolute;
  top: 120px;
  left: 50%;
  padding: 7px 25px;
  display: inline-block;
  border-radius: 100px;
  color: #06f8c7;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 1;
  background: #0451e4;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.product-eco .fix-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 110px;
  z-index: 11;
  padding: 24px 0 0 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .fix-bottom .wrap strong {
  display: inline-block;
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  letter-spacing: -2px;
}

.product-eco .fix-bottom .wrap strong em {
  color: #ffbf00;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: -2px;
}

.product-eco .fix-bottom .wrap a {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  width: 275px;
  height: 60px;
  text-align: center;
  vertical-align: top;
  border-radius: 100px;
  background: #fa5800;
  background: -webkit-gradient(linear, left top, right top, from(#fa5800), to(#eb260a));
  background: linear-gradient(to right, #fa5800 0%, #eb260a 100%);
  position: relative;
  display: inline-block;
}

.product-eco .fix-bottom .wrap a span {
  /*@include arrow(right, 12px, 12px, 3px, #fff);*/
  display: block;
  padding-right: 6px;
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  line-height: 60px;
  letter-spacing: -2px;
}

.product-eco .fix-bottom .wrap a span:after {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  right: 30px;
}

.product-eco .fix-bottom .wrap a:after {
  content: '';
  position: absolute;
  top: 60%;
  right: 0;
  z-index: 1;
  display: block;
  width: 1.78125rem;
  height: 2.03125rem;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .fix-bottom .wrap a:after {
    width: 57px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .fix-bottom .wrap a:after {
    height: 65px;
  }
}

@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.product-eco p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #666;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-eco p.fly, .product-eco p.eco {
  position: absolute;
}

.product-eco .grounds-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.4);
}

.product-eco .asterisk {
  display: inline-block;
  font-weight: 300;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
}

.product-eco .point-1 {
  color: #002ea3;
}

.product-eco .point-2 {
  color: #ef2f0a;
}

.product-eco .highlight {
  display: inline-block;
  position: relative;
  font-weight: 900;
  padding: 0 5px;
  z-index: 1;
}

.product-eco .highlight:before {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 22px;
  background: #f9c400;
  z-index: -1;
}

.product-eco .slider-contents {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.product-eco .slick-dots {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  font-size: 0;
  text-align: right;
}

.product-eco .slick-dots li {
  display: inline-block;
  margin: 0 0.1875rem;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li {
    margin: 0 6px;
  }
}

.product-eco .slick-dots li.slick-active button {
  width: 2.875rem;
  border-radius: 1.5625rem;
  background-color: #ffbe00;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li.slick-active button {
    width: 92px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li.slick-active button {
    border-radius: 50px;
  }
}

.product-eco .slick-dots button {
  display: block;
  width: 1rem;
  height: 0.9375rem;
  color: transparent;
  border: none;
  border-radius: 50%;
  background-color: #bbb;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots button {
    width: 32px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots button {
    height: 30px;
  }
}

.product-eco .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  content: '';
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-indent: -9999px;
  display: block;
  cursor: pointer;
  width: 1.5625rem;
  height: 1.5625rem;
  margin-top: -0.78125rem;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow {
    width: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow {
    height: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow {
    margin-top: -25px;
  }
}

.product-eco .slick-arrow.slick-prev {
  left: 30px;
  background: url("https://img.eduwill.net/eduwill/img/2021/7/product/210430/pc/btn_prev.png") 0 0 no-repeat;
  background-size: cover;
}

.product-eco .slick-arrow.slick-next {
  right: 30px;
  background: url("https://img.eduwill.net/eduwill/img/2021/7/product/210430/pc/btn_next.png") 0 0 no-repeat;
  background-size: cover;
}

.product-eco .action {
  margin-top: 12px;
}

.product-eco .action a {
  display: inline-block;
  padding: 0 50px 0 66px;
  height: 75px;
  border-radius: 100px;
  border: 1px solid #858585;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
}

.product-eco .action a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  display: block;
  width: 1.78125rem;
  height: 2.03125rem;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .action a:after {
    width: 57px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .action a:after {
    height: 65px;
  }
}

@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.product-eco .action a span {
  display: inline-block;
  padding-right: 38px;
  font-size: 20px;
  font-weight: 700;
  color: #222;
  line-height: 73px;
  letter-spacing: -1px;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/G/product/210512/pc/icon_arrow.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto;
}

.product-eco .action a:hover {
  background: #ffd844;
  border-color: #ffd844;
  /*@include linear-gradient(to bottom, #ffdd48 0%, #ffb320 100%);*/
}

.product-eco .action.type-2 a {
  width: 316px;
  height: 56px;
  padding: 0;
  border-radius: 50px;
  background: #fff;
  border: 1px solid #e2e2e2;
  -webkit-box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
}

.product-eco .action.type-2 a:after {
  display: none;
}

.product-eco .action.type-2 a span {
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  margin-top: -0.125rem;
  border-width: 0;
  border-style: solid;
  border-color: #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-width: 2px;
  border-right-width: 2px;
  display: block;
  padding-left: 30px;
  line-height: 54px;
  font-size: 21px;
  font-weight: 700;
  color: #222;
  letter-spacing: -1.5px;
  background: none;
}

@media screen and (min-width: 720px) {
  .product-eco .action.type-2 a span {
    width: 8px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .action.type-2 a span {
    height: 8px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .action.type-2 a span {
    margin-top: -4px;
  }
}

.product-eco .action.type-2 a span:after {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  right: 30px;
}

.product-eco .comm-title {
  margin-bottom: 45px;
  letter-spacing: -2px;
  font-size: 50px;
  text-align: left;
  font-weight: 900;
  line-height: 1.4;
  color: #000;
}

.product-eco .comm-sub-title {
  padding-left: 28px;
  letter-spacing: -2px;
  font-size: 40px;
  position: relative;
  text-align: left;
  font-weight: 900;
  color: #000;
  line-height: 1.2;
  border-left: 1px solid #c1c1c1;
}

.product-eco .comm-sub-title .highlight {
  padding: 0 5px;
  font-size: 40px;
  display: inline-block;
  position: relative;
  z-index: 1;
  font-weight: 900;
  line-height: 1;
}

.product-eco .comm-sub-title .highlight:before {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 15px;
  background: #f9c400;
  z-index: -1;
}

.product-eco .comm-sub-title em {
  position: relative;
  color: #222;
  vertical-align: bottom;
  top: 5px;
  font-size: 22px;
}

.product-eco .comm-sub-title .sub-title {
  margin-top: 16px;
  letter-spacing: -2px;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.4;
  color: #000;
}

.product-eco .comm-sub-title .grounds-text {
  margin-top: 20px;
  font-weight: 400;
  color: #afafaf;
}

.product-eco .product-title {
  background-color: #4c3a40;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_114/product/210902_2/pc/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .teacher-slider-area {
  background-color: #edf1f7;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_114/product/210902_2/pc/teacher_slide_bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 100px 0;
}

.product-eco .teacher-slider-area .teacher-slide .slick-track {
  padding: 0 10px;
}

.product-eco .teacher-slider-area .teacher-slide .slick-track img {
  max-width: 100%;
  display: block;
}

.product-eco .product-benefit {
  padding-bottom: 115px;
  background: #fff;
}

.product-eco .product-benefit .grounds-text {
  padding: 10px 0 0 33px;
  text-align: left;
  font-size: 15px;
  color: #9a9a9a;
}

.product-eco .product-event {
  background: #00b0ca;
}

.product-eco .product-event .action {
  position: absolute;
  top: 785px;
  right: 145px;
}

.product-eco .product-event .action a {
  padding: 0;
  height: auto;
  border: none;
  border-radius: 0;
  transition: none;
  -webkit-transition: none;
}

.product-eco .product-benefit-plus {
  background: #282eb8;
}

.product-eco .product-benefit-plus img {
  margin-top: -55px;
}

.product-eco .product-item {
  padding-bottom: 100px;
  background: #fff;
}

.product-eco .product-item .item-price {
  text-align: center;
}

.product-eco .product-item .item-price .col {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  width: 40%;
  border-radius: 20px;
  border: 5px solid #dbdbdb;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
}

.product-eco .product-item .item-price .col .col-flag {
  position: absolute;
  top: -30px;
  left: 50%;
  width: 88%;
  height: 54px;
  text-align: center;
  line-height: 54px;
  color: #fff;
  font-weight: 900;
  font-size: 27px;
  letter-spacing: -1px;
  border-radius: 50px;
  background: #ef2f0a;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.product-eco .product-item .item-price .col .subject {
  padding: 40px 35px 30px;
  min-height: 138px;
  text-align: left;
  color: #fff;
  font-size: 35px;
  font-weight: 900;
  color: #000;
  letter-spacing: -2px;
  line-height: 1.4;
  background: #fff;
  overflow: hidden;
  border-radius: 30px 30px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .product-item .item-price .col .subject strong {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 30px;
  font-weight: 900;
  color: #ef2f0a;
}

.product-eco .product-item .item-price .col .desc {
  border-top: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .product-item .item-price .col .desc .point-highlight {
  position: relative;
  left: -10px;
  display: inline-block;
  padding: 0 30px 0 10px;
  border-radius: 50px;
  font-weight: 900;
  color: #222;
  font-size: 20px;
  background: #ffca00;
}

.product-eco .product-item .item-price .col .desc li {
  padding: 18px 35px;
  min-height: 66px;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-weight: 700;
  border-top: 1px solid #ebebeb;
  background: #f9f9f9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .product-item .item-price .col .desc li:first-child {
  border-top: 0;
  background-color: #fff;
}

.product-eco .product-item .item-price .col .desc li:first-child strong {
  font-weight: 900;
}

.product-eco .product-item .item-price .col .desc li .point-1 {
  color: #2835e8;
}

.product-eco .product-item .item-price .col .desc li span {
  font-weight: 300;
}

.product-eco .product-item .item-price .col .desc li span.eco-puri {
  font-weight: 700;
}

.product-eco .product-item .item-price .col .desc li strong {
  display: inline-block;
}

.product-eco .product-item .item-price .col .desc li.box-size {
  min-height: 124px;
}

.product-eco .product-item .item-price .col .desc li .min-size {
  margin-top: 5px;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.product-eco .product-item .item-price .col .desc li.item-benefit {
  min-height: 175px;
  background-color: #f3f3f3;
}

.product-eco .product-item .item-price .col .desc li.item-benefit .limit-label {
  display: inline-block;
  margin-bottom: 5px;
  padding: 4px 15px;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  border-radius: 6px;
  background: #474fe3;
  background: -webkit-gradient(linear, left top, right top, from(#474fe3), to(#1e28de));
  background: linear-gradient(to right, #474fe3 0%, #1e28de 100%);
}

.product-eco .product-item .item-price .col .price-box {
  padding: 30px 0 0;
  min-height: 133px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .product-item .item-price .col .price-box .discount-label {
  display: inline-block;
  margin-bottom: 5px;
  padding: 4px 24px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border-radius: 50px;
  background: #09a4eb;
  background: -webkit-gradient(linear, left top, right top, from(#09a4eb), to(#4760ff));
  background: linear-gradient(to right, #09a4eb 0%, #4760ff 100%);
}

.product-eco .product-item .item-price .col .price-box .price-col {
  text-align: center;
  padding: 0 40px 30px;
}

.product-eco .product-item .item-price .col .price-box .price-col .before-price {
  display: inline-block;
  width: 40%;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #959595;
  vertical-align: super;
  text-decoration: line-through;
}

.product-eco .product-item .item-price .col .price-box .price-col .after-price {
  display: inline-block;
  text-align: center;
  width: 50%;
  font-size: 26px;
  color: #000;
  letter-spacing: -2px;
}

.product-eco .product-item .item-price .col .price-box .price-col .after-price span {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 40px;
  font-weight: 900;
  color: #ff0e0e;
  letter-spacing: -2px;
}

.product-eco .product-item .item-price .col.item-1 {
  margin-left: 0;
  border-color: #ffba27;
}

.product-eco .product-item .item-price .col.item-1 .desc li:first-child {
  background: #2835e8;
  color: #fff;
}

.product-eco .product-item .item-price .col.item-1 .desc li:first-child .point-1 {
  color: #ffd327;
}

.product-eco .product-item .item-price .col.item-1 .desc li.item-benefit {
  background: #ffd227;
  background: -webkit-gradient(linear, left top, right top, from(#ffd227), to(#ffba27));
  background: linear-gradient(to right, #ffd227 0%, #ffba27 100%);
}

.product-eco .product-item .item-price .col.item-1 .action a {
  background: #febf3e;
}

.product-eco .product-item .item-price .col.item-1 .action a span {
  color: #000;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/G/product/210512/pc/icon_arrow.png");
}

.product-eco .product-item .grounds-text {
  margin-top: 60px;
  font-size: 18px;
  text-align: center;
}

.product-eco .product-item .action {
  margin: 0;
}

.product-eco .product-item .action a {
  width: 100%;
  text-align: center;
  border-radius: 0 0 15px 15px;
  border: 0;
  background: #e2e2e2;
}

.product-eco .product-item .action a span {
  font-weight: 900;
  font-size: 24px;
  color: #000;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/G/product/210512/pc/icon_arrow.png");
}

.product-eco .btn {
  position: relative;
  display: inline-block;
  border: 1px solid #bbb;
  padding: 5px 20px 5px 10px;
  color: #999;
  font-size: 14px;
  letter-spacing: -1px;
}

.product-eco .btn:after {
  content: '';
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 0.15625rem;
  height: 0.15625rem;
  margin-top: -0.07812rem;
  border-width: 0;
  border-style: solid;
  border-color: #bbb;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-width: 1px;
  border-right-width: 1px;
  margin-left: 0;
  left: auto;
  right: 7px;
}

@media screen and (min-width: 720px) {
  .product-eco .btn:after {
    width: 5px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .btn:after {
    height: 5px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .btn:after {
    margin-top: -2.5px;
  }
}

.product-eco .btn-text {
  border-color: #222;
  color: #222;
  background-color: #fff;
}

.product-eco .btn-text:after {
  border-color: #222;
}

.product-eco .btn-text2 {
  position: relative;
  display: inline-block;
  padding: 5px 20px 5px 10px;
  color: #bbb;
  font-size: 14px;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 400;
}

.product-eco .btn-text2:after {
  content: '';
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 0.15625rem;
  height: 0.15625rem;
  margin-top: -0.07812rem;
  border-width: 0;
  border-style: solid;
  border-color: #bbb;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-width: 1px;
  border-right-width: 1px;
  margin-left: 0;
  left: auto;
  right: 7px;
}

@media screen and (min-width: 720px) {
  .product-eco .btn-text2:after {
    width: 5px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .btn-text2:after {
    height: 5px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .btn-text2:after {
    margin-top: -2.5px;
  }
}

.product-eco .product-shortpass {
  background-color: #f8f7f0;
  padding-bottom: 96px;
  text-align: center;
}

.product-eco .product-shortpass .title {
  padding-top: 120px;
}

.product-eco .product-shortpass .title .main {
  font-size: 60px;
  color: #222;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: -4px;
}

.product-eco .product-shortpass .shortpass-group {
  position: relative;
}

.product-eco .product-shortpass .shortpass-group .item-cover {
  position: relative;
  z-index: 2;
}

.product-eco .product-shortpass .shortpass-group .item-contents {
  position: absolute;
  left: 140px;
  bottom: 0;
  z-index: 1;
  width: 920px;
  -webkit-transform: perspective(570px) rotateX(45deg);
          transform: perspective(570px) rotateX(45deg);
}

.product-eco .product-shortpass .shortpass-group .item-contents .item-list .slick-slide {
  margin-top: 30px;
}

.product-eco .product-shortpass .btn-text2 {
  position: relative;
  display: inline-block;
  padding: 5px 20px 5px 10px;
  color: #bbb;
  font-size: 14px;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 400;
}

.product-eco .product-shortpass .btn-text2 :after {
  content: '>';
  display: inline-block;
  margin-left: 10px;
}

.product-eco .product-shortpass .btn-text2:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 5px;
  height: 5px;
  margin-top: -2.5px;
  margin-left: -2.5px;
  border-width: 0;
  border-style: solid;
  border-color: #bbb;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom: none;
  border-left: none;
  margin-left: 0;
  left: auto;
  right: 7px;
}

.product-eco .product-bar-1 {
  height: 367px;
  background-color: #2853f8;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_114/product/210902/pc/bg_bar_1.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .product-bar-1 .wrap {
  padding: 80px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .product-bar-1 .wrap span {
  display: inline-block;
  padding-bottom: 5px;
  font-weight: 700;
  color: #ffc000;
  font-size: 30px;
  line-height: 1;
  letter-spacing: -2px;
  border-bottom: 1px solid #ffea00;
}

.product-eco .product-bar-1 .wrap strong {
  display: block;
  margin: 25px 0 20px;
  font-size: 54px;
  color: #fff;
  font-weight: 900;
  letter-spacing: -3px;
  line-height: 1.4;
}

.product-eco .product-bar-1 .wrap strong em {
  position: relative;
  top: 5px;
  font-weight: 300;
  font-size: 30px;
  color: #fff;
  vertical-align: top;
}

.product-eco .product-bar-1 .wrap .grounds-text {
  color: rgba(255, 255, 255, 0.4);
}

.product-eco .product-compare {
  background: #cdcdcd;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #cdcdcd), color-stop(50%, #ffc500));
  background: linear-gradient(to right, #cdcdcd 50%, #ffc500 50%);
}

.product-eco .product-compare:before {
  content: '';
  position: absolute;
  z-index: 2;
  top: -1px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 309px;
  height: 76px;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_114/product/210902/pc/shape.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
}

.product-eco .product-curriculum {
  background: #fff;
}

.product-eco .product-curriculum .wrap {
  width: 1200px;
}

.product-eco .product-curriculum .item {
  position: relative;
}

.product-eco .product-curriculum .item:after {
  content: '';
  display: block;
  position: absolute;
  width: 242px;
  height: 238px;
  top: 750px;
  right: 80px;
  z-index: 1;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_114/product/210902/pc/obj.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
}

.product-eco .product-curriculum .step {
  position: absolute;
  width: 260px;
  height: 260px;
  top: 70px;
  left: 156px;
  display: table;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  border: 10px solid #d5d5d5;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .product-curriculum .step .step-box {
  display: table-cell;
  vertical-align: middle;
}

.product-eco .product-curriculum .step .step-box .label-title {
  display: inline-block;
  margin-bottom: 12px;
  width: 110px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  color: #000;
  letter-spacing: -1px;
  border-radius: 50px;
  background: #dedede;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  /*@include linear-gradient(to bottom, #ededed 0%, #dedede 100%);*/
}

.product-eco .product-curriculum .step .step-box dl dt {
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.3;
  letter-spacing: -2px;
  color: #000;
}

.product-eco .product-curriculum .step .step-box dl dd {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -2px;
  color: #000;
}

.product-eco .product-curriculum .step.on {
  border-color: #ff9f26;
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 159, 38, 0.6);
  box-shadow: 0 0 20px 0 rgba(255, 159, 38, 0.6);
}

.product-eco .product-curriculum .step.on .step-box .label-title {
  background: #ffa026;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  /*@include linear-gradient(to bottom, #ffb930 0%, #ff821b 100%);*/
}

.product-eco .product-curriculum .step.step-2, .product-eco .product-curriculum .step.step-5, .product-eco .product-curriculum .step.step-8 {
  left: 470px;
}

.product-eco .product-curriculum .step.step-3, .product-eco .product-curriculum .step.step-4, .product-eco .product-curriculum .step.step-9 {
  left: 784px;
}

.product-eco .product-curriculum .step.step-4, .product-eco .product-curriculum .step.step-5, .product-eco .product-curriculum .step.step-6 {
  top: 372px;
}

.product-eco .product-curriculum .step.step-7, .product-eco .product-curriculum .step.step-8, .product-eco .product-curriculum .step.step-9 {
  top: 678px;
}

.product-eco .product-curriculum .grounds-text {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.product-eco .product-live {
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_114/product/210902/pc/bg_live.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .product-set {
  background: #282eb8;
}

.product-eco .product-set-plus {
  padding-bottom: 100px;
  background: #282eb8;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #282eb8), color-stop(60%, #f3f3fd));
  background: linear-gradient(to bottom, #282eb8 60%, #f3f3fd 60%);
}

.product-eco .product-set-plus .grounds-text {
  margin-top: 20px;
}

.product-eco .product-refund {
  background: #f3f3fd;
}

.product-eco .product-system {
  border-style: solid;
  border-color: #ececef;
  border-width: 0;
  padding: 100px 0 115px;
  border-top-width: 20px;
}

.product-eco .product-system .action {
  position: absolute;
  top: 300px;
  left: 700px;
  z-index: 1;
}

.product-eco .product-system .grounds-text {
  margin-top: 15px;
  text-align: left;
  color: #afafaf;
  line-height: 1.4;
  font-weight: 400;
}

.product-eco .product-puri {
  padding-bottom: 115px;
}

.product-eco .product-puri .action {
  position: absolute;
  top: 258px;
  left: 682px;
  z-index: 1;
}

.product-eco .product-awards {
  border-top: 20px solid #ececef;
}

.product-eco .product-brand {
  background-color: #ffbf00;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/G/product/210512/pc/bg_brand.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
/*# sourceMappingURL=web.css.map */