@charset "UTF-8";
.grid {
  *zoom: 1;
}

.grid:before, .grid:after {
  content: '';
  display: table;
}

.grid:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.banner-list-item .banner {
  background-color: #fff !important;
}

.eco-event {
  overflow: hidden;
  height: 85.8375rem;
}

@media screen and (min-width: 720px) {
  .eco-event {
    height: 1715px;
  }
}

.dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1001;
  width: 100%;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup-body {
  position: relative;
}

.popup-body p {
  font-size: 3.33333vw;
  font-weight: 700;
}

@media screen and (min-width: 720px) {
  .popup-body p {
    font-size: 24px;
  }
}

@media screen and (min-width: 1100px) {
  .popup-body p {
    font-size: 18px;
  }
}

.popup-body p + p,
.popup-body p + ul {
  margin-top: 0.3125rem;
}

@media screen and (min-width: 720px) {
  .popup-body p + p,
  .popup-body p + ul {
    margin-top: 10px;
  }
}

.popup-body ul {
  margin-top: 0.3125rem;
  font-size: 3.05556vw;
}

@media screen and (min-width: 720px) {
  .popup-body ul {
    margin-top: 10px;
  }
}

@media screen and (min-width: 720px) {
  .popup-body ul {
    font-size: 22px;
  }
}

@media screen and (min-width: 1100px) {
  .popup-body ul {
    font-size: 16px;
  }
}

.popup-body ul li {
  margin-top: 0.15625rem;
}

@media screen and (min-width: 720px) {
  .popup-body ul li {
    margin-top: 5px;
  }
}

.popup-body ul li:first-child {
  margin-top: 0;
}

.popup-body ul + p {
  margin-top: 0.3125rem;
}

@media screen and (min-width: 720px) {
  .popup-body ul + p {
    margin-top: 10px;
  }
}

.popup-close {
  position: absolute;
  top: -40px;
  right: 0;
}

.popup-close a {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 40px;
  height: 40px;
}

.popup-close a:before, .popup-close a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 1px;
  margin-left: -10px;
  background-color: #fff;
}

.popup-close a:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close a:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup-close a span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup-video {
  max-width: 640px;
}

@media screen and (min-width: 720px) {
  .popup-video {
    max-width: 1000px;
  }
}

.popup-video .video-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-video .video-box video {
  width: 100%;
  height: 100%;
}

.popup-base {
  max-width: 640px;
}

@media screen and (min-width: 720px) {
  .popup-base {
    max-width: 720px;
  }
}

.popup-base .popup-body {
  padding: 1.875rem 1.25rem;
}

@media screen and (min-width: 720px) {
  .popup-base .popup-body {
    padding: 60px 40px;
  }
}

.product-eco * {
  line-height: normal;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.product-eco .container {
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
}

.product-eco .wrap {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  width: 100%;
}

.product-eco .holder {
  position: relative;
}

.product-eco p {
  line-height: 100%;
  margin: 0;
  text-align: left;
  font-size: 2.77778vw;
  color: #666;
}

@media screen and (min-width: 720px) {
  .product-eco p {
    font-size: 20px;
  }
}

.product-eco p.notice {
  margin-top: 0.3125rem;
}

@media screen and (min-width: 720px) {
  .product-eco p.notice {
    margin-top: 10px;
  }
}

.product-eco p.brand, .product-eco p.survey {
  position: absolute;
}

.product-eco .fixbanner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #75fffc;
  z-index: 777;
}

.product-eco .fixbanner .pointer {
  position: absolute;
  top: 50px;
  right: 20px;
}

.product-eco .fixbanner .pointer img {
  width: 70%;
  -webkit-animation: 0.6s slideUpY ease-in-out infinite alternate;
          animation: 0.6s slideUpY ease-in-out infinite alternate;
}

.product-eco .winner-wrap {
  position: relative;
  padding: 0 1.5625rem 0;
  -webkit-perspective: 670px;
          perspective: 670px;
}

@media screen and (min-width: 720px) {
  .product-eco .winner-wrap {
    padding: 0 50px 0;
  }
}

.product-eco .winner-wrap .img {
  width: 80%;
}

.product-eco .winner-wrap .winner-list {
  -webkit-transform: rotateX(40deg);
          transform: rotateX(40deg);
}

.product-eco .winner-wrap .winner-list p {
  text-align: center;
  line-height: 2;
  font-size: 2.77778vw;
  font-weight: 400;
  color: #222;
}

@media screen and (min-width: 720px) {
  .product-eco .winner-wrap .winner-list p {
    font-size: 20px;
  }
}

.product-eco .slick-dots {
  width: 100%;
  margin-top: 0.9375rem;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots {
    margin-top: 30px;
  }
}

.product-eco .slick-dots li {
  display: inline-block;
  margin: 0 0.1875rem;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li {
    margin: 0 6px;
  }
}

.product-eco .slick-dots li button {
  width: 0.625rem;
  height: 0.625rem;
  text-indent: -9999em;
  border: none;
  border-radius: 50%;
  background-color: #b2b2b2;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li button {
    width: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li button {
    height: 20px;
  }
}

.product-eco .slick-dots li.slick-active button {
  width: 1.71875rem;
  border-radius: 0.46875rem;
  background-color: #ffc20e;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li.slick-active button {
    width: 55px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li.slick-active button {
    border-radius: 15px;
  }
}

.product-eco .slider-contents {
  position: relative;
  margin: 1.875rem 1.5625rem auto 1.5625rem;
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents {
    margin: 60px 50px auto 50px;
  }
}

.product-eco .slider-contents .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 1.25rem;
  width: 1.25rem;
  margin-top: -0.625rem;
  font-size: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow {
    width: 40px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow {
    width: 40px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow {
    margin-top: -20px;
  }
}

.product-eco .slider-contents .slick-arrow.slick-prev {
  left: 0.625rem;
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow.slick-prev {
    left: 20px;
  }
}

.product-eco .slider-contents .slick-arrow.slick-prev:before {
  right: 0;
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border-width: 0;
  border-style: solid;
  border-color: #666;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom-width: 1px;
  border-left-width: 1px;
  margin-top: 0px;
}

.product-eco .slider-contents .slick-arrow.slick-next {
  right: 0.625rem;
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow.slick-next {
    right: 20px;
  }
}

.product-eco .slider-contents .slick-arrow.slick-next:before {
  left: 0;
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border-width: 0;
  border-style: solid;
  border-color: #666;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-width: 1px;
  border-right-width: 1px;
  margin-top: 0px;
}

.product-eco .action a {
  position: relative;
  display: inline-block;
}

.product-eco .pointer:after {
  content: '';
  position: absolute;
  top: 40%;
  right: 0%;
  display: block;
  width: 3.125rem;
  height: 3.125rem;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_20.png") no-repeat 0 0;
  background-size: contain;
  -webkit-animation-name: pointerBounce;
          animation-name: pointerBounce;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .pointer:after {
    width: 100px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .pointer:after {
    height: 100px;
  }
}

@-webkit-keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
}

@keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
}

.product-top {
  background-color: #ffd701;
}

.product-title {
  position: relative;
  background: url("https://img.eduwill.net/eduwill/img/2021/_107/product/210223/mobile/bg_title.jpg") 50% 0 no-repeat;
  background-color: #423350;
  background-size: cover;
}

.product-raise {
  background-color: #f7f7f7;
}

.product-winner {
  background-color: #f7f7f7;
}

.product-winner img {
  width: 80%;
}

.product-winner .slider-wrap .slick-slide {
  margin: 0 0.3125rem;
}

@media screen and (min-width: 720px) {
  .product-winner .slider-wrap .slick-slide {
    margin: 0 10px;
  }
}

.product-winner .slider-wrap .slick-slide img {
  width: 100%;
}

.product-pass {
  background-color: #f7f7f7;
  padding-bottom: 3.90625rem;
}

@media screen and (min-width: 720px) {
  .product-pass {
    padding-bottom: 125px;
  }
}

.product-pass .video-container {
  display: inline-block;
  margin-top: 0.9375rem;
  width: 86.11111vw;
  -webkit-box-shadow: 1em 1em 3em rgba(0, 0, 0, 0.3);
          box-shadow: 1em 1em 3em rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 720px) {
  .product-pass .video-container {
    margin-top: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-pass .video-container {
    width: 620px;
  }
}

.product-win-slider {
  padding-bottom: 4.0625rem;
}

@media screen and (min-width: 720px) {
  .product-win-slider {
    padding-bottom: 130px;
  }
}

.product-review {
  background: #eceff9;
  padding-bottom: 4.6875rem;
}

@media screen and (min-width: 720px) {
  .product-review {
    padding-bottom: 150px;
  }
}

.product-review .item {
  position: relative;
  margin: 0 6.944%;
  margin-top: 1.25rem;
}

@media screen and (min-width: 720px) {
  .product-review .item {
    margin-top: 40px;
  }
}

.product-review .item:first-child {
  margin-top: 0;
}

.product-review .item a,
.product-review .item video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.product-review .item a {
  z-index: 1;
}

.product-review .action {
  margin: 0 18.056%;
  margin-top: 1.875rem;
}

@media screen and (min-width: 720px) {
  .product-review .action {
    margin-top: 60px;
  }
}

.product-review .notice {
  margin-left: 0;
}

.product-compare {
  background-color: #f5f5f5;
}

.product-compare .price-title {
  position: absolute;
  top: 15.3%;
  left: 20%;
  font-size: 5vw;
  color: #202020;
}

@media screen and (min-width: 720px) {
  .product-compare .price-title {
    font-size: 36px;
  }
}

.product-compare .price-title .eco-junsaday {
  font-weight: 700;
  letter-spacing: -2px;
}

.product-compare .flag {
  width: 75%;
  margin: auto;
  position: absolute;
  top: -67%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.product-compare .price p {
  position: absolute;
}

.product-compare .price p.text {
  right: 0;
  left: 0;
  text-align: center;
  font-family: "Montserrat", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 6.38889vw;
  font-weight: 700;
}

@media screen and (min-width: 720px) {
  .product-compare .price p.text {
    font-size: 46px;
  }
}

.product-compare .price p.text-1 {
  top: 35%;
  color: #bbbbbb;
  letter-spacing: -2.5px;
}

.product-compare .price p.text-2 {
  top: 45.5%;
  color: #142e93;
}

.product-compare .price p.text-2 .disc {
  position: relative;
  display: block;
  font-size: 3.61111vw;
  width: 30%;
  margin: auto;
  color: rgba(32, 32, 32, 0.6);
  background: url("https://img.eduwill.net/eduwill/img/2021/_107/product/210223/pc/icon_arrow2.png") no-repeat 50% 45%;
  background-size: contain;
}

@media screen and (min-width: 720px) {
  .product-compare .price p.text-2 .disc {
    font-size: 26px;
  }
}

.product-compare .price p.text-3 {
  top: 29.5%;
  right: 15%;
  left: auto;
  font-size: 4.16667vw;
  width: 4.21875rem;
  height: 3.125rem;
  padding-top: 1%;
  padding-right: 1%;
  line-height: 1.2;
  font-size: 0.9375rem;
  letter-spacing: -0.09375rem;
  font-weight: 500;
  color: #fff;
  background: url("https://img.eduwill.net/eduwill/img/2021/_107/product/210223/mobile/icon_arrow.png") no-repeat 0 0;
  background-size: contain;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .product-compare .price p.text-3 {
    font-size: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-compare .price p.text-3 {
    width: 135px;
  }
}

@media screen and (min-width: 720px) {
  .product-compare .price p.text-3 {
    height: 100px;
  }
}

@media screen and (min-width: 720px) {
  .product-compare .price p.text-3 {
    font-size: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-compare .price p.text-3 {
    letter-spacing: -3px;
  }
}

.product-compare .price p.notice {
  top: 80%;
  left: 6.944%;
}

.product-compare .action {
  position: absolute;
  left: 50%;
  bottom: 20%;
  width: 75%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.product-compare .action:after {
  content: '';
  width: 2.0625rem;
  height: 2.34375rem;
  position: absolute;
  top: 50%;
  right: 0;
  background: url(https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_1.png) 0 0 no-repeat;
  z-index: 1;
  background-size: contain;
  -webkit-animation-name: arrowBounce;
          animation-name: arrowBounce;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-compare .action:after {
    width: 66px;
  }
}

@media screen and (min-width: 720px) {
  .product-compare .action:after {
    height: 75px;
  }
}

@-webkit-keyframes arrowBounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@keyframes arrowBounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

.product-teacher {
  padding-bottom: 3.90625rem;
}

@media screen and (min-width: 720px) {
  .product-teacher {
    padding-bottom: 125px;
  }
}

.product-teacher .brand {
  top: 22%;
  left: 6.944%;
}

.product-teacher .survey {
  top: 39%;
  left: 11%;
}

.product-book {
  padding-bottom: 3.90625rem;
}

@media screen and (min-width: 720px) {
  .product-book {
    padding-bottom: 125px;
  }
}

.product-book .text {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  position: absolute;
  top: -1%;
  font-size: 5.55556vw;
  font-weight: 900;
  color: #000;
  left: 1.5625rem;
  letter-spacing: -0.125rem;
}

@media screen and (min-width: 720px) {
  .product-book .text {
    font-size: 40px;
  }
}

@media screen and (min-width: 720px) {
  .product-book .text {
    left: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-book .text {
    letter-spacing: -4px;
  }
}

.product-curriculum {
  padding-bottom: 3.125rem;
}

@media screen and (min-width: 720px) {
  .product-curriculum {
    padding-bottom: 100px;
  }
}

.product-curriculum .list {
  margin: 0 1.5625rem 0 1.5625rem;
  text-align: left;
  color: #202020;
}

@media screen and (min-width: 720px) {
  .product-curriculum .list {
    margin: 0 50px 0 50px;
  }
}

.product-curriculum .list + .list {
  padding-bottom: 1.5625rem;
}

@media screen and (min-width: 720px) {
  .product-curriculum .list + .list {
    padding-bottom: 50px;
  }
}

.product-curriculum .list .title {
  margin-top: 1.5625rem;
  font-size: 4.16667vw;
  font-weight: 700;
  color: #202020;
}

@media screen and (min-width: 720px) {
  .product-curriculum .list .title {
    margin-top: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-curriculum .list .title {
    font-size: 30px;
  }
}

.product-curriculum .list .title span {
  display: inline-block;
  border-bottom: 2px solid #000;
}

.product-curriculum .list ul {
  margin-top: 0.625rem;
}

@media screen and (min-width: 720px) {
  .product-curriculum .list ul {
    margin-top: 20px;
  }
}

.product-curriculum .list li {
  position: relative;
  padding: 0.3125rem 0;
  font-size: 3.88889vw;
  line-height: 1.7;
  letter-spacing: -0.05em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .product-curriculum .list li {
    padding: 10px 0;
  }
}

@media screen and (min-width: 720px) {
  .product-curriculum .list li {
    font-size: 28px;
  }
}

.product-curriculum .list li.highlight::after {
  content: '';
  display: inline-block;
  width: 8.88889vw;
  height: 8.88889vw;
  margin-left: 0.4em;
  position: absolute;
  top: 0.2em;
  background: url("https://img.eduwill.net/eduwill/img/2021/_107/product/210223/mobile/icon_strengthen.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: flagChange;
          animation-name: flagChange;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes flagChange {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes flagChange {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media screen and (min-width: 720px) {
  .product-curriculum .list li.highlight::after {
    width: 64px;
    height: 64px;
  }
}

.product-curriculum .list li .con {
  display: inline-block;
}

.product-curriculum .list li span {
  display: inline-block;
  margin-left: 0.2em;
}

.product-service .brand {
  top: 30%;
  left: 11%;
}

.product-event .event-box {
  margin: 0 1.5625rem;
  background: #fff;
}

@media screen and (min-width: 720px) {
  .product-event .event-box {
    margin: 0 50px;
  }
}

.product-event .event-box .list-desc {
  width: 80%;
  margin: 0 auto;
}

.product-event .event-box .list-desc dl {
  text-align: left;
}

.product-event .event-box .list-desc dl dt {
  margin-bottom: 0.3125rem;
  font-size: 3.33333vw;
  font-weight: 700;
  color: #202020;
  line-height: 1.3;
}

@media screen and (min-width: 720px) {
  .product-event .event-box .list-desc dl dt {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 720px) {
  .product-event .event-box .list-desc dl dt {
    font-size: 24px;
  }
}

.product-event .event-box .list-desc dl dt p + p {
  margin-top: 20px;
}

.product-event .event-box .list-desc dl dt span {
  display: inline-block;
  margin-left: 0.625rem;
  font-weight: 400;
  color: #888;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

@media screen and (min-width: 720px) {
  .product-event .event-box .list-desc dl dt span {
    margin-left: 20px;
  }
}

.product-event .event-box .list-desc dl dd li {
  position: relative;
  padding-left: 0.3125rem;
  text-indent: 0.28125rem;
  font-size: 3.33333vw;
  font-weight: 400;
  line-height: 1.7;
  color: #888;
}

@media screen and (min-width: 720px) {
  .product-event .event-box .list-desc dl dd li {
    padding-left: 10px;
  }
}

@media screen and (min-width: 720px) {
  .product-event .event-box .list-desc dl dd li {
    text-indent: 9px;
  }
}

@media screen and (min-width: 720px) {
  .product-event .event-box .list-desc dl dd li {
    font-size: 24px;
  }
}

.product-event .event-box.event1 {
  margin-top: 0;
}

.product-event .event-box.event1 .list-apply {
  width: 940px;
  margin: 0 auto;
}

.product-event .event-box.event1 .list-apply .grid {
  position: relative;
  z-index: 1;
  display: table;
  width: 100%;
  border-top: 1px solid #ccc;
  background-color: #fff;
}

.product-event .event-box.event1 .list-apply .grid:first-child {
  border-top-width: 2px;
  border-top-color: #202020;
}

.product-event .event-box.event1 .list-apply .grid:last-child {
  border-bottom: 2px solid #202020;
}

.product-event .event-box.event1 .list-apply .col {
  float: none;
  display: table-cell;
  vertical-align: middle;
  font-size: 22px;
}

.product-event .event-box.event1 .list-apply .subject {
  width: 25%;
  color: #202020;
  font-weight: 700;
  letter-spacing: -2px;
  background: #fff;
}

.product-event .event-box.event1 .list-apply .desc {
  position: relative;
  width: 75%;
  padding: 20px 30px;
  text-align: left;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -1.5px;
  color: #202020;
  background-color: transparent;
}

.product-event .event-box.event2 {
  margin-bottom: 2.5rem;
  position: relative;
}

@media screen and (min-width: 720px) {
  .product-event .event-box.event2 {
    margin-bottom: 80px;
  }
}

.product-event .event-box.event2 .action {
  display: block;
  position: absolute;
  top: 620px;
  width: 240px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -1px;
  border-radius: 10px;
  background: #2a3462;
  z-index: 1;
}

.product-event .event-box.event2 .action:after {
  content: '';
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-width: 2px;
  border-right-width: 2px;
  display: inline-block;
  margin-left: 10px;
  position: static;
  top: -2px;
}

.product-event .event-box.event2 .action.btn-benefit1 {
  left: 89px;
}

.product-event .event-box.event2 .action.btn-benefit2 {
  left: 429px;
}

.product-event .event-box.event2 .action.btn-benefit3 {
  left: 772px;
}

.product-event .event-box.event2 .action .icon-hand {
  right: 0;
  width: 38px;
}

.product-event .event-box.event2 .action .icon-hand img {
  width: 100%;
}

.product-event .event-box.event3 .list-desc {
  width: 90%;
}

.product-event .event-box.event3 .list-desc dt p {
  font-size: 3.33333vw;
  color: #202020;
}

@media screen and (min-width: 720px) {
  .product-event .event-box.event3 .list-desc dt p {
    font-size: 24px;
  }
}

.product-event .event-box.event3 .list-desc dd ul li {
  position: relative;
  padding-left: 10px;
}

.product-event .event-box.event3 .list-desc dd ul li:after {
  content: '-';
  position: absolute;
  left: 0;
}

.product-event .event-box.event3 .action {
  position: relative;
  width: 440px;
  height: 80px;
  margin: 40px auto 0;
}

.product-event .event-box.event3 .action a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 80px;
  color: #fff;
  font-size: 3.33333vw;
  font-weight: 700;
  letter-spacing: -1px;
  border-radius: 10px;
  background: #2a3462;
}

@media screen and (min-width: 720px) {
  .product-event .event-box.event3 .action a {
    font-size: 24px;
  }
}

.product-event .event-box.event3 .action a:after {
  content: '';
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-width: 3px;
  border-right-width: 3px;
  display: inline-block;
  margin-left: 10px;
  position: static;
}

.product-event2 {
  background: #a0e3f3;
  background-size: contain;
  padding-top: 3.75rem;
  padding-bottom: 4.375rem;
}

@media screen and (min-width: 720px) {
  .product-event2 {
    padding-top: 120px;
  }
}

@media screen and (min-width: 720px) {
  .product-event2 {
    padding-bottom: 140px;
  }
}

.product-event2 .event-box {
  padding-bottom: 2.5rem;
}

@media screen and (min-width: 720px) {
  .product-event2 .event-box {
    padding-bottom: 80px;
  }
}

.product-system {
  background-color: #f4ecf9;
}

.product-license {
  background-color: #f4ecf9;
}

.product-license .license-flag {
  text-align: left;
  position: absolute;
  top: 21.8%;
  left: 1.5625rem;
  width: 44.44444vw;
}

@media screen and (min-width: 720px) {
  .product-license .license-flag {
    left: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-license .license-flag {
    width: 320px;
  }
}

.product-license .license-flag .flagChange {
  position: absolute;
  -webkit-animation-name: flagChange;
          animation-name: flagChange;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@keyframes flagChange {
  0%, 100% {
    opacity: 1;
    color: #fff;
  }
  50% {
    opacity: 0;
  }
}

.product-coupon {
  background-color: #f4ecf9;
  padding-bottom: 4.0625rem;
}

@media screen and (min-width: 720px) {
  .product-coupon {
    padding-bottom: 130px;
  }
}

.product-coupon .list-desc {
  margin: 0 1.5625rem;
}

@media screen and (min-width: 720px) {
  .product-coupon .list-desc {
    margin: 0 50px;
  }
}

.product-coupon .list-desc dl {
  text-align: left;
}

.product-coupon .list-desc dl dt {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  font-weight: 700;
  color: #202020;
  line-height: 1.3;
}

@media screen and (min-width: 720px) {
  .product-coupon .list-desc dl dt {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 720px) {
  .product-coupon .list-desc dl dt {
    font-size: 24px;
  }
}

.product-coupon .list-desc dl dd li {
  position: relative;
  padding-left: 0.375rem;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.7;
  color: #888;
  word-break: keep-all;
}

@media screen and (min-width: 720px) {
  .product-coupon .list-desc dl dd li {
    padding-left: 12px;
  }
}

@media screen and (min-width: 720px) {
  .product-coupon .list-desc dl dd li {
    font-size: 24px;
  }
}

.product-coupon .list-desc dl dd li:after {
  content: '-';
  position: absolute;
  left: 0;
  top: 0;
}

#popupBase {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 85%;
  max-width: 720px;
}

#popupBase .popup-body {
  font-size: 3.61111vw;
  padding: 5% 5%;
  word-break: keep-all;
}

@media screen and (min-width: 720px) {
  #popupBase .popup-body {
    font-size: 26px;
  }
}
/*# sourceMappingURL=mobile.css.map */