@charset "UTF-8";
.grid, .product-pass .wrap {
  *zoom: 1;
}

.grid:before, .product-pass .wrap:before, .grid:after, .product-pass .wrap:after {
  content: '';
  display: table;
}

.grid:after, .product-pass .wrap:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col-right {
  float: right;
}

.dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 300;
  display: none;
  width: 100%;
  max-width: 720px;
  text-align: left;
  letter-spacing: -1px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

@media screen and (min-width: 720px) {
  .popup {
    width: 900px;
  }
}

.popup-body {
  padding: 15% 5%;
}

@media screen and (min-width: 720px) {
  .popup-body {
    padding: 40px;
  }
}

.popup-head {
  padding: 32px 20px;
  font-size: 30px;
  font-weight: 600;
  color: #000;
  background-color: #ececec;
}

.popup-desc {
  padding: 20px;
}

.popup-desc li {
  padding: 10px 0;
  line-height: 1.2;
  font-size: 20px;
  color: #000;
  border-bottom: 1px solid #ccc;
}

.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.popup-close:before, .popup-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #333;
}

.popup-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup-close-layer {
  position: absolute;
  top: 0;
  right: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.popup-close-layer:before, .popup-close-layer:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #333;
}

.popup-close-layer:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close-layer:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup-close-layer span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup.popup-base {
  border-radius: 10px;
}

.popup.popup-base p {
  line-height: 1.2;
  margin-bottom: 5px;
  font-size: 0.875rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-base p {
    font-size: 28px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-base p {
    font-size: 16px;
  }
}

.popup.popup-list .popup-body {
  padding: 0;
}

.popup.popup-list .popup-close {
  right: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
}

.popup.popup-list .popup-close:before, .popup.popup-list .popup-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #fff;
}

.popup.popup-list .popup-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup.popup-list .popup-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup.popup-list .popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup.popup-list .list-title {
  text-align: left;
  background: #333333;
  color: #fff;
  padding: 4%;
  letter-spacing: -1px;
  line-height: 1.4;
  font-weight: 400;
  font-size: 0.5625rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title {
    font-size: 18px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title {
    font-size: 18px;
  }
}

.popup.popup-list .list-title strong {
  display: block;
  font-size: 0.9375rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title strong {
    font-size: 30px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title strong {
    font-size: 30px;
  }
}

.popup.popup-list .list-view {
  position: relative;
  background: #fff;
  padding: 4%;
  height: 380px;
  overflow-y: auto;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-view {
    height: 500px;
    overflow-y: auto;
  }
}

.popup.popup-list .list-view .tab-list {
  margin-bottom: 35px;
}

.popup.popup-list .list-view .tab-list::after {
  content: '';
  display: block;
  clear: both;
}

.popup.popup-list .list-view .tab-list .tab-view {
  display: none;
}

.popup.popup-list .list-view .tab-list .tab-view:first-child {
  display: block;
}

.popup.popup-list .list-view .tab-list li {
  float: left;
  width: 33.333333%;
  text-align: center;
  background-color: #e5e5e5;
  padding: 3% 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.popup.popup-list .list-view .tab-list li a {
  font-size: 0.6875rem;
  font-weight: 700;
  line-height: 1.2;
  color: #b0b0b0;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-view .tab-list li a {
    font-size: 22px;
  }
}

.popup.popup-list .list-view .tab-list li.on {
  background-color: #ffd200;
}

.popup.popup-list .list-view .tab-list li.on a {
  color: #000;
}

.popup.popup-list .list-view ul li {
  line-height: 1.4;
  color: #333;
  font-size: 0.6875rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-view ul li {
    font-size: 22px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-view ul li {
    font-size: 18px;
  }
}

.popup.popup-list .list-view .tab-view {
  display: none;
}

.popup.popup-list .list-view .tab-view.tab-view1 {
  display: block;
}

.popup.popup-benefit .popup-body {
  padding: 0;
}

.popup.popup-benefit .popup-body img {
  width: 100%;
}

.product-eco {
  line-height: normal;
  letter-spacing: -1px;
}

.product-eco * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-eco p {
  line-height: inherit;
  font-size: inherit;
  color: inherit;
}

.product-eco .container {
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
}

.product-eco .wrap {
  position: relative;
  max-width: 720px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  width: 100%;
}

.product-eco .wrap .content {
  position: relative;
}

.product-eco .btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .btn:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 2.0625rem;
  height: 2.28125rem;
  background: url("//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_1.png") no-repeat 0 0;
  background-size: contain;
  -webkit-animation-name: bounce2;
          animation-name: bounce2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .btn:after {
    width: 66px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .btn:after {
    height: 73px;
  }
}

@-webkit-keyframes bounce2 {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
}

@keyframes bounce2 {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
}

.product-eco .circle-red {
  position: absolute;
  top: 50%;
  left: auto;
  right: 5.833%;
  z-index: 7;
  margin: -2.34375rem auto 0;
  width: 4.6875rem;
  height: 4.6875rem;
  border-radius: 4.6875rem;
  display: table;
  background: #eb3c28;
  -webkit-box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.2);
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .circle-red {
    margin: -75px auto 0;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .circle-red {
    width: 150px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .circle-red {
    height: 150px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .circle-red {
    border-radius: 150px;
  }
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

.product-eco .circle-red > span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 900;
  line-height: 1.4;
}

@media screen and (min-width: 720px) {
  .product-eco .circle-red > span {
    font-size: 26px;
  }
}

.product-eco .bottom-banner {
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 3.125rem;
  background: #ab58e8;
}

@media screen and (min-width: 720px) {
  .product-eco .bottom-banner {
    height: 100px;
  }
}

.product-eco .bottom-banner .wrap {
  text-align: left;
}

.product-eco .bottom-banner .wrap .text {
  padding-left: 2.59375rem;
  line-height: 3.125rem;
  font-size: 4.16667vw;
  font-weight: 700;
  color: #fff;
}

@media screen and (min-width: 720px) {
  .product-eco .bottom-banner .wrap .text {
    padding-left: 83px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .bottom-banner .wrap .text {
    line-height: 100px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .bottom-banner .wrap .text {
    font-size: 30px;
  }
}

.product-eco .bottom-banner .wrap .text > span {
  color: #ffde00;
}

.product-eco .bottom-banner .wrap .logo {
  display: none;
}

.product-eco .bottom-banner .wrap .action {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 11.53vw;
  width: 5.625rem;
}

@media screen and (min-width: 720px) {
  .product-eco .bottom-banner .wrap .action {
    width: 180px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .bottom-banner .wrap .action {
    right: 83px;
  }
}

.product-eco .left-banner, .product-eco .right-banner {
  display: table;
  position: absolute;
  top: 40.27778vw;
  z-index: 10;
}

@media screen and (min-width: 720px) {
  .product-eco .left-banner, .product-eco .right-banner {
    top: 290px;
  }
}

.product-eco .left-banner.fixed, .product-eco .right-banner.fixed {
  position: fixed;
  top: 100px;
}

.product-eco .left-banner .banner, .product-eco .right-banner .banner {
  display: table-cell;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  width: 23.75vw;
  background-color: transparent;
}

@media screen and (min-width: 720px) {
  .product-eco .left-banner .banner, .product-eco .right-banner .banner {
    width: 171px;
  }
}

.product-eco .left-banner .close, .product-eco .right-banner .close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0;
  width: 3.47222vw;
  height: 3.47222vw;
  margin: 1.66667vw 1.66667vw 0 0;
}

@media screen and (min-width: 720px) {
  .product-eco .left-banner .close, .product-eco .right-banner .close {
    width: 25px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .left-banner .close, .product-eco .right-banner .close {
    height: 25px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .left-banner .close, .product-eco .right-banner .close {
    margin: 12px 12px 0 0;
  }
}

.product-eco .left-banner {
  left: 3%;
}

.product-eco .right-banner {
  right: 3%;
}

.product-eco .right-banner .close {
  z-index: 10;
  position: absolute;
  top: -1.38889vw;
  right: -1.38889vw;
  width: 4.72222vw;
  margin: 0;
}

@media screen and (min-width: 720px) {
  .product-eco .right-banner .close {
    top: -10px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .right-banner .close {
    right: -10px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .right-banner .close {
    width: 34px;
  }
}

.product-eco .blink {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: blink 1s step-start infinite;
          animation: blink 1s step-start infinite;
}

@-webkit-keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.product-eco .blink2 {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: blink2 1s step-start infinite;
          animation: blink2 1s step-start infinite;
}

@-webkit-keyframes blink2 {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes blink2 {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.product-title {
  background: #1c164a url("//img.eduwill.net/eduwill/img/2021/Z/product/210219/mobile/bg_title.jpg") no-repeat 50% 0;
  background-size: cover;
}

@media screen and (min-width: 720px) {
  .product-title {
    background-size: unset;
  }
}

.product-title a.baselayer {
  position: absolute;
  top: 28.89vw;
  right: 5.42vw;
  width: 2.8125rem;
}

@media screen and (min-width: 720px) {
  .product-title a.baselayer {
    top: 208px;
    right: 39px;
  }
}

@media screen and (min-width: 720px) {
  .product-title a.baselayer {
    width: 90px;
  }
}

.product-title .action {
  position: absolute;
  bottom: 16.39vw;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 18.75rem;
}

@media screen and (min-width: 720px) {
  .product-title .action {
    bottom: 118px;
  }
}

@media screen and (min-width: 720px) {
  .product-title .action {
    width: 600px;
  }
}

.product-package::after,
.product-bg .title::after {
  content: '';
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/210219/pc/bg_after.png") no-repeat 50% 0;
  background-size: 27.77778vw;
  display: block;
  position: absolute;
  width: 100%;
  height: 5.55556vw;
  left: 0;
  bottom: -5.55556vw;
  z-index: 9;
}

@media screen and (min-width: 720px) {
  .product-package::after,
  .product-bg .title::after {
    background-size: 200px;
    height: 40px;
    bottom: -40px;
  }
}

.product-package {
  background-color: #1d164a;
  padding-bottom: 16.66667vw;
}

@media screen and (min-width: 720px) {
  .product-package {
    padding-bottom: 120px;
  }
}

.product-package .package-box {
  margin-top: 6.94444vw;
  position: relative;
}

@media screen and (min-width: 720px) {
  .product-package .package-box {
    margin-top: 50px;
  }
}

.product-package .package-box .lecturelayer {
  position: absolute;
  top: 50%;
  right: auto;
  left: auto;
}

.product-package .package-box .package {
  position: relative;
  width: 100%;
  text-align: center;
}

.product-package .package-box .package-price {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  bottom: 27.77778vw;
  line-height: 1;
}

@media screen and (min-width: 720px) {
  .product-package .package-box .package-price {
    bottom: 200px;
  }
}

.product-package .package-box .package-org {
  position: relative;
  height: 100%;
  margin-right: 1rem;
  font-size: 4.16667vw;
  color: #b2b2b2;
  font-weight: 700;
}

@media screen and (min-width: 720px) {
  .product-package .package-box .package-org {
    font-size: 30px;
  }
}

.product-package .package-box .package-org::after {
  content: '';
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/210219/mobile/ico_discount.png") no-repeat 0 0;
  display: block;
  position: absolute;
  width: 20.83333vw;
  height: 22px;
  left: 0;
  top: 35%;
}

@media screen and (min-width: 720px) {
  .product-package .package-box .package-org::after {
    width: 150px;
  }
}

.product-package .package-box .package-disc {
  height: 100%;
  font-size: 9.86111vw;
  color: #ea1d00;
  font-weight: 900;
}

@media screen and (min-width: 720px) {
  .product-package .package-box .package-disc {
    font-size: 71px;
  }
}

.product-package .package-box .action {
  position: absolute;
  max-width: 100%;
  bottom: 10.41667vw;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 15.27778vw;
  padding-right: 15.27778vw;
}

@media screen and (min-width: 720px) {
  .product-package .package-box .action {
    bottom: 75px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.product-package .lecturelayer {
  position: absolute;
  width: 25vw;
  bottom: -10.41667vw;
  right: 8.33333vw;
}

@media screen and (min-width: 720px) {
  .product-package .lecturelayer {
    width: 135px;
    bottom: -75px;
    right: 60px;
  }
}

.product-review {
  padding-bottom: 15.27778vw;
}

@media screen and (min-width: 720px) {
  .product-review {
    padding-bottom: 110px;
  }
}

.product-review .video-review {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 7.63889vw;
  margin-top: 7.63889vw;
  padding-left: 8.33333vw;
  padding-right: 8.33333vw;
}

@media screen and (min-width: 720px) {
  .product-review .video-review {
    padding: 0;
    margin-bottom: 55px;
    margin-top: 55px;
  }
}

.product-review .video-area {
  position: relative;
  max-width: 598px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.product-review .video-area img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
}

.product-review .video-area video {
  width: 100%;
}

.product-review .slider-review {
  max-width: 500px;
  width: calc(100% - 80px);
  padding: 0 40px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media screen and (min-width: 500px) {
  .product-review .slider-review {
    width: calc(100% - 100px);
    padding: 0 50px;
  }
}

.product-review .slider-review .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.product-review .slider-review .slick-arrow.slick-prev {
  left: 5px;
}

.product-review .slider-review .slick-arrow.slick-prev:before {
  right: 0;
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  border-width: 0;
  border-style: solid;
  border-color: #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom-width: 2px;
  border-left-width: 2px;
}

.product-review .slider-review .slick-arrow.slick-next {
  right: 5px;
}

.product-review .slider-review .slick-arrow.slick-next:before {
  left: 0;
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  border-width: 0;
  border-style: solid;
  border-color: #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-width: 2px;
  border-right-width: 2px;
}

.product-review .action {
  margin-top: 3.88889vw;
  padding-left: 11.80556vw;
  padding-right: 11.80556vw;
}

@media screen and (min-width: 720px) {
  .product-review .action {
    margin-top: 28px;
    padding: 0;
  }
}

.product-pass .slider-box {
  position: absolute;
  bottom: 13.89vw;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 100%;
  height: 6.875rem;
}

@media screen and (min-width: 720px) {
  .product-pass .slider-box {
    bottom: 100px;
  }
}

@media screen and (min-width: 720px) {
  .product-pass .slider-box {
    height: 220px;
  }
}

.product-pass .slider-box:before, .product-pass .slider-box:after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 2.5rem;
  background: transparent;
}

@media screen and (min-width: 720px) {
  .product-pass .slider-box:before, .product-pass .slider-box:after {
    height: 80px;
  }
}

.product-pass .slider-box:before {
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.1)), to(white));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, white 100%);
}

.product-pass .slider-box:after {
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0.1) 100%);
}

.product-pass .slider-box .slider-logo {
  height: 100%;
}

.product-pass .slider-box .slick-list {
  width: 100%;
  height: 100% !important;
  margin: 0 auto;
}

.product-pass .slider-box .slick-list .logo {
  display: table !important;
  table-layout: fixed;
}

.product-pass .slider-box .slick-list .logo img {
  margin: 0 auto;
  height: 1.40625rem;
}

@media screen and (min-width: 720px) {
  .product-pass .slider-box .slick-list .logo img {
    height: 45px;
  }
}

.product-pass .slider-box .slick-list p {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  font-size: 2.5vw;
  width: 50%;
}

@media screen and (min-width: 720px) {
  .product-pass .slider-box .slick-list p {
    font-size: 18px;
  }
}

.product-pass .slider-box .slick-slide {
  padding: 0.3125rem 0;
}

@media screen and (min-width: 720px) {
  .product-pass .slider-box .slick-slide {
    padding: 10px 0;
  }
}

.product-news {
  background-color: #f3f2ff;
}

.product-news .title {
  position: relative;
  background-color: #1c164a;
}

.product-cause {
  background-color: #f7f7f7;
  padding-bottom: 14.58333vw;
}

.product-cause .title {
  position: relative;
  margin-bottom: 15.97222vw;
  background-color: #1c164a;
}

.product-cause > .wrap {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 8.33333vw;
  padding-right: 8.33333vw;
}

.product-cause img + img {
  margin-top: 5.55556vw;
}

@media screen and (min-width: 720px) {
  .product-cause {
    padding-bottom: 105px;
  }
  .product-cause .title {
    margin-bottom: 115px;
  }
  .product-cause > .wrap {
    padding-left: 60px;
    padding-right: 60px;
  }
  .product-cause img + img {
    margin-top: 40px;
  }
}

.product-info {
  background-color: #452b67;
  padding-top: 15.27778vw;
  padding-bottom: 8.33333vw;
}

.product-info .slider-box {
  max-width: 658px;
  margin-top: 6.94444vw;
  padding-left: 4.86111vw;
  padding-right: 4.86111vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  overflow: hidden;
}

.product-info .slider-box .slick-list {
  margin: 0 -0.15625rem;
}

@media screen and (min-width: 720px) {
  .product-info .slider-box .slick-list {
    margin: 0 -5px;
  }
}

.product-info .slider-box .slick-slide {
  margin: 0 0.15625rem;
}

@media screen and (min-width: 720px) {
  .product-info .slider-box .slick-slide {
    margin: 0 5px;
  }
}

.product-info .slider-box .slick-dots {
  margin-top: 0.3125rem;
}

@media screen and (min-width: 720px) {
  .product-info .slider-box .slick-dots {
    margin-top: 10px;
  }
}

.product-info .slider-box .slick-dots li {
  display: inline-block;
  margin: 0 0.125rem;
}

@media screen and (min-width: 720px) {
  .product-info .slider-box .slick-dots li {
    margin: 0 4px;
  }
}

.product-info .slider-box .slick-dots li button {
  width: 0.46875rem;
  height: 0.46875rem;
  text-indent: -9999px;
  border: none;
  border-radius: 10px;
  background-color: #71789a;
}

@media screen and (min-width: 720px) {
  .product-info .slider-box .slick-dots li button {
    width: 15px;
  }
}

@media screen and (min-width: 720px) {
  .product-info .slider-box .slick-dots li button {
    height: 15px;
  }
}

.product-info .slider-box .slick-dots li.slick-active button {
  outline: none;
  background-color: #fff;
}

@media screen and (min-width: 720px) {
  .product-info {
    padding-top: 110px;
    padding-bottom: 90px;
  }
  .product-info .slider-box {
    margin-top: 50px;
    padding: 0;
  }
}

.product-end {
  padding-bottom: 13.19444vw;
}

.product-end .action {
  position: absolute;
  width: 100%;
  bottom: 9.02778vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 15.27778vw;
  padding-right: 15.27778vw;
}

@media screen and (min-width: 720px) {
  .product-end {
    padding-bottom: 95px;
  }
  .product-end .action {
    bottom: 65px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
/*# sourceMappingURL=mobile.css.map */