@charset "UTF-8";
.grid, .product-pass .wrap {
  *zoom: 1;
}

.grid:before, .product-pass .wrap:before, .grid:after, .product-pass .wrap:after {
  content: '';
  display: table;
}

.grid:after, .product-pass .wrap:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col-right {
  float: right;
}

.dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 300;
  display: none;
  width: 100%;
  max-width: 720px;
  text-align: left;
  letter-spacing: -1px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

@media screen and (min-width: 720px) {
  .popup {
    width: 900px;
  }
}

.popup-body {
  padding: 15% 5%;
}

@media screen and (min-width: 720px) {
  .popup-body {
    padding: 40px;
  }
}

.popup-head {
  padding: 32px 20px;
  font-size: 30px;
  font-weight: 600;
  color: #000;
  background-color: #ececec;
}

.popup-desc {
  padding: 20px;
}

.popup-desc li {
  padding: 10px 0;
  line-height: 1.2;
  font-size: 20px;
  color: #000;
  border-bottom: 1px solid #ccc;
}

.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.popup-close:before, .popup-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #333;
}

.popup-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup-close-layer {
  position: absolute;
  top: 0;
  right: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.popup-close-layer:before, .popup-close-layer:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #333;
}

.popup-close-layer:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close-layer:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup-close-layer span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup.popup-base {
  border-radius: 10px;
}

.popup.popup-base p {
  line-height: 1.2;
  margin-bottom: 5px;
  font-size: 0.875rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-base p {
    font-size: 28px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-base p {
    font-size: 16px;
  }
}

.popup.popup-list .popup-body {
  padding: 0;
}

.popup.popup-list .popup-close {
  right: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
}

.popup.popup-list .popup-close:before, .popup.popup-list .popup-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #fff;
}

.popup.popup-list .popup-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup.popup-list .popup-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup.popup-list .popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup.popup-list .list-title {
  text-align: left;
  background: #333333;
  color: #fff;
  padding: 4%;
  letter-spacing: -1px;
  line-height: 1.4;
  font-weight: 400;
  font-size: 0.5625rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title {
    font-size: 18px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title {
    font-size: 18px;
  }
}

.popup.popup-list .list-title strong {
  display: block;
  font-size: 0.9375rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title strong {
    font-size: 30px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-title strong {
    font-size: 30px;
  }
}

.popup.popup-list .list-view {
  position: relative;
  background: #fff;
  padding: 4%;
  height: 380px;
  overflow-y: auto;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-view {
    height: 500px;
    overflow-y: auto;
  }
}

.popup.popup-list .list-view .tab-list {
  margin-bottom: 35px;
}

.popup.popup-list .list-view .tab-list::after {
  content: '';
  display: block;
  clear: both;
}

.popup.popup-list .list-view .tab-list .tab-view {
  display: none;
}

.popup.popup-list .list-view .tab-list .tab-view:first-child {
  display: block;
}

.popup.popup-list .list-view .tab-list li {
  float: left;
  width: 33.333333%;
  text-align: center;
  background-color: #e5e5e5;
  padding: 3% 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.popup.popup-list .list-view .tab-list li a {
  font-size: 0.6875rem;
  font-weight: 700;
  line-height: 1.2;
  color: #b0b0b0;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-view .tab-list li a {
    font-size: 22px;
  }
}

.popup.popup-list .list-view .tab-list li.on {
  background-color: #ffd200;
}

.popup.popup-list .list-view .tab-list li.on a {
  color: #000;
}

.popup.popup-list .list-view ul li {
  line-height: 1.4;
  color: #333;
  font-size: 0.6875rem;
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-view ul li {
    font-size: 22px;
  }
}

@media screen and (min-width: 720px) {
  .popup.popup-list .list-view ul li {
    font-size: 18px;
  }
}

.popup.popup-list .list-view .tab-view {
  display: none;
}

.popup.popup-list .list-view .tab-view.tab-view1 {
  display: block;
}

.popup.popup-benefit .popup-body {
  padding: 0;
}

.popup.popup-benefit .popup-body img {
  width: 100%;
}

#fixApply {
  display: none !important;
}

.product-eco {
  line-height: normal;
  letter-spacing: -1px;
}

.product-eco * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-eco p {
  line-height: inherit;
  font-size: inherit;
  color: inherit;
}

.product-eco .container {
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
}

.product-eco .wrap {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  width: 100%;
}

.product-eco .wrap .content {
  position: relative;
}

.product-eco .btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .btn:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 66px;
  height: 73px;
  background: url("//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_1.png") no-repeat 0 0;
  background-size: contain;
  -webkit-animation-name: bounce2;
          animation-name: bounce2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes bounce2 {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
}

@keyframes bounce2 {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
}

.product-eco .circle-red {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 7;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  display: table;
  background: #dd1f3e;
  -webkit-box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.2);
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

.product-eco .circle-red > span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.4;
}

.product-eco .bottom-banner {
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 83px;
  background: #ab58e8;
}

.product-eco .bottom-banner .wrap {
  text-align: left;
}

.product-eco .bottom-banner .wrap .text {
  padding-left: 265px;
  line-height: 83px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.product-eco .bottom-banner .wrap .text > span {
  color: #ffde00;
}

.product-eco .bottom-banner .wrap .logo {
  position: absolute;
  top: -8px;
  left: 50px;
  z-index: 11;
}

.product-eco .bottom-banner .wrap .action {
  position: absolute;
  top: 14px;
  right: 50px;
}

.product-eco .bottom-banner .wrap .btn::after {
  top: 13%;
  width: 44px;
  height: 48px;
}

.product-eco .left-banner {
  position: fixed;
  top: 290px;
  left: 50%;
  z-index: 10;
  margin-left: -755px;
}

.product-eco .left-banner .tit {
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  color: #000;
  -webkit-animation-name: btnChange;
          animation-name: btnChange;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes btnChange {
  0%, 100% {
    color: #000;
  }
  50% {
    color: #fee13e;
  }
}

@keyframes btnChange {
  0%, 100% {
    color: #000;
  }
  50% {
    color: #fee13e;
  }
}

.product-eco .left-banner .con {
  color: #000;
  font-size: 26px;
  text-align: center;
  width: 150px;
  word-break: keep-all;
  position: absolute;
  top: 60px;
  line-height: 1.3;
  font-weight: 600;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.product-eco .left-banner .con p {
  margin: 0;
}

.product-eco .left-banner .con span {
  color: #e75156;
}

.product-eco .right-banner {
  position: absolute;
  top: 290px;
  left: 50%;
  z-index: 10;
  margin-left: 550px;
}

.product-eco .right-banner a {
  display: block;
}

.product-eco .right-banner.fixed {
  position: fixed;
  top: 100px;
}

.product-eco .title {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: #1d164a;
}

.product-eco .title::after {
  content: '';
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/210219/pc/bg_after.png") no-repeat 50% 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0;
  bottom: -40px;
  z-index: 9;
}

.product-eco .blink {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: blink 1s step-start infinite;
          animation: blink 1s step-start infinite;
}

@-webkit-keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.product-eco .blink2 {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: blink2 1s step-start infinite;
          animation: blink2 1s step-start infinite;
}

@-webkit-keyframes blink2 {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes blink2 {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.product-title {
  background: #1d164a url("//img.eduwill.net/eduwill/img/2021/Z/product/210219/pc/bg_title.jpg") no-repeat 50% 0;
}

.product-title a.baselayer {
  position: absolute;
  top: 208px;
  right: 210px;
}

.product-package {
  background-color: #1d164a;
  padding-bottom: 100px;
}

.product-package::after {
  content: '';
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/210219/pc/bg_after.png") no-repeat 50% 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0;
  bottom: -40px;
  z-index: 9;
}

.product-package .package-box {
  position: relative;
}

.product-package .package-box .package {
  position: relative;
  display: table;
  margin: 30px auto 0;
  line-height: 1;
}

.product-package .package-box .package-price {
  position: absolute;
  right: 70px;
  top: 270px;
}

.product-package .package-box .package-org {
  position: relative;
  display: table-cell;
  vertical-align: top;
  padding-top: 10px;
  padding-right: 20px;
  font-size: 30px;
  color: #b2b2b2;
  font-weight: 700;
}

.product-package .package-box .package-org::after {
  content: '';
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/210219/pc/ico_discount.png") no-repeat 0 0;
  display: block;
  position: absolute;
  width: 150px;
  height: 22px;
  left: 0;
  top: 25px;
}

.product-package .package-box .package-disc {
  display: table-cell;
  font-size: 76px;
  color: #ea1d00;
  font-weight: 900;
}

.product-package .action {
  position: absolute;
  bottom: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.product-package .lecturelayer {
  position: absolute;
  top: 55px;
  right: 78px;
}

.product-review {
  padding-bottom: 108px;
}

.product-review .video-review {
  background: url("//img.eduwill.net/eduwill/img/2021/Z/product/210219/pc/bg_video.png") no-repeat right bottom;
  width: 900px;
  margin: 50px auto 73px;
}

.product-review .video-area {
  position: relative;
  width: 700px;
  height: 400px;
}

.product-review .video-area img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
}

.product-review .video-area video {
  width: 100%;
}

.product-review .slider-review {
  width: 910px;
  margin: 0 auto 40px;
  padding: 0 4px;
}

.product-review .slider-review .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.product-review .slider-review .slick-arrow.slick-prev {
  left: -50px;
}

.product-review .slider-review .slick-arrow.slick-prev:before {
  right: 0;
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  border-width: 0;
  border-style: solid;
  border-color: #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom-width: 2px;
  border-left-width: 2px;
}

.product-review .slider-review .slick-arrow.slick-next {
  right: -50px;
}

.product-review .slider-review .slick-arrow.slick-next:before {
  left: 0;
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  border-width: 0;
  border-style: solid;
  border-color: #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-width: 2px;
  border-right-width: 2px;
}

.product-pass .slider-box {
  position: absolute;
  top: 285px;
  right: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 460px;
  height: 400px;
}

.product-pass .slider-box:before, .product-pass .slider-box:after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 150px;
  background: transparent;
}

.product-pass .slider-box:before {
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.1)), to(white));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, white 100%);
}

.product-pass .slider-box:after {
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0.1) 100%);
}

.product-pass .slider-box .slider-logo {
  height: 100%;
}

.product-pass .slider-box .slick-list {
  height: 100% !important;
}

.product-pass .slider-box .slick-list .logo {
  display: table;
  height: 80px;
}

.product-pass .slider-box .slick-list .logo img {
  margin: 0 auto;
}

.product-pass .slider-box .slick-list p {
  display: table-cell;
  vertical-align: middle;
  font-size: 17px;
  width: 200px;
  margin: 0 auto;
}

.product-pass .slider-box .slick-list p:nth-child(2) {
  text-align: left;
}

.product-news {
  background-color: #f3f2ff;
}

.product-cause {
  position: relative;
  background-color: #f7f7f7;
  padding-bottom: 122px;
}

.product-cause .title {
  margin-bottom: 108px;
}

.product-cause img + img {
  margin-top: 32px;
}

.product-info {
  background: #452b68;
  padding-top: 115px;
  padding-bottom: 115px;
}

.product-info .slider-box {
  width: 840px;
  margin: 60px auto 0;
}

.product-info .slider-box .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.product-info .slider-box .slick-arrow.slick-prev {
  left: -55px;
}

.product-info .slider-box .slick-arrow.slick-prev:before {
  right: 0;
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom-width: 2px;
  border-left-width: 2px;
}

.product-info .slider-box .slick-arrow.slick-next {
  right: -55px;
}

.product-info .slider-box .slick-arrow.slick-next:before {
  left: 0;
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-width: 2px;
  border-right-width: 2px;
}

.product-end {
  padding-bottom: 105px;
}

.product-end .action {
  position: absolute;
  left: 105px;
  bottom: 55px;
}

.product-end .action .btn::after {
  width: 52px;
  height: 58px;
}
/*# sourceMappingURL=web.css.map */