/* 메인 비주얼 슬라이더 */
#visualw {min-width:320px;}
#visualw .bx-wrapper .bx-pager {top:75%; }
#visualw .bx-wrapper .bx-pager.bx-default-pager a {background:none; width:10px; height:10px; border-radius:10px; border:3px solid white; margin:0 3px;}
#visualw .bx-wrapper .bx-pager.bx-default-pager a:hover,
#visualw .bx-wrapper .bx-pager.bx-default-pager a.active {background:white;}

/* 메인 배너 */
div.mbtn {min-width:320px;}
div.mbtn ul {overflow:hidden; background:url(../image/mbtn_bg2.gif) repeat-x 0 center;}
div.mbtn li {float:left; width:33.33%; text-align:center; background:url(../image/mbtn_bg1.gif) repeat-y right 0;}
div.mbtn li:nth-child(3), div.mbtn li:last-child {background:none;}
div.mbtn li a {display:block; height:112px; line-height:158px; font-size:12px; background-size:36px !important; color:#343434;}
div.mbtn li:nth-child(1) a {background:url(../image/mbtn1.gif) no-repeat center 24px; }
div.mbtn li:nth-child(2) a {background:url(../image/mbtn2.gif) no-repeat center 24px; }
div.mbtn li:nth-child(3) a {background:url(../image/mbtn3.gif) no-repeat center 24px;}
div.mbtn li:nth-child(4) a {background:url(../image/mbtn4.gif) no-repeat center 24px;}
div.mbtn li:nth-child(5) a {background:url(../image/mbtn5.gif) no-repeat center 24px;}
div.mbtn li:nth-child(6) a {background:url(../image/mbtn6.gif) no-repeat center 24px;}

/* 메인 공지사항 */
div.mnotice {min-width:320px; overflow:hidden; border-top:1px solid #e6e6e6;  font-size:14px; background:url(../image/mnext.gif) no-repeat right 15px; background-size:23px 15px;}
div.mnotice dt, div.mnotice dd {float:left;}
div.mnotice dt {width:12%; font-family:ngb; color:#1f1f1f; text-align:center; padding:15px 0;}
div.mnotice dd {width:88%; }
div.mnotice ul li {padding:15px 0;}
div.mnotice ul a{color:#545454; display:block; }

/* 메인 푸터 */
div.bottom {background:#2e2e2e; color:#828282; font-size:12px; letter-spacing:-1px;}
div.bottom ul {overflow:hidden; border-bottom:1px solid #474747; padding:20px 0;}
div.bottom li {float:left; width:22%; background:url(../image/fline.gif) no-repeat left 0px; background-size:2px }
div.bottom li:first-child {background:none;}
div.bottom li:nth-child(3) {width:34%;}
div.bottom li a {display:block; color:white; font-family:ngb; text-align:center; font-size:13px;}
div.bottom>div {line-height:22px; padding:22px 15px;}
div.bottom address {font-style:normal; }
div#footer {display:none;}