@charset "utf-8";

// Core variables and mixins
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/extend";

.product-eco{
    background-color:#fff; position: relative;text-align:center;overflow: hidden;font-family: $font-noto;letter-spacing: -1px;
    *, *:before, *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
    img{border:0;vertical-align:top;line-height:0;font-size:0;}   
    .clearfix:after{content:'';display:block;clear:both;}
	.wrap{position:relative;width:100%;max-width:720px;margin:0 auto;text-align:center;font-family:'Noto Sans KR',Sans-Serif;letter-spacing:-1px;}
	.section{position:relative;padding:0;margin:0;border-bottom:0;}
    a{display:inline-block;outline: none;}
	.content{ position: relative;}

    .slick-slider {
        .slick-arrow {
            position: absolute;
            top: -18%;
            z-index: 10;
			@include rem(width,25px);
			@include rem(height,41px);
			margin-top:0;
            border: none;
            font-size: 0;
            text-indent: -9999px;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: 0 0;
            outline: none;
            cursor: pointer;
            &.slick-prev { right: 16%; background-image: url('https://img.eduwill.net/eduwill/img/2021/J/product/210118/mobile/btn_prev.png');background-size:cover; }
            &.slick-next { right: 7%; background-image: url('https://img.eduwill.net/eduwill/img/2021/J/product/210118/mobile/btn_next.png');background-size:cover; }
        }
	}
	.section{
		&-title{
			background: #fceddc;
		}
		&-info1, &-info3, &-info5{
			background: #fff;
		}
		&-info2, &-info4 {
			background:#f7f7f7;
		}
		&-banner2{
			background:#fff;
		}
	}
}

