@using EVENT.Models.Common
@model UserInfoVO

@{
	String platform = ("W".Equals(ViewBag.PlatformCd)) ? "pc" : "mobile";
}

<div id="contents" class="promotion">
	<div class="promotion-banner container">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/@platform/img_banner.png">
			<div class="title">
				<h3>런칭 즉시 1위<span>*</span>에듀윌 토익</h3>
				<p>토익정답 서비스 누적 이용 수 <span>0000</span></p>
			</div>
			<em>근거문구근거문구근거문구근거문구근거문구근거문구<br />근거문구근거문구근거문구근거</em>
		</div>
	</div>
	@if ("W".Equals(ViewBag.PlatformCd)){
		<div class="promotion-wing">
			<!-- 0126 버튼관련 태그 제거, 통이미지 처리 -->
			<div class="wing-content">
				<a href="#present" class="page-move">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/@platform/wing_item_01.png">
				</a>
			</div>
			<div class="wing-content">
				<a href="#event" class="page-move">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/@platform/wing_item_02.png">
				</a>
			</div>
			<div class="wing-content">
				<a href="javascript:;" class="page-move" target="_blank">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/@platform/wing_item_03.png">
				</a>
			</div>
		</div>
	}

	<div class="promotion-title container">
		<div class="wrap">
			<div class="title-1">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/@platform/img_main.png" alt="메인 타이틀">
			</div>
			<div class="btn-wrap">
				<a href="#targetWrite" class="page-move">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/@platform/btn_main.png" alt="메인 버튼">
				</a>
			</div>
		</div>
	</div>

	<div class="promotion-notice container">
		<div class="wrap">
			<div class="title">
				<h3><span>토익정답 초간단 채점</span> 실시간 공지사항</h3>
			</div>
			<div class="list">
				<ul>
					<li>♥ 토익 정답 100% 오픈! <span>정답 키워드 입력하면 스벅 100% 무료! ♥</span></li>
					<li>- 6/5 18:34 조정점수, 6/5 19:11 합격예측 1차 오픈</li>
					<li>- 6/7 11:20 조정점수, 합격예측 2차 오픈</li>
					<li>- 6/9 11:00 조정점수, 합격예측 3차 오픈!!</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="promotion-tab-contents">
		<div class="tabs">
			<div class="wrap">
				<ul>
					<li class="active">
						<a href="javascript:;">구원 특강</a>
						<span class="flag">MM/DD 토익</span>
					</li>
					<li>
						<a href="javascript:;">토익정답</a>
						<span class="flag">100% 복원</span>
					</li>
					<li>
						<a href="javascript:;">성적 확인</a>
					</li>
					<li>
						<a href="javascript:;">이벤트</a>
						<span class="flag">토익인강 무료</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="tab-items">
			<!-- 첫번째 탭 -->
			<div class="tab-1">
				<div class="wrap">
					<div class="video-wrap">
						<div class="thumb dimmed">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/@platform/img_thumb.png" alt="">
							<div class="dimm">
								<p>준비중입니다.</p>
							</div>
						</div>
						<div class="present" id="present">
							<div class="title">
								<h3>
									<em>00/00</em> 토익 정답 가장 빨리 확인하고<br />
									<span>스벅 3만원 선물 받자!</span>
								</h3>
							</div>
							<div class="field">
								<div class="img">
									<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/@platform/img_product.png" alt="">
								</div>
								<div class="form">
									<form>
										<div class="label">
											<p>전화번호</p>
											<div class="input-wrap">
												<input type="number" placeholder="-없이 숫자만 입력해주세요." oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="11" />
											</div>
											<button>인증하기</button>
										</div>
										<div class="label">
											<p>인증번호</p>
											<div class="input-wrap">
												<input type="text" placeholder="5분 이내에 입력" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="5" />
												<span>05:00</span>
											</div>
											<button>인증하기</button>
										</div>
									</form>
								</div>
							</div>
							<div class="btn-wrap">
								<a href="javascript:popupOpen('.layer-dimmed', 'popupMessage')">
									<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/@platform/btn_message.png" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-info">
					<div class="wrap">
						<div class="title">
							<h3>
								<span>토익정답 확인까지 단 1분!</span>
								초간단 · 초스피드 토익정답 채점
							</h3>
						</div>
						<div class="list">
							<ul>
								<li>
									<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220321/@platform/img_info01.png">
								</li>
								<li>
									<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220321/@platform/img_info02.png">
								</li>
								<li>
									<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220321/@platform/img_info03.png">
								</li>
								<li>
									<div class="text-wrap">
										@if ("W".Equals(ViewBag.PlatformCd)){
											<h5>04</h5>
											<h3><span>문자 알림 신청만 해도</span>누구나 <b>스타벅스 100%</b> 제공</h3>
										}
										@if ("M".Equals(ViewBag.PlatformCd)){
											<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220321/@platform/img_info04.png">
										}
										<a href="#present" class="page-move">
											<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/@platform/btn_info.png" alt="">
										</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- 두번째 탭 -->
			<div class="tab-2">
				<div class="wrap">
					<div class="title">
						<div class="content">
							<!-- PC 커스텀 셀렉트박스 || 모바일 시스템 셀렉트 박스 -->
							@if ("W".Equals(ViewBag.PlatformCd)) {
								<p><span>홍길동님</span>이 응시하신</p>
								<div class="select-box">
									<p>12/25</p>
									<ul id="answerSelect">
										<li>12/24</li>
										<li>12/23</li>
										<li>12/22</li>
										<li>12/21</li>
										<li>12/20</li>
										<li>12/19</li>
									</ul>
								</div>
								<p>토익 시험 채점</p>
							}
							
							@if ("M".Equals(ViewBag.PlatformCd)) {
								<select>
									<option value="21/12/25">21/12/25</option>
								</select>
								<p>토익 시험 초간단 채점</p>
							}
						</div>
						@if ("W".Equals(ViewBag.PlatformCD)) {
							<span class="sub">※  답안 입력은 마우스로 직접 선택 또는 키보드를 통해 가능합니다. 정답은 숫자 키 1 또는 2, 틀렸거나 기억 안나는 문제는 스페이스바를 눌러주세요.</span>
						}
					</div>

					<div class="content-wrap">
						<div class="live">
							<!-- 기본상태 -->
							<div class="video">
								<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/eEbB0WaVVsY?controls=0&autohide=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								@if ("W".Equals(ViewBag.PlatformCd)) {
									<button class="play-btn"></button>
								}
							</div>
							<!-- 종료 시 -->
							<div class="video dimmed">
								<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/eEbB0WaVVsY?controls=0&autohide=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								<p>라이브 방송이 종료되었습니다.</p>
							</div>
							<!-- 준비중 시 -->
							<div class="video dimmed">
								<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/eEbB0WaVVsY?controls=0&autohide=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								<p>라이브 방송을 준비중입니다.</p>
							</div>

							<!-- 채팅영역 -->
							@if ("W".Equals(ViewBag.PlatformCd)){
								<div class="chat"></div>
							}
							@if ("M".Equals(ViewBag.PlatformCd)){
								<div class="keyword">
								<!-- 0224 gif로 변경되었습니다. -->
									<a href="javascript:popupOpen('.layer-dimmed', 'popupKeyword')">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/@platform/img_answer_banner.gif">
									</a>
								</div>
							}
						</div>

						<div class="fn">
							<div class="keys">
								@if ("W".Equals(ViewBag.PlatformCd)) {
									<div class="mod">
										<p>단축키모드</p>
										<label class="switch">
											<input type="checkbox">
											<span class="slider"></span>
										</label>
									</div>
								}
								@if ("M".Equals(ViewBag.PlatformCd)) {
									<p>※답안은 터치해주세요</p>
								}
								<div class="btns">
									<a href="javascript:openGuide()" class="help">도움말</a>
									<span></span>
									<a href="javascript:;" class="reset">답안 초기화</a>
								</div>
							</div>

							<div class="tab">
								@if ("W".Equals(ViewBag.platformCd)) {
									<ul>
										<li class="on">
											<a href="javascript:;">P1</a>
										</li>
										<li>
											<a href="javascript:;">P2</a>
										</li>
										<li>
											<a href="javascript:;">P3</a>
										</li>
										<li>
											<a href="javascript:;">P4</a>
										</li>
										<li>
											<a href="javascript:;">P5</a>
										</li>
										<li>
											<a href="javascript:;">P6</a>
										</li>
										<li>
											<a href="javascript:;">P7</a>
										</li>
									</ul>
								}
								@if ("M".Equals(ViewBag.PlatformCd)) {
									<select>
										<option value="part1">Part 1</option>
										<option value="part2">Part 2</option>
										<option value="part3">Part 3</option>
										<option value="part4">Part 4</option>
										<option value="part5">Part 5</option>
										<option value="part6">Part 6</option>
										<option value="part7">Part 7</option>
									</select>
								}
							</div>

							@if ("W".Equals(ViewBag.PlatformCd)) {
								<div class="caution">
									<ul>
										<li>※ 더 정확하게 기억나는 정답을 터치(클릭)해주세요.</li>
										<li>※ 모르거나 틀린 경우 문항번호를 터치(클릭)해주세요.</li>
									</ul>
								</div>
							}

							<!-- 0318 해당 부분에 before 클래스를 부여 할 시 가답안 오픈전 dimm 화면이 출력됩니다. -->
							<div class="question">
								<div class="table-wrap">
									<table>
										@if ("W".Equals(ViewBag.PlatformCd)){
											<colgroup>
												<col width="40px">
												<col width="52px">
												<col width="245px">
											</colgroup>
										}
										@if ("M".Equals(ViewBag.PlatformCd)) {
											<colgroup>
												<col width="9.38%">
												<col width="14%">
												<col width="76.62%">
											</colgroup>
										}
										<thead>
											<tr>
												<th>문항</th>
												<th colspan="2">정답</th>
											</tr>
										</thead>
										<tbody>
											<tr class="fs">
												<td>
													<label>
														<input type="radio" name="q1">
														<div>
															<span>1</span>
														</div>
													</label>
												</td>
												<td>
													<label>
														<input type="radio" name="q1">
														<div>
															<span>(A)</span>
														</div>
													</label>
												</td>
												<td>
													<label>
														<input type="radio" name="q1">
														<div>
															<span>apple apple apple app<br />le apple apple</span>
														</div>
													</label>
												</td>
											</tr>
											<tr>
												<td>
													<label>
														<input type="radio" name="q2">
														<div>
															<span>2</span>
														</div>
													</label>
												</td>
												<td>
													<label>
														<input type="radio" name="q2">
														<div>
															<span>(A)</span>
														</div>
													</label>
												</td>
												<td>
													<label>
														<input type="radio" name="q2">
														<div>
															<span>apple apple apple apple apple apple<br />apple appleapple appleapple appleapple appleappleapple appleappleapple apple</span>
														</div>
													</label>
												</td>
											</tr>
											<tr>
												<td>
													<label>
														<input type="radio" name="q3">
														<div>
															<span>3</span>
														</div>
													</label>
												</td>
												<td>
													<label>
														<input type="radio" name="q3">
														<div>
															<span>(A)</span>
														</div>
													</label>
												</td>
												<td>
													<label>
														<input type="radio" name="q3">
														<div>
															<span>banana</span>
														</div>
													</label>
												</td>
											</tr>
											<tr class="ch">
												<td>
													<label>
														<input type="radio" name="q4">
														<div>
															<span>4</span>
														</div>
													</label>
												</td>
												<td>
													<label>
														<input type="radio" name="q4">
														<div>
															<span>(A)</span>
														</div>
													</label>
												</td>
												<td>
													<label>
														<input type="radio" name="q4">
														<div>
															<span>carrot</span>
														</div>
													</label>
												</td>
											</tr>
											<tr class="ok">
												<td>
													<label>
														<input type="radio" name="q5">
														<div>
															<span>5</span>
														</div>
													</label>
												</td>
												<td>
													<label>
														<input type="radio" name="q5">
														<div>
															<span>(A)</span>
														</div>
													</label>
												</td>
												<td>
													<label>
														<input type="radio" name="q5">
														<div>
															<span>apple</span>
														</div>
													</label>
												</td>
											</tr>
											@if ("W".Equals(ViewBag.PlatformCd)) {
											<tr class="ok">
												<td>
													<label>
														<input type="radio" name="q6">
														<div>
															<span>6</span>
														</div>
													</label>
												</td>
												<td>
													<label>
														<input type="radio" name="q6">
														<div>
															<span>(A)</span>
														</div>
													</label>
												</td>
												<td>
													<label>
														<input type="radio" name="q6" checked>
														<div>
															<span>banana</span>
														</div>
													</label>
												</td>
											</tr>
											<tr class="ok">
												<td>
													<label>
														<input type="radio" name="q7">
														<div>
															<span>7</span>
														</div>
													</label>
												</td>
												<td>
													<label>
														<input type="radio" name="q7" checked>
														<div>
															<span>(A)</span>
														</div>
													</label>
												</td>
												<td>
													<label>
														<input type="radio" name="q7">
														<div>
															<span>carrot</span>
														</div>
													</label>
												</td>
											</tr>
											<tr>
												<td>
													<label>
														<input type="radio" name="q8">
														<div>
															<span>8</span>
														</div>
													</label>
												</td>
												<td>
													<label>
														<input type="radio" name="q8">
														<div>
															<span>(A)</span>
														</div>
													</label>
												</td>
												<td>
													<label>
														<input type="radio" name="q8">
														<div>
															<span>apple</span>
														</div>
													</label>
												</td>
											</tr>
											<tr>
												<td>
													<label>
														<input type="radio" name="q9">
														<div>
															<span>9</span>
														</div>
													</label>
												</td>
												<td>
													<label>
														<input type="radio" name="q9">
														<div>
															<span>(A)</span>
														</div>
													</label>
												</td>
												<td>
													<label>
														<input type="radio" name="q9">
														<div>
															<span>banana</span>
														</div>
													</label>
												</td>
											</tr>
											<tr class="ch">
												<td>
													<label>
														<input type="radio" name="q10">
														<div>
															<span>10</span>
														</div>
													</label>
												</td>
												<td>
													<label>
														<input type="radio" name="q10">
														<div>
															<span>(A)</span>
														</div>
													</label>
												</td>
												<td>
													<label>
														<input type="radio" name="q10">
														<div>
															<span>carrot</span>
														</div>
													</label>
												</td>
											</tr>
											<tr>
												<td>
													<label>
														<input type="radio" name="q11">
														<div>
															<span>11</span>
														</div>
													</label>
												</td>
												<td>
													<label>
														<input type="radio" name="q11">
														<div>
															<span>(A)</span>
														</div>
													</label>
												</td>
												<td>
													<label>
														<input type="radio" name="q11">
														<div>
															<span>apple</span>
														</div>
													</label>
												</td>
											</tr>
											}
										</tbody>
									</table>
								</div>

								<!-- 도움말 팝업 및 토익정답 오픈 전 -->
								<div class="dimmed">
									<!-- 정답 오픈 전 -->
									<div class="before-conts">
										<p>토익 정답이 곧 오픈 됩니다! <span>^^</span></p>
									</div>

									<!-- 도움말 -->
									<div class="guide">
										<div class="top">
											<a href="javascript:;">오늘 하루 보지 않기</a>
											<a href="javascript:closeGuide()">닫기</a>
										</div>
										<div class="cont first">
											<p>기억이 나지 않거나 틀린 경우, <span>문항</span>을 선택해주세요.<br />(해당 답안은 오답 처리)</p>
											<div class="box">
												<label>
													<input type="radio" name="g1" checked> 
													<div>
														@if ("W".Equals(ViewBag.PlatformCd)) {
															<span>3</span>
														}
														@if ("M".Equals(ViewBag.PlatformCd)) {
															<span>2</span>
														}
													</div>
												</label>
											</div>
										</div>
										<div class="cont second">
											<p>둘 중 더 정확하게 <span>기억하는 답</span>을 선택해주세요.<br />(해당 답안은 정답 처리)</p>
											<div class="box">
												<ul>
													<li>
														<label>
															<input type="radio" name="g2">
															<div>
																<span>(A)</span>
															</div>
														</label>
														<label>
															<input type="radio" name="g2" checked>
															<div>
																<span>banana</span>
															</div>
														</label>
													</li>
													
													@if ("W".Equals(ViewBag.PlatformCd)) {
														<li>
															<label>
																<input type="radio" name="g3" checked>
																<div>
																	<span>(A)</span>
																</div>
															</label>
															<label>
																<input type="radio" name="g3">
																<div>
																	<span>carrot</span>
																</div>
															</label>
														</li>
													}
												</ul>
											</div>
										</div>
										<div class="cont third">
											<p>'다시 채점하기' 시 <b>정답이 변경된 경우</b>에는<br />정답 부분이 <span>빨간색</span>으로 표시됩니다.<br />이 경우 정확한 채점을 위해 다시 답안을 입력해주세요.</p>
											<div class="box">
												<ul>
													<li class="ch">
														<label>
															<input type="radio" name="g4">
															<div>
																<span>(A)</span>
															</div>
														</label>
														<label>
															<input type="radio" name="g4">
															<div>
																<span>banana</span>
															</div>
														</label>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							@if ("W".Equals(ViewBag.PlatformCd)){
								<div class="keyword">
									<a href="javascript:popupOpen('.layer-dimmed', 'popupKeyword')">
									<!-- 0224 gif로 변경되었습니다. -->
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/@platform/img_answer_banner.gif">
									</a>
								</div>
							}

							<div class="btn-wrap">
								<a href="javascript:popupOpen('.layer-dimmed','popupGrading')">채점하기</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- 세번째 탭 -->
			
			<div class="tab-3">
				<div class="wrap">
					<div class="title">
						<div class="content">
						@if ("W".Equals(ViewBag.PlatformCd)) {
							<p><span>홍길동님</span>이 응시하신</p>
							<div class="select-box">
								<p>12/25</p>
								<ul id="answerSelect">
									<li>12/24</li>
									<li>12/23</li>
									<li>12/22</li>
									<li>12/21</li>
									<li>12/20</li>
									<li>12/19</li>
								</ul>
							</div>
							<p>토익 시험 성적</p>
						}
						@if ("M".Equals(ViewBag.PlatformCd)) {
							<p>홍길동님의</p>
							<select>
								<option value="21/12/25">21/12/25</option>
							</select>
							<p>토익 성적</p>
						}
						</div>
					</div>

					<!-- 변경된 문항이 있을 시 class - chart-wrap ch -->
					<!-- 준비중일 시 class - cahrt-wrap pre -->
					<div class="chart-wrap">
						@if ("W".Equals(ViewBag.PlatformCd)){
							<div class="img-cont">
								<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220321/@platform/img_teacher01.png">
							</div>
						}
						<div>
							<div class="title">
								<h3>나의 토익 점수</h3>
							</div>
							<table>
								<thead>
									<tr>
										<th>구분</th>
										<th>최대 점수</th>
										<th>최소 점수</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><span>LC</span> (리스닝)</td>
										<td><span>0</span> 점</td>
										<td><span>535</span> 점</td>
									</tr>
									<tr>
										<td><span>RC</span> (리딩)</td>
										<td><span>530</span> 점</td>
										<td><span>500</span> 점</td>
									</tr>
									<tr>
										<td><span>총 점수</span></td>
										<td><span>530</span> 점</td>
										<td><span>1035</span> 점</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- 준비중 일 시 해당 영역 pre 클래스명 추가 -->
						<div>
							<div class="title">
								<h3>현재 나의 실력</h3>
							</div>
							<div class="chart">
								<canvas id="mySkill" width="760" height="294"></canvas>
								<div class="pre-wrap">
									<p>성적 분석 준비중입니다.</p>
								</div>
							</div>
						</div>
						<div>
							<div class="title">
								<h3>파트 별 정답률</h3>
								<div class="label-wrap">
									<div class="label point">
										<h5>내 정답률</h5>
										<span></span>
									</div>
									<div class="label">
										<h5>응시자 평균 정답률</h5>
										<span></span>
									</div>
								</div>
							</div>
							<div class="chart">
								<canvas id="answerRate" width="760" height="200"></canvas>
							</div>
						</div>

						<div class="dimmed">
							<div class="change-wrap">
								<p>답이 변경된 문항이 있습니다.</p>
								<p><span>정확한 성적 확인을 위해 다시 채점</span>해주세요.</p>
								<a href="javascript:;">다시 채점하기</a>
							</div>
							<div class="pre-wrap">
								<p>성적 분석 준비중입니다.</p>
							</div>
						</div>
					</div>
					<div class="table-content">
						<h3>내 정답 & 문제 별 정답률</h3>
						<div class="tab">
							@if ("W".Equals(ViewBag.PlatformCd)) {
								<ul>
									<li class="on">
										<a href="javascript:;">Part 1</a>
									</li>
									<li>
										<a href="javascript:;">Part 2</a>
									</li>
									<li>
										<a href="javascript:;">Part 3</a>
									</li>
									<li>
										<a href="javascript:;">Part 4</a>
									</li>
									<li>
										<a href="javascript:;">Part 5</a>
									</li>
									<li>
										<a href="javascript:;">Part 6</a>
									</li>
									<li>
										<a href="javascript:;">Part 7</a>
									</li>
								</ul>
							}
							@if ("M".Equals(ViewBag.PlatformCd)) {
								<select>
									<option value="Part1">Part 1</option>
									<option value="Part2">Part 2</option>
									<option value="Part3">Part 3</option>
									<option value="Part4">Part 4</option>
									<option value="Part5">Part 5</option>
									<option value="Part6">Part 6</option>
									<option value="Part7">Part 7</option>
								</select>
							}
						</div>
						<div class="caution">
							<ul>
								<li><span>※</span>답안 변경이 있었던 경우 문항 번호에 색상이 표시되며 이 경우 정확한 채점 결과를 위하여 다시 채점해주시길 권장드립니다.</li>
							</ul>
						</div>
						<div class="table">
							<table>
								@if ("W".Equals(ViewBag.PlatformCd)){
									<colgroup>
										<col width="120px">
										<col width="120px">
										<col width="100%">
										<col width="100%">
										<col width="120px">
										<col width="120px">
									</colgroup>
								}
								@if ("M".Equals(ViewBag.PlatformCd)) {
									<colgroup>
										<col width="9%">
										<col width="9%">
										<col width="38.8%">
										<col width="19.4%">
										<col width="11.9%">
										<col width="11.9%">
									</colgroup>
								}
								<thead>
									<tr>
										<th>문항</th>
										<th colspan="2">정답</th>
										<th>내가 선택한 답</th>
										<th>정오</th>
										<th>정답률</th>
									</tr>
								</thead>
								<tbody>
									<tr class="ok">
										<td>
											<div>
												<p>1</p>
											</div>
										</td>
										<td>
											<div>
												<p>a</p>
											</div>
										</td>
										<td>
											<div>
												<p>apple apple apple<br />apple apple</p>
											</div>
										</td>
										<td>
											<div>
												<p>a</p>
											</div>
										</td>
										<td>
											<div class="result">
												<span></span>
											</div>
										</td>
										<td>
											<div>
												<span>60%</span>
											</div>
										</td>
									</tr>
									<tr class="ok">
										<td>
											<div>
												<p>2</p>
											</div>
										</td>
										<td>
											<div>
												<p>b</p>
											</div>
										</td>
										<td>
											<div>
												<p>banana</p>
											</div>
										</td>
										<td>
											<div>
												<p>banana</p>
											</div>
										</td>
										<td>
											<div class="result">
												<span></span>
											</div>
										</td>
										<td>
											<div>
												<span>80%</span>
											</div>
										</td>
									</tr>
									<tr class="ch">
										<td>
											<div>
												<p>3</p>
											</div>
										</td>
										<td>
											<div>
												<p>c</p>
											</div>
										</td>
										<td>
											<div>
												<p>apricot</p>
											</div>
										</td>
										<td>
											<div>
												<p>a</p>
											</div>
										</td>
										<td>
											<div class="result">
												<span></span>
											</div>
										</td>
										<td>
											<div>
												<span>76%</span>
											</div>
										</td>
									</tr>
									<tr class="ch">
										<td>
											<div>
												<p>4</p>
											</div>
										</td>
										<td>
											<div>
												<p>d</p>
											</div>
										</td>
										<td>
											<div>
												<p></p>
											</div>
										</td>
										<td>
											<div>
												<p>d</p>
											</div>
										</td>
										<td>
											<div class="result">
												<span></span>
											</div>
										</td>
										<td>
											<div>
												<span>75%</span>
											</div>
										</td>
									</tr>
									<tr class="ok">
										<td>
											<div>
												<p>5</p>
											</div>
										</td>
										<td>
											<div>
												<p>a</p>
											</div>
										</td>
										<td>
											<div>
												<p>chance</p>
											</div>
										</td>
										<td>
											<div>
												<p>b</p>
											</div>
										</td>
										<td>
											<div class="result">
												<span></span>
											</div>
										</td>
										<td>
											<div>
												<span>82%</span>
											</div>
										</td>
									</tr>
									<tr class="ok">
										<td>
											<div>
												<p>6</p>
											</div>
										</td>
										<td>
											<div>
												<p>a</p>
											</div>
										</td>
										<td>
											<div>
												<p>apple</p>
											</div>
										</td>
										<td>
											<div>
												<p>a</p>
											</div>
										</td>
										<td>
											<div class="result">
												<span></span>
											</div>
										</td>
										<td>
											<div>
												<span>60%</span>
											</div>
										</td>
									</tr>
									<tr class="ok">
										<td>
											<div>
												<p>7</p>
											</div>
										</td>
										<td>
											<div>
												<p>b</p>
											</div>
										</td>
										<td>
											<div>
												<p>banana</p>
											</div>
										</td>
										<td>
											<div>
												<p>banana</p>
											</div>
										</td>
										<td>
											<div class="result">
												<span></span>
											</div>
										</td>
										<td>
											<div>
												<span>80%</span>
											</div>
										</td>
									</tr>
									<tr class="wrong">
										<td>
											<div>
												<p>8</p>
											</div>
										</td>
										<td>
											<div>
												<p>c</p>
											</div>
										</td>
										<td>
											<div>
												<p>apricot</p>
											</div>
										</td>
										<td>
											<div>
												<p>a</p>
											</div>
										</td>
										<td>
											<div class="result">
												<span></span>
											</div>
										</td>
										<td>
											<div>
												<span>76%</span>
											</div>
										</td>
									</tr>
									<tr class="ok">
										<td>
											<div>
												<p>9</p>
											</div>
										</td>
										<td>
											<div>
												<p>d</p>
											</div>
										</td>
										<td>
											<div>
												<p></p>
											</div>
										</td>
										<td>
											<div>
												<p>d</p>
											</div>
										</td>
										<td>
											<div class="result">
												<span></span>
											</div>
										</td>
										<td>
											<div>
												<span>75%</span>
											</div>
										</td>
									</tr>
									<tr class="ok">
										<td>
											<div>
												<p>10</p>
											</div>
										</td>
										<td>
											<div>
												<p>a</p>
											</div>
										</td>
										<td>
											<div>
												<p>chance</p>
											</div>
										</td>
										<td>
											<div>
												<p>b</p>
											</div>
										</td>
										<td>
											<div class="result">
												<span></span>
											</div>
										</td>
										<td>
											<div>
												<span>82%</span>
											</div>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
						<div class="tips">
							<h3>점수 상승을 위한 추천 공부법</h3>
							<table>
								@if ("W".Equals(ViewBag.PlatformCd)){
									<colgroup>
										<col width="120px">
										<col width="100%">
									</colgroup>
								}
								@if ("M".Equals(ViewBag.PlatformCd)) {
									<colgroup>
										<col width="13.56%">
										<col width="100%">
									</colgroup>
								}
								<tr>
									<th>Part 3/4</th>
									<td><span>연음이나 영국식/호주식 발음에 익숙해져야 해요.</span> <span>구간 반복을 통해 긴 담화 울렁증을 없애 봐요.</span></td>
								</tr>
								<tr>
									<th>Part 5/6</th>
									<td>
										이 파트에서 시간을 줄여야 다른 파트 풀 시간이 생겨요! 빈출 문법 공식은 모두 암기해 두세요.<br />
										에듀윌토익 어플을 활용해서 취약한 부분을 찾아보시는 게 어때요?
									</td>
								</tr>
								<tr>
									<th>Part 7</th>
									<td>핵심 단어를 찾아내는 연습을 하고, 모르는 단어는 꼭 암기해요.</td>
								</tr>
							</table>
						</div>
						<div class="banner-conts">
							<h3><span class="name">홍길동</span>님을 위한 <span>000점</span> 대 맞춤 강좌</h3>
							<diV class="banner"></div>
							<div class="banner"></div>
						</div>
						<div class="btn-conts">
							<a href="javascript:;">다시 채점하기</a>
						</div>
					</div>
				</div>
			</div>

			<!-- 네번째 탭 -->
			<div class="tab-4">
			 	<div class="event-board">
					<div class="wrap">
						<ul id="eventList" class="event-list event-list-2">
							<li>
								<a href="https://event.eduwill.net/Freebook/Z/Freebook_211230" target="_blank">
									<div class="thumb">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/@platform/img_event_thumb01.jpg" alt="썸네일">
									</div>
									<div class="info-box">
										<div class="subject">
											<strong>토익 올케어반 50% 파격 할인</strong>
											<span>3/27 토익 시험 당일 특별 혜택</span>
										</div>
										<div class="flag">
											<span class="rec">추천</span>
											<span class="end">마감임박</span>
											<span class="new">신규오픈</span>
										</div>
										<div class="date">
											<span>상시</span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="https://event.eduwill.net/Freebook/Z/Freebook_211230" target="_blank">
									<div class="thumb">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/@platform/img_event_thumb01.jpg" alt="썸네일">
									</div>
									<div class="info-box">
										<div class="subject">
											<strong>토익 올케어반 50% 파격 할인</strong>
											<span>3/27 토익 시험 당일 특별 혜택</span>
										</div>
										<div class="flag">
											<span class="rec">추천</span>
											<span class="end">마감임박</span>
											<span class="new">신규오픈</span>
										</div>
										<div class="date">
											<span>상시</span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="https://event.eduwill.net/Freebook/Z/Freebook_211230" target="_blank">
									<div class="thumb">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/@platform/img_event_thumb01.jpg" alt="썸네일">
									</div>
									<div class="info-box">
										<div class="subject">
											<strong>토익 올케어반 50% 파격 할인</strong>
											<span>3/27 토익 시험 당일 특별 혜택</span>
										</div>
										<div class="flag">
											<span class="rec">추천</span>
											<span class="end">마감임박</span>
											<span class="new">신규오픈</span>
										</div>
										<div class="date">
											<span>상시</span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="https://event.eduwill.net/Freebook/Z/Freebook_211230" target="_blank">
									<div class="thumb">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/@platform/img_event_thumb01.jpg" alt="썸네일">
									</div>
									<div class="info-box">
										<div class="subject">
											<strong>토익 올케어반 50% 파격 할인</strong>
											<span>3/27 토익 시험 당일 특별 혜택</span>
										</div>
										<div class="flag">
											<span class="rec">추천</span>
											<span class="end">마감임박</span>
											<span class="new">신규오픈</span>
										</div>
										<div class="date">
											<span>상시</span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="https://event.eduwill.net/Freebook/Z/Freebook_211230" target="_blank">
									<div class="thumb">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/@platform/img_event_thumb01.jpg" alt="썸네일">
									</div>
									<div class="info-box">
										<div class="subject">
											<strong>토익 올케어반 50% 파격 할인</strong>
											<span>3/27 토익 시험 당일 특별 혜택</span>
										</div>
										<div class="flag">
											<span class="rec">추천</span>
											<span class="end">마감임박</span>
											<span class="new">신규오픈</span>
										</div>
										<div class="date">
											<span>상시</span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="https://event.eduwill.net/Freebook/Z/Freebook_211230" target="_blank">
									<div class="thumb">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/@platform/img_event_thumb01.jpg" alt="썸네일">
									</div>
									<div class="info-box">
										<div class="subject">
											<strong>토익 올케어반 50% 파격 할인</strong>
											<span>3/27 토익 시험 당일 특별 혜택</span>
										</div>
										<div class="flag">
											<span class="rec">추천</span>
											<span class="end">마감임박</span>
											<span class="new">신규오픈</span>
										</div>
										<div class="date">
											<span>상시</span>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- 0126 아이디값 부여 -->
	<div class="promotion-event" id="event">
		<div class="title">
			<div class="wrap">
				<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220321/@platform/img_share_starbucks.png" alt="소문내기 이미지">
				@if ("W".Equals(ViewBag.PlatformCd)){
					<p>※ 상품은 매월 말일에 일괄 지급됩니다.</p>
				}
			</div>
		</div>
		<div class="sns">
			<div class="wrap">
				<div class="grid steps wide">
					<ul>
						<li class="col step1">
							<h3>STEP 01</h3>
							<div class="conts">
								<p>URL 복사하기 버튼을 눌러 URL을 복사해주세요.</p>
								<div class="btn-wrap">
									<a href="javascript:;">URL 복사하기</a>
								</div>
							</div>
						</li>
						<li class="col step2">
							<h3>STEP 02</h3>
							<div>
								@if("W".Equals(ViewBag.PlatformCd)){
									<p>복사한 URL을 아래 버튼을 클릭하여 카톡방에 공유해주세요. <span>(50인 이상 오픈 채팅방에 50회 이상 공유해야만 인정)</span></p>
								}
								@if("M".Equals(ViewBag.PlatformCd)){
									<p>복사한 URL을 아래 버튼을 클릭하여<br />카톡방에 공유해주세요. <span>(50인 이상 오픈 채팅방에 50회 이상 공유해야만 인정)</span></p>
								}
								<div class="step-link">
									<div>
										<a href="javascript:popupOpen('.layer-dimmed', 'popupKakao');">토익 키워드</a>
									</div>
									<div>
										<a href="javascript:;">공기업 키워드</a>
									</div>
									<div>
										<a href="javascript:;">대기업 키워드</a>
									</div>
									<div>
										<a href="javascript:;">취업준비 키워드</a>
									</div>
									<div>
										<a href="javascript:;">토스 키워드</a>
									</div>
									<div>
										<a href="javascript:;">오픽 키워드</a>
									</div>
									<div>
										<a href="javascript:;">취업 키워드</a>
									</div>
								</div>
							</div>
						</li>
						<li class="col step3">
							<h3>STEP 03</h3>
							<div class="conts">
								<p>공유한 채팅방을 캡쳐해서 이미지를 첨부해주세요. <span>(이미지는 최대 5MB까지 가능)</span></p>
								<div class="btn-wrap">
									<a href="javascript:popupOpen('.layer-dimmed', 'popupImage');">이미지 등록하기</a>
									<a href="javascript:popupOpen('.layer-dimmed', 'popupCheck')" class="ex">참여 횟수 확인</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="caution">
			<div class="wrap">
				<h3>[이벤트 유의사항 안내]</h3>
				<div class="content-title">■ 문자 사전 알림 신청</div>
				<!-- 0316 유의사항 태그구조 변경 -->
				<ul>
					<li>
						<p>
							<em>1.</em>참여 방법 : 문자 알림 신청 후 토익정답 초간단 채점 이용
						</p>
					</li>
					<li>
						<p>
							<em>2. </em>혜택: [전원제공] 스타벅스 아이스 아메리카노 기프티콘, [<span>10</span>명 제공] 스타벅스 기프티콘 <span>3</span>만원권
						</p>
					</li>
					<li>
						<p>
							<em>3. </em>당첨 미션
						</p>
					</li>
					<li>
						<p class="inner">
							<strong>1) </strong>시험 당일~시험 익일 <span>24</span>시까지 에듀윌 토익정답 초간단 채점 이용자
						</p>
					</li>
					<li>
						<p class="inner">
							<strong>2) </strong>스벅 <span>3</span>만원 권: 본 서비스에서 정답 키워드를 작성해주신 분들 중 가장 점수가 높은 분 <span>10</span>명 추첨
							<span class="sub">* 단, 동점 자의 경우 빨리 입력한 분이 추첨 됩니다.</span>
						</p>
					</li>
					<li>
						<p class="inner">
							<strong>3) </strong>스벅 아메리카노: 문자 알림 신청자 중 본 서비스 채점 결과 총점과 실제 점수가 <span>100</span>% 일치한 전원 증정
							<span class="sub">* 토익정답 초간단 채점결과 총점은 실제 점수 발표 전 "최대 점수" 기준</span>
						</p>
					</li>
					<li>
						<p>
							<em>4. </em>실제 성적표 제출 방법 : 위에서 작성한 전화번호로 수신된 문자의 링크를 통해 제출해주세요.
						</p>
					</li>
					<li>
						<p>
							<em>5. </em>유의사항
						</p>
					</li>
					<li>
						<p class="inner">
							<strong>1) </strong>마케팅 활용 동의: 토익 성적표 사본 및 에듀윌 토익정답 초간단 채점 결과 점수, 이름 등
						</p>
					</li>
					<li>
						<p class="inner">
							<strong>2) </strong>점수 획득을 목적으로 응시하지 않은 것으로 판단되면 당첨에서 제외됩니다.
						</p>
					</li>
					<li>
						<p class="inner">
							<strong>3) </strong>성적 위조 등 부정한 방법으로 이벤트에 참여할 경우 당첨에서 제외되며 불이익이 주어질 수 있습니다.
						</p>
					</li>
					<li>
						<p class="inner">
							<strong>4) </strong>에듀윌 토익정답 초간단 채점서비스의 정확한 데이터분석을 위하여, <span>200</span>문항 중 <span>1</span>문항이라도 체크하지않은 경우 당첨에서 제외됩니다.
						</p>
					</li>
					<li>
						<p class="inner">
							<strong>5) </strong>에듀윌 토익정답 초간단 채점서비스 이용 인정은 정확한 데이터분석을 위하여, 실제 시험에 응시했다는 증거자료(성적표) 를 제출하지않는 경우, 허위 참여로 간주되어 당첨에서 제외됩니다.
						</p>
					</li>
					<li>
						<p class="inner">
							<strong>6) </strong>마케팅 활용에 동의하지 않은 경우, 당첨에서 제외됩니다.
						</p>
					</li>
					<li>
						<p class="inner">
							<strong>7) </strong>문자에 명시된 제출 기한 내 근거 자료를 제출하지 않은 경우, 당첨에서 제외됩니다.
						</p>
					</li>
				</ul>
				<div class="content-title">■ 소문내기 이벤트</div>
				<ul>
					<li>
						<p>
							<em>1.</em> 카톡 공유가 확인되지 않는 이미지 업로드 시 당첨에서 제외됩니다.
						</p>
					</li>
					<li>
						<p>
							<em>2.</em> <span>50</span>인 미만의 채팅방 공유 시, 당첨에서 제외됩니다.
						</p>
					</li>
					<li>
						<p>
							<em>3.</em> <span>5</span>회 미만 공유 시, 당첨에서 제외됩니다.
						</p>
					</li>
					<li>
						<p>
							<em>4.</em> 이미지 조작/부정행위 발견 시, 당첨에서 제외됩니다.
						</p>
					</li>
					<li>
						<p>
							<em>5.</em> 상품은 개별 안내 후 발송됩니다.
						</p>
					</li>
					<li>
						<p>
							<em>6.</em> 유의사항을 읽지 않고 발생한 모든 사항에 대해는 책임지지 않습니다.
						</p>
					</li>
					<li>
						<p>
							<em>7.</em> 사전 고지 없이 중도 종료될 수 있습니다.
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- 0316 플로팅 추가 -->
	<div class="sector-floating">
		<div class="wrap">
			<div data-eduwill-eco-content="4329"></div>
		</div>
	</div>
</div>

<!-- 이미지 인증하기 팝업 -->
<div class="layer-dimmed"></div>
<div class="popup" id="popupImage">
	<div class="popup-header">
		<h3>소문내기 인증하기</h3>
		<a href="javascript:popupClose('.layer-dimmed', 'popupImage');"></a>
	</div>
	<div class="popup-body">
		<h3>카톡방 소문내기 인증 이미지를 등록해주세요.</h3>
		<div class="input-wrap">
			<input class="upload" placeholder="파일을 등록해주세요." readonly>
			<label for="input-file">파일 첨부</label>
			<input type="file" id="input-file" class="hidden">
		</div>
		<div class="guide">
			<span>이미지 등록은 총 5MB 이하만 가능합니다.</span>
			<span>카톡방 참여인원이 50명 이상인 점이 명확히 드러나는 이미지를 등록해주셔야 이벤트 참여로 인정됩니다.</span>
		</div>
		<div class="image-wrap">
			<h3>총 <span>00</span>개 이미지</h3>
			<div class="wrapper">
				<ul>
					<li>
						<a href="javascript:;"></a>
						<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220321/common/img_file.png">
					</li>
					<li>
						<a href="javascript:;"></a>
						<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220321/common/img_file.png">
					</li>
					<li>
						<a href="javascript:;"></a>
						<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220321/common/img_file.png">
					</li>
					<li>
						<a href="javascript:;"></a>
						<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220321/common/img_file.png">
					</li>
					<li>
						<a href="javascript:;"></a>
						<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220321/common/img_file.png">
					</li>
					<li>
						<a href="javascript:;"></a>
						<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220321/common/img_file.png">
					</li>
					@if ("W".Equals(ViewBag.PlatformCd)) {
						<li>
							<a href="javascript:;"></a>
							<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220321/common/img_file.png">
						</li>
						<li>
							<a href="javascript:;"></a>
							<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220321/common/img_file.png">
						</li>
						<li>
							<a href="javascript:;"></a>
							<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220321/common/img_file.png">
						</li>
						<li>
							<a href="javascript:;"></a>
							<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220321/common/img_file.png">
						</li>
					}
				</ul>
			</div>
		</div>
		<div class="caution">
			<label>
				<input type="checkbox">
				<p>개인정보 수집 및 이용에 동의합니다. (필수)</p>
			</label>
			<div class="cont">
				<h5>개인정보 수집 및 이용에 대한 동의 (필수)</h5>
				<p>(주)에듀윌은 본 이벤트를 위해 다음과 같이 참여자의 개인정보를 수집 및 이용합니다.</p>
				<ul>
					<li>수집 및 이용 목적 : 참여자 정보확인, 안내 문자 발송, (추첨)사은품 발송</li>
					<li>수집항목 : 이름, 휴대폰번호</li>
					<!-- 0318 기간 수정 -->
					<li>보유 및 이용 기간 : <span>이벤트 종료 후 1년</span></li>
					<p>귀하는 개인정보 수집 및 이용에 동의하지 않으실 수 있으나, 동의하지 않으실 경우 참여가 제한됩니다.</p>
				</ul>
			</div>
		</div>
		<div class="btn-wrap">
			<a href="javascript:;">제출하기</a>
		</div>
	</div>
</div>

<!-- 참여횟수 팝업 -->
<div class="popup" id="popupCheck">
	<div class="popup-header">
		<h3>내 참여횟수 확인</h3>
		<a href="javascript:popupClose('.layer-dimmed','popupCheck');"></a>
	</div>
	<div class="popup-body">
		<div class="check">
			<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220321/common/img_popup_coffee.png">
			<h3>내 참여 횟수는 <b>총 <span>12</span>번</b> 입니다.</h3>
		</div>
	</div>
	<div class="popup-check-caution">
		<h3>카톡방 소문내기 인증 이미지를 등록해주세요.</h3>
		<div class="guide">
			<span>이미지 등록은 총 5MB 이하만 가능합니다.</span>
			<span>카톡방 참여인원이 50명 이상인 점이 명확히 드러나는 이미지를 등록해주셔야 이벤트 참여로 인정됩니다.</span>
		</div>
		<div class="btn-wrap">
			<a href="javascript: popupClose('.layer-dimmed','popupCheck'); popupOpen('.layer-dimmed', 'popupImage');">이미지 인증하기</a>
		</div>
	</div>
</div>

<!-- 개인정보수집팝업 -->
<div class="popup" id="popupMessage">
	<div class="popup-header">
		<h3>개인정보 수집 및 이용 동의</h3>
		<a href="javascript:popupClose('.layer-dimmed', 'popupMessage')"></a>
	</div>

	<div class="popup-body">
		<div class="check-wrap">
			<label>
				<input type="checkbox">
				<p>전체 동의</p>
			</label>
		</div>
		<div class="caution-wrapper">
			<div class="caution">
				<h3>■ 개인정보 수집 및 이용에 대한 동의 (필수)</h3>
				<div class="cont">
					<!-- 0318 문구수정 -->
					<p>(주)에듀윌은 본 이벤트를 위해 다음과 같이 참여자의 개인정보를 수집 및 이용합니다.</p>
					<ul>
						<li>수집 이용 목적 : 이벤트 참여자 확인, 본 이벤트에 따른 혜택 발송</li>
						<li>수집항목 : 휴대폰번호</li>
						<li>보유 및 이용 기간 : 이벤트 종료 후 <span><em>1</em>년</span></li>
					</ul>
					<p>이벤트 신청 회원은 개인정보 수집 및 이용을 거부할 수 있습니다.</p>
					<!-- 수정 끝 -->
				</div>
				<div class="check-wrap">
					<h5>위 내용을 충분히 이해하였으며, 개인정보 수집 및 이용에 동의합니다. (필수)</h5>
					<label>
						<input type="checkbox">
						<p>동의합니다.</p>
					</label>
				</div>
			</div>

			<div class="caution">
				<h3>■ 개인정보 마케팅 활용에 대한 동의 (선택)</h3>
				<!-- 0318 문구 수정 -->
				<div class="cont">
					<p>(주)에듀윌은 다음과 같이 참여자의 개인정보를 마케팅에 활용할 수 있습니다.</p>
					<ul>
						<li>수집 및 이용 목적 : <span>다양한 이벤트, 상품, 설명회, 시험에 필요한 정보 제공</span></li>
						<li>수집항목 : 휴대폰번호</li>
						<li>보유 및 이용 기간 : <span>회원탈퇴 또는 마케팅 활용 동의 철회 시 까지</span></li>
					</ul>
					<p>귀하는 개인정보 수집 및 이용에 동의하지 않으실 수 있으며, <span>동의하지 않더라도 이벤트 참여는 가능합니다.</span></p>
				</div>
				<!-- 수정 끝 -->
				<div class="check-wrap">
					<h5>위 내용을 충분히 이해하였으며, 개인정보 마케팅 활용에 동의합니다. (선택)</h5>
					<label>
						<input type="checkbox">
						<p>동의합니다.</p>
					</label>
				</div>
			</div>
		</div>
		@if ("W".Equals(ViewBag.platformCd)) {
			<div class="btn-wrap full">
				<a href="javascript:;" class="pointer">네, 동의합니다.</a>
			</div>
		}
	</div>
	@if ("M".Equals(ViewBag.platformCd)) {
		<div class="btn-wrap full">
			<a href="javascript:;" class="pointer">네, 동의합니다.</a>
		</div>
	}
</div>

<!-- 후기작성팝업 -->
<div class="popup" id="popupGrading">
	<div class="popup-header">
		<h3>후기작성</h3>
		<a href="javascript:popupClose('.layer-dimmed', 'popupGrading');"></a>
	</div>
	<div class="popup-body">
		<div class="review">
			<h2>에듀윌 토익 선생님과 강의에 대한 후기를 남겨주세요.</h2>
			<h5><span>수강후기 우수 작성자</span> 분들에게 <b>스타벅스 커피</b>를 무료로 드립니다.</h5>
			<div class="form">
				<ul>
					<li>
						<p>선생님</p>
						<select>
							<option value="샐린선생님">샐린선생님</option>
						</select>
					</li>
					<li>
						<p>수강 강의</p>
						<select>
							<option value="공인중개사">공인중개사</option>
						</select>
					</li>
					<li>
						<p>작성자</p>
						<span>이수지</span>
					</li>
					<li>
						<p>제목</p>
						<div>
							<input type="text">
							<textarea placeholder="최소 100자 이상 후기를 입력해주세요."></textarea>
						</div>
					</li>
				</ul>
			</div>
			<div class="btn-wrap">
				<!-- 0311 클래스명 추가 -->
				<a href="javascript:;" class="btn btn-medium">제출하기</a>
			</div>
		</div>
	</div>
</div>

<!-- 키워드입력팝업 -->
<div class="popup" id="popupKeyword">
	<div class="popup-header">
		<h3>토익 정답 키워드 입력</h3>
		<a href="javascript:popupClose('.layer-dimmed', 'popupKeyword');"></a>
	</div>
	<div class="popup-body pd">
		<div class="keywords">
			<div class="title">	
				<img src="https://img.eduwill.net/eduwill/img/2022/_115/event/220321/common/img_keyword_coffee.png">
				<div class="text">
					<h3>내가 기억하는 토익정답 적고</h3>
					<h2><span>스타벅스 3만원</span> 받자!</h2>
					<p>※ 아래 적어주시는 정답 키워드는 채점에 반영되지 않습니다.</p>
				</div>
			</div>
			<div class="tabs">
				@if ("W".Equals(ViewBag.platformCd)) {
					<ul>
						<li class="active">
							<a href="javascript:;">Part 1</a>
						</li>
						<li>
							<a href="javascript:;">Part 2</a>
						</li>
						<li>
							<a href="javascript:;">Part 3</a>
						</li>
						<li>
							<a href="javascript:;">Part 4</a>
						</li>
						<li>
							<a href="javascript:;">Part 5</a>
						</li>
						<li>
							<a href="javascript:;">Part 6</a>
						</li>
						<li>
							<a href="javascript:;">Part 7</a>
						</li>
					</ul>
				}
				@if ("M".Equals(ViewBag.platformCd)) {
					<select>
						<option value="part1">PART 1</option>
					</select>
				}
			</div>
			@if ("W".Equals(ViewBag.platformCd)) {
				<div class="table-wrap">
					<table>
						<colgroup>
							<col width="15%">
							<col width="15%">
							<col width="20%">
							<col width="50%">
						</colgroup>
						<thead>
							<tr>
								<th>문항</th>
								<th>정답</th>
								<th>정답 키워드</th>
								<th>정답 키워드 직접 입력</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>(A)</td>
								<td>apple</td>
								<td><input type="text"></td>
							</tr>
							<tr>
								<td>2</td>
								<td>(B)</td>
								<td>banana</td>
								<td><input type="text"></td>
							</tr>
							<tr>
								<td>3</td>
								<td>(C)</td>
								<td>apricot</td>
								<td><input type="text"></td>
							</tr>
							<tr>
								<td>4</td>
								<td>(D)</td>
								<td></td>
								<td><input type="text"></td>
							</tr>
							<tr>
								<td>5</td>
								<td>(A)</td>
								<td>chance</td>
								<td><input type="text"></td>
							</tr>
							<tr>
								<td>6</td>
								<td>(B)</td>
								<td>apple</td>
								<td><input type="text"></td>
							</tr>
							<tr>
								<td>7</td>
								<td>(C)</td>
								<td>banana</td>
								<td><input type="text"></td>
							</tr>
							<tr>
								<td>8</td>
								<td>(D)</td>
								<td>apricot</td>
								<td><input type="text"></td>
							</tr>
							<tr>
								<td>9</td>
								<td>(A)</td>
								<td></td>
								<td><input type="text"></td>
							</tr>
							<tr>
								<td>10</td>
								<td>(A)</td>
								<td>chance</td>
								<td><input type="text"></td>
							</tr>
						</tbody>
					</table>
				</div>
			}
			@if ("M".Equals(ViewBag.platformCd)) {
				<div class="table-wrap">
					<table>
						<colgroup>
							<col width="12%">
							<col width="12%">
							<col width="76%">
						</colgroup>
						<thead>
							<tr>
								<th>문항</th>
								<th>정답</th>
								<th>정답 키워드</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td rowspan="2">1</td>
								<td>
									<p>(A)</p>
								</td>
								<td>
									<p>apple</p>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<input type="text" placeholder="정답 키워드 직접 입력">
								</td>
							</tr>

							<tr>
								<td rowspan="2">2</td>
								<td>
									<p>(B)</p>
								</td>
								<td>
									<p>banana</p>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<input type="text" placeholder="정답 키워드 직접 입력">
								</td>
							</tr>

							<tr>
								<td rowspan="2">3</td>
								<td>
									<p>(B)</p>
								</td>
								<td>
									<p>banana</p>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<input type="text" placeholder="정답 키워드 직접 입력">
								</td>
							</tr>

							<tr>
								<td rowspan="2">4</td>
								<td>
									<p>(B)</p>
								</td>
								<td>
									<p>banana</p>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<input type="text" placeholder="정답 키워드 직접 입력">
								</td>
							</tr>

							<tr>
								<td rowspan="2">5</td>
								<td>
									<p>(B)</p>
								</td>
								<td>
									<p>banana</p>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<input type="text" placeholder="정답 키워드 직접 입력">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			}
			<div class="btn-wrap full">
				<a href="javascript:;" class="no-arrow">정답 적고 스벅 3만원권 받기</a>
			</div>
		</div>
	</div>
</div>

<!-- 카카오톡 소문내기 팝업 -->
<div class="popup" id="popupKakao">
	<div class="popup-header">
		<h3>카카오톡 소문내기 이벤트</h3>
		<a href="javascript:popupClose('.layer-dimmed', 'popupKakao')"></a>
	</div>
	<div class="popup-body pd">
		<div class="social kakao">
			<div class="search">
				<div class="input-wrap">
					<input type="text">
					<button></button>
				</div>
				<a href="javascript:popupClose('.layer-dimmed', 'popupKakao');">취소</a>
			</div>
			<div class="tab-links">
				<ul>
					<li class="active">
						<a href="javascript:;">그룹채팅</a>
					</li>
				</ul>
			</div>
			<div class="filter">
				<ul>
					<li>
						<a href="javascript:;">추천</a>
					</li>
					<li>
						<a href="javascript:;">최신</a>
					</li>
					<li>
						<a href="javascript:;">좋아요</a>
					</li>
				</ul>
				<label>
					<input type="checkbox">
					<div class="marker"></div>
					<span>참여코드 채팅방 제외</span>
				</label>
			</div>

			<div class="list">
				<ul>
					<li>
						<a href="javascript:;">
							<div class="conts">
								<h3>토익 문제 공유방(토익커 다 오세요)</h3>
								<p class="hash">#자기전에문제풀기 #파트5를집중적으로 #모르는문제</p>
								<div class="stat">
									<div class="icon">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/common/icon_profile01.png" alt="카카오톡프로필아이콘">
									</div>
									<em>711명</em>
									<span>1시간 전</span>
								</div>
							</div>
							<div class="thumb">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/common/share_thumb.png" alt="카카오톡공유하기이미지_에듀윌">
								<div class="like">
									<p>♥ <span>999</span></p>
								</div>
							</div>
						</a>
					</li>

					<li>
						<a href="javascript:;">
							<div class="conts">
								<h3>토익 문제 공유방(토익커 다 오세요)</h3>
								<p class="hash">#자기전에문제풀기 #파트5를집중적으로 #모르는문제</p>
								<div class="stat">
									<div class="icon">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/common/icon_profile01.png" alt="카카오톡프로필아이콘">
									</div>
									<em>711명</em>
									<span>1시간 전</span>
								</div>
							</div>
							<div class="thumb">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/common/share_thumb.png" alt="카카오톡공유하기이미지_에듀윌">
								<div class="like">
									<p>♥ <span>999</span></p>
								</div>
							</div>
						</a>
					</li>

					<li>
						<a href="javascript:;">
							<div class="conts">
								<h3>토익 문제 공유방(토익커 다 오세요)</h3>
								<p class="hash">#자기전에문제풀기 #파트5를집중적으로 #모르는문제</p>
								<div class="stat">
									<div class="icon">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/common/icon_profile01.png" alt="카카오톡프로필아이콘">
									</div>
									<em>711명</em>
									<span>1시간 전</span>
								</div>
							</div>
							<div class="thumb">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/common/share_thumb.png" alt="카카오톡공유하기이미지_에듀윌">
								<div class="like">
									<p>♥ <span>999</span></p>
								</div>
							</div>
						</a>
					</li>

					<li>
						<a href="javascript:;">
							<div class="conts">
								<h3>토익 문제 공유방(토익커 다 오세요)</h3>
								<p class="hash">#자기전에문제풀기 #파트5를집중적으로 #모르는문제</p>
								<div class="stat">
									<div class="icon">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/common/icon_profile01.png" alt="카카오톡프로필아이콘">
									</div>
									<em>711명</em>
									<span>1시간 전</span>
								</div>
							</div>
							<div class="thumb">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/common/share_thumb.png" alt="카카오톡공유하기이미지_에듀윌">
								<div class="like">
									<p>♥ <span>999</span></p>
								</div>
							</div>
						</a>
					</li>

					<li>
						<a href="javascript:;">
							<div class="conts">
								<h3>토익 문제 공유방(토익커 다 오세요)</h3>
								<p class="hash">#자기전에문제풀기 #파트5를집중적으로 #모르는문제</p>
								<div class="stat">
									<div class="icon">
										<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/common/icon_profile01.png" alt="카카오톡프로필아이콘">
									</div>
									<em>711명</em>
									<span>1시간 전</span>
								</div>
							</div>
							<div class="thumb">
								<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220321/common/share_thumb.png" alt="카카오톡공유하기이미지_에듀윌">
								<div class="like">
									<p>♥ <span>999</span></p>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- 0224 팝업 페이징 추가 -->
		<div class="pagination">
			<a href="javascript:;" class="arrow prev"></a>
			<ul>
				<li class="active">
					<a href="javascript:;">1</a>
				</li>
				<li>
					<a href="javascript:;">2</a>
				</li>
				<li>
					<a href="javascript:;">3</a>
				</li>
				<li>
					<a href="javascript:;">4</a>
				</li>
				<li>
					<a href="javascript:;">5</a>
				</li>
			</ul>
			<a href="javascript:;" class="arrow next"></a>
		</div>
	</div>
</div>

<script type="text/javascript" src="https://img.eduwill.net/eduwill/live/libs/chartjs/2.8.0/chart.js@2.8.0"></script>
<script type="text/javascript">
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;

	$(document).ready(function() {

		$('body').on('click', '.select-box p', function() {
			$('.select-box').toggleClass('on');
		});
		$('body').on('click', '.select-box ul li', function() {
			var text = $(this).html();
			$('.select-box p').html(text);
			$('.select-box').toggleClass('on');
		});

	});

	function openGuide() {
		$('.question .dimmed').fadeIn();
		$('.question .dimmed .guide').addClass('in');
	}
	function closeGuide() {
		$('.question .dimmed').fadeOut();
		$('.question .dimmed .guide').removeClass('in');
	}


	// draws a rectangle with a rounded top
	Chart.helpers.drawRoundedTopRectangle = function(ctx, x, y, width, height, radius) {
		ctx.beginPath();
		ctx.moveTo(x + radius, y);
		// top right corner
		ctx.lineTo(x + width - radius, y);
		ctx.quadraticCurveTo(x + width, y, x + width, y + radius);
		// bottom right	corner
		ctx.lineTo(x + width, y + height);
		// bottom left corner
		ctx.lineTo(x, y + height);
		// top left	
		ctx.lineTo(x, y + radius);
		ctx.quadraticCurveTo(x, y, x + radius, y);
		ctx.closePath();
	};

	Chart.elements.RoundedTopRectangle = Chart.elements.Rectangle.extend({
		draw: function() {
			var ctx = this._chart.ctx;
			var vm = this._view;
			var left, right, top, bottom, signX, signY, borderSkipped;
			var borderWidth = vm.borderWidth;

			if (!vm.horizontal) {
				// bar
				left = vm.x - vm.width / 2;
				right = vm.x + vm.width / 2;
				top = vm.y;
				bottom = vm.base;
				signX = 1;
				signY = bottom > top? 1: -1;
				borderSkipped = vm.borderSkipped || 'bottom';
			} else {
			// horizontal bar
				left = vm.base;
				right = vm.x;
				top = vm.y - vm.height / 2;
				bottom = vm.y + vm.height / 2;
				signX = right > left? 1: -1;
				signY = 1;
				borderSkipped = vm.borderSkipped || 'left';
			}

			// Canvas doesn't allow us to stroke inside the width so we can
			// adjust the sizes to fit if we're setting a stroke on the line
			if (borderWidth) {
				// borderWidth shold be less than bar width and bar height.
				var barSize = Math.min(Math.abs(left - right), Math.abs(top - bottom));
				borderWidth = borderWidth > barSize? barSize: borderWidth;
				var halfStroke = borderWidth / 2;
				// Adjust borderWidth when bar top position is near vm.base(zero).
				var borderLeft = left + (borderSkipped !== 'left'? halfStroke * signX: 0);
				var borderRight = right + (borderSkipped !== 'right'? -halfStroke * signX: 0);
				var borderTop = top + (borderSkipped !== 'top'? halfStroke * signY: 0);
				var borderBottom = bottom + (borderSkipped !== 'bottom'? -halfStroke * signY: 0);
			// not become a vertical line?
			if (borderLeft !== borderRight) {
				top = borderTop;
				bottom = borderBottom;
			}
			// not become a horizontal line?
			if (borderTop !== borderBottom) {
				left = borderLeft;
				right = borderRight;
			}
		}

		// calculate the bar width and roundess
		var barWidth = Math.abs(left - right);
		var roundness = this._chart.config.options.barRoundness || 0.5;
		var radius = barWidth * roundness * 0.5;
		
		// keep track of the original top of the bar
		var prevTop = top;
		
		// move the top down so there is room to draw the rounded top
		top = prevTop + radius;
		var barRadius = top - prevTop;

		ctx.beginPath();
		ctx.fillStyle = vm.backgroundColor;
		ctx.strokeStyle = vm.borderColor;
		ctx.lineWidth = borderWidth;

		// draw the rounded top rectangle
		Chart.helpers.drawRoundedTopRectangle(ctx, left, (top - barRadius + 1), barWidth, bottom - prevTop, barRadius);

		ctx.fill();
			if (borderWidth) {
			ctx.stroke();
		}

			// restore the original top value so tooltips and scales still work
			top = prevTop;
		},
	});

	Chart.defaults.roundedBar = Chart.helpers.clone(Chart.defaults.bar);

	Chart.controllers.roundedBar = Chart.controllers.bar.extend({
		dataElementType: Chart.elements.RoundedTopRectangle
	});

	var windowWidth = window.innerWidth;

	var skillCtx = document.getElementById("mySkill").getContext("2d");
	if(windowWidth > 720) {
		var skillBg = this.skillCtx.createLinearGradient(0, 0, 0, 250);
		skillBg.addColorStop(0.5, 'rgba(250, 109, 35, 1)');
		skillBg.addColorStop(1, 'rgba(253, 195, 0, 1)');
	} else {
		var skillBg = this.skillCtx.createLinearGradient(0, 0, 0, 150);
		skillBg.addColorStop(0.5, 'rgba(250, 109, 35, 1)');
		skillBg.addColorStop(1, 'rgba(253, 195, 0, 1)');
	}
	var skillOptions = {
		responsive: true,
		barRoundness: 1,
		legend: false,
		scales: {
			xAxes: [{
				barPercentage: 0.4,
				gridLines: {
					display: false,
				},
				ticks: {
					fontFamily: "Montserrat",
					fontStyle: "bold",
				},
			}],
			yAxes: [{
				gridLines: {
					drawBorder: false,
				},
				ticks: {
					display: false,
					stepSize: 20,
					max: 100,
				}
			}]
		},
		tooltips: {enabled: false},
		hover: { mode: null },
	};
	var myBar = new Chart(skillCtx, {
		type: 'roundedBar',
		data: {
			labels: ["500미만", "500점대", "600점대", "700점대", "800점대", "900점대"],
			datasets: [{
				label: '실력',
				backgroundColor: [
					'rgba(115,115,115,0.6)',
					'rgba(115,115,115,0.6)',
					'rgba(115,115,115,0.6)',
					skillBg,
					'rgba(115,115,115,0.6)',
					'rgba(115,115,115,0.6)'
				],
				data: [70,30,45,70,40,15],
			}]
		},
		options: skillOptions
	});


	var rateCtx = document.getElementById("answerRate").getContext("2d");
	if(windowWidth > 720) {
		var rateBg = this.rateCtx.createLinearGradient(0, 0, 0, 150);
		rateBg.addColorStop(0.5, 'rgba(250, 109, 35, 1)');
		rateBg.addColorStop(1, 'rgba(253, 195, 0, 1)')
	} else {
		var rateBg = this.rateCtx.createLinearGradient(0, 0, 0, 75);
		rateBg.addColorStop(0.5, 'rgba(250, 109, 35, 1)');
		rateBg.addColorStop(1, 'rgba(253, 195, 0, 1)')
	};
	var rateOptions = {
		tooltips: {enabled: false},
		hover: { mode: null },
		"hover": false,
        "animation": {
            "duration": 1,
            "onComplete": function () {
                var chartInstance = this.chart,
                ctx = chartInstance.ctx;

				ctx.font = "bold";
				ctx.fillStyle = '#fa6d23';
                ctx.textAlign = 'center';
                ctx.textBaseline = 'bottom';

                this.data.datasets.forEach(function (dataset, i) {
                    if(i === 0) {
						var meta = chartInstance.controller.getDatasetMeta(i);
						meta.data.forEach(function (bar, index) {
							var data = dataset.data[index] + "%";                            
							ctx.fillText(data, bar._model.x, bar._model.y - 5);
						});
					}
                });
            }
        },
		hover: {
			animationDuration: 1
		},
		responsive: true,
		barRoundness: 1,
		legend: false,
		scales: {
			xAxes: [{
				barPercentage: 0.9,
				categoryPercentage: 0.7,
				gridLines: false,
				ticks: {
					fontFamily: "Montserrat",
					fontStyle: "bold",
					padding: 10,
				},
				
			}],
			yAxes: [{
				gridLines: {
					drawBorder: false,
				},
				ticks: {
					display: true,
					stepSize: 50,
					max: 100,	
				},
			}]
		},
	};
	
	var rateChart = new Chart(rateCtx, {
		type: 'roundedBar',
		data: {
			labels: ["Part 1", "Part 2", "Part 3", "Part 4", "Part 5", "Part 6", "Part 7"],
			datasets: [{
				label: "내 정답률",
				backgroundColor: rateBg,
				data: [80, 70, 40, 30, 20, 80, 10],
				options: {
					categoryPercentage: 0.7
				},
			}, {
				label: '응시자 평균 정답률',
				backgroundColor: 'rgba(115, 115, 115, 0.6)',
				data: [90, 80, 85, 65, 50, 40, 50],
				borderWidth: 10,
				borderColor: 'transparent',
				categoryPercentage: 0.4
			}]
		}, 
		options: rateOptions
	});
	
</script>