@charset "UTF-8";
.grid, .product-eco .sector-checklist .form-list {
  *zoom: 1;
}

.grid:before, .product-eco .sector-checklist .form-list:before, .grid:after, .product-eco .sector-checklist .form-list:after {
  content: '';
  display: table;
}

.grid:after, .product-eco .sector-checklist .form-list:after {
  clear: both;
}

.hidden,
.sr_only,
.sr-only,
.product-eco .sector-checklist .form-list input.checkbox {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.table {
  display: table;
}

.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.product-eco .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  border: none;
  background: none;
  outline: none;
  -webkit-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
}

.effect-bounce-diagonal {
  -webkit-animation-name: effectBounceDiagonal;
          animation-name: effectBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes effectBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  -webkit-animation-name: effectBounceUpDown;
          animation-name: effectBounceUpDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes effectBounceUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.effect-extend {
  -webkit-animation-name: effectExtend;
          animation-name: effectExtend;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

@keyframes effectExtend {
  0%, 100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

.effect-blink {
  -webkit-animation-name: effectBlink;
          animation-name: effectBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.effect-left-and-right {
  -webkit-animation-name: effectLeftAndRight;
          animation-name: effectLeftAndRight;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes effectLeftAndRight {
  0% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}

@keyframes effectLeftAndRight {
  0% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}

.popup-dim {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1001;
  width: 100%;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  border-radius: 0 !important;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media screen and (min-width: 1100px) {
  .popup {
    max-width: 970px !important;
  }
}

.popup-body {
  position: relative;
}

.popup-body p {
  font-size: 3.33333vw;
}

@media screen and (min-width: 720px) {
  .popup-body p {
    font-size: 24px;
  }
}

@media screen and (min-width: 1100px) {
  .popup-body p {
    font-size: 18px;
  }
}

.popup-body p strong {
  font-weight: 700;
}

.popup-body p + p,
.popup-body p + ul {
  margin-top: 0.3125rem;
}

@media screen and (min-width: 720px) {
  .popup-body p + p,
  .popup-body p + ul {
    margin-top: 10px;
  }
}

.popup-body ul {
  margin-top: 0.3125rem;
  font-size: 3.05556vw;
}

@media screen and (min-width: 720px) {
  .popup-body ul {
    margin-top: 10px;
  }
}

@media screen and (min-width: 720px) {
  .popup-body ul {
    font-size: 22px;
  }
}

@media screen and (min-width: 1100px) {
  .popup-body ul {
    font-size: 16px;
  }
}

.popup-body ul li {
  margin-top: 0.15625rem;
}

@media screen and (min-width: 720px) {
  .popup-body ul li {
    margin-top: 5px;
  }
}

.popup-body ul li:first-child {
  margin-top: 0;
}

.popup-body ul + p {
  margin-top: 0.3125rem;
}

@media screen and (min-width: 720px) {
  .popup-body ul + p {
    margin-top: 10px;
  }
}

.popup-close {
  position: absolute;
  top: -40px !important;
  width: 25px !important;
  height: 25px !important;
  right: 0 !important;
}

.popup-close a,
.popup-close button {
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 720px) {
  .popup-close a,
  .popup-close button {
    width: 80px;
  }
}

@media screen and (min-width: 720px) {
  .popup-close a,
  .popup-close button {
    height: 80px;
  }
}

.popup-close a:before, .popup-close a:after,
.popup-close button:before,
.popup-close button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 40px;
  height: 1px;
  margin-left: -20px;
  background-color: #fff;
}

.popup-close a:before,
.popup-close button:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close a:after,
.popup-close button:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup-close a span,
.popup-close button span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup-close a:before, .popup-close a:after,
.popup-close button:before,
.popup-close button:after {
  background-color: #fff !important;
}

.popup-close:before, .popup-close:after {
  display: none !important;
}

@media screen and (min-width: 1100px) {
  .popup-close {
    width: auto !important;
    height: auto !important;
  }
  .popup-close a,
  .popup-close button {
    background: #000;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
  }
}

@media screen and (min-width: 1100px) and (min-width: 720px) {
  .popup-close a,
  .popup-close button {
    width: 40px;
  }
}

@media screen and (min-width: 1100px) and (min-width: 720px) {
  .popup-close a,
  .popup-close button {
    height: 40px;
  }
}

@media screen and (min-width: 1100px) {
  .popup-close a:before, .popup-close a:after,
  .popup-close button:before,
  .popup-close button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 20px;
    height: 1px;
    margin-left: -10px;
    background-color: #fff;
  }
  .popup-close a:before,
  .popup-close button:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .popup-close a:after,
  .popup-close button:after {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  .popup-close a span,
  .popup-close button span {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 0px;
    height: 0px;
    margin: -1px;
    padding: 0;
    word-break: keep-all;
    white-space: nowrap;
    color: transparent;
    border: 0;
    text-indent: -9999px;
  }
}

.popup-video {
  max-width: 640px;
}

@media screen and (min-width: 720px) {
  .popup-video {
    max-width: 1000px;
  }
}

.popup-video .video-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-video .video-box video {
  width: 100%;
  height: 100%;
}

.popup-base {
  max-width: 640px;
}

@media screen and (min-width: 720px) {
  .popup-base {
    max-width: 720px;
  }
}

.popup-base .popup-body {
  padding: 1.875rem 1.25rem;
}

@media screen and (min-width: 720px) {
  .popup-base .popup-body {
    padding: 60px 40px;
  }
}

#popupBase .popup-body * {
  color: #222 !important;
}

@media screen and (min-width: 720px) {
  .popup-close a,
  .popup-close button {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
  }
}

@media screen and (min-width: 720px) and (min-width: 720px) {
  .popup-close a,
  .popup-close button {
    width: 40px;
  }
}

@media screen and (min-width: 720px) and (min-width: 720px) {
  .popup-close a,
  .popup-close button {
    height: 40px;
  }
}

@media screen and (min-width: 720px) {
  .popup-close a:before, .popup-close a:after,
  .popup-close button:before,
  .popup-close button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 20px;
    height: 1px;
    margin-left: -10px;
    background-color: #fff;
  }
  .popup-close a:before,
  .popup-close button:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .popup-close a:after,
  .popup-close button:after {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  .popup-close a span,
  .popup-close button span {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 0px;
    height: 0px;
    margin: -1px;
    padding: 0;
    word-break: keep-all;
    white-space: nowrap;
    color: transparent;
    border: 0;
    text-indent: -9999px;
  }
}

#popupISBN {
  width: 90%;
  max-width: 550px;
  border-radius: 5px;
}

#popupISBN .popup-body {
  padding: 0;
  background: #fff;
}

#popupISBN .popup-body img {
  width: 100%;
}

@media screen and (min-width: 1100px) {
  #popupISBN {
    width: 550px;
  }
}

.survey_box {
  position: relative;
  width: auto;
  margin: 0 2.77778vw;
}

@media screen and (min-width: 720px) {
  .survey_box {
    margin: 0 20px;
  }
}

.survey_box .set {
  position: relative;
  margin-top: 10px;
}

.survey_box .set .dt {
  font-size: 2.77778vw;
  position: absolute;
  left: 0;
  top: 1.38889vw;
}

@media screen and (min-width: 720px) {
  .survey_box .set .dt {
    font-size: 20px;
  }
}

@media screen and (min-width: 720px) {
  .survey_box .set .dt {
    top: 10px;
  }
}

.survey_box .set .inp {
  padding-left: 13.88889vw;
}

@media screen and (min-width: 720px) {
  .survey_box .set .inp {
    padding-left: 100px;
  }
}

@media screen and (min-width: 1100px) {
  .survey_box .set .inp {
    padding-right: 127px;
  }
}

.survey_box input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 9px;
  font-family: '돋움', Dotum;
  font-size: 12px;
  color: #000;
  border: 1px solid #999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 110px;
}

.survey_box a {
  margin-top: 10px;
  background: #FC0000;
  color: #fff;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-size: 2.77778vw;
  top: 0;
  display: block;
}

@media screen and (min-width: 720px) {
  .survey_box a {
    font-size: 20px;
  }
}

@media screen and (min-width: 1100px) {
  .survey_box a {
    display: inline-block;
    width: 125px;
    padding: 15px 0;
    margin: 0;
    line-height: 2.8 !important;
    height: 90px !important;
    position: absolute;
    right: 0;
    font-size: 20px;
  }
}

.product-eco {
  line-height: normal;
  letter-spacing: -1px;
  /*공통영역*/
  /*//공통영역*/
  /*리뷰슬라이드*/
  /*슬라이드 arrow*/
  /*슬라이드 dots*/
}

.product-eco * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-eco .wrap {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .content-title strong {
  letter-spacing: -0.55556vw;
}

@media screen and (min-width: 720px) {
  .product-eco .content-title strong {
    letter-spacing: -4px;
  }
}

.product-eco .point-color {
  color: #ff5d28 !important;
}

.product-eco .bg {
  background-color: #f3f3f3;
}

.product-eco .give ul {
  overflow: hidden;
  position: absolute;
  top: 43.05556vw;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: left;
  padding: 0 13.19444vw;
}

@media screen and (min-width: 720px) {
  .product-eco .give ul {
    top: 310px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .give ul {
    padding: 0 95px;
  }
}

.product-eco .give ul li {
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.3;
}

.product-eco .give ul li strong {
  text-align: left;
  display: inline-block;
  font-size: 3.88889vw;
  color: #222;
}

@media screen and (min-width: 720px) {
  .product-eco .give ul li strong {
    font-size: 28px;
  }
}

.product-eco .apply-area {
  position: relative;
}

.product-eco .apply-area.bottom {
  margin: 0 auto;
}

.product-eco .apply-area .apply-info .price-box {
  position: absolute;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 13.88889vw;
  right: 13.88889vw;
  bottom: 34.30556vw;
  text-align: right;
}

@media screen and (min-width: 720px) {
  .product-eco .apply-area .apply-info .price-box {
    padding: 0 100px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .apply-area .apply-info .price-box {
    right: 100px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .apply-area .apply-info .price-box {
    bottom: 247px;
  }
}

.product-eco .apply-area .apply-info .price-box .price.after-price {
  font-weight: 900;
  color: #ef0101;
  font-size: 5.55556vw;
}

@media screen and (min-width: 720px) {
  .product-eco .apply-area .apply-info .price-box .price.after-price {
    font-size: 40px;
  }
}

.product-eco .apply-area .apply-info .price-box .price.after-price .data-cost {
  font-family: 'Roboto';
  font-size: 8.33333vw;
  letter-spacing: -0.45833vw;
  position: relative;
}

@media screen and (min-width: 720px) {
  .product-eco .apply-area .apply-info .price-box .price.after-price .data-cost {
    font-size: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .apply-area .apply-info .price-box .price.after-price .data-cost {
    letter-spacing: -3.3px;
  }
}

.product-eco .apply-area .apply-info .price-box .check-box {
  position: absolute;
  left: 13.88889vw;
  top: 2.77778vw;
}

@media screen and (min-width: 720px) {
  .product-eco .apply-area .apply-info .price-box .check-box {
    left: 100px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .apply-area .apply-info .price-box .check-box {
    top: 20px;
  }
}

.product-eco .apply-area .apply-info .price-box .check-box label {
  font-size: 2.77778vw;
  color: #222;
}

@media screen and (min-width: 720px) {
  .product-eco .apply-area .apply-info .price-box .check-box label {
    font-size: 20px;
  }
}

.product-eco .apply-area .apply-info .btn {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 22.08333vw;
}

@media screen and (min-width: 720px) {
  .product-eco .apply-area .apply-info .btn {
    bottom: 159px;
  }
}

.product-eco .apply-area .apply-info .btn a {
  display: inline-block;
  width: 75vw;
  height: 9.72222vw;
}

@media screen and (min-width: 720px) {
  .product-eco .apply-area .apply-info .btn a {
    width: 540px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .apply-area .apply-info .btn a {
    height: 70px;
  }
}

.product-eco .action {
  width: 13.88889vw;
  position: absolute;
  position: absolute;
  font-size: 2.5vw;
}

@media screen and (min-width: 720px) {
  .product-eco .action {
    width: 100px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .action {
    font-size: 18px;
  }
}

.product-eco .action.t-left {
  top: 0;
  left: 6.94444vw;
}

@media screen and (min-width: 720px) {
  .product-eco .action.t-left {
    left: 50px;
  }
}

.product-eco .action.t-right {
  top: 0;
  right: 6.94444vw;
}

@media screen and (min-width: 720px) {
  .product-eco .action.t-right {
    right: 50px;
  }
}

.product-eco .action.t-center {
  top: 0;
  left: 0;
  right: 0;
  margin: 0 atuo;
}

.product-eco .action.b-left {
  bottom: 0;
  left: 6.94444vw;
}

@media screen and (min-width: 720px) {
  .product-eco .action.b-left {
    left: 50px;
  }
}

.product-eco .action.b-right {
  bottom: 0;
  right: 6.94444vw;
}

@media screen and (min-width: 720px) {
  .product-eco .action.b-right {
    right: 50px;
  }
}

.product-eco .action.b-center {
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 atuo;
}

.product-eco .review-slide {
  padding: 5.55556vw 0;
  box-shadow: 10px 3px 32px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 10px 3px 32px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 10px 3px 32px 0px rgba(0, 0, 0, 0.08);
  background: #fff;
}

@media screen and (min-width: 720px) {
  .product-eco .review-slide {
    padding: 40px 0;
  }
}

.product-eco .review-slide .list {
  position: relative;
}

.product-eco .review-slide .list .txt {
  position: relative;
}

.product-eco .review-slide .list .txt p {
  color: #606060;
  font-size: 2.5vw;
  text-align: left;
  font-weight: 300;
  padding: 1.38889vw 11.11111vw;
  word-break: keep-all;
}

@media screen and (min-width: 720px) {
  .product-eco .review-slide .list .txt p {
    font-size: 18px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .review-slide .list .txt p {
    padding: 10px 80px;
  }
}

.product-eco .review-slide .list .txt p .point-color {
  font-weight: 600;
}

.product-eco .review-slide .list .txt p.pass-p {
  color: rgba(34, 34, 34, 0.5);
  font-size: 2.5vw;
}

@media screen and (min-width: 720px) {
  .product-eco .review-slide .list .txt p.pass-p {
    font-size: 18px;
  }
}

.product-eco .review-slide.no-ef {
  background: transparent !important;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.product-eco .review-slide.review-s {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.product-eco .review-slide .slick-arrow {
  -webkit-transform: translateY(-205%);
          transform: translateY(-205%);
}

.product-eco .slick-arrow.slick-prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 3.125rem;
  height: 3.125rem;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: none;
  left: 0;
  background: none;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev {
    width: 100px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev {
    height: 100px;
  }
}

.product-eco .slick-arrow.slick-prev:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.78125rem;
  height: 0.78125rem;
  border-width: 0;
  border-style: solid;
  border-color: #000;
  border-bottom-width: 3px;
  border-left-width: 3px;
  -webkit-transform: translate(-25%, -50%) rotate(45deg);
  transform: translate(-25%, -50%) rotate(45deg);
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev:before {
    width: 25px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-prev:before {
    height: 25px;
  }
}

.product-eco .slick-arrow.slick-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  width: 3.125rem;
  height: 3.125rem;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: none;
  right: 0;
  background: none;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next {
    width: 100px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next {
    height: 100px;
  }
}

.product-eco .slick-arrow.slick-next:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.78125rem;
  height: 0.78125rem;
  border-width: 0;
  border-style: solid;
  border-color: #000;
  border-top-width: 3px;
  border-right-width: 3px;
  -webkit-transform: translate(-75%, -50%) rotate(45deg);
  transform: translate(-75%, -50%) rotate(45deg);
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next:before {
    width: 25px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow.slick-next:before {
    height: 25px;
  }
}

.product-eco .slick-dots {
  width: 100%;
  margin-top: 2.77778vw;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots {
    margin-top: 20px;
  }
}

.product-eco .slick-dots li {
  display: inline-block;
  margin: 0 0.83333vw;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li {
    margin: 0 6px;
  }
}

.product-eco .slick-dots li button {
  width: 2.77778vw;
  height: 2.77778vw;
  text-indent: -9999em;
  border: none;
  border-radius: 50%;
  background-color: #cfcfcf;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li button {
    width: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li button {
    height: 20px;
  }
}

.product-eco .slick-dots li.slick-active button {
  width: 8.33333vw;
  border-radius: 2.08333vw;
  background-color: #ffc20e;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li.slick-active button {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li.slick-active button {
    border-radius: 15px;
  }
}

.product-eco .sector-title {
  background-color: #F1692F;
  background-image: url("//img.eduwill.net/eduwill/img/2022/1/product/220221/mobile/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .sector-title .action {
  top: 31.94444vw;
  right: 13.88889vw;
  margin: 0 auto;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-title .action {
    top: 230px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-title .action {
    right: 100px;
  }
}

.product-eco .sector-title .action .btn-text {
  background: rgba(255, 255, 255, 0.5);
}

.product-eco .sector-title .tag {
  position: absolute;
  left: 0;
  right: 0;
  top: 43.05556vw;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-title .tag {
    top: 310px;
  }
}

.product-eco .sector-title .tag .tag-title {
  display: inline-block;
  background-color: #a02a00;
  border-radius: 30px;
  width: 41.66667vw;
  height: 7.91667vw;
  overflow: hidden;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-title .tag .tag-title {
    width: 300px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-title .tag .tag-title {
    height: 57px;
  }
}

.product-eco .sector-title .tag .title-slider {
  font-size: 5vw;
  color: #fff;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-title .tag .title-slider {
    font-size: 36px;
  }
}

.product-eco .sector-plus {
  background-color: #feaeae;
  background-image: url("//img.eduwill.net/eduwill/img/2022/1/product/220221/mobile/bg_plus.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
}

.product-eco .sector-plus:before {
  content: "";
  width: 12.22222vw;
  height: 7.36111vw;
  display: inline-block;
  background: url("//img.eduwill.net/eduwill/img/2022/1/product/220221/mobile/plus_mark.png") no-repeat 50% 0/cover;
  position: absolute;
  top: -5.27778vw;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 99;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-plus:before {
    width: 88px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-plus:before {
    height: 53px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-plus:before {
    top: -38px;
  }
}

.product-eco .sector-plus .btn {
  position: absolute;
  left: 0;
  right: 0;
}

.product-eco .sector-plus .btn a {
  display: block;
  height: 8.33333vw;
  font-size: 0;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-plus .btn a {
    height: 60px;
  }
}

.product-eco .sector-plus .top-btn {
  top: 40.41667vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-plus .top-btn {
    top: 291px;
  }
}

.product-eco .sector-plus .bottom-btn {
  top: 72.36111vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-plus .bottom-btn {
    top: 521px;
  }
}

.product-eco .sector-checklist .form-list {
  position: absolute;
  left: 17.77778vw;
  top: 67.36111vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-checklist .form-list {
    left: 128px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-checklist .form-list {
    top: 485px;
  }
}

.product-eco .sector-checklist .form-list .fake-checkbox {
  position: relative;
  display: block;
  margin-top: 2.91667vw;
  width: 3.47222vw;
  height: 3.47222vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-checklist .form-list .fake-checkbox {
    margin-top: 21px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-checklist .form-list .fake-checkbox {
    width: 25px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-checklist .form-list .fake-checkbox {
    height: 25px;
  }
}

.product-eco .sector-checklist .form-list .fake1:hover:after {
  opacity: 1;
}

.product-eco .sector-checklist .form-list .fake2:hover:after {
  opacity: 1;
}

.product-eco .sector-checklist .form-list .fake3:hover:after {
  opacity: 1;
}

.product-eco .sector-checklist .form-list .fake4:hover:after {
  opacity: 1;
}

.product-eco .sector-checklist .form-list .fake-checkbox + .fake-checkbox {
  margin-top: 10.41667vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-checklist .form-list .fake-checkbox + .fake-checkbox {
    margin-top: 75px;
  }
}

.product-eco .sector-checklist .form-list input.checkbox:checked + label {
  background-image: url("https://img.eduwill.net/eduwill/img/2022/1/product/220221/pc/check_box_on.jpg");
}

.product-eco .sector-checklist .form-list label {
  font-size: 0;
  padding-left: 34px;
  line-height: 1;
  font-size: 22px;
  font-weight: 400;
  width: 3.47222vw;
  height: 3.47222vw;
  cursor: pointer;
  background-image: url("//img.eduwill.net/eduwill/img/2022/1/product/220221/pc/check_box.jpg");
  background-size: 4.16667vw 4.16667vw;
  background-repeat: no-repeat;
  background-position: left center;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-checklist .form-list label {
    width: 25px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-checklist .form-list label {
    height: 25px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-checklist .form-list label {
    background-size: 30px 30px;
  }
}

.product-eco .sector-high {
  position: relative;
  padding: 11.11111vw 0 0;
  background-color: #a02a00;
  background-image: url("//img.eduwill.net/eduwill/img/2022/1/common/mobile/bg_high.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-high {
    padding: 80px 0 0;
  }
}

.product-eco .sector-high .point-color {
  color: #dddacb !important;
}

.product-eco .sector-video .video {
  position: relative;
  width: 72.22222vw;
  height: 41.66667vw;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 31.94444vw;
  border-radius: 5px;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-video .video {
    width: 520px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-video .video {
    height: 300px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-video .video {
    top: 230px;
  }
}

.product-eco .sector-video .video img {
  width: 100%;
  height: 100%;
}

.product-eco .sector-video .video a:after {
  content: '';
  width: 11.11111vw;
  height: 11.11111vw;
  background: url("//img.eduwill.net/eduwill/img/2022/1/product/220221/mobile/play_btn.png") no-repeat center 0;
  background-size: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (min-width: 720px) {
  .product-eco .sector-video .video a:after {
    width: 80px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-video .video a:after {
    height: 80px;
  }
}

.product-eco .sector-band {
  position: relative;
  padding: 1.38889vw 0 2.77778vw;
  background-color: #a02a00;
  background-image: url("//img.eduwill.net/eduwill/img/2022/1/product/220221/mobile/bg_band.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  line-height: 1.3;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-band {
    padding: 10px 0 20px;
  }
}

.product-eco .sector-band .point-color {
  color: #ffed24 !important;
}

.product-eco .sector-band .asterisk:after, .product-eco .sector-band .eco-3109 p {
  color: #e8997d !important;
}

.product-eco .sector-band .eco-3109 p {
  padding: 1.38889vw 0 2.77778vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-band .eco-3109 p {
    padding: 10px 0 20px;
  }
}

.product-eco .sector-teacher .action {
  top: 43.61111vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-teacher .action {
    top: 314px;
  }
}

.product-eco .sector-teacher .action .btn-text {
  background-color: #f6f6f6;
}

.product-eco .sector-book {
  padding-bottom: 16.66667vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-book {
    padding-bottom: 120px;
  }
}

.product-eco .sector-book .slick-dots {
  margin-top: 2.77778vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-book .slick-dots {
    margin-top: 20px;
  }
}

.product-eco .sector-book .book-mg {
  position: absolute;
  top: 90vw;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-book .book-mg {
    top: 648px;
  }
}

.product-eco .sector-book .action {
  position: absolute;
  left: 55.27778vw;
  top: 30.41667vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-book .action {
    left: 398px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-book .action {
    top: 219px;
  }
}

.product-eco .sector-book .book-slide {
  background: #fff;
  border-radius: 2.77778vw;
  margin: 6.94444vw 6.94444vw 0;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-book .book-slide {
    border-radius: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-book .book-slide {
    margin: 50px 50px 0;
  }
}

.product-eco .sector-book .book-slide .slick-arrow .slick-dots {
  position: absolute;
  bottom: 8.33333vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-book .book-slide .slick-arrow .slick-dots {
    bottom: 60px;
  }
}

.product-eco .sector-winner {
  background-color: #ffd800;
  background-image: url("//img.eduwill.net/eduwill/img/2022/1/common/mobile/bg_winner.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  overflow: hidden;
}

.product-eco .sector-winner .title {
  position: relative;
}

.product-eco .sector-winner .title .txt {
  position: absolute;
  left: 0;
  right: 0;
  top: 22.77778vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-winner .title .txt {
    top: 164px;
  }
}

.product-eco .sector-winner .title .txt .point-color {
  display: inline-block;
  font-weight: 900;
  font-size: 6.66667vw;
  height: 5vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-winner .title .txt .point-color {
    font-size: 48px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-winner .title .txt .point-color {
    height: 36px;
  }
}

.product-eco .sector-winner .winner-wrap {
  overflow: hidden;
  margin-top: -2%;
  -webkit-perspective: 18.75rem;
          perspective: 18.75rem;
  padding-bottom: 4.0625rem;
  perspective: 18.75rem;
  padding-bottom: 3.75rem;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-winner .winner-wrap {
    -webkit-perspective: 600px;
            perspective: 600px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-winner .winner-wrap {
    padding-bottom: 130px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-winner .winner-wrap {
    -webkit-perspective: 600px;
            perspective: 600px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-winner .winner-wrap {
    padding-bottom: 120px;
  }
}

.product-eco .sector-winner .winner-wrap .winner-list {
  width: 100%;
  margin: 0 auto;
  transform: rotateX(40deg);
  -webkit-transform: rotateX(40deg);
}

.product-eco .sector-winner .winner-wrap .winner-list p {
  font-size: 2.22222vw;
  font-weight: 400;
  color: #222;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-winner .winner-wrap .winner-list p {
    font-size: 16px;
  }
}

.product-eco .sector-winner .winner-wrap .winner-list .slick-slide + .slick-slide {
  margin-top: 0.3125rem;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-winner .winner-wrap .winner-list .slick-slide + .slick-slide {
    margin-top: 10px;
  }
}

.product-eco .sector-brand {
  background-color: #e5ca5e;
  background-image: url("//img.eduwill.net/eduwill/img/2022/1/common/mobile/bg_brand.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .sector-brand .action {
  position: absolute;
  top: 30.55556vw;
  left: 26.38889vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-brand .action {
    top: 220px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-brand .action {
    left: 190px;
  }
}

.product-eco .sector-brand .action .btn-text {
  background: rgba(255, 255, 255, 0.3);
}

.product-eco .sector-brand .laurel-move {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1;
  width: 100%;
}

.product-eco .sector-brand .laurel-move span {
  opacity: 0;
  position: absolute;
  display: inline-block;
  overflow: hidden;
}

.product-eco .sector-brand .laurel-move [class^="bg"] {
  position: absolute;
  display: block;
  width: 100000%;
  height: 19.44444vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-brand .laurel-move [class^="bg"] {
    height: 140px;
  }
}

.product-eco .sector-brand .laurel-move .bg01 {
  left: -50000%;
  top: 40.13889vw;
  background: url("https://img.eduwill.net/eduwill/img/2022/1/common/mobile/hg_brand_laurel.png") repeat-x 0 0;
  background-size: 159.58333vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-brand .laurel-move .bg01 {
    top: 289px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-brand .laurel-move .bg01 {
    background-size: 1149px;
  }
}

.product-eco .sector-review {
  padding-bottom: 16.66667vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-review {
    padding-bottom: 120px;
  }
}

.product-eco .sector-review .slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}

.product-eco .sector-review .slick-dots button {
  background-color: #fff;
}

.product-eco .sector-review .action {
  width: 54.86111vw;
  position: absolute;
  bottom: -4.16667vw;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-review .action {
    width: 395px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-review .action {
    bottom: -30px;
  }
}

.product-eco .sector-review .action .btn-text {
  background-color: #ff5d28;
  color: #fff;
  border-radius: 3px;
}

.product-eco .sector-review .action .btn-text:after {
  border-color: #fff;
}

.product-eco .sector-review .action .btn-text .point-color {
  color: #ffd800 !important;
}

.product-eco .sector-prize {
  background-color: #fffae0;
}

.product-eco .sector-prize .title {
  position: relative;
  position: absolute;
  left: 6.94444vw;
  margin: 0 auto;
  top: 32.63889vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-prize .title {
    left: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-prize .title {
    top: 235px;
  }
}

.product-eco .sector-prize .title > div {
  display: block;
  text-align: left;
  font-size: 4.44444vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-prize .title > div {
    font-size: 32px;
  }
}

.product-eco .sector-prize .title > div strong {
  display: block;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: -0.55556vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-prize .title > div strong {
    letter-spacing: -4px;
  }
}

.product-eco .sector-prize .title.type2 {
  top: 114.58333vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-prize .title.type2 {
    top: 825px;
  }
}

.product-eco .sector-sale .content-title {
  padding-bottom: 5.55556vw;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-sale .content-title {
    padding-bottom: 40px;
  }
}

.slick-dots {
  position: absolute;
}

.slick-dots li button {
  background-color: #fff;
}

.slick-dots li.slick-active button {
  background-color: #ff5d28 !important;
}

/* ticker */
.motion_ticker_rl {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker_rl;
  animation-name: ticker_rl;
  -webkit-animation-duration: 20000s;
  animation-duration: 20000s;
}

@-webkit-keyframes ticker_rl {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker_rl {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
/*# sourceMappingURL=mobile.css.map */