@{
	string platform = (string)ViewBag.platformCd == "W" ? "pc" : "mobile";
}

<!-- 가격단 템플릿 JAVASCRIPT -->
<script type="text/template" id="template-price">
	<li class="price">
		<p class="discount">40</p>
		<h3>평생패스</h3>
		<h4>합격할 때까지 신강의 평생 수강</h4>

		<div class="reduce">680,000원</div>
		<div class="normal">580,000원</div>

		<div class="linkWrap">
			<a href="#" target="_blank">자세히 보기</a>
			<button class="applyButton" type="button" data-prd-code="test">혜택받고 수강하기</button>
		</div>
	</li>
	<li class="price">
		<p class="discount">40</p>
		<h3>평생패스</h3>
		<h4>합격할 때까지 신강의 평생 수강</h4>

		<div class="reduce">680,000원</div>
		<div class="normal">580,000원</div>

		<div class="linkWrap">
			<a href="#" target="_blank">자세히 보기</a>
			<button class="applyButton" type="button" data-prd-code="test">혜택받고 수강하기</button>
		</div>
	</li>
	<li class="price">
		<p class="discount">40</p>
		<h3>평생패스</h3>
		<h4>합격할 때까지 신강의 평생 수강</h4>

		<div class="reduce">680,000원</div>
		<div class="normal">580,000원</div>

		<div class="linkWrap">
			<a href="#" target="_blank">자세히 보기</a>
			<button class="applyButton" type="button" data-prd-code="test">혜택받고 수강하기</button>
		</div>
	</li>
</script>
<!-- //가격단 템플릿 JAVASCRIPT -->

<script src="~/js/Lecture/commLct.js"></script>
<script src="~/js/common/extension.js"></script>
<script type="text/javascript">
	//가격단 호출
	_f_initPriceTmp();
	
	//DOM Load Event
	document.addEventListener("DOMContentLoaded", function(){
		
		var SELECTOR = {
			PARAMNAME: _f_initGetParameter('item'),
			TIMEDATE: 'March 31,2022,23:59',
			ECOCONTENT1: document.getElementById('eco1'),
			ECOCONTENT2: document.getElementById('eco2'),
			ECOCONTENT3: document.querySelector('[data-popupcont="0"]'),
			BENEFITBUTTON: document.querySelectorAll('.applyButton'),
			ECONUMBER1: '',
			ECONUMBER2: '',
			ECOREASON: '',
			PLATFORMCD: "@(ViewBag.PlatformCd)",
		}
		if( SELECTOR.PLATFORMCD === 'W'){
			document.querySelector('.product-eco').setAttribute('data-device', 'pc');

		}else{
			document.querySelector('.product-eco').setAttribute('data-device', 'mo');
		}
		
        // 상품별 분기
        switch(SELECTOR.PARAMNAME){
            case 'Q':	//전기
				if( SELECTOR.PLATFORMCD == 'W'){
					SELECTOR.ECONUMBER1 = '4047';
					SELECTOR.ECONUMBER2 = '4048';

				}else{
					SELECTOR.ECONUMBER1 = '4050';
					SELECTOR.ECONUMBER2 = '4051';
				}
				SELECTOR.ECOREASON = '4166';
				
                break;

            case 'Y':	//소방
				if( SELECTOR.PLATFORMCD == 'W'){
					SELECTOR.ECONUMBER1 = '4365';
					SELECTOR.ECONUMBER2 = '4366';

				}else{
					SELECTOR.ECONUMBER1 = '4374';
					SELECTOR.ECONUMBER2 = '4375';
				}
				SELECTOR.ECOREASON = '4368';
				
                break;
            
            case '_106':	//건축
				if( SELECTOR.PLATFORMCD == 'W'){
					SELECTOR.ECONUMBER1 = '4003';
					SELECTOR.ECONUMBER2 = '4004';

				}else{
					SELECTOR.ECONUMBER1 = '4011';
					SELECTOR.ECONUMBER2 = '4012';
				}
					
				SELECTOR.ECOREASON = '4433';
				
                break;
			
			case '_107':	//토목
				if( SELECTOR.PLATFORMCD == 'W'){
					SELECTOR.ECONUMBER1 = '4066';
					SELECTOR.ECONUMBER2 = '4067';

				}else{
					SELECTOR.ECONUMBER1 = '4069';
					SELECTOR.ECONUMBER2 = '4070';
				}

				SELECTOR.ECOREASON = '3453';
				
                break;
			default:
        }


		// Bottom Eco Content init
		SELECTOR.ECOCONTENT1.classList.add('eco-'+SELECTOR.ECONUMBER1+'');	//eco Content1
		SELECTOR.ECOCONTENT2.classList.add('eco-'+SELECTOR.ECONUMBER2+'');	//eco Content2
		SELECTOR.ECOCONTENT3.classList.add('eco-'+SELECTOR.ECOREASON+'');	//eco Reason

		// 기본셋팅
		if( SELECTOR.PARAMNAME !== ''){

			_f_initTimeEvent(SELECTOR.TIMEDATE);

            document.getElementById('contents').classList.add(SELECTOR.PARAMNAME);

			

			// ECO번호가 있을 경우에만 ECO Script 실행
			if( SELECTOR.ECONUMBER1 !== '' && SELECTOR.ECONUMBER2 !== '' ){
				getEcoDynamicForClass(SELECTOR.ECONUMBER1, 'eco-'+SELECTOR.ECONUMBER1+'');
				getEcoDynamicForClass(SELECTOR.ECONUMBER2, 'eco-'+SELECTOR.ECONUMBER2+'');
				getEcoDynamicForClass(SELECTOR.ECOREASON, 'eco-'+SELECTOR.ECOREASON+'');
			}
			
			// 혜택받고 수강하기 버튼
			for( i=0; i<SELECTOR.BENEFITBUTTON.length; i++){
					
				SELECTOR.BENEFITBUTTON[i].addEventListener('click', function(e){

					var _target = e.currentTarget;
					var _targetData = _target.dataset.prdCode;
					//commLct.basketSubmit("", prdCode, "@(UserSession.UserID)");

					alert(_targetData);
				});
			}
        }
	

    });

	function _f_initPriceTmp(){
		var	data = {
						
		}

		var _html = document.querySelector("#template-price").innerHTML;

		//_html.place('{title}', data값);

		document.getElementById('priceContent').innerHTML = _html;
	}

	// d-day time Function
	function _f_initTimeEvent(date){
        getTimerNew('#promotionTimer', date);

		if ("@(ViewBag.platformCd)" == "M") {
			pageMove('.page-move', -100);
		} else {
			//pageMove('.page-move', -88);
		}
    }

	// Parameter Check
    function _f_initGetParameter(name){
        name = name.replace(/[\]/], "\\[").replace(/[\]]/, "\\]");

        var _regex = new RegExp("[\\?&]" + name + "=([^&#]*)");
        var _result = _regex.exec(location.search);

        return _result === null ? "" : decodeURIComponent(_result[1].replace(/\+/g, " "));
    }
    
</script>