// img path
// background: url('#{$img-path}/top_banner_on.png') no-repeat 50% 0;
$img-path: 'https://img.eduwill.net/Img2/black/product/200217/middle/pc';

// font-family:$noto;
$noto: 'Noto Sans KR', Sans-Serif; 
$montserrat: 'Montserrat', 'Noto Sans KR', Sans-Serif;

*{margin:0;padding:0;}

.product-eco{
    position: relative;text-align:center;min-width:1100px;overflow: hidden;font-family: $noto;letter-spacing: -1px;
    *, *:before, *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
    img{border:0;vertical-align:top;line-height:0;font-size:0;}   
    .clearfix:after{content:'';display:block;clear:both;}
    .wrap{position:relative;width:1100px;margin:0 auto;}
    a{display:inline-block;}

    strong{line-height:100%;}
    p{line-height:100%;margin:0;}
    .text{
        color:#b0b0b0;font-size:15px;font-family:$noto;line-height:20px;
        span{padding-left:8px;}
    }

    .btn_action{
        position:relative;
        display:inline-block;width:193px;background-color:#ffffff;border:1px solid #c0c0c0;color:#878787;font-size:14px;padding:10px 0;
        &:after {
            content: '';
            display: inline-block;
            margin-left: 10px;
            width: 8px;
            height: 8px;
            position:relative;top: -1px;
            border-top: 1px solid #878787;
            border-right: 1px solid #878787;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }


    .bx-wrapper	{
        width:1000px; margin:0 auto;
        li { width:1000px !important; }
        .bx-viewport	{ -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; border:none; left:0; height:635px !important; background:none; }
        .bx-prev { left:50%; margin-left:-600px; background: url(#{$img-path}/btn_prev.png) no-repeat 0 0; }
        .bx-next { right:50%; margin-right:-600px; background: url(#{$img-path}/btn_next.png) no-repeat 0 0; }
        .bx-controls-direction a { position: absolute; top:215px; outline:0; width:68px; height:68px; text-indent:-9999px; z-index:9999; }

        .bx-pager, 
        .bx-controls-auto {position:absolute; width:100%; height:20px; bottom:-50px; text-align:center; z-index:99; font-size:0; padding:0; }
        .bx-pager.bx-default-pager a {display:inline-block; width:20px; height:20px; margin:0 0 0 15px; background:url(#{$img-path}/pager_off.png) no-repeat 0 0; }
        .bx-pager .bx-pager-item, 
        .bx-controls-auto .bx-controls-auto-item {margin:0 0 54px 0;}
        .bx-pager .bx-pager-item:first-child, 
        .bx-controls-auto .bx-controls-auto-item:first-child {margin-left:0;}
        .bx-pager.bx-default-pager a.active { background:url(#{$img-path}/pager_on.png) no-repeat 0 0; }
    }

    .floating{
        position:fixed;right:0;top:200px;z-index:3000;width:153px;
        a{
            margin-bottom:2px;
            &:first-child{margin-bottom:10px;}
        }

    }

    @-webkit-keyframes bounce {
        0%,100% { -webkit-transform: translateY(10px); transform: translateY(10px); } 
        50% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
    }
    @keyframes bounce {
        0%,100% { -webkit-transform: translateY(10px); transform: translateY(10px); }
        50% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
    }

    .section{
        &-title{
            background:url(#{$img-path}/bg_title.jpg) no-repeat 50% 0;
            background-size:cover;

            .text{position:absolute;right:40px;bottom:0px;width:100%;text-align:right;}

            .bubble1{position:absolute;left:45px;top:162px;animation:bounce 2s infinite both;-webkit-animation:bounce 2s infinite both;}
        }

        &-proof{
            background-color:#fff;
            .text{position:absolute;left:0px;top:886px;width:100%;text-align:center;}

            .bubble2{position:absolute;left:766px;top:353px;animation:bounce 2s infinite both;-webkit-animation:bounce 2s infinite both;}
        }

        &-reason1{
            background-color:#eee;
        }

        &-lecture{
            background:url(#{$img-path}/bg_lecture.jpg) repeat-x 0 0;
            .wrap{
                width:1156px;
            }
        }

        &-reason2{
            background-color:#fff;
            .text{position:absolute;left:0;bottom:60px;width:100%;text-align:center;}

            .tab_box{
                text-align:center;
                .tab_list {
                    font-size:0;width:1100px;margin:0 auto;
                    li{
                        font-size:12px;display:inline-block;cursor:pointer;color:#000;width:14.28571%;
                        
                        p{
                            font-family:$noto;font-size:18px;color:#8f8f8f;margin-top:10px;
                            strong{display:block;font-size:24px;line-height:130%;color:#8f8f8f;}
                        }

                        &.on{
                            p{
                                color:#202020;
                                strong{color:#202020;}
                            }
                        }
                    }
                }
                
                .tab_view{
                    display:none;
                    position:relative;height:681px;margin-top:70px;
                    .video_box{ 
                        position:absolute;left:50%;top:0;text-align:left;
                        p{
                            font-family:$noto;font-size:30px;color:#202020;
                            .highlight{color:#007d64;font-weight:700;}
                             strong{
                                 display:block;margin-top:10px;color:#202020;font-size:40px;vertical-align:middle;
                                 img{vertical-align:middle;}
                             }
                         }

                        .video{margin-top:35px;width:554px;height: 312px;}
                        .flowplayer{width:100%;height: 100%;}
                        #player1{background:url(#{$img-path}/img_video1.jpg) no-repeat 0 0;}
                        #player2{background:url(#{$img-path}/img_video2.jpg) no-repeat 0 0;}
                        #player3{background:url(#{$img-path}/img_video3.jpg) no-repeat 0 0;}
                        #player4{background:url(#{$img-path}/img_video4.jpg) no-repeat 0 0;}
                        #player5{background:url(#{$img-path}/img_video5.jpg) no-repeat 0 0;}
                        #player6{background:url(#{$img-path}/img_video6.jpg) no-repeat 0 0;}
                        #player7{background:url(#{$img-path}/img_video7.jpg) no-repeat 0 0;}
                    }

     
                    &.tab_view1{display:block;background:url(#{$img-path}/tab1_view.jpg) no-repeat 50% 0;}
                    &.tab_view2{background:url(#{$img-path}/tab2_view.jpg) no-repeat 50% 0;}
                    &.tab_view3{background:url(#{$img-path}/tab3_view.jpg) no-repeat 50% 0;}
                    &.tab_view4{background:url(#{$img-path}/tab4_view.jpg) no-repeat 50% 0;}
                    &.tab_view5{background:url(#{$img-path}/tab5_view.jpg) no-repeat 50% 0;}
                    &.tab_view6{background:url(#{$img-path}/tab6_view.jpg) no-repeat 50% 0;}
                    &.tab_view7{background:url(#{$img-path}/tab7_view.jpg) no-repeat 50% 0;}
                }
            }
        }

        &-reason3{
            background-color:#eee;
            .text_box{
                position:absolute;left:202px;top:780px;
                font-size:0;width:700px;
                &:after{content:'';display:block;clear:both;}
                .text{width:50%;float:left;text-align:left;}
            }
        }

        &-reason4{
            background-color:#fff;
        }

        &-text{
            background-color:#1e1e1e;
        }
        
    }
}
