@charset "UTF-8";
.grid {
  *zoom: 1;
}

.grid:before, .grid:after {
  content: '';
  display: table;
}

.grid:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.layer-dim {
  display: none;
  position: fixed;
  top: 0;
  right: 0px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: #000;
  opacity: .8;
  overflow: hidden;
}

.layer-review {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10001;
  max-width: 768px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.layer-review .layer-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  top: -60px;
  z-index: 10002;
}

.layer-review .layer-close:before, .layer-review .layer-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 2px;
  margin-left: -15px;
  background-color: #fff;
}

.layer-review .layer-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.layer-review .layer-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.layer-review .layer-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.layer-review .layer-box {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.layer-review .layer-box iframe, .layer-review .layer-box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: inherit;
     object-fit: inherit;
}

.product-eco * {
  line-height: normal;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.product-eco .container {
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
}

.product-eco .wrap {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  width: 100%;
}

.product-eco .holder {
  position: relative;
}

.product-eco p {
  margin: 0;
  text-align: left;
  font-size: 2.77778vw;
  color: #666;
}

@media screen and (min-width: 720px) {
  .product-eco p {
    font-size: 20px;
  }
}

.product-eco p.notice {
  margin-top: 0.3125rem;
}

@media screen and (min-width: 720px) {
  .product-eco p.notice {
    margin-top: 10px;
  }
}

.product-eco .btn-fly {
  position: absolute;
  display: block;
  z-index: 1;
}

.product-eco .slider-contents {
  position: relative;
  margin: 0 6.944%;
}

.product-eco .slider-contents .slick-dots {
  position: absolute;
  bottom: 8%;
  right: 0;
  left: 0;
  font-size: 0;
  z-index: 1;
}

.product-eco .slider-contents .slick-dots li {
  display: inline-block;
  margin: 0 0.1875rem;
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-dots li {
    margin: 0 6px;
  }
}

.product-eco .slider-contents .slick-dots li.slick-active button {
  background-color: #ffc20e;
}

.product-eco .slider-contents .slick-dots button {
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  color: transparent;
  border: none;
  border-radius: 50%;
  background-color: #ddd;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-dots button {
    width: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-dots button {
    height: 20px;
  }
}

.product-eco .slider-contents .slick-slide {
  outline: none;
}

.product-eco .slider-contents .slick-slide a {
  outline: none;
}

.product-eco .ico-hand {
  position: absolute;
  top: 50%;
  right: 2%;
  width: 1.5625rem;
  -webkit-animation: 0.5s slideUpY ease-in-out infinite alternate;
          animation: 0.5s slideUpY ease-in-out infinite alternate;
}

@media screen and (min-width: 720px) {
  .product-eco .ico-hand {
    width: 50px;
  }
}

.product-eco .ico-hand img {
  max-width: 100%;
}

@-webkit-keyframes slideUpY {
  0% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
  }
}

@keyframes slideUpY {
  0% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
  }
}

.product-eco .slide-wrap .bx-wrapper .bx-viewport {
  left: 0;
  border: 0 none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.product-title {
  z-index: 1;
  background: #073254 url("https://img.eduwill.net/resources/img/gov/product/201130_2/mobile/bg_title.jpg") 50% 0 no-repeat;
  background-size: cover;
}

.product-winner {
  padding-bottom: 3.3125rem;
}

@media screen and (min-width: 720px) {
  .product-winner {
    padding-bottom: 106px;
  }
}

.product-winner .winner-contents {
  position: relative;
  margin-bottom: 1.875rem;
  background-color: #fff;
}

@media screen and (min-width: 720px) {
  .product-winner .winner-contents {
    margin-bottom: 60px;
  }
}

.product-winner .winner-contents p {
  text-align: center;
  line-height: 2;
  font-size: 2.77778vw;
  color: #535353;
}

@media screen and (min-width: 720px) {
  .product-winner .winner-contents p {
    font-size: 20px;
  }
}

.product-winner .winner-interview {
  padding: 0 1.75rem;
}

@media screen and (min-width: 720px) {
  .product-winner .winner-interview {
    padding: 0 56px;
  }
}

.product-winner .winner-interview .col {
  float: none;
  width: 100%;
  margin-bottom: 1.71875rem;
}

@media screen and (min-width: 720px) {
  .product-winner .winner-interview .col {
    margin-bottom: 55px;
  }
}

.product-winner .winner-interview .col .caption {
  margin-top: 0.625rem;
  font-size: 0.875rem;
  text-align: center;
  color: #000;
  font-weight: 500;
  line-height: 1.5;
}

@media screen and (min-width: 720px) {
  .product-winner .winner-interview .col .caption {
    margin-top: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-winner .winner-interview .col .caption {
    font-size: 28px;
  }
}

.product-winner .btn-box a {
  position: relative;
  display: block;
  width: 55.27%;
  margin: 0 auto;
}

.product-winner .btn-box p {
  margin: 0.4375rem 0 0;
  font-size: 0.8125rem;
  padding: 0;
  text-align: center;
  font-weight: 400;
  color: #ccc;
}

@media screen and (min-width: 720px) {
  .product-winner .btn-box p {
    margin: 14px 0 0;
  }
}

@media screen and (min-width: 720px) {
  .product-winner .btn-box p {
    font-size: 26px;
  }
}

.product-puri {
  background: #f4f4f4;
}

.product-why.why-2 .eco-puri {
  position: absolute;
  display: inline-block;
  top: 8.62%;
  left: 7.77%;
  font-weight: 700;
  color: #000;
  font-size: 1.5rem;
  letter-spacing: -0.0625rem;
  line-height: 1;
}

@media screen and (min-width: 720px) {
  .product-why.why-2 .eco-puri {
    font-size: 48px;
  }
}

@media screen and (min-width: 720px) {
  .product-why.why-2 .eco-puri {
    letter-spacing: -2px;
  }
}

.product-why.why-2 .btn-fly {
  width: 55.41%;
  height: 5.02%;
}

.product-why.why-2 .btn-fly.puri {
  top: 85.76%;
  left: 22.77%;
}

.product-why.why-4 {
  padding-bottom: 2.5rem;
  background: #f4f4f4;
}

@media screen and (min-width: 720px) {
  .product-why.why-4 {
    padding-bottom: 80px;
  }
}

.product-why.why-4 .acer-slide {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.product-why.why-4 .acer-slide .slide-wrap {
  width: 100%;
  border: 0;
}

.product-why.why-4 .acer-slide .slide-wrap .bx-viewport {
  height: auto !important;
}

.product-why.why-4 .acer-slide .bx-pager {
  padding: 0.625rem 0.625rem 0;
  background: #b6b6b6;
}

@media screen and (min-width: 720px) {
  .product-why.why-4 .acer-slide .bx-pager {
    padding: 20px 20px 0;
  }
}

.product-why.why-4 .acer-slide .bx-pager ul {
  display: table;
  width: 100%;
  height: 2.75rem;
  table-layout: fixed;
}

@media screen and (min-width: 720px) {
  .product-why.why-4 .acer-slide .bx-pager ul {
    height: 88px;
  }
}

.product-why.why-4 .acer-slide .bx-pager ul li {
  display: table-cell;
  width: 100%;
}

.product-why.why-4 .acer-slide .bx-pager ul li a {
  display: block;
  vertical-align: middle;
  text-align: center;
  line-height: 2.75rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.8125rem;
  border-radius: 0.3125rem 0.3125rem 0 0;
  color: #8d8d8d;
  font-weight: 700;
}

@media screen and (min-width: 720px) {
  .product-why.why-4 .acer-slide .bx-pager ul li a {
    line-height: 88px;
  }
}

@media screen and (min-width: 720px) {
  .product-why.why-4 .acer-slide .bx-pager ul li a {
    font-size: 26px;
  }
}

@media screen and (min-width: 720px) {
  .product-why.why-4 .acer-slide .bx-pager ul li a {
    border-radius: 10px 10px 0 0;
  }
}

.product-why.why-4 .acer-slide .bx-pager ul li a.active {
  color: #63ab14;
  line-height: 2.75rem;
  border-radius: 0.3125rem 0.3125rem 0 0;
  background-color: #fff;
}

@media screen and (min-width: 720px) {
  .product-why.why-4 .acer-slide .bx-pager ul li a.active {
    line-height: 88px;
  }
}

@media screen and (min-width: 720px) {
  .product-why.why-4 .acer-slide .bx-pager ul li a.active {
    border-radius: 10px 10px 0 0;
  }
}

.product-why.why-6 {
  padding-bottom: 3.75rem;
}

@media screen and (min-width: 720px) {
  .product-why.why-6 {
    padding-bottom: 120px;
  }
}

.product-why.why-6 .noti {
  margin-top: 0.625rem;
  font-size: 0.75rem;
  text-align: right;
  color: #d9d9d9;
  font-weight: 400;
}

@media screen and (min-width: 720px) {
  .product-why.why-6 .noti {
    margin-top: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-why.why-6 .noti {
    font-size: 24px;
  }
}

.product-why.why-6:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 11.875rem;
  background: #979797;
  z-index: -1;
}

@media screen and (min-width: 720px) {
  .product-why.why-6:before {
    height: 380px;
  }
}

.product-why.why-6 .classroom {
  padding: 0 0.78125rem;
}

@media screen and (min-width: 720px) {
  .product-why.why-6 .classroom {
    padding: 0 25px;
  }
}

.product-why.why-6 .classroom .slide-wrap {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  border: 4px solid #000;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.product-why.why-6 .classroom .bx-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
}

.product-why.why-6 .classroom .bx-wrapper .bx-viewport {
  width: 100%;
  overflow: hidden;
}

.product-why.why-6 .classroom .bx-pager {
  width: 100%;
  margin: 0 auto;
}

.product-why.why-6 .classroom .bx-pager ul {
  display: table;
  width: 100%;
  height: 40px;
  table-layout: fixed;
}

.product-why.why-6 .classroom .bx-pager li {
  display: table-cell;
  width: 100%;
  background-color: #38393f;
  border-left: 1px solid #4e4e50;
}

.product-why.why-6 .classroom .bx-pager li:first-child {
  border-left: 0;
}

.product-why.why-6 .classroom .bx-pager li a {
  display: block;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  font-weight: 700;
}

.product-why.why-6 .classroom .bx-pager a.active {
  background-color: #000;
  color: #ffda45;
  opacity: 1;
}

.product-why.why-6 .classroom .bx-wrapper .bx-controls-direction a {
  width: 23px;
  height: 31px;
  margin-top: -16px;
  background-size: 23px;
}

.product-why.why-6 .classroom .bx-wrapper .bx-prev {
  background: url("//img.eduwill.net/Img2/Won2/promotion/g170623/180615/arrow_left.png") 0 0 no-repeat;
}

.product-why.why-6 .classroom .bx-wrapper .bx-next {
  background: url("//img.eduwill.net/Img2/Won2/promotion/g170623/180615/arrow_right.png") 0 0 no-repeat;
}

.product-why.why-6 .classroom .bx-wrapper .bx-prev:hover {
  background: url("//img.eduwill.net/Img2/Won2/promotion/g170623/180615/arrow_left.png") 0 0 no-repeat;
}

.product-why.why-6 .classroom .bx-wrapper .bx-next:hover {
  background: url("//img.eduwill.net/Img2/Won2/promotion/g170623/180615/arrow_right.png") 0 0 no-repeat;
}

.product-why.why-7 {
  background: #f4f4f4;
}

.product-event {
  background: #74c918;
}

.product-event .flag {
  position: absolute;
  left: 0;
  z-index: 1;
  top: -1.875rem;
  width: 4.75rem;
  height: 4.75rem;
}

@media screen and (min-width: 720px) {
  .product-event .flag {
    top: -60px;
  }
}

@media screen and (min-width: 720px) {
  .product-event .flag {
    width: 152px;
  }
}

@media screen and (min-width: 720px) {
  .product-event .flag {
    height: 152px;
  }
}

.product-apply-title {
  background: #073055;
}
/*# sourceMappingURL=mobile.css.map */