@{
	string platform = (string)ViewBag.platformCd == "W" ? "pc" : "mobile";

    string imgUrl = ViewBag.IsLocal
        ? "//img.eduwill.net/eduwill/img/2022/Q/event/220112/" // local 경로
        : "//img.eduwill.net/eduwill/img/2022/Q/event/220112/"; // ftp 경로

	ViewBag.AwardsMonthly = "32개월";	// 최하단 트로피 영역 개월 수
}

<div id="contents" class="promotion">
	
	@if("W".Equals(ViewBag.PlatformCd)){
		<div class="fix_banner">
			<a href="https://event.eduwill.net/Event/Q/eventBoardMain" target="_blank"><img src="@imgUrl/@platform/fix_banner.png" alt=""></a>
		</div>
	}

	<div class="fix_banner_bottom">
		<button type="button" id="fileDown"><img src="@imgUrl/@platform/fix_banner_bottom.png" alt=""></a>
	</div>

	<div class="container promotion-title">
		<div class="wrap">
			<img src="@imgUrl/@platform/visual_title1.png" alt="">
		</div>
	</div>

	<div class="container promotion-cont1">
		
		<div class="slide-wrap">
			<div class="slide-cont">
				<div class="slide-item"><img alt="" src="//img.eduwill.net/eduwill/img/2021/Q/freebook/210913/@platform/cont9_slide_01.png" /></div>
				<div class="slide-item"><img alt="" src="//img.eduwill.net/eduwill/img/2021/Q/freebook/210913/@platform/cont9_slide_02.png" /></div>
				<div class="slide-item"><img alt="" src="//img.eduwill.net/eduwill/img/2021/Q/freebook/210913/@platform/cont9_slide_03.png" /></div>
			</div>
		</div>
	</div>

	<div class="container promotion-cont2">
		<div class="wrap">
			<img src="@imgUrl/@platform/cont2_title.png" alt="">
		</div>
	</div>

	<div class="container promotion-awards">
        <div class="wrap">
			<button type="button" data-popup="0" class="eduf-reason-button btn-reason">근거확인</button>
            <div class="item">

                <img src="@imgUrl/@platform/awards_2201.png" alt="">
                
                <div class="txt">
                    @(ViewBag.AwardsMonthly)
                </div>
            </div>

            <div class="winner-contents">
                <div class="winner-list"></div>
            </div>
        </div>
    </div>

	<div class="container promotion-eco" data-eduwill-eco-content="4131"></div>
	
</div>


<div id="eduf-popup">
	<div class="popupWrap">
		<div class="popup-body">

			<div data-popupcont="0">
				<ul>
					<li>1) 최종합격: 2021년 1회 전기기사 시험 에듀윌 합격생 대상 설문조사 결과</li>
					<li>2) 검색 1위: 2021년 1,2회 필기 시험 당일 주요 업체 네이버 트렌드 키워드별 검색 비중</li>
					<li>3) 베스트셀러 1위: YES24 수험서 자격증 한국산업인력공단 분야별 베스트셀러 1위</li>
					<li>- 전기기기(2019.1~7/10~12, 2020.2~2021.11) ※ 참고 : 32개월 누적 베스트셀러 1위</li>
					<li>- 전기자기학(2019.3/5/8, 2020.10/12, 2021.1~9/11~12)</li>
					<li>- 전기응용 및 공사재료(2019.9, 2020.1/9, 2021.9)</li>
					<li>- 회로이론(2019.2/5, 2020.2/6/8/10/12, 2021.1/12)</li>
					<li>- 전기설비기술기준(2019.3, 2020.3~4, 2021.3/5/8)</li>
					<li>- 전력공학(2019.2/7, 2021.10)</li>
					<li>- 제어공학(2021.12)</li>
					<li>- 전기공사(산업)기사 실기(2020.11)</li>
					<li>- 전기(산업)기사 실기(2021.6)</li>
					<li>4) 6배 높은 합격률: 2020년 1회 실기시험 평균합격률 기준, Q-net 8% 에듀윌 직영학원 45%(반올림 수치)</li>
					<li>5) 강의만족도: 2020년 전기기사 시험 에듀윌 합격생 설문조사 결과</li>
					<li>6) 전기기사 1위: 2022년 대한민국 브랜드만족도 전기기사 교육 1위</li>
				</ul>
			</div>

			<button id="eduf-popup-close" type="button" class="popup-close"><span class="sr-only">닫기</span></button>
		</div>
	</div>
</div>

<script type="text/javascript" src="//img.eduwill.net/eduwill/live/js/common/EventPersonalKTK.js"></script>
<script type="text/javascript">
	
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
	var url = window.location.href;

	
	document.addEventListener("DOMContentLoaded", function(){
		
		//합격자 명단
		winnerList();
		
		var _slideCont = $('.slide-cont');
		
		_slideCont.slick({
			autoplay: true,
			slidesToShow : 1,
			slidesToScroll : 1,
			speed: 600,
			infinite: true,
			arrows: false,
			dots: true,
			variableWidth: true,
			centerMode: true,
			adaptiveHeight: true
		});

	});

	

	/* 합격자 명단 */
	function winnerList(){
		var options = {
			jsonFileNm: 'Q202012_WINNER.min',
		};

		if(isMobile){
			var slickOptions = {
				speed: 1000,
				slidesPerRow: 3,
				slidesToShow: 6,
			};
		}else{
			var slickOptions = {
				speed: 1000,
				slidesPerRow: 4,
				slidesToShow: 7,
			};
		}

		eduf.UI.Winner(".winner-list", options, slickOptions);
	}
</script>