@{
    String platform = ("W".Equals(ViewBag.PlatformCd))? "pc": "mobile";
	String link1 = ("W".Equals(ViewBag.PlatformCd)) ? "https://well.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MzI4Mg==" : "https://brand.eduwill.net/sugang/view.will?mSeq=36812&progress=S";
	String link2 = ("W".Equals(ViewBag.PlatformCd)) ? "https://well.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MzI5NDM=" : "https://brand.eduwill.net/sugang/view.will?mSeq=36815&progress=S";
}

<div id="contents" class="promotion">

	@if ("W".Equals(ViewBag.PlatformCd)){
	<div class="fix-right-banner">
		<a href="javascript:;" onclick="popupOpen('.quizdimmed', 'popupQuiz');">
			<img src="//img.eduwill.net/eduwill/img/2022/S/event/220318/pc/fix_right_banner.png" alt="2022 사회복지사 합격 축하 이벤트" />
		</a>
	</div>
	}else{
	<div class="fix-bottom-banner">
		<a href="javascript:;" onclick="popupOpen('.quizdimmed', 'popupQuiz');">
			<img src="//img.eduwill.net/eduwill/img/2022/S/event/220318/mobile/fix_bottom_banner.png" alt="2022 사회복지사 합격 축하 이벤트" />
		</a>
	</div>
	}

	<div class="sector-title">
		<div class="wrap">
			<p class="motion title-1"><img src="//img.eduwill.net/eduwill/img/2022/S/event/220318/@platform/title_1.png" alt="2022 사회복지사 합격 축하 이벤트" /></p>
			<p class="motion title-2"><img src="//img.eduwill.net/eduwill/img/2022/S/event/220318/@platform/title_2.png" alt="사회복지사" /></p>
			<p class="motion title-3"><img src="//img.eduwill.net/eduwill/img/2022/S/event/220318/@platform/title_3.png" alt="합격을 축하드립니다" /></p>

			<div class="action">
				<a href="#sectorEvent1" class="icon-pointer page-move">
					<img src="//img.eduwill.net/eduwill/img/2022/S/event/220318/@platform/btn_apply.png" alt="참여하기" />
				</a>
			</div>

			<img src="//img.eduwill.net/eduwill/img/2022/S/event/220318/@platform/title.png" alt="">
		</div>
	</div>

	<div class="sector-letter">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/S/event/220318/@platform/letter_title.jpg" alt="" />
			<div class="letter-motion">
				<div class="front"><img src="//img.eduwill.net/eduwill/img/2022/S/event/220318/@platform/letter_front.png" alt=""></div>
				<div class="letter"><img src="//img.eduwill.net/eduwill/img/2022/S/event/220318/@platform/letter.png" alt=""></div>
			</div>
		</div>
	</div>

	<div id="sectorEvent1" class="sector-event-1">
		<div class="wrap">
			<div class="item">
				<div class="desc date">
					<ul>
						<li>22년 3월 18일~22년 4월15일</li>
                        <li>사회복지사1급 시험에 합격한 <br />에듀윌 유/무료 수강생</li>
					</ul>
				</div>
				<div class="desc method">
					<ul>
						<li>예시 확인 후 양식에 맞게 작성</li>
						<li>합격 관련 사진 올리면 당첨 확률 ↑<br>(본인 사진or공부한 교재, 노트)</li>
					</ul>
				</div>
				<a href="javascript:;" class="btn-example" data-popup-open="example">
					<img src="//img.eduwill.net/eduwill/img/2022/S/event/220318/@platform/btn_ex.png" alt="작성예시" />
				</a>
				<img src="//img.eduwill.net/eduwill/img/2022/S/event/220318/@platform/event_1.jpg" alt="" />
			</div>
			<div class="notice">
				<ul>
					<li>정성스럽게 써주신 수기 중 20명을 추첨하여 스타벅스 커피, 우수 후기를 작성해주신 5명에게 1만원 상품권을 드립니다.</li>
					<li>당첨자는 2022년 4월 22일 이후 공지사항을 통해 확인 가능합니다.</li>
				</ul>
			</div>
			@* <div class="action">
				<a href="javascript:;" class="btn-review icon-pointer" data-popup-open="write">
					<img src="//img.eduwill.net/eduwill/img/2022/S/event/220318/@platform/btn_write.png" alt="참여하기" />
				</a>
			</div> *@
		</div>
	</div>

	<div class="sector-slide">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/S/event/220318/@platform/slide_title.png" alt="">
		</div>
		<div class="wrap-full">
			<div class="review-slide">
				<div><img src="//img.eduwill.net/eduwill/img/2022/S/event/220318/pc/1.png" alt=""></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/S/event/220318/pc/2.png" alt=""></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/S/event/220318/pc/3.png" alt=""></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/S/event/220318/pc/4.png" alt=""></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/S/event/220318/pc/5.png" alt=""></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/S/event/220318/pc/6.png" alt=""></div>
			</div>
		</div>
		
		<div class="action">
			<a href="javascript:;" class="btn-review icon-pointer" data-popup-open="write">
				<img src="//img.eduwill.net/eduwill/img/2022/S/event/220318/@platform/btn_write2.png" alt="참여하기" />
			</a>
		</div>
	</div>

	<div id="sectorReviewList" class="sector-review">
		<div class="wrap">
			<div class="review-title">나의 자랑스러운 합격스토리</div>

			<div id="reviewWrap" class="review-wrap">
				<div class="review-list">
					<div class="review-head">
						<div class="grid item">
							<div class="col num">번호</div>
							<div class="col subject">제목</div>
							<div class="col date">등록일</div>
						</div>
					</div>
					<div id="reviewBody" class="review-body">
					</div>
				</div>

				<div id="reviewPagination" class="paging">
				</div>

				<div id="reviewAction" class="review-action" >
					<a href="javascript:;" class="btn-more"><span>더보기</span></a>
				</div>
			</div>

			<div class="notice-list">
				<p class="title">이벤트 유의사항</p>
				<ul class="list">
					<li>이벤트 당첨은 해당 페이지에서 참여하신 경우에만 가능합니다.</li>
					<li>
						잘못된 회원정보 기입으로 인한 경품 미수령은 재발송되지 않습니다.
						<a href="javascript:;" class="btn-modify"><span>회원정보 수정</span></a>
					</li>
					<li>무성의한 내용 및 허위사실 기재 시 이벤트 혜택 대상에서 제외될 수 있습니다.</li>
					<li>제출하신 합격수기 및 사진은 마케팅에 사용될 수 있습니다.</li>
					<li>참여 후 게시글 삭제 시, 혜택 대상에서 제외됩니다.</li>
					<li>경품은 유사품목 또는 유사 가격대의 상품으로 예고없이 대체될 수 있습니다.</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="sector-event-2">
		<div class="wrap">
			<a href="https://event.eduwill.net/Event/2022/0/Rechallenge?item=S" class="btn-sale icon-pointer" target="_blank"><img src="//img.eduwill.net/eduwill/img/2022/S/event/220318/@platform/btn_coupon.png" alt="할인 받으러 가기"></a>
			<a href="@link1" target="_blank" class="btn-coupon1"><span class="sr-only">쿠폰 받기</span></a>
			<a href="@link2" target="_blank" class="btn-coupon2"><span class="sr-only">쿠폰 받기</span></a>
			<img src="//img.eduwill.net/eduwill/img/2022/S/event/220318/@platform/event_2.png" alt="">
		</div>
	</div>

	@* 소문내기영역 *@	

	<div class="sector-bar">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/S/event/220318/@platform/bar.png" alt="">
		</div>
	</div>

    <div class="sector-winner">
        <div class="wrap">
            <img alt="" src="//img.eduwill.net/eduwill/img/2022/S/freebook/220204/@platform/winner.png" />
            <div class="action">
                <a href="javascript:;" onclick="popupOpen('.dimmed', 'popupBase');">
                    <img alt="" src="//img.eduwill.net/eduwill/img/2022/S/freebook/220204/pc/btn_base.png" />
                </a>
            </div>
        </div>
    </div>

	@if ("W".Equals(ViewBag.PlatformCd)){
		<div data-eduwill-eco-content="2181"></div>
	}else{
		<div data-eduwill-eco-content="2182"></div>
	}

</div>

<!-- 근거문구 팝업 -->
<div class="dimmed"></div>
<div id="popupBase" class="popup popup-base">
	<a href="javascript:;" class="popup-close"  onclick="popupClose('.dimmed', 'popupBase');"><span class="sr-only">닫기</span></a>
    <div class="popup-body">
		<div data-eduwill-eco-content="4043"></div>
    </div>
</div>

@* 합격수기 작성 예시 *@
<div id="popupReviewExample" class="popup popup-review example">
    <div class="popup-head"><span>사회복지사1급 합격수기 작성 예시</span></div>
    <div class="popup-body">
        <div class="review-wrap">
            <div class="review-write">
                <div class="review-body">
                    <div class="grid item">
                        <div class="col subject">
                            <input type="text" value="에듀윌 덕분에 1급 합격했습니다." readonly>
                        </div>
                    </div>

                    <div class="grid item">
                        <div class="col title">합격수기</div>
                        <div class="col desc">
                            <div class="multiple">
<textarea name="" id="" cols="30" rows="10" readonly>
나이도 많고, 공부 기간도 4개월이 채 안되어서 거의 포기하는 마음이었습니다. 하지만 교수님들의 가르침에 따라 마지막까지 밤을 새워가며 열심히 노력했습니다.

기본강의를 3독을 하라는 말씀을 따라했고, 모르는 부분은 교수님께 질문을 드렸는데, 바로바로 교수님들께서 답변을 달아주셔서 빠르고 쉽게 해결할 수 있었습니다.

또한, 중간중간 에듀윌에서 학습 진도 측정을 해주시는 문자로 격려를 받으니 공부를 더욱 열심히 할 수 있었습니다. 

많은 어려움 속에서도 제가 포기하지 않고 1급을 합격할 수 있었던 것은 에듀윌의 체계적인 관리 덕분입니다.

감사합니다.
</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="action">
            <a href="javascript:;" class="btn btn-close" data-popup-close="example"><span>닫기</span></a>
        </div>
    </div>
    <a href="javascript:;" class="popup-close" data-popup-close="example"><span class="sr-only">닫기</span></a>
</div>
@* // 합격수기 작성 예시 *@

@* 합격수기 작성하기 *@
<div id="popupReviewWrite" class="popup popup-review write">
    <div class="popup-head"><span>사회복지사1급 합격수기 작성하기</span></div>
    <div class="popup-body">
        <div class="review-wrap">
            <p class="notice">아래 양식에 맞추어 작성해주세요.</p>
            <div class="review-write">
                <div class="grid item">
                    <div class="col title">후기 제목</div>
                    <div class="col desc">
                        <input type="text" name="title" class="text" placeholder="제목을 작성해주세요. (최대 100자까지 입력가능)" maxlength="100"/>
                    </div>
                </div>

                <div class="grid item item-full">
                    <div class="col title">시험 응시 후기 작성 <em>(응시 목적 및 공부 방법, 합격노하우, 에듀윌 선택 이유 등)</em></div>
                    <div class="col desc">
                        <textarea name="detail" cols="30" rows="6" class="textarea" placeholder="후기를 작성해주세요. (최대 1,000자까지 입력가능)" maxlength="1000"></textarea>
                    </div>
                </div>

                <p class="notice">
                    ※ 작성하신 후기는 에듀윌의 상품 홍보 및 마케팅을 위한 온/오프라인 홍보물 제작에 활용될 수 있으며, 에듀윌은 후기의 의미가 변경되지 않는 선에서 작성자의 동의 없이 편집 및 변형할 수 있습니다. 제출하신 후에는 수정이 불가합니다.
                </p>

                <div class="grid item item-file">
                    <div class="col title">이미지 업로드<em>(본인 사진 or 학습한 교재 및 노트)</em></div>
                    <div class="col desc">
                        <div class="filebox">
                            <input class="upload-name text"  id="fileName1" value="" disabled="disabled">
                            <label for="fileUpload">파일 선택</label>
                            <input type="file" id="fileUpload" name="ticketImg" class="upload-hidden">
                        </div>
                    </div>
                </div>

                <!-- 개인정보 -->
                <p class="notice primary">※ 사진은 합격수기 보기에서 노출되지 않습니다.</p>

                <div class="grid item item-full">
                    <div class="col title">[개인 정보 수집 및 이용, 처리위탁에 대한 동의]<span class="primary">(필수)</span></div>
                    <div class="col desc">
                        <div class="agreebox">
                            <table class="table privacy">
                                <colgroup>
                                    <col style="width: 23%;" />
                                    <col style="width: auto;" />
                                    <col style="width: 31%;" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col">수집 및 이용 목적</th>
                                        <th scope="col">수집항목</th>
                                        <th scope="col">보유 및 이용기간</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td >개인식별 및 선물발송</td>
                                        <td>
                                            이름, 휴대폰번호,<br>
                                            이미지 파일<br>(본인 사진 or 학습한 교재 및 노트)
                                        </td>
                                        <td><strong>이벤트 종료 후 3개월</strong></td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table privacy">
                                <colgroup>
                                    <col style="width: 23%;" span="3" />
                                    <col style="width: 31%;" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col">수탁업체</th>
                                        <th scope="col">위탁업무</th>
                                        <th scope="col">제공 개인정보</th>
                                        <th scope="col">보유 및 이용기간</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>오피스콘</td>
                                        <td>기프티콘 발송</td>
                                        <td>휴대폰 번호</td>
                                        <td><strong>기프티콘 발송 후 30일</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="notice">
                                귀하는 개인정보 수집 및 이용, 처리위탁을 거부하실 수 있습니다. 다만 거부하실 경우에는 이벤트 참여가 불가합니다. 잘못된 회원정보 기입으로 인한 미 수령은 재발송 되지 않습니다.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="grid item item-full">
                    <div class="col title">
                        <div class="notice">위 내용을 충분히 이해하였으며 개인정보 수집 및 이용, 처리위탁에 동의합니다.</div>
                    </div>
                    <div class="col desc">
                        <div class="checkbox">
                            <input type="radio" id="persnalYes" name="personalYn" value="Y"> <label for="persnalYes">동의</label>
                            <input type="radio" id="persnalNo" name="personalYn" value="N"> <label for="persnalNo">비동의</label>
                        </div>
                    </div>
                </div>

                <div class="grid item item-full">
                    <div class="col title">[사회복지사1급 합격 수기 저작재산권 이용 동의]<span class="primary">(필수)</span></div>
                    <div class="col desc">
                        <div class="agreebox">
                            (주)에듀윌(이하 &#39;회사&#39;)에 제공한 사회복지사1급 합격 수기(기업명 포함)의 저작재산권과 관련한 일체의 권리를 회사의 상품 홍보 및 마케팅을 위한
                            온/오프라인 홍보물 제작에 영구적으로 활용하는 것에 허락합니다.<br>
                            회사는 후기의 의미가 변경되지 않는 선에서 작성자의 동의없이 편집 및 변형할 수 있으며, 제출하신 후에는 수정이 불가합니다.<br>
                            귀하는 저작재산권 이용에 대해 동의를 거부하실 수 있습니다. 다만 거부하실 경우에는 이벤트 참여가 불가합니다.
                        </div>
                    </div>
                </div>

                <div class="grid item item-full">
                    <div class="col title">
                        <div class="notice">위 내용을 충분히 이해하였으며 사회복지사1급 합격 수기 저작재산권 이용에 동의합니다.</div>
                    </div>
                    <div class="col desc">
                        <div class="checkbox">
                            <input type="radio" id="marketingYes" name="marketingYn" value="Y"> <label for="marketingYes">동의</label>
                            <input type="radio" id="marketingNo" name="marketingYn" value="N"> <label for="marketingNo">비동의</label>
                        </div>
                    </div>
                </div>
                <!-- // 개인정보 -->
            </div>
        </div>
        <div class="action">
            <a href="javascript:;" class="btn btn-submit" onClick=""><span>제출하기</span></a>
        </div>
    </div>
    <a href="javascript:;" class="popup-close" data-popup-close="write"><span class="sr-only">닫기</span></a>
</div>
@* // 합격수기 작성하기 *@

@* 합격수기 확인하기 *@
<div id="popupReview" class="popup popup-review view">
    <div class="popup-head"><span>사회복지사 합격수기 확인하기</span></div>
    <div class="popup-body">
        <div class="review-wrap">
            <div class="review-write">
                <div class="review-body">
                    <div class="grid item">
                        <div class="col subject">
                            <input name="title" type="text" value="* 작성된 제목 노출" readonly>
                        </div>
                    </div>

                    <div class="grid item">
                        <div class="col title">합격수기</div>
                        <div class="col desc">
                            <div class="multiple">
                                <textarea name="detail" cols="30" rows="10" readonly>* 작성된 합격수기 내용 노출</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="action">
            <a href="javascript:;" class="btn btn-close" data-popup-close="view"><span>닫기</span></a>
        </div>
    </div>
    <a href="javascript:;" class="popup-close" data-popup-close="view"><span class="sr-only">닫기</span></a>
</div>
@* // 합격수기 확인하기 *@

@* 퀴즈 레이어 *@
@Html.Partial("/Views/Component/2022/0/popupQuizEvent/_Content.cshtml")
@* 퀴즈 레이어 *@

<script type="text/javascript">
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var agent = navigator.userAgent.toLowerCase();
    var trident = navigator.userAgent.match(/Trident\/(\d.\d)/i);
    var url = window.location.href;
    var str = 'event.eduwill.net';
    var checkUrl = url.indexOf(str);

    $(function(){
        promotionInit();
    });

    function promotionInit(){
		scrollEvent( null );
		$(window).on( "scroll", scrollEvent );
        titleEvent();
        addEvent();
		typingEvent();
    };

    function addEvent(){
        // page move
        pageMove('.page-move');

        // popup open
        $('[data-popup-open]').on('click',function(){
            var _data = $(this).data('popupOpen');
            //console.log(_data);

            if( _data == 'example'){ // 예시
                popupOpen('.dimmed', 'popupReviewExample');
            } else if( _data == 'view'){ // 확인
                popupOpen('.dimmed', 'popupReview');
            } else if( _data == 'write'){ // 작성
                /*popupOpen('.dimmed', 'popupReviewWrite');*/
            }
        });

        // popup close
        $('[data-popup-close]').on('click',function(){
            var _data = $(this).data('popupClose');
            //console.log(_data);

            if( _data == 'example'){ // 예시
                popupClose('.dimmed', 'popupReviewExample');
            } else if( _data == 'view'){ // 확인
                popupClose('.dimmed', 'popupReview');
            } else if( _data == 'write'){ // 작성
                popupClose('.dimmed', 'popupReviewWrite');
            }
        });

		$('.review-slide').slick({
			autoplay: true,
			autoplaySpeed: 2000,
			infinite: true,
			arrows: false,
			dots:false,
			slidesToScroll: 1,
			speed: 800,
			centerMode: true,
			variableWidth: true,
		});

        var fileTarget = $('.filebox .upload-hidden');
        fileTarget.on('change', function () {
            if (window.FileReader) {
                var filename = $(this)[0].files[0].name;
            } else {
                var filename = $(this).val().split('/').pop().split('\\').pop();
            }

            $(this).siblings('.upload-name').val(filename);
        });
    }

	function titleEvent(){
		var promotionTitle = $('.sector-title');

		TweenMax.fromTo( promotionTitle.find('.title-1'), .5, { opacity: 0, scaleX: 0 }, { opacity: 1, scaleX: 1, delay: .2, ease: Back.easeOut.config(1) });
		TweenMax.fromTo( promotionTitle.find('.title-2'), 1, { opacity: 0, y: 50 }, { opacity: 1, y: 1, delay: .4, ease: Bounce.eaesOut });
		TweenMax.fromTo( promotionTitle.find('.title-3'), 1, { opacity: 0, y: 50 }, { opacity: 1, y: 1, delay: .6, ease: Back.easeOut.config(1) });
	}

	function typingEvent(){
		var typingBool = false;
		var typingIdx = 0;
		var typingTxt = "압도적 1위 에듀윌 사회복지사"; 
		typingTxt = typingTxt.split(""); 
		if (typingBool == false) {
			typingBool = true;
			var tyInt = setInterval(typing, 200);
		}

		function typing() {
			if (typingIdx < typingTxt.length) {	
				$(".typing").append(typingTxt[typingIdx]);
				typingIdx++;

				if(typingIdx > (typingTxt.length)) {
					typingIdx = 0;
					$(".typing").empty();
				}
			} else {
				clearInterval(tyInt);
			}
		}
	}

	var _isWinnerScroll = false;
	function scrollEvent(st){
		var scrollTop = $(window).scrollTop();
		var offsetLetterTop = $(".sector-letter").offset().top;
		if(scrollTop > offsetLetterTop-300){
			if(_isWinnerScroll == true) return;
			if(isMobile) {
				TweenMax.fromTo( $('.sector-letter').find('.letter'), 1.5, { opacity: 1, y: 100 }, { opacity: 1, y: 1, delay: .1, ease: Back.easeInOut.config(1) });
			} else {
				TweenMax.fromTo( $('.sector-letter').find('.letter'), 1.5, { opacity: 1, y: 300 }, { opacity: 1, y: 1, delay: .1, ease: Back.easeInOut.config(1) });
			}
			_isWinnerScroll = true;
		} else {
			if(_isWinnerScroll == false) return;
			
			if(isMobile) {
				TweenMax.fromTo( $('.sector-letter').find('.letter'), 1, { opacity: 1, y: 1 }, { opacity: 1, y: 150, delay: .1, ease: Back.easeInOut.config(1) });
			} else {
				TweenMax.fromTo( $('.sector-letter').find('.letter'), 1, { opacity: 1, y: 1 }, { opacity: 1, y: 150, delay: .1, ease: Back.easeInOut.config(1) });
			}
			_isWinnerScroll = false;
		}
	}

	
</script>
