@charset "UTF-8";
.grid {
  *zoom: 1;
}

.grid:before, .grid:after {
  content: '';
  display: table;
}

.grid:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  position: relative;
  box-sizing: border-box;
}

.grid .col {
  position: relative;
  float: left;
  box-sizing: border-box;
}

.table {
  display: table;
  width: 100%;
}

.table .table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.product-eco .product-slide .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  font-size: 0;
  color: transparent;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

button {
  overflow: visible;
  border-radius: 0;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  width: auto;
  outline: 0;
  cursor: pointer;
}

.dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1001;
  width: 90%;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  background-color: #fff;
  transform: translateX(-50%);
}

.popup * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  margin: 0;
  padding: 0;
}

.popup-body {
  position: relative;
  text-align: left;
}

.popup-body p {
  font-size: 3.33333vw;
}

@media screen and (min-width: 720px) {
  .popup-body p {
    font-size: 24px;
  }
}

@media screen and (min-width: 1100px) {
  .popup-body p {
    font-size: 18px;
  }
}

.popup-body p + p,
.popup-body p + ul {
  margin-top: 0.3125rem;
}

@media screen and (min-width: 720px) {
  .popup-body p + p,
  .popup-body p + ul {
    margin-top: 10px;
  }
}

.popup-body ul {
  margin-top: 0.3125rem;
  font-size: 3.05556vw;
}

@media screen and (min-width: 720px) {
  .popup-body ul {
    margin-top: 10px;
  }
}

@media screen and (min-width: 720px) {
  .popup-body ul {
    font-size: 22px;
  }
}

@media screen and (min-width: 1100px) {
  .popup-body ul {
    font-size: 16px;
  }
}

.popup-body ul li {
  margin-top: 0.15625rem;
}

@media screen and (min-width: 720px) {
  .popup-body ul li {
    margin-top: 5px;
  }
}

.popup-body ul li:first-child {
  margin-top: 0;
}

.popup-body ul + p {
  margin-top: 0.3125rem;
}

@media screen and (min-width: 720px) {
  .popup-body ul + p {
    margin-top: 10px;
  }
}

.popup-close {
  position: absolute;
  top: -40px;
  right: 0;
}

.popup-close button {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 40px;
  height: 40px;
}

.popup-close button:before, .popup-close button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 1px;
  margin-left: -10px;
  background-color: #fff;
}

.popup-close button:before {
  transform: rotate(45deg);
}

.popup-close button:after {
  transform: rotate(315deg);
}

.popup-close button span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup-video {
  max-width: 640px;
}

@media screen and (min-width: 720px) {
  .popup-video {
    max-width: 1000px;
  }
}

.popup-video .video-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-base, .popup-bestseller {
  max-width: 1000px;
}

@media screen and (min-width: 720px) {
  .popup-base, .popup-bestseller {
    max-width: 1000px;
  }
}

.popup-base .popup-body, .popup-bestseller .popup-body {
  padding: 0.625rem;
}

@media screen and (min-width: 720px) {
  .popup-base .popup-body, .popup-bestseller .popup-body {
    padding: 20px;
  }
}

.popup-base .popup-body .eco-base > p, .popup-bestseller .popup-body .eco-base > p {
  padding-left: 0.46875rem;
  text-indent: -0.46875rem;
}

@media screen and (min-width: 720px) {
  .popup-base .popup-body .eco-base > p, .popup-bestseller .popup-body .eco-base > p {
    padding-left: 15px;
  }
}

@media screen and (min-width: 720px) {
  .popup-base .popup-body .eco-base > p, .popup-bestseller .popup-body .eco-base > p {
    text-indent: -15px;
  }
}

.product-eco * {
  line-height: normal;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.product-eco .wrap {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  width: 100%;
}

.product-eco .holder {
  position: relative;
}

.product-eco p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.product-eco p.notice {
  margin-top: 10px;
}

.product-eco p.brand, .product-eco p.survey {
  position: absolute;
}

.product-eco .change {
  position: absolute;
  top: 0;
  animation-name: flagChange;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: step-start;
  animation-direction: normal;
}

@keyframes flagChange {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes opacityChange {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.product-eco .pointer {
  position: relative;
  display: inline-block;
}

.product-eco .pointer:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  display: block;
  width: 1.875rem;
  height: 2.0625rem;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  animation-name: pointerBounce;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .pointer:after {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .pointer:after {
    height: 66px;
  }
}

@keyframes pointerBounce {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}

.product-eco .product-slide .slick-arrow {
  width: 75px;
  height: 100px;
  margin-top: -50px;
  opacity: .4;
}

.product-eco .product-slide .slick-arrow.slick-prev {
  left: -60px;
}

.product-eco .product-slide .slick-arrow.slick-prev:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border-width: 0;
  border-style: solid;
  border-color: #000;
  transform: rotate(45deg);
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top: none;
  border-right: none;
}

.product-eco .product-slide .slick-arrow.slick-next {
  right: -60px;
}

.product-eco .product-slide .slick-arrow.slick-next:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border-width: 0;
  border-style: solid;
  border-color: #000;
  transform: rotate(45deg);
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom: none;
  border-left: none;
}

.product-eco .wing-banner {
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 50;
}

.product-eco .wing-banner a {
  display: block;
  position: relative;
}

.product-eco .wing-banner a + a {
  margin-top: 20px;
}

.product-eco .wing-banner .pointer::after {
  top: auto;
  bottom: -20px;
  z-index: 11;
  right: 20px;
  width: 46px;
  height: 51px;
}

.product-eco .box-shadow, .product-eco .box {
  position: relative;
}

.product-eco .box-shadow:after, .product-eco .box:after {
  content: '';
  display: block;
  height: 40px;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_101/product/210409/pc/bg_shadow.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
}

.product-eco .box:after {
  top: 896px;
}

.product-eco .box .box-inner {
  padding: 50px 0;
  background-color: #f3f6ff;
}

.product-eco .box .box-inner img + img {
  margin-top: 40px;
}

.product-eco .tab-view {
  position: relative;
  display: none;
}

.product-eco .tab-view.active {
  display: block;
}

.product-title {
  z-index: 1;
  height: 1504px;
  background-color: #006ce2;
  background-image: url("https://img.eduwill.net/eduwill/img/2021/_101/product/210409/pc/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-title .item.benefit {
  position: relative;
  width: 1200px;
  margin-left: -50px;
}

.product-title .item.benefit .text {
  position: absolute;
  top: 302px;
  left: 350px;
  font-size: 30px;
  color: #222;
  letter-spacing: -3px;
  font-weight: 800;
  text-align: left;
  line-height: 1.1;
}

.product-title .btn-base {
  position: absolute;
  bottom: 85px;
  right: 50px;
}

.product-title.bottom {
  height: 1070px;
}

.product-benefit {
  height: 1190px;
  background-color: #0c1d61;
}

.product-benefit .wrap::after {
  content: '';
  position: absolute;
  top: -60px;
  left: 50%;
  display: block;
  width: 120px;
  height: 120px;
  margin-left: -60px;
  background: url("https://img.eduwill.net/eduwill/img/2021/_101/product/210409/pc/icon_plus.png") no-repeat 0 0;
}

.product-price {
  margin-top: -340px;
  text-align: left;
  background-color: transparent;
}

.product-price .text {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 56px;
  text-align: left;
  color: #fff;
  line-height: 1.2;
}

.product-price .text span {
  color: #ffc20e;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-price .item.apply {
  z-index: 1;
  position: relative;
  box-sizing: border-box;
  box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.45);
  min-height: 300px;
  padding: 60px;
  border-radius: 50px 50px 50px 0;
  background-color: #fff;
}

.product-price .item.apply .product-box {
  text-align: left;
}

.product-price .item.apply .product-box .name {
  display: block;
  margin-bottom: 35px;
  font-size: 40px;
  color: #222;
  line-height: 1;
  letter-spacing: -1.5px;
  font-weight: 300;
}

.product-price .item.apply .product-box .name strong {
  font-weight: 800;
}

.product-price .item.apply .product-box ul {
  margin-left: -30px;
  overflow: hidden;
}

.product-price .item.apply .product-box ul li {
  position: relative;
  float: left;
  box-sizing: border-box;
  border-left: 1px solid #ccc;
  width: 170px;
  padding-left: 30px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  color: #222;
}

.product-price .item.apply .product-box ul li:first-child {
  border-left: 0;
}

.product-price .item.apply .price-box {
  position: absolute;
  bottom: 60px;
  right: 60px;
  text-align: right;
}

.product-price .item.apply .price-discount {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 102px;
  height: 93px;
  text-align: center;
  background: url("https://img.eduwill.net/eduwill/img/2021/_101/product/210409/pc/icon_arrow.png") no-repeat 0 0;
  animation-name: flagChange;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: step-start;
  animation-direction: normal;
}

@keyframes flagChange {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.product-price .item.apply .price-discount strong {
  display: block;
  margin-top: 12px;
  line-height: 1.2;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.product-price .item.apply .price-before {
  font-size: 24px;
  font-weight: 500;
  color: #bbb;
  text-decoration: line-through;
}

.product-price .item.apply .price-before strong {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-price .item.apply .price-after {
  line-height: 1;
  font-size: 56px;
  font-weight: 700;
  color: #f4280c;
}

.product-price .item.apply .price-after strong {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 60px;
  font-weight: 900;
}

.product-price .item.apply .action {
  margin-top: 30px;
}

.product-price .item.apply .action a {
  position: relative;
  display: inline-block;
}

.product-price .item.apply .action a:after {
  content: '';
  position: absolute;
  top: 56%;
  right: -40px;
  z-index: 1;
  display: block;
  width: 1.875rem;
  height: 2.0625rem;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  animation-name: pointerBounce;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-price .item.apply .action a:after {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-price .item.apply .action a:after {
    height: 66px;
  }
}

@keyframes pointerBounce {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}

.product-line {
  background-color: #ffc20e;
}

.product-line .wrap::after {
  z-index: 1;
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  display: block;
  width: 309px;
  height: 75px;
  margin-left: -155px;
  background: url("https://img.eduwill.net/eduwill/img/2021/_101/product/210409/pc/bg_after.png") repeat-x 0 100%;
}

.product-curriculum {
  background-color: #f0f0f0;
}

.product-reason .btn-prize {
  position: absolute;
  bottom: 800px;
  right: 0;
  display: block;
  width: 112px;
  height: 29px;
  overflow: hidden;
  text-indent: -999px;
  background: url("https://img.eduwill.net/eduwill/img/2021/_101/product/210409/pc/btn_prize.png") no-repeat 0 0;
}

.product-interview {
  background-color: #0c1d61;
}

.product-interview .player-wrap {
  position: relative;
  width: 820px;
  height: 462px;
  display: none;
}

.product-interview .player-wrap.playing .btn-play {
  display: none;
}

.product-interview .player-wrap .btn-play {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.product-interview .tab-list {
  position: absolute;
  right: 0;
  top: 340px;
  width: 260px;
}

.product-interview .tab-list button {
  margin-top: 12px;
}

.product-interview .btn-interview {
  position: absolute;
  bottom: 130px;
  left: 50%;
  display: block;
  width: 227px;
  height: 48px;
  margin-left: -113px;
  overflow: hidden;
  text-indent: -999px;
  background: url("https://img.eduwill.net/eduwill/img/2021/_101/product/210409/pc/btn_interview.png") no-repeat 0 0;
}

.product-strategy1 {
  padding-bottom: 130px;
}

.product-strategy1 .player-wrap {
  position: absolute;
  top: 445px;
  right: 0;
  width: 672px;
  height: 378px;
}

.product-strategy1 .player-wrap.playing .btn-play {
  display: none;
}

.product-strategy1 .player-wrap .btn-play {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.product-strategy2 .best {
  position: absolute;
  top: 190px;
  left: 262px;
  font-size: 38px;
  font-weight: 800;
  line-height: 1;
  color: #222;
  letter-spacing: -3px;
}

.product-strategy2 .btn-bestseller {
  position: absolute;
  top: 248px;
  right: 0;
  display: block;
  width: 169px;
  height: 29px;
  overflow: hidden;
  text-indent: -999px;
  background: url("https://img.eduwill.net/eduwill/img/2021/_101/product/210409/pc/btn_bestseller.png") no-repeat 0 0;
}

.product-strategy3 .text-box {
  position: absolute;
  top: 340px;
  left: 230px;
  color: #222;
  text-align: center;
}

.product-strategy3 .text-box > * {
  letter-spacing: -3px;
  opacity: .7;
}

.product-strategy3 .text1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  opacity: .8;
}

.product-strategy3 .text2 {
  margin-bottom: 13px;
  font-size: 42px;
  font-weight: 800;
  opacity: .8;
}

.product-strategy3 .text3 {
  font-size: 20px;
  text-align: left;
}

.product-strategy3 .text3 li {
  padding: 10px 0;
}

.product-strategy3 .text3 li span {
  display: inline-block;
  width: 135px;
}

.product-strategy3 .text3 li ul {
  margin-top: 10px;
  font-size: 15px;
}

.product-strategy3 .text3 li ul li {
  padding: 0;
}

.product-strategy3 .text4 {
  position: absolute;
  top: 340px;
  left: 600px;
  color: #2320c9;
  font-size: 30px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -2.5px;
}

.product-strategy3 .text5 {
  position: absolute;
  top: 590px;
  left: 630px;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.product-strategy3 .text5 span {
  display: block;
  font-size: 42px;
  font-weight: 800;
}

.product-strategy5 .video-wrap {
  position: absolute;
  top: 160px;
  left: 0;
}

.product-strategy5 .video-wrap .video {
  position: relative;
  width: 550px;
  height: 310px;
  margin-top: 40px;
}

.product-strategy5 .video-wrap .video .eduwill-video-play {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-apply {
  margin-top: 360px;
}
/*# sourceMappingURL=web.css.map */