@charset "UTF-8";
a {
  outline: 0;
  outline: none;
}

.grid {
  *zoom: 1;
}

.grid:before, .grid:after {
  content: '';
  display: table;
}

.grid:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.layer-dim, .layer-dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: #000;
  opacity: .8;
  overflow: hidden;
}

.layer-review {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10001;
  max-width: 768px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.layer-review .layer-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  top: -60px;
  z-index: 10002;
}

@media screen and (min-width: 720px) {
  .layer-review .layer-close {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .layer-review .layer-close {
    height: 60px;
  }
}

.layer-review .layer-close:before, .layer-review .layer-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 2px;
  margin-left: -15px;
  background-color: #fff;
}

.layer-review .layer-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.layer-review .layer-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.layer-review .layer-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.layer-review .layer-box {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.layer-review .layer-box iframe, .layer-review .layer-box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: inherit;
     object-fit: inherit;
}

.product-eco .motion-1 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-2 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-3 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-4 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-5 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-6 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-7 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-8 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-9 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-10 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-11 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-12 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-box-1 {
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-box-2 {
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-box-3 {
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-box-4 {
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-box-5 {
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-scale-y-1 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .motion-scale-y-2 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .motion-scale-y-3 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .motion-scale-y-4 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .motion-scale-y-5 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .motion-scale-y-6 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-1 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.product-eco .active .motion-2 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.product-eco .active .motion-3 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.product-eco .active .motion-4 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.product-eco .active .motion-5 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

.product-eco .active .motion-6 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
}

.product-eco .active .motion-7 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1.4s;
  transition-delay: 1.4s;
}

.product-eco .active .motion-8 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1.6s;
  transition-delay: 1.6s;
}

.product-eco .active .motion-9 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1.8s;
  transition-delay: 1.8s;
}

.product-eco .active .motion-10 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 2s;
  transition-delay: 2s;
}

.product-eco .active .motion-11 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 2.2s;
  transition-delay: 2.2s;
}

.product-eco .active .motion-12 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 2.4s;
  transition-delay: 2.4s;
}

.product-eco .active .motion-box-1 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.product-eco .active .motion-box-2 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.product-eco .active .motion-box-3 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.product-eco .active .motion-box-4 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.product-eco .active .motion-box-5 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.product-eco .active .motion-scale-y-1 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-scale-y-2 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-scale-y-3 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-scale-y-4 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-scale-y-5 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-scale-y-6 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco {
  overflow-x: hidden;
}

.product-eco * {
  line-height: normal;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.product-eco .only-pc {
  display: block;
}

.product-eco .only-mobile {
  display: none;
}

.product-eco .wrap {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.product-eco .item {
  position: relative;
}

.product-eco .fix-right {
  position: fixed;
  top: 280px;
  right: 0;
  z-index: 100;
}

.product-eco .fix-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 11;
  padding: 12px 0 0 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .fix-bottom .wrap strong {
  float: left;
  margin-left: 42px;
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  letter-spacing: -1px;
}

.product-eco .fix-bottom .wrap strong em {
  color: #ffbf00;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: -1px;
}

.product-eco .fix-bottom .wrap a {
  position: relative;
  display: inline-block;
  margin-left: 65px;
  width: 200px;
  height: 50px;
  text-align: center;
  vertical-align: top;
  border-radius: 100px;
  background: #ffce06;
  position: relative;
  display: inline-block;
}

.product-eco .fix-bottom .wrap a span {
  display: block;
  padding-right: 6px;
  font-size: 22px;
  font-weight: 800;
  color: #010101;
  line-height: 50px;
  letter-spacing: -2px;
}

.product-eco .fix-bottom .wrap a span:after {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  right: 30px;
}

.product-eco .fix-bottom .wrap a:after {
  content: '';
  position: absolute;
  top: 40%;
  right: -20%;
  z-index: 1;
  display: block;
  width: 10.97222vw;
  height: 10.69444vw;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_20.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .fix-bottom .wrap a:after {
    width: 79px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .fix-bottom .wrap a:after {
    height: 77px;
  }
}

@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.product-eco .grounds-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.4);
}

.product-eco .asterisk {
  display: inline-block;
  font-weight: 300;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
}

.product-eco .slider-contents {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.product-eco .slick-dots {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  font-size: 0;
  text-align: right;
}

.product-eco .slick-dots li {
  display: inline-block;
  margin: 0 0.1875rem;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li {
    margin: 0 6px;
  }
}

.product-eco .slick-dots li.slick-active button {
  width: 2.875rem;
  border-radius: 1.5625rem;
  background-color: #ffbe00;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li.slick-active button {
    width: 92px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li.slick-active button {
    border-radius: 50px;
  }
}

.product-eco .slick-dots button {
  display: block;
  width: 1rem;
  height: 0.9375rem;
  color: transparent;
  border: none;
  border-radius: 50%;
  background-color: #bbb;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots button {
    width: 32px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots button {
    height: 30px;
  }
}

.product-eco .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  content: '';
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-indent: -9999px;
  display: block;
  cursor: pointer;
  width: 6.94444vw;
  height: 6.94444vw;
  margin-top: -3.47222vw;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow {
    width: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow {
    height: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow {
    margin-top: -25px;
  }
}

.product-eco .slick-arrow.slick-prev {
  left: 30px;
  background: url("https://img.eduwill.net/eduwill/img/2021/7/product/210430/pc/btn_prev.png") 0 0 no-repeat;
  background-size: cover;
}

.product-eco .slick-arrow.slick-next {
  right: 30px;
  background: url("https://img.eduwill.net/eduwill/img/2021/7/product/210430/pc/btn_next.png") 0 0 no-repeat;
  background-size: cover;
}

.product-eco .sector-title {
  background-color: #ffffff;
  background-image: url("https://img.eduwill.net/eduwill/img/2022/_104/product/220228/pc/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .sector-benefit {
  background-color: #ffffff;
  background-image: url("https://img.eduwill.net/eduwill/img/2022/_104/product/220228/pc/bg_benefit.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .sector-benefit .wrap {
  width: 1200px;
}

.product-eco .sector-benefit img {
  margin-top: -314px;
}

.product-eco .sector-price {
  padding: 120px 0 130px 0;
}

.product-eco .sector-price .title {
  padding-bottom: 80px;
  text-align: left;
}

.product-eco .sector-price .title > p {
  color: #222;
  line-height: 1;
}

.product-eco .sector-price .title > p.main {
  position: relative;
  font-size: 48px;
  padding-top: 55px;
  font-weight: 600;
  letter-spacing: -3px;
  line-height: 1.2;
}

.product-eco .sector-price .title > p.main strong {
  font-weight: 900;
  line-height: 1.2;
}

.product-eco .sector-price .title > p.summary {
  margin-top: 10px;
  color: #999;
  font-size: 24px;
  letter-spacing: -1px;
  font-weight: 600;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-eco .sector-price .title .highlight {
  display: inline-block;
  position: relative;
  font-weight: 600;
}

.product-eco .sector-price .title .highlight::after {
  z-index: -1;
  content: '';
  display: block;
  height: 13px;
  background-color: rgba(122, 108, 199, 0.3);
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
}

.product-eco .sector-price .apply-list {
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}

.product-eco .sector-price .apply-list li + li {
  border-top: 1px solid #000;
}

.product-eco .sector-price .apply-list li {
  display: table;
  padding: 25px 0px;
  width: 100%;
}

.product-eco .sector-price .apply-list .item {
  display: table-cell;
  vertical-align: middle;
  line-height: 1.2;
}

.product-eco .sector-price .apply-list .item.item-title {
  font-size: 35px;
  color: #222;
  font-weight: 600;
  text-align: left;
  padding-left: 40px;
}

.product-eco .sector-price .apply-list .item.price-before {
  padding-right: 145px;
  background: url("https://img.eduwill.net/eduwill/img/2022/_104/product/220228/pc/ico_arrow.png") 77% 50% no-repeat;
  font-size: 24px;
  color: #999;
  font-weight: 600;
  text-align: right;
}

.product-eco .sector-price .apply-list .item.price-before em {
  display: block;
  position: relative;
  text-decoration: line-through;
}

.product-eco .sector-price .apply-list .item.discount {
  font-size: 26px;
  color: #fe2400;
  font-weight: 600;
}

.product-eco .sector-price .apply-list .item.price-after {
  font-size: 35px;
  color: #fe2400;
  font-weight: 600;
  display: inline-block;
  min-width: 220px;
}

.product-eco .sector-price .apply-list .item.price-after em {
  font-size: 67px;
}

.product-eco .sector-price .apply-list .item.action a {
  display: block;
  width: 214px;
  height: 84px;
  line-height: 84px;
  background-color: #000;
  font-size: 20px;
  color: #fff;
}

.product-eco .sector-price .apply-list .item.action a::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 70%;
  display: block;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.product-eco .sector-point-1, .product-eco .sector-point-2, .product-eco .sector-point-3 {
  background: #f9f2f0;
}

.product-eco .sector-point-2 .action {
  position: absolute;
  bottom: 200px;
  left: 0;
  right: 0;
}

.product-eco .sector-point-2 .action a {
  position: relative;
  display: inline-block;
}

.product-eco .sector-point-2 .action a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -5%;
  z-index: 1;
  display: block;
  width: 7.77778vw;
  height: 7.5vw;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_20.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-point-2 .action a:after {
    width: 56px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-point-2 .action a:after {
    height: 54px;
  }
}

@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.product-eco .sector-banner {
  background-color: #ffffff;
  background-image: url("https://img.eduwill.net/eduwill/img/2022/_104/product/220228/pc/bg_banner.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .sector-call {
  background: #f5f5f5;
}
/*# sourceMappingURL=web.css.map */