@{
    string viewPath = ((RazorView)ViewContext.View).ViewPath;
    viewPath = viewPath.Remove(viewPath.LastIndexOf('/') + 1);
	String link1 = ("W".Equals(ViewBag.PlatformCd))? "https://cpta.eduwill.net/Book/bookInfo?cateIdx=&bookIdx=9105&productCode=22_114E0100B": "https://brand.eduwill.net/book/info.will?progress=_114&cateIdx=&bookIdx=9105&productCode=22_114E0100B"; // 교재구매 바로가기 링크 
}

@{
    string platform = ("W".Equals(ViewBag.PlatformCd)) ? "pc" : "mobile";
    if ( "W".Equals(ViewBag.PlatformCd) ){} else {}
}

<div id="contents" class="promotion">
    @if ("W".Equals(ViewBag.PlatformCd)) {
        <div class="fix-right">
            <div>
                <a href="#sectorApply" class="page-move">
					<div class="price">60,000</div>
                    <img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/pc/wing.png" alt="">
                </a>
            </div>
        </div>
    }

	<div class="fix-bottom">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/bottombanner.png" alt="">
			<div class="price">60,000</div>
			<div class="action">
				<a class="page-move" href="#sectorApply">
					<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/btn_bottombanner.png" alt="">
				</a>
			</div>
		</div>
	</div>

    <div class="sector-title">
		<video loop playsinline autoplay muted>
            <source src="//pmp.eduwill.net/eduwillpmp/eduwill/flv/20220119/bg_cpta_hyh.mp4" type="video/mp4">
        </video>
		<div class="dim"></div>

        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/title.png" alt="">
			<!--수상생 성장 에코-->
			<div class="eco-4168" data-eduwill-eco-content="4168"></div>
			<div class="action base">
				<a href="javascript:popupOpen('.rationale-dimmed', 'popupBase');">
					<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/pc/btn_title.png" />
				</a>
			</div>
			<div class="period">
                <span>기간 : 1.24(월) - 2.20(일) 단 한달!</span>
            </div>
			<div class="action apply">
				<a href="#sectorApply" class="page-move">
					<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/btn_title_apply.png" alt="">
				</a>
			</div>
        </div>
    </div>

	<div class="sector-graph">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/graph.png" alt="">
			<div class="text">
				<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/graph_text.png" alt="">
			</div>
        </div>
    </div>

	<div class="sector-review review-1">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/review.jpg" alt="">
        </div>
    </div>

	<div class="sector-prepare">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/prepare.jpg" alt="">
        </div>
    </div>

	<div class="sector-core">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/core.jpg" alt="">
			<div class="text">
				<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/core_text.png" alt="">
			</div>
		</div>
	</div>

	<div class="sector-banner">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/banner.png" alt="">
			<div class="action base">
				<a href="javascript:popupOpen('.rationale-dimmed', 'popupTeacher');">
					<img alt="" src="//img.eduwill.net/eduwill/img/2022/_114/product/220110/pc/btn_title.png" />
				</a>
			</div>
		</div>
	</div>

    <div class="sector-teacher">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/teacher.png" alt="">
			<div class="action">
				<a href="//cpta.eduwill.net/Prof/MA13/MA">
					<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/btn_home.png" alt="">
				</a>
			</div>
			<!-- mo -->
			@if ("M".Equals(ViewBag.PlatformCd)) { 
				<div class="review-list">
					<div><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/teacher_review_1.png" alt="review1"></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/teacher_review_2.png" alt="review2"></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/teacher_review_3.png" alt="review3"></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/teacher_review_4.png" alt="review4"></div>
				</div>
			}
        </div>
		<!-- pc -->
		@if ("W".Equals(ViewBag.PlatformCd)) { 
			<div class="wrap-full">
				<div class="review-list">
					<div><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/teacher_review_1.png" alt="review1"></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/teacher_review_2.png" alt="review2"></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/teacher_review_3.png" alt="review3"></div>
					<div><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/teacher_review_4.png" alt="review4"></div>
				</div>
			</div>	
		}
    </div>

	<div class="sector-increaseproof">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/increaseproof.jpg" alt="">
			<!--수상생 성장 에코-->
			<div class="eco-4168 title" data-eduwill-eco-content="4168"></div>
			<div class="eco-4168 flag" data-eduwill-eco-content="4168"></div>
			<div class="action">
				<a href="javascript:popupOpen('.rationale-dimmed', 'popupProof');">
					<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/pc/btn_base.png" alt="">
				</a>
			</div>
        </div>
    </div>

	<div class="sector-review review-2">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/review_title.jpg" />
			<div class="review-list2">
				<div><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/review_1.png" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/review_2.png" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/review_3.png" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/review_4.png" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/review_5.png" /></div>
				<div><img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/review_6.png" /></div>
			</div>
		</div>
	</div>

	<div class="sector-awards">
		<div class="wrap">
			<img alt="" src="//img.eduwill.net/eduwill/img/2021/G/product/210512/@platform/awards.jpg" />
		</div>
	</div>

	<div id="sectorApply" class="sector-apply">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/apply.jpg" />
			@if ("W".Equals(ViewBag.PlatformCd)) { 
				<div class="teacher">
					<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/pc/img_teacher.png" />
				</div>
			}
			<div class="action">
				<button href="">
					<img src="//img.eduwill.net/eduwill/img/2022/_114/event/220119/@platform/btn_apply.png" />
					<div class="price">60,000</div>
				</button>
			</div>
		</div>
	</div>

	<div class="sector-notice">
        <div class="wrap">
            <div class="notice-box">
                <p class="notice-title">유의사항</p>
                <ul class="notice-list">
                    <li>배포 기간: 2022-1-24 ~ 2022-2-20</li>
                    <li>교재는 별도 구매입니다. 
						<span class="action">
							<a href="@link1" target="_balnk" >교재 구매 바로 가기 ></a>
						</span></li>
                    <li>회계원리 과목의 수강기간은 7일 입니다.</li>
					<li>무료로 제공 된 회계원리는 수강중지 또는 수강연장이 불가능합니다.</li>
                </ul>
            </div>
        </div>
    </div>

	<div data-eduwill-eco-content="3650"></div>

	@* <div class="sector-video">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2021/C/event/211227/@platform/video_title.png" alt="">
            <div class="box video-box">
                <img src="//img.eduwill.net/eduwill/img/2021/C/event/211227/@platform/video.png" alt="">
                <div class="video">
                    <a class="eduwill-iframe-play" href="javascript:;">
                        <img src="//img.eduwill.net/eduwill/img/2021/C/event/211227/pc/thumb.png" alt="">
                    </a>
                    <div id="videoPlayer"></div>
                </div>
            </div>
        </div>
    </div> *@
</div>

<!-- 팝업  -->	
<!-- 타이틀 근거 문구 -->
<div class="rationale-popup" id="popupBase">
	<div class="rationale-title"><strong>근거문구</strong></div>
	<div class="rationale-cont">
		<div data-eduwill-eco-content="4106"></div>
	</div>
	<a class="rationale-close" href="javascript:popupClose('.rationale-dimmed', 'popupBase');"><span class="sr-only">팝업 닫기</span> </a>
</div>

<!--교수님 근거 문구 -->
<div class="rationale-popup" id="popupTeacher">
	<div class="rationale-title"><strong>근거문구</strong></div>
	<div class="rationale-cont">
		<p>
			1) 재무회계 1위: 에듀윌 경영아카데미 단과 매출 1위
		</p>
		<br>
		<p>
			2) 강의추천도 1위, 3) 강의만족도 1위: 세무사 기본이론 수강생 설문조사 결과
		</p>
	</div>
	<a class="rationale-close" href="javascript:popupClose('.rationale-dimmed', 'popupTeacher');"><span class="sr-only">팝업 닫기</span> </a>
</div>

<!-- 증명 -->
<div class="rationale-popup" id="popupProof">
	<div class="rationale-title"><strong>근거문구</strong></div>
	<div class="rationale-cont">
		<div data-eduwill-eco-content="4106"></div>
	</div>
	<a class="rationale-close" href="javascript:popupClose('.rationale-dimmed', 'popupProof');"><span class="sr-only">팝업 닫기</span> </a>
</div>
<!-- //팝업  -->

<script src="https://www.youtube.com/iframe_api"></script>
<script src="https://img.eduwill.net/eduwill/live/libs/waterwheelCarousel/jquery.waterwheelCarousel.min.js"></script>
<script type="text/javascript">
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
    var str = 'event.eduwill.net';
    var checkUrl = url.indexOf(str);
    var userId = "@(UserSession.UserID)";

    $(function () {
        frontInit();
    });

    function frontInit() {
        pageMove('.page-move');
        slideEvent();
        //$('.promotion .base').html('1) 2021년 에듀윌 경찰공무원 헌법 수강생 수 1위<br>2) 2021년 에듀윌 경찰공무원 형사법, 형법 T-PASS 및 단과 판매율 1위<br>3) 2021년 에듀윌 경찰공무원 경찰학 수강생 수 1위');
    }

    function slideEvent(){
		if(isMobile == true){ 
			$('.review-list').slick({
				autoplay: true,
				autoplaySpeed: 3000,
				speed: 1000,
				infinite: true,
				dots: true,
				arrows: false,
				slidesToShow: 1
			});
		} else {
			@* $('.review-list').slick({
				autoplay: true,
				autoplaySpeed: 3000,
				speed: 1000,
				infinite: true,
				slidesToShow: 1,
				centerMode: true,
				variableWidth: true
			}); *@

			$('.review-list').slick({
				autoplay: true,
				autoplaySpeed: 3000,
				speed: 1000,
				infinite: true,
				arrows:true,
				centerMode: true,
				variableWidth: true
			});
		}

		$('.review-list2').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 2000,
			speed: 800,
			infinite: true,
			arrows: false,
			dots: true
		});
    }
</script>
