@charset "utf-8";

// Core variables and mixins
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/extend";

/* 공통 */
.product-eco {
	.wrap {
		width: 1200px;
	}
	.btn-pointer {
		display: inline-block;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			right:-13px;
			bottom: -20px;
			width: 57px;
			height: 65px;
			background: url(https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png) no-repeat 50% 50%;
			background-size:100% auto;
			animation: 0.3s slideupY ease-in-out infinite alternate;
		}
		@keyframes slideupY {
			0% {
				transform: translateY(0);
			}
			100% {
				transform: translateY(10px);
			}
		}
	}

	@keyframes bounce {
		0%,100% {
			transform: translateY(10px);
		}
		50% {
			transform: translateY(-10px);
		}
	}

	.tit-area {
		position:relative;
		&:before {
			content:'';
			position:absolute;
			bottom:-75px;
			left:50%;
			z-index:5;
			transform:translateX(-50%);
			width:309px;
			height:76px;
			background:url(#{$img-path}/pc/tit_bg_arr.png) no-repeat 50% 50%;
		}
	}

	.cont5 .tit-area {
		background:url(#{$img-path}/pc/cont5_tit_bg.jpg) no-repeat 50% 50%;
		background-size:cover;
	}

	.cont8 .tit-area {
		background:url(#{$img-path}/pc/cont8_tit_bg.jpg) no-repeat 50% 50%;
		background-size:cover;
	}

	.cont10 .tit-area {
		background:url(#{$img-path}/pc/cont10_tit_bg.jpg) no-repeat 50% 50%;
		background-size:cover;
	}

	[class^=slider] {
		.slide-item {
			text-align:center;
			img {
				display:inline-block;
			}
		}
		.slick-dots {
			text-align:center;
			font-size:0;
			li {
				display:inline-block;
				padding:0 5px;
				button {
					width:14px;
					height:14px;
					border-radius:7px;
					background-color:#b2b2b2;
					font-size:0;
					text-indent:-99999px;
					line-height:0;
				}
				&.slick-active {
					button {
						width:38px;
						background-color:#ffc20e;
						transition:all .3s;
					}
				}
			}
		}
	}
}


/* 컨텐츠 */
.product-eco {
	overflow: hidden;

	.visual {
		background:url(#{$img-path}/pc/visual_bg_2.jpg) no-repeat 50% 50%;
		background-size:cover;
		height:1031px;
		.deco{
			position:absolute;
			bottom:100px;
			left:50%;
			margin-left:82px;
			
		}
		.motion-group{
			position: absolute;
			left: 0;
			top: 112px;
			width: 100%;
			text-align: center;
			.motion{
				&.motion-2{
					
					margin-top:80px;
					span{
						opacity: 0;
					}
				}
				&.motion-3{
					
					margin-top:30px;
					span{
						opacity: 0;
					}
				}
				&.motion-4{
					
					margin-top:60px;
					span{
						opacity: 0;
					}
				}
			}
			
		}
	}

	.cont1 {
		.price-area {
            position:relative;
			.num {
				font-family:$font-roboto;
			}
			.price {
				position:absolute;
				font-weight:700;
				text-align:left;
				line-height:1.1;
				letter-spacing:-1px;
                top:215px;
				.before {
					margin-left:7px;
					color:#bbb;
					font-size:30px;
					text-decoration:line-through;
				}
				.after {
					color:#eb2200;
					font-size:40px;
					.num {
						font-size:60px;
					}
				}
                &.price1{
				    left: 90px;
                }
                &.price2{
                    left: 465px;
                }
                &.price3{
				    left: 845px;
                }
			}
			.btn-area {
                .btn{
                    position:absolute;
                    left:0;
                    bottom:160px;   
                    &.btn1{
                        left:75px;
                    }
                    &.btn2{
                        left:450px;
                    }
                    &.btn3{
                        left:825px;
                    }
                }
				.btn-link {
					position:absolute;
					bottom:-27px;
					left:50%;
					transform:translateX(-50%);
					width:200px;
					height:36px;
					text-indent:-99999px;
				}
			}
		}
	}
	.cont2 {
		.text{
			font-family: $font-noto;
			font-size: 22px;
			position: absolute;
			bottom: 700px;
			left: 57px;
			font-weight: 900;
			color: #202020;
		}
		.btn1{
			position:absolute;
			right:34px;
			top:223px;

		}
	}

	.cont3 {
		background:#1832a3;
		background:linear-gradient(0deg, rgba(25,47,135,1) 0%, rgba(25,49,151,1) 50%, rgba(24,50,163,1) 100%);
		&:before {
			content:'';
			position:absolute;
			top:-55px;
			left:50%;
			transform:translateX(-50%);
			width:132px;
			height:132px;
			background:url(#{$img-path}/pc/cont3_plus.png) no-repeat 50% 50%;
		}

		[class^=tag] {
			position:absolute;
			top:366px;
			animation:bounce 2s infinite both;
		}
		.tag1 {
			left:482px;
		}
		.tag2 {
			left:1062px;
		}
	}

	.cont4 {
		background:url(#{$img-path}/pc/cont4_bg.jpg) no-repeat 50% 50%;
		background-size:cover;
        padding-bottom: 600px;
		.btn {
			position:absolute;
            top: 60px;
            left: 1060px;
		}
		.winner-contents {
			width: 1100px;
			position: absolute;
			left: 50%;
			bottom: -365px;
			transform: translateX(-50%);
			.winner-list {
				transform: perspective(300px) rotateX(45deg);
				p {
					margin: 10px 0;
					color: #222;
					font-size: 16px;
					font-weight: 700;
					text-align: center;
				}
			 }
		}
	}

	.cont5 {
		background:#f4f4f4;
		background: linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 20%);

		.btn {
			position:absolute;
			top:20px;
			right:50px;
		}

		.typing {
			position:absolute;
			top:434px;
			left:83px;
			color:#022222;
			font-size:40px;
			font-weight:900;
			line-height:1;
			letter-spacing: -1px;
			&:after {
				content: '';
				display: inline-block;
				position: relative;
				top: -5px;
				margin-left:8px;
				animation-name: cursor;
				animation-duration: 0.3s;
				animation-iteration-count: infinite;
				width: 2px;
				height: 40px;
				background-color: #fff;
				vertical-align: middle;
			}
			@keyframes cursor {
				0% {
				  background-color: #fff;
				}
				50% {
				  background-color: #022222;
				}
				100% {
				  background-color: #fff;
				}
			  }
		}
	}

	.cont6 {
		background:#f4f4f4;
		background: linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 20%);

		
	}

	.cont7 {
		background:#f8f8f8;
		background: linear-gradient(0deg, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 20%);
       
        .btn {
			position: absolute;
			top: 322px;
			left: 50px;
		}
        .review-wrap {
			width: 1100px;
			perspective: 670px;
			position: absolute;
			-webkit-perspective: 670px;
			overflow: hidden;
			height: 500px;
			opacity: .8;
			text-align: left;
			bottom: 85px;

			.review-list {
				transform:perspective(640px) rotateX(40deg);
				width:800px;
				height:802px;
                margin:0 300px 0;
				.item {
					padding: 15px 0;
					font-size: 16px;
                    border-top:solid 1px #ddd;
					& + .item {
						margin-left:4%;
					}
					span {
						font-size: inherit;
						display: inline-block;
					}
					.views {
						float: right;
					}
					.subject {
						width: 90%;
						display: inline-block;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
		}
	}

	.cont8 {
		padding-bottom:130px;
		.ico {
			position:absolute;
			top:260px;
			right:-66px;
			animation:bounce 2s infinite both;
		}
		.slider-wrap {
			position:relative;
			height:600px;
			.slider-video {
				position:absolute;
				top:50%;
				left:50%;
				transform:translate(-50%,-50%);
				width:1800px;
				.slick-list {
					padding:25px 0 !important;
				}
				.slick-slide {
					position:relative;
					width:640px;
					height:450px;
					.slide-item {
						position:absolute;
						top:50%;
						left:50%;
						transform:translate(-50%,-50%);
						width:550px !important;
						border-radius:30px;
						overflow: hidden;
						box-shadow:0 0 25px 0 rgba(0, 0, 0, 0.2);
						&:before {
							content:'';
							position:absolute;
							top:50%;
							left:50%;
							transform:translate(-50%,-50%);
							width:550px;
							height:309px;
							border-radius:30px;
							background-color:rgba(0,0,0,.4);
						}
						img {
							width:100%;
						}
					}
					&.slick-center {
						z-index:5;
						.slide-item {
							width:800px !important;
							padding:0;
							transition:width .3s;
							&:before {
								display:none;
							}
						}
					}
				}
				.slick-arrow {
					position:absolute;
					top:50%;
					z-index:10;
					width:80px;
					height:80px;
					background:url(#{$img-path}/pc/btn_slider_arr.png) no-repeat 50% 50%;
					font-size:0;
					text-indent:-99999px;
					line-height:0;
				}
				.slick-prev {
					left:460px;
					transform:translateY(-50%);
				}
				.slick-next {
					right:460px;
					transform:translateY(-50%) rotate(180deg);
				}
				.slick-dots {
					position:absolute;
					bottom:-20px;
					left:50%;
					transform:translateX(-50%);
				}
			}
		}

		.btn {
			margin-top:10px;
            &.btn1{
                position:absolute;
                left: 1067px;
                top: 10px;
            }
		}
	}

	.cont9 {
		background:url(#{$img-path}/pc/cont9_bg.jpg) no-repeat 50% 50%;
		background-size:cover;
		padding-bottom:130px;
		.slider1 {
			width:2160px;
			transform:translateX(-480px);
			.slick-slide {
				padding:25px 20px;
				opacity:.3;
				&.slick-current + .slick-slide {
					opacity:1;
					transition:opacity .3s;
				}
			}
			.slide-item {
				overflow:hidden;
				border-radius: 30px;
				box-shadow: 0 0 25px 0 rgba(0,0,0,0.2);
			}
			.slick-dots {
				padding-top:5px;
			}
		}
	}

	.cont10 {
		padding-bottom:30px;
		.teacher-wrap {
			width:1100px;
			margin:0 auto;
			.teacher-list-box .col {
				
				
				&.t-pyb {
					margin-right:0;
				}
				// &:last-child {
				// 	display:none !important;
				// 	margin-right:0;
				// 	margin-left:10px;
				// }
			}
		}

		.slider2 {
			margin-top:30px;
			.slick-dots {
				margin-top:28px;
			}
		}
	}

	.cont11 {
		padding-bottom:30px;
		.btn {
			position:absolute;
			top:965px;
			right:32px;
			animation:bounce 2s infinite both;
		}
		.slider2 {
			.slick-dots {
				margin-top:30px;
			}
		}
		.book-img{
			.text{
				font-family: $font-noto;
				font-size: 52px;
				position: absolute;
				top: 105px;
				left: 48px;
				font-weight: 900;
				color: #202020;
			}
		}
	}

	.cont12 {
		padding-bottom:30px;
		.slider2 {
            margin-top:60px;
			.slick-dots {
				margin-top:28px;
			}
		}
        
		
	}

	.cont13 {
		padding-bottom:130px;
		.slider2 {
			.slick-dots {
				margin-top:30px;
			}
		}
	}

	.cont14{
        padding-bottom: 90px;
        .btn{
            position:absolute;
            left:650px;
            top:460px;
            &:before {
                content: '';
                position: absolute;
                right: -13px;
                bottom: -20px;
                width: 57px;
                height: 65px;
                background: url(https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png) no-repeat 50% 50%;
                background-size: 100% auto;
                -webkit-animation: 0.3s slideupY ease-in-out infinite alternate;
                animation: 0.3s slideupY ease-in-out infinite alternate;
            }
        }
		.slider1{
			
			width: 1150px;
			overflow:hidden;
			margin:50px auto 0 auto;
			.slick-slide{
				.slide-item{
					margin:0 5px;
					img{
						width:100%;
					}
				}
			}
		}
    }

	.cont16 {
		background-color:#ffc20e;
	}

    .fiexd_floating{
        position:fixed;
        top: 595px;
        right:0;
        z-index:100;
    }
}


@import "module/popup";
#Popup01{
    background-color: rgba(0, 0, 0, 0.5);
    width: 1100px;
    font-size: 16px;
    .popup-body{
        padding: 5%;
        color: #fff;
        text-align: left;
    }
}

#videoPop{
	width: 94%;
    z-index: 10001;
    max-width: 1000px;
    margin: 0 auto;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    .video-cont {
		position: relative;
		padding-bottom: 56.65%;
		height: 0;
	}
    iframe, video{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-o-object-fit: inherit;
		object-fit: inherit;
    }
    .btn-close{
        position: absolute;
		top: -41px !important;
        right: -5px !important;
        font-size:0;
		@include close(40px, 40px, 1px, #fff);
        &:before, &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 20px;
            height: 1px;
            margin-left: -10px;
            background-color: #fff;
        }
        &:before{
            -webkit-transform: rotate(
                45deg
                );
                    transform: rotate(
                45deg
                );
        }
        &:after{
            -webkit-transform: rotate(
                315deg
                );
                    transform: rotate(
                315deg
                );
        }
    }
}

