// Core variables and mixins
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/extend";

.promotion {
    position: relative;
    * {
        line-height: normal;
        font-family: $font-noto;
        letter-spacing: -1px;
    }
    p { margin: 0; }
    .container {
        position: relative;
        background-repeat: no-repeat;
        background-position: center top;
    }
    .wrap {
        position: relative;
        width: 1100px;
        margin: 0 auto;
        text-align: center;
    }
	#flotingMenu{
		width: 130px;
		position: fixed;
		right: 100px; 
		top: 290px; 
		z-index: 150;
		.cs-center{
			margin-bottom: 15px; 
			border-radius:10px; 
			overflow: hidden; 
			background: #fff; 
			box-shadow:0 5px 5px rgba(0,0,0,0.1);
			> span{
				display: block; width: 100%; height: 46px; background-size:cover;background: url('https://img.eduwill.net/Img2/Common/promotion/200623/pc/floting_call.png') 0 0 no-repeat; font-size: 0; text-indent: -9999px;
			}
			> strong{
				display: block; padding: 15px 0px 13px; text-align: center; font-size: 18px; font-family: 'Heebo'; font-weight: 800; color: #000; line-height: 1.2; letter-spacing: -1px; word-break:break-all;
			}
			ul{
				margin-bottom: 11px; padding: 0; 
				li{
					margin-bottom: 3px;
					strong{ display: inline-block; color: #666; font-size: 11px; font-weight: 400; background: #e1e1e5; border-radius:3px; padding: 2px 5px 4px 4px; margin-right: 4px;}
					span{color: #6e6e6e; font-size: 13px; letter-spacing: .1px; }
				}
			}
		}
		.floting-btn{
			margin-bottom:15px; border-radius:10px;overflow: hidden; background: #fff; box-shadow:0 5px 5px rgba(0,0,0,0.1);
			> span{display: block; width: 100%; height: 40px; background-size:cover;background: url('https://img.eduwill.net/Img2/Common/promotion/200623/pc/floting_menu.png') 0 0 repeat; font-size: 0; text-indent: -9999px;}
			.quick{
				li{ 
					background-position: 50% 20px; background-repeat: no-repeat; background-size: 28px 29px;
					&:nth-of-type(1){background-image: url('https://img.eduwill.net/Img2/Common/promotion/200623/pc/icon-01.png');}
					&:nth-of-type(2){background-image: url('https://img.eduwill.net/Img2/Common/promotion/200623/pc/icon-02.png');}
					&:nth-of-type(3){background-image: url('https://img.eduwill.net/Img2/Common/promotion/200623/pc/icon-03.png');}
					&:nth-of-type(4){background-image: url('https://img.eduwill.net/Img2/Common/promotion/200623/pc/icon-04.png');}
					a{width: 105px; display: block; padding-top: 55px; padding-bottom: 10px; margin: auto; border-bottom: 1px dotted #e5e5e5; font-size: 15px; font-weight: 600; color: #000; text-align: center;}
				}
			}
		}
	}
    .section {
		&-topbanner{
			background: #ffdb00; 
		}
		&-title {
			@include bg($color: #130c76, $url: '#{$img-path}/pc/title_bg.jpg', $size: cover);
			.benefit{
				position: absolute;
				left: 0;
				bottom: -120px;
				z-index: 20;
			}
		}
		&-content01 {
			background: #fffae6;
		}
		&-content02 {
			@include bg($color: #130c76, $url: '#{$img-path}/pc/content02_bg.jpg', $size: cover);
		}
		&-content05 {
			@include bg($color: #130c76, $url: '#{$img-path}/pc/content05_bg.jpg', $size: cover);
		}
		&-content06 {
			@include bg($color: #130c76, $url: '#{$img-path}/pc/content06_bg.jpg', $size: cover);
			.action{
				width: 100%;
				margin: 0 auto;
				position: absolute;
				top: 377px;
				left: 0;
				a{ 
					margin-right: 9px;
					@include pointer(60%, 0, 57px, 65px, 12, bounce);
				}
			}
		}
		&-bottom-banner{
			background: #ffd000; 
		}
    }
}
