@{
    String platform = ("W".Equals(ViewBag.PlatformCd))? "pc": "mobile";
}

@*
@if ("W".Equals(ViewBag.PlatformCd)){}
*@

<div class="promotion">
    @if ("W".Equals(ViewBag.PlatformCd)){
        <div class="fix-right">
            <a href="#sectorApply" class="page-move"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/@platform/right_1.png" alt=""></a>
        </div>
    }

    <div class="sector-title">
        <div class="wrap-full">
            <p class="teacher"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/@platform/title_teacher.png" alt=""></p>
            <p class="book"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/@platform/title_book.png" alt=""></p>

            <p class="title-1"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/@platform/title_1.png" alt=""></p>
            <p class="title-2"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/@platform/title_2.png" alt=""></p>
            <p class="title-3"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/@platform/title_3.png" alt=""></p>
            <p class="title-4"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/@platform/title_4.png" alt=""></p>
            <p class="text"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/@platform/text.png" alt=""></p>

            <p class="light-1"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/pc/light_1.png" alt=""></p>
            <p class="light-2"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/pc/light_2.png" alt=""></p>

            <p class="action-apply">
                <a href="#sectorApply" class="page-move icon-pointer">
                    <img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/@platform/btn_title.png" alt="">
                </a>
            </p>
            <p class="period"><span>기간: ~04/02(토)까지</span></p>
        </div>
    </div>

    <div class="sector-intro">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/@platform/intro.jpg" alt="">
        </div>
    </div>

    <div class="sector-book">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/@platform/book_title.jpg" alt="">

            <div class="book-list-nav">
                <div class="list-nav">
                    <p class="title">핵심쟁점</p>
                    <p class="text">매년 반복되는 주요 행정법 쟁점 +<br>관련문제까지 모두 담은 엑기스노트</p>
                </div>
                <div class="list-nav">
                    <p class="title">출제경향</p>
                    <p class="text">파트별 최근 6개년 분석을 통해<br>빈틈없이 제작된 요약노트</p>
                </div>
                <div class="list-nav">
                    <p class="title">최신판례</p>
                    <p class="text">주요 개념과 연관된<br>최신판례를 개념별로 묶은 판례노트</p>
                </div>
            </div>
            <div class="book-list">
                <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/@platform/book_1.jpg" alt=""></div>
                <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/@platform/book_2.jpg" alt=""></div>
                <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/@platform/book_3.jpg" alt=""></div>
            </div>
        </div>
    </div>

    <div class="sector-teacher">
        <div class="wrap-full">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/@platform/teacher.png" alt="">
            <div class="action-home">
                <a href="//seven.eduwill.net/Prof/AC39/AC">
                    <img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/pc/btn_home.png" alt="">
                </a>
            </div>
        </div>
    </div>

    <div class="sector-review">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/@platform/review_title.png" alt="">

            <div class="review-list">
                <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/pc/review_1.png" alt=""></div>
                <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/pc/review_2.png" alt=""></div>
                <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/pc/review_3.png" alt=""></div>
                <div><img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/pc/review_4.png" alt=""></div>
            </div>
        </div>
    </div>

    <div id="sectorApply" class="sector-apply">
        <div class="wrap-full">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/@platform/apply.png" alt="" class="img-apply">
            <div class="apply-box">
                <ul class="apply-list">
                    <li>참여대상  : 에듀윌 회원이라면 누구나</li>
                    <li>참여방법 : 나의 강의실에서 다운로드</li>
                </ul>
            </div>

            <div class="period-box">
                <span>선착순 마감</span>
                <p>04/02(토)까지만<br>무료배포</p>
            </div>

            <div class="action">
                <button type="button" class="icon-pointer">
                    <img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/@platform/btn_apply.png" alt="">
                </button>
            </div>
        </div>
    </div>

    <div class="sector-notice">
        <div class="wrap">
            <div class="notice-box">
                <p class="notice-title">이벤트 유의사항</p>
                <ul class="notice-list">
                    <li>수강기간: 수강신청일로 7일</li>
                    <li>수강방법: 나의강의실에서 확인 가능</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="sector-event">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220321/@platform/event.jpg" alt="">
            <div class="list-box">
                <div class="list-form">
                    <div class="form-item">
                        <div class="item-desc">
                            <input type="text" id="" class="text-box" name="" placeholder="후기를 입력해주세요." />
                        </div>
                        <div class="item-action">
                            <button type="button" class="btn-register"><span>후기등록하기</span></button>
                        </div>
                    </div>
                </div>
                
                <div class="list-table">
                    <div class="list-item">
                        <div class="item-user">daw******</div>
                        <div class="item-desc">말줄임 필요한가요?</div>
                    </div>
                    <div class="list-item">
                        <div class="item-user">daw******</div>
                        <div class="item-desc">말줄임 필요한가요? 말줄임 필요한가요? 말줄임 필요한가요? 말줄임 필요한가요? 말줄임 필요한가요? 말줄임 필요한가요? 말줄임 필요한가요? 말줄임 필요한가요? 말줄임 필요한가요?</div>
                    </div>
                    <div class="list-item list-nodata">
                        <div class="item-desc">
                            등록된 후기가 없습니다.
                        </div>
                    </div>
                </div>

                @if ("W".Equals(ViewBag.PlatformCd)){
                    <div class="list-paging">
                        <a href="javascript:;" class="control control-prev"><span class="sr-only">이전 페이지</span></a>
                        <a href="javascript:;" class="active"><span>1</span></a>
                        <a href="javascript:;"><span>2</span></a>
                        <a href="javascript:;"><span>3</span></a>
                        <a href="javascript:;"><span>4</span></a>
                        <a href="javascript:;"><span>5</span></a>
                        <a href="javascript:;"><span>6</span></a>
                        <a href="javascript:;"><span>7</span></a>
                        <a href="javascript:;"><span>8</span></a>
                        <a href="javascript:;"><span>9</span></a>
                        <a href="javascript:;"><span>10</span></a>
                        <a href="javascript:;" class="control control-next"><span class="sr-only">다음 페이지</span></a>
                    </div>
                } else {
                    <div class="list-action">
                        <a href="javascript:;"><span>더보기</span></a>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="sector-notice">
        <div class="wrap">
            <div class="notice-box">
                <p class="notice-title">※ 이벤트 유의사항</p>
                <ul class="notice-list">
                    <li>이벤트 진행기간 : ~04/02(토)</li>
                    <li>당첨자 선정 : 04/18(월)</li>
                    <li>후기 이벤트는 현재 페이지에서 작성해야 참여로 인정됩니다.</li>
                    <li>경품은 회원정보에 등록된 핸드폰 번호로 발송됩니다. 회원정보 오류로 인한 오발송 시 재발송 되지 않으니, 회원정보를 꼭! 확인해 주세요.</li>
                    <li>경품은 SMS 수신 동의가 되어 있는 분에게만 발송됩니다.</li>
                    <li>경품은 내부 사정에 따라 사전 고지 없이 동등한 가치를 지닌 다른 상품으로 대체될 수 있습니다.</li>
                    <li>무분별한 욕설, 비방 등 부정한 내용을 작성한 경우 관리자에 의해 삭제될 수 있습니다.</li>
                    <li>제출한 후기는 추후 마케팅에 사용될 수 있습니다</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
    var str = 'event.eduwill.net';
    var checkUrl = url.indexOf(str);

    $(function(){
        frontInit();
    });

    function frontInit(){
        pageMove('.page-move');
        slideEvent();
        loadEvent();
    }

    function loadEvent(){
        $(window).on('load', function(){
            var _top = (isMobile) ? $('.sector-title').offset().top - 50 : $('.sector-title').offset().top;

            $('html, body').animate({
                scrollTop: _top
            }, 500);

            setTimeout(function(){
                titleEvent();
            }, 550);
        });
    }

    function titleEvent(){
        var promotionTitle = $('.sector-title');
        TweenMax.fromTo( promotionTitle.find('.teacher'), .8, { opacity: 0, x: 100 }, { opacity: 1, x: 0, delay: .2, ease: Power2.easeOut, onComplete: function(){
            TweenMax.fromTo( promotionTitle.find('.book'), .6, { opacity: 0, scaleX: 0 }, { opacity: 1, scaleX: 1, delay: .1, ease: Power2.easeOut });
            TweenMax.fromTo( promotionTitle.find('.title-1'), .8, { opacity: 0, x: -50 }, { opacity: 1, x: 0, delay: .2, ease: Power4.easeOut });
            TweenMax.fromTo( promotionTitle.find('.title-2'), .8, { opacity: 0, x: -50 }, { opacity: 1, x: 0, delay: .4, ease: Power4.easeOut });
            TweenMax.fromTo( promotionTitle.find('.title-3'), .8, { opacity: 0, x: -50 }, { opacity: 1, x: 0, delay: .6, ease: Power4.easeOut });
            TweenMax.fromTo( promotionTitle.find('.title-4'), .8, { opacity: 0, x: -50 }, { opacity: 1, x: 0, delay: .8, ease: Power4.easeOut, onComplete: function(){
                TweenMax.fromTo( promotionTitle.find('.light-1'), .8, { opacity: 0, scale: 1.1 }, { opacity: 1, scale: 1, delay: .3, ease: Power4.easeOut, onComplete: function(){
                    TweenMax.fromTo( $('.light-1'), 2.0, { scale: 1 }, { scale: 1.2, delay: .1, repeat: -1, yoyo: true, ease: Sine.easeOut });
                }});
                TweenMax.fromTo( promotionTitle.find('.light-2'), .8, { opacity: 0, scale: 1.1 }, { opacity: 1, scale: 1, delay: .5, ease: Power4.easeOut, onComplete: function(){
                    TweenMax.fromTo( $('.light-2'), 3.0, { scale: 1 }, { scale: .8, delay: .2, repeat: -1, yoyo: true, ease: Sine.easeOut });
                }});

                TweenMax.fromTo( promotionTitle.find('.text'), .8, { opacity: 0, scale: 1.1 }, { opacity: 1, scale: 1, delay: .1, ease: Back.easeOut.config(1) });
                TweenMax.fromTo( promotionTitle.find('.period'), .5, { opacity: 0, y: 50, }, { opacity: 1, y: 0, delay: .2, ease: Power2.easeOut });
                TweenMax.fromTo( promotionTitle.find('.action-apply'), .5, { opacity: 0, y: 20, }, { opacity: 1, y: 0, delay: .3, ease: Power2.easeOut });
                TweenMax.fromTo( $('.fix-right'), .5, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: 1.0, ease: Sine.easeOut });
            }});
        }});
    }

    function slideEvent(){
        var _vertical = true;

        if( isMobile ) {
            _vertical = false;

            $('.review-list').slick({
                autoplay: true,
                autoplaySpeed: 3000,
                speed: 1000,
                infinite: true,
                variableWidth: true,
                centerMode: true,
                arrows: false,
                dots: true,
                pauseOnFocus: true,
                pauseOnHover: true
            });
        }

        $('.book-list').slick({
            autoplay: true,
            autoplaySpeed: 5000,
            fade: true,
            arrows: false,
            asNavFor: '.book-list-nav'
        });
        $('.book-list-nav').slick({
            autoplay: true,
            slidesToShow: 3,
            asNavFor: '.book-list',
            dots: true,
            centerMode: true,
            centerPadding: '0',
            focusOnSelect: true,
            vertical: _vertical
        });
    }
</script>
