@charset "utf-8";

// Core variables and mixins
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/extend";

@import "module/popup";

.product {
	&-eco {
		* {
			line-height: normal;
			font-family: $font-roboto;
			letter-spacing: -1px;
		}
		.container {
			position: relative;
		}
		.wrap {
			position: relative;
			width: 1100px;
			margin: 0 auto;
			text-align: center;
			&-full {
				width: 100%;
			}
		}
		.holder { position: relative; }
		p {
			margin: 0;
			text-align: left;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.5; 
			color: rgba(32,32,32, .6);
			&.notice { margin-top: 10px; font-size: 16px;}
		}
		.btn-fly {
			position: absolute;
			display: block;
			z-index: 1;
		}
		.slider-contents {
			position: relative;
			width: 1000px;
			margin: 0 auto;
			.slick-arrow {
				position: absolute;
				top: 50%;
				z-index: 1;
				width: 40px;
				height: 40px;
				margin-top: -20px;
				font-size: 0;
				border: none;
				background: none;
				outline: none;
				cursor: pointer;
				&.slick-prev {
					left: 20px;
					&:before { right: 0; @include arrow(left, 20px, 20px, 1px, #666); }
				}
				&.slick-next {
					right: 20px;
					&:before { left: 0; @include arrow(right, 20px, 20px, 1px, #666); }
				}
			}
			.slick-slide {
				outline: none;
			}
		}
		.wrap-tab {
			.tab-list {
				@extend .grid;
				li { @extend .col; }
				a { display: block; }
			}
			.tab-contents {
				.item {
					position: relative;
					display: none;
					&.in { display: block; }
				}
			}
		}
		.wing {
			position: fixed;
			top: 400px;
			left: 50%;
			z-index: 10;
			margin-left: 580px;
			& > div {
				margin-top: 20px;
				&:first-child { margin-top: 0; }
			}
			.dday-title {
				position: absolute;
				top: 20px;
				left: 16px;
				text-align: left;
				font-size: 20px;
				font-weight: 700;
				color: #fff;
				line-height: 1.5;
				letter-spacing: -2px;
				strong { color: #ffe000;}
			}
			.day-box {
				position: absolute;
				top: 125px;
				left: 18px;
				margin: 0;
				z-index: 1;
				@extend %clearfix;
				p {
					float: left;
					font-size: 26px;
					color: #001371;
					font-weight: 700;
					letter-spacing: 3px;
					line-height: 1.2;
					em {
						display: inline-block;
						margin: 0 3px;
					}
					&.date {
						width: 100%;
					}
				}
			}
		}
		.ico-hand{
			position:absolute;
			top: 50%;
			right:-20px;
			animation: 0.5s slideUpY ease-in-out infinite alternate;
			img{max-width:100%;}
			@keyframes slideUpY {
				0% {
					-webkit-transform: translate(0,10px);
					transform: translate(0, 10px);
				}
				100% {
					-webkit-transform: translate(-10px, 0);
					transform: translate(-10px, 0);
				}
			}
		}
	}

	&-top {
		background-color: #22223a;
	}

	&-title {
		z-index: 1;
		background:#fbaf00 url('#{$img-path}/pc/bg_title.jpg') 50% 0 no-repeat;
		background-size: cover;
	}

	&-price-info {
		padding-bottom: 92px;
		background: #f9f6f4;
		.price-table {
			position: relative;
			.flag {
				position: absolute;
				top: -47px;
				left: 317px;
				z-index: 1;
				span {
					display: block;
					position: absolute;
					top: 4px;
					left: 84px;
					line-height: 53px;
					color: #ffe000;
					font-size: 24px;
					font-weight: 400;
					letter-spacing: -1px;
				}
			}
		}
		.price {
			margin: 68px 0 39px;
		}
		.action {
			position: relative;
			width: 763px;
			margin: 0 auto;
			a {
				display: block; width: 100%; height: 100%;
				.ico-hand {
					top: 70%;
					right: 5%;
				}
			}
		}

		&.type2 {
			border-top: 119px solid #f9f6f4;
			background: #fff;
		}
	}

	&-winner {
		padding-bottom: 120px;
		.winner-contents {
			position: relative;
			padding:  0 100px;
			margin: 50px 0 100px;
			background: url('#{$img-path}/pc/bg_winner.jpg') 50% 0 no-repeat;
			p {
				font-family: $font-noto;
				text-align: center;
				line-height: 2;
				font-size: 17px;
				color: #747474;
			}
		}

		.winner-interview {
			margin-bottom: 60px;
			.col {
				width: 357px;
				margin-left: 12px;
				a {
					@include boxShadow(0 15px 10px 0 rgba(0, 0, 0, .3));
				}
				&:first-child { margin-left: 0;}
				.caption {
					margin-top: 35px;
					text-align: left;
					color: #2b2b2b;
					font-size: 20px;
					font-weight: 400;
					line-height: 1.5;
				}
			}
		}

		.grounds-text {
			margin: 50px 0 70px;
			text-align: right;
			font-size: 15px;
			line-height: 1.5;
			color: rgba(34,34,34, .4);
		}

		.btn-box {
			a { position: relative; display: inline-block;}
			p {
				margin: 15px 0 0;
				padding: 0;
				text-align: center;
				font-weight: 400;
				font-size: 13px;
				color: #ccc;
			}
		}
	}

	&-reason {
		&.reason-1,
		&.reason-3 { background: #f9f6f4;}
	}
	
}