@{
    string platform = (string)ViewBag.platformCd == "W" ? "pc" : "mobile";
	String link1 = ("W".Equals(ViewBag.PlatformCd)) ? "//nrgso.eduwill.net/ProductAuto/Index?masterSeq=Mjc5NDg=" : "//brand.eduwill.net/academy/sugang/view.will?mSeq=36351&progress=W&code=nrgso";
}

<div id="contents" class="promotion">
    @if ("W".Equals(ViewBag.PlatformCd)){
        <div class="wing-banner">
            <a href="#sectorApply" class="page-move"><img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/pc/wing.png" alt=""></a>
        </div>
    }

    <div class="sector-title">
        <div class="wrap-full">
            <p class="laurel"><img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/laurel.png" alt=""></p>
            <p class="flag"><img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/flag.png" alt=""></p>
            <p class="title"><img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/title.png" alt=""></p>

            @if ("W".Equals(ViewBag.PlatformCd)){
                <p class="lamp lamp-2"><img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/lamp_left.png" alt=""></p>
                <p class="lamp lamp-3"><img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/lamp_right.png" alt=""></p>
                <p class="light light-2"><img src="//img.eduwill.net/eduwill/img/2021/_104/event/211209/@platform/light_left.png" alt=""></p>
                <p class="light light-3"><img src="//img.eduwill.net/eduwill/img/2021/_104/event/211209/@platform/light_right.png" alt=""></p>
            }

            <p class="lamp lamp-1"><img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/lamp_left.png" alt=""></p>
            <p class="lamp lamp-4"><img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/lamp_right.png" alt=""></p>
            <p class="light light-1"><img src="//img.eduwill.net/eduwill/img/2021/_104/event/211209/@platform/light_left.png" alt=""></p>
            <p class="light light-4"><img src="//img.eduwill.net/eduwill/img/2021/_104/event/211209/@platform/light_right.png" alt=""></p>
        </div>
    </div>

    <div class="sector-intro">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/intro.png" alt="">
        </div>
    </div>

    <div class="sector-text">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/text.png" alt="">
        </div>
    </div>

    <div class="sector-bundle">
        <div class="sector-info">
            <div class="wrap">
                <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/info_1.jpg" alt="">
            </div>
        </div>
		<div class="sector-solution solution-1">
            <div class="wrap">
                <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/solution_1.png" alt="">
            </div>
        </div>
        <div class="sector-point">
            <div class="wrap">
                <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/point_1.png" alt="">
            </div>
        </div>
    </div>

    <div class="sector-bundle">
        <div class="sector-info">
            <div class="wrap">
                <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/info_2.jpg" alt="">
            </div>
        </div>
        <div class="sector-solution solution-2">
            <div class="wrap">
                <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/solution_2.png" alt="">
            </div>
        </div>
		<div class="sector-point">
            <div class="wrap">
                <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/point_2.png" alt="">
            </div>
        </div>
    </div>

    <div class="sector-bundle">
        <div class="sector-info">
            <div class="wrap">
                <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/info_3.jpg" alt="">
            </div>
        </div>
        <div class="sector-solution">
            <div class="wrap">
                <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/solution_3.png" alt="">
            </div>
        </div>
		<div class="sector-point">
            <div class="wrap">
                <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/point_3.png" alt="">
            </div>
        </div>
    </div>

    <div class="sector-bundle">
        <div class="sector-info info-4">
            <div class="wrap">
                <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/info_4.jpg" alt="">
                <div class="action">
                    <a href="//pds.eduwill.net/board/board133/2023_%EC%86%8C%EB%B0%A9%EA%B3%B5%EB%AC%B4%EC%9B%90%EC%9E%84%EC%9A%A9%EB%A0%B9_%EC%8B%9C%ED%96%89%EA%B7%9C%EC%B9%99(%EC%9E%90%EA%B2%A9%EC%A6%9D_%EA%B0%80%EC%A0%90%EB%B9%84%EC%9C%A8)20211124191521.pdf" target="_blank">
                        <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/info_btn.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="sector-solution">
            <div class="wrap">
                <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/solution_4.png" alt="">
            </div>
        </div>
		<div class="sector-point">
            <div class="wrap">
                <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/point_4.png" alt="">
            </div>
        </div>
    </div>

    <div class="sector-bundle">
        <div class="sector-info">
            <div class="wrap">
                <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/info_5.jpg" alt="">
            </div>
        </div>
        <div class="sector-solution">
            <div class="wrap">
                <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/solution_5.png" alt="">
            </div>
        </div>
		<div id="sectorApply" class="sector-point">
            <div class="wrap">
                <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/point_5.png" alt="">
            </div>
        </div>
    </div>

	<div class="sector-apply">
        <div class="wrap">
			<div class="action">
				<a href="//nrgso.eduwill.net/Promotion/Consult" target="_blank" >
					<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/apply.jpg" alt="">
				</a>
			</div>
		</div>
	</div>

    <div class="sector-reason">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/reason.png" alt="">
        </div>
    </div>

	<div class="sector-detail">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/detail.jpg" alt="">
			<div class="action">
				<a href="@link1" target="_blank" >
					<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220228/@platform/btn_detail.png" alt="">
				</a>
			</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
    var str = 'event.eduwill.net';
    var checkUrl = url.indexOf(str);

    $(function(){
        frontInit();
    });

    function frontInit(){
        pageMove('.page-move');
        titleEvent();
    }

    function titleEvent(){
        var promotionTitle = $('.sector-title');

        TweenMax.fromTo( promotionTitle.find('.laurel'), .6, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: .2, ease: Power4.eaesOut });
        TweenMax.fromTo( promotionTitle.find('.flag'), .6, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: .4, ease: Power4.eaesOut });
        TweenMax.fromTo( promotionTitle.find('.title'), .6, { opacity: 0, scale: 0 }, { opacity: 1, scale: 1, delay: .6, ease: Back.easeOut.config(1) });

        TweenMax.fromTo( $('.wing-banner'), .8, { opacity: 0, y: 100 }, { opacity: 1, y: 0, delay: 1.0, ease: Power4.eaesOut });

        TweenMax.fromTo( promotionTitle.find('.light.light-1'), 2.5, { rotation: -5 }, { rotation: 5, repeat: -1, yoyo: true, transformOrigin: 'left top', ease: Power4.eaesOut });
        if( !isMobile ){
            TweenMax.fromTo( promotionTitle.find('.light.light-2'), 2.5, { rotation: 5 }, { rotation: -5, repeat: -1, yoyo: true, transformOrigin: 'left top', ease: Power4.eaesOut });
            TweenMax.fromTo( promotionTitle.find('.light.light-3'), 2.5, { rotation: 5 }, { rotation: -5, repeat: -1, yoyo: true, transformOrigin: 'right top', ease: Power4.eaesOut });
        }
        TweenMax.fromTo( promotionTitle.find('.light.light-4'), 2.5, { rotation: -5 }, { rotation: 5, repeat: -1, yoyo: true, transformOrigin: 'right top', ease: Power4.eaesOut });
    }
</script>
