@Html.Partial("~/Views/Common/commCousult.cshtml")
<script src="~/js/common/extension.js"></script>

<script type="text/javascript">

    $(function () {

        eventBind();

    });

    function eventBind() {
        $("[name=consultTime]").prepend("<option value='' selected='selected'>상담시간</option>");
        initConsult();
    }

    function popopen(type) {

        if (!"@(UserSession.UserID)") {
	        GoLogin();
	        return;
        }

        $("#hid_popType").val(type);
        commConsult.openConsultPopupHandler();
    }

    function initConsult() {
        $("[name=userHp]").val("@ViewBag.userHp");
        $("[name=userNm]").val("@ViewBag.userNm");
    }

    $("[name=reqConsult]").unbind().bind("click", function () {
        //유효성 체크
        if (!validation()) {
            return;
        }

        var strContents = "";
        var $form = $("#layerConsult");

        if ($("#hid_popType").val() == "1") {
            strContents = "[소방] 학생/취준생 합격전략 시나리오:{0}".format($form.find("[name=consultContent]").val());
        }
        else if ($("#hid_popType").val() == "2") {
            strContents = "[소방] 직장인 합격전략 시나리오:{0}".format($form.find("[name=consultContent]").val());
        }
        else {
            alert("오류.");
            return;
        }
        
        var param = {
            userNm: $form.find("[name=userNm]").val(),
            userHp: $form.find("[name=userHp]").val(),
            c_date: $form.find("[name=consultDate]").val(),
            c_time: $form.find("[name=consultTime]").val(),
            contents: strContents,
            access: location.host.indexOf("mevent") > -1 ? "M" : "W"
        };

        //전과정(not 부동산) 온라인 default
        param.consultingType = "online";

        $.ajax({
            type: "POST"
            , url: "/Requset/@(ViewBag.progressCd)/AjaxReqConsult"
            , dataType: "json"
            , data: JSON.stringify(param)
            , contentType: "application/json"
            , success: function (data) {
                result = data.ei.Result;
                contactResult = data.contactResult;

                if (result == "OK" && contactResult > 0) {
                    epminsert();
                }
                else if (result == "EXIST-USER") {
                    alert("이미 상담을 신청하셨습니다");
                }
                else if (result == "BEFORE-EVENT") {
                    alert("상담 신청 시작 전 입니다");
                }
                else if (result == "END-EVENT") {
                    alert("상담 신청이 마감되었습니다\n성원에 감사드립니다");
                }
                else {
                    alert("신청 중에 오류가 발생했습니다\n다시 시도해 주세요 " + result);
                }
            }
            , error: function (data) {
                alert(data.responseText);
            }
        });

    });

    function validation() {
        var $form = $("#layerConsult");
        var returnVal = true;

        if (!$form.find("[name=userNm]").val()) {
            alert("이름을 입력해 주세요.");
            $form.find("[name=userNm]").focus();
            returnVal = false;
        }
        else if ($form.find("[name=userHp]").val().length < 10) {
            alert('연락처는 10자리 이상 입력해 주세요.');
            $form.find("[name=userHp]").focus();
            returnVal = false;
        }
        else if (!$form.find("[name=consultDate]").val()) {
            alert("연락가능한 일자를 선택해 주세요.");
            $form.find("[name=consultDate]").focus();
            returnVal = false;
        }
        else if (!$form.find("[name=consultTime]").val()) {
            alert("연락가능한 시간을 선택해 주세요.");
            $form.find("[name=consultTime]").focus();
            returnVal = false;
        }
        else if ($form.find("[name=consultContent]").val().length < 10) {
            alert("상담내용을 10자 이상 입력해 주세요.");
            $form.find("[name=consultContent]").focus();
            returnVal = false;
        }
        else if (!$form.find("[name=consultUserAgree]").prop("checked")) {
            alert("개인정보 제공에 동의하셔야지만 상담예약이 가능합니다.");
            returnVal = false;
        }

        return returnVal;
    }

    function epminsert() {

        

        var strEventIdx = 0;

        if ($("#hid_popType").val() == "1") {
            strEventIdx = 10403;
        }
        else if ($("#hid_popType").val() == "2") {
            strEventIdx = 10404;
        }
        else {
            alert("오류.");
            return;
        }

        var $form = $("#layerConsult");
        var param = {
            eventIdx: strEventIdx,
            userNm: $form.find("[name=userNm]").val(),
            userHp: $form.find("[name=userHp]").val(),
            content: "출처:[소방] 합격전략 시나리오_상담내용:{0} 상담일자 :{1} 상담시간:{2}".format($form.find("[name=consultContent]").val(), $form.find("[name=consultDate]").val(), $form.find("[name=consultTime]").val()),
        };

        // 통신
        $.ajax({
            type: "POST"
            , url: "/Requset/@(ViewBag.progressCd)/AjaxGiveBenefit"
            , dataType: "json"
            , data: JSON.stringify(param)
            , contentType: "application/json"
            , success: function (data) {
                alert("상담 신청이 완료되었습니다");
                window.location.reload();
            }
            , error: function (data) {
                console.dir(data.responseText);
                alert(data.responseText);
            }
        });
    }

</script>