@charset "utf-8";
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/extend";
@import "module/popup";
@import "module/motion";


.product {
	&-eco {
		overflow-x: hidden;
		* {
			line-height: normal;
			font-family: $font-roboto;
			letter-spacing: -1px;
		}
		.container {
			position: relative;
			.item {
				position: relative;
			}
		}

		.eco-puri {
			display: inline-block;
		}

		.wrap {
			position: relative;
			width: 100%;
			max-width: 720px;
			margin: 0 auto;
			text-align: center;
			&-full {
				width: 100%;
			}
		}
		
		.only-pc { display: none !important;}
		.only-mobile { display: block;}

		p {
			margin: 0;
			text-align: left;
			color: #666;
			@include vw(font-size, 28px);
			&.notice { @include vw(margin-top, 10px); }
			&.fly { position: absolute; }
			@include breakpoint(maxMobileFold) {
				font-size: 16px;
			}
		}

		.grounds-text {
			color: rgba(0,0,0, .4);
			@include vw(letter-spacing, -1px);
			@include vw(font-size, 22px);
			@include breakpoint(maxMobileFold) {
				font-size: 14px;
			}
		}
		.asterisk {
			display: inline-block;
			font-weight: 300;
			color: rgba(255,255,255, .6);
			@include vw(font-size, 24px);
			@include breakpoint(maxMobileFold) {
				font-size: 16px;
			}
		}
		.point-1 { color: #ff3c3c;}
		.highlight {
			position:relative;
			position: relative;
			font-weight: 900;
			line-height: 1;
			z-index: 1;
			@include vw(padding, 0 5px);
			&:after{
				content:'';
				position:absolute;
				left:0;
				bottom: 0;
				display:inline-block;
				background-color:#f9c400;
				@include vw(height, 18px);
				width:100%;
				z-index:-1;
			}
		}

		.slider-contents {
			position: relative;
			width: percent(616);
			margin: 0 auto;
			/*.slick-arrow {
				position: absolute;
				top: 50%;
				z-index: 1;
				width: 40px;
				height: 40px;
				margin-top: -20px;
				font-size: 0;
				border: none;
				background: none;
				outline: none;
				cursor: pointer;
				&.slick-prev {
					left: 20px;
					&:before { right: 0; @include arrow(left, 20px, 20px, 1px, #666); }
				}
				&.slick-next {
					right: 20px;
					&:before { left: 0; @include arrow(right, 20px, 20px, 1px, #666); }
				}
			}*/
		}

		
		.slick-dots {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			font-size: 0;
			text-align: right;
			padding-right: percent(50);
			li {
				display: inline-block;
				@include vw(margin, 0 6px);
				&.slick-active button {
					@include vw(width, 92px);
					@include vw(border-radius, 50px);
					background-color: #ffbe00;
				}
			}
			button {
				display: block;
				@include vw(width, 32px);
				@include vw(height, 30px);
				color: transparent;
				border: none;
				border-radius: 50%;
				background-color: #bbb;
				outline: none;
				cursor: pointer;
			}
		}

		.slick-arrow {
			position: absolute;
			top: 50%;
			z-index: 10;
			content: '';
			padding: 0;
			margin:0;
			border: none;
			outline: none;
			text-indent: -9999px;
			display: block; 
			cursor:pointer;
			@include vw(width, 50px);
			@include vw(height, 50px);
			@include vw(margin-top, -25px);
			&.slick-prev {
				@include vw(left, -30px);
				background: url('https://img.eduwill.net/eduwill/img/2021/7/product/210430/pc/btn_prev.png') 0 0 no-repeat; background-size: cover;
			}
			&.slick-next {
				@include vw(right, -30px);
				background: url('https://img.eduwill.net/eduwill/img/2021/7/product/210430/pc/btn_next.png') 0 0 no-repeat; background-size: cover;
			}
		}

		.action {
			a {
				display: inline-block;
				border: 1px solid #858585;
				@include vw(padding, 0 35px 0 60px);
				@include vw(height, 80px);
				@include vw(border-radius, 100px);
				@include transition(all, .3s, ease-in);
				@include boxSizing(border-box);
				@include pointer(50%, 0, 57px, 65px, 12, bounce);
				span {
					display: inline-block;
					font-weight: 700;
					color: #222;
					@include vw(padding-right, 38px);
					@include vw(font-size, 30px);
					@include vw(line-height, 78px);
					@include vw(letter-spacing, -2px);
					@include bg($url: '#{$img-path}/mobile/icon_arrow.png', $position: right center, $size: 9px auto);
				}
				&:hover,
				&:active {
					background: #ffd844;
					border-color: #ffd844;
					/*@include linear-gradient(to bottom, #ffdd48 0%, #ffb320 100%);*/
				}
				@include breakpoint(maxMobileFold){
					padding: 0 35px 0 60px;
					height: 75px;
					span {
						padding-right: 38px;
						line-height: 73px;
						font-size: 28px;
						background-size: 18px auto;
					}
				}
			}

			&.type-2 {
				a {
					width: percent(450);
					background: #fff;
					border: 1px solid #e2e2e2;
					@include vw(border-radius, 100px);
					@include boxShadow(0 4px 0 0 rgba(0, 0, 0, .1));
					@include boxSizing(border-box);
					&:after {
						display: none;
					}
					span {
						@include vw(padding-right, 30px);
						@include vw(font-size, 28px);
						@include vw(letter-spacing, -1.5px);
						display: flex;
						align-items: center;
						justify-content: center;
						text-align: center;
						font-weight: 700;
						color: #222;
						background: none;
						&:after {
							@include arrow(right, 8px, 8px, 2px, #000);
							position: absolute;
							top: 50%;
							right: percent(30, 450);
							@include vw(margin-top, -6px);
							
						}
						@include breakpoint(maxMobileFold){
							display: flex;
							align-items: center;
							justify-content: center;
							&:after {
								@include arrow(right, 18px, 18px, 2px, #000);
								position: absolute;
								top: 50%;
								right: percent(30, 450);
								@include vw(margin-top, -9px);
								
							}
						}
					}
				}
			}

			&.type-3 {
				a {
					position: relative;
					width: 100%;
					padding: 0;
					border: 0;
					@include vw(border-radius, 10px);
					@include vw(height, 84px);
					@include linear-gradient(to right, #fa5a00 0, #ea1d00 100%);
					span {
						display: block;
						width: 100%;
						text-align: center;
						padding-right: 0;
						font-weight: 900;
						color: #fff;
						background: none;
						@include vw(font-size, 40px);
						@include vw(letter-spacing, -2px);
						@include vw(padding-left, 30px);
						@include vw(line-height, 84px);
						@include boxSizing(border-box);
						&:after {
							@include arrow(right, 10px, 10px, 2px, #fff);
							@include vw(right, 30px);
						}
					}
					&:hover {
						@include linear-gradient(to right, #fa5a00 0, #ea1d00 100%);
						border: 0;
					}
					@include breakpoint(maxMobileFold){
						height: 70px;
						span {
							line-height: 70px;
						}
					}
				}
			}

			&.cop,
			&.fire,
			&.post,
			&.seven {
				display: none;
			}

			&.gov {
				display: block; 
			}
		}

		
		.comm-title {
			@include vw(margin-bottom, 45px);
			@include vw(letter-spacing, -2px);
			@include vw(font-size, 50px);
			margin-left: percent(50);
			text-align: left;
			font-weight: 900;
			line-height: 1.4;
			color: #000;
		}

		.comm-sub-title {
			@include vw(padding-left, 28px);
			@include vw(letter-spacing, -2px);
			@include vw(font-size, 40px);
			margin-left: percent(50);
			position: relative;
			text-align: left;
			font-weight: 900;
			color: #000;
			line-height: 1;
			border-left: 1px solid #c1c1c1;
			.highlight {
				@include vw(padding, 0 5px);
				@include vw(font-size, 40px);
				display: inline-block;
				position: relative;
				z-index: 1;
				font-weight: 900;
				line-height: 1;
				&:before {
					content: '';
					display: inline-block;
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					@include vw(height, 15px);
					background: #f9c400;
					z-index: -1;
				}
			}
			em {
				position: relative;
				color: #222;
				vertical-align: bottom;
				@include vw(top, 5px);
				@include vw(font-size, 22px);
			}
			.sub-title {
				@include vw(margin-top,16px);
				@include vw(letter-spacing, -2px);
				@include vw(font-size, 30px);
				font-weight: 300;
				line-height: 1.4;
				color: #000;
			}
			.grounds-text {
				@include vw(margin-top,20px);
				font-weight: 400;
				color: #afafaf;
			}
		}

		.section-title {
			position: relative;
			text-align: left;
			font-weight: 900;
			color: #000;
			line-height: 1.4;
			margin-left: percent(50);
			@include vw(font-size, 50px);
			@include vw(letter-spacing, -2px);
			em {
				position: relative;
				color: #222;
				vertical-align: top;
				@include vw(top, 5px);
				@include vw(font-size, 30px);
			}
			.sub-title {
				@include vw(margin-top, 16px);
				@include vw(font-size, 30px);
				@include vw(letter-spacing, -2px);
				font-weight: 300;
				line-height: 1.4;
				color: #000;
			}
			.grounds-text {
				@include vw(margin-top, 20px);
				word-break: keep-all;
				font-weight: 400;
				color: #afafaf;
			}
			&.type-1 {
				@include vw(padding-top, 42px);
				.highlight {
					@include vw(font-size, 52px);
				}
				&:before {
					content: '';
					display: inline-block;
					@include vw(width, 65px);
					@include vw(height, 10px);
					background: #222;
					position: absolute;
					top: 0;
					left: 0;
				}
			}

			&.type-2 {
				em {
					@include vw(font-size, 20px);
					color: #707070;
					vertical-align: middle;
					@include breakpoint(maxMobileFold) {
						font-size: 16px;
					}
				}
			}
		}

		.top-refund-banner {
			background: #ffe001;
			.wrap {
				position: relative;
				width: 100%;
				@include vw(padding, 20px 0);
				max-width: 720px; 
				margin: 0 auto;
				text-align: center;
				.badge-flag {
					display: inline-block;
					@include vw(padding, 10px 24px);
					@include vw(font-size, 22px);
					@include vw(letter-spacing, -2px);
					font-weight: 900;
					line-height: 1;
					color: #f93015;
					border-radius: 50px; 
					background: #fff;
					font-family: $font-noto;
				}
				.badge-text {
					display: inline-block;
					@include vw(margin-left, 15px);
					color: #000;
					letter-spacing: -1px;
					@include vw(font-size, 30px);
					font-family: $font-eduwill-B;
				}
			}
		}

		.top-banner{
			background-color:#ffc01a !important;
			background-image: none !important;
		}

		.fix-topbanner{
			.end-date{
				position: absolute;
				left: 50%;
				@include vw(top, 119px);
				@include vw(padding, 7px 25px);
				@include vw(border-radius, 100px);
				@include vw(font-size, 25px);
				display: inline-block;
				color: #06f8c7;
				font-weight: 500;
				letter-spacing: -1px;
				line-height: 1;
				background: #2c9be7;
				@include translateX(-30%);
			}
			@include linear-gradient(to right, #00b1ff 0%, #1989fb 50%, #00fcc3 100%);
		}

		.product-timer {
			background: #020202;
			text-align: center;
			@include vw(padding, 30px 0);
			@include boxSizing(border-box);
			.col {
				float: none;
				display: inline-block;
			}
			.timer-title {
				@include vw(padding-right, 20px);
				@include vw(font-size, 20px);
				text-align: left;
				color: #fff;
				font-weight: 700;
				line-height: 1.3;
				@include boxSizing(border-box);
				span {
					display: inline-block;
					@include vw(margin-bottom, 4px);
					@include vw(padding, 4px 10px);
					@include vw(font-size, 24px);
					@include vw(border-radius, 10px);
					color: #000;
					background: #ffe000;
				}
			}
			.count-box {
				.banner-timer {
					position: relative;
					@include vw(top, 10px);
					@extend %clearfix;
					@include boxSizing(border-box);
					p {
						float: left;
						@include vw(margin-left, 8px);
						&:first-child { margin-left: 0;}
						span {
							display: inline-block;
							line-height: 1;
							@include vw(min-width, 66px);
							@include vw(letter-spacing, 6px);
							@include vw(font-size, 48px);
							text-align: center;
							color: rgba(255, 255, 255, .6);
							font-weight: 900;
							font-family: $font-roboto;
							@include boxSizing(border-box);
						}
						em {
							display: inline-block;
							@include vw(margin-left, 10px);
							@include vw(font-size, 24px);
							@include vw(line-height,64px);
							color: #fff;
							font-weight: 700;
							&.day-text {
								margin-left: 0;
								font-weight: 400;
								vertical-align: bottom;
								color: #fff;
								@include vw(font-size, 22px);
								@include vw(line-height,40px);
							}
						}
					}
				}
			}
			
		}
		.teacher-slider-area{
			background:#edf1f7;
			@include vw(padding-bottom, 100px);
		}

		.product-title {
			background: #0c1c61;
		}
		
		.product-benefit {
			@include vw(padding-bottom, 100px);
			background: #fff;
			.grounds-text {
				width: percent(620);
				margin: 0 auto;
				@include vw(padding, 10px 0 0 0);
				text-align: left;
				color: #9a9a9a;
				line-height: 1.6;
			}
		}
		.product-event{
			background:#00b0ca;
			.event-notice{
				background:#21bed5;
			}
			.action{
				position:absolute;
				top:percent(1550,1761);
				width: percent(450);
				left:50%;
				-webkit-transform:translateX(-50%);
				transform:translateX(-50%);
				a{
					padding:0;
					height:auto;
					border:none;
					border-radius: 0;
					transition:none;
					-webkit-transition:none;
				}
			}
		}
		.product-benefit-plus {
			background: #002ea3;
			img { @include vw(margin-top, -51px);}
		}

		.product-liveclass {
			background-color: #c7e1ff;
			.btn-live {
				display: block;
				position: absolute;
				top: percent(727,990);
				width: percent(255);
				height: percent(51,990);
				z-index: 1;
				&.live-1 { left: percent(102);}
				&.live-2 { left: percent(362);}
			}

			&.modify-210709 {
				background-color: #ffcc00;
				.btn-live {
					top: percent(995,1295);
					height: percent(51,1295);
					z-index: 1;
					&.live-1 { left: percent(97);}
					&.live-2 { left: percent(363);}
				}
			}
		}

		.earlybird-banner { background: #0090ff;}
		.top-earlybird {
			@include linear-gradient(to right, #ffcc00 0%, #ffd941 100%);
		}

		.product-earlybird {
			@include vw(padding, 100px 0 50px);
			background: #ffcc00;
			.earlybird-tag {
				@include vw(padding, 30px );
				@include vw(margin, 0 auto 70px);
				@include vw(letter-spacing, -2px);
				@include vw(border-radius, 0 0 40px 40px);
				@include vw(font-size, 30px);
				width: percent(380);
				text-align: center;
				color: #000;
				line-height: 1.2;
				font-weight: 500;
				background: #fff;
				overflow: hidden;
				@include boxSizing(border-box);
				@include boxShadow(0 5px 20px 0 rgba(0, 0, 0, .2));
				strong { color: #002ea3; font-weight: 700;}
			}
			.early-title {
				@include vw(padding-bottom, 40px);
				@include vw(letter-spacing, -2px);
				@include vw(font-size, 30px);
				font-weight: 400;
				color: #000;
				line-height: 1.4;
				strong {
					display: inline-block;
					font-weight: 900;
					line-height: 1.3;
					@include vw(margin-top, 10px);
					@include vw(letter-spacing, -3px);
					@include vw(font-size, 60px);
				}
			}

			.early-img {
				position: relative;
				.btn-liveclass {
					position: absolute;
					display: block;
					top: percent(319, 444);
					right:percent(141);
					width: percent(108);
					height: percent(26, 444);
					z-index: 1;
				}
			}

			.btn-notice {
				display: inline-block;
				@include vw(margin-top, 30px);
				span {
					color: rgba(0,0,0, .4);
					font-size: 17px;
					font-weight: 400;
					@include vw(font-size, 24px);
					&:after {
						content: '>';
						display: inline-block;
						font-family: $font-KHNPHD;
						@include vw(margin-left, 6px);
					}
				}
			}

			.early-notice {
				display: none;
				width: 100%;
				text-align: left;
				background: #fff;
				@include vw(margin-top, 50px);
				@include vw(padding, 50px);
				@include boxSizing(border-box);
				dl {
					dt {
						@include vw(margin-bottom, 10px);
						@include vw(font-size, 28px);
						font-weight: 700;
						color: #000;
						line-height: 1.4;
					}
					dd {
						> ul > li {
							@include vw(margin-top, 5px);
							@include vw(font-size, 24px);
							font-weight: 400;
							line-height: 1.5;
							color: #222;
							font-weight: 500;
							&:first-child { margin-top: 0;}
							ul {
								margin-left: percent(15);
								li {
									@include vw(padding-left, 14px);
									@include vw(font-size, 24px);
									position: relative;
									font-weight: 400;
									color: #666;
									line-height: 1.5;
									&:before {
										content: '-';
										display: inline-block;
										position: absolute;
										top: 0;
										left: 0;
										z-index: 1;
									}
								}
							}
						}
					}
				}
			}
		}

		.product-item-price {
			@include vw(padding-bottom, 70px);
			.grounds-text { @include vw(margin-top, 60px);}
			.item-group {
				width: percent(620);
				margin: 0 auto;
				text-align: left;
				background: #fff;
				border: 3px solid #ffba27;
				@include vw(padding, 60px 0);
				@include vw(border-radius, 30px);
				@include boxShadow(0 10px 15px 0 rgba(0, 0, 0, .3));
				@include boxSizing(border-box);
				.item-subject {
					@include vw(padding, 0 50px);
					font-weight: 900;
					color: #222;
					line-height: 1.2;
					@include vw(margin-bottom, 30px);
					@include vw(letter-spacing, -2px);
					@include vw(font-size, 46px);
					.item-label {
						@include vw(margin-bottom, 30px);
						@include vw(padding, 8px 0);
						@include vw(font-size, 28px);
						width: 50%;
						text-align: center;
						letter-spacing: -1px;
						line-height: 1;
						font-weight: 900;
						color: #000;
						background: #ffda31;
					}
					strong {
						color: #ef2f08;
						font-weight: 900;
					}
				}
				.item-desc {
					border-bottom: 1px solid #eaeaea;
					ul {
						li {
							@include vw(padding, 20px 50px);
							@include vw(font-size, 26px);
							@include vw(min-height, 68px);
							text-align: left;
							color: #000;
							font-weight: 700;
							border-top: 1px solid #ebebeb;
							background: #f9f9f9;
							@include boxSizing(border-box);
							&:first-child {
								background: #2835e8;
								color: #fff;
								strong {
									font-weight: 900;
								}
								border-top: 0;
							}
							.point-1 { color: #ffd327;}
							span {
								font-weight: 300;
								&.eco-puri { font-weight: 700;}
							}
							strong { display: inline-block;}
							&.box-size {
								@include vw(min-height, 124px);
							}
							.min-size {
								@include vw(margin-top, 6px);
								@include vw(font-size, 24px);
								display: inline-block;
								font-weight: 700;
								line-height: 1.5;
								
							}
							&.item-benefit {
								@include vw(padding, 30px 50px);
								@include linear-gradient(to right, #ffd227 0%, #ffba27 100%);
								.limit-label {
									display: inline-block;
									color: #fff;
									font-weight: 700;
									@include vw(margin-bottom, 5px);
									@include vw(padding, 6px 20px);
									@include vw(font-size, 24px);
									@include vw(border-radius, 6px);
									@include linear-gradient(to right, #474fe3 0%, #1e28de 100%);
								}
								@include vw(min-height, 175px);
								background-color: #f3f3f3;
							}
						}
					}
				}
				.item-price {
					position: relative;
					text-align: center;
					@include vw(padding, 36px 50px 0);
					.before-price {
						position: relative;
						@include vw(margin-bottom, 10px);
						strong {
							display: inline-block;
							font-weight: 700;
							color: #bbb;
							line-height: 1;
							text-decoration: line-through;
							@include vw(font-size, 30px);
						}
					}
					.after-price {
						color: #000;
						font-weight: 900;
						line-height: 1.2;
						text-align: center !important;
						@include vw(font-size, 50px);
						@include vw(margin-bottom, 16px);
						strong {
							@include vw(font-size, 55px);
							@include vw(letter-spacing, -2px);
							color: #ea1d00;
							font-weight: 900;
							line-height: 1.2;
						}
					}
					.btn-coupon {
						display: inline-block;
						position: absolute;
						@include vw(top, 36px);
						right: 0;
						color: #fff;
						font-weight: 400;
						line-height: 1;
						vertical-align: top;
						background: #222;
						@include vw(font-size, 24px);
						@include vw(margin-bottom, 16px);
						@include vw(border-radius, 8px);
						@include vw(padding, 12px 20px);
						&:after {
							content: '>';
							display: inline-block;
							font-family: $font-KHNPHD;
							@include vw(margin-left, 14px);
						}
					}
					.btn-apply {
						@include pointer(60%, 0, 57px, 65px, 12, bounce);
					}
				}

				+ .item-group {
					@include vw(margin-top, 60px);
				}
			}
		}

		.product-shortpass{
			position:relative;
			background-color:#f8f7f0;
			text-align: center;
			@include vw(padding, 100px  0 150px);

			.title {
				.main {
					color: #000;
					font-weight: 900;
					line-height: 1.4;
					@include vw(letter-spacing, -2px);
					@include vw(font-size, 54px);
				}
			}
			.section-img{
				max-width:720px;margin:0 auto;
			}
			.shortpass-group{
				position:relative;
				max-width:720px;margin:0 auto;
				.item-cover{position:relative;z-index:2;}
				.item-contents{
					position:absolute;left:0;bottom:0;width:100%;z-index:1;
					transform: perspective(370px) rotateX(45deg);
					.item-list{
						.slick-slide{@include vw(margin-bottom, 30px);}
					}
				}
			}
			.btn-text2 {
				position: relative;display: inline-block;
				padding: 5px 20px 5px 10px;
				color: #bbb;
				@include vw(font-size, 24px);
				letter-spacing: -1px;line-height: 1;font-weight: 400;
			}
			.btn-text2 :after { content: '>'; display: inline-block; margin-left: 10px; }
			.btn-text2:after {
				content: ''; position: absolute;top: 50%;left: 50%;display: block;width: 5px;height: 5px;margin-top: -2.5px;margin-left: -2.5px;border-width: 0;border-style: solid;border-color: #bbb;-webkit-transform: rotate(45deg);transform: rotate(45deg);border-top-width: 1px;border-right-width: 1px;border-bottom: none;border-left: none;margin-left: 0;left: auto;right: 7px;
			}
	
		}

		.product-bar-1 {
			@include bg($color: #2853f8, $url: '#{$img-path}/mobile/bg_bar_1.jpg', $size: cover);
			.wrap {
				text-align: left;
				@include vw(padding, 80px 0 60px);
				@include boxSizing(border-box);
				span {
					display: inline-block;
					margin-left: percent(50);
					@include vw(padding-bottom, 5px);
					@include vw(letter-spacing, -2px);
					@include vw(font-size, 30px);
					font-weight: 700;
					color: #ffc000;
					line-height: 1;
					border-bottom: 1px solid #ffea00;
				}
				strong{ 
					display: block;
					color: #fff;
					font-weight: 900;
					line-height: 1.4;
					@include vw(margin-top, 30px);
					@include vw(margin-bottom, 20px);
					@include vw(letter-spacing, -3px);
					@include vw(font-size, 54px);
					margin-left: percent(50);
					em {
						position: relative;
						font-weight: 300;
						color: #fff;
						vertical-align: top;
						@include vw(top, 5px);
						@include vw(font-size, 28px);
					}
				}
				.grounds-text {
					color: rgba(255,255,255, .4);
					margin-left: percent(50);
				}
			}
		}

		.product-compare {
			@include linear-gradient(to right, #FFCE00 50%, #FFC300 50%);
		}

		.product-curriculum {
			@include vw(padding, 60px 0 0);
		}
	
		.product-teacher {
			@include vw(padding-bottom, 100px);
			.teacher-major {
				.col {
					display: inline-block;
					width: 42%;
				}
			}
		}

		.product-live-qna {
			@include linear-gradient(to bottom, #fff 0%, #e2e8ff 100%);
		}

		.product-set{
			background:#282eb8;
		}

		.product-set-plus  {
			@include linear-gradient(to bottom, #282eb8 60%, #f3f3fd 60%);
			@include vw(padding-bottom, 115px);
			a{
				display: inline-block;
				width: percent(600);
			}
			.grounds-text{
				margin-top:10px;
			}
		}

		.product-refund {
			background:#f3f3fd;
		}

		.product-system {
			border-style: solid;
			border-color:#ececef;
			border-width: 0;
			@include vw(padding, 100px 0 115px);
			@include vw(border-top-width, 20px);
			.grounds-text {
				@include vw(margin-top, 15px);
				margin-left: percent(50);
				text-align: left;
				color: #afafaf;
				line-height: 1.4;
				font-weight: 400;
			}
			.action {
				@include vw(margin-top, 48px);
			}
		}

		.product-puri {
			@include vw(padding-bottom, 115px);
			.comm-sub-title {
				line-height: 1.4;
			}
			.action {
				@include vw(margin-top, 48px);
			}
		}
		
		.product-awards {
			border-style: solid;
			border-color:#ececef;
			border-width: 0;
			@include vw(border-top-width, 20px);
		}

		.product-brand {
			@include bg($color: #ffbf00, $url: '#{$img-path}/mobile/bg_brand.jpg', $size: cover);
		}
	}
}