@charset "utf-8";

@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/extend";

@import "module/base";

.product-eco {
    * { font-family: $font-noto; }
    .wrap { width: 1200px; }
    .sector-title {
        @include bg($color: #fff, $url: '#{$img-path}/pc/bg_title.jpg', $size: cover);
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            @include bg($url: '#{$img-path}/pc/bg_title2.png', $size: cover);
        }
        .flag {
            position: absolute;
            top: 589px;
            right: 0;
            left: 0;
            span {
                display: inline-block;
                padding: 8px 40px;
                line-height: normal;
                font-size: 32px;
                font-weight: 700;
                color: #ffcb01;
                border-radius: 64px;
                background-color: #382914;
                -webkit-box-shadow: -1px -2px 0 #564a38, 1px 2px 0 #302311;
                box-shadow: -1px -2px 0 #564a38, 1px 2px 0 #302311;
            }
        }
    }
    .sector-benefit {
        padding-bottom: 100px;
        background-color: #ffcb01;
        .benefit {
            position: relative;
            top: -77px;
        }
        .action a {
            @include pointer(50%, 0, 68px, 76px, 1, bounce);
            &:nth-child(1) { margin-right: 20px; }
            &:nth-child(2) { margin-left: 20px; }
        }
        .notice {
            margin-top: 80px;
            text-align: center;
            font-size: 16px;
            font-weight: 300;
            color: rgba($color: #000, $alpha: .6);
        }
    }
    .sector-intro {
        @include bg($url: '#{$img-path}/pc/bgx_intro.jpg', $repeat: repeat-x);
    }
    .sector-slide {
        padding-bottom: 100px;
        .slide-box {
            margin: 0 50px;
            .slide-menu {
                margin: 0 -2px;
                .slick-slide {
                    margin: 0 2px;
                    padding: 15px;
                    line-height: normal;
                    font-size: 20px;
                    font-weight: 700;
                    color: #b9b9b9;
                    background-color: #e5e5e5;
                    cursor: pointer;
                    &.slick-current {
                        color: #fff;
                        background-color: #382914;
                    }
                }
            }
            .slide-list {
                border: 4px solid #382914;
            }
            .slick-arrow {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 1;
                width: 70px;
                height: 70px;
                line-height: 1;
                font-size: 0;
                background-repeat: no-repeat;
                background-position: center center;
                @include translateY(-50%);
                &.slick-prev { margin-left: -580px; background-image: url('#{$img-path}/pc/btn_prev.png'); }
                &.slick-next { margin-left: 500px; background-image: url('#{$img-path}/pc/btn_next.png'); }
            }
        }
        .action { margin-top: 120px; }
    }
    .sector-system { background-color: #f7f6f6; }
    .sector-consult {
        @include linear-gradient(to bottom, #fff 0%, #fff 45%, #ffcb01 45%, #ffcb01 83%, #fff 83% #fff 100%);
    }
    .sector-band {
        margin-bottom: 77px;
        background-color: #382914;
        img { margin-bottom: -77px; }
    }
    .sector-lecture {
        padding-bottom: 100px;
        * {
            font-family: $font-roboto;
        }
        .lecture-tab {
            font-size: 0;
            a {
                display: inline-block;
                @extend %variable;
                margin-bottom: 40px;
                padding: 0 1.5px;
                @include boxSizing(border-box);
                span {
                    position: relative;
                    display: block;
                    padding: 20px 0;
                    font-size: 21px;
                    font-weight: 700;
                    color: #fff;
                    background-color: #8f7d70;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 99%;
                        left: 50%;
                        display: block;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-color: transparent;
                        border-top-width: 15px;
                        border-right-width: 15px;
                        border-left-width: 15px;
                        @include translateX(-50%);
                    }
                }
                &.active {
                    span {
                        background-color: #382914;
                        &::before {
                            border-top-color: #382914;
                        }
                    }
                }
            }
        }
        .lecture-table {
            border-top-width: 3px;
            border-top-style: solid;
            border-top-color: #382914;
            table {
                width: 100%;
                table-layout: fixed;
                border-collapse: collapse;
            }
            th, td {
                padding: 20px 0;
                text-align: center;
                letter-spacing: -2px;
                border-width: 0;
                border-bottom-width: 1px;
                border-left-width: 1px;
                border-style: solid;
                border-color: #d2cbc6;
                &:first-child {
                    border-left-width: 0;
                }
            }
            th {
                font-size: 20px;
                font-weight: 700;
                color: #382914;
                background-color: #f7f6f6;
            }
            td {
                font-size: 21px;
                font-weight: 400;
                color: #000;
            }
        }
        .notice {
            margin-top: 10px;
            text-align: right;
            font-size: 16px;
            font-weight: 300;
            color: rgba($color: #000, $alpha: .6);
        }
    }
}