@{
    string viewPath = ((RazorView)ViewContext.View).ViewPath;
    viewPath = viewPath.Remove(viewPath.LastIndexOf('/') + 1);
}
@{
    String platform = ("W".Equals(ViewBag.PlatformCd)) ? "pc" : "mobile";
}

@* @if ("W".Equals(ViewBag.PlatformCd)){
}else {
} *@

<div id="contents" class="promotion">
	<div data-eduwill-eco-content="3231"></div>

	@if ("W".Equals(ViewBag.PlatformCd)){
	<div class="wing">
		<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220127/@platform/wing.png" alt="">
	</div>
	}

	<div class="sector-title">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220127/@platform/title.png" alt="" />
			<div class="btn-base">
				<a href="javascript:popupOpen('.dimmed', 'popupBase');">근거확인</a>
			</div>
			<div class="action">
				<a href="#targetLecture" class="icon-pointer page-move">
					<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220127/@platform/btn_free.png" alt="" />
				</a>
			</div>
		</div>
	</div>

	<div class="sector-intro-1">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220127/@platform/intro_1.jpg" alt="">
		</div>
	</div>

	<div class="sector-intro-2">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220127/@platform/intro_2.jpg" alt="">
		</div>
	</div>

	<div class="sector-benefit-1">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220127/@platform/benefit_1.jpg" alt="">
		</div>
	</div>

	<div class="sector-benefit-2">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220127/@platform/benefit_2.jpg" alt="">
		</div>
	</div>

	<div class="sector-review">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220127/@platform/review.jpg" alt="">
		</div>
	</div>

	<div id="targetLecture" class="sector-lecture">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220127/@platform/lecture_title.jpg" alt="">
			<div class="lecture-tab-box">
				<div class="title-year">시행년도</div>
				<ul class="lecture-tab-list">
					<li><a href="javascript:;"><strong>2015</strong></a></li>
					<li><a href="javascript:;"><strong>2016</strong></a></li>
					<li class="in"><a href="javascript:;"><strong>2017</strong></a></li>
					<li><a href="javascript:;"><strong>2018</strong></a></li>
					<li><a href="javascript:;"><strong>2019</strong></a></li>
					<li><a href="javascript:;"><strong>2020</strong></a></li>
				</ul>
			</div>

			@* 2015 *@
			<div class="lecture-view">
				<div class="col">
					<table>
						<caption>기출문제</caption>
						<colgroup>
							<col style="width: 100%">
						</colgroup>
						<thead>
							<tr>
								<th>기출문제</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="javascirpt:;">[2015] 1회 무역영어 1급 기출문제</a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="javascirpt:;">[2015] 2회 무역영어 1급 기출문제</a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="javascirpt:;">[2015] 3회 무역영어 1급 기출문제</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			@* 2016 *@
			<div class="lecture-view">
				<div class="col">
					<table>
						<caption>기출문제</caption>
						<colgroup>
							<col style="width: 100%">
						</colgroup>
						<thead>
							<tr>
								<th>기출문제</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="javascirpt:;">[2016] 1회 무역영어 1급 기출문제</a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="javascirpt:;">[2016] 2회 무역영어 1급 기출문제</a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="javascirpt:;">[2016] 3회 무역영어 1급 기출문제</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			@* 2017 해설강의 포함 *@
			<div class="lecture-view in">
				<div class="col">
					<table>
						<caption>기출문제</caption>
						<colgroup>
							<col style="width: 100%">
						</colgroup>
						<thead>
							<tr>
								<th>기출문제</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="javascirpt:;">[2017] 1회 무역영어 1급 기출문제</a></td>
							</tr>
							<tr>
								<td><a href="javascirpt:;">[2017] 2회 무역영어 1급 기출문제</a></td>
							</tr>
							<tr>
								<td><a href="javascirpt:;">[2017] 3회 무역영어 1급 기출문제</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col">
					<table>
						<caption>해설강의</caption>
						<colgroup>
							<col style="width: 33%" span="3">
						</colgroup>
						<thead>
							<tr>
								<th colspan="3">해설강의</th>
							</tr>
							<tr>
								<th>영문해석</th>
								<th>영작문</th>
								<th>무역실무</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="javascirpt:;" class="btn-lecture">3회 해설강의 1</a></td>
								<td><a href="javascirpt:;" class="btn-lecture">3회 해설강의 1</a></td>
								<td><a href="javascirpt:;" class="btn-lecture">3회 해설강의</a></td>
							</tr>
							<tr>
								<td><a href="javascirpt:;" class="btn-lecture">3회 해설강의 2</a></td>
								<td><a href="javascirpt:;" class="btn-lecture">3회 해설강의 2</a></td>
								<td> </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			@* 2018 해설강의 포함 *@
			<div class="lecture-view">
				<div class="col half">
					<table>
						<caption>기출문제</caption>
						<colgroup>
							<col style="width: 100%">
						</colgroup>
						<thead>
							<tr>
								<th>기출문제</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="javascirpt:;">[2018] 1회 무역영어 1급 기출문제</a></td>
							</tr>
							<tr>
								<td><a href="javascirpt:;">[2018] 2회 무역영어 1급 기출문제</a></td>
							</tr>
							<tr>
								<td><a href="javascirpt:;">[2018] 3회 무역영어 1급 기출문제</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col half">
					<table>
						<caption>해설강의</caption>
						<colgroup>
							<col style="width: 33%" span="3">
						</colgroup>
						<thead>
							<tr>
								<th colspan="3">해설강의</th>
							</tr>
							<tr>
								<th>영문해석</th>
								<th>영작문</th>
								<th>무역실무</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>1회</em> } 해설강의</a></td>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>1회</em> }해설강의</a></td>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>1회</em> }해설강의</a></td>
							</tr>
							<tr>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>2회</em> }해설강의</a></td>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>2회</em> }해설강의</a></td>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>2회</em> }해설강의</a></td>
							</tr>
							<tr>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>3회</em> }해설강의</a></td>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>3회</em> }해설강의</a></td>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>3회</em> }해설강의</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			@* 2019 해설강의 포함 *@
			<div class="lecture-view">
				<div class="col half">
					<table>
						<caption>기출문제</caption>
						<colgroup>
							<col style="width: 100%">
						</colgroup>
						<thead>
							<tr>
								<th>기출문제</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="javascirpt:;">[2019] 1회 무역영어 1급 기출문제</a></td>
							</tr>
							<tr>
								<td><a href="javascirpt:;">[2019] 2회 무역영어 1급 기출문제</a></td>
							</tr>
							<tr>
								<td><a href="javascirpt:;">[2019] 3회 무역영어 1급 기출문제</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col half">
					<table>
						<caption>해설강의</caption>
						<colgroup>
							<col style="width: 33%" span="3">
						</colgroup>
						<thead>
							<tr>
								<th colspan="3">해설강의</th>
							</tr>
							<tr>
								<th>영문해석</th>
								<th>영작문</th>
								<th>무역실무</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>1회</em> } 해설강의</a></td>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>1회</em> }해설강의</a></td>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>1회</em> }해설강의</a></td>
							</tr>
							<tr>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>2회</em> }해설강의</a></td>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>2회</em> }해설강의</a></td>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>2회</em> }해설강의</a></td>
							</tr>
							<tr>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>3회</em> }해설강의</a></td>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>3회</em> }해설강의</a></td>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>3회</em> }해설강의</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			@* 2020 해설강의 포함 *@
			<div class="lecture-view">
				<div class="col half">
					<table>
						<caption>기출문제</caption>
						<colgroup>
							<col style="width: 100%">
						</colgroup>
						<thead>
							<tr>
								<th>기출문제</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="javascirpt:;">[2020] 1회 무역영어 1급 기출문제</a></td>
							</tr>
							<tr>
								<td><a href="javascirpt:;">[2020] 2회 무역영어 1급 기출문제</a></td>
							</tr>
							<tr>
								<td><a href="javascirpt:;">[2020] 3회 무역영어 1급 기출문제</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col half">
					<table>
						<caption>해설강의</caption>
						<colgroup>
							<col style="width: 33%" span="3">
						</colgroup>
						<thead>
							<tr>
								<th colspan="3">해설강의</th>
							</tr>
							<tr>
								<th>영문해석</th>
								<th>영작문</th>
								<th>무역실무</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>1회</em> } 해설강의</a></td>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>1회</em> }해설강의</a></td>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>1회</em> }해설강의</a></td>
							</tr>
							<tr>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>2회</em> }해설강의</a></td>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>2회</em> }해설강의</a></td>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>2회</em> }해설강의</a></td>
							</tr>
							<tr>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>3회</em> }해설강의</a></td>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>3회</em> }해설강의</a></td>
								<td><a href="javascirpt:;" class="btn-lecture">@if ("M".Equals(ViewBag.PlatformCd)){ <em>3회</em> }해설강의</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="notice-box">
				<div class="notice-title">* 유의사항</div>
				<ul>
					<li>최초 수강일로부터 30일동안 전체 해설 강의 수강 가능합니다.<br>Ex) 무역영어 1/25 수강, 무역실무 1/27 수강 시 1/25 최초 수강일 기준으로 30일 간 수강 가능합니다.</li>
					<li>해설 강의 수강기간 30일 경과 시 추가 수강 불가합니다.</li>
					<li>2017년도 해설강의는 3회 기출문제만 해설강의 제공됩니다.</li>
				</ul>
			</div>
		</div>
	</div>

	@* 공통 브랜딩영역 *@
	<div class="sector-winner trade-winner">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220127/@platform/winner_title.png" alt="">
			<div class="winner-contents">
				<div class="winner-list"></div>
			</div>
		</div>
	</div>

	<div class="sector-branding branding-brand">
		<div class="wrap">
			<div class="btn-base">
				<a href="javascript:popupOpen('.dimmed', 'popupBase');">근거확인</a>
			</div>
			<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220127/@platform/brand.png" alt="">
		</div>
	</div>

	<div class="sector-branding branding-teacher">
		<div class="wrap">
			<div class="btn-base">
				<a href="javascript:popupOpen('.dimmed', 'popupBase');">근거확인</a>
			</div>
			<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220127/@platform/teacher.png" alt="">
		</div>
	</div>

	<div class="sector-branding branding-book">
		<div class="wrap">
			<div class="btn-base">
				<a href="javascript:popupOpen('.dimmed', 'popupBase');">근거확인</a>
			</div>
			<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220127/@platform/book.png" alt="">
		</div>
	</div>

	<div class="sector-branding branding-review">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220127/@platform/review_title.png" alt="">
			<div class="slider-multiple review-list" data-slide="review">
				<div class="col"><img src="//img.eduwill.net/eduwill/img/2022/_101/event/220127/pc/review_1.png" alt=""></div>
				<div class="col"><img src="//img.eduwill.net/eduwill/img/2022/_101/event/220127/pc/review_2.png" alt=""></div>
				<div class="col"><img src="//img.eduwill.net/eduwill/img/2022/_101/event/220127/pc/review_3.png" alt=""></div>
				<div class="col"><img src="//img.eduwill.net/eduwill/img/2022/_101/event/220127/pc/review_4.png" alt=""></div>
				<div class="col"><img src="//img.eduwill.net/eduwill/img/2022/_101/event/220127/pc/review_5.png" alt=""></div>
				<div class="col"><img src="//img.eduwill.net/eduwill/img/2022/_101/event/220127/pc/review_6.png" alt=""></div>
			</div>
			<div class="btn-review">
				<a href="https://event.eduwill.net/VictoryStory/_101/Licensed_Trader
                " target="_blank"><span>실시간 업데이트 중!</span> 합격수기 더 보기</a>
			</div>
		</div>
	</div>

	<div class="sector-branding branding-grpah">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220127/@platform/graph.png" alt="">
		</div>
	</div>

	<div class="sector-branding branding-prize">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220127/@platform/prize.png" alt="">
		</div>
	</div>

	<div class="sector-branding branding-no1">
		<div data-eduwill-eco-content="2181"></div>
	</div>

	<div class="sector-banner">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220127/@platform/banner_title.png" alt="">
		</div>
		<div data-eduwill-eco-content="2337"></div>
	</div>
</div>
<!-- // promotion -->

<div class="dimmed"></div>
<!-- 근거확인 팝업 -->
<div class="popup popup-base" id="popupBase">
	<div class="popup-body">
		<div data-eduwill-eco-content="3268"></div>
	</div>
	<a class="popup-close" href="javascript:popupClose('.dimmed', 'popupBase');"><span class="sr-only">팝업 닫기</span> </a>
</div>
<!---// 근거확인 팝업-->
@* <script type="text/javascript" src="https://img.eduwill.net/eduwill/live/js/common/script.js"></script> *@
@* <script type="text/javascript" src="https://img.eduwill.net/resources/eduwill/dev/js/greensock/TweenMax.min.js"></script> *@
<script type="text/javascript">
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
	var url = window.location.href;
	var str = 'event.eduwill.net';
	var checkUrl = url.indexOf(str);

	var userId = "@(UserSession.UserID)";

	$(function(){
		init();
	});

	function init() {
		addEvent();
		addSlide();
		lecturetabList();
		winnerList();
	}

	function addEvent(){
		pageMove('.page-move');
	}

	function addSlide(){
		// multiple slider
        $('.slider-multiple').each(function(key, item) {
            var sliderIdName = 'multipleSlider' + key;
                this.id = sliderIdName;
            var sliderId = '#' + sliderIdName;

            if ( isMobile ){
                _show = 1;
				_centerMode = true;
            } else {
                _show = 3;
				_centerMode = false;
            }

            $(sliderId).slick({
                autoplay: true,
                autoplaySpeed: 3000,
                speed: 1000,
                infinite: true,
                arrows: true,
                dots: true,
                slidesToShow: _show,
                slidesToScroll: 1,
				centerMode: _centerMode,
            });
        });
	}
	
	function lecturetabList(){
		$('.lecture-tab-list li a').on('click', function(){
			var $this = $(this),
				idx = $this.closest('li').index();
				target = $this;
			lecturetabControl(target, idx);
		});
	}

	function lecturetabControl(target, idx){
		var _tabList = target.parents('ul'),
			_tabView = target.parents().parents().children('.lecture-view');

		_tabList.children().eq(idx).addClass('in').siblings().removeClass('in');
		_tabView.eq(idx).addClass('in').siblings().removeClass('in');
	}

	// eduf.js winnerList
	function winnerList(){
		var options = {
			jsonFileNm: '_101202107_WINNER.min',
		};

		if ( isMobile ){
			_perRow = 3;
			_show = 8;
		} else {
			_perRow = 5;
			_show = 10;
		}
		var slickOptions = {
			speed: 1000,
			slidesPerRow: _perRow,
			slidesToShow: _show,
		};
		eduf.UI.Winner('.winner-list', options, slickOptions);
	}
</script>

