@{
    string viewPath = ((RazorView)ViewContext.View).ViewPath;
    viewPath = viewPath.Remove(viewPath.LastIndexOf('/') + 1);
}

@{
    string cssUrl = ViewBag.IsLocal
        ? "/Content/2022/0/event/220204/css/mobile.css" // local 경로
        : "//img.eduwill.net/eduwill/css/2022/0/event/220204/mobile.css";   // ftp 경로
}
<link rel="stylesheet" type="text/css" href="@cssUrl" />
<link rel="stylesheet" href="//img.eduwill.net/eduwill/dev/css/common/eduf.css">

<div id="contents" class="promotion">
	<div class="sector-event-title">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/0/event/220204/mobile/title.png" alt="">
		</div>
	</div>

	<div class="sector-search-bar">
		<div class="wrap">
			<div class="item-name">에듀윌 주택관리사</div>
			<img src="//img.eduwill.net/eduwill/img/2022/0/event/220204/mobile/search_title.png" alt="">
		</div>
	</div>

	<div class="sector-search-img">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/0/event/220204/mobile/search_img.png" alt="">
		</div>
	</div>

	<div id="searchEvent" class="sector-quiz">
		<div class="wrap">
			<div class="quiz-wrap">
				<div class="quiz-title">
					네이버 <strong>에듀윌 주택관리사</strong> 검색!
				</div>
				<div class="quiz-group">
					<p class="question">
						네이버에서 [에듀윌 주택관리사]를 검색 했을 때,<br>
						<strong>경축! [　] 수석 합격자 배출!에서</strong><br>
						[　] 사이에 들어갈 단어는 무엇일까요?
					</p>
					<div class="input">
						<input type="text" name="" id="" placeholder="정답을 입력해주세요.">
					</div>
					<div class="quiz-action">
						<button class="icon-pointer"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220204/mobile/btn_apply.png" alt=""></button>
						<a href="https://m.search.naver.com/search.naver?sm=mtp_sly.hst&where=m&query=%EC%97%90%EB%93%80%EC%9C%8C+%EC%A3%BC%ED%83%9D%EA%B4%80%EB%A6%AC%EC%82%AC" target="_blank" class="btn-hint"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220204/mobile/btn_hint.png" alt="힌트보기"></a>
					</div>
					<div class="quiz-notice">
						<div class="notice-title">※ 유의사항</div>
						<ul>
							<li>주택관리사 할인쿠폰은 정답 입력 후 버튼 클릭 시 자동 발급되며 3일간 사용가능(중복할인 가능)하며, 재발급되지 않습니다.<br>※ 대상상품 : 평생패스, 환급+연장패스</li>
							<li>본 할인쿠폰은 온라인상품에만 해당되며 학원 상품은 해당되지 않습니다.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>