// Core variables and mixins
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/extend";

.product-eco {
    position: relative;
    * {
        line-height: normal;
        font-family: $font-noto;
        letter-spacing: -1px;
    }
    p { margin: 0; }
    .container {
        position: relative;
        background-repeat: no-repeat;
        background-position: center top;
    }
    .wrap {
        position: relative;
        width: 1100px;
        margin: 0 auto;
        text-align: center;
    }

    .pointer{
        position: absolute;
        right:-20px; 
        -webkit-animation: pointerBounce .8s infinite;
        animation: pointerBounce .8s infinite; 
    }

    @-webkit-keyframes pointerBounce {
        0%, 100% { -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }
        50% { -webkit-transform: translate(-10px, -10px); -ms-transform: translate(-10px, -10px); transform: translate(-10px, -10px); }
    }
    
    @keyframes pointerBounce {
        0%, 100% { -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }
        50% { -webkit-transform: translate(-10px, -10px); -ms-transform: translate(-10px, -10px); transform: translate(-10px, -10px); }
    }
    
    .product {
        &-flag{
            .action{
                position: fixed;
                top: 500px;
                left: 50%;
                margin-left: 600px;
                z-index: 1000;
                .pointer{
                    bottom: 0;
                }
            }
        }

        &-topbanner{
            text-align: center;
            background-color: #ffd633;
            .topbanner-desc{
                position: absolute; 
                top: 114px;
                left: 130px;
                color: #fff;
                font-size: 30px;
                font-weight: 600;
            }
        }

        &-title { 
            @include bg($color: #ea634e, $url: 'https://img.eduwill.net/eduwill/img/2021/T/product/210325/pc/bg.jpg', $size: cover); 
        }

        &-benefit-top {
            height: 678px;
            background-color: #ac2b21;
            img { margin-top: -125px; }
            .refund-desc{
                position: absolute;
                top: -84px;
                left: 828px;
                font-size: 22px;
                font-weight: 800;
                color: #000;
            }
        }

        &-earlybird {
            height: 464px;
            background-color: #ac2b21;
            z-index: 100;
            a {
                position: absolute;
                top: 355px;
                left: 534px;
                width: 320px;
                height: 59px;
                .pointer{
                    bottom: -40px;
                }
            }
        }

        &-level {
            padding-top: 80px;
        }

        &-apply-box {
            padding-bottom: 130px;
            .wrap { width: 1100px; }
            .item-list { @extend .grid; }
            .item {
                @extend .col;
                margin-left: 12px;
                &:first-child {
                    margin-left: 50px;
                    .price-box {
                        border:2px solid #ec7c6a;
                        background-color: #fff;
                    }
                    .price-after { color: #000; }
                    .price-flag {
                        color: #e7573f;
                        margin-bottom: 34px;
                    }
                }
            }
            .price-box {
                margin-top: 7px;
                padding: 22px 45px 43px 45px;
                border: 2px solid #ccc;
                border-radius: 30px;
                background-color: #fff;
                @include boxSizing(border-box);
            }
            .price-after {
                font-family: $font-roboto;
                font-size: 35px;
                font-weight: 700;
                color: #272727;
                strong { font-size: 52px; }
            }
            .price-flag {
                font-size: 23px;
                text-decoration: underline;
                text-align: left;
                font-weight: 700;
                color: #171b38;
                margin-bottom: 82px;
            }
            a { @include pointer(60%, 0, 57px, 65px, 12, bounce); }
        }

        &-winner {
            padding-bottom: 90px;
            background-color: #fff;
            .winner-wrap {
                position: relative;
                padding: 0 120px;
                @include bg($url: 'https://img.eduwill.net/eduwill/img/2021/T/product/210325/pc/bg_winner.jpg', $position: center center);
            }
            .winner-list p {
                line-height: 2;
                font-size: 16px;
                font-weight: 300;
                color: #747474;
            }

            .interview-wrap {
                width: 1000px; 
                margin: 0 auto;
                margin-top: 50px;
            }

            .interview-list {
                .slick-slide { padding: 10px; }
                .user {
                    margin-top: 20px;
                    text-align: left;
                    line-height: 1.5;
                    font-size: 16px;
                    color: #000;
                    strong { display: block; }
                }
            }

            .review { 
                margin-top: 70px;
                img{ 
                    width: 1100px;
                    margin: 0;
                }
            }
            
            .action { margin-top: 52px; }
        }

        &-band { 
            @include bg($color: #ea1d00, $url: 'https://img.eduwill.net/eduwill/img/2021/T/product/210325/pc/banner_bg.jpg', $size: cover); 
        }

        &-teacher {
            background-color: #fff;
        }

		&-plus {
			background: linear-gradient(#e84b3e, #ef6d5a);
		}

		&-book{
			padding-top: 100px;
			.update-gif{
				position: absolute;
				top: 0;
				left: 496px;
			}
		}

        &-system {
            .action {
                position: absolute;
                left: 367px;
                &-1 { top: 983px; }
                &-2 { top: 1745px; }
            }
        }

        &-benefit-bottom {
            background: linear-gradient(#e84b3e, #ef6d5a);
        }
    }
}

@import "module/popup";