.dimmed {
	display: none;
	position: fixed;
	top: 0; 
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba( 0, 0, 0, .7);
}

.popup {
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 10000;
	display: none;
	width: 90%;
	letter-spacing: -1px;
	* { font-family: $font-noto; }
	@include translateX(-50%);
	@include boxSizing(border-box);
	&-close a {
		position: absolute;
		top: -40px;
		right: 0;
		@include close(40px, 40px, 1px, #fff);
	}
	&-curriculum { max-width: 536px; }
	&-benefit {
		max-width: 637px;
		@include breakpoint(desktop){
			max-width: 924px;
		}
	}
	&-base {
		max-width: 720px;
		.popup-content {
			@include rem(padding, 25px);
			text-align: left;
			font-size: 0;
			border: 2px solid #00233e;
			background-color: #fff;
		}
		p {
			margin: 0;
			line-height: 1.4;
			@include vw(font-size, 20px);
			font-weight: 300;
			color: #00233e;
			&.only-bottom { display: none; }
			a {
				font-weight: 700;
				color: #00233e;
			}
		}
		.popup-close a {
			@include close(30px, 30px, 1px, #2b3236);
			@include breakpoint(maxMobile){
				@include close(40px, 40px, 1px, #00233e);
			}
		}
	}
}