body {
  background-color: #fff;
}

.product-eco {
  position: relative;
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', Sans-Serif;
  letter-spacing: -1px;
  text-align: center;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.product-eco *, .product-eco *:before, .product-eco *:after {
  box-sizing: border-box;
}

.product-eco img {
  border: 0;
  vertical-align: top;
  line-height: 0;
  font-size: 0;
}

.product-eco p, .product-eco span {
  line-height: 100%;
  margin: 0;
  padding: 0;
}

.product-eco a {
  display: inline-block;
}

.product-eco .clearfix {
  zoom: 1;
}

.product-eco .clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.product-eco section {
  display: block;
}

.product-eco img {
  width: 100%;
}

.product-eco .wrap {
  position: relative;
  min-width: 320px;
  max-width: 720px;
  margin: 0 auto;
}

.product-eco .bx-wrapper {
  width: 75%;
  margin: 0 auto;
}

.product-eco .bx-wrapper .bx-viewport {
  box-shadow: none;
  border: none;
  left: 0;
  background: none;
}

.product-eco .bx-wrapper .bx-prev {
  left: -44px;
  background: url(https://img.eduwill.net/Img2/Doro/Product/event_new/200123/mobile/btn_prev.png) no-repeat 0 0;
}

.product-eco .bx-wrapper .bx-next {
  right: -44px;
  background: url(https://img.eduwill.net/Img2/Doro/Product/event_new/200123/mobile/btn_next.png) no-repeat 0 0;
}

@media screen and (min-width: 720px) {
  .product-eco .bx-wrapper .bx-prev {
    left: -76px;
  }
  .product-eco .bx-wrapper .bx-next {
    right: -76px;
  }
}

.product-eco .bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  outline: 0;
  width: 34px;
  height: 34px;
  text-indent: -9999px;
  z-index: 9999;
  background-size: cover;
}

@media screen and (min-width: 720px) {
  .product-eco .bx-wrapper .bx-controls-direction a {
    width: 56px;
    height: 56px;
    margin-top: -28px;
  }
}

.product-eco .section-title {
  position: relative;
  background: url(https://img.eduwill.net/Img2/Doro/Product/event_new/200123/mobile/bg_title.jpg) no-repeat 50% 0;
  background-size: cover;
}

.product-eco .section-price {
  background-color: #fff;
  padding-bottom: 10%;
}

@media screen and (min-width: 768px) {
  .product-eco .section-price {
    padding-bottom: 84px;
  }
}

.product-eco .section-price .ico_discount {
  width: 81.25%;
  margin: 0 auto 0;
}

.product-eco .section-price .m_basic_box .ico_discount {
  margin-bottom: 3%;
}

.product-eco .section-price .m_basic_box .price_box .box.info .text {
  margin-top: 5px;
}

.product-eco .section-price .discount_box {
  border: 4px solid #26202b;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
}

.product-eco .section-price .discount_box .ico_discount {
  margin-top: 5%;
}

.product-eco .section-price .discount_box .subject {
  background-color: #26202b;
  display: block;
  color: #fff;
  font-weight: 700;
  line-height: 120%;
  font-family: "Noto Sans KR", Sans-Serif;
  padding: 10px 0;
}

@media screen and (min-width: 720px) {
  .product-eco .section-price .discount_box .subject {
    font-size: 40px;
  }
}

@media screen and (max-width: 719px) {
  .product-eco .section-price .discount_box .subject {
    font-size: 5.55556vw;
  }
}

.product-eco .section-price .discount_box .subject .btn_go {
  display: inline-block;
  padding: 5px 15px;
  color: #202020;
  background-color: #fff;
  font-weight: 700;
  font-family: "Noto Sans KR", Sans-Serif;
  border-radius: 50px;
  margin-left: 10px;
}

@media screen and (min-width: 720px) {
  .product-eco .section-price .discount_box .subject .btn_go {
    font-size: 36px;
  }
}

@media screen and (max-width: 719px) {
  .product-eco .section-price .discount_box .subject .btn_go {
    font-size: 5vw;
  }
}

.product-eco .section-price .discount_box .price_box {
  display: table;
  width: 100%;
}

.product-eco .section-price .discount_box .price_box .box {
  display: table-cell;
  vertical-align: middle;
  letter-spacing: -1px;
  width: 50%;
  padding: 10px 0 15px;
}

.product-eco .section-price .discount_box .price_box .box:nth-child(1) .price {
  position: relative;
  color: #c5c5c5;
  font-weight: 700;
  font-family: "Noto Sans KR", Sans-Serif;
}

@media screen and (min-width: 720px) {
  .product-eco .section-price .discount_box .price_box .box:nth-child(1) .price {
    font-size: 36px;
  }
}

@media screen and (max-width: 719px) {
  .product-eco .section-price .discount_box .price_box .box:nth-child(1) .price {
    font-size: 5vw;
  }
}

.product-eco .section-price .discount_box .price_box .box:nth-child(1) .price strong {
  color: #c5c5c5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (min-width: 720px) {
  .product-eco .section-price .discount_box .price_box .box:nth-child(1) .price strong {
    font-size: 44px;
  }
}

@media screen and (max-width: 719px) {
  .product-eco .section-price .discount_box .price_box .box:nth-child(1) .price strong {
    font-size: 6.11111vw;
  }
}

.product-eco .section-price .discount_box .price_box .box:nth-child(1) .price .line {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-25%);
}

.product-eco .section-price .discount_box .price_box .box.info .text_ticket {
  color: #202020;
  font-family: "Noto Sans KR", Sans-Serif;
  margin-bottom: 2px;
}

@media screen and (min-width: 720px) {
  .product-eco .section-price .discount_box .price_box .box.info .text_ticket {
    font-size: 24px;
  }
}

@media screen and (max-width: 719px) {
  .product-eco .section-price .discount_box .price_box .box.info .text_ticket {
    font-size: 3.33333vw;
  }
}

.product-eco .section-price .discount_box .price_box .box.info .price {
  color: #ef0000;
  text-align: center;
  font-weight: 700;
  font-family: "Noto Sans KR", Sans-Serif;
}

@media screen and (min-width: 720px) {
  .product-eco .section-price .discount_box .price_box .box.info .price {
    font-size: 36px;
  }
}

@media screen and (max-width: 719px) {
  .product-eco .section-price .discount_box .price_box .box.info .price {
    font-size: 5vw;
  }
}

.product-eco .section-price .discount_box .price_box .box.info .price strong {
  color: #ef0000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (min-width: 720px) {
  .product-eco .section-price .discount_box .price_box .box.info .price strong {
    font-size: 44px;
  }
}

@media screen and (max-width: 719px) {
  .product-eco .section-price .discount_box .price_box .box.info .price strong {
    font-size: 6.11111vw;
  }
}

.product-eco .section-price .discount_box .price_box .box.info .text {
  letter-spacing: -1px;
  color: #999;
}

@media screen and (min-width: 720px) {
  .product-eco .section-price .discount_box .price_box .box.info .text {
    font-size: 24px;
  }
}

@media screen and (max-width: 719px) {
  .product-eco .section-price .discount_box .price_box .box.info .text {
    font-size: 3.33333vw;
  }
}

.product-eco .section-intro1 {
  background-color: #ecf6ff;
}

.product-eco .section-intro2 {
  background-color: #ecf6ff;
}

.product-eco .section-winner {
  background-color: #ecf6ff;
  padding-bottom: 10%;
}

@media screen and (min-width: 768px) {
  .product-eco .section-winner {
    padding-bottom: 84px;
  }
}

.product-eco .section-winner .bxslide_box {
  width: 100%;
  overflow: hidden;
}

.product-eco .section-reason-title {
  background-color: #353f52;
}

.product-eco .section-reason1 {
  background-color: #f7f7f7;
}

.product-eco .section-reason2 {
  background-color: #fff;
}

.product-eco .section-reason3 {
  background-color: #f7f7f7;
}

.product-eco .section-reason4 {
  background-color: #fff;
}

.product-eco .section-reason5 {
  background-color: #f7f7f7;
}
/*# sourceMappingURL=mobile.css.map */