@import "abstracts/mixins";  
@import "abstracts/extend";  
@import "abstracts/variables";  

@import "base/animation";  
@import "base/common";  


// .bottom_fix_btn{display:none;}
.product-eco{
	.section{
		&-top-banner{
			background-color: #ffbe00;
		}

		&-visual{
			@include bg($url: '#{$img-path}/mobile/bg_visual.jpg', $size: cover);
			background-position:50% 100%;
		}
	}

	.land{
		&-benefit{
			.list-group ul li.wide{width: 98%;}
		}
		&-price{
			.btn-apply{
				&:before{ top:55% !important; right:0 !important; }
				@include pointer(50%, 10%, 38px, 43px, 12, bounce);
			}

			.item-group-price .after-price{	@include vw(42px);}
		}

		&-provide{
			background-image:none;
			background-color:#6829a5;
			&:after{background-image:url('#{$img-path}/mobile/icon_provide.png');}
			.list-group ul li{
				background-color: #6829a5;
    			border: 1px solid #9a5e
			}
			.list-text{
				color:#ae97cc;	
			}
		}

		&-reason-title{
			@include rem(padding-top, 100px);
		}

		&-teacher{
			.slick-arrow{top:4%;}
		}

		&-network{
			background:none;
		}

		&-case{
			.wrap{
				padding:0;
				.title{
					@include rem(padding,0 50px 0 50px);
				}
			}
		}
		&-bookevent{
			background-color:#fcf8eb;
		}
	}
}

.eco-2935{
	.land-banner{
		background-color:#fcf8eb;
	}
}
