@{
    String platform = ("W".Equals(ViewBag.PlatformCd))? "pc": "mobile";
    String link1 = ("W".Equals(ViewBag.PlatformCd)) ? "//nrg.eduwill.net/Single/SingleDetail?mIdx=130" : "//brand.eduwill.net/academy/sugang/SingleDetail.will?code=nrg&progress=W&productCd=22G0SK3Y1A&mIdx=130";
    String link2 = ("W".Equals(ViewBag.PlatformCd)) ? "//nrg.eduwill.net/Single/SingleDetail?mIdx=131" : "//brand.eduwill.net/academy/sugang/SingleDetail.will?code=nrg&progress=W&productCd=22G0SK3Y1A&mIdx=131";
}

@*
@if ("W".Equals(ViewBag.PlatformCd)){}
*@

<div class="promotion">
    <div class="sector-title">
        <div class="wrap-full">
            <p class="title-teacher"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220105/@platform/title_teacher.png" alt="임지혜"></p>
            <p class="title-1"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220105/@platform/title_1.png" alt="공시생 여러분"></p>
            <p class="title-2"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220105/@platform/title_2.png" alt="임지혜쌤이 국어 만점 책임진답니다!"></p>
            @if ("M".Equals(ViewBag.PlatformCd)){
                <p class="title-6"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220105/mobile/title_6.png" alt=""></p>
            }
            <p class="title-3"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220105/@platform/title_3.png" alt="지혜로운 소문"></p>
            <p class="title-4"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220105/@platform/title_4.png" alt="기적의 모의고사 개강기념 이벤트"></p>
            <p class="title-5"><img src="//img.eduwill.net/eduwill/img/2022/G/event/220105/@platform/title_5.png" alt="고 퀄리티 명품 모의고사! 실전 모의고사 30회, 600문제 수록!"></p>
        </div>
    </div>

    <div class="sector-apply">
        <div class="wrap">
            @if ("W".Equals(ViewBag.PlatformCd)){
                <p class="apply-title">기적의 모의고사 시리즈 1월 전격개강!</p>
            }
            <div class="apply-list">
                <div class="list">
                    <a href="@link1" target="_blank">
                        <div class="box">
                            <div class="desc">
                                <strong class="flag">기적의 모의고사 1단계</strong>
                                <strong>20일 요약하는 모의고사</strong>
                            </div>
                            <div class="detail">
                                <div class="detail-title">1.3(월) 개강</div>
                                <div class="detail-apply">바로 수강신청</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="list">
                    <a href="@link2" target="_blank">
                        <div class="box">
                            <div class="desc">
                                <strong class="flag">기적의 모의고사 2단계</strong>
                                <strong>15일 단원별 모의고사</strong>
                            </div>
                            <div class="detail">
                                <div class="detail-title">2.7(월) 개강</div>
                                <div class="detail-apply">바로 수강신청</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="list list-soon">@* list-soon : 개강 예정 *@
                    <a href="javascript:void(0);">
                        <div class="box">
                            <div class="desc">
                                <strong class="flag">기적의 모의고사 3단계</strong>
                                <strong>30일 기적의 모의고사</strong>
                            </div>
                            <div class="detail">
                                <div class="detail-title">3월 <span class="only-pc">개강</span></div>
                                <div class="detail-apply">개강 예정</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220105/@platform/apply_text.png" alt="역시 지혜답다는 소문이 폴폴~ 임지혜 교수님 특강 소문내고 모의고사 + 수강할인 받자! 국어만점 학습법 지혜로운 소문의 정체는?">
        </div>
    </div>

    <div class="sector-info info-1">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220105/@platform/info_1.jpg" alt="첫번째 지혜">
        </div>
    </div>

    <div class="sector-info info-2">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220105/@platform/info_2.jpg" alt="두번째 지혜">
        </div>
    </div>

    <div class="sector-info info-3">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220105/@platform/info_3.jpg" alt="세번째 지혜">
        </div>
    </div>

    <div class="sector-band">
        <div class="wrap">
            <img src="//img.eduwill.net/eduwill/img/2022/G/event/220105/@platform/band.jpg" alt="기적의 모의고사 강의는 노량진학원에서 진행됩니다">
        </div>
    </div>

    <div id="sectorRumor">
        @* 소문내기 이벤트는 여기에 적용 부탁드립니다. *@
    </div>
</div>


<script type="text/javascript">
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
    var str = 'event.eduwill.net';
    var checkUrl = url.indexOf(str);

    $(function(){
        frontInit();
    });

    function frontInit(){
        pageMove('.page-move');
        titleEvent();
    }

    function titleEvent(){
        var promotionTitle = $('.sector-title');

        TweenMax.fromTo( promotionTitle.find('.title-teacher'), .6, { opacity: 0, x: -100 }, { opacity: 1, x: 0, delay: .2, ease: Sine.easeOut });
        TweenMax.fromTo( promotionTitle.find('.title-1'), .3, { opacity: 0, x: 50, y: -20 }, { opacity: 1, x: 0, y: 0, delay: .5, ease: Back.easeOut.config(1) });
        TweenMax.fromTo( promotionTitle.find('.title-2'), .3, { opacity: 0, x: 50, y: -20 }, { opacity: 1, x: 0, y: 0, delay: .6, ease: Back.easeOut.config(1) });
        if( isMobile ){
            TweenMax.fromTo( promotionTitle.find('.title-6'), .3, { opacity: 0, x: 50, y: -20 }, { opacity: 1, x: 0, y: 0, delay: .7, ease: Back.easeOut.config(1) });
        }
        TweenMax.fromTo( promotionTitle.find('.title-3'), .5, { opacity: 0, scale: 0 }, { opacity: 1, scale: 1, delay: .8, ease: Back.easeOut.config(1) });
        TweenMax.fromTo( promotionTitle.find('.title-4'), .6, { opacity: 0, x: 50 }, { opacity: 1, x: 0, delay: 1.0, ease: Power2.easeOut });
        TweenMax.fromTo( promotionTitle.find('.title-5'), .6, { opacity: 0, x: 50 }, { opacity: 1, x: 0, delay: 1.2, ease: Power2.easeOut });
    }
</script>
