@{
	string platform = (string)ViewBag.platformCd == "W" ? "pc" : "mobile";
}
<link rel="stylesheet" href="//img.eduwill.net/eduwill/dev/css/common/eduf.css">
<div id="contents" class="promotion">
	@if ("W".Equals(ViewBag.PlatformCd)){
		<div class="acer-wing">
			<div class="wing-title"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/pc/quick_acer.png" alt=""></div>
			<div class="wing-list">
				<a href="#sectorAcer" class="page-move">
					에듀윌, 쉽고 빠른<br>
					<strong>합격을 증명하다</strong>
				</a>
			</div>
			<div class="wing-list">
				<a href="#sectorSystem" class="page-move">
					에듀윌 학습 시스템의<br>
					<strong>우수성을 입증하다</strong>
				</a>
			</div>
			<div class="wing-list">
				<a href="#sectorContent" class="page-move">
					에듀윌이 엄선한<br>
					<strong>합격 컨텐츠</strong>
				</a>
			</div>
			<div class="wing-list">
				<a href="#sectorEvent" class="page-move">
					<strong>퀴즈풀고 선물받자</strong>
				</a>
			</div>
		</div>
	}
	@* <div class="fix-apply">
		<div class="wrap">
			<a href="#sectorEvent" class="page-move icon-pointer">
				<p class="winner-person">합격자 수 1,924% 증가!</p>
				<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/fix_apply.png" alt="">
			</a>
		</div>
	</div> *@

	<div class="sector-title">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/title.png" alt="">
			<a href="#sectorEvent" class="page-move btn-action icon-pointer">
				<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/btn_action.png" alt="">
			</a>
		</div>
	</div>

	<div class="sector-info-1">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/info_1.png" alt="">
		</div>
	</div>

	<div class="sector-info-2">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/info_2.jpg" alt="">
		</div>
	</div>

	<div class="sector-bar-1">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/bar_1.png" alt="">
		</div>
	</div>

	<div id="sectorAcer" class="sector-acer-1">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/acer_1.jpg" alt="">
			<div class="winner-contents">
				<div class="winner-list"></div>
			</div>
		</div>
	</div>

	<div class="sector-acer-2">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/acer_2.jpg" alt="">
		</div>
	</div>

	<div class="sector-acer-3">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/acer_3.jpg" alt="">
		</div>
	</div>

	<div class="sector-acer-4">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/acer_4.jpg" alt="">
		</div>
	</div>

	<div class="sector-acer-5">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/acer_5.jpg" alt="">
		</div>
	</div>

	<div class="sector-bar-2">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/bar_2.png" alt="">
		</div>
	</div>

	<div id="sectorSystem" class="sector-system-1">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/system_1.jpg" alt="">
			<div class="slider" data-slide="system">
				<div class="col"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/pc/system_1_slide_1.png" alt=""></div>
				<div class="col"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/pc/system_1_slide_2.png" alt=""></div>
				<div class="col"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/pc/system_1_slide_3.gif" alt=""></div>
			</div>
		</div>
	</div>

	<div class="sector-system-2">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/system_2.jpg" alt="">
			<div class="slider-set">
				<div class="col"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/system_2_slide_1.png" alt=""></div>
				<div class="col"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/system_2_slide_2.png" alt=""></div>
				<div class="col"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/system_2_slide_3.png" alt=""></div>
				<div class="col"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/system_2_slide_4.png" alt=""></div>
				<div class="col"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/system_2_slide_5.png" alt=""></div>
			</div>
			@if ("W".Equals(ViewBag.PlatformCd)){
			<div class="slider-paging">
				<div class="row">1. 실제 시험과 동일한 문제 출제 시스템</div>
				<div class="row">2. 직렬별 경쟁자 대비 내 위치 확인</div>
				<div class="row">3. 문항별 출제 분석으로 과목 성취도 파악   </div>
				<div class="row">4. 맞춤 성적 분석으로 개인 학습 컨설팅 제공  </div>
				<div class="row">5. 과목별 무료 해설 특강으로 완벽 마무리</div>
			</div>
			}
		</div>
	</div>

	<div class="sector-system-3">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/system_3.jpg" alt="">
			<div class="slider" data-slide="system">
				<div class="col"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/pc/system_3_slide_1.png" alt=""></div>
				<div class="col"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/pc/system_3_slide_2.png" alt=""></div>
				<div class="col"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/pc/system_3_slide_3.png" alt=""></div>
			</div>
		</div>
	</div>

	<div class="sector-system-4">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/system_4.jpg" alt="">
		</div>
		<div class="wrap-full">
			<div class="slider-contents">
				<div class="slider" data-slide="lecture">
					<div class="slide-item">
						<div class="lecture-info">
							<div class="flag"><img src="//img.eduwill.net/eduwill/img/2021/0/lecture/211001/@platform/flag_new.png" alt="NEW"></div>
							<div class="title-group">
								<div class="lecture-title">행정학시험분석시험험험험</div>
								<div class="subject">행정학개론</div>
								<div class="name">윤세훈</div>
							</div>

							<div class="teacher-img">
								<img src="https://img.eduwill.net/Img2/teacherPageExt/imgTemp/20210628193230589.png" alt="윤세훈 교수 이미지">
							</div>

							<div class="hover">
								<a href="javascript:;">
									<div class="tag-subject">행정학개론</div>
									<div class="tag-name">윤세훈</div>
									<div class="tag-desc">
										강좌소개강좌소개강좌소개강좌소개강좌소개강좌소개강좌소개
										강좌소개강좌소개강좌소개강좌소개강좌소개강좌소개강좌소개강좌소개
									</div>
									<div class="action">
										<button>신청하기</button>
									</div>
								</a>
							</div>
							
							@if ("M".Equals(ViewBag.PlatformCd)){
								<img src="//img.eduwill.net/eduwill/img/2021/0/lecture/211001/mobile/blank.png" alt="">
							}
						</div>
						<p class="caption"><span>[특강1번가]</span> 윤세훈 군무원 행정학 시험분석 안내 및 개괄  정리</p>
					</div>

					<div class="slide-item">
						<div class="lecture-info">
							<div class="flag"><img src="//img.eduwill.net/eduwill/img/2021/0/lecture/211001/@platform/flag_new.png" alt="NEW"></div>
							<div class="title-group">
								<div class="lecture-title">행정학시험분석시험험험험</div>
								<div class="subject">행정학개론</div>
								<div class="name">윤세훈</div>
							</div>

							<div class="teacher-img">
								<img src="https://img.eduwill.net/Img2/teacherPageExt/imgTemp/20210628193230589.png" alt="윤세훈 교수 이미지">
							</div>

							<div class="hover">
								<a href="javascript:;">
									<div class="tag-subject">행정학개론</div>
									<div class="tag-name">윤세훈</div>
									<div class="tag-desc">
										강좌소개강좌소개강좌소개강좌소개강좌소개강좌소개강좌소개
										강좌소개강좌소개강좌소개강좌소개강좌소개강좌소개강좌소개강좌소개
									</div>
									<div class="action">
										<button>신청하기</button>
									</div>
								</a>
							</div>
							
							@if ("M".Equals(ViewBag.PlatformCd)){
								<img src="//img.eduwill.net/eduwill/img/2021/0/lecture/211001/mobile/blank.png" alt="">
							}
						</div>
						<p class="caption"><span>[특강1번가]</span> 윤세훈 군무원 행정학 시험분석 안내 및 개괄  정리</p>
					</div>

					<div class="slide-item">
						<div class="lecture-info">
							<div class="flag"><img src="//img.eduwill.net/eduwill/img/2021/0/lecture/211001/@platform/flag_new.png" alt="NEW"></div>
							<div class="title-group">
								<div class="lecture-title">행정학시험분석시험험험험</div>
								<div class="subject">행정학개론</div>
								<div class="name">윤세훈</div>
							</div>

							<div class="teacher-img">
								<img src="https://img.eduwill.net/Img2/teacherPageExt/imgTemp/20210628193230589.png" alt="윤세훈 교수 이미지">
							</div>

							<div class="hover">
								<a href="javascript:;">
									<div class="tag-subject">행정학개론</div>
									<div class="tag-name">윤세훈</div>
									<div class="tag-desc">
										강좌소개강좌소개강좌소개강좌소개강좌소개강좌소개강좌소개
										강좌소개강좌소개강좌소개강좌소개강좌소개강좌소개강좌소개강좌소개
									</div>
									<div class="action">
										<button>신청하기</button>
									</div>
								</a>
							</div>
							
							@if ("M".Equals(ViewBag.PlatformCd)){
								<img src="//img.eduwill.net/eduwill/img/2021/0/lecture/211001/mobile/blank.png" alt="">
							}
						</div>
						<p class="caption"><span>[특강1번가]</span> 윤세훈 군무원 행정학 시험분석 안내 및 개괄  정리</p>
					</div>

					<div class="slide-item">
						<div class="lecture-info">
							<div class="flag"><img src="//img.eduwill.net/eduwill/img/2021/0/lecture/211001/@platform/flag_new.png" alt="NEW"></div>
							<div class="title-group">
								<div class="lecture-title">행정학시험분석시험험험험</div>
								<div class="subject">행정학개론</div>
								<div class="name">윤세훈</div>
							</div>

							<div class="teacher-img">
								<img src="https://img.eduwill.net/Img2/teacherPageExt/imgTemp/20210628193230589.png" alt="윤세훈 교수 이미지">
							</div>

							<div class="hover">
								<a href="javascript:;">
									<div class="tag-subject">행정학개론</div>
									<div class="tag-name">윤세훈</div>
									<div class="tag-desc">
										강좌소개강좌소개강좌소개강좌소개강좌소개강좌소개강좌소개
										강좌소개강좌소개강좌소개강좌소개강좌소개강좌소개강좌소개강좌소개
									</div>
									<div class="action">
										<button>신청하기</button>
									</div>
								</a>
							</div>
							
							@if ("M".Equals(ViewBag.PlatformCd)){
								<img src="//img.eduwill.net/eduwill/img/2021/0/lecture/211001/mobile/blank.png" alt="">
							}
						</div>
						<p class="caption"><span>[특강1번가]</span> 윤세훈 군무원 행정학 시험분석 안내 및 개괄  정리</p>
					</div>

					<div class="slide-item">
						<div class="lecture-info">
							<div class="flag"><img src="//img.eduwill.net/eduwill/img/2021/0/lecture/211001/@platform/flag_new.png" alt="NEW"></div>
							<div class="title-group">
								<div class="lecture-title">행정학시험분석시험험험험</div>
								<div class="subject">행정학개론</div>
								<div class="name">윤세훈</div>
							</div>

							<div class="teacher-img">
								<img src="https://img.eduwill.net/Img2/teacherPageExt/imgTemp/20210628193230589.png" alt="윤세훈 교수 이미지">
							</div>

							<div class="hover">
								<a href="javascript:;">
									<div class="tag-subject">행정학개론</div>
									<div class="tag-name">윤세훈</div>
									<div class="tag-desc">
										강좌소개강좌소개강좌소개강좌소개강좌소개강좌소개강좌소개
										강좌소개강좌소개강좌소개강좌소개강좌소개강좌소개강좌소개강좌소개
									</div>
									<div class="action">
										<button>신청하기</button>
									</div>
								</a>
							</div>
							
							@if ("M".Equals(ViewBag.PlatformCd)){
								<img src="//img.eduwill.net/eduwill/img/2021/0/lecture/211001/mobile/blank.png" alt="">
							}
						</div>
						<p class="caption"><span>[특강1번가]</span> 윤세훈 군무원 행정학 시험분석 안내 및 개괄  정리</p>
					</div>
				</div>
			</div>
			<a href="https://event.eduwill.net/Lecture/G/Lecture1st" target="_blank" class="btn-lecture icon-pointer">
				<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/btn_lecture.png" alt="">
			</a>
		</div>
	</div>

	<div class="sector-bar-3 arrow">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/bar_3.png" alt="">
		</div>
	</div>

	<div id="sectorContent" class="sector-teacher">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/teacher.jpg" alt="">
		</div>
	</div>

	<div class="sector-book">
		<div class="wrap">
			<div class="item">
				<span class="eco-3223" data-eduwill-eco-content="3223"></span>
				<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/book_title.jpg" alt="">
			</div>
			<div class="video-inner">
				<a href="javascript:;" class="eduwill-video-play">
					<img src="//img.eduwill.net/eduwill/img/2021/G/event/211008/@platform/thumbnail.jpg" alt="">
				</a>
				<video width="100%" height="100%" controls poster="" class="eduwill-video-player">
					<source src="" type="video/mp4">
				</video>
			</div>
			<a href="https://event.eduwill.net/Event/2021/G/TargetPoint" target="_blank" class="btn-point icon-pointer">
				<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/btn_point.png" alt="">
			</a>
		</div>
	</div>

	<div class="sector-bestseller">
		<div class="wrap">
			<div class="item">
				<span class="eco-3223" data-eduwill-eco-content="3223"></span>
				<a href="javascript:popupOpen('.rationale-dimmed', 'rationalePopup');" class="btn-bestseller"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/pc/btn_bestseller.png" alt=""></a>
				<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/bestseller.png" alt="">
			</div>
			<div class="item">
				<a href="javascript:edufLayerVideoOpen('https://tv.naver.com/embed/23150821?autoPlay=true');" class="btn-video video-1"><span class="sr-only">김창준 합격생 영상</span></a>
				<a href="javascript:edufLayerVideoOpen('https://tv.naver.com/embed/23150833?autoPlay=true');" class="btn-video video-2"><span class="sr-only">강윤지 합격생 영상</span></a>
				<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/book_review.png" alt="">
			</div>
		</div>
	</div>

	<div class="sector-curriculum">
		<div class="wrap">
			@if ("W".Equals(ViewBag.PlatformCd)){
			<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/pc/curriculum_title.jpg" alt="">
			<div class="item">
				<img alt="" src="//img.eduwill.net/eduwill/img/2022/0/event/220107/pc/curriculum.png" />
				<div class="curriculum-step">
					<div class="step step-1 on">
						<div class="step-box">
							<p class="label-title">1회독</p>
							<dl>
								<dt>입문이론</dt>
								<dd>초시생을 위한<br>입문강의</dd>
							</dl>
						</div>
					</div>
					<div class="step step-2">
						<div class="step-box">
							<p class="label-title">2회독</p>
							<dl>
								<dt>기본이론</dt>
								<dd>학습 효과 극대화를<br>위한 바탕 정리</dd>
							</dl>
						</div>
					</div>
					<div class="step step-3">
						<div class="step-box">
							<p class="label-title">3회독</p>
							<dl>
								<dt>복습강의</dt>
								<dd>기본 점수 보장하는<br>전체 이론 정리</dd>
							</dl>
						</div>
					</div>
					<div class="step step-4">
						<div class="step-box">
							<p class="label-title">4회독</p>
							<dl>
								<dt>심화이론</dt>
								<dd>최신 기출<br>심층 분석 및 반영</dd>
							</dl>
						</div>
					</div>
					<div class="step step-5">
						<div class="step-box">
							<p class="label-title">5회독</p>
							<dl>
								<dt>기출 문제풀이</dt>
								<dd>문제 유형 파악 &amp;<br>분석을 통한 점수 향상</dd>
							</dl>
						</div>
					</div>
					<div class="step step-6">
						<div class="step-box">
							<p class="label-title">6회독</p>
							<dl>
								<dt>단원별 문제풀이</dt>
								<dd>고득점 획득을 위한<br>변형 문항 분석</dd>
							</dl>
						</div>
					</div>
					<div class="step step-7">
						<div class="step-box">
							<p class="label-title">7회독</p>
							<dl>
								<dt>마무리 핵심요약</dt>
								<dd>시험 직전<br>최종 점검</dd>
							</dl>
						</div>
					</div>
					<div class="step step-8">
						<div class="step-box">
							<p class="label-title">8회독</p>
							<dl>
								<dt>국가직 대비<br>문제풀이</dt>
								<dd>예상문제로<br>최종점검</dd>
							</dl>
						</div>
					</div>
					<div class="step step-9">
						<div class="step-box">
							<p class="label-title">9회독</p>
							<dl>
								<dt>지방직/서울시<br />
									대비 문제풀이
								</dt>
								<dd>예상문제로<br />
									최종 점검
								</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
			} else {
				<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/mobile/curriculum.jpg" alt="">
			}
			<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/curriculum_review.jpg" alt="">
		</div>
	</div>

	<div class="sector-banner">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/banner_title.jpg" alt="">
			<div class="group">
				<div class="grid">
					<div class="col">
						<a href="https://event.eduwill.net/Freebook/2020/G/Freebook_201008" target="_blank">
							<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/banner_1.jpg" alt="에듀윌 기초 입문서 + 강의 무료 배포!">
						</a>
					</div>
					<div class="col right">
						<a href="https://event.eduwill.net/Freebook/0/Freebook_210906" target="_blank">
							<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/banner_2.jpg" alt="공무원 플래너 +한정판 합격템 5종 무료!">
						</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="wrap-full">
			<div data-eduwill-eco-content="3195"></div>
		</div>
	</div>

	<div class="sector-branding">
		<div class="wrap">
			<div class="branding-text-group">
				<div class="branding-title">
					4년 연속 1위<em>*</em><br>
					에듀윌 공무원
				</div>
				<div class="branding-list">
					<p>6개월 만에 100% 전원 합격권 진입!</p>
					<p>9급·7급 수석 합격자 배출 교수진!</p>
					<p>합격자 수 1,800%증가!</p>
					<p><strong data-eduwill-eco-content="3223"></strong>개월  베스트셀러 1위 에듀윌 교재!</p>
				</div>
				<div class="grounds-text">* 2022/2021 대한민국 브랜드만족도, 2020/2019 한국브랜드만족지수 공무원 교육 1위</div>
			</div>
		</div>
	</div>

	<div id="sectorEvent" class="sector-event">
		<div class="wrap">
			<div class="item">
				<div class="date-text">1/10~17일 까지만 특별 제공</div>
				<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/event_1.png" alt="">
			</div>
			<div class="event-info">
				<p>※ 적용 상품에 한 함, 상품 하단 이벤트 유의사항 참고</p>
				<ul>
					<li>참여 대상: 에듀윌 회원 누구나</li>
					<li>이벤트 기간 : 2022.01.10(월)~01.24(월)</li>
					<li>당첨자 발표 : 2022.02.03(목)</li>
				</ul>
				<p>※ 강의 할인권은 참여시 자동 발급(마이페이지&gt;할인권)되며, 와퍼 세트는 추첨 진행합니다.</p>
			</div>
			<div class="event-board">
				<div class="board-check">
					<div class="col">
						<input type="radio" name="quizCheck" id="chk1">
						<label for="chk1">아테네</label>
					</div>
					<div class="col">
						<input type="radio" name="quizCheck" id="chk2">
						<label for="chk2">아케르</label>
					</div>
					<div class="col">
						<input type="radio" name="quizCheck" id="chk3">
						<label for="chk3">아가씨</label>
					</div>
					<div class="col">
						<input type="radio" name="quizCheck" id="chk4">
						<label for="chk4">이케아</label>
					</div>
				</div>
				<button class="btn-action">정답 제출</button>
				<img src="//img.eduwill.net/eduwill/img/2022/0/event/220107/@platform/event_board.png" alt="">
			</div>
			<div class="grounds-text">* 해당 이벤트는 최초 1회만 참여가능하며, 정답 시 할인권은 자동으로 지급되며, 추첨 혜택은 당첨자 개별 연락 드립니다.</div>
		</div>
	</div>

	@* 소문내기 영역 *@
	<div id="sectorRumor"></div>
</div>

@* 베스트셀러 근거문구 에코 *@
<div class="eco-3595" data-eduwill-eco-content="3595"></div>

<script type="text/javascript" src="//img.eduwill.net/eduwill/live/libs/countUp/waypoints.min.js"></script>
<script type="text/javascript" src="//img.eduwill.net/eduwill/live/libs/countUp/jquery.counterup.min.js"></script>
<script type="text/javascript">
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
	var agent = navigator.userAgent.toLowerCase();
	var trident = navigator.userAgent.match(/Trident\/(\d.\d)/i);
	var url = window.location.href;
	var str = 'event.eduwill.net';
	var checkUrl = url.indexOf(str);

	$(function(){
		init();
	});

	function init(){
		winnerList();
		addEvent();
		scrollEvent();
		addSlider();
		videoEvent();
	};

	function addEvent(){
		pageMove('.page-move');

		function curriculumStep(){
			var delay = 1000;
			$('.sector-curriculum .step').each(function(i, e) {
				setTimeout(function() {
					$('.sector-curriculum .step').removeClass('on');
					$(e).toggleClass('on');
				}, i * delay);
			});
		}
			
		setInterval(function(){
			curriculumStep();
		}, 9000);
	}

	function scrollEvent(){
		$(window).on('scroll', function(){
			var wt = $(window).scrollTop();
			if( wt >= $('.sector-info-1').offset().top) {
				$('.acer-wing').fadeIn();
			} else {
				$('.acer-wing').fadeOut();
			}
		});
	}

	function addSlider(){
		$('.slider').each(function() {
			var _data = $(this).data('slide');
			var _arrows = false;
			var _slidesToShow = 1;
			var _dots = true;
			var _centerMode = false;
			var _variableWidth = false;
			var _focusOnSelect = false;
			var _pauseOnHover = false;

			if( _data == 'lecture' ){
				_dots = false;
				_arrows = true;
				_focusOnSelect = true;
				_pauseOnHover = true;

				if(!isMobile){
					_slidesToShow = 3;
					_centerMode = true;
					_variableWidth = true;
				}
			}
			$(this).slick({
				autoplay: true,
				autoplaySpeed: 3000,
				speed: 700,
				infinite: true,
				arrows: _arrows,
				slidesToShow: _slidesToShow,
				dots: _dots,
				centerMode: _centerMode,
				variableWidth: _variableWidth,
				focusOnSelect: _focusOnSelect,
				pauseOnHover: _pauseOnHover
			});

		});

		if(!isMobile){
			var $slider = $('.slider-set');
			if ($slider.length) {
				var currentSlide;
				var slidesCount;
				var sliderCounter = document.createElement('div');
				sliderCounter.classList.add('slick-counter');
				var updateSliderCounter = function(slick, currentIndex) {
					currentSlide = slick.slickCurrentSlide() + 1;
					slidesCount = slick.slideCount;
					$(sliderCounter).html('<strong>'+currentSlide +'</strong>' + '/ ' +slidesCount)
				};
				$slider.on('init', function(event, slick) {
					$slider.append(sliderCounter);
					updateSliderCounter(slick);
				});
				$slider.on('afterChange', function(event, slick, currentSlide) {
					updateSliderCounter(slick, currentSlide);
				});

				$slider.slick({
					vertical: true,
					autoplay: true,
					autoplaySpeed: 3000,
					speed: 700,
					infinite: true,
					arrows: false,
					slidesToShow: 1,
					dots: false,
					asNavFor: '.slider-paging',
				});
			}

			$('.slider-paging').slick({
				vertical: true,
				autoplay: true,
				autoplaySpeed: 3000,
				speed: 700,
				infinite: true,
				arrows: false,
				slidesToShow: 5,
				dots: false,
				asNavFor: '.slider-set',
				focusOnSelect: true,
			});
		} else {
			$('.slider-set').slick({
				autoplay: true,
				autoplaySpeed: 3000,
				speed: 700,
				infinite: true,
				slidesToShow: 1,
				dots: true
			});
		}
	}

	function videoEvent(){
		var obj = {
			a: '//pmp.eduwill.net/eduwillpmp/eduwill/flv/20211008/gov_event.mp4'
		};

		var playerSrc = [];
		for(var o in obj){
			playerSrc.push(obj[o]);
		};

		var videoOption = {
			playerSrc: playerSrc,
			preview: true,
			playerClass: 'eduwill-video-player',
			playerPlayClass: 'eduwill-video-play'
		};

		eduf.UI.Player(videoOption);
	}

	function winnerList(){
		var options = {
			jsonFileNm: 'G7C104202100_WINNER.min',
		};

		var _row;
		var _show;

		if ("@(ViewBag.platformCd)" == "M") {
			_row = 3;
			_show = 8;
		} else {
			_row = 5;
			_show = 8;
		}
		var slickOptions = {
			speed: 1000,
			slidesPerRow: _row,
			slidesToShow: _show,
		};

		eduf.UI.Winner('.winner-list', options, slickOptions);
	}
</script>
