@charset "UTF-8";
/* 컨텐츠 */
@media screen and (min-width: 530px) {
  .product-eco .teacher-list-box .col a .t-info .t-name {
    padding-right: 23px;
    background-size: 18px auto;
  }
}

.product-eco .ecoHide {
  display: none;
}

.product-eco .ecoShow {
  display: block;
}

.product-eco #edoContent1 .ecoCont0 {
  display: none;
}

.product-eco[data-device="pc"] p.plusIcon {
  position: absolute;
  top: -60px;
  left: 50%;
  width: 180px;
  height: 180px;
  margin-left: -90px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 103px;
  font-family: 'Roboto';
  font-weight: 500;
  background: #432767;
}

.product-eco[data-device="pc"] p.eventType {
  position: absolute;
  font-size: 60px;
  color: #fff;
  font-weight: 900;
  letter-spacing: -4px;
  font-family: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif;
}

.product-eco[data-device="pc"] p.eventType em {
  color: #05fbfa;
}

.product-eco[data-device="pc"] p.eventType.A {
  top: 107px;
  left: 181px;
}

.product-eco[data-device="pc"] p.eventType.B {
  bottom: 490px;
  left: 200px;
}

.product-eco[data-device="pc"] #edoContent1 #eduf-paragraph {
  margin-bottom: 0;
}

.product-eco[data-device="pc"] #edoContent1 .monthlyNumber2 {
  position: absolute;
  left: 157px;
  top: 260px;
  font-size: 37px;
  font-weight: 700;
  color: #222;
  letter-spacing: -2px;
  font-family: 'Roboto', 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif;
}

.product-eco[data-device="pc"] #edoContent1 .ecoContVisual {
  background: url("https://img.eduwill.net/eduwill/img/2021/Q/product/211224/pc/eco4327/ecoContVisual_bg.jpg") no-repeat 50% 50%;
  background-size: cover;
  padding-bottom: 200px;
}

.product-eco[data-device="pc"] #edoContent1 .ecoContVisual .btn-reason {
  top: 60px;
  right: 10px;
  color: #000;
  border-color: #000;
}

.product-eco[data-device="pc"] #edoContent1 .ecoContVisual .btn-reason::after {
  border-color: #000;
}

.product-eco[data-device="pc"] #edoContent1 .ecoContVisual .winner-contents {
  width: 900px;
  margin: 0 auto;
}

.product-eco[data-device="pc"] #edoContent1 .ecoContVisual .winner-contents .winner-list {
  -webkit-transform: perspective(240px) rotateX(35deg);
          transform: perspective(240px) rotateX(35deg);
}

.product-eco[data-device="pc"] #edoContent1 .ecoContVisual .winner-contents .winner-list p {
  margin: 5px 0;
  color: #222;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont1793 {
  padding-bottom: 120px;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont1793 .btn {
  position: absolute;
  left: 650px;
  top: 460px;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont1793 .btn:before {
  content: '';
  position: absolute;
  right: -13px;
  bottom: -20px;
  width: 57px;
  height: 65px;
  background: url(https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png) no-repeat 50% 50%;
  background-size: 100% auto;
  -webkit-animation: 0.3s slideupY ease-in-out infinite alternate;
  animation: 0.3s slideupY ease-in-out infinite alternate;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont1793 .slider1 {
  width: 1150px;
  overflow: hidden;
  margin: 50px auto 0 auto;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont1793 .slider1 .slick-slide .slide-item {
  margin: 0 5px;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont1793 .slider1 .slick-slide .slide-item img {
  width: 100%;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont1 .wrap {
  margin-top: 100px;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont1 .wrap .btn-reason {
  top: -68px;
  right: 43px;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont1 .wrap .item .teacher-list-box {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont1 .wrap .item .teacher-list-box .col {
  position: relative;
  width: 200px;
  height: 380px;
  margin: 0 25px 30px 0;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont1 .wrap .item .teacher-list-box .col img {
  width: 100%;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont1 .wrap .item .teacher-list-box .col.none:last-child {
  display: block;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont1 .wrap .item .teacher-list-box .col:nth-child(5n), .product-eco[data-device="pc"] #edoContent1 .ecoCont1 .wrap .item .teacher-list-box .col:nth-child(10n) {
  margin-right: 0 !important;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont1 .wrap .item .teacher-list-box .col a {
  display: block;
  width: 100%;
  height: 100%;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont1 .wrap .item .teacher-list-box .col a .t-info {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  text-align: left;
  line-height: 1;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont1 .wrap .item .teacher-list-box .col a .t-info div {
  line-height: 1;
  color: #222;
  letter-spacing: -1.5px;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont1 .wrap .item .teacher-list-box .col a .t-info div.t-subject {
  margin-bottom: 6px;
  font-size: 20px;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont1 .wrap .item .teacher-list-box .col a .t-info div.t-name {
  display: inline-block;
  padding-right: 30px;
  font-size: 20px;
  font-weight: 900;
  background: url("https://img.eduwill.net/eduwill/img/2021/Q/common/teacher/icon_home.png") right bottom no-repeat;
  background-size: 22px auto;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont1 .wrap .item .teacher-list-box .col a.btn-none {
  cursor: default;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont2 {
  background: #f8f6ff;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont2 .text {
  font-family: 'roboto';
  position: absolute;
  top: 362px;
  left: 177px;
  font-size: 35px;
  font-weight: 700;
  color: #222;
  line-height: 1;
  letter-spacing: -2px;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont2 .slide4327 {
  position: absolute;
  width: 1200px;
  bottom: 445px;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont2 .slide4327 .slick-dots {
  margin-top: -20px;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont2 .slide4327 .slick-dots li.slick-active button {
  background: #641ac9;
}

.product-eco[data-device="pc"] #edoContent1 .ecoTab {
  padding-bottom: 120px;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont3 {
  background: #f8f6ff;
  padding-bottom: 30px;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont3 .sliderCuric {
  margin-top: 70px;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont3 .sliderCuric img {
  margin: auto;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont4 .movie {
  position: absolute;
  bottom: 153px;
  right: 120px;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont5 {
  background: #432767;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont6 {
  background: url("https://img.eduwill.net/eduwill/img/2021/Q/product/211224/pc/eco4327/ecoCont6_bg.png") no-repeat center top;
}

.product-eco[data-device="pc"] #edoContent1 .ecoCont7 {
  background: #432767 url("https://img.eduwill.net/eduwill/img/2021/Q/product/211224/pc/eco4327/ecoCont7_bg.png") no-repeat center top;
}

.product-eco[data-device="pc"] #edoContent1 .ecoTab .tab-list {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.product-eco[data-device="pc"] #edoContent1 .ecoTab .tab-list .tab-item {
  width: 19.8%;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 17px 17px 0 0;
  background-color: #dbdbdb;
  color: #919191;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  line-height: 30px;
  letter-spacing: -2px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-eco[data-device="pc"] #edoContent1 .ecoTab .tab-list .tab-item.on {
  position: relative;
  z-index: 10;
  background-color: #641ac9;
  color: #fff;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.product-eco[data-device="pc"] #edoContent1 .ecoTab .tab-list .tab-item.on .f-color {
  color: #ffd40e;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.product-eco[data-device="pc"] #edoContent1 .ecoTab .tab-conts {
  margin-top: 0;
}

.product-eco[data-device="pc"] #edoContent1 .ecoTab .tab-cont {
  display: none;
  padding: 35px;
  border: 15px solid #641ac9;
  height: 670px;
  overflow: auto;
  font-size: 0;
}

.product-eco[data-device="pc"] #edoContent1 .ecoTab .tab-cont.on {
  display: block;
}

.product-eco[data-device="pc"] #edoContent1 .ecoTab .tab-cont img {
  width: 100%;
}

.product-eco[data-device="pc"][data-type="1101"] .slick-dots li.slick-active button, .product-eco[data-device="pc"][data-type="1100"] .slick-dots li.slick-active button, .product-eco[data-device="pc"][data-type="1800"] .slick-dots li.slick-active button {
  background: #ffbe00 !important;
}

.product-eco[data-device="pc"][data-type="1101"] #edoContent1 .ecoCont0, .product-eco[data-device="pc"][data-type="1100"] #edoContent1 .ecoCont0, .product-eco[data-device="pc"][data-type="1800"] #edoContent1 .ecoCont0 {
  display: block !important;
  background: #ffe000;
}

.product-eco[data-device="pc"][data-type="1101"] #edoContent1 .ecoCont1 .item, .product-eco[data-device="pc"][data-type="1100"] #edoContent1 .ecoCont1 .item, .product-eco[data-device="pc"][data-type="1800"] #edoContent1 .ecoCont1 .item {
  display: none !important;
}

.product-eco[data-device="pc"][data-type="1101"] #edoContent1 .ecoCont1 .ecoHide, .product-eco[data-device="pc"][data-type="1100"] #edoContent1 .ecoCont1 .ecoHide, .product-eco[data-device="pc"][data-type="1800"] #edoContent1 .ecoCont1 .ecoHide {
  display: block !important;
}

.product-eco[data-device="pc"][data-type="1101"] #edoContent1 .ecoCont1 .review, .product-eco[data-device="pc"][data-type="1100"] #edoContent1 .ecoCont1 .review, .product-eco[data-device="pc"][data-type="1800"] #edoContent1 .ecoCont1 .review {
  margin-top: -40px;
}

.product-eco[data-device="pc"][data-type="1101"] #edoContent1 .ecoCont7, .product-eco[data-device="pc"][data-type="1100"] #edoContent1 .ecoCont7, .product-eco[data-device="pc"][data-type="1800"] #edoContent1 .ecoCont7 {
  background: #790cdf url("https://img.eduwill.net/eduwill/img/2021/Q/product/211224/pc/1101/cont3_bg.png") no-repeat center top !important;
}

.product-eco[data-device="pc"][data-type="1101"] #edoContent1 .ecoCont7 p.plusIcon, .product-eco[data-device="pc"][data-type="1100"] #edoContent1 .ecoCont7 p.plusIcon, .product-eco[data-device="pc"][data-type="1800"] #edoContent1 .ecoCont7 p.plusIcon {
  background: #790cdf;
}

.product-eco[data-device="pc"][data-type="1101"] #edoContent1 .ecoCont7 p.eventType em, .product-eco[data-device="pc"][data-type="1100"] #edoContent1 .ecoCont7 p.eventType em, .product-eco[data-device="pc"][data-type="1800"] #edoContent1 .ecoCont7 p.eventType em {
  color: #ffe000;
}

.product-eco[data-device="pc"][data-type="1101"] #edoContent1 .ecoCont6, .product-eco[data-device="pc"][data-type="1100"] #edoContent1 .ecoCont6, .product-eco[data-device="pc"][data-type="1800"] #edoContent1 .ecoCont6 {
  display: none !important;
}

.product-eco[data-device="pc"][data-type="1101"] #edoContent1 .ecoCont8, .product-eco[data-device="pc"][data-type="1100"] #edoContent1 .ecoCont8, .product-eco[data-device="pc"][data-type="1800"] #edoContent1 .ecoCont8 {
  padding-bottom: 20px;
}

.product-eco[data-device="pc"][data-type="1101"] #edoContent1 .ecoCont8 .btn-refunds, .product-eco[data-device="pc"][data-type="1100"] #edoContent1 .ecoCont8 .btn-refunds, .product-eco[data-device="pc"][data-type="1800"] #edoContent1 .ecoCont8 .btn-refunds {
  position: absolute;
  bottom: 70px;
  right: 150px;
}

.product-eco[data-device="pc"][data-type="1101"] #edoContent1 .ecoCont8.ecoHide, .product-eco[data-device="pc"][data-type="1100"] #edoContent1 .ecoCont8.ecoHide, .product-eco[data-device="pc"][data-type="1800"] #edoContent1 .ecoCont8.ecoHide {
  display: block !important;
}

.product-eco[data-device="pc"][data-type="1101"] #edoContent1 .ecoCont8 .btn-text, .product-eco[data-device="pc"][data-type="1100"] #edoContent1 .ecoCont8 .btn-text, .product-eco[data-device="pc"][data-type="1800"] #edoContent1 .ecoCont8 .btn-text {
  position: absolute;
  right: 50px;
  top: 210px;
  display: inline-block;
  padding: 5px 20px 5px 10px;
  font-size: 14px;
  letter-spacing: -1px;
  border: 1px solid #222;
  color: #222;
  background: #fff;
}

.product-eco[data-device="pc"][data-type="1101"] #edoContent1 .ecoCont8 .btn-text::after, .product-eco[data-device="pc"][data-type="1100"] #edoContent1 .ecoCont8 .btn-text::after, .product-eco[data-device="pc"][data-type="1800"] #edoContent1 .ecoCont8 .btn-text::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 5px;
  height: 5px;
  margin-top: -2.5px;
  margin-left: -2.5px;
  border-width: 0;
  border-style: solid;
  border-color: #222;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom: none;
  border-left: none;
  margin-left: 0;
  left: auto;
  right: 7px;
}

.product-eco[data-device="pc"][data-type="1101"] #edoContent1 p.eventType.B {
  bottom: 422px;
  left: 200px;
}

.product-eco[data-device="pc"][data-type="1101"] #edoContent1 .ecoCont7 .ecoShow {
  display: none !important;
}

.product-eco[data-device="pc"][data-type="1101"] #edoContent1 .ecoCont7 .ecoHide {
  display: block !important;
}

.product-eco[data-device="mo"] p.plusIcon {
  position: absolute;
  left: 50%;
  top: -7.5vw;
  width: 25vw;
  height: 25vw;
  margin-left: -12.5vw;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 14.30556vw;
  font-family: 'Roboto';
  font-weight: 700;
  line-height: 1.38889vw;
  background: #432767;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] p.plusIcon {
    top: -54px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] p.plusIcon {
    width: 180px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] p.plusIcon {
    height: 180px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] p.plusIcon {
    margin-left: -90px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] p.plusIcon {
    font-size: 103px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] p.plusIcon {
    line-height: 10px;
  }
}

.product-eco[data-device="mo"] p.eventType {
  position: absolute;
  font-size: 8.05556vw;
  color: #fff;
  font-weight: 900;
  letter-spacing: -0.97222vw;
  line-height: 1.3;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] p.eventType {
    font-size: 58px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] p.eventType {
    letter-spacing: -7px;
  }
}

.product-eco[data-device="mo"] p.eventType em {
  color: #05fbfa;
}

.product-eco[data-device="mo"] p.eventType.A {
  top: 13.88889vw;
  left: 6.94444vw;
  right: 6.94444vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] p.eventType.A {
    top: 100px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] p.eventType.A {
    left: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] p.eventType.A {
    right: 50px;
  }
}

.product-eco[data-device="mo"] p.eventType.B {
  bottom: 62.5vw;
  left: 6.94444vw;
  right: 6.94444vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] p.eventType.B {
    bottom: 450px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] p.eventType.B {
    left: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] p.eventType.B {
    right: 50px;
  }
}

.product-eco[data-device="mo"] #edoContent1 .eco2912 {
  display: none;
}

.product-eco[data-device="mo"] #edoContent1 #eduf-paragraph {
  margin-bottom: 0 !important;
  height: auto !important;
}

.product-eco[data-device="mo"] #edoContent1 .monthlyNumber2 {
  position: absolute;
  left: 17.22222vw;
  top: 32.5vw;
  font-size: 2.91667vw;
  font-weight: 900;
  color: #2f2f2f;
  letter-spacing: -1px;
  font-family: 'Roboto', 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .monthlyNumber2 {
    left: 124px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .monthlyNumber2 {
    top: 234px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .monthlyNumber2 {
    font-size: 21px;
  }
}

.product-eco[data-device="mo"] #edoContent1 .ecoContVisual {
  background: url("https://img.eduwill.net/eduwill/img/2021/Q/product/211224/mobile/eco4328/ecoContVisual_bg.jpg") no-repeat 50% 50%;
  background-size: cover;
  overflow: hidden;
}

.product-eco[data-device="mo"] #edoContent1 .ecoContVisual .btn-reason {
  top: 7.5vw;
  right: 5vw;
  color: #000;
  border-color: #000;
}

.product-eco[data-device="mo"] #edoContent1 .ecoContVisual .btn-reason::after {
  border-color: #000;
}

.product-eco[data-device="mo"] #edoContent1 .ecoContVisual .btn {
  position: absolute;
  top: 6.94444vw;
  right: 0;
  width: 32.5vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoContVisual .btn {
    top: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoContVisual .btn {
    width: 234px;
  }
}

.product-eco[data-device="mo"] #edoContent1 .ecoContVisual .winner-contents {
  overflow: hidden;
  position: absolute;
  bottom: -37vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 36.11111vw;
  padding-bottom: 51.38889vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoContVisual .winner-contents {
    height: 260px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoContVisual .winner-contents {
    padding-bottom: 370px;
  }
}

.product-eco[data-device="mo"] #edoContent1 .ecoContVisual .winner-contents .winner-list {
  -webkit-transform: perspective(150px) rotateX(25deg);
          transform: perspective(150px) rotateX(25deg);
}

.product-eco[data-device="mo"] #edoContent1 .ecoContVisual .winner-contents .winner-list .slick-track {
  -webkit-transform: translate(0) !important;
      -ms-transform: translate(0) !important;
          transform: translate(0) !important;
}

.product-eco[data-device="mo"] #edoContent1 .ecoContVisual .winner-contents p {
  color: #3e3e3e;
  font-size: 2.5vw;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoContVisual .winner-contents p {
    font-size: 18px;
  }
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont1 .wrap {
  padding-top: 50px;
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont1 .wrap .btn-reason {
  top: 7vw;
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont1 .wrap .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 20px;
  padding: 0 6.94444vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoCont1 .wrap .item {
    padding: 0 50px;
  }
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont1 .wrap .item > a {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 5.55556vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoCont1 .wrap .item > a {
    margin-bottom: 40px;
  }
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont1 .wrap .item .teacher-list-box {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont1 .wrap .item .teacher-list-box .col {
  position: relative;
  width: 32%;
  margin: 0 2% 4% 0;
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont1 .wrap .item .teacher-list-box .col.none:last-child {
  display: none;
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont1 .wrap .item .teacher-list-box .col:nth-child(3n) {
  margin-right: 0;
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont1 .wrap .item .teacher-list-box .col a {
  display: block;
  width: 100%;
  height: 100%;
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont1 .wrap .item .teacher-list-box .col a .t-info {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  text-align: left;
  line-height: 1;
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont1 .wrap .item .teacher-list-box .col a .t-info div {
  line-height: 1;
  color: #222;
  letter-spacing: -1px;
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont1 .wrap .item .teacher-list-box .col a .t-info div.t-subject {
  font-size: 3vw;
  font-weight: 400;
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont1 .wrap .item .teacher-list-box .col a .t-info div.t-name {
  display: inline-block;
  padding-right: 20px;
  font-size: 3vw;
  font-weight: 900;
  background: url("https://img.eduwill.net/eduwill/img/2021/Q/common/teacher/icon_home.png") right bottom no-repeat;
  background-size: 11px auto;
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont1 .wrap .item .teacher-list-box .col a.btn-none {
  cursor: default;
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont2 {
  background: #f8f6ff;
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont2 .text {
  font-family: 'roboto';
  position: absolute;
  top: 53.61111vw;
  left: 15.97222vw;
  font-size: 3.88889vw;
  font-weight: 700;
  color: #222;
  line-height: 1;
  letter-spacing: -2px;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoCont2 .text {
    top: 386px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoCont2 .text {
    left: 115px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoCont2 .text {
    font-size: 28px;
  }
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont3 {
  padding-bottom: 0;
  background: #f8f6ff url("https://img.eduwill.net/eduwill/img/2021/Q/product/211224/mobile/eco4328/ecoCont3_bg.jpg") no-repeat center top;
  background-size: cover;
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont5 {
  background: #f9f7ff;
  padding-bottom: 16.66667vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoCont5 {
    padding-bottom: 120px;
  }
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont5 .slide .slick-dots .slick-active button {
  background: #ec39c7;
}

.product-eco[data-device="mo"] #edoContent1 .ecoTab {
  padding-bottom: 26.38889vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoTab {
    padding-bottom: 190px;
  }
}

.product-eco[data-device="mo"] #edoContent1 .ecoTab .slick-dots li.slick-active button {
  background: #ec39c7;
}

.product-eco[data-device="mo"] #edoContent1 .ecoTab .tab-list {
  position: relative;
  margin: 0 6.94444vw;
  border-width: 0 0 1.38889vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoTab .tab-list {
    margin: 0 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoTab .tab-list {
    border-width: 0 0 10px;
  }
}

.product-eco[data-device="mo"] #edoContent1 .ecoTab .tab-list .tab-item {
  float: left;
  width: 50%;
  height: 13.88889vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2.36111vw 2.36111vw 0 0;
  background-color: #dbdbdb;
  color: rgba(32, 32, 32, 0.4);
  font-size: 5vw;
  font-weight: 700;
  text-align: center;
  line-height: 13.88889vw;
  letter-spacing: -0.27778vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoTab .tab-list .tab-item {
    height: 100px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoTab .tab-list .tab-item {
    border-radius: 17px 17px 0 0;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoTab .tab-list .tab-item {
    font-size: 36px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoTab .tab-list .tab-item {
    line-height: 100px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoTab .tab-list .tab-item {
    letter-spacing: -2px;
  }
}

.product-eco[data-device="mo"] #edoContent1 .ecoTab .tab-list .tab-item.on {
  position: relative;
  z-index: 10;
  background-color: #002bbe;
  color: #fff;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.product-eco[data-device="mo"] #edoContent1 .ecoTab .tab-list .tab-item.on .f-color {
  color: #ffd40e;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.product-eco[data-device="mo"] #edoContent1 .ecoTab .tab-list .tab-item .mHide {
  display: none;
}

.product-eco[data-device="mo"] #edoContent1 .ecoTab .tab-cont {
  display: none;
  padding: 0 6.94444vw;
  font-size: 0;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoTab .tab-cont {
    padding: 0 50px;
  }
}

.product-eco[data-device="mo"] #edoContent1 .ecoTab .tab-cont.on {
  display: block;
}

.product-eco[data-device="mo"] #edoContent1 .ecoTab .tab-cont img {
  width: 100%;
}

.product-eco[data-device="mo"] #edoContent1 .ecoTab .tab-cont .slick-dots {
  position: absolute;
  bottom: -35px;
  left: 0;
  right: 0;
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont7 {
  margin-top: 20px;
  background: #432767;
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont7 p.eventType em {
  color: #05fbfa;
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont7 p.eventType.A {
  top: 13.88889vw;
  left: 6.94444vw;
  right: 6.94444vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoCont7 p.eventType.A {
    top: 100px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoCont7 p.eventType.A {
    left: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoCont7 p.eventType.A {
    right: 50px;
  }
}

.product-eco[data-device="mo"] #edoContent1 .ecoCont7 p.eventType.B {
  bottom: 79.16667vw;
  left: 6.94444vw;
  right: 6.94444vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoCont7 p.eventType.B {
    bottom: 570px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoCont7 p.eventType.B {
    left: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"] #edoContent1 .ecoCont7 p.eventType.B {
    right: 50px;
  }
}

.product-eco[data-device="mo"][data-type="2912"] #edoContent1 .slick-dots li.slick-active button, .product-eco[data-device="mo"][data-type="2911"] #edoContent1 .slick-dots li.slick-active button, .product-eco[data-device="mo"][data-type="2908"] #edoContent1 .slick-dots li.slick-active button {
  background: #ffbe00 !important;
}

.product-eco[data-device="mo"][data-type="2912"] #edoContent1 .ecoCont0, .product-eco[data-device="mo"][data-type="2911"] #edoContent1 .ecoCont0, .product-eco[data-device="mo"][data-type="2908"] #edoContent1 .ecoCont0 {
  display: block !important;
  background: #ffe000;
}

.product-eco[data-device="mo"][data-type="2912"] #edoContent1 .ecoCont6, .product-eco[data-device="mo"][data-type="2911"] #edoContent1 .ecoCont6, .product-eco[data-device="mo"][data-type="2908"] #edoContent1 .ecoCont6 {
  display: none !important;
}

.product-eco[data-device="mo"][data-type="2912"] #edoContent1 .ecoCont8, .product-eco[data-device="mo"][data-type="2911"] #edoContent1 .ecoCont8, .product-eco[data-device="mo"][data-type="2908"] #edoContent1 .ecoCont8 {
  padding-bottom: 16.66667vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"][data-type="2912"] #edoContent1 .ecoCont8, .product-eco[data-device="mo"][data-type="2911"] #edoContent1 .ecoCont8, .product-eco[data-device="mo"][data-type="2908"] #edoContent1 .ecoCont8 {
    padding-bottom: 120px;
  }
}

.product-eco[data-device="mo"][data-type="2912"] #edoContent1 .ecoCont8.ecoHide, .product-eco[data-device="mo"][data-type="2911"] #edoContent1 .ecoCont8.ecoHide, .product-eco[data-device="mo"][data-type="2908"] #edoContent1 .ecoCont8.ecoHide {
  display: block !important;
}

.product-eco[data-device="mo"][data-type="2912"] #edoContent1 .ecoCont8 .btn-refunds, .product-eco[data-device="mo"][data-type="2911"] #edoContent1 .ecoCont8 .btn-refunds, .product-eco[data-device="mo"][data-type="2908"] #edoContent1 .ecoCont8 .btn-refunds {
  position: absolute;
  bottom: 9.72222vw;
  left: 0;
  right: 0;
  z-index: 1;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"][data-type="2912"] #edoContent1 .ecoCont8 .btn-refunds, .product-eco[data-device="mo"][data-type="2911"] #edoContent1 .ecoCont8 .btn-refunds, .product-eco[data-device="mo"][data-type="2908"] #edoContent1 .ecoCont8 .btn-refunds {
    bottom: 70px;
  }
}

.product-eco[data-device="mo"][data-type="2912"] #edoContent1 .ecoCont8 .slide, .product-eco[data-device="mo"][data-type="2911"] #edoContent1 .ecoCont8 .slide, .product-eco[data-device="mo"][data-type="2908"] #edoContent1 .ecoCont8 .slide {
  padding: 0 8vw;
  margin-top: 6.94444vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"][data-type="2912"] #edoContent1 .ecoCont8 .slide, .product-eco[data-device="mo"][data-type="2911"] #edoContent1 .ecoCont8 .slide, .product-eco[data-device="mo"][data-type="2908"] #edoContent1 .ecoCont8 .slide {
    margin-top: 50px;
  }
}

.product-eco[data-device="mo"][data-type="2912"] #edoContent1 .ecoCont1 .item, .product-eco[data-device="mo"][data-type="2911"] #edoContent1 .ecoCont1 .item, .product-eco[data-device="mo"][data-type="2908"] #edoContent1 .ecoCont1 .item {
  display: none !important;
}

.product-eco[data-device="mo"][data-type="2912"] #edoContent1 .ecoCont1 .ecoHide, .product-eco[data-device="mo"][data-type="2911"] #edoContent1 .ecoCont1 .ecoHide, .product-eco[data-device="mo"][data-type="2908"] #edoContent1 .ecoCont1 .ecoHide {
  display: block !important;
}

.product-eco[data-device="mo"][data-type="2912"] #edoContent1 .ecoCont7 {
  background: #790cdf;
}

.product-eco[data-device="mo"][data-type="2912"] #edoContent1 .ecoCont7 .ecoShow {
  display: none !important;
}

.product-eco[data-device="mo"][data-type="2912"] #edoContent1 .ecoCont7 .eco2912 {
  display: block !important;
}

.product-eco[data-device="mo"][data-type="2912"] #edoContent1 .ecoCont7 p.plusIcon {
  background: #790cdf;
}

.product-eco[data-device="mo"][data-type="2912"] #edoContent1 .ecoCont7 p.eventType em {
  color: #ffe000;
}

.product-eco[data-device="mo"][data-type="2912"] #edoContent1 .ecoCont7 p.eventType.B {
  bottom: 58.33333vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"][data-type="2912"] #edoContent1 .ecoCont7 p.eventType.B {
    bottom: 420px;
  }
}

.product-eco[data-device="mo"][data-type="2911"] #edoContent1 .ecoCont7, .product-eco[data-device="mo"][data-type="2908"] #edoContent1 .ecoCont7 {
  background: #790cdf;
}

.product-eco[data-device="mo"][data-type="2911"] #edoContent1 .ecoCont7 .ecoShow, .product-eco[data-device="mo"][data-type="2908"] #edoContent1 .ecoCont7 .ecoShow {
  display: none !important;
}

.product-eco[data-device="mo"][data-type="2911"] #edoContent1 .ecoCont7 .ecoHide, .product-eco[data-device="mo"][data-type="2908"] #edoContent1 .ecoCont7 .ecoHide {
  display: block !important;
}

.product-eco[data-device="mo"][data-type="2911"] #edoContent1 .ecoCont7 p.plusIcon, .product-eco[data-device="mo"][data-type="2908"] #edoContent1 .ecoCont7 p.plusIcon {
  background: #790cdf;
}

.product-eco[data-device="mo"][data-type="2911"] #edoContent1 .ecoCont7 p.eventType em, .product-eco[data-device="mo"][data-type="2908"] #edoContent1 .ecoCont7 p.eventType em {
  color: #ffe000;
}

.product-eco[data-device="mo"][data-type="2911"] #edoContent1 .ecoCont7 p.eventType.B, .product-eco[data-device="mo"][data-type="2908"] #edoContent1 .ecoCont7 p.eventType.B {
  bottom: 97.22222vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-device="mo"][data-type="2911"] #edoContent1 .ecoCont7 p.eventType.B, .product-eco[data-device="mo"][data-type="2908"] #edoContent1 .ecoCont7 p.eventType.B {
    bottom: 700px;
  }
}
/*# sourceMappingURL=module_contents1.css.map */