// layout
$layout_desktop: 1050px;

// img path
// background-image: url('#{$img_path}/main/logo.png');
//$img_path: "https://img.eduwill.net/resources/govlab/live/images";
$img_path: "https://img.eduwill.net/resources/img/land/examInfo/live";

// font-family
$noto: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif;
$roboto: 'Roboto', 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif;
$mont: 'Montserrat', 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif;

// color
$color_white: #fff;
$color_black: #000;
$color_brown: #b37b18;
$color_primary: #221d6e;
$color_primary_medium: #4a42d2;
$color_primary_light: #736bff;
$color_primary_dark: #353535;
$color_warning : #ff5757;
$color_base: #555;
$color_base_6: #666;
$color_base_dark: #010101;
$color_base_medium: #8e8e8e;
$color_base_light: #a0a0a0;

// button color
$button_color_1: #ffd900;
$button_color_2: #ffbb00;

// boder color
$border_color_light: #e2e5e9;
$border_color_dark: #d4d4d4;
$border_color_gnb: #1f1f1f;
$border_color_black: #000;
$border_color_active: #132053;
$border_color_1 : #e0e0e0;
$border_color_2 : #ff5757;
$border_color_3 : #555;
$border_color_4 : #f1f1f1;

// background color
$bg_color_1: #fff;
$bg_color_2: #f6f6f6;
$bg_color_3: #f1f1f1;
$bg_color_4: #e0e0e0;
$bg_color_5: #3f3a90;
$bg_color_6: #979797;
$bg_color_7: #f1f0ff;
$bg_color_8: #736bff;
$dim: rgba(51, 51, 51, .6);
