@charset "UTF-8";
.grid {
  *zoom: 1;
}

.grid:before, .grid:after {
  content: '';
  display: table;
}

.grid:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.banner-list-item .banner {
  background-color: #fff !important;
}

.eco-event {
  overflow-x: hidden;
  height: 83.9375rem;
}

@media screen and (min-width: 720px) {
  .eco-event {
    height: 1715px;
  }
}

.dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 10000;
  display: none;
  width: 90%;
  letter-spacing: -1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.popup * {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.popup-close a {
  position: absolute;
  top: 0;
  right: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 40px;
  height: 40px;
}

.popup-close a:before, .popup-close a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 1px;
  margin-left: -10px;
  background-color: #000;
}

.popup-close a:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close a:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup-close a span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup-curriculum {
  max-width: 536px;
}

.popup-benefit {
  max-width: 637px;
}

@media screen and (min-width: 1100px) {
  .popup-benefit {
    max-width: 924px;
  }
}

.popup-base {
  max-width: 720px;
}

.popup-base .popup-content {
  padding: 0.78125rem;
  text-align: left;
  font-size: 0;
  border: 2px solid #00233e;
  background-color: #fff;
}

@media screen and (min-width: 720px) {
  .popup-base .popup-content {
    padding: 25px;
  }
}

.popup-base p {
  margin: 0;
  line-height: 1.4;
  font-size: 2.77778vw;
  font-weight: 300;
  color: #00233e;
}

@media screen and (min-width: 720px) {
  .popup-base p {
    font-size: 20px;
  }
}

.popup-base p.only-bottom {
  display: none;
}

.popup-base p a {
  font-weight: 700;
  color: #00233e;
}

.popup-base .popup-close a {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 30px;
  height: 30px;
}

.popup-base .popup-close a:before, .popup-base .popup-close a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 15px;
  height: 1px;
  margin-left: -7.5px;
  background-color: #2b3236;
}

.popup-base .popup-close a:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-base .popup-close a:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup-base .popup-close a span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

@media screen and (min-width: 720px) {
  .popup-base .popup-close a {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 40px;
    height: 40px;
  }
  .popup-base .popup-close a:before, .popup-base .popup-close a:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 20px;
    height: 1px;
    margin-left: -10px;
    background-color: #00233e;
  }
  .popup-base .popup-close a:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .popup-base .popup-close a:after {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  .popup-base .popup-close a span {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 0px;
    height: 0px;
    margin: -1px;
    padding: 0;
    word-break: keep-all;
    white-space: nowrap;
    color: transparent;
    border: 0;
    text-indent: -9999px;
  }
}

.product-eco * {
  line-height: normal;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.product-eco .container {
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
}

.product-eco .wrap {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  width: 100%;
}

.product-eco .holder {
  position: relative;
}

.product-eco p {
  margin: 0;
  text-align: left;
  font-size: 2.77778vw;
  color: #666;
}

@media screen and (min-width: 720px) {
  .product-eco p {
    font-size: 20px;
  }
}

.product-eco p.notice {
  margin-top: 0.3125rem;
}

@media screen and (min-width: 720px) {
  .product-eco p.notice {
    margin-top: 10px;
  }
}

.product-eco p.brand, .product-eco p.survey {
  position: absolute;
}

.product-eco .icon_plus:after {
  content: '';
  width: 3.75rem;
  height: 3.75rem;
  background-image: url("https://img.eduwill.net/Img2/Quark/Product/event_new/201214//mobile/ico_plus.png");
  background-size: contain;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: -1.5625rem;
  z-index: 10;
}

@media screen and (min-width: 720px) {
  .product-eco .icon_plus:after {
    width: 120px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .icon_plus:after {
    height: 120px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .icon_plus:after {
    top: -50px;
  }
}

.product-eco .change {
  -webkit-animation: change 1s step-start infinite;
  animation: change 1s step-start infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes change {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes flickeringly {
  0% {
    opacity: 1;
  }
  50% {
    color: #000;
    background: #ffd900;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flickeringly {
  0% {
    opacity: 1;
  }
  50% {
    color: #000;
    background: #ffd900;
  }
  100% {
    opacity: 0;
  }
}

.product-eco .slider-contents {
  position: relative;
  margin: 0 1.5625rem;
  margin-top: 1.875rem;
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents {
    margin: 0 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents {
    margin-top: 60px;
  }
}

.product-eco .slider-contents .slick-dots {
  position: absolute;
  bottom: 8%;
  right: 0;
  left: 0;
  font-size: 0;
}

.product-eco .slider-contents .slick-dots li {
  display: inline-block;
  margin: 0 0.3125rem;
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-dots li {
    margin: 0 10px;
  }
}

.product-eco .slider-contents .slick-dots li.slick-active button {
  background-color: #ffc20e;
}

.product-eco .slider-contents .slick-dots button {
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  color: transparent;
  border: none;
  border-radius: 50%;
  background-color: #ddd;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-dots button {
    width: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-dots button {
    height: 20px;
  }
}

.product .container.product-top {
  background-color: #ffd701;
}

.product .container.product-title {
  z-index: 1;
  background-color: #183094;
  background: url("https://img.eduwill.net/Img2/Quark/Product/event_new/201214//pc/bg_title.jpg") 50% 0 no-repeat;
  background-size: cover;
}

.product .container.product-winner {
  padding-bottom: 2.34375rem;
  background-color: #eceff9;
}

@media screen and (min-width: 720px) {
  .product .container.product-winner {
    padding-bottom: 75px;
  }
}

.product .container.product-winner .brand {
  top: 78%;
  left: 8%;
}

.product .container.product-winner .winner-contents {
  position: relative;
  margin: 0 6.944%;
  background-color: #f5f5f5;
}

.product .container.product-winner .winner-contents:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: transparent;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(transparent));
  background: linear-gradient(0deg, #fff 0%, transparent 100%);
}

.product .container.product-winner .winner-contents p {
  text-align: center;
  line-height: 2;
  font-size: 2.77778vw;
  color: #000;
}

@media screen and (min-width: 720px) {
  .product .container.product-winner .winner-contents p {
    font-size: 20px;
  }
}

.product .container.product-winner .notice {
  margin-left: 6.944%;
}

.product .container.product-review {
  background: #eceff9;
  padding-bottom: 4.6875rem;
}

@media screen and (min-width: 720px) {
  .product .container.product-review {
    padding-bottom: 150px;
  }
}

.product .container.product-review .item {
  position: relative;
  margin: 0 6.944%;
  margin-top: 1.25rem;
}

@media screen and (min-width: 720px) {
  .product .container.product-review .item {
    margin-top: 40px;
  }
}

.product .container.product-review .item:first-child {
  margin-top: 0;
}

.product .container.product-review .item a,
.product .container.product-review .item video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.product .container.product-review .item a {
  z-index: 1;
}

.product .container.product-review .action {
  margin: 0 18.056%;
  margin-top: 1.875rem;
}

@media screen and (min-width: 720px) {
  .product .container.product-review .action {
    margin-top: 60px;
  }
}

.product .container.product-price {
  background-color: #fff3cf;
  padding-bottom: 5rem;
}

@media screen and (min-width: 720px) {
  .product .container.product-price {
    padding-bottom: 160px;
  }
}

.product .container.product-price .price-event {
  position: absolute;
  top: 36.5%;
  width: 100%;
}

.product .container.product-price .price-title {
  position: absolute;
  top: 14%;
  left: 20%;
  font-size: 5vw;
  color: red;
  color: #fff;
}

@media screen and (min-width: 720px) {
  .product .container.product-price .price-title {
    font-size: 36px;
  }
}

.product .container.product-price .price-title .eco-junsaday {
  font-weight: 700;
  letter-spacing: -2px;
}

.product .container.product-price .flag {
  width: 75%;
  margin: auto;
  position: absolute;
  top: -67%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.product .container.product-price .price .text {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  font-family: "Montserrat", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-size: 6.38889vw;
  font-weight: 700;
}

@media screen and (min-width: 720px) {
  .product .container.product-price .price .text {
    font-size: 46px;
  }
}

.product .container.product-price .price .text-1 {
  top: 44.5%;
  right: 16%;
  left: auto;
  font-size: 4.16667vw;
  width: 4.21875rem;
  height: 3.125rem;
  padding-top: 1%;
  line-height: 1.2;
  font-size: 0.9375rem;
  letter-spacing: -0.09375rem;
  font-weight: 500;
  color: #fff;
  background: url("https://img.eduwill.net/Img2/Quark/Product/event_new/201214//mobile/icon_arrow.png") no-repeat 0 0;
  background-size: contain;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .product .container.product-price .price .text-1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product .container.product-price .price .text-1 {
    width: 135px;
  }
}

@media screen and (min-width: 720px) {
  .product .container.product-price .price .text-1 {
    height: 100px;
  }
}

@media screen and (min-width: 720px) {
  .product .container.product-price .price .text-1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product .container.product-price .price .text-1 {
    letter-spacing: -3px;
  }
}

.product .container.product-price .price .notice {
  top: 80%;
  left: 6.944%;
}

.product .container.product-price .price .price-box {
  position: absolute;
  font-size: 0;
  width: 100%;
}

.product .container.product-price .price .price-box .highlight {
  color: #1f28b8 !important;
}

.product .container.product-price .price .price-box .highlight span, .product .container.product-price .price .price-box .highlight em, .product .container.product-price .price .price-box .highlight strong {
  color: inherit !important;
}

.product .container.product-price .price .price-box .con {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.product .container.product-price .price .price-box .con.con-1 {
  top: 3.28125rem;
}

@media screen and (min-width: 720px) {
  .product .container.product-price .price .price-box .con.con-1 {
    top: 105px;
  }
}

.product .container.product-price .price .price-box .con.con-1 p:nth-child(2) {
  margin-top: -0.46875rem;
}

@media screen and (min-width: 720px) {
  .product .container.product-price .price .price-box .con.con-1 p:nth-child(2) {
    margin-top: -15px;
  }
}

.product .container.product-price .price .price-box .con.con-2 {
  top: 14.6875rem;
}

@media screen and (min-width: 720px) {
  .product .container.product-price .price .price-box .con.con-2 {
    top: 470px;
  }
}

.product .container.product-price .price .price-box .con.con-2 p:nth-child(2) {
  margin-top: -0.1875rem;
}

@media screen and (min-width: 720px) {
  .product .container.product-price .price .price-box .con.con-2 p:nth-child(2) {
    margin-top: -6px;
  }
}

.product .container.product-price .price .price-box .con.con-2 .price-4 span strong {
  color: red;
  font-size: 5.55556vw;
}

@media screen and (min-width: 720px) {
  .product .container.product-price .price .price-box .con.con-2 .price-4 span strong {
    font-size: 40px;
  }
}

.product .container.product-price .price .price-box .con p {
  text-align: center;
  color: #222222;
  font-size: 4.16667vw;
  font-weight: 600;
}

@media screen and (min-width: 720px) {
  .product .container.product-price .price .price-box .con p {
    font-size: 30px;
  }
}

.product .container.product-price .price .price-box .con p span {
  color: #bbbbbb;
  margin-left: 0.3125rem;
  font-size: 4.86111vw;
}

@media screen and (min-width: 720px) {
  .product .container.product-price .price .price-box .con p span {
    margin-left: 10px;
  }
}

@media screen and (min-width: 720px) {
  .product .container.product-price .price .price-box .con p span {
    font-size: 35px;
  }
}

.product .container.product-price .price .price-box .con p span.disc {
  font-size: 3.88889vw;
  position: relative;
  color: #947219;
  font-weight: 400;
}

@media screen and (min-width: 720px) {
  .product .container.product-price .price .price-box .con p span.disc {
    font-size: 28px;
  }
}

.product .container.product-price .price .price-box .con p span.disc:after {
  content: '';
  background: url("https://img.eduwill.net/Img2/Quark/Product/event_new/201214//pc/icon_arrow2.png") no-repeat center right;
  position: absolute;
  background-size: contain;
  width: 3.75rem;
  height: 0.625rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 720px) {
  .product .container.product-price .price .price-box .con p span.disc:after {
    width: 120px;
  }
}

@media screen and (min-width: 720px) {
  .product .container.product-price .price .price-box .con p span.disc:after {
    height: 20px;
  }
}

.product .container.product-price .price .price-box .con p span strong {
  color: #bbbbbb;
  font-size: 1.40625rem;
  font-weight: 900;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

@media screen and (min-width: 720px) {
  .product .container.product-price .price .price-box .con p span strong {
    font-size: 45px;
  }
}

.product .container.product-price .action {
  position: absolute;
  position: absolute;
  left: 50%;
  bottom: 6%;
  width: 75%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.product .container.product-price .action:after {
  content: '';
  width: 2.0625rem;
  height: 2.34375rem;
  position: absolute;
  top: 50%;
  right: 0;
  background: url(https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_1.png) 0 0 no-repeat;
  z-index: 1;
  background-size: contain;
  -webkit-animation-name: arrowBounce;
          animation-name: arrowBounce;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product .container.product-price .action:after {
    width: 66px;
  }
}

@media screen and (min-width: 720px) {
  .product .container.product-price .action:after {
    height: 75px;
  }
}

@-webkit-keyframes arrowBounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@keyframes arrowBounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

.product .container.product-teacher {
  background-color: #f7f7f7;
  padding-bottom: 3.125rem;
}

@media screen and (min-width: 720px) {
  .product .container.product-teacher {
    padding-bottom: 100px;
  }
}

.product .container.product-teacher .brand {
  top: 22%;
  left: 6.944%;
}

.product .container.product-teacher .survey {
  top: 39%;
  left: 11%;
}

.product .container.product-curriculum {
  padding-bottom: 3.125rem;
}

@media screen and (min-width: 720px) {
  .product .container.product-curriculum {
    padding-bottom: 100px;
  }
}

.product .container.product-curriculum .list {
  margin: 0 1.5625rem 0 1.5625rem;
  text-align: left;
  color: #202020;
}

@media screen and (min-width: 720px) {
  .product .container.product-curriculum .list {
    margin: 0 50px 0 50px;
  }
}

.product .container.product-curriculum .list + .list {
  padding-bottom: 1.5625rem;
}

@media screen and (min-width: 720px) {
  .product .container.product-curriculum .list + .list {
    padding-bottom: 50px;
  }
}

.product .container.product-curriculum .list .title {
  margin-top: 1.5625rem;
  font-size: 4.16667vw;
  font-weight: 700;
  color: #202020;
}

@media screen and (min-width: 720px) {
  .product .container.product-curriculum .list .title {
    margin-top: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product .container.product-curriculum .list .title {
    font-size: 30px;
  }
}

.product .container.product-curriculum .list .title span {
  display: inline-block;
  border-bottom: 2px solid #000;
}

.product .container.product-curriculum .list ul {
  margin-top: 0.625rem;
}

@media screen and (min-width: 720px) {
  .product .container.product-curriculum .list ul {
    margin-top: 20px;
  }
}

.product .container.product-curriculum .list li {
  position: relative;
  padding: 0.3125rem 0;
  font-size: 4.16667vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .product .container.product-curriculum .list li {
    padding: 10px 0;
  }
}

@media screen and (min-width: 720px) {
  .product .container.product-curriculum .list li {
    font-size: 30px;
  }
}

.product .container.product-curriculum .list li.highlight:after {
  content: '';
  display: inline-block;
  width: 1.6875rem;
  height: 1.6875rem;
  margin-left: 0.3125rem;
  vertical-align: middle;
  background: url("https://img.eduwill.net/Img2/Quark/Product/event_new/201214//pc/icon_strengthen.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: flagChange;
          animation-name: flagChange;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product .container.product-curriculum .list li.highlight:after {
    width: 54px;
  }
}

@media screen and (min-width: 720px) {
  .product .container.product-curriculum .list li.highlight:after {
    height: 54px;
  }
}

@media screen and (min-width: 720px) {
  .product .container.product-curriculum .list li.highlight:after {
    margin-left: 10px;
  }
}

@-webkit-keyframes flagChange {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes flagChange {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.product .container.product-curriculum .list li span {
  display: inline-block;
  margin-left: 0.3125rem;
}

@media screen and (min-width: 720px) {
  .product .container.product-curriculum .list li span {
    margin-left: 10px;
  }
}

.product .container.product-compare {
  background-color: #f2f2fc;
}

.product .container.product-management {
  padding-bottom: 5.3125rem;
}

@media screen and (min-width: 720px) {
  .product .container.product-management {
    padding-bottom: 170px;
  }
}

.product .container.product-management .slider-contents .slick-dots {
  bottom: -10%;
}

.product .container.product-management .slider-contents .slick-dots li.slick-active button {
  background-color: #ffc20e;
  width: 1.71875rem;
  border-radius: 50px;
}

@media screen and (min-width: 720px) {
  .product .container.product-management .slider-contents .slick-dots li.slick-active button {
    width: 55px;
  }
}

.product .container.product-exam {
  padding-bottom: 3.4375rem;
  background: #f7f7f7;
}

@media screen and (min-width: 720px) {
  .product .container.product-exam {
    padding-bottom: 110px;
  }
}

.product .container.product-exam .mock-list {
  padding: 0 1.5625rem;
}

@media screen and (min-width: 720px) {
  .product .container.product-exam .mock-list {
    padding: 0 50px;
  }
}

.product .container.product-exam .mock-list .slick-list,
.product .container.product-exam .mock-list .slick-track {
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.product .container.product-exam .mock-list a {
  width: 100%;
  margin-bottom: 0.5rem;
  line-height: 1.25rem;
  font-size: 0.9375rem;
  text-align: left;
  font-weight: 400;
  color: #999;
  outline: none;
}

@media screen and (min-width: 720px) {
  .product .container.product-exam .mock-list a {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 720px) {
  .product .container.product-exam .mock-list a {
    line-height: 40px;
  }
}

@media screen and (min-width: 720px) {
  .product .container.product-exam .mock-list a {
    font-size: 30px;
  }
}

.product .container.product-exam .mock-list a em {
  position: relative;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  top: 0.15625rem;
  margin-right: 0.15625rem;
  font-size: 0.75rem;
  vertical-align: top;
  text-align: center;
  font-weight: 500;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #999;
}

@media screen and (min-width: 720px) {
  .product .container.product-exam .mock-list a em {
    width: 40px;
  }
}

@media screen and (min-width: 720px) {
  .product .container.product-exam .mock-list a em {
    height: 40px;
  }
}

@media screen and (min-width: 720px) {
  .product .container.product-exam .mock-list a em {
    top: 5px;
  }
}

@media screen and (min-width: 720px) {
  .product .container.product-exam .mock-list a em {
    margin-right: 5px;
  }
}

@media screen and (min-width: 720px) {
  .product .container.product-exam .mock-list a em {
    font-size: 24px;
  }
}

.product .container.product-exam .mock-list .slick-current a {
  color: #222;
  font-weight: 700;
}

.product .container.product-exam .mock-list .slick-current a em {
  color: #fff;
  border-color: #222;
  background-color: #222;
}

.product .container.product-exam .bg-wrap {
  position: relative;
}

.product .container.product-exam .bg-wrap .mock-contents {
  position: absolute;
  top: 13%;
  left: 50%;
  width: 76.22%;
  z-index: 1;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media screen and (min-width: 720px) {
  .product .container.product-exam .bg-wrap .mock-contents {
    top: 55px;
    width: 476px;
  }
}

.product .container.product-exam .cbt-text {
  width: 86.11%;
  text-align: center;
  font-weight: 700;
  color: #fff;
  margin: 0 auto 0;
  letter-spacing: -0.0625rem;
  font-size: 1.0625rem;
  height: 2.5rem;
  line-height: 2.5rem;
  background: #0f2172;
}

@media screen and (min-width: 720px) {
  .product .container.product-exam .cbt-text {
    letter-spacing: -2px;
  }
}

@media screen and (min-width: 720px) {
  .product .container.product-exam .cbt-text {
    font-size: 34px;
  }
}

@media screen and (min-width: 720px) {
  .product .container.product-exam .cbt-text {
    height: 80px;
  }
}

@media screen and (min-width: 720px) {
  .product .container.product-exam .cbt-text {
    line-height: 80px;
  }
}

.product .container.product-exam .slider-contents {
  margin-top: 0.625rem;
}

@media screen and (min-width: 720px) {
  .product .container.product-exam .slider-contents {
    margin-top: 20px;
  }
}

.product .container.product-exam .slider-contents .slick-slide {
  background: #fff;
}

.product .container.product-exam .survey {
  top: 30%;
  left: 11%;
}

.product .container.product-service .brand {
  top: 30%;
  left: 11%;
}

.product .container.product-event {
  background-color: #2028b9;
}

.product .container.product-event .flag {
  position: absolute;
  top: 29.5%;
  left: 37%;
  width: 7.5rem;
  height: 1.40625rem;
  background: url("https://img.eduwill.net/Img2/Quark/Product/event_new/201214//pc/bg_event_flag.png") 50% 0 no-repeat;
  background-size: contain;
}

@media screen and (min-width: 720px) {
  .product .container.product-event .flag {
    width: 240px;
  }
}

@media screen and (min-width: 720px) {
  .product .container.product-event .flag {
    height: 45px;
  }
}

@media screen and (min-width: 720px) {
  .product .container.product-event .flag {
    width: 240px;
    height: 45px;
  }
}

.product .container.product-event .flag img {
  width: 75%;
}

.product .container.product-apply-title {
  background-color: #ffc20f;
}
/*# sourceMappingURL=mobile.css.map */