@{
    String platform = ("W".Equals(ViewBag.PlatformCd))? "pc": "mobile";
	String link1 = ("W".Equals(ViewBag.PlatformCd)) ? "https://black.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MTcxMw==" : "https://brand.eduwill.net/sugang/view.will?progress=B&mSeq=36303";
	String link2 = ("W".Equals(ViewBag.PlatformCd)) ? "https://event.eduwill.net/Event/2021/B/AcademyConsult?_gl&_gl=1*fds5b8*_ga*OTM5NzYyNjIxLjE2MzUzMDExMzM.*_ga_C07Q38FFTL*MTY0NTc1MTU4Mi42NDUuMS4xNjQ1NzU0OTY5LjUy" : "https://mevent.eduwill.net/Event/2021/B/AcademyConsult?_gl&_gl=1*fds5b8*_ga*OTM5NzYyNjIxLjE2MzUzMDExMzM.*_ga_C07Q38FFTL*MTY0NTc1MTU4Mi42NDUuMS4xNjQ1NzU0OTY5LjUy";
}

<div id="contents" class="promotion">

	@if ("W".Equals(ViewBag.PlatformCd)){
    <nav id="paraNav" class="para-nav">
        <ul>
            <li class="active">
				<a href="#sector1">검고 <span>만점</span>, 대입 <span>성공</span></a>
			</li>
            <li>
				<a href="#sector2">합격 고수 <span>핵심 비법</span></a>
			</li>
            <li>
				<a href="#sector3">늘 그렇듯 <span>1위 에듀윌</span></a>
			</li>
        </ul>
    </nav>
	}
	
	<div class="sector-title">
		<div class="wrap">
            <div class="motion title-1"><img src="//img.eduwill.net/eduwill/img/2022/B/event/220304/@platform/title_1.png" alt=""></div>
            <div class="motion title-2"><img src="//img.eduwill.net/eduwill/img/2022/B/event/220304/@platform/title_2.png" alt=""></div>
            <div class="motion title-3"><img src="//img.eduwill.net/eduwill/img/2022/B/event/220304/@platform/title_3.png" alt=""></div>
			<div class="motion blink"><img src="//img.eduwill.net/eduwill/img/2022/B/event/220304/@platform/blink.png" alt=""></div>
            @if ("W".Equals(ViewBag.PlatformCd))
			{
				<div class="motion fire"><img src="//img.eduwill.net/eduwill/img/2022/B/event/220304/@platform/fire.png" alt=""></div>
			}
		</div>
	</div>

	<!-- para-cont -->
	<div id="paraCont" class="para-cont">
		<div id="sector1" class="sector-item1 sector-item">
			<div class="wrap">
				<img src="//img.eduwill.net/eduwill/img/2022/B/event/220304/@platform/video_title.png" alt="" />
				<div class="video-box">
					<div class="video video1 playing">
						<video controls="" playsinline="" poster="">
							<source src="https://pmp.eduwill.net/eduwillpmp/eduwill/flv/20220228/video_nka.mp4" type="video/mp4">
						</video>
						<a class="btn-play" href="javascript:;" id="btn-play1">
							<img alt="영상 썸네일" src="//img.eduwill.net/eduwill/img/2022/B/event/220304/@platform/thumb.jpg">
						</a>
					</div>
				</div>
				<div class="slide-box">
					<div class="slider">
						<div><img src="//img.eduwill.net/eduwill/img/2022/B/event/220304/@platform/01.png" alt="" /></div>
						<div><img src="//img.eduwill.net/eduwill/img/2022/B/event/220304/@platform/02.png" alt="" /></div>
					</div>
				</div>
			</div>
		</div>

		<div id="sector2" class="sector-item2 sector-item">
			<di class="wrap">
				<img src="//img.eduwill.net/eduwill/img/2022/B/event/220304/@platform/tab_title.jpg" alt="" />
				<ul class="tab-list">
					<li class="in"><a href="#tab1"><span>검정고시는 <em>에듀윌 쌤들만 믿고!</em></span></a></li>
					<li class=""><a href="#tab2"><span>대입 합격을 위한 <em>나만의 맞춤 리포트</em></span></a></li>
				</ul>
				<div id="tabContents">
					<div id="tab1" class="item in">
						<img src="//img.eduwill.net/eduwill/img/2022/B/event/220304/@platform/tab_content1.png" alt="" />
					</div>
					<div id="tab2" class="item">
						<img src="//img.eduwill.net/eduwill/img/2022/B/event/220304/@platform/tab_content2.png" alt="" />
					</div>
				</div>
			</di>
		</div>

		<div id="sector3" class="sector-item3 sector-item">
			<div class="wrap">
				<img src="//img.eduwill.net/eduwill/img/2022/B/event/220304/@platform/img_item3.png" alt="" />
				<a class="btn-popup" href="javascript:;" onclick="popupOpen('.popup-dim2', 'popupBase');">
					<img src="//img.eduwill.net/eduwill/img/2022/B/event/220304/pc/btn_base.png" alt="" />
				</a>
			</div>
		</div>
	</div>
	<!-- // para-cont -->

	<div class="sector-bar sector-bar1">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/B/event/220304/@platform/bar1.jpg" alt="" />
		</div>
	</div>

	<div data-eduwill-eco-content="2181"></div>

	<div class="sector-bar sector-bar2">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/B/event/220304/@platform/bar2.jpg" alt="" />
		</div>
	</div>

	<div class="sector-banner">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/B/event/220304/@platform/img_banner.jpg" alt="" />
			<div class="link-box">
				<a class="link1" href="@link1" target="_blank"><span class="sr-only">고득점 보장패스</span></a>
				<a class="link2" href="@link2" target="_blank"><span class="sr-only">1:1 맞춤컨설팅</span></a>
			</div>
		</div>
	</div>
</div>

<div class="popup-dim2"></div>
<!-- popupBase -->
<div class="popup popup-base" id="popupBase">
	<a class="popup-close" href="javascript:;" onclick="popupClose('.popup-dim2', 'popupBase');">
		<span class="sr-only">닫기</span>
	</a>
    <div class="popup-body">
		<p>
			* 2018년~2020년 에듀윌 검정고시 합격생 온라인 수강기간 결과<br>
			* 에듀윌 검정고시 합격생 수 (2018, 2020년 비교)<br>
			* 네이버 검색어 트랜드 검색량 비교 결과(2020.01~2021.04)<br>
			* 2022/2021 대한민국 브랜드 만족도, 2020/2019 한국브랜드 만족지수 검정고시 교육1위<br>
			* 대통령표창3회 수상, 국무총리상, 과학기술정보통신부 장관상, 여성가족부 장관상, 법무부장관상, 미래창조과학부 장관상, 고용노동부 장관표창, 산업자원부 장관상, 정보통신부 장관상, 과학기술부 장관상, 문화체육관광부 장관상 2관왕, 서울특별시장상 수상, 사회공헌대상 정부기관상<br>
		</p>
    </div>
</div>

<script type="text/javascript" src="//img.eduwill.net/eduwill/live/libs/scrollfix/scrollfix.js"></script>
<script type="text/javascript" src="//img.eduwill.net/resources/eduwill/dev/js/greensock/TweenMax.min.js"></script>
<script type="text/javascript">
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
	var url = window.location.href;
	var str = 'event.eduwill.net';
	var checkUrl = url.indexOf(str);

	$(function(){
		frontinit();
	});
	
	function frontinit(){
		pageMove('.page-move');
		slideEvent();
		mainTabEvent();
		titleEvent();
		if(!isMobile){
			paraNavEvent();
		}

		$('.btn-play').on('click',function(){
			if($('.video.playing').length > 0){
				$('.video.playing .btn-play').show();
				$('.video.playing').children('video')[0].pause();
				$('.video.playing').children('video')[0].currentTime = 0;
			}
			$(this).parent('.video').addClass('playing');
			$(this).hide();
			$(this).parent('.video').children('video')[0].play();
        });
	}

	function titleEvent(){
		var $title = $('.sector-title');

		TweenMax.fromTo( $title.find('.title-1'), .5, { opacity: 0, scale: 0}, { opacity: 1, scale: 1, delay: .2, ease: Power2.easeOut });
		TweenMax.fromTo( $title.find('.title-2'), .5, { opacity: 0, scaleX: 0}, { opacity: 1, scaleX: 1, delay: .4, ease: Back.easeOut.config(1) });
		TweenMax.fromTo( $title.find('.title-3'), .5, { opacity: 0, scale: 0}, { opacity: 1, scale: 1, delay: .6, transformOrigin: 'bottom bottom',  ease: Back.easeOut.config(2) });
		TweenMax.fromTo( $(".blink"), 0.35,{scale: 0.5, opacity:0}, {scale: 1, opacity:1, delay:0.5, repeat: -1, yoyo:true}); 
		TweenMax.fromTo( $title.find('.fire'), .5, { opacity: 0, scale: 0}, { opacity: 1, scale: 1, delay: .8, transformOrigin: 'center center', ease: Back.easeOut.config(3) });
	}

	function slideEvent(){
		$('.slider').slick({
			autoplay: true,
			autoplaySpeed: 10000,
			infinite: true,
			arrows: true,
			dots: true,
			slidesToScroll: 1,
			speed: 800
		});
	
	}

	function mainTabEvent(e){
		$('.tab-list li a').on('click', function(e) {
			var _el = $(this).attr('href'),
			$target = $(_el);

			e.preventDefault();

			@* $('html, body').animate({ scrollTop : $('#tabContents').offset().top -50}, 500); *@

			$(this).parent().addClass('in').siblings().removeClass('in');
			$target.addClass('in').siblings().removeClass('in');
		});
	}

	function paraNavEvent(){
		$("#paraNav ul li").click(function(e){
			e.preventDefault();
			let target = $(this);
			let index = target.index();
			let section = $(".sector-item").eq(index);
			let offset = section.offset().top;

			$("html, body").animate({ scrollTop:offset}, 600);
		});

		$(window).scroll(function(){
			let scrollTop = $(window).scrollTop();
			let paraContTop = $(".para-cont").offset().top;
			let paraContBottom = $(".sector-bar1").offset().top;

			(scrollTop > paraContTop-150 && scrollTop < paraContBottom-150) ? $("#paraNav").fadeIn() : $("#paraNav").fadeOut()
		
			$(".sector-item").each(function(i){
				if( scrollTop >= $(".sector-item").eq(i).offset().top -150 ){
					$("#paraNav ul li").eq(i).addClass("active").siblings().removeClass("active");
				}
			});
		});
	}
</script>


