@{
    string viewPath = ((RazorView)ViewContext.View).ViewPath;
    viewPath = viewPath.Remove(viewPath.LastIndexOf('/') + 1);
    string academyCd = Request.QueryString["academyCd"];
}

@{
    String platform = ("W".Equals(ViewBag.PlatformCd)) ? "pc" : "mobile";
}
@* 
@if ("W".Equals(ViewBag.PlatformCd)){
}else{
} *@
<link rel="stylesheet" type="text/css" href="https://img.eduwill.net/eduwill/img/2022/H/event/220124/@platform/right_banner.png" />
<div id="contents" class="promotion">

	<div data-eduwill-eco-content="3253"></div>

	@if ("W".Equals(ViewBag.PlatformCd)){
    	<div class="right-banner">
			<a href="">
				<img alt="" src="https://img.eduwill.net/eduwill/img/2022/H/event/220124/@platform/right_banner.png" />
			</a>
		</div>
	}
	<div class="sector sector-title">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/H/event/220124/@platform/title.png" alt="모든 기출을 모두 CBT로 ALL기출팩">
			<div class="action">
				<a href="javascript: popupOpen('.popup-dim', 'popupBase');" class="btn-text">근거확인</a>
			</div>
		</div>
	</div>
	<div class="sector sector-answer">
		<div class="wrap">
			<div class="img"><img src="//img.eduwill.net/eduwill/img/2022/H/event/220124/@platform/answer.png" alt=""></div> 
		</div>
	</div>
	<div class="sector sector-import">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/H/event/220124/@platform/import.jpg" alt="">
		</div>
	</div>
	<div class="sector sector-band">
		<div class="wrap">
			<strong>
				에듀윌의 특별한<br/>
				한능검 ALL 기출팩을 소개합니다
			</strong>
		</div>
	</div>
	<div class="sector sector-cbt">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/H/event/220124/@platform/cbt.jpg" alt="">
		</div>
	</div>
	<div class="sector sector-contents">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/H/event/220124/@platform/contents.jpg" alt="">
		</div>
	</div>
	<div class="sector sector-band">
		<div class="wrap">
			<strong>
				ALL 기출팩에서만 볼 수 있는<br/>
				한능검 빈출주제별 기출문제
			</strong>
		</div>
	</div>
	<div class="sector sector-age">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/H/event/220124/@platform/age.jpg" alt="">
		</div>
	</div>
	<div class="sector sector-band type3">
		<div class="wrap">
			<strong>
				교재 구매 인증만 하면<br>
				ALL 기출팩 100% 무료
			</strong>
			<span class="notice">
				※ 응시하기 버튼을 누르면 기출문제를 응시할 수 있습니다.<br/>
				※ 심화 문제를 기준으로 만들어졌습니다.
			</span>
		</div>
	</div>

	<div class="sector-tab type1" id="tabList">
		<div class="wrap">
		@* <div class="blind longin">
				<div class="middle">
					<strong>로그인 후 이용 가능합니다.</strong>
					<a href="">로그인하기</a>
				</div>
			</div> *@
			<div class="blind longin">
				<div class="middle">
					<strong>교재 구매 후 ISBN 인증 시<br> 응시 가능합니다.</strong>
					<a href="javascript: popupOpen('.popup-dim', 'popupISBN')">ISBN 인증하기</a>
				</div>
			</div>
			
			<ul class="tab-list tab-list1">
				<li class="tab-1 balloon on"><span>회차별</span></li>
				<li class="tab-2"><span>빈출주제별</span></li>
			</ul>
			<div class="tab-views tab-views1">
				<div class="tab-view on">
					<div class="exam-list">
						<ul>
							<li><strong>회차별	56회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	55회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	54회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	54회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	53회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	52회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	51회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	50회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	49회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	48회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	47회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	46회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	45회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	44회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	43회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	42회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	41회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	40회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	39회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	38회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	37회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	36회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	35회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	34회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	33회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	32회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	31회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	30회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	29회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	28회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	27회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	26회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	25회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	24회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	23회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	22회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	21회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	20회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	19회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	18회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	17회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	16회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	15회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	14회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	13회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	12회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	11회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	10회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	9회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	8회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	7회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	6회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	5회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	4회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	3회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	2회</strong><a href="">응시하기</a></li>
							<li><strong>회차별	1회</strong><a href="">응시하기</a></li>
						</ul>
					</div>
				</div>
				<div class="tab-view ">
					<div class="exam-list">
						<ul>
						<li><strong>반출주제별 기출_1. 선사 시대</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_2. 고조선과 여러 나라</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_3. 가야</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_4. 삼국의 발전</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_5. 7세기 삼국의 정세</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_6. 통일 신라</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_7. 발해</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_8. 신라 말과 후삼국</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_9. 남북국 문화</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_10. 고려의 후삼국 통일</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_11. 문벌 사회의 동요와 무신 정권</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_12. 고려의 대외 관계</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_13. 원 간섭기와 공민왕</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_14. 고려의 경제</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_15. 고려의 학문과 사상</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_16. 고려의 문화유산</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_17. 조선 전기 주요 왕</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_18. 조선의 통치 체제</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_19. 사화와 붕당 정치</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_20. 왜란과 호란</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_21. 예송과 환국</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_22. 영조와 정조</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_23. 세도 정치와 농민 봉기</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_24. 실학과 국학</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_25. 대동법•균역법•영정법</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_26. 조선 후기 경제 변화</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_27. 조선 후기 사회•문화</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_28. 흥선 대원군 집권기</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_29. 개항기 조약 체결</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_30. 근대적 개혁의 추진과 반발</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_31. 임오군란과 갑신정변</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_32. 동학 농민 운동</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_33. 갑오개혁과 을미개혁</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_34. 독립 협회와 대한 제국</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_35. 국권 피탈 과정</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_36. 애국 계몽 운동과 국채 보상 운동</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_37. 근대 문물</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_38. 일제의 식민 통치 정책</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_39. 1910년대 민족 운동</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_40. 3•1 운동과 대한민국 임시 정부</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_41. 1920~1940년대 무장 독립 전쟁</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_42. 의열단과 한인 애국단</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_43. 실력 양성 운동과 학생 항일 운동</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_44. 민족 유일당 운동과 사회적 민족 운동</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_45. 민족 문화 수호 운동</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_46. 대한민국 정부 수립 과정과 6•25 전쟁</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_47. 민주화 과정</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_48. 정부별 사회•경제</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_49. 정부별 통일 노력</strong><a href="">응시하기</a></li>
						<li><strong>반출주제별 기출_50. 지역사•시대 통합</strong><a href="">응시하기</a></li>

						</ul>
					</div>
				</div>
			</div>
			@if ("M".Equals(ViewBag.PlatformCd)){
				<div class="btn-more">
					<a href="" class="more">
						<img src="//img.eduwill.net/eduwill/img/2022/H/event/220124/mobile/btn_more.png" alt="">
					</a>
				</div>
			}
		</div>
	</div>

	<!--공통-->
	<div class="sector sector-winner">
		<div class="wrap">
			<div class="title">
				<img alt="합격자명단" src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/H/@platform/winner_title_h.png" />
				@* <div class="txt"><strong class="point-color">고득점 단기합격 가능!</strong></div> *@
			</div>
			<div class="winner-wrap">
				<div class="winner-list"></div>
			</div>
		</div>
	</div>
	<div class="sector sector-band type2">
		<div class="wrap">
			<strong>
				다른 곳에서는 흉내 낼 수 없습니다<br/>
				오직 1위* 에듀윌만의 <span>압도적 수치가 증명합니다!</span>
			</strong>
				<span class="notice">
				*2022 대한민국 브랜드만족도 한국사능력검정시험 교육 1위
				</span>
		</div>
	</div>
	<!--공통-->
	<div class="sector sector-brand">
		<div class="wrap">
			<div class="num"><span>01</span></div>
			<img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/H/@platform/brand_title_w.png"  alt="4년 연속 1위 한국사능력검정 대표 브랜드,에듀윌"/>
			<img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/H/@platform/brand_h.png"  alt=""/>
			<div class="action ">
				<a href="javascript: popupOpen('.popup-dim', 'popupBase');" class="btn-text type2">근거확인</a>
			</div>
		</div>
	</div>
	<!--공통-->
	<div class="sector sector-search">
		<div class="wrap">
			<div class="num"><span>02</span></div>
			<img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/H/@platform/search_h.png"  alt=""/>
			<div class="typing"></div>
		</div>
	</div>
	<div class="sector sector-review">
			<div class="wrap">
				<div class="num"><span>03</span></div>
				<img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/H/@platform/review_title.png"  alt="끝없이 쏟아지는 수강 후기 에듀윌에서는 합격이 쉽다는 것을 증명합니다."/>
				<div class="slider-multiple">
					<div class="list"> <img alt="합격후기1" src="https://img.eduwill.net/eduwill/img/2022/H/event/220124/@platform/review_01.png" /></div>
					<div class="list"> <img alt="합격후기1" src="https://img.eduwill.net/eduwill/img/2022/H/event/220124/@platform/review_02.png" /></div>
					<div class="list"> <img alt="합격후기1" src="https://img.eduwill.net/eduwill/img/2022/H/event/220124/@platform/review_03.png" /></div>
					<div class="list"> <img alt="합격후기1" src="https://img.eduwill.net/eduwill/img/2022/H/event/220124/@platform/review_04.png" /></div>
					<div class="list"> <img alt="합격후기1" src="https://img.eduwill.net/eduwill/img/2022/H/event/220124/@platform/review_05.png" /></div>
				</div>
				<div class="action">
					<a href="http://invest.eduwill.net/1nvest/community/study/pass_list_190531.asp?M_idx=14" target="_blank">
					  <img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/btn/review_link_btn.png" alt="실시간 업데이트 중! 합격수기 더보기" />
					</a>
				</div>
			</div>
	</div>
	<!--공통-->
	<div class="sector sector-exam">
			<div class="wrap">
				<div class="num"><span>04</span></div>
				<img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/H/@platform/exam_h.png"  alt=""/>
			
			</div>
	</div>
	<!--공통-->
	<div class="sector sector-watch">
			<div class="wrap">
				<div class="num"><span>05</span></div>
				<img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/H/@platform/watch_h.png"  alt="1위 신화는 계속됩니다. 수강생수2722폭발적성장"/>
			</div>
	</div>
	<!--공통-->
	<div class="sector sector-grow">
			<div class="wrap">
				<div class="num"><span>06</span></div>
				<img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/H/@platform/grow_h.png"  alt="1위 신화는 계속됩니다. 수강생수2722폭발적성장"/>
			
			</div>
	</div>
		<!--공통-->
	<div class="sector sector-prize">
			<div class="wrap">	
				<div class="num"><span>07</span></div>
				@if ("W".Equals(ViewBag.PlatformCd)){
				<div class="title">
					<div class="left">
						<strong class="point-colo-purple">4년 연속</strong>
					</div>
					<div class="right">
						<strong class="point-colo-purple">업계최초</strong>
					</div>
				</div>
				<img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/H/@platform/prize_h.png"  alt="단기합겨곧,고득점도 검증된곳에서 "/>
				}
				else{
					<div class="title">
						<div class="left">
							<strong class="point-colo-purple">4년 연속</strong>
						</div>
					</div>
					<div class="title type2">
						<div class="right">
							<strong class="point-colo-purple">업계최초</strong>
						</div>
					</div>
						<img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/H/@platform/prize_h.png"  alt="단기합겨곧,고득점도 검증된곳에서 "/>
				}
			</div>
	</div>
	<div class="sector sector-only">
			<div class="wrap">
				
				@if ("W".Equals(ViewBag.PlatformCd)){
				<div class="eco-2181" data-eduwill-eco-content="2181"></div>
				}
				else{
					<div class="eco-2182" data-eduwill-eco-content="2182"></div>
				}
			</div>
	</div>

</div>

<!--popup-->
<div class="popup-dim"></div>
<div id="popupBase" class="popup popup-base">
	<div class=" popup-close">
		<a href="javascript:;" onclick="popupClose('.popup-dim', 'popupBase');">
			<span class="sr-only">닫기</span>
		</a>
	</div>
	<div class="popup-body">
		<div class="eco-3641" data-eduwill-eco-content="3641"></div> 
	</div>
</div>


<!--도서ISBN-->
<div id="popupISBN" class="popup popup-base">
	<div class=" popup-close">
		<a href="javascript:;" onclick="popupClose('.popup-dim', 'popupISBN');">
			<span class="sr-only">닫기</span>
		</a>
	</div>
	<div class="popup-body">
	<div class="layer_wrap">
				<form name="frmParticipation1" target="hiddenfrmIsbn" action="index_proc.asp" type="post">
					<div class="survey_head">
						<img src="//img.eduwill.net/Img2/5rp/Pds/160531/survey_head01.jpg" alt="도서 ISBN 등록 안내">
					</div>
					<div class="survey_body">
						<img src="//img.eduwill.net/Img2/5rp/Pds/160531/survey_item01_190322.jpg" alt="ISBN 번호는 도서 뒥면 바코드 영역에서 확인하실 수 있으며, 반드시 숫자만 입력해두셔야 등록이 가능합니다.">
						<div class="survey_box">
							<dl>
								<dt>
									<label for="bookNumber">
										<img src="//img.eduwill.net/Img2/5rp/Pds/160531/label01.gif" alt="ISBN 번호">
									</label>
								</dt>
								<dd><input id="bookNumber" class="in_text" name="isbn" type="number" onkeypress="return event.keyCode >= 48 &amp;&amp; event.keyCode <= 57" maxlength="13"></dd>
								<dt>
									<label for="bookStore">
										<img src="//img.eduwill.net/Img2/5rp/Pds/160531/label02.gif" alt="구입처">
									</label>
								</dt>
								<dd><input id="bookStore" class="in_text" name="bookStore" type="text" maxlength="20"></dd>
							</dl>
							<a href="#" onclick="fnParticipate1();return false;">
								<img src="//img.eduwill.net/Img2/5rp/Pds/160531/btn_regist.png" alt="등록하기">
							</a>
						</div>
						<div style="text-align: center; padding: 20px 0 38px 0;">
							<img src="//img.eduwill.net/Img2/5rp/Pds/160531/survey_item01_info.gif" alt="ISBN 번호는 -없이 숫자만 입력하세요. ERP 도서 등록 시에만 다운로드 가능합니다.">
						</div>
					</div>
					<input type="hidden" name="EventName" value="20160530_ERPISBN">
					<input type="hidden" name="PartiType" value="Y">
					<input type="hidden" name="CommentType" value="Y">
					<input type="hidden" name="Flag" value="ADD">
					<input type="hidden" name="Parti_ID" value="0">
					<input type="hidden" name="Progress" value="5">
					<input type="hidden" name="Comment_ID" value="0">
					<input type="hidden" name="Sub_Idx" value="">
					<input type="hidden" name="txtComment" value="">
					<input type="hidden" name="ResultMsg" value="">
				</form>
			</div>
	</div>
</div>


<!--//popup-->

<script type="text/javascript" src="//img.eduwill.net/eduwill/live/js/common/eduf.js"></script>
<script type="text/javascript" src="//img.eduwill.net/eduwill/live/js/common/script.js"></script>
<script type="text/javascript" src="//img.eduwill.net/eduwill/live/libs/scrollfix/scrollfix.js"></script>
<script type="text/javascript">
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
	var url = window.location.href;
	var str = 'event.eduwill.net';
	var checkUrl = url.indexOf(str);
	var userId = "@(UserSession.UserID)";

	$(function () {
		init();
	});

	function init() {
		checkResolution('.promotion-book');
		pageMove('.page-move');
		addEvent();
		winnerList();
		addSlide();
		tab();
		typingEvent();
	}
	  function winnerList(){
        var options = {
          jsonFileNm: 'H201016_WINNER.min',
        };
        var _row;
        var _show;
        if( isMobile && checkUrl != -1 ){
            _row = 3;
            _show = 5;
        } else {
            _row = 5;
            _show = 8;
        }

        var slickOptions = {
            speed: 1000,
            slidesPerRow: _row,
            slidesToShow: _show,
        };

        eduf.UI.Winner(".winner-list", options, slickOptions);
    }

	function tab(){
		$('.tab-list1 li ').on('click', function(){
            var idx = $(this).index();
			$(".tab-list1 li").removeClass("on");
			$(".tab-list1 li").eq(idx).addClass("on");
			$(".tab-views1 > div").hide();
			$(".tab-views1 > div").eq(idx).show();
        });

	}
	function addEvent(){
		$('.tab-button').on('click', function () {
			var tab = $(this).closest('li');
			$(tab).addClass('on').siblings().removeClass('on');
		});
	}

    function checkResolution(e){
        if( isMobile || !checkUrl ){
            replaceImageLinks(e, 'pc', 'mobile');
            //console.log('mobile');
        } else {
            replaceImageLinks(e, 'mobile', 'pc');
            //console.log('pc');
        }
    }

    function replaceImageLinks(target, basic, change) {
        $(target + ' a').each(function(){
            var pcLink = $(this).data("pcLink");
            var mobileLink = $(this).data("mobileLink");
            $(this).attr("href", change == "pc" ? pcLink : mobileLink);
        });
    }

	 function addSlide(){
		$('.slider-contents.slider').each(function(key, item) {
            var sliderIdName = 'productSlider' + key;
                this.id = sliderIdName;
            var sliderId = '#' + sliderIdName;

            $(sliderId).slick({
                autoplay: true,
                autoplaySpeed: 2000,
                speed: 1000,
                infinite: true,
                arrows: true,
                dots: true
            });
        });
		$('.slider-fade').slick({
			autoplay: true,
			autoplaySpeed: 2000,
			speed: 0,
			infinite: true,
			arrows: false,
			dots: false
		});

        $('.slider-multiple').each(function(){
            if ( isMobile ){
                _show = 1;
				_center = true;
            } else {
                _show = 3;
				_center = false;
            }
            $(this).slick({
                autoplay: true,
                autoplaySpeed: 3000,
                speed: 1000,
                infinite: true,
                arrows: false,
                dots: true,
                mobileFirst: true,
                centerMode: false,
				centerMode: _center,
                slidesToShow: _show,
                slidesToScroll: 1
            });
        });


        $('.slider-single').each(function(key, item) {
            var sliderIdName = 'singleSlider' + key;
                this.id = sliderIdName;
            var sliderId = '#' + sliderIdName;
            var _arrow = false, _dot = true;
            var _data = $(sliderId).data('slide');

            if(_data == 'teacher'){
                _arrow = true,
                _dot = false;
            }

            $(sliderId).slick({
                autoplay: true,
                autoplaySpeed: 3000,
                speed: 1000,
                infinite: true,
                arrows: _arrow,
                dots: _dot
            });
        });
    }
	function typingEvent(){
		var typingBool = false;
		var typingIdx = 0;
		var typingTxt = "에듀윌 "; 
		typingTxt = typingTxt.split(""); 
		if (typingBool == false) {
			typingBool = true;
			var tyInt = setInterval(typing, 500);
		}

		function typing() {
			if (typingIdx < typingTxt.length) {	
				$(".typing").append(typingTxt[typingIdx]);
				typingIdx++;

				if(typingIdx > (typingTxt.length-1)) {
					typingIdx = 0;
					$(".typing").empty();
				}
			} else {
				clearInterval(tyInt);
			}
		}
	}

</script>
