//icon
.icon {
	display: inline-block;
	vertical-align: top;
	line-height: 1;
	font-size: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	@include rem(min-height, 18px);
	i { @extend %sr-only; }
	&.logo {
		// eduwill
		&-eduwill {
            background-image: url('#{$img-BI-path}/logo.svg');
			@include rem(width, 68px);
			@include rem(height, 28px);
			// @include size(85.4px, 25.4px, default);
			// background-image: url('#{$img-path}/logo_eduwill.png');
			// @include breakpoint(tablet){
			// 	@include size(85.4px, 25.4px, default);
			// 	background-image: url('#{$img-path}/logo_eduwill.png');
			// }
		}
	}
	&.alarm {
		@include size(108px, 108px, resize);
		background-image: url('#{$img-path}/icon_alarm.png');
	}
	&.menu {
		@include size(108px, 108px, resize);
		background-image: url('#{$img-path}/ic_hamburger.png');
	}
	&.login-kakao {
		@include size(50px, 50px, resize);
		background-image: url('#{$img-path}/icon_login_kakao.png');
	}
	&.login-naver {
		@include size(50px, 50px, resize);
		background-image: url('#{$img-path}/icon_login_naver.png');
	}
	&.myroom {
		@include size(120px, 120px, resize);
		background-image: url('#{$img-path}/ic_myclass.png');
	}
	&.puri {
		@include size(120px, 120px, resize);
		background-image: url('#{$img-path}/ic_traingclassx.png');
	}
	&.life {
		@include size(120px, 120px, resize);
		background-image: url('#{$img-path}/ic_passinglife.png');
	}
	&.eduwill {
		@include size(120px, 120px, resize);
		background-image: url('#{$img-path}/icon_mymenu_eduwill2.png');
	}
	&.live-class {
		@include size(46px, 46px, resize);
		background-image: url('#{$img-path}/ic_symbol01.png');
	}
}