@charset "UTF-8";
a, *:hover, *:active, *:focus, a img, object, embed {
  outline: none;
  -moz-outline-style: none;
}

.product-eco div,
.product-eco a,
.product-eco span,
.product-eco ul,
.product-eco li,
.product-eco dl,
.product-eco dt,
.product-eco dd,
.product-eco em,
.product-eco button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  line-height: 1.5;
}

.product-eco button {
  padding: 0;
  border: 0;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
}

.product-eco .container {
  position: relative;
}

.product-eco .wrap {
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.grid {
  *zoom: 1;
}

.grid:before, .grid:after {
  content: '';
  display: table;
}

.grid:after {
  clear: both;
}

.hidden,
.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.banner-list-item .banner {
  background-color: #fff !important;
}

.dimmed {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup {
  display: none;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 40000;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 594px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #393939;
  background-color: #fff;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

@media screen and (max-width: 768px) {
  .popup {
    width: 88.88889%;
  }
}

.popup .popup_close {
  position: absolute;
  top: 0;
  right: 0;
  width: 56px;
  height: 56px;
}

.popup .popup_close a {
  display: block;
  width: 100%;
  height: 100%;
}

.popup .popup_close a:before, .popup .popup_close a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #aaa;
}

.popup .popup_close a:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup .popup_close a:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup .popup_title {
  padding: 28px 0;
  font-weight: 400;
  text-align: center;
  color: #fff;
  letter-spacing: -1px;
  line-height: 1.2;
  background-color: #393939;
}

@media screen and (max-width: 720px) {
  .popup .popup_title {
    letter-spacing: 0;
    padding: 14px 0;
  }
}

.popup .popup_title strong {
  display: block;
  letter-spacing: -2px;
  font-weight: 700;
}

@media screen and (min-width: 720px) {
  .popup .popup_title strong {
    font-size: 32px;
  }
}

@media screen and (max-width: 719px) {
  .popup .popup_title strong {
    font-size: 4.44444vw;
  }
}

@media screen and (max-width: 720px) {
  .popup .popup_title strong {
    display: block;
    letter-spacing: 0;
  }
}

.popup .popup_title strong em {
  display: block;
  color: #ffd800;
}

.popup .popup_cont {
  padding: 5% 3% 0;
}

.product-eco .wrap {
  width: 1200px;
}

.product-eco .btn-pointer {
  display: inline-block;
  position: relative;
}

.product-eco .btn-pointer:before {
  content: '';
  position: absolute;
  right: -16px;
  bottom: -26px;
  width: 57px;
  height: 65px;
  background: url(https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png) no-repeat 50% 50%;
  background-size: 100% auto;
  -webkit-animation: 0.3s slideupY ease-in-out infinite alternate;
          animation: 0.3s slideupY ease-in-out infinite alternate;
}

@-webkit-keyframes slideupY {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes slideupY {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

.product-eco {
  overflow: hidden;
}

.product-eco img.wide {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

.product-eco .slider-contents {
  padding: 0 70px;
}

.product-eco .slider-contents .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  font-size: 0;
  text-indent: -99999px;
}

.product-eco .slider-contents .slick-prev {
  left: 0;
  background-image: url(https://img.eduwill.net/eduwill/img/2021/F/product/210324/pc/btn_prev.png);
}

.product-eco .slider-contents .slick-next {
  right: 0;
  background-image: url(https://img.eduwill.net/eduwill/img/2021/F/product/210324/pc/btn_next.png);
}

.product-eco .floating-banner-rt {
  position: fixed;
  top: 20%;
  right: 0;
  z-index: 100;
  font-size: 0;
}

.product-eco .floating-banner-rt a {
  display: block;
}

.product-eco .floating-banner-rt .btn-pointer::before {
  right: 15px;
  bottom: 12px;
  width: 36px;
  height: 40px;
}

.product-eco .cont-visual {
  background: url(https://img.eduwill.net/eduwill/img/2021/F/product/210324/pc/visual_bg.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.product-eco .cont1 {
  padding-bottom: 20px;
}

.product-eco .cont2 {
  padding: 36px 0;
  background-color: #ffbf00;
}

.product-eco .cont2 .price-area {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1140px;
}

.product-eco .cont2 .price {
  position: absolute;
  top: 106px;
  right: 52px;
  font-family: 'Roboto' !important;
  font-size: 65px;
  font-weight: 900;
  color: #ea1d00;
  letter-spacing: -4px;
}

.product-eco .cont2 .btn {
  position: absolute;
  top: 231px;
  right: 57px;
}

.product-eco .desc {
  background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(30%, whitesmoke));
  background: linear-gradient(0deg, white 0%, whitesmoke 30%);
}

.product-eco .cont3 {
  background: -webkit-gradient(linear, left bottom, left top, from(whitesmoke), color-stop(30%, white));
  background: linear-gradient(0deg, whitesmoke 0%, white 30%);
}

.product-eco .cont3 .typing {
  position: absolute;
  top: 410px;
  left: 80px;
  font-size: 40px;
  font-weight: 900;
  color: #022222;
  line-height: 1;
  letter-spacing: -1px;
}

.product-eco .cont3 .typing:after {
  content: '';
  display: inline-block;
  position: relative;
  top: -5px;
  width: 2px;
  height: 40px;
  background-color: #fff;
  -webkit-animation-name: cursor;
          animation-name: cursor;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  vertical-align: middle;
}

@-webkit-keyframes cursor {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #022222;
  }
  100% {
    background-color: #fff;
  }
}

@keyframes cursor {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #022222;
  }
  100% {
    background-color: #fff;
  }
}

.product-eco .cont4 .action {
  position: absolute;
  right: 133px;
  bottom: 142px;
}

.product-eco .cont4 .action a {
  display: block;
}

.product-eco .cont5 {
  padding-bottom: 130px;
}

.product-eco .cont5 .slider-review {
  padding: 0 70px;
}

.product-eco .cont5 .slider-review .slick-slide img {
  margin: 0 auto;
}

.product-eco .cont5 .slider-review .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  font-size: 0;
  text-indent: -99999px;
}

.product-eco .cont5 .slider-review .slick-prev {
  left: 0;
  background-image: url(https://img.eduwill.net/eduwill/img/2021/F/product/210324/pc/btn_prev.png);
}

.product-eco .cont5 .slider-review .slick-next {
  right: 0;
  background-image: url(https://img.eduwill.net/eduwill/img/2021/F/product/210324/pc/btn_next.png);
}

.product-eco .cont7 {
  background-color: #e5f5f9;
}

.product-eco .cont7 .wrap {
  width: 1600px;
  margin: 0 auto;
}

.product-eco .cont8 {
  background-color: #e5f5f9;
}

.product-eco .cont10 {
  background-color: #f4f4f4;
}

.product-eco .promotion-year5 {
  padding: 80px 0 120px;
  background: #f8f7f0;
}

.product-eco .promotion-year5 .year5-box {
  position: relative;
  margin: 0 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

.product-eco .promotion-year5 .year5-title {
  position: relative;
}

.product-eco .promotion-year5 .year5-title .action {
  position: absolute;
  top: 26px;
  left: 854px;
}

.product-eco .promotion-year5 .year5-title .action .btn-base {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #999;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .promotion-year5 .year5-title .action .btn-base:after {
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  border-width: 0;
  border-style: solid;
  border-color: #999;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-width: 2px;
  border-right-width: 2px;
  right: 0;
}

.product-eco .promotion-year5 .year5-list {
  overflow: hidden;
  -webkit-transform: perspective(570px) rotateX(45deg);
  transform: perspective(570px) rotateX(45deg);
}

.product-eco .promotion-year5 .year5-list:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 1.5625rem;
  background: #f8f7f0;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f7f0), to(rgba(248, 247, 240, 0)));
  background: linear-gradient(180deg, #f8f7f0 0%, rgba(248, 247, 240, 0) 100%);
}

@media screen and (min-width: 720px) {
  .product-eco .promotion-year5 .year5-list:before {
    height: 50px;
  }
}

.product-eco .promotion-year5 .year5-list:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 1.5625rem;
  background: #f8f7f0;
  background: -webkit-gradient(linear, left bottom, left top, from(#f8f7f0), to(rgba(248, 247, 240, 0)));
  background: linear-gradient(0deg, #f8f7f0 0%, rgba(248, 247, 240, 0) 100%);
}

@media screen and (min-width: 720px) {
  .product-eco .promotion-year5 .year5-list:after {
    height: 50px;
  }
}

.product-eco .promotion-year5 .year5-list .slick-slide {
  margin-top: 0.9375rem;
}

@media screen and (min-width: 720px) {
  .product-eco .promotion-year5 .year5-list .slick-slide {
    margin-top: 30px;
  }
}

.product-eco .promotion-year5 .year5-list .slick-slide img {
  display: inline-block;
}

.popup.popup-base .popup-body {
  padding: 25px;
  text-align: left;
}

.popup .popup-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 11;
}

.popup .popup-close a {
  display: block;
  width: 56px;
  height: 56px;
  position: relative;
}

.popup .popup-close a:after, .popup .popup-close a:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 1px;
  margin-left: -15px;
  background-color: #222;
}

.popup .popup-close a:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup .popup-close a:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
/*# sourceMappingURL=web.css.map */