@import "abstracts/mixins";  
@import "abstracts/extend";  
@import "abstracts/variables";  

@import "base/animation";  
@import "base/common";  
@import "base/popup";  

.fix-apply{opacity:0;}

#contents{
	min-width:1200px;
	overflow:hidden;
}

.house{
	&-content{

		.banner-timer{
			position: fixed;
			bottom:0;
			left:0;
			z-index:10;
			//background:#262626;
			background:#000;
			width:100%;
			padding:20px 0 15px;
		
			.wrap{
				display:table;
				> div {
					display:table-cell;
					vertical-align: middle;
				}
			}

			.timer-tag{
				background-color:#ffbf00;
				padding: 3px 32px;
				span{
					color:#222;font-size:17px;font-weight:900;line-height:1.3;
				}
			}

			.timer-day{
				text-align:left;
				span{
					color:#fff;font-size:17px;font-weight:900;line-height:1.3;letter-spacing:0;
					strong{color:#ffbf00;}
				}
			}

			.timer-text{
				span{
					color:#fbf8f4;
					font-size: 20px;
					font-weight:700;
				}
			}

			.timer-pass{
				font-size:0;
				> div {
					display: inline-block;
					line-height:1;
				}

				span{
					background: url('https://img.eduwill.net/eduwill/img/2021/L/product/210304/pc/bg_num.png') no-repeat 50% 0;
					box-sizing:border-box;
					width:44px;
					height:60px;
					line-height:60px;
					text-align: center;
					color:#000000;
					font-weight:900;
					font-size: 44px;
					vertical-align: middle;
					display: inline-block;
					margin:0 2px;
				}

				em{	padding:0 5px;display: inline-block;vertical-align: middle;color:#fbf8f4;font-size: 20px;font-weight:700;height:60px;line-height:60px;}
			}

			.timer-action{
				a{ 
					&:after{ top:15%; right:-20%; }
					@include pointer(50%, 0, 38px, 43px, 12, bounce);
				}
			}	
		}

		.banner-text{
			position: fixed;
			bottom:0;
			left:0;
			z-index:10;
			background:#262626;
			width:100%;
			padding:20px 0 15px;
			.wrap{
				display:table;width:1100px;
				& > div {
					display:table-cell;
					vertical-align: middle;
				}
			}

			.subject{
				position:relative;
				color:#ffd200;font-weight:900;font-size:28px;line-height:1.2;
				padding:0 70px;
				.icon-leaf-left{position:absolute;left:0;top:-5px;}
				.icon-leaf-right{position:absolute;right:0;top:-5px;}

			}
			.desc{color:#fff;font-weight:900;font-size:30px;text-align:center;}

			.action{
				a{ 
					&:after{ top:15%; right:-20%; }
					@include pointer(50%, 0, 38px, 43px, 12, bounce);
				}
			}
		}



		.fixed-banner{
			position: fixed;
			bottom:0;
			left:0;
			z-index:10;
			background: rgba(0, 0, 0, 0.7);
			width: 100%;
			height: 100px;
			.wrap{
				display:table;
				> div {
					display:table-cell;
					vertical-align: middle;
				}
			}
			a{ 
				&:before{ top:50% !important; right:6% !important; }
				@include pointer(50%, 0, 38px, 43px, 12, bounce);
			}
		}

		.fixed-right-banner{
			position: fixed;
			top: 470px;
			right: 0;
			z-index: 20;
		}

		.banner-text{
			position: fixed;
			bottom:0;
			left:0;
			z-index:10;
			background:#262626;
			width:100%;
			padding:20px 0 15px;
			.wrap{
				display:table;width:1100px;
				& > div {
					display:table-cell;
					vertical-align: middle;
				}
			}

			.subject{
				position:relative;
				color:#ffd200;font-weight:900;font-size:28px;line-height:1.2;
				padding:0 70px;
				.icon-leaf-left{position:absolute;left:0;top:-5px;}
				.icon-leaf-right{position:absolute;right:0;top:-5px;}

			}
			.desc{color:#fff;font-weight:900;font-size:30px;text-align:center;}

			.action{
				a{ 
					&:after{ top:15%; right:-20%; }
					@include pointer(50%, 0, 38px, 43px, 12, bounce);
				}
			}
		}
		
		.wrap{position:relative;width:1200px;margin:0 auto;}
		.notice{
			color:#898989;font-size:14px;line-height:1.4;letter-spacing:-1px;text-align:left;
			span{padding-left:10px;text-indent:-10px;}
		}
		.title{
			padding-top:100px;
			>div{
				color:#222;line-height:1;
				&.sub{
					font-size:30px;font-weight:500;letter-spacing:-3px;
					strong{font-weight:700;}
				}
				&.main{
					font-size:60px;margin-top:20px;font-weight:900;	letter-spacing:-3px;line-height:1.2;
					strong{font-weight:900;}
				}
				&.notice{
					margin-top:30px;color:#999;font-size:14px;letter-spacing:-1px;
				}
			}
		}

		.subtitle{
			>div{
				color:#222;line-height:1;text-align:left;
				&.sub{
					font-size:24px;font-weight:500;	letter-spacing:-3px;
					strong{font-weight:700;}
				}
				&.main{
					font-size:50px;margin-top:15px;letter-spacing:-3px;line-height:1.3;font-weight: 900;
					strong{font-weight:900;}
				}
				&.notice{
					margin-top:16px;color:#999;font-size:14px;line-height:1.3;letter-spacing:-1px;
				}
			}

			&.fly{position:absolute;left:0;top:100px;}
			&.line{
				padding-left:40px;text-align:left;border-left:2px solid #d8d8d8;
				>div{
					&.sub{font-size:30px;}
					&.main{font-size:40px;}
				}
				.btn{margin-top:30px;}
			}
		}

		.title+.subtitle{margin-top:80px;}

		.list{
			&-group{
				margin-top:44px;
				ul{
					@extend %clearfix;text-align:center;
					li{
						position:relative;background-color:#fff;margin-left:14px;margin-bottom:14px;border:1px solid #e7e7e7;@include boxSizing(border-box);display:inline-block;
						border-top-right-radius:30px;border-bottom-left-radius:30px;@include boxShadow(14px 14px 30px 0px rgba(0, 0, 0, 0.18));
						&:nth-child(4n+1){margin-left:30px;}
					}
				}
			}

			&-box{position:absolute;left:25px;top:30px;text-align:left;}
			&-title{color:#222;font-size:24px;font-weight:900;line-height:1.3;letter-spacing:-1px;}
			&-text{color:#999;font-size:14px;font-weight:400;margin:10px 0 6px;line-height:1.3;}
		}

		.btn{
			position:relative;display:inline-block;
			border:1px solid #bbb;padding:5px 20px 5px 10px;
			color:#999;font-size:14px;letter-spacing:-1px;
			&:after{
				content:'';
				@include arrow(right, 5px, 5px, 1px, #bbb);
				margin-left:0;left:auto;right:7px;
			}
			
			&-text{
				border-color:#222;color:#222;background-color:#fff;
				&:after{border-color:#222;}
			}

			&-text2{
				position:relative;display:inline-block;
				padding:5px 20px 5px 10px;
				color:#bbb;font-size:14px;letter-spacing:-1px;line-height:1;
				font-weight:400;
				&:after{
					content:'';
					@include arrow(right, 5px, 5px, 1px, #bbb);
					margin-left:0;left:auto;right:7px;
				}
			}
		}

		.holder{position:relative;}

		.item{
			&-group{			
				margin:0 auto;
				width:1140px;
				background-color:#fff;
				border-radius:30px;padding:50px 50px;
				text-align:left;
				@include boxShadow(14px 14px 30px 0px rgba(0, 0, 0, 0.18));
				@extend %clearfix;
				&-box{
					float:left;width:580px;
					.item{
						&-subject{color:#222;font-size:40px;font-weight:900;line-height:1;}
						&-benefit{
							margin-top:30px;
							text-align:left;
							.col{
								padding-right:40px;border-right:1px solid #eaeaea;margin-right:30px;
								&:last-child{border-right:0;margin-right:0;}
								strong{
									display:block;color:#222;font-size:20px;line-height:1.3;font-weight:500;margin-bottom:12px;
								}
								.small{color:#bbb;font-size:12px;}
							}
							// 211227
							&.four{
								.col{
									padding-right: 20px;
									margin-right: 10px;
									strong{
										display:block;color:#222;font-size:19px;line-height:1.3;font-weight:500;margin-bottom:12px;
									}
									.small{color:#bbb;font-size:12px;}
								}
							}
						}
					}
				}
				&-price{
					float:left;
					.before-price{
						position:relative;
						color:#bbb;font-size:30px;text-decoration: line-through;font-weight:700;line-height:1;
						.btn{position:absolute;right:0;top:0;background-color:#000;color:#fff;}
					}

					.price-group{
						position:relative;
						.before{
							position:relative;
							color:#bbb;font-size:24px;text-decoration: line-through;font-weight:700;line-height:1;
							&  + .after {
								padding-left:5px;
								&:before{
									content:'▶';
								}
							}

							&.none{text-decoration:none;}
						}
						.after{
							position:relative;
							color:#000;font-size:32px;font-weight:700;line-height:1;padding-left:5px;
							&.none{
								&:before{display:none;}
							}
						}
						.btn{position:absolute;right:0;top:0;background-color:#000;color:#fff;}
					}
					
					.after-price{color:#eb2000;margin-top:20px;font-size:34px;font-weight:900;line-height:1;letter-spacing:-2px;}
					.btn-apply{
						display:block;
						margin-top:30px;
						&:before{ top:50% !important; right:6% !important; }
						@include pointer(50%, 0, 38px, 43px, 12, bounce);
					}
				}
			}
		}
	}
	
	&-visual{
		position:relative;
		width:100%;
		height:800px;
		text-align:center; 
		overflow:hidden;
		background-color:#000;
		.bg-video{
			position: absolute; top: 50%; left: 50%; width: auto; height: auto; min-width: 100%; min-height: 100%; -ms-transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); 
		}
		&:after{content:'';	position: absolute; top: 0; left: 0; width:100%;height:100%;background-color:rgba(0,0,0,0.6);z-index:2;}
		.visual{
			position: absolute; 
			top:0; 
			left: 50%; 
			transform:translateX(-50%);
			z-index:3;
			.icon-no1{	
				position: absolute; 
				top:171px;
				left:50%;
				margin-left:433px;
			}
		}
	}

	&-benefit{
		padding-bottom:91px;
		.title{
			opacity:0;
			padding-top:60px;
		}
	}

	&-provide{
		position:relative;padding-bottom:250px;
		@include bg($url: '#{$img-path}/pc/bg_provide.jpg', $size: cover);
		&:after{
			content:'';position:absolute;left:50%;top:0;width:132px;height:132px;margin-left:-66px;margin-top:-55px;
			background:url(#{$img-path}/pc/icon_provide.png) no-repeat 0 0;z-index:2;

		}
		.title{
			opacity:0;
			>div{color:#fff;}
		}

		.list{
			&-group{
				ul{
					li{
						background-color:#2f47ad;border:1px solid #4b63c8;
					}
				}
			}
	
			&-title{color:#fff;}
			&-text{color:#6a84f0;}
		}

	}

	&-price{
		position:relative;z-index:2;
		.item{
			&-group{
				position:absolute;left:50%;bottom:-136px;margin-left:-560px;
			}
		}
	}

	&-reason{
		&-title{
			padding-bottom:100px;
			position:relative;z-index:1;
			.title{
				padding-top:100px;
			}
			.notice{
				text-align:center;
			}
		}
	}

	&-winners{
		.winners-group{
			position:relative;width:100%;height:602px;overflow:hidden;
			@include bg($url: '#{$img-path}/pc/img_winners.jpg', $size: cover);
			.winners-cover{position:absolute;left:0;top:0;width:53%;height:100%;background-color:#fff;z-index:2;}
			.winners-wrap{
				position:absolute;left:50%;top:0;transform: translateX(-50%);width:1200px;height:100%;z-index:3;
				
				.place{
					position:absolute;right:0;bottom:2px;display:inline-block;background-color:#000;color:#fff;font-size:20px;font-weight:500;padding:15px 15px 17px;
					.highlight{display:block;margin-top:8px;font-size:19px;font-weight:500;}
					&+.notice{	position:absolute;right:0;bottom:-20px;}
				}
			}
		}
		.bg-video{
			display:none;
			position: absolute; top: 50%; left: 50%; 
			width: auto; height: auto; 
			min-width: 100%; min-height: 100%; 
			-ms-transform: translateX(-50%) translateY(-50%); 
			-webkit-transform: translateX(-50%) translateY(-50%); 
			transform: translateX(-50%) translateY(-50%); 
			z-index:1;
			// height:602px;
			// overflow: hidden;
		}
	}

	&-key{
		padding:100px 0 62px;
		.key-contents{
			position:relative;
			margin-top:70px;
			.key-list{
				height:464px;
				padding-left: 24px;
			}
			.slick-dots{
				position:absolute;left:95px;top:274px;
				z-index:2;width:100%;text-align:left;
				margin-top:0;
				
				li{
					margin:0 4px;
					button{
						background:#bbb !important;
					}
					&.slick-active button{
						width:48px;
						background:#ffbe00 !important;
					}
				}
			}
		}		
	}

	&-winner-review{
		@include bg($url: '#{$img-path}/pc/bg_winner-review.jpg', $size: cover);
		padding:100px 0 115px;
		.winner-review-contents{
			position:relative;
			.winner-review-list{
				height:327px;
				padding-left: 20px;
			}
			.slick-dots{
				width:100%;
				text-align: center;
				margin-top: 2px;
				li{
					margin:0 4px;
					button{
						background:#bbb;
					}
					&.slick-active button{
						width:48px;
						background:#ffbe00;
					}
				}
			}
		}		
	}

	&-bestseller{
		padding:100px 0 108px;
		.bestseller-gorup{
			position:absolute;left:505px;top:455px;width:660px;text-align:center;
			.evidence{
				color:#222;font-weight:900;font-size:40px;line-height:1.2;margin-bottom:24px;letter-spacing:-2px;
				.small{font-size:24px;font-weight:700;}
			}
		}

		.best-group{
			text-align:left;margin-top:67px;
			.best-title{
				font-size:40px;font-weight:500;color:#000;font-family:$font-noto;line-height:1;
				strong{font-weight:900;color:#ea1d00;}
			}
	
			.btn-best{
				display:inline-block;
				margin:28px auto;
			}
	
			.best-notice{line-height:1;margin:0;font-size:24px;font-weight:500;color:#000;font-family:$font-noto;letter-spacing: 0;}
		}
	}

	&-differ{
		padding:100px 0;
		@include bg($url: '#{$img-path}/pc/bg_differ.jpg', $size: cover);
		.list{
			&-group{
				ul{
					text-align: left;
					li{
						border:none;
						margin-left:13px;
					}
				}
			}
		}
	}

	&-networkbook{
		@include bg($url: '#{$img-path}/pc/bg_networkbook.jpg', $size: cover);
		padding-bottom: 100px;
		.sub-content{
			position: relative;
			> div{
				position: relative;
				display: inline-block;
				line-height:1;
				margin:0 14px;
			}
		}
		.video-box{
			position: absolute;
			top:71px;
			right:0;
			width:570px;
			height:321px;
			video{
				width:100%;
				height:100%;
			}
		}
	}

	&-search{
		@include bg($url: '#{$img-path}/pc/bg_search.jpg', $size: cover);
		.typing{
			position:absolute;left:82px;top:460px;line-height:1;
			color:#022222;font-weight:900;font-size:40px;
			&:after{
				content:'';
				position:relative;top:-5px;
				display: inline-block; 
				animation-name: cursor; 
				animation-duration: 0.3s; 
				animation-iteration-count: infinite; 
				width:2px;height:40px;
				background-color:#fff;
				vertical-align:middle;

				@keyframes cursor{ 
					0%{	background-color:#fff;} 
					50%{background-color:#022222;} 
					100%{background-color:#fff;} 	
				}
			}
		}
		.notice{position:absolute;right:103px;bottom:178px;}
	}
	
	&-review{
		position: relative;
		height: 838px;
		.review-wrap {
			position: relative;
			perspective: 570px;
			overflow:hidden;
			.review-list {
				transform: rotateX(30deg);
				width: 1200px;
				margin:100px auto 0;
				height: 700px;
				opacity:.4
			}
		}
		.review-cover{position:absolute;left:50%;margin-left:-600px;top:0;z-index:1;}

		.graph-wrap{
			position:absolute;left:50%;top:0;transform:translateX(-50%);z-index:2;
			.btn{
				margin-left:10px;margin-top:50px;background-color:#222;border-color:#222;border-radius:5px;
				color:#fff;font-size:22px;font-weight:700;padding:23px 48px;
				&:after{
					@include arrow(right, 10px, 10px, 2px, #fff);
					margin-left:0;left:auto;right:30px;
				}
			}
		}
		.count{position:absolute;left:926px;top:220px;color:#ffbf00;font-weight:900;font-size:50px;}
	}

	&-interview{
		&-title{
			@include bg($url: '#{$img-path}/pc/bg_interview.jpg', $size: cover);
			.wrap{
				&:after{
					content:'';position:absolute;left:50%;bottom:-73px;width:248px;height:74px;margin-left:-124px;
					background:url(#{$img-path}/pc/icon_interview.png) no-repeat 0 0;z-index:2;
				}
			}
		}
		&-list{
			padding:140px 0 0;
			@include bg($url: '#{$img-path}/pc/bg_interviewList.jpg', $size: cover);
			.interview-group{
				position:relative;width:1037px;margin:90px auto 0;height:476px;overflow:hidden;
				.video-box{
					position:relative;width:846px;height:476px;background-color:#000;
					video, iframe{width:100%;height:100%;}
					.btn-video{
						position:absolute;left:0;top:0;
					}
				}
				.interview-list{
					position:absolute;
					right:0;top:0;width:177px;
					font-size: 0;
					.slide-list{
						position:relative;margin-bottom:2px;
						text-align:right;
						.btn-play{
							position:relative;display:block;width:164px;padding-left:12px;
							&:focus{outline: 0;}
							&.on{
								width:177px;
								&:after{content:'';position:absolute;right:0;top:0;	background:url(#{$img-path}/pc/interview_active.png) no-repeat 100% 50%;width:100%;height:92px;cursor:pointer;}
							}
						}
					}
				}
			}
		}
	}
	
	&-winner-list{
		padding-top:100px;
		padding-bottom:100px;
		@include bg($url: '#{$img-path}/pc/bg_winner.jpg', $size: cover);
		.winner-title{
			position: relative;
			padding-top: 77px;
			text-align: center;
			font-family: $font-roboto;
			> div{
				text-align: center;
				line-height:1;
			}
			.icon-feather{
				position: absolute;
				top:77px;
				vertical-align:middle;display:inline-block;
				&.left{
					left:30px;
				}
				&.right{
					right:30px;
				}
				img{vertical-align:middle;}
			}
			.title1{
				font-weight: 700;
				font-size: 54px;
				letter-spacing: -5px;
				color:#222;
				padding-top: 27px;
			}
			.title2{
				font-weight: 600;
				line-height:1.4;
				font-size: 25px;
				color:#222;
				letter-spacing: -2px;
				padding-top: 31px;
			}
			.notice{
				font-weight: normal;
				font-size: 14px;
				color:#ad951a;
				padding-top: 20px;
			}
		}
		// .winner-contents{
		// 	margin-top:40px;
		// 	margin-left:90px;
		// 	.winner-list{
		// 		p{color:#222;font-size:18px;margin:10px 0;font-weight:700;text-align:left;}
		// 	}
		// }
		.winner-cover{position:absolute;bottom:0;left:50%;margin-left:-600px;top:0;z-index:1;}
	}

	&-prize{
		background:#fff;
		.subtitle {
			> div.main{
				line-height:1;
			}
		}
	}

	&-shortpass{
		background-color:#f8f7f0;
		padding: 60px 0 86px;
		text-align:center;
		.wrap{width:1200px !important;}
		.shortpass-group{

			.item-contents{
				width: 920px;margin:0 auto;
				transform: perspective(570px) rotateX(45deg);
				.item-list{
					.slick-slide{margin-top:30px;}
				}
			}
		}
	}

	&-online{
		position:relative;width:100%;height:384px;text-align:center; overflow:hidden;
		@include bg($url: '#{$img-path}/pc/bg_online.png', $size: cover);
		.bg-video{
			display:none;
			position: absolute; top: 50%; left: 50%; 
			width: auto; height: auto; 
			min-width: 100%; min-height: 100%; 
			-ms-transform: translateX(-50%) translateY(-50%); 
			-webkit-transform: translateX(-50%) translateY(-50%); 
			transform: translateX(-50%) translateY(-50%); 
			z-index:1;
		}
		&:after {
			content: "";
			display: inline-block;
			width: 1000px;
			height: 178px;
			background: url(https://img.eduwill.net/resources/recruit/dev/front_renew/images/main/img-motif.svg) no-repeat 0 0;
			background-size: cover;
			position: absolute;
			bottom: -1px;
			right: 0;
			z-index: 2;
		}

		.btn-online{
			position: absolute; top:0; left: 50%; transform:translateX(-50%);z-index:3;
		}

		.btn-close{
			display:none;
			position: absolute; top:20px; right: 20px; z-index:4;
		}
	}

	&-book{
		.subtitle{margin-top:100px;}
		.floating-1{position:absolute;right:40px;top:372px;}
	}

	&-exam{
		padding:90px 0 0;
		background-color:#fbf8f4;
		.exam-contents{
			margin-top:40px;
			.exam-list{height:702px;overflow:hidden;}
		}
		.floating-2{position:absolute;right:40px;top:0;}
	}

	&-teacher{
		.subtitle{margin-top:100px;}
		.teacher-list{
			ul{
				@extend %clearfix;
				li{
					float:left;
					a{display:block;}
				}
				&.teacher-main{
					margin-top:86px;
					li{
						margin-left:12px;
						&:first-child{margin-left:0;}
					}
				}
				&.teacher-sub{
					li{
						margin-top:6px;
						margin-left:13px;
						&:nth-child(7n+1){margin-left:0;}
					}
				}
			}
		}
	}

	&-management{
		padding-bottom: 100px;
		@include bg($url: '#{$img-path}/pc/bg_management.jpg', $size: cover);
		.subtitle{
			.main{margin-top:0;}
			.notice{margin-top:30px;}
		}	
		.img-content{margin-top:80px;}
	}

	&-service{
		padding-bottom:50px;
		.title{padding-left:26px;}
		.img-content{
			position:relative;margin-top:80px;
			.btn{
				position:absolute;
				top:266px;
				left:378px;
				padding:5px 40px;
				color:#333 !important;
				&.dokhan{
					left:380px;
				}
				&.puri{
					left:672px;
				}
			}
		}
	}

	&-liveclass{
		position:relative;padding:100px 0 150px;
		@include bg($url: '#{$img-path}/pc/bg_service.jpg', $size: cover);
		&:after{
			content:'';position:absolute;left:50%;top:0;width:132px;height:132px;margin-left:-66px;margin-top:-55px;
			background:url(#{$img-path}/pc/icon_service.png) no-repeat 0 0;z-index:2;
		}

		.subtitle{
			padding-left: 26px;
			.main{font-size:40px;}
			.sub{font-size:30px;line-height:1.3;margin-top:30px;font-weight:400;}
		}
		.img-content{
			position:absolute;
			right:0;
			top:20px;
			z-index:7;
		}
	}

	&-program{
		.img-content{margin-top:80px;}
	}

	&-hjc{
		padding-bottom:100px;
		z-index:2;
		@include bg($url: '#{$img-path}/pc/bg_alumni.jpg', $size: cover);
		.list{
			&-group{
				ul{
					text-align: left;
					li{
						margin-left:13px;
					}
				}
			}
		}
	}

	&-network{
		background-color:#f3f3f3;
		.subtitle{
			>div{margin-top:5px;}
			text-align:left;position:absolute;left:0;top:217px;
			&+.subtitle{left:694px;}
		}
		.btn-text{margin-top:20px;}
	}

	&-package{
		position:relative;
		@include bg($url: '#{$img-path}/pc/bg_support.jpg', $size: cover);
		.img-content{margin-top:60px;}
		&:after{
			content:'';position:absolute;
			left:50%;top:0;width:132px;height:132px;
			margin-left:-66px;margin-top:-55px;
			background:url(#{$img-path}/pc/icon_plus.png) no-repeat 0 0;z-index:2;
		}
	}


	&-roadmap{
		height:937px;
		.wrap{ width:100% !important;}
		.subtitle.fly {
			position: absolute;
			left: 0;
			top: 258px;
			.main{
				margin-top:0;
				font-size: 40px;
				color:#fff;
			}
			.sub{
				font-size: 30px;
				line-height:1.4;
				margin-top:13px;
				font-weight: 400;
				color:#fff;
			}
		}

		.slick-dots{
			margin:0;
			padding:0;
			position: absolute;
			top:auto;
			bottom:100px;
			left:0;
			right:0;
			width:1140px !important;
			height:360px;
			margin:0 auto !important;
			@extend %clearfix;
			li{
				margin:0 !important; 
				position: relative;
				float:left;
				.step{
					display:block;
					width:180px;
				}
				&:nth-child(1){ 
					top:210px; left:0;
					.step{ height:150px;}
				}
				&:nth-child(2){ 
					top:160px; left:12px;
					.step{ height:200px;}
				}
				&:nth-child(3){ 
					top:110px; left:24px;
					.step{ height:250px;}
				}
				&:nth-child(4){ 
					top:0; left:36px;
					.step{ height:360px;}
				}
				&:nth-child(5){ 
					top:0; left:48px;
					.step{ height:360px;}
				}
				&:nth-child(6){ 
					top:0; left:60px;
					.step{ height:360px;}
				}
			}
		}

		.roadmap-list{
			height:937px;
			overflow: hidden;
			.slick-track,
			.slick-list{
				height:937px;
				-webkit-transform: translate3d(0, 0, 0);
				-moz-transform: translate3d(0, 0, 0);
				 -ms-transform: translate3d(0, 0, 0);
				  -o-transform: translate3d(0, 0, 0);
					 transform: translate3d(0, 0, 0);
			}
			.roadmap-step1{ @include bg($url: '#{$img-path}/pc/bg_road1.jpg', $size: cover); }
			.roadmap-step2{ @include bg($url: '#{$img-path}/pc/bg_road3.jpg', $size: cover); }
			.roadmap-step3{ @include bg($url: '#{$img-path}/pc/bg_road2.jpg', $size: cover); }
			.roadmap-step4{ @include bg($url: '#{$img-path}/pc/bg_road4.jpg', $size: cover); }
			.roadmap-step5{ @include bg($url: '#{$img-path}/pc/bg_road5.jpg', $size: cover); }
			.roadmap-step6{ @include bg($url: '#{$img-path}/pc/bg_road6.jpg', $size: cover); }

			.road-content{
				position: relative;
				width:1200px;
				margin:0 auto;
				h3{
					position: absolute;
					letter-spacing: -5px;
					top:100px;
					margin:0;
					padding:0;
					line-height:1;
					color:#ffc000;
					font-size: 60px;
				}
			}
		}
		.roadmap-count{
			position: absolute;
			top:423px;
			left:50%;
			margin-left: 520px;
			text-align: right;
			span{
				line-height:1;
				display: inline-block;
				color:#fff;
				font-size: 30px;
				font-weight: bold;
				font-family: $font-roboto;
				&.current{
					color:#ffc000;
				}
			}
		}
	}

	&-book-event{
		background-color:#fff;
		padding:80px 0;
	}

	&-banner{
		height:240px;
		@include bg($url: '#{$img-path}/pc/bg_banner2.jpg', $size: cover);
		.img-content{position:relative;top:-57px;}
	}

	&-price-apply{
		margin-top:70px;
		margin-bottom:100px;
	}

	//210727 academy
	&-academy-teacher{
		.subtitle{margin-top:100px;}
		.teacher-list{
			ul{
				@extend %clearfix;
				li{
					float:none !important;
					a{display:block;}
				}
			}
			.teacher-main{
				text-align: center;
				margin: 80px auto 100px;
				ul{
					@extend %clearfix;
					margin:0 auto;
					text-align:center;
					li{
						display: inline-block;
						margin-left:12px;
						&:first-child{margin-left:0;}
						a{display:block;}
					}
				}
			}
		}
	}

	&-academy-review{
		background-color:#f6f6f6;
		overflow: hidden;
		padding-bottom: 72px;
		.academy-group{
			position:relative;
			left:50%;
			width:2760px;
			transform: translateX(-50%);
			.slick-slide{
				width: 920px;
				padding:50px 25px;
				opacity:0.5;
				&.slick-current+div{
					opacity:1;
					transition: 0.5s ease;
					transition-delay: 0.1s;
				}
				.slide-list{
					background-color:#fff;
					border-radius:5px;
					img{
						@include boxShadow(7px 7px 20px 0px rgba(0, 0, 0, 0.3));
						width:100%;
						height:100%;
					}
				}
			}
			.slick-arrow{
				width:100px;
				height:50px;
				border:none;
				transform:none;
				cursor: pointer;
				&.slick-prev{
					left:50%;
					margin-left:-510px;
					@include bg($url: '#{$img-path}/pc/btn_prev.png', $size: cover);
				}
				&.slick-next{
					right:50%;
					margin-right:-510px;
					@include bg($url: '#{$img-path}/pc/btn_next.png', $size: cover);
				}
			}
			.academy-count{
				display:none;
			}
		}
	}

	&-academy-picture{
		background:#fff;
		position:relative;
		overflow: hidden;
		padding-bottom: 50px;
		.picture-group{
			position: relative;
			width: 1920px;
			left: 50%;
			transform: translateX(-50%);
			.slick-slide{
				width: 640px;
				padding:50px 20px;
				img{
					@include boxShadow(7px 7px 20px 0px rgba(0, 0, 0, 0.3));
				}
				.tag{
					display:block;
					color:#222;
					font-size:25px;
					font-weight:700;
					margin-top:30px;
					line-height:1.4;
				}
			}
		}
	}

	&-after-review{
		background-color:#f8f8f8;
		padding-bottom:100px;
		.notice{text-align:center;}
		.after-review-title{
			margin-top:80px;
			margin-bottom:30px;
		}
		.after-review-contents{
			position:relative;
			.slick-slide{;padding:30px 0;margin:0 10px;}
			.slide-list{
				border-radius:50px;width:240px;
				@include boxShadow(	7px 7px 27px 0px rgba(0, 0, 0, 0.23));
				img{width:100%;}
			}

			.slick-dots{
				width:100%;
				text-align: center;
				margin-top: 30px;
				li{
					margin:0 4px;
					button{
						background:#bbb;
					}
					&.slick-active button{
						width:48px;
						background:#ffbe00;
					}
				}
			}
		}
	}

	//211007 renewal
	&-winner-review{
		&.renewal{
			.slide-group{
				position:relative;
				width:100%;
				.video-container{padding-top:30px;}
				.slick-slide{
					margin-right:20px;
					width:457px;
					padding: 30px 0;
					@include boxSizing(border-box);
					opacity:.5;
					&.slick-current{
						opacity:1;
					}
					.slide-list{
						border-radius:50px;
						@include boxShadow(	7px 7px 27px 0px rgba(0, 0, 0, 0.23));
					}
				}
				.slick-dots{
					width:100%;
					text-align: center;
					margin-top: 2px;
					li{
						margin:0 4px;
						button{
							background:#bbb;
						}
						&.slick-active button{
							width:48px;
							background:#ffbe00;
						}
					}
				}
			}
		}
	}
	&-bestseller{
		&.renewal{
			.btn-text{
				position: absolute;
				top:145px;
				left:648px;
			}
			.floating{
				position:absolute;left:50%;top:258px;margin-left: 600px;
				width:142px;
				a{
					display:block;
					&:last-child{margin-top:-10px;}
				}

				animation:bounce 2s infinite both;-webkit-animation:bounce 2s infinite both;
				@-webkit-keyframes bounce {
					0%,100% { -webkit-transform: translateY(10px); transform: translateY(10px); } 
					50% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
				}
				@keyframes bounce {
					0%,100% { -webkit-transform: translateY(10px); transform: translateY(10px); }
					50% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
				}
			}

			.img-group{
				margin-top:-13px;
			}

			.slide-group{
				position:relative;
				width:100%;
                .slick-slide{
					margin-right:20px;
					width:457px;
					padding: 30px 0;
					@include boxSizing(border-box);
					opacity:.5;
					&.slick-current{
						opacity:1;
					}
					.slide-list{
						border-radius:50px;
						@include boxShadow(	7px 7px 27px 0px rgba(0, 0, 0, 0.23));
					}

                }
				.slick-dots{
					width:100%;
					text-align: center;
					margin-top: 2px;
					li{
						margin:0 4px;
						button{
							background:#bbb;
						}
						&.slick-active button{
							width:48px;
							background:#ffbe00;
						}
					}
				}
			}
		}
	}
	&-differ{
		&.renewal{
			@include bg($url: '#{$img-path2}/pc/bg_differ2.jpg', $size: cover);
			.img-group{
				position:relative;
				.step{
					position:absolute;left:0;top:0;opacity:0;
					&-1{left:63px;top:302px;}
					&-2{left:375px;top:90px;}
					&-3{left:700px;top:13px;}
					&-4{left:992px;top:-82px;}
				}
			}
			.slide-group{
				width:100%;
                .slick-slide{
					margin-right:20px;
					width:360px;
					padding: 30px 0;
					@include boxSizing(border-box);
					.slide-list{
						border-radius:50px;
						@include boxShadow(	7px 7px 27px 0px rgba(0, 0, 0, 0.23));
						img{
							display: inline-block !important;
						}
					}
                }

				.slick-dots{
					width:100%;
					text-align: center;
					margin-top: 2px;
					li{
						margin:0 4px;
						button{
							background:#bbb;
						}
						&.slick-active button{
							width:48px;
							background:#ffbe00;
						}
					}
				}
            }
		}
	}
	&-networkbook{
		&.renewal{
			.slide-group{
				position:relative;
				width:100%;
                .slick-slide{
					margin-right:20px;
					width:457px;
					padding: 30px 0;
					@include boxSizing(border-box);
					opacity:.5;
					&.slick-current{
						opacity:1;
					}
					.slide-list{
						border-radius:50px;
						//@include boxShadow(	7px 7px 27px 0px rgba(0, 0, 0, 0.23));
					}
                }
				.slick-dots{
					width:100%;
					text-align: center;
					margin-top: 2px;
					li{
						margin:0 4px;
						button{
							background:#bbb;
						}
						&.slick-active button{
							width:48px;
							background:#ffbe00;
						}
					}
				}
			}
		}
	}
	&-interview-list{
		&.renewal{
			padding-bottom: 100px;
		}
	}
	&-teacher{
		&.renewal{
			padding-bottom: 100px;
			.percent-group{padding-top:60px;text-align:center;}
			.slide-group{
				width:100%;
                .slick-slide{
					margin-right:20px;
					width:457px;
					padding: 30px 0;
					@include boxSizing(border-box);
					opacity:.5;
					&.slick-current{
						opacity:1;
					}
					.slide-list{
						border-radius:50px;
						@include boxShadow(	7px 7px 27px 0px rgba(0, 0, 0, 0.23));
					}
                }
				.slick-dots{
					width:100%;
					text-align: center;
					margin-top: 2px;
					li{
						margin:0 4px;
						button{
							background:#bbb;
						}
						&.slick-active button{
							width:48px;
							background:#ffbe00;
						}
					}
				}
            }
		}
	}
	&-management{
		&.renewal{
			padding-bottom: 0;
		}
	}
}

.product-apply-title{
	padding:80px 0 60px;
	.subject{font-size:56px;color:#222;text-align:left;font-family:$font-noto;font-weight:900;line-height:1.2;letter-spacing: -3px;}
}


//211007 renewal
.btn-text{
	position:relative;display:inline-block;left:-50px;
	padding-right:20px;
	color:#bbb !important;font-size:14px;letter-spacing:-1px;line-height:1;
	font-weight:400;
	&:after{
		content:'';
		background:url('https://img.eduwill.net/eduwill/img/2021/J/main/210917/pc/icon_text.png') no-repeat 50% 0;
		width:13px;height:6px;position:absolute;right:0;top:50%;margin-top:-3px;
	}
}


