@{
	string platform = (string)ViewBag.platformCd == "W" ? "pc" : "mobile";

	String link1 = ("W".Equals(ViewBag.PlatformCd)) ? "https://it.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MjkyMjQ=" : "https://brand.eduwill.net/sugang/view.will?mSeq=37299&progress=I";
	String link2 = ("W".Equals(ViewBag.PlatformCd)) ? "https://it.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MjcyMDA=" : "https://brand.eduwill.net/sugang/view.will?mSeq=37301&progress=I";
}

@{
    string imgUrl = ViewBag.IsLocal
        ? "//img.eduwill.net/eduwill/img/2022/I/event/220318/" // local 경로
        : "//img.eduwill.net/eduwill/img/2022/I/event/220318/"; // ftp 경로

}

<div id="contents" class="promotion">

	<div class="fix-apply">
		<div class="wrap">
			<button type="button" class="benefitBtn" 
				class="btn-refunds"
				data-icon="hand"
				data-style="-21,-12,84,slideY" 
				data-stylemo="0,0,0,none" 
				data-pointer="icon_pointer_20" 
			>100%무료신청</button>
			<img src="@imgUrl/@platform/fix_banner.png" alt="" >
		</div>
	</div>
	<div class="container promotion-visual">
		<div class="wrap">
			<button type="button" data-popup="0" class="eduf-reason-button btn-reason">근거확인</button>
			<img src="@imgUrl/@platform/visual_title.png" alt="" >
		</div>
	</div>

	<div class="container promotion-cont1">
		
		<div class="wrap">
			<img src="@imgUrl/@platform/cont1_title.png" alt="" >
		</div>
	</div>

	<div class="container promotion-cont2 eduf-paragraph-final" 
		data-bg="#1baee5"
		data-img="@imgUrl/@platform/cont2_paragraph.png"
		data-height="260">
		
		<div class="wrap">
			<img src="@imgUrl/@platform/cont2_title1.png" alt="" >
			@if("W".Equals(ViewBag.PlatformCd)){
			<div id="tabwrap">
					<ul>
						<li class="active">1. 최근 7회차 기출 700제</li>
						<li>2. 엑기스 빈출  100제</li>
					</ul>
				<div class="tabContent active" data-num="0"><img alt="" src="@imgUrl/pc/cont2_tab1.png" /></div>
				<div class="tabContent" data-num="1"><img alt="" src="@imgUrl/pc/cont2_tab2.png" /></div>
			</div>
			}

			<button type="button" class="benefitBtn"><img src="@imgUrl/@platform/cont2_title2.png" alt="" ></button>

			@if("M".Equals(ViewBag.PlatformCd)){
				<img alt="" src="@imgUrl/mobile/cont2_tab1.png" />
				<img alt="" src="@imgUrl/mobile/cont2_tab2.png" />
			}

			<img src="@imgUrl/@platform/cont2_title3.png" alt="" >
		</div>
		<div class="slider">
			<div><img src="@imgUrl/pc/cont2_slide1.png" alt="" ></div>
			<div><img src="@imgUrl/pc/cont2_slide2.png" alt="" ></div>
			<div><img src="@imgUrl/pc/cont2_slide3.png" alt="" ></div>
			<div><img src="@imgUrl/pc/cont2_slide4.png" alt="" ></div>
			<div><img src="@imgUrl/pc/cont2_slide5.png" alt="" ></div>
			<div><img src="@imgUrl/pc/cont2_slide6.png" alt="" ></div>
		</div>
	</div>

	<div class="container promotion-cont3">
		<div class="wrap">
			<img src="@imgUrl/@platform/cont3_title1.png" alt="" >

			<div class="linkWrap">
				<a href="@link1" target="_blank">혜택받고 수강신청</a>
				<a href="@link2" target="_blank">혜택받고 수강신청</a>
			</div>
			
			<img src="@imgUrl/@platform/cont3_title2.png" alt="" >
			<img src="@imgUrl/@platform/cont3_title3.png" alt="" >
		</div>
	</div>

	@if("W".Equals(ViewBag.PlatformCd)){
		<div class="container promotion-cont10 eduf-paragraph-final" 
			data-bg="#222"
			data-img="https://img.eduwill.net/eduwill/img/2022/I/product/module/pc/1846/cont10_paragraph.png"
			data-height="260">
			<div class="wrap">
				<button type="button" data-popup="0" class="eduf-reason-button btn-reason">근거확인</button>
				<img alt="" src="https://img.eduwill.net/eduwill/img/2022/I/product/module/pc/1846/cont10_title.png"> 
			</div>
		</div>

		<div class="container promotion-cont11">
			<div class="wrap">
				<img alt="" src="http://img.eduwill.net/eduwill/img/2022/_108/event/220210//pc/cont5_title.png">
				<div class="typing"></div>
			</div>
		</div>

		<div class="container promotion-cont12">
			<div class="review-wrap">
				<div id="reviewWrap" class="review-list"></div>
			</div>
			<div class="wrap">
				<img alt="" src="https://img.eduwill.net/eduwill/img/2022/I/product/module/pc/3241/cont12_title.png"> 
				<a href="https://event.eduwill.net/VictoryStory/I/IT" target="_blank" class="btn">
					<img src="https://img.eduwill.net/eduwill/img/2022/_108/product/220117/pc/eco4154/ecoCont3_title2.png" alt="압도적 합격수기 더보기" >
				</a>
			</div>
		</div>
	}else{
		<div class="container promotion-cont10 eduf-paragraph-final" 
			data-bg="#222"
			data-img="https://img.eduwill.net/eduwill/img/2022/I/product/module/mobile/3242/cont10_paragraph.png"
			data-height="260">
			<div class="wrap">
				<button type="button" data-popup="0" class="eduf-reason-button btn-reason">근거확인</button>
				<img alt="" src="https://img.eduwill.net/eduwill/img/2022/I/product/module/mobile/3242/cont10_title.png" />
			</div>
		</div>
		
		<div class="container promotion-cont11">
			<div class="wrap">
				<img alt="" src="http://img.eduwill.net/eduwill/img/2022/_108/event/220210//mobile/cont5_title.png">
				<div class="typing"></div>
			</div>
		</div>

		<div class="container promotion-cont12">
			<div class="review-wrap">
				<div id="reviewWrap" class="review-list"></div>
			</div>
			<div class="wrap">
				<img alt="" src="https://img.eduwill.net/eduwill/img/2022/I/product/module/mobile/3242/cont12_title.png" />
				<a href="https://event.eduwill.net/VictoryStory/I/IT" target="_blank" class="btn">
					<img src="https://img.eduwill.net/eduwill/img/2022/_108/product/220117/mobile/eco4157/ecoCont3_title2.png" alt="압도적 합격수기 더보기" >
				</a>
			</div>
		</div>
	}
	
</div>
<div id="eduf-popup">
	<div class="popup popup-base">
		<div class="popup-body">
		
			<div data-popupcont="0" class="eco-4344"></div>

		
            <button id="eduf-popup-close" type="button" class="popup-close"><span class="sr-only">닫기</span></button>
		</div>
		
	</div>
</div>



<script type="text/javaScript" src="https://img.eduwill.net/eduwill/live/js/common/EventPersonalKTK.js"></script>
<script type="text/javaScript" src="https://img.eduwill.net/eduwill/live/js/common/script.js"></script>

<script type="text/javascript">
	getEcoDynamicForClass(4344, 'eco-4344');

	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
	var url = window.location.href;
	
	// DOM Load Event
	document.addEventListener("DOMContentLoaded", function(){
		_f_initLinkHand();
		pageMove('.page-move');
		_f_initTyping('에듀윌 정보처리기사 ');
		
		if( !isMobile ){
			_f_initTabMenu();
		}

		$('.review-list').slick({
			autoplay: true,
			autoplaySpeed: 0,
			infinite: true,
			cssEase: 'linear',
			arrows: false,
			slidesToScroll: 1,
			speed: 1500,
			slidesToShow: 14,
			vertical: true,
			pauseOnHover: false,
			pauseOnFocus: false,
		});

		$('.slider').slick({
			arrows: false,
			infinite: true,
			slidesToShow: 1,
			slidesToScroll: 1,
			dots: false,
			autoplay: true,
			centerMode: true,
			variableWidth: true,
            autoplaySpeed: 3000,
			responsive: [{
				breakpoint: 720,
				settings: {
					variableWidth: false,
					centerMode: true,
				}
			}]
		});
	});	
	
	$(window).on('load', function(){
		//_f_initTabMenu();
	});

	function _f_initTabMenu(){
		var _tabWrap = document.getElementById('tabwrap')
		var _tabButton = _tabWrap.getElementsByTagName('li')
		
		for(var i=0; i < _tabButton.length; i++ ){

			_tabButton[i].onclick = function(e){

				var _target = e.currentTarget;
				var _parent = _target.parentNode;
				var _index = [].indexOf.call(_parent.children, _target);
				var _tabContent = document.getElementsByClassName('tabContent');

				_tabWrap.querySelector('li.active').classList.remove('active')
				_tabWrap.querySelector('div.active').classList.remove('active')

				_target.classList.add('active')
				_tabContent[_index].classList.add('active')
				
			}

		}
	}

	var _reviewWrap = document.getElementById('reviewWrap');	
	var _reviewArrary = [
		
		{num: 214, text: '급하게 준비하느라 에듀윌교재로 5일동안 직장다니며 늦은 새벽까지 계속 공부했는데. 에듀윌덕에 붙은것같습니다.', name: '손*현', count:399},
		{num: 213, text: '일주일 만에 합격했어요!!', name: '김*용', count:736},
		{num: 212, text: '취준생이라 시간이 많았는데 1달만에 에듀윌 강의로 합격했습니다~', name: '최*균', count:263},
		{num: 211, text: '1개월정도 점심시간과 퇴근시간 이후 틈틈이 공부했습니다. 시험난이도가 평이하여 다행히 	합격한걸로 채점되네요~', name: '정*영', count:327},
		{num: 210, text: '기본이론 듣고, 핵심정리 그리고 문제풀이와 모의고사 커리큘럼으로 짧고 굵게 공부하여 필기 한번에 합격했습니다. ', name: '박*권', count:160},
		{num: 209, text: '과년도 위주로 공부하면 고득점은 모르겠으나 빠른 시간내에 합격할 수 있을거라 장담합니다', name: '송*한', count:183},
		{num: 208, text: '대체적으로 에듀윌 기출 과년도 문제 두번정도만 돌려본다면 모두 합격할수있을 정도의 문제난이도로 누구나 도전할수있을 정도였습니다 ', name: '송*화', count:200},
		{num: 207, text: '3일 정도 10년치 2번 반복해서 갔는데, 대체적으로 비슷하게 나온거 같습니다', name: '이*진', count:238},
		{num: 206, text: '기출열심히공부했으면 여유롭게 합격할 정도였던것같아요 계산문제도 포기하지말고 공부한게 유효했습니다', name: '이*동', count:194},
		{num: 205, text: '기출을 중점적으로 보고 모르는건 이론서를 참고하여서 많은 도움되었습니다.', name: '김*원', count:148},
		{num: 204, text: '1과목 무난히 쉬움, 2과목 살짝 아리송함, 3과목 신출있었지만 할만함, 4과목 멘붕했지만 상식선에서 고름, 5과목 할만함, 6과목 물 진짜 과년도 기출이 중요', name: '김*우', count:209},
		{num: 203, text: '평균 90 나왔네요 옛날 전기기사 공부했던게 큰 도움이 됐네요 100점도 가능할뻔~	아무튼 에드윌 감사 합니다', name: '양*열', count:195},
		{num: 202, text: '저는 화학이 제일 어려웠던거같습니다. 그래도 감사합니다!', name: '연*원', count:172},
		{num: 201, text: '에듀윌 교재로 합격했어요~!! 감사합니당', name: '이*아', count:154},
		{num: 200, text: '에듀윌 교재로 합격했어요.너무 기분좋네요 3일정도 기출로만 공부했는데 합격!!', name: '이*건', count:176},
		
	];

	var _reviewHTML = '';
	for( i=0; _reviewArrary.length > i; i++){
		_reviewHTML += '<div class="item">';
		_reviewHTML += '<span><span class="num">'+_reviewArrary[i].num+'</span></span>';
		_reviewHTML += '<span class="subject"><span>'+_reviewArrary[i].text+'</span> </span>';
		_reviewHTML += '<span> '+_reviewArrary[i].name+' </span>';
		_reviewHTML += '<span>'+_reviewArrary[i].count+'</span>';
		_reviewHTML += '</div>';

	}
	_reviewWrap.innerHTML = _reviewHTML;

</script>