@charset "euc-kr";

body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,img,div { margin:0; padding:0; font-family:'맑은고딕', Malgun gothic, Dotum, '돋움'; font-size:13px; color:#555; letter-spacing:0}
img,fieldset { border:0}
ul,ol { list-style:none}
input,select { vertical-align:middle}
img {vertical-align:top}
em,address { font-style:normal}
table { border-collapse:collapse; border-spacing:0px; empty-cells:show; table-layout:fixed}
legend,caption { visibility:hidden; width:0; height:0; margin:0; padding:0; font-size:0; line-height:0}
a {text-decoration:none;}

/* layout */
body {background:url(../images/bg_body.png) repeat-y 1540px 0; /*width:1500px;*/ overflow-x:auto}
#header {width:240px; position:fixed; top:0; left:0; bottom:0; min-height:740px; background:#fff url(../images/bg_header.png) repeat-y 0 0; z-index:10}
#container {margin-left:240px; padding-bottom:136px; min-height:600px; max-width:1300px; min-width:820px; background:#fff}
#container #contents {max-width:820px; margin:0 auto; padding:0 50px}
#footer {margin-left:240px; height:163px; border-top:solid 1px #dbdbdb; background:#fff;}
#footer .inner {max-width:1300px;}
#footer .inner:after {content:""; display:block; clear:both}

/* common */
#header .logo {padding:51px 0 33px 56px}
#header .logo h1 {width:111px; height:69px; }
#header .logo h1 span {display:inline-block; width:111px; height:69px; background:url(../images/logo.png) no-repeat 0 0; text-indent:-9999em}
#header .info {padding:0 35px; position:absolute; bottom:40px; left:0}
#header .info dl {padding-top:40px;}
#header .info dl dt {font-size:12px; color:#000; font-weight:bold; border-bottom:solid 1px #ccc; padding-bottom:7px;}
#header .info dl dd {font-size:12px; color:#555; font-family:Dotum, '돋움'; padding-top:18px; line-height:16px}

#gnb {border:solid 1px #f7f7f7; border-width:1px 0}
#gnb ul {}
#gnb ul li {border-top:solid 1px #f7f7f7; height:69px; line-height:69px; text-align:center;}
#gnb ul li:first-child {border-top:none}
#gnb ul li a {font-size:17px; color:#444; font-weight:bold; letter-spacing:-1px}
#gnb ul li.on a {background:url(../images/bg_gnb.png) repeat-x 0 100%; padding:0 25px}
#gnb ul li a:hover {background:url(../images/bg_gnb.png) repeat-x 0 100%; padding:0 25px}

#location {text-align:right; font-size:0; padding:45px 45px 0 0}
#location strong {font-size:13px; color:#000}
#location span {font-size:13px; color:#555; background:url(../images/bg_location.png) no-repeat 100% 7px; padding-right:13px; margin-right:9px;}
#location a {color:#555}

.title {padding:56px 0 78px 0;}
/*.title h2 {font-size:45px; color:#000; font-weight:normal; line-height:55px; padding-bottom:20px; background:url(../images/bg_title.png) no-repeat 0 100%; letter-spacing:-4px;}*/
.title h2 {font-size:45px; color:#000; font-weight:normal; line-height:55px; padding-bottom:20px; background:url(../images/bg_imgh2.png) no-repeat 100% 100%; letter-spacing:-4px;}
.title p {font-size:16px; color:#555; padding-top:35px; letter-spacing:-1px;}
h3 {font-size:20px; color:#000; font-weight:normal; padding-bottom:28px; padding-top:125px; letter-spacing:-1px;}
h3.first {padding-top:0}

#footer {position:relative;}
#footer address {float:left; font-size:12px; color:#555; font-family:Dotum, '돋움'; padding:40px 0 0 35px; line-height:20px; }
#footer #familysite {float:right; padding:40px 50px 46px 0; position:relative;}
#footer #familysite a.openbtn {display:block; background:url(../images/bg_familysite.png) no-repeat 0 0; width:151px; height:30px; font-size:12px; color:#555; font-family:Dotum, '돋움'; line-height:34px;}
#footer #familysite a.openbtn span {padding-left:12px}
#footer #familysite .fs_layer {position:absolute; bottom:46px; right:50px; z-index:20; display:none}
#footer #familysite .closebtn {text-align:right}
#footer #familysite .closebtn a {display:inline-block; height:26px; line-height:30px; background:#777; color:#fff; font-size:11px; font-family:Dotum, '돋움'; padding:0 9px; text-align:center;}
#footer #familysite .closebtn a span {display:inline-block; height:26px; line-height:30px; background:url(../images/btn_fsClose.png) 100% 50% no-repeat; padding-right:16px;}
#footer #familysite .fs_layer .cont {border:solid 1px #000; background:#f8f8f8; padding:10px 10px 30px; width:610px;}
#footer #familysite .fs_layer .cont dl {font-family:'맑은고딕', Malgun gothic; }
#footer #familysite .fs_layer .cont dl dt {background:#ffe533; height:27px; line-height:27px; padding-left:12px; font-size:13px; color:#000; margin-bottom:10px;}
#footer #familysite .fs_layer .cont dl dd:after {content:""; display:block; clear:both}
#footer #familysite .fs_layer .cont dl dd {}
#footer #familysite .fs_layer .cont dl dd span a {display:block; line-height:24px; font-size:13px; color:#000; letter-spacing:-1px;}
#footer #familysite .fs_layer .cont dl dd .grp {float:left; padding-left:12px;}
#footer #familysite .fs_layer .cont dl dd .grp.grp1 {width:200px}
#footer #familysite .fs_layer .cont dl dd .grp.grp2 {width:380px;}
#footer #familysite .fs_layer .cont dl dd ul li {margin-top:10px;}
#footer #familysite .fs_layer .cont dl dd ul li em,
#footer #familysite .fs_layer .cont dl dd ul li div a,
#footer #familysite .fs_layer .cont dl dd ul li div {font-size:12px; color:#4e4e4e; letter-spacing:-1px;}

/* 공통 컨텐츠 */
.desc {font-size:13px; color:#555; font-family:Dotum, '돋움'; padding:25px 0 0 0; }
p.desc {padding-top:15px; line-height:21px}
dl.desc dt,
dl.desc dd {padding-top:3px; line-height:20px; font-family:Dotum, '돋움';}

.tb_style {border-top:solid 2px #ffd112;}
.tb_style table {width:100%;}
.tb_style table th,
.tb_style table td {font-size:14px; color:#555; /*font-family:Dotum, '돋움';*/ text-align:center; border:solid 1px #e8e8e8; border-right:none; letter-spacing:0}
.tb_style table tr td:first-child,
.tb_style table tr th:first-child { border-left:none}
.tb_style table thead th {background:#f9f6f0; padding:12px 0; font-weight:bold; letter-spacing:-1px;}
.tb_style table thead th.line2 {padding:5px 0}
.tb_style table tbody th {font-weight:normal; background:#f8f8f8}
.tb_style table tbody td {background:#fff; padding:24px 0; line-height:18px;}
.tb_style table thead th.rowline,
.tb_style table tbody td.rowline {border-left:solid 1px #e8e8e8}
.tb_style table tbody td.rowpad {padding:7px 0}
.tb_style table tbody tr.overline td {border-bottom:solid 1px #cecece; height:0; padding:0}

div.bx-wrapper {margin:0}
div.bx-wrapper .bx-viewport { -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; border:none; left:0; background:none;}

.photoslider .bx-wrapper .bx-controls-direction a {width:53px; height:53px; margin-top:-26px}
.photoslider .bx-wrapper .bx-controls-direction a.bx-prev { left:0; background: url(../images/btn_photo_prev.png) no-repeat 0 0;}
.photoslider .bx-wrapper .bx-controls-direction a.bx-next { right:0; background: url(../images/btn_photo_next.png) 0 0 no-repeat;}
.photoslider .bx-pager {margin-top:10px}
.photoslider .bx-pager {overflow:hidden}
.photoslider .bx-pager a {float:left; width:10.2%; height:auto; margin-left:1%; position:relative;}
.photoslider .bx-pager a:first-child {margin-left:0}
.photoslider .bx-pager a img {width:100%; height:100%}
.photoslider .bx-pager a span {display:block; position:absolute; top:0; left:0; width:100%; height:100%; background:#fff; opacity:0.5; filter:alpha(opacity=50); z-index:10;}
.photoslider .bx-pager a.active span {background:none; background: url(../images/bg_photomask.png) no-repeat 0 0; background-size:100% 100%; opacity:1; filter:alpha(opacity=1);}

/* 메인 */
#container.section_main {min-width:960px; padding-bottom:0}
#container.section_main #contents {padding:0; margin:0; max-width:1300px}
.section_main .mtitle {padding:0 0 0 91px; height:322px; margin-right:90px; background: url(../images/bg_main.png) no-repeat 100% 100%; /*min-width:940px;*/}
.section_main .mtitle h2 {padding-top:118px; background: url(../images/title_main.png) no-repeat 0 100%; width:537px; height:40px; text-indent:-9999em}
.section_main .mtitle p {font-size:15px; color:#555; line-height:22px; letter-spacing:-1px}
.section_main .mtitle p.t1 {padding-top:18px; }
.section_main .item01 {border-top:solid 3px #ffd112;}
.section_main .item01:after {content:""; display:block; clear:both} 
.section_main .item01 .area {float:left; width:33%; height:569px;}
.section_main .item01 .area:first-child {width:34%;}
.section_main .item01 .area01 {background:url(../images/bg_mainlink01.jpg) no-repeat 50% 0; background-size:cover}
.section_main .item01 .area02 {background:url(../images/bg_mainlink02.jpg) no-repeat 50% 0; background-size:cover}
.section_main .item01 .area03 {background:url(../images/bg_mainlink03.jpg) no-repeat 50% 0; background-size:cover}
.section_main .item01 .area a {display:block; width:100%; height:569px; text-align:center; position:relative;}
.section_main .item01 .area a div {position:absolute; bottom:0; left:0; width:100%; height:285px;  z-index:10}
.section_main .item01 .area a div strong {display:block; font-size:26px; color:#fff; padding:13px 0 0 0; font-weight:bold; letter-spacing:-1px}
.section_main .item01 .area a div span {display:block; font-size:15px; color:#fff; padding:8px 0 0 0; letter-spacing:-1px}
.section_main .item01 .area a div.over {background:#ffd112; z-index:1; display:none;}
.section_main .item01 .area.active a div strong, 
.section_main .item01 .area.active a div span {color:#000}
.section_main .item01 .area01 a {background:url(../images/icon_mainlink01.png) no-repeat 50% 178px; }
.section_main .item01 .area02 a {background:url(../images/icon_mainlink02.png) no-repeat 50% 178px; }
.section_main .item01 .area03 a {background:url(../images/icon_mainlink03.png) no-repeat 50% 178px; }

.section_main .item02:after {content:""; display:block; clear:both}
.section_main .item02 .area {float:left; width:33%; height:auto; position:relative; overflow:hidden; min-height:417px;}
.section_main .item02 .area:first-child {width:34%;} 
.section_main .item02 .area01 {background:#ffd112}
.section_main .item02 .area03 {background:#232a32}
.section_main .item02 .area div img {width:100%;}
.section_main .item02 .area01 div {position:absolute; bottom:0; left:0; width:100%}
.section_main .item02 .area a {display:block; height:100%; padding:46px 0 0 12%;}
.section_main .item02 .area a span {display:block;}
.section_main .item02 .area a span em {display:block; text-indent:-9999em;}
.section_main .item02 .area a span.txt2 {font-size:15px; line-height:20px; padding-top:12px}
.section_main .item02 .area a span.btn {margin-top:30px;}
.section_main .item02 .area01 a span.txt1 em {background:url(../images/title_link01.png) no-repeat 0 0; width:137px; height:36px;}
.section_main .item02 .area03 a span.txt1 em {background:url(../images/title_link02.png) no-repeat 0 0; width:102px; height:36px;}
.section_main .item02 .area01 a span.txt2 {color:#000; letter-spacing:-1px;}
.section_main .item02 .area03 a span.txt2 {color:#fff}
.section_main .item02 .area01 a span.btn em {background:url(../images/btn_view01.png) no-repeat 0 0; width:156px; height:36px;}
.section_main .item02 .area03 a span.btn em {background:url(../images/btn_view02.png) no-repeat 0 0; width:156px; height:36px;}

/* E-스퀘어 */
.vrwrap {max-width:820px;}
.vrwrap img {width:100%}
.vrinfo {margin-bottom:18px;}
.vrinfo:after {content:""; display:block; clear:both} 
.vrinfo ul {float:left; }
.vrinfo li {font-size:12px; font-family:Dotum, '돋움'; margin-top:7px;}
.vrinfo li:first-child {margin-top:0}
.vrinfo span {float:right;}

/* 대관안내 */
.rentstep {max-width:820px;}
.rentstep img {width:100%}
.rentstep:after {content:""; display:block; clear:both} 
.rentstep dl {float:left; width:140px; padding-right:30px; background: url(../images/bg_arrow.png) 123px 63px no-repeat; text-align:center; }
.rentstep dl.last {padding-right:0; background:none;}
.rentstep dl dt {border:solid 1px #c5c5c5; border-radius:50%; line-height:140px; width:138px; height:138px; color:#000; font-size:16px;}
.rentstep dl dd {font-size:12px; color:#888; font-family:Dotum, '돋움'; padding:18px 0 0 0; line-height:18px}
.rents-btn {padding-top:20px; text-align:center; width:140px;}
.rents-btn a {display:inline-block; background:#000; height:28px; line-height:28px; padding:0 14px; font-size:11px; color:#fff; font-family:Dotum, '돋움';}
.rents-btn a span { background: url(../images/bg_btn.png) 100% 50% no-repeat; padding-right:28px;}
.resinfo {}
.resinfo li {font-size:12px; font-family:Dotum, '돋움'; margin-top:8px;}
.resinfo li:first-child {margin-top:0}
.resinfo li div {padding-top:18px; font-size:12px; font-family:Dotum, '돋움'; color:#888 ; line-height:20px;}
.section03 .item03 h3 {padding-top:85px;}

/* 대관신청 */
.statewrap {position:relative;}
.statewrap .calendarBtn {background:#f8f8f8; height:49px; text-align:center; position:relative; margin-bottom:15px; margin-top:15px;}
.statewrap .calendarBtn span {font-size:20px; color:#000; line-height:49px;}
.statewrap .calendarBtn a {display:block; width:7px; height:17px; position:absolute; top:18px; text-indent:-9999em}
.statewrap .calendarBtn a.prev {left:20px; background:url(../images/btn_calendar_prev.png) 0 0 no-repeat;}
.statewrap .calendarBtn a.next {right:20px; background:url(../images/btn_calendar_next.png) 0 0 no-repeat;}
.statewrap .tb_style table tbody td {padding:0; height:99px;}
.statewrap .tb_style table tbody td.active {background:#ffd112}
.statewrap .tb_style table tbody td div {width:100%; height:100%; position:relative;}
.statewrap .tb_style table tbody td div .day {position:absolute; top:15px; left:20px; font-size:16px; color:#000}
.statewrap .tb_style table tbody td.sun div .day,
.statewrap .tb_style table tbody td.sat div .day {color:#f01126}
.statewrap .tb_style table tbody td div .state {vertical-align:middle; border:none; display:inline-block; position:absolute; bottom:16px; left:50%; margin-left:-43px; width:86px; height:26px; line-height:29px; background:#f2f2f2; color:#b8b8b8; font-size:11px; font-family:Dotum, '돋움';}
.statewrap .tb_style table tbody td div .state.ing {border:solid 1px #c5c5c5; width:84px; height:24px; background:#fff; cursor:pointer}
.statewrap .tb_style table tbody td div .state.ing span {display:inline-block; height:24px; line-height:26px; background:#fff url(../images/bg_btn02.png) 100% 50% no-repeat; padding-right:24px; color:#000; letter-spacing:-1px;}
.statewrap table tbody td div .tip {display:none; position:absolute; width:296px; height:auto; border:solid 1px #000; top:99px; left:50%; margin-left:-149px; background:#fff; z-index:5; text-align:left; padding:15px 0;}
.statewrap table tbody td div .tip .close {position:absolute; top:7px; right:8px; display:block; width:9px; height:9px; background:url(../images/btn_tipClose.png) 0 0 no-repeat; text-indent:-9999em}
.statewrap table tbody td div .tip .arrow {position:absolute; top:-7px; left:50%; margin-left:-5px; display:block; width:11px; height:7px; background:url(../images/bg_tip.png) 0 0 no-repeat;}
.statewrap table tbody td div .tip ul {padding:0 20px}
.statewrap table tbody td div .tip ul li {background:#fff url(../images/bul_tiplist.png) 0 8px no-repeat; padding-left:8px; margin-top:5px;}
.statewrap table tbody td div .tip ul li:first-child {margin-top:0}
.statewrap .formWrite {position:absolute; top:55px; left:0; z-index:10; width:100%;}
.statewrap .formWrite .inn {padding:0 40px 35px; border:solid 1px #000; background:#fff;}
.statewrap .formWrite .tit {font-size:20px; color:#000; text-align:center; padding:31px 0; font-weight:bold; letter-spacing:-1px;}
.statewrap .formWrite .closeWrite {position:absolute; top:22px; right:22px; display:block; width:23px; height:23px; background:url(../images/btn_writeClose.png) 0 0 no-repeat; text-indent:-9999em}
.statewrap .formWrite table {width:100%;}
.statewrap .formWrite table tbody th,
.statewrap .formWrite table tbody td {border:solid 1px #e8e8e8; font-size:13px; color:#000; padding:9px 13px; font-weight:normal} 
.statewrap .formWrite table tbody th {background:#f8f8f8; text-align:left; padding:0 0 0 18px; height:49px;}
.statewrap .formWrite table tbody td .text {padding:0 3px 0 2px; font-size:13px; vertical-align:middle}
.statewrap .formWrite table tbody td input[type='text'] {border:solid 1px #c7c7c7; height:28px; line-height:28px; text-indent:10px;}
.statewrap .formWrite table tbody td select {border:solid 1px #c7c7c7; height:30px;}
.statewrap .formWrite table tbody td textarea {border:solid 1px #c7c7c7; height:88px; padding:1%; margin:0; width:97%}
.statewrap .formWrite table tbody td a.btn {vertical-align:middle; display:inline-block; height:26px; line-height:30px; background:#777; color:#fff; font-size:11px; font-family:Dotum, '돋움'; padding:0 9px; text-align:center;}
.statewrap .formWrite table tbody td .grp {margin-top:10px;}
.statewrap .formWrite table tbody td .grp.grp1 {margin-top:0}
.statewrap .formWrite table tbody td .resview {position:relative;}
.statewrap .formWrite table tbody td .resview .date {font-size:16px;}
.statewrap .formWrite table tbody td .resview a.btn {margin-left:10px; }
.statewrap .formWrite table tbody td .resview a.btn span {display:inline-block; height:26px; line-height:30px; background:url(../images/bg_btn03.png) 100% 50% no-repeat; padding-right:16px;}
.statewrap .formWrite table tbody td .resview .tip {top:36px; left:-6px; margin-left:0}
.statewrap .formWrite table tbody td .equ_sel label {display:inline-block; color:#000; margin-left:3px}
.statewrap .formWrite table tbody td .price {font-size:12px; color:#888}
.statewrap .formWrite table tbody td .price strong {font-size:20px; color:#f01126; font-weight:normal}
.statewrap .formWrite .btn_sm {text-align:center; padding-top:21px;}
.statewrap .formWrite .btn_sm a{display:inline-block; height:40px; line-height:40px; background:#ffd112; color:#000; font-size:16px; padding:0 21px;}
.statewrap .formWrite .btn_sm a span {display:inline-block; height:40px; line-height:40px; background:url(../images/bg_btn04.png) 100% 50% no-repeat; padding-right:80px; letter-spacing:-1px;}
.section04 .item02 h3 {padding-top:40px;}

/* 오시는 길 */
.mapwrap {max-width:820px;}
.mapwrap img {width:100%}
.mapbtn {margin-top:10px; text-align:right;}
.mapbtn a {display:inline-block; border:solid 1px #c5c5c5; width:84px; height:24px; background:#fff; text-align:center}
.mapbtn a span {display:inline-block; height:24px; line-height:26px; background:#fff url(../images/bg_btn02.png) 100% 50% no-repeat; padding-right:24px; color:#000; line-height:29px; font-size:11px; font-family:Dotum, '돋움';}
.mapaddress {padding-top:67px;}
.mapaddress:after {content:""; display:block; clear:both} 
.mapaddress dl {float:left; width:50%;}
.mapaddress dl dt {font-size:20px; color:#000; font-weight:normal; padding-bottom:20px; }
.mapaddress dl dd {font-size:12px; font-family:Dotum, '돋움'; line-height:25px}




@media (max-width: 1350px) {
  .section_main .mtitle {margin-right:0px; background-position:120% 100%}
  .mtitle p.t1 {
    width : 350px;
  }
}
