@charset "utf-8";

#wrap { position:relative; right:0; background:#fff; z-index:1;}
#topHeader { position:relative; padding:6px 0 8px; width:100%; text-align:center; background:#fff;}

/* header */
#header { position:relative; width:100%; min-width:320px; height:45px; box-sizing:border-box; border-bottom:1px solid #f3d30a; background:#ffdd00; z-index:1;}
.location { height:44px; text-align:center; box-sizing:border-box; border-bottom:1px solid #f6eca8;}
h1 { display:inline-block; padding:11px 0; text-align:center; font-size:18px; color:#373423; font-family:'nanum_b';}
h1 a { color:#373423 !important;}
h1 img { width:74px; vertical-align:top; padding-top:5px;}
h2 { display:inline-block;}
.item_haed h1 { height:45px;}
.item_haed h1 img { width:59px; vertical-align:top; padding-top:4px;}
.item_haed h1 a { vertical-align:top; height:25px;}
.item_haed h1 span { position:absolute; top:26px; left:0; display:block; padding-left:6px; width:98%; text-align:center; font-size:12px; font-family:'nanum_b'; color:#373423;}

#m_btn { overflow:hidden; height:40px; line-height:40px;}
#m_btn ul li { width:50%; float:left; background:#f4f4f3;}
#m_btn ul li:last-child a { border-left:1px solid #cac9c2;}
#m_btn ul li:first-child a { border-right:1px solid #fff;}
#m_btn ul li a { display:block; box-sizing:border-box; width:100%; height:40px; line-height:40px; text-align:center; color:#666; font-family:'nanum_b';}

a.btn_category { display:block; position:absolute; top:15px; left:15px; width:15px; height:16px; background:url('http://img.eduwill.net/Img2/mobile2/univAsp/common/ico_gnb.png') 0 0 no-repeat; background-size:15px;}
/*a.btn_category { display:block; position:absolute; top:14px; left:15px; width:22px; height:17px; background:url('http://img.eduwill.net/Img2/mobile2/univAsp/common/ico_category.png') 0 0 no-repeat; background-size:20px 17px;}*/
a.btn_gnb { display:block; position:absolute; top:15px; right:15px; width:21px; height:16px;}
a.btn_myroom { position:absolute; right:15px; top:10px; display:inline-block; padding:4px 8px 5px; color:#373423; font-family:'nanum_b'; box-sizing:border-box; font-size:12px; border:1px solid #d2b70e;}

/*a.btn_myroom { display:block; position:absolute; top:12px; right:15px; width:27px; height:19px; background:url('http://img.eduwill.net/Img2/mobile2/univAsp/common/ico_myroom.png') 0 0 no-repeat; background-size:27px 19px;}*/
a.btn_gnb.open { background:url('http://img.eduwill.net/Img2/mobile2/univAsp/common/ico_menu.png') 0 0 no-repeat; background-size:21px 16px;}
a.btn_gnb.close { background:url('http://img.eduwill.net/Img2/mobile2/univAsp/common/ico_menu.png') 0 0 no-repeat; background-size:21px 16px;}
#content .title { position:relative; padding:9px 15px; border-bottom:2px solid #bfbfbf; background:#f3f3f3;}
#content .title ul > li { display:inline-block; padding-right:15px;margin-right:6px; font-size:13px; background:url('http://img.eduwill.net/Img2/mobile2/univAsp/contents/ico_step.png') right center no-repeat; background-size:5px;}
#content .title ul > li.current { font-family:'nanum_b';}
#content .title ul > li:last-child { background-image:none; padding-right:0; margin-right:0;}

.touchScrollMenu-backdrop { position:fixed; top:0; left:0; right:0; bottom:0; background:black; opacity:0.5; z-index:1000;}
.touchScrollMenu-layout { overflow:hidden; position:fixed; top:0; left:0; right:0; bottom:0; z-index:1001;} /* 스크롤영역 설정 */
#category { display:none;position:relative; margin-left:-70%; /*overflow:auto;*/ width:70%; min-width:280px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; background:#f6f6f6; border-right:1px solid #1a1a1a; z-index:1001;}
#category  .close_gnb { position:absolute; top:10px; right:-30px; cursor:pointer;}
#category .close_gnb img { width:20px;}
.js-iscroll { background:#f6f6f6; /*url('http://img.eduwill.net/Img2/mobile2/univAsp/common/bg_gnb.png') right top repeat-y; background-size:19px*/}
#category h3 { padding:11px 0 0 15px; height:34px; background:#333;}
#category h3 a { font-family:'nanum_b'; font-size:18px; color:#fff;}
#category .gnb_quick { overflow:hidden; width:100%; background:#3b3b3b;}
#category .gnb_quick li { float:left; width:25%; height:75px; box-sizing:border-box; background:#3b3b3b url('http://img.eduwill.net/Img2/mobile2/univAsp/common/ico_quick_arrow.png') 15px 48px no-repeat; background-size:16px; border-right:1px solid #525252;}
#category .gnb_quick li:last-child { border-right:0;}
#category .gnb_quick li a { display:block; padding:13px 0 34px 15px; color:#c5c5c5; font-size:12px; line-height:15px; }
#category .js-iscroll > dl > dt { padding:9px 0 0 15px; height:26px; color:#4b4b4b; font-family:'nanum_b'; font-size:14px; letter-spacing:-1px; background:#e2e2e2;}
#category .js-iscroll > dl > dd > ul { overflow:hidden; border-bottom:1px solid #ddd;}
#category .js-iscroll > dl > dd > ul li { float:left; width:47%; height:40px; letter-spacing:-1px; box-sizing:border-box; border-top:1px solid #ddd;}
#category .js-iscroll > dl > dd > ul li:empty { }
#category .js-iscroll > dl > dd > ul li:nth-child(even) { width:53%; border-left:1px solid #ddd;}
#category .js-iscroll > dl > dd > ul li a { display:block; padding:10px 0 0 12px; height:30px; font-size:13px; color:#666;}
#category .js-iscroll > dl > dd > ul li.full { float:none; clear:both; width:100%; border-left:0 none;}
#category .js-iscroll .academy { padding:15px;}
#category .js-iscroll .academy dl dt { margin-bottom:7px; color:#4b4b4b; font-family:'nanum_b'; font-size:14px; letter-spacing:-1px;}
#category .js-iscroll .academy dl dd ul { overflow:hidden; margin-bottom:20px;}
#category .js-iscroll .academy dl dd ul li { float:left; width:50%; box-sizing:border-box; text-align:center; color:#666; font-size:13px; letter-spacing:-1px; background:#e6e6e6; border-top:1px solid #f6f6f6;}
#category .js-iscroll .academy dl dd ul li:nth-child(even) { border-left:1px solid #f6f6f6;}
#category .js-iscroll .academy dl dd ul li:empty { width:50%; height:43px; background:#e6e6e6; border-top:1px solid #f6f6f6;}
#category .js-iscroll .academy dl dd ul li a { display:block; padding:12px 0 0 0; height:30px;}

.fixed { position:fixed !important; left:0;}
#gnb { display:none; position:fixed; top:0; right:0; width:100%; height:100%; z-index:101;}
.dim { display:none; position:absolute; top:0; left:0; width:100%; height:100%; background:url('http://img.eduwill.net/Img2/mobile2/univAsp/common/bg_dimm.png') 0 0 repeat; z-index:99;}
#gnb .gnb_cont { position:absolute; right:-80%; width:80%; height:100%; overflow-y:scroll; background:#f6f6f6; z-index:100;}
#gnb .close_gnb { position:absolute; top:13px; right:82%; z-index:100;}
#gnb .close_gnb img { width:20px;}
#gnb .top_quick { overflow:hidden; width:100%; background:#525252;}
#gnb .top_quick li { float:left; width:33.3%; height:70px;}
#gnb .top_quick li.quick3 { width:33.4%;}
#gnb .top_quick li a { display:block; padding-top:42px; width:100%; height:76px; box-sizing:border-box; text-align:center; color:#fff; font-size:13px;}
#gnb .top_quick li.quick1 a { border-right:1px solid #3b3b3b; background:#525252 url('http://img.eduwill.net/Img2/mobile2/univAsp/common/ico_study.png') center 21px no-repeat; background-size:16px;}
#gnb .top_quick li.quick2 a { border-right:1px solid #3b3b3b; background:#525252 url('http://img.eduwill.net/Img2/mobile2/univAsp/common/ico_member.png') center 16px no-repeat; background-size:15px;}
#gnb .top_quick li.quick3 a { background:#525252 url('http://img.eduwill.net/Img2/mobile2/univAsp/common/ico_lock.png') center 16px no-repeat; background-size:13px;}
#gnb dl dt { padding:10px 15px; color:#4b4b4b; font-family:'nanum_b'; font-size:13px; background:#dbdbdb;}
#gnb dl dd ul li { padding-left:15px; border-bottom:1px solid #ddd; background:#f6f6f6;}
#gnb dl dd ul li a { display:block; padding:14px 10px; letter-spacing:-1px; background:#f6f6f6 url('http://img.eduwill.net/Img2/mobile2/univAsp/common/bu_dot01.png') 0 center no-repeat; background-size:2px 2px;}
#gnb dl dd ul li.current { background:#fff;}
#gnb dl dd ul li.current a { color:#f26522; font-family:'nanum_b'; background-color:#fff;}

/* container */
#container { position:relative; width:100%;}
#content { position:relative; min-height:350px; background:#fff;}
.section { }

/* footer */
#footer { position:relative; width:100%; background:#2e2e2e; padding:15px 0 20px;}
.foot_txt { padding-bottom:8px; text-align:center; color:#acacac; font-size:11px; line-height:1.5; border-bottom:1px solid #292929;}
.copyright { padding-top:8px; text-align:center; font-size:11px; color:#505050; border-top:1px solid #434343;}
