@using EVENT.Models.Common
@model UserInfoVO

@{
	String platform = ("W".Equals(ViewBag.PlatformCd)) ? "pc" : "mobile";
}

<div id="contents" class="promotion">
	@if ("W".Equals(ViewBag.PlatformCd)){
		<div class="promotion-wing">
			<div class="wing-content">
				<a href="#targetWrite" class="page-move">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220122/@platform/wing_item_01.png">
				</a>
				<a href="#targetWrite" class="page-move btn">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220122/@platform/wing_btn_01.png">
				</a>
			</div>
			<div class="wing-content">
				<a href="#targetWrite" class="page-move">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220122/@platform/wing_item_02.png">
				</a>
				<a href="https://www.eduwill.net/" class="page-move btn">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220122/@platform/wing_btn_02.png">
				</a>
			</div>
			<div class="wing-content">
				<a href="#targetWrite" class="page-move">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220122/@platform/wing_item_03.png">
				</a>
				<a href="#targetWrite" class="page-move btn">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220122/@platform/wing_btn_03.png">
				</a>
			</div>
		</div>
	}

	<div class="container promotion-title">
		<div class="wrap">
			<div class="title-1">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220122/@platform/img_title_01.png" alt="">
			</div>
			<div class="title-2">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220122/@platform/img_title_02.png" alt="">
			</div>
			<div class="title-3">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220122/@platform/img_intro_product.png" alt="">
			</div>
			<div class="btn-wrap">
				<a href="#targetWrite" class="page-move">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220122/@platform/btn_benefit.png" alt="">
				</a>
			</div>
		</div>
	</div>

	<div class="container promotion-benefit">
		<div class="wrap">
			<div class="benefit-text">
				<div class="title-1">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220122/@platform/img_benefit_title_01.png" alt="">	
				</div>
				<div class="title-2">
					<p>이벤트 기간 : <span>2021.03.14 ~ 2021.04.13</span> 한달 간</p>
				</div>
			</div>	
			<div class="benefit-img">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220122/@platform/img_benefit_item.png" alt="">
			</div>
			<ul>
				<li>이벤트 상세내용은 하단 이벤트 유의사항을 참고해주세요.</li>
				<li>토익 입문/실전 인강은 수강후기 작성 완료시 [나의 강의실]로 지급되며, 지급 후 7일간 수강 가능합니다.</li>
			</ul>
		</div>
	</div>

	<div class="container promotion-teacher">
		
		<div class="teacher-wrap first">
			<div class="wrap">
				<div class="title">
					<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220122/@platform/img_teacher_title.png" alt="">
				</div>
				<div class="teacher-content">
					<div class="title">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220122/@platform/teacher_text_01.png" alt="">
					</div>
					@if ("W".Equals(ViewBag.PlatformCd)) {
						<div class="sub">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220122/@platform/teacher_sub_01.png" alt="">
						</div>
					}
					<div class="video-wrap">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220122/@platform/img_teacher_thumb_01.png" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="teacher-wrap second">
			<div class="wrap">
				<div class="teacher-content">
					<div class="title">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220122/@platform/teacher_text_02.png" alt="">
					</div>
					@if ("W".Equals(ViewBag.PlatformCd)) {
						<div class="sub">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220122/@platform/teacher_sub_02.png" alt="">
						</div>
					}
					<div class="video-wrap">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220122/@platform/img_teacher_thumb_02.png" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="teacher-wrap third">
			<div class="wrap">
				<div class="teacher-content">
					<div class="title">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220122/@platform/teacher_text_03.png" alt="">
					</div>
					@if ("W".Equals(ViewBag.PlatformCd)){
						<div class="sub">
							<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220122/@platform/teacher_sub_03.png" alt="">
						</div>
					}
					<div class="video-wrap">
						<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220122/@platform/img_teacher_thumb_03.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container promotion-write" id="targetWrite">
		<div class="wrap">
			<div class="sub">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220122/@platform/img_write_sub_title.png" alt="">
			</div>
			<div class="title">
				<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220122/@platform/img_write_title.png" alt="">
			</div>
		</div>
		<div class="product">
			<img src="//img.eduwill.net/eduwill/img/2022/_115/event/220122/@platform/img_write_products.png" alt="">
		</div>
	</div>

	<div class="container promotion-form">
		<div class="wrap">
			<div class="content-box">
				<form action="">
					<div class="cols">
						<div class="col">
							<p>선생님</p>
							<select>
								<option value="OOO 선생님">OOO 선생님</option>
							</select>
						</div>
						<div class="col">
							<p>강의 만족도</p>
							<select>
								<option value="★★★★★">★★★★★</option>
							</select>
						</div>
					</div>
					<div class="col">
						<p>작성자</p>
						<input type="text" value="김**" readonly>
					</div>
					<div class="col">
						<p>제목</p>
						<input type="text" placeholder="제목을 입력해주세요.">
					</div>
					<div class="col">
						<p>내용</p>
						<textarea placeholder="에듀윌토익과 선생님이름을 포함해 작성해주세요. &#13;&#10;수강 후기는 반드시 100자 이상 작성해야 합니다."></textarea>
					</div>
					<div class="check">
						<label>
							<input type="checkbox">
							<span>개인정보 수집 및 이용에 동의 (필수)</span>
						</label>
						<div class="text">
							<h5>개인정보 수집 및 이용 동의 안내</h5>
							<ul>
								<li><span>1. </span>수집 및 이용 목적 : 참여자 정보 확인, 수강후기 이벤트 혜택 제공</li>
								<li><span>2. </span>개인정보 수집 항목 : 이름, 휴대폰 번호</li>
								<li><span>3. </span>개인정보 보유/이용 기간 : <b class="dates">이벤트 종료 후 1년</b></li>
								<li><span>4. </span>이벤트 신청 회원은 개인정보 수집 및 이용을 거부할 수 있습니다. 단, 거부할 경우 본 이벤트 신청이 제한됩니다.</li>
								<li><span>5. </span><b>수강후기는 공개를 전제로 작성하는 것으로 회사의 홍보 및 마케팅을 위한 온/오프라인 제작물에 활용될 수 있으며, 개인정보는 노출방지를 위해 안전하게 마스킹(*) 처리됩니다.</b></li>
							</ul>
						</div>
					</div>
					<div class="btn-wrap">
						<button type="button" class="btn btn-check">확인</button>
						<button type="button" class="btn btn-cancel">취소</button>
					</div>
				</form>
			</div>
			<div class="content-box">
				<div class="list">
					<ul>
						<li>
							<div class="num">8</div>
							<div class="name">pip****</div>
							<div class="conts">구원선생님 핵심만 콕콕 찍어주는 강의가 너무 좋네요 
							반복해서 들으면 토익 성적에 도움이 될것 같아요 
							강의자료도 너무 깔끔하고 좋아요 
							토익이 좋아질거 같아요 
							길게듣고 싶은 강의 네요 </div>
						</li>
						<li>
							<div class="num">7</div>
							<div class="name">soo***</div>
							<div class="conts">매경 열공해보겠습니다!!</div>
						</li>
						<li>
							<div class="num">6</div>
							<div class="name">33g****</div>
							<div class="conts">전기공사산업기사 취득하겠습니다.</div>
						</li>
						<li>
							<div class="num">5</div>
							<div class="name">j12****</div>
							<div class="conts">위험물기능사 취득하겠습니다!</div>
						</li>
						<li>
							<div class="num">4</div>
							<div class="name">par*********</div>
							<div class="conts">유통관리사 꼭 합격하겠습니다</div>
						</li>
						<li>
							<div class="num">3</div>
							<div class="name">min****</div>
							<div class="conts">전산세무1급 꼭 취득해보고싶습니다</div>
						</li>
						<li>
							<div class="num">2</div>
							<div class="name">jeo***</div>
							<div class="conts">이번에 기필코 전기산업기사를 취득하겠습니다.</div>
						</li>
						<li>
							<div class="num">1</div>
							<div class="name">gla****</div>
							<div class="conts">진짜 산업기사 바로 따고 기사 따고 싶습니다.</div>
						</li>
					</ul>
					@if ("W".Equals(ViewBag.PlatformCd)) {
						<div class="pagination">
							<a href="javascript:;" class="btn-prev"></a>
							<ul>
								<li class="active">
									<a href="javascript:;">1</a>
								</li>
								<li>
									<a href="javascript:;">2</a>
								</li>
							</ul>
							<a href="javascript:;" class="btn-next"></a>
						</div>
					}
					@if ("M".Equals(ViewBag.PlatformCd)) {
						<div class="more">
							<button type="button">더보기 +</button>
						</div>
					}
				</div>
			</div>
		</div>
	</div>

	<div class="container promotion-notice">
		<div class="wrap">
			<h3>수강후기 이벤트 유의사항</h3>	
			<ul>
				<li><span>1. </span>수강 후기는 로그인 후 작성 가능합니다.</li>
				<li><span>2. </span>수강 후기 이벤트는 현재 페이지에서 작성해야 참여로 인정됩니다.</li>
				<li><span>3. </span>수강 후기는 100자 이상 작성하셔야 등록됩니다.</li>
				<li><span>4. </span>수강 후기 내에는 [에듀윌토익], [선생님 성함] 키워드를 포함하셔야 당첨될 확률이 높아집니다.</li>
				<li><span>5. </span>무분별한 욕설, 비방 등 부정한 내용을 작성한 경우 관리자에 의해 삭제될 수 있습니다.</li>
				<li><span>6. </span>제출된 수강 후기는 추후 마케팅에 사용할 수 있습니다.</li>
			</ul>
		</div>
		<div class="wrap">
			<h3>수강후기 이벤트 당첨 유의사항</h3>	
			<ul>
				<li><span>1. </span>상품은 모바일 기프티콘 형태로 지급됩니다.</li>
				<li><span>2. </span>당첨 여부는 이벤트 종료 후 개별 문자로 안내드리며, 경품은 SMS 수신 동의가 되어 있는 분에게만 발송됩니다.</li>
				<li><span>3. </span>회원정보에 등록된 휴대전화 번호로 발송되며, 회원정보 오류로 인한 오발송 시 재발송되지 않으니, 이벤트 종료 전에 회원정보를 꼭! 확인해 주세요.</li>
				<li><span>4. </span>이벤트 참여 이후 번호 변경, 문자 삭제 등 개인 사유로 인한 재발송은 불가능합니다.</li>
				<li><span>5. </span>선착순 작성과 우수후기 작성은 중복 당첨되지 않습니다.</li>
				<li><span>6. </span>경품은 ID 하나당 한번 지급됩니다.</li>
				<li><span>7. </span>우수 수강후기가 미달일 경우, 선정인원 이하로 추첨할 수 있습니다.</li>
				<li><span>8. </span>후기를 작성한 인강의 전체 강좌가 해당 아이디 [나의 강의실]에 지급됩니다.</li>
				<li><span>9. </span>상품은 당첨 공지 후 1주 후 발송됩니다.</li>
			</ul>
		</div>
		<div class="wrap">
			<h3>소문내기 이벤트</h3>
			<ul>
				<li><span>1. </span>카톡 공유가 확인되지 않는 이미지 업로드 시 당첨에서 제외됩니다.</li>
				<li><span>2. </span>50인 미만의 채팅방 공유 시, 당첨에서 제외됩니다.</li>
				<li><span>3. </span> 50회 미만 공유 시, 당첨에서 제외됩니다.</li>
				<li><span>4. </span>이미지 조작/부정행위 발견 제외됩니다.</li>
				<li><span>5. </span>상품은 개별 안내 후 발송됩니다.</li>
				<li><span>6. </span>유의사항을 읽지 않고 발생한 모든 사항에 대해는 책임지지 않습니다.</li>
				<li><span>7. </span>사전 고지 없이 중도 종료될 수 있습니다</li>
			</ul>
		</div>
	</div>

</div>

<div class="layer-dimmed"></div>

<script type="text/javascript" src="https://img.eduwill.net/eduwill/live/libs/scrollfix/scrollfix.js"></script>
<script type="text/javascript">
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
	var url = window.location.href;
	var str = 'event.eduwill.net';
	var checkUrl = url.indexOf(str);
	var clock;
	var _w;
	var _sections = [];
	var _isInSections = [];
</script>