@charset "utf-8";

@import url('nanumgothic.css');
@import url('reset.css');
@import url('common.css');

/* Popup Style */
#popup { position:relative; width:100%; overflow:hidden;}
.popup_a { width:462px;}
.popup_a .pop_head { padding:16px 0; text-align:center; background:#3649b8;}
.popup_a .pop_head .pop_title { color:#fff; font-size:22px; font-family:'nanum_b';}
.popup_a .pop_cont { padding:25px 35px;}
.popup_a .pop_cont .txt { margin-bottom:35px; font-size:13px; color:#020202; line-height:20px;}
.popup_a .pop_cont .form_list { padding:5px 30px 25px; width:332px; overflow:hidden; background:#f7f7f7;}
.popup_a .pop_cont .form_list dl { overflow:hidden;}
.popup_a .pop_cont .form_list dl dt { margin-top:15px; height:25px; float:left; width:105px; color:#000; font-size:13px; font-family:'nanum_b'; letter-spacing:-1px; line-height:25px;}
.popup_a .pop_cont .form_list dl dd { margin-top:15px; height:25px; float:left; width:227px; color:#000;}

.center_txt { padding-bottom:20px; text-align:center;}
.center_txt .big_t { margin-bottom:10px; font-size:20px; color:#000; font-family:'nanum_b';}
.center_txt .mid_t { color:#777;}

.haeder_txt { margin-bottom:20px;}
.haeder_txt h2 { font-size:15px; color:#000; font-family:'nanum_b';}
.haeder_txt h2 span { position:relative; padding-left:20px; color:#3649b8; background:url('https://img.eduwill.net/pds/books/web/common/bu_bar01.gif') 12px 5px no-repeat;}
a.p_btn_a { display:inline-block; padding:7px 40px 8px; text-align:center; color:#fff; font-family:'nanum_b'; background:#939393; text-decoration:none;}
a.p_btn_b { display:inline-block; padding:7px 40px 8px; text-align:center; color:#727272; font-family:'nanum_b'; background:#e9e9e9; text-decoration:none;}

/* 우편번호찾기 */
.g_tab_a { margin-bottom:20px;}
.g_tab_a li a { width:192px;}
.g_tab_a li:first-child a { width:193px;}

.b_btn_xs { padding:5px 16px 6px; border:0 none; cursor:pointer; color:#fff;}

.search_form { position:relative; margin-top:20px;}
.search_form ul.search_type { overflow:hidden;}
.search_form ul.search_type:after { content:''; clear:both; display:block; overflow:hidden;}
.search_form ul.search_type li { float:left; margin-bottom:7px}
.search_form ul.search_type li label { display:inline-block; width:40px; font-size:12px; color:#000; font-family:'nanum_b';}
.search_form ul.search_type li select { width:110px; margin-right:10px;}
.search_form .g_input { font-size:13px; color:#777;}
.search_form ul.list_type_a li { font-size:12px; line-height:18px;}
.search_form ul.list_type_a li a { text-decoration:underline;}

.add_type { display:none;}
.add_list { position:relative; height:375px; overflow-y:scroll; margin:10px 0;}
.add_list table { margin-top:0;}

