@charset "UTF-8";
a {
  outline: 0;
  outline: none;
}

.grid, .product-eco .sector-price .item-group {
  *zoom: 1;
}

.grid:before, .product-eco .sector-price .item-group:before, .grid:after, .product-eco .sector-price .item-group:after {
  content: '';
  display: table;
}

.grid:after, .product-eco .sector-price .item-group:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.layer-dim, .layer-dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: #000;
  opacity: .8;
  overflow: hidden;
}

.layer-review {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10001;
  max-width: 768px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.layer-review .layer-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  top: -60px;
  z-index: 10002;
}

@media screen and (min-width: 720px) {
  .layer-review .layer-close {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .layer-review .layer-close {
    height: 60px;
  }
}

.layer-review .layer-close:before, .layer-review .layer-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 2px;
  margin-left: -15px;
  background-color: #fff;
}

.layer-review .layer-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.layer-review .layer-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.layer-review .layer-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.layer-review .layer-box {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.layer-review .layer-box iframe, .layer-review .layer-box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: inherit;
     object-fit: inherit;
}

.product-eco .motion-1 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-2 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-3 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-4 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-5 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-6 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-7 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-8 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-9 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-10 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-11 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-12 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-box-1 {
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-box-2 {
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-box-3 {
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-box-4 {
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-box-5 {
  opacity: 0;
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-eco .motion-scale-y-1 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .motion-scale-y-2 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .motion-scale-y-3 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .motion-scale-y-4 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .motion-scale-y-5 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .motion-scale-y-6 {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-1 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.product-eco .active .motion-2 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.product-eco .active .motion-3 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.product-eco .active .motion-4 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.product-eco .active .motion-5 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

.product-eco .active .motion-6 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
}

.product-eco .active .motion-7 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1.4s;
  transition-delay: 1.4s;
}

.product-eco .active .motion-8 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1.6s;
  transition-delay: 1.6s;
}

.product-eco .active .motion-9 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1.8s;
  transition-delay: 1.8s;
}

.product-eco .active .motion-10 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 2s;
  transition-delay: 2s;
}

.product-eco .active .motion-11 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 2.2s;
  transition-delay: 2.2s;
}

.product-eco .active .motion-12 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 2.4s;
  transition-delay: 2.4s;
}

.product-eco .active .motion-box-1 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.product-eco .active .motion-box-2 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.product-eco .active .motion-box-3 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.product-eco .active .motion-box-4 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.product-eco .active .motion-box-5 {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.product-eco .active .motion-scale-y-1 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-scale-y-2 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-scale-y-3 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-scale-y-4 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-scale-y-5 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.product-eco .active .motion-scale-y-6 {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

#fixApply.fix-apply {
  display: none !important;
}

.product-eco {
  overflow-x: hidden;
}

.product-eco * {
  line-height: normal;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.product-eco .only-pc {
  display: block;
}

.product-eco .only-mobile {
  display: none;
}

.product-eco .wrap {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.product-eco .wrap-full {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.product-eco .item {
  position: relative;
}

.product-eco .grounds-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.4);
}

.product-eco .point-1 {
  color: #002ea3;
}

.product-eco .point-2 {
  color: #ef2f0a;
}

.product-eco .highlight {
  display: inline-block;
  position: relative;
  font-weight: 900;
  padding: 0 5px;
  z-index: 1;
}

.product-eco .highlight:before {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 22px;
  background: #f9c400;
  z-index: -1;
}

.product-eco .fix-right {
  position: fixed;
  top: 480px;
  right: 0;
  z-index: 10;
}

.product-eco .fix-right strong {
  position: absolute;
  top: 40px;
  left: 39px;
  font-size: 34px;
  color: #05b5b2;
  font-weight: 700;
  letter-spacing: -2px;
}

.product-eco .fix-right strong span {
  font-size: 34px;
}

.product-eco .fix-right a {
  position: relative;
  display: inline-block;
}

.product-eco .fix-right a:after {
  content: '';
  position: absolute;
  top: 70%;
  right: 0;
  z-index: 1;
  display: block;
  width: 6.38889vw;
  height: 7.22222vw;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .fix-right a:after {
    width: 46px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .fix-right a:after {
    height: 52px;
  }
}

@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.product-eco .fix-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 110px;
  z-index: 11;
  padding: 24px 0 0 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .fix-bottom .wrap strong {
  float: left;
  margin-left: 32px;
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  letter-spacing: -2px;
}

.product-eco .fix-bottom .wrap strong em {
  color: #ffbf00;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: -2px;
}

.product-eco .fix-bottom .wrap a {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  width: 275px;
  height: 60px;
  text-align: center;
  vertical-align: top;
  border-radius: 100px;
  background: #fa5800;
  background: -webkit-gradient(linear, left top, right top, from(#fa5800), to(#eb260a));
  background: linear-gradient(to right, #fa5800 0%, #eb260a 100%);
  position: relative;
  display: inline-block;
}

.product-eco .fix-bottom .wrap a span {
  /*@include arrow(right, 12px, 12px, 3px, #fff);*/
  display: block;
  padding-right: 6px;
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  line-height: 60px;
  letter-spacing: -2px;
}

.product-eco .fix-bottom .wrap a span:after {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  right: 30px;
}

.product-eco .fix-bottom .wrap a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -20%;
  z-index: 1;
  display: block;
  width: 13.05556vw;
  height: 12.63889vw;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_20.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .fix-bottom .wrap a:after {
    width: 94px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .fix-bottom .wrap a:after {
    height: 91px;
  }
}

@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.product-eco .slider-contents {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.product-eco .slick-dots {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  font-size: 0;
  text-align: right;
}

.product-eco .slick-dots li {
  display: inline-block;
  margin: 0 0.1875rem;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li {
    margin: 0 6px;
  }
}

.product-eco .slick-dots li.slick-active button {
  width: 2.875rem;
  border-radius: 1.5625rem;
  background-color: #ffbe00;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li.slick-active button {
    width: 92px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li.slick-active button {
    border-radius: 50px;
  }
}

.product-eco .slick-dots button {
  display: block;
  width: 1rem;
  height: 0.9375rem;
  color: transparent;
  border: none;
  border-radius: 50%;
  background-color: #bbb;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots button {
    width: 32px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots button {
    height: 30px;
  }
}

.product-eco .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  content: '';
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-indent: -9999px;
  display: block;
  cursor: pointer;
  width: 1.5625rem;
  height: 1.5625rem;
  margin-top: -0.78125rem;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow {
    width: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow {
    height: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-arrow {
    margin-top: -25px;
  }
}

.product-eco .slick-arrow.slick-prev {
  left: 30px;
  background: url("https://img.eduwill.net/eduwill/img/2021/7/product/210430/pc/btn_prev.png") 0 0 no-repeat;
  background-size: cover;
}

.product-eco .slick-arrow.slick-next {
  right: 30px;
  background: url("https://img.eduwill.net/eduwill/img/2021/7/product/210430/pc/btn_next.png") 0 0 no-repeat;
  background-size: cover;
}

.product-eco .sector-title {
  background-color: #0091a9;
  background-image: url("https://img.eduwill.net/eduwill/img/2022/_114/product/220103/pc/bg_title.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .sector-title .action {
  position: absolute;
  top: 187px;
  right: 29px;
}

.product-eco .sector-benefit {
  background: #eefffb;
}

.product-eco .sector-price {
  position: relative;
  z-index: 2;
}

.product-eco .sector-price .item-group {
  position: absolute;
  left: 50%;
  bottom: -168px;
  margin-left: -570px;
  width: 1140px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 47px 46px;
  text-align: left;
  -webkit-box-shadow: 14px 14px 30px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 14px 14px 30px 0px rgba(0, 0, 0, 0.18);
}

.product-eco .sector-price .item-group-box {
  float: left;
  width: 580px;
}

.product-eco .sector-price .item-group-box .item-subject {
  color: #392a36;
  font-size: 50px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -3px;
}

.product-eco .sector-price .item-group-box .item-benefit {
  margin-top: 75px;
  text-align: left;
}

.product-eco .sector-price .item-group-box .item-benefit .col {
  padding-right: 40px;
  border-right: 1px solid #eaeaea;
  margin-right: 30px;
}

.product-eco .sector-price .item-group-box .item-benefit .col:last-child {
  border-right: 0;
  margin-right: 0;
}

.product-eco .sector-price .item-group-box .item-benefit .col strong {
  min-height: 80px;
  display: block;
  color: #392a36;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 12px;
}

.product-eco .sector-price .item-group-box .item-benefit .col .small {
  color: #bbb;
  font-size: 12px;
}

.product-eco .sector-price .item-group-price {
  position: relative;
  float: right;
}

.product-eco .sector-price .item-group-price .before-price {
  position: relative;
  color: #bbb;
  font-size: 30px;
  text-decoration: line-through;
  font-weight: 700;
  line-height: 1;
}

.product-eco .sector-price .item-group-price .before-price .btn {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #000;
  color: #fff;
}

.product-eco .sector-price .item-group-price .price-group {
  position: relative;
  padding-top: 5px;
  text-align: right;
}

.product-eco .sector-price .item-group-price .price-group .before {
  position: relative;
  color: #bbb;
  font-size: 29px;
  text-decoration: line-through;
  font-weight: 700;
  line-height: 1;
  vertical-align: middle;
}

.product-eco .sector-price .item-group-price .price-group .after {
  position: relative;
  color: #000;
  font-size: 37px;
  font-weight: 700;
  line-height: 1;
  padding-left: 5px;
  vertical-align: middle;
}

.product-eco .sector-price .item-group-price .price-group .btn {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #000;
  color: #fff;
}

.product-eco .sector-price .item-group-price .price-flag {
  opacity: 0 !important;
  padding-top: 15px;
}

.product-eco .sector-price .item-group-price .price-flag .flag {
  display: inline-block;
  background: #ea1d00;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  padding: 2px 16px;
  text-align: center;
  border-radius: 20px;
  margin-left: 210px;
  margin-bottom: 8px;
}

.product-eco .sector-price .item-group-price .btn-apply {
  position: relative;
  display: block;
  margin-top: 80px;
  position: relative;
  display: inline-block;
}

.product-eco .sector-price .item-group-price .btn-apply:before {
  top: 50% !important;
  right: 6% !important;
}

.product-eco .sector-price .item-group-price .btn-apply:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  display: block;
  width: 7.91667vw;
  height: 9.02778vw;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png") no-repeat 0 0;
  background-size: 100% auto;
  -webkit-animation-name: pointerBounceDiagonal;
          animation-name: pointerBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-price .item-group-price .btn-apply:after {
    width: 57px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .sector-price .item-group-price .btn-apply:after {
    height: 65px;
  }
}

@-webkit-keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

@keyframes pointerBounceDiagonal {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}

.product-eco .sector-price .item-group-price .btn-apply .bubble {
  position: absolute;
  top: -60px;
  right: -35px;
}

.product-eco .sector-price .item-group-price.sale .price-group .after {
  position: relative;
  color: #000;
  font-size: 37px;
  font-weight: 700;
  line-height: 1;
  padding-left: 5px;
  vertical-align: middle;
}

.product-eco .sector-price .item-group-price.sale .price-group .after:before {
  content: '▶';
  font-size: 18px;
  vertical-align: top;
}

.product-eco .sector-price .item-group-price.sale .price-flag {
  opacity: 1 !important;
}

.product-eco .sector-increaseproof {
  padding-top: 264px !important;
}

.product-eco .sector-increaseproof .wrap {
  width: 1200px;
}

.product-eco .sector-increaseproof .flag {
  top: 210px !important;
  left: 165px !important;
}

.product-eco .sector-review {
  padding-bottom: 85px;
}

.product-eco .sector-review .review-list {
  width: 100%;
  margin: 0 auto;
}

.product-eco .sector-review .review-list .slick-dots {
  position: absolute;
  top: 280px !important;
  right: 940px !important;
}

.product-eco .sector-review .review-list .slick-dots li {
  display: inline-block;
  margin: 0 0.15625rem;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-review .review-list .slick-dots li {
    margin: 0 5px;
  }
}

.product-eco .sector-review .review-list .slick-dots li.slick-active button {
  width: 48px;
  background-color: #ffbe00;
}

.product-eco .sector-review .review-list .slick-dots button {
  width: 16px;
  height: 16px;
  background-color: #bbbbbb;
}

.product-eco .sector-unbreakable {
  background: #f8f7f0;
}

.product-eco .sector-unbreakable .unbreakable-list:before {
  display: none;
}

.product-eco .sector-unbreakable .unbreakable-list:after {
  display: none;
}

.product-eco .sector-bar-1 {
  background-color: #2853f8;
  background-image: url("https://img.eduwill.net/eduwill/img/2022/_114/product/220103/pc/bg_bar_1.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.product-eco .sector-compare {
  background: #cdcdcd;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #cdcdcd), color-stop(50%, #ffc500));
  background: linear-gradient(to right, #cdcdcd 50%, #ffc500 50%);
}

.product-eco .sector-compare .wrap:before {
  content: '';
  position: absolute;
  z-index: 2;
  top: -2px;
  left: 7px;
  right: 0;
  margin: 0 auto;
  width: 309px;
  height: 76px;
  background-image: url("https://img.eduwill.net/eduwill/img/2022/_114/product/220103/pc/shape.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
  vertical-align: top;
}

.product-eco .sector-coin {
  background: #effffc;
}

.product-eco .sector-teacher {
  padding-bottom: 110px;
}

.product-eco .sector-teacher .eco-teacher-3649 {
  margin-bottom: 85px;
}

.product-eco .sector-teacher .wrap-full {
  padding-bottom: 50px;
}

.product-eco .sector-teacher .wrap-full .slick-slide {
  margin: 0 -10px;
}

.product-eco .sector-teacher .wrap-full .slick-dots {
  width: 100%;
  text-align: center;
  margin-top: 330px;
}

.product-eco .sector-teacher .wrap-full .slick-dots li {
  display: inline-block;
  margin: 0 0.15625rem;
}

@media screen and (min-width: 720px) {
  .product-eco .sector-teacher .wrap-full .slick-dots li {
    margin: 0 5px;
  }
}

.product-eco .sector-teacher .wrap-full .slick-dots li.slick-active button {
  background-color: #ffbe00;
}

.product-eco .sector-teacher .wrap-full .slick-dots button {
  width: 10px;
  height: 11px;
  background-color: #bbbbbb;
}

.product-eco .sector-teacher .action.base {
  position: absolute;
  top: 237px;
  left: 304px;
}

.product-eco .sector-teacher .action.teacher {
  text-align: center;
}

.product-eco .sector-set {
  background: #0087a7;
}

.product-eco .sector-set .action {
  position: absolute;
  top: 829px;
  left: 460px;
}

.product-eco .sector-live {
  background: #effffc;
}

.product-eco .sector-live .gif {
  position: absolute;
  top: 583px;
  right: 0;
  width: 640px;
  height: 360px;
}

.product-eco .sector-live .gif img {
  width: 100%;
  height: 100%;
}

.product-eco .sector-live .action {
  position: absolute;
  bottom: 120px;
  right: 96px;
}

#popupTeacher .winner, #popupTeacher .increase {
  display: none;
}
/*# sourceMappingURL=web.css.map */