@charset "utf-8";

// Core variables and mixins
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/extend";

@import "module/popup";
$main-color : #ffbf00;
$sub-color : #fff3cf;

.product {
    &-eco {
        * {
            line-height: normal;
            font-family: $font-noto;
            letter-spacing: -1px;
			color: #000;
        }
        .container {
            position: relative;
            background-repeat: no-repeat;
            background-position: center top;
        }
        .wrap {
            position: relative;
            width: 100%;
            max-width: 720px;
            margin: 0 auto;
            text-align: center;
            &-full {
                width: 100%;
            }
        }
        .holder { position: relative; }
        p {
            margin: 0;
            //text-align: left;
            @include vw(20px);
            color: #666;
            &.notice { @include rem(margin-top, 10px); }
            &.brand,
            &.survey { position: absolute; }
        }
        .fixbanner {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            background: #75fffc;
            z-index: 777;
            .pointer{
                position: absolute;
                top: 50px;
                right: 20px;
                img {
                    width: 70%;
                    animation: 0.6s slideUpY ease-in-out infinite alternate;    
                }
            }
        }


		.slick-dots {
			width: 100%;
			@include pxTOvw(margin-top, 30px);
			text-align: center;
			li {
				display: inline-block;
				@include pxTOvw(margin, 0 6px);
				button {
					@include pxTOvw(width, 20px);
					@include pxTOvw(height, 20px);
					text-indent: -9999em;
					border: none;
					border-radius: 50%;
					background-color: #b2b2b2;
					outline: none;
					cursor: pointer;
				}
				&.slick-active {
					button {
						@include pxTOvw(width, 55px);
						@include pxTOvw(border-radius, 15px);
						background-color: #ffc20e;
					}
				}
			}
		}

        .slider-contents {
            position: relative;
            @include rem(margin, 0px 50px auto 50px);
	
            .slick-arrow {
                position: absolute;
                top: 50%;
                z-index: 1;
                @include rem(width, 40px);
                @include rem(width, 40px);
                @include rem(margin-top, -20px);
                font-size: 0;
                border: none;
                background: none;
                outline: none;
                cursor: pointer;
                &.slick-prev {
                    @include rem(left, 20px);
                    &:before { right: 0; @include arrow(left, 20px, 20px, 1px, #666); 
                    @include rem(margin-top, -0px);
                    }
                }
                &.slick-next {
                    @include rem(right, 20px);
                    &:before { left: 0; @include arrow(right, 20px, 20px, 1px, #666); 
                        @include rem(margin-top, -0px);
                    }
                }
            }
        }
		.action{
			a{
				position: relative;
				display: inline-block;
			}
		}

		.ico-pointer {
			&:after {
				content: '';
				position: absolute;
				top:50%; 
				right:0%; 
				display: block;
				@include pxTOvw(width, 80px);
				@include pxTOvw(height, 80px);
				background: url('#{$img-common-path}/icon/pointer/icon_pointer_20.png') no-repeat 0 0;
				background-size: contain;
				@include animation(pointerBounce, .8s, $iteration: infinite){
					0%, 100% { @include translateXY(0, 0); }
					50% { @include translateXY(10px, 10px); }
				}
			}
		}

		.icon-plus{
            &:after{
                content: '';
				@include rem(width, 120px);
				@include rem(height, 120px);
                background-image: url('#{$img-path}/pc/icon_plus.png');
                position: absolute;
                left: 50%;
				@include rem(top, -60px);
                transform: translate(-50%,0);
                z-index: 10;
				background-size: contain;
            }
        }

		.content-title{
			text-align: left;
			@include vw( 56px);
			@include rem(padding, 130px 0 50px 0);
			@include rem(margin, 0 50px);
			font-weight: 600;
			color: #1e1e1e;
			word-break: keep-all;
			p{
				font-size: inherit;
				font-weight: inherit;
				color: inherit;
				letter-spacing: -4px;
				word-break: keep-all;
			}
			span{
				font-size: inherit;
				font-weight: inherit;
				color: inherit;
				word-break: keep-all;
			}
		}
    }

    &-title {
		background: url('#{$img-path}/mobile/bg_title.jpg') no-repeat 50% 50% / cover;
		.wrap {
			&::before{
				content: '';
				background: url('#{$img-path}/mobile/bg_coin.png') no-repeat 50% 100% / contain;
				width: 100%;
				height: percent(900, 1444);
				position: absolute;
				left: 50%;
				top: percent(630, 1444);
				@include rem(bottom, -50px);
				transform: translate(-50%,0);
			}
		}
		.action{
			position: absolute;
			top: 24%;
			right: 8%;
			@include rem(width, 134px);
			
		}
    }
 
    &-benefit {
		a { display: inline-block; }
        .date {
            overflow: hidden;
            position: relative;
            margin: 0 auto;
            border-radius: 12px;
			@extend .grid;
			width: percent(620, 720);
            span {
				display: inline-block;
				@include vw(34px);
                font-weight: 800;
                color: #222;
                letter-spacing: -1px;
				@include rem(padding, 13px);
                &:nth-child(1) {
					@extend .col;
					width: percent(200, 620);
                    background-color: #ffc003;
                }
                &:nth-child(2) {
					@extend .col;
					text-align: center;
					width: percent(420, 620);
					background-color: #e9e9e9;
                    em {
						font-weight: 800;
                        color: #e20012;
                    }
                }
            }
        }
        .popup-a {
            position: absolute;         
			top: percent(1130, 2100);
			left: percent(448, 720);
			width: percent(145, 720);
			a{
				width: 100%;
				height: 100%;
				img{
					width: 100%;
				}
			}
			
        }
        .popup-b {
			position: absolute;
			top: percent(1526, 2100);
			left: percent(130, 720);
			width: percent(145, 720);
			a{
				width: 100%;
				height: 100%;
				img{
					width: 100%;
				}
			}
        }
		&.default{
			.popup-a {
				top: percent(1100, 2100);
			}
			.popup-b {
				top: percent(1496, 2100);
			}
		}
	}

	
	&-limit{
		background: #401997;
	}


	&-free{
		background: #5a049d;
		@include rem(padding-bottom, 130px);
		.item{
			@include rem(margin, 0 50px);
		}
		.content-title{
			p{
				color: #fff;
			}
			span{
				display: block;
			}
			.highlight{
				@include animation(colorChange, 1.5s, $iteration: infinite, $timing: step-start){
					0%, 33% {
						color: #fff;
					}
					100% {
						color: #ffc20e;
					}
				}
			}
		}
	}

	&-sale{
		@include pxTOvw(padding-bottom, 100px);
		background-color: #f3f3f3;
		&.product-sale-2{
			background-color: #fafafa;
			padding-top: 0;
		}
		.content-title{
			.highlight{
				color: #e80000;
			}
		}
		.sale-wrap{
			@include px2vw(padding-top, 245);
		}
		.sale-info{
			@include rem(margin, 0 50px);
			.sale-table{
				box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.15);
				@include rem(border-top-right-radius, 60px);
				@include rem(border-bottom-left-radius, 60px);
				position: relative;

				.sale-flag{
					position: absolute;
					@include pxTOvw(top, -145px);
					left: 50%;
					transform: translate(-50%, 0);
					display: inline-block;
					.flag{
						@include rem(border-radius, 15px);
						background: #3753cb;
						overflow: hidden;
						@include rem(padding, 15px 40px);
						&:after{
							content: '';
							width: 0px;
							height: 0px;
							border-left: 15px solid transparent;
							border-right: 15px solid transparent;
							border-top: 15px solid #3753cb;
							position: absolute;
							@include rem(border-width, 15px);
							@include rem(border-bottom, -15px);
							left: 50%;
							bottom: -20%;
							transform: translate(-50%,0);
						}
						p{
							color: #fff;
							@include vw(28px);
							font-weight: 600;
							@include animation(flagChange, 1s, $iteration: infinite, $timing: step-start){
								0%, 100% { opacity: 1; }
								50% { opacity: 0; }
							}
						}
					}
				}
				.sale-head{
					position: relative;
					background-color: #fff;
					@include rem(border-width, 10px);
					@include pxTOvw(padding, 110px 0 40px);
					@include rem(border-top-right-radius, 60px);
					&:after{
						content: '';
						width: 100%;
						@include px2vw(height, 3);
						position: absolute;
						bottom: 0;
						left: 0;
					}
					.notice{
						position: absolute;
						@include px2vw(top, -40);
						right: 0;
						margin-top: 0;
					}
					.flag{
						border-radius: 300px;
						@include vw(28px);
						@include px2vw(width, 140);
						@include px2vw(height, 140);
						font-weight: 600;
						position: absolute;
						display: table;
						top: 0;
						left: 50%;
						transform: translate(-50%,-50%);
						white-space: nowrap;
						box-shadow: 1px 6px 7px 3px rgba(0, 0, 0, 0.35);
						p{
							color: #fff;
							font-size: inherit;
							font-weight: inherit;
							line-height: 1.2;
							text-align: center;
							display: table-cell;
							vertical-align: middle;
						}
						span{
							font-size: inherit;
							font-weight: inherit;
						}
					}
					.sale-title{
						color: #fff;
						@include vw(50px);
						font-weight: 600;
						p{
							text-align: center;
							color: inherit;
							font-size: inherit;
							font-weight: inherit;
							line-height: 1.2;
						}
						span{
							color: inherit;
							font-size: inherit;
							font-weight: inherit;
						}
						.highlight{
							color: #ffe000;
						}
					}
				}
				.sale-body{
					// flex: auto;
					background-color: #fff;
					background-size: auto;
					border-top: none;
					.sale-benefit{
						ul{
							li{
								position: relative;
								@include vw( 30px);
								font-weight: 900;
								@include pxTOvw(padding, 30px 20px);
								color: #000;
								display: table;
								width: 100%;
								box-sizing: border-box;
								&:not(:last-child){
									border-bottom: 1px solid #e5e5e5;
								}
								.sale-benefit-list{
									display: table-cell;
									vertical-align: middle;
								}
								.notice{
									@include pxTOvw(margin-top, 10px);
								}
							}
						}
					}
				}
				.sale-footer{
					background-color: #fff;
					position: relative;
					@include rem(border-bottom-left-radius, 60px);
					overflow: hidden;
					&:after{
						content: '';
						width: 100%;
						@include px2vw(height, 3);
						position: absolute;
						top: 0;
						left: 0;
					}
					.sale-list{
						position: relative;
						background-color: #fff;
						@include rem(padding, 40px 30px);
						text-align: left;
						.sale-item{
							position: relative;
							display: flex;
							justify-content: space-between;
							align-items: center;
							// flex-direction: row-reverse;
							.price-box{
								// display: flex;
								// align-items: center;
								.price{
									position: relative;
									.data-cost{
										font-family: $font-roboto;
									}
								}
								.before-price{
									display: inline-block;
									@include vw(34px);
									font-weight: 600;
									color: #989898;
									white-space: nowrap;
									&::after{
										content: '';
										background: url('#{$img-path}/pc/icon_arrow.png') 50% 90% no-repeat;
										@include rem(width, 20px);
										@include rem(height, 25px);
										position: absolute;
										top: 53%;
										right: -14%;
									}
									&::before{
										content: '';
										position: absolute;
										width: 110%;
										height: 1px;
										position: absolute;
										top: 55%;
										left: 55%;
										transform: translate(-50%,-55%);
										background: #989898;
									}
									.data-cost{
										position: relative;
										color: #989898;
									}
								}
								.after-price{
									display: block;
									white-space: nowrap;
									color: #000;
									font-weight: 600;
									@include vw(50px);
									.data-cost{
										color: #e10010;
										@include vw(60px);
									}
									.ico-cost{
										vertical-align: super;
										display: inline-block;
										@include rem(width, 80px);
										z-index: 5;
										position: relative;
										@include rem(margin-right, -40px);
										@include breakpoint(maxMobile){ 
											width: 80px;
										}
									}
								}
							}
							.check-box{
								display: block;
								white-space: nowrap;
								input{
									vertical-align: sub;
									@include rem(width, 38px);
									@include rem(height, 38px);
								}
								label{
									font-weight: 600;
									@include vw(28px);
									@include rem(padding, 0 15px);
								}
							}
						}
	
					}
				}
				.action{
					width: percent(250, 280);
					float: right;
				}
				.notice{
					@include vw(20px);
					color: rgba(32,32,32,0.6);
					font-weight: 400;
					ul{
						li{
							color: rgba(32,32,32,0.6);
							font-weight: 400;
						}
					}
				}
				&.sale-table1{
					.sale-flag{
						.flag{
							background: #3753cb;
							&:after{
								border-top-color: #3753cb;
							}
						}
					}
					.sale-head{
						.flag{
							background: linear-gradient(135deg, rgba(52,80,200,1) 0%,rgba(77,107,227,1) 37%);
						}
						&:after{
							background: #3753cb;
						}
						.sale-title{
							color: #4d6be3;
						}
					}
					.sale-footer{
						&:after{
							background: #3753cb;
						}
					}
				}
				&.sale-table2{
					.sale-flag{
						.flag{
							background: #7e45c6;
							&:after{
								border-top-color: #7e45c6;
							}
						}
					}
					.sale-head{
						.flag{
							background: linear-gradient(135deg, rgba(126,69,198,1) 0%,rgba(147,99,207,1) 37%); 
						}
						&:after{
							background: #7e45c6;
						}
						.sale-title{
							color: #824ac8;
						}
					}
					.sale-footer{
						&:after{
							background: #7e45c6;
						}
					}
				}

			}
		}
	}

	&-winner{
		background: linear-gradient(135deg, rgba(255,191,0,1) 0%,rgba(255,234,0,1) 100%);
		overflow: hidden;
		@include pxTOvw(padding-bottom, 100px);

		.winner-wrap {
			position: relative;
			height: auto;
			@include rem(margin-top, -40px);
			position: relative;
			.winner-list{
			@include rem(padding, 50px 0);
			position: relative;
			transform: perspective(400px) rotateX(35deg);
			overflow: hidden;
				p {
					text-align: center;
					line-height: 2;
					@include vw(20px);
					font-weight: 400;
					color: #222;
				}
			}
		}
	}

	&-bridge{
		position: relative;
		&:after{
			content: '';
			@include rem(width, 309px);
			@include rem(height, 76px);
			background: url('#{$img-path}/mobile/icon_bridge.png') no-repeat 50% 50%; 
			background-size: contain;
			position: absolute;
			left: 50%;
			transform: translate(-50%,0);
			@include rem(bottom, -74px);
		}
		&.product-bridge-1{
			background: #401996 url('#{$img-path}/mobile/bg_bridge_01.jpg') no-repeat 50% 50%; 
			background-size: cover;
		}
		&.product-bridge-2{
			background: #401996 url('#{$img-path}/mobile/bg_bridge_02.jpg') no-repeat 50% 50%; 
			background-size: cover;
		}
		&.product-bridge-3{
			background: #401996 url('#{$img-path}/mobile/bg_bridge_03.jpg') no-repeat 50% 50%;
			background-size: cover;
		}
	}

	&-field{
		background: linear-gradient(to bottom, white 90%, #f6f6f6 100%);
	}

	&-basic{
		@include pxTOvw(padding-bottom, 125px);
		background: #401997;
		.ico-pointer{
			&:after{
				right: 6%;
			}
		}
	}

	&-search{
		background: linear-gradient(to bottom, rgba(255,255,255,1) 90%,rgba(246,246,246,1) 100%);
		.typing{
			line-height:1;
			color:#000;
			letter-spacing: -1px;
			position:absolute;
			left:15%;
			top:44%;
			@include vw( 40px);
			font-weight:900;
			&:after{
				content:'';
				position:relative;
				@include rem(top, -5px);
				display: inline-block; 
				animation-name: cursor; 
				animation-duration: 0.3s; 
				animation-iteration-count: infinite; 
				@include rem(width, 2px);
				@include rem(height, 40px);
				background-color:#fff;
				vertical-align:middle;
				@keyframes cursor{ 
					0%{	background-color:#fff;} 
					50%{background-color:#022222;} 
					100%{background-color:#fff;} 	
				}
			}
		}
	}

	&-proof{
		@include pxTOvw(padding-bottom, 130px);
		background: linear-gradient(to bottom, white 90%, #f6f6f6 100%);
		.action{
			position: absolute;
			@include pxTOvw(right, 50px);
			bottom: pImg(65);
			width: percent(392, 720);
			@include breakpoint(maxMobileFold){
				bottom: pImg(55);
			}
		}
		.slider-contents{
			position: relative;
			@include pxTOvw(margin, 0 30px);
			img{
				width: 100%;
				text-align: center;
			}
			.slick-dots{
				@include pxTOvw(margin-top, 80px);
			}
		}
	}

	&-up{
		background: linear-gradient(to bottom, white 90%, #f6f6f6 100%);
	}

	&-raise{
		background: linear-gradient(to bottom, white 90%, #f6f6f6 100%);
	}

	&-teacher {
		background: linear-gradient(to bottom, white 90%, #f6f6f6 100%);

		&.product-teacher-210719{
			.action{
				top: percent(130, 2268);
				left: percent(536, 720);
			}
		}
		.slider-contents {
			@include rem(margin, 0 50px);
			.slick-slide{
				position: relative;
			}
			.slick-arrow{
				&.slick-prev{
					left: -40px;
				}
				&.slick-next{
					right: -40px;
				}
			}
			.video {
				position: absolute;
				top: 180px;
				right: 60px;
				bottom: 118px;
				left: 440px;
				a {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: 1;
					img{
						width: 100%;
					}
				}
			}
		}
	  
		.action {
		  position: absolute;
		  width: percent(135, 720);
		  top: percent(356, 2235);
		  left: percent(514, 720);
		  a {
			display: block;
			width: 100%;
			height: 100%;
		  }
		}
	}

	&-compliment{
		@include pxTOvw(padding-bottom, 130px);
	}

	&-book { 
		@include pxTOvw(padding-bottom, 130px);
		background: linear-gradient(to bottom, white 90%, #f6f6f6 100%);
		.text{
			font-family: $font-roboto;
			position: absolute;
			top: -13px;
			font-size: 39px;
			font-weight: 900;
			color: #000;
			left: 0px;
			letter-spacing: -4px;
		}
	}

	&-curriculum {
		background: linear-gradient(to bottom, white 90%, #f6f6f6 100%);
	}
    
	&-cbt {
		@include pxTOvw(padding-bottom, 130px);
		background: linear-gradient(to bottom, white 90%, #f6f6f6 100%);
		.slider-contents{
			margin: 0;
		}
		.slick-dots{
			display: none !important;
		}
		.slick-arrow{
			top: 40% !important;
			&.slick-prev {
				left: 5%  !important;
				width: 8vw !important;
				height: 10vw !important;
				@include breakpoint(maxMobile){
					width: 80px !important;
					height: 100px !important;
				}
				&:before { 
					background: url('#{$img-path}/pc/prev.png') no-repeat 50% 50%; 
					top: 0 !important;
					border: none !important;
					background-size: contain;
					width: 8vw !important;
					height: 10vw !important;
					transform: rotate(0deg)  !important;
					@include breakpoint(maxMobile){
						width: 80px !important;
						height: 100px !important;
					}
				}
			}
			&.slick-next {
				right: 5% !important;
				width: 8vw !important;
				height: 10vw !important;
				@include breakpoint(maxMobile){
					width: 80px !important;
					height: 100px !important;
				}
				&:before { 
					background: url('#{$img-path}/pc/next.png') no-repeat 50% 50%; 
					top: 0 !important;
					border: none !important;
					background-size: contain;
					width: 8vw !important;
					height: 10vw !important;
					transform: rotate(0deg)  !important;
					@include breakpoint(maxMobile){
						width: 80px !important;
						height: 100px !important;
					}
				}
			}
		}
	}

	&-data {
		@include rem(padding-bottom, 130px);
		background: linear-gradient(to bottom, white 90%, #f6f6f6 100%);
	}

	&-awards{
		.action{
			position: absolute;
			width: get-vw(135px);
		    top: 19%;
			right: 7%;
			@include breakpoint(maxMobile){
				width: 135px;
			}
		}
	}

	&-poster{
		background: #401997;
	}
}

.popup {
    background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	width: 85%;
	max-width: 720px;
	text-align: left;
	.popup-body{
		@include vw( 26px);
		padding: 5% 5%;
		word-break: keep-all;
		color:#fff !important;
	}
	.base-title-1,.base-text-1{
		display: none;
	}
}

.sector-unbreakable .unbreakable-title .title:before {
    content: '06';
    position: absolute;
    bottom: 110%;
    left: 0;
    z-index: -1;
    font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
	@include vw(40px);
    font-weight: 900;
    color: #FF9700;
}