@{
    string viewPath = ((RazorView)ViewContext.View).ViewPath;
    viewPath = viewPath.Remove(viewPath.LastIndexOf('/') + 1);
}

@{
    string platform = ("W".Equals(ViewBag.PlatformCd)) ? "pc" : "mobile";
	String link1 = ("W".Equals(ViewBag.PlatformCd)) ? "//nrc.eduwill.net/Single/SingleDetail?mIdx=199" : "//brand.eduwill.net/academy/sugang/SingleDetail.will?code=nrc&progress=W&productCd=22C0SE2M1A&mIdx=199";
	String link2 = ("W".Equals(ViewBag.PlatformCd)) ? "//nrc.eduwill.net/Single/SingleDetail?mIdx=198" : "//brand.eduwill.net/academy/sugang/SingleDetail.will?code=nrc&progress=W&productCd=22C0SH2N1A&mIdx=198";
	String link3 = ("W".Equals(ViewBag.PlatformCd)) ? "https://nrc.eduwill.net/Course" : "https://brand.eduwill.net/academy/sugang/list.will?code=nrc";
    if ( "W".Equals(ViewBag.PlatformCd) ){} else {}
}

<div id="contents" class="promotion">
	<div class="fix-bottom">
		<div class="wrap">
			<div class="action">
				<a href="#eventBanner" class="page-move">
					<img src="//img.eduwill.net/eduwill/img/2022/T/event/220323/@platform/bottom_banner.png" alt="">
				</a>
			</div>
		</div>
	</div>

    @if ("W".Equals(ViewBag.PlatformCd)) {
        <div class="fix-right wing01">
			<div>
                <a href="https://post.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MzkxMQ==" target="_blank">
                    <img src="//img.eduwill.net/eduwill/img/2022/T/event/220323/@platform/wing_bn_01.png" alt="">
                </a>
            </div>
        </div>
		<div class="fix-right wing02">
			<div>
                <a href="#sectorRumor" class="page-move">
                    <img src="//img.eduwill.net/eduwill/img/2022/T/event/220323/@platform/wing_bn_02.png" alt="">
                </a>
            </div>
        </div>
    }

    <div class="sector-title">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/T/event/220323/@platform/top_bn_contents.png" alt="">
			<div class="limit pc-only">
				<div class="limit-txt">
					기간한정<br> 3월 31일(목)<br> 까지
				</div>
			</div>
			<div class="limit mobile-only">기간한정 3월 31일(목) 까지</div>
        </div>
    </div>

	<div class="sector-banner-1">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/T/event/220323/@platform/tablet_book.png" alt="">
        </div>
    </div>

	<div class="sector-action apply">
		<div class="wrap">
			<a href="#eventBanner" class="page-move">
				<img src="//img.eduwill.net/eduwill/img/2022/T/event/220323/@platform/btn01.png" alt="">
			</a>
			<ul>
				<li>1) 계리직공무원 전체 온라인 누적 수강생 수 기준 (2019.10~2021.01)</li>
				<li>2) 계리직공무원 강의만족도 조사 기준(21.08~21.11)</li>
				<li>3) 계리직공무원 강의 누적 수강인원(20.01~21.05)</li>
				<li>4) 계리직공무원 전체 강의추천수 기준(20.03~21.05)</li>
			</ul>
			<img src="//img.eduwill.net/eduwill/img/2022/T/event/220323/@platform/sec02.png" alt="">
		</div>
	</div>

	<div id="applyBanner" class="sector-banner-2">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/T/event/220323/@platform/sec03_contents.png" alt="">
        </div>
    </div>

	<div class="sector-banner-middle">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/T/event/220323/@platform/middle_bn_contents.png" alt="">
        </div>
	</div>

	<div class="sector-video">
        <div class="wrap">
			<div class="video">
				<a href="javascript:edufLayerVideoOpen('https://www.youtube.com/embed/mApx192IdZM');">
					<img src="//img.eduwill.net/eduwill/img/2022/T/event/220323/pc/video01.png" alt="">
				</a>
			</div>
			<div class="video">
				<a href="javascript:edufLayerVideoOpen('https://www.youtube.com/embed/L0KtZJBQceI');">
					<img src="//img.eduwill.net/eduwill/img/2022/T/event/220323/pc/video02.png" alt="">
				</a>
			</div>
			<div class="video">
				<a href="javascript:edufLayerVideoOpen('https://www.youtube.com/embed/9E6N1QwDtA0');">
					<img src="//img.eduwill.net/eduwill/img/2022/T/event/220323/pc/video03.png" alt="">
				</a>
			</div>
        </div>
    </div>

	<div class="sector-num-1">
        <div class="wrap">
			<div class="title">
				<img class="title-img" src="//img.eduwill.net/eduwill/img/2022/T/event/220323/@platform/sec_num01_title.png" alt="">
			</div>
			<div class="wrap-teacher">
				<div class="teacher">
					<a target="_blank" href="https://post.eduwill.net/Prof/CO05/CO">
						<img src="//img.eduwill.net/eduwill/img/2022/T/event/220323/pc/teacher1.png" alt="">
					</a>
				</div>
				<div class="teacher">
					<a target="_blank" href="https://post.eduwill.net/Prof/MS10/MS">
						<img src="//img.eduwill.net/eduwill/img/2022/T/event/220323/pc/teacher2.png" alt="">
					</a>
				</div>
				<div class="teacher">
					<a target="_blank" href="https://post.eduwill.net/Prof/MS09/MS">
						<img src="//img.eduwill.net/eduwill/img/2022/T/event/220323/pc/teacher3.png" alt="">
					</a>
				</div>
				<div class="teacher">
					<a target="_blank" href="https://post.eduwill.net/Prof/HI54/HI">
						<img src="//img.eduwill.net/eduwill/img/2022/T/event/220323/pc/teacher4.png" alt="">
					</a>
				</div>
			</div>
        </div>
    </div>

	<div class="sector-num-2">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/T/event/220323/@platform/sec_num02_contents.png" alt="">
        </div>
    </div>

	<div id="eventBanner" class="sector-yellow">
        <div class="wrap">
			<div class="bubble">
				<div class="bubble-txt">기간한정<br>3월 31일(목)<br>까지</div>
			</div>
			<div class="wrap-txt">
				<h2>5월 14일(토) 계리직 시험 확정!</h2>
				<h3><span>3월 이후 가입한 신규회원</span>이라면 누구나!<br>합격예측 모의고사 무료</h3>
			</div>
			<img src="//img.eduwill.net/eduwill/img/2022/T/event/220323/@platform/sec_yellow_contents.png" alt="">
			<a href="#event">
				<img src="//img.eduwill.net/eduwill/img/2022/T/event/220323/@platform/btn02.png" alt="">
			</a>
			<p>* 2022 대한민국 브랜드만족도 계리직 공무원 교육 1위</p>
        </div>
    </div>

	<div class="sector-event">
        @* 이벤트 영역 *@
    </div>

	<div id="sectorRumor" class="sector-rumor">
		@* 소문내기 영역 *@
	</div>

	<div data-eduwill-eco-content="1991"></div>
</div>

<script type="text/javascript">
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
    var str = 'event.eduwill.net';
    var checkUrl = url.indexOf(str);
    var userId = "@(UserSession.UserID)";

    $(function () {
        frontInit();
		if(isMobile == true){
			$('.sector-video .wrap').slick({
				infinite: true,
				loop: true,
				autoplay: true,
				speed: 300,
				arrows: false,
				slidesToShow: 1.65,
				slidesToScroll: 1
			});

			$('#footerFixedButtons').css('display','none');
		}
    });

    function frontInit() {
        pageMove('.page-move');
    }
</script>
