@charset "UTF-8";
.grid {
  *zoom: 1;
}

.grid:before, .grid:after {
  content: '';
  display: table;
}

.grid:after {
  clear: both;
}

.slideY {
  position: absolute;
  -webkit-animation: 0.4s slideUpY ease-in-out infinite alternate;
  animation: 0.4s slideUpY ease-in-out infinite alternate;
}

@-webkit-keyframes slideUpY {
  0% {
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  100% {
    -webkit-transform: translate(-5px, 0);
    transform: translate(-5px, 0);
  }
}

@keyframes slideUpY {
  0% {
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  100% {
    -webkit-transform: translate(-5px, 0);
    transform: translate(-5px, 0);
  }
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.bounce {
  -webkit-animation: bounce 1.5s infinite both;
          animation: bounce 1.5s infinite both;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    opacity: .3;
  }
}

/* 공통 */
.product-eco #edoContent2 .ecoCont4 {
  display: none;
}

.product-eco .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -31px;
}

.product-eco .slick-dots li button {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  border-radius: 14px;
  text-indent: -9999px;
  background: #adadad;
  border: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.product-eco .slick-dots li.slick-active button {
  width: 38px;
  background: #8600ec;
  border-radius: 20px;
}

.product-eco .btn-reason {
  position: absolute;
  cursor: pointer;
  padding: 4px 20px 4px 10px;
  font-size: 14px;
  background: transparent;
  border: 1px solid #d6cfe2;
  color: #d6cfe2;
  z-index: 3;
}

.product-eco .btn-reason::after {
  content: '';
  position: absolute;
  top: 10.5px;
  right: 10px;
  width: 7px;
  height: 7px;
  border: 1px solid #d6cfe2;
  border-left: none;
  border-bottom: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.product-eco .wrap {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  line-height: normal;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-eco .btn-pointer {
  display: inline-block;
  position: relative;
}

.product-eco .btn-pointer:before {
  content: '';
  position: absolute;
  right: -13px;
  bottom: -20px;
  width: 57px;
  height: 65px;
  background: url(https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png) no-repeat 50% 50%;
  background-size: 100% auto;
  -webkit-animation: 0.3s slideupY ease-in-out infinite alternate;
          animation: 0.3s slideupY ease-in-out infinite alternate;
}

@-webkit-keyframes slideupY {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes slideupY {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

/* 컨텐츠 */
.product-eco {
  overflow: hidden;
}

.product-eco[data-type="2503"] .top {
  background: url("https://img.eduwill.net/eduwill/img/2022/_113/product/module/pc/2503/banner_bg.jpg");
}

.product-eco[data-type="2503"] .top .wrap {
  width: 1260px;
}

.product-eco[data-type="2503"] .visual {
  background: url("https://img.eduwill.net/eduwill/img/2022/_113/product/module/pc/2503/visual_bg.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.product-eco[data-type="2503"] .visual .btn-reason {
  bottom: 178px;
  right: 0px;
}

.product-eco[data-type="2503"] .cont1 {
  background: #412080;
}

.product-eco[data-type="2503"] .cont1 .wrap > img {
  margin-top: -50px;
}

.product-eco[data-type="2503"] .cont1 .wrap .btn-reason {
  bottom: 100px;
  right: 50px;
}

.product-eco[data-type="2503"] .cont1 .wrap .overview {
  position: absolute;
  top: 222px;
  left: 51px;
  right: 50px;
}

.product-eco[data-type="2503"] .cont1 .wrap .overview ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-eco[data-type="2503"] .cont1 .wrap .overview ul li {
  -webkit-transition: all .1s ease-in .1s;
  -o-transition: all .1s ease-in .1s;
  transition: all .1s ease-in .1s;
  opacity: 0;
}

.product-eco[data-type="2503"] .cont1 .wrap .overview ul li:hover {
  opacity: 1;
}

.product-eco[data-type="2503"] .cont2 {
  padding-bottom: 140px;
}

.product-eco[data-type="2503"] .cont2 .wrap .linkWrap {
  position: absolute;
  right: 50px;
  top: 246px;
  width: 322px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-eco[data-type="2503"] .cont2 .wrap .linkWrap a, .product-eco[data-type="2503"] .cont2 .wrap .linkWrap button {
  width: 48%;
  height: 42px;
  text-indent: -9999px;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap {
  width: 1100px;
  margin: 0 auto;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol.new0301 > li {
  width: 49% !important;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li {
  border: 2px solid #ccc;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  opacity: .5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceTitle h3 {
  font-size: 4.44444vw;
  height: 13.88889vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-weight: 900;
  background: #e3e3e3;
  color: #222;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

@media screen and (min-width: 720px) {
  .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceTitle h3 {
    font-size: 32px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceTitle h3 {
    height: 100px;
  }
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceTitle ul {
  margin-top: -1px;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceTitle ul li {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3.05556vw;
  height: 8.33333vw;
  padding: 0 5.55556vw;
  font-weight: 600;
  color: #222;
  border-top: 1px solid #ccc;
  letter-spacing: -1px;
}

@media screen and (min-width: 720px) {
  .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceTitle ul li {
    font-size: 22px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceTitle ul li {
    height: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceTitle ul li {
    padding: 0 40px;
  }
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceTitle ul li.pink {
  color: #e732aa;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceLink .priceInfo {
  width: 100%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceLink .priceInfo > div {
  letter-spacing: -1px;
  padding: 25px 20px;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceLink .priceInfo > div h4 {
  font-size: 3.47222vw;
  font-weight: 600;
  color: #222;
  margin: 0;
  padding: 0;
  background: none;
}

@media screen and (min-width: 720px) {
  .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceLink .priceInfo > div h4 {
    font-size: 25px;
  }
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceLink .priceInfo > div p {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceLink .priceInfo > div p.priceBefore {
  font-size: 3.88889vw;
  color: #8a8a8a;
  font-weight: 400;
  text-decoration: line-through;
}

@media screen and (min-width: 720px) {
  .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceLink .priceInfo > div p.priceBefore {
    font-size: 28px;
  }
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceLink .priceInfo > div p.priceAfter {
  font-size: 5.55556vw;
  color: #222222;
  font-weight: 900;
}

@media screen and (min-width: 720px) {
  .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceLink .priceInfo > div p.priceAfter {
    font-size: 40px;
  }
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceLink .priceInfo > div p em {
  font-size: 3.47222vw;
  font-weight: 600;
}

@media screen and (min-width: 720px) {
  .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceLink .priceInfo > div p em {
    font-size: 25px;
  }
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceLink .priceInfo a, .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceLink .priceInfo button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 12.5vw;
  background: #222;
  font-size: 3.88889vw;
  color: #fff;
  font-weight: 900;
  padding-right: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

@media screen and (min-width: 720px) {
  .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceLink .priceInfo a, .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceLink .priceInfo button {
    height: 90px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceLink .priceInfo a, .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceLink .priceInfo button {
    font-size: 28px;
  }
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceLink .priceInfo a::after, .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li .priceLink .priceInfo button::after {
  content: '';
  position: absolute;
  top: 35px;
  right: 78px;
  width: 14px;
  height: 14px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li:first-child {
  width: 485px;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li:first-child .priceLink .priceInfo:first-child {
  background: #ececec;
  border-right: 2px solid #fff;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li:first-child .priceLink .priceInfo:first-child a, .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li:first-child .priceLink .priceInfo:first-child button {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 0px;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li:first-child .priceLink .priceInfo:last-child {
  background: #ececec;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li:first-child .priceLink .priceInfo:last-child a, .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li:first-child .priceLink .priceInfo:last-child button {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 6px;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li:first-child .priceLink .priceInfo a::after, .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li:first-child .priceLink .priceInfo button::after {
  right: 55px;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li.active, .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li:hover {
  border: 2px solid #222;
  opacity: 1;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li.active .priceTitle h3, .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li:hover .priceTitle h3 {
  background: #222;
  color: #fff;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li.active .priceTitle ul li, .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li:hover .priceTitle ul li {
  color: #222;
  border-top: 1px solid #e4e4e4;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li.active .priceTitle ul li.pink, .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li:hover .priceTitle ul li.pink {
  color: #e732aa;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li.active .priceLink .priceInfo > div h4, .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li:hover .priceLink .priceInfo > div h4 {
  color: #e625a7;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li.active .priceLink .priceInfo > div p.priceBefore, .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li:hover .priceLink .priceInfo > div p.priceBefore {
  color: #8a8a8a;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li.active .priceLink .priceInfo > div p.priceAfter, .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li:hover .priceLink .priceInfo > div p.priceAfter {
  color: #222222;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li.active .priceLink .priceInfo a, .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li.active .priceLink .priceInfo button, .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li:hover .priceLink .priceInfo a, .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li:hover .priceLink .priceInfo button {
  background: #412080;
  color: #fff;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li.active:first-child .priceLink .priceInfo:first-child, .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li:hover:first-child .priceLink .priceInfo:first-child {
  background: #f8ebff;
}

.product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li.active:first-child .priceLink .priceInfo:last-child, .product-eco[data-type="2503"] .cont2 .wrap .priceWrap ol > li:hover:first-child .priceLink .priceInfo:last-child {
  background: #ebefff;
}

.product-eco[data-type="2503"] .product-sentence {
  background-color: #412080;
  font-size: 54px;
  color: #fff;
  font-weight: 900;
  padding: 35px 0;
}

.product-eco[data-type="2525"] .fix-banner, .product-eco[data-type="2503"] .fix-banner, .product-eco[data-type="2466"] .fix-banner, .product-eco[data-type="2523"] .fix-banner {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  text-align: center;
  background: #00fffc;
  z-index: 1;
}

.product-eco[data-type="2525"] .fix-banner img, .product-eco[data-type="2503"] .fix-banner img, .product-eco[data-type="2466"] .fix-banner img, .product-eco[data-type="2523"] .fix-banner img {
  margin-top: -26px;
}

.product-eco[data-type="2525"] #eduf-paragraph {
  background: #000249 !important;
}

.product-eco[data-type="2525"] #eduf-paragraph svg path {
  fill: #000249;
}

.product-eco[data-type="2525"] .top {
  background: url("https://img.eduwill.net/eduwill/img/2022/_113/product/module/pc/2503/banner_bg.jpg");
}

.product-eco[data-type="2525"] .top .wrap {
  width: 1260px;
}

.product-eco[data-type="2525"] .visual {
  background: url("https://img.eduwill.net/eduwill/img/2022/_113/product/module/pc/2503/visual_bg.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.product-eco[data-type="2525"] .visual .btn-reason {
  bottom: 178px;
  right: 0px;
}

.product-eco[data-type="2525"] .cont1 {
  background: #412080;
}

.product-eco[data-type="2525"] .cont1 .wrap > img {
  margin-top: -50px;
}

.product-eco[data-type="2525"] .cont1 .wrap .btn-reason {
  bottom: 100px;
  right: 50px;
}

.product-eco[data-type="2525"] .cont1 .wrap .overview {
  position: absolute;
  top: 222px;
  left: 51px;
  right: 50px;
}

.product-eco[data-type="2525"] .cont1 .wrap .overview ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-eco[data-type="2525"] .cont1 .wrap .overview ul li {
  -webkit-transition: all .1s ease-in .1s;
  -o-transition: all .1s ease-in .1s;
  transition: all .1s ease-in .1s;
  opacity: 0;
}

.product-eco[data-type="2525"] .cont1 .wrap .overview ul li:hover {
  opacity: 1;
}

.product-eco[data-type="2525"] .product-sentence {
  background-color: #412080;
  font-size: 54px;
  color: #fff;
  font-weight: 900;
  padding: 35px 0;
}

.product-eco[data-type="2466"] .floatBanner {
  position: fixed;
  top: 348px;
  right: 50px;
  z-index: 10;
}

.product-eco[data-type="2466"] .top {
  background: url("https://img.eduwill.net/eduwill/img/2022/_113/product/module/pc/2503/banner_bg.jpg");
}

.product-eco[data-type="2466"] .top .wrap {
  width: 1260px;
}

.product-eco[data-type="2466"] .visual {
  background: url("https://img.eduwill.net/eduwill/img/2022/_113/product/module/pc/2466/visual_bg.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.product-eco[data-type="2466"] .visual .btn-reason {
  top: 30px;
  right: 50px;
}

.product-eco[data-type="2466"] .cont1 {
  background: url("https://img.eduwill.net/eduwill/img/2022/_113/product/module/pc/2466/cont1_bg.jpg") no-repeat 50% 50%;
  background-size: cover;
  padding-bottom: 120px;
}

.product-eco[data-type="2466"] .cont1 .wrap .btn-reason {
  bottom: -50px;
  right: 50px;
  border-radius: 3px;
  font-size: 18px;
  padding: 2px 30px 2px 20px;
}

.product-eco[data-type="2466"] .cont1 .wrap .btn-reason::after {
  top: 13px;
  right: 17px;
}

.product-eco[data-type="2466"] .cont1 .wrap .price-area {
  position: relative;
  background: #fff;
  border-radius: 50px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 1100px;
  height: 310px;
  padding: 0 40px 0 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  -webkit-box-shadow: 6px 9px 17px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 6px 9px 17px 0px rgba(0, 0, 0, 0.5);
}

.product-eco[data-type="2466"] .cont1 .wrap .price-area .num {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-eco[data-type="2466"] .cont1 .wrap .price-area .title {
  position: absolute;
  top: 53px;
  left: 60px;
  text-align: left;
}

.product-eco[data-type="2466"] .cont1 .wrap .price-area .title h3 {
  font-size: 40px;
  color: #222;
  font-weight: 900;
  letter-spacing: -3px;
  line-height: 1.3;
}

.product-eco[data-type="2466"] .cont1 .wrap .price-area .title h3 span {
  display: inline-block;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -2px;
  border-right: 1px solid #e5e5e5;
  padding: 0 55px 0 20px;
  line-height: normal;
}

.product-eco[data-type="2466"] .cont1 .wrap .price-area .title h3 span:last-child {
  border: none;
}

.product-eco[data-type="2466"] .cont1 .wrap .price-area .title h3 span.nopd {
  padding-left: 0;
}

.product-eco[data-type="2466"] .cont1 .wrap .price-area .price {
  position: absolute;
  top: 52px;
  right: 65px;
  text-align: left;
  line-height: 1.1;
  letter-spacing: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 430px;
}

.product-eco[data-type="2466"] .cont1 .wrap .price-area .price .before {
  height: 100%;
  color: #bbb;
  font-size: 30px;
  text-decoration: line-through;
  text-align: left;
  font-weight: 500;
}

.product-eco[data-type="2466"] .cont1 .wrap .price-area .price .after {
  text-align: right;
  font-size: 66px;
  text-align: left;
  font-weight: 600;
  background: -webkit-gradient(linear, left top, right top, from(#d500ff), to(#8700ec));
  background: -webkit-linear-gradient(left, #d500ff 0%, #8700ec 100%);
  background: -o-linear-gradient(left, #d500ff 0%, #8700ec 100%);
  background: linear-gradient(90deg, #d500ff 0%, #8700ec 100%);
  color: transparent;
  -webkit-background-clip: text;
}

.product-eco[data-type="2466"] .cont1 .wrap .price-area .price .after .num {
  font-size: 72px;
  font-weight: 900;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .product-eco[data-type="2466"] .cont1 .wrap .price-area .price .after {
    color: #af00f6;
    background: none;
  }
}

.product-eco[data-type="2466"] .cont1 .wrap .price-area .btn-area {
  position: absolute;
  top: 175px;
  right: 75px;
  font-size: 0;
  line-height: 0;
}

.product-eco[data-type="2466"] .cont1 .wrap .price-area .btn-area .flag {
  position: absolute;
  bottom: -8px;
  left: 113px;
  z-index: 1;
}

.product-eco[data-type="2466"] .cont1 .wrap .price-area .btn-area .btn {
  height: 105px;
}

.product-eco[data-type="2466"] .cont3 {
  background: #3d086d;
}

.product-eco[data-type="2466"] .cont3 .wrap > img {
  margin-top: -50px;
}

.product-eco[data-type="2466"] .cont3 .wrap .btn-reason {
  bottom: 65px;
  right: 50px;
}

.product-eco[data-type="2466"] .cont3 .wrap .overview {
  position: absolute;
  top: 232px;
  left: 51px;
  right: 50px;
}

.product-eco[data-type="2466"] .cont3 .wrap .overview ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-eco[data-type="2466"] .cont3 .wrap .overview ul li {
  -webkit-transition: all .1s ease-in .1s;
  -o-transition: all .1s ease-in .1s;
  transition: all .1s ease-in .1s;
  opacity: 0;
}

.product-eco[data-type="2466"] .cont3 .wrap .overview ul li:hover {
  opacity: 1;
}

.product-eco[data-type="2466"] .cont4 {
  padding-bottom: 70px;
}

.product-eco[data-type="2466"] .cont4 #slideWrap {
  position: relative;
  height: 90.27778vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-type="2466"] .cont4 #slideWrap {
    height: 650px;
  }
}

.product-eco[data-type="2466"] .cont4 #slideWrap .Slide {
  width: 1220px;
  overflow: hidden;
}

.product-eco[data-type="2466"] .cont4 #slideWrap .Slide .slick-slide {
  position: relative;
  width: 245px;
  height: 590px;
}

.product-eco[data-type="2466"] .cont4 #slideWrap .Slide .slick-slide .slide-item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 264px !important;
  overflow: hidden;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.product-eco[data-type="2466"] .cont4 #slideWrap .Slide .slick-slide .slide-item img {
  width: 100%;
  opacity: .6;
  -webkit-filter: url("https://img.eduwill.net/eduwill/css/2022/_113/product/module/filters.svg#grayscale");
          filter: url("https://img.eduwill.net/eduwill/css/2022/_113/product/module/filters.svg#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
}

.product-eco[data-type="2466"] .cont4 #slideWrap .Slide .slick-slide.slick-center {
  z-index: 5;
}

.product-eco[data-type="2466"] .cont4 #slideWrap .Slide .slick-slide.slick-center .slide-item {
  width: 395px !important;
  padding: 0;
}

.product-eco[data-type="2466"] .cont4 #slideWrap .Slide .slick-slide.slick-center .slide-item img {
  filter: none;
  -webkit-filter: grayscale(0);
  opacity: 1;
}

.product-eco[data-type="2466"] .cont4 #slideWrap .Slide .slick-dots {
  margin-top: 5.55556vw;
}

@media screen and (min-width: 720px) {
  .product-eco[data-type="2466"] .cont4 #slideWrap .Slide .slick-dots {
    margin-top: 40px;
  }
}

.product-eco[data-type="2466"] .product-sentence {
  background-color: #3d086d;
  font-size: 54px;
  color: #fff;
  font-weight: 900;
  padding: 35px 0;
}

#eduf-popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#eduf-popup.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#eduf-popup.eduf-video .popup-body {
  padding: 0 !important;
}

#eduf-popup.eduf-video .popup-body > div {
  background: transparent;
  padding: 0;
}

#eduf-popup.eduf-video .popup-close {
  top: -59px !important;
  right: 8px !important;
}

#eduf-popup.eduf-video .popup-close::before, #eduf-popup.eduf-video .popup-close::after {
  background: #fff !important;
}

#eduf-popup .popup {
  display: block;
  position: relative;
  width: 100%;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  line-height: normal;
  letter-spacing: normal;
  left: initial;
  top: initial;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  max-width: initial;
  background-color: transparent;
  border-radius: 0;
}

#eduf-popup .popup-body {
  position: relative;
  text-align: left;
  margin: 0 auto;
  max-width: 92%;
}

@media screen and (min-width: 720px) {
  #eduf-popup .popup-body {
    max-width: 720px;
  }
}

#eduf-popup .popup-body > div {
  background: #fff;
  display: none;
  color: #000;
  padding: 1.875rem 1.25rem;
}

@media screen and (min-width: 720px) {
  #eduf-popup .popup-body > div {
    padding: 60px 40px;
  }
}

#eduf-popup .popup-body > div.active {
  display: block;
}

#eduf-popup .popup-body p {
  font-size: 3.33333vw;
  font-weight: 700;
}

@media screen and (min-width: 720px) {
  #eduf-popup .popup-body p {
    font-size: 24px;
  }
}

@media screen and (min-width: 1100px) {
  #eduf-popup .popup-body p {
    font-size: 18px;
  }
}

#eduf-popup .popup-body p + p,
#eduf-popup .popup-body p + ul {
  margin-top: 0.3125rem;
}

@media screen and (min-width: 720px) {
  #eduf-popup .popup-body p + p,
  #eduf-popup .popup-body p + ul {
    margin-top: 10px;
  }
}

#eduf-popup .popup-body ul {
  margin-top: 0.3125rem;
  font-size: 3.05556vw;
}

@media screen and (min-width: 720px) {
  #eduf-popup .popup-body ul {
    margin-top: 10px;
  }
}

@media screen and (min-width: 720px) {
  #eduf-popup .popup-body ul {
    font-size: 22px;
  }
}

@media screen and (min-width: 1100px) {
  #eduf-popup .popup-body ul {
    font-size: 16px;
  }
}

#eduf-popup .popup-body ul li {
  margin-top: 0.15625rem;
}

@media screen and (min-width: 720px) {
  #eduf-popup .popup-body ul li {
    margin-top: 5px;
  }
}

#eduf-popup .popup-body ul li:first-child {
  margin-top: 0;
}

#eduf-popup .popup-body ul + p {
  margin-top: 0.3125rem;
}

@media screen and (min-width: 720px) {
  #eduf-popup .popup-body ul + p {
    margin-top: 10px;
  }
}

#eduf-popup .popup-body #eduf-popup-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 40px;
  height: 40px;
}

#eduf-popup .popup-body #eduf-popup-close:before, #eduf-popup .popup-body #eduf-popup-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 1px;
  margin-left: -10px;
  background-color: #000;
}

#eduf-popup .popup-body #eduf-popup-close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#eduf-popup .popup-body #eduf-popup-close:after {
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}

#eduf-popup .popup-body #eduf-popup-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

@media screen and (min-width: 720px) {
  #eduf-popup .popup-body #eduf-popup-close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 60px;
    height: 60px;
  }
  #eduf-popup .popup-body #eduf-popup-close:before, #eduf-popup .popup-body #eduf-popup-close:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 30px;
    height: 1px;
    margin-left: -15px;
    background-color: #000;
  }
  #eduf-popup .popup-body #eduf-popup-close:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #eduf-popup .popup-body #eduf-popup-close:after {
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  #eduf-popup .popup-body #eduf-popup-close span {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 0px;
    height: 0px;
    margin: -1px;
    padding: 0;
    word-break: keep-all;
    white-space: nowrap;
    color: transparent;
    border: 0;
    text-indent: -9999px;
  }
}

#eduf-popup[data-popup="popup1"] .popup-body > div {
  background: #412080;
  padding: 30px 5px 5px 5px;
}

#eduf-popup[data-popup="popup1"] .popup-body > div .cont {
  background: #fff;
  padding: 20px;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#eduf-popup[data-popup="popup1"] .popup-body > div .cont table {
  text-align: center;
  color: #555;
}

#eduf-popup[data-popup="popup1"] .popup-body > div .cont table th, #eduf-popup[data-popup="popup1"] .popup-body > div .cont table td {
  padding: 5px 10px;
  border: 1px solid #c6c7cd;
}

#eduf-popup[data-popup="popup1"] .popup-body > div .cont table th {
  background: #f2f2f2;
}

#eduf-popup[data-popup="popup1"] .popup-body > div h2 {
  position: relative;
  top: -17px;
  color: #fff;
  text-align: center;
  font-size: 2.22222vw;
}

@media screen and (min-width: 720px) {
  #eduf-popup[data-popup="popup1"] .popup-body > div h2 {
    font-size: 16px;
  }
}

#eduf-popup[data-popup="popup1"] #eduf-popup-close:before,
#eduf-popup[data-popup="popup1"] #eduf-popup-close::after {
  background-color: #fff;
}
/*# sourceMappingURL=web.css.map */