@charset "UTF-8";
.grid {
  *zoom: 1;
}

.grid:before, .grid:after {
  content: '';
  display: table;
}

.grid:after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.banner-list-item .banner {
  background-color: #fff !important;
}

.eco-event {
  overflow: hidden;
  height: 85.8375rem;
}

@media screen and (min-width: 720px) {
  .eco-event {
    height: 1715px;
  }
}

.dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1001;
  width: 100%;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup-body {
  position: relative;
  line-height: 1.4;
}

.popup-body p {
  font-size: 3.33333vw;
  font-weight: 700;
}

@media screen and (min-width: 720px) {
  .popup-body p {
    font-size: 24px;
  }
}

@media screen and (min-width: 1100px) {
  .popup-body p {
    font-size: 18px;
  }
}

.popup-body p + p,
.popup-body p + ul {
  margin-top: 1.38889vw;
}

@media screen and (min-width: 720px) {
  .popup-body p + p,
  .popup-body p + ul {
    margin-top: 10px;
  }
}

.popup-body ul {
  margin-top: 1.38889vw;
  font-size: 3.05556vw;
}

@media screen and (min-width: 720px) {
  .popup-body ul {
    margin-top: 10px;
  }
}

@media screen and (min-width: 720px) {
  .popup-body ul {
    font-size: 22px;
  }
}

@media screen and (min-width: 1100px) {
  .popup-body ul {
    font-size: 16px;
  }
}

.popup-body ul li {
  margin-top: 0.69444vw;
}

@media screen and (min-width: 720px) {
  .popup-body ul li {
    margin-top: 5px;
  }
}

.popup-body ul li:first-child {
  margin-top: 0;
}

.popup-body ul + p {
  margin-top: 1.38889vw;
}

@media screen and (min-width: 720px) {
  .popup-body ul + p {
    margin-top: 10px;
  }
}

.popup-close {
  position: absolute;
  top: -40px;
  right: 0;
}

.popup-close a {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 40px;
  height: 40px;
}

.popup-close a:before, .popup-close a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 1px;
  margin-left: -10px;
  background-color: #fff;
}

.popup-close a:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close a:after {
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}

.popup-close a span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.popup-video {
  max-width: 640px;
}

@media screen and (min-width: 720px) {
  .popup-video {
    max-width: 1000px;
  }
}

.popup-video .video-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-video .video-box video {
  width: 100%;
  height: 100%;
}

.popup-base {
  max-width: 640px;
}

@media screen and (min-width: 720px) {
  .popup-base {
    max-width: 720px;
  }
}

.popup-base .popup-body {
  padding: 8.33333vw 5.55556vw;
}

@media screen and (min-width: 720px) {
  .popup-base .popup-body {
    padding: 60px 40px;
  }
}

.product-eco * {
  line-height: normal;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  letter-spacing: -1px;
}

.product-eco .container {
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
}

.product-eco .wrap {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-eco .wrap-full {
  width: 100%;
  padding: 0;
}

.product-eco .holder {
  position: relative;
  padding: 0 6.94444vw;
}

@media screen and (min-width: 720px) {
  .product-eco .holder {
    padding: 0 50px;
  }
}

.product-eco p {
  line-height: 100%;
  margin: 0;
  text-align: left;
  font-size: 2.77778vw;
  color: #666;
}

@media screen and (min-width: 720px) {
  .product-eco p {
    font-size: 20px;
  }
}

.product-eco p.notice {
  margin-top: 1.38889vw;
}

@media screen and (min-width: 720px) {
  .product-eco p.notice {
    margin-top: 10px;
  }
}

.product-eco p.brand, .product-eco p.survey {
  position: absolute;
}

.product-eco .fixbanner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #75fffc;
  z-index: 777;
}

.product-eco .fixbanner .pointer {
  position: absolute;
  top: 50px;
  right: 20px;
}

.product-eco .fixbanner .pointer img {
  width: 70%;
  -webkit-animation: 0.6s slideUpY ease-in-out infinite alternate;
          animation: 0.6s slideUpY ease-in-out infinite alternate;
}

.product-eco .slick-dots {
  width: 100%;
  margin-top: 4.16667vw;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots {
    margin-top: 30px;
  }
}

.product-eco .slick-dots li {
  display: inline-block;
  margin: 0 0.83333vw;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li {
    margin: 0 6px;
  }
}

.product-eco .slick-dots li button {
  width: 2.77778vw;
  height: 2.77778vw;
  text-indent: -9999em;
  border: none;
  border-radius: 50%;
  background-color: #b2b2b2;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li button {
    width: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li button {
    height: 20px;
  }
}

.product-eco .slick-dots li.slick-active button {
  width: 7.63889vw;
  border-radius: 2.08333vw;
  background-color: #ffc20e;
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li.slick-active button {
    width: 55px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slick-dots li.slick-active button {
    border-radius: 15px;
  }
}

.product-eco .slider-contents {
  position: relative;
  margin: 8.33333vw 6.94444vw auto 6.94444vw;
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents {
    margin: 60px 50px auto 50px;
  }
}

.product-eco .slider-contents .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 5.55556vw;
  width: 5.55556vw;
  margin-top: -2.77778vw;
  font-size: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow {
    width: 40px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow {
    width: 40px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow {
    margin-top: -20px;
  }
}

.product-eco .slider-contents .slick-arrow.slick-prev {
  left: 2.77778vw;
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow.slick-prev {
    left: 20px;
  }
}

.product-eco .slider-contents .slick-arrow.slick-prev:before {
  right: 0;
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border-width: 0;
  border-style: solid;
  border-color: #666;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom-width: 1px;
  border-left-width: 1px;
  margin-top: 0px;
}

.product-eco .slider-contents .slick-arrow.slick-next {
  right: 2.77778vw;
}

@media screen and (min-width: 720px) {
  .product-eco .slider-contents .slick-arrow.slick-next {
    right: 20px;
  }
}

.product-eco .slider-contents .slick-arrow.slick-next:before {
  left: 0;
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border-width: 0;
  border-style: solid;
  border-color: #666;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-width: 1px;
  border-right-width: 1px;
  margin-top: 0px;
}

.product-eco .action a {
  position: relative;
  display: inline-block;
}

.product-eco .pointer:after {
  content: '';
  position: absolute;
  top: 40%;
  right: 0%;
  display: block;
  width: 13.88889vw;
  height: 13.88889vw;
  background: url("https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_20.png") no-repeat 0 0;
  background-size: contain;
  -webkit-animation-name: pointerBounce;
          animation-name: pointerBounce;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@media screen and (min-width: 720px) {
  .product-eco .pointer:after {
    width: 100px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .pointer:after {
    height: 100px;
  }
}

@-webkit-keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 10px);
    -ms-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
}

@keyframes pointerBounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 10px);
    -ms-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
}

.product-eco .notice {
  color: #898989;
  font-size: 3.33333vw;
  line-height: 1.4;
  text-align: left;
}

@media screen and (min-width: 720px) {
  .product-eco .notice {
    font-size: 24px;
  }
}

.product-eco .notice span {
  padding-left: 1.38889vw;
  text-indent: -1.38889vw;
}

@media screen and (min-width: 720px) {
  .product-eco .notice span {
    padding-left: 10px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .notice span {
    text-indent: -10px;
  }
}

.product-eco .title {
  padding-top: 13.88889vw;
  text-align: left;
}

@media screen and (min-width: 720px) {
  .product-eco .title {
    padding-top: 100px;
  }
}

.product-eco .title > div {
  color: #222;
  line-height: 1;
}

.product-eco .title > div.sub {
  font-size: 4.16667vw;
  font-weight: 500;
}

@media screen and (min-width: 720px) {
  .product-eco .title > div.sub {
    font-size: 30px;
  }
}

.product-eco .title > div.sub strong {
  font-weight: 700;
}

.product-eco .title > div.main {
  font-size: 6.94444vw;
  margin-top: 2.77778vw;
  font-weight: 900;
  line-height: 1.2;
}

@media screen and (min-width: 720px) {
  .product-eco .title > div.main {
    font-size: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .title > div.main {
    margin-top: 20px;
  }
}

.product-eco .title > div.main strong {
  font-weight: 900;
}

.product-eco .title > div.notice {
  margin-top: 4.16667vw;
  color: #999;
  font-size: 4.16667vw;
  line-height: 1.3;
}

@media screen and (min-width: 720px) {
  .product-eco .title > div.notice {
    margin-top: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .title > div.notice {
    font-size: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .title > div.notice {
    font-size: 14px;
  }
}

.product-eco .subtitle > div {
  color: #222;
  line-height: 1;
  text-align: left;
}

.product-eco .subtitle > div.sub {
  font-size: 4.16667vw;
  font-weight: 500;
  line-height: 1.3;
}

@media screen and (min-width: 720px) {
  .product-eco .subtitle > div.sub {
    font-size: 30px;
  }
}

.product-eco .subtitle > div.sub strong {
  font-weight: 700;
}

.product-eco .subtitle > div.main {
  font-size: 5.55556vw;
  margin-top: 1.38889vw;
  line-height: 1.3;
  font-weight: 900;
}

@media screen and (min-width: 720px) {
  .product-eco .subtitle > div.main {
    font-size: 40px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .subtitle > div.main {
    margin-top: 10px;
  }
}

.product-eco .subtitle > div.main strong {
  font-weight: 900;
}

.product-eco .subtitle > div.notice {
  margin-top: 4.16667vw;
  color: #999;
  font-size: 2.5vw;
  line-height: 1.3;
}

@media screen and (min-width: 720px) {
  .product-eco .subtitle > div.notice {
    margin-top: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .subtitle > div.notice {
    font-size: 18px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .subtitle > div.notice {
    font-size: 14px;
  }
}

.product-eco .subtitle.fly {
  position: absolute;
  left: 6.94444vw;
  top: 18.05556vw;
}

@media screen and (min-width: 720px) {
  .product-eco .subtitle.fly {
    left: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-eco .subtitle.fly {
    top: 130px;
  }
}

.product-eco .subtitle.fly > div:first-child {
  margin-top: 0;
}

.product-eco .subtitle.line {
  padding-left: 5.55556vw;
  text-align: left;
  border-left: 2px solid #d8d8d8;
}

@media screen and (min-width: 720px) {
  .product-eco .subtitle.line {
    padding-left: 40px;
  }
}

.product-eco .subtitle.line > div.sub {
  font-size: 4.16667vw;
}

@media screen and (min-width: 720px) {
  .product-eco .subtitle.line > div.sub {
    font-size: 30px;
  }
}

.product-eco .subtitle.line > div.main {
  font-size: 5.55556vw;
}

@media screen and (min-width: 720px) {
  .product-eco .subtitle.line > div.main {
    font-size: 40px;
  }
}

.product-eco .subtitle.line .btn {
  margin-top: 8.33333vw;
}

@media screen and (min-width: 720px) {
  .product-eco .subtitle.line .btn {
    margin-top: 60px;
  }
}

.product-eco .title + .subtitle {
  margin-top: 13.88889vw;
}

@media screen and (min-width: 720px) {
  .product-eco .title + .subtitle {
    margin-top: 100px;
  }
}

.product-top {
  background-color: #ffd701;
}

.product-bar {
  background-color: #730bd4;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.product-bar .wrap::after {
  z-index: 1;
  content: '';
  display: block;
  position: absolute;
  z-index: 7;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 99%);
      -ms-transform: translate(-50%, 99%);
          transform: translate(-50%, 99%);
  width: 38.61111vw;
  height: 10.41667vw;
  background: url("https://img.eduwill.net/eduwill/img/2021/V/product/210602/pc/bg_arrow.png") 50% 0 no-repeat;
  background-size: 100% 100%;
}

@media screen and (min-width: 720px) {
  .product-bar .wrap::after {
    width: 278px;
  }
}

@media screen and (min-width: 720px) {
  .product-bar .wrap::after {
    height: 75px;
  }
}

.product-title {
  background-color: #7a0cdf;
}

.product-title .action {
  position: absolute;
  top: 1.7%;
  right: 7%;
  width: 18.75vw;
}

@media screen and (min-width: 720px) {
  .product-title .action {
    width: 135px;
  }
}

.product-benefit {
  background: #ffc20e;
  position: relative;
}

.product-benefit::before {
  content: '';
  position: absolute;
  right: 0;
  top: -12.5vw;
  width: 75vw;
  height: 13.19444vw;
  background: url("https://img.eduwill.net/eduwill/img/2021/V/product/210602/pc/line_yellow.png") 0 0 no-repeat;
  background-size: contain;
}

@media screen and (min-width: 720px) {
  .product-benefit::before {
    top: -90px;
  }
}

@media screen and (min-width: 720px) {
  .product-benefit::before {
    width: 540px;
  }
}

@media screen and (min-width: 720px) {
  .product-benefit::before {
    height: 95px;
  }
}

.product-benefit .content-benefit {
  margin-top: -76.38889vw;
}

@media screen and (min-width: 720px) {
  .product-benefit .content-benefit {
    margin-top: -550px;
  }
}

.product-benefit .text {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  position: absolute;
  top: -15%;
  font-size: 5vw;
  font-weight: 900;
  color: #202020;
  left: 54%;
  letter-spacing: -0.55556vw;
}

@media screen and (min-width: 720px) {
  .product-benefit .text {
    font-size: 36px;
  }
}

@media screen and (min-width: 720px) {
  .product-benefit .text {
    letter-spacing: -4px;
  }
}

.product-benefit-plus {
  background: #1832a0;
}

.product-discount {
  position: relative;
  background-color: #f3f3f3;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-discount .discount-flag {
  text-align: left;
}

.product-discount .discount-flag span {
  background: #e80000;
  color: #fff;
  text-align: center;
  letter-spacing: -1px;
  margin: 0 6.94444vw;
  border-radius: 6.94444vw;
  padding: 2.77778vw;
  font-size: 4.72222vw;
  font-weight: 700;
}

@media screen and (min-width: 720px) {
  .product-discount .discount-flag span {
    margin: 0 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-discount .discount-flag span {
    border-radius: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-discount .discount-flag span {
    padding: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-discount .discount-flag span {
    font-size: 34px;
  }
}

.product-discount .discount-flag span em {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-discount .tab-area {
  margin: 5.55556vw 6.94444vw 0;
  margin: 6% 7% 0;
}

@media screen and (min-width: 720px) {
  .product-discount .tab-area {
    margin: 40px 50px 0;
  }
}

.product-discount .tab-area .dc-tab-view {
  display: none;
}

.product-discount .tab-area .dc-tab-list + .dc-tab-view {
  display: block;
}

.product-discount .dc-tab-list {
  display: table;
  width: 100%;
  table-layout: fixed;
  padding-bottom: 3.33%;
}

.product-discount .dc-tab-list li {
  background: #fff;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.product-discount .dc-tab-list li a {
  display: block;
  padding: 10.89% 0;
  font-size: 5.55556vw;
  color: #202020;
  border: 1px solid #ccc;
  margin-left: -1px;
}

@media screen and (min-width: 720px) {
  .product-discount .dc-tab-list li a {
    font-size: 40px;
  }
}

.product-discount .dc-tab-list li:first-child a {
  margin-left: 0;
}

.product-discount .dc-tab-list li.on a {
  background: #000;
  color: #fff;
  border: 1px solid transparent;
  font-weight: 700;
}

.product-discount .dc-tab-list li.on:after {
  content: '';
  position: absolute;
  bottom: -5.55556vw;
  left: 50%;
  border: solid transparent;
  width: 0;
  height: 0;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000;
  border-width: 2.77778vw;
  margin-left: -2.77778vw;
}

@media screen and (min-width: 720px) {
  .product-discount .dc-tab-list li.on:after {
    bottom: -40px;
  }
}

@media screen and (min-width: 720px) {
  .product-discount .dc-tab-list li.on:after {
    border-width: 20px;
  }
}

@media screen and (min-width: 720px) {
  .product-discount .dc-tab-list li.on:after {
    margin-left: -20px;
  }
}

.product-discount .dc-tab-view {
  margin-top: 3.33%;
}

.product-discount .dc-tab-view .tab-cont-wrap {
  position: relative;
  border: 4px solid #ffc20e;
}

.product-discount .dc-tab-view .tab-cont-wrap + .tab-cont-wrap {
  margin-top: 5.56%;
}

.product-discount .dc-tab-view .tab-cont-wrap .tab-cont {
  background: #fff;
  display: table;
  width: 100%;
  border-bottom: none;
  padding: 6.94444vw 0;
}

@media screen and (min-width: 720px) {
  .product-discount .dc-tab-view .tab-cont-wrap .tab-cont {
    padding: 50px 0;
  }
}

.product-discount .dc-tab-view .tab-cont-wrap .tab-cont:after {
  content: '';
  display: block;
  clear: both;
}

.product-discount .dc-tab-view .tab-cont-wrap .tab-cont > div {
  display: table-cell;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product-discount .dc-tab-view .tab-cont-wrap .tab-cont .class-name {
  width: 41%;
  text-align: center;
  font-size: 8.33333vw;
  font-weight: 700;
  color: #202020;
  position: relative;
}

@media screen and (min-width: 720px) {
  .product-discount .dc-tab-view .tab-cont-wrap .tab-cont .class-name {
    font-size: 60px;
  }
}

.product-discount .dc-tab-view .tab-cont-wrap .tab-cont .price-info {
  text-align: left;
}

.product-discount .dc-tab-view .tab-cont-wrap .tab-cont .price-info .item.dc {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  display: inline-block;
  text-align: center;
  font-size: 3.61111vw;
  padding: 0% 5%;
  color: #fff;
  border: 1px solid #e80000;
  background: #e80000;
  border-radius: 50px;
}

@media screen and (min-width: 720px) {
  .product-discount .dc-tab-view .tab-cont-wrap .tab-cont .price-info .item.dc {
    font-size: 26px;
  }
}

.product-discount .dc-tab-view .tab-cont-wrap .tab-cont .price-info .price-before01 {
  margin-left: 1.39vw;
  display: inline-block;
  color: #999;
  font-size: 4.16667vw;
  text-decoration: line-through;
}

@media screen and (min-width: 720px) {
  .product-discount .dc-tab-view .tab-cont-wrap .tab-cont .price-info .price-before01 {
    font-size: 30px;
  }
}

.product-discount .dc-tab-view .tab-cont-wrap .tab-cont .price-info .price-before01 strong {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-discount .dc-tab-view .tab-cont-wrap .tab-cont .price-info .price-after {
  font-size: 8.33333vw;
  font-weight: 700;
  color: #e80000;
  display: block;
}

@media screen and (min-width: 720px) {
  .product-discount .dc-tab-view .tab-cont-wrap .tab-cont .price-info .price-after {
    font-size: 60px;
  }
}

.product-discount .dc-tab-view .tab-cont-wrap .tab-cont .price-info .price-after strong {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-discount.product-discount-210721 {
  padding-bottom: 13.88889vw;
}

@media screen and (min-width: 720px) {
  .product-discount.product-discount-210721 {
    padding-bottom: 100px;
  }
}

.product-discount.product-discount-210721 .dc-tab-view:nth-of-type(1) .tab-cont {
  background: #fff url("https://img.eduwill.net/eduwill/img/2021/V/product/210602/mobile/bg_price_01.png") 50% 93% no-repeat;
  background-size: 70%;
}

.product-discount.product-discount-210721 .dc-tab-view:nth-of-type(2) .tab-cont {
  background: #fff url("https://img.eduwill.net/eduwill/img/2021/V/product/210602/mobile/bg_price_02.png") 50% 93% no-repeat;
  background-size: 70%;
}

.product-discount.product-discount-210721 .dc-tab-view:nth-of-type(3) .tab-cont {
  background: #fff url("https://img.eduwill.net/eduwill/img/2021/V/product/210602/mobile/bg_price_03.png") 60% 93% no-repeat;
  background-size: 80%;
}

.product-discount.product-discount-210721 .dc-tab-view .tab-cont-wrap .tab-cont {
  padding: 6.94444vw 0 48.61111vw 0;
  display: block;
}

@media screen and (min-width: 720px) {
  .product-discount.product-discount-210721 .dc-tab-view .tab-cont-wrap .tab-cont {
    padding: 50px 0 350px 0;
  }
}

.product-discount.product-discount-210721 .dc-tab-view .tab-cont-wrap .tab-cont .class-name {
  width: 100%;
  display: block;
}

.product-discount.product-discount-210721 .dc-tab-view .tab-cont-wrap .tab-cont .price-info {
  display: table;
  width: 100%;
  padding: 0 6.94444vw;
}

@media screen and (min-width: 720px) {
  .product-discount.product-discount-210721 .dc-tab-view .tab-cont-wrap .tab-cont .price-info {
    padding: 0 50px;
  }
}

.product-discount.product-discount-210721 .dc-tab-view .tab-cont-wrap .tab-cont .price-info .item.dc {
  width: 15.27778vw;
  height: 15.27778vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 2.77778vw;
  line-height: 1.3;
  vertical-align: top;
}

@media screen and (min-width: 720px) {
  .product-discount.product-discount-210721 .dc-tab-view .tab-cont-wrap .tab-cont .price-info .item.dc {
    width: 110px;
  }
}

@media screen and (min-width: 720px) {
  .product-discount.product-discount-210721 .dc-tab-view .tab-cont-wrap .tab-cont .price-info .item.dc {
    height: 110px;
  }
}

@media screen and (min-width: 720px) {
  .product-discount.product-discount-210721 .dc-tab-view .tab-cont-wrap .tab-cont .price-info .item.dc {
    padding-top: 20px;
  }
}

.product-discount.product-discount-210721 .dc-tab-view .tab-cont-wrap .tab-cont .price-info .price-box {
  display: inline-block;
  text-align: right;
  width: 77%;
}

.product-discount.product-discount-210721 .dc-tab-view .tab-cont-wrap .tab-cont .price-info .price-box .price-after {
  text-align: right;
}

.product-discount.product-discount-210721 .check-box {
  display: inline-block;
  white-space: nowrap;
}

.product-discount.product-discount-210721 .check-box input {
  vertical-align: bottom;
  width: 5.27778vw;
  height: 5.27778vw;
}

@media screen and (min-width: 720px) {
  .product-discount.product-discount-210721 .check-box input {
    width: 38px;
  }
}

@media screen and (min-width: 720px) {
  .product-discount.product-discount-210721 .check-box input {
    height: 38px;
  }
}

.product-discount.product-discount-210721 .check-box label {
  font-weight: 600;
  font-size: 3.33333vw;
  padding: 0 1.38889vw;
}

@media screen and (min-width: 720px) {
  .product-discount.product-discount-210721 .check-box label {
    font-size: 24px;
  }
}

@media screen and (min-width: 720px) {
  .product-discount.product-discount-210721 .check-box label {
    padding: 0 10px;
  }
}

.product-winner-list {
  padding-bottom: 13.88889vw;
  background: url("https://img.eduwill.net/eduwill/img/2021/V/product/210602/mobile/bg_winner.jpg") 0 0 no-repeat;
  background-size: cover;
  text-align: right;
}

@media screen and (min-width: 720px) {
  .product-winner-list {
    padding-bottom: 100px;
  }
}

.product-winner-list .img-content {
  margin: 6.94444vw 0;
}

@media screen and (min-width: 720px) {
  .product-winner-list .img-content {
    margin: 50px 0;
  }
}

.product-winner-list .action {
  position: absolute;
  top: 6.94444vw;
  right: 6.94444vw;
  width: 18.75vw;
  z-index: 10;
}

@media screen and (min-width: 720px) {
  .product-winner-list .action {
    top: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-winner-list .action {
    right: 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-winner-list .action {
    width: 135px;
  }
}

.product-winner-list .winner-title {
  position: relative;
  text-align: center;
  letter-spacing: -2px;
  margin: auto;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.product-winner-list .winner-title > div {
  text-align: center;
  line-height: 1;
}

.product-winner-list .winner-title .subtitle .main {
  text-align: center;
}

.product-winner-list .winner-title .title {
  font-weight: 700;
  font-size: 7.5vw;
  letter-spacing: -0.69444vw;
  color: #222;
}

@media screen and (min-width: 720px) {
  .product-winner-list .winner-title .title {
    font-size: 54px;
  }
}

@media screen and (min-width: 720px) {
  .product-winner-list .winner-title .title {
    letter-spacing: -5px;
  }
}

.product-winner-list .winner-title .highlight {
  font-size: inherit;
  padding-top: 20px;
  position: relative;
  z-index: 1;
  letter-spacing: -0.69444vw;
}

@media screen and (min-width: 720px) {
  .product-winner-list .winner-title .highlight {
    letter-spacing: -5px;
  }
}

.product-winner-list .winner-title .highlight::after {
  content: '';
  width: 100%;
  background-color: #fff299;
  position: absolute;
  left: 0;
  display: inline-block;
  height: 10px;
  bottom: 10px;
  z-index: -1;
}

.product-winner-list .winner-contents {
  height: auto;
  margin-top: -5.55556vw;
  position: relative;
}

@media screen and (min-width: 720px) {
  .product-winner-list .winner-contents {
    margin-top: -40px;
  }
}

.product-winner-list .winner-contents .winner-list {
  -webkit-transform: perspective(400px) rotateX(35deg);
          transform: perspective(400px) rotateX(35deg);
  overflow: hidden;
}

.product-winner-list .winner-contents .winner-list p {
  color: #222;
  margin: 10px 0;
  font-weight: 500;
  text-align: center;
  font-size: 3.47222vw;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

@media screen and (min-width: 720px) {
  .product-winner-list .winner-contents .winner-list p {
    font-size: 25px;
  }
}

.product-winner-list .winner-cover {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -600px;
  top: 0;
  z-index: 1;
}

.product-media {
  background: #ff9800;
  background: -webkit-linear-gradient(90deg, #ff9800 0%, #ffbf00 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff9800), to(#ffbf00));
  background: -webkit-linear-gradient(left, #ff9800 0%, #ffbf00 100%);
  background: -o-linear-gradient(left, #ff9800 0%, #ffbf00 100%);
  background: linear-gradient(90deg, #ff9800 0%, #ffbf00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9800",endColorstr="#ffbf00",GradientType=1);
  padding-bottom: 13.88889vw;
}

@media screen and (min-width: 720px) {
  .product-media {
    padding-bottom: 100px;
  }
}

.product-media .video-box {
  width: 86.94444vw;
  height: 66.94444vw;
  margin: 0 auto;
}

@media screen and (min-width: 720px) {
  .product-media .video-box {
    width: 626px;
  }
}

@media screen and (min-width: 720px) {
  .product-media .video-box {
    height: 482px;
  }
}

.product-media .video-box .youtube-thumb {
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 86.94444vw;
  height: 66.94444vw;
  z-index: 1;
  left: 0;
}

@media screen and (min-width: 720px) {
  .product-media .video-box .youtube-thumb {
    width: 626px;
  }
}

@media screen and (min-width: 720px) {
  .product-media .video-box .youtube-thumb {
    height: 482px;
  }
}

.product-media .video-box iframe {
  width: 100%;
  height: 100%;
}

.product-media .media-slider .slick-slide {
  opacity: .3;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.product-media .media-slider .slick-slide img {
  display: inline-block;
}

.product-media .media-slider .slick-active.slick-center {
  opacity: 1;
}

.product-media .media-slider .slide-item {
  overflow: hidden;
  width: 71.80556vw;
  margin: 0 auto;
}

@media screen and (min-width: 720px) {
  .product-media .media-slider .slide-item {
    width: 517px;
  }
}

.product-media .media-slider .slick-arrow {
  position: absolute;
  z-index: 10;
  font-size: 0;
  padding: 0;
  top: 40%;
}

.product-media .media-slider .slick-arrow.slick-prev {
  width: 9.72222vw;
  height: 9.72222vw;
  border: none;
  background: url("https://img.eduwill.net/eduwill/img/2021/V/product/210602/pc/arrow_prev.png") 50% 0 no-repeat;
  background-size: cover;
  left: 4%;
}

@media screen and (min-width: 720px) {
  .product-media .media-slider .slick-arrow.slick-prev {
    width: 70px;
  }
}

@media screen and (min-width: 720px) {
  .product-media .media-slider .slick-arrow.slick-prev {
    height: 70px;
  }
}

.product-media .media-slider .slick-arrow.slick-prev:before {
  display: none;
}

.product-media .media-slider .slick-arrow.slick-next {
  width: 9.72222vw;
  height: 9.72222vw;
  border: none;
  background: url("https://img.eduwill.net/eduwill/img/2021/V/product/210602/pc/arrow_next.png") 50% 0 no-repeat;
  background-size: cover;
  right: 4%;
}

@media screen and (min-width: 720px) {
  .product-media .media-slider .slick-arrow.slick-next {
    width: 70px;
  }
}

@media screen and (min-width: 720px) {
  .product-media .media-slider .slick-arrow.slick-next {
    height: 70px;
  }
}

.product-media .media-slider .slick-arrow.slick-next:before {
  display: none;
}

.product-search {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, white), to(#f6f6f6));
  background: -webkit-linear-gradient(top, white 90%, #f6f6f6 100%);
  background: -o-linear-gradient(top, white 90%, #f6f6f6 100%);
  background: linear-gradient(to bottom, white 90%, #f6f6f6 100%);
}

.product-search .typing {
  line-height: 1;
  color: #000;
  letter-spacing: -1px;
  position: absolute;
  left: 15%;
  top: 41%;
  font-size: 5.55556vw;
  font-weight: 900;
}

@media screen and (min-width: 720px) {
  .product-search .typing {
    font-size: 40px;
  }
}

.product-search .typing:after {
  content: '';
  position: relative;
  top: -0.69444vw;
  display: inline-block;
  -webkit-animation-name: cursor;
          animation-name: cursor;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  width: 0.27778vw;
  height: 5.55556vw;
  background-color: #fff;
  vertical-align: middle;
}

@media screen and (min-width: 720px) {
  .product-search .typing:after {
    top: -5px;
  }
}

@media screen and (min-width: 720px) {
  .product-search .typing:after {
    width: 2px;
  }
}

@media screen and (min-width: 720px) {
  .product-search .typing:after {
    height: 40px;
  }
}

@-webkit-keyframes cursor {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #022222;
  }
  100% {
    background-color: #fff;
  }
}

@keyframes cursor {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #022222;
  }
  100% {
    background-color: #fff;
  }
}

.product-interview {
  padding-bottom: 16.66667vw;
}

@media screen and (min-width: 720px) {
  .product-interview {
    padding-bottom: 120px;
  }
}

.product-interview .interview-group {
  margin: 0 auto;
  text-align: center;
  width: 86.111%;
}

@media screen and (min-width: 720px) {
  .product-teacher .teacher-list-box {
    padding: 0 40px;
  }
}

.product-teacher .teacher-list-box .col {
  width: 50%;
  height: auto;
  margin: 0 0 1.38889vw 0;
  padding: 0 1.38889vw;
}

@media screen and (min-width: 720px) {
  .product-teacher .teacher-list-box .col {
    margin: 0 0 10px 0;
  }
}

@media screen and (min-width: 720px) {
  .product-teacher .teacher-list-box .col {
    padding: 0 10px;
  }
}

.product-teacher .teacher-list-box .col a .t-info {
  bottom: 1.38889vw;
}

@media screen and (min-width: 720px) {
  .product-teacher .teacher-list-box .col a .t-info {
    bottom: 10px;
  }
}

.product-teacher .slider-contents {
  padding: 0 6.94444vw;
  margin: 0 auto;
  margin-top: 2.77778vw;
}

@media screen and (min-width: 720px) {
  .product-teacher .slider-contents {
    padding: 0 50px;
  }
}

@media screen and (min-width: 720px) {
  .product-teacher .slider-contents {
    margin-top: 20px;
  }
}

.product-book {
  background: url("https://img.eduwill.net/eduwill/img/2021/V/product/210602/mobile/bg_book.jpg") 50% 0 no-repeat;
  background-size: 100% 100%;
}

.product-book .notice {
  margin-top: 2.77778vw;
}

@media screen and (min-width: 720px) {
  .product-book .notice {
    margin-top: 20px;
  }
}

.product-book .notice p {
  font-size: inherit;
  line-height: 1.3;
  word-break: keep-all;
}

.product-hit {
  padding-bottom: 8.33333vw;
}

@media screen and (min-width: 720px) {
  .product-hit {
    padding-bottom: 60px;
  }
}

.product-hit .flag {
  background: #ffc20e;
  font-size: 3.88889vw;
  font-weight: 600;
  margin-top: 1.38889vw;
  padding: 0.97222vw 3.47222vw;
  display: inline-block;
  border-radius: 50px;
  vertical-align: text-bottom;
}

@media screen and (min-width: 720px) {
  .product-hit .flag {
    font-size: 28px;
  }
}

@media screen and (min-width: 720px) {
  .product-hit .flag {
    margin-top: 10px;
  }
}

@media screen and (min-width: 720px) {
  .product-hit .flag {
    padding: 7px 25px;
  }
}

.product-hit .flag span {
  -webkit-animation-name: flagChange;
          animation-name: flagChange;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes flagChange {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes flagChange {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.product-hit .slider-contents {
  margin-left: 0;
  margin-right: 0;
}

.product-curriculum .curriculum-wrap {
  padding: 0 6.94444vw 8.33333vw;
  text-align: left;
}

@media screen and (min-width: 720px) {
  .product-curriculum .curriculum-wrap {
    padding: 0 50px 60px;
  }
}

.product-curriculum .curriculum-wrap .c-tit {
  display: inline-block;
  padding-top: 6.25vw;
  border-width: 0 0 0.55556vw;
  border-style: solid;
  border-color: #000;
  color: #202020;
  font-size: 5vw;
  font-weight: 900;
  line-height: 8.33333vw;
  letter-spacing: -0.55556vw;
}

@media screen and (min-width: 720px) {
  .product-curriculum .curriculum-wrap .c-tit {
    padding-top: 45px;
  }
}

@media screen and (min-width: 720px) {
  .product-curriculum .curriculum-wrap .c-tit {
    border-width: 0 0 4px;
  }
}

@media screen and (min-width: 720px) {
  .product-curriculum .curriculum-wrap .c-tit {
    font-size: 36px;
  }
}

@media screen and (min-width: 720px) {
  .product-curriculum .curriculum-wrap .c-tit {
    line-height: 60px;
  }
}

@media screen and (min-width: 720px) {
  .product-curriculum .curriculum-wrap .c-tit {
    letter-spacing: -4px;
  }
}

.product-curriculum .curriculum-wrap .curriculum-area {
  margin: 2.77778vw -1.94444vw 0;
}

@media screen and (min-width: 720px) {
  .product-curriculum .curriculum-wrap .curriculum-area {
    margin: 20px -14px 0;
  }
}

.product-curriculum .curriculum-wrap .curriculum-area:after {
  content: '';
  display: block;
  clear: both;
}

.product-curriculum .curriculum-wrap .curriculum-area .curriculum {
  float: left;
  width: 33.3333%;
  padding: 1.38889vw 1.94444vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .product-curriculum .curriculum-wrap .curriculum-area .curriculum {
    padding: 10px 14px;
  }
}

.product-curriculum .curriculum-wrap .curriculum-area .curriculum .inner {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 16.66667vw;
  border-radius: 4.16667vw 4.16667vw 4.16667vw 0;
  border-width: 0.55556vw;
  border-style: solid;
  border-color: #ddd;
}

@media screen and (min-width: 720px) {
  .product-curriculum .curriculum-wrap .curriculum-area .curriculum .inner {
    height: 120px;
  }
}

@media screen and (min-width: 720px) {
  .product-curriculum .curriculum-wrap .curriculum-area .curriculum .inner {
    border-radius: 30px 30px 30px 0;
  }
}

@media screen and (min-width: 720px) {
  .product-curriculum .curriculum-wrap .curriculum-area .curriculum .inner {
    border-width: 4px;
  }
}

.product-curriculum .curriculum-wrap .curriculum-area .curriculum .inner:before {
  content: '';
  position: absolute;
  top: 50%;
  right: -3.47222vw;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 4.72222vw;
  height: 3.33333vw;
  background: url(https://img.eduwill.net/eduwill/img/2021/V/product/210602/mobile/cont8_arr.png) no-repeat 100% 50%;
  background-size: 100% auto;
  -webkit-animation: aniArr 2s infinite both;
          animation: aniArr 2s infinite both;
}

@media screen and (min-width: 720px) {
  .product-curriculum .curriculum-wrap .curriculum-area .curriculum .inner:before {
    right: -25px;
  }
}

@media screen and (min-width: 720px) {
  .product-curriculum .curriculum-wrap .curriculum-area .curriculum .inner:before {
    width: 34px;
  }
}

@media screen and (min-width: 720px) {
  .product-curriculum .curriculum-wrap .curriculum-area .curriculum .inner:before {
    height: 24px;
  }
}

@-webkit-keyframes aniArr {
  0% {
    -webkit-transform: translate(-15%, -50%);
            transform: translate(-15%, -50%);
    opacity: 0;
  }
  70% {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    opacity: 0;
  }
}

@keyframes aniArr {
  0% {
    -webkit-transform: translate(-15%, -50%);
            transform: translate(-15%, -50%);
    opacity: 0;
  }
  70% {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    opacity: 0;
  }
}

.product-curriculum .curriculum-wrap .curriculum-area .curriculum:nth-child(3) .inner:before,
.product-curriculum .curriculum-wrap .curriculum-area .curriculum:last-child .inner:before {
  background: none;
}

.product-curriculum .curriculum-wrap .curriculum-area .curriculum.point .inner {
  border: 0;
  background: #ffc500;
  background: -webkit-linear-gradient(117deg, #ffb600 40%, #ffda00 100%);
  background: -o-linear-gradient(117deg, #ffb600 40%, #ffda00 100%);
  background: linear-gradient(333deg, #ffb600 40%, #ffda00 100%);
}

.product-curriculum .curriculum-wrap .curriculum-area .curriculum .tit {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #202020;
  font-size: 4.16667vw;
  font-weight: 900;
  text-align: center;
  line-height: 1.3;
  letter-spacing: -0.20833vw;
}

@media screen and (min-width: 720px) {
  .product-curriculum .curriculum-wrap .curriculum-area .curriculum .tit {
    font-size: 30px;
  }
}

@media screen and (min-width: 720px) {
  .product-curriculum .curriculum-wrap .curriculum-area .curriculum .tit {
    letter-spacing: -1.5px;
  }
}

.product-curriculum .slider-contents {
  margin-left: 0;
  margin-right: 0;
}

.product-special {
  background: #f7f7f8;
}

.product-lecture {
  background: #1832a0;
}

.product-benefit-bottom .slick-dots {
  position: absolute;
  bottom: 12%;
  left: 0;
  right: 0;
}

.product-sentence {
  background-color: #790cdf;
}

#popupBase {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  max-width: 720px;
}

#popupBase .popup-body {
  font-size: 3.33333vw;
  padding: 4%;
  word-break: keep-all;
}

@media screen and (min-width: 720px) {
  #popupBase .popup-body {
    font-size: 24px;
  }
}

#videoPopup {
  background-color: #000;
}

#videoPopup .popup-body {
  position: relative;
  padding: 0 0 56% 0;
  font-size: 0;
}

#videoPopup .popup-body .video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=mobile.css.map */