@charset "utf-8";

// Core variables and mixins
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/extend";
@import "module/popup";

#fixApply{
	display:none !important;
}
.product {
    &-eco {
        line-height: normal;
        letter-spacing: -1px;
        * { font-family: $font-noto; }
        p {
            line-height: inherit;
            font-size: inherit;
            color: inherit;
        }

        .container {
            position: relative;
        }

        .wrap {
            position: relative;
            width: 1100px;
            margin: 0 auto;
            text-align: center;
            &-full {
                width: 100%;
			}
			.content {
				position: relative;
			}
		}

		.btn-hlink {
			display: inline-block;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				right: 0;
				bottom: -30px;
				width: 66px;
				height: 73px;
				background: url('#{$img-common-path}/icon/pointer/icon_pointer_1.png') no-repeat 0 0;
				background-size: 100% auto;
				@include animation(moving, 1s, infinite){
					0%, 100% { @include translateXY(0, 0); }
					50% { @include translateXY(10px, 10px); }
				}
			}
			&.none {
				&::after {
					display: none;
				}
			}
		}
		.floating-video {
			position: fixed;
			top: 540px;
			left: 50%;
			z-index: 100;
			padding: 0 2px;
			margin-left: -890px;
			background-color: #010101;
			box-shadow: 0px 0px 25px 7px rgba(0, 0, 0, 0.4);
			
			.video-box {
				width: 318px;
				height: 180px;
				margin: 20px auto;
				video, iframe{
					position: relative;
					width: 100%;
					height: 100%;
					-o-object-fit: inherit;
					object-fit: inherit;
				}
			}
			.btn-close {
				position: absolute;
				top: -15px;
				right: -10px;
			}
		}
		.left-banner{
			position: fixed;
            top: 205px;
            left: 50%;
            z-index: 10;
			margin-left: -719px;
			.tit{
				position: absolute;
				top: 12px;
				left: 50%;
				-webkit-transform: translate(-50%, 0);
				transform: translate(-50%, 0);
				font-size: 16px;
				font-weight: 500;
				width: 100%;
				text-align: center;
				color: #000;
				@include animation(btnChange, 1s, $iteration: infinite, $timing: step-start) {
					0%, 100% { opacity: 1; }
					50% { opacity: 0.3 }
                }
			}
			.con{
				color: #000;
				font-size: 26px;
				text-align: center;
				width: 160px;
				word-break: keep-all;
				position: absolute;
				top: 45%;
				left: 50%;
				line-height: 1.3;
				font-weight: 600;
				@include translateXY(-50%, -45%);
				span{
					color: #e75156;
				}
			}
			.foot {
				position: absolute;
				bottom: 20px;
				left: 50%;
				@include translateX(-50%);
				color: #000;
				font-size: 18px;
			}
			.close {
				position: absolute;
				top: 11px;
				right: 8px;
			}
			.text {
				position: absolute;
				left: 50%;
				width: 100%;
				@include translateX(-50%);
				text-align: center;
				line-height: 1.3;
				word-break: keep-all;
				font-weight: 500;
				color: #000;
				&.text-1 {
					top: 4px;
					font-size: 17px;
					color: #fff;
					@include animation(btnChange, 1s, $iteration: infinite, $timing: step-start) {
						0%, 100% { opacity: 1; }
						50% { opacity: 0.3 }
					}
				}
				&.text-2 {
					top: 42px;
					font-size: 17px;
				}
				&.text-3 {
					top: 138px;
					line-height: 1.2;
					font-size: 20px;
				}
				&.text-4 {
					bottom: 20px;
					line-height: 1.1;
					font-weight: 600;
					font-family: 'Roboto';
					letter-spacing: -2px;
					.before-txt {
						display: inline-block;
						position: relative;
						padding: 0 17px;
						font-size: 25px;
						font-weight: 600;
						color: #999;
						.unit {
							margin-left: 2px;
							font-size: 19px;
						}
						&:after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 0;
                            width: 100%;
                            height: 14px;
                            background: url('#{$img-path}/pc/icon_arrow.png') no-repeat 0 0;
							background-size: contain;
                        }
					}
					.after-txt {
						font-size: 38px;
						color: #db1616;
						.unit {
							margin-left: 3px;
							font-size: 25px;
						}
					}
				}
				.point {
					color: #013fde;
					font-weight: 800;
				}
			}
		}
		.bottom-banner {
			position: fixed;
			bottom: 0;
			left: 0;
			z-index: 100;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.8);
			.col-box {
				display: table;
				margin: 0 auto;
				padding: 15px 0;
				.col {
					display: table-cell;
					vertical-align: middle;
				}
			}
			.block-anchor {
				display: block;
			}
			.desc {
				padding: 0 28px 0 18px;
				font-size: 40px;
				font-weight: 600;
				color: #fff;
			}
			.btn-hlink {
				&::after {
					bottom: -10px;
					width: 40px;
					height: 44px;
				}
			}
		}

        .right-banner {
            position: fixed;
            top: 30%;
            right: 0;
            z-index: 100;
			a {
				display: block;
			}
		}
    }

    &-title {
		background-color: #013fde;
		background-image: url('#{$img-path}/pc/bg_title_bar.png'), url('#{$img-path}/pc/bg_title.jpg');
		background-repeat: repeat-x, no-repeat;
		background-position: 0 251px, 50% 0;
		background-size: auto, cover;
		.wrap {
			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 303px;
				width: 83px;
				height: 56px;
				background: url('#{$img-path}/pc/bg_title_arrow.png') no-repeat 0 0;
			}
			&::before {
				left: -47px;
				@include animation(arrowOpacity1, 1.5s, $iteration: infinite) {
                    0%, 100% { opacity: 1; }
                    50% { opacity: 0; }
                }
			}
			&::after {
				right: -47px;
				@include animation(arrowOpacity2, 1.5s, $iteration: infinite) {
                    0%, 100% { opacity: 0; }
                    50% { opacity: 1; }
                }
			}
		}
		.btn-hlink {
			position: absolute;
			bottom: 161px;
			left: 50%;
			@include translateX(-50%);
		}
	}

	&-info1 {
		background-color: #edf8ff;
	}

	&-price-zone {
		padding: 0 0 100px;
		background-color: #edf8ff;
		&.type2 {
			padding: 110px 0 125px;
			background-color: #fff;
		}
		.title {
			position: relative;
			left: 50px;
			margin-bottom: 50px;
			text-align: left;
			line-height: 1.2;
			font-size: 45px;
			font-weight: 600;
			color: #000;
			.point {
				color: #e3492b;
			}
		}
		.action {
			position: relative;
			right: 50px;
			margin-bottom: 14px;
			text-align: right;
			font-size: 0;
			a {
				&:not(:first-child) {
					margin-left: 12px;
				}
			}
			.arrow {
				display: inline-block;
				padding: 5px 25px;
				font-size: 18px;
				font-weight: 400;
				color: #8d8d8d;
				border: 2px solid #b3b3b3;
				background-color: #fff;
				&::after{
					content: '';
					display: inline-block;
					width: 6px;
					height: 6px;
					margin-left: 3px;
					vertical-align: 4px;
					border-top: 1px solid #8d8d8d;
					border-right: 1px solid #8d8d8d;
					@include rotate(45deg);
				}
			}
		}
        .price-box {
			@extend .grid;
			margin: 0 auto;
			padding: 0 50px;
			.block-anchor {
				display: block;
				position: static;
			}
			.btn-hlink {
				&::after {
					top: 60%;
					right: 33px;
					bottom: auto;
				}
			}
            .box {
				width: 100%;
				padding: 35px 0 0 47px;
				text-align: left;
				background-color: #fff;
				box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.2);
				@include boxSizing(border-box);
                &-1 {
					border: 5px solid #1333c1;
					border-right: none;
					.txt { background:#1333c1 ;}
				}
            }
			.holder {
				width: 640px;
				padding-bottom: 35px;
				font-size: 0;
				@include boxSizing(border-box);
			}
			.title-label {
				position: absolute;
				top: -38px;
				left: 25px;
				padding: 7px 20px;
				background: #fdd000;
				color: #000;
				font-size: 24px;
				font-weight: 600;
				border-radius: 25px;
				box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
				&:after {
					content: '';
					position: absolute;
					bottom: -22px;
					left: 50%;
					margin-left: -12px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 12px;
					border-color: #fdd000 transparent transparent transparent;
				}
			}
            .title-list {
				display: inline-block;
				width: 58%;
				vertical-align: top;
				text-align: left;
				line-height: 1.1;
                font-size: 26px;
                font-weight: 500;
				color: #000;
				letter-spacing: -3px;
				.desc {
					display: block;
					font-size: 50px;
					font-weight: 400;
					padding-bottom: 12px;
				}
				.sub-desc {
					display: block;
				}
            }
            .price-list {
				display: inline-block;
				position: relative;
				width: 42%;
				vertical-align: bottom;
				line-height: 1;
				.price-before {
					text-align: left;
                    strong {
						display: block;
                        position: absolute;
                        font-size: 30px;
                        font-weight: 700;
						color: #828282;
						em {
							font-size: 40px;
							font-family: 'Roboto';
						}
                        &:after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            right: 0;
                            left: 0;
                            width: 213px;
							height: 21px;
							margin-left: -12%;
							background: url('#{$img-path}/pc/icon_arrow.png') no-repeat 0 0;
							background-size: contain;
                        }
                    }
                }
                .price-after {
					padding-top: 40px;
					text-align: right;
                    font-size: 40px;
                    font-weight: 700;
					color: #1333c1;
					em {
						font-size: 60px;
						line-height: 1;
						font-family: 'Roboto';
					}
                }
			}
			.txt {
				display: table;
				position: absolute;
				top: 0;
				right: 50px;
				bottom: 0;
				left: auto;
				width: 272px;
				height: 100%;
				span {
					display: table-cell;
					vertical-align: middle;
					text-align: center;
					font-size: 32px;
					font-weight: 600;
					color:#fff;
					line-height: 1.3;
					letter-spacing: -2.5px;
					em {
						color: #ffe03a;
						letter-spacing: -2.5px;
					}
				}
			}
        }

	}

	&-info2 {
		.video-box {
            position: absolute;
            top: 276px;
            left: 50px;
            width: 700px;
            .btn-play {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
		.slider-box {
			position: absolute;
			top: 276px;
			right: 0;
            width: 350px;
			height: 400px;
            &::before,
            &::after {
                content: '';
                position: absolute;
                right: 0;
                left: 0;
                z-index: 1;
                display: block;
                width: 100%;
                height: 100px;
                background: transparent;
            }
            &::before { top: 0; background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,1) 100%); }
            &::after { bottom: 0; background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,.1) 100%); }
            .slider-logo {
                height: 100%;
            }
            .slick-list {
                height: 100% !important;
                .logo {
                    display: table;
					height: 70px;
					img {
						margin: 0 auto;
					}
                }
                p {
                    display: table-cell;
                    vertical-align: middle;
					font-size: 17px;
					width: 200px;
					margin: 0 auto;
					&:nth-child(2) {
                        text-align: left;
                    }
                }
            }
        }
	}

	&-bar {
		background-color: #013fde;
		.wrap {
			&::after {
				content: '';
				position: absolute;
				bottom: -51px;
				left: 50%;
				@include translateX(-50%);
				z-index: 1;
				width: 150px;
				height: 51px;
				background: url('#{$img-path}/pc/bg_bar_arrow.png') no-repeat 0 0;
			}
		}
	}

	&-benefit {
		background-color: #013fde;
	}

}