@{
    string viewPath = ((RazorView)ViewContext.View).ViewPath;
    viewPath = viewPath.Remove(viewPath.LastIndexOf('/') + 1);
}

@{
    string platform = ("W".Equals(ViewBag.PlatformCd)) ? "pc" : "mobile";
	String link1 = ("W".Equals(ViewBag.PlatformCd)) ? "//nrgso.eduwill.net/Course" : "//brand.eduwill.net/academy/sugang/list.will?code=nrgso";
    if ( "W".Equals(ViewBag.PlatformCd) ){} else {}
}

<div id="contents" class="promotion">
	@* <div class="fix-bottom">
		<div class="wrap">
			<div class="action">
				<a href="#sectorCoupon" class="page-move">
					<img src="//img.eduwill.net/eduwill/img/2022/_104/onair/220125/@platform/bottom_banner.png" alt="">
				</a>
			</div>
		</div>
	</div> *@

    @if ("W".Equals(ViewBag.PlatformCd)) {
        <div class="fix-right">
			<div>
                <a href="//nrgso.eduwill.net/Course/Index_Nr2?Tab=104101" target="_blank">
                    <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220223/pc/wing.png" alt="">
                </a>
            </div>
        </div>
    }

    <div class="sector-title">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220223/@platform/title.png" alt="">
            <div class="action apply">
                <a href="//nrgso.eduwill.net/Course/Index_Nr2?Tab=104101" target="_blank">
                    <img src="//img.eduwill.net/eduwill/img/2022/_104/event/220223/@platform/btn_title.png" alt="">
                </a>
            </div>
        </div>
    </div>

	<div class="sector-banner-1">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220223/@platform/banner_1.jpg" alt="">
        </div>
    </div>

	<div class="sector-check-1">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220223/@platform/check_1.jpg" alt="">
        </div>
    </div>

	<div class="sector-check-2">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220223/@platform/check_2.jpg" alt="">
        </div>
    </div>

	<div class="sector-check-3">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220223/@platform/check_3.jpg" alt="">
        </div>
    </div>

	<div class="sector-banner-2">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220223/@platform/banner_2.jpg" alt="">
        </div>
    </div>

	<div class="sector-teacher-1">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220223/@platform/teacher_1.jpg" alt="">
			<div class="video">
				<a href="javascript:edufLayerVideoOpen('//pmp.eduwill.net/eduwillpmp/eduwill/flv/sample/2022/G/GEN-SAMPLE-HDJ.mp4');">
					<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220223/@platform/thumbnail_1.png" alt="">
				</a>
			</div>
			<div class="action">
				<a href="https://nrgso.eduwill.net/Prof/en91/en" target="_blank">
					<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220223/@platform/btn_teacher_1.png" alt="">
				</a>
			</div>
        </div>
    </div>

	<div class="sector-teacher-2">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220223/@platform/teacher_2.jpg" alt="">
			<div class="video">
				<a href="javascript:edufLayerVideoOpen('//pmp.eduwill.net/eduwillpmp/eduwill/flv/sample/2022/G/GHI-SAMPLE-HYJ-1.mp4');">
					<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220223/@platform/thumbnail_2.png" alt="">
				</a>
			</div>
			<div class="action">
				<a href="//nrgso.eduwill.net/Prof/hi73/hi" target="_blank">
					<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220223/@platform/btn_teacher_2.png" alt="">
				</a>
			</div>
        </div>
    </div>

	<div class="sector-table">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220223/@platform/table.jpg" alt="">
        </div>
    </div>

	<div class="sector-banner-3">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220223/@platform/banner_3.jpg" alt="">
			<div class="action">
				<a href="@link1" target="_blank">
					<img src="//img.eduwill.net/eduwill/img/2022/_104/event/220223/@platform/btn_banner.png" alt="">
				</a>
			</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
    var str = 'event.eduwill.net';
    var checkUrl = url.indexOf(str);
    var userId = "@(UserSession.UserID)";

    $(function () {
        frontInit();
		@* if(isMobile == true){
		} *@
    });

    function frontInit() {
        pageMove('.page-move');
    }
</script>
