@{
    String platform = ("W".Equals(ViewBag.PlatformCd))? "pc": "mobile";

    string imgUrl = ViewBag.IsLocal
    	? "//img.eduwill.net/eduwill/Img/2022/_113/event/220106" // local 경로
    	: "//img.eduwill.net/eduwill/Img/2022/_113/event/220106"; // ftp 경로
	
}
<div id="contents" class="promotion new1207">
	@if ("W".Equals(ViewBag.PlatformCd)){  
		<div class="right-banner">
			<a href="#promotionDistribute" class="page-move pointer">
				<img src="@imgUrl/pc/wing_banner1.png" alt="전과목 기본이론 무료수강 바로가기">
			</a>
			<a href="#SomunDiv" class="page-move pointer">
				<img src="@imgUrl/pc/wing_banner2.png" alt="수강후기 이벤트 바로가기">
			</a>
		</div>
	
	}else{
		<div class="banner">
			<div class="wrap">
				<a href=""
					class="btn-refunds page-move"
					data-icon="hand"
					data-style="0,78,85,slideY" 
					data-stylemo="3,-2,45,slideY" 
					data-pointer="icon_pointer_20" 
					title="수강하기">
					<img src="@imgUrl/mobile/banner_footer.png" alt="1위 교수진 기본이론 100% 무료">
				</a>

			</div>
		</div>
	}

    <div class="container promotion-title">
        <div class="wrap">
			<img class="title_1" src="@imgUrl/@platform/cont1_title1.png" alt="4년 연속 1위 에듀윌 전기기능사">

            <img class="title" src="@imgUrl/@platform/title.png" alt="1">
			
			<div class="motion motion-1">
				@if ("W".Equals(ViewBag.PlatformCd)){
				<img class="origin tit-1-1" src="@imgUrl/@platform/title_1_1.png" alt="위 에듀윌의"/>
				}
				<div class="item item-1">
					<div class="light"><img src="@imgUrl/@platform/light.png" alt="" /></div>
					<img style="position:relative;" class="custom tit-1-2" src="@imgUrl/@platform/title_1_2.png" alt="" />
				</div>
			</div>
			
			
			<div class="motion motion-2">
				@if ("W".Equals(ViewBag.PlatformCd)){
				<img class="origin tit-2-1" src="@imgUrl/@platform/title_2_1.png" alt="확실한 합격전략" />
				}
				<div class="item item-2">
					<div class="light"><img src="@imgUrl/@platform/light.png" alt="" /></div>
					<img style="position:relative;" class="custom tit-2-2" src="@imgUrl/@platform/title_2_2.png" alt="" />
				</div>
			</div>
			@if ("W".Equals(ViewBag.PlatformCd)){
			<div class="motion motion-4">
				<img class="origin tit-4" src="@imgUrl/@platform/title_4.png" alt="직접경험하고 확인하세요" />
			</div>
			}
			@if ("M".Equals(ViewBag.PlatformCd)){
			
			<div class="motion motion-3">
				<div class="item item-3">
					<div class="light"><img src="@imgUrl/@platform/light.png" alt="" /></div>
					<img style="position:relative;" class="custom tit-3-2" src="@imgUrl/@platform/title_3_2.png" alt="" />
				</div>
			</div>
			}
			
			
        </div>
    </div>

    <div class="container promotion-raise">
        <div class="wrap">
			
			<button type="button" data-popup="0" class="eduf-reason-button btn-reason">근거확인</button>

            <img src="@imgUrl/@platform/cont2_title1.png" alt="1위의 확실한 합격전략! 합격생의 폭발적 증가가 증명합니다.">
            
            @if ("W".Equals(ViewBag.PlatformCd)){
                <img class="trophy" src="@imgUrl/@platform/cont2_title2.png" alt="트로피">

                <ul class="textArea">
                    <li>
                        <p>소방시설관리사</p>
                        <p><span>1</span>위</p>
                    </li>
                    <li>
                        <p>강의 만족도</p>
                        <p><span>99.6%</span></p>
                    </li>
                    <li>
                        <p>문제 유형 적중</p>
                        <p><span>96%</span></p>
                    </li>
                    <li>
                        <p>모의고사 만족도</p>
                        <p><span>100%</span></p>
                    </li>
                    <li>
                        <p>폭발적 성장</p>
                        <p class="yellow"><span>143%</span></p>
                    </li>
                </ul>
            }
        </div>
    </div>

	<div class="container promotion-teacher">
        <div class="wrap">
			@if ("W".Equals(ViewBag.PlatformCd)){
				<button type="button" data-popup="0" class="eduf-reason-button btn-reason">근거확인</button>
			}
            <img src="@imgUrl/@platform/cont3_title1.png" alt="1위 교수진이 합격으로 빠르게 안내합니다.">

        </div>
		<div class="only-list">
			<div><img src="@imgUrl/@platform/cont3_slide1.png" alt="리뷰1"></div>
			<div><img src="@imgUrl/@platform/cont3_slide2.png" alt="리뷰2"></div>
			<div><img src="@imgUrl/@platform/cont3_slide3.png" alt="리뷰3"></div>
			@if ("W".Equals(ViewBag.PlatformCd)){
				<div><img src="@imgUrl/@platform/cont3_slide4.png" alt="리뷰4"></div>
				<div><img src="@imgUrl/@platform/cont3_slide5.png" alt="리뷰5"></div>
			}
		</div>
    </div>


    <div class="container promotion-hit">
		<div class="wrap">
			<img src="@imgUrl/@platform/cont4_title1.gif" alt="100% 적중! 1위 교재가 합격을 보장합니다.">
		</div>
	</div>

    <div id="promotionDistribute" class="container promotion-distribute">
        <div class="wrap">
			<img src="@imgUrl/@platform/cont5_title1.png" alt="이벤트1, 1위 교수진 기본이론 무료배포">

			@if ("W".Equals(ViewBag.PlatformCd)){
				<button type=""
					class="btn-refunds"
					data-icon="hand"
					data-style="0,50,85,slideY" 
					data-stylemo="0,-18,27,slideY" 
					data-pointer="icon_pointer_20" 
					title="수강하기"><img src="@imgUrl/@platform/cont5_btn.png" alt="전과목기본이론 무료수강하기"></button>
			}
        </div>
    </div>

    <div id="promotionEvent" class="container">
        @* 소문내기 영역 *@
        <link rel="stylesheet" type="text/css" href="//img.eduwill.net/eduwill/live/css/common/privacy_multi.css" />
        <script type="text/javascript" src="//img.eduwill.net/resources/event/live/js/common/download.js"></script>
        <script type="text/javascript" src="//img.eduwill.net/resources/common/web/js/vue/vue.js"></script>
        <div id="SomunDiv" style="display:none;">
            <somun-component :mode="mode"
                             :url_yn="url_yn"
                             :url_pc="url_pc"
                             :url_mo="url_mo"
                             :hashtag="hashtag"
                             :step1="step1"
                             :step2="step2"
                             :hash_yn="hash_yn"
                             :downimg_yn="downimg_yn"
                             :notice="notice"
                             :somunlist="somunlist"
                             :pages="pages"
                             :grlist="grlist"
                             :reply_yn="reply_yn"
                             :page="page"
                             :totalcount="totalcount"
                             :mainimg_path_pc="mainimg_path_pc"
                             :mainimg_path_mo="mainimg_path_mo"
                             :guide="guide"
                             :pagesize="pagesize"
                             :pagercount="pagercount"
                             :downimg_path="downimg_path"
                             :main_bg_color="main_bg_color"
                             :bg_color="bg_color"
                             :btn_text_color="btn_text_color"
                             :btn_color="btn_color"
                             :btn_border="btn_border"></somun-component>
        </div>
        <script src="~/js/somun/Somun.js"></script>
        <script>
			var platform_cd = "@(ViewBag.PlatformCd)"
			_somunidx = 186;
            if (platform_cd == "M")
            {
                _popTop = "2000px";
            }
            somuninit();
        </script>
    </div>

	<div class="eco-banner">
		<div class="wrap">
			<img src="@imgUrl/@platform/banner_title.png" alt="단 한번에 단기합격! 1위 에듀윌 소방시설관리사">
			<div data-eduwill-eco-content="2609"></div>
		</div>
	</div>

</div>

<div id="eduf-popup">
	<div class="popup popup-base">
		<div class="popup-body">
			
			<!-- 2페이지 근거문구 -->
			<div data-popupcont="0">
                1) 4년 연속 1위: 2021년 대한민국 브랜드만족도, 2020/2019 한국소비자만족지수 소방시설관리사 교육 1위<br>
				2) 강의 만족도: 에듀윌 대표교수 유정석 만족도 조사 결과(2019)<br>
				3) 모의고사 적중률/만족도: 2021년 에듀윌 소방시설관리사 모의고사 채점자 대상 설문조사 결과<br>
				4) 143% 성장: 에듀윌 소방시설관리사 온라인 매출액 기준 (2019.03vs2020.03)
			</div>
			
			<!-- 3페이지 근거문구 -->
			<div data-popupcont="1">
                1) 1위 교수진: <br>
                김영복 교수 선택 1위: 전기기사 강의 선택률 조사 결과 기준 (2020)<br>
                박영배 교수 만족 1위: 전기기사 수강생 대상 강의 만족도 조사 결과 기준 (2021.07)<br>
                2) 교수 만족도: 김영복 대표교수 만족도 기준 (2020.07)<br>
                3) 강의 만족도: 2020년 전기기사 시험 에듀윌 합격생 대상 설문조사 결과

			</div>

		</div>
		<button id="eduf-popup-close" type="button" class="popup-close"><span class="sr-only">닫기</span></button>
	</div>
</div>

<script type="text/javascript" src="//img.eduwill.net/eduwill/live/js/common/EventPersonalKTK.js"></script>
<script type="text/javascript" src="//img.eduwill.net/eduwill/live/js/common/script.js"></script>
<script type="text/javascript" src="//img.eduwill.net/resources/eduwill/dev/js/greensock/TweenMax.min.js"></script>
<script type="text/javascript">
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
    var str = 'event.eduwill.net';
    var checkUrl = url.indexOf(str);

	_f_initSetInterval('.textArea > li', 1000);
	_f_initScrollClass('.promotion-raise', 'isActive');

	function _f_initScrollClass(el, active){
		
		var _scroll =  false;

		document.addEventListener('scroll', function() {
			var _scrollTop = document.documentElement.scrollTop;;
			var _section = document.querySelector(el);
			var _topPos = _section.offSetTop;

			console.log(_scroll, _scrollTop, _topPos);
			
			if( _scrollTop >= _section.offSetTop - 600){

				console.log(_scroll);
				if( _scroll == false ){

					//_section.addClass('isActive');
					_section.classList.add(active);
					_scroll = true;
				}
				
			}	
		});
	}
	
    function _f_initVideo(el, speed){
        
		$(document).on('ready', function(){
			var idx = 0;
			var box = $(el);
			var interval;
			
			function dostuff(){
				interval = setInterval(time, speed)
			}

			dostuff()

			function time(){

				box.removeClass('active');
				box.eq(idx).addClass('active');
				idx++;
				if(idx >= box.length) idx= 0;
			}
		})
	}

	$(document).on('ready', function(){
		onComplete();
		_f_initLinkHand();
        pageMove('.page-move');

		var SELECTOR = {
			listBanner: $('.only-list'),
		}

		SELECTOR.listBanner.slick({
			slidesToShow : 1,
			slidesToScroll : 1,
			speed: 500,
			arrows: true,
			dots: false,
			variableWidth: true,
			infinite: true,
			autoplay: false,
			centerMode: true,

			responsive: [                        
                 {
                   breakpoint: 720,
                    settings: {
						slidesToShow : 1,
						autoplay: true,
						arrows: false,
						dots: false,
                 	},
				}
             ]
		});
		
	})

		
	function onComplete(){
        var $promotionTitle = $('.promotion-title');
        var $light = $('.promotion-title .light');

		if(isMobile){
			TweenMax.fromTo( $promotionTitle.find('.item-1 .light'), 5, { opacity: 1, x: -100 }, { opacity: 1, x: 300, delay: 0.0,  repeat: -1, ease: Power2.eaesOut });
			TweenMax.fromTo( $promotionTitle.find('.item-2 .light'), 5, {opacity: 1, x: -100 }, { opacity: 1, x: 300, delay: 0.4,  repeat: -1, ease: Power2.eaesOut });
			TweenMax.fromTo( $promotionTitle.find('.item-3 .light'), 5, {opacity: 1, x: -100 }, { opacity: 1, x: 300, delay: 0.8,  repeat: -1, ease: Power2.eaesOut });

		}else{
			TweenMax.fromTo( $promotionTitle.find(".motion-1 .origin"), 0.7,{opacity:0, scale: 1.6}, {opacity:1, scale: 1, delay:0.3, ease:Power3.easeOut, onComplete: function(){
				TweenMax.fromTo( $promotionTitle.find(".motion-1 .origin"), 0.5, { opacity: 1 }, { opacity: 0, delay:0.9, ease: Power3.eaesOut});
			}});

			TweenMax.fromTo( $promotionTitle.find(".motion-2 .origin"), 0.7,{opacity:0, scale: 1.6}, {opacity:1, scale: 1, delay:0.6, ease:Power3.easeOut, onComplete: function(){
				TweenMax.fromTo( $promotionTitle.find(".motion-2 .origin"), 0.5, { opacity: 1 }, { opacity: 0, delay:0.9, ease: Power3.eaesOut});
			}});

			TweenMax.fromTo( $promotionTitle.find(".motion-3 .origin"), 0.7,{opacity:0, scale: 1.6}, {opacity:1, scale: 1, delay:0.6, ease:Power3.easeOut, onComplete: function(){
				TweenMax.fromTo( $promotionTitle.find(".motion-3 .origin"), 0.5, { opacity: 1 }, { opacity: 0, delay:0.9, ease: Power3.eaesOut});
			}});

			TweenMax.fromTo( $promotionTitle.find(".motion-4 .origin"), 0.7,{opacity:0, y: -100}, {opacity:1, y: 0, delay:0.9, ease:Power3.easeOut});

			TweenMax.fromTo( $promotionTitle.find(".title"), 0.7,{opacity:0}, {opacity:1, delay:0.9, ease:Power3.easeOut});

			TweenMax.fromTo( $promotionTitle.find('.motion-1 .custom'), .5, { opacity: 0}, { opacity: 1, delay: 0.9, ease: Power2.easeOut, onComplete: function(){
				TweenMax.fromTo( $promotionTitle.find('.item-1 .light'), 5, { opacity: 1, x: -10 }, { opacity: 1, x: 750, delay: 0,  repeat: -1, ease: Power2.eaesOut });
			}});
			TweenMax.fromTo( $promotionTitle.find('.motion-2 .custom'), .5, { opacity: 0}, { opacity: 1, delay: 0.9, ease: Power2.easeOut, onComplete: function(){
				TweenMax.fromTo( $promotionTitle.find('.item-2 .light'), 5, {opacity: 1, x: -300 }, { opacity: 1, x: 900, delay: 0.5,  repeat: -1, ease: Power2.eaesOut });
			}});
		}
    }
</script>