@{
    string progressCd = (string)ViewBag.ProgressCd;
    string platformDir = (string)ViewBag.platformCd == "W" ? "pc" : "mobile";
    String platform = ("W".Equals(ViewBag.PlatformCd))? "pc": "mobile";
}
<div id="contents" class="promotion promotion-@progressCd">
    
    <!-- 소구점 -->
    <div data-eduwill-eco-content="3231"></div>
    <!-- // 소구점 -->

	<div class="sector-title">
		 <div class="wrap">
				<div class="btn-base">
					<a href="javascript:popupOpen('.popup-dim', 'popupBase');" class="title-btn">근거확인</a>
				</div>
				@if ("W".Equals(ViewBag.PlatformCd)){
					<p class="title-1">
						<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/pc/title.png" alt="이제 더 이상의 환승은 NO 1위 에듀윌로 정착하고 단기합격 YES" />
					</p>
					<div class="text-box">
						<a href="#eventMove" class="pointer page-move">
							<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/pc/btn_half.png" alt="지금 50% 할인받고 에듀윌로 환승하기" />
						</a>
					</div>
				}else{
					<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/mobile/title.png" alt="이제 더 이상의 환승은 NO 1위 에듀윌로 정착하고 단기합격 YES">
					<div class="text-box">
						<a href="#eventMove" class="pointer page-move">
							<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/mobile/btn_half.png" alt="지금 50% 할인받고 에듀윌로 환승하기" />
						</a>
					</div>
				}
		</div>
		<div class="train">	
			<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/pc/train.png" alt="기차" />
		</div>
    </div>
	<div class="sector-transfer">
		<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/@platformDir/transfer.jpg" alt=" 이 중 하나라도 해당된다면 지금 바로 에듀윌로 환승하세요!">
	</div>
	<div class="sector-coupon">
		<div class="wrap-full">
			<span class='flag'>기간한정</span>
			<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/@platformDir/coupon.png" alt=" 지금 에듀윌로 환승하면 오직 에듀윌만 있는 세무회계 평생 프리패스">
		</div>
	</div>	
	<div class="sector-benefit">
		<div class="wrap-full">
			<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/@platformDir/benefit.jpg" alt=" 에듀윌 국제무역사/무역영어로 환승하고 빠르게 스펙 완성하자!">
			<div class="btn-base">
				<a href="javascript:popupOpen('.popup-dim', 'popupBase');" class="benefit-btn">근거확인</a>
			</div>
			<div class="action">
					@if ("W".Equals(ViewBag.PlatformCd))
				{
  				<a class="pointer" href="https://trade.eduwill.net/ProductAuto/Index?masterSeq=NjA2NA==" target="_blank">
					<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/@platformDir/benefit_btn1.png" alt="에듀윌 국제무역사0원 합격패스 자세히 보기">
				</a>
				  <a class="pointer" href="https://trade.eduwill.net/ProductAuto/Index?masterSeq=NjA2NQ==" target="_blank">
					<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/@platformDir/benefit_btn2.png" alt="에듀윌 무역영어0원 합격패스 자세히 보기">
				</a>
				}else{
			<a class="pointer" href="https://brand.eduwill.net/sugang/view.will?progress=_101&mSeq=36011"target="_blank">
					<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/@platformDir/benefit_btn1.png" alt="에듀윌 국제무역사0원 합격패스 자세히 보기">
				</a>
				  <a class="pointer" href="https://brand.eduwill.net/sugang/view.will?mSeq=36012&progress=_101" target="_blank">
					<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/@platformDir/benefit_btn2.png" alt="에듀윌 무역영어0원 합격패스 자세히 보기">
				</a>
				}
			</div>
		</div>
	</div>
	<div class="sector-event" id="eventMove">
		<div class="train-area">
				<div class="wrap">
					<div class="event-box">
						<div class="event-title">
								<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/@platformDir/event_title.png" alt=" 3초면 끝! 에듀윌로 환승하고 합격하는 방법">
						</div>
					</div>
					<div class="train-box">
						<div class="train-mini only-pc">
							<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/pc/train_mini.png" alt="기차" />
						</div>
						<div class="train-line only-pc">
							<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/pc/bg_train.png" alt="레일" />
						</div>
						<div class="step-box">
							<div class=" step step1">
								<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/@platformDir/train1_off.png" alt="" />
								<div class="step-text">
									타사 수강이력<br><b>인증 화면 캡쳐하기</b>
								</div>
							</div>
							<div class=" step step2">
								<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/@platformDir/train2_off.png" alt="" />
								<div class="step-text">
								캡처한 이미지<br><b>업로드하기</b>
								</div>
							</div>
							<div class=" step step3">
								<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/@platformDir/train3_off.png" alt="" />
								<div class="step-text">
									50% 할인쿠폰 받고<br><b>할인 결제하기</b><br>
									<small>*업로드 후, 24시간 이내 지급(주말의 경우 48시간 이내)</small>
								</div>
							</div>
						</div>
					</div>
					<div class="action">
						<button type="button" class="pointer" onClick="javascript:popupOpen('.layer-dimmed', 'popup-post');" >
							<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/@platformDir/btn_half.png" alt="지금 50% 할인받고 에듀윌로 환승하기" />
						</button>
					</div>
					<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/@platformDir/event.png" alt=" 꼭 읽어주세요">
				</div>
		</div>
    </div>
    <div class="sector-band">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/@platformDir/band.png" alt="다른 곳에서는 못합니다. 오직 에듀윌만의 압도적인 차이를 확인하세요">
        </div>
    </div>
	<div class="sector sector-winner">
		<div class="wrap">
			<div class="title">
				<img alt="4년연속1위의 저력으로 단기 합격 가능!" src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/_101/@platform/winner_title.png" />
			</div>
			<div class="winner-wrap">
				<div class="winner-list"></div>
			</div>
		</div>
	</div>
	<div class="sector-book bg">
        <div class="wrap">
			<div class="btn-base">
				@if ("W".Equals(ViewBag.PlatformCd))
				{
				<a href="javascript:popupOpen('.popup-dim', 'popupBase');">근거확인</a>
				}else{
				<a href="javascript:popupOpen('.popup-dim', 'popupBase');">베스트 셀러 1위 내역 확인</a>
				}
			</div>
			<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/@platformDir/book.png" alt="이론+모의고사 시험 단 한 권에 담았습니다. 6년 역대 베스트셀러 1위교재">
        </div>
    </div>
	<div class="sector-teacher">
        <div class="wrap">
			<div class="btn-base">
				<a href="javascript:popupOpen('.popup-dim', 'popupBase');">근거확인</a>
			</div>
			<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/@platformDir/teacher.jpg" alt="100%가 아니면 만족이 아닙니다 압도적 만족도의 업계 최고 수준의 1위 교수">
				@if ("M".Equals(ViewBag.PlatformCd))
				{
					<div class="slider-single">
						<div><img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/mobile/teacher_slide_1.jpg" alt=""></div>
						<div><img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/mobile/teacher_slide_2.jpg" alt=""></div>
						<div><img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/mobile/teacher_slide_3.jpg" alt=""></div>
						<div><img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/mobile/teacher_slide_4.jpg" alt=""></div>
					</div>

				}
        </div>
    </div>
	<div class="sector-curriculum bg">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/@platformDir/curriculum.png" alt="불필요한 거품은 빼고 필요한 부분에만 집중했습니다. 시험 핵심에만 집중한 합격 완성 커리큘럼">
        </div>
    </div>
	<div class="sector-video ">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/@platformDir/video.jpg" alt="단기 합격을 위한 지원 사격! 1위의 노하우가 담긴 합격특강 무료제공">
			<div class="video-select">
				<div class="video1">
					<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/@platformDir/video_1.gif" alt="">
				</div>
				<div class="video2">
					<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/@platformDir/video_2.gif" alt="">
				</div>
				<div class="video3">
					<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/@platformDir/video_3.gif" alt="">
				</div>
			</div>
        </div>
    </div>
	<div class="sector-pass bg">
        <div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/@platformDir/pass.png" alt="단기 합격을 위한 지원 사격! 1위의 노하우가 담긴 합격특강 무료제공">
        </div>
    </div>
	<div class="sector sector-review bg-gra">
        <div class="wrap">
            <div class="title">
                <img src="https://img.eduwill.net/eduwill/img/2022/common/c3_img/_101/@platform/review_title.png"  alt="에듀윌 진짜 합격생들이 인증합니다. 끝없이 쏟아지는 합격 수기!"/>
            </div>
            <div class="review-list slider-multiple">
                    <div><img src="//img.eduwill.net/eduwill/img/2022/_101/fullservice/220207/@platform/review_1.png" alt="review1"></div>
                    <div><img src="//img.eduwill.net/eduwill/img/2022/_101/fullservice/220207/@platform/review_2.png" alt="review2"></div>
                    <div><img src="//img.eduwill.net/eduwill/img/2022/_101/fullservice/220207/@platform/review_3.png" alt="review3"></div>
                    <div><img src="//img.eduwill.net/eduwill/img/2022/_101/fullservice/220207/@platform/review_4.png" alt="review4"></div>
                    <div><img src="//img.eduwill.net/eduwill/img/2022/_101/fullservice/220207/@platform/review_5.png" alt="review5"></div>
                    <div><img src="//img.eduwill.net/eduwill/img/2022/_101/fullservice/220207/@platform/review_6.png" alt="review6"></div>
                </div>
                <div class="action">
                    <a href="https://event.eduwill.net/VictoryStory/_101/Licensed_Trader" target="_blank">
                        <img src="//img.eduwill.net/eduwill/img/2022/_101/fullservice/220207/@platform/btn_review.png" alt="">
                    </a>
                </div>
            </div>
    </div>
	<div class="sector-grow bg">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/_101/event/220225/@platformDir/grow.png" alt="대세는 역시 에듀윌입니다. 수강생 수 2,633% 폴발적 증가">
		</div>
	</div>
	@if ("W".Equals(ViewBag.PlatformCd))
	{
		<div class="eco-4323" data-eduwill-eco-content="4323"></div>
	}
	else
	{
		<div class="eco-4324" data-eduwill-eco-content="4324"></div>
	}

	<div class="sector-only">
		@if ("W".Equals(ViewBag.PlatformCd))
		{
			<div class="eco-2181" data-eduwill-eco-content="2181"></div>
		}
		else
		{
			<div class="eco-2182" data-eduwill-eco-content="2182"></div>
		}
	</div>

   
</div>
@* 근거보기팝업 *@
<div class="popup-dim"></div>
<div id="popupBase" class="popup popup-base">
    <div class="popup-body">
       <div class="eco-3272" data-eduwill-eco-content="3272"></div>
    </div>
    <a href="javascript:;" class="popup-close" onclick="popupClose('.popup-dim', 'popupBase');"><span class="sr-only">닫기</span></a>
</div>
@* 재시생/타사환승인증팝업 *@
<div class="layer-dimmed"></div>
<div class="popup2" id="popup-post">
    <div class="popup-close2 ">
        <a href="javascript:popupClose('.layer-dimmed', 'popup-post');"><span class="sr-only">팝업 닫기</span></a>
    </div>
    <div class="popup-title">
        <p><strong>재시생/타사환승 인증하기</strong></p>
    </div>
    <div class="popup-cont">
        <div class="cont-box">
            <div class="form">
                <div class="form-title">1. 인증 유형을 선택해 주세요.</div>
                <div class="type-check">
                    <input type="radio" name="type" id="type-1" value="재시생">
                    <label for="type-1">재시생</label>
                    <input type="radio" name="type" id="type-2" value="타사환승생">
                    <label for="type-2">타사환승생</label>
                </div>
            </div>
            <div class="form image">
                <div class="form-title">2. 타사 강의구매 내역 이미지(캡처본)을 업로드 해주세요.</div>
                <div class="file-upload">
                    <div class="filebox">
                        <input class="upload-name" id="fileName" value="" readonly="readonly">
                        <label for="fileUpload">파일첨부</label> 
                        <input type="file" id="fileUpload" name="ticketImg" class="upload-hidden">
                    </div>
                </div>
            </div>
            <div class="tip-note">*타사 세무·회계 자격증 과목 온라인/오프라인/국비지원무료교육 수강증, 나의강의실/교재 이미지 등등</div>

            <!-- 개인정보 수집내용 -->
            <div class="comment-privacy">
                <div class="wrap">
                    <div class="agree_check">
                        <input type="checkbox" name="personalYn2" id="personalYn2" value="Y">
                        <label for="personalYn2">개인정보 수집 및 이용에 동의 (필수)</label>
                    </div>
                    <div class="scroll_box">
                        <strong>(주)에듀윌은 본 이벤트를 위해 다음과 같이 참여자의 개인정보를 수집 및 이용합니다.</strong>
                        1. 수집 및 이용 목적 : 참여자 정보 확인, 50% 할인쿠폰 제공<br>
                        2. 개인정보 수집 항목 : 이름, 휴대폰 번호<br>
                        3. 개인정보 보유/이용 기간 : <em>이벤트 종료 후 60일</em><br>
                        <strong class="highlight">4. 수험표 이미지 등록 시 이름, 수험번호 외 개인정보(사진, 생년월일 등)는 불필요하게 노출되지 않도록 주의 부탁드립니다.</strong>
                        5. 이벤트 신청 회원은 개인정보 수집 및 이용을 거부할 수 있습니다. 단, 거부할 경우 본 이벤트 신청이 제한됩니다.
                    </div>
                </div>
            </div>

            <div class="popup-btn">
                <a href="javascript:SetUserInfo();"><span>인증 완료하고 할인쿠폰 받기</span></a>
            </div>
        </div>
    </div>
</div>


<script src="https://img.eduwill.net/eduwill/live/js/common/script.js"></script>
<script type="text/javascript" src="//img.eduwill.net/resources/eduwill/dev/js/greensock/TweenMax.min.js"></script>
<script type="text/javascript">
    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
    var url = window.location.href;
    var str = 'event.eduwill.net';
    var checkUrl = url.indexOf(str);
	var fileTarget = $('.filebox .upload-hidden');
        fileTarget.on('change', function(){
            if(window.FileReader){
                var filename = $(this)[0].files[0].name;
            } else {
                var filename = $(this).val().split('/').pop().split('\\').pop();
            }
            $(this).siblings('.upload-name').val(filename);
        });

        if(isMobile){
            $('.notice-box .btn-toggle').on('click', function(){
                if($(this).hasClass('close')){
                    $(this).removeClass('close');
                    $(this).text('펼처보기');
                    $('.notice-box .notice').hide();
                }else{
                    $(this).addClass('close');
                    $(this).text('닫기');
                    $('.notice-box .notice').show();
                }
            });
            stepList();
        }else{
            onComplete();
        }

    $(function () {
        $(window).on('load', function () {
            frontInit();
        });
    });

    function frontInit() {
    	pageMove('.page-move');
		winnerList();
        addSlide();
		addEvent();
	
       
		$('.page_move').on('click', function (e) {
            e.preventDefault();

            var _top = $($(this).attr('href'));
            var $target = _top.offset().top;

            $('html,body').animate({
                scrollTop: $target
            }, 500);
        });
		function checkResolution(e) {
       		if (isMobile || !checkUrl) {
            replaceImageLinks(e, 'pc', 'mobile');
            //console.log('mobile');
       		} else {
            replaceImageLinks(e, 'mobile', 'pc');
            //console.log('pc');
       		}
    	}
	}	
    function replaceImageLinks(target, basic, change) {
        $(target + ' a').each(function () {
            var pcLink = $(this).data("pcLink");
            var mobileLink = $(this).data("mobileLink");
            $(this).attr("href", change == "pc" ? pcLink : mobileLink);
        });
    }
    function addSlide() {
        $('.slider-multiple').each(function () {
            if (isMobile) {
                _show = 1;
                _center = true;
            } else {
                _show = 3;
                _center = false;
            }
            $(this).slick({
                autoplay: true,
                autoplaySpeed: 3000,
                speed: 1000,
                infinite: true,
                arrows: false,
                dots: true,
                mobileFirst: true,
                centerMode: _center,
                slidesToShow: _show,
                slidesToScroll: 1
            });
        });
		  $('.slider-single').each(function(key, item) {
            var sliderIdName = 'singleSlider' + key;
                this.id = sliderIdName;
            var sliderId = '#' + sliderIdName;

            $(sliderId).slick({
                autoplay: true,
                autoplaySpeed: 3000,
                speed: 1000,
                infinite: true,
                arrows: false,
                dots: true
            });
        });
	}
	function addEvent(){
       	/* 팝업 */
		$(document).on('click', '.btn-popup', function(){
			var pop = $(this).attr('pop-name');
			setTimeout(function(){
				popupOpen('.dimmed', pop);
			}, 100);
		});

	} 
    function stepList(){
        var _listIdx = 1;
        var _listLength = $('.step-box > div').length;
        _list = setInterval(function(){
            if( _listIdx > _listLength) { _listIdx = 1; }

            var $step = $('.step-box > div');
            $step.each(function(){
                $(this).removeClass('on');
                $(this).find('img').attr('src', $(this).find('img').attr('src').replace('_on','_off'));	
            });
            $step.eq(_listIdx-1).addClass('on').find('img').attr('src', $step.eq(_listIdx-1).find('img').attr('src').replace('_off','_on'));

            _listIdx ++;
        }, 1500);
    }
    function stepReset() {
        $(".step-box").children("div").each(function () {
            $(this).children("img").attr('src', $(this).children('img').attr('src').replace('_on', '_off'));
        });
    }
    function onComplete() {
   
        TweenMax.fromTo($(".train"), 10, { x: 0, opacity: 1 }, { x: $(window).width() + 987, opacity: 1, repeat: -1, ease: Power4.eaesInOut });

        var _tweenMotion = TweenMax.fromTo($(".train-mini"), 1, { x: -200, opacity: 0 }, {
            x: 100, opacity: 1, ease: Power4.eaesInOut, onComplete: function () {
                stepReset();
                $(".step1").children('img').attr('src', $(".step1").children('img').attr('src').replace('_off', '_on'));
                $(".step1").addClass('on').siblings().removeClass('on');

                TweenMax.fromTo($(".train-mini"), 1, { x: 100 }, {
                    x: 500, opacity: 1, delay: 0.5, ease: Power4.eaesInOut, onComplete: function () {
                        stepReset();
                        $(".step2").children('img').attr('src', $(".step2").children('img').attr('src').replace('_off', '_on'));
                        $(".step2").addClass('on').siblings().removeClass('on');

                        TweenMax.fromTo($(".train-mini"), 1, { x: 500 }, {
                            x: 910, opacity: 1, delay: 0.5, ease: Power4.eaesInOut, onComplete: function () {
                                stepReset();
                                $(".step3").children('img').attr('src', $(".step3").children('img').attr('src').replace('_off', '_on'));
                                $(".step3").addClass('on').siblings().removeClass('on');

								setTimeout(function(){
                                    TweenMax.fromTo($(".train-mini"), 1, { x: 910 }, {
                                        x: 910, opacity: 1, delay: 0., ease: Power4.eaesInOut, onComplete: function () {
                                            stepReset();
                                            $(".flash").addClass("active");

                                            TweenMax.fromTo($(".train-mini"), 1, { x: 910 }, {
                                                x: 1300, opacity: 1, delay: 0.5, ease: Power4.eaesInOut, onComplete: function () {
                                                    $(".flash").removeClass("active");
                                                    _tweenMotion.restart();
                                                }
                                            });
                                        }
                                    });
                                },1100);
								
                            }
                        });
                    }
                });
            }
        });
    }
	function winnerList(){
		var options = {
			jsonFileNm: '_101202107_2_WINNER.min',
		};

		if(!isMobile){
			var slickOptions = {
				speed: 1000,
				slidesPerRow: 5,
				slidesToShow: 8,
			};
		}else{
			var slickOptions = {
				speed: 1000,
				slidesPerRow: 3,
				slidesToShow: 10,
			};	
		}

		eduf.UI.Winner('.winner-list', options, slickOptions);
	}


 

</script>