@charset "UTF-8";
.eduf-rolling {
  max-width: 720px;
  margin: 0 auto;
}

@media screen and (min-width: 1100px) {
  .eduf-rolling {
    max-width: 1200px;
  }
}

.eduf-rolling .rolling-list {
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-transform: perspective(150px) rotateX(45deg);
          transform: perspective(150px) rotateX(45deg);
  margin-top: -2rem;
}

@media screen and (min-width: 1100px) {
  .eduf-rolling .rolling-list {
    margin-top: -50px;
    -webkit-transform: perspective(300px) rotateX(45deg);
    transform: perspective(300px) rotateX(45deg);
  }
}

.eduf-rolling .rolling ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.eduf-rolling .rolling ul:not(:first-child) {
  position: absolute;
  top: 100%;
}

.eduf-rolling .rolling ul li {
  text-align: center;
}

.eduf-rolling .rolling ul li span {
  display: inline-block;
  color: #222;
  letter-spacing: -1.5px;
  font-size: 11px;
  margin: 7px 0;
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 530px) {
  .eduf-rolling .rolling ul li span {
    font-size: 14px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-rolling .rolling ul li span {
    font-size: 16px;
  }
}

@media screen and (min-width: 1100px) {
  .eduf-rolling .rolling ul li span {
    margin: 10px 0;
  }
}

.eduf-winner-contents {
  position: relative;
  margin-top: -3.125rem;
}

.eduf-winner-contents:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 720px) {
  .eduf-winner-contents {
    margin-top: -40px;
  }
}

@media screen and (min-width: 1100px) {
  .eduf-winner-contents {
    height: auto;
    margin-left: 90px;
    margin-top: -60px;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
}

.eduf-winner-contents .eduf-winner-list {
  -webkit-transform: perspective(150px) rotateX(45deg);
  transform: perspective(150px) rotateX(45deg);
  overflow: hidden;
  text-align: center;
}

.eduf-winner-contents .eduf-winner-list .slick-track {
  -webkit-transform: translate(0) !important;
  transform: translate(0) !important;
}

@media screen and (min-width: 1100px) {
  .eduf-winner-contents .eduf-winner-list {
    transform: perspective(300px) rotateX(45deg);
    -webkit-transform: perspective(300px) rotateX(45deg);
  }
}

.eduf-winner-contents .eduf-winner-list p {
  margin: 3px 0;
  padding: 0;
  display: inline-block;
  text-align: center;
  letter-spacing: -1.5px;
  color: #000;
  font-size: 11px;
  font-weight: 700;
}

@media screen and (min-width: 720px) {
  .eduf-winner-contents .eduf-winner-list p {
    font-size: 16px;
  }
}

@media screen and (min-width: 1100px) {
  .eduf-winner-contents .eduf-winner-list p {
    color: #222;
    font-size: 16px;
    margin: 10px 0;
    font-weight: 700;
    text-align: center;
  }
}

.eduf-layer-dim {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.7);
}

.eduf-layer {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 300;
}

.eduf-layer.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.eduf-layer-wrap {
  position: relative;
  width: 100%;
  max-width: 600px;
}

@media screen and (min-width: 720px) {
  .eduf-layer-wrap {
    width: auto;
    max-width: 100%;
  }
}

.eduf-layer-content {
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.eduf-layer-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  top: 10px;
  right: 10px;
  z-index: 10002;
}

@media screen and (min-width: 720px) {
  .eduf-layer-close {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer-close {
    height: 60px;
  }
}

.eduf-layer-close:before, .eduf-layer-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 2px;
  margin-left: -15px;
  background-color: #222;
}

.eduf-layer-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.eduf-layer-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.eduf-layer-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.eduf-layer-close.white:before, .eduf-layer-close.white:after {
  background-color: #fff;
}

.eduf-layer.wide {
  display: none;
  position: absolute;
  right: auto;
  left: 50%;
  top: 0;
  bottom: auto;
  z-index: 300;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .eduf-layer.wide {
    width: auto;
    max-width: 100%;
  }
}

#edufLayerVideo .eduf-layer-wrap {
  width: 100%;
  max-width: 720px;
}

@media screen and (min-width: 720px) {
  #edufLayerVideo .eduf-layer-wrap {
    width: 100%;
    max-width: 720px;
  }
}

#edufLayerVideo .eduf-layer-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  top: -40px;
  z-index: 10002;
}

@media screen and (min-width: 720px) {
  #edufLayerVideo .eduf-layer-close {
    width: 60px;
  }
}

@media screen and (min-width: 720px) {
  #edufLayerVideo .eduf-layer-close {
    height: 60px;
  }
}

#edufLayerVideo .eduf-layer-close:before, #edufLayerVideo .eduf-layer-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 2px;
  margin-left: -15px;
  background-color: #fff;
}

#edufLayerVideo .eduf-layer-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#edufLayerVideo .eduf-layer-close:after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

#edufLayerVideo .eduf-layer-close span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

@media screen and (min-width: 720px) {
  #edufLayerVideo .eduf-layer-close {
    top: -60px;
  }
}

#edufLayerVideo .eduf-layer-content {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: 100%;
  min-height: auto;
}

#edufLayerVideo .eduf-layer-content iframe, #edufLayerVideo .eduf-layer-content video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: inherit;
     object-fit: inherit;
}

@media screen and (min-width: 720px) {
  #edufLayerVideo .eduf-layer-content {
    min-height: auto;
  }
}

.eduf-layer-base .eduf-layer-close {
  top: 2.77778%;
  right: 4.16667%;
}

@media screen and (min-width: 530px) {
  .eduf-layer-base .eduf-layer-close {
    top: 5.55556%;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer-base .eduf-layer-close {
    top: 10px;
    right: 10px;
  }
}

.eduf-layer-base .eduf-layer-wrap {
  max-width: 600px;
}

.eduf-layer-base .eduf-layer-title {
  border-top-left-radius: 3.33333vw;
  border-top-right-radius: 3.33333vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  background-color: #eeeeee;
  padding: 4.44444vw 3.33333vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer-base .eduf-layer-title {
    border-top-left-radius: 24px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer-base .eduf-layer-title {
    border-top-right-radius: 24px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer-base .eduf-layer-title {
    padding: 32px 24px;
  }
}

.eduf-layer-base .eduf-layer-title strong {
  color: #000;
  font-size: 4.44444vw;
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  font-weight: 700;
}

@media screen and (min-width: 720px) {
  .eduf-layer-base .eduf-layer-title strong {
    font-size: 32px;
  }
}

@media screen and (min-width: 530px) {
  .eduf-layer-base .eduf-layer-title {
    padding: 24px 24px;
  }
  .eduf-layer-base .eduf-layer-title strong {
    font-size: 22px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer-base .eduf-layer-title {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.eduf-layer-base .eduf-layer-content {
  border-bottom-left-radius: 3.33333vw;
  border-bottom-right-radius: 3.33333vw;
  padding: 5.55556vw 2.77778vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer-base .eduf-layer-content {
    border-bottom-left-radius: 24px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer-base .eduf-layer-content {
    border-bottom-right-radius: 24px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer-base .eduf-layer-content {
    padding: 40px 20px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer-base .eduf-layer-content {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.eduf-layer-base .eduf-layer-content dl:first-child {
  margin-top: 0;
}

.eduf-layer-base .eduf-layer-content dl dt, .eduf-layer-base .eduf-layer-content dl dd {
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

.eduf-layer-base .eduf-layer-content dl dt {
  font-size: 4.16667vw;
  line-height: 1.38;
  letter-spacing: -0.89px;
  color: #000000;
}

@media screen and (min-width: 720px) {
  .eduf-layer-base .eduf-layer-content dl dt {
    font-size: 30px;
  }
}

.eduf-layer-base .eduf-layer-content dl dd {
  font-size: 3.47222vw;
  line-height: 1.27;
  letter-spacing: -0.73px;
  color: #131415;
  opacity: 0.4;
}

@media screen and (min-width: 720px) {
  .eduf-layer-base .eduf-layer-content dl dd {
    font-size: 25px;
  }
}

.eduf-layer-base .eduf-layer-content p {
  font-size: 3.47222vw;
  line-height: 1.27;
  letter-spacing: -0.73px;
  color: #131415;
  opacity: 0.4;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
  text-align: left;
}

@media screen and (min-width: 720px) {
  .eduf-layer-base .eduf-layer-content p {
    font-size: 25px;
  }
}

@media screen and (min-width: 530px) {
  .eduf-layer-base .eduf-layer-content p {
    font-size: 18px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer-base .eduf-layer-content p {
    font-size: 15px;
  }
}

.eduf-layer-base .eduf-layer-text {
  font-size: 3.47222vw;
  line-height: 1.27;
  letter-spacing: -0.73px;
  color: #131415;
  opacity: 0.4;
  font-family: "Roboto", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "Dotum", "돋움", "Gulim", "굴림", "굴림체", Sans-Serif;
}

@media screen and (min-width: 720px) {
  .eduf-layer-base .eduf-layer-text {
    font-size: 25px;
  }
}

@media screen and (min-width: 530px) {
  .eduf-layer-base .eduf-layer-text {
    font-size: 18px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer-base .eduf-layer-text {
    font-size: 15px;
  }
}

.eduf-layer-base.wide {
  border-radius: 3.33333vw;
}

@media screen and (min-width: 720px) {
  .eduf-layer-base.wide {
    border-radius: 24px;
  }
}

@media screen and (min-width: 720px) {
  .eduf-layer-base.wide {
    border-radius: 20px;
  }
}
/*# sourceMappingURL=eduf.css.map */