@{
	string platform = (string)ViewBag.platformCd == "W" ? "pc" : "mobile";

	String link4 = ("W".Equals(ViewBag.PlatformCd)) ? "https://elec.eduwill.net/3nergy/Pds/SpecialLecture/index.asp " : "https://brand.eduwill.net/pds/studyBoardList.will?progress_cd=3&tab=1"; // 과년도기출해설특강
}

@{
    string imgUrl = ViewBag.IsLocal
        ? "//img.eduwill.net/eduwill/img/2022/3/event/220304/" // local 경로
        : "//img.eduwill.net/eduwill/img/2022/3/event/220304/"; // ftp 경로

}

<div id="contents" class="promotion">
	
	@if("W".Equals(ViewBag.PlatformCd)){
		<div class="fix">
			<ul id="moveBanner"></ul>
		</div>
	}
	<div class="container promotion-title">
		
		<div class="wrap">
			
			<div class="motion title-1 motion-1">
				<img src="@imgUrl/@platform/cont1_title1.png" alt="">
			</div>
			<div class="motion title-2 motion-laurel-3">
				<img src="@imgUrl/@platform/cont1_title2.png" alt="">
			</div>
			<div class="motion title-3 motion-laurel-4">
				<img src="@imgUrl/@platform/cont1_title3.png" alt="">
			</div>
			<div class="motion title-4 motion-laurel-5">
				<img src="@imgUrl/@platform/cont1_title4.png" alt="">
			</div>
			<div class="motion title-5 motion-3">
				<a href="#Event1" class="btn-refunds" data-icon="hand" data-style="-20,33,85,slideY" data-stylemo="-3,5,50,slideY" data-pointer="icon_pointer_20" title="선착순 신청하기">
					<img src="@imgUrl/@platform/cont1_title5.png" alt="">
				</a>
				
			</div>
		</div>
	</div>

	<div id="fix1" class="container promotion-cont2">
		<div class="wrap">
			
			<div class="motion title-1 motion-laurel-1">
				<img src="@imgUrl/@platform/cont2_title1.png" alt="">
			</div>

			<div class="clinicWrap">
				<ul id="clinic"></ul>
			</div>

		</div>
	</div>


	<div id="fix2" class="container promotion-cont3">
		<div class="wrap">
			
			<div class="motion title-1 motion-laurel-1">
				<img src="@imgUrl/@platform/cont3_title1.png" alt="">
			</div>
			<div class="motion title-2 motion-1_up">
				<img src="@imgUrl/@platform/cont3_title2.png" alt="">
			</div>

		
		</div>
	</div>

	<div class="container promotion-cont3_1">
		<div class="wrap">
			
			<div class="motion title-1 motion-laurel-1">
				<img src="@imgUrl/@platform/cont3_title3.png" alt="">
			</div>
		</div>
	</div>

	<div id="Event1" class="container promotion-cont3_2">
		<div class="wrap">
			
			<div class="motion title-1 motion-laurel-1">
				<img src="@imgUrl/@platform/cont3_title4.png" alt="">
			</div>

			<div class="motion title-2 motion-3">
				<button type="button" class="btn-refunds" data-icon="hand" data-style="30,20,85,slideY" data-stylemo="136,7,50,slideY" data-pointer="icon_pointer_20" title="선착순 신청하기">
					<img src="@imgUrl/@platform/cont3_title5.png" alt="">
				</button>
			</div>

		</div>
	</div>

	<div id="fix3" class="container promotion-cont4">
		<div class="wrap">
			<div class="motion title-1 motion-laurel-1">
				<img src="@imgUrl/@platform/cont4_title1.png" alt="">
			</div>

			<div class="motion title-2 motion-laurel-2">
				<div class="linkWrap">
					<a href="https://event.eduwill.net/event/2021/0/Technical_Discount" target="_blank" class="btn-refunds" data-icon="hand" data-style="0,0,44,slideY" data-stylemo="-8,-8,27,slideY" data-pointer="icon_pointer_12" title="무료신청">100%무료신청</a>
					<a href="@link4" class="btn-refunds" target="_blank" data-icon="hand" data-style="0,0,44,slideY" data-stylemo="-8,-8,27,slideY" data-pointer="icon_pointer_12" title="무료신청">100%무료신청</a>
				</div>
				<img src="@imgUrl/@platform/cont4_title2.png" alt="">
			</div>
		</div>
	</div>

	<div id="fix4" class="container promotion-cont5">
		<div class="wrap">
			<div class="motion title-1 motion-laurel-1">
				<img src="@imgUrl/@platform/cont5_title1.png" alt="">
			</div>
			<div class="motion title-2 motion-laurel-2">
				<img src="@imgUrl/@platform/cont5_title2.png" alt="">
			</div>
		</div>
	</div>


	<div id="fix5" class="container promotion-somun">
		@* 소문내기 영역 *@
	</div>

	<div class="container promotion-cont6 eduf-paragraph-final" 
		data-bgimg="linear-gradient(142deg, rgba(28,54,168,1) 24%, rgba(104,28,168,1) 52%);"
		data-bg="#681ca8"
		data-img="@imgUrl/@platform/cont6_title1.png"
		data-height="260"
	>
		<div class="wrap">
			
			<div class="motion title-1 motion-laurel-1">
				<button type="button" data-popup="0" class="eduf-reason-button btn-reason">근거확인</button>
				<img src="@imgUrl/@platform/cont6_title2.png" alt="">
			</div>
			@*<div class="typing"></div>*@
		</div>
	</div>
	
	<div class="container promotion-eco" data-eduwill-eco-content="4259"></div>
	

<div class="dimmed"></div>

<div id="eduf-popup">
	<div class="popup">
		<div class="popup-body">

			<!-- 근거문구 -->
			<div data-popupcont="0">
				<ul>
					<li>1) 167% 성장: 2018.09vs2019.09 전기기능사 온라인 매출 기준 </li>
					<li>2) 최종합격: 2021년 1회 전기기능사 시험 에듀윌 합격생 대상 온라인 수강기간 결과</li>
					<li>3) 베스트셀러 1위: YES24 수험서 자격증 한국산업인력공단 전기기능사 베스트셀러<br>- 전기기능사 필기 한권끝장(2020.9~2021.11)</li>
					<li>4) 강의 만족도: 김영복 대표 교수 만족도(2021.04)</li>
				</ul>
			</div>

			<!-- 랜선 상담소 레이어 -->
			<div data-popupcont="qna">
				<div id="qnaLayer">
					<div class="popup-title">
						<img src="https://img.eduwill.net/resources/img/elec/event/201228/pc/popup_title.jpg" alt="에듀윌 전기기사 랜선 고민상담소">
					</div>
					<div class="popup-cont">
						<div class="scroll-box">
							<dl>
								<dt>
									<span class="cont-title"></span>
								</dt>
								<dd>
									<div class="cont-text">
									</div>
									<a href="" target="_blank" class="link-btn">
										<div class="cont-btn"></div>
										<span class="icon-hand"><img src="https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_1.png" alt=""></span>
									</a>
								</dd>
							</dl>
						</div>
					</div>
					
				</div>
			</div>
			<button id="eduf-popup-close" type="button" class="popup-close"><span class="sr-only">닫기</span></button>
		</div>
	</div>
</div>



<script type="text/javaScript" src="https://img.eduwill.net/eduwill/live/js/common/EventPersonalKTK.js"></script>
<script type="text/javaScript" src="https://img.eduwill.net/eduwill/live/js/common/script.js"></script>

<script>
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
	var url = window.location.href;
	var str = 'event.eduwill.net';
	var checkUrl = url.indexOf(str);

	document.querySelector('.promotion-title').classList.add('active');

	// _f_initTyping("에듀윌 산업안전기사 ");
	if( !isMobile){
		_f_initFixBanner();
	}
	_f_initClinicWrap();
	_f_initclinicButton();

	$(document).on('ready', function(){

		pageMove('.page-move');
		checkResolution('.promotion');
		_f_initLinkHand();
		$(window).scrollTop(0);

	})

	
	function _f_initFixBanner(){
		var _fixBannerWrap = document.getElementById('moveBanner');
		var _fixBannerArrary = [

			{text: "초시생<br>랜선상담소", link:"#fix1"},
			{text: "전기기능사<br>시작팩", link:"#fix2"},
			{text: "단기합격을 위한<br>더 많은 무료혜택", link:"#fix3"},
			{text: "단기합격의 비결<br>치밀한 학습케어", link:"#fix4"},
			{text: "이벤트 소문 내면<br>간식 선물", link:"#SomunDiv"},
		];

		var _fixBannerHTML='';
		
		for( i=0; i < _fixBannerArrary.length; i++){			

			_fixBannerHTML += '<li class="'+ (i == 0 ? 'active': '' ) +'">';
			_fixBannerHTML += '<a class="page-move" href="'+ _fixBannerArrary[i].link +'"><p>STEP&nbsp;0'+(i + 1)+'</p>';
			_fixBannerHTML += '<p>'+_fixBannerArrary[i].text+'</p></a>';
			_fixBannerHTML += '</li>';
		}
		
		_fixBannerWrap.innerHTML = _fixBannerHTML;

	}


	function _f_initClinicWrap(){
		var _isArrary = false
		var _clinicWrap = document.getElementById('clinic');

		var _clinicArrary = [
			{text: "자격증 취득 후<br>어디로 취업할까?"},
			{text: "나이가 많아도<br>취업이 가능할까?"},
			{text: "공무원 가산점<br>혜택이 궁금합니다."},
			{text: "수학 기초지식<br>없어도 합격하는 법?"},
			{text: "CBT 필기 시험<br>어떻게 대비할까?"},
			{text: "기출만 반복해서<br>합격이 가능할까?"},
			{text: "과목별 연계에 따른<br>공부순서는요?"},
			{text: "실기 작업형 시험은<br>인강으로 가능할까?"},
			{text: "2021년부터<br>규정이 바뀐다는데?"}
		];

		var _clinicHTML='';

		for( i=0; i < _clinicArrary.length; i++){			
			
			_clinicHTML += '<li style="opacity: 0; transition:all .3s ease; transition-delay:'+0.15*i+'s">';
			_clinicHTML += '<button data-popup="qna" class="eduf-reason-button type="button">';
			_clinicHTML += '<p>'+_clinicArrary[i].text+'</p>';
			_clinicHTML += '<img src="//img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png" class="slideY" alt="">';
			_clinicHTML += '</button></li>';
				
		}
		_clinicWrap.innerHTML = _clinicHTML;
	}

	function _f_initclinicButton(){

		_f_initReasonButton();

		var _clinicButton = document.getElementById('clinic').children;

		for( i=0; _clinicButton.length > i; i++){
			
			_clinicButton[i].addEventListener('click', function(e){

				var _this = e.currentTarget;
				var _parent = _this.parentNode
				var _index = [].indexOf.call(_parent.children, _this)
				_f_initClinic(_index);				
			});
	
		}
	}

	//function Clinic Function
	function _f_initClinic(idx){

		// document.getElementById('eduf-popup').classList.add('active');
		// document.querySelector('[data-popupcont="qna"]').classList.add('active');

		var stepTitle = [

			"자격증 취득 후 어디로 취업할까?",
			"50살인데 전기기사로 취업 가능할까?",
			"공무원 가산점 혜택이 궁금합니다.",
			"수학 기초지식 없어도 합격하는 법?",
			"CBT 필기 시험 어떻게 대비할까?",
			"기출만 반복해서 합격이 가능할까?",
			"과목별 연계에 따른 공부순서!",
			"실기 작업형 시험 인강으로 가능할까?",
			"2021년부터 규정이 바뀐다는데?"
		];
		var stepText = [
			"전기기능사는 전기에 필요한 장비 및 공구를 사용하여 회전기, 정지기, 제어장치 또는 빌딩 ,공장, 주택, 및 전력시설물의 전선, 케이블, 전기기계 및 기구를 설치, 보수, 검사, 시험 및 관리하는 일을 합니다. 주요 진출 분야는<em>발전소, 변전소, 전기공작물시설업체, 건설업체, 한국전력공사 및 일반사업체나 공장의 전기부서, 가정용 및 산업용 전기 생산업체, 부품제조업체 등에 취업하여 전기와 관련된 제반시설의 관리 및 검사업무 보조 및 담당</em>할 수 있습니다. 다만, 전기기능사 자격증은 <em>상위 자격증(전기공사산업기사, 전기공사기사, 전기산업기사, 전기기사) 취득의 첫 단계로 자기개발과 경력을 쌓기 위한 노력이 지속적으로 필요</em>합니다.",
			"전기기능사의 경우 <em>정년이 따로 규정이 되어 있지 않습니다.</em> 본인의 건강에 따라서 다르므로 정년은 큰 의미가 없습니다. 다만, 자격증 취득 전이라도 미리 <em>관련 분야에서 경력을 쌓아두신다면 취득 후 조금 더 유리한 위치에서 취업</em>이 가능합니다.",
			"<em>국가직 기술직 9급의 경우 3% 자격증 가산점, 소방공무원의 경우 1%가산점 혜택</em>이 있습니다. 해당 직렬을 준비하는 수험생들에게 자격증 가산점은 필수적입니다. 실제 2020년 9급 공업직(전기) 합격생의 95% 이상이 가산점 대상자라고 하니<em>자격증 취득이 합격에 결정적 당락을 좌우</em>한다고 할 수 있습니다.",
			"처음에 어느 정도 내공을 쌓으시면 전공자나 비전공자나 비슷하게 시작하시게 됩니다. 특히 수학에 대해 걱정하시는 분들이 많은데요 전기기사는 수학시험 아니기 때문에 기본적인 공식만 암기하시고 복잡한 계산은 계산기를 이용해 풀면 되기 때문에 너무 어렵게 생각하실 필요 없습니다.<br /><em>에듀윌에서 제공하는 기초수학과 계산기 강의부터 차근차근 내공을 쌓으시고 자신이 선택한 교수님을 믿고 따라가면 누구든 합격 가능</em>합니다. 그리고 무엇보다 중요한 것은 전공이냐 비전공이냐 보다 합격을 향한 마음가짐이 중요합니다. ",
			"CBT 필기 시험은 시험지와 필기구로 응시하는 일반 필기시험과 달리, <em>컴퓨터 화면으로 시험문제를 확인하고 그에 따른 정답을 클릭하면 네트워크를 통하여 감독자 PC에 자동으로 수험자의 답안이 저장되는 방식의 시험</em>을 말 합니다. 답안 제출 즉시 합격 여부 확인 가능하며, <em>'과년도 기출+변형 유형' 문제은행에서 자동 출제되는 방식으로 수험자 별 각기 다른 문제가 출제</em>됩니다.<br />CBT로 바뀐다고 하여 공부 방법이 달라지는 부분은 없습니다. 다만, 시험 응시 방식이 다소 생소하기 때문에 CBT 시험에 대한 적응을 위해 에듀윌에서 제공하는 <em>온라인 모의고사를 적극 활용</em>하시기 바랍니다.",
			"전기기능사 필기 시험의 경우 '과년도 기출 80%+변형 유형 20%' 비율로 출제됩니다. 과년도 기출은 10개년 정도 범위 내에서 재출제되는 비율 높으나, <em>10개년 이상 전체 범위를 완벽하게 숙지하기보다는 내용 이해를 바탕으로 변형 및 신규문제를 풀 수 있는 능력을 키워야 안정적으로 합격권에 도달 할 수 있습니다. 또한, 전기기능사 이후 전기산업기사나 전기기사 취득을 목표로 하신다면 개념 이해를 바탕으로 기초를 탄탄하게 준비하시는 것이 이후 자격증 취득에 유리</em>합니다.",
			"필기의 경우 모든 과목의 가장 기초가 되는 전기이론부터 학습하시고, 암기과목인 법규 과목은 가장 마지막에 학습하시는 것을 추천드립니다. 다만, 수험생별 본인에게 잘 맞는 과목이 다를 수 있으므로 접근하기 쉬운 과목부터 학습하면서 자신감을 가지고 다른 과목을 학습하시는 것도 좋은 방법입니다.<br /><em> * 필기 과목별 추천 학습 순서 : 전기이론 > 전기기기 > 전기설비</em>",
			"전기기능사 실기 작업형 시험은 제한시간 안에 제어판을 제작 및 배관입선을 직접 하여 정해진 규격에 맞는지와 정상 동작하는지를 확인하는 시험입니다. <em>개인별 학습환경이나 이해 및 숙련 수준에 따라 다르기때문에</em> 아래와 같이 실기 준비가 가능합니다.<br />1. 공구(드릴, 스트리퍼, 커터기 시험벨 등)를 잘 사용하시고, 이전에 배선 작업을 하셨던 분<br/>인강만 숙지하여 시험을 응시하셔도 작업을 진행할 수 있습니다.<br/>2. 배선 작업을 해보신 적이 없고 공구를 다루는 게 서투르신 분<br/>시험에 필요한 재료를 구입하시어 연습하시거나, 또는 작업을 할 수 있는 여건이 마련된 장소(학원 등)에서 숙달이 될 때까지 연습을 하셔야 합니다.",
			"출제기준은 보통 5년마다 대폭 개정되는데,<em>2021년의 경우 한국전기설비규정(KEC)가 도입되며 전기설비 과목에서 대폭 개정이 예상</em>됩니다. 2021년 대비 시험 준비를 하시는 분들은 개정 내용을 반드시 숙지해야 합니다. 특히 전기설비 과목 기출문제는 개정된 규정에 따라 성립되지 않는 문제가 많기 때문에, <em>새로운 강의와 교재로 학습</em>하셔야 합니다."
		];
		var postitBtn = [
			"전기기능사에서<br/>전기기사까지 한 번에!",
			"전기기능사에서<br/>전기기사까지 한 번에!",
			"빠른 합격을 위한<br/>확실한 선택",
			"빠른 합격을 위한<br/>탄탄한 시작",
			"한눈에 보는<br/>CBT",
			"문제유형<br/>전격 해부",
			"초보 수험생을 위한<br/>A to Z",
			"빠른 합격을 위한<br/>확실한 선택",
			"한 번 결제로<br/>2022년까지 무한수강!"
			
		];
		var postitLink = [

			"https://elec.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MTA2MDc=",
			"https://elec.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MTA2MDc=",
			"https://elec.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MTU0MzU=",
			"https://event.eduwill.net/Event/2021/3/BasicMath",
			"https://elec.eduwill.net/3nergy/Info/ExamIntro/cbt.asp",
			"http://elec.eduwill.net/3nergy/Pds/SpecialLecture/index.asp",
			"http://elec.eduwill.net/3nergy/promotion/beginner_guide/index.asp",
			"https://elec.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MTU0MzU=",
			"https://elec.eduwill.net/Common/Product/goods/auto/index.asp?masterSeq=MTIxMjI="

		];
		
		function _f_initChildNode(name, arrary){
			document.querySelector('#qnaLayer '+ name +'').innerHTML =  arrary;	
		}

		_f_initChildNode('.cont-title', stepTitle[idx]);
		_f_initChildNode('.cont-text', stepText[idx]);
		_f_initChildNode('.cont-btn', postitBtn[idx]);
		
		document.querySelector('#qnaLayer .link-btn').setAttribute('href', postitLink[idx]);

	}

	function checkResolution(e){
		if( isMobile || !checkUrl ){
			replaceImageLinks(e, 'pc', 'mobile');
			//console.log('mobile');
		} else {
			replaceImageLinks(e, 'mobile', 'pc');
			//console.log('pc');
		}
	}

	function replaceImageLinks(target, basic, change) {
		$(target + ' a').each(function(){
			var pcLink = $(this).data('pcLink');
			var mobileLink = $(this).data('mobileLink');
			$(this).attr('href', change == 'pc' ? pcLink : mobileLink);
		});
	}


	
	$(window).on('scroll', function(){
		
		var wt = $(window).scrollTop();
		var section = $('.container');

		section.each(function(i){
			var _this = $(this);

			if( wt >= section.eq(i).offset().top - 600){
				_this.addClass('active');

				function _f_changeFix(num){
					var _fixWrap = $('#moveBanner');

					_fixWrap.find('li').removeClass('active');
					_fixWrap.find('li:nth-child('+num+')').addClass('active');
				}

				if( _this.hasClass('promotion-title')){
					_f_changeFix(1);

				}else if( _this.hasClass('promotion-cont3')){
					_f_changeFix(2);
				}
				else if( _this.hasClass('promotion-cont4')){
					_f_changeFix(3);

				}else if( _this.hasClass('promotion-cont5')){
					_f_changeFix(4);

				}else if( _this.hasClass('promotion-somun')){
					_f_changeFix(5);

				}else if( _this.hasClass('promotion-cont6')){
					_f_changeFix(0);
				}

			} else {
				_this.removeClass('active');
			}
		});
	});
	
</script>