@{
    string viewPath = ((RazorView)ViewContext.View).ViewPath;
    viewPath = viewPath.Remove(viewPath.LastIndexOf('/') + 1);
}

@{
	string platform = (string)ViewBag.platformCd == "W" ? "pc" : "mobile";
}
<div id="contents" class="promotion">

	<div class="sector-top">
		<div class="banner-slider">
			<div style="background-color:#e8f1ff;"><a href="javascript:;"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220228/@platform/topbanner_1.jpg" alt="" /></a></div>
			<div style="background-color:#15276f;"><a href="javascript:;"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220228/@platform/topbanner_2.jpg" alt="" /></a></div>
		</div>
	</div>

	<div class="sector-tab">
		<div class="title">
			<div class="wrap">
				<img src="//img.eduwill.net/eduwill/img/2022/0/event/220228/@platform/title_tab.png" alt="" class="tab-title" />
			</div>
		</div>
		<div class="content">
			<div class="wrap">
				<div class="tab-group">
					<div class="tab-list">
						<ul>
							<li class="active">최신상식_1</li>
							<li>최신상식_2</li>
							<li>최신상식_3</li>
							<li>최신상식_4</li>
							<li>최신상식_5</li>
							<li>최신상식_6</li>
						</ul>
					</div>
					<div class="tab-view tab-view1">
						<div class="content-wrap">
							<div class="content-left"><a href="javascript:edufLayerVideoOpen('https://www.youtube.com/embed/QjdBWLbHfZw');"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220228/common/thumb_video1.png" alt="" /></a></div>
							<div class="content-right">
								<div class="sub-title">최신상식_1</div>
								<div class="main-title">경제자유구역 외국인직접투자 3년만에 최고</div>
								<div class="desc">
									① <span class="highlight">경제자유구역(FEZ, Free Economic Zone)</span><br/>
									: 입주 외국 투자기업에게 소득세·법인세·관세 등을
									5~15년간 100% 면제 또는 감면, 각종 규제 완화<br/>
									- 인천, 부산, 동해안권, 경기, 광양만권 등 10여 곳 지정 <br/>
									② <span class="highlight">FEZ 내 외국인직접투자(FDI, Foreign Direct Invest.)</span><br/>
									규모는 13억 1천만달러로, 그린필드형 투자*가 98%<br/>
									※ 그린필드형 투자 : 땅을 직접 매입해 공장 등을 짓는 방식<br/>
									-투자비가 크고 생산까지 오래 걸리나 고용창출 효과 큼<br/>
									vs 브라운필드형 투자 : 기존 기업 M&A방식의 투자 
								</div>
							</div>
						</div>
					</div>
					<div class="tab-view tab-view2">탭뷰2</div>
					<div class="tab-view tab-view3">탭뷰3</div>
					<div class="tab-view tab-view4">탭뷰4</div>
					<div class="tab-view tab-view5">탭뷰5</div>
					<div class="tab-view tab-view6">탭뷰6</div>
				</div>
			</div>
		</div>
	</div>

	<div class="sector-visual">
		<div class="wrap">
			<div class="title">
				<img src="//img.eduwill.net/eduwill/img/2022/0/event/220228/@platform/title_visual.png" alt="" />
			</div>
			<div class="content">
				<div class="date">2022년 00월 00일 ~ 0월 00일 까지</div>
				<div class="action">
					<a href="javascript:;">도전하기</a>
				</div>
			</div>
		</div>
	</div>


	<div class="sector-info">
		<div class="wrap">
			<img src="//img.eduwill.net/eduwill/img/2022/0/event/220228/@platform/info.png" alt="" />
		</div>
	</div>

	<div class="sector-coupon">
		<div class="wrap">
			<div class="title">
				<img src="//img.eduwill.net/eduwill/img/2022/0/event/220228/@platform/title_coupon.png" alt="" />
			</div>
			<div class="content">
				<img src="//img.eduwill.net/eduwill/img/2022/0/event/220228/@platform/coupon.png" alt="" />
				<a href="javascript:edufLayerOpen('#popupCoupon');" class="btn-coupon"><span>할인쿠폰 자세히 보기</span></a>
			</div>
			<div class="action">
				<a href="javascript:;">할인 받기</a>
			</div>
		</div>
	</div>

	<div class="sector-event" id="sectorEvent">
		<div class="wrap">
			<div class="comment-title">
				도전의 한마디를 써 주세요!
			</div>
			<div class="comment-group">
				<div class="comment-form">
					<div class="grid">
						<textarea class="col text" name="detail" placeholder="도전의 한마디를 써 주세요!"></textarea>
						<a href="javascript:;" class="col button" id="btn-reg"><span>등록하기</span></a>
					</div>
				</div>
				<div class="comment-list">
					<div id="commentBody">
						<div class="grid item">
							<div class="col number">1010</div>
							<div class="col user"><strong>muj******</strong></div>
							<!--<div class="col date">2021-07-30</div>-->
							<div class="col desc">
								합격자 수, 최고의 강의 여러가지 효과적인 시설들로 어디서든 공부 할 수 있게 자료 제공 해줘서 고맙습니다 감사합니다 
								다시 1번 다른 자격증 취득 하고 싶더라도 에듀윌이 함께 해줘서 고맙습니다
							</div>
						</div>

						<div class="grid item">
							<div class="col number">1010</div>
							<div class="col user"><strong>muj******</strong></div>
							<!--<div class="col date">2021-07-30</div>-->
							<div class="col desc">
								합격자 수, 최고의 강의 여러가지 효과적인 시설들로 어디서든 공부 할 수 있게 자료 제공 해줘서 고맙습니다 감사합니다 
								다시 1번 다른 자격증 취득 하고 싶더라도 에듀윌이 함께 해줘서 고맙습니다
							</div>
						</div>
					</div>
				</div>
				@if ("W".Equals(ViewBag.PlatformCd)){
					<div id="commentPaginationPC" class="paging"><a href="javascript:;" class="control control-prev"><span class="sr-only">이전 페이지</span></a><a href="javascript:;" data-page="1" class="page active"><span>1</span></a><a href="javascript:;" data-page="2" class="page"><span>2</span></a><a href="javascript:;" data-page="3" class="page"><span>3</span></a><a href="javascript:;" data-page="4" class="page"><span>4</span></a><a href="javascript:;" data-page="5" class="page"><span>5</span></a><a href="javascript:;" data-page="6" class="page"><span>6</span></a><a href="javascript:;" data-page="7" class="page"><span>7</span></a><a href="javascript:;" data-page="8" class="page"><span>8</span></a><a href="javascript:;" data-page="9" class="page"><span>9</span></a><a href="javascript:;" data-page="10" class="page"><span>10</span></a><a href="javascript:;" class="control control-next"><span class="sr-only">다음 페이지</span></a></div>
				}else{
					<div id="commentPaginationMobile" class="list-more">
						<a href="javascript:;" class="btn-more"><span>더보기</span></a>
					</div>
				}

			</div>
		</div>
	</div>

	<div id="targetBanner" class="sector-banner">
		<div class="wrap">
			<div class="banner-title">
				단기합격의 비법은 바로 에듀윌<br/>
				압도적 1위 에듀윌 BEST
			</div>

			<div class="banner-list">
				<a href="javascript:;" target="_blank">
					<div class="flag">전기기사</div>
					<div class="subject">6개월<br/>단기패스</div>
					<div class="btn"><span>바로가기</span></div>
				</a>
				<a href="javascript:;" target="_blank">
					<div class="flag">소방설비기사</div>
					<div class="subject">6개월<br/>단기패스</div>
					<div class="btn"><span>바로가기</span></div>
				</a>
				<a href="javascript:;" target="_blank">
					<div class="flag">건축기사</div>
					<div class="subject">6개월<br/>단기패스</div>
					<div class="btn"><span>바로가기</span></div>
				</a>
				<a href="javascript:;" target="_blank">
					<div class="flag">토목기사</div>
					<div class="subject">6개월<br/>단기패스</div>
					<div class="btn"><span>바로가기</span></div>
				</a>
				<a href="javascript:;" target="_blank">
					<div class="flag">산업안전기사</div>
					<div class="subject">6개월<br/>단기패스</div>
					<div class="btn"><span>바로가기</span></div>
				</a>

				<a href="javascript:;" target="_blank">
					<div class="flag">정보처리기사</div>
					<div class="subject">6개월<br/>단기패스</div>
					<div class="btn"><span>바로가기</span></div>
				</a>
				<a href="javascript:;" target="_blank">
					<div class="flag">위험물산업기사</div>
					<div class="subject">6개월<br/>단기패스</div>
					<div class="btn"><span>바로가기</span></div>
				</a>
				<a href="javascript:;" target="_blank">
					<div class="flag">직업상담사</div>
					<div class="subject">6개월<br/>단기패스</div>
					<div class="btn"><span>바로가기</span></div>
				</a>
				<a href="javascript:;" target="_blank">
					<div class="flag">전기기능사</div>
					<div class="subject">단기패스</div>
					<div class="btn"><span>바로가기</span></div>
				</a>
				<a href="javascript:;" target="_blank">
					<div class="flag">소방시설관리사</div>
					<div class="subject">평생환급<br/>평생패스</div>
					<div class="btn"><span>바로가기</span></div>
				</a>


				<a href="javascript:;" target="_blank">
					<div class="flag">전기+전기공사</div>
					<div class="subject">쌍기사<br/>평생패스</div>
					<div class="btn"><span>바로가기</span></div>
				</a>
				<a href="javascript:;" target="_blank">
					<div class="flag">소방설비 전기X기계</div>
					<div class="subject">쌍기사<br/>평생패스</div>
					<div class="btn"><span>바로가기</span></div>
				</a>
				<a href="javascript:;" target="_blank">
					<div class="flag">IT자격증</div>
					<div class="subject">올인원패스</div>
					<div class="btn"><span>바로가기</span></div>
				</a>
				<a href="javascript:;" target="_blank">
					<div class="flag">물류X무역취업</div>
					<div class="subject">올인원패스</div>
					<div class="btn"><span>바로가기</span></div>
				</a>
				<a href="javascript:;" target="_blank">
					<div class="flag">전 자격증</div>
					<div class="subject">평생패스</div>
					<div class="btn"><span>바로가기</span></div>
				</a>

			</div>

			<div class="action">
				<a href="javascript:edufLayerOpen('#popupApply');;">합격 인증하기</a>
			</div>
		</div>
	</div>

	@if ("W".Equals(ViewBag.PlatformCd)){
		<div data-eduwill-eco-content="2181"></div>
	}else{
		<div data-eduwill-eco-content="2182"></div>
	}

	<div class="sector-notice">
		<div class="wrap">
			<div class="notice-title">꼭 알아 두세요!</div>
			<div class="notice-list">
				<p>
					1. 취업 · 이직 축하지원금을 받기 위해서는 반드시 도전 한마디를 작성 후, 합격하시고 싶은 자격증에 대한 에듀윌 유료 상품을 2022년 1월 1일 이후 구매하셔야 합니다. 
				</p>
				<p>
					2. 취업 · 이직 축하지원금은 2022년 8월 30일 이내에 자격증을 취득 또는 필기 합격을 하셔야 하며 다음과 같은 기준에 의하여 지급하되 제세공과금은 본인 부담입니다. <br/>
					1) 3개 이상 자격증 취득 시 최대 100만원 제공(1명)  <br/>
					2) 2개 이상 자격증 취득 시 최대 50만원 제공(3명) <br/>
					3) 1개 이상 자격증 취득 시 20만원 제공(7명) <br/>
					4) 필기 합격 시 5만원 제공(20명)  <br/>
					5) 각 대상자별 인원 초과 시 추첨을 통해 선정하되 중복 수령은 불가합니다.  <br/>
					6) 합격 인증 자료인 “구매아이디/합격증/본인 신분증의 이름(실명)이 동일해야 하며 담당자 이메일 wkjeong@eduwill.net로 2022년 9월 30일까지 보내주셔야 합니다.  <br/>
					7) 소정의 합격 수기를 “합격수기＂게시판에 등록하셔야 합니다.  <br/>
				</p>
				<p>3. 본 이벤트는 사전 예고 없이 조기 마감 되거나 변경될 수 있습니다. </p>
			</div>
		</div>
	</div>
</div>

<div class="eduf-layer" id="popupCoupon">
	<div class="eduf-layer-wrap popup-layout">
		<a href="javascript:edufLayerClose('#popupCoupon');" class="eduf-layer-close"><span class="sr-only">팝업 닫기</span></a>
		<div class="eduf-layer-title">
			<p><strong>쿠폰 사용 안내</strong></p>
		</div>

		<div class="eduf-layer-content">

			<div class="popup-notice">※ 쿠폰 사용 기간은 발급일로부터 7일 이내이며 2022년 3월까지 사용 가능합니다.</div>
			<div class="popup-table">
				<table>
					<colgroup>
						<col style="width:25%;" />
						<col style="width:auto;" />
					</colgroup>
					<tr>
						<th>
							전기(산업)기사<br/>
							전기공사(산업)기사
						</th>
						<td>
							전기+소방 평생패스, 쌍기사 평생패스, 쌍기사 2년/1년패스, 쌍기사 0원 합격패스, 6개월 단기패스(종합)
						</td>
					</tr>
					<tr>
						<th>
							전기기능사
						</th>
						<td>
							올인원 평생패스, 연간패스, 단기패스(종합)
						</td>
					</tr>
					<tr>
						<th>
							소방설비(산업)기사
						</th>
						<td>
							전기+소방 평생패스, 쌍기사 평생패스, 쌍기사 2년/1년패스, 0원 합격패스, 6개월 단기패스(종합)
						</td>
					</tr>
					<tr>
						<th>
							소방시설관리사
						</th>
						<td>
							평생환급 평생패스, 1+2차 합격완성반
						</td>
					</tr>
					<tr>
						<th>
							건축(산업)기사
						</th>
						<td>
							평생패스, 0원 합격패스, 6개월 단기패스(종합)
						</td>
					</tr>
					<tr>
						<th>
							토목(산업)기사
						</th>
						<td>
							연간패스, 0원 합격패스, 6개월 단기패스(종합)
						</td>
					</tr>
					<tr>
						<th>
							산업안전(산업)기사
						</th>
						<td>
							안전관리 개이득패스, 연간패스, 0원 합격패스, 6개월 단기패스(종합)
						</td>
					</tr>
					<tr>
						<th>
							위험물산업기사
						</th>
						<td>
							안전관리 개이득패스, 연간패스, 0원 합격패스, 6개월 단기패스(종합)
						</td>
					</tr>
					<tr>
						<th>
							위험물기능사
						</th>
						<td>
							연간패스, 단기패스(종합)
						</td>
					</tr>
					<tr>
						<th>
							직업상담사
						</th>
						<td>
							평생패스, 연간패스, 0원 합격패스, 6개월 단기패스(종합)
						</td>
					</tr>
					<tr>
						<th>
							물류관리사
						</th>
						<td>
							0원 패스, 1+1합격보장반, 물류X무역취업 올인원패스
						</td>
					</tr>
					<tr>
						<th>
							IT자격증
						</th>
						<td>
						올인원패스, 정보처리기사 연간패스/0원 합격패스/단기패스, 전자격증 평생패스
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

@* 필기시험 접수 인증하기 *@
<div class="eduf-layer" id="popupApply">
	<div class="eduf-layer-wrap popup-layout">
		<a href="javascript:edufLayerClose('#popupApply');" class="eduf-layer-close"><span class="sr-only">팝업 닫기</span></a>
		<div class="eduf-layer-title">
			<p><strong>합격 인증하기</strong></p>
		</div>

		<div class="eduf-layer-content">
			<div class="popup-title">합격인증서 이미지 등록</div>
			<div class="form-control">
				<div class="fake-file-box">
					<label>
						<input type="file" title="썸네일 첨부" accept=".jpg, .png" id="act-tmp">
						<div class="label"></div>
						<div class="fake">파일 등록</div>
					</label>
				</div>
				<div class="file-text">
					<p>파일은 jpg, jpeg, gif, png, bmp의 이미지 파일만 최대 5MB 까지 첨부 가능합니다.</p>
					<p>합격 인증서는 합격자를 확인하기 위해 꼭 필요한 정보이니 정확한 이미지 파일을 등록해주세요.</p>
					<p>합격 인증서가 기준에 부합하지 않을 경우 수정 요청이 있을 수 있으며, 수정되지 않을 경우 합격자 모임 신청은 자동 취소 됩니다.</p>
					<p>합격증 이미지 식별이 불가한 경우,  회원 성명과 합격증 내 성명이 불일치하는 경우 등</p>
				</div>
			</div>

			<div class="popup-photo">
				<div class="photo-title">합격인증서 예시</div>
				<div class="photo-img"><img src="//img.eduwill.net/eduwill/img/2022/0/event/220228/common/popup_photo.png" alt="" /></div>
				<div class="photo-text">
					<strong class="highlight">최상단 문서확인 번호부터 최하단 날인까지</strong><br/>
					보이도록 화면 캡쳐 또는 스마트폰으로 모니터 촬영 부탁드립니다.
				</div>
			</div>

			<div class="popup-form">
				<div class="form privacy">
					<div class="form-title">개인정보의 수집·이용 및 활용에 대한 동의서</div>
					<p>㈜에듀윌은 취업∙이직 축하지원금 이벤트를 위해 개인정보의 수집∙이용, 마케팅 활용, 제3자 제공과 관련하여 아래의 사항에 대해 읽어 보신 후 동의 여부를 결정하여 주시기 바랍니다.</p>
					<table>
						<colgroup>
							<col style="width: 25%">
							<col style="width: 37.5%" span="2">
						</colgroup>
						<thead>
							<tr>
								<th>수집 및 이용 목적</th>
								<th>수집항목</th>
								<th>보유 및 이용 기간</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>축하지원금 이벤트 당첨 대상자 확인,  후기 작성</td>
								<td>ID, 이름, 휴대폰번호, 이메일, 주소, 사진, 자격증 합격 사진</td>
								<td><strong>개인정보 이용 목적 달성 시</strong></td>
							</tr>
						</tbody>
					</table>
					<div class="agree-check">
						<input type="checkbox" name="personalCheck1" id="personalYn1" value="Y">
						<label for="personalYn1">상기 동의 사항에 대해 거부할 권리가 있습니다. 그러나 이를 거부하실 경우 취업∙이직 축하지원금을 받으실 수 없습니다. 본인은 위와 같은 사항을 인지하고 동의합니다.</label>
					</div>
				</div>
			</div>

			<div class="popup-btn">
				<button href="javascript:;"><span>인증 신청하기</span></button>
			</div>

		</div>
	</div>
</div>


@Html.Partial(viewPath + "_Privacy.cshtml")

<script type="text/javascript">
	var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
	var agent = navigator.userAgent.toLowerCase();
	var trident = navigator.userAgent.match(/Trident\/(\d.\d)/i);
	var url = window.location.href;
	var str = 'event.eduwill.net';
	var checkUrl = url.indexOf(str);

	$(function(){
		init();
	});

	function init(){
		addEvent();
		 tabControl(".sector-tab");
	};

	function addEvent(){
		pageMove('.page-move');
		slideBannerEvent();
	}


	function slideBannerEvent(){
		$('.banner-slider').slick({
			autoplay: true,
			autoplaySpeed: 3000,
			speed: 800,
			infinite: true,
			arrows: false,
			dots: true,
			slidesToShow: 1,
			slidesToScroll: 1,
			cneterMode:true
		});
	}

	function tabControl($seletor){
		$($seletor).find(".tab-list").find("li").on("click", function(){
			var idx = $(this).index();
			var tabList = $($seletor).find(".tab-list").find("li");
					
			tabList.removeClass("active");
			tabList.eq(idx).addClass("active");
			
			$($seletor).find(".tab-view").hide();
			$($seletor).find(".tab-view"+(idx+1)).show();
				
		});
	}


</script>