<link rel="stylesheet" type="text/css" href="//img.eduwill.net/eduwill/@(ViewBag.ServerMode)/css/common/privacy.css" /> 
<div class="privacy-popup">
    <div class="privacy-wrap">
        <div class="privacy-close">
            <a href="javascript:privacyClose();"><span class="sr-only">팝업 닫기</span></a>
        </div>
        <div class="privacy-title">개인정보 수집 및 이용 동의(필수)</div>
        <div class="privacy-content">
            <div class="scroll-box scroll-box-2">
				<strong>개인정보 수집 및 이용동의 안내</strong>
                <ul>
                    <li>개인정보 수집 이용 목적
                        <ul>
                            <li>1) 이벤트 참여자 확인</li>
                            <li>2) 본 이벤트 참여에 따른 혜택 발송</li>
                        </ul>
                    </li>
                    <li>개인정보 수집 항목 : 이름, 휴대폰 번호</li>
                    <li>개인정보 보유/이용 기간 : <em>이벤트 종료 후 60일</em></li>
                    <li>
                        이벤트 신청 회원은 개인정보 수집 및 이용을 거부할 수 있습니다.<br>
                        단, 거부할 경우 본 이벤트 참여가 제한됩니다.
                    </li>
                </ul>
            </div>
        </div>
        <div class="privacy-btn">
            <a href="javascript:'">
                네, 동의합니다.
                <span class="pointer"><img src="https://img.eduwill.net/Img2/Common/icon/pointer/icon_pointer_12.png" alt="" /></span>
            </a>
        </div>
    </div>
</div>

<script>
    $(function(){
        //privacyOpen();
		privacyClose();
    });

    function privacyClose(){
        $(".privacy-popup").hide();
    }

    function privacyOpen(){
        $(".privacy-popup").show();
    }
</script>
